[2015-01-27 15:02] meokey commented on #442
error message in SABnzbd:

Loading config from /usr/share/SickRage/autoProcessTV/autoProcessTV.cfg

Opening URL: http://localhost:8080/home/postprocess/processEpisode
Traceback (most recent call last):
  File "/usr/share/SickRage/autoProcessTV/sabToSickBeard.py", line 29, in <module>
    autoProcessTV.processEpisode(sys.argv[1], sys.argv[2], sys.argv[7])
  File "/usr/share/SickRage/autoProcessTV/a

[2015-01-27 15:12] neoatomic commented on #323
I added the changed code in amnually.

The findproper did just run and got the same error. :
[code]

[2015-01-27 15:33] abeloin commented on #323
@neoatomic It's failing because the doesn't contain a publish date:
```<pubDate>Sun, 06 Jun 2010 17:29:23 +0100</pubDate>```

Will make a fix for it.

[2015-01-27 15:36] fernandog commented on #292
@abeloin I think we can close the notice PR !

[2015-01-27 15:38] TagForce commented on #499
It doesn't seem to break anything else, so I'm going to Push this one.

[2015-01-27 15:38] fernandog commented on #450
@peon420 any updates? otherwise will close this issue

[2015-01-27 15:40] meokey commented on #442
I upgraded Requests to 2.5.1, restart SickRage and SABnzbd. same error

Installed /usr/lib/python2.6/site-packages/requests-2.5.1-py2.6.egg
Processing dependencies for requests==2.5.1
Finished processing dependencies for requests==2.5.1
[bill@vHost requests-2.5.1]$ python
Python 2.6.6 (r266:84292, Jan 22 2014, 09:42:36)
[GCC 4.4.7 20120313 (Red Hat 4.4.7-4)] on linux2
Type "help", "copyright", "cr

[2015-01-27 15:42] fernandog commented on #445
@jaybone2012 can you test with kickasstorrent only? and please disable "Sick Beard Index"

then disable all providers and test with only "Sick Beard Index"

[2015-01-27 15:52] itsfja commented on #301
Wotcher,
That was quick! This turned up when I pressed the Trakt Test button. No error flaggedin log.

Test notice failed to Trakt: error [Errno 218603680] _ssl.c:549: error:0D07A0A0:asn1 encoding routines:ASN1_mbstring_copy:unknown format

Regards,
Francis.

[2015-01-27 15:55] abeloin commented on #442
@meokey Again the commit branch provided seem invalid(https://github.com/SiCKRAGETV/SickRage/commit/f0bd05894c741443f131658d76652990cb3fff9f). Are you sure your using sickrage repo?

Do you have a file named requests.py in the same folder as autoProcessTV.py?

Could you put your autoProcessTV.py on pastebin since I'm unable to see the source(invalid commit)?

[2015-01-27 16:05] #442 closed

[2015-01-27 16:05] abeloin commented on #292
@fernandog Honestly, I wouldn't as this pull requests is untested and there's still issues to resolve as per drglove comments(e.g. special are stored in the season directly, keep track of special).
I would prefer pushing the notice in master and continue improving this pull request and fully tested but that is my personal opinion.

[2015-01-27 16:06] fernandog commented on #292
@abeloin good point!

[2015-01-27 16:06] meokey commented on #442
I guess I'm using the correct branch, but how I can check?

[.git]$ pwd
/usr/share/SickRage/.git
[.git]$ sudo more config
[core]
        repositoryformatversion = 0
        filemode = true
        bare = false
        logallrefupdates = true
[remote "origin"]
        fetch = +refs/heads/*:refs/remotes/origin/*
        url = https://github.com/SiCKRAGETV/SickRage.git
[branch "master"]
        remot

[2015-01-27 16:13] abeloin commented on #442
Please don't paste the whole file in here, use pastebin

[2015-01-27 16:17] meokey commented on #442
sorry, I'm not familar with this tool. I guess this is it?

http://pastebin.com/XNvDuEBf

[2015-01-27 16:19] abeloin commented on #442
Thanks, could you also edit your previous comment and remove the file content?

Can you try ```git log``` and give me the first log entry?

[2015-01-27 16:21] LinuxBozo commented on #301
So the error here isn't in the code, but in the underlying SSL implementation.

@itsfja Are you running this on a QNAP NAS by chance? There is a known issue on the QNAP that it doesn't provide proper SSL root certificates, so the certificate verification fails when connecting to the API. This explains why the `response` is None, because it never gets one. It fails before that trying to negotiate t

[2015-01-27 16:22] meokey commented on #442
commit f0bd05894c741443f131658d76652990cb3fff9f
Merge: 8a740bc 91cb8d8
Author: root <root@vHost.(none)>
Date:   Wed Jan 21 18:09:10 2015 -0500

    Merge branch 'develop' of https://github.com/SiCKRAGETV/SickRage into develop

commit 91cb8d885ca278e5829ed53d856d578c8ee8cbe0
Merge: 653851e e123a19
Author: echel0n <echel0n@users.noreply.github.com>
Date:   Sun Jan 18 18:57:10 2015 -0800

    Merge p

[2015-01-27 16:33] abeloin commented on #442
ok, your using your own git repo.

Can you try this in the python interpreter:
[code]

[2015-01-27 16:37] meokey commented on #442
How can I correct it? Thanks.

Python 2.6.6 (r266:84292, Jan 22 2014, 09:42:36)
[GCC 4.4.7 20120313 (Red Hat 4.4.7-4)] on linux2
Type "help", "copyright", "credits" or "license" for more information.

<Response [200]>

[2015-01-27 16:42] abeloin commented on #442
Try a git config -l
[code]
If the result look the same for the remote and branch, you could try a ```git reset --hard``` but it will remove the commit you made.

[2015-01-27 16:45] meokey commented on #442
it's the following. I didn't make any commit before. so git reset --hard will fix this?

$ git config -l
user.email=**********@gmail.com
user.name=meokey
core.repositoryformatversion=0
core.filemode=true
core.bare=false
core.logallrefupdates=true
remote.origin.fetch=+refs/heads/*:refs/remotes/origin/*
remote.origin.url=https://github.com/SiCKRAGETV/SickRage.git
branch.master.remote=origin
branch.m

[2015-01-27 16:47] meokey commented on #442
is this correct now?

$ git reset --hard
HEAD is now at f0bd058 Merge branch 'develop' of https://github.com/SiCKRAGETV/SickRage into develop

$git pull
Already up-to-date.
$ git log
commit f0bd05894c741443f131658d76652990cb3fff9f
Merge: 8a740bc 91cb8d8
Author: root <root@vHost.(none)>
Date:   Wed Jan 21 18:09:10 2015 -0500

    Merge branch 'develop' of https://github.com/SiCKRAGETV/SickRage into

[2015-01-27 16:48] abeloin commented on #442
You forgot to press enter the google.com line but it is ok.
Yes it should fix the issue with the invalid commit
Can you try adding this to autoProcessTV.py right after line 29 ```import requests```:
[code]

[2015-01-27 16:51] abeloin commented on #442
For Git: you will need to do a ```git reset --soft HEAD^``` instead

[2015-01-27 16:51] meokey commented on #442
I'm restarting SABnzbd and trying to download something. I will report back shortly. Thank you very much @abeloin .

[2015-01-27 16:54] meokey commented on #442
$ git reset --soft HEAD^
$ git log
commit 8a740bc1065677c4c555bf465d65c83472a7784c
Merge: 6730ea3 0bb8446
Author: root <root@vHost.(none)>
Date:   Tue Jan 13 22:51:10 2015 -0500

    Merge branch 'develop' of https://github.com/SiCKRAGETV/SickRage into develop

commit 0bb84466d06ca068e09d5f8bc2bbb828c598963a
Merge: ad3cd8f 8ae08af
Author: echel0n <echel0n@users.noreply.github.com>
Date:   Tue Jan

[2015-01-27 16:56] abeloin commented on #442
For Git: make sure the permissions are set properly for .git

[2015-01-27 17:00] meokey commented on #442
sorry, my bad... some files are owned by root

now it seems good on pulling the commits?

$ git reset --soft HEAD^
$ git log
commit 6730ea3e72ff42330a05a5082527d038648f8cbb
Merge: 8c64aea fa3b1cb
Author: root <root@vHost.(none)>
Date:   Tue Jan 13 22:50:06 2015 -0500

    Merge branch 'develop' of https://github.com/SiCKRAGETV/SickRage into develop

commit fa3b1cb3cb3590adccd24723458c51fc07c9d15c

[2015-01-27 17:01] meokey commented on #442
trying SABnzbd....

[2015-01-27 17:07] thermodyn opened #503 "Adding Custom Newznab Provider does not properly populate categories"
Branch: BRANCH: (master) / COMMIT: (401cb666016e45b42fe675bafdf7908ad6c2b9bb)

When adding Custom Newznab Providers - Search Categories do not update and save.
Left and Right box remains blank when update categories is pressed.

This causes a malformed URL when searching for episodes (cat is blank):
https://api.dognzb.cr/api?apikey=api_key_removed&season=1&maxage=1100&cat=&q=Gotham&limit=100&attrs

[2015-01-27 17:12] meokey commented on #442
update: SABnzbd processed successfully!
Thank you very much @abeloin for helping me correct this!

[2015-01-27 17:13] fernandog commented on #503
@thermodyn can you try the develop branch please?

[2015-01-27 17:19] thermodyn commented on #503
This will sound stupid - but how do you switch branches?

I am on linux and installed with:
sudo git clone https://github.com/echel0n/SickRage.git /var/sickbeard

[2015-01-27 17:24] abeloin commented on #442
I did nothing at all! The last line I had you add was to give us the imported requests library location.
But I'm glad it is working now

[2015-01-27 17:27] kgpayne commented on #499
Sorry for the radio silence! @abeloin @TagForce @fernandog Thanks for taking a look so fast! Will test when I make it home but seems legit. Will this fix ever make it to SickRage master, or is it worth cloning your repo @TagForce ?

[2015-01-27 17:29] fernandog commented on #503
first, backup your entire /SickRage folder
then open General config http://loalhost:8081/config/general/
go to 'Advanced Settings' - 'Github' - 'Branch version'

[2015-01-27 17:30] abeloin commented on #503
@fernandog See my comment https://github.com/SiCKRAGETV/sickrage-issues/issues/361#issuecomment-71483671 on the empty categories

[2015-01-27 17:30] fernandog commented on #499
@kgpayne stop SR, edit your local file, start SR
will take a while to all this commits get on master.

[2015-01-27 17:32] TagForce commented on #499
It should make it there.
On Jan 27, 2015 6:27 PM, "kgpayne" <notifications@github.com> wrote:

[2015-01-27 17:34] fernandog commented on #503
@abeloin. maybe the javascript or code it's not running when the page is open. It only runs after. Just guessing here. In the forum 2 others said the categories was filled when they exit the page and go back again

[2015-01-27 17:34] fernandog commented on #499
dev is away for a while that's why will take some time

[2015-01-27 17:39] thermodyn commented on #503
Ok, using BRANCH: (develop) / COMMIT: (91cb8d885ca278e5829ed53d856d578c8ee8cbe0)

Working with OzNZB this time.

Add new custom newznab provider, add info, update categories, right and left category boxes blank, save changes, both blank, update categories, blank, home screen and back - right and left are now populated properly.

Deleted another provider that was already set up.  Switch back to OzN

[2015-01-27 18:00] itsfja commented on #301
Wotcher,
I am indeed running on a QNAP NAS, Thanks for looking after me. Cheers.

Regards,
Francis.

[2015-01-27 19:00] sacii commented on #307
@michaelburton

Thank you for pointing out the symlink option in the security/ca_root_nss  port (it should be a default). I checked that option and rebuilt devel/git (which rebuilt security/ca_root_nss among other ports). After fixing the ports, a fresh git clone of sickrage fixed all my problems with the General Configuration page. Very good catch on your part.

[2015-01-27 19:36] LinuxBozo commented on #301
@itsfja https://github.com/LinuxBozo/SickRage/commit/94d17c286ef25b37358cf7eb3a8a2ceb6e2a6917 should fix you up I believe.

[2015-01-27 20:09] itsfja commented on #301
LinuxBozo,
Cheers, however, I'm out of my depth with git. Could I impose further and ask how to switch to the new fork?

Regards,
Francis.

[2015-01-27 20:11] LinuxBozo commented on #301
@itsfja it's not really new.. It's the same pull request as before.. I just added to it.. So you just use the same process you used before after I fixed grabbing the real error.

[2015-01-27 20:31] kristofferbas commented on #487
Great! Thanks!

[2015-01-27 20:46] alexkoon commented on #497
All good. Thanks for the help.

[2015-01-27 20:46] #497 closed

[2015-01-27 20:50] drglove commented on #292
This doesn't help to fetch the shows, in order to do that we need to have a proper episode number to search on (or some way to ignore it.) If there are any ideas on how to handle episodes that don't have an episode number, I'm all ears.

[2015-01-27 20:59] fernandog commented on #292
@drglove special isn't S00 ? I don't like put them on 'Specials' folder

http://thetvdb.com/wiki/index.php/Special_Episodes

don't find anything related to XEM

[2015-01-27 20:59] itsfja commented on #301
Wotcher,
I am on SiCKRAGETV/SickRage rather than LinuxBozo/SickRage. I presumed I would have to switch. Sorry to be dim.

Regards,
Francis.

[2015-01-27 21:19] fernandog commented on #503
@thermodyn @abeloin

I think I figure it out.

Started a clean SR
Enabled NZB search
Opened "Configure Custom Newznab Providers"
Added Provider name, Site URL and API key

now its the catch:
Dont' click "Update category" before click "Add".
You must click "Add" first the click "Updade categories"
Then you can select categories and then finaly SAVE

Some users may click "Add" then "Save". This way

[2015-01-27 21:29] drglove commented on #292
@fernandog No, TVRage seems to handle things differently. Here's an excerpt of the result from the request that SickRage hits:
[code]

The entire output is here http://pastebin.com/mH860063
It's incredibly minimal, and I don't readily see any way to get an absolute numbering of the episodes from TVRage. Mind you that there are a few episodes that do list season 0, although they're duplicated in se

[2015-01-27 21:39] itsfja commented on #301
Anyhoo,
Disaster favours the stupid. So ... After reinstalling, I am now six commits ahead, I have ticked the SSL box, and the test works OK. "Test notice sent successfully to Trakt". Just reloading the shows. Looking good. Cheers.

Regards,
Francis.

[2015-01-27 21:42] Youmi15 commented on #361
Alright, now it has been running for several hours, there are a lot more interesting errors... This is the log since I left this morning:

@fernandog Print of the show page is below
[code]
![elementary](https://cloud.githubusercontent.com/assets/10669555/5927803/9bc0de7c-a675-11e4-87b3-2848c6ea375c.png)

[2015-01-27 21:45] fernandog commented on #292
If the indexer is not regular updated we can have more issues here. Will worth the effort?

[2015-01-27 21:52] drglove commented on #292
@fernandog Not sure, at this point it's a design decision which I will leave up to you guys, since any solution at this point is a workaround TVRage's limited API.

[2015-01-27 22:02] thermodyn commented on #503
I just tested on master - this doesn't work.

On the development branch this is the case though.

[2015-01-27 22:03] abeloin commented on #361
This make no sense at all ```[NZBGEEK] :: Transaction with 0 queries executed```, it mean you receive 0 update from nzbgeek the whole day.

Can you switch to the dev branch?

[2015-01-27 22:07] fernandog commented on #503
maybe related with the jquery update?

[2015-01-27 22:08] peon420 commented on #450
Sickrage has been up for about 4 days straight now and post processing is still running. I haven't had it stop since I posted the issue. My only theory is that something in my download folder was causing the problem and I have now removed it. I did clean up a number of torrents that I had finished seeding.

My problem seems similar to this thread which also suggested it may have been a problem dow

[2015-01-27 22:14] abeloin commented on #503
@fernandog The whole configProviders.js page needs a good overhaul.

[2015-01-27 22:21] LinuxBozo commented on #301
Good to hear you got it going @itsfja and that fixes things. Enjoy!

[2015-01-27 22:37] ActiveNine commented on #491
@TagForce @fernandog  - You were spot on with your theory. The file in both cases was named something arbitrary (xyz.mp4). I did a manual post-processing and regular download using the new code and it worked as expected. Thanks for such a fast solution!

[2015-01-27 22:40] fernandog commented on #503
@abeloin what if we call the "Add" button when "Update Categories" is clicked?
Is it difficult?

[2015-01-27 22:43] fernandog commented on #301
@LinuxBozo thank you!

[2015-01-27 22:43] #450 closed

[2015-01-27 22:45] fernandog commented on #292
its up to @echel0n to decide

[2015-01-27 22:51] jaybone2012 commented on #445
Ok disabled everything except for KAT.  Set last weeks episode to WANTED.

Full debug log below...

[code]

[2015-01-27 22:53] fernandog commented on #445
@jaybone2012 no error then?

[2015-01-27 22:56] jaybone2012 commented on #445
Sorry @fernandog the problem still exists, no episodes for this show are being snatched.  Any other ideas?

SBI...

[code]

Problem still exists in that clearly there are many results that could be snatched but nothing is being snatched.  KAT logs show it clearly.

[2015-01-27 23:01] fernandog commented on #445
@jaybone2012 what's the show you want? qualities? Required words? ignore words?

[2015-01-27 23:03] jaybone2012 commented on #445
Pretty Little Liars

Quality = HD

No required or ignored words

[2015-01-27 23:20] fernandog commented on #445
can you make a test? install SickRage in another folder like SickRage2, add only this show, and config the providers. See if it snatches. Maybe there's a problem with your database. Don't use it. Let' SR create a new one

[2015-01-27 23:22] jaybone2012 commented on #445
yeah I have a feeling that is the problem, i am seeing weird stuff with this show, like the main page suggests that it is "inactive" and also scene numbering was enabled when i did not enable it.

I will create new install and let you know soon cheers

[2015-01-27 23:54] jaybone2012 commented on #445
All good now, well at least it is snatching episode.

But still when i add the show, on the main page it says "Inactive" and scene number search is enabled even though i did not enable this.

![image](https://cloud.githubusercontent.com/assets/5704140/5929826/110df262-a6dc-11e4-9530-2e390391d4b1.png)

Oh well, its doing its job now, cheers for that.

[2015-01-27 23:59] fernandog commented on #445
I would re-add everything and forget that database. Closing issue.

[2015-01-27 23:59] #445 closed

[2015-01-28 00:08] GTrebaol commented on #178
Work nicely here, thanks

[2015-01-28 00:17] abeloin commented on #503
@fernandog Have a look at this commit https://github.com/abeloin/SickRage/commit/6e435a77de80adcc399bcddd7863681a02f765ee. It's not complete but the part for the "Custom Newznab Provider" is working.

[2015-01-28 00:23] fernandog commented on #503
@abeloin are you re-writing everything?

[2015-01-28 00:29] abeloin commented on #503
@fernandog No, just adding the missing code to make it work.

[2015-01-28 00:38] fernandog commented on #503
Ok! Will study cause Im new to JS.

[2015-01-28 05:00] combres opened #504 "Freshon.tv not able to fetch torrents"
I have searched the forums and cannot find a solution.

Here is my issue. I have setup and can connect to search provider freshon, user id and pw are correct, I checked the logs. However, no torrents can be found when a search is done by sickrage.

Here is the log.
2015-01-26 06:30:44 DEBUG SEARCHQUEUE-MANUAL-74608 :: [FreshOnTV] :: The Data returned from FreshOnTV do not contains any torrent 2015

[2015-01-28 05:46] clinton-hall opened #505 "post-process hangs when trying to create Kodi episode metadata."
This occurs with develop branch.
[code]
Running on Linux (Asustor NAS) with Python 2.7.3 `Python 2.7.3 (default, Dec 27 2013, 16:02:20)
[GCC 4.6.3] on linux2`

The postprocessing is called via nzbToMedia, and since the postprocess event never completes, the request is not closed and therefore NZBGet also hangs...

Debug logging shows the last entry is  `2015-01-28 16:06:23 DEBUG    Thread-45 :: Me

[2015-01-28 05:56] clinton-hall commented on #505
I just checked the commits, and nothing has changed since this last worked... I suspect this may be related to a metadata server that isn't responding?

[2015-01-28 07:56] Vastlee opened #506 "[Feature Request] Add BaconBits's torrent provider"
Or at least that is what appears to be happening. Here an example of the errors:

[code]

[2015-01-28 08:16] TagForce commented on #491
@ActiveNine @fernandog Hmmm, it breaks PP for files that are in the root TV folder or in folders that cannot be parsed into a showname. I'll retract the PR and fix that first. Stupid me for not testing that properly.

[2015-01-28 09:04] TagForce commented on #491
https://github.com/SiCKRAGETV/SickRage/pull/1257

It will now ignore exceptions thrown by nameparser so that it will continue on unparsable folders (anything without a series name, season and episode nr in it) and set parse_result to false.

Added an extra check to see if parse_result is false. If it isn't, this means we have a valid parse result, and we can use the info in the query. Tested it a

[2015-01-28 10:16] flightlevel commented on #504
Its working well here, give the HTTPS version a try and see if the same thing happens. https://github.com/SiCKRAGETV/SickRage/pull/1245
[code]

[2015-01-28 10:52] flightlevel commented on #506
Are all those TV shows in the above log in YOUR own SickRage collection of shows?

I get heaps of those in debug view, even though the show is named correctly. I always thought it was just because they were shows NOT in my database.
eg.
[code]
There is no way for SickRage to parse the above filename as there would be no way for SickRage to know that 'The Flash' is a TV show or gibberish unless the

[2015-01-28 11:22] ryanf86 commented on #425
@lussierj

I saw your post over at issue https://github.com/SiCKRAGETV/sickrage-issues/issues/328#issuecomment-69821517  and in your log you have Shazbat Recent & Followed. Where you able to add your RSS link and get Sickrage to snatch episode from there?

[2015-01-28 12:08] fernandog commented on #506
Please use the issue guidelines when posting an issue. This way the dev team is able to debug your problem. Don't forget to use [markdown](https://guides.github.com/features/mastering-markdown/) on any code and log you want to post in-line.

- [ ] Branch
- [ ] Commit hash
- [ ] Operating system and python version
- [ ] What did you do?
- [X] What happened?
- [ ] What did you expect?
- [ ] Link to

[2015-01-28 12:14] fernandog commented on #506
@flightlevel
Try adding "The Flash 2014" to scene exceptions

[2015-01-28 13:05] itsfja commented on #301
LinuxBozo,
Confirmed working. Thanks very much indeed for your efforts . Cheers.

Regards,
Francis.

[2015-01-28 13:41] baskinghobo opened #507 "SickRage cannot update to develop branch"
Master Branch
Commit hash - sorry i don't know what this is.
Windows 8 x64 and python 2.7.8 x64
SickRage cannot update to develop branch through the SickRage Ui and there is no info in the error log.
Debug log - http://pastebin.com/zx0H38ff

[2015-01-28 13:45] TagForce commented on #505
Is the provider for that show TVRage?
I've noticed that TVRage is throwing some
```Unable to look up show on TVRage, not downloading images: error Connection error HTTPConnectionPool(host='services.tvrage.com', port=80): Max retries exceeded with url: /myfeeds/episode_list.php?key=Uhewg1Rr0o62fvZvUIZt&sid=36199 (Caused by : [Errno 104] Connection reset by peer) while loading URL http://services.tv

[2015-01-28 13:46] fernandog commented on #507
2015-01-28 23:30:11 INFO     CHECKVERSION :: No update needed

[2015-01-28 13:46] fernandog commented on #507
2015-01-28 23:30:11 INFO     CHECKVERSION :: No update needed

[2015-01-28 13:46] #507 closed

[2015-01-28 13:48] TagForce commented on #507
Are you sure you're on the master branch? The logs give you the current commit for the develop branche, so it should be on develop now.
You need to restart SR for it to show the new branch, though.

[2015-01-28 13:49] fernandog commented on #505
Blocked ip? Can you access from browser?

[2015-01-28 13:51] TagForce commented on #505
Yeah, it works fine. It's just throwing out those errors every once in a while, like TVRage is having some issues. Haven't seen them in a while now, though.

Clinton, could you try again?

[2015-01-28 13:58] baskinghobo commented on #507
Hmm how do i check? When i first installed sickrage i used this guide- http://www.htpcguides.com/install-sickrage-windows-usenet-torrent-tv/ which should install as master branch. I then updated it to dev branch and it was successful at shutting down but not starting again so i just closed the tab and reopened it and sickrage said update failed.

[2015-01-28 14:03] TagForce commented on #507
In Config -> Help & Info (in the menu on the homepage) it says which Branch and Commit you're on.
(http://sickrageurl/config)

[2015-01-28 14:05] tarnalcock opened #508 "season errata and directory structure"
Hi Guys,

As per https://sickrage.tv/forums/forum/help-support/general-support/17396-season-errata-and-folder-formats

I have recently configured SR and added all of my existing shows.

Firstly all the shows are contained in a ../Series/ or ../Anime/ folder within a ../Watch folder. So I added both Series & Anime as watch folders in SR.

Then I went through each show in each of those folders and s

[2015-01-28 14:05] fernandog commented on #505
Im on phone but will check if http 503 error could generate this

[2015-01-28 14:08] baskinghobo commented on #507
ok seems like i am on develop version. thanks i will close this now

[2015-01-28 14:24] TagForce commented on #508
There is currently a Pull Request that fixes at least part of this issue. I don't exactly know how SR handles episode folders within Season folders, but at least the episode files not renaming properly is fixed. I'll check to see what it does when I place the episodes in a seperate folder.

[2015-01-28 15:29] fernandog commented on #499
@TagForce Is it possible to used the failed downloads without enabling PP ? If I manually set as FAILED in the showpage, the failed.db don't get updated. Or it's a bug or we need to hide the "failed" status from the dropdown list if  PP is not enabled and failed not enabled.

[2015-01-28 15:32] TagForce commented on #499
@fernandog I don't know. I think it's just a way for SR to understand that a previously downloaded file was bad and so will download the episode again. I don't think it will actually do anything with the failed.db.

[2015-01-28 15:37] fernandog commented on #499
@TagForce So that popup showing to mark as bad does nothing?! Strange, isn't? It should at least add ti to failed.db even if the PP it's not enabled. Otherwise there's no meaning for  that popup

[2015-01-28 15:40] TagForce commented on #499
It sets the episode status to failed, which causes SR to immediately search for it again, and put it back in the daily and backlog searchqueue. So it does something, but I think (I'd have to check when I have time) it's more cosmetic that the status is failed, rather than really functional.

[2015-01-28 15:45] Youmi15 commented on #361
Switched to dev branch and I'm still getting the exact same errors...

[2015-01-28 16:01] TagForce commented on #499
@fernandog I just checked. It deletes old snatches from failed.db's history table. It does not add a release to the failed.db. Other than that it simply creates a high priority download in the searchqueues for that episode. So the failed status seems to be cosmetic, and apart from removing old releases from the failed snatch history, seems to handle pretty much the same as setting it back to wante

[2015-01-28 16:11] Youmi15 commented on #361
Since I was a bit tired of it, I decided to switch back to my previous working sickbeard installation. But now that one also does not work anymore... I'm getting an SSL error:

[code]
So it is likely that the error is not in SickRage itself, but somewhere else.

I know this is not the right place to ask, but does anyone has an idea what causes this?

[2015-01-28 16:37] fernandog opened #509 "[APP SUBMITTED]: 'list' object has no attribute 'scene_season'"
### INFO
Python Version: **2.7.3 (default, Mar 18 2014, 05:13:23)
[GCC 4.6.3]**
Operating System: **Linux-3.12.31-armv6l-with-debian-7.6**
Branch: **develop**
Commit: SiCKRAGETV/SickRage@91cb8d885ca278e5829ed53d856d578c8ee8cbe0
Link to Log: https://gist.github.com/3cfb64aac488dad7ac0e
### ERROR
[code]
---
_STAFF NOTIFIED_: @SiCKRAGETV/owners @SiCKRAGETV/moderators

[2015-01-28 16:47] fernandog commented on #509
@TagForce this happened when I merged your PR correcting failed downloads. I enabled failed downloads but not PP. All providers give this error

[2015-01-28 17:56] fernandog opened #510 "[Feature Request] Pause episodes/season"
Option to pause episodes of tv-shows

For example.
The first season of a tv-show was only available HDTV quality. I downloaded OK
Season two is now 720p-WEB-DL. I downloaded it all but season one appears low quality and SR keeps trying to download 720p-WEB-DL and will never find.
I want to pause season 1 for backlog.
Don't want to set as Archived because I will lost the quality downloaded informat

[2015-01-28 18:07] abeloin commented on #361
@Youmi15 Sickbeard is unable to verify the authenticity of the certificate. If you have Python 2.7.9 see this issue in sickbeard https://github.com/midgetspy/Sick-Beard/pull/912. Python switched verify ssl by default in 2.7.9

[2015-01-28 19:21] TagForce commented on #509
@fernandog You don't need to enable failed download handling for the pulldown to work. I'm not sure if this is related to my fix for setting episodes to failed, but it could be. It's the same kind of error (getting a list, when a single instance is expected), though.
Strange that I do not see this behavior.

[2015-01-28 19:53] clinton-hall commented on #505
I believe the 3 shows that experienced this yesterday were all using thetvdb.
one show was CSI, which downloaded an eppisode 3 days ago and generated the .nfo without issue.
I should have a few more downloads later today, so I'll try and find out if these work (it was a temporary issue), or if the problem is still present.

[2015-01-28 20:01] edgard opened #511 "Add support to send notification to multiple devices on Pushbullet"
Currently we are limited to send to only one device. It would be awesome if we have something like CouchPotato that provides the option to send all or to a list of devices we wanted.

[2015-01-28 20:05] Youmi15 commented on #361
Yeah, that should be it. Python 2.7.9 was included in the opkg update I did.

Could this also be related to the sickrage issue?

[2015-01-28 20:20] itsfja commented on #301
Whoops. Spoke too soon, problem when nzbtosickbeard runs (first of the day). Sorry.

2015-01-28 20:13:40 Thread-49 :: Failed doing webui callback: Traceback (most recent call last):
  File "/share/MD0_DATA/.qpkg/SickBeard-TVRage/SickBeard-TVRage/sickbeard/webserve.py", line 230, in async_call
    result = function(**kwargs)
  File "/share/MD0_DATA/.qpkg/SickBeard-TVRage/SickBeard-TVRage/sickbeard/

[2015-01-28 20:24] LinuxBozo commented on #301
@itsfja Fixed.

[2015-01-28 20:24] itsfja commented on #301
4 minutes? applying.

[2015-01-28 20:31] itsfja commented on #301
Didn't like it ...

Applying: Update to Trakt.tv API 2.0
error: patch failed: gui/slick/interfaces/default/config_notifications.tmpl:1391
error: gui/slick/interfaces/default/config_notifications.tmpl: patch does not ap  ply
error: patch failed: gui/slick/interfaces/default/trendingShows.tmpl:75
error: gui/slick/interfaces/default/trendingShows.tmpl: patch does not apply
error: patch failed: gui/sl

[2015-01-28 20:49] Vodka2014 commented on #328
So far so good it is stable.the only issue i have is if i have the username and password setup it breaks again. Other then that this is good.

[2015-01-28 21:14] Captsha commented on #457
Sorry for my late answer, I have made different test to know exactly where is the root cause. Because it's the first time I'm looking on the code, I lost time to debug.
So, about the first PR, it's a workaround for do not have the bug on the display page. The real problem, is why we have this string on the database.
The problem appears when the refresh and maybe another function is made. Who will

[2015-01-28 21:40] abeloin commented on #361
I think so

[2015-01-28 21:43] itsfja commented on #301
Working now, no manual changes my end. Sorry. Thanks again.

Regards,
Francis.

[2015-01-28 21:57] BrandonOCasey opened #512 "[Feature Request] Re-snach downloads that have taken longer then X days"
Right now I end up having a lot of downloads that either loose seeders to the point where I cannot download at all, or never had any seeders to being with. I think it would be safe to say if I have yet to download a file in X days that it should be searched for again.

[2015-01-28 22:18] TagForce commented on #509
@fernandog
line 267 of search_queue.py:
change
searchResult = search.searchProviders(self.show, self.segment, True)

to
searchResult = search.searchProviders(self.show, self.segment[0], True)

tell me if that fixes it.

[2015-01-28 22:48] TagForce commented on #509
@fernandog
Check something else for me as well, if you can. I'm on mobile so can't test myself.

On a clean develop branch (without my fix):
webserve.py line 1657:
change
cur_failed_queue_item = search_queue.FailedQueueItem(showObj, [segment])

to
cur_failed_queue_item = search_queue.FailedQueueItem(showObj, segment)

and check if that fixes all of it.
I think it will. It passes segment as a list,

[2015-01-29 00:16] combres commented on #504
tried that but still doesn't work:

Maybe this has something to do with it:
BRANCH: (master) / COMMIT: (401cb666016e45b42fe675bafdf7908ad6c2b9bb)

Here is a log.

2015-01-29 01:12:38 INFO     SEARCHQUEUE-MANUAL-74608 :: Unable to find a download for: [Top Gear - 22x01 - Race Across St Petersburg]
2015-01-29 01:12:38 DEBUG    SEARCHQUEUE-MANUAL-74608 :: formatting pattern: %SN - %Sx%0E - %EN -> Top

[2015-01-29 00:41] clinton-hall commented on #505
ok... turns out TMDB / XEM is not working for me...
I added a new show... it is stuck at `Loading` on the shows page and I cannot access this show to edit it etc... No show banner, no info. Just `Loading`
Here are logs showing adding the show
[code]

[2015-01-29 00:50] clinton-hall commented on #505
Restarted SickRage and added the same show with TVRage.... worked fine...
So the issue is something with theTVDB lookups?

[2015-01-29 02:06] abeloin commented on #328
@Vodka2014 What exactly is the error when you activate the login?

[2015-01-29 02:17] baskinghobo commented on #242
Same issue here which sucks because i notice btsync+black hole is a lot slower then directly through rtorrent.

[2015-01-29 04:07] clinton-hall commented on #505
With Episode Metatdata disabled (no Season##\filename.nfo) two episodes have successfully processed.

[2015-01-29 06:01] mik11231 opened #513 "Feature Request: Set time delay when to look for an episode"
I've been experiencing a bunch of fakes getting downloaded because the search tries to search for a show as soon as it airs. I know some people actually like that, and some would prefer it to happen earlier even. I would prefer it happens later and i don't mind waiting another couple of hours after a release to ensure i get a proper copy.
Would it be possible to add either a global setting (search

[2015-01-29 06:19] tarnalcock commented on #508
Thank you for the clarification @TagForce. Much appreciated. The naming conventions seemed fairly ok on my side I did not notice any glaring mistakes.

[2015-01-29 07:51] wripet commented on #512
Imo it would be better to deal with those downloads marking them as stalled. Procedure could be the following: If DL is idle for X days, mark it as stalled, if SR sees a stalled download, mark that one as failed, delete it from the download history and the downloader, pick the next best download from the history. NzbToMedia might support that in the upcoming future: https://github.com/clinton-hall

[2015-01-29 08:05] Youmi15 commented on #361
I will try to confirm this when I figure out how to downgrade Python.

[2015-01-29 08:21] gielie opened #514 "Exception generated in thread FINDPROPERS"
BRANCH: (master)
COMMIT: (401cb666016e45b42fe675bafdf7908ad6c2b9bb)
Synology 415play

[code]

[2015-01-29 08:32] gielie commented on #514
btw how do i put this code into a box?

[2015-01-29 09:19] Scoobdriver opened #515 "Pushbullet notifications stopped working"
I am able to update my device list, however notifactions are not working. I am aware pushbullet have done some updates.. Anyone else have the same issue..

[2015-01-29 09:48] netohugo commented on #479
@abeloin this week i'm out of my home... i'm proceed these on the weekend and i'll return the feedback ...

[2015-01-29 09:50] fernandog commented on #513
Disable daily search for all providers.

[2015-01-29 09:53] fernandog commented on #514
Enclose with ```

[2015-01-29 10:04] flightlevel commented on #504
Stop SickRage.
Change your freshontv.py file to this one (Just adds three more lines of debugging) in the link https://github.com/flightlevel/SickRage/blob/Freshon/sickbeard/providers/freshontv.py and then report back. Note: the log will be hundreds of lines, so you'll have to use pastebin for the log.

[2015-01-29 11:52] Al-25 opened #516 "[Feature Request] Show and link unrecognised files to an episode"
This request is not from me but i would definitly like to see it in sickrage :

See : https://sickrage.tv/forums/forum/main-category/feature-requests/5462-manually-map-files-to-episodesv

"From time to time I download a special or some other episode that doesn't get detected by SR. The only way to fix this is to go and rename the file enough for SR to know what the file is. It would be very useful

[2015-01-29 12:29] Kybber commented on #504
I modified the file similarly earlier today. The data output is as follows:
------------->
AA	AA	» Internet Explorer 6 isn't 100% supported! Please update! AA
AA	» For maximum experience on this site use an up-to-date browser (the latest update of your browser). AA
AA
AA	» If you have problems loggin in try clearing your browser's cookies and/or recover your password via email. AA
AA	» You need co

[2015-01-29 13:05] mik11231 commented on #513
wouldn't that make it an entire day wait in some cases? and what about shows that air at or close to the time backlog happens? the point of this isnt to delay by a lot it's to either delay by a littler or even have the search happen earlier than it normally would

[2015-01-29 13:13] Kybber commented on #504
Hmm... no it apparently doesn't. I added
logger.log("SESSION:" + str(self.session.headers), logger.DEBUG)
which resulted in
SESSION:CaseInsensitiveDict({'Accept-Encoding': 'gzip, deflate', 'Accept': '*/*', 'User-Agent': 'python-requests/2.3.0 CPython/2.6.6 Linux/2.6.32-504.3.3.el6.x86_64'})

In case the response regarding IE 6.0 from freshon.tv was a fallback for unknown user-agents, I hard-coded

[2015-01-29 13:16] abeloin commented on #361
@Youmi15 Can you provide the traceback for that ssl error?

[2015-01-29 14:27] Youmi15 commented on #361
If you tell me how to do that I will!

[2015-01-29 14:55] pct00 commented on #493
@fernandog Hi, after a few days already runnig the behaviour is different from what i think you expected
the episodes are now classified as low quality, but the backlog processes doesnt try to find downloads for them, either the manual backlog, automatic backlogs etc

[2015-01-29 15:13] abeloin commented on #361
In the log, where you saw the URL error, look before or after that line it should be there.

[2015-01-29 15:43] kristofferbas opened #517 "[Feature Request] Add Web-rip quality"
I have noticed that SickRage sometimes finds Web-rips and displays them as Web-dl (which is what I want to download). Would be nice to have web-rip as a quality in SR too.

Thanks!

[2015-01-29 16:16] Youmi15 commented on #361
This is the full log for the manual search in sickbeard. I hope you can find what you are looking for, because I see nothing about a traceback...

[code]

[2015-01-29 16:40] JacksonB opened #518 "Feature Request: API Request - Initiate Post Processing"
I'd like to be able to initiate a post-processing pass through an API call.

Default would be to use the existing post-processing settings. Optional arguments could be the manual post-processing setting

    ?cmd=SickRage.PostProcess

    ?cmd=SickRage.PostProcess&path=home.user.downloads.new&method=move&force=true&priority=false
​
With the length of time that a post-processing request could take

[2015-01-29 16:44] fernandog commented on #518
See this:
https://sickrage.tv/forums/forum/help-support/general-support/16679-resolved-post-processing-url-no-longer-working-%60http-403-forbidden

[2015-01-29 17:48] AdamWhite commented on #242
I've changed to scgi:// and thats working, so thanks for that.. I've also moved to the development branch and i am liking the change to the progress bars. However still getting the same issue mentioned above, and the issues persists, I had to wait a few days for the error to show in the logs, thought @abeloin's fix may not have been merged into the dev branch yet. So looking forward to seeing the

[2015-01-29 18:25] abeloin commented on #242
@AdamWhite Can you apply this [pull request 1244](SiCKRAGETV/SickRage#1244)(Not included in the dev branch) and let me know if you still see the "Return code undefined"

[2015-01-29 19:25] fernandog commented on #517
as alternative add web-rip as Required Words

[2015-01-29 19:26] fernandog commented on #515
Please use the issue guidelines when posting an issue. This way the dev team is able to debug your problem. Don't forget to use [markdown](https://guides.github.com/features/mastering-markdown/) on any code and log you want to post in-line.

- [ ] Branch
- [ ] Commit hash
- [ ] Operating system and python version
- [X] What did you do?
- [X] What happened?
- [ ] What did you expect?
- [ ] Link to

[2015-01-29 19:26] #514 closed

[2015-01-29 19:39] fernandog commented on #509
@TagForce sorry. I'm very busy these last days. My newborn is going to school Will try that soon. sorry

[2015-01-29 19:40] fernandog commented on #505
@clinton-hall using proxy for indexers?

[2015-01-29 19:41] TagForce commented on #509
No problem. I've tested it myself and it seems to work. Resubmitted the PR.
On Jan 29, 2015 8:39 PM, "Fernando" <notifications@github.com> wrote:

[2015-01-29 19:42] fernandog commented on #509
thanks!

[2015-01-29 19:42] #509 closed

[2015-01-29 19:57] clinton-hall commented on #505
No proxies set here.
I can try restarting my NAS and router etc... If I am the only person experiencing this, then it sounds like my system is being stupid ;)

[2015-01-29 19:59] fernandog commented on #505
I had a problem in the past with SSL and restarting router+RPI fixed

[2015-01-29 20:15] kristofferbas commented on #517
Ah, good idea!

[2015-01-29 21:00] kristofferbas opened #519 "RSSFeeds instance has no attribute 'rssDB'"
Have been getting these error with searching OZnzb the last couple of days. Is this a problem with SR or is it something I have done wrong?

Branch: develop
Commit hash: 91cb8d885ca278e5829ed53d856d578c8ee8cbe0
Your operating system and python version: Mac OSX Yosemite, Python2.7
Link to a copy/paste of your logfile with clear debug info of the error on PASTEBIN: http://pastebin.com/9YLjZcAw

[cod

[2015-01-29 21:38] sacii commented on #307
@michaelburton

Additional notes:

The security/ca_root_nss port creates two symlinks, one under /etc/ssl and the other under /usr/local/etc/ssl (openssl standard). However, python, since 2.7.9, does not find the symlink under /usr/local/etc/ssl. Additionally, the symlink under /etc/ssl does not survive reboots on embedded systems (which I use). Therefore, I have to reestablish the symlink under /

[2015-01-29 22:34] Tlabok commented on #501
@fernandog
This is not a support / question, but a feature request.

[2015-01-29 23:11] clinton-hall commented on #505
I restarted my Router and NAS, SickRage also updated... I can now add shows from TheTVDB so I have re-enabled episode metadata and will see what happens when shows download.

[2015-01-29 23:31] fernandog commented on #451
@Jezze83 please update SR and report back please. Fix was merged

[2015-01-29 23:32] #487 closed

[2015-01-29 23:32] fernandog commented on #487
@kristofferbas  please update SR and report back please. Fix was merged

[2015-01-29 23:35] fernandog commented on #323
@neoatomic  please update SR and report back please. Fix was merged

[2015-01-29 23:36] fernandog commented on #301
@ChipSkylark37  please update SR and report back please. Fix was merged

[2015-01-29 23:37] fernandog commented on #307
@cardgone @RobMadrid @andyblac
 please update SR and report back please. Fix was merged

[2015-01-29 23:38] fernandog commented on #276
@TagForce  please update SR and report back please. Fix was merged

[2015-01-29 23:38] fernandog commented on #264
@RackerJack  please update SR and report back please. Fix was merged

[2015-01-29 23:38] fernandog commented on #258
@pr0xyfl00d3r  please update SR and report back please. Fix was merged

[2015-01-29 23:39] fernandog commented on #51
@andyblac  please update SR and report back please. Fix was merged

[2015-01-29 23:40] fernandog commented on #493
@pct00 but it appears as low quality and you wanted?

[2015-01-29 23:41] fernandog commented on #493
@pct00  please update SR and report back please. Fix was merged

[2015-01-29 23:41] fernandog commented on #491
@ActiveNine  please update SR and report back please. Fix was merged

[2015-01-29 23:41] fernandog commented on #436
@udochrist  please update SR and report back please. Fix was merged

[2015-01-29 23:43] fernandog commented on #453
@amanimmortal  please update SR and report back please. Fix was merged

[2015-01-29 23:44] fernandog commented on #347
@CoRpO did you PR to develop branch?

[2015-01-29 23:49] fernandog commented on #456
@tchirou  please update SR and report back please. Fix was merged

[2015-01-29 23:50] fernandog commented on #330
@timrettop  please update SR and report back please. Fix was merged

[2015-01-29 23:51] fernandog commented on #328
@timrettop  please update SR and report back please. Fix was merged

[2015-01-29 23:52] fernandog commented on #311
@abeloin can you check this one. seems easy but I couldn't fix.

[2015-01-29 23:59] fernandog commented on #504
follow guidelines please

[2015-01-30 00:05] Jezze83 commented on #451
It says no update needed.

[2015-01-30 00:05] thoj opened #520 "Failed to create hardlink: Error does not make sence"
It does not happen all the time only on some files. The files gets copied like the error says.

The file does not exist in the folder unless sickrage somehow creates it before trying to hardlink.

Linking the files manually with ln works fine. Using os.link manually also works fine. Any insights would be nice.

Thanks.

SR Version:	BRANCH: (master) / COMMIT: (401cb666016e45b42fe675bafdf7908ad6c2b9

[2015-01-30 00:07] fernandog commented on #451
chance branch to develop. config > advanced > github

[2015-01-30 00:10] fernandog commented on #503
@abeloin I updated the code. add settings. didn't click "add". clicked "update categories". nothing happens.

[2015-01-30 00:10] Jezze83 commented on #451
Great, now it fucked up my sickrage when i chance it. Cant go anymore to settings.

Error

cannot find 'LOG_NR'

Traceback

Traceback (most recent call last):
File "C:\SickRage\tornado\web.py", line 1292, in _stack_context_handle_exception raise_exc_info((type, value, traceback))
File "C:\SickRage\tornado\stack_context.py", line 314, in wrapped ret = fn(*args, **kwargs)
File "C:\SickRage\tornado\c

[2015-01-30 00:11] fernandog commented on #451
@Jezze83 it's a new feature. Restart SR

[2015-01-30 00:13] andyblac commented on #51
jusr reclone develop branch sorting is just same not working, to test click on 'Downloads' to sort via that, all the 'The'' are stil' grouped together.

![screen shot 2015-01-30 at 00 12 34](https://cloud.githubusercontent.com/assets/77936/5968882/c1d7aa78-a814-11e4-83d8-8b310ba259f9.png)

![screen shot 2015-01-30 at 00 11 55](https://cloud.githubusercontent.com/assets/77936/5968874/a6a7c9d6-a814-

[2015-01-30 00:18] fernandog commented on #51
did you tried:
1. Click header 'Download'.
2. Shift-Click header 'Show'.
3. Again, Shift-Click header 'Show'.

[2015-01-30 00:19] Jezze83 commented on #451
Is this latest? SR Version:	BRANCH: (develop) / COMMIT: (c62d8f2c799edd7daad5648f45276a3464d83a9e)
Just said no update needed

[2015-01-30 00:20] fernandog commented on #451
@Jezze83 yes

[2015-01-30 00:23] fernandog commented on #51
@andyblac tested here and it's working

![sort](https://cloud.githubusercontent.com/assets/2620870/5969007/832a564a-a805-11e4-8f34-90127bca5a38.png)

[2015-01-30 00:24] #51 closed

[2015-01-30 00:31] Jezze83 commented on #451
Yes it works now. Should i chance back to master?

[2015-01-30 00:39] fernandog commented on #451
No. The error still exists at master. Stay in develop

[2015-01-30 00:39] #451 closed

[2015-01-30 00:43] thoj commented on #520
Crap i figured it out. I had an old instance of Sick-Beard running that was also prostprocessing files! Sorry about the noise!

[2015-01-30 00:43] #520 closed

[2015-01-30 00:52] kristofferbas commented on #487
@fernandog works great from here, thanks!

[2015-01-30 01:10] mbausch commented on #518
fernandog, that's a useful thread but I hope you don't consider the matter settled.  I've seen JacksonB's posts in a couple different places today and everyone keeps pointing to this other, non-api solution for his request to have an api call implemented.  I agree with him that a solution which uses the api key is vastly superior to a call which has to incorporate the username and password.  Add t

[2015-01-30 01:35] michaelburton commented on #307
@sacii You might be able to recreate the symlink with a cron `@reboot` command.

[2015-01-30 02:01] andyblac commented on #51
with dark skin ??

[2015-01-30 02:14] andyblac commented on #307
yup, confirmed fixed. thanks.

[2015-01-30 05:15] abeloin commented on #503
@fernandog You shouldn't be able to see the categories until you press add for a new item.

[2015-01-30 05:32] abeloin commented on #311
@fernandog See this [commit](https://github.com/abeloin/SickRage/commit/cb68f649ea1d725249d13ca27daafe05f4e8a7e8) I think it should solve the issue but I don't have an iPhone so I can't test it.

@spirro Can you try this [commit](https://github.com/abeloin/SickRage/commit/cb68f649ea1d725249d13ca27daafe05f4e8a7e8)?

[2015-01-30 06:34] udochrist commented on #436
Still working after the merge

[2015-01-30 07:49] CoRpO commented on #347
@fernandog yes, and it has been merged since : https://github.com/SiCKRAGETV/SickRage/pull/1174

[2015-01-30 07:49] #347 closed

[2015-01-30 08:13] Kybber commented on #504
Sorry, updated my posts above. Please let me know if you need any further info.

[2015-01-30 08:15] #436 closed

[2015-01-30 08:16] #307 closed

[2015-01-30 08:45] TagForce commented on #276
@fernandog Uhmmm... https://github.com/SiCKRAGETV/SickRage/issues/1229 is still open?
I don't see your change merged into my now fully updated production server.

[2015-01-30 08:56] tchirou commented on #456
Well I updated but I need to add a new show and wait for it to appear to see if this works
I will get back to you asap

[2015-01-30 09:03] TagForce commented on #499
@kgpayne PR was merged into develop branch. Can you update SR and see if the problems are now solved?

[2015-01-30 09:45] Scoobdriver commented on #515
SR Version:	BRANCH: (master) / COMMIT: (401cb666016e45b42fe675bafdf7908ad6c2b9bb)
SR Config file:	/usr/local/sickbeard-custom/var/config.ini
SR Database file:	/usr/local/sickbeard-custom/var/sickbeard.db
SR Cache Dir:	/usr/local/sickbeard-custom/var/cache
SR Arguments:	['--daemon', '--pidfile', '/usr/local/sickbeard-custom/var/sickbeard-custom.pid', '--config', '/usr/local/sickbeard-custom/var/con

[2015-01-30 09:47] Scoobdriver commented on #515
Looks Like I may have fixed.. Updated Device list ... Saved . Changed Device, saved again, changed back, saved , now works.. Apologies.

[2015-01-30 09:48] fernandog commented on #276
Yes. But yours did

[2015-01-30 09:51] #515 closed

[2015-01-30 09:52] clinton-hall commented on #505
yep... all working good again now...

Something went funny with my DNS/CACHE...

Thanks for the help.

[2015-01-30 09:52] #505 closed

[2015-01-30 09:54] TagForce commented on #276
Mine was merged 2 weeks ago. We're just waiting for your PR to be merged now :)
(mine works fine, btw, I've had it at 25 files of 10MB for a while now)

[2015-01-30 09:54] #500 closed

[2015-01-30 09:55] fernandog commented on #483
@Greg0rz waiting your feedback

[2015-01-30 09:56] fernandog commented on #276
I prefer 3MB. My RPI can't handle too large log files (together with my search feature)

[2015-01-30 10:00] fernandog commented on #457
we should have an option to NOT add language name to subtitles and then make a PR adding "No language" to drop down list and do the proper checks. I think this error was cause by your modification in files. Not a SR error. Will tag as "feature request"

[2015-01-30 10:02] fernandog commented on #417
@jaybone2012 any news?

[2015-01-30 10:03] jaybone2012 commented on #417
All good after reinstalling sickrage
On 30/01/2015 9:02 PM, "Fernando" <notifications@github.com> wrote:

[2015-01-30 10:03] #441 closed

[2015-01-30 10:04] #417 closed

[2015-01-30 10:05] fernandog commented on #412
@wripet reply please or will close this issue

[2015-01-30 10:05] #409 closed

[2015-01-30 10:06] #397 closed

[2015-01-30 10:15] fernandog commented on #457
@Captsha did you try to enable ""append language code to subtitles filenames" at subtitle search?
Why are you running a script if you have this option?

[2015-01-30 10:48] flightlevel commented on #504
@Kybber  Give this a go and see if it catches the cookie error
https://github.com/flightlevel/SickRage/blob/Freshon/sickbeard/providers/freshontv.py

@combres @Kybber Are you guys in the UK or behind a proxy? Are you using the 'Access provider via proxy' option in SickRage?

[2015-01-30 11:08] fernandog commented on #386
There's no logic displaying subtitles:

<img width="16" height="11" style="vertical-align:middle;" src="$sbRoot/images/flags/<%= hItem["resource"][len(hItem["resource"])-6:len(hItem["resource"])-4]+'.png'%>">
https://github.com/SiCKRAGETV/SickRage/blob/master/gui/slick/interfaces/default/history.tmpl#L134

It does not check if "Subtitles Multi-Language" is enabled
Don't know if this info is availa

[2015-01-30 11:27] Captsha commented on #457
Because I use more than 1 language, so I have enable this option.
Like here:

[code]

So, I have my own script who will copy the TOTO.fr.srt to TOTO.srt
It's just that I have a specific usage.
If I disable this function, I didn't have my second subtitle.

Maybe the feature should be:

- If they have more than 2 languages and the option "Append language codes to subtitle filenames?" is disable, so

[2015-01-30 11:29] RackerJack commented on #264
Hi

this issue was fixed by abeloin

i now have the ability to change the rpc path in the web gui and auth with out password to that rpc url

[2015-01-30 11:29] #264 closed

[2015-01-30 11:34] fernandog commented on #457
I will PR this:
[code]
Its a good code check

[2015-01-30 11:57] wborrelli opened #521 "Downloading multiple instances of TV show"
This started recently, Sickrage is snatching and downloading multiple instances of a TV show. They are typically named a little different in the Torrent name,
for example:
Sirens.2014.S02E01.HDTV.x264-KILLERS.mp4
Sirens.2014.S02E02.HDTV.x264-KILLERS[ettv]
I have also seen where Sickrage will download both the SD and HD version. I only ever want the SD version to conserve disk space.
Also, I remove

[2015-01-30 12:08] Kybber commented on #504
Thanks. I notices there's a difference between when I search for the first after restarting sickrage, and searching again. I added a couple of debug lines to identify what happens differently inside doLogin() - you'll recognise the lines in your code as lines 97 and 91.

Here's the output from searching immediately after starting sickrage:
[code]

If I try the same search again, the output differs

[2015-01-30 12:08] dmarcelino commented on #301
@LinuxBozo, thank you very much for this fix! I've switched to develop branch just because of it.

Things I've noticed:
1. I only have 2 episodes of The Strain, but SickRAGE added the whole season to my trakt.tv collection. And I only have the first season of The Blacklist but it added the whole show. The logs don't say much, but here they are:
[code]
Is this the expected behaviour?

2. After proc

[2015-01-30 12:17] fernandog commented on #386
@Tagforce do you know if PP store this variable too?

[2015-01-30 12:53] TagForce commented on #386
@Heisenberg74 @fernandog Subtitle downloading is not a direct part of PP. It does check for a subtitle file in the completed downloads folder and copies that along with the videofile, I think. It should store the language of the subtitle file, if it can find one, in the subtitle field in the tv_episode table.

[2015-01-30 13:17] TagForce commented on #386
@fernandog @Heisenberg74
This is the problem: <%= hItem["resource"][len(hItem["resource"])-6:len(hItem["resource"])-4]+'.png'%>
It takes the resource name (which you see when you hover over the Action text (SUBTITLED), and tells it to take the part in between the length of the string -6 and the length of the string -4... Which in the case of not using language add-ons returns the last 2 characters

[2015-01-30 13:48] TagForce commented on #521
@wborrelli Going to need more information.
Your example seems to be perfectly fine. Downloading episode 1 and 2 for the same TV show.
If you have any logs explaining the erroneous behaviour, please include those.

As a precaution, make sure you have the 'scene exceptions' filled in appropriately for the show in question.

Also, for the shows that you have removed, please include logs showing that

[2015-01-30 13:52] TagForce commented on #519
@kristofferbas Please update to the latest develop release. You're about 88 commits behind at the moment :)

Let us know if that fixes the issue, or not.

[2015-01-30 13:59] ChipSkylark37 commented on #301
@fernandog I will update when I get in today and test it out. Thanks!

[2015-01-30 14:16] LinuxBozo commented on #301
@dmarcelino
 1. I guess it is, based on the old code and comments. Mind you, I didn't create this, it was existing. I just updated it to the new Trakt API bits. I believe it only does this however when you select the **Sync Libraries** option though.  This is the function I'm talking about:
[code]
 1. The timeouts are pain for sure. However, I had to make a tradeoff here. Either time things out an

[2015-01-30 14:19] wborrelli commented on #521
Crud... wrong cut and paste... THIS is a good example of poor behaviour.
Supernatural.S10E11.HDTV.x264-LOL[rarbg]
Supernatural.S10E11.HDTV.x264-LOL[ettv]

Trying to figure out where in the config.ini to keep more logs. Rolls after 5, and there is a lot of data they are tracking and only goes back about 5 hours or so right now.

[2015-01-30 14:23] fernandog commented on #521
Dont edit config.ini
this setting is UI

[2015-01-30 14:51] TagForce commented on #521
@fernandog The log setting is in develop, not yet in master.
It should keep more logs in the Logs folder in your SR install dir.
look for sickrage.log.x files.
It should keep 5 by default.

[2015-01-30 15:06] fernandog commented on #521
sorry. thanks!
we also need to confirm that this happens in DEVELOP.
@wborrelli could you test develop too? master is very outdated.

[2015-01-30 15:17] wborrelli commented on #521
I had to edit the config.ini to develop branch, as the setting was not sticking when I changed it in the UI. Upon restart and connecting to the UI, I was 161 commits behind.

[2015-01-30 16:43] tchirou commented on #456
It works. The new show just appeared
Issue solved
Many thanks

[2015-01-30 16:45] Rafkat commented on #456
I can confirm that it works 4me as well! Thanks a lot, guys!!!

[2015-01-30 16:50] Rafkat opened #522 "POSTPROCESSER :: 95491: Unable to modify date"
Hi guys!

Couldn't find a ticket for this issue.
I thought this issue has been resolved sometime in the past. However, I still get this error for each episode and each show  I have in database:
2015-01-30 11:36:52 POSTPROCESSER :: 95491: Unable to modify date of The Vampire Diaries.S06E12.Prayer For the Dying.mkv to show air date Jan 29,2015 (20:00)

Is there something I need to do to stop this er

[2015-01-30 16:58] abeloin commented on #51
@andyblac I think fernandog's message was meant to gregpardo.
@gregpardo please update SR and report back please. Fix was merged

[2015-01-30 17:13] fernandog commented on #51
No. @andyblac cloned the new version and said it not working.
@abeloin cache should be cleanned?

[2015-01-30 17:20] kristofferbas commented on #519
Updated but still didn't work. Deleated oznzb.db in cache/rss and now everything seems fine again :)

[2015-01-30 17:44] abeloin commented on #51
@fernandog But the pull requests SiCKRAGETV/SickRage#1217 is for gregpardo issue. For andyblac, I'm currently testing using [sortAppend](http://mottie.github.io/tablesorter/docs/example-option-sort-append.html)

[2015-01-30 17:52] fernandog commented on #519
@kristofferbas so can I close this issue ?

[2015-01-30 18:09] Vodka2014 commented on #328
Will set it up again and revert back as soon as i can. If the issue is diffrent to the errors listed above will open a new issue list of that is ok.

[2015-01-30 18:21] ChipSkylark37 commented on #301
@fernandog I input my username and password, set some settings and tested it and it reported 'successfully sent to tratk.tv' however I dont know where to see that it actually sent. I will wait for a few episodes to download in SR and for me to watch some to see if anything changes. Will report back!

[2015-01-30 21:39] maZuFC commented on #435
hey everybody... having this exact problem...

@Trever123 were you able to resolve it?

ive tried using a vpn connected to another country but i still get the same error...
also tried entering a proxy site but that didnt work.

2015-01-30 21:36:18 SEARCHQUEUE-MANUAL-75978 :: [TorrentDay] :: Error while searching TorrentDay, skipping: No JSON object could be decoded

[2015-01-30 21:43] fernandog commented on #435
@maZuFC  @Trever123
try this:
https://github.com/SiCKRAGETV/SickRage/pull/1207/files

[2015-01-30 21:49] maZuFC commented on #435
@fernandog  thanks for the code, but it still doesnt work..
i get the following... :/

will try with a vpn now...

2015-01-30 21:47:06 SEARCHQUEUE-MANUAL-75978 :: [TorrentDay] :: Error while searching TorrentDay, skipping: No JSON object could be decoded
2015-01-30 21:47:06 SEARCHQUEUE-MANUAL-75978 :: No NZB/Torrent providers found or enabled in the sickrage config for backlog searches. Please che

[2015-01-30 21:51] maZuFC commented on #435
i should add ive also tried having the url as https://www.torrentday.com and that didnt work either.
can definitely access the site using that..

[2015-01-30 21:53] maZuFC commented on #435
well changing vpns didnt work either... im stumped with this one...

[2015-01-30 22:16] kristofferbas commented on #519
@fernandog Yes, everything works now. Thanks!

[2015-01-30 22:29] Trever123 commented on #435
I have tried other proxies and that has also not worked. This issue needs to be reopened as it is not fixed.

[2015-01-30 22:44] abeloin commented on #435
@Trever123  https://torrentday.eu doesn't work for you?

[2015-01-30 22:59] maZuFC commented on #435
i agree that the issue has to be reopened... but the question is..
is it a sickrage or torrent day or JSON issue...  or is it because we are based in the UK?

can anybody outside the UK confirm that torrentday is working?

correct me if im wrong but JSON is javascript?
maybe a java update is needed...?

[2015-01-30 23:16] abeloin commented on #435
@maZuFC Works fine here

[2015-01-30 23:19] maZuFC commented on #435
@abeloin thanks, just to confirm torrentday is working for with sickrage.. searching / downloading..

not that you can access the web page..

[2015-01-30 23:21] abeloin commented on #435
@maZuFC Yes using https://torrentday.eu and "Access provider via proxy" unchecked
[code]

[2015-01-30 23:23] maZuFC commented on #435
@abeloin thanks for confirming

out of curiosity what country are you in?

[2015-01-30 23:24] abeloin commented on #435
Canada.
Which version of python do you have?

[2015-01-30 23:24] #519 closed

[2015-01-30 23:25] fernandog commented on #435
Maybe torrentday.eu got blocked too.
can you access from browser?

[2015-01-30 23:26] maZuFC commented on #435
im gonna try a canadian vpn for kicks... see what happens.

Python version 2.7.9

[2015-01-30 23:27] maZuFC commented on #435
@fernandog yes i can, ive tried all variations of the link and they all work

[2015-01-30 23:28] abeloin commented on #435
There's an issue with python 2.7.9

[2015-01-30 23:28] maZuFC commented on #435
oh... which version should i try?

[2015-01-30 23:32] Jezze83 opened #523 "Iptorrents invalid username or password"
I just logged in to iptorrent website with my username and password. I checked from sickrage config.ini file, there is same username and password. Sickrage give me errors with master and develop. Can someone fix this as soon as possible? That worked fine couple days ago.

[code]

[2015-01-30 23:40] abeloin commented on #435
@maZuFC Sorry it doesn't apply in this case. Does https://torrentday.eu work in your browser?

You could try adding ```logging.getLogger("requests.packages.urllib3"),``` to sickbeard/logger.py around line 73, it will add the web requests and status to the log file.

[2015-01-30 23:43] maZuFC commented on #435
@abeloin yes, that link works

i will add that code and see what happens.

i just noticed this... something about not having the C version of NameMapper... is this important?

C:\Python27\lib\site-packages\cheetah-2.4.4-py2.7.egg\Cheetah\Compiler.py:1509:
UserWarning:
You don't have the C version of NameMapper installed! I'm disabling Cheetah's us
eStackFrames option as it is painfully slow with t

[2015-01-30 23:44] abeloin commented on #523
Try removing the www from www.iptorrents.eu in sickbeard/providers/iptorrents.py and restart sickrage.

Reference commit https://github.com/coolius/SickRage/commit/bef446186ee234303f9c3bbe449abe7696c7659b

[2015-01-30 23:45] fernandog commented on #435
No

[2015-01-30 23:47] abeloin commented on #435
@maZuFC And you are using these urls in torrentday.py?
[code]

[2015-01-30 23:48] maZuFC commented on #435
ok,

i installed version 2.7.8 (64bit) of python.

added that logging code you mentioned above and it didnt show anything different in the logs.

[2015-01-30 23:48] maZuFC commented on #435
@abeloin

yes i am.

this is what i have

self.cache = TorrentDayCache(self)

        self.urls = {'base_url': 'https://torrentday.eu/',
                'login': 'https://torrentday.eu/torrents/',
                'search': 'https://torrentday.eu/V3/API/API.php',
                'download': 'https://torrentday.eu/download.php/%s/%s'
        }

[2015-01-30 23:55] abeloin commented on #435
You should see something like this in your log:
[code]

[2015-01-30 23:58] maZuFC commented on #435
nope, doesnt show any of that... just the same 3 errors.
i restarted sickrage again just incase... and this is what i got
i can confirm the logging.logger code is in the logger.py file

2015-01-30 23:55:56 SEARCHQUEUE-MANUAL-75978 :: [TorrentDay] :: Error while searching TorrentDay, skipping: No JSON object could be decoded
2015-01-30 23:55:56 SEARCHQUEUE-MANUAL-75978 :: No NZB/Torrent providers f

[2015-01-31 00:15] maZuFC commented on #435
bah... if i knew how to troubleshoot python code and JSON error codes might be able to determine what its actually doing...

can you guys recommend which python version and cheetah version i should be using?

i think im going to blow away my win8.1 VM and start from scratch (will take snapshot next time!)

[2015-01-31 00:17] abeloin commented on #435
@maZuFC Can you try this python file https://gist.github.com/abeloin/46c78d4a47f7ccdeb54f and give me the results?

[2015-01-31 00:23] maZuFC commented on #435
im confused.. where is that code meant to go?

is that meant to replace my torrentday.py ?

[2015-01-31 00:27] abeloin commented on #435
No, create a new file named test.py, paste the text inside it, remember the location. Then open a command line and go to python bin path(python.exe) and run the command:
[code]

[2015-01-31 00:30] maZuFC commented on #435
oh..

i got this

C:\Python27>python test.py
Traceback (most recent call last):
  File "test.py", line 1, in <module>
    import requests
ImportError: No module named requests

[2015-01-31 00:36] abeloin commented on #435
Requests lib is missing. Download this file https://bootstrap.pypa.io/get-pip.py then:
[code]
When done you should have pip.exe in c:\Python27\Scripts. From that folder, run:
[code]
then run python test.py again

[2015-01-31 00:43] maZuFC commented on #435
ok i got this

C:\Python27>python test.py
[]
{'content-encoding': 'gzip', 'transfer-encoding': 'chunked', 'set-cookie': '__cf
duid=d1a933889e792eb1881659322e643ef341422664954; expires=Sun, 31-Jan-16 00:42:3
4 GMT; path=/; domain=.torrentday.eu; HttpOnly', 'server': 'cloudflare-nginx', '
connection': 'keep-alive', 'date': 'Sat, 31 Jan 2015 00:42:34 GMT', 'cf-ray': '1
b11debb2f4502fd-LHR', 'content-

[2015-01-31 00:46] abeloin commented on #435
Can you edit your post and use the markdown for code, see https://guides.github.com/features/mastering-markdown/

Did you change the login and password in the file to your torrentday credential?

[2015-01-31 00:51] maZuFC commented on #435
yeah im trying to figure out which syntax to use to mark it down..

yep i changed username and password in the code you sent.

[2015-01-31 00:53] maZuFC commented on #435
sorry i stuffed it up.. ok i got a response 302

C:\Python27>python test.py
[<Response [302]>]
{'content-encoding': 'gzip', 'x-powered-by': 'PHP/5.4.36-0+deb7u3', 'transfer-en
coding': 'chunked', 'expires': 'Sat, 31 Jan 2015 00:52:10 GMT', 'server': 'cloud
flare-nginx', 'connection': 'keep-alive', 'cache-control': 'max-age=0', 'date':
'Sat, 31 Jan 2015 00:52:10 GMT', 'cf-ray': '1b11eccff2551389-LH

[2015-01-31 00:57] abeloin commented on #435
Ok so you are successfully authenticated

For the markdown, it's the ` repeated 3 times at the beginning and at the end of the text.

[2015-01-31 00:59] maZuFC commented on #435
```test```

[2015-01-31 01:01] abeloin commented on #435
Is "Access provider via proxy" is activated for TorrentDay?

[2015-01-31 01:03] maZuFC commented on #435
ive been turning it on / off to see if its making any difference
it was ON, but i just turned it off

[2015-01-31 01:04] maZuFC commented on #435
holy crap i dont know what just happened but it just worked!

[code]

[2015-01-31 01:06] maZuFC commented on #435
i dont understand why its suddenly working...

[2015-01-31 01:09] abeloin commented on #435
Taking a wild guess... Maybe when you changed the url you forgot to restart sickrage? Then when you downgraded to 2.7.8 you restarted but "Access provider via proxy" was activated.

[2015-01-31 01:13] maZuFC commented on #435
not sure, ive been restarting sickrage pretty much everytime ive down a change..
and ive restarted the vm too...

maybe that test.py we did actually logged into the site... is it possible that sickrage was failing to log in hence why i was getting the errors?
that test.py may have kick started it?

very strange... well im glad its working.. pity its on my VM!
i now have to redo all of this on my m

[2015-01-31 01:18] abeloin commented on #435
No, the test.py didn't do that as the login info is lost when the script stop.

On your mediacentre, use python 2.7.8 as there are some breaking changes in 2.7.9.

[2015-01-31 01:18] fernandog commented on #435
Dns/cache problems. Not first time I saw it.

[2015-01-31 01:19] maZuFC commented on #435
ok will do,

thanks again

right i gotta get to bed.. .early wake up call tomorrow!

[2015-01-31 01:20] maZuFC commented on #435
@fernandog maybe.. cache.. i did try 3 different browsers.. but i did not cleardns, will remember for next time to do this if i have issues

cheers

[2015-01-31 01:35] sikko1 opened #524 "Sickrage stops working randomly"
I installed Sickrage on Ubuntu 14.04(init.d), it works but after +- 30 minutes, it stops with working
 When I start the service again manually (/etc/init.d/sickrage start), it stops again after 30 minutes.
I looked into the logs, and every time I got this error =>

*** glibc detected *** python: free(): invalid pointer: 0x9feda008 ***
Aborted

Can someone help me please, why I get this error and S

[2015-01-31 03:28] sacii commented on #307
@michaelburton

I opted to recreate the symlink at the beginning of my sickrage startup script.

[2015-01-31 03:38] Greg0rz commented on #483
Sorry, had to travel for a bit.

Replaced the file.  Having trouble actually getting files to pull down from Nyaa. It gets to downloading, and just never actually downloads the .torrent file.  No showing of attempting to hit the http download url or anything.  This is the last log:

2015-01-30 22:35:47 DEBUG    SEARCHQUEUE-MANUAL-272309 :: Traceback (most recent call last):
2015-01-30 22:35:47 INF

[2015-01-31 08:48] udochrist commented on #323
@fernandog on the latest version and getting the

2015-01-31 05:09:47 FINDPROPERS :: Exception generated in thread FINDPROPERS: Proper instance has no attribute 'size'

Provider is nzb.su

[2015-01-31 09:37] ziggyke commented on #486
You firts have to enable root in the settings on your NAS. Then afterwards you can login with the user "root" by ssh with the same password that has been set on the user "admin". Hopes this can help you further now you've root permission on your NAS.

[2015-01-31 10:02] acecon commented on #523
I had the same problem, but instead of removing www, I changed .eu to .com. It's working again. I'm in the US.

[2015-01-31 10:36] fernandog commented on #483
@Greg0rz please try other provider and a normal tv-show

[2015-01-31 10:38] fernandog commented on #323
What about others providers? Try disable this one. We need to exclude a problem with the provider

[2015-01-31 11:07] Trever123 commented on #435
@maZuFC when you find out what made it work can you let me know so I can apply the same changes here

[2015-01-31 11:20] fernandog commented on #435
@Trever123 did you try this ?
https://github.com/SiCKRAGETV/SickRage/pull/1207/files

stop SR, edit the file, save the file. reboot your entire system: router/modem/nas/etc...

[2015-01-31 11:30] Trever123 commented on #435
@fernandog I tried that previously but didn't restart my entire system or router. I was thinking maybe it was something to do with the python version or the install of python requests. I'll try them all later. Just wondered if @maZuFC could streamline the process

[2015-01-31 11:32] fernandog commented on #524
Please use the issue guidelines when posting an issue. This way the dev team is able to debug your problem. Don't forget to use [markdown](https://guides.github.com/features/mastering-markdown/) on any code and log you want to post in-line.

- [ ] Branch
- [ ] Commit hash
- [X] Operating system and python version
- [ ] What did you do?
- [x] What happened?
- [] What did you expect?
- [ ] Link to a

[2015-01-31 11:33] fernandog commented on #523
Please use the issue guidelines when posting an issue. This way the dev team is able to debug your problem. Don't forget to use [markdown](https://guides.github.com/features/mastering-markdown/) on any code and log you want to post in-line.

- [ ] Branch
- [ ] Commit hash
- [ ] Operating system and python version
- [ ] What did you do?
- [x] What happened?
- [x] What did you expect?
- [ ] Link to

[2015-01-31 11:34] fernandog commented on #522
Please use the issue guidelines when posting an issue. This way the dev team is able to debug your problem. Don't forget to use [markdown](https://guides.github.com/features/mastering-markdown/) on any code and log you want to post in-line.

- [x] Branch
- [x] Commit hash
- [x] Operating system and python version
- [ ] What did you do?
- [x] What happened?
- [ ] What did you expect?
- [ ] Link to

[2015-01-31 11:35] fernandog commented on #521
provide full logs.

[2015-01-31 11:38] maZuFC commented on #435
@Trever123 ill do what i can and take notes of what i did, versions etc..

will give it a shot hopefully tomorrow on my media  centre...

[2015-01-31 11:57] Jezze83 commented on #523
I dont understand that what happened and what did u expect. I already told what happened, worked couple days ago and suddenly didnt worked anymore. But that what what did u expect, what it means? What should i expect? Ill try soon that what @acecon said.

[2015-01-31 12:20] Jezze83 commented on #523
Now it works, that would be nice if its updated to develop version. Thanks @abeloin and @acecon

[2015-01-31 12:20] refosk opened #525 "sickrage synology 413j permission denied"
I get this error on synology ds413j, DSM 5.1-5022 Update 1, sickrage 20150103-1::
2015-01-31 12:59:31 SEARCHQUEUE-DAILY-SEARCH :: Unable to save the file: error 13 : Permission denied
2015-01-31 12:59:04 SEARCHQUEUE-BACKLOG-72227 :: Unable to save the file: error 13 : Permission denied
2015-01-31 12:58:01 DAILYSEARCHER :: MD5 hash does not match: C36513DE5AC7A65134D6B85B6BD29C45 File: 575693BD55F2

[2015-01-31 13:55] andyblac commented on #51
@fernandog that looks like you are sorting name, that works and not the issue, try sorting via DOWNLOADS, then name is not sorted correctly ie all the 'The' are grouped together.

[2015-01-31 16:09] abeloin commented on #435
@Trever123 Try the following, which is essentially what was done on maZuFC's system:
* Make sure you're using the url provided by this [commit](https://github.com/SiCKRAGETV/SickRage/pull/1207/files).
* Uncheck "Access provider via proxy" in the TorrentDay config options.
* Restart sickrage.

As for installing Requests, it's only needed for testing with the torrentday test script I've asked maZuFC

[2015-01-31 16:23] abeloin commented on #523
@fernandog Fixed with pull request SiCKRAGETV/SickRage#1267

[2015-01-31 16:47] abeloin commented on #51
@andyblac Can you try this commit https://github.com/abeloin/SickRage/commit/f79951832eaa8e7fc644c16b216f7d568fba2f43? With it you don't need to use the shift key.

[2015-01-31 16:48] abeloin commented on #311
@timrettop Can you try this [commit](https://github.com/abeloin/SickRage/commit/cb68f649ea1d725249d13ca27daafe05f4e8a7e8)?

[2015-01-31 17:26] fernandog commented on #523
Thanks!

[2015-01-31 17:29] timrettop commented on #311
@abeloin I'm having some trouble getting sick rage to access the configuration menus since backing up the config and database, blowing away the directory, and cloning develop and restoring the settings.

I'm running into issue #407 but stopping the service and starting it again doesn't resolve the issue.
Besides the LOG_NR error when accessing the General menu, I also get this error when accessing

[2015-01-31 17:39] timrettop commented on #311
@abeloin Nevermind, found the issue, stuck process.

I'm getting an error when testing the 'Test Boxcar2' option:

[code]

[2015-01-31 17:40] timrettop commented on #456
@fernandog I also confirm this works great, thanks!!

[2015-01-31 17:40] abeloin commented on #311
@timrettop Can you confirm you applied the commit in my previous comment?

[2015-01-31 17:43] timrettop commented on #311
@abeloin Oh geez, I should read shouldn't I.  After applying that commit, it worked perfectly!   Thanks!

[2015-01-31 17:55] abeloin commented on #311
@timrettop Thank you for testing this commit.

@fernandog Fixed with pull request SiCKRAGETV/SickRage#1268

[2015-01-31 17:56] fernandog commented on #311
thanks again!

[2015-01-31 18:01] abeloin commented on #525
Try chmod 777 on the download directory. If it's still not working, find out the user running sickrage and make sure that user as the right to traverse folder(x permission) recursively to the download folder.

[2015-01-31 18:39] LinuxBozo commented on #301
@ChipSkylark37 In reality, it doesn't actually send anything. It just checks to make sure that it can authorize and connect so it can send in the future.

[2015-01-31 18:51] LinuxBozo commented on #301
@dmarcelino Pull above, SiCKRAGETV/SickRage#1269, should fix the recommended shows issue, and allow you to set your own timeout value when connecting to the API. Would appreciate your report on whether that fixes that up for you.

[2015-01-31 19:22] wborrelli commented on #521
It happened again. Full set of logs attached.
Real.Time.With.Bill.Maher.2015.01.30.HDTV.x264-BATV[rarbg] - added 31 Jan - 01:00:09 (am)
Real.Time.With.Bill.Maher.2015.01.30.HDTV.x264-BATV.mp4 - added 31 Jan - 10:20:02 (am)

Not sure where to upload logs here, so I put them (it) on my GDrive.
http://goo.gl/BOZ49G

[2015-01-31 20:47] abeloin commented on #521
Here's the useful info from the logs:
[code]

[code]

Look like findproper is the causing the issue. What's the preferred quality for that show?

[2015-01-31 20:47] Greg0rz commented on #483
Same issue.  I think the provider python file might have messed it up.

2015-01-31 15:46:42 DEBUG    SEARCHQUEUE-MANUAL-269586 :: Traceback (most recent call last):
2015-01-31 15:46:42 INFO     SEARCHQUEUE-MANUAL-269586 :: Downloading Brooklyn.Nine-Nine.S02E14.720p.WEB-DL.DD5.1.H.264-NTb from BTN
2015-01-31 15:46:42 DEBUG    SEARCHQUEUE-MANUAL-269586 :: Checking if we should keep searching after w

[2015-01-31 21:04] wborrelli commented on #521
Preferred quality on all my shows should be SD. I double checked Real Time, and it is set to SD.

I have also, just now, disabled "grab proper."

Lets see what happens now.

[2015-01-31 21:09] fernandog commented on #483
Sorry. Could not understand what you mean.

[2015-01-31 21:14] Greg0rz commented on #483
Sorry I misspoke.  I think changing the uTorrent.py file has messed up the process of getting torrents.
Just put back the original uTorrent.py and now .torrent files from every provider are being properly downloaded and inserted into uTorrent (albeit without labels).

[2015-01-31 21:15] Greg0rz commented on #482
What can I do to get these shows to work then?  It seems like quite a good number of animes aren't working

[2015-01-31 21:17] fernandog commented on #483
So Labels and Seed Time are still not working with SR utorrent.py version?

[2015-01-31 21:18] fernandog commented on #482
Did you try another provider?

[2015-01-31 21:20] Greg0rz commented on #482
This is the only provider that will have most of these shows.  In addition to the fact that they are released here first :(

[2015-01-31 21:20] Greg0rz commented on #483
Using the utorrent.py provided above, torrent files never even made it to uTorrent.

Going back to the old one that comes with sickrage, torrents work again. (both from nyaa and from btn)

[2015-01-31 21:23] fernandog commented on #483
So can we close the issue?

[2015-01-31 21:24] fernandog commented on #482
@echel0n must update regex or do something else to make ir work

[2015-01-31 21:24] Greg0rz commented on #483
What I'm saying is the new utorrent.py did not work at all.  So essentially the problem is right back where it started

[2015-01-31 22:04] maZuFC commented on #435
@Trever123 @abeloin @fernandog

ok guys, so i did the sickrage install on my media centre and it worked straight away.. snatched torrents without any problems and started downloading.. just have to configure it for processing and where to put downloaded episodes etc.. that should be easy! (hopefully)

Trever, i followed these steps... let me know if you need me to clarify anything

follow these in

[2015-01-31 22:39] Trever123 commented on #435
DONE! FIXED! Just a side note for anyone else who stumbles across this. I am running my setup on an Ubuntu 14.04 server so updating python is very difficult (a lot of ubuntu runs on python supposedly). I did the steps as above but only the change of the URL's and disabling the proxy use. So the steps as follows were:

1. sudo apt-get update
2. sudo apt-get upgrade
3. sudo apt-get install python-ch

[2015-01-31 22:43] #291 closed

[2015-01-31 22:51] refosk commented on #525
Solved, I also have to give permission to the black hole folder.

[2015-01-31 22:52] #525 closed

[2015-01-31 22:53] seanpac opened #526 "issue adding custom RSS URL"
"Error when trying to load RSS: must be string or buffer, not None"

example of RSS URL:
http://37.187.9.5:8080/TorrentzRSS/process.php?f=rss&p=feed-1-t15-d120-rk&r=&q=grimm

This is generated from TorrentzRSS (https://github.com/Theadd/TorrentzRSS)

[2015-01-31 23:49] lbjb opened #527 "Log filled with "TypeError: zip argument #1 must support iteration""
Branch: develop
    Commit hash: c62d8f2c799edd7daad5648f45276a3464d83a9e
    Your operating system and python version: FreeBSD 9.2-RELEASE-p9, Python 2.7
    What you did: Normal operation - processing show backlog
    What happened: Thousands of errors logged
    What you expected:
    Link to a copy/paste of your logfile with clear debug info of the error on PASTBIN: http://pastebin.com/KFet6DZ

[2015-02-01 02:02] abeloin commented on #526
Please use the issue guidelines when posting an issue. This way the dev team is able to debug your problem. Don't forget to use markdown on any code and log you want to post in-line.

[ ] Branch
[ ] Commit hash
[ ] Operating system and python version
[*] What did you do?
[*] What happened?
[*] What did you expect?
[ ] Link to a copy/paste of your logfile with clear debug info of the error on paste

[2015-02-01 02:16] abeloin commented on #323
@neoatomic Do you still have the issue with opennzb.net? As looking at there feed I see a pubdate now.

[2015-02-01 03:41] abeloin commented on #482
@Greg0rz [This commit](https://github.com/abeloin/SickRage/commit/f1d46a54cea4e0ec542c2e8c1a66808d0ac88698) should fix the issue for show with ' in it. You will need to switch to the develop branch to test it.

[2015-02-01 09:09] Koal4 commented on #323
I've been running SR for a couple of days now and I also noticed this error popping up every time.

[2015-02-01 10:26] OmgImAlexis opened #528 "Failed doing webui callback"
Branch: master
Commit hash: SiCKRAGETV/SickRage@401cb666016e45b42fe675bafdf7908ad6c2b9bb
OS: Ubuntu 14.04 64bit
Python: 2.7.6 (default, Mar 22 2014, 22:59:56) [GCC 4.8.2]
Pastebin: http://pastebin.com/raw.php?i=4E7XHRvz

This happens overnight and also when I'm running the manual post processing. I have no clue what the reason for it is and sickrage seems to work fine even with this error. I've be

[2015-02-01 10:34] fernandog commented on #528
Please use develop branch and report back

[2015-02-01 11:05] neoatomic commented on #323
Yes. i still have one of the errors. (the other is gone as i mentioned before.)

[code]

If pubdate is added and that was the problem. then the other error should be gone tomorrow. Will give an update than.

[2015-02-01 11:24] OmgImAlexis commented on #528
@fernandog I'm running the development branch now and I'll report back in a few days.

[2015-02-01 11:32] TehWardy commented on #287
I believe this is still broken ... After clean install from master branch yesterday I am still able to replicate this problem.

[2015-02-01 12:12] MLWALK3R commented on #523
I just tested this that pull request SiCKRAGETV/SickRage#1267 and it doesn't fix it for me.

[code]

[2015-02-01 12:50] TehWardy opened #529 "Improved failure handling"
When using sickbeard / sickrage combined with sab it would be really helpful if it could automatically try the next item from the results found during nzb searches in the event that sickbeard has a history item showing a fail.

With torrents  or if sab API does not offer an option to look through the history maybe a timeframe could be specified during which a snatched item is still considered to b

[2015-02-01 12:57] fernandog commented on #287
develop branch. not master.

[2015-02-01 13:43] dobdob commented on #521
I am seeing similar behaviour. SItting with 6 copies of black sails S02E02 in my SABnzbd queue.

Some logs:
[code]
Full log for one of the entries
[code]

[2015-02-01 14:27] djack42 opened #530 "[Feature Request] Disk space check before move to smb share"
SR Version:
BRANCH: (develop)
COMMIT: (c62d8f2c799edd7daad5648f45276a3464d83a9e)
Os : geexbox linux
Python Version:	2.7.1 (r271:86832, Aug 23 2014, 08:54:18) [GCC 4.8.3 20140401 (prerelease)]

When the postprocess move the files to a samba share, if there isn't enough disk space to move the episode, the file is partialy Moved and treated as processed successfully. And nothing tells that the file i

[2015-02-01 14:39] dobdob commented on #521
I'm having similar problems with Ascension at the moment. From a GUI point of view it looks like the snatched status is being ignored or not updated. For Black Sails S02E02 is currently marked as wanted even though it snatched it 6 times already. On Ascension the one episode that is in my SABnzbd queue waiting to complete is marked as snatched, yet the filters at the top show snatched as 0.

[code

[2015-02-01 14:57] TagForce commented on #521
I think I see the same behaviour. Episodes keep on snatched even though they've been post-processed succesfully. Snatched selection button says 0 episodes have status snatched. Strange that this also happens on master. Don't know when it started, exactly.

Don't have time to dive into this right now. I'll try to figure out what exactly happens as soon as I can.

[2015-02-01 16:31] abeloin commented on #323
@neoatomic Can you apply [this commit](https://github.com/abeloin/SickRage/commit/cf6b61e4fe87a355896cc3543b82468b92490c0f)?

[2015-02-01 16:33] abeloin commented on #323
@Koal4 Can you open a new issue and provide full log? Thank You

[2015-02-01 16:34] dmarcelino commented on #301
@LinuxBozo, thanks for such a quick replay and fix.

1. Thanks, I've disabled "Sync libraries" now;
2. I see the problem, your solution is a good way to mitigate it;
3. I've applied the patch using:
[code]
and now I'm getting a slightly different error:
[code]
So I've looked at your code changes, looked at what trakt.tv was sending and was able to come up with a fix. I issue a PR into your branch.

[2015-02-01 16:39] jrmsuper opened #531 "Unable to save the file: error 2 : No such file or directory"
I see this has been previous issue but I have had no success at finding a resolution. I have no idea what to do and it's really frustrating.

I have SickRage fully installed but when SickRage snatches a torrent it does not send the file to rTorrent to download. I am using SickRage / rTorrent / WhatBox. Do I have to connect with scgi??

2015-02-01 06:43:11 SEARCHQUEUE-MANUAL-161511 :: Unable to sav

[2015-02-01 16:44] LinuxBozo commented on #301
@dmarcelino Good stuff.. Merged, so it becomes part of the whole SiCKRAGETV/SickRage#1269 pull. I'm guessing that all the recommended shows bit now works properly?

[2015-02-01 16:46] dmarcelino commented on #301
Indeed! :smiley:

[2015-02-01 16:51] TehWardy commented on #287
Ok confirmed, just pulled the develop branch still getting this issue.

[2015-02-01 16:53] TehWardy commented on #287
Here's my current log ...

2015-02-01 16:52:56 Thread-41 :: cannot concatenate 'str' and 'exceptions.TypeError' objects
2015-02-01 16:49:18 Thread-39 :: cannot concatenate 'str' and 'exceptions.OSError' objects
2015-02-01 16:19:38 DAILYSEARCHER :: MD5 hash does not match: C36513DE5AC7A65134D6B85B6BD29C45 File: 537FC41E67D5E644EC8E330F770F981D
2015-02-01 16:19:38 MAIN :: Unable to save the file: er

[2015-02-01 17:46] fernandog commented on #287
FULL logs please. Also commit hash and etc.

[2015-02-01 17:49] TehWardy commented on #287
Uh that's all there was in the UI (I copied from the error log page in to here).
Is there some way I can grab a full debug trail with a stack trace for you guys when this stuff happens ... i'm a C# programmer, this python stuff is a little out of my world.

[2015-02-01 17:55] markeynz opened #532 "Show Count in footer"
HI

The show count in the footer appears to be maxed out at 1024.I think because of this, the number of shows and downloaded shows is also incorrect.

[2015-02-01 17:58] seanpac commented on #526
What did you do?
    Adding a custom torrent

What happened?
    Received error dialogue message :"Error when trying to load RSS: must be string or buffer, not None"
    Custom URL not added.

What did you expect?
    Custom URL to be added.

Configuration
SR Version:	BRANCH: (develop) / COMMIT: (c62d8f2c799edd7daad5648f45276a3464d83a9e)
SR Config file:	/home/sean/my-sickbeard-install/config.ini
S

[2015-02-01 18:00] fernandog commented on #287
/SickRage/Logs/sickrage.log

[2015-02-01 18:01] OmgImAlexis commented on #528
Everything's the same but I'm using the dev branch with commit SiCKRAGETV/SickRage@c62d8f2c799edd7daad5648f45276a3464d83a9e
http://pastebin.com/raw.php?i=dED80f6e

[2015-02-01 18:10] fernandog commented on #528
Stop SR.
Change this file as in here
https://github.com/SiCKRAGETV/SickRage/pull/1247/files
Start SR.
report back

[2015-02-01 18:19] OmgImAlexis commented on #528
That seems to have fixed it but I'll leave it overnight(it's 5AM here) and get back to you tomorrow if it's all well.

[2015-02-01 18:24] fernandog commented on #528
Did you run manual PP and got no error?

[2015-02-01 18:25] fernandog commented on #231
https://github.com/SiCKRAGETV/sickrage-issues/issues/528#issuecomment-72376359

[2015-02-01 19:40] TehWardy commented on #287
Ok so here's the chunk that relates to this error ...

2015-02-01 19:38:39 ERROR    Thread-51 :: cannot concatenate 'str' and 'exceptions.KeyError' objects
Traceback (most recent call last):
  File "/share/MD0_DATA/.qpkg/SickBeard-TVRage/SickBeard-TVRage/sickbeard/logger.py", line 192, in submit_errors
    issue = gh.get_organization(gh_org).get_repo(gh_repo).create_issue("[APP SUBMITTED]: " + cur

[2015-02-01 19:47] TehWardy commented on #287
2015-02-01 19:46:21 ERROR    Thread-66 :: cannot concatenate 'str' and 'exceptions.TypeError' objects
Traceback (most recent call last):
  File "/share/MD0_DATA/.qpkg/SickBeard-TVRage/SickBeard-TVRage/sickbeard/logger.py", line 192, in submit_errors
    issue = gh.get_organization(gh_org).get_repo(gh_repo).create_issue("[APP SUBMITTED]: " + curError.title, message)
TypeError: cannot concatenate 's

[2015-02-01 19:57] fernandog commented on #287
Are you sure you are using develop??

[2015-02-01 21:34] abeloin commented on #287
@fernandog Pull request SiCKRAGETV/SickRage#1233 is yet to be merge in develop.

[2015-02-01 21:38] TehWardy commented on #287
I went in to the options area of sickrage and in the bit on git selected the develop branch then hit the button.

It took its time restarting it seemed to work fine doing that on its own ...
Under help and info it says:

     BRANCH: (develop) / COMMIT: (c62d8f2c799edd7daad5648f45276a3464d83a9e)

Is this correct version?
If not how do I force an update to the correct version?

[2015-02-01 21:42] abeloin commented on #526
@seanpac It's unable to connect to torrage.com to retrieve the torrent.

[2015-02-01 22:20] abeloin commented on #526
@seanpac Torage.com doesn't exists anymore. You will need to check in the software TorrentzRSS how to remove those invalid results or update the feed.

[2015-02-01 22:33] abeloin commented on #531
In sickrage, the rtorrent lib is limited to scgi(local) or http(with or without basic auth).

There's currently a [pull request](https://github.com/SiCKRAGETV/SickRage/pull/1244) for the develop branch which add https(basic and digest auth) to the rtorrent branch which should help you if you have httprpc plugin in rutorrent.

[2015-02-01 23:04] #526 closed

[2015-02-01 23:08] VeNoMouS commented on #483
This is due to the way sickrage init's its class for their uTorrent code .. it wont work just copying the file over the top , as my code isn't in a class its static functions.. but you can make mod's to the current class based on my source... if I find some time this afternoon I'll post a somewhat fix if I can..

[2015-02-01 23:11] fernandog commented on #483
Thanks!

[2015-02-01 23:16] abeloin commented on #532
Looking at the code there's nothing indicating a max value:
[code]

[2015-02-01 23:31] abeloin commented on #522
@Rafkat Check your file permission

[2015-02-02 00:43] Electr0Fi commented on #370
Any update on a fix for this error?
Is there any other information I can provide?

[2015-02-02 01:41] VeNoMouS commented on #483
I need to test this when im at home.. but the problem could be here..

[code]

The file label is being defined with result.name, where as I don't define the name I allow uTorrent to work it out itself and simply send the file, I control everything via the hash...

[code]

I'll test the theory tonight with your default, then without result.name in it...

[2015-02-02 01:49] VeNoMouS commented on #483
Also... I need to check if your token is staying valid, after each call... because I discovered some messy stuff with uTorrents auth token... something along the line of each api call required a new token or something... I'll test that idea again... if your reusing or dropping the token (cant remember which was the problem) uTorrent might just be rejecting the request..

[2015-02-02 02:16] OmgImAlexis commented on #528
I ran a manual post-process last night and nothing came up but I just got up and I've got 13 copies of this error so it may not have really fixed much. Usually I get the no len() error 2 - 5 times in a night and I got this one 13 times. http://pastebin.com/raw.php?i=NRZ4LKid

[2015-02-02 02:40] markeynz commented on #532
Hmm, even adding another 3 shows today, and its still sat at 1024.  I know no python but can read a bit of code so will look :)

[2015-02-02 02:52] markeynz commented on #532
Error on my behalf, I forgot to include subfolders of my TV dir as separate directories.  So obviously it didnt recurse the folder and pick them up when adding the root folder :)

[2015-02-02 02:59] VeNoMouS commented on #483
Hrm....

This is an example from my code with labeling etc (not via sickbeard.. just some haxed code)...
![My Code Example](http://i.imgur.com/7e9Tfu3.png)

And this is an example of labeling using sickrage..
![SickRage Exampe](http://i.imgur.com/IbEuyD6.png)

As you can see both labels were set.. Can you please supply the URL you were trying to access for said failed torrent..

[2015-02-02 03:14] VeNoMouS commented on #483
Hrrm... interesting... found a version of uTorrent 2.2.1 and ran that under wine... my temp hacked up code worked fine... how ever on the exact same url... SickRage Failed...

[2015-02-02 03:16] #532 closed

[2015-02-02 03:51] VeNoMouS commented on #483
Ok worked it out... @fernandog , your adding the token last... if you move it to the second param it works in 2.2.1...

Example
[code]

Rather than params.update() in your _request.. I defined it as the second param in the dict.. uTorrent 2.2.1 seems to require it in a specific order... even tho dict's arent really "ordered"... weird.. but if you do that it fixes the issue with 2.2.1

Hope that he

[2015-02-02 09:31] fferraro87 opened #533 "[Feature Request] Add bitmetv/bB/tTN torrent providers"
can you add new torrent search providers(bitmetv,bB,tTN etc etc) and delete old and not working (like tvtorrents)?
thanks anyway

[2015-02-02 10:17] tchirou opened #534 "Episodes are not snatched right away anymore"
Hello

BRANCH: (develop) / COMMIT: (c62d8f2c799edd7daad5648f45276a3464d83a9e)
Python 2.7.6 / Win 8.1
Episodes are not paused, default ep status is "wanted" for all. They appear in the coming episodes list.
Update shows on startup is checked. PC is not 24/7 on but it never was, I did not change its behavior. I am in GMT+1 and shows are displayed in Local timezone.

Until the major december problems

[2015-02-02 11:01] neoatomic commented on #323
Now i'm also having the same error as Koal4.
( can't post the log as it doesn't contain the bug anymore..)

[code]

[2015-02-02 11:06] andyblac commented on #51
@abeloin yes that works :+1:

[2015-02-02 13:02] wborrelli commented on #521
Ever since un-checking "Download Propers" there have been no duplicate downloads. Tuesday is a pretty heavy night, so I will post what I see Wednesday Morning.

[2015-02-02 13:52] Rafkat commented on #522
@abeloin I have modified all permissions as per http://sickbeard.com/forums/viewtopic.php?f=4&t=5003#p23028 However, this hasn't resolved the issue. Is there something else I need to amend?
Thank you.

[2015-02-02 13:56] Rafkat commented on #522
@fernandog
What did you do? - Just restarted SickRage or even without restarting!
What did you expect? I expect no errors in error log!
Typical Debug info:
2015-02-02 13:53:20 DEBUG    SHOWQUEUE-FORCE-UPDATE :: 266883: Setting status for 2x11 based on status 404 and existence of /volume1/video/TV Series/English/The Originals/Season 2/The Originals.S02E11.Brotherhood of the Damned.mkv
2015-02-02 13

[2015-02-02 14:36] abeloin commented on #522
@Rafkat What is the owner,group,permissions for 'The Vampire Diaries.S06E12.Prayer For the Dying.mkv' and it's parent folder? Because Sickrage is telling it's unable to modify(touch) the file which mean the user "auto"(if using the username provided in guide) has no write access to the file.

[2015-02-02 14:48] Rafkat commented on #522
@abeloin Owner set, as in manual, to sickbeard-custom:users, plus I've also set permissions to 777, but with no luck.

[2015-02-02 14:50] abeloin commented on #534
What is your dailysearch_frequency value in config.ini?

[2015-02-02 14:51] TagForce commented on #521
[code]

If you ask me, it fails to set the episode status to snatched. As you can see, on both Daily Search runs, it find the same episode, looks it up, and gets a status of 3 (wanted). Even though the logs say it has previously succesfully sent the episode to Sab.

[2015-02-02 14:53] tchirou commented on #534
60min

[2015-02-02 15:26] abeloin commented on #522
@Rafkat Can you check in your log if you this line(it should be around 'Unable to modify date...'):
[code]

[2015-02-02 15:36] Rafkat commented on #522
@abeloin Nope, there is no such an error in the debug log. :-/

[2015-02-02 15:43] abeloin commented on #522
@Rafkat Can you try this command in the folder containing the file as the sickrage user?
[code]

[2015-02-02 15:53] abeloin commented on #522
@Rafkat In my previous comment I said "write access" but what I wanted to write was ownership. Because "Change File Date" option will only work if sickrage is the owner of the file.

[2015-02-02 15:57] Rafkat commented on #522
@abeloin I'll check that command tonight. But It looks like Sickrage is the owner. If I run it as sickrage-custom user and ls command shows owner is the same, then SickRage should be able to modify it. Unless Synology OS is restricted this kind of modification to admin users only. Will run it tonight and let you know. Thx.

[2015-02-02 15:59] ameic opened #535 "New shows stuck to loading (same as #480)"
BRANCH: Master
COMMIT: (401cb666016e45b42fe675bafdf7908ad6c2b9bb)
Operating system: W7 SP1
Python Version:	2.7.8 (default, Jun 30 2014, 16:03:49) [MSC v.1500 32 bit (Intel)]
What you did: tryed to add new show
What happened: show is stuck at loading and never adds
What you expected: show to be added on list

Hi, I have the exact same issue as Bloom SN, also nothing in logs (debug on). An empty dir

[2015-02-02 16:00] abeloin commented on #534
It explain why it took an hour to find the show as the daily search is run every 60 mins.

Can you try setting "Update shows on startup" in config General->Misc, and see if it helps.

[2015-02-02 16:02] tchirou commented on #534
Yeah but when everythong was going well, it tried to snatch on startup because it already knew what was aired the day before
Update shows on startup is already checked.

[2015-02-02 16:11] abeloin commented on #534
What is your backlog_startup value in config.ini?

[2015-02-02 16:12] tchirou commented on #534
720min

[2015-02-02 16:13] abeloin commented on #534
You're sure?

[2015-02-02 16:13] tchirou commented on #534
Or 1, I don't know which one you meant.
Daily search is at 1 too

[2015-02-02 16:15] tchirou commented on #534
Well I mean I read too fast and gave you the backlog_frequency

[2015-02-02 16:16] abeloin commented on #534
Can you make sure both options have a value of 1(you will need to stop sickrage first):
[code]

[2015-02-02 16:16] tchirou commented on #534
Yes they are

[2015-02-02 16:19] abeloin commented on #534
ok, can you try with "Update shows on startup" not checked?

[2015-02-02 16:20] tchirou commented on #534
To be honest, I noticed the strange behavior a while ago and I tested with ou without before deciding to post an issue
When it worked last year, it was checked.
I am going to unckeck it and we will see tomorrow

[2015-02-02 16:23] tchirou commented on #534
So can you tell me if your SR snatches them right away at startup ?
Because I thought for one minute that this might have been changed on purpose.

[2015-02-02 16:27] abeloin commented on #534
Yes, it do snatch right away.

If it doesn't work, I'll need a log from when sickrage start to see what tasks are running.

[2015-02-02 16:31] tchirou commented on #534
Alright. I stopped SR and deleted all the logs so it will be fresh clean tomorrow.
Thanks

[2015-02-02 16:43] abeloin commented on #534
No need to wait until tomorrow, send me the last file from that restart(e.g.: sickrage.log.1, the one with the biggest number)

[2015-02-02 16:45] tchirou commented on #534
To be clear
do you want the logs from this morning with "update shows on startup" checked the the snatch of the blacklist ?
Or do you want that I start SR now after deleting the log files with "updates show on startup" unchecked ?

[2015-02-02 16:46] abeloin commented on #534
Second one, take the log after a minute or 2.

[2015-02-02 16:57] tchirou commented on #534
Here you go : http://pastebin.com/Q41f1KrX

[2015-02-02 17:13] abeloin commented on #534
Ok good the BACKLOG and SEARCHQUEUE-DAILY-SEARCH are running at the begining of sickrage.
Tomorrow, check in the log after you started sickrage for:
[code]

[2015-02-02 17:14] tchirou commented on #534
Ok thanks

[2015-02-02 17:54] Rafkat commented on #522
@abeloin It looks option t for touch just doesn't exist:
Usage: touch [-c] [-d DATE] FILE [FILE]...

Update the last-modified date on the given FILE[s]

Options:
	-c	Don't create files
	-d DT	Date/time to use

[2015-02-02 19:30] dmarcelino commented on #457
Today I've also hit this same issue, using `SR Version:
BRANCH: (develop) / COMMIT: (435d62eba47eae99baaf652129d7dfdefd389e29)`.

My db output:
[code]

I've fixed it using:
[code]

[2015-02-02 19:44] fernandog commented on #483
@abeloin can you help me with this if you have the time? I'm away from home for a few days. thanks

[2015-02-02 19:57] abeloin commented on #522
@rafkat For date(-d) try this:
[code]

[2015-02-02 20:01] abeloin commented on #483
@fernandog Yes

[2015-02-02 20:51] Rafkat commented on #522
@abeloin Unfortunately, its not working:
touch -d "2015-01-25 01:05:00.000000000 +0500" "The Vampire Diaries.S06E12.Prayer For the Dying.mkv"
touch: invalid option -- 'd'
BusyBox v1.16.1 (2015-01-07 15:00:31 CST) multi-call binary.

Usage: touch [-c] [-d DATE] FILE [FILE]...

Update the last-modified date on the given FILE[s]

Options:
	-c	Don't create files
	-d DT	Date/time to use

[2015-02-02 21:16] abeloin commented on #483
@fernandog This [commit](https://github.com/abeloin/SickRage/commit/0ae4384f33d7ebb70e39d47dddd3c5aea6fc49b2) should fix the issue, it place the token as the first param.
@Greg0rz Can you try [this commit](https://github.com/abeloin/SickRage/commit/0ae4384f33d7ebb70e39d47dddd3c5aea6fc49b2)?

[2015-02-02 21:18] Captsha commented on #457
I have created a PR with the modification do I did in my side and commented before.
When both PR will be validated, this problem should be resolved.

[2015-02-02 21:35] abeloin commented on #522
@Rafkat http://forum.synology.com/enu/viewtopic.php?f=19&t=83345

[2015-02-02 21:39] abeloin commented on #51
@andyblac Done
@fernandog See SiCKRAGETV/SickRage#1276 fix OP issue

[2015-02-02 21:41] Rafkat commented on #522
@abeloin Thanks a lot for digging this out. Is that something that might be incorporated into SickRage? Or should I just ignore that error in future? Or perhaps this functionality might be switched off for Synology version of the SickRage, indeed unless this feature is crucial for SickRage operating.
Many thanks for your time and help!!!

[2015-02-02 21:49] fernandog commented on #51
Thanks!

[2015-02-02 22:05] abeloin commented on #522
Still it should work, can you try:
[code]
then in the python interpreter:
[code]
then
[code]

[2015-02-02 22:11] Rafkat commented on #522
@abeloin
stat test.txt
  File: "test.txt"
  Size: 0         	Blocks: 0          IO Block: 4096   regular empty file
Device: 900h/2304d	Inode: 26094       Links: 1
Access: (0644/-rw-r--r--)  Uid: (    0/    root)   Gid: (    0/    root)
Access: 2015-02-01 05:00:10.000000000
Modify: 2015-01-31 05:00:10.000000000
Change: 2015-02-02 22:10:46.000000000

[2015-02-02 22:54] VeNoMouS commented on #483
@abeloin I tested and can confirm this works.

[2015-02-02 23:39] abeloin commented on #522
So it does work, then it's a ownership issue. Make sure the user running sickrage is the same as the file's owner.

[2015-02-02 23:42] abeloin commented on #483
@VeNoMouS Thank You

[2015-02-02 23:44] fernandog commented on #531
https://github.com/SiCKRAGETV/sickrage-issues/issues/242

[2015-02-02 23:44] #531 closed

[2015-02-02 23:46] fernandog commented on #528
closing it's duplicate. see the other discussions

[2015-02-02 23:46] #528 closed

[2015-02-02 23:56] fernandog commented on #535
post full logs in #480

[2015-02-02 23:56] #535 closed

[2015-02-02 23:57] fernandog commented on #524
no responde. closing

[2015-02-02 23:57] #524 closed

[2015-02-03 00:04] fernandog commented on #434
no reply. closing

[2015-02-03 00:04] #434 closed

[2015-02-03 00:04] fernandog commented on #431
no reply. closing

[2015-02-03 00:05] #412 closed

[2015-02-03 00:08] fernandog commented on #369
no reply. closing

[2015-02-03 00:08] #369 closed

[2015-02-03 00:10] Rafkat commented on #522
@abeloin Yes, you are right - it's my bad. I've checked and updated whole video folder to sickbeard-custom:users and it works now! Thanks for the time and assistance!

[2015-02-03 00:10] #522 closed

[2015-02-03 00:10] fernandog commented on #340
@BKSteve did you try develop branch?

[2015-02-03 00:12] fernandog commented on #336
@abeloin @cvockrodt what should we do to fix it?

[2015-02-03 00:12] #330 closed

[2015-02-03 00:35] #258 closed

[2015-02-03 00:37] #296 closed

[2015-02-03 00:38] Quiptix opened #536 "BUG: Retrying search episode after failing download fails"
Version SR: BRANCH: (develop) / COMMIT: (c62d8f2c799edd7daad5648f45276a3464d83a9e)

When a episode fails to download in nzbget and nzbtomedia sends the failed request SR doesn't search for a next possible download. I can discover this log message which seems related to the issue.

[code]

NAS: QNAP
OS: Linux QNAP 3.4.6 #1 SMP Sat Nov 1 09:17:08 CST 2014 x86_64 unknown
Python: 2.7.3 (default, Apr 1

[2015-02-03 01:42] abeloin commented on #522
@Rafkat You're welcome

[2015-02-03 01:50] abeloin commented on #336
@fernandog This should be a classified as improvement. It would require adding default value for host field depending on the selected client.

[2015-02-03 02:21] abeloin commented on #336
@fernandog Forgot to mention I'm waiting for the rtorrent pull request to be merge before doing any changes as it will modify config_search.tmpl which is also modified by the pull request.

[2015-02-03 02:48] abeloin commented on #329
@WarB3asT Can you try the develop branch and apply [this commit](https://github.com/abeloin/SickRage/commit/ec860e502b6dfa6e60834bd372ad46977f34a7d4)?

[2015-02-03 03:01] abeloin commented on #490
@fernando Looking at this more carefully, I don't think we should change the behavior. Webroot seems to be mainly used for reverse proxy on the same dns name. Also by default, on new installation, the webroot is /.

[2015-02-03 03:03] abeloin commented on #498
@malikeye Any news?

[2015-02-03 03:04] abeloin commented on #479
@netohugo Any good news?

[2015-02-03 03:30] abeloin commented on #361
Can you try putting this in SickBeard.py after import traceback and restart:
[code]

[2015-02-03 03:31] abeloin commented on #503
@fernandog Almost done

[2015-02-03 04:17] ameic commented on #535
Hi, thanks for responding. I had a brain wave and removed all of my shows and eventually it's started working again, so it looks like one or some of the shows is causing trouble. I'll add them all one by one and If I find out which one it is I'll post logs as advised. Cheers.

[2015-02-03 07:32] seed1234 opened #537 "Updating to develop Branch Error ( FreeNAS)"
2015-02-03 11:27:10 ERROR    Thread-34 :: Error while trying to update: ascii : /usr/pbi/sickrage-amd64/share/sickrage/SickRage/sr-update/SiCKRAGETV-SickRage-c62d8f2/gui/slick/images/network/télé-québec.png : error 112 : error 113 : ordinal not in range(128)
2015-02-03 11:27:09 INFO     Thread-34 :: Extracting file /usr/pbi/sickrage-amd64/share/sickrage/SickRage/sr-update/sr-update.tar
2015-02-03

[2015-02-03 08:12] tchirou commented on #534
Hello
So "update shows at startup" disabled.
No snatch at all
Here is the log : http://pastebin.com/xhnW2Gtg
It does not find anything in the daily search nor the backlog search
They are not in the backlog overview either.
In each show page, the episodes are "unaired".

I hope I don't have to set a fresh SR from scratch...

[2015-02-03 09:22] benhopperau commented on #534
I seem to be having the same issue. The shows information appears to be out of date where the Airdate is Never and the status is skipped. Then if I check TVDB all of the information is there. I can then run a "Force Full Update" and then all of the episodes are available. At that time it then snatches the missing episodes. Let me know what other information you need.
Branch: master
Commit hash: 40

[2015-02-03 09:24] fernandog commented on #534
if you dont run 24/7 you must enable "update shows at startup". Otherwise SR wont change unaired to wanted

[2015-02-03 09:29] tchirou commented on #534
Yeah but Alexandre told to test with "update at startup disabled"
It does not work one way or the other

[2015-02-03 09:39] benhopperau commented on #534
I do run 24/7 and dont normally have that checked. Although it doesn't appear to make any difference, when I start SR it still doesn't update the shows.

[2015-02-03 09:56] tchirou commented on #534
Moreover the daily search snatched the episodes 60 minutes later (dailysearch_frequency = 60)  whereas there was no update between.

[2015-02-03 11:02] tchirou commented on #534
I ajust cloned a new develop SR. I configured it from scratch and add the existing shows, so no corrupt db files. I put it on another port.
I will run the new SR tomorrow to test the behavior.

[2015-02-03 11:10] neoatomic commented on #323
[code]

[2015-02-03 11:31] tchirou commented on #534
One question though :

To avoid to have all the previous seasons in the wanted status; I choose "Archived" in the initial status of missing episodes in the "Add show" screen.
So on each show page, the default EP status is "Archived". Which I found a little confusing as to me, it means "I don't want to download the episodes of this show" and has the same function than "Paused".

Maybe it should be

[2015-02-03 11:37] mmmonster commented on #486
I am all for this.
The TPB fork of Sickbeard is pretty useless these days. Hasn't been an update for a while, and I think support as finished. It's no longer working as well as I'd like.

I have played around with SickRage on my pc and I like it. I've looked into getting it onto my ReadyNAS 102 too but didn't really know where to start and have found little information. The latest search brought m

[2015-02-03 12:03] ee0u4179 opened #538 "Scene Exceptions not picked up in search url"
Python 2.7.3 (default, Feb 1 2015, 17:42:35) [GCC 4.9.2]
Openelec 5.0
Lenovo Q190

I'm using the version of Sickrage that is included with Audo.

Scene exceptions don't seem to be picked up in dognzb search url (hence returning no results).

Show name - Air Crash Investigation - Mayday

Scene Exception - Air Crash Investigation

Search url = Search url: https://api.dognzb.cr/api?apikey=&season=13&

[2015-02-03 12:24] fernandog commented on #538
Commit hash?
localhost:8081/config

[2015-02-03 12:57] ee0u4179 commented on #538
BRANCH: (master) / COMMIT: (401cb666016e45b42fe675bafdf7908ad6c2b9bb)

[2015-02-03 13:10] tchirou commented on #534
It is all the more confusing as when you edit a show, there is

`Default Episode Status:
(this will set a default status to be applied to any newly added episodes)`

[2015-02-03 14:00] Bokaii commented on #385
@fernandog Do you mean that using underscore in folder names could cause issues? I am having a similiar problem and I also them in some folders.

Is Sickrage using underscore as wildcards for some reason?

[2015-02-03 14:47] abeloin commented on #537
See https://bugs.freenas.org/issues/4810 for more info.

[2015-02-03 14:57] abeloin commented on #534
Yes it will be changed to wanted by the daily searcher.

[2015-02-03 14:59] tchirou commented on #534
Ok so we will see

I keep thinking that "Default EP status" in the show page and "Default Episode Status: (this will set a default status to be applied to any newly added episodes)" in the edit show page should be modified as it is really confusing.

[2015-02-03 15:01] rflagler opened #539 "Unpack during post-processing leaves files behind"
In post-processing, most people will leave torrents to seed and therefore set "Process Episode Method" to copy; however, if you have a torrent that is compressed, the unpack method will extract the episode within the torrent directory and then copy it to the final destination. This leaves files behind that never get cleaned up without manual intervention.

I feel like there should be 2 "Process Ep

[2015-02-03 15:03] abeloin commented on #534
@benhopperau Put a sane value in dailysearch_frequency because right now it check for wanted episode every 5 hour. The default is 40

[2015-02-03 15:04] abeloin commented on #534
@tchirou Yes I agree with you.

[2015-02-03 15:09] abeloin commented on #534
@tchirou Can you patch you SR with [this diff](https://gist.github.com/abeloin/69d6b1609ad794fbaf62)? It add a line to log when the dailysearcher change the status of and episode to wanted.

[2015-02-03 15:13] tchirou commented on #534
I just add the whole thing somewhere in dailysearcher.py ?
Sorry, coding is not my strong suit

[2015-02-03 15:15] tchirou commented on #534
The green line I mean ?

[2015-02-03 15:16] tchirou commented on #534
Do I need to delete dailysearcher.pyc ?

[2015-02-03 15:22] abeloin commented on #534
1. Save the file as wanted.diff at the root of sickrage.
2. At the command line:
[code]
It should tell you it patched the file successfully.
3. Restart sickrage.

[2015-02-03 15:27] tchirou commented on #534
Nope I have an error
Au caractère Ligne:1 : 11
+ patch -p1 < wanted.diff
+           ~
L'opérateur « < » est réservé à une utilisation future
    + CategoryInfo          : ParserError: (:) [], Par
    + FullyQualifiedErrorId : RedirectionNotSupported

[2015-02-03 15:41] abeloin commented on #534
Oops my bad, I thought you were on Linux.
In sickbeard\dailysearcher.py around line 94, paste this before sql_l.append(ep.get_sql()):
[code]

[2015-02-03 15:43] tchirou commented on #534
No worries
Ok done. Do I need to delete dailysearcher.pyc ? I seem to recall it bugged the whole thing when I manually modify the .py

[2015-02-03 16:14] ahaghgoo opened #540 "Error: Cannot find attribute 'contentrating'"
When post processing I get this:

## Error

## Traceback

Traceback (most recent call last):
File "/share/CACHEDEV1_DATA/.qpkg/SickBeard-TVRage/SickBeard-TVRage/tornado/web.py", line 1292, in _stack_context_handle_exception raise_exc_info((type, value, traceback))
File "/share/CACHEDEV1_DATA/.qpkg/SickBeard-TVRage/SickBeard-TVRage/tornado/web.py", line 1479, in wrapper result = method(self, *args,

[2015-02-03 17:05] tchirou commented on #534
Well I don't know if I made a mistake but when I launch sickbeard.py, pythonw.exe starts and stops immediately.
What git command should I use to repair the ***** I did ?

[2015-02-03 17:09] abeloin commented on #534
Make sure your indentation is the same as sql_l.append(ep.get_sql()) for logger.log(u"Set status. Use space no tab
[code]

[2015-02-03 17:11] abeloin commented on #534
If not then:
[code]
should restore the file

[2015-02-03 17:22] tchirou commented on #534
Well I modified it again and it works. Thanks

[2015-02-03 17:40] seed1234 commented on #537
Found the fix
SSH into Jail

Cd /usr/pbi/sickrae-amd64/etc/rc.d

if you dont have nano
pkg install nano

Nano sickrage

Paste
export LC_ALL="en_US.UTF-8"
export LANG="en_US.UTF-8"

top of the document
Under the ####

[2015-02-03 17:40] #537 closed

[2015-02-03 18:38] SoWhy opened #541 "Unable to find show ID:XXXXX on Indexer: TVRage"
When I try to add new currently in-development shows (namely "Dr. Ken" and "The King of 7B") which exist on TVRage, SickRage will find them but fails to add them to the database with

the only information in the log (even with debug = 1 set).

I checked the API manually and you can get results (e. g. using http://services.tvrage.com/feeds/episode_list.php?sid=47575).

I redownloaded the whole repo

[2015-02-03 19:01] dejh0n opened #542 "[Feature Request] Add Twitter notification"
Hi, I'd like to request that SickRage get direct message support in twitter.

I know SickBeard has this function already as I have used it before switching to SickRage.

I managed to change the twitter prefix in the config.ini file as described in the comments on this page: http://smithjw.squarespace.com/journal/2011/11/12/getting-sick-beard-to-reply-you-on-twitter.html

[2015-02-03 19:11] Koal4 commented on #323
I just changed it and will report back.

Btw here is still a debug log if you need it, still want me to create a new issue for it? (sorry was a bit afk last couple of days)

[2015-02-03 20:37] benhopperau commented on #534
Im thinking I might have had a dodgy DB. I tried running a full update on a few shows last night and 3 of them worked but then the 4th just sat there at:
 "INFO     SHOWQUEUE-FORCE-UPDATE :: Loading all episodes from the DB"
 It didn't progress any further after hours. I then restarted SR and removed and tried to re-add the show but it then wouldn't add:
2015-02-03 21:31:05 INFO     SHOWQUEUE-ADD

[2015-02-03 21:18] silentknight509 opened #543 "Post Processing Error"
When i run a manual post process, I get the following error. I run this, because not all of the shows in my /torrents/data/ directory seem to processing into my /media/TV Shows folder.

I have looked, and believe all the settings are correct.

Processing folder */torrents/data
TV_DOWNLOAD_DIR: */torrents/data
Trying to use folder */torrents/data/data
Unable to figure out what folder to process. If

[2015-02-03 21:44] gazzer82 opened #544 "Previously downloaded torrents not getting re-downloaded"
Hi,

I have sickrage setup with rtorrent on whatbox. Due to a corruption of the database i had to remove my sickrage install and start again.

In the process of resolving the issues i manually removes some torrents from rutorrent. Now when i re-add those tv shows to sickrage, it shows them as wanted but they never appear in rutorrent and i never get a notification that they have been snatched.

I

[2015-02-03 21:45] gazzer82 commented on #544
Python version - 2.7.9 (default, Dec 28 2014, 22:25:30) [GCC 4.7.3]

[2015-02-03 22:34] kristofferbas opened #545 "Post process copy very slow"
I've been thinking for a while that post process copying is very slow, and today I did a test. I'm copying from my Mac Mini to NAS and when I'm copied a 3,5Gb movie-file it took 2 minutes and 31 seconds. Post processing the same file in SR took 28 minutes and 19 seconds. I understand that SR needs to get a new name for the file, but it looked like it only took a couple of seconds to do that, and t

[2015-02-03 22:52] abeloin commented on #534
@benhopperau Check issue SiCKRAGETV/sickrage-issues#480, maybe related?

[2015-02-03 22:57] abeloin commented on #323
@Koal4 No need to create a new issue.

By the way you can force the findproper search with:
* Menu manage ->manageSearches.
* Click on force button in section Find Propers Search.

[2015-02-03 23:16] kristofferbas commented on #545
It looks like I had set SR to move the files and not to copy. When I changed to copy everything speeds up. The only problem is that want to delete the processed files after the copy. Now I have to do it manually.

[2015-02-03 23:18] benhopperau commented on #480
@fernandog I also have this issue, happy to work through and provide logs to get to the bottom of it. Unfortunatly logs don't seem to show much. There is no NFO files in the show folder, show has been downloaded and renamed via SR
1. Add Shows
2. Add Existing
3. Choose Scorpion folder, indexer TheTVDB
4. Add Show

Log http://pastebin.com/VJA65s52

[2015-02-03 23:39] fernandog commented on #480
Check thetvdb and see it the show its not missing values in any fields. Compare with a show that works.

[2015-02-03 23:49] benhopperau commented on #480
The TVDB appears to have all fields populated. As mentioned in issue #534 I am able to add the show to a fresh install of SR.

[2015-02-03 23:50] benhopperau commented on #534
@abeloin thanks, that's exactly what was happening. I believe there are two issues here, but I'm sure if they are related. I didn't actually look to check if there was an issue reported for the "New Shows Stuck Loading". Im not sure if my issue is actually the same as the OP any more, what do you think?

[2015-02-03 23:58] tconkle opened #546 "Post Processing Issues with Special Chracters"
I am running Sickrage on Ubuntu 14.04/

SR Version:	BRANCH: (master) / COMMIT: (401cb666016e45b42fe675bafdf7908ad6c2b9bb)
SR Config file:	/opt/sickrage/config.ini
SR Database file:	/opt/sickrage/sickbeard.db
SR Cache Dir:	/opt/sickrage/cache
SR Arguments:	[]
SR Web Root:
Python Version:	2.7.6 (default, Mar 22 2014, 22:59:56) [GCC 4.8.2]

When i run a Post Processing on the episodes of Pokemon I ge

[2015-02-04 00:57] abeloin commented on #534
@benhopperau For the airdate is never, that can happen if the show was updated on thetvdb after the full update task was run(every day at 3 am). If it does that to every show then open a new issue

As for the issue "New Shows Stuck Loading", we should continue on the other thread.

[2015-02-04 01:48] abeloin commented on #480
@benhopperau Do you have any metadata(kody,...) enable?

[2015-02-04 01:59] tjw1184 opened #547 "[Feature Request] Failed Download Processing Re-Downloading Current Quality"
SR Version: 	BRANCH: (master) / COMMIT: (401cb666016e45b42fe675bafdf7908ad6c2b9bb
Python Version:	2.7.8 (default, Dec 12 2014, 21:20:40) [GCC 4.7.3 20130102 (prerelease)
Running on Synology NAS

Currently have custom quality settings, basically any for initial release and 720p web-dl\bluray for archive.  Sometimes I'll have a low quality episode and it will find a newer one (i.e. web d-l) and try

[2015-02-04 04:25] abeloin commented on #546
Make sure your system use UFT8 to avoid encoding issue, see:
https://sickrage.tv/forums/forum/help-support/general-support/12825-ensuring-your-locale-s-are-set-properly-to-avoid-unicode-issues

[2015-02-04 08:55] Bokaii commented on #385
Apparently my issue had something to do with issue #307 which I also was having even though it was labelled as "fixed" on the Commit I was using.

If I tried to do a restart of Sickrage it would stop, but not start again. After manually restarting Sickrage both the General config page and the manual post processing would work, even though it looked like no update was made to SR.

[2015-02-04 08:57] tchirou commented on #534
Hello

It did not work, much to my surprise as I thought it was my previous install which was messed up.
Snatch occurred 60 minutes after the startup : https://www.dropbox.com/s/pnj20ihaknx32dv/log.txt?dl=0

I am pretty disappointed to have spent time to do a fresh install yesterday :-(

Could it be related to the fact that I am in GMT+1 and with a local timezone ?

[2015-02-04 10:20] flightlevel commented on #504
@combres

Can you have another go with this
https://github.com/flightlevel/SickRage/blob/Freshon/sickbeard/providers/freshontv.py

[2015-02-04 10:52] GodZZila opened #548 "FINDPROPERS :: [Dutplanet] :: Error while searching Dutplanet, skipping: 'NoneType' object has no attribute '__getitem__'"
SR Version:BRANCH: (develop) / COMMIT: (c62d8f2c799edd7daad5648f45276a3464d83a9e)
Python version : 2.7.3
Thecus OS 5.0 Running on Thecus N7700ProV2

This issue appears 2 month ago. I Tought it will be a general error and will be fixed in future versions. cause i run a develop version. But now two months later the error still exicst

The Error:

015-02-04 11:47:05 FINDPROPERS :: [Dutplanet] :: Erro

[2015-02-04 11:59] Kwebbel opened #549 "Sickrage crashes after post processing"
Today I've noticed an error in Sabnzb which comes from sick rage post processing. After googling I removed cache.db but on the next download it happens again. Trying to access the sick rage web interface I got the same.

[code]

[2015-02-04 12:10] fernandog commented on #549
If you are on linux, have access to a linux box, or have a cygwin installation handy use the following steps:

install sqlite3 if not already installed.
Stop SickRage
cd into your SickRage directory
Run the commands

[code]

[code]

Restart sickrage

[2015-02-04 12:10] #549 closed

[2015-02-04 12:11] Kwebbel commented on #549
Ouch. After removing cache.db once again now the error stays. It seems the installation is corrupted...

[2015-02-04 12:13] fernandog commented on #547
@tjw1184 stop SR, backup your entire SickRage folder, start SR, switch to DEVELOP branch at Config>Advanced>Github
Report back

[2015-02-04 12:14] fernandog commented on #549
@Kwebbel read reply please

[2015-02-04 12:19] oresot commented on #511
+1

It would be great to push to our contacts too (I'm not alone at home). With the pushbullet api you get the contacts "iden" as if they were just another device, so both things could be solved at the sime time.

[2015-02-04 12:21] fernandog commented on #25
@Tagforce can you confirm that PP don't use scene exception when snatching with it? I think a lot of issues is related to this.

[2015-02-04 12:40] TagForce commented on #25
@fernandog I have no idea... I've never looked at the code that handles scene exceptions. If it's done during some reg-ex run in the name_parser, then yes, it uses scene exceptions. If it's not anywhere in the name_parser, then no, it doesn't use them.

Right now I'm inclined to say it doesn't use them, because I just ran through the code that Post Processes a file from start to finish real quick,

[2015-02-04 12:44] fernandog commented on #25
@TagForce so it's a huge bug. There's a lot of issues related to this

@echel0n

[2015-02-04 17:39] Arcanemagus commented on #511
@oresot With the Pushbullet API sending to all of your _own_ devices is done by simply omitting the target. This does not send to your contacts though, it seems they need to be manually specified to receive a message.

To do what you are asking would require resending the message to each desired recipient. You should probably create a new feature request for that as it is beyond the scope of this

[2015-02-04 18:07] boeggild commented on #431
OpenSSL returns this

Loading 'screen' into random state - done
CONNECTED(0000019C)
depth=0 CN = <MY DISKSTATION HOST>
verify error:num=20:unable to get local issuer certificate
verify return:1
depth=0 CN = <MY DISKSTATION HOST>
verify error:num=27:certificate not trusted
verify return:1
depth=0 CN = <MY DISKSTATION HOST>
verify error:num=21:unable to verify the first certificate
verify return:1
-

[2015-02-04 18:09] boeggild commented on #431
Open SSL output at http://pastebin.com/Q5WQnHXm

[2015-02-04 18:11] boeggild commented on #431
OpenSSL output at http://pastebin.com/Q5WQnHXm

[2015-02-04 18:18] boeggild commented on #431
how do I reopen this issue?

[2015-02-04 20:26] ajtudela opened #550 "Episodes Unaired set to Ignored"
In the last commit, it's being comming for a week. Some unaired episodes are sets to ignored, so when the air dates came out, they don't  download.

[2015-02-04 20:50] fernandog commented on #550
How can I help you if you cant help me?

[2015-02-04 20:51] ajtudela commented on #550
Excuse me?

[2015-02-04 20:53] fernandog commented on #550
Follow the guidelines:
https://github.com/SiCKRAGETV/sickrage-issues

[2015-02-04 20:59] ajtudela commented on #550
SR Version:	BRANCH: (develop) / COMMIT: (c62d8f2c799edd7daad5648f45276a3464d83a9e)
Python Version:	2.7.2 (default, Jun 12 2011, 15:08:59) [MSC v.1500 32 bit (Intel)]

I use windows 8.1.

http://pastebin.com/BvkHRgaG

[2015-02-04 21:01] ajtudela commented on #550
https://dl.dropboxusercontent.com/u/11602465/Captura.PNG

[2015-02-04 22:00] Youmi15 commented on #361
Brilliant, this solved the problems in SickBeard as well as SickRage for me!

[2015-02-04 22:07] Youmi15 commented on #361
It did even more than I anticipated, it solved issue #465 as well.

[2015-02-04 23:00] benhopperau commented on #480
Nope, no metadata is enabled. Although I just noticed I get an error when clicking save on this screen about an invalid sports naming. I have fixed this now, but the show still doesn't import.

[2015-02-04 23:05] benhopperau commented on #480
@fernandog can we re-open this issue as I don't believe it has been resolved.

[2015-02-04 23:05] TagForce commented on #25
@fernandog I'm not sure if it's a huge bug... It misses some shows, but the majority of them will be found correctly. I'm not sure it should use the scene_exceptions for PP. Searching and PP work exactly the other way around.
For daily or backlog searching, you only have a show-name, season and episode number, and you want to get a file out of that, so you need to search. Scene Exceptions help you

[2015-02-04 23:28] TiagoDM opened #551 "Cannot save subtitles when tvshow description has chars that aren't common (like ' or words with accents)"
I'm portuguese and many words use accents like á or â ò, etc... every time a tvshow has chars like that, the subtitles are not saved into tvshows folder, yet they appear on history as downloaded.

SR Version:	BRANCH: (master) / COMMIT: (401cb666016e45b42fe675bafdf7908ad6c2b9bb)
SR Arguments:	['--nolaunch']
SR Web Root:
Python Version:	2.7.8 (default, Jun 30 2014, 16:08:48) [MSC v.1500 64 bit (AMD6

[2015-02-05 01:36] abeloin commented on #431
@boeggild You have self-signed SSL certificate to which openssl reply:
```verify error:num=27:certificate not trusted```
Let me check if there's a way to disable the ssl check for the synology DS in Sickrage.

@fernandog Do you know if the synology client already has a way to disable the ssl check? I don't see it.

[2015-02-05 01:42] abeloin commented on #361
@Youmi15 Wonderful, 2 for the price of 1 ;)

[2015-02-05 01:45] abeloin commented on #361
@a7medo778 Which version of python are you running?

[2015-02-05 02:17] flightlevel commented on #504
Whoops @Kybber can you have a go at the above

[2015-02-05 02:49] abeloin commented on #480
@benhopperau What version of Python do you have?

[2015-02-05 02:51] abeloin commented on #480
@BloomSN Can you try [this commit](https://github.com/abeloin/SickRage/commit/21fcea2c3155f57dba5c64a55f1f8fee02804256)? It's for the develop branch but should apply on master.

[2015-02-05 03:34] benhopperau commented on #480
@abeloin Python Version:
2.7.6 (default, Nov 10 2013, 19:24:18) [MSC v.1500 32 bit (Intel)]

[2015-02-05 04:54] abeloin commented on #480
@benhopperau To best thing would be to debug when you add a new show, are you comfortable with that?

[2015-02-05 05:46] abeloin commented on #534
@tchirou I don't know for the timezone. Can you try running sickrage(git checkout) with this tree https://github.com/SiCKRAGETV/SickRage/tree/477b0806b0c2b7d0c96186aa51b2e77cdd4b0bd1? It's dated from November 2014, before some changes to the daily searcher and around the time you told its stopped working.

As work around for waiting 60 minutes, you can go to menu Manage->Manage Searches->Force Dai

[2015-02-05 05:48] abeloin commented on #550
Have you try to do a "force full update" on the show?

[2015-02-05 07:31] tchirou commented on #534
Hello
Can you give me the command to do that please ?
Thanks

[2015-02-05 08:03] benhopperau commented on #480
Do you just want the logs? I did that earlier but they are pretty slim - http://pastebin.com/VJA65s52

Im not getting an error or anything, is there something else I can check?

[2015-02-05 08:41] tchirou commented on #534
Weirdly enough, I started the computer to do what you suggested but before I do anything (SR is auto started at launch), 6 episodes out of 7 were snatched right waway, except Arrow.
The log : https://www.dropbox.com/s/guz40h84cfdppjs/log2.txt?dl=0
What do you think ?
I am tempted to not touch anything and wait tomorrow.

[2015-02-05 08:50] fernandog commented on #431
Dont know. Im a RPI user.

[2015-02-05 11:23] Psychoteur opened #552 "Post-processing move files disappear"
Hello,
if I choose "move" as post-processing. There are a lot of files lost in the process. I don't see a pattern on why ?

This morning, 3 files downloaded, only 1 made it to its directory. The two others simply vanished.

[2015-02-05 11:42] raymondtrueman commented on #431
Can we please formerly re-open this issue. I have no idea why it was closed when its still unresolved. I would really love to have it resolved too

[2015-02-05 12:13] ajtudela commented on #550
Yes, but it's still the same

[2015-02-05 12:21] fernandog commented on #550
@ajtudela check your config.ini and post the "status_default" value

[2015-02-05 12:23] fernandog commented on #550
There's nothing in the log. with need the [DB] log.

"How to enable debug logging for better issue logging

Shutdown Sickbeard, and edit the config.ini in your favourite editor. Add debug=1 in the configuration in the very first line and start sickbeard. Once the error happens again, use the logfile, paste it on pastebin or an equivalent site and create, or update your issue.

Don't forget to remo

[2015-02-05 12:41] wborrelli commented on #521
Happened again, this time with Criminal Minds S10E14. It looks like I have 3 copies, though it only showed 2 downloads in Transmission. SickRage post processed 2, and a 3rd copy in the download directory still.

Upon further investigation, the file in the download directory was not removed after post processing.
Criminal.Minds.S10E14.HDTV.x264-LOL.mp4

https://drive.google.com/open?id=0B8t0e2QFujM

[2015-02-05 13:06] abeloin commented on #534
Ok, sickrage failed to update the timezone:
[code]
then
[code]
I'll check the code for the timezone

[2015-02-05 13:37] ajtudela commented on #550
http://pastebin.com/Zx4KZtDx

https://dl.dropboxusercontent.com/u/11602465/Captura2.PNG

The episode 4x12 it's unaired

[2015-02-05 13:37] abeloin commented on #480
What I meant is using the python's pdb:

* Insert ```import pdb; pdb.set_trace()``` in line 246 of sickbeard/show_queue.py:
[code]
* Start sickrage manually from the command line with the params specified in your bat or vbs file(if you datadir or like add to command line):
[code]
* Add a show in Sickrage.
* Go back to the command line, you should see something like this:
[code]
* If it's the case,

[2015-02-05 14:10] Ferlez opened #553 "cannot restore config file"
after 100% CPU on my Synology 213j I reinstalled and tried to restore from the sameday backup file I get nothing... It says

"Successfully extracted restore files to /usr/local/sickbeard-custom/var/restore
Restart sickrage to complete the restore."

I restart SG and its still as before...

[2015-02-05 14:42] fernandog commented on #553
stop SR, unzip the contents of the backup in the SR folder, restart SR

please send full logs

[2015-02-05 14:42] fernandog commented on #552
follow guidelines: https://github.com/SiCKRAGETV/sickrage-issues

[2015-02-05 14:44] fernandog commented on #550
@ajtudela mark as wanted and do a manual search. Log does not show what happens. you need to send log as soon as you see this happens again

[2015-02-05 14:52] abeloin commented on #534
@tchirou Can you change the line 52 in sickbeard/dailysearcher.py from:
[code]
to
[code]
Then restart sickrage

[2015-02-05 15:08] abeloin commented on #498
@fernandog I think you can close this issue, no reply from the OP for the last 9 days.

[2015-02-05 15:11] abeloin commented on #483
@fernandog Pull request created https://github.com/SiCKRAGETV/SickRage/pull/1282

[2015-02-05 15:13] abeloin commented on #482
@Greg0rz Did you have time to test the commit?

[2015-02-05 15:13] ajtudela commented on #550
http://pastebin.com/HKiQQ78s

[2015-02-05 15:14] fernandog commented on #483
thanks!

[2015-02-05 15:15] abeloin commented on #479
@fernandog I think you can close this issue.

[2015-02-05 15:16] fernandog commented on #550
@ajtudela we need logs like this:

2015-02-05 16:12:21 DB
2015-02-05 16:12:22 DB
2015-02-05 16:12:23 DB
2015-02-05 16:12:24 DB

not just INFO DEBUG OR ERROR

[2015-02-05 15:16] #498 closed

[2015-02-05 15:16] #479 closed

[2015-02-05 15:27] abeloin commented on #431
@boeggild @raymondtrueman Can you try [this commit](https://github.com/abeloin/SickRage/commit/c8f1eb625042545ac85c847526ff507dee160d17)?

[2015-02-05 15:38] abeloin commented on #361
@fernandog For your info, have a look at [this commit](https://github.com/abeloin/SickRage/commit/21fcea2c3155f57dba5c64a55f1f8fee02804256) it's temporary fix for users with python 2.7.9 due to enabling SSL verify by default(PEP-0476). Someone will have to look at the code for urllib as they for sickbeard.

[2015-02-05 15:39] abeloin commented on #329
@WarB3asT Small reminder, if you had time to try the commit?

[2015-02-05 15:43] abeloin commented on #328
@Vodka2014 Had issue reverting?

[2015-02-05 15:43] fernandog commented on #361
@echel0n

[2015-02-05 15:46] abeloin commented on #323
@neoatomic @Koal4 Any update?

[2015-02-05 15:49] abeloin commented on #242
@AdamWhite Did you try applying the pull request?

[2015-02-05 15:52] abeloin commented on #111
@fernandog Can you close this issue? Thank You

[2015-02-05 15:52] AdamWhite commented on #242
Sorry no, I meant to respond, I don't know now to, sickrage is on my NAS and I can only SSH into the folder which has sickrage. I've been hoping that it would be pulled into the develop branch so I can update and test. If I set sickrage to use your PR via the UI, let me know and i'll give it a test

[2015-02-05 15:53] fernandog commented on #242
@AdamWhite no reply = close issue

[2015-02-05 15:54] AdamWhite commented on #242
@fernandog did you not see my response before you closed the issue?

[2015-02-05 15:55] fernandog commented on #242
We need confirm its working before merge it.

[2015-02-05 15:55] AdamWhite commented on #242
I'm happy to test it, I just need to know how

[2015-02-05 15:57] fernandog commented on #242
Stop SR, edit your local file, start SR

[2015-02-05 15:59] AdamWhite commented on #242
OK, but you say edit my local file... edit it to what? how do I pull and merge the PR onto my installed version of SR?

[2015-02-05 16:03] IskanderNovena commented on #111
Not sure how I should pull the request, since I'm not familiar with Git. Also, I run SickRage on a Synology. For now, the issue still persists with this version: BRANCH: (master) / COMMIT: (401cb666016e45b42fe675bafdf7908ad6c2b9bb)

[2015-02-05 16:06] abeloin commented on #242
If sickrage folder on the nas is under git control, you could simply download a diff of the pull request from https://github.com/SiCKRAGETV/SickRage/pull/1244.diff on the nas.
* Stop sickrage
* Apply it with ```patch -p1 < path/to/1244.diff``` inside sickrage's folder.
* Start sickrage

To revert after(be careful with the rm -rf command, make sure you the good path):
* Stop sickrage
[code]
* Start

[2015-02-05 16:09] AdamWhite commented on #242
Thanks I will give this a go and let you know by tomorrow.

[2015-02-05 16:14] timrettop commented on #328
@abeloin Since updating, I've not received that error any longer.
I have received one error that is in the FINDPROPERS thread,  but unfortunately my debug logs don't go back to the 2nd:

2015-02-02 20:02:16 FINDPROPERS :: Exception generated in thread FINDPROPERS: Proper instance has no attribute 'size'

[2015-02-05 16:20] timrettop commented on #328
@abeloin I ran a force check on find propers, and it seems like a different error message, should I file it separately?

[2015-02-05 16:21] neoatomic commented on #323
Just tested. Error seems to be gone now with the new code.
Thank you abeloin for your help and supporting Sickrage. :+1:

[2015-02-05 16:38] abeloin commented on #328
@timrettop For the no attribute size, check #323 for [a fix](https://github.com/SiCKRAGETV/sickrage-issues/issues/323#issuecomment-72682877)

For your 2nd comment, what's the error?

[2015-02-05 16:41] abeloin commented on #323
@neoatomic Great and thank you for testing it.

[2015-02-05 16:46] timrettop commented on #328
@abeloin I wasn't clear in that second comment, I meant that the size error seems different than the error reported in this bug.

I'd say this can be closed.
Thanks!

[2015-02-05 16:48] abeloin commented on #323
@fernandog This pull request fixed the issue SiCKRAGETV/SickRage#1283

[2015-02-05 16:50] abeloin commented on #323
@timrettop Try this SiCKRAGETV/SickRage#1283 it should fix your attribute size issue

[2015-02-05 16:52] abeloin commented on #328
@timrettop Good and thank you for the testing.

@fernandog Can you close this issue? Thank You

[2015-02-05 17:14] AdamWhite commented on #242
So i've downloaded the patch, doing git apply path/to/1244.dff

diff was applied with this warning:
1244.diff:16: space before tab in indent.
#set $selected = $html_selected if $sickbeard.TORRENT_AUTH_TYPE == $authvalue else ''
warning: 1 line adds whitespace errors.
if I do a git status it shows a chunk of modified files.

But the webpage for sickrage just won't load, if i remove the diff and go

[2015-02-05 17:44] Koal4 commented on #323
@abeloin  had it in test for last couple of days and it seems to be resolved with your code, thanks :)

[2015-02-05 17:44] abeloin commented on #242
Try adding ```-l ``` to the patch option. It will ignore whitespace

This is my result on develop, fresh git clone then git checkout develop:
[code]

[2015-02-05 17:45] abeloin commented on #323
@Koal4 Thank you for the testing.

[2015-02-05 17:50] Ferlez commented on #553
thx, copied the files and got it back. saved me 2 days of work :)

thx!

[2015-02-05 17:53] timrettop commented on #323
@abeloin I confirm as well, this commit resolves the size error that occurred with me.

Thanks!

[2015-02-05 18:13] #323 closed

[2015-02-05 18:16] #553 closed

[2015-02-05 18:16] #328 closed

[2015-02-05 19:16] AdamWhite commented on #242
@abeloin My nas doesn't have the patch command, the only equivalent that I can find is "git apply" even with setting --ignore-whitespace I still get the same issue.   Happy to follow any advice to test this correctly

[2015-02-05 19:30] AdamWhite commented on #242
@abeloin i've installed patch via "ipkg install patch" and run "patch -p1 -l < /path/to/1244.diff" (without the quotation marks)

which patches with no errors, however the webpage still won't come up, i've looked in the logs and I get no errors. I'm at a loss as to what to do

[2015-02-05 20:06] sukosevato opened #554 "postprocessing should ignore hidden folders"
BRANCH: (master) / COMMIT: (401cb666016e45b42fe675bafdf7908ad6c2b9bb)  (latest as of ticket creation date)
Python Version:	2.7.9 (default, Jan 8 2015, 21:47:19) [GCC 4.2.1 Compatible FreeBSD Clang 3.3 (tags/RELEASE_33/final 183502)]
Freebsd 10.1 jail.

Sickrage is a bit too ambitious when looking at the "TV Download Dir" of Post-Processing. I have a script that uses Rsync to upload files to this f

[2015-02-05 20:50] ajtudela commented on #550
Lookin in the logs, I see this:

"2015-02-05 21:49:24 DEBUG    SHOWQUEUE-FORCE-UPDATE :: Episode has no air date, automatically marking it skipped"

[2015-02-05 21:05] thermodyn opened #555 "[Feature Request] Manage Episode Status with Air Date"
In the Manage - Episode Status Management

It would be very useful to be able to pull out specific episodes where the status is skipped but where there is an air date in the past.  This sometimes happens if the air date is not updated at the right time and the episode misses the download window.

So I would like to either add a filter to select status skipped and air date is in the past. This woul

[2015-02-05 21:52] abeloin commented on #242
@AdamWhite When you started sickrage after the patch did it generate a log at all in Logs/sickrage.log? What do you mean the web page won't come up? Invalid address, timeout?

My guess would be there's an error and sickrage won't start. Have you tried running sickrage manually?

[2015-02-05 21:54] AdamWhite commented on #242
I checked all the sickbeard and sickrage.log files and none were at the time of the start.  as for the webpage not coming up, its an instant timeout as if there wasn't anything listening on that port. i'll give it another go now, check logs and see if i can start it manually

[2015-02-05 22:06] abeloin commented on #242
Definitely an error at startup.

[2015-02-05 22:07] AdamWhite commented on #242
re-applied the patch.
same issue the webpage instantly failed to load on port 7073.
attempted to load SickBeard.py manually... failed
install coreutils via "ipkg install coreutils"
ran sick rage via "nohup python SickBeard.py"
which outputted to a file, the error i get is: The Python module Cheetah is required

[2015-02-05 22:08] abeloin commented on #242
@AdamWhite Have you set the proper permissions for the user running sickrage? As you probably run the patch command as root.

[2015-02-05 22:10] abeloin commented on #242
@AdamWhite You need to install cheetah

[2015-02-05 22:12] AdamWhite commented on #242
yeah the user has the permissions, i'm running ssh via the same user.

As for cheetah, as SickRage works without the patch, why suddenly do I require cheetah? now to find out how to get cheetah installed on a qnap nas

[2015-02-05 22:19] abeloin commented on #242
Look for which version of python you have: ipkg list_installed

if 2.7:
[code]

Ref: http://www.sickbeard.com/forums/viewtopic.php?f=4&t=5437

[2015-02-05 22:26] AdamWhite commented on #242
If only it was that easy, the fix is to do "python setup.py install"
unfortunately that returns "The Python module py2exe is required"

I have to assume that the creator of this ipkg has done something special... otherwise sickrage would have never worked and by manually applying this pack i've undone something specifically in place to ensure sickrage works on the qnap

[2015-02-05 22:28] abeloin commented on #242
@AdamWhite Looking some doc you can have multiple version of python on your device. Make sure you specify the good one: e.g.
[code]

[2015-02-05 22:31] abeloin commented on #242
If not revert and wait for the pull request to be merged in develop

[2015-02-05 22:41] AdamWhite commented on #242
Think i'll have to revert i'm afraid @abeloin I've tried to above, which pointed me at the installed version of python on my nas, same issues, tried to run  path/to/python path/to/sickrage/setup.py install
then trying to run SickBeard.py the same as above.

That failed, but I noticed in my sickrage install there is a Repository folder and within that is Python, so i tried the above again, this tim

[2015-02-05 22:41] abeloin commented on #111
@IskanderNovena Did it work?

[2015-02-05 22:44] abeloin commented on #242
@AdamWhite Don't worries, we just have have to wait it is merged into develop, now that's the easy part ;)

[2015-02-05 22:49] abeloin commented on #543
@silentknight509 First see this link for submitting a ticket: https://github.com/SiCKRAGETV/sickrage-issues

Secondly, why are you using * in your path, it's a wildcard?

[2015-02-05 23:25] WarB3asT commented on #329
Sorry for the wait, but i couldn't test this early.

When i choose only anime, now it shows the error in the anime box (saving will show me the same error as before).

With 'Only absolute number' checked if i write something in the anime box and like %Sx%0E. asd %SN - %EN and then remove the 'asd' (nothing changes) and save... it will show both anime and tvshows box in red.

One question wouldn't

[2015-02-06 00:16] Greg0rz commented on #483
Can confirm this worked in a 2012 R2 VM w/ the commit & 2.2.1.

Thanks for the hard work guys!

[2015-02-06 01:06] abeloin commented on #483
@Greg0rz Thank you for the testing

[2015-02-06 01:10] abeloin commented on #329
@WarB3asT The commit was for fixing an invalid anime pattern being shown in non anime input box.

CHeck your log when the anime box become red you should see all the regex being tested and find the ones that are not valid e.g.: ```The name Show Name.003-004.Ep Name.ext parsed into Show Name 003 - S0E4 [ANIME VER: -1] [ABD: False] [ANIME: False] [whichReg: ['bare']]
Unable to parse 003. Show Name -

[2015-02-06 01:45] abeloin commented on #545
@kristofferbas Can you try applying these commits? Apply in order.
Commit 1: https://github.com/abeloin/SickRage/commit/c36f39ea30f785fcd077c920dd9fc4a0e8b49d03
Commit 2: https://github.com/abeloin/SickRage/commit/4d2c36daf1d0e1d805e4012ece6acae89bf0d846

Let me know if it improved the transfer speed

[2015-02-06 02:14] mannibis opened #556 "Flash (2014) Renaming Ignores Season Folder"
I have this issue with The Flash (2014) specifically. Even though my naming pattern specifies a Season Folder as such: Season %S/%SN - S%0SE%0E - %EN, SickRage just renames the episode and dumps it into the root directory without a season folder.

Looking at it via Preview Rename yields the same result (I move them into a season folder, and it tells me to Rename it back to the original root folder

[2015-02-06 02:40] abeloin commented on #556
Check in the show settings if 'Flatten files (no folders)' is activated

[2015-02-06 02:42] mannibis commented on #556
Wow. Yes it was and I have no idea how that ended up checked

Thank you

On Thu, Feb 5, 2015 at 9:40 PM, Alexandre Beloin <notifications@github.com>
wrote:

[2015-02-06 02:43] #556 closed

[2015-02-06 02:44] abeloin commented on #556
@mannibis You're welcome

[2015-02-06 02:54] abeloin commented on #548
You need to provide a complete log of the error which can be hosted on pastebin.com

See this link on how to enable debug log: https://github.com/SiCKRAGETV/sickrage-issues

[2015-02-06 02:58] abeloin commented on #544
Need some log of when an episode is being snatched to rutorrent.  See the following link on how to activate debug log: https://github.com/SiCKRAGETV/sickrage-issues

Also currently rtorrent in sickrage only support scgi:// and http:// protocol only.

[2015-02-06 04:11] abeloin commented on #541
This [pull request](SiCKRAGETV/SickRage#1285)(for the develop branch) will give you clearer information on why, both shows, aren't added to sickrage. The pull request will eventually be merged into the master branch.

In this case, here's the result for both shows after applying the pull request:
```ERROR    SHOWQUEUE-ADD :: Show Dr. Ken is on TVRage but contains no season/episode data.```
```ERRO

[2015-02-06 04:13] WarB3asT commented on #329
@abeloin A few of them are being reported as 'not valid'.
http://pastebin.com/9V03ZTG1

[2015-02-06 05:41] nytemyst commented on #516
I would love this as well.

[2015-02-06 08:03] IskanderNovena commented on #111
Seems to be working; the GUI shows the setting correctly. I can tell if it actually works this weekend, when one show I follow and have set to ignore will air a new episode.

[2015-02-06 08:33] bitzorro commented on #339
+1 for subscene.com

[2015-02-06 09:16] TagForce commented on #6
There are 2 different search schedules.
One schedule is for actually searching episodes.
The other is for when SR updates its show information (ie, new episodes, aired status, etc).
I see no harm in having the time at which SR updates its show information configurable. A lot of people turn off their rigs for the night, so SR never updates show information (unless its set to do it at startup).

Bei

[2015-02-06 09:27] raymondtrueman commented on #550
I can confirm this. Some Unaired episodes are marked as skipped. But in my case eventually they automatically become Wanted when the show updates and the episodes get airdates

[2015-02-06 09:35] phoniclynx opened #557 "Getting A LOT of false positive Snatch's of late"
Getting quite a few snatch and downloads that are false positives which SickRage can not actually parse

Typically the archive has a large file and an extension with a .LNK file as the of the title followed by a folder with a title called RARBG.com.txt (in almost all cases) and inside that folder a file typically called RARBG.com.mp4. If you try and play that file in something like VLC it fails as

[2015-02-06 09:40] fernandog commented on #557
Disable the provider that has the fakes

[2015-02-06 09:50] raymondtrueman commented on #431
@abeloin - Thanks I made the change. I will monitor it. I'm using NZB and Torrents so I will have to wait until something is snatched via torrent to see if it worked, and then I will give you feedback

[2015-02-06 10:58] phoniclynx commented on #557
I'm not sure how to do that? Where am I going to go do that? Iposted this
in the forum and had my topic closed and told to come put it on here.

On Fri, Feb 6, 2015 at 8:10 PM, Fernando <notifications@github.com> wrote:

[2015-02-06 11:03] phoniclynx commented on #557
I have no way of telling who the provider is?

On Fri, Feb 6, 2015 at 9:28 PM, Nathaniel Baker <nat@bakershome.com> wrote:

[2015-02-06 11:06] fernandog commented on #557
are you using TPB?

[2015-02-06 11:22] phoniclynx commented on #557
Yes

On Fri, Feb 6, 2015 at 9:36 PM, Fernando <notifications@github.com> wrote:

[2015-02-06 11:26] fernandog commented on #557
please disable it. Wait an update to TPB. Use KAT instead

[2015-02-06 11:26] #557 closed

[2015-02-06 12:43] abeloin commented on #111
Ok

[2015-02-06 12:52] abeloin commented on #453
@fernandog Tested with a fresh copy of the develop branch and now work as expected.

[2015-02-06 13:08] abeloin commented on #435
For reference: SiCKRAGETV/SickRage#1207

[2015-02-06 13:14] IskanderNovena commented on #111
Already had some results: it's not working. The fix is not working.
I have a show with unaired episodes, and the default EP status set to Ignored. However, newly aired episodes are still downloaded. It is an ungoing season (The Big Bang Theory), could it be that currently the setting only will apply to new episodes, as in episodes that are not already listed? Or in other words, could it be that th

[2015-02-06 14:00] abeloin commented on #111
The 'Default Episode Status' is to set the initial status of missing episodes(or added episodes) dated before the current date and episodes without date. New episode dated in the future are always added as unaired and will change status to wanted around the specified date and time of the show.

If you don't want to download new episodes, activate the 'Paused' option in the show's settings

[2015-02-06 14:08] IskanderNovena commented on #111
Well, that explains a lot. Might be better to rephrase the explanation on the Default EP status then, though, since the current line doesn't convey it's proper use (at least not to me): "(this will set a default status to be applied to any newly added episodes)"
Newly, to me, means 'recent', which I read as new episodes for the show, especially unaired ones.

[2015-02-06 14:20] abeloin commented on #111
I understand the confusion and is something I will create pull request for.

[2015-02-06 14:46] IskanderNovena commented on #111
Thanks. Then as far as I'm concerned, case closed ;)

[2015-02-06 15:11] #111 closed

[2015-02-06 16:16] seqastian opened #558 "Feature Request - Custom Torrent Client Destination Directory for every Show"
Flexget has this rather nice option to set a custom destination dir for every show.
path: /something/tv/{{series_name}}

That way you don't have to post process at all and save a ton of IO.
(if have a player that can handle rars or use rar2fs)
And you can keep the torrents in the torrent client and manage(delete/reseed) them from there or via the torrent client API.

All the big name torrent clien

[2015-02-06 17:39] SoWhy commented on #541
That is a good improvement to the logging system. Nevertheless, it raises the question why I can't add shows that have no episode data (yet). I like to have them so SR automatically downloads stuff once it exists

[2015-02-06 17:57] fernandog commented on #541
Nice!!!

[2015-02-06 19:43] abeloin commented on #541
@SoWhy My guess is sickrage/sickbeard was built assuming all shows must have a season/episode. Changing it could be a challenging task if it's the case.

@fernandog Applied also to tvdb as I managed to find a [show on tvdb](http://thetvdb.com/?tab=series&id=283086&lid=7) with no episode.

[2015-02-06 20:18] abeloin commented on #536
You'll need to provide a more complete log of the issue.
* Complete log from sickrage with debug=1 in the config file.
* Complete log from nzbtomedia with log_debug = 1 in autoProcessMedia.cfg

[2015-02-06 20:22] abeloin commented on #527
Which specific version of python do you have?

[2015-02-06 22:04] Quiptix commented on #536
Will do this this weekend

[2015-02-06 23:34] RabidWolf commented on #267
SR Version:	BRANCH: (develop) / COMMIT: (c62d8f2c799edd7daad5648f45276a3464d83a9e)
SR Config file:	C:\SickRage-D\config.ini
SR Database file:	C:\SickRage-D\sickbeard.db
SR Cache Dir:	C:\SickRage-D\cache

This is happening on develop branch as well. I've got Horriblesubs blacklisted on most of my Anime but they still get snatched.

[2015-02-07 00:16] lbjb commented on #527
2.7.6 (default, Feb  6 2014, 13:32:45)
[GCC 4.2.1 20070831 patched [FreeBSD]]

[2015-02-07 04:04] jpacione opened #559 "Just updated to python 2.7.8.11 - SickRage will no longer start"
Any suggestions?

[2015-02-07 04:14] abeloin commented on #559
You need to provide more info, see this link https://github.com/SiCKRAGETV/sickrage-issues

[2015-02-07 04:24] jpacione commented on #559
sorry.

Branch: main

OS: DSM 5.1-5022 Update 1
Python version: 2.7.8-11

I had everything working fine, but my SABNZBD and Python were needing update.  So I updated Python, then SAB.  SAB came back up, but SickRage did not.  Error is simply "Failed to run the package service"

There is nothing in the log file for SickRage through the UI.  I'm not a Unix guy, so not sure what else I need to provid

[2015-02-07 04:38] jpacione commented on #559
nevermind - I uninstalled it Sickrage and reinstalled, and it's now working.  Thankfully I backed up the config!

[2015-02-07 04:38] #559 closed

[2015-02-07 05:29] tjw1184 commented on #547
I switched to the develop branch, haven't been able to reproduce yet.  Noticed another odd behavior on downloaded files where it seems to throw out perfectly good files - in this case the show is at quality 720p web-dl so the one below was snatched and should have over written it.  From post processing script:

[code]

[2015-02-07 05:38] John-Gee opened #560 "[Feature Request] Anime: Absolute number new option"
Hello,

I'd like to have a new option for Absolute Numbers, to only put it if it's useful information.

Meaning in a single season show, the absolute number is the same as the episode number, then there is no point in having "SN - S01E03 - 03 - EN.ext".
It's nothing important, but I think it would look a bit better without the duplication information.
(Maybe also allow this to be the case for the

[2015-02-07 07:55] benhopperau commented on #480
Ok no problem, here is the debug http://pastebin.com/nTW4AYn8

The Sickrage.log is the same as before, let me know if you need any more detail.

[2015-02-07 12:53] raymondtrueman commented on #431
@abeloin @boeggild  I can confirm that commit fixed the issue...
Thank you very much

[2015-02-07 13:55] cwallen19803 commented on #6
I use the Windows Task Scheduler to wake my machine from hibernation and reboot.  That starts everything, including SR.  If you configure SR to update when it starts, then you can control it that way, at least until it becomes a configurable item.

[2015-02-07 15:52] dmarcelino commented on #339
I believe SickRAGE uses subliminal for downloading subtitles, so I've created the issue Diaoul/subliminal#431 on subliminal's repo. Fingers crossed.

[2015-02-07 16:17] abeloin commented on #480
ok good, can you retry it and on the last line:
[code]

[2015-02-07 18:03] spockfish opened #561 "TV show does not start downloading, although it can be found in the indexer"
BRANCH: (master) / COMMIT: (401cb666016e45b42fe675bafdf7908ad6c2b9bb)
Synology, Chrome browser, Python 2.7.8

I added 'Foo Fighters Sonic Highway', and it fails to download although the show can be found with the used indexer (dognzb).

In debug mode there are a lot of messages stating:

2015-01-25 12:55:10 DEBUG SHOWQUEUE-FORCE-UPDATE :: Not touching status because we have no ep file, the airdate

[2015-02-07 18:21] nytemyst opened #562 "Feature Request: Post Processing continue to next folder on error"
Either on post processing or doing a manual post process it will completely stop if an error is found or sync files. So until that issue is resolved it doesn't move on to the next files which probably don't have any issues. Possible to add an option to continue on to the next item on error?

[2015-02-07 19:34] tjw1184 commented on #547
I've now gotten a couple episodes to fail.  The handling for failed processing now seems to be broken.  The logs will show that it was handled successfully, and it will show up under manage searches - but when it completes it won't show up under history and it doesn't show under manage->failed downloads (even when I set the limit to all).  It seems that it isn't properly handing the failed downloa

[2015-02-07 19:40] abeloin commented on #561
Please provide, via pastebin, a full sickrage log including the search results from dognzb

[2015-02-07 20:00] dpeart opened #563 "search timed out, try again or try another indexer"
When I try to add new shows, I get the error;
     search timed out, try again or try another indexer

I turned on debug and only get this in the log file:

     2015-02-07 13:56:23 DEBUG    Thread-13 :: Searching for Show with searchterm: The This Old House Hour on Indexer: theTVDB

Python version: 2.7.5 (default, May 29 2013, 02:28:51) [GCC 4.8.0]
Slackware

thanks,
david

[2015-02-07 20:01] dpeart commented on #563
I do have network access to theTVDB.com as I can wget it and ping it.

[2015-02-07 21:45] abeloin commented on #563
The tvdb server is having some issue today, seen multiples cloudfare timeout today.
There's not much we can do, you have to be patient and retry.

[2015-02-07 22:25] Quiptix commented on #536
Please find the logs in PasteBin:
http://pastebin.com/0tdcqqAf
http://pastebin.com/Ef95W7YV

I see more iteration errors before the actual error, probably when clicking through the GUI.

[2015-02-07 23:20] dpeart commented on #563
I've been having this issue for about 4 days, neither tvdb nor tvrage have been working.

I'll keep trying and see if it changes anytime soon.

[2015-02-07 23:55] abeloin commented on #563
Then maybe something else is going on, your sickrage branch/commit?

On the pc where sickrage is installed, wget work?

[2015-02-08 00:04] dpeart commented on #563
wget works I've tried both main and develop

I wish I could get more debug message, there just aren't any

[2015-02-08 00:10] abeloin commented on #536
Related to #527

[2015-02-08 00:13] abeloin commented on #536
Can you try this commit https://github.com/TagForce/SickRage/commit/eedb42085b2d64a2f0aa51d269dff1fff11c4984?

[2015-02-08 00:14] abeloin commented on #527
Can you try this commit https://github.com/TagForce/SickRage/commit/eedb42085b2d64a2f0aa51d269dff1fff11c4984?

[2015-02-08 00:17] Quiptix commented on #536
I'm a bit rusty on Git commands. How do I do that?

[2015-02-08 00:22] abeloin commented on #563
Do you use a proxy for the indexers? Check in General Configuration -> Advanced Settings

[2015-02-08 00:33] abeloin commented on #536
* Download: https://github.com/TagForce/SickRage/commit/eedb42085b2d64a2f0aa51d269dff1fff11c4984.patch
* Command line: ```git am eedb42085b2d64a2f0aa51d269dff1fff11c4984.patch```

[2015-02-08 00:49] dpeart commented on #563
The proxy host portion was empty, but the check box was checked, so I uncheck and it made no difference.  I then increase my time out from 20 to 30 and still no luck.

I checked wget tvdb.org and it does get the index.html page so that does appear to work.

[2015-02-08 01:14] abeloin commented on #563
Do you have debug=1 in config.ini? You will need to stop sickrage before changing the setting. Then you should have more info(e.g.: Connection timed out ... while loading URL)

You could try this test.py, if you think it's python related:
[code]

[2015-02-08 01:19] abeloin commented on #563
By the way what's your branch/commit?

[2015-02-08 01:49] dpeart commented on #563
BRANCH: (develop) / COMMIT: (c62d8f2c799edd7daad5648f45276a3464d83a9e)

[2015-02-08 02:08] abeloin commented on #563
You can add in sickbeard/logger.py at line 73 in self.loggers:
```logging.getLogger("requests.packages.urllib3")```

you should see in the the result of every request(e.g.: tvdb search):
```2015-02-07 18:36:01 DEBUG    "GET /api/GetSeries.php?seriesname=detective+conan&language=en HTTP/1.1" 200 None```

[2015-02-08 02:15] dpeart commented on #563
I tried the test.py, but just get a ImportError: No module named requests.

[2015-02-08 02:22] dpeart commented on #563
I did this, but it didn't work:

class SickRage(object):
    def __init__(self):
        logging.getLogger("requests.packages.urllib3")
        # system event callback for shutdown/restart
        sickbeard.events = Events(self.shutdown)

Sorry I'm not familiar with python.

david

[2015-02-08 02:23] abeloin commented on #563
Lib requests is missing:
If you have pip:
```pip install requests```
If not you'll have to install it:
* Download: https://bootstrap.pypa.io/get-pip.py
* Command line: # python get-pip.py

[2015-02-08 02:25] abeloin commented on #563
It won't work your editing the wrong file, it's sickbeard/logger.py not SickBeard.py ;)

[2015-02-08 02:28] dpeart commented on #563
Figure that out. :)

Here is all I get:
20:26:57 DEBUG::Thread-13 :: Searching for Show with searchterm: how it's made on Indexer: theTVDB
20:26:57 INFO::Starting new HTTP connection (1): thetvdb.com
20:26:57 INFO::Starting new HTTP connection (1): thetvdb.com
20:26:57 DEBUG::"GET /api/GetSeries.php?seriesname=how+it%27s+made&language=en HTTP/1.1" 200 None
20:26:57 DEBUG::"GET /api/GetSeries.php?s

[2015-02-08 02:30] abeloin commented on #563
Weird, you get a 200(ok) which mean it's successful.

[2015-02-08 02:33] dpeart commented on #563
When I run TVRage I get:
20:32:47 INFO::Starting new HTTP connection (1): services.tvrage.com
20:32:47 INFO::Starting new HTTP connection (1): services.tvrage.com
20:33:04 DEBUG::"GET /feeds/search.php?show=how+it%27s+made HTTP/1.1" 200 1386
20:33:04 DEBUG::"GET /feeds/search.php?show=how+it%27s+made HTTP/1.1" 200 1386

[2015-02-08 02:41] abeloin commented on #563
Modified anything in sickrage's code?
Also do you see some ```Connection timed out``` in the log

[2015-02-08 02:46] dpeart commented on #563
No I've made no modifications, a clean check out.

I don't see any such messages.

[2015-02-08 02:53] abeloin commented on #563
Can you send me a copy of the log on pastebin?

[2015-02-08 02:58] abeloin commented on #534
@tchirou Any news?

[2015-02-08 03:00] brando56894 commented on #536
I have the same error on FreeBSD (FreeNAS) 9.3, I applied that patch but it didn't fix the error.

error log: http://pastebin.com/vMz6gvBg

[2015-02-08 03:05] dpeart commented on #563
sure give me a sec

[2015-02-08 03:08] dpeart commented on #563
ok try this:

http://pastebin.com/CbkNCZVi

[2015-02-08 03:15] brando56894 opened #564 "Failed doing webui callback"
2015-02-07 22:11:22 Thread-36 :: Failed doing webui callback: Traceback (most recent call last):
  File "/usenet/SickRage/sickbeard/webserve.py", line 230, in async_call
    result = function(**kwargs)
  File "/usenet/SickRage/sickbeard/webserve.py", line 1857, in getManualSearchStatus
    if not [i for i, j in zip(searchThread.segment[0], episodes) if i.indexerid == j['episodeindexid']]:
TypeErro

[2015-02-08 03:34] abeloin commented on #563
Have you tried searching 'how it's made' with tvdb only?

[2015-02-08 03:43] abeloin commented on #536
@brando56894 Not exactly the same. Revert the patch you just applied.

Can you revert [this pull request](https://github.com/SiCKRAGETV/SickRage/pull/1258/) that was merged into develop on your copy, restart sickrage and try again

[2015-02-08 03:45] dpeart commented on #563
yes, I get the same output as I do with 'all indexers' is selected:
2015-02-07 21:44:19 DEBUG    Thread-62 :: Searching for Show with searchterm: how it's made on Indexer: theTVDB
2015-02-07 21:44:19 INFO     Starting new HTTP connection (1): thetvdb.com
2015-02-07 21:44:19 INFO     Starting new HTTP connection (1): thetvdb.com
2015-02-07 21:44:20 DEBUG    "GET /api/GetSeries.php?seriesname=how+it

[2015-02-08 03:46] abeloin commented on #564
That report is based on the error after applying the path from #536. You should put the original error

[2015-02-08 03:58] abeloin commented on #563
If you do a ```git dif``` what's the result?

[2015-02-08 04:03] dpeart commented on #563
Only the logger change I made

diff --git a/sickbeard/logger.py b/sickbeard/logger.py
index 1d289f1..a82c4e3 100644
--- a/sickbeard/logger.py
+++ b/sickbeard/logger.py
@@ -70,6 +70,7 @@ class Logger(object):
             logging.getLogger('sickrage'),
             logging.getLogger('tornado.general'),
             logging.getLogger('tornado.application'),
+            logging.getLogger("requests.p

[2015-02-08 04:20] abeloin commented on #563
Mmm... a weird one.
Have you tried it on a fresh copy of sickrage(new config)?

[2015-02-08 04:23] dpeart commented on #563
This is a new one from this AM.

[2015-02-08 04:26] dpeart commented on #563
Ok I just moved that install aside and did a new git, using master branch this time.  I get the same results:

BRANCH: (master) / COMMIT: (401cb666016e45b42fe675bafdf7908ad6c2b9bb)

[2015-02-08 04:33] abeloin commented on #563
Ok, can you try this modified script(use sickrage requests)? Place it in the root of sickrage path.
test.py
[code]

[2015-02-08 04:34] dpeart commented on #563
I am using Python 2.7.5 for x64.  When I had it working before I was runnin Python 2.7.3 x32.  When I updated to x64 I used the new version.

[2015-02-08 04:39] abeloin commented on #563
Should not be an issue as I'm running on 2.7.5 on x64 machine:
[code]

[2015-02-08 04:49] dpeart commented on #563
yep, I installed 2.7.3 and you're right it didn't make any difference

[2015-02-08 04:56] dpeart commented on #563
So I just installed sickbeard and it works without issues.  Just cloned it in.  Too bad it doesn't do torrents like sickrage :)

[2015-02-08 04:59] abeloin commented on #563
Have you tried the script?

It is weird that you get this when the connection is succesful:
[Imgur](http://i.imgur.com/MZ3cNhb.png)

[2015-02-08 05:01] dpeart commented on #563
I don't have pip

[2015-02-08 05:02] abeloin commented on #563
The second script doesn't need pip, it use sickrage's requests lib.

[2015-02-08 05:05] dpeart commented on #563
root@Tower:/mnt/user/apps/sickbeard_v1# python test.py
[]
CaseInsensitiveDict({'content-encoding': 'gzip', 'transfer-encoding': 'chunked', 'set-cookie': '__cfduid=d717e65f9b79610e0827f6e76a30aeaae1423371900; expires=Mon, 08-Feb-16 05:05:00 GMT; path=/; domain=.thetvdb.com; HttpOnly', 'cf-cache-status': 'REVALIDATED', 'expires': 'Sun, 08 Feb 2015 05:35:00 GMT', 'vary': 'Accept-Encoding', 'server':

[2015-02-08 05:20] abeloin commented on #563
ok, can you try this in your web browser(change the host to point to your sickrage host):

http://localhost:8081/home/addShows/searchIndexersForShowName?search_term=how%20it%27s%20made&lang=en&indexer=1

[2015-02-08 05:24] dpeart commented on #563
I see the debug message in the log file, but it never returns.  The web browser spins forever.

[2015-02-08 05:25] abeloin commented on #563
Can you try it with wget?

[2015-02-08 05:28] dpeart commented on #563
Hangs, but get same message i the log file, that it is search for the show.

 wget "http://localhost:8081/home/addShows/searchIndexersForShowName?search_term=how%20it%27s%20made&lang=en&indexer=1"
--2015-02-07 23:27:35--  http://localhost:8081/home/addShows/searchIndexersForShowName?search_term=how%20it%27s%20made&lang=en&indexer=1
Resolving localhost (localhost)... 127.0.0.1
Connecting to localho

[2015-02-08 05:44] abeloin commented on #563
If you want you can try debugging using python's pdb:

* Insert ```import pdb; pdb.set_trace()``` in line 2076 of sickbeard/webserve.py:
[code]
* Start sickrage manually from the command line with the params specified in your startup script(if you datadir or like add to command line):
[code]
* Add a show in Sickrage.
* Go back to the command line, you should see something like this:
[code]
* If it

[2015-02-08 05:45] dpeart commented on #563
OK I'll do this tomorrow.  Kind of late for me tonight.

Thanks for all the help.

[2015-02-08 05:47] abeloin commented on #563
Good night

[2015-02-08 05:48] combres commented on #504
@flightlevel @Kybber I am actually using a standard setup on seedboxes.cc, which I think is hosted from somewhere in the netherlands. I am not entirely sure how they have this setup. I can probably find out. let me know what details you need and I will source.
thx

[2015-02-08 05:53] dobdob commented on #521
I have not seen any recurrences since my initial report, but my queue as been pretty small which may have something to do with it.

[2015-02-08 05:57] minipulator commented on #503
New to SR, @fernandog your instructions from Jan 27th worked for me.  Appreciated.

[2015-02-08 07:08] PapaFatHead opened #565 "Post Process and Folder Settings??"
I'm new to using SR but I'm having a problem with a few things.

Show root directories: What setting does this need to be?

TV Download Dir:  What setting does this need to be?

SR does download the file requested via my client (rtorrent) with no problems, once the file completes post processing is not moving the file to the folder created for that show.

Please advise..

[2015-02-08 08:27] tchirou commented on #534
Hi
Friday was not good at startup. I modified as you told me Friday afternoon.
Saturday morning was a breeze : 3 snatched out of free. But I am away
skiing this weekend so I can't check the log.
I will report back tomorrow with the Sunday evening shows to check if
there is a good pattern on the way.
Many thanks

[2015-02-08 08:39] abeloin commented on #534
Ok, have fun skiing :)

[2015-02-08 14:12] Quiptix commented on #536
Unfortunately I get another or as far I can tell the same error with the included patch:
[code]

[2015-02-08 14:29] Quiptix commented on #536
How to I reverse the patch, because it seems that no episodes at all are found by clicking on the hourglass.

[2015-02-08 14:50] abeloin commented on #536
git reset --hard HEAD^

[2015-02-08 14:57] abeloin commented on #536
@Quiptix Can you try revert applying this pull request:
* Dowload: https://github.com/SiCKRAGETV/SickRage/pull/1258.diff
* Command line: ``` git apply -R 1258.diff ```
* Restart sickrage and try again?

[2015-02-08 15:05] abeloin commented on #431
@boeggild Did you get a chance to try the commit?

[2015-02-08 15:40] dpeart commented on #563
Ok I can't get through past here:
                results.setdefault(indexer, []).extend(t[search_term])
That is where it hangs, about three lines past where I turned on the debugger.  I've stepped inside it, but after about 100  steps it still didn't hang.  I'll continue stepping through.

[2015-02-08 15:59] abeloin commented on #563
Your maybe in a loop, press l (lowercase L) and post the data here

[2015-02-08 16:13] abeloin commented on #563
Forgot to mention, you can use r also which will run the program until it it a return statement.

[2015-02-08 16:20] dpeart commented on #563
r would be nice, is there a way to do 32 nexts?   Here is where I am:

3xn
 results.setdefault(indexer, []).extend(t[search_term])
s
4xn
selected_series = self._getSeries(key)
s
n
allSeries = self.search(series)
s
4xn
 return self._getetsrc(self.config['url_getSeries'], self.config['params_getSeries']).values()[0]
s
2xn
return self._loadUrl(url, params=params, language=language).values()[0]
s
4xn

[2015-02-08 16:24] Goldensun1 commented on #482
Guys, sickrage will find the episodes for you!

I've been playing with the scene exceptions for quite some time myself and what worked for me is to add a "-" in the show name. For example "Fairy Tail S2 -"

Second, i think you need to uncheck the "only download torrents from trusted or verified uploaders ?" in the search provider settings, cause for some reason sickrage didn't trust the search res

[2015-02-08 16:26] abeloin commented on #563
Use markdown to wrap the result like code, it will be more easier to read. If you press enter without any character it reuse the previous one.

[2015-02-08 16:32] abeloin commented on #563
By the way, at ```results.setdefault(indexer, []).extend(t[search_term])``` press s then at the next(selected_series = self._getSeries(key)) press r and repeat it should go faster.

[2015-02-08 16:47] abeloin commented on #482
@Goldensun1 In this case it's because the ' is removed which results in searching for "Kurokos Basketball 3" and not "Kuroko's Basketball 3". So instead of creating an exception every time a show as a ' in it, better fix it.

As for your example, I think there's an issue with 'anime_ultimate' with any anime name with a number at the end(e. g. dog days s3). We shouldn't have to put a - the end.

[2015-02-08 17:00] Kwebbel opened #566 "Error when accessing general settings"
BRANCH: (master) / COMMIT: (401cb666016e45b42fe675bafdf7908ad6c2b9bb)

I found an error in my sick rage error log.

[code]

When I open general settings I get an error page and can't proceed.

[code]

[2015-02-08 17:13] Kwebbel commented on #566
Solved by rebooting

[2015-02-08 17:13] #566 closed

[2015-02-08 17:21] alaorath opened #567 "Feature Request: ignore "Unknown" values of %EN for episode names when PostProcessing"
I'm using custom renaming with the following string:
"Season %S/%S.N.S%0SE%0E.%E.N.(%QN)"

In some cases, the episode name (%E.N) results in "Unknown".  In these rare cases, it would be nice to simply eliminate the episode name (effectively "Season %S/%S.N.S%0SE%0E.(%QN)")

[2015-02-08 19:25] dpeart commented on #563
OK I found the loop.

If I run with:

b /mnt/user/apps/sickbeard_v1/lib/lockfile/linklockfile.py 29

That is in the middle of the endless loop.  Spinning on a file lock?

[2015-02-08 19:36] dpeart commented on #563
nlinks returns a 1, it is looking for a 2 so it thinks the lock failed and re-runs.

[2015-02-08 19:40] Quiptix commented on #536
@abeloin Is this possibly a fix for the problem, or only for reverting the previous attempt?

[2015-02-08 19:47] abeloin commented on #563
What's the value of self.unique_name?
```p self.unique_name```

[2015-02-08 20:01] abeloin commented on #536
@Quiptix A change(PR 1258) was introduce in the last develop branch merge which I think could be related to the issue. I want to see if the issue was introduce by that pull request.

[2015-02-08 20:05] Quiptix commented on #536
It is already failing in the receiving call from nzbToMedia:
On line 253 of search_queue.py . So it looks more related to the first attempt, however nog sure whether multiple episodes could by handled in one single call.
Very important: The episode is never marker as bad/failed, which is one af the very first things that is done when such a call is received.
I understand what you are saying. My Py

[2015-02-08 20:20] abeloin commented on #536
Ok so PR1258 didn't help. ```git reset --hard HEAD``` should revert everything to develop.

Can you try the branch before all the changes from 10 days ago:
* Make sure 'Automatically update' is uncheck in config->general.
* Stop Sickrage.
* Run the following command in sickrage root:
```git checkout 91cb8d885ca278e5829ed53d856d578c8ee8cbe0```
* Start sickrage.
* Test again

[2015-02-08 20:23] abeloin commented on #563
And also self.lock_file?

[2015-02-08 20:24] Quiptix commented on #536
Ik have looked at the diff and applied it, however that change was already in the develop HEAD.
Luckily I can read the code quite happily. It seems that somebody already acknowledged that the segment was no list and parsed the Episode, which then it iterated again, which cannot be done as it was no list parsed at all.

Ik will revert back to 10 days again and test again!

[2015-02-08 20:31] abeloin commented on #536
Ok but I wanted you to revert those changes in [this comment](https://github.com/SiCKRAGETV/sickrage-issues/issues/536#issuecomment-73414192) that why I put the -R switch.

In develop currently:
[code]
after reverting the patch:
[code]
Anyhow it will be reverted with the git checkout 91cb8d885ca278e5829ed53d856d578c8ee8cbe0

[2015-02-08 20:36] abeloin commented on #563
I'm flabbergasted there's no timeout by default!!!

Ok remove ```import pdb; pdb.set_trace()``` from sickbeard/webserve.py and put into lib/lockfile/linklockfile.py line 26. It should be more easier the get the value.

Permission issue?

[2015-02-08 20:53] Quiptix commented on #536
With the branch reverting 10 days back, it works again.
I noticed that I forgot the -R in your statement with the patch.
I can try that again if needed.

[2015-02-08 21:09] abeloin commented on #536
Yes:
* Stop sickrage
* Go back to develop: ```git checkout develop```
* Apply the revert diff: ```git apply -R 1258.diff``` (Don't forget the -R ;) )
* Start sickrage
* test again

[2015-02-08 21:17] Quiptix commented on #536
I probably owe you an apology ...
I restarted SR with my init.d script which does a hard reset to HEAD. So I'm not sure that my very first attempt with git am was a goed try, so I'm going to do that one again!!! Working my way back to where we are...

[2015-02-08 21:28] abeloin commented on #536
No worries, everybody has the right to learn.

For TagForce/SickRage@eedb420 no need as brando56894 tried it yesterday and it didn't work.

Try the PR1258

[2015-02-08 21:29] Quiptix commented on #536
[code]
Oke, then I double confirmed it...

Next step the reversed patch

[2015-02-08 22:03] Quiptix commented on #536
The reversed patch gives back to lost functionality.
Automatic processing of failed downloads as manually marked failed episodes works as advertised. And no extra error messages. So it seems that patch 1258 needs to be reverted

[2015-02-08 22:08] abeloin commented on #536
Thank for your patience in debugging this issue. Leave the change in place until the branch develop is updated.

[2015-02-08 22:12] Quiptix commented on #536
I will... Also thanks to you...
(Also nice to dust off my git and python skills)

(I should be programming again)

[2015-02-08 22:13] abeloin commented on #527
Scratch that, can you try reverting SiCKRAGETV/SickRage#1258?

[2015-02-08 22:15] abeloin commented on #536
@TagForce @fernandog Pull request SiCKRAGETV/SickRage#1258 caused this issue, so it's no good. Also think it's releated to issue #527

[2015-02-08 22:19] abeloin commented on #499
For ref: Issue #536 is resolved by removing SiCKRAGETV/SickRage#1258

[2015-02-08 22:39] djiest opened #568 "AttributeError: 'DBConnection' object has no attribute 'close'"
After installing sickrage on my RPI 2, I get the following traceback on running
    python /opt/sickrage/SickBeard.py -d

following the install guide on http://www.htpcguides.com/install-sickrage-raspberry-pi-usenet-torrent-tv/

see http://pastebin.com/muab87Pm

[2015-02-08 23:50] dpeart commented on #563
I can see the self.unique_name file in cache/sessions.  It exsits. However, when I run os.link(self.unique_name, self.lock_file) I get the following error:
(Pdb) > /mnt/user/apps/sickbeard_v1/lib/lockfile/linklockfile.py(30)acquire()
-> os.link(self.unique_name, self.lock_file)
s
(Pdb) OSError: (38, 'Function not implemented')

-> os.link(self.unique_name, self.lock_file)

[2015-02-09 00:04] dpeart commented on #563
I also just figured out that ln test foo gives me the same error.  For some reason I cannot create hard links.  I'm running this on unRaid (my NAS) box, I'll have to go and figure out why this is happening.  Interestingly enough sickbeard doesn't have this issue.  I'll have to pull sickbeard down and see how they implemented this.

[2015-02-09 00:26] dpeart commented on #563
wow, I just learned something, so I guess this debug effort was good for me.  In unRaid they are "user" shares, and on user shares you cannot do a hard link.  Sickrage gets hung up trying to hard link.  I guess sickbeard doesn't.

I"m not sure if there is a way to make sickrage more tollerant of not being able to do a hard link, but I moved my sickrage install and it now works.

ableoin I cannot t

[2015-02-09 00:47] abeloin commented on #563
The joy of debugging ;)
For the difference between sickbeard/sickrage, my guess is sickbeard don't use lockfile.
I'm currently looking for way to check if it's an unraid system.

[2015-02-09 01:03] abeloin commented on #563
@dpeart Can you try this commit: abeloin/SickRage@de6cd8d9f1cb62f34f6a597f9578ecd0d11e9f3a I think it should fix the issue.

[2015-02-09 01:14] dpeart commented on #563
how do I test that commit?

[2015-02-09 01:20] abeloin commented on #563
* Stop sickrage
* Download the diff: https://github.com/abeloin/SickRage/commit/de6cd8d9f1cb62f34f6a597f9578ecd0d11e9f3a.diff
* In sickrage folder: ```git apply /path/to/de6cd8d9f1cb62f34f6a597f9578ecd0d11e9f3a.diff```
* Start sickrage
* Use the test url the previous comment

[2015-02-09 02:00] dpeart commented on #563
that worked!

[2015-02-09 02:07] abeloin commented on #563
Yes and thank you for the debugging.

@fernandog The pull request SiCKRAGETV/SickRage#1287 fix the issue.

[2015-02-09 02:09] dpeart commented on #563
This is what I got back:
{"results": [["theTVDB", 1, "http://thetvdb.com/?tab=series&id=", 79485, "How It's Made", "2001-01-06"]], "langid": 7}

I then tried it in the "gui" and it worked there as well.

[2015-02-09 02:15] abeloin commented on #563
Confirmed, I got the same results.

[2015-02-09 04:55] MVallee opened #569 "Downloaded episodes are not video files, but folders filled with useless files"
I keep getting some episodes that download but turn out to not be video files.

The episode will get snatched but then doesn't get moved with post process. I'll go check where the video files download to and there will be a folder there that's named with the scene name of the download (right down to the .mp4). When you open the folder there are some weird files inside. Usually one with the scene n

[2015-02-09 08:12] boeggild commented on #431
Indeed I have. I can also confirm that the commit has fixed the issue. Thank you.

[2015-02-09 09:13] fernandog commented on #563
Nice! Sorry I'm away for a while. New boss at work. At home my boss is my kid =)

[2015-02-09 09:15] fernandog commented on #563
@markheloking can you help me labeling the new issues?

[2015-02-09 09:44] flightlevel commented on #504
@combres Don't worry, the same thing started happening to me and I managed to find the problem.

Freshon was/is under DDOS attack and have started using CloudFlare. [More Detail](https://www.reddit.com/r/trackers/comments/2t5vrc/it_seems_freshontv_has_gotten_ddos_protection/)
This involves a 'javascript challenge' which SickRage is unable to pass.[More Detail](https://support.cloudflare.com/hc/en-

[2015-02-09 09:46] TagForce commented on #536
@abeloin I'm not seeing this error... Is it only when using nzbtomedia? Reverting this PR would break the failed search with other TypeError messages again, so I'd rather fix this one issue with zip expecting an iterable argument. This could simply be done by checking if segment is a list, and if not, make it a list. However, when I run through the code, segment should always be a list of episodes

[2015-02-09 10:03] maran commented on #446
Guys this is still a problem, any chance of getting the fix in?

[2015-02-09 10:05] Quiptix commented on #536
@TagForce
The problem occurs with nzbToMedia AND manual marking the episode as failed. So I would not point to nzbToMedia.
You can also reproduce this when marking a episode as failed/bad manually in the GUI. For the test (and now time being) I have reverted 1258, so line 70 tells what you are suggesting. Every other development is still in my SR
Which other TypeError were supposed to be fixed wit

[2015-02-09 10:13] fernandog commented on #446
@Abeloin

[2015-02-09 10:30] TagForce commented on #536
@Quiptix https://github.com/SiCKRAGETV/sickrage-issues/issues/499
But I think that particular error is caused only by one erroneous pass-as-a-list, rather than the 2 I changed. I think the one in failedProcessor.py should be reverted, but the one in webserve.py is correct.
The one in failedProcessor now passes a failed episode object as a single episode object, while the underlying functions expec

[2015-02-09 11:30] djiest commented on #568
had some issues apparently on first install
did a complete reinstall, issues no longer exists

[2015-02-09 11:30] #568 closed

[2015-02-09 14:12] abeloin commented on #536
@TagForce Here's the call nzbtomedia make to sickrage which caused the error from Quiptix log:
[code]
I must admit that, yesterday, I didn't check for the cause of the issue further other than PR1258 being the culprit.

[2015-02-09 14:16] abeloin commented on #446
@fernandog Yes?

[2015-02-09 14:17] lbjb commented on #527
Happy enough to give this a try - can you give instructions on how to do that? Thanks.

[2015-02-09 14:20] fernandog commented on #446
Understand about security? Otherwise will wait @echel0n

[2015-02-09 14:21] abeloin commented on #563
No worries, kids are and always will be the priority no matter what. :)

[2015-02-09 14:27] abeloin commented on #446
Yes I do, maybe we can discuss the issue via PM in sickrage.tv forums?

[2015-02-09 14:31] abeloin commented on #527
Here we go

* Stop sickrage
* Dowload: https://github.com/SiCKRAGETV/SickRage/pull/1258.diff
* Command line: ```git apply -R 1258.diff```
* Start sickrage
* Test again

If it doesn't resolve the issue, run this in command line to remove the changes:
```git checkout develop```

[2015-02-09 14:31] maran commented on #446
@abeloin I've created a forum account, could you tell me your username there so I can pm you?

[2015-02-09 14:32] abeloin commented on #446
@maran My username is funkylove

[2015-02-09 14:37] maran commented on #446
@abeloin Message sent :)

[2015-02-09 14:39] Quiptix commented on #536
On which event the code in web serve.py is called? When doing a multiple mark and not a single bad mark?
I could test a partial revert of the solution of 1258, if needed.
Only by reading the code I can agree with @TagForce

[2015-02-09 14:44] Gieffe opened #570 "No downloads were found"
Hello,

 I'm not able to snatch  anything. Everytime I get "no downloads were found". I'm using latest master version of sickrage running on  DSM 5.1-5022 Update 2. I use only torrents as search providers.

log file: http://pastebin.com/W5XnGVDn

Regards

[2015-02-09 14:46] Gieffe commented on #570
Python version 2.7.8-11

[2015-02-09 15:04] fernandog commented on #550
@ajtudela those episodes are now downloaded or still ignored?

[2015-02-09 15:06] fernandog commented on #521
@wborrelli can I close it? PP issue?

[2015-02-09 15:21] abeloin commented on #536
@Quiptix You should try it and let us know of the results

[2015-02-09 15:37] fernandog commented on #569
fake release. SR can't do anything. are you using TPB? disable it for now.

[2015-02-09 15:37] fernandog commented on #552
@Psychoteur try change to COPY instead of MOVE.

[2015-02-09 15:38] Quiptix commented on #536
I have tested it with a partial revert of 1258. I manually removed the [] in webserve.py . This code is indeed when marking multiple episodes as failed in the GUI. With brackets I get an error and not de desired behavior. Without the brackets functionality is normal.

I left the reverted patch 1258 in failedProcessor.py and that seems to work fine still. So IMHO 1258 only needs to be reverted on w

[2015-02-09 15:41] MVallee commented on #569
Ya I am using TPB but in the "History" it always shows that the episodes are snatched from Kickass Torrents, as that is listed as my top priority. I'll try disabling TPB and see if it fixes things.

[2015-02-09 15:55] moust4ki opened #571 "Kickass.so has been shutdown"
Could you change the URL to kickass.to as the .so is down?
Thanks

[2015-02-09 15:58] fernandog commented on #550
@abeloin do you delete the episodes after watching them? there's a setting in config.ini to skip removed files so if a downloaded episode get's removed, SR will set as IGNORED. You can disable it by   setting skip_removed_files = 1

[code]

just found out this setting. I was found out this because my downloaded episodes that were downloaded are being set to IGNORED.

[2015-02-09 16:00] fernandog commented on #571
waiting to be merged

[2015-02-09 16:03] fernandog commented on #569
set "only trusted/verified" or something similar in KAT/TPB/etc.. providers

[2015-02-09 16:15] moust4ki opened #572 "Transmission: Failed Sending Torrent"
Hello,

I switched from Sickbeard custom to SickRage yesterday. Everything went well as I managed to snatch a lot of full seasons and episodes. However since this morning I get no new torrent passed to Transmission. I tried to reboot, change settings without luck:
No new torrent are getting DL (old but also new show)...

Here is a sample of the errors I get, I changed the log view to Debug but I d

[2015-02-09 16:24] MVallee commented on #569
Ya I have had that set for both KAT and TPB.

[2015-02-09 16:34] abeloin commented on #536
Good

[2015-02-09 16:42] wborrelli commented on #521
Depends. Definitely a Post Processing issue.

I am seeing that some times during post processing a download is moved/renamed to the way I have defined, but then the original file is moved into the same directory, causing a second file.

So if there is someplace else that Post Processing issues should be addressed, go ahead and close this.