[2015-03-14 19:49] abeloin commented on #958
@nucce1 See the bright side, we now have a PR that improve debug logging: logs when there no data, no torrents, no title or url, doesn't meet min seeds or leechs. This will make it easier for everyone using TD to better understand when they get strange results. ;)

[2015-03-14 19:49] #958 closed

[2015-03-14 20:37] jesse0032 commented on #962
I do. But it gets too messy and confusing and too many files all in one directory. Makes sorting it later if I want to stop seeding tedious.  I prefer to run a manual process when it suits.  I run a manual move after a while as a tidy up, but it is not exactly tidy when all these empty folders are left behind.  I don't really understand why folders are not removed?  Some people use manual to test

[2015-03-14 20:46] Greg0rz commented on #743
So I haven't had the issue yet.  Obviously can only confirm I have the problem if I have the problem, but it has not happened yet...

[2015-03-14 20:47] #743 closed

[2015-03-14 21:37] Symbiot78 commented on #942
Hi

it's in Danish..
All it says is:

" A login attempt for this account has just failed from IP xx.xx.xx.xx (my IP)
It was tried with the following password : Pas..ord

so it's showing part of my password (I changed it above)

I suspected Sickbeard and tried changing my password for nxtgn in Sickbeard so instead of using my real password in the SB nxtgn plugin I used another one: Cheesestake

and

[2015-03-14 22:01] abeloin commented on #942
Do you the 2 factor authentication enable on the site?

[2015-03-14 22:16] fernandog commented on #960
https://github.com/SiCKRAGETV/SickRage/pull/1547

[2015-03-14 22:17] #960 closed

[2015-03-14 22:17] fernandog commented on #747
https://github.com/SiCKRAGETV/SickRage/pull/1547

[2015-03-14 22:18] #963 closed

[2015-03-14 23:42] fernandog commented on #589
updated first post. Add more things to "Big Features"

[2015-03-14 23:48] scythe000 opened #966 "[APP SUBMITTED]: This show is already being updated, can't update again until it's done."
### INFO
Python Version: **2.7.8 (default, Jun 30 2014, 16:08:48) [MSC v.1500 64 bit (AMD64)]**
Operating System: **Windows-2012Server-6.2.9200**
Branch: **master**
Commit: SiCKRAGETV/SickRage@3b399f16126c2566028312ecedcbb0a0d47d3dfa
### ERROR
[code]
---
_STAFF NOTIFIED_: @SiCKRAGETV/owners @SiCKRAGETV/moderators

[2015-03-15 00:10] fernandog commented on #966
Not an error

[2015-03-15 00:10] #966 closed

[2015-03-15 00:16] ThePieMan opened #967 "[APP SUBMITTED]: 'NoneType' object has no attribute '__getitem__'"
### INFO
Python Version: **2.7.3 (default, Apr 10 2012, 23:24:47) [MSC v.1500 64 bit (AMD64)]**
Operating System: **Windows-7-6.1.7601-SP1**
Branch: **master**
Commit: SiCKRAGETV/SickRage@3b399f16126c2566028312ecedcbb0a0d47d3dfa
### ERROR
[code]
---
_STAFF NOTIFIED_: @SiCKRAGETV/owners @SiCKRAGETV/moderators

[2015-03-15 00:16] ThePieMan opened #968 "[APP SUBMITTED]: 'NoneType' object has no attribute '__getitem__'"
### INFO
Python Version: **2.7.3 (default, Apr 10 2012, 23:24:47) [MSC v.1500 64 bit (AMD64)]**
Operating System: **Windows-7-6.1.7601-SP1**
Branch: **master**
Commit: SiCKRAGETV/SickRage@3b399f16126c2566028312ecedcbb0a0d47d3dfa
### ERROR
[code]
---
_STAFF NOTIFIED_: @SiCKRAGETV/owners @SiCKRAGETV/moderators

[2015-03-15 00:19] #968 closed

[2015-03-15 00:20] fernandog commented on #967
Try this please
https://github.com/SiCKRAGETV/sickrage-issues/issues/955#issuecomment-80176048

[2015-03-15 00:52] nicolasmartinelli opened #969 "[Feature Request] Better way to determine quality of files"
Branch: master

Hello,

I don't understand why in generic.py, the quality of the file is determined in two different ways.

First, it uses self.getQuality: https://github.com/SiCKRAGETV/SickRage/blob/master/sickbeard/providers/generic.py#L301
Then, it uses parse_result.quality: https://github.com/SiCKRAGETV/SickRage/blob/master/sickbeard/providers/generic.py#L330

This can lead to inconsistencies.

[2015-03-15 03:47] ryanf86 opened #970 "Unable to access Sickrage within local network"
INFO

Python Version: 2.7.9 (v2.7.9:648dcafa7e5f, Dec 10 2014, 10:10:46)
[GCC 4.2.1 (Apple Inc. build 5666) (dot 3)]
Operating System: Darwin-14.1.0-x86_64-i386-64bit
Branch: develop
Commit: SiCKRAGETV/SickRage@5626fa5977

ERROR

For quite a while now I have been unable to access Sickrage from any other computer on my local network.

On my computer where Sickrage is installed I can access it with

[2015-03-15 05:00] ThePieMan opened #971 "[APP SUBMITTED]: 'NoneType' object has no attribute '__getitem__'"
### INFO
Python Version: **2.7.3 (default, Apr 10 2012, 23:24:47) [MSC v.1500 64 bit (AMD64)]**
Operating System: **Windows-7-6.1.7601-SP1**
Branch: **master**
Commit: SiCKRAGETV/SickRage@3b399f16126c2566028312ecedcbb0a0d47d3dfa
### ERROR
[code]
---
_STAFF NOTIFIED_: @SiCKRAGETV/owners @SiCKRAGETV/moderators

[2015-03-15 05:01] ThePieMan opened #972 "[APP SUBMITTED]: 'NoneType' object has no attribute '__getitem__'"
### INFO
Python Version: **2.7.3 (default, Apr 10 2012, 23:24:47) [MSC v.1500 64 bit (AMD64)]**
Operating System: **Windows-7-6.1.7601-SP1**
Branch: **master**
Commit: SiCKRAGETV/SickRage@3b399f16126c2566028312ecedcbb0a0d47d3dfa
### ERROR
[code]
---
_STAFF NOTIFIED_: @SiCKRAGETV/owners @SiCKRAGETV/moderators

[2015-03-15 07:00] #972 closed

[2015-03-15 07:00] #971 closed

[2015-03-15 12:34] fernandog commented on #589
Added "Fix manual search don't show message when search is done. Spinning wheels continues"

[2015-03-15 12:37] fernandog commented on #770
@suprdave23 did you tested the fix on develop

[2015-03-15 12:38] fernandog commented on #333
@TagForce @abeloin should we remove the jwplayer and use only HTML5?

[2015-03-15 12:49] fernandog commented on #967
@ThePieMan please don't open more issues about this. you already have one open

[2015-03-15 12:50] #957 closed

[2015-03-15 12:52] fernandog commented on #955
@abeloin let's merge abeloin/SickRage@59e10ab in develop/master. We had some more issues last night about this. Will be faster to debug>fix i. don't you think?

[2015-03-15 12:58] Symbiot78 commented on #942
Hi ..

No..

I've just done a complete reinstall. Making sure everything SickRage was removed.
I triple checked any residual Sickrage files rebooted and reinstalled Sickrage master branch.

I shifted all pointers (folders) to a different location and redid everything... including the nxtgn plugin.

For some reason.. it now connects to nxtgn properly. Meaning it works.

Same username, same password

[2015-03-15 13:00] fernandog commented on #942
@Symbiot78 open a new issue to "Download station torrent downloader"

[2015-03-15 13:00] #942 closed

[2015-03-15 13:18] abeloin commented on #589
@fernandog @TagForce Anything missing before the develop->master merge later today?

[2015-03-15 13:20] fernandog commented on #589
no. go ahead

[2015-03-15 13:23] xrolfex opened #973 "[APP SUBMITTED]: Connection error ('Connection aborted.', BadStatusLine("''",)) while loading URL http://services.tvrage.com/myfeeds/showinfo.php"
### INFO
Python Version: **2.7.6 (default, Mar 22 2014, 22:59:56)
[GCC 4.8.2]**
Operating System: **Linux-3.13.0-46-generic-x86_64-with-Ubuntu-14.04-trusty**
Branch: **master**
Commit: SiCKRAGETV/SickRage@401cb666016e45b42fe675bafdf7908ad6c2b9bb
### ERROR
[code]
---
_STAFF NOTIFIED_: @SiCKRAGETV/owners @SiCKRAGETV/moderators

[2015-03-15 13:56] abeloin commented on #973
Not an error, tvrage is temporarily unavailable

[2015-03-15 13:56] #973 closed

[2015-03-15 15:48] ThePieMan commented on #955
@fernandog Do I just replace that more info patch information into my generic.py SickRage file manually, and restart SR?  Do I need to be on Dev branch, or should I stick with Master?

[2015-03-15 15:54] fernandog commented on #955
will be in master today. Wait a bit

[2015-03-15 15:54] ThePieMan commented on #955
Ah, even better.  Thanks.

[2015-03-15 16:09] ThePieMan opened #974 "Odd logging hiccups"
Python Version: 2.7.3 (default, Apr 10 2012, 23:24:47) [MSC v.1500 64 bit (AMD64)]
Operating System: Windows-7-6.1.7601-SP1
Branch: master
Commit: SiCKRAGETV/SickRage@3b399f1

Though the error logging appears to work just fine no matter what, the main logs (DB / Debug / etc.) appear to stop logging after an update is processed.  That means when I've updated and then have an error thrown, I can't g

[2015-03-15 18:37] abeloin commented on #589
Merge done

[2015-03-15 18:38] abeloin commented on #955
@ThePieMan Update sickrage

[2015-03-15 19:20] dirkr07 commented on #955
Just Updated and Forced a FINDPROPERS:

[code]

[2015-03-15 19:29] ThePieMan commented on #955
Also here:

2015-03-15 13:20:46 INFO     FINDPROPERS :: Completed the search for new propers, next check in approx. 14m, 16s
2015-03-15 13:20:46 DEBUG    FINDPROPERS :: Setting the last Proper search in the DB to 735672
AA. Error: 'NoneType' object has no attribute '__getitem__'
AARelease Group: DIMENSION
AASize: -1
AAName: Greys.Anatomy.S11E15.REPACK.720p.HDTV.X264-DIMENSION
AAQuality: HD TV
AAEp

[2015-03-15 20:08] fernandog commented on #955
@ThePieMan @dirkr07 please update master and try again

[2015-03-15 20:12] #967 closed

[2015-03-15 20:16] dirkr07 commented on #955
New error but not much details:

[code]

[2015-03-15 20:20] fernandog commented on #955
@dirkr07 there's no DEBUG? change your log minlevel please

[2015-03-15 20:29] dirkr07 commented on #955
didn't come up with a search so I quickly checked manually:

[code]

[2015-03-15 20:29] REDdimension opened #975 "[Feature Request] 'tp' mediaExtensions Addition"
Hi, awesome Sickrage people!

I have a simple request. If it's not too much trouble, would you please add "tp" to the allowed mediaExtensions list in line 28 of common.py?

I use Beyond TV, and *.tp is the native file format of that DVR software. Kodi plays it fine, but Sickrage doesn't recognize it by default, so after every update (and thanks to the frequent update schedule, that's often) I have

[2015-03-15 20:34] ThePieMan commented on #955
[code]

[2015-03-15 20:54] fernandog commented on #955
@dirkr07 @ThePieMan did you updated?

[2015-03-15 20:55] dirkr07 commented on #955
Yup, each time you asked.
Just checked manually again and no update.

I' on commit: e2a646fdbcade3512de242e156f2237a5c88b34b

[2015-03-15 20:55] ThePieMan commented on #955
You betcha

On Sun, Mar 15, 2015 at 1:54 PM -0700, "Fernando" <notifications@github.com> wrote:

@dirkr07 @ThePieMan did you updated?

—
Reply to this email directly or view it on GitHub.

[2015-03-15 21:16] abeloin commented on #955
Please update

[2015-03-15 21:21] fernandog commented on #955
@dirkr07 @ThePieMan please update

[2015-03-15 21:23] dirkr07 commented on #955
New error (torrent without content):

[code]

[2015-03-15 21:56] ThePieMan commented on #955
[code]

[2015-03-15 22:34] fernandog commented on #955
@ThePieMan @dirkr07
stop SR,
edit SickRage/sickbeard/clients/generic.py
remove line 154 (raise), save
start SR
please test and report back

[2015-03-15 22:38] fernandog commented on #975
@REDdimension please send the modified line in common.py

[2015-03-15 22:40] fernandog commented on #974
@ThePieMan send all logs you have so we can confirm the hiccpups

[2015-03-15 22:44] fernandog commented on #970
@ryanf86

please open config.ini and send the following settings:

[code]

[2015-03-15 23:34] fernandog opened #976 "[Feature Request] "Missed" from webserve/UI is different from missed in webapi/apibuilder"
- webapi /apibuild don't use the network setting local. Only network
- coming episodes javascript don't take into account the change local<>network and keep displaying that episode as missed

SR Version:	BRANCH: (develop) / COMMIT: (31217535710b3adeaab7bed65714553478ab18c5)
SR User:	pi
SR Locale:	('pt_BR', 'UTF-8')
SR Config file:	/home/pi/SickRage/config.ini
SR Database file:	/home/pi/SickRage/si

[2015-03-15 23:35] ThePieMan commented on #955
Done.  Here's the error now:

[code]

[2015-03-16 01:20] edru opened #977 "[Feature Request] Save Custom Quality Profiles"
Just a way to define an initial/archive quality config, then save it with a custom name. This would make mass editing a lot easier, and identify better if you have various "custom" qualities you could see the difference on a list level rather than show level.

[2015-03-16 02:15] abeloin commented on #970
@ryanf86 make sure the web_host is set to 0.0.0.0 not 127.0.0.1

[2015-03-16 02:32] chrisric opened #978 "Provider TD error "sslv3 alert handshake failure" when searching"
Hi,

Since updating to latest master torrentday gets the below error when searching for a episode.

2015-03-16 13:17:50 ERROR    SEARCHQUEUE-BACKLOG-78998 :: [TorrentDay] :: Error while searching TorrentDay, skipping: error [SSL: SSLV3_ALERT_HANDSHAKE_FAILURE] sslv3 alert handshake failure (_ssl.c:581)

Full log: (scroll to end of file)
https://drive.google.com/file/d/0B8JFLK_cWhrbbndweFhDR2ZTZDA/

[2015-03-16 02:35] abeloin commented on #955
From which provider do you get this?

[2015-03-16 02:49] abeloin commented on #955
For some reason pickBestResult doesn't download the torrent

[2015-03-16 04:32] ryanf86 commented on #970
web_port = 8081
web_host = 0.0.0.0
web_ipv6 = 1
web_log = 0
web_root = ""

[2015-03-16 08:01] TagForce commented on #974
@ThePieMan Please update to the latest master... A fix for logfiles not rotating on Windows properly when restarting SR has been pushed to it. The problem is that SR would keep the logfile open when restarting, and closing the old instance after starting a new instance would keep an exclusive lock on the file open, causing it to not be able to be renamed/deleted. This would cause logrotation to fa

[2015-03-16 08:42] dirkr07 commented on #955
I'm using Shazbat, seems like @ThePieMan is using BTN

[2015-03-16 08:48] dirkr07 commented on #955
Noticed u made an update @abeloin so I just updated and forced again:
Not sure if u get any more info from this

[code]

[2015-03-16 09:04] fernandog commented on #970
Stop SR
edit config.ini
set web_host with the IP
save
start

[2015-03-16 09:31] ryanf86 commented on #970
Changed the IP address but still can access it on other computers on the network.

It appears as if it's going to load then after a minute or to it says 'could not open the page because the server stopped responding'

Have no issue access from the computer SR is running although I now have to put in the IP address instead of locahost. Assuming that's because of the changes made to the config file

[2015-03-16 10:03] fernandog commented on #970
Why did you enabled IPV6?
Stop SR, disable in config. Start

[2015-03-16 10:13] fernandog commented on #974
@ThePieMan please report if error still happens after last yesterday update

[2015-03-16 10:15] ryanf86 commented on #970
Not sure when or why I did that but have turned it off and still no change

[2015-03-16 10:18] cytec opened #979 "[Feature Request] Anyone interested in multi language support?"
Hi,

I've been working on a SickBread fork for quite a long time and recently switched to my own SickRage Fork. I was amazed how few changes (compared to SickBeard) i had to make to take the same effect and i really love it!

I've done a lot of smaller changes in my fork but the "main" feature would be that it has support for downloading multiple Languages out of the box... I'm using the Shows Met

[2015-03-16 10:21] fernandog commented on #970
did you restarted after disable it or did you disable while running SR?
did you try clear cache?
It's not a SR problem as I can access my SR using IP and host name

[2015-03-16 10:26] fernandog commented on #979
@cytec how do you handle when indexer don't have all necessary non-english data to add a show? do you fallback to english?

[2015-03-16 10:27] fernandog commented on #979
@cytec is that it?
 https://github.com/SiCKRAGETV/SickRage/pull/1372

[2015-03-16 10:39] flightlevel opened #980 "Unable to parse the filename into a valid show"
Not sure why SickRage won't parse the below filename, looks fairly standard to me.
`2015-03-16 21:17:21 INFO     SEARCHQUEUE-BACKLOG-267736 :: [IPTorrents] :: Performing episode search for Yukon Gold`
`2015-03-16 21:17:21 DEBUG    SEARCHQUEUE-BACKLOG-267736 :: [IPTorrents] :: IPTorrents search page URL: https://iptorrents.eu/torrents/?l73=1&l78=1&l66=1&l65=1&l79=1&l5=1&l4=1&q=Yukon.Gold S03E03 &qf

[2015-03-16 10:40] fernandog commented on #978
@chrisric do you have global proxy enable or provider proxy enabled? If so, try disable please. TD changed his domain name

[2015-03-16 10:42] ryanf86 commented on #970
Shutdown and changed it in the config file then started again. Just deleted the cache and still no luck.

I might download a fresh package and try accessing before I import my settings and see if I can access. Could be some corrupt or erroneous files somewhere

[2015-03-16 10:42] fernandog commented on #980
@flightlevel IMO there isn't codec info. SR needs the codec info.

[2015-03-16 10:43] fernandog commented on #970
ok. let us know

[2015-03-16 10:46] fernandog commented on #978
@abeloin looks like TD don't support SSL3 anymore. Should we change something in SR or not?

[code]

https://www.ssllabs.com/ssltest/analyze.html?d=tdonline.org&s=104.27.133.232&hideResults=on

[2015-03-16 11:00] flightlevel commented on #980
I thought that might be the case as well, but plenty of the test cases don't provide that much info eg.
https://github.com/SiCKRAGETV/SickRage/blob/master/tests/name_parser_tests.py

[2015-03-16 11:05] fernandog commented on #980
tests are not running
https://github.com/SiCKRAGETV/SickRage/pull/    1525

[2015-03-16 11:09] TagForce commented on #980
Yukon.Gold.WEBRip.S03E03.360p.mp4
The WEBRip part is in the wrong place...
My guess is it's trying to convert Yukon Gold WEBRip into a valid show name.
Try adding that to your scene exceptions.

[2015-03-16 11:19] flightlevel commented on #980
Thanks @TagForce & @fernandog
Spot on @TagForce , added it to scene exceptions and bingo! It was just poor naming.

[2015-03-16 11:19] #980 closed

[2015-03-16 11:21] chrisric commented on #978
@fernandog I do not use any proxy, Australia hasn't blocked anything as yet.

Was SSLv3 support just enabled on SR? TD was working 5min before I upgraded to the latest master. TD making a change to no longer support SSLv3 within that time frame is unlikely... but not impossible I guess.

[2015-03-16 11:22] fernandog commented on #980
@flightlevel it's not a scene exceptions. you can have problems with PP or KODI. It's a bad naming.

[2015-03-16 11:25] fernandog commented on #978
@chrisric
latest master changed the TD domain name
stop SR, edit SickRage/sickbeard/providers/torrentday.py
and change tdonline.org > torrentday.eu
save
star and test

[2015-03-16 11:41] chrisric commented on #978
@fernandog Sorry, I didn't notice the domain change. It works now I have changed it back.

Thanks.

[2015-03-16 11:56] neoatomic commented on #979
@cytec I'm a firm believer that its better to combine/concentrate forces on one place than do our separate things. Saw you have a substantial German community, so there must be demand for those changes.
So when its possible, lets do it.

[2015-03-16 11:56] ryanf86 commented on #970
Still no luck even with a blank slate which leads me to think that it maybe something to do with my system. I just seems strange that it is only happening with SR. I swapped SR and Couchpotato port number and couch potato works fine no matter what port i put it on

[2015-03-16 12:25] cytec commented on #979
@fernandog well... the indexer stuff is still handled by the indexer itself... tvdb for example falls back to english descriptions if there is no content entered for the requested non-english language.

that pull request you are referencing would be something to give the user more choices for the default language an indexer uses which would also be great :) But i'm talking about downloading foreig

[2015-03-16 12:46] neoatomic commented on #589
Did some thinking.

We could change the naming/image on the "support" button to "donate" as i find it currently a little confusing.

Also add a new button next to it, "live support" and link it to the IRC channel.
https://sickrage.tv/forums/irc
The thinking behind this is that it populates the IRC channel and users helping them-selfs first with general questions. Consequence is hopefully that it r

[2015-03-16 13:12] TagForce commented on #589
@neoatomic Maybe we should get OPs on the channel as the 'official' staff members of SR... Another nice idea might be to include an eggdrop bot on the channel to answer basic questions or supply a FAQ through IRC... http://www.eggheads.org/

From the top of my head the following possibilities come to mind:
- Provide a FAQ
- Provide basic answers on search queries to the bot using keywords (!bot I'

[2015-03-16 14:09] ThePieMan commented on #974
I was wondering if something had changed, because I've been monitoring after all those updates that were pushed yesterday, and the problem has not duplicated itself. Closing the issue. I'll revisit if I see it happening again. Thanks @fernandog

[2015-03-16 14:09] #974 closed

[2015-03-16 14:19] fernandog commented on #974
@ThePieMan, thank @TagForce ! he did the fix!

[2015-03-16 14:24] abeloin commented on #978
@chrisric What version of python did you download from [python website](https://www.python.org/downloads/release/python-279/)?
* Mac OS X 64-bit/32-bit installer (10.6+)
* Mac OS X 32-bit i386/PPC installer (10.5)

Because if you use the i386/PPC version it will be linked to an old version of openssl.

To check your openssl version: `python -c 'import ssl; print(ssl.OPENSSL_VERSION)'` SNI was adde

[2015-03-16 14:32] abeloin commented on #970
Do you use the firewall? Check preferences > security & privacy > firewall to see if you allow incoming connection for sickrage.

To see if sickrage is binding to all adapter, try this command in terminal: `sudo lsof -i -n -P | grep TCP`
In result look for a line similar to this one(contain 8081):
`python    17496 user   10u  IPv4  57570      0t0  TCP *:8081 (LISTEN)`
The start indicate it's liste

[2015-03-16 16:13] abeloin commented on #955
@dirkr07 Try the following:
* Stop sickrage
* In sickbeard/clients/search.py line 209, add the following:
[code]
which will look like this:
[code]
Post the results

[2015-03-16 16:32] fernandog commented on #978
@abeloin mine:

[code]

[2015-03-16 18:50] fernandog commented on #976
@TagForce can you confirm?

[2015-03-16 18:51] fernandog commented on #969
@nicolasmartinelli

" while the provider knows it is a SD TV."

or HDTV?

[2015-03-16 18:53] fernandog commented on #965
@MrsAngelD can you post some examples?

[2015-03-16 19:07] MrsAngelD commented on #965
Examples of what exactly? The TVDB lists each episode of Nation Geographic documentarys by season (ie 2015x8) however episodes are being released without these they are instead released by the name of the episode.

For example the first episode of National Geographic Documentaries for the most recent season is listed on tvdb as

Season: 2015
Episode: 01
Title: The Raising of The Costa Concordia

H

[2015-03-16 20:00] ThePieMan commented on #955
I'm pretty sure I got that code added in correctly, but not sure i see it functioning here: http://pastebin.com/Ymfx21J8

[2015-03-16 20:08] nicolasmartinelli commented on #969
Nope, SDTV ;) https://github.com/SiCKRAGETV/SickRage/blob/2d8aad80cdfb8983832206af445039de0decded9/sickbeard/common.py#L212

Anyway, my question is why would you determine the quality with two different methods, knowing that the final method override anyway the quality sent by the provider?

[2015-03-16 21:15] abeloin commented on #976
For some reason the airdate is converted but not the airs. webapi.py#L764

[2015-03-16 21:21] abeloin commented on #976
But this shouldn't change because of the network or local setting. The api should give the same time format for every query and maybe provide the timezone so the client can do the conversion.

[2015-03-16 21:28] fernandog commented on #976
doing this will break compability with all third party apps.
Ir should convert the airdate/airs like the UI.
21:00 in London its not the same as 21:00 here. Thats why the local setting exists.

[2015-03-16 21:34] abeloin commented on #976
Ok but then how do you know what time is shown via the api local or network?

[2015-03-16 21:41] fernandog commented on #976
This same question is valid to coming episodes Depends on user preference: local or network. I dont need to know network airtime. If all my tv-shows are from my home country than its ok to know. but 100% are not.  dont you agree?

[2015-03-16 21:48] abeloin commented on #976
I'm talking about the api, not the web interface. In the web interface, it's up to the user to choose it's preference. In the api, time for all tv shows should have a common ground, ie: zulu(GMT0) this way the software using the api can easily do the conversion to your local time(or not) without guessing if the user choose local or network

[2015-03-16 21:56] Hellowlol commented on #976
I would like to choose the middle ground, add a new dict with airsUTC with full date, time and time zone to it can be parsed by third party apps and parameter for local time / network time with modifies the current time out put. Best for three worlds ;)

That's my 2 cents

[2015-03-16 21:59] fernandog commented on #976
And if they dont want to handle it, just show whatever is in "airs"

Nzb360 dev wont handle this. They already told that.

[2015-03-16 22:23] abeloin commented on #976
Sickbeard doesn't handle timezone in the api: https://github.com/midgetspy/Sick-Beard/blob/development/sickbeard/webapi.py#L789

[2015-03-16 22:29] abeloin commented on #976
Ok according to this it is a bug: https://github.com/SiCKRAGETV/SickRage/commit/ae94ab6d80da23323324a9aaa0935c8bfe308eb5

All api should be using the time zone setting, so airs is incorrect

[2015-03-16 22:40] abeloin commented on #955
Maybe the if is misalign here with longer code with added log line:
[code]

[2015-03-16 23:54] ThePieMan commented on #955
Yup, the code is as shown in my search.py file.  Producing the same string of events as that pastebin log each time Find Propers runs.  Not throwing errors anymore, but nor is it grabbing any Proper files.

[2015-03-17 00:10] abeloin commented on #955
@ThePieMan Did you got any of the log line starting with ZZZZ?

[2015-03-17 00:19] abeloin commented on #955
Change in properFinder.py#L148 from this:
[code]
to this:
[code]
Stop sickrage first.

[2015-03-17 00:23] chrisric commented on #978
@abeloin I downloaded "Mac OS X 64-bit/32-bit installer"

Looks like I just passed with OpenSSL version "OpenSSL 0.9.8za 5 Jun 2014"

I installed modules as suggested but it gave the same error.

This looks to be working for others, probably not a SR issue based on your comments.

Feel free to close this and I'll troubleshoot it in some python or mac forum. Maybe I should just install Linux on my

[2015-03-17 00:40] abeloin commented on #978
Can you run this in terminal: `openssl version`

Maybe you could use brew or macports to upgrade your openssl version: http://stackoverflow.com/questions/15185661/openssl-version-macosx-homebrew

Reference: http://bugs.python.org/issue17128

[2015-03-17 01:22] chrisric commented on #978
@abeloin Here you go.

[code]
I will install macports and let you know.

Thanks.

[2015-03-17 01:35] abeloin commented on #976
Scratch everything I just said, it does work the shows I was testing where on tvrage with unrecognized tv station hence no timezone/no change and to other one is on YTV Japan but in tvdb it is ytv which default to YTV USA

[2015-03-17 01:52] fernandog commented on #976
@midgetspy

is there a reason why UI missed concept is different com API missed ?

**UI:**
missed uses date and time

**API:**
uses only date

missed - show's date is older than today
http://sickbeard.com/api/#future

[2015-03-17 02:30] chrisric commented on #978
@abeloin Okay... I'm getting a new error now. Logs are below, scroll to end of file etc.
https://drive.google.com/file/d/0B8JFLK_cWhrbVFNVVVFWOUk1T3c/view?usp=sharing

Changes I've made:
Upgraded pyOpenSSL and OpenSSL
[code]
Thanks.

[2015-03-17 03:21] chrisric commented on #978
@abeloin I updated

[code]

[2015-03-17 07:52] TagForce commented on #962
@jesse0032 I have the code in place to add the option to delete files even when manually processing (it is a checkbox on the PP page), but I want to know if @abeloin is going to merge my other PP which handles failures anytime soon, as it will most certainly cause merge conflicts. I'd rather do it in that code, as it will be less messy in the end, and provides a more complete change to the Post Pr

[2015-03-17 08:57] Rouzax opened #981 "[Feature Request] Show actual quality (hdtv/1080p) instead of custom quality labels"
I've set al my shows for either HD TV or 1080p HD TV.
It would be great to see that in the show overview table instead of Custom
![image](https://cloud.githubusercontent.com/assets/4103090/6683879/e9e722d2-cc8b-11e4-950e-13933094d904.png)
Is that possible?

[2015-03-17 08:58] Rouzax commented on #955
I still haven't got the error.

[2015-03-17 09:40] gunterzielke opened #982 "hung on restart - either shutting down or restarting"
The problem usually starts out with a situation where I click on a show to open it - and it does not, it sits there waiting and nothing does. I can still select some other pages in the system but can not open any shows.
After that the next action is to try to restart sick beard - sometimes (but rarely) it works, but mostly the restart hangs either in shutting down, or restarting.
When the hung-up

[2015-03-17 10:28] fernandog commented on #982
Disable:
auto update on startup
Backlog search on startup

[2015-03-17 12:59] fernandog commented on #975
@REDdimension done in develop. wait until sunday to be merged in master

[2015-03-17 12:59] #975 closed

[2015-03-17 12:59] #956 closed

[2015-03-17 13:00] #934 closed

[2015-03-17 13:01] fernandog commented on #846
@Thraxis any news on the error?

[2015-03-17 13:03] fernandog commented on #853
@CoRpO if you need testing or something let me know.

[2015-03-17 13:04] fernandog commented on #589
@TagForce any comments/suggestions/etc in "Big Feature" in the first post?

[2015-03-17 13:39] fernandog commented on #895
@grimd34th any news about this?

*Can you change the logger line from my previous comments to:*
[code]
*and give me the results when running with encrypted and not?*

[2015-03-17 13:52] TagForce commented on #589
@fernandog At the moment I have no additions to the big features list. Those that are there make sense, and are needed in the near future. As for the quality in the db. Yes. Although the quality information is embedded in the status somewhere (104 is downloaded SD TV, for instance), but seperating those is a good idea for more than 1 reason.
Also, and I'm just throwing this in here, we could get a

[2015-03-17 13:57] abeloin commented on #978
@chrisric Changing the domain isn't a long term solution as more and more website uses sni.
You updated urllib3 in /lib/requests? That won't work, better upgrade requests to 2.6.0

Also since you updated to openssl 1.1.2 you can remove:
* pyOpenSSL
* ndg-httpsclient
* pyasn1

[2015-03-17 13:58] fernandog commented on #589
@TagForce I like the ideia. but we must block do mediainfo to the entire files. mainly in massupdate!

about quality, do you know how to respond this without investigate the code?
https://github.com/SiCKRAGETV/sickrage-issues/issues/969

[2015-03-17 14:09] abeloin commented on #978
@chrisric Forgot to ask, after upgrading openssl didi you checked if python the new openssl:
`python -c 'import ssl; print(ssl.OPENSSL_VERSION)'`

[2015-03-17 14:12] abeloin commented on #962
@TagForce It was merged by @fernandog 2 hours ago

Ref: https://github.com/SiCKRAGETV/SickRage/pull/1548

[2015-03-17 14:21] ThePieMan commented on #955
@abeloin I changed the properFinder.py file as indicated. SR ran the Propers search a number of times overnight, but logs are basically identical to yesterday without any new info or lines in the logs. Going to restart everything and report back later in the day.

[2015-03-17 14:38] TagForce commented on #969
@nicolasmartinelli The first one only has the scene release name to work with, so it checks that. Then, later on, we're actually using a parsed result, which can be done on files already renamed by SR. To get the qualities from that it tries to find the Quality Strings SR uses for its renaming scheme in the filename, if that fails (quality.NONE is reached in the iteration of all the quality codes)

[2015-03-17 15:12] TagForce commented on #962
@fernandog @abeloin https://github.com/SiCKRAGETV/SickRage/pull/1576

[2015-03-17 15:24] abeloin commented on #589
New wiki page: https://github.com/SiCKRAGETV/SickRage/wiki/Git-merge

[2015-03-17 15:27] fernandog commented on #589
Nice! Thanks

[2015-03-17 15:35] abeloin commented on #962
PR merged

[2015-03-17 15:44] ThePieMan commented on #955
@abeloin - something is awry...

[code]

[2015-03-17 15:53] #962 closed

[2015-03-17 15:53] abeloin commented on #955
Can you try restarting sickrage again?

[2015-03-17 16:01] TagForce commented on #589
@fernandog Yes, we should only allow it on contained amounts of files... So not in mass updates, and only do it when the user specifically chooses to do it (only manually).

[2015-03-17 16:16] fernandog commented on #589
@TagForce and in PP of course!

[2015-03-17 16:26] fernandog commented on #301
@LinuxBozo

how to remove bad shows from recommendations?

here my list from trakt:
https://gist.github.com/fernandog/06238a7011d1f16b64f4

You can notice that the first one is a BAD one. full of "None"
[code]

I tried changed but I coudl'nt

[2015-03-17 16:54] fernandog commented on #301
@LinuxBozo why this does not work?

var newTraktDate = formatDate(new Date(getDateFromFormat(obj[4],'yyyymmdd')), 'dd-mmm-yy');

[2015-03-17 17:21] ThePieMan commented on #955
Restarted. Same issue / log results.

[2015-03-17 17:25] fernandog commented on #955
@ThePieMan there is no "After pickBestResult with results" in the log? try use the search feature please

[2015-03-17 17:54] ThePieMan commented on #955
@fernandog @abeloin After the last shown line, the FINDPROPERS process seems to hang, as there is no 'After pickBestResult' line in the log, and FINDPROPERS never restarts (it is set to run every 15 minutes, but only runs once)

[2015-03-17 17:56] fernandog commented on #955
@ThePieMan check the /SickRage/sickrage.log and see if there's something else in the file

[2015-03-17 18:00] ThePieMan commented on #955
Nope, same situation here:

[code]

FINDPROPERS process never completes nor reappears

[2015-03-17 18:17] StSaens commented on #852
SB just added S3 and S4 to transmission when I started it up. So seems to be working!

[2015-03-17 18:41] #852 closed

[2015-03-17 19:19] ThePieMan commented on #955
@fernandog @abeloin To confirm, so far I've altered generic.py, search.py and properFinder.py per the various notes above. Can you confirm that all three of those changes should remain, or whether I should have been restoring the files back to their original state with each new part altered

[2015-03-17 19:29] Symbiot78 commented on #838
yes please..!

[2015-03-17 20:15] nigewri opened #983 "[APP SUBMITTED]: mktime argument out of range"
### INFO
Python Version: **2.7.9 (v2.7.9:648dcafa7e5f, Dec 10 2014, 10:10:46)
[GCC 4.2.1 (Apple Inc. build 5666) (dot 3)]**
Operating System: **Darwin-14.1.0-x86_64-i386-64bit**
Branch: **master**
Commit: SiCKRAGETV/SickRage@019a8b363d65db598d85173d457fa40aed6328fc
Link to Log: https://gist.github.com/85552dcd54fc23fa6101
### ERROR
[code]
---
_STAFF NOTIFIED_: @SiCKRAGETV/owners @SiCKRAGETV/modera

[2015-03-17 20:29] fernandog commented on #983
@nigewri please update. you are using an old version
this was fixed https://github.com/SiCKRAGETV/SickRage/pull/1501

[2015-03-17 22:29] Zzaap opened #984 "Sorting show list by network isn't working"
it sorts by show name instead

BRANCH: (master) / COMMIT: (568421b27a7940bfdebfef1be5f2b121d8a00b8f)
Python Version:	2.7.8

[2015-03-17 22:33] fernandog commented on #984
Screenshot please

[2015-03-17 22:49] Zzaap commented on #984
![network](https://cloud.githubusercontent.com/assets/5058994/6699229/2ba8dd36-cd00-11e4-99f0-9408813b5689.png)

[2015-03-17 22:57] scythe000 commented on #793
More logs:
http://pastebin.com/JxU40sti

[2015-03-17 23:06] fernandog commented on #793
@TagForce can you check this? Its a [Errno 13] Permission denied

[2015-03-18 00:01] LinuxBozo commented on #301
@fernandog As for your bad shows, you could do some filtering in here: https://github.com/SiCKRAGETV/SickRage/blob/develop/sickbeard/webserve.py#L2343 to deal with them, or, raise the issue with the Trakt folks. Why would they recommend something like that to begin with? I'm sure they would love to know they have buggy data.

As for your date, what's not working? and where?  That looks like JavaSc

[2015-03-18 00:40] ThePieMan commented on #955
Replaced long search.py code after updating erased it. Restored findPropers.py new code. Left generic.py L154 code as it was:

[code]

New tail end to log, but same result (FINDPROPERS process never finishes, doesn't ever reinitiate)

[code]

[2015-03-18 00:50] chrisric commented on #978
@abeloin I can't thank you enough for your help. I would never have known what to research without your help.

When checking the openssl version within python (as you suggested above) it showed the old openssl version was still being used.

After some reading I realized it was using the old ssl libs, the new openssl version was installed with macports. python27 was installed through an gui install

[2015-03-18 01:00] #978 closed

[2015-03-18 01:12] fernandog commented on #955
@ThePieMan can you manually download that torrent and see if it downloads ok? Is there some block about not enough ratio or something? This only happens with private trackers, in your case SceneAccess

@Rouzax with Torrentday
@dirkr07 with Shazbat.tv
@johnkillerbob with TorrentBytes

this is the only that is NZB
http://ronald-online.nl/sickrage.log

[code]

@abeloin this is a old log but the trace

[2015-03-18 02:01] ThePieMan commented on #955
@fernandog Downloading is no problem for any of these sites...ratio is my friend...

This is odd though - looking at the logs (and manually checking each site) there is only a REPACK fr S02E04, but the FINDPROPERS process is trying to download S02E05...where there is not any repack or proper available.  What up with that?

[code]

[2015-03-18 02:17] saitoh183 opened #985 "Add priority setting in Sab configuration section"
It would great if we could set the sab priority in the SR config for daily downloads vs backlog downloading. NZBGet settings section in SR has this setting.

For people like me that have download limits, you can set Sab to pause and whatever comes in as a force priority can still download anyways but if something from backlog comes in as normal, it would be paused till you give it the go.

 Sonarr

[2015-03-18 02:30] Thraxis commented on #846
Posted the PR for the fix for this.

[2015-03-18 02:31] fernandog commented on #955
@abeloin

[code]

[2015-03-18 03:41] saitoh183 opened #987 "[Feature Request] Add support for Deluge LabelPlus plugging"
LabelPlus is just a way better and more flexible compared to the built-in one

[2015-03-18 05:26] saitoh183 opened #988 "Preferred search providers per show"
It Would be great to be able to set a specific search provider to a specific show. For example i have french shows which on only found on t411.io so its pointless for SR to search all providers for this show since it will only , always be on t411. Also in a less granular way, being able to set whether we want torrent search or usenet search for a specific show would be also nice to have. Certain s

[2015-03-18 07:44] Rouzax commented on #955
I also had it on kickass.to in the past.

[2015-03-18 07:56] TagForce commented on #793
@scythe000 Can you check the permissions for just that file?
What OS are you using? Windows 7 or 8?

[2015-03-18 11:44] fernandog commented on #984
@Zzaap did you tried the dropdown list and select "Network" ?

[2015-03-18 12:41] fernandog commented on #984
@abeloin if we can sort direct in the table we can remove the "Sort by", can't we?

![2](https://cloud.githubusercontent.com/assets/2620870/6708861/e12341b8-cd52-11e4-8358-20ad0835d6e7.png)

[2015-03-18 12:49] fernandog commented on #985
@saitoh183

test this please:
stop SR
edit SickRage/sickbeard/sab.py, Line 62
change to this :
[code]

2 = forced

https://github.com/SiCKRAGETV/SickRage/blob/develop/sickbeard/sab.py#L62

[2015-03-18 13:07] saitoh183 commented on #985
Made the change and testing...will report back in a few

[2015-03-18 13:13] saitoh183 opened #989 "[Feature Request] Manual Search: let user choose what to download"
When clicking on the search button next to a episode, it would be cool if we could choose auto search or manual search which would allow us to choose which release we want. This would be the most beneficial with Anime but would also be practical with normal TV shows. The manual search could return only X number of results (maybe defined by the number of seeders for torrents and number of grabs for

[2015-03-18 13:21] kingfenix opened #990 "Backlog Overview filters"
Could some form of checkboxes/filters be added to turn off/on various types of files in the backlog overview?

For example, I only want to see needed files, not low quality ones...it makes the list much longer than I need it to be.

Thanks

[2015-03-18 13:30] fernandog commented on #990
low quality is a backlog isn't? SR is still try to find high quality. Unless you check "archive first match" then SR won't try to get higher quality and that eps won't appear in backlog overview

[2015-03-18 14:00] scythe000 commented on #793
Server 2012. I've repeatedly (see way above) checked permissions for the files when the do this, and they all look fine. I have full access. SR is running as me. The files are not in uTorrent. I can also move or rename them with no issues. they are not being backed up or used by another process.

Sent from my iPhone

On Mar 18, 2015, at 12:56 AM, TagForce <notifications@github.com<mailto:notificat

[2015-03-18 14:04] #927 closed

[2015-03-18 14:11] kingfenix commented on #990
well it only started showing me the yellow highlighted items in one of the recent updates...it never used to do it. All of a sudden now I have a two page long backlog mostly with yellow I cant remove...

[2015-03-18 14:12] fernandog commented on #990
@kingfenix do you want SR searching for the high quality?

[2015-03-18 14:14] kingfenix commented on #990
no I prefer just the normal HDTV releases and lower file sizes

[2015-03-18 14:15] #709 closed

[2015-03-18 14:16] fernandog commented on #709
@TagForce that PR is for this FR, isn't?

[2015-03-18 14:17] fernandog commented on #990
so you must check quality settings from all that shows. If you only want HDTV, set the same quality for "Initial" and "Archive" qualities

[2015-03-18 14:18] kingfenix commented on #990
ok let me go find out where/how to do that...thanks

[2015-03-18 14:21] kingfenix commented on #990
ok I went to EDIT on two shows...SD was chosen for quality, and archive was unchecked. I checked archive on both shows, saved and then did a re-scan on both....both shows still show up yellow in backlog?

[2015-03-18 14:22] kingfenix commented on #990
I do notice that the shows appearing yellow, instead of having the red SD beside the episode, it has a grey rectangle saying unknown....

[2015-03-18 14:22] #607 closed

[2015-03-18 14:25] fernandog commented on #558
@TagForce what do you think? can PP be disabled with a feature like this? SR already have the directory

[2015-03-18 14:26] fernandog commented on #990
@kingfenix check your naming pattern in PP. you should add quality to the name, otherwise SR can't tell the quality

https://sickrage.tv/forums/forum/main-category/main-forum/20090-wanted-quality-hd-downloaded-hd-but-status-downloaded-unknown

[2015-03-18 14:29] fernandog commented on #530
@TagForce can we stop PP is target folder/share/hdd don't have enough space?

today, how SR handle the enough space in PP?

[2015-03-18 14:30] shovelhed opened #991 "[Feature Request] Show Episode History in "Coming Episodes" calendar view to catch missed shows"
Currently it requires a lot of clicking about to see if you've actually gotten (snatched, downloaded) the shows in your list. You need to manually travel the show list figuring out which shows were on yesterday and if they were successfully grabbed.

It would be useful to have some amount of history (user configurable?) in the Coming Episodes area when looking at a calendar view to determine what

[2015-03-18 14:31] fernandog commented on #494
@matigonkas now that you added  TPBT, you can add this one too, can't you?

[2015-03-18 14:33] kingfenix commented on #990
lol, now see instead of all this....if I could just tell the backlog page I dont want it to report quality stuff I wouldnt need to do this....

[2015-03-18 14:33] fernandog commented on #991
@shovelhed we already have this

stop SR,
edit config.ini
set `coming_eps_missed_range` to any value you want. Mine is 30;

[2015-03-18 14:35] kingfenix commented on #990
and if I need to have the quality in the name...why doesnt that hit all episodes?

for example I have a season of 2 broke girls...all episodes but 2 have the red SD and do not appear in backlog, but two single episodes have grey unknowns and appear in that backlog

[2015-03-18 14:36] fernandog commented on #990
@kingfenix your setup is wrong. you need to fix it.

you have an alternative that is enable for all shows "Archive on First Match"
https://github.com/SiCKRAGETV/SickRage/wiki/Quality-Settings#custom-qualities

[2015-03-18 14:37] kingfenix commented on #990
I get that and I will, but why does this affect only 2 shows out of 14 in a season? all files are .mp4 and named SxxExx - Title.mp4

[2015-03-18 14:37] saitoh183 commented on #985
Seems to be working :)

[2015-03-18 14:38] Zzaap commented on #984
I just tried, in layout 'poster' and 'simple' it sorts correctly, however in layout 'small poster' and 'banner' when clicking the network column it sorts by show name instead.

[2015-03-18 14:41] shovelhed commented on #991
Amazing. Sorry if I wasted your time. I searched all over for this and assumed it wasn't available.  Could this be exposed through the UI to users?

Also, Calendar view still defaults to a one week view even after setting the value as described. It shows Today -> Tuesday next week.

[2015-03-18 14:44] saitoh183 opened #992 "UNC Path for Root Directory"
Is it possible to have?

[2015-03-18 14:44] fernandog commented on #991
@shovelhed will try to add to the interface settings

about calendar will have to check that

[2015-03-18 14:45] fernandog commented on #990
@kingfenix because there is no quality information in the filename

[2015-03-18 14:46] kingfenix commented on #990
yes but all 14 files are named the same and it got the quality SD on 12 of them, only two it did not...either way...fixing it now

[2015-03-18 14:47] fernandog commented on #985
@saitoh183 wait be merged into master. you can keep your local change until then

[2015-03-18 14:47] fernandog commented on #992
@saitoh183 fully explain please

[2015-03-18 14:48] matigonkas commented on #494
well @fernandog  i am not any python expert but i see if i can make it happen :)

[2015-03-18 14:48] #990 closed

[2015-03-18 14:48] fernandog commented on #444
https://github.com/SiCKRAGETV/sickrage-issues/issues/295

[2015-03-18 14:51] fernandog commented on #327
@TagForce this is already working, isn't? can we close it?

[2015-03-18 15:12] saitoh183 commented on #992
My media is stored on my Storage Server and SR is on my app server. In order to add my Media root directory, i had to create a map drive. I did not see the possibility to add a network path (UNC). Also if i run SR as a service using my Administrator account as user, I was not able to see the map drive in my choices of Root Directories.

With being able to use UNC path, if we reinstall our server o

[2015-03-18 15:40] suprdave23 opened #993 "After changing wanted quality, show did not download until doing a manual search"
Sickrage dev branch pull from 2 weeks ago. Not including logs as this is just a question.

I noticed with the latest Hells Kitchen that came out an HDTV version had not been posted, however an SDTV version had. I changed my wanted quality from HDTV to "Any" in the show's setting. However, during the next Daily Search the episode was still not picked up. I ended up having to manually click the magn

[2015-03-18 15:48] fernandog commented on #993
Should have picked. Please send full logs

[2015-03-18 15:48] fernandog commented on #993
Also all informations asked in guidelines

[2015-03-18 16:02] TagForce commented on #709
Among others, yes. Should be fixed.

[2015-03-18 16:19] suprdave23 commented on #993
Last commit I am running:
C:\SickRage>git show
commit 68cd0fa18e3ae75a368728aeaaae7913caf13db4
Merge: e7349b3 d7106ef
Author: Alexandre Beloin <alexandre.beloin@gmail.com>
Date:   Sun Mar 1 20:28:16 2015 -0500

    Merge pull request #1445 from abeloin/patch_restart_v2

    Redone restart.js

Logs: http://pastebin.com/XHmys3Rh

About 8am is when I changed the quality of Hell's Kitchen to "Any". Th

[2015-03-18 16:27] midasvo commented on #989
I kind of agree with the sense that a manual search would be preferable as a fall-back in sickrage. However I would implement a box where a magnet url could be pasted if sickrage really can't find the ep you see before you. Thoughts?

[2015-03-18 16:29] fernandog commented on #993
@suprdave23 why didn't you updated SR?

[2015-03-18 16:31] fernandog commented on #991
@shovelhed calendar only show future shows. not missed. not an issue

[2015-03-18 16:38] fernandog commented on #991
@shovelhed if I make calendar to respect `coming_eps_missed_range` I get this:

In my case is 30 days

![calendar](https://cloud.githubusercontent.com/assets/2620870/6713870/d437fe96-cd73-11e4-884b-db8f88b8fd48.png)

@tchirou @timrettop  what  do you think? do you want to see missed in calendar?

[2015-03-18 16:44] suprdave23 commented on #993
@fernandog I have not been keeping up with the updates because that commit has been working well for me - no more bugs until today.

If there are changes that have changed some of the aspects of SR that could account for this issue I'll be happy to update and let you know if any further problems are seen.

[2015-03-18 16:44] tchirou commented on #991
Yeah actually it is a good idea
My need to have the webcal in the google calendar is to have the daily google email at 5am with what have aired (I am in GMT+1) and see in the history tab of SR if I have the same shows with downloaded.
it is quite tedious and wold be easier to see autimatically in the coming episodes tab if there are missed shows
:+1:

[2015-03-18 16:46] tchirou commented on #991
When you say missed, it can be sntached but not downloaded right ?

[2015-03-18 16:48] shovelhed commented on #991
Yeah, while that view is awful, the idea is sound.  Sonarr does this (no images)
![images](https://cloud.githubusercontent.com/assets/11539816/6714137/17362198-cd6d-11e4-9c27-126a51b59f2e.jpg)

[2015-03-18 16:49] tchirou commented on #991
Personally I use the list layout of the coming episodes page

[2015-03-18 16:55] fernandog commented on #991
@tchirou me too

[2015-03-18 17:23] fernandog commented on #993
@suprdave23 I suggest you to update. Check the changelog

we can't debug/test SR in older versions.

https://sickrage.tv/forums/forum/main-category/latest-news/19525-enjoy-the-new-update-tons-of-bug-fixes-and-a-lot-of-new-features?p=20315#post20315

[2015-03-18 17:31] TagForce commented on #530
@fernandog Right now it doesn't handle it at all... I'll see if I can check it before a copy or move.

[2015-03-18 17:35] fernandog commented on #530
@TagForce do you think it's a good idea ? If not, let it go and we will close this

[2015-03-18 17:48] TagForce commented on #530
@fernandog I did a quick search and it doesn't seem too hard to implement for basic systems. It's a good idea to check this is apparently failing to move causes corruptions. It's always a good idea to try to prevent those.

[2015-03-18 17:56] TagForce commented on #992
@saitoh183 @fernandog Python has very little support for unc paths. There is a library that provides unc support, but it would require a lot of changes in SR since none of the functions take unc paths into account. It's probably easier to find a solution for mounting them when starting the service.

[2015-03-18 18:04] #992 closed

[2015-03-18 18:06] TagForce commented on #327
@fernandog No. It will remove empty folders on AutoPP. There now is an option to also remove them on manual PP. There's not yet an option to leave them when AutoPPing... But it just requires an extra check and option in the config to make it happen.

[2015-03-18 18:17] saitoh183 commented on #985
@fernandog Thanks :)

[2015-03-18 18:21] suprdave23 commented on #993
@fernandog OK, I have updated to the latest commit in dev. I recreated the issue by setting the episode back to "Wanted" status and "HD" in order to make it not find a good episode (remember the episode I want is only in SD), then after it was done processing the backlog, I set it back to "Any" quality. It again failed to find the episode during daily search.

Is it maybe because since I have upda

[2015-03-18 18:24] fernandog commented on #993
@suprdave23 as always: full logs

[2015-03-18 18:38] suprdave23 commented on #993
@fernandog Here's the entire log for today: https://onedrive.live.com/redir?resid=8674D31BA2E0C41D!123&authkey=!AFgNLD4LfiS494E&ithint=file%2clog

[2015-03-18 19:21] saitoh183 opened #994 "Subtitle Issue: wrong chars in filename and subtitles packed with gz"
I dont know what is happening but my subtitle download is doing some odd this. Here is a snippet of a entry from the log:

2015-03-18 14:06:00 DEBUG    FINDSUBTITLES :: 248841: Saving episode details to database
2015-03-18 14:05:52 DEBUG    FINDSUBTITLES :: 248841: Downloading subtitles for episode 4x15
2015-03-18 14:05:52 DEBUG    FINDSUBTITLES :: Setter sets location to D:\TV\Scandal (2012)\Seas

[2015-03-18 19:29] Ockingshay opened #995 "Feature Request: Create a how-to document on adding new providers"
On the forums there seem to be many requests for various trackers to be added to the providers list, but not many have been implemented. If there was a document that told us how to do it then we could add our own.

Is this feasible/possible?

[2015-03-18 19:39] nicolasmartinelli commented on #969
Thanks for the explanation.

So, I would then reformulate: do you think it would be interesting idea to allow a provider to provide the quality of every result, and take that result (if provided) into account instead of the parsing?

I actually have a clear case, following my PR https://github.com/SiCKRAGETV/SickRage/pull/1561. The API http://eztvapi.re/ provides the quality of the link, so there

[2015-03-18 20:06] Ockingshay commented on #16
What is the actual issue as to why it's not picking up the names? Do you need access to a specialised tracker like MMA Tracker?
Looking back at their releases, they are all named like UFC.181.PPV.720p.HDTV.x264-KYR

[2015-03-18 20:11] fernandog commented on #16
@Ockingshay honestly I don't know

@abeloin can you check this issue please? Don't know if is a regex issue

[2015-03-18 20:15] #985 closed

[2015-03-18 20:16] fernandog commented on #995
@Ockingshay it's not that easy.

[2015-03-18 20:16] #995 closed

[2015-03-18 20:19] fernandog commented on #993
@suprdave23 there is nothing in the log about searching

what did you do first: set to wanted or changed quality?

[2015-03-18 20:27] TagForce commented on #969
@nicolasmartinelli Yeah, if the provider has this information, we might as well use it. I'm thinking about changing the whole quality tracking in SR, since it loses the info way too often. I'll add this option to the todo list for it. Along with an option to determine it using mediainfo if you explicitly request.
It'll require a db change (new quality field) so it will be a while, but it'll happen

[2015-03-18 20:54] TagForce commented on #558
@fernandog That means SR would need to rescan each show multiple times a day to determine what new eps there are. And fail because it can't deal with rarred files without unpacking them. PP is there so that SR can make sure that only files that we expect are put in the show dir. This won't eliminate the need for PP, it would just change the folder it happens in.

So, the idea is a good one, but I

[2015-03-18 21:04] suprdave23 commented on #993
@fernandog Honestly I don't remember, so I've done it again. The steps I took are:

* Set episode to "Wanted" status
* Change episode quality from HDTV to "Any"
* Force a "daily search"
* Episode was not downloaded

If I do it the other direction, change the quality first and *then* set it to "Wanted" status it picks it up immediately due to it processing the backlog. So "Daily Search" does not pi

[2015-03-18 21:45] fernandog commented on #993
Backlog that runs when set to wanted. Its correct.  You need first change quality.

I would suggest not keep changing qualities.
set initial the quality you sure that is available and archive the one that not always is available

[2015-03-18 21:45] #993 closed

[2015-03-18 21:48] #558 closed

[2015-03-18 22:15] fernandog commented on #937
@Dennisreneholm please reply or will close this

[2015-03-18 22:16] #916 closed

[2015-03-18 22:19] SamJongenelen commented on #8
+1 here

[2015-03-18 22:20] fernandog commented on #474
@Tlabok can you try again ? This was fixed

[2015-03-18 22:22] fernandog commented on #463
@lbjb isn't possible to get all this info while searching

[2015-03-18 22:22] #463 closed

[2015-03-18 22:23] fernandog commented on #461
@Toilal feel like doing this?

[2015-03-18 22:26] fernandog commented on #444
@Tagforce could PP check this? or it already does?

[2015-03-18 22:28] fernandog commented on #410
@Tagforce before using media info, isn't possible to read metadata before - if exists?

[2015-03-18 22:29] #400 closed

[2015-03-18 22:31] #293 closed

[2015-03-18 22:32] fernandog commented on #270
@wizzardking it's available

[2015-03-18 22:32] #226 closed

[2015-03-18 22:34] fernandog commented on #222
@Rouzax still an issue?

[2015-03-18 22:38] #22 closed

[2015-03-18 22:50] abeloin commented on #955
@ThePieMan @fernandog It mean that you have content, you remove the log line from this comment https://github.com/SiCKRAGETV/sickrage-issues/issues/955#issuecomment-81767898

[2015-03-18 22:53] fernandog commented on #955
Its not my log. Its @ThePieMan

[2015-03-18 23:09] abeloin commented on #991
@fernandog Why not simply add an option to show the snatched on the page? This way any show not present are downloaded, snacthed are shown along the missed in another color. This should resolve the OP issue. As for download history, it's not the job of the coming episode but rather should be added in the history section.

[2015-03-19 00:23] abeloin commented on #16
@fernandog Definitely not only a regex issue.

Firstly, of all if any of those episodes are in tvrage's special category, they won't be seen by sickrage as it doesn't currently support it.
Secondly, the sports category look for date not semi-absolute number.
Thirdly, trying to search by absolute number won't work without manually assigning the number and even with that it will to distinguish betwe

[2015-03-19 00:54] abeloin commented on #984
@fernandog They are talking about the home page not the coming episodes page.

[2015-03-19 00:59] fernandog commented on #984
@abeloin coming episodes dont work either

[2015-03-19 01:03] abeloin commented on #984
@fernandog Which layout?

[2015-03-19 01:07] abeloin commented on #984
@fernandog How do you sort when in calendar, banner and Poster mode?

[2015-03-19 01:08] fernandog commented on #984
Good point. Sorry

[2015-03-19 01:27] suprdave23 commented on #989
It should do it similar to the way Sonarr currently does manual searches. I *really* liked that feature. Example: https://forums.sonarr.tv/uploads/default/1132/bf5106162312be63.png

[2015-03-19 01:30] abeloin commented on #984
Both PR merged in develop

[2015-03-19 01:38] fernandog commented on #989
@suprdave23 IMO It misses the point of automation.

[2015-03-19 01:38] fernandog commented on #984
working! thanks!

[2015-03-19 01:38] #984 closed

[2015-03-19 01:43] saitoh183 commented on #989
Automation is great but its never 100% without error. A manual scan just allows an alternative for the cases where no matter how many times you click auto scan it fails to retrieve the desired file.

[2015-03-19 01:49] fernandog opened #996 "[Feature Request] Only Post-Process if video has subtitle associated"
@TagForce it's the inverse of sync files. This is why I still don't use SR PP.
I have my own script that downloads subtitles. It downloads subtitle with/without language in the file name ([release].por.srt or [release].srt)
Too complicated?

[2015-03-19 01:53] abeloin commented on #994
Please read on how to submit an issue:
Ref: https://github.com/SiCKRAGETV/sickrage-issues/blob/master/README.md

Here is the important required information from that page:
(DO NOT POST ANYTHING THAT CONTAINS YOUR LOGIN INFORMATION OR API KEY)
Please include the following when opening a new ticket:

    Branch
    Commit hash
    Your operating system and python version
    What you did
    What ha

[2015-03-19 01:55] fernandog commented on #989
https://github.com/SiCKRAGETV/sickrage-issues/issues/833

[2015-03-19 01:57] fernandog commented on #989
@saitoh183 mine is 100% auto. isn't a provider issue? Maybe you need a good provider

[2015-03-19 02:07] saitoh183 commented on #994
Branch :  (master)
Commit hash : cc4896e96a27dda5cc9ed198209aa514bf68a4eb
Windows  2012 STD R2 / python 2.7.8 (default, Jun 30 2014, 16:08:48) [MSC v.1500 64 bit (AMD64)]
What you did:  Explained above
Here is my current subtitle settings:

![image](https://cloud.githubusercontent.com/assets/1534197/6723208/de30669e-cdba-11e4-89be-9f563c33495d.png)

What happened : Explained above
What you expecte

[2015-03-19 02:10] saitoh183 commented on #989
I have many providers but this is more a issue when your looking for older stuff.. new stuff is no problem and doesnt need this function but try to pick up stuff like the Wire with automation can be a pain

[2015-03-19 02:15] fernandog commented on #994
@saitoh183 open CMD and run `chcp` - post result

[2015-03-19 02:19] saitoh183 commented on #994
I run it using the VBS file i found on htpcguides.

`Set WshShell = CreateObject("WScript.Shell")
WshShell.Run chr(34) & "E:\SickRage\SickBeard.py" & Chr(34), 0
Set WshShell = Nothing`

chcp: Active code page: 850

[2015-03-19 02:21] fernandog commented on #994
@saitoh183 try this: before running SR, run this: `chcp 65001`
try to reproduce the error

[2015-03-19 02:23] fernandog commented on #941
@guyleonard please reply

[2015-03-19 02:23] abeloin commented on #992
@saitoh183 You can use UNC, but it's unsupported as it is not cross-platform.

To use mapped drive and sickrage as a service you need to run the service as the user who has the mapped drive.

[2015-03-19 02:26] saitoh183 commented on #992
@abeloin

That is what i did yet i could not see them....i will give it a go again

[2015-03-19 02:27] saitoh183 commented on #994
@fernandog

Is this for both issues or 1 of the 2?

[2015-03-19 02:40] fernandog commented on #994
@saitoh183 Subtitle strange chars

[2015-03-19 03:08] abeloin commented on #222
It's limitation on firedaemon part, but we could add a `--norestart` options which would simply terminate sickrage instead of starting a new process

[2015-03-19 03:10] abeloin commented on #994
@saitoh183 Any logs?

[2015-03-19 03:23] saitoh183 commented on #994
@abeloin

Doing test right now...just did chcp change mentioned by fernandog

[2015-03-19 03:41] saitoh183 commented on #994
Ok...chcp didnt change anything for the strange characters

![image](https://cloud.githubusercontent.com/assets/1534197/6724048/626da000-cdc7-11e4-8923-ceb67ee52388.png)

![image](https://cloud.githubusercontent.com/assets/1534197/6724106/19856c5a-cdc8-11e4-884f-b32761f8bffa.png)

![image](https://cloud.githubusercontent.com/assets/1534197/6724119/3f1dfa86-cdc8-11e4-9e4c-d94f2cabeda3.png)

log: ht

[2015-03-19 05:39] Symbiot78 opened #997 "Can't enable subtitle in mass update"
hi

Sickrage running on debian (open media vault)
BRANCH: (master) / COMMIT: (cc4896e96a27dda5cc9ed198209aa514bf68a4eb)

I've enabled subtitles plugin and selected 2 languages.
I haven't changed anything else in the subtitle page.

When I do a manual search for subtitles SR reports that all my episodes have both subtitles available (which I know isn't right)

When I do a "mass update" the subtitle

[2015-03-19 06:21] TagForce commented on #996
@fernandog I think it could be done. Not now, though. Other things have priority.

[2015-03-19 06:23] TagForce commented on #992
@saitoh183 set the SR service as delayed start, and make sure the drives get mapped at startup for that user.

[2015-03-19 06:28] TagForce commented on #410
@fernandog I think this was an earlier FR as well. Just so that in case of a database failure SR would be able to get the critical DB info from nfo files in the folders. I have it on my to do for future improvements.

[2015-03-19 06:32] TagForce commented on #444
@fernandog It does check for the existence of the show folder. But it has no way of passing that information to the homepage.  It should already log errors when a folder is missing.

[2015-03-19 06:48] Toilal commented on #461
Why not ! next week I could spend some time on this.

[2015-03-19 06:59] Toilal commented on #461
In couchpotato, score is attached to word, but also to download provider. So it's a preferred word feature, but also a preferred download provider.

[2015-03-19 07:05] Toilal commented on #461
Also, in CouchPotato, words can be defined as set, and I think it's a good idea. Example for required words:

[2015-03-19 07:09] Toilal commented on #461
What should prime between preferred provider and preferred word ?

[2015-03-19 07:29] Dennisreneholm commented on #937
Hi.

I got sick last friday, so i really had no energy to keep testing then :P

Ill try a fresh installation, also on another PC, to see if the problem will re occur.

[2015-03-19 07:42] Dennisreneholm commented on #937
Fresh installation, and i copied a few series onto the PC i was testing on.
Windows 8.1 x64

Added the path for the shows:
![](http://i.imgur.com/FGVXiuh.png)

Tried adding Bamse på Planeten, but it already is wrong with the special chars.
![](http://i.imgur.com/lHuaLFI.png)

Then i corrected it, switched to danish, but it still cannot find it.
And if i could find it, the filepath at the top, is s

[2015-03-19 07:50] TagForce commented on #222
@abeloin Why not add a checkbox to the github config page called "Shutdown on update". If true, then it skips the part where it launches a new process, which would cause it to silently just exit. Firedeamon would restart the service as soon as it goes down anyway, so the restart.tmpl page should still pick up on it, shouldn't it?

[2015-03-19 07:51] Dennisreneholm commented on #937
Nothing works if i try the chcp 65001.
![1](https://cloud.githubusercontent.com/assets/5224930/6726216/2101dffc-ce15-11e4-8657-be13bc46079f.png)

I can't add the path for the shows.
Nothing happens when i press on the folder, and if i look at the cmd windows, this error comes as i press.
![2](https://cloud.githubusercontent.com/assets/5224930/6726219/27703f32-ce15-11e4-8901-1467d37fb645.png)

[2015-03-19 08:07] Rouzax commented on #222
I still would like the feature, yes.
It is not so much a limitation of FireDaemon. FireDeamon will monitor the program it has started. When it crashes or stops running it will start it again.

@TagForce
Yes the restart page still works.
What I do now is to start the upgrade and then when I see that SickRage is restarting it self I will kill all consoles that are running with Ctrl+C.
FireDeamon wil

[2015-03-19 08:20] eXistenZNL commented on #400
Also, ZSH (+ Oh-My-ZSH)'s autocomplete can cope much better with spaces / autocompletion than Bash. Should fix your problems.

[2015-03-19 08:30] tchirou commented on #991
Ok I didn't understand at first the specifics of the calendar view

As I said, I use the list layout. It already shows the missed episodes, whici is currently are the "not snatched" shows, which is quite handy.

But it is limited as as soon as a show is snatched, it disappears from the coming episodes list.
But hen we have to go to the history page and check if all snatched are downloaded. This is

[2015-03-19 08:30] Rouzax commented on #222
Just for clarification, this is hwo my service is configured.
![image](https://cloud.githubusercontent.com/assets/4103090/6726667/59315e8e-ce1a-11e4-9a9a-fcf4e1f8791b.png)
![image](https://cloud.githubusercontent.com/assets/4103090/6726687/7a18b80e-ce1a-11e4-81a6-674fd2ef88c2.png)
![image](https://cloud.githubusercontent.com/assets/4103090/6726693/864240d2-ce1a-11e4-81fa-1e7a5c412b72.png)

[2015-03-19 08:34] Rouzax commented on #222
This is what happens no with an update.
![image](https://cloud.githubusercontent.com/assets/4103090/6726731/0e14432a-ce1b-11e4-95c4-2411610c6e7e.png)
One instance is from SIckRage restart and one is a restart from FireDeamon.

[2015-03-19 09:16] Tlabok commented on #474
@fernandog
Thanks for this and all your other work.

I do believe this issue was solved, although I have changed most of my shows to either HD or 1080 HD to avoid the use of "Archive first match" altogether because of another (minor) issue which still remains (last seen a few days ago):

Episodes for shows with Archive First Match ticked disappear from the displayShow list after they are downloade

[2015-03-19 10:15] fernandog commented on #996
No problem at all. thanks

[2015-03-19 10:17] fernandog commented on #474
Will close this. please open another about the displayshow (with screen shots)

[2015-03-19 10:18] #474 closed

[2015-03-19 10:20] fernandog commented on #222
@Rouzax What is flap detection ?

[2015-03-19 10:21] fernandog commented on #222
Cant you change the 5000 to 60000 in restart setting?

[2015-03-19 10:23] Rouzax commented on #222
See the user guide here:
http://mirror.firedaemon.com/FireDaemon-Pro/3.7.2660/FireDaemon-Users-Guide.pdf
![image](https://cloud.githubusercontent.com/assets/4103090/6728456/381c444c-ce2a-11e4-8958-a12a953c4189.png)

Can try it but I don't think it will work because FireDeamon creates a wrapper around the program. SickRage will start a new instance that is not inside that wrapper.

[2015-03-19 10:31] fernandog commented on #991
The big problem here is a lot if users have his entire library as " snatched" and not downloaded. If we add this, it should be off by default.
IMO adding snatched misses the point of the page.

What I do to see all snatchedc(despite the cell phone notification using NMA) is to access this page:
http://localhost:8081/manage/episodeStatuses?whichStatus=2

also there is the history page that shows sn

[2015-03-19 10:35] fernandog commented on #461
preferred word.
preferred provider already exists.

[2015-03-19 10:38] TagForce commented on #222
@Rouzax Tadaaaaaaaaa :)

[2015-03-19 10:39] fernandog commented on #444
Ok. Will close this

[2015-03-19 10:39] #444 closed

[2015-03-19 10:40] fernandog commented on #222
so we can close this.

[2015-03-19 10:40] #222 closed

[2015-03-19 10:41] fernandog commented on #222
@Tagforce

[2015-03-19 10:43] fernandog commented on #410
@Tagforce what about the .nfo that comes with the torrent? There is quality info there. Isnt?

[2015-03-19 10:46] markheloking commented on #589
Wow! I was away for month or so due to some personal stuff, but I see you haven't been sitting around! Good to see that echel0n gave permissions to fernandog, now we can actually make some difference!
I don't have as much time on my hands to spend as I used to when I joined last year. Is there something I can still help with @fernandog? Maybe just the issue tracker like before? Or should I overhau

[2015-03-19 10:47] markheloking commented on #333
I'm not sure HTML5 has better codec support, but that might be worth a try.

[2015-03-19 10:51] TagForce commented on #222
@fernandog Yes, the function is added in above PR.

[2015-03-19 10:56] markheloking commented on #10
Can we publish it on Synocommunity?

[2015-03-19 10:58] fernandog commented on #333
@markheloking welcome back!!

[2015-03-19 10:59] fernandog commented on #589
@markheloking wiki would be good. Issue tracker too. The number of new issues decreased a lot! =)

[2015-03-19 11:07] shovelhed commented on #991
May else that's it. Coming episodes could instead show everything thereby
reducing clutter of another page.

Like the image I posted from sonarr: past,  present,  future,  snatched and
perhaps even currently downloading episodes could all be colour coded.
On Mar 19, 2015 6:32 AM, "Fernando" <notifications@github.com> wrote:

[2015-03-19 11:17] fernandog commented on #997
https://github.com/SiCKRAGETV/sickrage-issues/issues/668

[2015-03-19 11:23] Rouzax commented on #222
Awesome!

[2015-03-19 11:28] markheloking commented on #20
This isn't fixed I believe. The actual restart was working from the beginning, but the restart that it did for an update is still unthemed. Can anyone confirm this is still the case? I'll try to confirm it myself if I have the time.

[2015-03-19 11:31] markheloking commented on #589
I literally had 7000 notification emails in my github email box... Trying to go through the major part of those changes now. After that I'll look into where I can be of actual help.

[2015-03-19 11:32] markheloking commented on #589
I think the milestones may also need updating? Also, what's the workflow right now look like? Aim for the bugs first to make it stable (which you guys did an amazing job on), and then merge to master? If that is so, then why is there a master 4.0.13 milestone?

[2015-03-19 11:36] markheloking commented on #19
Yesterday, these errors occured when I was out with my laptop (so not internet connection sometimes):

[code]

RIght now on BRANCH: (master) / COMMIT: (cc4896e96a27dda5cc9ed198209aa514bf68a4eb) , win 7 x64, python 2.7.8.

[2015-03-19 11:37] #19 closed

[2015-03-19 11:38] tchirou commented on #991
Well I wasn't aware of the http://localhost:8081/manage/episodeStatuses?whichStatus=2
So if snatched but not downloaded, they appear here ? This is nice. I should pay more attention to this "manage" section
Would be nice to have the option in the coming episodes list as we could see in the same time the not snatched and the snatched but not downloaded

[2015-03-19 11:38] markheloking commented on #446
Is this fixed, and if so, what was the flaw (technical curiosity).

[2015-03-19 11:40] maran commented on #446
This is fixed. There was an exploit where you could craft a cookie and login to any running Sickrage instance.

[2015-03-19 11:42] markheloking commented on #333
:D I really like the fact that we have the new team going and are less dependent on echel0n (since he is away for his personal life more often these days: good for him!), and I really believe that this is improving the stability of sickrage as a whole.
I don't have as much time on my hands, but I will still try to do some stuff around here.

[2015-03-19 11:44] markheloking commented on #373
@fernandog where is this a duplicate of? I think it's good to link to the duplicate in the future, so people know where to continue the discussion.

[2015-03-19 11:45] markheloking commented on #291
@fernandog what's the reason for closing this? Is this resolved?

[2015-03-19 11:52] markheloking commented on #446
Thanks for spotting it and helping fix it!

[2015-03-19 12:20] fernandog commented on #19
@markheloking that error is not a system error. there's nothing to be merged in master about this issue

[2015-03-19 12:21] fernandog commented on #589
every week we merge develop into master. Each week in increase 4.0.x

[2015-03-19 12:22] fernandog commented on #20
@markheloking next update will be fixed because you didn't updated for a long time. updated code for this was in this update you just did

[2015-03-19 12:24] TagForce commented on #410
@fernandog that would require a new parser. Is an option but harder to implement

[2015-03-19 12:27] fernandog commented on #410
@JonScaife we will implement mediainfo in the future. closing this

[2015-03-19 12:27] #410 closed

[2015-03-19 12:28] TagForce commented on #20
@markheloking I fixed it, the fernando broke it, then he fixed it again.

[2015-03-19 12:36] fernandog commented on #997
@Symbiot78

not an issue

[code]

if:
show don't have subtitle enabled OR
subtitle is queue to download OR
subtitle is being downloaded
then
you'll see the checkbox "disabled"

[2015-03-19 12:37] fernandog commented on #20
=)

[2015-03-19 12:40] fernandog commented on #589
@abeloin @TagForce @markheloking @neoatomic

I started to analyse all "Feature Requests". Some I closed. Some I don't know if we should do it or it is feasible.
When you have the time, can you give a "yes/agree" or "no/disagree" to the FRs?

[2015-03-19 12:46] fernandog commented on #850
@abeloin can we close this? or will we add any TOR or Polipo in SR in the future ?

[2015-03-19 12:47] #818 closed

[2015-03-19 12:51] fernandog commented on #836
@Hellowlol

can you confirm this is not an issue?

issue # 997

looks like it grey out subtitle when subtitle it's not enabled or queue to download.
Is that why you wanted? enabled/disable instead of just show if is enable/disable?

[2015-03-19 12:52] Hellowlol commented on #836
Ill check when i get home from work.

[2015-03-19 12:52] fernandog commented on #280
@mapleleafs89 we can't do this because it will break PP processes of deleting associated files

@TagForce confirm?

[2015-03-19 12:53] TagForce commented on #839
I've been thinking about how to do this. Only feasible way I can think of is to run a daily scheduler that scans all the shows and episodes and marks them as "rename needed", which can be read by the showlist and displayShow pages.

[2015-03-19 12:59] fernandog commented on #218
@abeloin @TagForce I did that change in the past. didn't know how to PR in that time. Do you think it's a good idea show "Previous Aired" in Home page?

[2015-03-19 13:03] Hellowlol commented on #836
I want to enable/disable it from the mass edit. Right now i have to go thru 800 ish shows and manually set to subtitles to active.

[2015-03-19 13:04] sr-gi opened #998 "SickRage crash on Startup (after update)"
Hi everyone,

I'm unable to start SickRage after updating it a few hours ago (Master branch).

The last line in the SickRage log is:

Restarting SickRage with ['/usr/bin/python2', '/opt/sickrage/SickBeard.py', '--nolaunch']

If I try to restart the service, or start it again, it crashes. Also, if I try to start it manually using the same command used in the log:

[code]
Any idea?

Thank you.

[2015-03-19 13:05] fernandog commented on #21
@TagForce can we add the "disable" feature in the SHOWUPDATER thread? Because in that thread that SR makes unaired > wanted, isn't?

[2015-03-19 13:06] fernandog commented on #110
@Vodka2014 did it worked? can we close it?

[2015-03-19 13:07] TagForce commented on #768
@fernandog This should no longer be needed. When Post Processing earlier there was a mistake in assigning result.result resulting in there always being an error in Post Processing, causing it to skip over the deletion of files. This has been fixed a couple of weeks ago.
Now, when processing is succesful for a folder, it will do the following to unwanted files:
[code]

[2015-03-19 13:09] fernandog commented on #998
@sr-gi try restarting you Pi. Looks like you are out of memory.

[2015-03-19 13:09] Hellowlol commented on #997
This is not a bug, but i do think its bad design, the checkfield should be checked if curshow.subtitles, else unchecked. This way a user can edit this asap.

[2015-03-19 13:10] mgaulton commented on #839
The logic to mark then as needing rename is already there. I think
your approach would work.

On 3/19/15, TagForce <notifications@github.com> wrote:

[2015-03-19 13:11] fernandog commented on #836
@Hellowlol but do you agree that if subtitle is queue to download or downloading, you won't be able to disable it? Are you sure this does not work today?! why we have a "Subtitle" column with checkbox there?

[2015-03-19 13:13] fernandog commented on #997
@Hellowlol to fix this we should disable the check "not $curShow.subtitles". But we must keep the others otherwise user can't disable subtitles while subtitle search is running

[2015-03-19 13:15] #768 closed

[2015-03-19 13:16] fernandog commented on #768
@TagForce but if I want to trash all EXCEPT subtitles for example?

[2015-03-19 13:16] TagForce commented on #280
@fernandog Indeed. Associated files are associated because they start with the name of the videofile. Season posters and metadata is put into the root folder only, so there is no provisioning for moving them around when renaming. If we allow moving those files to the season folders, we need to add something that will properly identify and move them when changing the renaming pattern.

[2015-03-19 13:17] fernandog commented on #280
@TagForce close or keep as FR?

[2015-03-19 13:17] Hellowlol commented on #836
Well it does work, but only if the subtitles is enabled.... So its kinda pointless, you can only disable stuff not enable. It belongs there are its a easy way to edit all shows, like i said before, enabling subtitles for all shows are a very tedious task.

So if subtitles is enabled, is checked, if not unchecked. It should be that simple.

[2015-03-19 13:19] TagForce commented on #768
@fernandog Your FR asks to not do PP when there's no srt file associated with the video file. No srt means no processing means no deletion of anything. Once the srt is there, it will be processed and everything will be deleted. Mind you that SR will delete everything that is not a videofile, this includes srt files and RAR files. So it doesn't make a distinction between the kind of file it is. It'

[2015-03-19 13:20] Hellowlol commented on #997
Fine by me, i dont carr as long as i can enable it.

[2015-03-19 13:22] TagForce commented on #280
@fernandog Keep it, because it should be possible. It's just a FR we won't be adding anytime soon. We're going to overhaul a lot of stuff, and this would definitely make SR more flexible, but we need to focus on the more requested FRs first.

[2015-03-19 13:32] fernandog commented on #997
@Symbiot78

please stop SR
edit /SickRage/gui/slick/interfaces/default/manage.tmpl
clear contents
paste this one:
https://raw.githubusercontent.com/fernandog/SickRage/enable_subtitle_mass_edit/gui/slick/interfaces/default/manage.tmpl

save
start SR
test it please

[2015-03-19 13:44] sr-gi commented on #998
@fernandog if tried several times but it still doesn't work.

[2015-03-19 13:44] fernandog commented on #977
https://github.com/SiCKRAGETV/sickrage-issues/issues/981

[2015-03-19 13:46] fernandog commented on #988
https://github.com/SiCKRAGETV/sickrage-issues/issues/28
https://github.com/SiCKRAGETV/sickrage-issues/issues/357

[2015-03-19 13:46] #988 closed

[2015-03-19 13:51] fernandog commented on #998
@sr-gi
do you have other services running?
what is your /boot/config.txt settings?
512MB or 256MB pi ?

[2015-03-19 14:00] Rouzax commented on #955
Running the latest Master Git and happens.
[code]

[2015-03-19 14:01] sr-gi commented on #998
There's only sickrage and transmission running.
The /boot/config.txt is set with the default values.
The Pi is the 512 MB version.

Also, top command returns that the Pi is using only about a 10% of memory.

[2015-03-19 14:04] fernandog commented on #998
@abeloin can you confirm - or not - that is a memory issue?

[2015-03-19 14:05] fernandog commented on #955
@Rouzax seems a buggy torrent. Can you download from TD and add manually to UT?

[2015-03-19 14:07] Rouzax commented on #955
Yes, Just donwloaded the torrent file from the URL that is in the log.
Then I added it to uTorrent and it has picked it up to download.
![image](https://cloud.githubusercontent.com/assets/4103090/6732067/9fa1610a-ce49-11e4-86c4-a7565f3b729e.png)

[2015-03-19 14:12] CoRpO commented on #853
@fernandog I'm just overloaded of work atm :/

[2015-03-19 14:12] TagForce commented on #21
@fernandog I think it should already do this. But maybe newly downloaded episodes from the indexer have a status of UNKNOWN, in which case they will get set to default_ep_status... Also for season 0.

I'll have a possible fix in a minute.

[2015-03-19 14:13] fernandog commented on #955
@abeloin seems that is something wrong while downloading, isn't? buy why to not all torrents?

[2015-03-19 14:14] fernandog commented on #853
@CoRpO no problem. RARBG is still working as it is. take your time

[2015-03-19 14:16] Rouzax commented on #955
Is the way that the Proper routine handles a donwload different than the normal download?

[2015-03-19 14:22] TagForce commented on #218
@fernandog Commit it, then we'll see if it adds anything to SR and merge it if it's fine...

[2015-03-19 14:23] simonwicks commented on #853
@fernandog It's actually stopped working for me for some reason.
It was fine up until 2 updates ago (beginning of this week maybe), now it doesn't seem to find any results anymore.

I'm at work right now, but I'll try to supply a failing search on my end paired with the actual results on RBG later on.

I'd not changed any settings, but have since tried different proxy's in the provider settings an

[2015-03-19 14:26] fernandog commented on #853
@simonwicks please open a new issue and follow guidelines

[2015-03-19 14:27] fernandog commented on #218
@TagForce but is it a good information to have in HOME? Would be useful for most users or won't?

[2015-03-19 14:30] ThePieMan commented on #955
I was wondering if that was the case too @Rouxax. I've updated back to a clean Master and I can't remember the last time any Proper downloaded from any (torrent) provider. It has been throwing that same Torrent without content / Failed Sending Torrent error pair every time the FINDPROPERS process runs

[2015-03-19 14:31] TagForce commented on #218
I know I would use it...
Right now I check the info by sorting on next aired episode, and then from the bottom up (since the newest downloaded episodes most often have the furthest next episode), but it would be nice to be able to just sort on the last episode aired, so I can see which ones are not downloading in a glance.

[2015-03-19 14:35] fernandog commented on #955
@Rouzax @ThePieMan do you used proxy in this providers?

[2015-03-19 14:37] Rouzax commented on #955
Nope
![image](https://cloud.githubusercontent.com/assets/4103090/6732702/cc9c9234-ce4d-11e4-97be-61a4ad3ae117.png)

[2015-03-19 14:40] ThePieMan commented on #955
No proxy use anywhere for me either

[2015-03-19 15:50] fernandog commented on #291
yes

[2015-03-19 16:10] fernandog commented on #21
@ThePieMan

By default now, specials are set to SKIPPED
But If you DO want to download specials, go to your show and set them to WANTED.

[2015-03-19 16:10] #21 closed

[2015-03-19 16:12] ThePieMan commented on #21
@fernandog Thanks. Is there somewhere in config that I could change this to default to IGNORED instead of SKIPPED?

[2015-03-19 16:13] fernandog commented on #21
@ThePieMan no option

https://github.com/SiCKRAGETV/SickRage/pull/1594#issuecomment-83638077

[2015-03-19 16:14] TagForce commented on #21
@markheloking @fernandog I think the real problem occurs when the following line returns False when it should be True:
elif self.airdate == datetime.date.fromordinal(1):
If this happens for a special, then the special will remain at status UNKNOWN, and it would skip everything and set it to WANTED because that's the default_ep_status.

@ThePieMan
Nope, the logic in the code says they should be set

[2015-03-19 16:16] fernandog commented on #21
@TagForce your PR fixed that or it's another issue in the code?

[2015-03-19 16:18] ThePieMan commented on #21
Thanks @TagForce - at least they should be easy to find in Manage Episodes now, and not clutter up the backlog. Cheers!

[2015-03-19 16:22] TagForce commented on #21
@fernandog My PR makes sure that it doesn't matter if that check is accurate or not for specials. I can't change the other condition because I have no idea why it doesn't work, or what should fix it. I can test it, but I'd have to wait for episodes to be added to shows for it to allow me to debug it.

@ThePieMan For the internal workings of SR it doesn't matter if Specials are Ignored or Skipped.

[2015-03-19 16:22] fernandog commented on #997
https://github.com/SiCKRAGETV/SickRage/pull/1592

[2015-03-19 16:24] #327 closed

[2015-03-19 16:24] fernandog commented on #327
@anakaine this will be merged in master this sunday

[2015-03-19 16:25] Arcanemagus commented on #110
@fernandog should I open a separate issue for FreeNAS installs if you want to close this one? On FreeNAS on a dataset that has Windows (ACL) permissions this command no matter what fails so this option would be very useful on that setup.

[2015-03-19 16:26] fernandog commented on #110
@TagForce is something that we can fix or we give an option to disable?

[2015-03-19 17:27] #850 closed

[2015-03-19 17:37] abeloin commented on #998
From https://docs.python.org/2/library/exceptions.html#exceptions.MemoryError
[code]
It's suing to much memory, maybe add a swap space?

[2015-03-19 18:07] fernandog commented on #997
@Symbiot78 @Hellowlol

We found out that the "subtitle" column its misplaced. It should be a indicator (with x or v) like anime/sports and etc
mass update for subtitles should be done selecting the shows you want to enable subtitle and click "edit"
then select "enable/disable" subtitle

is that ok? or you want to change your FR to enable in the main page?

[2015-03-19 18:14] Hellowlol commented on #997
I disagree there is no reason why it should be a x or v column at all. there should only be checkboxes on for everything so mass edit actually is mass edit not "mass edit some stuff just display some other"

[2015-03-19 18:36] Symbiot78 commented on #997
I Always used it as a mass-search for subtitles.. Have I completely misunderstood?

Sent from Outlook

On Thu, Mar 19, 2015 at 11:15 AM -0700, "Hellowlol" <notifications@github.com> wrote:
I disagree there is no reason why it should be a x or v column at all. there should only be checkboxes on for everything so mass edit actually is mass edit not "mass edit some stuff just display some other"

---

[2015-03-19 18:38] guyleonard commented on #941
Apologies, I was away on business.

[code]
18:32:50 INFO::MAIN :: Trying to clean cache folder C:\SickRage\cache
18:32:50 INFO::MAIN :: Checking database structure...
18:32:50 INFO::MAIN :: Checking database structure...
18:32:50 INFO::MAIN :: Checking database structure...
18:32:50 INFO::MAIN :: No duplicate show, check passed
18:32:50 INFO::MAIN :: No duplicate episode, check passed
18:32:50 INF

[2015-03-19 18:42] fernandog commented on #997
@Symbiot78 mass search it's the correct function.

@neoatomic @markheloking @TagForce do you used this mass update/edit with subtitles?

[2015-03-19 18:53] sr-gi commented on #998
I've tried to add an additional 512 MB of memory as a swap space, but python still crashes.

[2015-03-19 19:16] Youmi15 commented on #361
@fernandog Apologies for the late response, haven't been around for a while. But I updated to the newest version and everything works fine now. Thanks for the help!

[2015-03-19 20:29] fernandog commented on #994
@saitoh183 there is nothing in the log about the .gz files

[2015-03-19 20:32] saitoh183 commented on #994
@fernandog

I will try again later on. I will start SR wait a few minutes for startup scans to be done...clear log, do a sub seatch and post log

[2015-03-19 20:34] fernandog commented on #994
Delete that subtitle with .gz and the one with bad chars and force to redownlosd

[2015-03-19 20:35] Vodka2014 opened #999 "Restore Not Working"
Hi,

I am trying to restore from the backups i made but nothing is restoring it is still the same default you get on a clean install.

Is there something i am missing.

Thanks

[2015-03-19 20:36] fernandog commented on #999
how can we help if you dont follow guidelines?

[2015-03-19 20:38] saitoh183 commented on #994
@fernandog

Ok...delete all the gz everywhere or only the series i will use for the test

[2015-03-19 20:38] Vodka2014 commented on #110
Well i did not find the settings to change this. If someone can give me a how to then maybe i can give it a go. it still process the files.

[2015-03-19 20:41] Vodka2014 commented on #999
Applogies:

BRANCH: (master) / COMMIT: (cc4896e96a27dda5cc9ed198209aa514bf68a4eb)
Python Version:	2.7.3 (default, Mar 13 2015, 13:21:49) [GCC 4.9.2]
OS OpenElec

[2015-03-19 20:43] fernandog commented on #999
@Vodka2014

SUBMITTING A BUG/ISSUE TICKET
**Please include the following when opening a new ticket:**

Branch
Commit hash
Your operating system and python version
What you did
What happened
What you expected
Link to a copy/paste of your logfile with clear debug info of the error on PASTEBIN

[2015-03-19 20:52] Vodka2014 commented on #999
@fernandog  Please see the below:

BRANCH: (master)
COMMIT: (cc4896e96a27dda5cc9ed198209aa514bf68a4eb)
OS OpenElec / Python Version: 2.7.3 (default, Mar 13 2015, 13:21:49) [GCC 4.9.2]
Clean Install
Trying to do a restore of the backups from SickRage
The restore did not work
http://pastebin.com/ZLzTCZAb

[2015-03-19 20:56] fernandog commented on #999
@Vodka2014 there's nothing in the log showing you try do to a restore!
open log page and search for "restore" - post results

[2015-03-19 21:00] Vodka2014 commented on #999
@fernandog

This is odd as i have done it twice and it stated to complete the restore please restart SickRage which i did and the logs are not showing anything.

[2015-03-19 21:46] Amnacog opened #1000 "[Feature Request] Add Strike torrent provider"
I recently discovered Strike wich is a powerfull and speedy search engine for torrents and it comes with a great api (json).
Hope it can be added soon as possible,

Thx in advance.

WWW: https://getstrike.net/
API: https://getstrike.net/api/

Yeah (#1000) issue

[2015-03-19 21:46] ryanf86 commented on #970
Turns out python wasn't accepting incoming connections but its all good now. Thanks for the assistance

[2015-03-19 21:47] emzero opened #1001 "Use PirateBay proxy site from list of sites instead of normal proxy services like hideme.nl"
TPB is blocked in my country and I find using proxy sites like hideme.nl pretty unreliable to access it.

I think it would be better to grab one TPB proxy site that's running, test if it works, if not, try another one, etc.

Here's the site I use: https://proxybay.info/
I don't know if it has some kind of API to get the sites, but if not, scrapping the HTML should be pretty straightforward.

[2015-03-19 21:51] emzero opened #1002 "[Feature Request] Add Spanish to Subtitulos.es scrapper"
Subtitulos.es provides both Spanish (Spain) and Spanish (Latin American) subtitles. And since SR has a subtitulos.es scrapper it would be nice if we could have a way to download only latin american ones.

[2015-03-19 22:21] #970 closed

[2015-03-20 00:26] abeloin commented on #333
HTML5 is dependent on the browser support, see http://en.wikipedia.org/wiki/HTML5_video#Browser_support for more info

[2015-03-20 00:29] abeloin commented on #373
Maybe related to this: https://github.com/Diaoul/subliminal/issues/96

[2015-03-20 00:30] abeloin commented on #446
@markheloking The PR is: https://github.com/SiCKRAGETV/SickRage/pull/1320

[2015-03-20 00:31] fernandog commented on #373
We need to update and keep up with subliminal updates

[2015-03-20 00:55] abeloin commented on #955
I need to debug this manually and it will take some time

[2015-03-20 01:24] abeloin commented on #941
@guyleonard Is it working?

[2015-03-20 01:56] Codeusa commented on #1000
Strike owner here, if you require a special endpoint or changes to the existing API for smooth integration, I have no problem accommodating you in someway like I have other services.

[2015-03-20 02:28] maxcore commented on #10
+1

[2015-03-20 03:11] maxcore opened #1003 "FR: Add TV-Show cat for T411"
Its possible to add :subcat=639

i add Hockey Wives show and the cat is Tv-show ->sub=639

thx :)

[2015-03-20 04:32] sirbishop commented on #838
this would be wonderful!  qBittorrent works on linux and windows very well and has a full feature set!

[2015-03-20 05:35] Symbiot78 commented on #997
For me the explanation is fine. If the checkboxes work as answered above :-)

[2015-03-20 05:52] TagForce commented on #110
@fernandog Option to disable is easy. We could check for an error on setting permissions and try something else if that fails. But I'll have to research it.

[2015-03-20 07:18] Rouzax commented on #955
Okay, let me know if you need anything.

[2015-03-20 07:31] abeloin commented on #998
Can you try a `git reset --hard`?

[2015-03-20 07:41] abeloin commented on #998
If it doesn't work, try git bisect(stop sickrage first and go to sickrage folder):
[code]
* git will then tell tell you `Bisecting: x revisions left to test after this`.
* Start sickrage manually `python SickBeard.py --nolaunch`
* Check if ok:
  * If ok, stop sickrage(Ctrl-C) and type: `git bisect good`
  * If not ok, stop sickrage(Ctrl-C) and type: `git bisect bad`
* Repeat until you see `is firs

[2015-03-20 08:52] DonCorleon commented on #16
Couldn't it just do a search for the episode name?
eg. Instead of using the Series title and season/episode number or air date, just have a setting to use the actual episode name? that would work for UFC as far as PPV and Fight night...... just my 2 cents :P

[2015-03-20 09:19] abeloin commented on #16
@DonCorleon Yes that would be the goal ultimately and it involve creating a new sports category with all the regex associated with it; changes to the Post-process and providers(To be able to search via name), the name tests, propers/repack, and all the other parts in the code not enumerated in this post.

As you can see it's not a simple quick fix that can be done overnight. If you are interested

[2015-03-20 09:34] xbullet opened #1004 "Automatic PostProcessing not working w/ Deluge (possibly effects more clients)"
BRANCH: (master) / COMMIT: (cc4896e96a27dda5cc9ed198209aa514bf68a4eb)
Python Version: 2.7.8 (default, Sep 24 2014, 18:26:21) [GCC 4.9.1 20140903 (prerelease)]
OS: Arch Linux 3.17 Kernel

Log file:
There are no associated log entries since it never tries to process the files...

Issue:
When automatic/manually started downloads finish, they are not being post-processed automatically and need to be p

[2015-03-20 10:18] #997 closed

[2015-03-20 10:21] fernandog commented on #1004
Follow guidelines:
https://github.com/SiCKRAGETV/sickrage-issues

[2015-03-20 10:21] fernandog commented on #1003
What is 639?

[2015-03-20 11:45] neoatomic commented on #1000
@Amnacog We have A LOT of feature requests and we simple dont have the manpower to get it all coded up.
So i need to ask some practical questions. What does this search engine add over TBP, KAZ or RarBG.? What are the benefits for the SickRage users.?

@Codeusa Thank you for you offer to help, really appreciate that.
If we decide to add Strike we will get in touch with you to get it smoothly imple

[2015-03-20 12:00] #218 closed

[2015-03-20 12:00] #895 closed

[2015-03-20 12:03] fernandog commented on #946
@TagForce should we post pone this to next milestone?

[2015-03-20 12:06] #770 closed

[2015-03-20 12:29] TagForce commented on #946
@fernandog Yeah, I'll have this done after the weekend, so won't make it for sunday's merge.

[2015-03-20 12:38] fernandog commented on #941
@abeloin can't we auto run "chcp 65001" inside SickBeard.py before anything using "os.system" when windows?

[2015-03-20 14:05] Codeusa commented on #1000
Hey @neoatomic I can answer your question for you

Strike utilizes DHT AND public trackers, this allows it to index millions of torrents on the fly at request; further more it uses an AI on the back end to determine better results and learns from querys as they are given.

That along with the API to get instant information on info-hashes makes it pretty unique.

[2015-03-20 14:08] fernandog commented on #994
@saitoh183 any news?

[2015-03-20 14:12] fernandog commented on #959
@11182711114 did you get this error for another episodes or just this one?

[2015-03-20 14:13] fernandog commented on #821
@abeloin should we keep this open and try to fix daemon or close as we disabled daemon for MAC/OSX?

[2015-03-20 14:13] maxcore commented on #1003
@fernandog 639 is the category for TV-SHOW not tv-series .  Its for reality show , cook show etc

[2015-03-20 14:14] fernandog commented on #1003
@maxcore would be necessary to updated regex or anything else?

[2015-03-20 14:17] saitoh183 commented on #994
@fernandog in the process of doing it right now...will post in a few minutes

Going to clear logs first

[2015-03-20 14:22] maxcore commented on #1003
http://www.t411.io/torrents/search/?name=&description=&file=&user=&cat=210&subcat=639&search=&submit=Recherche (this is for TV-Show)
the t411.py search only :

 T411 search page URL: http://www.t411.io/torrents/search/?name=Hockey.Wives.S01E02.&cat=210&subcat=455&search=%40name+Hockey.Wives.S01E02.+&submit=Recherche
2015-03-20 10:21:43 DEBUG    SEARCHQUEUE-MANUAL-290754 :: [T411] :: The Data retur

[2015-03-20 14:24] fernandog commented on #1003
@maxcore will explain again: the **naming pattern** for this new category is the same as the others?

[2015-03-20 14:25] maxcore commented on #1003
@fernandog hehe its the same pattern yes

[2015-03-20 14:27] fernandog commented on #1003
@maxcore please test using this file:

https://github.com/fernandog/SickRage/blob/t411_subcat/sickbeard/providers/t411.py

[2015-03-20 14:30] 11182711114 commented on #959
@fernandog It happends whenever I try to manually postprocess ".tv/". Going to start systematically deleting folders to find the right one, in the mean time I cleaned up the folder with empty files but am still getting it.

Another, hopefully more useful log(At least in case it tries to pp them in the same order as the dir listing)
http://pastebin.com/4WxqpJ9Z

[2015-03-20 14:32] fernandog commented on #959
@11182711114 try remove the DOT in ".tv"

[2015-03-20 14:33] fernandog commented on #959
@TagForce the dot in the folder can cause this issue?

[2015-03-20 14:36] maxcore commented on #1003
@fernandog
Working!
thx!!

[T411] :: Found result: Hockey Wives - S01E01 - ENG 720p HDTV MKV x264 (http://www.t411.io/torrents/download/?id=5281597)

[2015-03-20 14:37] 11182711114 commented on #959
@fernandog Thought of the same thing, but no .tv/ -> tv/ still erroring out;

http://pastebin.com/xf2FQRCX

[2015-03-20 14:37] #1003 closed

[2015-03-20 14:37] fernandog commented on #1003
@maxcore wait to be merged in master this sunday

[2015-03-20 14:38] maxcore commented on #1003
Yes no problem thx you for add my req :)

[2015-03-20 14:50] 11182711114 commented on #959
@fernandog Actually, I have had problems with "House.S03E06.Que.Ser?.Ser?.WEBRip.x264-MOBBit" before and removing it seems to have fixed it.

"House.S03E06.Que.Ser?.Ser?.WEBRip.x264-MOBBit" where the ? are supposed to be "á"

[2015-03-20 14:50] TagForce commented on #959
@11182711114
House.S03E06.Que.Ser\xe1.Ser\xe1.WEBRip.x264-MOBBit.1

That's the culprit.

[2015-03-20 14:51] fernandog commented on #959
@11182711114 remove the folder that has "á"

[2015-03-20 14:53] TagForce commented on #959
@11182711114 lol... nice... Exactly the same time we figured the offending file.
I think this is caused by the download client saving it with a wrong name. Best to just rename the file to something without the title in the name, and PP it. That way it shouldn't return.

[2015-03-20 14:54] saitoh183 commented on #994
@fernandog Im having a bit of trouble capturing logs. What would be the best way to go about it in or to capture the log at the right moment? There doesnt seem to be any indicator to when SR finishes try ing to find a subtitle. And clear log seems to only be for the errors and not the log itself. Can i just delete the log files without restarting SR in roder to not have all the start stuff in the

[2015-03-20 14:55] 11182711114 commented on #959
@TagForce Yeah, I even knew that those were breaking PP but I guess I just forgot they existed :(

[2015-03-20 14:55] #959 closed

[2015-03-20 14:57] fernandog commented on #994
Are you changing log level in viewlog?

[2015-03-20 15:01] fernandog commented on #959
what is the original torrent name/filename? Maybe SR send the torrent to the downloader with this chars

[2015-03-20 15:02] saitoh183 commented on #994
Yes...Changed it to Debug

[2015-03-20 15:04] saitoh183 commented on #994
@fernandog All i saw in the log that talked about subtitles was

2015-03-20 10:49:01 DEBUG    Thread-56 :: 164541: No subtitles downloaded for episode 5x8
2015-03-20 10:49:01 DEBUG    Thread-56 :: STATUS IS 104
2015-03-20 10:49:01 DEBUG    Thread-56 :: 164541: Saving episode details to database
2015-03-20 10:48:51 DEBUG    Thread-56 :: 164541: Downloading subtitles for episode 5x8

and it still sa

[2015-03-20 15:08] fernandog commented on #994
Search for Hawaii Five

[2015-03-20 15:09] TagForce commented on #959
@fernandog That shouldn't really matter... The torrent file can be named anything, as soon as it reads it it will know what the names of the files in it should be. If those get saved in a wrong way you'll end up with weird characters.

Either a File system limitation (fat or fat32 have issues with this) or a locale/codepage issue with the download client. Or it could be a bug in SR, but in this ca

[2015-03-20 15:21] 11182711114 commented on #959
@fernandog It was supposed to be á, however nzbToMedia has an option to convert any foreign char to UTF8 completely nullifying this error. It is not a perfect solution but it works for those that use it.

[2015-03-20 15:44] saitoh183 commented on #994
I did it and i comes up with nothing relevant...just a big list off all shows...I tried heart of dixie and gives a similar result to the log above. When i do a search for "Heart", the log level changes to DB and this cannot be edited.

Log:

http://pastebin.com/DXVRe0Bg

[2015-03-20 15:55] fernandog commented on #994
@saitoh183 you must delete the contents of search field to reset log search

use the LogFilter and filter: FINDSUBTITLES

[2015-03-20 16:08] fernandog opened #1005 "Improve Manual Search - ask user what to do"
- If that episode has previous download/snatch then ask user to:
    - re-download same quality (mark failed if enabled). Don't search for better quality OR
    - Force better quality check (don't download same quality).  If nothing better found, keep "Downloaded/Snatched" status.

* If no previous download/snatch: manual search won't ask anything and will do the search

@abeloin

[2015-03-20 16:34] abeloin commented on #821
@fernandog I don't have a mac to debug, so it's kinda difficult to debug. Maybe put it as a feature request? If not then closing for the moment

[2015-03-20 16:41] #821 closed

[2015-03-20 16:57] abeloin commented on #1004
@xbullet As @fernandog stated we need more info, also these specific info:
* logs
* Config.ini:
  * autopostprocesser_frequency
  * process_automatically
  * tv_download_dir
* Deluge
  * path when completed

Thanks

[2015-03-20 17:04] abeloin commented on #941
@fernandog Not really as it's not stable in all Windows versions

[2015-03-20 17:12] fernandog commented on #999
@Vodka2014 stop SR, erase all files in /SickRage/Logs, start SR, try to restore, wait until restart. Send the log file inside /SickRage/Logs

[2015-03-20 17:54] fernandog opened #1006 "HDT does not support "|" in the search: PROPER|REPACK"
Is there a way to do separate searches and join the results?

https://github.com/SiCKRAGETV/SickRage/blob/develop/sickbeard/providers/torrentday.py#L268

@abeloin is it possible to do:

[code]

[2015-03-20 17:56] saitoh183 commented on #994
@fernandog I did that and nothing there.The only way i see anything subtitle related is setting it to DB/Debug and  filter by thread. I just noticed that it seems all the files that are failing and being added to the SR folder have special characters. Hannibal for example, most eps have accent on a letter...all those failed to download sub and when i try them, they are sent to the SR folder. Eps w

[2015-03-20 18:00] Amnacog commented on #1000
@neoatomic if you do not have enough "manpower", I can implement the provider myself, I'm a brogrammer too, let me know..

[2015-03-20 18:02] fernandog commented on #994
@saitoh183 Post full contents of your /config page

[2015-03-20 18:05] fernandog commented on #1000
@Amnacog feel free to PR to develop

You can see all providers code in providers directory

https://github.com/SiCKRAGETV/SickRage/tree/develop/sickbeard/providers

check if you can use one of then as a base code

[2015-03-20 18:06] saitoh183 commented on #994
SR Version:	BRANCH: (master) / COMMIT: (cc4896e96a27dda5cc9ed198209aa514bf68a4eb)
SR User:	Administrator
SR Locale:	('en_CA', 'cp1252')
SR Config file:	E:\SickRage\config.ini
SR Database file:	E:\SickRage\sickbeard.db
SR Cache Dir:	E:\SickRage\cache
SR Arguments:	[]
SR Web Root:
Python Version:	2.7.8 (default, Jun 30 2014, 16:08:48) [MSC v.1500 64 bit (AMD64)]

[2015-03-20 18:12] fernandog commented on #994
@saitoh183 stop SR. run CMD as admin and run:

chcp 65001

then enter sickrage folder and run:
python SickBeard.py

Post results of /config

[2015-03-20 18:19] saitoh183 commented on #994
SR Version:	BRANCH: (master) / COMMIT: (cc4896e96a27dda5cc9ed198209aa514bf68a4eb)
SR User:	Administrator
SR Locale:	('en_CA', 'cp1252')
SR Config file:	E:\SickRage\config.ini
SR Database file:	E:\SickRage\sickbeard.db
SR Cache Dir:	E:\SickRage\cache
SR Arguments:	[]
SR Web Root:
Python Version:	2.7.8 (default, Jun 30 2014, 16:08:48) [MSC v.1500 64 bit (AMD64)]

[2015-03-20 18:24] fernandog commented on #994
If you run chcp 65001 it should appear

SR Locale: ('en_CA', 'cp65001')

[2015-03-20 18:36] saitoh183 commented on #994
i checked the chcp and it was set to 850 again. So i stopped everything again and ran the command from admin cmd and from the same console navigated to my SR folder and started it and it still says the same thing in config and when i type chcp it showed 65001 just before i started SR via tha same console. If i close and re-open the CMD it is back to 850, is that normal?

[2015-03-20 18:39] fernandog commented on #994
@abeloin any ideias?

[2015-03-20 18:49] scythe000 commented on #793
This is really frustrating.

[2015-03-20 19:02] abeloin commented on #994
@saitoh183 It's normal, chcp change the currently active code page in the currently running process only. It doesn't change it system wide. So the change(chcp 65001) must be included in your vbs.

[2015-03-20 19:05] fernandog commented on #994
@abeloin he runned manual: chcp 65001 and python SickBeard.py but the new locale didn't appeared in /config

[2015-03-20 19:11] abeloin commented on #994
@saitoh183 You did this?
[code]

[2015-03-20 19:32] #1006 closed

[2015-03-20 19:35] saitoh183 commented on #994
yes minus the --nolaunch since i have it set to not run browser already

[code]

[2015-03-20 19:44] fernandog commented on #994
@saitoh183 please do

[2015-03-20 19:50] saitoh183 commented on #994
https://drive.google.com/file/d/0B-nxnSB-4zQ4bXhfbU9ZNVdDVmM/view?usp=sharing

[2015-03-20 19:52] fernandog commented on #994
@saitoh183 contents of /config please

[2015-03-20 19:54] saitoh183 commented on #994
@fernandog

its on the video.

SR Version:	BRANCH: (master) / COMMIT: (cc4896e96a27dda5cc9ed198209aa514bf68a4eb)
SR User:	Administrator
SR Locale:	('en_CA', 'cp1252')
SR Config file:	E:\SickRage\config.ini
SR Database file:	E:\SickRage\sickbeard.db
SR Cache Dir:	E:\SickRage\cache
SR Arguments:	[]
SR Web Root:
Python Version:	2.7.8 (default, Jun 30 2014, 16:08:48) [MSC v.1500 64 bit (AMD64)]

[2015-03-20 19:55] fernandog commented on #994
@saitoh183 I don't know why cp65001 don't know in /config.

after running chcp 65001, and delete local subtitles, and try to download them again, does is appear with bad chars too?

[2015-03-20 20:05] saitoh183 commented on #994
yes and in the sickrage folder

[2015-03-20 20:08] fernandog commented on #994
@saitoh183 I really don't know what's wrong. you are the only user reporting this

[2015-03-20 20:15] saitoh183 commented on #994
@fernandog

sigh...could it be because i used Git for Windows to install or cuz im on Server 2012 R2 STD. I hope its not because of my DB..i wouldnt want to have to re-populate it...took very long to sort out the different settings for the shows and then wait a few hours for the import to finish. Should i be running on chcp 65001?

[2015-03-20 20:17] fernandog commented on #994
@saitoh183 you can try install SR in **ANOTHER** folder. and add just that show and try to find subtitles

[2015-03-20 20:19] abeloin commented on #994
@saitoh183 It's not db related

[2015-03-20 20:19] ioax commented on #486
prerequisit: Python installed

Enter as root on your readynas
cd /home
mkdir sickrage
git clone git://github.com/echel0n/SickRage.git sickrage
cd sickrage
/usr/bin/python SickBeard.py --nolaunch &

on your browser <mynas>:8081    <mynnas> can be your NAS name or the NAS ip

issue: every time you boot or reboot your NAS you need to login as root go to /home/sickrage  and do /usr/bin/python SickBear

[2015-03-20 20:21] fernandog commented on #486
@ioax is this a new issue? If so, open another one please

[2015-03-20 20:26] saitoh183 commented on #994
@fernandog

I will try that

@abeloin

If moving SR to my other server works, would it be complicated to move my DB over . The TV path isnt the same since the storage server is the local machine for my TV shows. Is the same drive letter as my map drive an my map drive but it has a extra folder (D:\videos\TV instead of D:\TV). Can i just change the path in SR and it would update my TV shows or does

[2015-03-20 20:39] abeloin commented on #994
@fernandog I'm now in Windows, and I can confirm @saitoh183 issue:

SR Version: 	BRANCH: (develop) / COMMIT: (d15e9e0bb698b02be5202a5b4255b69e02566e59)
SR User:	Alexandre
SR Locale:	('fr_CA', 'cp1252')
SR Config file:	D:\SickRage\config.ini
SR Database file:	D:\SickRage\sickbeard.db
SR Cache Dir:	D:\SickRage\cache
SR Arguments:	['--nolaunch']

[2015-03-20 20:46] TagForce commented on #793
@scythe000 Server 2012. I suppose there's nothing in eventvwr? Security logs. Any failure audits?
It's actively denying access so it should give us a reason somewhere.
If there's an incompatibility with server 2012 we need to find the cause.

Right now I'm at a loss... I'll see if I can install a 2012 server at work, monday

[2015-03-20 20:54] simonwicks opened #1007 "Hotlinking directly to proxied pages is not permitted"
SR Version:	BRANCH: (master) / COMMIT: (cc4896e96a27dda5cc9ed198209aa514bf68a4eb)
Python Version:	2.7.8 (default, Dec 12 2014, 22:38:36) [GCC 4.3.2]
Using a Synology NAS

Hey,

So as of Monday (I think) RBG hasn't been returning any results for my shows.
I haven't changed any other settings from what I had before and had been working since I noticed RBG was a provider.
I upgraded to the latest of

[2015-03-20 20:56] abeloin commented on #994
@saitoh183 Can you apply this patch in reverse?

https://github.com/SiCKRAGETV/SickRage/pull/1540.diff

`patch -p1 -R < 1540.diff `

Stop sickrage first

[2015-03-20 21:20] scythe000 commented on #793
@TagForce Nothing. I've been running 2012 since last year, and this issues only came about a month or two ago.Security logs are totally clean. All the files that are being denied, I'm able to manually move, delete, copy and rename with no issue.

[2015-03-20 21:21] scythe000 commented on #793
I'm running SR as a service per the online instructions. Let me see what happens if I kill the service and try it from the shell manually.

[2015-03-20 21:23] scythe000 commented on #793
Meh, same thing.

[2015-03-20 21:37] abeloin commented on #994
Try it on my system and it fix the issue.

[2015-03-20 21:46] abeloin commented on #994
@saitoh183 Created a PR fixing the issue can you try it?

[2015-03-20 22:58] saitoh183 commented on #994
@abeloin

Just got home...will try it in a few minutes

[2015-03-20 23:31] fernandog commented on #794
@dgholz what about this?

https://github.com/SiCKRAGETV/SickRage/pull/1590

Is it a fix?  isn't better than change that 36 files?

[2015-03-20 23:58] sr-gi commented on #998
This is what I get:

48f42ad42eba1d85d8a12b9ca33b6147f9d24c0c is the first bad commit
commit 48f42ad42eba1d85d8a12b9ca33b6147f9d24c0c
Author: Fernando <fernandog@users.noreply.github.com>
Date:   Sat Mar 7 23:32:14 2015 -0300

    Try to fix invalid date

    OverflowError: mktime argument out of range

    https://github.com/SiCKRAGETV/sickrage-issues/issues/883

:040000 040000 ee149173eb65f422bd

[2015-03-21 00:02] fernandog commented on #998
@sr-gi what I did wrong?! =)

[2015-03-21 00:05] sr-gi commented on #998
By the way, it seems like in some way SR is started when I try to start the service.

service sickrage status returns: sickrage start/running with a different pid each time.

This is some how related to the fact that yesterday I saw a python2 process changing It's pid each second, but I don't know if it's the normal behaviour.

[2015-03-21 00:06] saitoh183 commented on #994
SR Version:	BRANCH: (master) / COMMIT: (cc4896e96a27dda5cc9ed198209aa514bf68a4eb)
SR User:	Administrator
SR Locale:	('en_CA', 'cp1252')
SR Config file:	E:\SickRage\config.ini
SR Database file:	E:\SickRage\sickbeard.db
SR Cache Dir:	E:\SickRage\cache
SR Arguments:	[]
SR Web Root:
Python Version:	2.7.8 (default, Jun 30 2014, 16:08:48) [MSC v.1500 64 bit (AMD64)]

started manually like we did before

[2015-03-21 00:06] fernandog commented on #1007
@simonwicks here is working. last download yersterday

are you sure this episode is available in rarbg in the quality you want?

[2015-03-21 00:08] fernandog commented on #998
@sr-gi you should have only one python for SickBeard.py. unless you are running couchpotato or another service.

[2015-03-21 00:10] sr-gi commented on #998
@fernandog I have only one, but It changes it's pid constantly. It should be like this?

[2015-03-21 00:12] fernandog commented on #955
I did some testing
- RARBG ok!
- KAT ok!
- NZBgeek - ok
- TD - nok!
- HDT - nok!

looks like is related to private providers

[2015-03-21 00:15] fernandog commented on #998
@sr-gi this is my top command.

your PID column is changing?! are you sure? how frequent?

![1](https://cloud.githubusercontent.com/assets/2620870/6762821/1a23100c-cf46-11e4-8c87-ae73bfb114ba.png)

run this and report back results
[code]

[2015-03-21 00:21] saitoh183 commented on #994
do i need to add the change of the chpc to my vbs?

[2015-03-21 00:22] fernandog commented on #994
@saitoh183 yes

[2015-03-21 00:23] fernandog commented on #994
@abeloin what don't let SR run or give a ERROR if we detect that user is running windows and didn't run chcp 65001 before run sickrage?

[2015-03-21 00:25] saitoh183 commented on #994
since i just copied the vbs...how so i modify it?

Set WshShell = CreateObject("WScript.Shell")
WshShell.Run chr(34) & "E:\SickRage\SickBeard.py" & Chr(34), 0
Set WshShell = Nothing

[2015-03-21 00:26] sr-gi commented on #998
Those are two different snapshots, with more or less 5 secs of delay.

![image](https://cloud.githubusercontent.com/assets/6665628/6762876/d226ff66-cf68-11e4-98ce-4853cdc86e50.png)

![image](https://cloud.githubusercontent.com/assets/6665628/6762880/dcf0d098-cf68-11e4-80e8-adeeca9f27db.png)

The process only appears either if I start it manually (with service start), or the reboot the Pi. If I try

[2015-03-21 00:34] fernandog commented on #998
@sr-gi disable sickrage at startup, restart pi, start SR manually

[2015-03-21 00:37] fernandog commented on #994
chr(34) is the same as "
you are running the command using double quotes in the end and in the beginning

Set WshShell = CreateObject("WScript.Shell")
WshShell.Run chr(34) & "chcp 64001" & Chr(34), 0
WshShell.Run chr(34) & "E:\SickRage\SickBeard.py" & Chr(34), 0
Set WshShell = Nothing

[2015-03-21 00:42] sr-gi commented on #998
I've deleted sickrage.conf from /etc/init, reboot the pi, and try to start SR manually with python SickBeard.py --nolaunch.

Same error :(

[2015-03-21 00:46] fernandog commented on #998
Please run:

python --version

and

clear && mes= date | cut -d " " -f2 && sudo grep "$mes .* Out of memory" /var/log/syslog

[2015-03-21 01:00] sr-gi commented on #998
pi@raspberrypi /opt/sickrage $ python --version
Python 2.7.3
pi@raspberrypi /opt/sickrage $ clear && mes= date | cut -d " " -f2 && sudo grep "$mes .* Out of memory" /var/log/syslog
Mar

[2015-03-21 01:13] saitoh183 commented on #994
@fernandog

Thank you ..but isnt it 65001?..im guessing typo :)

@abeloin Thank you

[2015-03-21 01:17] fernandog commented on #994
yes

[2015-03-21 01:17] fernandog commented on #998
@abeloin do you know what is that python2 in top?

[2015-03-21 01:29] saitoh183 commented on #994
![image](https://cloud.githubusercontent.com/assets/1534197/6763189/3cc476a8-cf48-11e4-9db2-0d7bfc1e850e.png)

[2015-03-21 01:34] fernandog commented on #994
@saitoh183 is the file still there?

[2015-03-21 01:42] saitoh183 commented on #994
@fernandog

which file?

The error is when i add the line for chcp...comment it out and the vbs works

[2015-03-21 01:44] fernandog commented on #836
@Hellowlol do you accept enabling subtitles using the first column "edit" ?  that column subtitle will be renamed to "Search subtitles" - force search.

What about a column indicating enable/disabled for subtitles? will be better to select/unselect the shows you want. What do you think?

[2015-03-21 01:49] fernandog commented on #994
@saitoh183 so I don't know how to add it. sorry

[2015-03-21 01:53] saitoh183 commented on #994
@fernandog

No worries i will figure it out :)

[2015-03-21 04:17] abeloin commented on #994
@saitoh183 Put the 2 commands in a batch file

[2015-03-21 04:21] saitoh183 commented on #994
@abeloin

Ok..will try that

[2015-03-21 04:22] cnmsales opened #1008 "UN/PW no longer working"
When entering SickRage the UN/PW option is no longer working.Tried to log in and it wont accept my info. Verified info in config.ini file and tried again. Still UN/PW error. Cleared UN/PW from config. I can now access  SR. Set UN/PW back up and now its not working again. Just to note, I am running Windows 10 and this issue began after the update to the new build #10041. It was working properly in

[2015-03-21 05:51] chrisric commented on #978
I had a SSL issue a couple of weeks back on SickRage, everything was working and then one of the torrent providers moved to a web server that uses SSL SNI and stopped working. I'm no programmer so don't know the nuts and bolts of it all but below is what fixed it for me.

I'm running MacOS 10.8.5, it was using OpenSSL 0.9.8za.

You can't only install OpenSSL via MacPorts (MP) as Python will still

[2015-03-21 06:09] viearical opened #1009 "SickBeard failing to find all results on altHub?"
SickRage seems to be failing to find episodes on the altHub indexer.  I can successfully find the episode in question via manual searches on the site, but SickRage doesn't appear to see it according to the log.  Searching for Scandal S04E16

Branch - Master
commit f1a5bf8706c0a51ef0659996f4cb0a72f11ee7ea
OS X 10.10.2 - Python 2.7.9
log file - http://pastebin.com/iWatUUxt

[2015-03-21 06:28] TagForce commented on #793
@scythe000 I will need to try and reproduce this. I can't until monday, though.

[2015-03-21 06:31] Hellowlol commented on #836
Honestly I didn't try the edit inside mass update. As long as i can just mark all shows, press edit, set subtile to enable and press save that's more then enough. I'm happy with current solution and I think renaming that column is wise.

Sorry for making  fuzz about nothing.

[2015-03-21 06:31] #836 closed

[2015-03-21 06:38] TagForce commented on #998
@fernandog that's python. It changes its PID because its set to restart on an error. Each time it starts it will crash with a memoryerror, exits with an errorcode other than 0, and gets restarted, causing a new pid.

[2015-03-21 08:43] Rouzax commented on #955
Maybe it is not passing the credentials?

[2015-03-21 09:06] abeloin commented on #1005
@fernandog @TagForce
Part 1 of 2 DisplayShow: https://github.com/abeloin/SickRage/commit/4f4b57a8b8893ca7cfe631882a9be0c37e918eff?w=1
Part 2 of 2 ComingEpisode: Available later

[2015-03-21 09:20] abeloin commented on #1009
@viearical I would check these 2 items:

Check how is categorized Scandal S04E16 on the web site, it can be in the wrong category, season, episode, rageid.

Manually check the feed sickrage receive to see if you see the release:
[code]

[2015-03-21 09:22] abeloin commented on #1008
Please follow the instructions on [this page](https://github.com/SiCKRAGETV/sickrage-issues) to provide all the informations requires when submitting an issue.

Are you encrypting passwords?

[2015-03-21 09:42] abeloin commented on #998
@sr-gi Try reverting the bad commit:

Download: https://github.com/abeloin/SickRage/commit/48f42ad42eba1d85d8a12b9ca33b6147f9d24c0c.diff

`patch -p1 -R < 48f42ad42eba1d85d8a12b9ca33b6147f9d24c0c.diff` in sickrage folder

[2015-03-21 10:52] simonwicks commented on #1007
@fernandog Hey, it is indeed.

I linked to my show page which shows it's set as HD720p, and I linked to a webdl torrent being available on RBG that it didn't pick up on. I'm guessing there's some not webdl one's it missed but could have picked as well.

It's not only Archer though, it's all my shows all week.
I've been manually downloading them since.

Think i should try exporting all my settings

[2015-03-21 11:10] fernandog commented on #1007
Use log search and search for rarbg

Post results

[2015-03-21 11:14] fernandog commented on #1009
@viearical altHub is returning Scandal 2012.
Check if you have "Scandal 2012" in scene exceptions. If not please add using "edit show"

[2015-03-21 11:24] simonwicks commented on #1007
@fernandog

Sure thing.

Only goes back as far back as today it seems, and I have since manually downloaded Archer and all other shows from this week, so I don't think it's actively looking for anything at the moment.

I can add a test show though, something I don't usually watch that's aired recently.

Log here - http://pastebin.com/jbbr86gV

[2015-03-21 11:24] fernandog commented on #1008
maybe this IE build has some issues.
it is a alpha/beta build. Isnt?
does it work with a release version of IE?

[2015-03-21 11:28] fernandog commented on #1007
@simonwicks

I tried to open the url from log and got this:

"Hotlinking directly to proxied pages is not permitted."

@abeloin we should change this proxy

[2015-03-21 11:45] sr-gi commented on #998
I've done it and I tried to start SR manually again, but it still crashes.

I'm thinking about trying a clean Raspbian installation in another SD and see if it works.

[2015-03-21 12:00] simonwicks commented on #1007
Oh. Well at least you figured it out!

I tried swapping to getprivate, and proxite and get a hotlinking errors as well.
Interproxy says 'The requested resource could not be loaded. libcurl returned the error:
connect() timed out!'

So seems they've all cracked down!

[2015-03-21 12:55] fernandog commented on #1007
for what read, proxies are disabling hotlinks because of they ads/page are going down in traffic

http://proxy.org/forum/glype-proxy-discussion/8634-users-byepassing-home-page.html

[2015-03-21 13:16] fernandog commented on #1005
@abeloin

[code]

[2015-03-21 13:21] abeloin commented on #1005
@fernandog https://github.com/SiCKRAGETV/SickRage/compare/develop...abeloin:patch-manual_search?w=1

[2015-03-21 13:23] abeloin commented on #1007
@fernandog It's failing because it ask for a confirmation because the url is ssl and the the proxy isn't:
https://gist.github.com/abeloin/b86cac8b27526451f43f

[2015-03-21 14:33] xbullet commented on #1004
I will provide some further info soon guys, cheers

[2015-03-21 15:06] markheloking commented on #20
Lol, I totally forgot that the fix for the update theme was only after updating. Figures though. Thank you guys!

[2015-03-21 18:43] abeloin commented on #1005
Screenshot:
![Imgur](http://i.imgur.com/XWkqH71.png)
![Imgur](http://i.imgur.com/LmM2xAK.png)

[2015-03-21 19:32] WebSpider commented on #310
Trying to figure out how this should work with custom quality settings / archive in the UI ... anyone got any suggestions?

[2015-03-21 19:37] WebSpider commented on #225
+1

[2015-03-21 19:39] fernandog commented on #310
Changing quality shouldnt be a common/daily/weekly thing to do. you set one time and maybe when a new season comes with new quality. if you must keep changing quality the or your provider its not good or you didnt choose initial/archive proper.

[2015-03-21 19:46] fernandog commented on #225
For torrents the solution is a better or private provider.
NZB a possible solution is enabled failed and use NZBtoMedia.

Torrent the best solution is SR fetches if the torrent is stalled and mark as failed and get a new one.
nzb already there is the nzbtomedia.
@tagforce

[2015-03-21 19:51] abeloin commented on #1007
@simonwicks Can you try this PR? https://github.com/SiCKRAGETV/SickRage/issues/1616

[2015-03-21 20:07] Mycah opened #1010 "Support update to offline kodi MySQL db."
I would love to see the ability to update the Kodi library, when Kodi isn't on and has an externally hosted MySQL database.

I have multiple machines that all hit one MySQL database on my fileserver, and it appears that SickRage can update the Kodi DB, but it interfaces through Kodi to do it.  My HTPC's aren't always on, and this is unreliable.  I'd love to have the ability to configure SickRage t

[2015-03-21 20:18] cnmsales commented on #1008
Where do I locate branch and commit hash? I tried looking for all this info last night before I submitted but wasn't seeing it anywhere.

[2015-03-21 20:42] fernandog commented on #1008
Help&info menu

[2015-03-21 21:29] abeloin commented on #310
You can change multiple shows quality via the mass update page using the edit selected button.

[2015-03-21 21:36] abeloin commented on #1010
Editing the SQL database directly is unreliable, it's better to use the provided api. If we don't then we have to track every DB version change which is a pain in the **** and we have to do catch up game when a new version is out.

Why don't you set Kodi to do a full update when it is started, this way your new episode will be available after the scan.

[2015-03-21 21:39] #1010 closed

[2015-03-21 21:40] abeloin commented on #1008
@cnmsales
You are running to instance of sickrage on the same port?
[code]

[2015-03-21 21:57] simonwicks commented on #1007
@abeloin

I'm not really sure how to pull individual files into my build, or even just replace them.

If you're able to walk me through it I can give it a go though.

[2015-03-21 22:14] abeloin commented on #1007
Better wait until it is merged then

[2015-03-21 22:15] simonwicks commented on #1007
No worries.

[2015-03-21 22:19] Mycah commented on #1010
That's too bad.  My htpc clients are not really all that beefy, they offload all the video to video specific hardware and library updates I would think would be easier to manage offline since it's just mysql.  If it isn't possible, oh well.  Thanks anyway.

[2015-03-21 22:23] fernandog commented on #1010
@Mycah you only have to add a custom keymap to remote.xml in XBMC/KODI that updates video library
OR enable the scan library at startup in XBMC/Kodi. It's the best solution as the HTPC's aren't always on

[2015-03-22 00:03] scythe000 commented on #793
It'll be tough to reproduce, I imagine. I tried exiting uTorrent after removing all torrents. Disabled A/V and killed my backup app. That's about all I can do.

[2015-03-22 00:11] scythe000 commented on #793
I also just tried doing a clean boot. No change.

[2015-03-22 00:26] abeloin commented on #921
@fernandog @TagForce Fixed, please test.

[2015-03-22 00:52] #921 closed

[2015-03-22 00:52] fernandog commented on #921
worked!

[2015-03-22 01:58] #1005 closed

[2015-03-22 02:04] #1007 closed

[2015-03-22 02:05] fernandog commented on #373
@meokey @markheloking is this still a bug? We haven't' had reports about this.

[2015-03-22 02:06] fernandog commented on #373
https://github.com/SiCKRAGETV/SickRage/issues/1275

[2015-03-22 02:06] fernandog commented on #373
https://github.com/SiCKRAGETV/sickrage-issues/issues/237

[2015-03-22 02:06] fernandog commented on #373
https://github.com/SiCKRAGETV/sickrage-issues/issues/457

[2015-03-22 02:07] #373 closed

[2015-03-22 02:50] #477 closed

[2015-03-22 02:56] abeloin commented on #506
@Vastlee Can you provide a raw version of your rss data with the apikey data remove?

We added the ability to choose the rss title in the data, so maybe there is way to choose a format SR can understand: https://github.com/SiCKRAGETV/SickRage/pull/1335

[2015-03-22 05:08] rafaelbiriba commented on #99
Automatic searching and snatching is not working. If I do manual search for each episode then that episode is snatched

[2015-03-22 08:39] Thraxis commented on #301
I just looked at the Trakt code as I was happened to click on the Trending Shows page and was getting
"Trakt API did not return any results, please check your config."

After reviewing the Trakt v 2.0 API page: http://docs.trakt.apiary.io/

It looks like the current URL API URL SiCKRAGE is using is quickly going away (https://api.trakt.tv/)
And when used on the Trending Page it actually currently

[2015-03-22 09:34] TagForce commented on #225
@fernandog Stalled downloads is already on the to do list. It needs 2 things, though.
- A new db field to store the torrent hash.
- A change in the torrentclient api's code to allow deleting the torrents and to  fetch information on them.

[2015-03-22 09:49] TagForce commented on #794
https://github.com/docker/docker/pull/7414
together with our option to shutdown only should fix it.

[2015-03-22 10:35] fernandog commented on #225
@tagforce transmission allow it.
@abeloin what about deluge?

[2015-03-22 10:37] fernandog commented on #99
please open new issue and as always follow guidelines. plain text of info wont help us see the problem with your setup (probaly)

[2015-03-22 12:15] sr-gi commented on #998
I've installed a clean raspbian distro and configured all again. It seems to work fine. Thanks everyone for the support.

[2015-03-22 12:17] #998 closed

[2015-03-22 13:10] #999 closed

[2015-03-22 14:26] fernandog commented on #1001
@abeloin can't we add a {provider}.proxy_custom setting in config.ini and an input in provider options so user can manually input a specific proxy for that provider? I couldn't make it work because I don't know how add the custom name and custom url "on the fly" to the "dropdown list". Or is there a better solution?

[2015-03-22 15:22] abeloin commented on #225
Yes deluge support deleting torrent.

[2015-03-22 15:26] abeloin commented on #1001
@fernandog I think enabling the option to edit some provider hardcoded url maybe a good idea

[2015-03-22 16:37] abeloin commented on #955
@Rouzax @ThePieMan @dirkr07 Can someone try this commit: https://github.com/abeloin/SickRage/commit/ea0e6a86183279d145ba92c581fb2ebf9c19b353?w=1

[2015-03-22 16:41] ThePieMan commented on #955
Can I just stop SR, drop in those two changed files and restart to test?

[2015-03-22 16:51] abeloin commented on #955
@ThePieMan If on develop yes, if on master no. On master is better to do the change manually if you feel confortable with it.

[2015-03-22 16:57] Rouzax commented on #955
I'm on master do I just add the lines that are in the commit?

[2015-03-22 17:00] abeloin commented on #955
Yes

[2015-03-22 17:29] abeloin commented on #893
Done with PR 1624

[2015-03-22 17:29] #893 closed

[2015-03-22 18:22] Rouzax commented on #955
Can't seem to start with these edits in the Master version.
This is my properFinder.py
![image](https://cloud.githubusercontent.com/assets/4103090/6770700/85deb6d8-d0c8-11e4-9316-54e4fc87cd53.png)

This is my search.py
![image](https://cloud.githubusercontent.com/assets/4103090/6770701/9da3abf2-d0c8-11e4-8484-618cbafa8f2e.png)

This is the error during start:
![image](https://cloud.githubuserconte

[2015-03-22 18:26] abeloin commented on #955
@Rouzax You need to use space not tab

[2015-03-22 18:31] Rouzax commented on #955
Ok, I did not know that :smile:

[2015-03-22 18:43] Rouzax commented on #955
After some trial and error I got it running, will keep you up to date.

[2015-03-22 18:46] abeloin commented on #955
@Rouzax Some information on tab in python: http://www.secnetix.de/olli/Python/block_indentation.hawk

[2015-03-22 19:15] Rouzax commented on #955
Thanks, that is the first programming language im aware of were indentations actually matter.

[2015-03-22 19:24] fernandog commented on #955
@abeloin worked with TD!

[code]

@Rouzax @ThePieMan @dirkr07

[2015-03-22 20:05] ThePieMan commented on #955
I haven't got any hits yet.  Is there any way to look deeper into the downloaded episode history for propers?  I'm sure there are many out there that have been missed, but I think all I see are the past X hours (or days?) of downloaded episodes are the ones that are searched for?

[2015-03-22 20:11] fernandog commented on #955
AFAIK proper has a limited search window. otherwise it will search your entire library for propers.

Manual search for propers in you private tracker. See if there are any propers in the last 24hs. if dont. Wait.

I cheated my SR to test the fix =l

[2015-03-22 21:54] neoatomic commented on #860
@fernandog The last week i was experiencing slowness with my SR install. I just discovered the problem.
My config.ini was 34mb large. Seems that encrypting the git password was looping.?
It created 453000 lines for just the encrypted git password...
So it seems that there is something wrong with the code. Could you take a look at it.?

[2015-03-22 22:08] fernandog commented on #860
@neoatomic

Please follow guidelines!
Just kidding

[2015-03-22 22:31] #955 closed

[2015-03-22 22:37] abeloin commented on #860
BTW looking at the code for encrypting password, it's machine specific. So if you move your config.ini to another machine all the password will be wrong if they are encrypted.

[2015-03-22 23:11] abeloin opened #1011 "From @neoatomic: git password is humongous"
@fernandog The last week i was experiencing slowness with my SR install. I just discovered the problem.
My config.ini was 34mb large. Seems that encrypting the git password was looping.?
It created 453000 lines for just the encrypted git password...
So it seems that there is something wrong with the code. Could you take a look at it.?

[2015-03-22 23:18] abeloin commented on #860
@neoatomic See https://github.com/SiCKRAGETV/sickrage-issues/issues/1011

[2015-03-22 23:28] abeloin opened #1012 "Encrypted password are machine specific"
[code]
Encrypting password in config.ini use uuid.getnode() as a random number which makes it machine specific. Also if it's unable to get a hardware address, it will generate a random 48 bits number which would cause issue to user encrypting password(Eg:Unable to login). Finally, if the config.ini is moved to another machine, all passwords will be invalid.

I think we should generate a random num

[2015-03-22 23:53] #1011 closed

[2015-03-23 00:11] fernandog commented on #1012
@abeloin agree

[2015-03-23 00:11] #1009 closed

[2015-03-23 00:12] #982 closed

[2015-03-23 01:17] DetectiveStern opened #1013 "Torrent is empty after update"
BRANCH: (master)
COMMIT: (3b11079a5a658fdc8fe35de1ecadd572e06dc872)
OS: Ubuntu Server 12.04
Python Version: 2.7.3

I was 2 updates behind based off of the SickRage webui, after the updates all searches result in "Torrent file content is empty". The server is in a different region when looking at the time stamps but I updated roughly 1 hour ago. I believe the commit version I am using now was relea

[2015-03-23 01:25] fernandog commented on #1013
@DetectiveStern full logs please!

[2015-03-23 01:27] abeloin commented on #1013
A hotfix will be available shortly

[2015-03-23 01:32] DetectiveStern commented on #1013
Getting a new link setup with the full logs, it will be just a second....I have to create an account due to it's size.

[2015-03-23 01:33] DetectiveStern commented on #1013
@fernandog @abeloin
Getting a new link with the full logs, it will be just a second....I have to create an account due to it's size.

[2015-03-23 01:35] abeloin commented on #1013
@DetectiveStern Please update to the latest version. It should fix the issue

[2015-03-23 01:39] DetectiveStern commented on #1013
@abeloin I just updated and it's working again. Thank you!

[2015-03-23 01:41] abeloin commented on #994
PR merge in master please update

[2015-03-23 01:41] #994 closed

[2015-03-23 01:42] #1013 closed

[2015-03-23 02:07] fernandog commented on #230
@copekyle did you try to blackhole again? issue persist after all this updates?

[2015-03-23 02:09] fernandog commented on #941
@guyleonard reply or we will close it

[2015-03-23 02:27] abeloin commented on #230
@fernandog I think it will be fixed by this: https://github.com/nicolasmartinelli/SickRage/commit/7ba04b5a6b6bb7e376844c57cf76e10f77f1f54f from https://github.com/SiCKRAGETV/SickRage/pull/1561

[2015-03-23 02:36] #794 closed

[2015-03-23 03:01] ThePieMan commented on #955
Just snatched a Proper from a private tracker. @abeloin's fix appears to work!

[2015-03-23 03:21] Trevara opened #1014 "Couldn't find a download for MasterChef Canada - 2x05 - Slice of Life"
Hi, first post here, hoping someone could assist.
SickRage is working wonders, but it's failing to find certain episodes on KAT as I believe it's omitting the "S" for season, and "E" for episode.
For Example, it's been unable to pull MasterChef Canada on KAT automatically.
Attempting to search is manually brings the error "Couldn't find a download for MasterChef Canada - 2x05 - Slice of Life"
The

[2015-03-23 04:25] abeloin commented on #1014
@Trevara To better help you, please consult the following on how to submit an issue: https://github.com/SiCKRAGETV/sickrage-issues

[2015-03-23 09:01] ChrisLahaye commented on #323
@neoatomic I believe the value "c" for the t argument isn't specified in the official Newznab documentation, it is "caps" not "c".

[2015-03-23 09:17] fernandog commented on #1014
@Trevara did you set mim seeders or min leechers or trusted/verified only? If so check the torrent

[2015-03-23 10:37] TagForce commented on #1012
@abeloin Yes, seems like a safer option.

[2015-03-23 10:38] TagForce commented on #225
@abeloin @fernandog uTorrent also allows this, I think this is a basic function of all API's. It just needs to be added to out client api code in a universal way.

We should also look at support for NZBs in this matter.

[2015-03-23 10:43] fernandog commented on #937
@Dennisreneholm

can you please edit your SickRage\sickbeard\webserve.py ?

stop SR and change this:
https://github.com/fernandog/SickRage/commit/c1addca77b5d1d970b48d9858a131459f5f65f37

[2015-03-23 10:46] fernandog commented on #225
@TagForce is there a proper issue for this? We are going to do a timeout OR we will check downloaders for failed/stalled episodes from time to time?

[2015-03-23 10:59] tchirou commented on #854
+1000
A brief summary of each update with new features and major bug fixes would be great !

[2015-03-23 11:10] TagForce commented on #225
We're going to have an internal timeout (configurable in hours) for snatches. This is all part of the torrent client 'overhaul', that will improve client API support.

[2015-03-23 11:10] fernandog commented on #854
@tchirou for now:
https://sickrage.tv/forums/forum/main-category/latest-news/19525-enjoy-the-new-update-tons-of-bug-fixes-and-a-lot-of-new-features?p=20592#post20592

[2015-03-23 11:15] neoatomic commented on #323
@ChrisLahaye Thanks for reporting.

@fernandog Could you verify what we are using in the Newznab code.?

[2015-03-23 11:19] tchirou commented on #854
Oh ok nice
Is this master or dev ?

[2015-03-23 11:42] fernandog commented on #854
@tchirou always master. remember master is being updated every week?

[2015-03-23 11:45] fernandog commented on #323
@ChrisLahaye @neoatomic I'm lost here. is this a new issue? this one is fix/closed, isn't?

[2015-03-23 11:49] tchirou commented on #854
oh I did not realize there was a planned release schedule
Great to know

[2015-03-23 11:58] fernandog opened #1015 "Feature Request - Add column widget selector to "displayShow""
Add column widget selector to "displayShow" like the one added Home

This eliminates the need for specific options in settings and simply allows you to select which columns you want to see on the fly.

Need to remove this setting from UI /config/general/:
- Display Filesizes - display filesizes for downloaded episodes on show page

https://sickrage.tv/forums/forum/main-category/feature-requests/86

[2015-03-23 12:21] TagForce commented on #1015
@fernandog Yeah, maybe add the widget-columnselector across the board for all pages that have a table. Keeps the design the same all over the place.
Also adding it to DisplayShow would allow us to add the filename column again. People are asking for it (a couple of them anyway).

[2015-03-23 13:05] simonwicks commented on #1007
@fernandog

Hey,

I updated this morning to the new build, and this is still occurring for me I'm afraid, failing to grab anything when there are definitely matching results.

Do you want me to post anymore logs or anything else?

[2015-03-23 13:13] fernandog commented on #1007
@simonwicks full logs please

[2015-03-23 13:17] simonwicks commented on #1007
@fernandog

RBG is blocked in the UK so not directly. I usually use TOR if I need to get to it manually.

What shall I set the logging level to to grab the logs you want?
Alternatively I can let you log in direct if it's easier?

[2015-03-23 13:22] fernandog commented on #1007
@simonwicks did you enabled proxy in provider settings?

[2015-03-23 13:24] simonwicks commented on #1007
@fernandog Indeed, it's always been ticked as all the sites are usually blocked here.

[2015-03-23 13:43] simonwicks commented on #1007
@fernandog

I just tried to manually put hide.nl in my browser on a computer on the same network as my NAS and paste a search from the logs (https://rarbg.com/torrents.php?search=Bobs.Burgers.S05E16.&category=18&page=1 - for example)
and I get this error on the hideme.nl page after hitting Go.

*The requested resource could not be loaded. libcurl returned the error:
connect() timed out!*

Tried TO

[2015-03-23 13:47] fernandog commented on #1007
@simonwicks Try proxite instead of hideme.nl

@rarbg is hideme.nl proxy banned/blocked?

[2015-03-23 13:53] rarbg commented on #1007
@fernandog
As i said many times before already - there is spam/bot protection.
hideme.nl is probably affected by that and its banned

[2015-03-23 13:56] simonwicks commented on #1007
@fernandog

Changed to that and manually hit search on the show again. It span for ages but eventually came up with the notification saying nothing found.

Tried it through the browser and get the same error as on hideme

*The requested resource could not be loaded. libcurl returned the error:
connect() timed out!*

Log of that search here - http://pastebin.com/n06m4Cch

Just seen RBG's reply, loo

[2015-03-23 13:59] fernandog commented on #1007
@rarbg I remember. Just want to make sure is banned.

We are still waiting @corpo to update the code.
Sorry

[2015-03-23 14:04] simonwicks commented on #1007
@fernandog No worries, these things happen :)

[2015-03-23 14:35] gborri opened #1016 "Home search field doesn't work"
Every time i'm searching for a show it doesn't find anything

[2015-03-23 14:58] TagForce commented on #1016
@gborri
https://github.com/SiCKRAGETV/SickRage/blob/develop/gui/slick/interfaces/default/home.tmpl#L251

Can you change data-column="1" to data-column="2" and see if it works again?

@abeloin If we allow turning columns on and off, this needs to be changed from hardcoded to derived from the shown columns.

[2015-03-23 15:45] gborri opened #1017 "KeyError: <sickbeard.tv.TVEpisode object at 0xb4c94d4c>"
I've seen an issue about this error.
I probably found the root cause of the problem but I do not kown why it's happening.

the problem arise when you are backlogging episode 2 and you find S01E01-02 on cache.
in tvcache.py on procedure searchCache episode is 2 but findNeededEpisodes procdure return neededEps with eps 01 due to curEp = curResult["episodes"].split("|")[1].

[2015-03-23 16:18] saitoh183 commented on #1016
@TagForce

I can confirm that the change works

[2015-03-23 16:50] Dennisreneholm commented on #937
Okay, think i did it :P

You wanted me to delete the line marked with red, and insert the line marked with green right?

[2015-03-23 16:52] Dennisreneholm commented on #937
Guess not :S
What is it i need to change?
![12311](https://cloud.githubusercontent.com/assets/5224930/6785348/591aa900-d185-11e4-8484-570c98aa8c32.png)

[2015-03-23 16:53] fernandog commented on #937
@Dennisreneholm sorry. my mistake

return json.dumps(foldersAtPath(path, True, bool(int(includeFiles)))),ensure_ascii=False)

[2015-03-23 16:57] TagForce commented on #937
[code]

One too many )'s after includeFiles, @fernandog :)

[2015-03-23 16:57] Dennisreneholm commented on #937
class WebFileBrowser(WebRoot):
    def __init__(self, *args, **kwargs):
        super(WebFileBrowser, self).__init__(*args, **kwargs)

    def index(self, path='', includeFiles=False, *args, **kwargs):
        self.set_header("Content-Type", "application/json")
        return json.dumps(foldersAtPath(path, True, bool(int(includeFiles)))),ensure_ascii=False)

    def complete(self, term, includeFil

[2015-03-23 17:01] fernandog commented on #937
@TagForce this new error I don't know what is the reason. do you know?

[2015-03-23 17:07] fernandog commented on #937
@Dennisreneholm can you send the full error / traceback?

[2015-03-23 17:10] TagForce commented on #937
[code]
Has one too many )'s...
You have 4 ('s and in total 5 )'s... You need to remove one of them behind includeFiles so it has 3 )'s

[2015-03-23 17:12] fernandog commented on #937
@#$% !

@Dennisreneholm
return json.dumps(foldersAtPath(path, True, bool(int(includeFiles))),ensure_ascii=False)

[2015-03-23 17:15] abeloin commented on #1017
@gborri Can you provide the logs when this happen?

[2015-03-23 17:44] abeloin commented on #1016
@TagForce I forgot to change that one when I added prev ep. There's no need to change it from hard coded to derived as tablesorter does the conversion internally. I will push a fix.

[2015-03-23 17:49] abeloin commented on #1016
@gborri @saitoh183 @TagForce PR merged in develop

[2015-03-23 17:49] #1016 closed

[2015-03-23 17:50] fernandog commented on #937
@abeloin is this fix ok?

[2015-03-23 18:05] guyleonard commented on #941
Changing the code page does seem to fix the issue, yes. I'll just add 'chcp 65001' before SickRage starts, thanks! :)

[2015-03-23 18:07] #941 closed

[2015-03-23 18:10] Rouzax commented on #222
Just got the update of the Master with this Pr and it works as a charm.
Thank you very much :+1:  :bow:

[2015-03-23 18:20] fernandog opened #1018 "Warn user about backlog search range less than oldest wanted episode airdate"
@abeloin @TagForce @neoatomic
What is better:
- Note in config_search.tmpl next to "Backlog Search days" warning user he has a wanted episode outside backlog search days and suggesting to increase the value to XX
- Show a warning in LOG?

[2015-03-23 18:25] Dennisreneholm commented on #937
Now sickrage can't start.
I got a notification from NMA that a commit had been made to sickrage first time i started it, with the changed line.

[2015-03-23 18:30] fernandog commented on #937
@Dennisreneholm we pushed some updates. it's conflicting with your local change
edit config.ini and enable git_reset = 1
try run again

[2015-03-23 18:35] abeloin commented on #937
What is the result of this url: `http://localhost:8081/browser/` ?

[2015-03-23 18:43] abeloin commented on #1018
What happen if add a show from 2000 and set it to wanted by default(because I don't understand how backlog works), it will ask me to put the backlog to 5475 days?

[2015-03-23 18:46] Dennisreneholm commented on #937
Used a backup from last night, restored, added the enable git_reset = 1 and replaced the line in webserve.py.
![tabrkc3 1](https://cloud.githubusercontent.com/assets/5224930/6787762/38da54dc-d195-11e4-948e-4fe7e9bb6816.png)

[2015-03-23 18:47] fernandog commented on #1018
will warn you that you have an WANTED episode outside backlog search range

[2015-03-23 18:48] abeloin commented on #937
@fernandog I think the convertion error from existing to new show happen here:
https://github.com/SiCKRAGETV/SickRage/blob/master/gui/slick/js/addExistingShow.js#L27

[2015-03-23 18:50] fernandog commented on #937
@abeloin ensure_ascii=False wouldn't fix this and other possible errors?

[2015-03-23 18:51] TheWoollyBully commented on #486
I created a [deb](https://github.com/TheWoollyBully/sickragern6/releases/download/v0.1/sickragern6-0.1.deb) package. It will install SickRage on your ReadyNas and provide controls through the admin frontview.  Its all on github at [TheWoollyBully/sickragern6
](https://github.com/TheWoollyBully/sickragern6)
enjoy!

[2015-03-23 18:57] krash1220 commented on #337
cvockrodt,I just got a laptop with windows 8 on it and I have tried to get your uploader script to work but the log file is always empty. I installed curl and put it in the systems folder but I was getting errors so I put it the directory with your script and it runs but like I said the log file is empty. What am I doing wrong? This is driving me crazy because I really want to be able to upload my

[2015-03-23 18:57] abeloin commented on #937
No because then you to change all the json.load because it's not standard anymore.

From the doc json.load:
[code]

From the doc json.dumps:
[code]

[2015-03-23 19:05] fernandog commented on #486
@TheWoollyBully what was the commit hash from you build the deb?

[2015-03-23 19:08] TheWoollyBully commented on #486
43854607ecfce849d8dc6f95995850abb54bb444

[2015-03-23 19:09] abeloin commented on #937
@Dennisreneholm Can you try changing line 2624 in sickbeard/webserve.py in function addExistingShows:
from
`shows_to_add = [urllib.unquote_plus(x) for x in shows_to_add]`
to
`shows_to_add = [ek.ss(urllib.unquote_plus(x)) for x in shows_to_add]`

[2015-03-23 19:31] mattail opened #1019 "HoundDawgs torrent search provider not working"
It looks like the torrent search provider HoundDawgs has stopped working.
I'm using sickrage installed on a synology NAS version
SR Version:  BRANCH: (master) / COMMIT: (4b40fceda883f76174672ab4e1423f3713e037ca)
When looking at logs I see this repeating line:
*The Data returned from HoundDawgs do not contains any torrent*

Logs:
http://hastebin.com/esexasocej.pas

[2015-03-23 19:37] abeloin commented on #1018
We should change SearchBacklog.py#L88 because this is printed in the log when backlog is started:
`BACKLOG :: Running limited backlog on missed episodes 7 day(s) and older only`

[2015-03-23 19:39] Dennisreneholm commented on #937
Just did, sickrage starts fine, same error though.
![saylyxl 1](https://cloud.githubusercontent.com/assets/5224930/6788881/c0beefc8-d19c-11e4-9da5-68e41a8b8eca.png)

[2015-03-23 19:59] fernandog commented on #1018
@abeloin will fix in thi FR PR. I should read config setting

[2015-03-23 20:04] fernandog commented on #1018
![2](https://cloud.githubusercontent.com/assets/2620870/6789384/98f6efc2-d17e-11e4-8481-bcee8df8c1cb.png)

@abeloin suggestions?

[2015-03-23 20:05] fernandog commented on #1018
@abeloin message is correct:
[code]

shouldn't be "earlier only" ?

[2015-03-23 20:08] Alexwijn opened #1020 "Parsing WEB-DL filenames"
I do not have a lot of info to give you since he parsed it more than a day ago, and the logs are only from today. But you have to take my word for it:

The filename Continuum.S03E01.Minute.by.Minute.720p.WEB-DL.AAC2.0.H264.mkv will get parsed to Unknown. I think this is because he can't locate the uploader name.

I searched up the season pack for the TV Show and saw a exact match in file size in a

[2015-03-23 20:48] krash1220 commented on #337
okay it did start working but it didn't upload the torrent file to my put.io account?

[2015-03-23 20:57] brimur opened #1021 "PROPERs downloaded more than once"
I have noticed that, unlike normal episodes, when there is a PROPER found that it will download it more than once depending on how many providers have it, KAT, TPB etc. So if a PROPER is found on both KAT and TPB both finds are downloaded.

[2015-03-23 20:58] fernandog commented on #1021
follow guidelines:
https://github.com/SiCKRAGETV/sickrage-issues

[2015-03-23 21:03] abeloin commented on #1018
Yes
Also you should be careful on the numbers of days you go back as it will slow down the system. It fetch all episode before date: `SELECT status, season, episode FROM tv_episodes WHERE showid = ? AND season > 0 and airdate > ?`

[2015-03-23 21:05] brimur commented on #1021
I just noticed that I am 112 commits behind. I will close this issue for now and open again if the issue still exists in the latest version.

[2015-03-23 21:05] #1021 closed

[2015-03-23 21:06] fernandog commented on #1018
@abeloin is there anything that I can do to improve the query?

[2015-03-23 21:08] abeloin commented on #1018
Have a look in _get_segments() in searchBacklog.py#L137

[2015-03-23 21:10] abeloin commented on #1018
Wanted is one of the status it's searching:
 if (curStatus in (common.DOWNLOADED, common.SNATCHED, common.SNATCHED_PROPER,
                              common.SNATCHED_BEST) and curQuality < highestBestQuality) or curStatus == common.WANTED:

[2015-03-23 21:43] abeloin commented on #1018
String from sickbeard: logger.log(u"Running limited backlog on recently missed episodes only")

[2015-03-23 23:21] abeloin commented on #337
Please refrain from using this thread for @cvockrodt client support. Post an issue here: https://github.com/cvockrodt/put.io-uploader

[2015-03-23 23:28] abeloin commented on #1019
Please use pastebin or like for long log.

[2015-03-23 23:34] abeloin commented on #1019
Can you try changing [line 170 of sickbeard/providers/hounddawgs.py](https://github.com/SiCKRAGETV/SickRage/blob/7a7ff70fdb5faf714523d84d12531f0bba8e3bc7/sickbeard/providers/hounddawgs.py#L170):
from:
`searchURL = self.urls['search'] % (urllib.quote(search_string), self.categories)`
to
`searchURL = self.urls['search'] % (search_string, self.categories)`

Stop Sickrage first, edit, then start sickr

[2015-03-23 23:54] cnmsales commented on #1008
Nothing is running on 8081 that I am aware of. Everything was working correctly and everything is still working properly with the exception that I cannot PW protect SB.

[2015-03-24 00:25] abeloin commented on #1008
@cnmsales Can you try this in the python interpreter on the same machine running sickrage:
[code]
Press CTRL+C to exit, then try again. Do you get a different value?

[2015-03-24 00:39] cnmsales commented on #1008
Abeloin, I would love to. How do I open the interpreter?

[2015-03-24 00:49] abeloin commented on #1008
* Open command line(cmd.exe).
* Type: `c:\python27\python.exe` (If you installed python elsewhere you need to substitute)

[2015-03-24 01:40] cnmsales commented on #1008
Both times I get 10503546354L, and 10503546354L

[2015-03-24 01:53] abeloin commented on #1008
Ok so not the uuid bug.

Can you open the task manager, and make sure you don't have any python process. Check the config.ini file and make sure the password is the one you want(web_username and web_password). Start sickrage and try the user/pass. If not working check the log for:
[code]

[2015-03-24 02:26] cnmsales commented on #1008
Ok so this is what it looks like before I kill everything. http://imgur.com/w3YvGNY As you can see there are three python items running for some reason. Really unsure why that would be or how to fix it. After killing all three and closing sickrage and restarting it I only have one Python process running. I am able to get into SR fine. Restarted and now the three python processes are back but I am

[2015-03-24 03:55] saitoh183 commented on #1015
+1 here :)

[2015-03-24 03:58] saitoh183 commented on #781
+1

[2015-03-24 04:17] maxcore commented on #781
+1

[2015-03-24 04:34] abeloin commented on #1008
@cnmsales Use the taskmanager details tab next time it will give a better information. Looking at your screenshot those other python process are from plex.

My guess is that your were running 2 instance of Sickrage, hence the `Unable to start web server`.

[2015-03-24 04:34] #1008 closed

[2015-03-24 07:34] mattail commented on #1019
Thanks for quick reply!
Can I edit .py files on synology via SSH or how is it done?

[2015-03-24 10:21] neoatomic commented on #1019
@mattail use WinSCP. with connection mode scp

[2015-03-24 12:30] fernandog commented on #1019
@mattail when you open this URL, do you get results?

https://hounddawgs.org/torrents.php?type=&userid=&searchstr=&searchimdb=&searchtags=&order_by=s3&order_way=desc&&filter_cat[85]=1&filter_cat[58]=1&filter_cat[57]=1&filter_cat[74]=1&filter_cat[92]=1&filter_cat[93]=1

[2015-03-24 12:38] fernandog commented on #1020
@Alexwijn missing group

https://github.com/SiCKRAGETV/SickRage/blob/develop/sickbeard/name_parser/regexes.py#L65

this is torrent has a bad naming

[2015-03-24 13:07] fernandog commented on #1014
@Trevara reply or we will close

[2015-03-24 13:09] fernandog commented on #937
@Dennisreneholm did you shutdown sickrage, did that changes that abeloin said, and started again SR?

[2015-03-24 13:10] fernandog commented on #793
@TagForce any news on this?

[2015-03-24 13:15] abeloin commented on #1019
@fernandog See the definition of urlib.quote: https://docs.python.org/2/library/urllib.html#urllib.quote
It will encode any character except A-Z a-z 0-9 _.-

The only commit since February 20th that could have broken it is https://github.com/SiCKRAGETV/SickRage/commit/7a7ff70fdb5faf714523d84d12531f0bba8e3bc7#diff-36cd43ccb433b18422e4bdd4390b6c0b as the other one is for a space in a log string. Thi

[2015-03-24 13:24] fernandog commented on #1019
@abeloin but I only added to urllib.quote(search_string). not the URL itself.

Also the all searchstr= in the URL are empty

[2015-03-24 13:25] TagForce commented on #793
@fernandog I've installed a 2012 server, but so far everything is working rather well... I'm still testing PP and permissions.

[2015-03-24 13:30] fernandog commented on #793
@scythe000 can you send the print of all file permissions, all folders (and subfolders) permissions ?
Maybe you are missing something.

the files that report wrong permission were downloaded using torrent or NZB?
is there any relation between OK files and NOK files?

[2015-03-24 13:33] abeloin commented on #1019
@fernandog I not saying that the issue is the commit, I want to cover the all the bases while troubleshooting his issue.

[2015-03-24 13:33] scythe000 commented on #793
How should I generate the permission report for you?

I can't see any difference between the files that process and the ones that don't. All downloads are torrents. It was all working fine on 2012 until recent commits.

Sent from my iPad

On Mar 24, 2015, at 9:30 AM, Fernando <notifications@github.com<mailto:notifications@github.com>> wrote:

@scythe000<https://github.com/scythe000> can you send t

[2015-03-24 13:39] TagForce commented on #793
@scythe000 @abeloin Could it be the monkeypatch for shutil.copy that broke it?
https://github.com/SiCKRAGETV/SickRage/pull/1308

What Filesystems do you use on 2012? What kind of disks? Basic/Dynamic? Any spanned volumes?

[2015-03-24 13:39] fernandog commented on #793
@scythe000 screenshot? is there another way?

[2015-03-24 13:40] TagForce commented on #793
icacls... As I mentioned above.

[2015-03-24 13:41] mattail commented on #1019
I'm at work.Will change line 170 in hounddawgs.py when I get home and report result here.

[2015-03-24 13:44] fernandog commented on #1019
@mattail can you open one of the URLs in the log, save the html page and send to us? Maybe provider changed something in the page

[2015-03-24 13:54] mattail commented on #1019
Sure. Should I send you this page before I make any change to the hounddawgs.py file?

[2015-03-24 13:55] fernandog commented on #793
@TagForce @abeloin he is the only windows user reporting this

[2015-03-24 13:58] scythe000 commented on #793
The OS is a hardware raid 1 on SSds. The data drive is 3 sata drives in in SW raid 5. All ntfs.

Sent from my iPad

On Mar 24, 2015, at 9:39 AM, TagForce <notifications@github.com<mailto:notifications@github.com>> wrote:

@scythe000<https://github.com/scythe000> @abeloin<https://github.com/abeloin> Could it be the monkeypatch for shutil.copy that broke it?
SiCKRAGETV/SickRage#1308<https://github.c

[2015-03-24 13:59] Zzaap opened #1022 "DVD Order, does it work ?"
If it does I'm not sure how to use this feature.
I tried to click it on and off on different series (Firefly and Kaamelott) with no apparent effect.
On thetvdb.com the episodes are set correctly for both aired and DVD order.

For exemple on Firefly the 1st episode in DVD order is Serenity
![aired](https://cloud.githubusercontent.com/assets/5058994/6803156/0c738a70-d236-11e4-9b3f-dcd183ab75b1.png)

[2015-03-24 14:05] fernandog commented on #793
@scythe000

Open a command prompt (Win-R, cmd)
cd into the folder where that file exists.
icacls <filename>
It will give you all the permissions of that file.
Do the same with the foldernames where that file exists.
so:
cd ..
icacls <foldername>
repeat until the TV download folder... Post the results.

Do the same for the destination folders (and files if they exist) in your series folder.

[2015-03-24 14:06] fernandog commented on #1019
@mattail you can send now (without changing file)

[2015-03-24 14:16] mattail commented on #1019
Here you go.
https://www.dropbox.com/s/9nxsjgjm8b3dw1z/Browse_Torrents_HoundDawgs.html?dl=0

[2015-03-24 14:18] scythe000 commented on #793
Sorry for the screenshots, working from my iPad at a conference 3,000 miles away:

[2015-03-24 14:18] scythe000 commented on #793
![image](https://cloud.githubusercontent.com/assets/1904522/6803597/186b729c-d20f-11e4-9b07-06559afc6c2a.jpg)
![image](https://cloud.githubusercontent.com/assets/1904522/6803599/2088a06c-d20f-11e4-8024-d4c3a9ee41c2.jpg)
![image](https://cloud.githubusercontent.com/assets/1904522/6803600/20a33da0-d20f-11e4-9be7-02a403e633e7.jpg)
![image](https://cloud.githubusercontent.com/assets/1904522/6803601/20

[2015-03-24 14:22] fernandog commented on #793
@scythe000 the files that report wrong permission were downloaded using torrent or NZB?
is there any relation between OK files and NOK files and the type of downoad (nzb vs torrent)?

[2015-03-24 14:25] abeloin commented on #793
@TagForce No because if you look at his first post you can see in the traceback it doesn't call lib/shutil(fout = os.open(dst, WRITE_FLAGS)) and confirmed by looking at the commit log: https://github.com/SiCKRAGETV/SickRage/tree/850bded195399dc9d66d1970619e5df6bb5a2d43/lib

In the monkeypatch, the failure mean that one of these bits is returning a permission denied:
`os.O_WRONLY | os.O_CREAT | os.

[2015-03-24 14:25] Zipties opened #1023 "SickRage downloading same file dozens-hundreds of times"
SickRage is downloading certain shows (same file even) near limitless times

[code]

Here are logs of the issue.
https://drive.google.com/file/d/0B2ggqo902tNhSGdPaUZHaHJfbjg/view?usp=sharing
https://drive.google.com/file/d/0B2ggqo902tNhM2xZNEFSUTMyNjQ/view?usp=sharing

Screenshots: https://drive.google.com/folderview?id=0B2ggqo902tNhflFGcUJ3TVhTMkxaRzdlV0xteUYtcTNTZldyZWtuNlU4eTJyNmNackkxemc&usp=s

[2015-03-24 14:25] scythe000 commented on #793
All are torrents. I cannot see any difference. I just ran a manual PP, and bobs burgers was both in the d/l folder and in the destination. I marked it as priority, and it processed fine. It looks like sometimes SR. is starting to process some of them, but then aborts it partway, to the point where for that file, it had copied and renamed it it, but left the original, and didn't send a notification

[2015-03-24 14:27] Dennisreneholm commented on #937
i shutdown via webui, and saw the cmd box go away, then i started it again.

[2015-03-24 14:28] fernandog commented on #1023
@Zipties

follow guidelines please! we need more than just logs
https://github.com/SiCKRAGETV/sickrage-issues/

please post the contents of /config
please send screenshot of all your PP settings from all tabs
do you use nzbtomedia?
post a full screenshot of one show page (one that is re-downloading)

[2015-03-24 14:29] fernandog commented on #937
@Dennisreneholm can you try searching the way I did in the above image? do you get results?

[2015-03-24 14:31] TagForce commented on #793
@fernandog He's also one of only a handful running SR on Server 2012, so it could still be that the code fails on his system.
The permissions are correct (administrators full control on everything), so that is not an issue.

That's about all I can think of at the moment, that it fails on software raids for Win 2012... I'll have to test that... I'll see if I can modify my VM tonight.

[2015-03-24 14:31] fernandog commented on #793
@TagForce is the file is in PP folder and destination folder, and PP is set to copy, could that raise the permission error?

[2015-03-24 14:32] scythe000 commented on #793
It must have been something that changed recently though, because I've been running SR on 2012 for about 6 months with no issues.

[2015-03-24 14:33] TagForce commented on #793
No, if there is a file in the destination folder of the same name, PP will find it, and either stop PP (when the newer file is smaller or not priority), or will delete the old file first.

[2015-03-24 14:34] Dennisreneholm commented on #937
Okay, i can find the TV show, and i can add it, but.
![50hsi9i 1](https://cloud.githubusercontent.com/assets/5224930/6803922/13612770-d23b-11e4-818b-a77e496a1778.png)
![akgk0sb 1](https://cloud.githubusercontent.com/assets/5224930/6803931/1df6b06a-d23b-11e4-8aa2-412006ea8bbc.png)

Since the filepath still is not showing correctly, the files cannot be found:
![njwkuts 1](https://cloud.githubusercon

[2015-03-24 14:39] fernandog commented on #937
@abeloin in the UI It shows OK! the problem is the path

[2015-03-24 14:45] Zipties commented on #1023
Branch: Master
Commit hash:(4b40fceda883f76174672ab4e1423f3713e037ca)
Your operating system and python version: Windows 7/ 2.7.8
What you did: Added a show
What happened: It downloaded same episode file dozens of times
What you expected: for it to download one time

please post the contents of /config: http://pastebin.com/rL7VwctD
please send screenshot of all your PP settings from all tabs:
do yo

[2015-03-24 14:47] fernandog commented on #1023
@Zipties config PAGE not config.ini !

localhost:xxxx/config

[2015-03-24 14:48] Zipties commented on #1023
SR Version:	BRANCH: (master) / COMMIT: (4b40fceda883f76174672ab4e1423f3713e037ca)
SR User:	Cory
SR Locale:	('en_US', 'cp1252')
SR Config file:	C:\SickRage\config.ini
SR Database file:	C:\SickRage\sickbeard.db
SR Cache Dir:	C:\SickRage\cache
SR Log Dir:	C:\SickRage\Logs
SR Arguments:	[]
Python Version:	2.7.8 (default, Jun 30 2014, 16:08:48) [MSC v.1500 64 bit (AMD64)]
 Homepage	http://www.sickrage.

[2015-03-24 14:48] fernandog commented on #1023
@abeloin not "quality" in renaming! See the show page. some episodes as UNKNOWN

[2015-03-24 14:52] Zipties commented on #1023
I'm sorry, what?

[2015-03-24 14:52] fernandog commented on #1023
@Zipties we are checking if not having quality pattern in renaming can cause this issue

[2015-03-24 14:55] Zipties commented on #1023
I don't think so, episode 5 of the same show has also had the same issue and it shows a quality.

[2015-03-24 14:59] fernandog commented on #1023
maybe is losting quality somewhere

[2015-03-24 15:17] abeloin commented on #793
@TagForce I'm a little bit rusty on NTFS perms but that some weird permissions for the BUILTIN\users:

BUILTIN\users (I)(CI)(S, WD): Apply to subfolders of the folder but not files.
BUILTIN\users (I)(CI)(S, AD): Apply to subfolders of the folder but not files.
BUILTIN\users (I)(OI)(CI)(RX): Apply to files in the folder, but not subfolders within that folder.

I do understand, that combined with Ev

[2015-03-24 15:54] fernandog commented on #1023
@Zipties is it possible to send the original file names of the episodes?

[2015-03-24 15:59] Zipties commented on #1023
Better.Call.Saul.S01E08.1080p.HDTV.X264-DIMENSION.mkv
Better.Call.Saul.S01E08.720p.HDTV.X264-DIMENSION.mkv
Better.Call.Saul.S01E05.1080p.HDTV.X264-DIMENSION.mkv
Better.Call.Saul.S01E05.720p.HDTV.X264-DIMENSION.mkv

[2015-03-24 16:04] fernandog commented on #1023
@Zipties if you edit the show and push "re-scan" (wait a few minutes). does it still shows as unknown?

[2015-03-24 16:04] TagForce commented on #1023
@Zipties @fernandog Is Capture2.png from Better Call Saul?
Because if so... I think the problem is that there is no episode 8 in that list.

It shouldn't need a quality in the renamed filename.

[2015-03-24 16:06] Zipties commented on #1023
@TagForce Hmm, yeah it is...that's weird.

[2015-03-24 16:07] fernandog commented on #1023
@TagForce I don't see the relation between ep8 and ep4 showing as unknown - for example

[2015-03-24 16:07] fernandog commented on #1023
@Zipties can you try doing the re-scan please?

[2015-03-24 16:08] Zipties commented on #1023
Episode 8 just started showing up, screenshot added as Capture2.1

[2015-03-24 16:09] fernandog commented on #1023
@Zipties what you did to show up?

[2015-03-24 16:09] Zipties commented on #1023
I didn't do anything. ALso, the rescan didnt change the unknown quality.

[2015-03-24 16:10] fernandog commented on #1023
@Zipties did you deleted any of the files? all files of all episodes still exists in the HDD?

[2015-03-24 16:12] Zipties commented on #1023
Yes, they all exist. Also, they aren't actually downloading more than once because I turned off SAB, and I am only using torrents (because of this issue) so all it is really doing is trying to add the torrent over and over, then seeing the file that was already downloaded.

[2015-03-24 16:13] fernandog commented on #1023
@TagForce maybe the show refresh (reading the files inside tv-show folder and get quality and update status) happened before PP renaming. Can that happen?

@Zipties all episodes are being re-downloaded? or just the unknown?

[2015-03-24 16:14] Zipties commented on #1023
@fernandog I haven't noticed any unknown episodes downloading again. I haven't figured out the pattern for repeat downloads. It seems to pick on better call saul, the big bang theory, and scandal a lot.

[2015-03-24 16:16] TagForce commented on #793
@abeloin No, it's normal:
(I) = Inherited only (no explicit permissions given for that location)
(CI) = Container Inhereted (applies only to folders)
(OI) = Object Inhereted (applies only to files)
S = Sync
WD = Write Data/Add File
AD = Append Data
RX = Read/Execute

So the permissions are correct. Users can create files and append files in the folders, and can read and execute any files in the fo

[2015-03-24 16:25] fernandog commented on #1023
@Zipties can you check if all this episodes are UNKNOWN quality?

[code]

[2015-03-24 16:39] abeloin commented on #1023
BTW archive on first match is checked, and you set initial and archive quality. You should uncheck that option if you want to be able to download better quality later on.

[2015-03-24 16:41] fernandog commented on #1023
@TagForce @abeloin

https://github.com/SiCKRAGETV/SickRage/blob/develop/sickbeard/postProcessor.py#L667

here it set's ep_quality = common.Quality.UNKNOWN

if none of the following IF code is true then it sets as UNKNONW.
we should add a log or something that it couldn't get quality. We only have logs if we found.
the question is why somes file it can get the quality and others don't

[2015-03-24 16:46] Zipties commented on #1023
@abeloin The way I understand it is it will download the best initial quality it can find, then it will download the best archive quality it can find, but only once. Right? Basicly I want the best quality I can get the fastest, then I want it to go bck and replace it with the best quality that ends up coming out later it can find...but I dont want it archiving over and over.

[2015-03-24 16:55] Zipties commented on #1023
@fernandog

Banshee 3x01-08 are unknown. Episodes 9-10 are 1080p HD
The.Walking.Dead.S05E12.720p.HDTV.x264-KILLERS.mkv Unknown
The.Last.Man.On.Earth.S01E06.720p.HDTV.x264-KILLERS.mkv HD TV
Better.Call.Saul.S01E07.1080p.HDTV.X264-DIMENSION.mkv Unknown
Better.Call.Saul.S01E05.720p.HDTV.X264-DIMENSION.mkv 1080p HD TV
Fresh.Off.the.Boat.S01E03.720p.HDTV.X264-DIMENSION.mkv 1080p Bluray
12.Monkeys.S01E1

[2015-03-24 17:18] abeloin commented on #1023
@TagForce @fernandog Looking at the log it look like 2 instances of PP are running:
[code]

Post-process doesn't seem to check if it's already running before starting. So if the interval is small enough, like in this case 2mins, and the other PP hasn't finished yet it could lead to inconsistent result were the system think the file is already PP but isn't.

In this case, he would have to increase

[2015-03-24 17:20] Zipties commented on #1023
If that were the case wouldn't I not have this issue with sabnzbd downloads being they use a post process script and the folder they download to isn't monitored? I had to turn off Sab, but it was the worst offender.

[2015-03-24 17:24] abeloin commented on #1023
@Zipties Regarding archive on first match, yes  just wanted to make sure you understand it some users get confuse by it.

[2015-03-24 17:25] fernandog commented on #1023
can be it ! the code amActive was recently added to PP - @abeloin remember when we talk about adding it so auto-update don't run if PP is running ?

https://github.com/SiCKRAGETV/SickRage/commit/5388bb74010ab563da89e5d305dca8963507d78d

[2015-03-24 17:26] abeloin commented on #1023
@fernandog Don't think so as it set a satus

[2015-03-24 17:29] TagForce commented on #1023
@abeloin Or worse, PP thinks it isn't PP'd when in reality it is... So it's copying a 1080p file, then starts copying a 720p file, which is done quicker, for some reason the 720p gets precedence, and when the 1080p file copy quits it still adds its 1080p quality to the db. Hence the 720p files that have 1080p qualities.

[2015-03-24 17:30] Zipties commented on #1023
What would cause PP to run twice? I suspected it could had been something like that so I tried rebooting, then closing out all sickrage related processes and reloading sickrage fresh.

[2015-03-24 17:31] abeloin commented on #1023
If the interval is to small

[2015-03-24 17:34] abeloin commented on #1023
There's 2 way to get the already PP message:
* If the release name is in the db:
`SELECT * FROM tv_episodes WHERE release_name = Fresh.Off.the.Boat.S01E06.720p.HDTV.X264-DIMENSION`
*If it's in the history:
`SELECT tv_episodes.indexerid, history.resource FROM tv_episodes INNER JOIN history ON history.showid=tv_episodes.showid WHERE history.season=tv_episodes.season and history.episode=tv_episodes.e

[2015-03-24 17:34] Zipties commented on #1023
I changed it back up to 10. Make sense that could be causing the quality label problem, but I dont see how it would relate to sabnzbd. Should I re-enable it and see if it goes nuts?

[2015-03-24 17:35] fernandog commented on #1023
@TagForce can you use the self.amActive to don't start another PP process? or with multithreading it's not possible?

[2015-03-24 17:36] Zipties commented on #1023
@abeloin Sorry I am not sure what you need me to check for in the db? WOuld it be helpful if I put it in a drive share?

[2015-03-24 17:36] fernandog commented on #1023
@Zipties OMG! 2 minute frequency was the previous value!?

@TagForce we should hardcode mim=10 value in .tmpl

[2015-03-24 17:37] abeloin commented on #1023
@Zipties If your not comfortable playing in sqlite db then send it via drive share

[2015-03-24 17:38] Zipties commented on #1023
@fernandog It was set for 2 minutes because the wife gets really upset when she has to wait too long for a show after it air son TV. Trying to get it down as low as possible. The show typically downloads in a minute or two, then it just sits there waiting to be processed.

[2015-03-24 17:39] abeloin commented on #1023
@fernandog We need to change the code in autoPostProcesser to prevent it from running if it's already running

[2015-03-24 17:40] Zipties commented on #1023
@abeloin are there any passwords or anything in the DB? Or should I make it a private share?

[2015-03-24 17:42] fernandog commented on #1023
@TagForce maybe we need to order the episodes in download folder by show name AND quality. if there's more than one quality for same show-season-ep, we should ignore/delete lowers qualities and only PP the higher quality. what do you think?

[2015-03-24 17:43] Zipties commented on #1023
Deleting would mess up torrent seeding.

[2015-03-24 17:46] abeloin commented on #1023
@Zipties I'm not sure, make it password protected and send me the password via Sickrage.tv forum IM my account is funkylove.

[2015-03-24 17:47] TagForce commented on #1023
@fernandog It shouldn't be needed as it would check if the new file was a better quality anyway.
The only time this would be an issue is if there were 2 Post Processing threads running simultaneously. PP processes only one episode (file) at a time.

I think checking if PP is running before starting a new PP run is the way to go. 10 minutes minimum interval still won't completely prevent this from

[2015-03-24 17:49] Zipties commented on #1023
@abeloin Done.

[2015-03-24 17:51] fernandog commented on #1023
@TagForce if we check if self.amActive = True, we can keep the 10min. it won't start the new PP and will try again 10min later

[2015-03-24 18:03] timkatgert opened #1024 "API: Unable to retrieve information from indexer"
When I'm trying to add an serie/show to SickRage I'm getting "Unable to retrieve information from indexer" returned?

What could be the cause of this? Do i have forgot to set something in the settings or is this because the wrong information is passed into the url parameters?

[2015-03-24 18:10] mattail commented on #1019
So I changed the hounddawgs.py file as recommended but issue still remains.
To test I added a new show which was released on this provider but sickrage is unable to download it.
If I copy+paste this link in line 2 from log then I'm redirected to the episode so I don't understand why sickrage is unable to detect/download it when it actually is found.

http://pastebin.com/wQFFA8Qw#

[2015-03-24 18:19] fernandog commented on #1019
@mattail when you open this URL, do you get results?

https://hounddawgs.org/torrents.php?type=&userid=&searchstr=&searchimdb=&searchtags=&order_by=s3&order_way=desc&&filter_cat[85]=1&filter_cat[58]=1&filter_cat[57]=1&filter_cat[74]=1&filter_cat[92]=1&filter_cat[93]=1

[2015-03-24 18:20] fernandog commented on #1024
@timkatgert follow guidelines:
https://github.com/SiCKRAGETV/sickrage-issues/

[2015-03-24 18:22] mattail commented on #1019
Yes I do.

[2015-03-24 18:27] abeloin commented on #1023
So checking the DB, SR think it's already PP'ed:
[code]
@Zipties Is the file is there in the destination folder?

[2015-03-24 18:39] fernandog commented on #1019
@mattail can you post a screenshot of this provider settings?

[2015-03-24 18:45] abeloin commented on #1019
Let's see the data content:

Can you try changing [line 186 of sickbeard/providers/hounddawgs.py](https://github.com/SiCKRAGETV/SickRage/blob/7a7ff70fdb5faf714523d84d12531f0bba8e3bc7/sickbeard/providers/hounddawgs.py#L186):
from:
`logger.log(u"The Data returned from " + self.name + " do not contains any torrent",`
to
`logger.log("The Data: " + data,`

Stop Sickrage first, edit, then start sickrage

[2015-03-24 18:49] mattail commented on #1019
@fernandog

![udklip](https://cloud.githubusercontent.com/assets/11618853/6810094/e24189c2-d25e-11e4-9010-bdeb9fb0f718.PNG)

[2015-03-24 19:06] abeloin commented on #1023
From db:
* Snatched:
`20150323213135,6402,64,Better.Call.Saul.S01E05.Alpine.Shepherd.Boy.1080p.WEB-DL.DD5.1.H.264-CtrlHD,5114294`
* Completed and archived:
`20150323213304,6406,64,D:\Downloads\Transmission\Complete2\Better.Call.Saul.S01E05.Alpine.Shepherd.Boy.1080p.WEB-DL.DD5.1.H.264-CtrlHD\Better.Call.Saul.S01E05.Alpine.Shepherd.Boy.1080p.WEB-DL.DD5.1.H.264-CtrlHD.mkv,5114294`
* Completed and dow

[2015-03-24 19:11] Zipties commented on #1023
Yes, the files always make it to the destination, it just keeps processing them...or markign them as downloaded over and over anyway

[2015-03-24 19:15] abeloin commented on #1023
Do you know which version it is, in the destination? For example: The Better.Call.Saul.S01E05 is it the 720p hdtv, 1080p hdtv or 1080p web-dl?

[2015-03-24 19:28] mattail commented on #1019
@abeloin I cannot restart sickrage after changing that line.

[2015-03-24 19:30] Zipties commented on #1023
It's 1080p 2.7GB. Hard to tell more after the rename

[2015-03-24 19:30] fernandog commented on #1019
@mattail what is the error ?

did you keep the indentation?

[2015-03-24 19:32] mattail commented on #1019
@abeloin Changed back to original line, now sickrage is able to start. Looks like line 187 is "connected".

[2015-03-24 19:36] fernandog commented on #1019
@mattail the result should looks like this

[code]

[2015-03-24 19:38] abeloin opened #1025 "Edit show: Unable to force an update on wanted episode"
[code]

When edit and save a show, I get this error notification:
`1 error while saving changes: Unable to force an update on wanted episode`

I don't use trakt, but SR don't do the check and end up running sickbeard.traktRollingScheduler.action.updateWantedList() in webserve.py#L1507.

This result in an notification error

[2015-03-24 19:40] fernandog commented on #1025
@gborri

[2015-03-24 19:41] abeloin commented on #1025
Problematic commit: https://github.com/SiCKRAGETV/SickRage/commit/6562e1149629806c83fb8eb83e296762c7f79fb4

[2015-03-24 19:44] mattail commented on #1019
@fernandog Ok, now sickrage is able to restart. What you posted is not quite the same as suggested in first place :-)
Will post log shortly.

[2015-03-24 19:48] fernandog commented on #1019
@mattail force a search in that provider only

[2015-03-24 19:48] Zipties commented on #1023
I changed the scan time to 10 minutes 2 hours ago, but it is still downloading BCS 1x08 (Capture9 in share)

[2015-03-24 19:49] abeloin commented on #1025
Also ended show are now shown active: https://github.com/SiCKRAGETV/SickRage/commit/6562e1149629806c83fb8eb83e296762c7f79fb4#diff-299def7cc64d1e463b2759b06a183432R615

[2015-03-24 19:50] mattail commented on #1019
@fernandog  That's what I did, all other providers are off.
Here are Info and debug log:

http://pastebin.com/n3Y8Wauc

[2015-03-24 19:53] mattail commented on #1019
@fernandog I mean I perform a manual search for that particular episode if that's what you mean by "force a search "

[2015-03-24 19:54] fernandog commented on #1019
yes. manual search an episode you know it's available

[2015-03-24 19:56] mattail commented on #1019
ok that's what I did.

[2015-03-24 20:04] abeloin commented on #1023
At that size it's Better.Call.Saul.S01E05.1080p.HDTV.X264-DIMENSION

Manually post-process the highest quality of BCS 1x08 you have in the download folder, after that remove all BCS 1x08 releases in the download folder. Check if it's still ty to download the same quality?

[2015-03-24 20:10] Zipties commented on #1023
Weird. Episode 8 disappeared form the show page in SR gain. It skips 8 and goes to 9. It seems to randomly do that.

[2015-03-24 20:18] Zipties commented on #1023
Manually post processed and deleted all variations of the episode at 3:16pm. It snatched BCS Episode 8 1080p HD TV again at 3:18

[2015-03-24 20:21] abeloin commented on #1022
@Zzaap You need to do a "Force full update" in the top right corner

[2015-03-24 20:26] abeloin commented on #1019
@mattail That log did you take it from the log file directly(sickrage.log) or from the log page in the webui?

As the returned data is just one line: `<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">`

[2015-03-24 20:28] abeloin commented on #1023
Do you have the log when it snatched the file?

[2015-03-24 20:29] Zipties commented on #1023
I tossed the latest in the issue folder share.

[2015-03-24 20:35] abeloin commented on #1023
The log doesn't contain the period from 15:16 to 15:19

[2015-03-24 20:37] Zipties commented on #1023
Whoops, it had just ticked over. Try log1 I just uploaded

[2015-03-24 20:37] abeloin commented on #1023
Also looking on the on the dailySearch from 15:26, it didn't snatch BCS1x08:
`2015-03-24 15:26:40 INFO     SEARCHQUEUE-DAILY-SEARCH :: No needed episodes found`

[2015-03-24 20:39] Zipties commented on #1023
Hmm I dont know then
https://drive.google.com/file/d/0B2ggqo902tNhMWlDRXpON1BXWlk/view?usp=sharing

[2015-03-24 20:40] mattail commented on #1019
@abeloin From the log page in the webui. Was not aware of any other logs.
I think this is what you're looking for, taken from sickrage.log:
http://pastebin.com/pAHZqrhG

[2015-03-24 20:42] abeloin commented on #1023
Wait until it's 15:36 to see if want's to snatch it again

[2015-03-24 20:45] abeloin commented on #1019
Thanks

[2015-03-24 20:48] Zipties commented on #1023
I don't think it will because the torrents are stalled out being I deleted the files, but lef thtem in the torrent client.

[2015-03-24 20:50] abeloin commented on #1019
Ok it's asking for user/pass no cookies

[2015-03-24 20:55] mattail commented on #1019
@abeloin Yes I noticed the message saying that cookies was not activated, but request comes from a synology NAS not a browser.
I can try to re-enter user+pass and see what's happening.

[2015-03-24 20:59] abeloin commented on #1023
SR doesn't care if a torrent is in the torrent's client queue or not, it use the db to check if the quality it want to download. The only thing is that you will get hammered by already PP message until you remove them from the folder and torrent client.

[2015-03-24 21:02] abeloin commented on #1019
Can you try using this version of houndDawgs.py file: https://gist.github.com/abeloin/2e66c8c6e4b2d3349c61

Stop sickrage, replace the file content by the one from the gist, save, restart sickrage

[2015-03-24 21:02] Zipties commented on #1023
I meant it usually seems to wait to snatch it again until it "downloads" but, it wont be able to do that now.

[2015-03-24 21:06] mattail commented on #1019
The html code from log looks like it's the providers login page
https://hounddawgs.org/login.php
I re-entered username+password in sickrage for that provider but nothing changed. Logs are the same after manual search.

[2015-03-24 21:12] abeloin commented on #1019
@mattail You tried with the new version and you get the same error: The Data returned from HoundDawgs do not contains any torrent ?

[2015-03-24 21:14] mattail commented on #1019
@abeloin Not yet.

[2015-03-24 21:16] mattail commented on #1019
It worked! Episode is now snatched and downloading!
What did you do??

[2015-03-24 21:22] abeloin commented on #1019
Added a code to detect when asking for cookie: `re.search('Dine cookies er ikke aktiveret.', response.text)` and get the base url before posting: `self.session.get(self.urls['base_url'], timeout=30, verify=False)`

[2015-03-24 21:24] mattail commented on #1019
@abeloin I cannot thank you enough. You've made a lot of people happy today.

[2015-03-24 21:25] mattail commented on #1019
So will this fix be included in next release?

[2015-03-24 21:28] abeloin commented on #1023
Try put the same download back in the download folder?

[2015-03-24 21:57] Zzaap commented on #1022
Weird, i was sure i had done that. But I've done it now and it works for the database, however it doesn't rename the actual files. When i click on 'preview rename' it propose to rename all files, but instead of changing the episode numbers it will change the episode names.
![untitled](https://cloud.githubusercontent.com/assets/5058994/6813542/5fb295d8-d276-11e4-9242-eda9d102e58e.png)

[2015-03-24 21:58] abeloin commented on #1019
@mattail Yes

[2015-03-24 21:59] timkatgert commented on #1024
Branch:
master

Your operating system and python version:
Synology disk station manager (linux distro), aswell on windows 7.

[2015-03-24 22:03] fernandog commented on #1024
@timkatgert still missing info

[2015-03-24 22:22] abeloin commented on #1019
Merge in master.

@mattail Enable git reset in the github config in sickrage, and update.

[2015-03-24 22:22] #1019 closed

[2015-03-24 22:42] abeloin commented on #1023
@TagForce I did a test with 3 identical sized file in PP.
* 720p.HDTV
* 1080p.HDTV
* 1080p.Bluray

On the first pass everything is ok, the 1080p.Bluray is chosen.
On the second pass, the 1080p.Bluray get a already PP, the 720p get a `Processing failed: File exists and new file is same size, marking it unsafe to replace` but got registered in the history and the episode status is now 720p.HDTV.

[2015-03-24 23:13] abeloin commented on #1022
@Zzaap You will have to do it manually as SR doesn't support it.

From what I can see in the code DVD support rudimentary.

[2015-03-25 01:44] maxcore opened #1026 "[Just a Question]I Don't know why sickrage don't take this episode"
What wrong with this show ? [ C'est Gars-là]

I dont know why sickrage dont take this episode  [RSS FEED]

My scene expection is : Ces Gars-Là | Ces gars-la | Ces.gars-la | Ces gars la | Ces gars là

[code]
thx

[2015-03-25 01:48] fernandog commented on #1026
@maxcore Shouldnt be 720p.HDRip??
otherwise hdrip will be considered part of episode name

[2015-03-25 01:56] maxcore commented on #1026
ah yes damn ... how i can edit for the sickrage take the 720p ?

[2015-03-25 02:28] #1022 closed

[2015-03-25 02:43] #1025 closed

[2015-03-25 02:48] abeloin commented on #1026
@maxcore Try restarting sickrage after adding an exception

[2015-03-25 03:09] dan9100 opened #1027 "Problem with Add Show"
When I go to Add New Show and setup the options as desired, when the show is added to the Show List, this is what I see at the top row
(loading) 	Loading... (C:\TV Episodes\Dog with a Blog)
It will not update any further and if I do a reset all of the info has disappeared.
This has worked okay previously, just not when this started.

[2015-03-25 03:12] abeloin opened #1028 "Add Provider Strike"
https://getstrike.net

API: https://getstrike.net/api/

[2015-03-25 03:18] maxcore commented on #1026
2015-03-24 23:16:01 DEBUG    SEARCHQUEUE-DAILY-SEARCH :: [FDLT] :: Parsed Ces.gars-la.S02E07.French.HDRip.720p.TeamTV into Ces gars-la - S2E7 [ANIME VER: -1] [ABD: False] [ANIME: False] [whichReg: ['standard']]
2015-03-24 23:16:01 DEBUG    SEARCHQUEUE-DAILY-SEARCH :: [FDLT] :: Converted parsed result Ces.gars-la.S02E07.French.HDRip.720p.TeamTV into Ces gars-la - S2E7 [ANIME VER: -1] [ABD: False] [

[2015-03-25 03:19] abeloin commented on #1027
Please provide logs from the log files.

For future reference:
### SUBMITTING A BUG/ISSUE TICKET
(DO NOT POST ANYTHING THAT CONTAINS YOUR LOGIN INFORMATION OR API KEY)<br />
Please include the following when opening a new ticket:
 - Branch
 - Commit hash
 - Your operating system and python version
 - What you did
 - What happened
 - What you expected
 - Link to a copy/paste of your logfile with cl

[2015-03-25 03:19] abeloin commented on #1026
More log ?

[2015-03-25 03:20] maxcore commented on #1026
2015-03-24 23:16:02 DEBUG    SEARCHQUEUE-DAILY-SEARCH :: [FDLT] :: Added RSS item: [Ces.gars-la.S02E07.French.HDRip.720p.TeamTV] to cache: [fdlt]
2015-03-24 23:16:01 DEBUG    SEARCHQUEUE-DAILY-SEARCH :: [FDLT] :: Parsed Ces.gars-la.S02E07.French.HDRip.720p.TeamTV into Ces gars-la - S2E7 [ANIME VER: -1] [ABD: False] [ANIME: False] [whichReg: ['standard']]
2015-03-24 23:16:01 DEBUG    SEARCHQUEUE-DA

[2015-03-25 03:25] abeloin commented on #1026
Something like this:
[code]

[2015-03-25 03:34] maxcore commented on #1026
the HD is found in RSS-feed only

on search torrent the log is :

2015-03-24 23:33:08 INFO     SEARCHQUEUE-MANUAL-278686 :: Unable to find a download for: [Ces gars-là - 2x07 - Épisode 17]
2015-03-24 23:33:08 DEBUG    SEARCHQUEUE-MANUAL-278686 :: formatting pattern: %SN - %Sx%0E - %EN -> Ces gars-là - 2x07 - Épisode 17
2015-03-24 23:33:08 DEBUG    SEARCHQUEUE-MANUAL-278686 :: Episode has no releas

[2015-03-25 03:39] abeloin commented on #1026
Please provide all the lines with: SEARCHQUEUE-DAILY-SEARCH :: [FDLT]

[2015-03-25 04:02] maxcore commented on #1026
2015-03-24 23:52:40 DEBUG    SEARCHQUEUE-DAILY-SEARCH :: [FDLT] :: Transaction with 369 queries executed
2015-03-24 23:52:02 DEBUG    SEARCHQUEUE-DAILY-SEARCH :: [FDLT] :: Last update was too soon, using old cache: today()-2015-03-24 23:38:00<0:15:00
2015-03-24 23:39:10 DEBUG    SEARCHQUEUE-DAILY-SEARCH :: [FDLT] :: Transaction with 369 queries executed
2015-03-24 23:38:48 DEBUG    SEARCHQUEUE-DAI

[2015-03-25 04:18] dan9100 commented on #1027
SR Version: 	BRANCH: (master) / COMMIT: (c28ca92c6d19ce1610a83ac08707529ad0796718)
Python Version:	2.7.8 (default, Jun 30 2014, 16:08:48) [MSC v.1500 64 bit (AMD64)]
Win7-64bit

When I go to Add New Show and setup the options as desired, when the show is added to the Show List, this is what I see at the top row
(loading) Loading... (C:\TV Episodes\Dog with a Blog)
It will not update any further an

[2015-03-25 05:24] abeloin commented on #1027
Logs from the log files

[2015-03-25 07:28] NjayNL opened #1029 "[Feature Request] Add Transmission post processing API"
Hi Team,

first off wonderfull program ! love it !

Can you let sickrage talk to tranmission to check if a torrent has finished downloading or is stalled and let it talk back to sickrage to or have it completed or mark it as failed download

couchpotato does the same when a movie has finished seeding

thx !

[2015-03-25 09:01] Sykeya opened #1030 "Cant change from develop to master"
I've run all of the git commands to change to master yet my web interface is still stating "You're using the develop branch. Please use 'master' unless specifically asked"

a  git rev-parse --abbrev-ref HEAD gives me:
master

a  git pull gives me:
Already up-to-date.