[2015-06-16 23:27] scythe000 commented on #1043
I'm back to having this issue. I opened #1778 .

[2015-06-16 23:31] Thraxis commented on #1816
I'm a bit confused by what your reference to a SR "videos" path.  SickRage will download and store shows to any path accessible on your system.  Each show could be set to it's own "root" path.  SickRage doesn't have a central "video" storage.

Are you trying to access this path via HTTP, NFS, SAMBA (Windows File Share), Locally?

Is this SickRage install a standalone SickRage install or was it ins

[2015-06-16 23:46] nrk666 commented on #1825
My providers are dog & personal nZEDb I run myself. I went back through my history, and the provider that I am matching the dupes on is dog, but it doesn't matter where the original came from. So, I could match against my personal nZEDb, then get a dupe from dog, or match dog first, then get a dupe from dog (in some cases, more than one dupe), and even if the original came from a torrent tracker,

[2015-06-16 23:51] fernandog commented on #1835
Feel free to make a PR in develop

[2015-06-16 23:54] Grubs commented on #1825
I just had a look too @nrk666 . I can see both mine and my friends 'dupes' all come from dog from what I can see.

[2015-06-17 01:48] miigotu commented on #1825
Logs or it doesn't count. =P

Seriously though, I want to fix it, but I cant without something to go on besides "It keeps resnatching propers"

Also, it is likely there is identical db corruption, as code which set specific fields related to this have recently changed, back to a working state, where it was broken for some time. Data from when it was broken can still exist in the db, and cause issu

[2015-06-17 01:56] miigotu commented on #1825
Is it possible that #1579 is causing a situation where this happens?

Are you using blackhole or a client api to download torrents/nzb's?

[2015-06-17 01:59] miigotu commented on #1825
Heh, maybe I will write a little test script to check those fields in db, and potentially fix them after asking.

[2015-06-17 02:02] Grubs commented on #1825
I've got debug and logging enabled now. Also changed logs to 10 x 100mb.

My friend and I are both using SickRage + SABnzbd via API

[2015-06-17 02:12] rickytin commented on #1795
Miigotu thanks for the tip, finally the show Blindspot is not showing in SickRage.
Thanks Fernandog and Miigotu for all the help and remember that it would be nice to have the option to remove a show from trakt when a show is deleted in SickRage.

[2015-06-17 02:20] #1795 closed

[2015-06-17 02:41] miigotu commented on #1825
depends on what OS you are on. On linux, you can use sqlite3 command line:
`sqlite3 sickbeard.db`
And input each of the lines from that gist one by one.

[2015-06-17 02:42] miigotu commented on #1825
After a new "proper" is snatched, is it set to state "Snatched (Proper)" in the webUI?

[2015-06-17 03:01] miigotu commented on #1825
@nrk666 @Grubs  all of your nzb indexers are newznab powered?

[2015-06-17 03:55] Grubs commented on #1825
Hi @miigotu , I'm on windows. I'll have a search, should have sql lite installed.

No, it doesn't show 'Proper' in webUI either.

I noticed all of mine that did it first used geek then dog. I can also confirm the original snatched was completed and shows Downloaded before the 2nd release was snatched (quite a few hours later)

[2015-06-17 04:06] miigotu commented on #1825
dog and geek are set in SR using the custom nzb provider tab? I'm trying to narrow down which complicated string of provider calls to follow in sickrage code.

[2015-06-17 04:56] miigotu commented on #1825
Seems the code in newznab.py and generic.py for findPropers could be improved.

I think the issue is, when searching a newznab provider with proper or repack in the string, it is returning non propers from the search engine, or using cached results from the daily search. These are not then verified to be PROPER|REPACK, nor are they verified to ONLY replace a downloaded episode when it is the same

[2015-06-17 04:58] MGaetan89 commented on #1816
I'm using SickRage on a Synology NAS, accessible locally and remotely.

Sorry of I wasn't clear. I am talking about this:
https://github.com/SiCKRAGETV/SickRage/blob/master/sickbeard/webserveInit.py#L124
SickRage has an URL to allow access to a video file directly. But I think
it only uses the default root dir, not all root dirs.
On Jun 17, 2015 2:31 AM, "Thraxis" <notifications@github.com> wrote:

[2015-06-17 05:03] Grubs commented on #1825
Correct. They are both using the custom nzb provider tab.

[2015-06-17 05:07] Thraxis commented on #1816
Yes it is using only the first defined root directory... which is most likely the default one.

[2015-06-17 05:47] miigotu commented on #1825
Correct, because before I fixed newznab, it rarely worked to even search, and before that, I fixed a problem where ignored/required words, propers, and failed handling was totally broken (removeWords).

The initial removeWords fix was intended to fix proper duplicates, but it actually totally broke alot of things. The real problem with the propers was and now is again with the newznab findPropers

[2015-06-17 06:47] dennisjanssen commented on #1826
Okay, did that, and I checked if the changes reverted, which it did. Nothing changed on the error though, after restarting SickRage.

[2015-06-17 08:22] andyblac opened #1838 "[APP SUBMITTED]: 'str' object does not support item assignment"
### INFO
Python Version: **2.7.10 (default, Jun  3 2015, 20:43:13) [GCC 4.7.3 20130102 (prerelease)]**
Operating System: **Linux-3.10.35-x86_64-with-glibc2.2.5**
Locale: unknown
Branch: **master**
Commit: SiCKRAGETV/SickRage@e6c4cfd6546b74d5527361f6f0bdc3adc232bdb0
Link to Log: https://gist.github.com/2279b7263d0ef679fcce
### ERROR
[code]
---
_STAFF NOTIFIED_: @SiCKRAGETV/owners @SiCKRAGETV/modera

[2015-06-17 09:16] tchirou commented on #1734
Hello
I delete it but jamanese characters kepp coming back each time.
Any news on your side ?
Thanks

[2015-06-17 10:32] neoatomic commented on #1734
For what show, and what indexer (tvdb or tvrage) are you using.?

[2015-06-17 10:34] neoatomic commented on #1838
"Unauthorized. Please check your Trakt settings"
As the errors says. Check you account settings for Trakt. And have you set the token.?

[2015-06-17 10:35] #1837 closed

[2015-06-17 10:37] neoatomic commented on #1835
@tresni Thanks for contributing.
As this is merged now, the issue can be closed.

[2015-06-17 10:37] #1835 closed

[2015-06-17 10:58] tchirou commented on #1734
One piece
Naruto shipuuden
Fairy tail

All tvdb but all anime so anidb too

Le 17 juin 2015 à 12:32, neoatomic <notifications@github.com> a écrit :

For what show, and what indexer (tvdb or tvrage) are you using.?

—
Reply to this email directly or view it on GitHub
<https://github.com/SiCKRAGETV/sickrage-issues/issues/1734#issuecomment-112748845>
.

[2015-06-17 11:24] neoatomic commented on #1734
Looking through the Scene exception list i cant find any of those shows. So those scene names must be added by the indexer anidb. http://anidb.net/perl-bin/animedb.pl?show=anime&aid=69
And indeed If you select "title" than some alternative names contain Japanese characters.

@miigotu Is it technical possible to block scene name updates from animedb.? Currently i don't see any other possibility's t

[2015-06-17 12:44] MGaetan89 commented on #1816
Is it possible to changed that to test all root dirs?

[2015-06-17 13:24] nrk666 commented on #1825
@miigotu : Client API, SR feeds the nzb direct to an instance of sabnzbd

@miigotu : I don't know what backend dog uses, but it uses the newznab API, but my personal indexer is near stock nZEDb.

@miigotu : both of my configured indexers are from the custom indexer settings

I can also confirm this only started about 2-3 weeks ago, 4 at the most.

I'll run those SQL commands in an hour or two and

[2015-06-17 13:30] nrk666 commented on #1825
I ran those SQL commands on my sickbeard.db and all ran ok with no errors.

[2015-06-17 15:07] nrk666 commented on #1825
Ok, I created a brand new instance on a fresh machine.

Steps taken:

1. installed ubuntu fresh, ran updates
2. installed python-cheetah and pyopenssl
3. install sickrage from git
4. adjust startup scripts
5. copied "config.ini" from main sickrage to srtest, modified to match new host (dir's, etc)
6. Verified all provider (indexers, trackers) information was the same
7. seeded SR with two shows th

[2015-06-17 15:10] nrk666 commented on #1825
I don't know if there is logic to skip a FINDPROPER if the show status was set manually for episodes I had SR discover, so this might be a waste of time. If SR only performs FINDPROPERS on episodes it handled itself, then this is probably a stupid test. If you can send me some SQL code to cheese the SR database into thinking it downloaded all of these episodes instead of a manual setting, I'll do

[2015-06-17 16:18] miigotu commented on #1825
You can force a proper search in manage->manage searches.

As for the blackhole, yes it could cause a difference, but you can try to reproduce it with blackhole first.
There is a known issue at least with torrents where it is sending the wrong torrent via api, but the correct one is downloaded with blackhole - #1579 .

It does need an old release name for propers to work, IE: SR needs to have snat

[2015-06-17 16:19] fernandog commented on #1338
@amzeus @pct00

did you received any of this messages?

"File is locked for reading/writing"
OR
"File is locked for reading"

no more "[Errno 13] Permission denied" errors?

[2015-06-17 16:21] Messiadbunny commented on #1579
Yup, can confirm the same happens for me.  It seems to pull the proper URL every time but once SickRage grabs the hash that is always incorrect.  I fiddled with the code for a while but I can't make heads or tails of what's causing it to pull the wrong torrent file in the end.

[2015-06-17 16:22] fernandog commented on #1832
the UI notification don't send any HTML:

https://github.com/SiCKRAGETV/SickRage/blob/develop/sickbeard/versionChecker.py#L83

[2015-06-17 16:23] #1828 closed

[2015-06-17 16:23] fernandog commented on #1828
no reply, closing

[2015-06-17 16:24] fernandog commented on #1821
no reply, closing

[2015-06-17 16:24] #1821 closed

[2015-06-17 16:24] #1799 closed

[2015-06-17 16:26] #1789 closed

[2015-06-17 16:26] nrk666 commented on #1825
Hmm, then my test isn't going to work, I just copied the initial files from my existing library. Most of these shows won't be downloadable anymore anyways (missing blocks).

So, this test probably won't work then. I'll see about letting it fetch the episode (drop the nzb into the blackhole), then rename my existing library file to the release name, then manually putting it in the PP dir to let SR

[2015-06-17 16:26] fernandog commented on #1767
follow guideliens
https://github.com/SiCKRAGETV/sickrage-issues

[2015-06-17 16:26] #1767 closed

[2015-06-17 16:27] fernandog commented on #1764
[TorrentDay] :: Unable to connect to TorrentDay provider: See: http://git.io/vJrkM

[2015-06-17 16:27] #1764 closed

[2015-06-17 16:28] fernandog commented on #1729
@miigotu maybe status returned -1 ?

[2015-06-17 16:28] #1717 closed

[2015-06-17 16:28] fernandog commented on #1703
See: http://git.io/vJrkM

[2015-06-17 16:28] #1703 closed

[2015-06-17 16:32] fernandog commented on #1597
@miigotu should't we convert to unicode or utf-8 here before INSERT in failed.db?

https://github.com/SiCKRAGETV/SickRage/blob/develop/sickbeard/failed_history.py#L80

[2015-06-17 16:34] fernandog commented on #1788
@TagForce can you help me with this one ?

[2015-06-17 16:34] fernandog commented on #1720
@trick77 can you make a PR in develop?

[2015-06-17 16:36] fernandog commented on #1743
@EirikUtvik no one else reported this. are you still having this issue?

[2015-06-17 16:36] #1655 closed

[2015-06-17 16:37] fernandog commented on #1655
no reply. closing

[2015-06-17 16:37] fernandog commented on #1519
no issues here. report again if it happen

[2015-06-17 16:37] #1519 closed

[2015-06-17 16:38] #1836 closed

[2015-06-17 16:38] miigotu commented on #1597
@fernandog No, it should be followed back up the chain and found where it doesnt start off as unicode or utf-8, so that nothing else uses an incorrect variable type. That way you potentially fix multiple encode/decode issues in one fix and prevent monkey patching.

[2015-06-17 16:39] fernandog commented on #1778
no issues here

check localhost:8081/home/status/ and check the show that is stucked in "Show Queue"

[2015-06-17 16:40] fernandog commented on #1597
but how to follow back ? huge debug isn't?

[2015-06-17 16:41] #1551 closed

[2015-06-17 16:41] miigotu commented on #1729
status should never be -1. If it is, we need to find out where/why and stop it from happening.

[2015-06-17 16:42] fernandog commented on #1551
See: http://git.io/vJrkM

[2015-06-17 16:42] scythe000 commented on #1778
It's Doctor Who. the show says:
The information on this page is in the process of being updated.

[2015-06-17 16:43] fernandog commented on #1778
@scythe000 maybe missing information in thetvdb

your log shows only "SEARCHQUEUE-DAILY-SEARCH". useless

[2015-06-17 16:45] fernandog commented on #1729
@miigotu what do you think adding a check if x is int before doing (status - x * 100, x) and it's not show a error message so user can open an issue?

[2015-06-17 16:45] #1640 closed

[2015-06-17 16:45] scythe000 commented on #1778
that log was after a restart. Want me to send over new logs?

[2015-06-17 16:51] fernandog commented on #1778
@scythe000 can you find out which season/episode it's stucking?

[2015-06-17 16:51] fernandog commented on #1778
@miigotu maybe we need to add some debug messages in show updater

[2015-06-17 16:52] fernandog commented on #1637
@Thraxis did you had the time to check this?

@aflics can you send a screenshot of all your PLEX settings?
do you still have this issue?

[2015-06-17 16:54] miigotu commented on #1579
@Messiadbunny To avoid confusion, let's try not to use the word 'proper' to describe urls/torrents/nzb's/files/etc unless we are talking about a "PROPER" =P

result.content is supposed to be a torrent file, loaded into memory.

I did notice there it says .startswith('magnet') should also check for or .endswith('.torrent') as result.url could also be a link to a torrent file.

I will get around to

[2015-06-17 16:54] fernandog commented on #1483
so what we should do with this one?

[2015-06-17 16:54] neoatomic commented on #1756
Check if you have added the Token to the Plex settings in SickRage. Seems the recent Plex update needs it now for https.

[2015-06-17 16:57] nrk666 commented on #1825
I do have a question though, if I do set a "blank" SR instance to pull nzb's from an indexer, will it pull the newest ones first (which will render this test moot) or pull from the first time it was indexed? If it pulls the latest indexed result, then I'm in the same boat as my regular SR instance, waiting for some scrub to upload a new release without "PROPER" in the name.

Just want to know if t

[2015-06-17 16:58] fernandog commented on #1483
I  think if you add a show and don't want any FUTURE download you should set as PAUSE
If you don't want the already aired episodes you should choose "SKIPPED" in the default ep status

the label "(this will set a default status to be applied to any newly added episodes)" is wrong. should be changed to the same label as in ADD SHOW "Set the status of already aired episodes"

[2015-06-17 16:59] fernandog commented on #1483
also this options shouldn't appear in "edit show" as there's no sense add it there. it only usefull when adding show

@miigotu what do you think?

[2015-06-17 17:00] fernandog commented on #1756
we should catch this error and show a warning to user.
@neoatomic want to try?

[2015-06-17 17:01] scythe000 commented on #1778
I looked through the logs, but couldn't tell. I'll look again.

[2015-06-17 17:02] neoatomic commented on #1775
Sorry, Not enough info to troubleshoot the error....
(But my best guess is that the show was missing data from the indexer. Airdate etc.)

[2015-06-17 17:02] #1775 closed

[2015-06-17 17:08] neoatomic commented on #1756
@fernandog No, not comfortable to code it. :)

[2015-06-17 17:08] fernandog commented on #1483
Feature request to set default status of the UNAIRED episodes

[2015-06-17 17:09] scythe000 commented on #1778
With log on db, here's exactly where it hangs:

`2015-06-17 10:08:32 DEBUG    SHOWQUEUE-FORCE-UPDATE :: Loading all episodes from the DB
2015-06-17 10:08:32 DEBUG    SHOWQUEUE-FORCE-UPDATE :: Loading all episodes from the database
2015-06-17 10:08:32 DEBUG    SHOWQUEUE-FORCE-UPDATE :: 78804: Saving show info to database
2015-06-17 10:08:32 DEBUG    SHOWQUEUE-FORCE-UPDATE :: 78804: Obtained info fr

[2015-06-17 17:15] #1301 closed

[2015-06-17 17:15] fernandog commented on #1301
no reply, closing

[2015-06-17 17:16] miigotu commented on #1778
How long have you let it sit and try to update the show info?

[2015-06-17 17:16] scythe000 commented on #1778
days, if not longer.

[2015-06-17 17:17] miigotu commented on #1778
Tried removing the show from SR and adding it back?

[2015-06-17 17:18] fernandog commented on #1778
@miigotu I think it's some wrong or empty or missing information in thetvdb. there's tons of episodes.

[2015-06-17 17:19] scythe000 commented on #1778
The only thing about removing and readding the show, is for that one in particular, there's a crap ton of info i'd need to reconfig. Especially for the hundreds of specials.

[2015-06-17 17:20] miigotu commented on #1597
Depends how far you need to go back. Is it broken in prepareFailedName? what all calls logFailed? thats the first step, make sure prepareFailedName returns the same type passed to it, and that the name passed to logFailed is the correct type. If it is, find where the name was modified before that.

[2015-06-17 17:22] fernandog commented on #1597
but if his locale is UT8-8, can't be a missing unicode/utf-8 conversion! maybe the torrent downloader saved with &039 in the file name and SR catch it. is it possible?

[2015-06-17 17:27] miigotu commented on #1597
I think if you add single quotes around the ? in the sql statements this goes away. SQL is choking on & and ; thinking you are passing another sql instruction.

[2015-06-17 17:33] miigotu opened #1839 "[Feature Request] Replace path and line numbers with links with issue submitter"
Parse tracebacks in issue submitter to links, to help debug faster.
`File "/volume1/@appstore/sickrage/var/SickRage/sickbeard/common.py", line 264`
Becomes:
[sickbeard/common.py, Line 264](https://github.com/SiCKRAGETV/SickRage/blob/master/sickbeard/common.py#L264)

[2015-06-17 17:46] fernandog commented on #1839
@miigotu shouldn't we set a initial value for status?

[2015-06-17 17:48] miigotu commented on #1839
-1 is status None, which cannot exist in the database, because when adding the episode the status is set. The purpose of -1 is to force an error when it is used before it is set

[2015-06-17 17:50] fernandog commented on #1839
@miigotu can this happen when user don't select option "default ep status" when adding show??

[2015-06-17 17:52] miigotu commented on #1839
Nope.  Besides, status is checked if it is -1 on [Line 259](https://github.com/SiCKRAGETV/SickRage/blob/master/sickbeard/common.py#L259)

Something is passing status as a string instead of an int.

[2015-06-17 17:57] fernandog commented on #1814
@vipenzo @lembregtse @simonlock please? read above comment

[2015-06-17 18:04] fernandog commented on #589
@neoatomic can you help me adding labels to issues or closing issues without reply?

[2015-06-17 18:07] miigotu commented on #1832
./sickbeard/webserve.py:        ui.notifications.message('<b>%s</b> has been %s' % (showObj.name,('resumed', 'paused')[showObj.paused]))
./sickbeard/webserve.py:        ui.notifications.message('<b>%s</b> has been %s %s' %

[2015-06-17 18:07] miigotu commented on #1832
Grr, it didnt show up here.

[2015-06-17 18:09] fernandog commented on #1832
Bug / Issue then?

[2015-06-17 18:11] miigotu commented on #1832
Yep, no html should be in those.

[2015-06-17 18:33] oerik commented on #1814
@miigotu

[{u'group': u'alt.binaries.hdtv.x264', u'language': u'0', u'cattext': u'tv.hd', u'usenetage': u'1410297050', u'weblink': u'No web link', u
'getnzb': u'https://api.omgwtfnzbs.org/nzb/?id=EXtew&user=x&api=x', u'sizebytes': u'2679985274', u'details': u'https://omgwtfnzbs.org/
details.php?id=EXtew', u'release': u'The.Sopranos.S05E01.RERIP.720p.BluRay.x264-REWARD', u'nzbid': u'EXtew', u'categ

[2015-06-17 18:34] miigotu commented on #1814
@fernandog this may be related to #1729

[2015-06-17 18:35] neoatomic commented on #589
@fernandog I'm helping out where i can. But i'm no coder so can only troubleshoot the issues to a limited hight. So i will leave the calls to fix or wont fix etc. to you, as you have a better understanding/view on this.

[2015-06-17 18:36] miigotu commented on #1814
Zomg, we actually have unicode json ftw. That json is valid, but the unicode may be throwing it off. We do not want to get rid of the unicode, just the parsing of it.

[2015-06-17 18:37] fernandog commented on #589
@neoatomic no problem

[2015-06-17 18:38] miigotu commented on #589
This mass notifications throws me off from the issues I am working on at the time xD, and I lose which issues are most important. I end up with 30 tabs open trying to keep up with it all lol.

1 issue at a time, focus and make it happen.

[2015-06-17 18:41] miigotu commented on #1838
Even though the bug is exposed by pekac, we should not be dumping to exception and traceback on misconfiguration. SiCKRAGETV/SickRage#1969 is intended to adress this, no?

[2015-06-17 18:46] miigotu commented on #1817
We won't be adding a new status/quality, but we have an existing feature request for using mediainfo to detect quality directly from the file which will address this.

[2015-06-17 18:46] #1817 closed

[2015-06-17 18:46] fernandog commented on #1838
@miigotu yes

for TRAKT, TRAKT_ACCESS_TOKEN field it's mandatory. we shouln't run trakt code if it's empty

[2015-06-17 18:47] miigotu commented on #1838
Should be an easy fix then... somebody make a PR =P

[2015-06-17 18:49] fernandog commented on #1838
I can do it later.

[2015-06-17 18:49] miigotu commented on #1814
sickrage-issues/#1827#issuecomment-112224632

[2015-06-17 18:50] fernandog commented on #1814
So its SSL issue?

[2015-06-17 18:51] miigotu commented on #589
I wish we could reorder issues and/or delete them lol.

I'm working on quite a few, and I need to get used to sorting by self assigned

[2015-06-17 18:51] miigotu commented on #1814
Possibly, that users says his was, and it is almost identical issue.

[2015-06-17 18:53] #1792 closed

[2015-06-17 18:56] ghiglie opened #1840 "[APP SUBMITTED]: CHECKVERSION :: git fetch origin returned : error: RPC failed; result=56, HTTP code = 0 fatal: The remote end hung up unexpectedly"
### INFO
Python Version: **2.7.6 (default, Mar 22 2014, 22:59:56) [GCC 4.8.2]**
Operating System: **Linux-3.19.4-unRAID-x86_64-with-Ubuntu-14.04-trusty**
Locale: UTF-8
Branch: **master**
Commit: SiCKRAGETV/SickRage@e6c4cfd6546b74d5527361f6f0bdc3adc232bdb0
Link to Log: https://gist.github.com/df42601412368c2b2c2c
### ERROR
[code]
---
_STAFF NOTIFIED_: @SiCKRAGETV/owners @SiCKRAGETV/moderators

[2015-06-17 18:59] simonlock commented on #1814
In my case adding "print parsedJSON" to line 124 of /opt/sickrage/sickbeard/providers/omgwtfnzbs.py didn't correct the problem.

[2015-06-17 19:00] oerik commented on #1814
I was able to start downloading again after changing:
[code]

[2015-06-17 19:03] miigotu commented on #1816
It is possible, now that we know what you actually mean lol.
Any change should continue to provide the 1 root dir at the same url. (Always the default right? root dirs are reordered in the gui when you set a new default)

A new path should be added which defines a new location with a sublocation for each defined video root, created dynamically with a for loop.

something like:
[code]
https://githu

[2015-06-17 19:06] miigotu commented on #1814
Nice find, I should have seen that. Problem here is that patch will break most other providers. Now that we know what the error is from, I will look into a permanent fix, thanks!

[2015-06-17 19:08] #1840 closed

[2015-06-17 19:08] fernandog commented on #1840
github issues

[2015-06-17 19:18] miigotu commented on #1814
@oerik I would like to see a json result with more than 1 result, have any? And maybe at the top of _get_size do a print item and show me.... I want to make sure we don't introduce a bug here.

[2015-06-17 19:23] fernandog commented on #1814
Cant we check if keys exist and run the proper code?

[2015-06-17 19:24] miigotu commented on #1814
A _get_size will be added to omgwtfnzbs.py
this issue arose when I fixed failed handling based on download sizes, and some providers do not have functions to extract the size explicitly defined. They end up defaulting to the function inherited from generic.py which is intended as a fallback, mostly for newznab providers.

[2015-06-17 19:29] Kumolo commented on #1778
Hi,

I wasn't sure what's the best place to post, so it is now in the Forum _and_ here:

For some days (weeks?) My "Show Queue" gets stuck at 3 at night. All I can do is to restart SR. Please see attacged jpg for details. The show it stucks on varies, sometimes its is Simpsons, South Park or something different.

The log is quite interesting. Please note that the SHOWUPDATER takes exactly 0 second

[2015-06-17 19:32] scythe000 commented on #1778
@kumolo, Check your sickrage\cache\sessions folder and see if a lock file is in there while SR is stopped. if so, delete it.

[2015-06-17 19:38] oerik commented on #1814
@miigotu

Here is the multi item json result, however I first had to apply this rough patch:
[code]
Other wise it would block on:
[code]

Here is the json array:
[code]

[2015-06-17 19:38] Kumolo commented on #1778
Couldn't find any "*locked*" files. Neither when SR is running nor when it is stopped. I am running on Qnap and suppose this is the folder on my platform:

Looks like

but nothing says lock or anything...

[2015-06-17 19:45] fernandog commented on #1778
stop SR, delete them, restart

[2015-06-17 19:47] pct00 commented on #1338
@fernandog
hi Fernando
still happens when the destination file already exists and is the same size as the file being processed

if i process manually i can see that is the reason of the error. if i run manually with the option to treat the files as priority download it works perfectly

the ep status in SR is snatched so shouldt the new downloaded version replace the old file also in automatic proc

[2015-06-17 19:49] pct00 opened #1841 "Ignored Words not working #1560"
duplicate as i cant reopen...

still happening with latest dev version

[2015-06-17 19:54] Kumolo commented on #1778
Thanks. Have stopped SR and deleted all files inside

Have now changed "When to update shows" to 22 which is in 7 minutes at my time (Berlin, Germany).
Let's see what happens :-) Will report back.

[2015-06-17 19:58] pct00 commented on #1743
### INFO
Python Version: **2.7.8 (default, Jun 30 2014, 16:03:49) [MSC v.1500 32 bit (Intel)]**
Operating System: **Windows-7-6.1.7601-SP1**
Branch: **develop**
Commit: SiCKRAGETV/SickRage@347571fb55710163fe5958761bcc450045c4c3a5
Link to Log: https://gist.github.com/f713c0e039b489887216
### ERROR
[code]
---
_STAFF NOTIFIED_: @SiCKRAGETV/owners @SiCKRAGETV/moderators

[2015-06-17 20:19] scythe000 commented on #1778
Do I have any options beyond deleting the show and losing all that config data I put in it?

[2015-06-17 20:39] dsoms opened #1842 "[APP SUBMITTED]: int() argument must be a string or a number, not 'NoneType'"
### INFO
Python Version: **2.7.9 (default, Mar  1 2015, 13:48:22) [GCC 4.9.2]**
Operating System: **Linux-3.18.13-1-osmc-armv7l-with-debian-8.1**
Locale: unknown
Branch: **develop**
Commit: SiCKRAGETV/SickRage@810b82110ce639ae07e49e5a8b80f90b714a28af
Link to Log: https://gist.github.com/e829b3fdc03e8f500d8b
### ERROR
[code]
---
_STAFF NOTIFIED_: @SiCKRAGETV/owners @SiCKRAGETV/moderators

[2015-06-17 20:49] fernandog commented on #1743
@miigotu kat too (link key)

[2015-06-17 20:56] fernandog commented on #1842
@dsoms Open your config.ini file and post the value of the field default Ep Status

[2015-06-17 20:59] fernandog commented on #1778
Need to think about it

[2015-06-17 21:35] miigotu commented on #1814
Lol, that date error is another bug in and of itself. Working on a _get_size fix, and checking the other code in omg now.

[2015-06-17 21:47] miigotu commented on #1814
@oerik can you try this? Revert to a clean state and make this change: (Not trying to fix the date error here)

[omgwtfnzbs.diff](https://gist.githubusercontent.com/miigotu/00a3c3deb6190e530a8f/raw/ead294b9a8436fd89617df3e351c365d59a51995/omgwtfnzbs.diff)

[2015-06-17 22:07] miigotu commented on #1743
got it, just don't know when this error can happen, unless it is on 0 results.

[2015-06-17 22:26] fernandog commented on #1842
@dsoms please update develop branch and try again please

[2015-06-17 22:28] fernandog commented on #1838
@Thraxis why do you are adding Bearer to the token?
https://github.com/SiCKRAGETV/SickRage/blob/develop/lib/trakt/trakt.py#L78

You already check if token is none. so why this error in this issue?
thanks!

[2015-06-17 22:36] miigotu commented on #1838
You should be raising an exception. Currently it continues if there is no token. Something like this?
[code]

[2015-06-17 22:41] miigotu commented on #1825
@nrk666 Not sure, trying never hurts.

[2015-06-17 22:56] fernandog commented on #1841
follow guidelines as always. you know without logs there's nothing we can do
post info and will repoen

[2015-06-17 22:56] #1841 closed

[2015-06-17 23:01] #1814 closed

[2015-06-17 23:04] #1797 closed

[2015-06-17 23:05] #1743 closed

[2015-06-17 23:06] pct00 opened #1843 "[APP SUBMITTED]: 'link'"
### INFO
Python Version: **2.7.8 (default, Jun 30 2014, 16:03:49) [MSC v.1500 32 bit (Intel)]**
Operating System: **Windows-7-6.1.7601-SP1**
Branch: **develop**
Commit: SiCKRAGETV/SickRage@347571fb55710163fe5958761bcc450045c4c3a5
Link to Log: https://gist.github.com/e037e5495d3b23f50ac1
### ERROR
[code]
---
_STAFF NOTIFIED_: @SiCKRAGETV/owners @SiCKRAGETV/moderators

[2015-06-17 23:08] fernandog commented on #1843
please update

[2015-06-17 23:08] #1843 closed

[2015-06-17 23:08] fernandog commented on #1843
https://github.com/SiCKRAGETV/sickrage-issues/issues/1743

[2015-06-17 23:10] #1538 closed

[2015-06-17 23:55] miigotu commented on #1778
@scythe000 removing it from sickrage does not delete the files unless you tell it to. Also, if you have SR set to create some metadata it will add back very quickly.

[2015-06-17 23:59] #1842 closed

[2015-06-18 01:01] miigotu commented on #1826
let's make sure it's not an osmc problem first.
Try this in terminal:
`dd if=/dev/zero of='Downloads/Game of Thrones - S05E10 - Mother’s Mercy.mp4' bs=1 count=1`

[2015-06-18 02:41] Quiksmage commented on #1625
Hi, while you can disable authentication for local host, there should be a way around having it on, correct? There are apps that have been updated to work with the webui of qbittorrent since its update, so I assume the same would be possible here. This is the new default on 3.2.0 and is the stable release of qbittorrent. If not, I understand, but it would be nice to have it working. Thanks a lot f

[2015-06-18 02:57] OmgImAlexis opened #1844 "[APP SUBMITTED]: [Errno 2] No such file or directory: '/mnt/downloads/DONE/tvshow/Gravity Falls - S01E03 Headhunters.mkv'"
### INFO
Python Version: **2.7.6 (default, Mar 22 2014, 22:59:56) [GCC 4.8.2]**
Operating System: **Linux-3.13.0-48-generic-x86_64-with-Ubuntu-14.04-trusty**
Locale: unknown
Branch: **master**
Commit: SiCKRAGETV/SickRage@52a6c31cdf545c4e2fd22925a92a3d0824c429cf
No Log available with ERRORS:
### ERROR
[code]
---
_STAFF NOTIFIED_: @SiCKRAGETV/owners @SiCKRAGETV/moderators

[2015-06-18 03:00] MGaetan89 commented on #1816
Wouldn't it be better to handle the root dirs internally instead of providing multiple URLs?
I'm building an Android app for SickRage with a streaming feature of the downloaded episodes. But I don't think there is a way to know in which root dir a specific video is, is there?

[2015-06-18 04:21] #1844 closed

[2015-06-18 04:23] OmgImAlexis commented on #1844
Oops, I meant to comment on this.

I get this issue with files even if they exist, this usually only happens with files over 2GB. I don't have any issues at all with smaller files.

@miigotu Why was this closed?

[2015-06-18 04:26] miigotu commented on #1816
Separate root directories are separate for a reason, otherwise people would just use the same folder.
You already would have to iterate over a directory list regardless, and i would assume you want the same behavior as SR or Kodi when it comes to this.

Query the number/paths of root dirs, iterate over each, done?

[2015-06-18 04:30] scythe000 commented on #1778
I understand that, I mean I have hundreds of entries, and have specific ones marked wanted/ignored/ etc.

[2015-06-18 04:38] miigotu commented on #1816
Heh, would be even nicer to be able to add labels to each root dir, then you could call

`/videos/MyLabel/xxxxxx`

[2015-06-18 04:42] LennyM8472 opened #1845 "AttributeError: 'WebRoot' object has no attribute 'api"
Hi,

can anybody give me some input what the problem here is?
I searched all settings and configs for the presumed key (802e82eff763d3d5f972410b7102beed), but can't find it anywhere.
[code]

[2015-06-18 04:45] miigotu commented on #1778
@scythe000 hundreds of entries for Dr Who 2005? xD there's like 100 episodes total for that show + specials.

Anyways, you could try deleting cache/rss/* cache/sessions/* cache/indexers/* and cache.db

[2015-06-18 04:50] miigotu commented on #1844
Either the file was already processed by the automatic post processor and you had a forced post process running, or the other way around, or you have permissions wrong.

[2015-06-18 04:54] miigotu commented on #1845
You have a custom newznab or torrent provider defined without a url maybe?

[2015-06-18 04:55] OmgImAlexis commented on #1844
Is it possible for the automatic post processor to start while a manual one is running? If that's the case then that'd explain it.

[2015-06-18 05:02] dennisjanssen commented on #1826
I'm getting this:
dd: failed to open ‘Downloads/Game of Thrones - S05E10 - Mother\’s Mercy.mp4’: No such file or directory

[2015-06-18 05:08] LennyM8472 commented on #1845
I only have a single newznab provider - with url and different key.
I think the key belongs to an old provider / old newznab entry - but I can't find the entry/settings for it anywhere (in the dropdown is only my correct provider)?

Is there a way to manually delete the key or so? (802e82eff763d3d5f972410b7102beed)

thanks

[2015-06-18 05:40] miigotu commented on #1845
check your config.ini

[2015-06-18 05:41] miigotu commented on #1826
oops:
`dd if=/dev/zero of='Game of Thrones - S05E10 - Mother’s Mercy.mp4' bs=1 count=1`
I guess you didnt have a Downloads directory there, xD

[2015-06-18 05:42] miigotu commented on #1844
PP runs so often there really isnt any reason to run it manually beside impatience xD

[2015-06-18 06:03] OmgImAlexis commented on #1844
I'd rather get errors than have a house filled with angry people wanting the shows that just downloaded on Plex. haha

[2015-06-18 06:12] miigotu opened #1846 "[APP SUBMITTED]: FAKE EXCEPTION"
### INFO
Python Version: **2.7.6 (default, Mar 22 2014, 22:59:56) [GCC 4.8.2]**
Operating System: **Linux-3.13.0-53-generic-x86_64-with-Ubuntu-14.04-trusty**
Locale: UTF-8
Branch: **develop**
Commit: SiCKRAGETV/SickRage@607fb259a6e53876997b0442ebd83971ee852cc5
Link to Log: https://gist.github.com/b1f679b4eb0719c9c599
### ERROR
[code]
---
_STAFF NOTIFIED_: @SiCKRAGETV/owners @SiCKRAGETV/moderators

[2015-06-18 06:13] miigotu commented on #1846
Grr where is my nice little traceback with links....

[2015-06-18 06:19] miigotu commented on #1846
### INFO
Python Version: **2.7.6 (default, Mar 22 2014, 22:59:56) [GCC 4.8.2]**
Operating System: **Linux-3.13.0-53-generic-x86_64-with-Ubuntu-14.04-trusty**
Locale: UTF-8
Branch: **develop**
Commit: SiCKRAGETV/SickRage@607fb259a6e53876997b0442ebd83971ee852cc5
Link to Log: https://gist.github.com/5c00223382262f66ddab
### ERROR
[code]
---
_STAFF NOTIFIED_: @SiCKRAGETV/owners @SiCKRAGETV/moderators

[2015-06-18 06:30] miigotu opened #1847 "[APP SUBMITTED]: 'key2'"
### INFO
Python Version: **2.7.6 (default, Mar 22 2014, 22:59:56) [GCC 4.8.2]**
Operating System: **Linux-3.13.0-53-generic-x86_64-with-Ubuntu-14.04-trusty**
Locale: UTF-8
Branch: **develop**
Commit: SiCKRAGETV/SickRage@607fb259a6e53876997b0442ebd83971ee852cc5
Link to Log: https://gist.github.com/777f8c830e18b1b5a4b5
### ERROR
[code]
---
_STAFF NOTIFIED_: @SiCKRAGETV/owners @SiCKRAGETV/moderators

[2015-06-18 06:32] #1846 closed

[2015-06-18 06:32] #1847 closed

[2015-06-18 06:44] dennisjanssen commented on #1826
And the file is named differently on my end, since it still has to be renamed. I'm guessing that's done while moving it too. So I'll run dd if=/dev/zero of=/media/1TB-DISK/torrents/downloads/Game.of.Thrones.S05E10.HDTV.x264-KILLERS\[rarbg\]/Game.of.Thrones.S05E10.HDTV.x264-KILLERS.mp4

Running...

dd: writing to ‘/media/1TB-DISK/torrents/downloads/Game.of.Thrones.S05E10.HDTV.x264-KILLERS[rarbg]/Ga

[2015-06-18 06:51] miigotu commented on #1826
nono, lol. The bug is because of the outfile. ie: the file with the new name.

I want to make sure osmc can create files with odd unicode characters in the filenames.

[2015-06-18 06:53] miigotu commented on #1826
Also, you just zero'd out your downloaded file tsk tsk.

[2015-06-18 06:53] miigotu commented on #1826
yay for 4.3GB of zeros

[2015-06-18 06:57] dennisjanssen commented on #1826
Crap :)
So... I need to rename the file? Do I try 'mv /media/1TB-DISK/torrents/downloads/Game.of.Thrones.S05E10.HDTV.x264-KILLERS[rarbg]/Game.of.Thrones.S05E10.HDTV.x264-KILLERS.mp4 /media/1TB-DISK/torrents/downloads/Game.of.Thrones.S05E10.HDTV.x264-KILLERS[rarbg]/Game of Thrones - S05E10 - Mother’s Mercy.mp4' ?

[2015-06-18 07:06] dennisjanssen commented on #1826
Okay, I guess not:
mv: target ‘Mercy.mp4’ is not a directory

[2015-06-18 07:26] LennyM8472 commented on #1845
Hi locked again at the config.
The key is no where to find.
All other entries look correct.

Very strange.... where does the key come from?!

[2015-06-18 10:18] neoatomic commented on #1845
In the config.ini are all api keys stored so it must be located there. Or is an external program trying to access SickRage with that key.? And as you are using a QNAP don't use https in the provider url's.

Otherwise you have to do a clean/fresh installation...

[2015-06-18 13:07] trotskylenin commented on #1483
@fernandog Yes, please. I think that would be great. The pause option is too much, i want to get updates of the show and more... i just don't want to download automatically every new episode... an option to set default status of Unaired episodes that gets aired is needed.

[2015-06-18 13:25] boyahr opened #1848 "FR : BtDigg torrent provider support"
BtDigg (https://btdigg.org/) is doing a great job when it comes to finding great torrents, could it be added into the list of providers ?

Edit : Did not see the main topic, sorry.

[2015-06-18 13:30] boyahr commented on #1741
Name : BtDigg
URL : https://btdigg.org/
What kind of provider.? : Torrent
Open or Invite only? : Open
Does the website have a API available.? Yes
Is it language specific.? : No
Motivate why this provider needs to be added.? : Quality torrents with seeders and complete shows/seasons

[2015-06-18 13:39] #1848 closed

[2015-06-18 14:10] #1838 closed

[2015-06-18 14:26] #1157 closed

[2015-06-18 14:33] Hellowlol commented on #1656
Example on how to search https://github.com/Hellowlol/HTPC-Manager/blob/master2/libs/ts/norbits.py

[2015-06-18 15:23] Kumolo commented on #1778
Aater deleting my cache/sessions/*, Show Update went fine and this morning the Queue was empty :-) Many thanks for your help!

[2015-06-18 15:29] #1710 closed

[2015-06-18 15:30] #1663 closed

[2015-06-18 15:35] LennyM8472 commented on #1845
this is really strange, I can't find the key in any config file. https is not in the provider address.
Any idea where to search next?

[2015-06-18 15:48] neoatomic commented on #1845
If the above suggestions doesn't work than the only thing i can think of is a bad installation.
So a clean install and start with a new config.ini and sickbeard.db will fix that.
Also next time follow the guideline for posting an issue.:
https://github.com/SiCKRAGETV/sickrage-issues#submitting-a-bugissue-ticket

[2015-06-18 15:52] neoatomic commented on #1611
This might fix it. : https://sickrage.tv/forums/forum/help-support/general-support/12825-ensuring-your-locale-s-are-set-properly-to-avoid-unicode-issues

But when possible prevent using special characters at all.

[2015-06-18 15:52] #1611 closed

[2015-06-18 15:57] neoatomic commented on #1580
Main wile the scene exceptions repo's have been added. So Error should be fixed.

[2015-06-18 15:57] #1580 closed

[2015-06-18 15:59] #1556 closed

[2015-06-18 16:03] fernandog commented on #1811
@djack42 we did a lot of changes in nfo info and checks. maybe it's something related to the old code. will close. check if this happens with new episodes and send full logs

[2015-06-18 16:03] #1811 closed

[2015-06-18 16:04] neoatomic commented on #1540
Yes, please follow the guidelines for posting an issue. Without that data its almost impossible to troubleshoot.

https://github.com/SiCKRAGETV/sickrage-issues#submitting-a-bugissue-ticket

[2015-06-18 16:04] fernandog commented on #1729
this is a duplicate or is it another issue? you referenced to another issue. I don't see what's common on they

[2015-06-18 16:06] fernandog commented on #1451
@matigonkas are you still having this issue?

[2015-06-18 16:08] #1478 closed

[2015-06-18 16:08] #1456 closed

[2015-06-18 16:12] neoatomic commented on #1462
Please follow the rules for posting an issue. Without data its impossible to troubleshoot.
https://github.com/SiCKRAGETV/sickrage-issues#submitting-a-bugissue-ticket

Here you can find a good configuration guide for how to setup your settings. :
http://www.htpcguides.com/configure-sickrage-usenet-torrent-tv/

[2015-06-18 16:12] #1462 closed

[2015-06-18 16:14] #1461 closed

[2015-06-18 16:15] fernandog commented on #1747
there's no custom show language setting AFAIK (can't see that in the database - tv_shows table)
it will only get the indexer default language

@miigotu probaly we should remove this setting from editshow too

[2015-06-18 16:15] neoatomic commented on #1459
@JustMaier Where you able to look into this.?

[2015-06-18 16:20] #1371 closed

[2015-06-18 16:24] neoatomic commented on #1369
I have Better Call Saul in my list and no problems with downloading the subs.
Try to only use opensubtitels and Addic7ed for the best results. TvSubtitles messes thins up for me also.

[2015-06-18 16:24] #1369 closed

[2015-06-18 16:27] #1250 closed

[2015-06-18 16:30] #1181 closed

[2015-06-18 16:32] #1174 closed

[2015-06-18 16:33] #1171 closed

[2015-06-18 16:34] #1130 closed

[2015-06-18 16:49] #1191 closed

[2015-06-18 16:50] miigotu commented on #1826
You are typing out what I wrote instead of copying and paste?

You cannot type the special apostrophe.

[2015-06-18 16:51] neoatomic commented on #1651
@innocuoussoul have you still problems with HDbits.?

[2015-06-18 16:58] dennisjanssen commented on #1826
dd: failed to open ‘Game of Thrones - S05E10 - Mother\’s Mercy.mp4’: Invalid argument

I ran the command inside the folder the episode was in and got that back. But the file in that folder is named Game.of.Thrones.S05E10.HDTV.x264-KILLERS.mp4, so I'm not sure if that's normal or not?

[2015-06-18 17:03] JustMaier commented on #1459
I haven't looked at this yet, but I should have some time to do it this weekend.

[2015-06-18 17:10] miigotu commented on #1729
Invalid reference.

[2015-06-18 17:10] innocuoussoul commented on #1651
Nope this has been resolved. Thank you.

Sent from my iPhone

[2015-06-18 17:26] #1651 closed

[2015-06-18 17:43] thomasbriet opened #1849 "[APP SUBMITTED]: list index out of range"
### INFO
Python Version: **2.7.9 (default, Mar 23 2015, 00:07:04) [GCC 4.7.3 20130102 (prerelease)]**
Operating System: **Linux-3.10.35-x86_64-with-glibc2.2.5**
Locale: UTF-8
Branch: **master**
Commit: SiCKRAGETV/SickRage@52a6c31cdf545c4e2fd22925a92a3d0824c429cf
Log available with ERRORS:  https://gist.github.com/thomasbriet/0ca15d8d723708c737e2
### ERROR
[code]
---
_STAFF NOTIFIED_: @SiCKRAGETV/o

[2015-06-18 17:45] pct00 commented on #1841
Hi @fernandog

full log with debug as requested on http://pastebin.com/e1GEKxCL

my config file ignore words
ignore_words = "german,french,core2hd,dutch,swedish,reenc,MrLss,vostfr,italian,www,vostfr,swesub,greman,ita,nl,FRENCH,SWESUB,www.,subtitulado,spanish,272p,ipod,norsub,swesubs,SWESUB,ChameE,Lektor"

[2015-06-18 17:46] thomasbriet commented on #1849
Same issue as https://github.com/SiCKRAGETV/sickrage-issues/issues/1427

[2015-06-18 18:14] Rouzax opened #1850 "[APP SUBMITTED]: Error while searching TorrentDay, skipping: No JSON object could be decoded"
### INFO
Python Version: **2.7.9 (default, Dec 10 2014, 12:24:55) [MSC v.1500 32 bit (Intel)]**
Operating System: **Windows-2012Server-6.2.9200**
Branch: **master**
Commit: SiCKRAGETV/SickRage@52a6c31cdf545c4e2fd22925a92a3d0824c429cf
Link to Log: https://gist.github.com/bd5fc28bf21fd963e78c
### ERROR
[code]
---
_STAFF NOTIFIED_: @SiCKRAGETV/owners @SiCKRAGETV/moderators

[2015-06-18 18:34] matigonkas commented on #1451
No im not

[2015-06-18 19:07] #1451 closed

[2015-06-18 19:38] Twanislas commented on #1830
@neoatomic : So this is how you solve an issue ? Does that means that you don't even care about foreign languages ? At least Fernando came up with some hint towards a solution...

@fernandog : I did try that but it provokes some other errors, I'll try to grab more information as soon as I have time.

Anyway, thank you both for your consideration ! ;)

[2015-06-18 20:06] miigotu commented on #1830
If changing the codepage gave errors, it is a problem on your system, not sickrage.

[2015-06-18 20:54] miigotu commented on #589
@SiCKRAGETV/moderators
Should I add a check in issue submitter to make sure that they are on the latest commit, and force them to update and reproduce the error before it will let them submit an issue?

[2015-06-18 20:59] miigotu commented on #1778
@fernandog I think we need to find out why the cached sessions are not being removed automatically on startup like they are supposed to be.

[2015-06-18 21:00] fernandog commented on #589
I wouldnt block the issue. But warn in issue. Unless for example >15 day old version

[2015-06-18 21:07] miigotu commented on #1778
helpers.clearCache is run on boot and when the showUpdater is ran.

I think line 1427 of helpers.py is wrong, causing line 1429 to always be false.

[2015-06-18 21:10] nrk666 commented on #1825
Ok, I've got this running now:

1. Fresh ubuntu vm
2. Fresh git pulled instance of SR (as of today, there were 29 commits avail on my regular SR instance, so this is fully updated, dunno if anyone found something and fixed it, new commits coulda been anything, so I dunno)
3. copied config.ini with my provider info in it (with "debug = 1")
4. Added two shows
5. Set recent season of both shows to "W

[2015-06-18 21:10] miigotu commented on #1845
@LennyM8472 try deleting cache/indexers/* cache/sessions/* cache/rss/* and cache.db

[2015-06-18 21:12] miigotu commented on #1825
There were many fixes which could affect the original issue here, you really should update your regular SR instance xD.

[2015-06-18 21:40] miigotu commented on #1747
This is one that needs fixed instead of removed. We need to check what the drop down is really supposed to do.

[2015-06-18 21:44] fernandog commented on #1747
There isnt a column in DB for custom setting per show. Not a fix but a FR

[2015-06-18 21:46] fernandog commented on #1747
Like KODI you set the default indexer language for all shows/movies

[2015-06-18 21:51] miigotu commented on #1747
Yes then comment it from the template, until we can add it another time.

[2015-06-18 22:02] scythe000 commented on #1778
@miigotu thanks, that worked! I had only deleted the lock file before, so next time i'll know to delete all those other files. Thanks! it's been broken for weeks.

[2015-06-18 22:04] miigotu commented on #1460
Sure, I can check the db. We need to figure out where the bad val is getting added to the DB.

[2015-06-18 22:06] miigotu commented on #1778
Good to know @scythe000
The function that is supposed to delete them is failing, without so much as a warning. I will fix it soonish.

[2015-06-18 23:20] fernandog commented on #1747
@miigotu my mistake. sorry. there is a column named LANG. All of mine shows are set as 'en'

[2015-06-19 00:01] miigotu commented on #1747
This is just a template problem. It does save. When you change the language and click save/submit the show is refreshed and the titles and info changes to the new language.

[2015-06-19 00:14] nrk666 commented on #1825
Oh, I did update my original, I just wanted to be clear that my test was using todays commits. I always update my regular instance, don't sweat that.

[2015-06-19 00:21] smokingunny opened #1851 "[APP SUBMITTED]: CHECKVERSION :: git fetch origin returned : fatal: unable to access 'https://github.com/SiCKRAGETV/SickRage.git/': Couldn't resolve host 'github.com'"
### INFO
Python Version: **2.7.9 (default, Mar 22 2015, 23:43:57) [GCC 4.6.4]**
Operating System: **Linux-2.6.32.12-armv5tel-with-glibc2.4**
Locale: UTF-8
Branch: **master**
Commit: SiCKRAGETV/SickRage@52a6c31cdf545c4e2fd22925a92a3d0824c429cf
Link to Log: https://gist.github.com/4874d5f92bb2192adace
### ERROR
[code]
---
_STAFF NOTIFIED_: @SiCKRAGETV/owners @SiCKRAGETV/moderators

[2015-06-19 00:35] fernandog commented on #1851
Not an issue

[2015-06-19 00:35] #1851 closed

[2015-06-19 00:49] miigotu commented on #1747
@BuSHari this is because of the same issue as #1217 but SiCKRAGETV/SickRage/pull/1756 improperly fixed it.

We will look into it.

[2015-06-19 02:08] miigotu commented on #1747
Fixed in SiCKRAGETV/SickRage#1976

[2015-06-19 02:08] #1747 closed

[2015-06-19 02:33] miigotu commented on #1842
@fernandog I think this didn't need removed.

[2015-06-19 04:20] miigotu commented on #1802
What language do you have set for cardcaptor sakura?

[2015-06-19 04:27] miigotu commented on #1803
@Xenocell12 what language is set for the show "Cardcaptor Sakura"?

[2015-06-19 05:15] fonix99 opened #1852 "No episodes will be found anymore"
Hi there,

since a few days sickrage failed to find new episodes (nzb files).

I am using the latest master of sickrage on a QNAP system with nzbget as downloader. All worked fine, since a couple days ago.

Usually my system is up 24/7, so Sickrage scans every 6 hours for new episodes, backlog is set to 720hours. I also tried to set "search", "backlog" on "start" and restarted the service, but als

[2015-06-19 05:57] dsoms commented on #1842
@fernandog It works for me. Thanks!

[2015-06-19 06:50] miigotu commented on #1852
@fonix99 This is because newznab providers did not work at all before, and a new issue is revealed now that it does.

What if you put in your browser:
`https://nzb.cat/getnzb/6aee50a54150062818c08273e4587cdf3f8edaa6.nzb&i=2319&r=`
Does it work?

What about this:
`https://nzb.cat/getnzb/6aee50a54150062818c08273e4587cdf3f8edaa6.nzb&i=2319&r=&apikey=YOURAPIKEYHERE`

[2015-06-19 07:03] miigotu commented on #1852
Can you invite me to nzbcat to test a fix?

[2015-06-19 07:11] oconnellkj opened #1853 "[APP SUBMITTED]: Thread-92 :: git ls-remote --heads origin returned : fatal: bad config file line 1 in .git/config"
### INFO
Python Version: **2.7.9 (default, Dec 10 2014, 12:28:03) [MSC v.1500 64 bit (AMD64)]**
Operating System: **Windows-8-6.2.9200**
Branch: **master**
Commit: SiCKRAGETV/SickRage@e6c4cfd6546b74d5527361f6f0bdc3adc232bdb0
Link to Log: https://gist.github.com/2b8f2bccf52db575d23a
### ERROR
[code]
---
_STAFF NOTIFIED_: @SiCKRAGETV/owners @SiCKRAGETV/moderators

[2015-06-19 07:14] fonix99 commented on #1852
Both links work for me - I can downloaded the nzb files.

Sorry, have no invites. If u needed I can send u my account details for testing - I can than later change the password back.

[2015-06-19 07:23] miigotu commented on #1852
Strange then, I have no idea why you get the exception. Could you upload the full sickrage.log file somewhere for me?

[2015-06-19 07:28] miigotu commented on #1853
check that `C:\sickrage\.git\config` is not broken, has permissions, etc. This is not a sickrage file, it is created when you clone the repo with git.

[2015-06-19 07:28] #1853 closed

[2015-06-19 07:33] #1126 closed

[2015-06-19 07:39] fonix99 commented on #1852
http://www27.zippyshare.com/v/hBDmWrmF/file.html

This is the log after I restartet the service. Added 4 Indexer and a test database with 2 new tv shows.

[2015-06-19 07:39] Twanislas commented on #1830
Hi guys !

I use some vbs script I googled to start SickRage without having a terminal window open, adding the chcp makes it fail so I tried running it in a normal terminal window. It runs well except I cannot access shows pages anymore... Here is the error found in the logs :

[code]
@miigotu : that was the case with my vbs script, hence the test in a normal terminal. This error here is new for m

[2015-06-19 08:18] LennyM8472 commented on #1845
nope.... not working either.

Sooooo strange

[2015-06-19 08:48] miigotu commented on #1642
@jfroebe I think I agree on adding these, as soon as I can double check them.

[2015-06-19 08:50] miigotu commented on #1845
Is that hash in `http://dt.local:9999/config/general/` on the interface tab in the `API Key` field?

[2015-06-19 08:55] miigotu commented on #1852
try deleting cache/indexers/* cache/sessions/* cache/rss/* and cache.db

[2015-06-19 10:37] neoatomic commented on #1852
Seems that when SR wants to load the URL to download the NZB it go's wrong. :

[code]
So i'm wondering if its a SSL problem.?

I'm using  [Usenet-Crawler] with SABNZB without any problems. :

[code]

[2015-06-19 12:24] matigonkas opened #1854 "[APP SUBMITTED]: 'ascii' codec can't encode characters in position 15-26: ordinal not in range(128)"
### INFO
Python Version: **2.7.9 (default, Apr  2 2015, 15:34:55) [GCC 4.9.2]**
Operating System: **Linux-3.19.0-21-generic-i686-with-Ubuntu-15.04-vivid**
Locale: unknown
Branch: **develop**
Commit: SiCKRAGETV/SickRage@ea1290ba0caa8ce4c6d9aa568552e6d4e8fef5bf
No Log available with ERRORS:
### ERROR
[code]
---
_STAFF NOTIFIED_: @SiCKRAGETV/owners @SiCKRAGETV/moderators

[2015-06-19 12:35] coderbone commented on #480
Just hit this hanging issue... checking the server status pages shows that the Show Queue thread is not alive.  Looking deeper into the log shows:

         Exception generated in thread SHOWQUEUE-REFRESH: list modified during sort

I'm on BRANCH: (master) / COMMIT: (52a6c31cdf545c4e2fd22925a92a3d0824c429cf)

[2015-06-19 12:38] the-Dakta commented on #480
So I ended up fixing this issue on my machine by deleting the cache folder and cache.db file. Then relaunched sickrage and let it rebuild everything. Since it's finished rebuilding everything, I've had no issues adding new shows to my list.

[2015-06-19 12:42] Rouzax commented on #1823
I have the same issue https://github.com/SiCKRAGETV/sickrage-issues/issues/1850

[2015-06-19 13:27] fonix99 commented on #1852
still the same problem. could it be the "ssl" problem, I read about? But why it works still some days ago? This kind of problem goes back month!?

anyway, here the log after 3 hours running...

http://www27.zippyshare.com/v/xPsE7ied/file.html

[2015-06-19 13:31] fernandog commented on #1852
Newsnab were fixed

[2015-06-19 13:31] Sandrus commented on #1823
@miigotu T411 didn't work with proxy, i have tried the 4 and get the same error.
I will remove the option, no big deal.
Thanks.

[2015-06-19 14:50] LennyM8472 commented on #1845
miigotu what do you mean? where do I have to look for that?

[2015-06-19 15:01] neoatomic commented on #1845
Go to General Configuration --> Interface.
Then browse down and look under API key if that is the mysterious api key.

[2015-06-19 15:03] frriction opened #1855 "Error while post-processing whole season (rtorrent)"
BRANCH: (master) / COMMIT: (52a6c31cdf545c4e2fd22925a92a3d0824c429cf)
Operating system - Archlinux
Python Version:	2.7.10 (default, May 30 2015, 02:17:57) [GCC 4.9.2 20150304 (prerelease)]

What I did
I am manually downloading required seasons torrent file and giving it to Rtorrent.
When Rtorrent finishes it calls for nzbtomedia script to post process that torrent.
I post process I am using  "Proc

[2015-06-19 15:04] LennyM8472 commented on #1845
unfortunately not

[2015-06-19 15:06] miigotu commented on #1852
apikey is not sent when downloading the nzb, and we have no cookie set like he does in his browser.

[2015-06-19 15:27] fonix99 commented on #1852
Just for testing I deleted sickrage and installed sickbeard on the qnap. Set up Sickbeard-Search and Usenet-Crawler as Searchprovider and added a show.

Works fine. So, to me with my noob knowledge it has to be something to do with inside sickrage!?

Here is the sickbeard log, after clean install: http://www31.zippyshare.com/v/tUd4TfNh/file.html

I prefer sickrage over sickbeard because of the fai

[2015-06-19 15:34] neoatomic commented on #1855
@frriction As your question is about post-processing with nzbtomedia its probably a better idea to directly ask on there repository?. : https://github.com/clinton-hall/nzbToMedia

[2015-06-19 15:50] wishx opened #1856 "[APP SUBMITTED]: CHECKVERSION :: git fetch origin returned : fatal: unable to access 'https://github.com/SiCKRAGETV/SickRage.git/': Could not resolve host: github.com"
### INFO
Python Version: **2.7.6 (default, Mar 22 2014, 22:59:56) [GCC 4.8.2]**
Operating System: **Linux-3.13.0-24-generic-x86_64-with-LinuxMint-17-qiana**
Locale: UTF-8
Branch: **master**
Commit: SiCKRAGETV/SickRage@e6c4cfd6546b74d5527361f6f0bdc3adc232bdb0
No Log available with ERRORS:
### ERROR
[code]
---
_STAFF NOTIFIED_: @SiCKRAGETV/owners @SiCKRAGETV/moderators

[2015-06-19 15:54] fernandog commented on #1856
internet issue

[2015-06-19 15:54] #1856 closed

[2015-06-19 15:55] neoatomic commented on #1852
@fonix99 I have removed your Sickbeard log as it contained all your API keys...

If its a bug we will find it. But first we need to locate the problem.
In the meantime can you copy&paste the info that is under "help & info" ? So we know what version etc you are running.?

ps. For uploading logs its more practical to use pastebin.com.

[2015-06-19 16:13] frriction commented on #1855
@neoatomic I am getting error with Sickrage not nzbtomedia. nzbtomedia passes file to sickrage but sickrage fails while processing those files. Above log I have downloaded season with 24 episode so 23 files but only 11 files got processed and than there was that error.

[2015-06-19 16:16] frriction commented on #1855
@neoatomic if you see nzbtomedia log; from line 8 to almost to the end in that log is about sickrage.

[2015-06-19 16:23] fonix99 commented on #1852
Ah ok, didn't checked the log, thank u.

http://pastebin.com/U4uY9VFf

[2015-06-19 16:23] neoatomic commented on #1855
@frriction I myself are not familiar with nzbtomedia, so cant troubleshoot this. Hopefully one of the Dev's can help out.
In the meantime try to disable the notifications, just to rule out that is causing the problem.

[2015-06-19 16:29] frriction commented on #1855
@neoatomic ok I did that, I had plex server, boxer and trakt activated.

[2015-06-19 16:39] neoatomic commented on #1855
@frriction Plex now needs the Token to be added for it to work. Has to do with a recent Plex update for https.

[2015-06-19 16:49] frriction commented on #1855
@neoatomic it was with token only.

[2015-06-19 17:23] LennyM8472 commented on #1845
I now switched off all search providers and the log still gets the error message with the mysterious key.

2015-06-19 19:17:21 INFO     POSTPROCESSER :: Processing completed
2015-06-19 19:17:21 INFO     POSTPROCESSER :: PostProcessing Path: /share/MD0_DATA/Multimedia/Video/temp_transmission
AA
AAAttributeError: 'WebRoot' object has no attribute 'api/802e82eff763d3d5f972410b7102beed'
AA    method =

[2015-06-19 17:40] distracto commented on #1566
if i run sickrage on a windows machine and continue to store the files on qnap and continue to run transmission on qnap will i have the same issues still?

[2015-06-19 18:43] duramato opened #1857 "[APP SUBMITTED]: locale changed during initialization"
### INFO
Python Version: **2.7.9 (default, Apr  2 2015, 15:34:55) [GCC 4.9.2]**
Operating System: **Linux-3.19.0-21-generic-i686-with-Ubuntu-15.04-vivid**
Locale: UTF-8
Branch: **develop**
Commit: SiCKRAGETV/SickRage@ea1290ba0caa8ce4c6d9aa568552e6d4e8fef5bf
No Log available with ERRORS:
### ERROR
[code]
---
_STAFF NOTIFIED_: @SiCKRAGETV/owners @SiCKRAGETV/moderators

[2015-06-19 18:47] matigonkas commented on #1857
### INFO
Python Version: **2.7.9 (default, Apr  2 2015, 15:34:55) [GCC 4.9.2]**
Operating System: **Linux-3.19.0-21-generic-i686-with-Ubuntu-15.04-vivid**
Locale: UTF-8
Branch: **develop**
Commit: SiCKRAGETV/SickRage@ea1290ba0caa8ce4c6d9aa568552e6d4e8fef5bf
No Log available with ERRORS:
### ERROR
[code]
---
_STAFF NOTIFIED_: @SiCKRAGETV/owners @SiCKRAGETV/moderators

[2015-06-19 18:48] Rouzax commented on #1823
I don't use a proxy to access torrentday and have the same issue.

[2015-06-19 18:59] nrk666 commented on #1825
Ok, I think I got a few hits. Some of the adds were actual propers, but it looked like some weren't.

https://gist.github.com/nrk666/525ef04ef67fc4f16dc8  is the logfile for today when it all happened.

[2015-06-19 18:59] Rock81 opened #1858 "[APP SUBMITTED]: __str__ returned non-string (type Error)"
### INFO
Python Version: **2.7.9 (default, Apr 16 2015, 21:44:36) [GCC 4.2.1 20070831 patched [FreeBSD]]**
Operating System: **FreeBSD-9.3-RELEASE-p9-amd64-64bit-ELF**
Locale: unknown
Branch: **master**
Commit: SiCKRAGETV/SickRage@52a6c31cdf545c4e2fd22925a92a3d0824c429cf
Link to Log: https://gist.github.com/3d6d0550ac424377e583
### ERROR
[code]
---
_STAFF NOTIFIED_: @SiCKRAGETV/owners @SiCKRAGETV/

[2015-06-19 19:06] Rock81 commented on #1858
Hi fernando i stil have the same issue
It doesnt grab from rarbg

[2015-06-19 19:36] miigotu commented on #1825
Heh, it's only the repack search that returns titles without repack|proper

[2015-06-19 19:41] miigotu commented on #1825
Try changing line 325 of sickbeard/providers/newznab.py to `search_terms = ['.proper.']`

[2015-06-19 19:50] halcyonforever commented on #1766
thanks for the information.  Turns out the guide I followed did not include that step.  I did find however that if you install python 2.7.9 it has "The entirety of Python 3.4's ssl module has been backported for Python 2.7.9."

[2015-06-19 20:07] fernandog commented on #1858
@Rock81 open your browser (must use the same internet as Sickrage and open:

https://torrentapi.org/pubapi_v2.php?get_token=get_token&format=json&app_id=sickrage

get the token and after this URL and hit go:
https://torrentapi.org/pubapi_v2.php?mode=list&app_id=sickrage&token=

post the first 5 lines of the result

[2015-06-19 20:08] fernandog commented on #1858
@Rock81 must start with

{"torrent_results":[{"filename":

[2015-06-19 20:14] Rock81 commented on #1858
from browser same internet connection:
{"torrent_results":[{"filename":"The.Host.2006.KOREAN.1080p.BluRay.x264.DD5.1-FGT","category":"Movies\/x264\/1080","download":"magnet:?xt=urn:btih:df2d3c67cdb6f66f7df8164b94d71254fa7058a0&dn=The.Host.2006.KOREAN.1080p.BluRay.x264.DD5.1-FGT&tr=http%3A%2F%2Ftracker.trackerfix.com%3A80%2Fannounce&tr=udp%3A%2F%2F9.rarbg.me%3A2710&tr=udp%3A%2F%2F9.rarbg.to%3A2710&

[2015-06-19 20:16] fernandog commented on #1858
do you have global proxy enabled or proxy enabled for rarbg?

[2015-06-19 20:23] Rock81 commented on #1858
i see it is on i will deselect it i guess that is what you will be suggesting next.

[2015-06-19 20:27] Rock81 commented on #1858
I had proxy enabled hideme for rarbg i deselected it but still returns the same error after starting backlog.

[2015-06-19 20:27] fernandog commented on #1858
global proxy enabled or rarbg proxy? which proxy URL?

[2015-06-19 20:34] Rock81 commented on #1858
In seach providers Rarbg i had the 'Access provider via proxy' enabled, it was using :hideme.nl.
I disabled that option but still recieve same error.

Where can i find the gobal proxy >?

[2015-06-19 20:36] fernandog commented on #1858
@Rock81 search your log for (use the input text):

"Rarbg search page URL" and post the URL

global proxy is localhost:8081/config/general/ at advanced settings

[2015-06-19 20:47] Rock81 commented on #1858
Proxy host is blank, nothing..
When i search my log i get no results for this :Rarbg search page URL string

[2015-06-19 20:47] fernandog commented on #1858
enabled debug log in advanced settings and try again

[2015-06-19 20:51] Rock81 commented on #1858
Same result.... nothing

[2015-06-19 20:52] fernandog commented on #1858
disable all providers and keep only rarbg enabled.
do you have any WANTED episodes?

[2015-06-19 20:53] Rock81 commented on #1858
clear all logs ?

[2015-06-19 20:54] fernandog commented on #1858
no

[2015-06-19 20:55] Rock81 commented on #1858
damn already hit the button.. sorry

[2015-06-19 20:56] fernandog commented on #1858
if you don't have WANTED episodes, SR won't search providers

[2015-06-19 20:57] Rock81 commented on #1858
i have a lot of wanted episodes..

[2015-06-19 20:58] fernandog commented on #1858
so keep only rarbg enabled and try again. post full logs after 30s of hitting manual search

[2015-06-19 20:59] Rock81 commented on #1858
Logs & Errors

2015-06-19 22:57:37 SEARCHQUEUE-MANUAL-121361 :: [Rarbg] :: Error while searching Rarbg, skipping: __str__ returned non-string (type Error)
2015-06-19 22:57:35 SEARCHQUEUE-MANUAL-121361 :: [Rarbg] :: Error while searching Rarbg, skipping: __str__ returned non-string (type Error)
2015-06-19 22:57:31 SEARCHQUEUE-MANUAL-121361 :: [Rarbg] :: Error while searching Rarbg, skipping: __str_

[2015-06-19 20:59] fernandog commented on #1858
no. not error page. "view logs"

[2015-06-19 21:00] Rock81 commented on #1858
Log File
Minimum logging level to display:
Filter log by:
Search log by:

2015-06-19 22:57:37 INFO     SEARCHQUEUE-MANUAL-121361 :: Unable to find a download for: [Game of Thrones - 5x08 - Hardhome]
2015-06-19 22:57:37 WARNING  SEARCHQUEUE-MANUAL-121361 :: No NZB/Torrent providers found or enabled in the sickrage config for backlog searches. Please check your settings.
AA
AATypeError: __str__ retu

[2015-06-19 21:03] fernandog commented on #1858
you didn't disable all providers

also go to RARBG provider settings and make sure "daily search" and "backlog search" are enabled
and set minium log level do DEBUG

[2015-06-19 21:10] nrk666 commented on #1825
Maybe I'm misunderstanding, but if I change line 325, in def findPropers, won't that stop it from actually finding repacks (repacks are ok...)?

Anyways, made this change and restarted SR:

325:#        search_terms = ['.proper.', '.repack.']
326:        search_terms = ['.proper.']

[2015-06-19 21:11] Rock81 commented on #1858
In Search Providers >  Provider Priorities the only provider selected is Rarbg..Daily and backlog search are allready enabled.

Log File
Minimum logging level to display:
Filter log by:
Search log by:

2015-06-19 23:03:46 INFO     POSTPROCESSER :: [_UNPACK_146931349 : Being unpacked]
2015-06-19 23:03:46 INFO     POSTPROCESSER :: I did encounter some unprocessable items:
2015-06-19 23:03:46 INFO

[2015-06-19 21:16] fernandog commented on #1858
@rarbg any clue on this one? Baned?

@Rock81 send your IP to support@rarbg.com

[2015-06-19 21:18] fernandog commented on #1858
@miigotu is this a timeout?

AA timeout=timeout

[2015-06-19 21:22] Rock81 commented on #1858
Sended my IP to Rarbg

[2015-06-19 21:24] fernandog commented on #1858
do you have team viewer?

[2015-06-19 21:25] Rock81 commented on #1858
yes

[2015-06-19 23:03] MGaetan89 commented on #1816
I like the idea of having a label for each root dir too.

For my use case, it would be nice if the episode API would return the root
dir/alias/id (path would be the easiest) or whatever.
In my app I have a "play" button on the detail of each episode to stream it
if it was downloaded. Currently I'm using the default root dir. So it works
in most cases, but not all of them

On Jun 18, 2015 7:38 AM,

[2015-06-20 02:41] miigotu commented on #1825
This is the thing, repacks are considered propers by sickrage, but there is no 'PROPER', 'REPACK', or 'iNTERNAL' tag in the filename so people think the proper finder is returning non-propers. Either a repack has the version in the nzb incremented and thats how they distinguish it, or the newznab providers are returning non-proper/repack.

The proper finder is working fine, its the indexers fubar,

[2015-06-20 02:45] miigotu commented on #1845
ssh into the QNAP,
`find /share/MD0_DATA/.qpkg/SickBeard-TVRage/SickBeard-TVRage ! -name '*.pyo' ! -name '*.pyc' -type f -exec grep -i '802e82eff763d3d5f972410b7102beed' {} +`

[2015-06-20 02:47] miigotu commented on #1816
I need to look into this better before I make an informed decision. I dont know how to even play files using the url yet lol. I haven't used the webapi much, but the code there is simple as it gets.

[2015-06-20 02:59] miigotu commented on #1858
Something is probably wrong with your repo or config. Rarbg works perfect here.

[2015-06-20 03:01] miigotu commented on #1566
rss still uses a url, if it is https it likely fails.

It should work in windows, but I have no clue how to instruct you with windows and SR.

[2015-06-20 03:11] miigotu commented on #1566
This bug is very widespread, via kodi, sr/sb/sonar/cp/hp/etc and anything that uses ssl with python.

[2015-06-20 03:34] miigotu commented on #1857
Stop SR, `rm -rf /home/supergonkas/SickRage/cache/cheetah`, start SR.

[2015-06-20 03:36] rarbg commented on #1858
Checked his ip - Hes not banned on the api or the site.

[2015-06-20 03:37] miigotu commented on #1825
Scratch that, proper is working kinda, for a few providers.
It seems there are some inconsistencies with proper finding implementations across the various providers that need to be fixed. I have identified quite a few problems.

[2015-06-20 03:39] rarbg commented on #1858
Btw im absolutely sure that this is a weird ssl exception not being caught

[2015-06-20 06:10] MGaetan89 commented on #1816
The code is simple yes, but it leaves maybe too much work to the client app. If SickRage wants to change something about the `videos` path tomorrow, it may break something for all the client apps.
If the root dirs are handled internally, any changes are transparent for the client apps.

To use the `videos` path, you need to:
- Get the full path (with `full_path=1`) of the episode from the episode

[2015-06-20 06:58] Veldkornet opened #1859 "Subtitle Language Flag - Afrikaans"
In Subtitle Search -> Subtitle language, if you select "Afrikaans", the flag is wrong....

Afrikaans (af, afr, af-za) is a form of Dutch, originating and used mostly in South Africa. See -> [url]http://en.wikipedia.org/wiki/Afrikaans[/url]

Now, I'm not sure what flag this is being used in SickRage for Afrikaans (Afganistan maybe??), but it's definitely not that of South Africa, and definitely not

[2015-06-20 07:11] Veldkornet commented on #1859
See also on the forums -> https://www.sickrage.tv/forums/showthread.php?t=23927

[2015-06-20 07:46] papampi opened #1860 "[Request] Add extratorrent (ettv) to official torrent providers."
since eztv is hacked and gone...
Is it possible to add extratorrent to official torrent providers so SB can search it for backlog too ?
I know we can use its rss feed ( http://extratorrent.cc/rss.xml?cid=8&type=last) but isnt it better to have it as an official provider ?

[2015-06-20 07:54] LennyM8472 commented on #1845
Hi I think I found the problem (no errors for a couple of hours).
It was indeed an external program with old credentials. Sick Beard Connect for Chrome.

Thanks for all the input.

Will revert if error returns

best regards
Lennart

[2015-06-20 09:04] neoatomic commented on #1860
@papampi Please add your request here.  https://github.com/SiCKRAGETV/sickrage-issues/issues/1741
And post the required details/info as ask.

[2015-06-20 09:04] #1860 closed

[2015-06-20 09:39] neoatomic commented on #1859
Sadly this cant be fixed at this time. Its a limitation of the 2 letter country codes.
This happens when 2 country's/languages use the same 2 letter shortcut.
If we change the flag for you than it will show wrongly for other users.

We have planned to completely overhaul the subtitle part and than use 3 letter country codes. That would solve this issue.
And as this is already on the ToDo list i wi

[2015-06-20 09:39] #1859 closed

[2015-06-20 09:47] neoatomic commented on #1854
@matigonkas Special characters are the problem. "Американский Папаша Сезон "
Try this. :
https://sickrage.tv/forums/forum/help-support/general-support/12825-ensuring-your-locale-s-are-set-properly-to-avoid-unicode-issues

Also there are numerous issues here on github that you can lookup for more help/info.

[2015-06-20 09:47] #1854 closed

[2015-06-20 10:02] #1845 closed

[2015-06-20 10:06] neoatomic commented on #1850
@Rouzax Please continue the discussion at https://github.com/SiCKRAGETV/sickrage-issues/issues/1823 so we have all the info/logs in one place.

[2015-06-20 10:06] #1850 closed

[2015-06-20 10:47] Rouzax commented on #1823
Let me know if you need anything.

[2015-06-20 10:48] #42 closed

[2015-06-20 10:58] #65 closed

[2015-06-20 11:57] #357 closed

[2015-06-20 12:01] neoatomic commented on #367
Duplicate/related to https://github.com/SiCKRAGETV/sickrage-issues/issues/40

[2015-06-20 12:01] #367 closed

[2015-06-20 12:31] neoatomic commented on #486
As theWoollyBully was able to create a deb package for Readynas we can close this FR.
Thanks for your contribution.

[2015-06-20 12:31] #486 closed

[2015-06-20 12:43] neoatomic commented on #501
@Tlabok I'm going to close this FR as i dont see a way to get this implemented.

[2015-06-20 12:43] #501 closed

[2015-06-20 12:49] neoatomic commented on #506
@fernandog Does this issue need a bug/issue label.? Of can it even be closed.?

[2015-06-20 12:58] neoatomic commented on #512
@fernandog This issue looks duplicate with https://github.com/SiCKRAGETV/sickrage-issues/issues/225
Can i close this.?

[2015-06-20 13:01] neoatomic commented on #513
Same as https://github.com/SiCKRAGETV/sickrage-issues/issues/501

[2015-06-20 13:01] #513 closed

[2015-06-20 13:06] fernandog commented on #1858
@Rock81 please stop SR, edit /SickRage/sickbeard/providers/rarbg.py and change all https to http. Save. Start. Try again please

[2015-06-20 13:13] neoatomic commented on #529
Your request looks similar to https://github.com/SiCKRAGETV/sickrage-issues/issues/52 and https://github.com/SiCKRAGETV/sickrage-issues/issues/225
So i'm going to close this and link it to those FR's. So we have all in one place.

[2015-06-20 13:13] #529 closed

[2015-06-20 13:15] neoatomic commented on #530
@fernandog The disk space check was implemented some time ago if i recall correctly.?

[2015-06-20 13:40] fernandog commented on #530
AFAIK yes.

Added Free Space check in PP before deleting files
https://github.com/SiCKRAGETV/SickRage/pull/1629

[2015-06-20 13:40] #567 closed

[2015-06-20 13:41] #530 closed

[2015-06-20 13:41] Koal4 commented on #1825
I'm having the same problem. I notice this week that my SR was redownloading a lot of stuff that I already had. Also when checking the filename or releasename it doesn't even mention proper. It looks like it is just grabbing releases that are newly posted.

here's a debug log if it's desired: http://pastebin.com/LGCt9uvY

[2015-06-20 13:42] miigotu commented on #1816
`If SickRage wants to change something about the videos path tomorrow, it may break something for all the client apps.`

This is why I said I want to add a new separate path setup and calls, in order to not break current functionality.

Removing a root dir via api is not a good solution either, as you are actually changing the root dirs in SR that way, and breaking add show functionality inside SR

[2015-06-20 13:44] neoatomic commented on #588
@gborri Can you be more specific with your request.?

[2015-06-20 13:44] fernandog commented on #506
Keep open.

[2015-06-20 13:45] miigotu commented on #1825
@Koal4 1.) there is no proper finder thread ran in that debug log. 2.) disable find propers for now, until I can rewrite half of half of the providers to fix it.

[2015-06-20 13:46] fernandog commented on #588
Too complicate I think.
This torrent has ep 4 5 6 and 7.
He only wants ep 4.

Its a kind of uncomplete season torrent

[2015-06-20 13:46] #588 closed

[2015-06-20 13:48] fernandog commented on #512
Keep both open. Has a lof of discussion here

[2015-06-20 13:50] Koal4 commented on #1825
Ye, the debug log was not complete. Is there no easy way to get it into 1 file instead of editting those 5 log files into 1?

Anyway: here's the ful log which should include de proper finder

https://gist.github.com/Koal4/6605da96fb7ca243b354

[2015-06-20 13:58] miigotu commented on #1825
@Koal4 I already know what the problem is, it is just a very involved fix to make it uniform across all providers and I haven't got it done yet.

Biggest problem is that newznab providers return repacks without "repack" in the title, which causes confusion. Repacks arent necessary unless there is a problem with the initial file anyways.
For now, make this change in `sickrage/providers/newznab.py`

[2015-06-20 13:58] neoatomic commented on #622
This is more a problem of not correct air-times on the indexer. And it should be corrected there.
Currently i dont see a possibility to add this...

[2015-06-20 13:58] #622 closed

[2015-06-20 14:03] neoatomic commented on #630
As Thraxis states a token can be generated as secure login.

[2015-06-20 14:03] #630 closed

[2015-06-20 14:10] fernandog commented on #1825
@miigotu are you going to PR that fix about clean cache? or isn't an issue?

[2015-06-20 14:11] miigotu commented on #1825
@fernandog Hey just needs to clear cache because his rss and indexer cache has non-propers in them.

[2015-06-20 14:12] miigotu commented on #1825
I haven't found the exact problem with the clearcache thing either, must be owner/permissions related.

IE: SR run as a different user one time makes cache files that cannot be removed by the normal SR user.

[2015-06-20 14:12] neoatomic commented on #635
In many cases this wont be possible as we are generally not using "normal" links to get torrents etc.
Also it has not much use, as the torrent is already downloaded at that point.

[2015-06-20 14:12] #635 closed

[2015-06-20 14:41] neoatomic commented on #732
Try to use opensubtitels and addic7ed. Tvsubtitels also gives problems for me with out off sync subs.
Also we have on the to do list to update Subliminal , so that should also improve the results.

[2015-06-20 14:41] #732 closed

[2015-06-20 14:49] neoatomic commented on #756
Already requested.https://github.com/SiCKRAGETV/sickrage-issues/issues/95

[2015-06-20 14:49] #756 closed

[2015-06-20 14:59] neoatomic commented on #839
Was already requested here : https://github.com/SiCKRAGETV/sickrage-issues/issues/516

[2015-06-20 14:59] #839 closed

[2015-06-20 15:08] neoatomic commented on #876
I'm reading your request but i'm not sure what you exactly want. There is already a button "Re-Scan" to scan all the files in your folder.

[2015-06-20 15:14] neoatomic commented on #889
@fernandog Is this labeled incorrectly.? Dont really see a FR here. Close.?

[2015-06-20 15:21] matigonkas commented on #635
@neoatomic could this be possible fron the torrent hash?? By ie link it to torrentz

[2015-06-20 15:28] neoatomic commented on #635
@matigonkas It probably depends on the method used. But don't think its word the time the Dev's need to put into this.
But if you see a possibility than feel free to give it a shot and submit a PR.

[2015-06-20 15:30] neoatomic commented on #979
Closing as this was Merged.

[2015-06-20 15:30] #979 closed

[2015-06-20 16:41] nrk666 commented on #1825
Ok, sounds like you got a handle on it now, I'm going to nuke my test instance.

Thanks for your patience on getting a logfile.

[2015-06-20 17:28] miigotu commented on #1825
@nrk666 Yep, thanks. That log put me right to where it was failing, and let me see how much work needs to be done to make all providers work the same in that sense.

[2015-06-20 18:28] miigotu commented on #1823
Committed a fix in SiCKRAGETV/SickRage#1978 for Torrentday not working even without proxy, for now proxy still probably won't work.

[2015-06-20 18:29] miigotu commented on #1850
Committed a fix in SiCKRAGETV/SickRage#1978 for Torrentday not working even without proxy, for now proxy still probably won't work.

[2015-06-20 18:39] pokeimon commented on #1526
### INFO
Python Version: **2.7.9 (default, May 23 2015, 07:37:15) [GCC 4.2.1 20070831 patched [FreeBSD]]**
Operating System: **FreeBSD-9.1-RELEASE-amd64-64bit-ELF**
Locale: unknown
Branch: **master**
Commit: SiCKRAGETV/SickRage@52a6c31cdf545c4e2fd22925a92a3d0824c429cf
Link to Log: https://gist.github.com/f5cf36eef5f1539db902
### ERROR
[code]
---
_STAFF NOTIFIED_: @SiCKRAGETV/owners @SiCKRAGETV/mod

[2015-06-20 18:58] Koal4 commented on #1825
I made the adjustment what you suggested earlier on and restared SR. However I don't think its working because I redownloaded OITNB show because it was replaced with a release I didn't liked. But now the proper check run has ran again and it started to redownload some of the eps again from a different release thinking they are propers..

https://gist.github.com/Koal4/cfffbd9a73220d68bb7d

[2015-06-20 19:05] matigonkas opened #1862 "Group name not being recognised"
The group name of this torrent "VICE.S03E13.SDTV.x264-[2Maverick]" its not being recognised.
TBH all of 2maverick releases arent being recognised

[2015-06-20 19:06] matigonkas commented on #1862
correction, its being shown correctly , as "[2Maverick]" on the detailed history page but not on the compact one

[2015-06-20 19:28] miigotu commented on #1825
@Koal4 can you open the nzb of the incorrect proper snatch and paste it on gist?

[2015-06-20 19:36] Koal4 commented on #1825
How do you mean open the nzb?

I had the following release Orange.Is.The.New.Black.S03E08.Fear.and.Other.Smells.1080p.NF.WEBRip.DD5.1.x264-NTb\

And it redownloaded: Orange.Is.the.New.Black.S03E08.1080p.WEBRip.x264-2HD/orange.is.the.new.black.s03e08.1080p.webrip.x264-2hd.mkv

[2015-06-20 19:42] miigotu commented on #1825
I meant the nzb file, but you arent using blackhole so you dont have it, my bad.

Try changing line 332 of sickbeard/providers/newznab.py from:
`alt_search = ('nzbs_org' == self.getID())`
to:
`alt_search = True`

[2015-06-20 19:44] Koal4 commented on #1825
Thanks, idd i don't use blackhole.

If you meant open it like a text file then the output is here https://gist.github.com/Koal4/13b5c9f01a409fe8395d (can stil download it from my indexer)

[2015-06-20 19:51] miigotu commented on #1825
I'm gonna rewrite this junk over the next few days. Right now we just assume that when we search an nzb indexer for '.proper.' or '.repack.' they will only return results containing '.proper.' or '.repack.'

Should be a no brainer to expect a search to return only results that you searched for right?

[2015-06-20 19:55] Koal4 commented on #1825
Haha idd, all i can confirm is that this is issue is something from the last few weeks. Before that I never had any issues with the propersearch. I started to notice this problem because it was redownloading OITNB every few days which was driving me crazy because i didn't understand why untill earlier on :)

Anyway i've made the change what you have suggested so I will know more later on

[2015-06-20 20:13] miigotu commented on #1825
@Koal4 proper search didn't work at all before.

Proof its the indexers, who use newznab as their backend, all have the same bug:
http://newshost.co.za/?s=Jericho+proper
See there are ones returned without proper in the list?

[2015-06-20 20:14] TheWoollyBully commented on #486
Glad to help.

[2015-06-20 21:36] Hellowlol opened #1863 "Fix donate button"
Hi! @echel0n . Would you mind fixing the donate button so i can part with some $?

[2015-06-20 21:47] neoatomic commented on #1862
@matigonkas Could you post a screen-shot from both pages.?
(Had a quick peek through my detailed/compact list but all seems ok here.)

[2015-06-20 22:05] Rock81 commented on #1858
I changed this now they are getting snatched..:
Sun, 21/06/15, 12:03:56 AM
 Game of Thrones - S05E07 Snatched   Rarbg  1080p WEB-DL
Sun, 21/06/15, 12:03:44 AM
 Game of Thrones - S05E05 Snatched   Rarbg  1080p WEB-DL
Sun, 21/06/15, 12:03:34 AM
 Game of Thrones - S05E04 Snatched   Rarbg  1080p WEB-DL
Sun, 21/06/15, 12:03:23 AM
 Game of Thrones - S05E03 Snatched   Rarbg  1080p WEB-DL
Sun, 21/06/15, 1

[2015-06-20 22:06] Rock81 commented on #1858
so this is by some way probably an ssl issue... strange.

[2015-06-20 22:07] matigonkas commented on #1862
![screenshot_2015-06-20-23-04-32](https://cloud.githubusercontent.com/assets/10121067/8269461/02bcf77c-17a1-11e5-9c29-e8754df8e881.png)
![screenshot_2015-06-20-23-06-05](https://cloud.githubusercontent.com/assets/10121067/8269466/111a7826-17a1-11e5-9f1f-1b3dae588961.png)
@neoatomic. Its the vice episode the problematic one

[2015-06-20 22:20] miigotu commented on #1825
Can I borrow someone's dognzb login/key? Trying to test fixes with sick beard index and they have blocked us somehow again.

[2015-06-20 22:22] MasterAslan opened #1864 "[APP SUBMITTED]: CHECKVERSION :: git rev-parse --verify --quiet "@{upstream}" returned : fatal: No upstream configured for branch 'master'"
### INFO
Python Version: **2.7.9 (default, Dec 10 2014, 12:24:55) [MSC v.1500 32 bit (Intel)]**
Operating System: **Windows-8-6.2.9200**
Branch: **master**
Commit: SiCKRAGETV/SickRage@68c55eadbd502c63ae35e42ccc741509e94f3d6a
Link to Log: https://gist.github.com/d0e07b681367cd813cb4
### ERROR
[code]
---
_STAFF NOTIFIED_: @SiCKRAGETV/owners @SiCKRAGETV/moderators

[2015-06-20 22:22] MasterAslan opened #1865 "[APP SUBMITTED]: list.remove(x): x not in list"
### INFO
Python Version: **2.7.9 (default, Dec 10 2014, 12:24:55) [MSC v.1500 32 bit (Intel)]**
Operating System: **Windows-8-6.2.9200**
Branch: **master**
Commit: SiCKRAGETV/SickRage@68c55eadbd502c63ae35e42ccc741509e94f3d6a
Link to Log: https://gist.github.com/a7bc6bad5e15e012e59d
### ERROR
[code]
---
_STAFF NOTIFIED_: @SiCKRAGETV/owners @SiCKRAGETV/moderators

[2015-06-20 22:45] miigotu commented on #1825
or nzbcat

[2015-06-21 00:07] rarbg commented on #1858
@fernandog @miigotu
Fallback code :)

[2015-06-21 01:44] ugokanain commented on #876
Rather than scanning if the files are in for any show, I meant to scan for any missing episodes for all shows. Sometimes the episode monster eats some shows, some abscond or simply go missing. Some shows are easy to see if you skipped an episode, but some don't have any continuity between episodes.

I search occasionally to see all shows are there, but would be nice if SR could search each folder

[2015-06-21 02:47] miigotu commented on #1858
Eh, yeah I don't fallback in the login, but there is no way to catch it since the exception never makes it back out of urllib3.

I guess we don't need ssl just to get a token anyways??? I could just make it use http there.

[2015-06-21 02:47] #1864 closed

[2015-06-21 02:48] miigotu commented on #1863
echel0n is MIA for the past few months, and the donate button works afaik.

[2015-06-21 02:48] #1863 closed

[2015-06-21 04:38] mbxplex opened #1867 "[Feature Request] "Preferred Words on Archive" & Option to "Snatch before Release""
I apologize if these feature requests have already been made or if there is a way to set them up.

Request 1 - "Preferred Words" Search on Archive:
Similar to the feature found in CP, I would like to see SR have a preferred words search box that applies to the Archived snatch. This would (or should) give people the ability to search for Uncensored episodes or to download from a specific uploader.

[2015-06-21 04:59] miigotu commented on #1862
Found it =P

[2015-06-21 06:43] papampi commented on #1741
Name : ettv
URL : http://extratorrent.cc/
What kind of provider.? : Torrent
Open or Invite only? : open
Does the website have a API available.? : dont know
Is it language specific.? : no
Motivate why this provider needs to be added.? : ettv is the biggest tv provider since eztv hacked.

[2015-06-21 07:50] Hellowlol commented on #1863
Nope, I can't get pass enter username

[2015-06-21 09:18] jasonb92 commented on #1566
couch potato2 works fine for me on qnap... just not sickrage :(

not sure if there is something that could be taken from their "provider".py to fix it?

Couch Potato - torrentleech.py

import traceback

from bs4 import BeautifulSoup
from couchpotato.core.helpers.variable import tryInt
from couchpotato.core.logger import CPLog
from couchpotato.core.media._base.providers.torrent.base import TorrentP

[2015-06-21 10:10] neoatomic commented on #1867
@mbxplex Both have already be requested. https://github.com/SiCKRAGETV/sickrage-issues/issues/461
But the Dev's haven't had the time to implement it yet.

[2015-06-21 10:10] #1867 closed

[2015-06-21 10:16] neoatomic commented on #1855
@frriction Was worth a try to see it you maybe forgot to set the Token.
Still having this error after disabling the notifications.?

[2015-06-21 10:21] neoatomic commented on #1865
Same as https://github.com/SiCKRAGETV/sickrage-issues/issues/1305
(Fix not working correctly.? )

[2015-06-21 10:24] #1862 closed

[2015-06-21 10:24] miigotu commented on #1825
Test latest develop branch pl0x

[2015-06-21 10:26] miigotu commented on #1858
Unsure if that will catch it, I haz no ssl problems to be able to verify it.

[2015-06-21 10:38] rarbg commented on #1858
I think the exception in this particular case is  exception urllib3.exceptions.ReadTimeoutError

[2015-06-21 10:49] frriction commented on #1855
@neoatomic I ran into some other issues with my hdd just shorted everything out. I have slow internet so it will take a day to see if problem got solved or not. I will report back  asap.

[2015-06-21 11:13] neoatomic commented on #876
@ugokanain Sorry but i'm still a little confused what you are requesting. :(

SickRage does scan your folders from time to time to see if episodes are missing. And if they are missing it sets them to your preferred status. (archived/skipped/ignored etc.)
If you want to scan all folders yourself you can go to Massupdate and select rescan to scan all folders at once.
Also all shows that still need t

[2015-06-21 11:46] fernandog commented on #1865
@MasterAslan what exactly did you do to ?

[2015-06-21 11:50] fernandog commented on #876
@ugokanain
use the http://lcalshost:8081/manage/episodeStatuses/

find ep by status.
take care. the second action changes the status

[2015-06-21 12:34] matigonkas commented on #1857
### INFO
Python Version: **2.7.9 (default, Apr  2 2015, 15:34:55) [GCC 4.9.2]**
Operating System: **Linux-3.19.0-21-generic-i686-with-Ubuntu-15.04-vivid**
Locale: UTF-8
Branch: **develop**
Commit: SiCKRAGETV/SickRage@a7fa4c192ce9c3a1ff201c79bc6b42395f002a50
No Log available with ERRORS:
### ERROR
[code]
---
_STAFF NOTIFIED_: @SiCKRAGETV/owners @SiCKRAGETV/moderators

[2015-06-21 12:35] matigonkas commented on #1857
@miigotu  still happening

[2015-06-21 13:20] miigotu commented on #1858
I can catch that too, or I could just catch all exceptions there. After I get my high priority stuff out of the way I am going to take another look into the annoying ass SSL problems.

[2015-06-21 14:06] Fossil01 opened #1868 "Your application is hammering my website"
removed

[2015-06-21 14:06] #1868 closed

[2015-06-21 14:09] Rock81 commented on #1858
Thanks for all the support!!

[2015-06-21 16:17] distracto commented on #1566
Yup, couch potato and headphones both work just fine on my qnap

[2015-06-21 16:43] raymondtrueman commented on #889
@fernandog  I just thought it would be helpful, if you have a large library of files with no quality info in the filename. SickRage can then use some logic to make a guess of what the quality is. Also during post processing. But there is an existing request somewhere here suggesting using MediaInfo. #969 I think.

[2015-06-21 16:44] #889 closed

[2015-06-21 16:46] raymondtrueman commented on #969
See #889 as well, its a similar request

[2015-06-21 17:38] mbxplex commented on #461
Sorry for reposting feature requests guys #1867 .... I have to ask though, would this feature be identical to CouchPotato or is there an ability to implement it into an "archived search" like I mentioned in #1867 . The reason I ask is, I would like SR to eventually the "preferred word" once it becomes available, even after the first download of a file has taken place (without the preferred word fo

[2015-06-21 18:13] mbxplex commented on #1867
@neoatomic thanks for the quick reply! Is there an open forum for the feature request described as "Snatch before Release" I can comment on?

[2015-06-21 18:42] miigotu commented on #1566
Did that just change or was it always working?

[2015-06-21 19:50] ugokanain commented on #876
No not same.

I have all my  shows in a separate disk. For whatever reason, some episodes go missing. It would be nice if SR could delve into the drive and make sure all the shows are complete (not only downloaded).

That way SR could generate a list of the missing episodes and ask you if you want to download these again. Since SR named these files, all it would need is do a listing of each show a

[2015-06-21 19:59] Kumolo opened #1869 "Release Group not recognized"
Hi guys,

I am wondering why SR is detecting Release group correct for some files why it fails on some others.

Here, S05 is fine while S04 fails to detect BATV and therefore adds SICKRAGE as release group.

![sr - kopie](https://cloud.githubusercontent.com/assets/12941715/8273085/75d26f18-185e-11e5-9306-f835863f545a.JPG)
[code]
BRANCH: (master) / COMMIT: (52a6c31cdf545c4e2fd22925a92a3d0824c429cf)

[2015-06-21 21:03] fernandog commented on #876
If you mass refresh, missing episodes will be set to SKIPPED. Go to manage ep status and see them

[2015-06-21 21:05] fernandog commented on #1869
Missing code in those files. SR gets confused.
Bad naming pattern

[2015-06-21 21:16] Kumolo commented on #1869
Thanks @fernandog.
I understand the release lacks the codec. However I have seen this a lot in my downloads. Was wondering if it would be possible to implement to SR to parse a release group even no codec is found?

[2015-06-21 21:20] fernandog commented on #1869
There isnt a easy way. Not worth the trouble.

[2015-06-21 21:27] Kumolo commented on #1869
That's alright. Thanks anyway :-)

[2015-06-21 21:28] fernandog commented on #1869
@miigotu agree?

[2015-06-21 21:41] Kumolo commented on #1869
@fernandog Maybe my example was bad because it was a manual download, however, I forgot the most important point; _why_ it actually might be worth to implement this. It is not a cosmetic issue, it is because of the subtitles.

English is not my first language but I love to see English TV series with english subs. Without the proper release group, I get lots of false positives while searching for t

[2015-06-21 21:53] fernandog commented on #1869
Try use rarbg provider only. All files will have codec

[2015-06-21 21:53] wishx opened #1870 "[APP SUBMITTED]: SEARCHQUEUE-DAILY-SEARCH :: qbittorrent: Unable to send Torrent: Return code undefined"
### INFO
Python Version: **2.7.6 (default, Mar 22 2014, 22:59:56) [GCC 4.8.2]**
Operating System: **Linux-3.13.0-24-generic-x86_64-with-LinuxMint-17-qiana**
Locale: unknown
Branch: **master**
Commit: SiCKRAGETV/SickRage@52a6c31cdf545c4e2fd22925a92a3d0824c429cf
Link to Log: https://gist.github.com/cf53395e0f3dcb977a73
### ERROR
[code]
---
_STAFF NOTIFIED_: @SiCKRAGETV/owners @SiCKRAGETV/moderators

[2015-06-21 21:55] Kumolo commented on #1869
Is that for torrents? I use Usenet.

[2015-06-21 21:59] fernandog commented on #1869
Yes torrents.

[2015-06-21 22:00] fernandog commented on #1869
Usenet has a lot of releases withou codec and or release group. I have up.

[2015-06-21 22:12] jasonb92 commented on #1566
Always worked AFAIK

[2015-06-21 22:13] Kumolo commented on #1869
I do see missing codecs, but really almost all do have release group to my experience...

[2015-06-21 22:17] nrk666 commented on #1825
Switched to dev branch.

[2015-06-21 22:26] miigotu commented on #1566
Strange, because there are a lot of results about ssl errors when you search CP git, and many users there have the problem with CP but not SR.

We use the same requests library, the same certifi, the same backports.ssl_match_hostname, and practically the same tornado.

Our usage is almost identical.

[2015-06-21 22:33] miigotu commented on #1869
If you saw the regex that is used to parse the tags from filenames, you would not ask us to touch it lol.

https://github.com/SiCKRAGETV/SickRage/blob/develop/sickbeard/name_parser/regexes.py

I spent all night trying to perfect just one of them last night, and the best I got it to it totally breaks down if the release group happens to be missing. but everything else works beautiful...

Someday, s

[2015-06-21 22:50] miigotu commented on #1869
https://regex101.com/r/aF7tU5/2

Works for single episodes and multi... and multiple naming types, but fails if there is no release group.

[2015-06-22 01:54] VDI-Tech-Guy opened #1871 "Centos 7 - Web Restart issues"
Hey all, just wanted to let you know that i got Sickrage installed on Centos7 however it has one major issue with it that a lot of the other integration softwares have (sabnzbd, couchpotato, etc) the restart functionality i assume is using a init script (service sickrage start) type command as it doesn't work in Centos7 as they started using the systemctl based command structure. it seems the PID

[2015-06-22 04:06] gts24 commented on #1556
http://i.imgur.com/2xjJx9Y.png
This is a paste from nzbs.in
SickRage Banned on NZBs.inThursday, June 18 2015 03:10:19 AM

As you all remember, a few weeks ago the site was very slow. This was due to load on our servers, making the site very slow, and unavailable at times.

After some investigation, we found that members using SickRage were hammering the API, causing a large majority of this load.

[2015-06-22 04:39] miigotu commented on #1556
That's so ridiculous. Our rate limiting is 2x as strict as SB. There is some serious hating going on here.

Wouldn't you think that these people would come and file an issue if it were true, with some evidence or statistics or something and try to work towards a solution?

Besides that, "a few weeks ago" I didn't rewrite half of the newznab provider yet, where I doubled the limiting.

'learned tha

[2015-06-22 04:52] adprom commented on #1556
miigotu,
Your response there is half of the problem and it is the same every time I raised an issues. Fairly immature "it's not our issue and this problem doesn't exist".

It is why I shifted from sickrage to Sonarr. The devs on SR are acting rather immaturely and every time an issue is raised rather than logically addressing it getting a very childish response.

You mentioned stuff will get fixed

[2015-06-22 05:03] gts24 commented on #1556
I also have zero affiliation with nzbs.in , and have personally helped at least 15 people setup sickrage from scratch on various platforms using various service providers. Frankly I've been an SR evangelist of sorts.
Someone made the comment "pix or it didn't happen" So I provided "pix" in the form of a screenshot.
I really hope this gets resolved because I've had zero issues at all with SR other

[2015-06-22 05:07] Thraxis commented on #1556
Any site who has felt SickRage was hammering or abusing their system had the ability to contact the devs both via the forums and via issue tickets here where a dialog could have been started and work taken to ensure that SickRage was working as it should.

[2015-06-22 05:08] miigotu commented on #1556
Half of the problem is I asked for more information on this and you didn't reply to this for over 2 days. That's why it got closed.

When I found an issue in the code, I reopened this issue, referenced it, and fixed the problem.
Our code is limited identically to sick-beard for newznab providers, with the exception that I also keep the cached results for 30 minutes instead of 15 minutes.

`You adm

[2015-06-22 05:21] miigotu commented on #1556
Besides that, they could just say `'could you maybe limit each user to x requests per x seconds?`
I'd say `sure, np, pushing commit in 2 minutes`

[2015-06-22 06:09] andyj682 commented on #1798
So what, then, is the expected effect of ticking "when using show 'Remove' and delete files" under "Send to trash for actions" in general settings? I'm assuming it means it'll use the trash instead of permanent delete when you choose to remove a show from the database and delete the files, right? And if this is implemented, why would it not be a valid feature request to simply extend that function

[2015-06-22 06:14] andyj682 commented on #622
Fair enough if this won't be addressed--it's low priority, for sure--but it's actually not an issue with air dates on the indexer. We're talking about shows where the episodes, for whatever reason, are sometimes available several days before the official (and correct) air date. Clearly there's something in the current code that tells SickRage NOT to search for episodes if they haven't yet aired, s

[2015-06-22 07:23] miigotu commented on #1556
Besides, if they were to come here, they would see how much has changed in so short of a time.
https://github.com/SiCKRAGETV/SickRage/compare/v4.0.27...eee6f4eae4ade413e99c7d0eec6e61573181d2d7

[2015-06-22 09:34] miigotu commented on #1841
Found another ignored/required words bug, pushed a little while ago to develop.

[2015-06-22 10:11] neoatomic commented on #622
@andyj682 Its pretty simple, when a show hasn't aired it cant be downloaded. If the show is out before the air-date on the indexer than the air-date is wrong.
(It rarely happens that an episode leaks before the air-date, but you never know that in advance.)
Searching before that time will only snatch fakes and hammer users APIs with unnecessary requests. In short not a goo idea...

[2015-06-22 10:38] neoatomic commented on #1798
@andyj682 When you enable recycle bin on your Synology it should store the deleted files in a recycle bin as you can see in the help i posted above. That should include removed files for propers.
Do i understand you correctly that you have this setup right, and deleted files are still not stored in the recycle bin.?

@fernandog Don't think we have something in the code that prevents this from work

[2015-06-22 10:43] fernandog commented on #1798
Really dont know. Never used this feature

[2015-06-22 11:50] neoatomic commented on #1870
@wishx Problems seems to be the new qbittorrent 3.2+ If you downgrade to version 3.1 it should work. For more temp fixes/information you can look here. https://github.com/SiCKRAGETV/sickrage-issues/issues/1723

[2015-06-22 11:57] fernandog commented on #1625
New issues will be auto added here

[2015-06-22 12:27] Rouzax opened #1872 "[APP SUBMITTED]: 'utf8' codec can't decode byte 0xe9 in position 84: invalid continuation byte"
### INFO
Python Version: **2.7.9 (default, Dec 10 2014, 12:24:55) [MSC v.1500 32 bit (Intel)]**
Operating System: **Windows-2012Server-6.2.9200**
Branch: **master**
Commit: SiCKRAGETV/SickRage@52a6c31cdf545c4e2fd22925a92a3d0824c429cf
Link to Log: https://gist.github.com/eca6da7a4a8ec7079923
### ERROR
[code]
---
_STAFF NOTIFIED_: @SiCKRAGETV/owners @SiCKRAGETV/moderators

[2015-06-22 12:52] Rouzax commented on #1872
This might be an issue with DroidBeard. The Android app to connect to SickRage.

[2015-06-22 12:54] miklschmidt commented on #1852
i have the same problem, tried using different search providers, no cigar. Somethings definitely going on. Had the problem for about a week when i updated.

[2015-06-22 13:02] neoatomic commented on #1872
@Rouzax The special character in "Séance " is the problem.

[2015-06-22 13:13] nrk666 commented on #1825
Dev branch pulled actual propers, but only from torrent sources.

Usenet FINDPROPERS gave this in the error log: 2015-06-22 06:16:27 FINDPROPERS :: [someindexer] :: Error while searching someindexer, skipping: global name 're' is not defined

[2015-06-22 13:15] OmgImAlexis commented on #1832
"<b>has been deleted with all related media</b>"

Found another.
https://github.com/SiCKRAGETV/SickRage/blob/52a6c31cdf545c4e2fd22925a92a3d0824c429cf/sickbeard/webserve.py#L1570

[2015-06-22 13:31] Rouzax commented on #838
See https://github.com/qbittorrent/qBittorrent/pull/2558

[2015-06-22 13:43] bartley69 commented on #1813
I am having this same issue, If i load the url into a browser it grabs the show fine. Otherwise in my logs i see

2015-06-22 21:38:34 WARNING  SEARCHQUEUE-DAILY-SEARCH :: [nzb.su] :: Unknown exception while loading URL https://api.nzb.su/getnzb/83fc1146e904b50401c92a6a5b37b3f5.nzb&i=127007&r=**********

Is there any fix available?

[2015-06-22 13:47] bartley69 commented on #1852
I am having this same issue, If i load the url into a browser it grabs the show fine. Otherwise in my logs i see

2015-06-22 21:38:34 WARNING SEARCHQUEUE-DAILY-SEARCH :: [nzb.su] :: Unknown exception while loading URL https://api.nzb.su/getnzb/83fc1146e904b50401c92a6a5b37b3f5.nzb&i=127007&r=**********

Is there any fix available?

[2015-06-22 13:48] miklschmidt commented on #1852
@bartley69 apparently the "fix" is what broke it :D

[2015-06-22 13:50] bartley69 commented on #1852
Ah I see. Yes this problem only started in the last 4 or 5 days I believe? Sickrage updated and it broke mine :-(

[2015-06-22 13:51] miklschmidt commented on #1852
Yup that pretty much sums it up for me as well.

[2015-06-22 14:02] neoatomic commented on #1813
@bartley69 Use http and not https in the url and give that a try.
Also check.:  https://github.com/SiCKRAGETV/sickrage-issues/issues/1852

[2015-06-22 14:10] neoatomic commented on #1852
Try to use "http" instead of "https" in the links. That should prevent SSL problems.
See if that temp fixes it for now.

[2015-06-22 14:11] fernandog commented on #1852
@miigotu can we add the BaseSSLError as another exception here or urllib3.exceptions.ReadTimeoutError?

https://github.com/SiCKRAGETV/SickRage/blob/develop/sickbeard/helpers.py#L1339

[2015-06-22 14:13] miklschmidt commented on #1852
@neoatomic i can't, the usenet crawler provider is supplied with sickrage, can't modify the URL i'm afraid. I'll have to find it in the code, so it'll have to wait till i get home.

[2015-06-22 14:19] Rouzax opened #1873 "[Feature request] - Store link to Torrent page"
It would be nice to have SickRage record the link were it got the episode.
That way I can check the information on the torrent provider website without searching for the torrent.

[2015-06-22 14:25] Rouzax commented on #1823
@miigotu
Although I'm running the Master Git branch  SiCKRAGETV/SickRage@52a6c31cdf545c4e2fd22925a92a3d0824c429cf TorrentDay is working again, without any changes from my end.

[2015-06-22 14:56] miigotu commented on #1832
@OmgImAlexis Make sure you are checking develop branch lol. Those were changed like 2 days ago xD
https://github.com/SiCKRAGETV/SickRage/blob/develop/sickbeard/webserve.py#L1570
https://github.com/SiCKRAGETV/SickRage/blob/develop/sickbeard/webserve.py#L1543

[2015-06-22 14:57] #1832 closed

[2015-06-22 15:03] miigotu commented on #1825
Ew, missed the import for re. Pushing.

[2015-06-22 15:50] Kumolo commented on #1869
Hi @miigotu and @fernandog . Thanks for your effort, I see that the regex is very complex. Maybe we can catch the root cause why the code in the name is missing... Have just had a release that indeed _had_ the codec in its name when downloaded but it got lost during my post-processing!

In Sab, the release was "True.Detective.S02E01.PROPER.720p.HDTV.x264-KILLERS.mkv" and now in SR it is "True.Dete

[2015-06-22 15:50] fernandog commented on #1871
https://github.com/SiCKRAGETV/SickRage/blob/master/runscripts/init.systemd

[2015-06-22 16:04] fernandog opened #1874 "[APP SUBMITTED]: global name 'show_name_helpers' is not defined"
### INFO
Python Version: **2.7.9 (default, Mar  1 2015, 13:48:22) [GCC 4.9.2]**
Operating System: **Linux-3.18.13-1-osmc-armv7l-with-debian-8.1**
Locale: UTF-8
Branch: **develop**
Commit: SiCKRAGETV/SickRage@eee6f4eae4ade413e99c7d0eec6e61573181d2d7
Link to Log: https://gist.github.com/daa191940158f5fcfbbe
### ERROR
[code]
---
_STAFF NOTIFIED_: @SiCKRAGETV/owners @SiCKRAGETV/moderators

[2015-06-22 16:05] fernandog commented on #1874
that's odd as this import appears in others files

https://github.com/SiCKRAGETV/SickRage/search?utf8=%E2%9C%93&q=from+sickbeard+import+show_name_helpers

[2015-06-22 16:09] miklschmidt commented on #1852
I replaced all instances i could find of https://www.usenet-crawler.org with http. Didn't seem to make a difference, the log still said http. So i got tired of that approach and just checked out v4.0.26, and everything works.

[2015-06-22 16:10] fernandog commented on #1874
traceback:
[code]

[2015-06-22 16:12] miklschmidt commented on #1852
If i didn't have to restart sickrage each time i'd do a bisect, but it sounds like you guys know what's going on.

[2015-06-22 16:20] miigotu commented on #1874
missing import in sickbeard/tvcache.py
`from sickbeard import show_name_helpers`

pushing now.

[2015-06-22 16:27] fonix99 commented on #1852
Good to see I am not the only one, with this kind of problem.

It seems to me, like an ssl problem, cause if I use the indexer fastnzb (which uses http instead of https) I get some results. All the indexer who uses https don't work (I tried manually to chance the URL, but didn't not work).

Like I said before, it all worked very well since the latest update and sickbeard still works. So I hope u g

[2015-06-22 16:29] #1874 closed

[2015-06-22 16:29] fernandog commented on #1874
thanks!

[2015-06-22 16:30] miigotu commented on #1869
Likely is the script, where is it from so I can look at the code?

[2015-06-22 16:33] Kumolo commented on #1869
I use nzbToMedia from clinton-hall. (https://github.com/clinton-hall/nzbToMedia). The script for TV is nzbToSickBeard.py

[2015-06-22 16:33] miigotu commented on #1852
bisect isnt going to be very helpful.

Problem is there are major changes being made (because we are being force to by nzb providers) and we have no way of testing the changes because we have no nzb accounts.

I have tried to stick to changing newznab providers only for now, as they are the ones blocking us, but I haz no newznab provider, and the free ones have us blocked.

[2015-06-22 16:40] fernandog commented on #1852
@miklschmidt maybe you can provide a temp API key to @miigotu ( you can generate another when is over). What do you think?

[2015-06-22 16:43] miigotu commented on #1869
Maybe try not using the script. PostProcessor runs on its own every 10 minutes if you have it enabled.

[2015-06-22 16:44] mbxplex commented on #405
Hey guys, I am new to SickRage and I noticed this feature listed at the bottom when adding a new show and I was very interested in how the Whitelist / Blacklist feature works ...

Can someone explain the purpose of Whitelist / Blacklist if you have the time?

Thanks!

[2015-06-22 16:46] Kumolo commented on #1869
Thx but I wouldn't prefer that. Thinks like autorunning these sort of things tend to prevent the HDDs of my NAS go to sleep. I really like the triggered action instead.

I will also ask clinton-hall about this...

[2015-06-22 16:47] fernandog commented on #405
@Thraxis develop that. maybe he can explain

[2015-06-22 16:47] miigotu commented on #1852
@miklschmidt did you try going to usenet-crawler on your browser?

http://downforeveryoneorjustme.com/www.usenet-crawler.org

[2015-06-22 16:53] miigotu commented on #1852
https seems to work. and this newznab has open registration right now.

@fernandog @neoatomic

[2015-06-22 16:57] miigotu commented on #1869
I think the script just calls our webapi and tells it to scan a folder passed as a param, but I'm not 100% sure.

[2015-06-22 17:00] fernandog commented on #1869
One of the parameters are the nzbname and/or filename. So if is sending to SR without code its not SR issue.
do you have renamer enable on SAB?

[2015-06-22 17:02] fonix99 commented on #1852
I don't what "bisect" means, but I wasn't intend to be say something bad to u guys. I really like your work and u put in it.

I just tried to explain what is going on my system ;)

[2015-06-22 17:09] miigotu commented on #1852
I know what is wrong.

See how fast fixing something is when you have a provider?

The sitesSR should be providing developer access to fix problems instead of blocking SR.

[2015-06-22 17:10] Kumolo commented on #1869
@fernandog: If you mean "Sorting" in Sab, that's deactivated. I do have checked "Replace Spaces in folder names" and "Replace illegal characters in folder names" which should be irrelevant here.

The configuration of nzbToMedia does not at all have any setting about renaming (based on the config file which is autoProcessMedia.cfg) so I would not expect it to rename anything itself. Do we need to k

[2015-06-22 17:17] distracto commented on #1566
not sure on my end. CP just downloaded another movie last night without any interaction on my part.

Version69825f9d (5/27/2015, 5:06:41 AM)

[2015-06-22 17:28] OlleDenStore opened #1875 "No way to change default Ep Status on new additions"
After the latest update the option to set the default Ep Status seems to have disappeared.
When I choose edit on a show there is no longer a field that let's me change this. If I choose Mass Update there is a column that indicates the def. ep status for all shows and the edit option here has a field for changing it but it doesn't seem to do anything. This means that none of the newly added(after t

[2015-06-22 17:57] miigotu commented on #1852
@miklschmidt @fonix99 Please test the last commit in develop and report if I can close this or not.

[2015-06-22 18:00] Kumolo commented on #1869
Now have flagged clinton-hall about the renaming.
@fernandog did I answer the question re SAB?

[2015-06-22 18:03] fernandog commented on #1875
read here:
https://github.com/SiCKRAGETV/sickrage-issues/issues/1483

[2015-06-22 18:03] #1875 closed

[2015-06-22 18:04] miigotu commented on #1566
Download came from the same site you are having a problem in SR with?

Otherwise its useless info, as different sites (and different urls if the site provides an external link) operate differently. Some work, some have sni/host_name issues in SR.

[2015-06-22 18:12] distracto commented on #1566
i am grabbing tv shows and movies from separate private trackers.

[2015-06-22 18:14] fernandog commented on #1869
i think SAB has a renamer option like SR. If so and it's enabled, you are renaming the file twice

[2015-06-22 18:43] mbxplex commented on #405
Hey @Thraxis , would you mind explaining how this works and the options I would have by using this feature? At first, I thought it would allow me to use "preferred words" to pull by but I don't believe that's the case.

[2015-06-22 18:55] miklschmidt commented on #1852
@miigotu Tested, didn't work. I only have a free API key for usenet crawler so i can't really help you there. Is it too much trouble to just setup a local newznab server for development, seems like this issue isn't specific to one indexer, and it would probably be handy to test against when making larger changes.

[2015-06-22 18:57] miklschmidt commented on #1852
@miigotu And yes, the URL's work fine in the browser, as i stated earlier. It's not the indexer :)

[2015-06-22 19:25] miigotu commented on #1566
@distracto then the fact that CP is working on 1 tracker, and SR is not on a different tracker means there is no relation.

The SSL/SNI problem is only an issue on https only trackers who are on shared hosting using a shared/wildcard ssl certificate.

[2015-06-22 19:27] Kumolo commented on #1869
@fernandog, @miigotu It really seems to be my SR copy that causes this!

I faked a release in my download folder (mkdir + touch, Same syntax as the real release above):
![sr-files-before-pp](https://cloud.githubusercontent.com/assets/12941715/8290721/170bc8ae-1925-11e5-8db0-7b9dd1fe60b4.JPG)

I than used manual post process via SR GUI:
![sr-pp-dialogue](https://cloud.githubusercontent.com/assets/1

[2015-06-22 19:29] miigotu commented on #1852
@miklschmidt usenet-crawler works fine here. Testing nzbcat now.

Are you on develop branch?

[2015-06-22 19:30] miklschmidt commented on #1852
Strange, yes i am. I checked git log for your commit. Let me hit it with a couple other shows.

[2015-06-22 19:39] miklschmidt commented on #1852
Nope, i can't make it work, pulled again to make sure i had the latest stuff, still getting the same error, no matter what i do.

[2015-06-22 19:46] miklschmidt commented on #1852
I see your fix is basically just expanding the search date parameters. I'm pretty sure that has nothing to do with it, It finds the nzb, it just can't download it without something throwing an unexpected error somewhere.

[2015-06-22 19:49] miklschmidt commented on #1852
Wait, it's not supposed to download it is it? That's sabnzbd's job right?

[code]

[2015-06-22 19:57] miigotu commented on #1852
Both usenet-crawler and NZBCat are both finding releases and snatching them for me now, they werent previously.
As I don't have the SSL errors, we can now safely assume it IS now an ssl problem.

It does download the .nzb file, either to a file or into memory. It then either saves the nzb to your black hole, or passes it to sabnzbd to be added.

How many api hits and grabs do you have today in htt

[2015-06-22 20:05] fonix99 commented on #1852
I will test the development branch in a few minutes and give u feedback.

[2015-06-22 20:06] miigotu commented on #1869
What are your naming settings?
Can you try the same test without ".PROPER." in the release name?

It is possible we never see this because most people don't put the release group or quality in the destination filename.

[2015-06-22 20:07] miigotu commented on #1869
Actually, from that screenshot:
`Snatch history had a quality in it, using that: HDTV`

[2015-06-22 20:09] Kumolo commented on #1869
@miigotu SR renamer is set to S%0S/%S.N.S%0SE%0E.%Q.N.%RG

HDTV is still there, it is x264 that is getting lost and causes, according to @fernandog that for some releases the group can't be determined.

[2015-06-22 20:09] miklschmidt commented on #1852
108/14

[2015-06-22 20:11] miigotu commented on #1852
@miklschmidt I'm pretty sure you are over the limit for a free user in one day there.

[2015-06-22 20:14] miklschmidt commented on #1852
@miigotu even if that was the case, i've had this problem for a week and sickrage is the only service i have running that uses that API. If it's a certificate problem, then why does 4.0.26 work fine?

[2015-06-22 20:15] Kumolo commented on #1869
Same result without the "Proper".

Just to recall what we have found so far:

1) There was the assumption that for some of my releases, the release group can't be found by SR because the Code flag is missing
2) My naming pattern in SR causes the code flag (x264) to be removed.

So, if 1) is true, shouldn't the renaming pattern be changeg to include the code? Or add a rename option to include the c

[2015-06-22 20:21] miigotu commented on #1852
@miklschmidt since the changes, you should try and remove the cache.db, cache/sessions, cache/rss cache/indexers

Aside from that, this might be difficult to catch, as I cannot reproduce it on the current commit.

[2015-06-22 20:36] miklschmidt commented on #1852
@miigotu

I shouldn't have done that, lol, now it hangs forever.

[2015-06-22 20:40] miigotu commented on #1869
Well, it should still be detecting the RG whether there is x264 there or not. Also, when renaming we should be adding back an equivalent quality that SR will recognize as "HDTV" if you happen to have to recan the episodes into SR someday.

HDTV is not actually HDTV quality in scene release names, SR determines an episode with just HDTV as SDTV, unless it also has (720|1080)[pi], because technicall

[2015-06-22 20:41] miigotu commented on #1852
It does hang the first time, while it builds the db and indexes and caches. Let it sit lol. Thats a problem for another time.

[2015-06-22 20:45] Coopeh commented on #1842
I get this exact error when trying to add a Scene Exception. On the current develop branch.

[2015-06-22 20:48] John-Gee commented on #405
I don't think this bug tracker is really the place for that kind of question...
But in simple terms, words on the whitelist are required for an episode to be picked up, and words on the blacklist will prevent the episode from being picked up.

[2015-06-22 20:49] miigotu commented on #1852
Its a good chance clearing the cache should work. I think its a good chance the different user-agent making your session invalid.

[2015-06-22 20:52] fonix99 commented on #1852
Still getting the same Error. Deleted all the Cache files like u said and tried both indexer separately.

Nzb.cat: (8 API Hits, 0 Grabs)
https://gist.github.com/fonix99/d053a60da02d632c7832

Usenet-Crawler: (5  API Hits, 2 Grabs - but that was with v4.0.26)
https://gist.github.com/fonix99/07fd7385d558d9de744a

[2015-06-22 20:53] Kumolo commented on #1869
Not sure I can follow @miigotu ...

Please see my first post in this thread. My issue is that SR doesn't correclty detect the RG.

Can we say that the SR renamer with this specific pattern is not OK because it makes "720p.HDTV" to "HDTV" i.e. skipps resolution? Can we call that a bug? My Rename patterns clearly includes quality which, should be something like "720p.BluRay".

Can we also summarize

[2015-06-22 20:57] phishin4dmb opened #1876 "[APP SUBMITTED]: SEARCHQUEUE-BACKLOG-261511 :: Unable to parse Daniel.Tiger's.Neighborhood.-.S01.SDTV-REPACK-CPM into a scene name. If it's a valid one log a bug."
### INFO
Python Version: **2.7.10 (default, Jun  3 2015, 20:43:13) [GCC 4.7.3 20130102 (prerelease)]**
Operating System: **Linux-3.10.35-x86_64-with-glibc2.2.5**
Locale: UTF-8
Branch: **master**
Commit: SiCKRAGETV/SickRage@52a6c31cdf545c4e2fd22925a92a3d0824c429cf
No Log available with ERRORS:
### ERROR
[code]
---
_STAFF NOTIFIED_: @SiCKRAGETV/owners @SiCKRAGETV/moderators

[2015-06-22 21:01] miklschmidt commented on #1852
Mine's back, still the same error - i'll go with 4.0.26 for now, still seems to work fine. @fonix99 you sure you're on 4.0.26? Did you restart sickrage after you checkout out the 4.0.26 tag?

[2015-06-22 21:05] miigotu commented on #1852
Try and update again? If it is a problem opening the output file or changing it's permission, you should now get a warning log line.

[2015-06-22 21:08] fonix99 commented on #1852
@miklschmidt

This last post was with the latest dev branch for testing the changes like miigotu said.

v.4.0.26. works fine for me.

[2015-06-22 21:17] miigotu commented on #1852
I'm curious is this change might be effecting you:
https://github.com/SiCKRAGETV/SickRage/compare/v4.0.26...develop#diff-ba5b5de76e0a70fd5abeaa199fe4f848L202

[2015-06-22 21:19] mbxplex commented on #405
@John-Gee thanks for the reply.

So, are whitelist words the same as required words?

[2015-06-22 21:21] fonix99 commented on #1852
I won't any good help with that, cause I really just a noob with all that stuff. I already happy to get this branches installed on my qnap :)

[2015-06-22 21:22] distracto commented on #1566
OK thanks for the clarification

[2015-06-22 21:24] miklschmidt commented on #1852
@fonix99 Sorry i misread that, nevermind :)

[2015-06-22 21:28] miklschmidt commented on #1852
@miigotu i'll try reverting back those 4 lines to the original 11 later and see if that makes a difference.

[2015-06-22 21:28] fonix99 commented on #1852
@miigotu with the changes u made in helpers.py, I still get the same warning messages

[2015-06-22 21:31] miigotu commented on #1852
@fonix99 thats why I'm thinking it might be somewhere else.

@miklschmidt might fix it. idunno. Are you using blackhole or no?

[2015-06-22 21:32] miklschmidt commented on #1852
@miigotu nope, not using blackhole.

[2015-06-22 21:34] miigotu commented on #1852
@miklschmidt could you turn on blackhole and see if it works?

[2015-06-22 21:40] fonix99 commented on #1852
I tried, but no luck.

https://gist.github.com/fonix99/de3dd733e54eb2f46a5d

[2015-06-22 21:44] miigotu commented on #1852
I'm pretty sure its the change I noted above, from when we removed eztv/ezrss.

@fonix99 can you try this?
Stop SR and Open sickbeard/search.py

change lines 202-205 from:
[code]
to:
[code]

Start SR and try snatch nzb again...

[2015-06-22 21:50] miigotu commented on #1852
Eh, I wish you had debug on in that gist you posted too xD. Missing some helpful info there.

[2015-06-22 21:51] fonix99 commented on #1852
Sorry, I will activated on the next one.

[2015-06-22 21:58] fonix99 commented on #1852
https://gist.github.com/fonix99/811c3dc9540cf6060b67

Is this a debug log?

[2015-06-22 21:58] fonix99 commented on #1852
damit wrong button^^

[2015-06-22 21:59] John-Gee commented on #405
That's at least how I use it.

As for future questions, I think the sickrage forums would be a better place than a bug tracker.
(https://sickrage.tv/forums/forum/)

[2015-06-22 22:12] jasonb92 commented on #1566
I'm using the same tracker for both, torrentleech

[2015-06-22 22:24] miigotu commented on #1842
@Coopeh It cannot be the same traceback, because the line that caused that is commented out now.
Please provide us with your error and traceback from the log, thanks.

[2015-06-22 22:27] Coopeh commented on #1842
2015-06-22 23:25:55 Thread-479 :: Failed doing webui callback: Traceback (most recent call last):
  File "/Volumes/Macintosh HD/Media/Software/SickRage/sickbeard/webserve.py", line 258, in async_call
    result = function(**kwargs)
  File "/Volumes/Macintosh HD/Media/Software/SickRage/sickbeard/webserve.py", line 1450, in editShow
    #showObj.default_ep_status = int(defaultEpStatus)
TypeError: in

[2015-06-22 23:06] miigotu commented on #1842
@Coopeh delete cache/cheetah

[2015-06-22 23:09] miigotu commented on #1869
Yes, both are a bug, but I haven't the time to fix it right now.

The quality placeholder is easiest to fix, but the RG, i'm not sure yet. Like i said before, I have been trying for ages to perfect a regex just for that reason.

[2015-06-22 23:11] miigotu commented on #1566
NZB's on the hot plate right now, haha. Give me time to work through some other issues and I'll return to this.

[2015-06-22 23:18] miigotu commented on #1852
Gotta go pick my wife up, I'll check more later.

[2015-06-23 00:16] bartley69 commented on #1852
I'm a bit noob, how can I downgrade to the previous version untill this is fixed? Thanks.

[2015-06-23 00:30] fernandog commented on #1876
bad naming pattern

[2015-06-23 00:31] #1876 closed

[2015-06-23 07:12] Coopeh commented on #1842
Fixed, thanks.

[2015-06-23 07:33] miigotu commented on #1852
[code]

[2015-06-23 08:05] bartley69 commented on #1852
Thanks mate, done. I changed a random episode of a show to Wanted and restarted Sickrage to force the daily search and it grabbed the episode right away. I will keep monitoring this thread and switch back to master once it has hopefully been rectified.

Cheers.

[2015-06-23 08:17] andyj682 commented on #622
@neoatomic I'm aware of how this stuff works; I promise. The specific example I was thinking of when I made the request was "Episodes" on Showtime. That show airs on Sunday nights--that is the official and correct air date you'd find in any TV database. But Showtime made every episode this season available "on demand" 5-6 days ahead of the official air date, which means the episodes were legitimat

[2015-06-23 08:27] andyj682 commented on #1798
@neoatomic @fernandog Yeah, no big deal. I guess maybe I'm not understanding the point of that option in SickRage, or something? I wouldn't have asked about extending it to cover other instances where it replaces/deletes files if the current option didn't already exist.

[2015-06-23 09:23] miigotu commented on #1852
Can one of you verify that tag v4.0.27 fails? then I can diff 26 and 27 and see a smaller diff.

[2015-06-23 09:28] bartley69 commented on #1852
Is it just
git checkout -b tag4027 v4.0.27

?

[2015-06-23 10:46] jizz opened #1877 "Connection error ('Connection aborted.', gaierror(-2, 'Name or service not known'))"
Running in Docker with this container: https://registry.hub.docker.com/u/needo/sickrage/
SR Version:	BRANCH: (master) / COMMIT: (e6c4cfd6546b74d5527361f6f0bdc3adc232bdb0)
Python Version:	2.7.6 (default, Mar 22 2014, 22:59:56) [GCC 4.8.2]

Started happening about a week ago but only starting to investigate now.

Errors for anything that requires data to be fetched/refreshed:

eg:
19:24:21 WARNING::

[2015-06-23 11:34] miigotu commented on #1852
yep

[2015-06-23 11:35] miigotu commented on #1852
but the
[code]
is important too, it makes sure your repo is clean

[2015-06-23 11:45] fernandog commented on #1877
No internet on that moment. No issue

[2015-06-23 11:45] #1877 closed

[2015-06-23 11:51] fonix99 commented on #1852
Test with v4.0.28:

https://gist.github.com/fonix99/df762db5addf8b84c972

[2015-06-23 12:07] bartley69 commented on #1852
I was on v4.0.26 which worked great, just went back to v4.0.27 again and i got the error again.

https://gist.github.com/bartley69/33eab1a39222b1527412

I will try 4.0.28 now.

Cheers.

[2015-06-23 12:09] miigotu commented on #1852
I'll have just a few more to try to be sure. One sec.

[2015-06-23 12:15] bartley69 commented on #1852
v4.0.28 didn't grab the show, yet there are 2 episodes set to Wanted. It didn't give an error message though either?

https://gist.github.com/bartley69/49097d8cf634989efe1d

[2015-06-23 12:15] miigotu commented on #1852
git checkout -b ezrss-gone be1528e5f19b9a5f846ad2110f32a2f06ce688f4
test, then:
git checkout -b before-ezrss-gone 1a9bc78eddcb757bb3879c9046378a2f71fede87
test again...

[2015-06-23 12:16] miigotu commented on #1852
if one of those works and the other doesn't, I have only one place to look.

[2015-06-23 12:22] bartley69 commented on #1852
ezrss-gone be1528e5f19b9a5f846ad2110f32a2f06ce688f4
https://gist.github.com/bartley69/fd3fe5d2f2d0d56157b2

Error is back, trying the second one now.

[2015-06-23 12:27] bartley69 commented on #1852
before-ezrss-gone 1a9bc78eddcb757bb3879c9046378a2f71fede87
It worked! It added it to SAB perfectly!
https://gist.github.com/bartley69/594e0181715d60058537

[2015-06-23 12:27] fonix99 commented on #1852
git checkout -b before-ezrss-gone 1a9bc78eddcb757bb3879c9046378a2f71fede87

are snatching files

[2015-06-23 12:31] miigotu commented on #1852
then its the problem I pointed to earlier today, I'll push a commit shortly.

[2015-06-23 12:34] bartley69 commented on #1852
I know Im a little retarded and I'm sorry, how do I switch to dev and master branches? Is it the similar to what we just did?
<pre>git reset --hard
git checkout -- .
git checkout develop</pre>

And just swap develop with master if that's what I want?

[2015-06-23 12:36] miigotu commented on #1852
yep, as long as you haven't committed anything to develop/master

[2015-06-23 12:38] bartley69 commented on #1852
Thankyou! And thanks for looking into the issue for us and solving! I'm off to bed, 8:45pm and early start in the morning. I will check in the morning and see if it's all fixed in the master branch. Thanks again for your help!

[2015-06-23 12:45] miigotu commented on #1852
how simple the changes are to follow when you only have one commit to compare xD>
https://github.com/SiCKRAGETV/SickRage/compare/1a9bc78eddcb757bb3879c9046378a2f71fede87...be1528e5f19b9a5f846ad2110f32a2f06ce688f4

[2015-06-23 12:50] fonix99 commented on #1852
great to hear that u found it :) looking forward for the next release.

[2015-06-23 12:56] miigotu commented on #1852
Thing is, the same place may be the cause of #1579, but for now I will just revert this section.

[2015-06-23 13:02] miigotu commented on #1852
Merged to develop, can I haz test?

[2015-06-23 13:32] fonix99 commented on #1852
I tried the latest dev. No warnings, but also no snatching. Maybe I did something wrong!? How can I make a clean install from dev? Like I said, I am a noob an I guess I made a dirty install (just copy&paste with WinSCP to the Sickrage dir location on my Qnap.^^

Back to v4.0.26 and it works again.

[2015-06-23 13:41] bartley69 commented on #1852
Switched to dev and did git pull, got the update of 2 commits. However i had the same results, no errors but no snatches.

[2015-06-23 13:43] miigotu commented on #1566
You could try a few things in the meantime.

from command line:
`python -c 'import backports'`

Probably get an error, just need to know if you do.

python -c 'import os;print os.getenv("CURL_CA_BUNDLE")'
python -c 'import os, requests;print os.getenv("REQUESTS_CA_BUNDLE")'

These should return `None`

You can try my pr that has ssl verification turned on:

[code]

I set CA certs in that branch, a

[2015-06-23 13:44] miigotu commented on #1852
Hmm, must be on the sanitizeSceneName somehow then? Will try again tomorrow.

[2015-06-23 13:45] fonix99 commented on #1852
no worry, take your time

[2015-06-23 13:52] jizz commented on #1877
Hello, please excuse the typo in the last line. It was meant to read "can ping these sites fro within container"

There is an internet connection, I even copied the above log items externally from my network.

[2015-06-23 13:52] henbruas commented on #1566
The first gives the error "ImportError: No module named backports". The second returns None, the third gives the error "ImportError: No module named requests". I can try the new branch later.

[2015-06-23 13:54] fernandog commented on #1877
@jizz is this happens ALWAYS or only happened once?

[2015-06-23 14:01] jizz commented on #1877
Always. Logs are littered with the same error. Nothing appears to have been fetched/updated since 16/6/15.

I've got logs dating back to the 14th, happy to start digging through them if you give me an idea of what would be useful.

[2015-06-23 14:04] miigotu commented on #1852
Committed another attempt at fixing it.

[2015-06-23 14:04] miigotu commented on #1852
On develop branch.

[2015-06-23 14:11] fernandog commented on #1877
@miigotu SSL related?

@jizz enabled DEBUG in SR settings, force a search and than please send FULL logs

[2015-06-23 14:36] jizz commented on #1877
http://pastebin.com/VXwUtDAi

FYI, I can pull  http://sickragetv.github.io/sr_tvrage_scene_exceptions/exceptions.txt down into the container via wget

[2015-06-23 14:40] fonix99 commented on #1852
https://gist.github.com/fonix99/a0e6daa7219e7ddbb1fd

With activate Black hole. If I try nzbget, it snachtes but the nzb file won't fetch.

[2015-06-23 14:47] miigotu commented on #1566
One line at a time:
`python -c 'import os;print os.getenv("CURL_CA_BUNDLE")'`

[2015-06-23 14:51] henbruas commented on #1566
I get the same errors on the try-verify-ssl branch. Searching piratebay gives the '_socketobject' object has no attribute 'set_tlsext_host_name' error, while searching rarbg gives the following error:
[code]

[2015-06-23 14:53] henbruas commented on #1566
Regarding the two Python commands, I did do them one at a time. Like I stated, the result for the first was None, the result for the second was
´´´
Traceback (most recent call last):
  File "<string>", line 1, in <module>
ImportError: No module named requests
´´´

[2015-06-23 15:53] lendenrk opened #1878 "Some shows are not found/recognized anymore"
Branch : master
Commit hash : 2d515e9aa4aea0ec1798289df691cd5e949828ed
Your operating system and python version : Debian 3.2.54-2 x86_64 GNU/Linux (Python 2.7.3)

The daily, the backlog and the manual searchs don't find or recognize some of the shows which were few days ago (In my case the shows are The Messengers and Ballers). Besides that, other shows still work fine and are sent to my downloade

[2015-06-23 16:20] nrk666 commented on #1825
Anything specific you want me to look for on the dev branch? I'm just curious about switching back to master. So far, the dev branch seems to be working, haven't seen the "re" error lately, but I've been applying the new commits as they come down.

[2015-06-23 16:44] miigotu commented on #1566
my bad, misread. been up all night

[2015-06-23 16:48] miigotu commented on #1825
No reason to switch back to master just yet if you dont need to.

It helps to have the fixes checked for a few days, and I have been working on a few bigger fixes as well in develop.

[2015-06-23 17:34] miigotu commented on #1852
lol same log 2x @fonix99 .

[2015-06-23 17:35] miigotu commented on #1852
@fonix99 Its expected to get a warning for https and nzb black hole, because it doesnt use requests there and cannot verify the connection. Still using urlib2

[2015-06-23 17:43] nrk666 commented on #1825
Ok, no prob.

[2015-06-23 17:45] miigotu commented on #1877
@jizz stop SR and delete cache/sessions cache/rss cache/indexers and cache.db

When you start it back up it will take a few minutes before it is ready.

[2015-06-23 17:48] fonix99 commented on #1852
Yes, I made some equal tests (because at the first time it didn't work) and posted the logs^^ I guess only the last two are important to u.

Do I understand u right, that https request only work with nzbget/sabnzb but not black hole? So, the "failed" message on the last log is "ok"? I am using only nzbget directly with sickrage, so I can live without the full black hole function atm ;)

[2015-06-23 18:19] miigotu commented on #1852
I think so, but we can't be sure yet without more test results.

[2015-06-23 18:23] miigotu commented on #1878
"Unable to parse the filename **** into a valid show" is normal for shows that aren't in your list, because daily and cache updates just grab info about all of the newest releases and let SR sort through them.

The reason Ballers is not being recognized (if it is in your show list) is because you need a scene exception for it.

[2015-06-23 18:27] miigotu commented on #1878
Or there might be an issue, "Found result" shows the title without ".", and parser trying to use one with ".", so maybe it isnt matching releases it snatched itself.  I'll take a look tonight or tomorrow, as I have been hackalicous for like 2 days straight.

[2015-06-23 18:40] miigotu commented on #1872
utf-16? -.-

[2015-06-23 18:48] fernandog commented on #1878
@lendenrk you need to add "Ballers (2014)" to scene exceptions. Edit show and add it

[2015-06-23 18:49] fernandog commented on #1878
@lendenrk also for Messengers
The Messengers (2015)
The Messengers 2015

notice in your log that SR is searching for "Beginning backlog search for: [The Messengers (2015)]"

the results don't have the year

[2015-06-23 18:49] #1878 closed

[2015-06-23 18:56] miigotu commented on #1878
Ballers 2015 xD

[2015-06-23 18:58] fernandog commented on #1878
updated

[2015-06-23 19:04] fonix99 commented on #1852
Lets see what the others have to report.

[2015-06-23 19:06] ZulDemon opened #1879 "[Feature Request]: Add ilovetorrents as a search provider."
1) ILoveTorrents
2) ILT
3) hxxps://www.ilovetorrents.me
4) Torrent
5) Private

I searched open and closed issues and didn't find this requested previously, so I thought I would ask. I am currently using custom RSS feeds, but would love to be able to backlog search. Thank you for the amazing work that you do!

[2015-06-23 19:09] fernandog commented on #1858
@miigotu can we remove the https from token then?

[2015-06-23 19:10] fernandog commented on #1849
@gborri can you check this please?

[2015-06-23 19:12] #1299 closed

[2015-06-23 19:12] #1298 closed

[2015-06-23 19:13] #1308 closed

[2015-06-23 19:23] eleonrk commented on #1878
Ok, thank you guys for your answers.

[2015-06-23 19:37] #1858 closed

[2015-06-23 19:38] miigotu commented on #1852
@fonix99 did you also update again? need to make sure my latest changes around that code didnt break it again.

[2015-06-23 19:59] fonix99 commented on #1852
Have not much time atm, will test it later this evening.

[2015-06-23 20:01] miigotu commented on #1852
kk

[2015-06-23 21:04] cgram23 opened #1880 "[APP SUBMITTED]: 79337: Could not refresh subtitles"
### INFO
Python Version: **2.7.6 (default, Mar 22 2014, 22:59:56) [GCC 4.8.2]**
Operating System: **Linux-3.16.0-39-generic-x86_64-with-Ubuntu-14.04-trusty**
Locale: unknown
Branch: **master**
Commit: SiCKRAGETV/SickRage@2d515e9aa4aea0ec1798289df691cd5e949828ed
No Log available with ERRORS:
### ERROR
[code]
---
_STAFF NOTIFIED_: @SiCKRAGETV/owners @SiCKRAGETV/moderators

[2015-06-23 21:36] fonix99 commented on #1852
latest dev branch looks fine to me.

https://gist.github.com/fonix99/741dd1189cdbd4453dd3

[2015-06-23 21:37] bartley69 commented on #1852
Just heading off to work but thought i'd try it before i left. Updated to latest version of dev branch, no error but did not grab my wanted episodes either.

https://gist.github.com/bartley69/aa3418b6ded52c8907df

[2015-06-23 21:38] miigotu commented on #1852
@bartley69 if you had debug on you would see why.

[2015-06-23 21:41] bartley69 commented on #1852
Ok, how do I turn it on? I'm pretty noob bit doing what I can to help!

[2015-06-23 21:44] fonix99 commented on #1852
I did it inside sickrage. Settings - General - Advanced Settings - "Enable Debug".

[2015-06-23 21:54] miigotu commented on #1852
I need to add a script that pasties the log for you =P

[2015-06-23 22:33] jizz commented on #1877
@miigotu No change. It's been running for over 30 minutes and I still see the same connection errors. New .db files have been created but they appear to be empty due to their size.

[2015-06-23 23:00] fernandog commented on #1877
@jizz did you enabled proxy host?

[2015-06-23 23:14] jizz commented on #1877
Nope, that setting is blank/disabled.

[2015-06-24 00:21] Vodka2014 opened #1881 "Post Processing Issues"
Hi,

Please see the below:

BRANCH: (master)
COMMIT: (207bd7ac693e4beee0b72d4d3a05e0c7aca95300)
OpenElec RPI 2
Python Version:	2.7.3 (default, Mar 31 2015, 15:16:49) [GCC 4.9.2]

I have updated the system and now I am getting issues when post processing starts. The files just sit in the download folder and that is it.

It was working before the last 2 updates that I did.

Now - https://gist.github

[2015-06-24 02:51] papampi opened #1882 "[APP SUBMITTED]: Thread-471 :: git fetch origin returned : error: insufficient permission for adding an object to repository database .git/objects fatal: failed to write object fatal: unpack-objects failed"
### INFO
Python Version: **2.7.6 (default, Mar 22 2014, 22:59:56) [GCC 4.8.2]**
Operating System: **Linux-3.13.0-55-generic-x86_64-with-Ubuntu-14.04-trusty**
Locale: unknown
Branch: **master**
Commit: SiCKRAGETV/SickRage@52a6c31cdf545c4e2fd22925a92a3d0824c429cf
Link to Log: https://gist.github.com/e395cad9161f985ba673
### ERROR
[code]
---
_STAFF NOTIFIED_: @SiCKRAGETV/owners @SiCKRAGETV/moderators

[2015-06-24 05:34] papampi commented on #1882
used to get updates automatically before, but now I have to run "sudo git pull" from command line.
seems like a permission problem came out of no where.

[2015-06-24 05:44] Rouzax commented on #1872
Is this an issue with SickRage or DroidBeard?

[2015-06-24 06:18] miigotu commented on #1882
From inside sickrage dir:
`sudo chown -R .git`

[2015-06-24 06:20] #1882 closed

[2015-06-24 07:19] miigotu commented on #1872
Most likely DroidBeard, as it is passing the string to sickrage, and sickrage is trying to decode it as utf8 so DroidBeard is passing an improperly encoded string.

[2015-06-24 07:19] #1872 closed

[2015-06-24 07:55] miigotu commented on #1877
firewall or some kind of restriction in the container? idk, this is out of my control. This is not a SR problem, it is an implementation issue.

[2015-06-24 08:34] bartley69 commented on #1852
I enabled debug logging but can't find where the logs are saved to. I assumed it would be in /share/MD0_DATA/.qpkg/SickBeard-TVRage/SickBeard-TVRage but it is not. If I can help in any way let me know.

[2015-06-24 09:28] jstevenson72 opened #1883 "[APP SUBMITTED]: Thread-30 :: git config remote.origin.url https://github.com/SiCKRAGETV/SickRage.git returned : fatal: bad config file line 1 in .git/config"
### INFO
Python Version: **2.7.9 (default, Dec 10 2014, 12:24:55) [MSC v.1500 32 bit (Intel)]**
Operating System: **Windows-8-6.2.9200**
Branch: **master**
Commit: SiCKRAGETV/SickRage@d185980c89055f7179deec708141710ce386a572
Link to Log: https://gist.github.com/158fb320625d425a6eeb
### ERROR
[code]
---
_STAFF NOTIFIED_: @SiCKRAGETV/owners @SiCKRAGETV/moderators

[2015-06-24 09:38] miigotu commented on #1852
unrelated error, but I need to fix that now too.

[2015-06-24 09:39] miigotu commented on #1852
Closing this for now, as it seems to be fixed, but we can still discuss here as I will get notifications.

[2015-06-24 09:39] #1852 closed

[2015-06-24 09:43] bartley69 commented on #1852
I'm on dev branch and mine still doesn't work? Do I need to do something else?

[2015-06-24 09:50] boyahr opened #1884 "Sickrage always picking dead torrents"
I tried to download "Ergo proxy", but Sickrage always seems to pick the worst torrents available, even though torrents with lots of seeders are available, is there a way to fix this ?
[code]
For example, look on https://kat.cr/usearch/ergo%20proxy/ , the DeadFish version has lots of seeders, but the one selected by Sickrage litteraly has none.

[2015-06-24 10:00] jstevenson72 opened #1885 "[APP SUBMITTED]: Thread-54 :: git rev-parse --verify --quiet "@{upstream}" returned : fatal: No upstream configured for branch 'master'"
### INFO
Python Version: **2.7.9 (default, Dec 10 2014, 12:24:55) [MSC v.1500 32 bit (Intel)]**
Operating System: **Windows-8-6.2.9200**
Branch: **master**
Commit: SiCKRAGETV/SickRage@207bd7ac693e4beee0b72d4d3a05e0c7aca95300
Link to Log: https://gist.github.com/5bee07ebcc1cc2858c58
### ERROR
[code]
---
_STAFF NOTIFIED_: @SiCKRAGETV/owners @SiCKRAGETV/moderators

[2015-06-24 10:07] neoatomic opened #1886 "TVRage show status icon not showing correcly on frontpage."
Came across a small bug.
If you add a show with the TVRage indexer and it has the Show Status is "Returning Series" it shows as not active (red cross) on the main-page under the column "active"

TheTVDB uses Show Status: 	Continuing
TVRage    uses Show Status: 	Returning Series

So the template probably needs an tweak so that when it receives "Returning Series" it also gets a green "v" icon instea

[2015-06-24 10:10] neoatomic commented on #1884
@boyahr Please follow the guidelines for posing an issue. :
https://github.com/SiCKRAGETV/sickrage-issues#submitting-a-bugissue-ticket

[2015-06-24 10:13] neoatomic commented on #1879
@ZulDemon Please fill in the remaining questions. :

To request a provider please post the following. :

Name :
URL :
What kind of provider.? : (Torrent, NZB, Subtitle, Indexer, download client.)
Open or Invite only? :
Does the website have a API available.? :
Is it language specific.? : (focused on a single language or country.)
Motivate why this provider needs to be added.? :

[2015-06-24 10:15] neoatomic commented on #1880
Logs please.?

[2015-06-24 10:20] neoatomic commented on #1883
See https://github.com/SiCKRAGETV/sickrage-issues/issues/1853

[2015-06-24 10:20] #1883 closed

[2015-06-24 10:22] neoatomic commented on #1885
See https://github.com/SiCKRAGETV/sickrage-issues/issues/1144

[2015-06-24 10:22] #1885 closed

[2015-06-24 10:26] boyahr commented on #1884
Sorry about that

Branch : master
Commit hash : 2d515e9aa4aea0ec1798289df691cd5e949828ed
Your operating system and python version :
- Synology DSM 5.2
- 2.7.10 (default, Jun 3 2015, 17:38:42) [GCC 4.6.4]

[2015-06-24 10:46] neoatomic commented on #1884
We need the full logs to troubleshoot otherwise we cant see what SR is trying to do.
Also the quality settings for that series. (Sd, hdtv etc.)

Meanwhile check under the KAT settings of SR if you can set a minimum of seeders/peers.
Also you could use "required words" to only pick torrents from quality release groups.
And if i recall correct, there is another option to only download from trusted u

[2015-06-24 11:43] boyahr commented on #1884
Ok, so I deleted all the info & files on "Ergo proxy", switched debug to 1 and restarted.  There was an update and the hash is now :
207bd7ac693e4beee0b72d4d3a05e0c7aca95300

I started again by adding a new show, asked for 720p but this time the backlog didn't even start to download a torrent : https://gist.github.com/boyahr/2823c56b7753f6cbb133

Here is a pic of the content of the folder and epis

[2015-06-24 11:53] neoatomic commented on #1884
Your log shows an SSL error. Are you using a proxy or is the site blocked in your country.?

[code]

[2015-06-24 11:58] boyahr commented on #1884
Those websites are blocked by dns in my country, but I set up the NAS to use OpenDNS ips (which bypasses), so I don't think it could be the cause (however, I'll try to use the proxy option later today).

The other reason could be that my NAS uses https, but my certificate never failed me until now (a free one by StartSSL).

[2015-06-24 12:13] ShinobiX9X opened #1887 "sickrage doesn't find a tvshow (real time)"
hi, for some reason, sickrage can't find a certain show.
here is the log:
https://gist.github.com/ShinobiX9X/7403e832b85977bb8bd6

BRANCH: (master) / COMMIT: (207bd7ac693e4beee0b72d4d3a05e0c7aca95300)
freenas (jail) python i don't know
i added real time with bill maher
it can't find the torrent

[2015-06-24 12:22] neoatomic commented on #1887
https://github.com/SiCKRAGETV/sickrage-issues#submitting-a-bugissue-ticket

[2015-06-24 12:34] miigotu commented on #1852
From your log there are no episodes wanted in your shows.

[2015-06-24 12:35] miigotu commented on #1852
Also, when I fix the namecache thing it probably will work fine. Tomorrow.

[2015-06-24 13:18] fernandog commented on #1880
@miigotu maybe we don't have log with errors because DEBUG is disabled. can be that?

[2015-06-24 13:18] bartley69 commented on #1852
But there is episodes set to wanted. It's not seeing them? I will go back to 4026 and change nothing else and see if that grabs them.

[2015-06-24 13:22] fernandog commented on #1886
fix label is when there a fix available

[2015-06-24 13:24] fernandog commented on #1886
the code seems ok. check it:
https://github.com/SiCKRAGETV/SickRage/blob/master/lib/tvrage_api/tvrage_api.py#L443

https://github.com/SiCKRAGETV/SickRage/blob/master/sickbeard/databases/mainDB.py#L150

https://github.com/SiCKRAGETV/SickRage/blob/master/gui/slick/interfaces/default/inc_bottom.tmpl#L30

[2015-06-24 13:49] neoatomic commented on #1886
Strange, i just check the series and now it states  "Show Status: Continuing" ?!
( Just to be sure, lower/upper case characters are not a problem.? )

![sr2](https://cloud.githubusercontent.com/assets/7928052/8331312/cbfb58de-1a87-11e5-8399-139c078bf2a6.png)

[2015-06-24 13:49] #1886 closed

[2015-06-24 14:14] styx67 commented on #442
I have the same problem than @meokey in January. It started with commit c16b2c1c769a2c7c8d93707ff44ac00894501c6f on April 30.

Branch: master
Commit hash: 207bd7ac693e4beee0b72d4d3a05e0c7aca95300
Python version : 2.7.10

below is the log with debug informations I put in autoProcessTV.py :

print requests.__file__
print dir(requests)
print requests.__name__
print requests.__doc__

http://pastebin.c

[2015-06-24 14:56] cgram23 commented on #1880
Here's the relevant traceback.  Let me know if you need any other information:

2015-06-24 10:51:26 DEBUG    SHOWQUEUE-REFRESH :: 79337: Not creating SQL queue - record is not dirty
2015-06-24 10:51:26 DEBUG    SHOWQUEUE-REFRESH :: 79337: Creating episode from /mnt/Media/DVR/Friday Night Lights/Friday Night Lights - 1x19 - Ch-Ch-Ch-Ch-Changes.mp4
2015-06-24 10:51:26 DEBUG    SHOWQUEUE-REFRESH :: 7

[2015-06-24 16:26] fernandog commented on #1880
@cgram23 this episode has a bad naming. download manually

https://github.com/SiCKRAGETV/sickrage-issues/issues/1031

[2015-06-24 16:26] #1880 closed

[2015-06-24 16:27] fernandog commented on #1712
@miigotu strange as we already fixed this

[2015-06-24 16:27] fernandog commented on #1712
reopen if happens again

[2015-06-24 16:28] fernandog commented on #1637
no replies

[2015-06-24 16:29] #1712 closed

[2015-06-24 17:37] Vodka2014 commented on #1881
Any update please ?

[2015-06-24 18:34] fernandog commented on #1729
@ThaPwned are you still having this issue?

[2015-06-24 18:43] miigotu commented on #1852
See my last comment. =P

[2015-06-24 19:20] frriction commented on #1855
case -1 (notification off)
I turned off all the notifications; no issue files moved and created symlink successfully.

case -2 (Boxcar2 notification)
I turned on Boxcar2 notification; no  issue moved and created symlink successfully for all the episodes in season and received notification on Boxcar2.

case -3 (Boxcar2 + trakt notification)
Than I turned on trakt notification along side Boxcar2 not

[2015-06-24 21:08] ThaPwned commented on #1729
@fernandog Nope, nothing to see in the logs.

[2015-06-24 21:11] #1729 closed

[2015-06-24 21:51] boyahr commented on #1884
The SSL error repeated itself several times today, even though I set up the use of proxys for torrents.  I don't know what could be causing it.  Otherwise, backlogging seems to be working as it should, but I don't know if it's due to luck or not :P

[2015-06-24 22:28] rastating commented on #1872
Hey,

There's only one place in DroidBeard were show names are passed to the API, which is when calling the ```sb.searchtvdb``` method. Judging from the tag in the error log though (SHOWQUEUE-REFRESH) and the fact there is quality information in there, looks like the show already exists within the users SickRage installation, so possibly needs looking into in the SickRage code too.

I'll patch the

[2015-06-25 01:05] miigotu commented on #1872
@rastating Yes, it might be a problem in SR.

It is hard to tell from the traceback whether the api gets it and then can convert it completely or if it is erroring on the initial convert.

Best to just make sure your string can be converted to utf-8 before passing it anyways.

[2015-06-25 01:36] syaeger opened #1888 "Separate NZBs for Show and Pars - SickRage appears to only get Pars"
I'm just switching to SickRage from SickBeard, but so far, it appears as if every NZB file that SickRage has sent to SabNzbd has just been the show's Pars file NZB file.

So far, all of the shows have had separate posts on BinSearch.info for the show and the pars.  And the Show's NZB file was older than the Pars' NZB file.

The only evidence I have that this is what is happening is from post morte

[2015-06-25 01:40] syaeger commented on #1888
The file names in my last message were mangle during the post.  They should have been
SabNzbd's "File/99999999/" and "File/99999999/ADMIN/99999999.nzb.gz.  With underscores around the ADMIN folder name.

[2015-06-25 02:18] miigotu commented on #1872
@rastating I'm starting to think it is in SR, disregard.

@Rouzax you were forcing a refresh via api correct? If so, forcing the refresh from SR itself should do the same error. Can you check?

[2015-06-25 04:54] mcmikev opened #1889 "[APP SUBMITTED]: Proper instance has no attribute 'resultType'"
### INFO
Python Version: **2.7.10 (default, Jun  3 2015, 20:43:13) [GCC 4.7.3 20130102 (prerelease)]**
Operating System: **Linux-3.10.35-x86_64-with-glibc2.2.5**
Locale: UTF-8
Branch: **master**
Commit: SiCKRAGETV/SickRage@207bd7ac693e4beee0b72d4d3a05e0c7aca95300
No Log available with ERRORS:
### ERROR
[code]
---
_STAFF NOTIFIED_: @SiCKRAGETV/owners @SiCKRAGETV/moderators

[2015-06-25 05:46] Rouzax commented on #1872
I did a force full update of Penny Dreadful but that did not trigger the error.
Think that the error occurred when I initialy opened the show Penny Dreadful in DroidBeard and it got the information the first time, could that be?

[2015-06-25 05:50] miigotu commented on #1872
Not sure. I can't reproduce it.

I added Penny dreadful and did searches via api with it as well as show refresh and update via api and gui.

No errors, even with tornado logging on.

[2015-06-25 05:59] Rouzax commented on #1872
Same here.
I just cleared all data of DroidBeard and uninstalled it. After I configured it again but it does not show this error any more :confused:

[2015-06-25 07:30] dirkr07 commented on #1889
### INFO
Python Version: **2.7.10 (default, Jun  4 2015, 00:30:19) [GCC 4.3.2]**
Operating System: **Linux-2.6.32.12-ppc-with-glibc2.0**
Locale: UTF-8
Branch: **master**
Commit: SiCKRAGETV/SickRage@207bd7ac693e4beee0b72d4d3a05e0c7aca95300
Link to Log: https://gist.github.com/a8bf64150037169573b4
### ERROR
[code]
---
_STAFF NOTIFIED_: @SiCKRAGETV/owners @SiCKRAGETV/moderators

[2015-06-25 10:19] miigotu commented on #1889
Full log please. Traceback isn't in that log.

[2015-06-25 10:24] dirkr07 commented on #1889
[code]

[2015-06-25 10:25] miigotu commented on #1888
Which indexer is doing this?

[2015-06-25 10:28] miigotu commented on #1889
Found it, pushing shortly.

[2015-06-25 12:33] #1889 closed

[2015-06-25 13:20] hulubi opened #1890 "[APP SUBMITTED]: Proper instance has no attribute 'resultType'"
### INFO
Python Version: **2.7.9 (default, Apr 30 2015, 10:19:51) [GCC 4.3.6]**
Operating System: **Linux-3.12.6-x86_64-with-glibc2.0**
Locale: UTF-8
Branch: **master**
Commit: SiCKRAGETV/SickRage@207bd7ac693e4beee0b72d4d3a05e0c7aca95300
No Log available with ERRORS:
### ERROR
[code]
---
_STAFF NOTIFIED_: @SiCKRAGETV/owners @SiCKRAGETV/moderators

[2015-06-25 13:24] eph2112 commented on #1890
### INFO
Python Version: **2.7.9 (default, May 23 2015, 07:37:15) [GCC 4.2.1 20070831 patched [FreeBSD]]**
Operating System: **FreeBSD-9.1-RELEASE-amd64-64bit-ELF**
Locale: unknown
Branch: **master**
Commit: SiCKRAGETV/SickRage@207bd7ac693e4beee0b72d4d3a05e0c7aca95300
No Log available with ERRORS:
### ERROR
[code]
---
_STAFF NOTIFIED_: @SiCKRAGETV/owners @SiCKRAGETV/moderators

[2015-06-25 13:40] degtyarev708 opened #1891 "[Feature Request] Move+symlink post processing option"
Currently the only space efficient way to organize while also keeping the seed (That I know of) is to symlink from the download folder to the organized series folder. This is great until you wish to start deleting shows or stop seeding, and it becomes fiddly at best with large libraries. Ideally, Id request an option to move the file, rename/organize it, and then sym/hardlink it back to the origin

[2015-06-25 13:46] fernandog commented on #1891
don't see this happening any time soon. too complicated

[2015-06-25 14:02] neoatomic opened #1892 "[APP SUBMITTED]: [Errno 2] No such file or directory: 'lib/network_timezones/zoneinfo.txt'"
### INFO
Python Version: **2.7.10 (default, Jun  3 2015, 17:38:42) [GCC 4.6.4]**
Operating System: **Linux-3.2.40-armv7l-with-glibc2.4**
Locale: unknown
Branch: **develop**
Commit: SiCKRAGETV/SickRage@33f51a24c6a274e92cf431a32fda9c723e3d0cbd
Link to Log: https://gist.github.com/3b1788a4d8173b8fc983
http://pastebin.com/VtEbsKnp

### ERROR
[code]
---
_STAFF NOTIFIED_: @SiCKRAGETV/owners @SiCKRAGETV/

[2015-06-25 14:06] neoatomic commented on #1892
Just updated on Develop. Got 2 errors. :large_blue_circle:

[code]
[code]

[2015-06-25 14:34] MGaetan89 opened #1893 "Update changelog"
Changes have not been provided since version 4.0.18. Latest version is 4.0.28. Is it possible to update it?

https://github.com/SiCKRAGETV/SickRage/blob/master/CHANGES.md

[2015-06-25 14:39] syaeger commented on #1888
If by indexer you mean NZB Search provider, I only have BinSearch selected.

Good news, last night, a show downloaded almost correctly.

[2015-06-25 14:45] neoatomic commented on #1890
Was fixed on Develop.
Please switch to develop to test or wait till its on master.

https://github.com/SiCKRAGETV/SickRage/issues/2005

[2015-06-25 15:01] OlleDenStore commented on #1483
This is really annoying. The only way to get new shows to download automatically is to add them with default episode status: wanted, and then super quickly set all the old episodes to skipped before it SR starts downloading them. If you aren't fast enough you get stuck having to seed old episodes(at least with my search provider).
It would be great if this could be made a priority for the next upd

[2015-06-25 15:05] fernandog commented on #1483
@OlleDenStore set default to ignored. then go to show page set the ones (already aired) you want as wanted. new episodes will be set as wanted automatic by SR

[2015-06-25 15:55] fernandog commented on #1893
@MGaetan89 if you - or someone else - want to help:

https://github.com/SiCKRAGETV/SickRage/compare/v4.0.18...v4.0.19
https://github.com/SiCKRAGETV/SickRage/compare/v4.0.19...v4.0.20
etc...

Direct link to edit the file:
https://github.com/SiCKRAGETV/SickRage/edit/develop/CHANGES.md

[2015-06-25 15:56] OlleDenStore commented on #1483
Ok, I just tried that. I'll see tomorrow if it works. What concerns me a bit is that the default Ep status for the show is listed as Ignored when I check it under Manage -> Mass Update.
Thanks a lot for the quick response!

[2015-06-25 15:56] fernandog commented on #1888
or its fake releases or bad SabNzbd setup

[2015-06-25 16:08] frriction commented on #1891
well for me it is always what you described.
say for tv torrent; I use rtorrent which download file in /media/pendrive/rtorrent/tv when download finishes rtorrent calls for nzbtomedia script this script calls sickrage to postprocess finished download. Sickrage copy file to destination(appropriate series and season) folder than it creates symlink to original download folder so rtorrent keep seeding

[2015-06-25 16:59] Vodka2014 commented on #1881
Can someone please answer this. This is affecting post processing.

[2015-06-25 17:17] fernandog commented on #1881
<div class="ctrlHolder"><input class="inlay" name="username" type="text" placeholder="Username" autocomplete="off" /></div>
<div class="ctrlHolder"><input class="inlay" name="password"

update sabtonzb scripts. check forums. SR needs login

[2015-06-25 18:33] ZulDemon commented on #1879
Name : i love torrents
URL : https://www.ilovetorrents.me
What kind of provider.? : Torrent
Open or Invite only? : Invite only (have available)
Does the website have a API available.? : Not that I can find.
Is it language specific.? : English
Motivate why this provider needs to be added.? : Upon completion, unicorns will be re-born and there by granting all the ability to piss rainbows and shit le

[2015-06-25 18:46] miigotu commented on #1892
Need to prepend the sickrage.PROG_DIR to the paths, I'll do it when I get home.

[2015-06-25 19:18] #1779 closed

[2015-06-25 19:29] neoatomic commented on #1855
So we can conclude that the problem is the Trakt notifier.
If you have checked the user-name/password/token than try to use http instead of https.

[2015-06-25 19:34] neoatomic commented on #1884
What you can do is a clean install and start with with a new database/config.ini and see if that solves it. Maybe the installation got bad.? (Off course do a backup in case that doesn't solve it.)

I'm running a Synology myself and dont have any SSL problems, so it must be local/specific to your setup.

[2015-06-25 19:41] neoatomic commented on #1887
@ShinobiX9X Enable "Air by date:" in the show and check if the show-name is the same as the title of the torrents. If not add a scene exception with the correct torrent name.

[2015-06-25 19:52] Vodka2014 commented on #1881
@ fernandog Thanks for the info I will do this now and post the results.

[2015-06-25 20:08] syaeger commented on #1888
SabNzbd has been running fine on this machine, with manual downloads, SickBeard, and CouchPotato for years.  This is the SabNzbd stats line, since the last update

0 B Today    3.6 GB This week    36.4 GB This month    411.4 GB Total

I know the show release posts SickRage is choosing are valid.  I've been manually downloading the same post's NZB files for the show and the NZB files for the Par fi

[2015-06-25 20:18] syaeger commented on #1888
Once again, I should have done a preview...

This is the line that was different in the NZB files... (with the angle brackets and comment exclamation mark removed)

This is the line from the SickRage NZB file (found in SabNzbd's temp folders)
-- NZB Generated by Binsearch.info --

This is the line from the Show's Par NZB file, from the BinSearch.info web site.
-- NZB Generated by Binsearch.info (f

[2015-06-25 20:42] klutchrider commented on #1890
### INFO
Python Version: **2.7.9 (default, Dec 10 2014, 12:24:55) [MSC v.1500 32 bit (Intel)]**
Operating System: **Windows-8-6.2.9200**
Branch: **master**
Commit: SiCKRAGETV/SickRage@207bd7ac693e4beee0b72d4d3a05e0c7aca95300
No Log available with ERRORS:
### ERROR
[code]
---
_STAFF NOTIFIED_: @SiCKRAGETV/owners @SiCKRAGETV/moderators

[2015-06-25 20:43] past51 opened #1894 "DownloadStation: Unable to send Torrent: Return code undefined"
Hi,

I have a Synology NAS with DSM 5.2.
I configured the DownloadStation, installed SiCKRAGE, and configured it.
I have no special character with the DownloadStation account. The communication test is successful (SiCKRAGE -> DownloadStation).

When SiCKRAGE searches for an episode, it finds it, but can't send it to the DS.

2015-06-25 16:41:00 ERROR    SEARCHQUEUE-MANUAL-266967 :: DownloadStation

[2015-06-25 20:46] Vodka2014 commented on #1881
So my autoProcessTV.cfg is correct as it was working 100% before I did the upgrades. I use sabtosickbeard.py.

Any other advice please

[2015-06-25 20:47] neoatomic commented on #1894
Use the admin account of DSM.

[2015-06-25 20:54] past51 commented on #1894
Thanks for your answer.
I modified it, and tried, same issue again (with DSM admin account).

[2015-06-25 21:09] stephert opened #1895 "[APP SUBMITTED]: Thread-57 :: No Show Object found for show with indexerID: 80337"
### INFO
Python Version: **2.7.10 (default, Jun  3 2015, 13:42:00) [GCC 4.6.4]**
Operating System: **Linux-2.6.32.12-armv5tel-with-glibc2.4**
Locale: unknown
Branch: **master**
Commit: SiCKRAGETV/SickRage@207bd7ac693e4beee0b72d4d3a05e0c7aca95300
Link to Log: https://gist.github.com/00e4a16540ba075d610b
### ERROR
[code]
---
_STAFF NOTIFIED_: @SiCKRAGETV/owners @SiCKRAGETV/moderators

[2015-06-25 21:13] neoatomic commented on #1894
Than you are probably using https.? Try using http.

[2015-06-25 21:16] past51 commented on #1894
I already changed that, same issue.
No https for the SiCKRAGE web interface and no https for DSM.
On 25 Jun 2015 5:13 pm, "neoatomic" <notifications@github.com> wrote:

[2015-06-25 21:19] neoatomic commented on #1895
This can happen if you remove a show.Try a restart and see if that solves it.
If not try to remove the cache folder, and mass-update the shows.

[2015-06-25 21:24] neoatomic commented on #1894
Just tested and its working fine on my Synology. So it must be a configuration problem on your setup. Using the correct port.? http://localhost:5000/

[2015-06-25 22:26] miigotu commented on #1888
use ``` ` ```and ``` ` ``` to wrap tags to prevent the markdown from parsing them out.

I'll look into this after a few other things are cleared up, as it is only a binsearch provider problem.

[2015-06-25 22:34] syaeger commented on #1888
Thanks!

This is probably not the right place for this, but are any of the other SickRage supported NZB Search providers free?

[2015-06-25 23:06] miigotu commented on #1888
usenet-crawler, and some others.

[2015-06-25 23:33] Vodka2014 commented on #1881
So found the issue but not resolved. If you add a username and password to SickRage it does not work. As soon as you remove it and reboot Post Processing works 100%.

[2015-06-25 23:44] bartley69 commented on #1852
Ok, I'm just retarded haha. I will stay on 4026 for now, let me know if you want us to switch to dev and test anything. Cheers.

[2015-06-25 23:52] miigotu commented on #1892
SiCKRAGETV/SickRage#2008

[2015-06-25 23:55] fernandog commented on #1881
@neoatomic do you use PP? do you care to explain please?

[2015-06-25 23:56] miigotu commented on #1894
I wish I could test this myself, there might be a different code returned that I could add, but there is no way to test it without a syno/qnap.

All of these clients/providers were originally written by people who have the hardware and accounts to test it.

[2015-06-26 00:36] miigotu commented on #1888
nzbcat has free invites right now.

https://nzb.cat/invites

[2015-06-26 00:36] miigotu commented on #1888
@fernandog

[2015-06-26 00:40] miigotu commented on #1890
Please update, master merged early and a new release due to massive amount of changes.

[2015-06-26 00:40] #1890 closed

[2015-06-26 00:42] fernandog commented on #1888
Maybe we can add a new div about nzbcat and rarbg. What do you think?

[2015-06-26 00:43] miigotu commented on #1895
This can happen if you delete a show, but have the show's details page open in another tab or browser.

[2015-06-26 00:43] #1895 closed

[2015-06-26 00:46] fernandog commented on #1895
Or the show is in search/update/refresh queue

[2015-06-26 00:46] miigotu commented on #1888
div?

[2015-06-26 00:58] fernandog commented on #1888
Yes. Im provider list. Label/div something like that

[2015-06-26 01:00] miigotu commented on #1888
Idk what you mean, they already show in the provider list for me in the ui. I do need to add an icon for nzbcat though.

[2015-06-26 01:05] #1893 closed

[2015-06-26 01:18] miigotu commented on #1891
@degtyarev708 If you just put your downloads/completed folder on the same partition as the library, and use hard links method, there is no issue. Delete file from downloads folder and it is still valid in the show library. This only uses the bytesize of the new filename/location per hardlink on the filesystem.
IE: `len('/your/new/path/filename.ext')`

Symlink would not work this way, unless you co

[2015-06-26 01:28] miigotu commented on #1881
We need to update the autoProcessTV scripts in SR?

[2015-06-26 01:29] #1803 closed

[2015-06-26 01:32] miigotu commented on #1825
@nrk666 @Koal2 @Grubs
Should be fixed in master now too.

[2015-06-26 01:32] #1825 closed

[2015-06-26 01:35] fernandog commented on #1881
https://sickrage.tv/forums/forum/help-support/general-support/22262-sabtosickbeard-exe-py-no-longer-working

[2015-06-26 01:36] miigotu commented on #1579
@Ockingshay @MrNightRyder @PhilJayJ @nonissue @bitPhex @Messiadbunny

Can you guys check this in newest master or dev?

[2015-06-26 01:39] Vodka2014 commented on #1881
Thanks but this is what i have read and done and posted there already as well about the issue. If you want you can close this one out and i will use that form for all other coms.

Thanks again.

[2015-06-26 01:48] miigotu commented on #1881
@Vodka2014 Where did you get your sab2sickbeard scripts? You should be copying them from your sickrage source.

Does your autoProcessTV.cfg have your username and password in it?
https://github.com/SiCKRAGETV/SickRage/blob/master/autoProcessTV/autoProcessTV.cfg.sample

[2015-06-26 01:54] miigotu commented on #1852
current master should work now, let me know.

[2015-06-26 02:05] Vodka2014 commented on #1881
I upgraded SickRage like i always do. My cfg was setup like this before i changed it,

[SickBeard]
host=localhost
port=8082
username=MYUSERNAME
password=MYPASSWORD
web_root=
ssl=1

[2015-06-26 02:07] Vodka2014 commented on #1881
@miigotu I have never changed them from the original location. Yes mine looks like that now.

I had a username and password setup and it was working until I upgraded. Also i have SSL=1

[2015-06-26 02:07] fonix99 commented on #1852
Something is wrong again with the latest master 4.0.28.

https://gist.github.com/fonix99/f5c930ac470b52f7f34c

The develop merged version from yesterday worked great.

[2015-06-26 02:14] miigotu commented on #1852
I dont think you have all of the updates @fonix99

[2015-06-26 02:14] miigotu commented on #1852
Matter of fact, I know you dont.

[2015-06-26 02:21] fonix99 commented on #1852
Hmm, it did "git pull" and it says "already up-to-date".

I will do my dirty install (worked every time for me^^) and see what happend.

[2015-06-26 02:37] fonix99 commented on #1852
Made a manual "copy&paste" installation, which worked the last times for me, but still getting this error. Tried different shows, but its the every time the same result.

Side fact. My qnap needs now to kill the sickrage process, cause it took over 45sec. and it not stopped it selfs - with the previous version it took round about 10.15sec. and sickrage stopped it self, so need to kill by my qnap.

[2015-06-26 02:45] bartley69 commented on #1852
Latest master not grabbing for me - https://gist.github.com/bartley69/fb949ecf59a56fcaa24a

[2015-06-26 03:14] miigotu commented on #1852
shit @fonix99 I missed 2 urls.

[2015-06-26 03:22] frriction commented on #1855
how do I do that?
by ticking "Disable SSL Verification"?

[2015-06-26 03:26] fonix99 commented on #1852
np, glad to help

[2015-06-26 03:29] miigotu commented on #1852
Try again.

[2015-06-26 03:42] fonix99 commented on #1852
The error is gone, but now our "old" problem is back.

https://gist.github.com/fonix99/f8adc60d1b3e4b13681e

[2015-06-26 04:13] maxcore opened #1896 "[APP SUBMITTED]: an integer is required"
### INFO
Python Version: **2.7.10 (default, Jun  3 2015, 20:43:13) [GCC 4.7.3 20130102 (prerelease)]**
Operating System: **Linux-3.10.35-x86_64-with-glibc2.2.5**
Locale: UTF-8
Branch: **master**
Commit: SiCKRAGETV/SickRage@ad4e3939c3d2942a0e7ac887670bb97f10017d63
Link to Log: https://gist.github.com/48793307357c6a5d78c4
### ERROR
[code]
---
_STAFF NOTIFIED_: @SiCKRAGETV/owners @SiCKRAGETV/moderato

[2015-06-26 04:14] maxcore commented on #1896
'''''
AATypeError: an integer is required
AA    data = data.replace(u"&amp;", u"&")
AA  File "/volume1/@appstore/sickbeard-custom/var/SickBeard/lib/tvdb_api/tvdb_api.py", line 671, in _cleanData
AA    v = self._cleanData(v)
AA  File "/volume1/@appstore/sickbeard-custom/var/SickBeard/lib/tvdb_api/tvdb_api.py", line 917, in _getShowData
AA    self._getShowData(key, self.config['language'], True)
AA

[2015-06-26 04:34] mbxplex opened #1897 "[APP SUBMITTED]: Thread-376 :: git pull -f origin master returned : 0 [main] us 0 init_cheap: VirtualAlloc pointer is null, Win32 error 487 AllocationBase 0x0, BaseAddress 0x68570000, RegionSize 0x1F0000, State 0x10000 C:\Program Files (x86)\Git\bin\sh.exe: *** Couldn't reserve space for cygwin's heap, Win32 error 0"
### INFO
Python Version: **2.7.9 (default, Dec 10 2014, 12:28:03) [MSC v.1500 64 bit (AMD64)]**
Operating System: **Windows-8-6.2.9200**
Branch: **master**
Commit: SiCKRAGETV/SickRage@207bd7ac693e4beee0b72d4d3a05e0c7aca95300
No Log available with ERRORS:
### ERROR
[code]
---
_STAFF NOTIFIED_: @SiCKRAGETV/owners @SiCKRAGETV/moderators

[2015-06-26 04:43] mbxplex commented on #1897
FYI, I restarted my PC and was able to update.

[2015-06-26 04:43] #1897 closed

[2015-06-26 04:44] miigotu commented on #1852
If I start making fixes in my fork, can you just test from there? I keep making commits here for this and fooking up the history and breaking things.

[2015-06-26 04:46] fonix99 commented on #1852
Sure, if u tell me what I have to do - git commands for the updates or something like said. Like I said, I am a noob on that stuff ;)

[2015-06-26 05:16] miigotu commented on #1852
Sure, best thing to do is rename your current SR folder so we dont mess it up.
Not sure where your db and cfg are stored, but if it is in the sickrage dir, you will want to copy it to the repo we are checking out into the same path.
[code]
Make sure it is all set up and check if it works, check for the error.
Then if we have to try again you just stop sickrage, do a `git pull` from inside that sic

[2015-06-26 05:29] fonix99 commented on #1852
ok, seems to run. commit is d226c7a35a643b2b62571f4f19d074166f0d19c0!?

[2015-06-26 05:32] miigotu commented on #1852
yes

[2015-06-26 05:34] miigotu commented on #1852
https://github.com/miigotu/SickRage/commit/d226c7a35a643b2b62571f4f19d074166f0d19c0

[2015-06-26 05:35] fonix99 commented on #1852
First debug log.

https://gist.github.com/fonix99/8e96f2c0bab5a40e6f37

[2015-06-26 05:39] miigotu commented on #1852
-.- Install pyOpenSSL == 0.13.1

[2015-06-26 05:41] miigotu commented on #1852
These random fails have nothing to do with the code. It is all about whether the url is http or https and needs SNI.

[2015-06-26 05:43] miigotu commented on #1852
Which is also the same reason I cannot reproduce the error, I has no ssl problems.

[2015-06-26 05:46] fonix99 commented on #1852
how do I install pyopenssl?

I found this on the wiki page:

curl https://bootstrap.pypa.io/get-pip.py -L -k | python2.7
ipkg install openssl-dev
pip2.7 install -U setuptools pip pyopenssl==0.13.1

But the first step delivers an error:

"Could not find a version that satisfies the requirement pip (from versions: ) No matching distribution found for pip"

[2015-06-26 05:52] Arcanemagus opened #1898 "readme.md Broken!"
A recent commit (https://github.com/SiCKRAGETV/SickRage/commit/cbb37fc4d4a2666f67b49f03b50987f864b6d60d) broke the readme.md file for the project.

Since for some reason the correct file is named `readme.md` instead of the standard `README.md` when that commit created the `README.md` file github.com prefers it instead of the good one.

When checking out the project on Windows it continuously think

[2015-06-26 06:47] Arcanemagus commented on #1898
For reference this commit was part of https://github.com/SiCKRAGETV/SickRage/pull/2003.

[2015-06-26 07:18] jotavip opened #1899 "NZBCat error snatching NZBs"
Hi, I am using Sickrage in my QNAP 269 Pro, and I am having the following error when trying to search a release with the NZBCat indexer:

Branch: master
Commit: ae2c0e8006
Operating System: QNAP, Python 2.7
[code]
I tried to reinstall sickrage from scratch, and it doesn't helped. My friend has a QNAP and he installed and configured Sickrage the same way as I did, and he isn't experiencing this err

[2015-06-26 07:46] Messiadbunny commented on #1579
Seems to work fine for me now, thanks.

[2015-06-26 08:51] neoatomic commented on #1855
Yes, then it should use http.

[2015-06-26 09:06] buster1980 commented on #1894
Hello all,
Having the exact same problem after updating the Synology Download Station package to version 3.5-2962. Before everything worked as expected, afterwards it is no longer able to send torrents to Download Station w/ same error in error log:
DownloadStation: Unable to send Torrent: Return code undefined.
Testing the connection in the settings works fine.

[2015-06-26 09:14] neoatomic commented on #1881
@fernandog Yes, i use sabtosickbeard.
its pretty simple, you just need to add your user-name/password/host/port to the script. And setup a category in SAB. ( http://www.htpcguides.com/configure-sickrage-usenet-torrent-tv/ )

@Vodka2014 Disable SSL (think its SSL=-1) and try again.
Looking at the logs it try's to processes a HTML page, so i'm thinking it gets an (ssl?) error on the url instead of g

[2015-06-26 09:25] neoatomic commented on #1894
@miigotu You can install Synology's DSM on a VM. That way you should have a fully functional Synology to test with. :)

http://www.robvanhamersveld.nl/2013/01/21/install-and-test-synology-dsm-in-a-virtual-machine/

I will see if i can find out if there was a change in Download station. But have little time today...

[2015-06-26 09:29] buster1980 commented on #1894
@miigotu

A more up to date tutorial on installing XPenology (DSM in a virtual machine) is available at:
http://www.xpenology.nl

@neoatomic
Please refer to my post, Download Station was updated, the problem occurred after this update.

[2015-06-26 09:38] neoatomic commented on #1892
@miigotu Updated and the errors are gone/SR is restarting fine.
Thanks.!

[2015-06-26 09:38] #1892 closed

[2015-06-26 09:41] neoatomic commented on #1899
@jotavip Follow the guidelines for posting an issue. :
https://github.com/SiCKRAGETV/sickrage-issues#submitting-a-bugissue-ticket

[2015-06-26 10:31] buster1980 commented on #1894
I restarted my Synology, re-tested and re-saved the Download Station settings in Sickrage and now everything works fine again.

[2015-06-26 11:01] neoatomic commented on #1896
Probably the show is not added properly on the indexer. (Missing data like air-date etc.)
Also might be related to. : https://github.com/SiCKRAGETV/sickrage-issues/issues/1895

[2015-06-26 11:01] #1896 closed

[2015-06-26 11:40] fernandog commented on #1899
SSL issues

https://github.com/SiCKRAGETV/sickrage-issues/wiki/SSL-Errors

[2015-06-26 11:41] past51 commented on #1894
I will test that tonight and keep you informed.
On 26 Jun 2015 6:31 am, "buster1980" <notifications@github.com> wrote:

[2015-06-26 13:49] OmgImAlexis opened #1900 "Trakt changed their genre search url"
It needs to be changed from ``http://dereferer.org/?http://trakt.tv/shows/popular/crime`` to ``http://dereferer.org/?https://trakt.tv/shows/popular/?genres=crime``

https://github.com/SiCKRAGETV/SickRage/blob/42b8d5a9c71c87fcde301967b6254ef08c3093ac/gui/slick/interfaces/default/displayShow.tmpl#L227
https://github.com/SiCKRAGETV/SickRage/blob/42b8d5a9c71c87fcde301967b6254ef08c3093ac/gui/slick/inte

[2015-06-26 14:42] fernandog commented on #1898
@miigotu can you revert only the readme change?

[2015-06-26 14:43] fernandog commented on #1849
@gborri

[2015-06-26 14:43] fernandog commented on #1104
@miigotu is there an easy fix for this? I don't have this issue

[2015-06-26 14:48] nrk666 commented on #1825
Thanks for looking into this, you guys are doing some good work.

[2015-06-26 15:08] medariox commented on #1869
@Kumolo
This is a know limit of the SickRage renaming procedure. I added a function in helpers.py to adjust it to my liking. https://github.com/medariox/SickRage/blob/master/sickbeard/helpers.py#L143
You could do something similar, just a suggestion if you want to go for a quick fix.

[2015-06-26 15:36] Vodka2014 commented on #1881
@neoatomic yes I use sabtosickbeard and it was working all the time until I did the updates. This is why I posted this :)

I will try and remove SSL and set it up and see what happens. and report back when I get a change to change this.

Thanks for the info and help all.

[2015-06-26 16:30] fernandog commented on #1571
@valantislevas is this still happening? We are removing the [eztv] and etc from the release name

[2015-06-26 17:02] jotavip commented on #1899
@fernandog  Thanks for the reply

I tried the solution for QNAP from the SSL Error link, and it didn't worked. I receive the following error after using the curl command:

`</tmp/tmpWpn0I5/pip.zip/pip/_vendor/requests/packages/urllib3/util/ssl_.py:90: InsecurePlatformWarning: A true SSLContext object is not available. This prevents urllib3 from configuring SSL appropriately and may cause certain S

[2015-06-26 17:08] fernandog commented on #1899
@miigotu do you know what's going on?

[2015-06-26 17:22] gborri commented on #1849
@fernandog need log as for the other issue. It'a related to trakt response not correctly filled.

[2015-06-26 17:29] miigotu commented on #1899
SSL problem, check qnap forums about a python 2.7.9 package.

[2015-06-26 17:29] #1899 closed

[2015-06-26 17:36] thomasbriet commented on #1849
I included the log above or is this not the correct one?

[2015-06-26 17:42] miigotu commented on #1869
@medariox that method is very inaccurate xD. blindly adding x264?? what if its h264/xvid/divx or something else?

There are plans to incorporate this: https://pymediainfo.readthedocs.org

Then we can use that to more accurately set qualities for downloaded files in SR, and also accurately rename them.

[2015-06-26 17:44] miigotu commented on #1104
I don't have windows.

[2015-06-26 17:45] miigotu commented on #1898
That was already fixed, in both master and develop

[2015-06-26 17:45] #1898 closed

[2015-06-26 17:51] #1579 closed

[2015-06-26 18:01] #1900 closed

[2015-06-26 18:21] Kumolo commented on #1869
@miigotu Good to hear you are looking for ways to improve the renaming feature. Didn't know pymediainfo.

Does https://github.com/wackou/guessit not provide the needed parsing? It seems it is used by subliminal (subs downloading).

For: Treme.1x03.Right.Place,.Wrong.Time.HDTV.XviD-NoTV.avi
GuessIt found: {
    [1.00] "mimetype": "video/x-msvideo",
    [0.80] "episodeNumber": 3,
    [0.80] "videoCo

[2015-06-26 18:42] maxcore commented on #1896
@neoatomic thx to reply

[2015-06-26 18:46] miigotu commented on #1871
try removing the forking line and the --daemon

[2015-06-26 18:46] #1871 closed

[2015-06-26 18:48] fernandog commented on #1871
this is my unit:

[code]

[2015-06-26 18:53] miigotu commented on #1869
guessit just uses the filename, mediainfo actually reads the real information from the file. I do see some benefits of using guessit to remove some regex nonsense to parse series, title, releasegroup, season, and episode though.

[2015-06-26 18:57] miigotu commented on #1871
Probably the GuessMainPID=no and Nice helps.

We include runscripts in SR source as a base/starting point for people to go on. If they want to submit improved versions then fine, but we are not experts in every operating system's service configurations.

If you want to run linux, learn what the files you create do, don't just follow some guide without understanding what it is doing -.-

[2015-06-26 18:58] #1887 closed

[2015-06-26 19:02] #1796 closed

[2015-06-26 19:03] #1756 closed

[2015-06-26 19:12] fernandog commented on #1869
simple test:

[code]

[2015-06-26 19:13] fernandog commented on #1869
@miigotu would be nice if guess it handles it so we can't "forget" about regex

[2015-06-26 19:44] Kumolo commented on #1869
Nice example @fernandog :-) It seems "guessit" handles that quite well.

[2015-06-26 19:46] gborri commented on #1849
@thomasbriet i can't see any error in the log line. We need to see at least "last_per_season" token in log file. Last time I didn't see any.

[2015-06-26 19:55] Vodka2014 commented on #1881
UPDATE: I see there is a new commit to SickRage. I have updated it, added my username and password, ssl=1 to the .cfg , added it to SickRage (username and password), Restarted SickRage and SABNZDB.

So far all is looking 100% :)

[2015-06-26 20:44] medariox commented on #1869
@miigotu
It is not inaccurate at all if it's being used in the proper context. I'm only interested in scene released SD/720p/1080p tv shows. There is no such thing as xvid/divx/h246 tagging, as it is not permitted by the rules. I'm also only interested in knowing if the releases are PROPER, all the rest can be stripped. This is exactly what the function does, nothing more, nothing less - that's al

[2015-06-26 22:01] past51 commented on #1894
I updated with new version (commit ae2c0e8006bf0c8ec3d3379148a951847b2c5f39). I don't have this error anymore, and the snatch is working (status is "Snatched"). But... the download is not working. In the DownloadStation I don't see any download, and in logs everything looks good:

2015-06-26 17:52:46 INFO     SEARCHQUEUE-MANUAL-80379 :: Downloading The.Big.Bang.Theory.S08E23.The.Maternal.Combustio

[2015-06-26 22:36] miigotu commented on #1869
It will even tell you if its a proper or repack, and handles removeWords:
[code]

[2015-06-26 22:37] miigotu commented on #1869
`There is no such thing as xvid/divx/h246 tagging, as it is not permitted by the rules`
Incorrect @medariox

[2015-06-26 22:39] #1881 closed

[2015-06-26 22:44] miigotu commented on #1869
For now @fernandog it might be easy to just use guessit in renaming for %QN

[2015-06-26 22:49] dirkr07 opened #1901 "[APP SUBMITTED]: global name 'time' is not defined"
### INFO
Python Version: **2.7.10 (default, Jun  4 2015, 00:30:19) [GCC 4.3.2]**
Operating System: **Linux-2.6.32.12-ppc-with-glibc2.0**
Locale: UTF-8
Branch: **master**
Commit: SiCKRAGETV/SickRage@ae2c0e8006bf0c8ec3d3379148a951847b2c5f39
No Log available with ERRORS:
### ERROR
[code]
---
_STAFF NOTIFIED_: @SiCKRAGETV/owners @SiCKRAGETV/moderators

[2015-06-26 22:55] medariox commented on #1869
@miigotu
You might want to tell me what is "incorrect" about my statement?
Xvid is not used anymore since 2012 for scene tv releases and divx/h264 most probably has never been used. http://siliconangle.com/blog/2012/02/26/the-pirate-scene-nimbly-adopts-new-x264-video-codec/

[2015-06-26 22:57] miigotu commented on #1869
@medariox directly from that link:
`The SD x264 TV section was formed to separate releases from the ruleless world of TV-XviD. This document will cover the rules and guidelines for only SD resolution x264 television rips.`

[2015-06-26 22:59] miigotu commented on #1869
Besides, other than that it would still only apply to releases after 2012. Hell I have shows that aired 20 years ago, maybe released 5-10 years ago, and are re-ups.

[2015-06-26 23:00] miigotu commented on #1869
h.264/h264 are used for bdrips/bluray/webdl/etc ie: HD

[2015-06-26 23:01] miigotu commented on #1852
Go to qnap forums and find the info about python 2.7.9

[2015-06-26 23:25] medariox commented on #1869
@miigotu
`h.264/h264 are used for bdrips/bluray/webdl/etc ie: HD`
Maybe for movies, not for tv shows: https://scenerules.org/p.html?id=2012_1080pTV.nfo
As I already said the function has to be adjusted to the specific use case - if it works for me, it doesn't necessarily have to work for everyone. People may want to have h264, xvid, whatever, they'll need to extend/modify the function. Again, it i

[2015-06-26 23:28] miigotu commented on #1869
I've already started a branch to make an attemp at the guessit change. =P

[2015-06-27 01:21] miigotu commented on #1869
@medariox Did you know you can just use `%RT` to add the proper tag in filenames if they are propers?

[2015-06-27 01:34] fonix99 commented on #1852
The only info I found is, that its not available for ARM processors like my Qnap 419P II.

I downgraded to v.4.0.26 and hope it will work till the ssl problem is fixed somehow ;)

Anyway, thanks for your work and time u spend to help us.

[2015-06-27 01:56] miigotu commented on #1852
Complain to qnap then =P. They need to provide you with either python 2.7.9, or pyOpenSSL >= 0.13.1 (Preferably >0.14),

This requires a compiler, and development headers to install > 0.14 or pip cannot install it.

For 0.13.1, maybe you can find some info somewhere about how to install pip on your ARM QNAP.

[2015-06-27 02:11] past51 opened #1902 "DownloadStation: no download"
Hi

I'm using SiRCKRAGE with Synology (DSM 5.2).
Initially, I had a problem : Unable to send Torrent: Return code undefined (#1894)

Now, after removing https and using the admin account, and updating to the last commit (ae2c0e8006bf0c8ec3d3379148a951847b2c5f39), the snatching is working, but doesn't send the torrent to the download station. I have no error...

2015-06-26 18:06:02 INFO SEARCHQUEUE

[2015-06-27 04:47] #1540 closed

[2015-06-27 04:48] #1657 closed

[2015-06-27 04:55] miigotu commented on #1902
Opening a separate issue is unnecessary. Continue using the other one.

[2015-06-27 04:55] #1902 closed

[2015-06-27 04:57] miigotu commented on #1873
Impossible. More often than not we don't scrap pages, we us an api to the torrent site or an rss feed.

[2015-06-27 04:57] #1873 closed

[2015-06-27 07:51] Rouzax commented on #1873
CouchPotato also uses the API's but there is a link to the torrent in there.

[2015-06-27 09:47] StretchCell opened #1903 "[APP SUBMITTED]: cannot concatenate 'str' and 'NoneType' objects"
### INFO
Python Version: **2.7.10 (default, May 23 2015, 09:40:32) [MSC v.1500 32 bit (Intel)]**
Operating System: **Windows-7-6.1.7601-SP1**
Branch: **master**
Commit: SiCKRAGETV/SickRage@ae2c0e8006bf0c8ec3d3379148a951847b2c5f39
Link to Log: https://gist.github.com/253a6cb85131576dd7eb
### ERROR
[code]
---
_STAFF NOTIFIED_: @SiCKRAGETV/owners @SiCKRAGETV/moderators

[2015-06-27 10:25] HakShak opened #1904 "[APP SUBMITTED]: SEARCHQUEUE-MANUAL-259765 :: rTorrent: Unable to send Torrent: Return code undefined"
### INFO
Python Version: **2.7.10 (default, Jun  3 2015, 23:30:53) [GCC 4.6.3]**
Operating System: **Linux-3.2.40-i686-with-glibc2.0**
Locale: UTF-8
Branch: **master**
Commit: SiCKRAGETV/SickRage@ae2c0e8006bf0c8ec3d3379148a951847b2c5f39
Link to Log: https://gist.github.com/feea9eca2795a626e6c3
### ERROR
[code]
---
_STAFF NOTIFIED_: @SiCKRAGETV/owners @SiCKRAGETV/moderators

[2015-06-27 10:28] HakShak commented on #1904
This is a bit more interesting because nothing has changed in lib/rtorrent.

However, I do know when this was introduced: I upgraded from 2d515e9aa4aea0ec1798289df691cd5e949828ed to ae2c0e8006bf0c8ec3d3379148a951847b2c5f39

The other interesting part, is that the magnet gets sent to rtorrent, but it never gets started, nor labeled, nor put in the correct folder.

[2015-06-27 11:57] pokonski commented on #1130
I'm having the same issue with episodes being stuck on `Snatched`. Transmission finishes download and even seeding, but Sickrage never picks up the episode to be post processed. Restarting doesn't help, forcing rescans doesn't help. It's not happening with every show or episode.

Right now I have the issue with the pilot episode of Mr. Robot.

[2015-06-27 12:17] past51 commented on #1902
The other issue is already closed...
On 27 Jun 2015 12:55 am, "miigotu" <notifications@github.com> wrote:

[2015-06-27 12:31] thomasbriet commented on #1849
How can i help? Do i need to add some code somewhere?

[2015-06-27 12:43] raymondtrueman opened #1905 "[APP SUBMITTED]: SEARCHQUEUE-DAILY-SEARCH :: rTorrent: Unable to send Torrent: Return code undefined"
### INFO
Python Version: **2.7.10 (default, Jun  4 2015, 01:18:03) [GCC 4.3.2]**
Operating System: **Linux-2.6.32.12-ppc-with-glibc2.0**
Locale: UTF-8
Branch: **master**
Commit: SiCKRAGETV/SickRage@ae2c0e8006bf0c8ec3d3379148a951847b2c5f39
No Log available with ERRORS:
### ERROR
[code]
---
_STAFF NOTIFIED_: @SiCKRAGETV/owners @SiCKRAGETV/moderators

[2015-06-27 13:10] core-code opened #1906 "sabToSickBeard.py broken on Mac OS X"
#!/usr/bin/env python2

this line fails on Mac OS X as there is no 'python2'

there is only python, python2.6 and python2.7

[2015-06-27 13:11] fernandog commented on #1903
check your notifications settings for the provider you enabled. use the test button

[2015-06-27 13:11] miigotu commented on #1902
Just because an issue is closed does not mean we do not get notifications when you respond in it.

[2015-06-27 13:12] #1905 closed

[2015-06-27 13:12] past51 commented on #1902
OK, sorry, first time with GitHub :)
On 27 Jun 2015 9:11 am, "miigotu" <notifications@github.com> wrote:

[2015-06-27 14:28] paranoidjack opened #1907 "[APP SUBMITTED]: tuple indices must be integers, not Tag"
### INFO
Python Version: **2.7.9 (default, Mar  1 2015, 12:57:24) [GCC 4.9.2]**
Operating System: **Linux-3.14.32-xxxx-grs-ipv6-64-x86_64-with-Debian-8**
Locale: UTF-8
Branch: **master**
Commit: SiCKRAGETV/SickRage@ae2c0e8006bf0c8ec3d3379148a951847b2c5f39
Link to Log: https://gist.github.com/03f9001ac51cec279203
### ERROR
[code]
[code]

---
_STAFF NOTIFIED_: @SiCKRAGETV/owners @SiCKRAGETV/moderato

[2015-06-27 14:45] raymondtrueman commented on #1904
My shows aren't snatching due to this issue, it started today. Hopefully we can figure it out. I'm trying some debugging, but so far no luck

[2015-06-27 14:52] mbrackeva commented on #1526
Exact same issue. This is new. I fixed it by removing [] characters from the source names. This used to work previously. Those characters aren't uncommon.
Especially annoying because the postprocessor crashes and won't run again. So you have to first notice it, and then restart Sickrage in order to get the postprocessor run again.

Python version 2.7.9
OS: Windows 8.1

[2015-06-27 16:12] StretchCell commented on #1903
Success: Connected and Authenticated
but still the same issue.

[2015-06-27 16:19] abetancort opened #1908 "[APP SUBMITTED]: 404 Client Error: Not Found"
### INFO
Python Version: **2.7.10 (default, Jun  3 2015, 20:43:13) [GCC 4.7.3 20130102 (prerelease)]**
Operating System: **Linux-3.10.35-x86_64-with-glibc2.2.5**
Locale: UTF-8
Branch: **master**
Commit: SiCKRAGETV/SickRage@ae2c0e8006bf0c8ec3d3379148a951847b2c5f39
No Log available with ERRORS:
### ERROR
[code]
---
_STAFF NOTIFIED_: @SiCKRAGETV/owners @SiCKRAGETV/moderators

[2015-06-27 16:35] frriction commented on #1855
ok I have Disable SSL Varification and error is still there.
here is debug log https://gist.github.com/d42f823716464ccb8c46
Now I have disable trakt notification until it get fixed.

[2015-06-27 17:36] trick77 commented on #1720
Is there no dependency management in SickRage? I'm wondering if I have to submit the latest cachecontrol version as a PR.

[2015-06-27 17:42] hadees opened #1909 "[APP SUBMITTED]: HTTP error None while loading URL http://thetvdb.com/api/F9C450E78D99172E/series/257049/en.xml"
### INFO
Python Version: **2.7.6 (default, Jun 22 2015, 17:58:13) [GCC 4.8.2]**
Operating System: **Linux-3.16.0-38-generic-x86_64-with-Ubuntu-14.04-trusty**
Locale: UTF-8
Branch: **master**
Commit: SiCKRAGETV/SickRage@ae2c0e8006bf0c8ec3d3379148a951847b2c5f39
No Log available with ERRORS:
### ERROR
[code]
---
_STAFF NOTIFIED_: @SiCKRAGETV/owners @SiCKRAGETV/moderators

[2015-06-27 17:43] hadees commented on #1909
Basically it never stops trying to load this show and I have no way of deleting it.

[2015-06-27 17:43] CentristOuevre opened #1910 "SickRage snatching episodes outside usenet retention"
Branch: master
Commit hash: ae2c0e8006bf0c8ec3d3379148a951847b2c5f39
OS and python version: Raspbian wheezy/Python 2.7.3
What I did: Set 2 seasons as WANTED
What happened: SickRage started searching usenet outside my retention limit of 30 days, sending both long-expired seasons to nzbget and marking them as SNATCHED, meaning they won't be looked for again (?)
What I expected: Retention limit to be

[2015-06-27 18:43] frriction commented on #1855
I read debug log little carefully it seem boxcar2 is failing, please correct me if I am wrong.

[2015-06-27 20:08] Vodka2014 opened #1911 "PDTV Question"
Hi,

I have noticed that Masterchief is airing as PDTV and not SDTV. Is there any chance that PDTV can get added to the categories.

If it can get added like:

PDTV
SDTV
SDTV + PDTV (SDTV Takes Priority Over PDTV But PDTV Will Still Download If There Is No SDTV)

Just a thought since I had to grab them manually.

Thanks

[2015-06-27 20:31] abetancort commented on #1908
Don't know yet why I keep getting this error...

[2015-06-28 01:59] miigotu commented on #1526
glob.glob having issues with * and items having [ and ]. I'll have to think about a good solution (might have to walk the dir)