[2015-03-02 02:58] daveinfla commented on #800
Thank you...

2015-03-01 21:56:24 DEBUG    SEARCHQUEUE-MANUAL-139481 :: [KickAssTorrents] :: Last update was too soon, using old cache: today()-2015-03-01 21:51:22<0:20:00
2015-03-01 21:56:24 DEBUG    SEARCHQUEUE-MANUAL-139481 :: [ThePirateBay] :: Last update was too soon, using old cache: today()-2015-03-01 21:51:20<0:20:00
2015-03-01 21:56:24 INFO     SEARCHQUEUE-MANUAL-139481 :: [KickAssTorrent

[2015-03-02 03:03] scythe000 commented on #793
Done, same result. Seems postprocessing is totally broken for me:

`Postprocessing results
Processing folder E:\TV Series\Downloaded TV Series
TV_DOWNLOAD_DIR: E:\TV Series\Downloaded TV Series
PostProcessing Path: E:\TV Series\Downloaded TV Series
PostProcessing Dirs: [u'Toren C Seizoen 1']
PostProcessing Files: [u'The.Simpsons.S26E15.REAL.REPACK.720p.HDTV.x264-KILLERS.mkv', u'Vikings.S03E02.720p

[2015-03-02 03:04] abeloin commented on #800
It does look for the proper season:
`Search string: https://kickass.to/usearch/17.Kids.And.Counting+S10E02%7C10x02+category%3Atv/?field=seeders&sorder=desc&rss=1`

What quality did you set for that show?

[2015-03-02 03:07] daveinfla commented on #800
HD

[2015-03-02 03:08] abeloin commented on #800
Because of the AKA you need to set it as 9x2 and it's only available in sd

`Parsed 19.Kids.and.Counting.S09E02.AKA.S10E02.E03.WS.DSR.x264-NY2 into 19 Kids and Counting - S9E2 `

[2015-03-02 03:13] abeloin commented on #800
And be careful ep02 contain ep02 and ep03.

[2015-03-02 03:13] abeloin commented on #800
Wow this guy who named this files needs an award!!!

[2015-03-02 03:16] abeloin commented on #793
When you changed the user on the service did you restart it? You can check in the task manager who running the process

[2015-03-02 03:19] daveinfla commented on #800
You would think this show would be more popular.

Yes, like the rotten tomato award!

[2015-03-02 03:25] abeloin commented on #800
That is it for me for tonight, if you have other questions post them and I'll answer them tomorrow.

Have a good night(or good day) and take care.

[2015-03-02 03:30] daveinfla commented on #800
I put 9x1 and 9x2 in and it's still searching for 15x1 and 15x2.

OK, good night, let me know what you think tomorrow...

[2015-03-02 03:33] daveinfla commented on #800
Nevermind, it worked once switched to ANY for quality.
So I need to get a handle on the mapping, sill a bit fuzzy on that, plus it sounds like I need to get an invite to a private tracker. Any suggestions, recommendations for good TV trackers?
How do I go about getting an invite? I have the bandwidth to share...

[2015-03-02 03:43] kkuhle commented on #760
Same issue for me.  Here is my log.  http://pastebin.com/0F7tJgrx

[2015-03-02 04:02] iguyking commented on #643
I just updated and it looks the same as before.  No change on my ipad.

What other info do you need to help diagnose or fix?

[2015-03-02 04:25] scythe000 commented on #793
I did. I don't see in server 2012 where it lists the user in taskman...

[2015-03-02 04:27] scythe000 commented on #793
NM, I found it. It doesn't list a user. It's blank for that process. I'll try killing the service, launching from cmd and see what happens.

[2015-03-02 04:28] scythe000 commented on #793
Same error.

[2015-03-02 04:58] abeloin opened #807 "[APP SUBMITTED]: [Errno 2] No such file or directory: '/mnt/Downloads/done/deluge/Brooklyn.Nine-Nine.S02E17.720p.HDTV.X264-DIMENSION/Brooklyn.Nine-Nine.S02E17.720p.HDTV.X264-DIMENSION.mkv'"
### INFO
Python Version: **2.7.5 (default, Nov  3 2014, 14:26:24)
[GCC 4.8.3 20140911 (Red Hat 4.8.3-7)]**
Operating System: **Linux-3.17.8-200.fc20.x86_64-x86_64-with-fedora-20-Heisenbug**
Branch: **production-stage**
Commit: SiCKRAGETV/SickRage@2baf79dc76cf78552bd192b7cf3c3b4a9fc97400
### ERROR
[code]
---
_STAFF NOTIFIED_: @SiCKRAGETV/owners @SiCKRAGETV/moderators

[2015-03-02 05:02] abeloin commented on #807
From rar archive that is incomplete. Sickrage think the rar extracted successfully.

[2015-03-02 05:14] abeloin commented on #793
Try running this script with python
[code]

[2015-03-02 05:19] scythe000 commented on #793
Bob's Burger's just processed on its own just fine. So weird.

[2015-03-02 05:22] abeloin commented on #793
In sickbeard\postProcessor.py line 311, replace the whole def _move () function with this:
[code]
It will give you the permission for that current folder

[2015-03-02 05:26] scythe000 commented on #793
I think I ran the script. I saved it as test.py and ran it. It didn't give me any output, and the error persists.

I tried running the script line by line in python, but it says

`>>> folder = "E:\TV Series\Vikings\Season 03\"
  File "<stdin>", line 1
    folder = "E:\TV Series\Vikings\Season 03\"
                                             ^
SyntaxError: EOL while scanning string literal`

[2015-03-02 05:27] abeloin commented on #793
Change it to this: folder = "E:\\TV Series\\Vikings\\Season 03\\"

[2015-03-02 05:30] abeloin commented on #643
The fix is in develop branch

[2015-03-02 05:33] abeloin commented on #793
In the end it is still an ACL/permission issue.

Add the user running sickrage the the root of e:\tv serries\, save then check reset and inherit for the child folder in the advanced setting this way it will propagate the changes.

[2015-03-02 05:34] scythe000 commented on #793
`C:\Windows\system32>python
Python 2.7.8 (default, Jun 30 2014, 16:08:48) [MSC v.1500 64 bit (AMD64)] on win
32
Type "help", "copyright", "credits" or "license" for more information.

F_OK - return value True

R_OK - return value True

W_OK - return value True

X_OK - return value True

[2015-03-02 05:35] scythe000 commented on #793
Possibly related, post processing just friggin wiped out my Walking Dead download just as it finished. It's completely gone.

[2015-03-02 05:37] scythe000 commented on #793
I edited sickbeard\postProcessor.py. Still no luck. It can't possibly be an ACL or permissions issue. Nothing has changed, and I've been doing this for years.

[2015-03-02 05:40] abeloin commented on #793
Post your logs.
The service is running under who's account?

[2015-03-02 05:42] scythe000 commented on #793
running as Adminstrator.
http://pastebin.com/8fsQr6sY

[2015-03-02 05:44] abeloin commented on #793
Run a git bisect until you find the commit causing the issue:
http://git-scm.com/docs/git-bisect

[2015-03-02 05:45] scythe000 commented on #793
How do I know which to mark as good or bad?

[2015-03-02 05:52] abeloin commented on #793
Stupid question torrent or nzb? If torrent is E:\\TV Series\\Downloaded TV Series\\ were the torrent are downloaded? If so are they still enable in the torrent client?

[2015-03-02 05:54] scythe000 commented on #793
torrent. they are downloaded, no longer in utorrent.

[2015-03-02 05:54] abeloin commented on #793
uTorrent  version 3?

[2015-03-02 05:57] abeloin commented on #793
Because I say a post on the forum saying that uTorrent 3 by default sets the files as read only

[2015-03-02 05:58] scythe000 commented on #793
3.4.2 beta

[2015-03-02 05:59] abeloin commented on #793
Ref: http://forum.utorrent.com/topic/88275-utorrent-sets-files-and-folders-as-read-only/

[2015-03-02 06:00] abeloin commented on #793
Can you check the file: E:\\TV Series\\Downloaded TV Series\\Vikings.S03E02.720p.HDTV.x264-KILLERS.mkv ?

[2015-03-02 06:13] scythe000 commented on #793
Check it in what way?

Sent from my iPhone

On Mar 1, 2015, at 10:01 PM, Alexandre Beloin <notifications@github.com<mailto:notifications@github.com>> wrote:

Can you check the file: E:\TV Series\Downloaded TV Series\Vikings.S03E02.720p.HDTV.x264-KILLERS.mkv ?

—
Reply to this email directly or view it on GitHub<https://github.com/SiCKRAGETV/sickrage-issues/issues/793#issuecomment-76662552>.

[2015-03-02 06:14] abeloin commented on #793
If it's read only

[2015-03-02 07:20] djack42 commented on #806
That example was done on the edit show pagendieectly to check if that was working. I retry yhis morjing and it is working as expected from there.

The issue is from the mass update edit page with any number of show, and there, it is the tvshow folder expected.

[2015-03-02 07:28] icebal commented on #743
my log file shows sickrage.log and sickrage.log.1-5 and i only have one open handle on the log file, and that is one process of python for sickrage

[2015-03-02 07:51] Rouzax opened #808 "[APP SUBMITTED]: 'NoneType' object has no attribute '__getitem__'"
### INFO
Python Version: **2.7.8 (default, Jun 30 2014, 16:03:49) [MSC v.1500 32 bit (Intel)]**
Operating System: **Windows-2012Server-6.2.9200**
Branch: **master**
Commit: SiCKRAGETV/SickRage@2d8aad80cdfb8983832206af445039de0decded9
Link to Log: https://gist.github.com/01ff34770909886536ab
### ERROR
[code]
---
_STAFF NOTIFIED_: @SiCKRAGETV/owners @SiCKRAGETV/moderators

[2015-03-02 07:52] icebal commented on #743
preforming a mass update  doesnt force the issue. have not seen the issue since i last posted actually

[2015-03-02 08:25] eXistenZNL commented on #404
Hi,

already looked at the merge diff when the 'A new version is available" bar displayed and and saw this had possibly been fixed. Great job! after a bit of testing I did last weekend it seems that the errors are indeed gone. I am currently unable to reach my NAS so I am unable to do proper testing, but will do some final testing by clicking through the gui like a mad man for a few minutes once I

[2015-03-02 08:53] djack42 commented on #806
I will try tonight moving to an empty  directory and look for the notification.

[2015-03-02 09:13] fernandog commented on #800
send me your email via sickrage.tv forum

[2015-03-02 09:58] sverleysen opened #809 "[APP SUBMITTED]: expected string or buffer"
### INFO
Python Version: **2.7.8 (default, Dec 12 2014, 21:57:17)
[GCC 4.6.3]**
Operating System: **Linux-3.2.40-i686-with-glibc2.0**
Branch: **master**
Commit: SiCKRAGETV/SickRage@2d8aad80cdfb8983832206af445039de0decded9
Link to Log: https://gist.github.com/60727e8fb5168c803d68
### ERROR
[code]
---
_STAFF NOTIFIED_: @SiCKRAGETV/owners @SiCKRAGETV/moderators

[2015-03-02 10:26] fernandog commented on #808
check your torrent settings. test connection. if everything ok it's a problem with the torrent file
https://github.com/SiCKRAGETV/sickrage-issues/issues/679

[2015-03-02 10:28] fernandog commented on #809
https://github.com/SiCKRAGETV/sickrage-issues/issues/778

[2015-03-02 10:28] #809 closed

[2015-03-02 10:31] Rouzax commented on #808
All other downloads are successful so I'm guessing it is a problem with the torrent file.

[2015-03-02 10:33] fernandog commented on #808
@Rouzax can you send the torrent name + provider ?

[2015-03-02 10:38] Rouzax commented on #808
I think it is this one.
http://kickass.to/black-sails-s02e06-proper-hdtv-x264-killers-ettv-t10287509.html
Although that would be weird because I have Black Sails set to 1080p
![image](https://cloud.githubusercontent.com/assets/4103090/6439188/99ad1c5c-c0d0-11e4-8b0e-2744ba51560f.png)

[2015-03-02 10:40] Rouzax commented on #808
It could be http://kickass.to/the-simpsons-s26e15-real-repack-720p-hdtv-x264-killers-eztv-t10291270.html also.
Because I just watched the episode in question and there was a duplicate piece in the end.
See
http://kickass.to/usearch/The%20Simpsons%20S26E15%20720p/

[2015-03-02 10:48] fernandog commented on #808
go to provider options and enabled trusted downloaders. that should help.
or use rarbg. never had any issue

[2015-03-02 10:53] Rouzax commented on #808
Already have that enabled
![image](https://cloud.githubusercontent.com/assets/4103090/6439384/98094126-c0d2-11e4-917e-51f11b393892.png)

Kat is just a fall back by the way, normally everything comes from torrentday.
![image](https://cloud.githubusercontent.com/assets/4103090/6439394/b33a5840-c0d2-11e4-8085-b544eaad9171.png)

[2015-03-02 10:59] fernandog commented on #808
so one of the trusted releases has some missing information

[2015-03-02 11:01] fernandog commented on #808
@Rouzax are you from kodi community?

[2015-03-02 11:03] Hellowlol commented on #231
@fernandog No issues to far regarding that bug, but i havnt been affected by it before as far as i remember. I did notice a other bug regarding abeloins fix for apikeys, but ill make a seperate issue about that.

[2015-03-02 11:05] Rouzax commented on #808
What do you mean, if I'm Rouzax from the Kodi forum, then yes.

[2015-03-02 11:08] fernandog commented on #808
its the second time we had this issue. If it happens again we will try to handle it instead of show that message. If you have it again please report.
we have more than 100 PR to commit to master. wait a few days or you can try develop

[2015-03-02 11:09] fernandog commented on #231
@Hellowlol ok! thanks

[2015-03-02 11:10] fernandog commented on #231
@freddysmith1 @falcon15500 @joq3 please reply or will mark it as fixed

[2015-03-02 11:10] Rouzax commented on #808
Okay will create an other issue if it happens again.
Why did you want to know if I was the same Rouzax as on Kodi?

[2015-03-02 11:13] fernandog commented on #808
because you replied my http://kodi.tv/kodi-15-0-alpha-1-road-to-isengard/ about external subtitles and I remember your name from there

[2015-03-02 11:16] fernandog commented on #803
follow guidelines:
https://github.com/SiCKRAGETV/sickrage-issues

[2015-03-02 11:19] Rouzax commented on #808
aah, but I'm not Martijn from Kodi. :smile:

[2015-03-02 11:20] fernandog commented on #808
ok. sorry. keep an eye on this issue. thanks

[2015-03-02 11:35] fernandog commented on #581
@Deddiekoel we are waiting your reply here
https://github.com/SiCKRAGETV/SickRage/pull/1407

otherwise we will close this

[2015-03-02 11:40] #767 closed

[2015-03-02 11:40] #539 closed

[2015-03-02 11:40] #25 closed

[2015-03-02 11:41] #627 closed

[2015-03-02 11:42] #611 closed

[2015-03-02 11:43] fernandog commented on #503
@abeloin we should add this to master too

[2015-03-02 11:44] fernandog commented on #329
@abeloin any news on this one?

[2015-03-02 11:53] icebal opened #810 "[APP SUBMITTED]: 'charmap' codec can't decode byte 0x8d in position 68: character maps to <undefined>"
### INFO
Python Version: **2.7.9 (default, Dec 10 2014, 12:24:55) [MSC v.1500 32 bit (Intel)]**
Operating System: **Windows-8-6.2.9200**
Branch: **master**
Commit: SiCKRAGETV/SickRage@2d8aad80cdfb8983832206af445039de0decded9
Link to Log: https://gist.github.com/aba1baa60de6c01edc3d
### ERROR
[code]
---
_STAFF NOTIFIED_: @SiCKRAGETV/owners @SiCKRAGETV/moderators

[2015-03-02 11:54] fernandog commented on #1
@abeloin there's already anidb support, isn't?

[2015-03-02 11:57] #810 closed

[2015-03-02 11:59] CtrlAltDefeat94 commented on #1
To track what anime's you've downloaded? Yes. As an indexer? No, it is not.

[2015-03-02 12:01] ByronTudhope opened #811 "[APP SUBMITTED]: invalid literal for int() with base 10: '0.1'"
### INFO
Python Version: **2.7.6 (default, Mar 22 2014, 22:59:56)
[GCC 4.8.2]**
Operating System: **Linux-3.13.0-43-generic-x86_64-with-Ubuntu-14.04-trusty**
Branch: **master**
Commit: SiCKRAGETV/SickRage@2d8aad80cdfb8983832206af445039de0decded9
Link to Log: https://gist.github.com/d30c0e2fb72e7ec2592a
### ERROR
[code]
---
_STAFF NOTIFIED_: @SiCKRAGETV/owners @SiCKRAGETV/moderators

[2015-03-02 12:01] ByronTudhope opened #812 "[APP SUBMITTED]: invalid literal for int() with base 10: '0.1'"
### INFO
Python Version: **2.7.6 (default, Mar 22 2014, 22:59:56)
[GCC 4.8.2]**
Operating System: **Linux-3.13.0-43-generic-x86_64-with-Ubuntu-14.04-trusty**
Branch: **master**
Commit: SiCKRAGETV/SickRage@2d8aad80cdfb8983832206af445039de0decded9
Link to Log: https://gist.github.com/f8d7b5da0a6ebe3800ad
### ERROR
[code]
---
_STAFF NOTIFIED_: @SiCKRAGETV/owners @SiCKRAGETV/moderators

[2015-03-02 12:02] fernandog commented on #811
@ByronTudhope how a seed time of 0.1 would work?  your torrent download accepts it?

[2015-03-02 12:02] #811 closed

[2015-03-02 12:04] #812 closed

[2015-03-02 12:16] icebal commented on #779
im testing this as i write this, waiting for the error to pop up, usually happens in 15-20 minutes

[2015-03-02 12:21] pct00 commented on #743
@fernandog i didn't reply earlier because it didn't happen again over the weekend. i was not able to force it again even with mass updates.

however today i just updated SR. logged in remotelly just now to my home computer and it seems to be happening again. later when i get home i will use process explorer to see if any other process is locking the log files. can't do it now cause the access is d

[2015-03-02 12:24] icebal commented on #779
was able to force download all subtitles and did not receive the error :D

[2015-03-02 12:26] icebal commented on #743
@pct00 were you downloading a large amount at the time of it? i was going on 1.7TB with Sab, sickRage wasnt able to keep up and was getting backlogged.

[2015-03-02 12:28] pct00 commented on #743
@icebal i only use torrents so i dont think that's the issue, i think when sr restarts for the update it keeps a open handle on the main log file and when it gets full and tries to rename it it fails

[2015-03-02 12:32] fernandog commented on #774
it's by design. don't know if there's a way to fix it
what you can do: right click in the button and "open in a new tab"

[2015-03-02 12:33] fernandog commented on #743
@pct00 stop SR, delete all logs files and start. that should fix

[2015-03-02 12:34] fernandog commented on #779
@icebal are you using the latest develop update? if so, we can close the issue

[2015-03-02 12:39] icebal commented on #779
im using the latest update (i believe) plus the above patched in

On Mon, Mar 2, 2015 at 6:34 AM, Fernando <notifications@github.com> wrote:

[2015-03-02 12:51] icebal commented on #779
nooopoe my bad, BRANCH: (master) / COMMIT: (2d8aad80cdfb8983832206af445039de0decded9)

[2015-03-02 12:52] fernandog commented on #779
@icebal can you switch to develop in general>advanced>github and try reproduce the error?

[2015-03-02 12:53] icebal commented on #779
trying it now

[2015-03-02 12:58] icebal commented on #779
not seeing any, got through all the anime, where most of my errors came from

[2015-03-02 13:03] fernandog commented on #779
@icebal when you switch from master>develop, did SR restarted automatically?

[2015-03-02 13:04] icebal commented on #779
it did, and only one process going. still no errors and have gone through all my shows with no errors.

[2015-03-02 13:05] icebal commented on #779
still no sign of the other issue with the log files getting stuck either

[2015-03-02 13:07] fernandog commented on #779
@icebal ok will close this issue

[2015-03-02 13:07] #779 closed

[2015-03-02 13:49] pct00 commented on #743
@fernandog hi, yes. that solves the problem but i wanted to confirm the source of the error for you guys :)

[2015-03-02 13:51] fernandog opened #813 "API with non-english airs field (weekday name)"
API with non-english airdate / airs field.
Today it's show in non-english and it's not compatible with third party apps
the intention is only change the API, not UI (coming episodes page)

@Hellowlol, is this a problem for you in HTPC-Manager ? any thoughts?

[2015-03-02 13:53] fernandog commented on #743
@pct00 SR loses itself with non-sequential logs

[2015-03-02 14:18] Hellowlol commented on #813
Im not really sure what you what you talking about to be honest? Do mean that the show airtime i based on the users timezone and not the networks?

[2015-03-02 14:21] TagForce commented on #807
@abeloin
Wouldn't adding the following to processTV line 362 (right before return unpacked_files) keep SR from throwing this error?

[code]

[2015-03-02 14:22] fernandog commented on #813
{
                "airdate": "2015-02-16",
                "airs": "segunda 12:00 ",

Segunda = monday

I ask you because you use a lot API, dont you?

[2015-03-02 14:23] fernandog commented on #813
Not timezone but weekday name

[2015-03-02 14:24] fernandog commented on #807
Isnt possible to get unrar status after unpack? Or error codes?

[2015-03-02 14:36] Hellowlol commented on #813
Yes, i use the api alot :) Ah, honestly i havnt noticed. Most of my shows are English. Does this happen even if you set the lang to english while adding the show? If thats the case i would prefer english. On a side note, i would be nice if there was a addtitional field with airtime_epoch: 12312312313 so it could be parsed manually from third party aps

[2015-03-02 14:40] fernandog commented on #813
All my shows are english. But my locale is pt-br.utf-8

Third party apps (nzb360) says we have to change the code. No then.

[2015-03-02 14:41] fernandog commented on #813
The airtime is ok. Need to change the title. Its the airs (weekday) the problem

[2015-03-02 14:50] heymoe commented on #774
Fair enough, I'll give the new tab work around a try. Thanks

[2015-03-02 14:53] Hellowlol commented on #813
yeah, but we add a airtime from epoch nzb360 can parse this however they want

[2015-03-02 14:58] abeloin commented on #813
https://github.com/SiCKRAGETV/SickRage/blob/develop/sickbeard/webapi.py#L794

[2015-03-02 15:02] fernandog commented on #813
dateFormat = "%Y-%m-%d"

ep['airdate'] = sbdatetime.sbdatetime.sbfdate(dtEpisodeAirs, d_preset=dateFormat

I think its not there

[2015-03-02 15:03] abeloin commented on #813
L788: ep['airs'] = sbdatetime.sbdatetime.sbftime(dtEpisodeAirs, t_preset=timeFormat).lstrip('0').replace(' 0',
                                                                                                               ' ')

[2015-03-02 15:06] abeloin commented on #813
For some reason L133 in sbdatetime.py is not working in your system:
locale.setlocale(locale.LC_TIME, 'en_US')

[2015-03-02 15:14] abeloin commented on #813
But why output the time in such format? We should output using ISO-8601:
date: YYYY-MM-DD
time: hh:mm
timezone: +0:00
day: N (integer)

this way it is easy to parse for computer

[2015-03-02 15:35] Hellowlol commented on #813
What about adding airs_utc: "Mon, 2 Mar 2015 15:33:02 UTC " ?

[2015-03-02 15:41] suprdave23 commented on #786
@abeloin @fernandog

Any updates on this yet? I am eager to test any fixes! :)

[2015-03-02 16:08] TagForce commented on #807
the unrar implementation doesn't supply a status other than Incorrect Password or Failed Unrar archive if anything really bad happens that would raise an exception. If it fails to unRar a file for any less serious error it will simply pass an empty filename back. Unfortunately, SR uses the info_list extracted from the RAR header to fill the unpacked_files variable. If any file fails to extract and

[2015-03-02 16:08] abeloin commented on #813
Yes but no English at all.
airs_utc = "2015-03-02T15:33:02.00Z" <-- iso-8601
and I just realised we already have a weekday field:
"weekday": 6

[2015-03-02 16:49] Hellowlol commented on #518
The api command shouldnt return any data.

See https://github.com/SiCKRAGETV/SickRage/blob/master/sickbeard/webapi.py#L1401

[2015-03-02 17:08] abeloin commented on #813
@fernandog Can you test this PR https://github.com/SiCKRAGETV/SickRage/pull/1447

[2015-03-02 17:24] abeloin commented on #1
@fernandog Not as an indexer

[2015-03-02 17:24] fernandog commented on #813
it's working
[code]

[2015-03-02 17:27] kestnuts commented on #743
@fernandog sorry for the late reply, this week has been very busy for me. My log folder also only had sickrage.log and sickrage.log.1-5. I'm going to try deleting them and restarting sickrage and see if that solves the problem.

[2015-03-02 17:29] fernandog commented on #743
@kestnuts is error persists will re-open. waiting your feedback

[2015-03-02 17:30] suprdave23 opened #814 "Last Man on Earth - all episode set to "Snatched". What happened here?"
I only have a small amount of logs to provide. Hoping some light can be shed on how to prevent this anyway.

I added the new show "The last man on earth" to download. s01e01 downloaded last night. It also grabbed "The Last Man on Earth 1964 PROPER 1080p BluRay X264-AMIABLE" last night for some reason. Then when I looked at the show list, every episode was set to "Snatched".

![capture](https://clo

[2015-03-02 17:35] fernandog commented on #814
@suprdave23 can you send a print of this show folder?  we still need FULL logs and everything else asked here: https://github.com/SiCKRAGETV/sickrage-issues/

[2015-03-02 17:35] abeloin commented on #786
@suprdave23 There's no bug here, sickrage doesn't refine it search by most seeders after it check for quality. If you choose all qualities, it will pick the best quality regardless of the numbers of seeders.

[2015-03-02 17:37] #813 closed

[2015-03-02 17:43] abeloin commented on #807
I forget to add this:
https://sickrage.tv/forums/forum/help-support/bug-issue-reports/9570-unpack-fails-to-detect-corrupt-or-missing-rar-files-from-split-archives

[2015-03-02 17:52] suprdave23 commented on #814
I am running latest dev branch, just updated.

I'm able to consistently reproduce the results. The buffer is too much for me to be able to grab all of it from the command window, but I see what the issue is, it thinks the movie is a full season and processes it accordingly:

11:48:53 DEBUG::SEARCHQUEUE-BACKLOG-281622 :: [OldPirateBay] :: Using ALL regexes
11:48:53 DEBUG::SEARCHQUEUE-BACKLOG-281622

[2015-03-02 17:57] fernandog commented on #814
@suprdave23 SR thinks the movie file is a season pack but it shouldn't.

@TagForce is that it?

[2015-03-02 18:44] mcmikev opened #815 "[APP SUBMITTED]: HTTPSConnectionPool(host='api.trakt.tv', port=443): Read timed out. (read timeout=30)"
### INFO
Python Version: **2.7.8 (default, Dec 12 2014, 22:58:35)
[GCC 4.7.3 20130102 (prerelease)]**
Operating System: **Linux-3.2.40-x86_64-with-glibc2.2.5**
Branch: **develop**
Commit: SiCKRAGETV/SickRage@68cd0fa18e3ae75a368728aeaaae7913caf13db4
Link to Log: https://gist.github.com/c82812b0e1425a86785e
### ERROR
[code]
---
_STAFF NOTIFIED_: @SiCKRAGETV/owners @SiCKRAGETV/moderators

[2015-03-02 18:47] fernandog commented on #276
@TagForce

just added a new feature that fetches from all logfiles. Will always show 500 lines. but if you use the new  searchLog or searchFilter, it will fetch from all files (limit of 500 lines of result).

Also if SR justed rotated the file, sickrage.log will have only a few lines. With this, it will fetch the next logfile to complete 500 lines

https://github.com/SiCKRAGETV/SickRage/pull/1448

[2015-03-02 18:48] fernandog commented on #815
@mcmikev increase trakt timeout

[2015-03-02 18:49] fernandog commented on #815
@abeloin strange it didn't catch the exception:

https://github.com/SiCKRAGETV/SickRage/pull/1330

[2015-03-02 18:55] mcmikev commented on #815
@fernandog I have increaed the timeout from 30 to 120. Will see if this fixes my issue.

Thanks

[2015-03-02 19:04] scythe000 commented on #793
It's not. I can rename the file just fine.

Sent from my iPhone

On Mar 1, 2015, at 10:14 PM, Alexandre Beloin <notifications@github.com<mailto:notifications@github.com>> wrote:

If it's read only

—
Reply to this email directly or view it on GitHub<https://github.com/SiCKRAGETV/sickrage-issues/issues/793#issuecomment-76663421>.

[2015-03-02 19:06] fernandog commented on #815
tra

[2015-03-02 19:06] #815 closed

[2015-03-02 19:26] scythe000 commented on #793
Ugh, now my SR won't launch at all.
`C:\SickRage>python sickbeard.py
Traceback (most recent call last):
  File "sickbeard.py", line 62, in <module>
    import sickbeard
  File "C:\SickRage\sickbeard\__init__.py", line 33, in <module>
    from sickbeard import providers, metadata, config, webserveInit
  File "C:\SickRage\sickbeard\providers\__init__.py", line 46, in <module>
    import generic
  Fi

[2015-03-02 19:30] scythe000 commented on #793
Did a hard reset and it seems to be back up.

[2015-03-02 19:44] Alexwijn opened #816 "Rescan is not changing any status"
I'm trying to rescan an entire TV Show because I accidentally set everything to archive but not all episodes should be. When the rescan is complete no status has been changed. I try to manually change the status to ignored or unknown and then rescan but nothing happened either.

How can I let sickrage scan the episodes and update the status without reimporting the TV Show because I do not want to

[2015-03-02 19:46] fernandog commented on #816
https://github.com/SiCKRAGETV/sickrage-issues

[2015-03-02 19:46] #816 closed

[2015-03-02 19:52] Alexwijn commented on #816
This is the logs when I started attempting to rescan untill now: http://pastebin.com/6M3Wksxm

[2015-03-02 20:06] fernandog commented on #816
how hard is to read the page.??

SUBMITTING A BUG/ISSUE TICKET
(DO NOT POST ANYTHING THAT CONTAINS YOUR LOGIN INFORMATION OR API KEY)
Please include the following when opening a new ticket:
Branch
Commit hash
Your operating system and python version
What you did
What happened
What you expected
Link to a copy/paste of your logfile with clear debug info of the error on PASTEBIN

[2015-03-02 20:11] Alexwijn commented on #816
Branch: DEVELOP
Commit hash: 68cd0fa18e3ae75a368728aeaaae7913caf13db4
Your operating system: RaspBian (Hardware: Raspberry B)
Python version: 2.7.3

[2015-03-02 20:13] matigonkas opened #817 "[APP SUBMITTED]: 'season'"
### INFO
Python Version: **2.7.8 (default, Oct 20 2014, 15:05:29)
[GCC 4.9.1]**
Operating System: **Linux-3.16.0-30-generic-i686-with-Ubuntu-14.10-utopic**
Branch: **develop**
Commit: SiCKRAGETV/SickRage@68cd0fa18e3ae75a368728aeaaae7913caf13db4
Link to Log: https://gist.github.com/8e1ea019b9dccd9fff93
### ERROR
[code]
---
_STAFF NOTIFIED_: @SiCKRAGETV/owners @SiCKRAGETV/moderators

[2015-03-02 20:16] matigonkas commented on #817
I got the following error as a notification "Unable to look up the show in /media/ssd/Shows/Hitler the Junkie on TVRage using ID 46444, not using the NFO. Delete .nfo and try adding manually again." when i tryed adding the show "Hitler the Junkie" http://www.tvrage.com/shows/id-46444

[2015-03-02 20:18] fernandog commented on #816
there's already that. But for ERROR messages only
auto submit issue. check config. must enter git user/pass

[2015-03-02 20:19] Alexwijn commented on #816
Exacly. For ERROR messages only. I'm referring to non-errors like this issue.

[2015-03-02 20:37] fernandog commented on #816
did you tried remove the show WITHOUT deleting data and re-add ?

[2015-03-02 20:52] fernandog commented on #817
probably a timeout issue. did you try again?

[2015-03-02 20:53] Alexwijn commented on #816
Not yet, but I wanted to prevent that to safe time and trouble if it starts
to download everything again.
Op 2 mrt. 2015 21:37 schreef "Fernando" <notifications@github.com>:

[2015-03-02 20:57] fernandog commented on #817
@matigonkas seems you didn't had internet that time:

[code]

[2015-03-02 20:58] fernandog commented on #816
it won't start download everything again IF all files are still in the folder

[2015-03-02 20:59] Alexwijn commented on #816
I do not have seasons, that's why. There are 7 seasons and I only got the
last 2 seasons.
Op 2 mrt. 2015 21:58 schreef "Fernando" <notifications@github.com>:

[2015-03-02 20:59] fernandog opened #818 "Before start threads that needs internet check if it is available"
To avoid uncatch exceptions or create unnecessary errors

[2015-03-02 21:01] fernandog commented on #816
re-add the show, the existing episodes will be marked as downloaded.
The missing episodes will depend on the selected status while adding the tv-show

[2015-03-02 21:02] Alexwijn commented on #816
Alright, I guess there is no other way.
Op 2 mrt. 2015 22:01 schreef "Fernando" <notifications@github.com>:

[2015-03-02 21:25] suprdave23 commented on #793
@scythe000 Is the file being seeded? If so you will have this issue. I had to write a little script that utorrent runs after a file is done being downloaded that will remove the torrent from utorrent's active list so that SR can process the file.

[2015-03-02 21:28] scythe000 commented on #793
Nope, none of these (currently 3) show files are in utorrent. I tried exiting utorrent and running the postprocessor, but got the same errors.

From: suprdave23 [mailto:notifications@github.com]
Sent: Monday, March 02, 2015 1:25 PM
To: SiCKRAGETV/sickrage-issues
Cc: Kenneth May
Subject: Re: [sickrage-issues] Error with post-processing (#793)

@scythe000<https://github.com/scythe000> Is the file be

[2015-03-02 21:29] matigonkas commented on #817
Yes tryed it again, happened the same thing again :/

[2015-03-02 21:48] TagForce commented on #807
Or that. I don't like messing with 3rd party libraries. Makes updating them less straightforward.

[2015-03-02 22:00] fernandog commented on #817
can you access rarbg in browser? browser uses the same internet from SR?

[2015-03-02 22:11] matigonkas commented on #817
Yes i can acess rarbg from the browser where SR is ,but why rarbg would influese the adding of the show? Also it seems to only happen to that specific show ( could you try adding it yourself ? )

[2015-03-02 22:15] TagForce commented on #814
@suprdave23 @fernandog Yes. I think so. It happens when shows and movies have the same name. Especially when you have Absolute numbering turned on, since it will match the year to an episode or season.
Try to add movie releasegroups to the ignore list. There's lists of them available on the web

[2015-03-02 22:46] seijmo opened #819 "[Feature Request] Add support for subtitles from sous-titres.eu"
Hi,

I used to use a fork of sickbeard before discovering sickrage. I love the work you do but I miss a feature from the fork I used : The support from website sous-titres.eu for french and english subtitles.

Is there any way that you can add it to sickrage?
Here is the link to the code if it helps https://github.com/sarakha63/Sick-Beard/blob/development/lib/subliminal/services/soustitreseu.py

T

[2015-03-02 23:19] abeloin commented on #815
@fernandog it's not the same thing. It the traceback from webserve.py#L253

[2015-03-02 23:35] abeloin commented on #793
@scythe000

That doesn't mean nothing even if the file is read only as it can be renamed, please check the permission.

[2015-03-03 00:01] fernandog commented on #817
I saw another error in your log

[2015-03-03 00:33] copekyle opened #820 "Logs stop writing to log file"
BRANCH: (develop) / COMMIT: (68cd0fa18e3ae75a368728aeaaae7913caf13db4)

I've been having this issue for a while and I'm not sure when it started because I only check the logs when I have a problem.  I go to view my logs and they are weeks behind.  I check the log file and it seems the sickrage just stopped writing to the log file.  I restart sickrage and it doesn't write to the log file.  I have t

[2015-03-03 00:40] djack42 commented on #806
So i finaly decided to look inside my db and it was a mess...
My guess, the first attempt to mass edit all of my shows has been interrupted somehow and mass edit was not working on the path anymore...
I set the location of each of my tvshows using a sqlite browser and then i did the same in the episodes.
Now i restarted sickrage and mass updating, refreshing, renaming. It will take amwhile but thi

[2015-03-03 00:44] abeloin commented on #820
That is usually an indication that a program other than sickrage is locking the log files so when it try to rotate the files it stop.

[2015-03-03 00:50] copekyle commented on #820
That would make sense, any idea how to find which program is causing this? This is on a media server, so I have too many programs to just check each one individually. It's also happens randomly.

[2015-03-03 00:52] chrisric opened #821 "Daemon mode - Sickrage stops working overnight on Mac 10.8.5"
Hi Everyone,

I'm guessing this is something simple I am missing, I installed Sickrage on my Mac Mini 10.8.5 about a week ago and it works perfectly during the day. No issues that I can see until 3am - 4am, some process must kick off that is failing but I don't see it in the log.

My setup details:

SR Version: BRANCH: (develop) / COMMIT: (e7349b3ad2127d6b4bb1976235a2b490935c6a81)
Python Version:

[2015-03-03 00:52] copekyle commented on #820
This might also be an indicator, I get a random error that says " unable to update show, the show is already being updated"... Also random and never gives any indication of why it's throwing the error...

[2015-03-03 01:07] abeloin commented on #820
In the console, you would see an error like this:
[code]

[2015-03-03 01:08] abeloin commented on #820
Can you check the open handle on sickrage.log

Use one of the tools used in the q/a here http://serverfault.com/questions/1966/how-do-you-find-what-process-is-holding-a-file-open-in-windows

* Process explorer
* handle
* openfiles
* unlocker

[2015-03-03 01:09] abeloin commented on #820
That simply mean, another thread is updating the data so don't update it.

[2015-03-03 01:13] abeloin commented on #821
It's the shows refresh that start at 3 am.

I would recommend updating to the latest version of python 2.7.9 first.

[2015-03-03 02:02] scythe000 commented on #793
The users and groups "administrator, administrators, guests and everyone" have full control.

[2015-03-03 02:04] scythe000 commented on #793
`2015-03-02 18:00:50 Thread-56 :: Unable to move file E:\TV Series\Downloaded TV Series\The.Simpsons.S26E15.REAL.REPACK.720p.HDTV.x264-KILLERS.mkv to E:\TV Series\The Simpsons\Season 26\The Simpsons - S26E15 - The Princess Guide.mkv: [Errno 13] Permission denied: u'E:\\TV Series\\The Simpsons\\Season 26\\The Simpsons - S26E15 - The Princess Guide.mkv'
2015-03-02 18:00:50 Thread-56 :: Unable to mov

[2015-03-03 02:06] goatbased commented on #370
Hey guys, coming late to the party on this one but I've been experiencing this issue recently as well.  I also see this happen over night and the only way around it so far has been to restart Sickrage.

@fernandog, I've uploaded my logs for the past 24 hours or so to my dropbox (https://www.dropbox.com/sh/v1abau1cfq9prm1/AAA_kJh9DLXYN-SNuN3g1msUa?dl=0).

Errors start showing up in sickrage.log.2 a

[2015-03-03 02:24] chrisric commented on #821
Thanks for reviewing. I updated python to 2.7.9 and sickrage to the latest dev release.

I will report back tomorrow.

SR Version: BRANCH: (develop) / COMMIT: (68cd0fa18e3ae75a368728aeaaae7913caf13db4)
Python Version: 2.7.9 (v2.7.9:648dcafa7e5f, Dec 10 2014, 10:10:46) [GCC 4.2.1 (Apple Inc. build 5666) (dot 3)]

[2015-03-03 05:55] richmobile opened #822 "Numbers in Configure Custom Newznab Providers"
Having numbers in provider name causes token error in searches.
This was fixed in sickbeard.
http://i.imgur.com/4N7bmXf.png

[2015-03-03 06:41] icebal opened #823 "[APP SUBMITTED]: 'charmap' codec can't encode characters in position 0-5: character maps to <undefined>"
### INFO
Python Version: **2.7.9 (default, Dec 10 2014, 12:24:55) [MSC v.1500 32 bit (Intel)]**
Operating System: **Windows-8-6.2.9200**
Branch: **develop**
Commit: SiCKRAGETV/SickRage@68cd0fa18e3ae75a368728aeaaae7913caf13db4
### ERROR
[code]
---
_STAFF NOTIFIED_: @SiCKRAGETV/owners @SiCKRAGETV/moderators

[2015-03-03 06:41] icebal opened #824 "[APP SUBMITTED]: 'charmap' codec can't encode characters in position 0-5: character maps to <undefined>"
### INFO
Python Version: **2.7.9 (default, Dec 10 2014, 12:24:55) [MSC v.1500 32 bit (Intel)]**
Operating System: **Windows-8-6.2.9200**
Branch: **develop**
Commit: SiCKRAGETV/SickRage@68cd0fa18e3ae75a368728aeaaae7913caf13db4
### ERROR
[code]
---
_STAFF NOTIFIED_: @SiCKRAGETV/owners @SiCKRAGETV/moderators

[2015-03-03 06:41] icebal opened #825 "[APP SUBMITTED]: 'charmap' codec can't encode characters in position 0-5: character maps to <undefined>"
### INFO
Python Version: **2.7.9 (default, Dec 10 2014, 12:24:55) [MSC v.1500 32 bit (Intel)]**
Operating System: **Windows-8-6.2.9200**
Branch: **develop**
Commit: SiCKRAGETV/SickRage@68cd0fa18e3ae75a368728aeaaae7913caf13db4
### ERROR
[code]
---
_STAFF NOTIFIED_: @SiCKRAGETV/owners @SiCKRAGETV/moderators

[2015-03-03 06:41] icebal opened #826 "[APP SUBMITTED]: 'charmap' codec can't encode characters in position 0-5: character maps to <undefined>"
### INFO
Python Version: **2.7.9 (default, Dec 10 2014, 12:24:55) [MSC v.1500 32 bit (Intel)]**
Operating System: **Windows-8-6.2.9200**
Branch: **develop**
Commit: SiCKRAGETV/SickRage@68cd0fa18e3ae75a368728aeaaae7913caf13db4
### ERROR
[code]
---
_STAFF NOTIFIED_: @SiCKRAGETV/owners @SiCKRAGETV/moderators

[2015-03-03 07:45] TagForce commented on #826
Duplicate of https://github.com/SiCKRAGETV/sickrage-issues/issues/823

[2015-03-03 07:45] #826 closed

[2015-03-03 07:45] TagForce commented on #825
https://github.com/SiCKRAGETV/sickrage-issues/issues/823

[2015-03-03 07:45] #825 closed

[2015-03-03 07:45] TagForce commented on #824
https://github.com/SiCKRAGETV/sickrage-issues/issues/823

[2015-03-03 07:45] #824 closed

[2015-03-03 07:46] TagForce commented on #823
@icebal What show and episode was it searching for?
Also, check your locale supports utf-8.

[2015-03-03 07:52] TagForce commented on #793
Log into the machine running SR as the user running SR. cd into E:\TV Series\Vikings\Season 03\
create a new file manually names Vikings - S03E02 - The Wanderer.mkv.

[2015-03-03 08:24] Rouzax commented on #808
It has happened again.
[code]
Do you want me to submit a new issue via SickRage?

[2015-03-03 08:29] Rouzax commented on #808
Hhhm, I've looked through all the logs but it appears that the logs already rotated beyond this time point. So the errors in the webGui must be in the DB because they aren't in the logs any more. :disappointed:

[2015-03-03 08:49] Rouzax opened #827 "Top Gear S22E06 not found because it is labeled as Top Gear UK"
Not sure if this is something SickRage can fix.

I'm having trouble downloading the latest Top Gear S22E06 in 1080p HD TV.
Torrentday has it listed as
![image](https://cloud.githubusercontent.com/assets/4103090/6458992/44108184-c18a-11e4-8208-ac875ca7359c.png)
Because of the UK addition SickRage discards the episode.
[code]

[2015-03-03 08:50] eXistenZNL commented on #404
Hi,

I can confirm that the bug has indeed been fixed properly. Great work! This issue can now be closed.

[2015-03-03 08:50] #404 closed

[2015-03-03 08:56] Rouzax commented on #827
Just found out that I could add a local scene exception in SickRage :flushed:
:

[2015-03-03 09:08] Cancerman opened #828 "[Feature Request] Allow download of episodes with missing airdate"
There are a lot of shows, particularly documentaries, that are missing the airdates on thetvdb.com. Sickrage seems to default this airdate to "Never." The episodes aren't being counted and displayed properly when looking at the downloads column on the show list page. Examples attached.

![airdate1 - copy](https://cloud.githubusercontent.com/assets/10470171/6459209/cb9def56-c149-11e4-8870-9e660783b

[2015-03-03 10:04] fernandog commented on #808
Increase your log size and number of log files in settings.
we need the full logs

[2015-03-03 10:08] Rouzax commented on #808
I understand, already set the number of logs to 10.

[2015-03-03 10:08] #827 closed

[2015-03-03 10:10] fernandog commented on #808
Increase size to. Double or triple of that numher

[2015-03-03 10:13] Rouzax commented on #808
Will do :wink:
![image](https://cloud.githubusercontent.com/assets/4103090/6460298/4703b684-c196-11e4-8398-5e0f192fd9b5.png)

[2015-03-03 10:18] jharwood0 opened #829 "[APP SUBMITTED]: u'\u0447'"
### INFO
Python Version: **2.7.3 (default, Mar 18 2014, 05:13:23)
[GCC 4.6.3]**
Operating System: **Linux-3.18.7+-armv7l-with-debian-7.8**
Branch: **master**
Commit: SiCKRAGETV/SickRage@2d8aad80cdfb8983832206af445039de0decded9
### ERROR
[code]
---
_STAFF NOTIFIED_: @SiCKRAGETV/owners @SiCKRAGETV/moderators

[2015-03-03 10:22] blazem opened #830 "uTorrent: Failed Sending Torrent"
Hi there,

I am having issues with the search sending result torrent to uTorrent.

I'm using master Branch on windows 7. Chrome browser. Python 2.7.9

Log:

2015-03-03 23:11:46 DEBUG    SEARCHQUEUE-MANUAL-272118 :: uTorrent: Exception raised when sending torrent: not a valid bencoded string
AABTFailure: not a valid bencoded string
AA    raise BTFailure("not a valid bencoded string")
AA  File "C:\U

[2015-03-03 10:25] jacobwvandijk opened #831 "AttributeError: 'module' object has no attribute '_create_unverified_context'"
I'm running windows 8.1 professional with python  2.7.6 and cheetah 2.4.4. Starting sickrage from cmd with admin privileges by typing 'python sickbeard.py' results in

File "SickRage\sickbeard.py", line 55, in <module>
    ssl._create_default_https_context = ssl._create_unverified_context
AttributeError: 'module' object has no attribute '_create_unverified_context'

I have slashed out these lines

[2015-03-03 10:53] TagForce opened #832 "[Feature Request] Add syncfile 'extensions' that are in the middle of the filename"
Some programs might use filename patterns that add a 'synchronisation' token in the middle of the filename (not at the end, but like somefile.syncthing.mkv).
Right now is_Syncfile only catches extensions.

[2015-03-03 11:02] TagForce commented on #831
@jacobwvandijk
It should only run that code when you're on Python 2.7.9 or higher.
Are you sure you have no other installed python interpreter that gets run when issuing that command?
Please try it using an absolute path to the python.exe (ie: C:\Python27\bin\python.exe sickbeard.py)

[2015-03-03 11:27] fernandog commented on #830
@blazem

Please include the following when opening a new ticket:

**Branch**
**Commit hash**
**Your operating system and python version**
What you did
What happened
What you expected
Link to a copy/paste of your logfile with clear debug info of the error on PASTEBIN

[2015-03-03 11:27] fernandog commented on #829
fixed in develop. wait the fix go to master

[2015-03-03 11:27] #829 closed

[2015-03-03 11:32] jacobwvandijk commented on #831
I made a mistake. It's python 2.7.9. There is no other python installed.

[2015-03-03 12:01] fernandog commented on #831
@jacobwvandijk please run in CMD:

[code]

post result.

run:
[code]

post result

[2015-03-03 12:02] fernandog commented on #822
https://github.com/SiCKRAGETV/sickrage-issues

[2015-03-03 12:02] #822 closed

[2015-03-03 12:04] fernandog commented on #828
@Cancerman

does your SR run 24/7 ? It updates this infos every 03:00 AM
there's a new feature that allow user to change the hours to update so user don't need to keep SR overnight

[2015-03-03 12:07] fernandog commented on #817
@matigonkas if you check TVRAGE there's no information about any episodes.

[2015-03-03 12:07] #817 closed

[2015-03-03 12:08] fernandog commented on #830
@blazem also please send your utorrent version

[2015-03-03 12:19] fernandog commented on #830
@blazem that torrent is buggy

[2015-03-03 12:22] fernandog commented on #823
@TagForce windows user. don't have locale.

@abeloin did this PR https://github.com/SiCKRAGETV/SickRage/pull/1385 and it should work. Don't know what it's not.

[2015-03-03 12:37] fernandog commented on #796
@tchirou reply or will assume is fixed and will close issue

[2015-03-03 12:37] ripper1967 commented on #820
Windows 8.1 pro
SR Version:  BRANCH: (develop) / COMMIT: (68cd0fa18e3ae75a368728aeaaae7913caf13db4)
2.7.9 (default, Dec 10 2014, 12:24:55) [MSC v.1500 32 bit (Intel)]

I am also get  this error, http://pastebin.com/TPqpGgHJ ,do you have a recommendation to correct?

[2015-03-03 12:37] #231 closed

[2015-03-03 12:39] #581 closed

[2015-03-03 12:39] #762 closed

[2015-03-03 12:39] #787 closed

[2015-03-03 12:40] fernandog commented on #807
https://github.com/SiCKRAGETV/SickRage/pull/1451

[2015-03-03 12:41] tchirou commented on #796
Well, before I had the chance to modify, the PR was merged in the new develop branch and it was closed
So yes it works and I close

[2015-03-03 12:41] #796 closed

[2015-03-03 12:44] fernandog commented on #820
@abeloin I think this happens when the 03:00AM update is running and SickRage try to rotate the log.

[2015-03-03 12:46] fernandog commented on #796
@tchirou you can still verify! We have lof issues waiting feedback and users don't reply. It's complicated  . We have to close them if no reply

[2015-03-03 12:48] TagForce commented on #831
@jacobwvandijk
Can you change the line from
```ssl._create_default_https_context = ssl._create_unverified_context```
to
[code]
and then check if it works?

both attributes are supposed to be in the ssl lib for Python 2.7.9, but apparently they're not always.

[2015-03-03 12:50] tchirou commented on #796
Sorry, I presumed that when multiples issues were referenced by the same PR which was merged, all issues were automatically closed
I will remember it for next times

[2015-03-03 12:50] exadeci opened #833 "[Feature Request] Add a frame similar to couchpotato for manual download"
Lately I'm having issues with torrents that are active but not or barely not seeded it would be nice that instead of doing whatever manual search does that it displayed a list of available torrents for the episode, the same way couchpotato does for movies:
![capture d ecran 2015-03-03 a 13 40 29](https://cloud.githubusercontent.com/assets/1394130/6462769/622ae43a-c1ac-11e4-86c0-f2ec1b89a69e.png)

[2015-03-03 12:53] ripper1967 commented on #820
yes I am running windows,, no fernandog, it happens very random but usually  just restarting it can cause it ,because I believe it is doing a search and I try restart

[2015-03-03 12:53] fernandog commented on #796
@tchirou
sometimes PR it's merged to test faster. sometimes PR are not merged because we are uncertain about the fix. we need user to reproduce the error and confirm that issue is fixed

[2015-03-03 12:54] fernandog commented on #820
@ripper1967 do you have "update shows at startup" enabled?

[2015-03-03 12:59] tchirou commented on #796
Yes i understand but the PR was merged and already labeled tested and approved by Alexandre when I looked up, that is why i (mistakenly) presumed all related issues would be closed by the team

[2015-03-03 13:04] ripper1967 commented on #820
yes both are enabled so I take it disable both?

[2015-03-03 13:06] fernandog commented on #796
@tchirou in his test it's fixed. but is it fixed in your SR? if yes, will keep this closed

[2015-03-03 13:07] tchirou commented on #796
Yes it works for me.

[2015-03-03 13:10] fernandog commented on #820
that's why! if you keep SR on 24/7 you can disable it. Because this does a massive update and it takes a long time! Imagine that you started SR at 23:00, the "update shows at startup" started to run. if finishes but at 03:00 another update will be started (SR don't need to update again)

@TagForce shouldn't we check the last time shows were updated and block if is less than 24 hours for example? Y

[2015-03-03 13:20] ripper1967 commented on #820
mine stays on 24/7

 and yes I have a large collection
 312 Shows (241 Active) | 5851 (+33 snatched) / 10919 Episodes Downloaded | Daily Search: 5:59:47 | Backlog Search: 3/8/2015

[2015-03-03 13:20] thesmackdown opened #834 "[APP SUBMITTED]: 'charmap' codec can't encode character u'\x86' in position 1: character maps to <undefined>"
### INFO
Python Version: **2.7.9 (default, Dec 10 2014, 12:24:55) [MSC v.1500 32 bit (Intel)]**
Operating System: **Windows-7-6.1.7601-SP1**
Branch: **master**
Commit: SiCKRAGETV/SickRage@2d8aad80cdfb8983832206af445039de0decded9
Link to Log: https://gist.github.com/8ba4be73c5ce937af220
### ERROR
[code]
---
_STAFF NOTIFIED_: @SiCKRAGETV/owners @SiCKRAGETV/moderators

[2015-03-03 13:23] ripper1967 commented on #820
and yes that did fix the error I was having..

[2015-03-03 13:26] fernandog commented on #820
Wasnt an error. But a configuration setting

[2015-03-03 13:27] ripper1967 commented on #820
True, thanks again.

[2015-03-03 13:28] #834 closed

[2015-03-03 13:52] copekyle commented on #820
I'm using Windows also... I'll disable both of those and see what happens. Thanks

[2015-03-03 13:55] fernandog commented on #820
@abeloin @TagForce  we still need to figure out how to not rotate log when another thread is pushing data to it (maybe windows only)

[2015-03-03 14:35] Freakadude opened #835 "[Feature Request] Pause/Unpause button directly from Show page"
Currently pausing and unpausing a show can be done by going through the Edit button on the individual shows subpages. Would it be possible to add a dedicated button for Pause/Unpause on each shows summary page? Its a little thing really but having to go through the Edit screen seems like an unecessary step for a quick edit function like pausing and unpausing a show.

If it can be added great if no

[2015-03-03 15:08] TagForce commented on #820
@fernandog Nothing we can do about that, really... Logging is handled by the Python Logging module.
It does have issues on Windows, it seems.

@copekyle @ripper1967 Have you guys enabled debug logging in the config.ini?
Can you disable it if you have?

[2015-03-03 15:09] Hellowlol opened #836 "Edit/add subtitles from the mass update"
Hey! It would be great if it was possible to edit/add subtitles from the mass edit page. Normally id fix simple things like this myself, but i cant wrap my head around cheetah..

[2015-03-03 15:14] copekyle commented on #820
@TagForce I do not have debug logging enabled.  I also have disabled both daily and backlog search on startup.

It makes sense that the processes were running over each other because my log was always "frozen" at times between 3am and 3:30am.  I was going crazy looking for any outside processes that started around those times that would "lock" the log file (i.e. virus scan) but could not find anyt

[2015-03-03 15:18] TagForce commented on #820
@copekyle Disabling those settings is a workout (that will work, most likely). The underlying problem is within Python itself. Even if the processes are running over eachother (which they shouldn't by the way, I'll have to look into that, if there's a show-update running it shouldn't start another one), it still should be able to rotate the logs just fine. Something in the logging module in Python

[2015-03-03 15:19] icebal commented on #823
sorry, first time logging through the app. computer rebooted and i lost the logs, waiting for it to happen again and will post.

[2015-03-03 15:23] fernandog commented on #823
@icebal Log are inside SickRage folder at \Logs

[2015-03-03 15:23] bitzorro commented on #820
@fernandog
Changing these settings doesnt help! Ive had the same prolem since around christmas. The only thing that makes logs running is a clean install of SickRage, but the logs will stop again!

[2015-03-03 15:24] icebal commented on #823
yes, but i have it set to autostart, which ran through the logs in 4 minutes, overwriting the log with the error.

[2015-03-03 15:26] copekyle commented on #820
@bitzorro  A Clean install?  Shoot, I'm glad that my problem wasn't as bad as yours.  I found that I could shutdown sickrage and just delete the existing log files and things would start working again.  If I had to do clean installs every time I wanted to see my logs, I would have probably given up on the logs by now!

[2015-03-03 15:26] fernandog commented on #823
Increase you log size and number of log files in Settings

[2015-03-03 15:26] matigonkas commented on #817
@fernandog I Just went ahead and pruposed a review to the TVRAGE page of that show ,so that isntead of being considered as a special episode S01E(special) its S01E01 , and its working now! Thanks:)

[2015-03-03 15:27] bitzorro commented on #820
@fernandog
originally i installed python for running PlexConnect and now i allso use it for sickrage, can there be a connflict there maybe?

[2015-03-03 15:28] fernandog commented on #820
When you restart SR, the update stops and you can have outdate show information for example an aired episode showing as unaired

[2015-03-03 15:29] icebal commented on #823
increased both, now set to 5mb and 10 logs

[2015-03-03 15:31] copekyle commented on #820
@fernandog You are answering all of the weird problems I've been having that I just accepted as a part of SickRage.  I didn't bother to ask because they were so small.  Now I'm finding out that it was all related.

[2015-03-03 15:33] scythe000 commented on #793
Ok, that's weird! I copied the file manually to that folder and renamed it just fine. I then ran a postprocess command with force checked and it worked, at least on that file. I've got two other files that won't process, but 3 other shows did process just fine over the past couple of days.

[2015-03-03 15:33] bitzorro commented on #820
@copekyle
i may have done that allso, cant really remember.
i have made 3 different clean installs since december for some different reasons and the logs allways have stoped after a couple of days.

[2015-03-03 15:35] TagForce commented on #820
@bitzorro What you can try is to set Number of Logfiles to 0. This should effectively disable logrotation. I haven't tested this, but it appears that the logging problems occurs when it wants to rotate the logfile, and then can't because it doesn't handle it properly on windows.
Setting Logfiles to 0 should simply change it so that the logfile is deleted instead of moved to a different name.

[2015-03-03 15:37] icebal commented on #743
found a cause for this, changing the number of log files automatically makes SR name the first archived log the highest number. so starting out fresh with a log number of 10, it will only have sickrage.log and sickrage.log.10

[2015-03-03 15:40] fernandog commented on #820
@bitzorro or set to 1 and set to a very large size

[2015-03-03 15:41] fernandog commented on #743
@TagForce bug?

[2015-03-03 15:42] icebal commented on #743
yeah, at least one of the root issues of above.

[2015-03-03 15:42] TagForce commented on #743
@fernandog If it is, it's a bug in Python logging, because all I did was pass the number of logfiles to the python logging system, instead of a hardcoded '5'.

[2015-03-03 15:44] bitzorro commented on #820
@fernandog @TagForce @copekyle
ive just set it to 0 and the logs started writing again.
I will try to set  it to 1 later.

[2015-03-03 15:44] fernandog commented on #743
@TagForce maybe when changing log number, we should delete previous log files.

[2015-03-03 15:49] icebal commented on #743
it does delete previous logs, just starts out at the biggest one

[2015-03-03 15:54] fernandog commented on #743
@TagForce can we do this in SR or it's a python change ?
http://bugs.python.org/issue4749#msg89212

[2015-03-03 15:56] gborri commented on #835
i'd like to suggest to make it available directly from homepage....

[2015-03-03 15:59] TagForce commented on #743
@fernandog Depends... I think SR spawns new threads, not new processes. If so, then it won't help.

@icebal It creates both the .log and the .log.<LOG_NR> files?
That has to be a bug in the logging system, or something on your system. It shouldn't do that, and I really never told it to create anything. Instead of passing a 5 to the logging system, it now passes a integer variable.

[2015-03-03 16:01] icebal commented on #743
it creates the .log, then when it gets full the first .log.* it creates is .log.10, instead of .log.1

[2015-03-03 16:02] fernandog commented on #743
try set your number of logs to 9. see what happens

[2015-03-03 16:05] jacobwvandijk commented on #831
@fernandog
Microsoft Windows [Version 6.3.9600]
(c) 2013 Microsoft Corporation. All rights reserved.

C:\Windows\system32>python --version
Python 2.7.9

C:\Windows\system32>import ssl ssl._create_default_https_context = ssl._create_u
nverified_context
'import' is not recognized as an internal or external command,
operable program or batch file.

C:\Windows\system32>python import ssl ssl._create_de

[2015-03-03 16:05] jacobwvandijk commented on #831
Did not want to close the usue, whoops.

[2015-03-03 16:06] fernandog commented on #831
@jacobwvandijk

first run: import ssh
then run: ssl._create_default_https_context = ssl._create_unverified_context

[2015-03-03 16:07] icebal commented on #743
ok, changing it to 9 does the same thing, it skips to .log.9. i can stop it by unlocking the .log file, Sickrage then creates the correct .log.1 file and is fine from there on.

[2015-03-03 16:14] nyquist10 opened #837 "[APP SUBMITTED]: [Errno -2] Name or service not known"
### INFO
Python Version: **2.7.3 (default, Mar 13 2014, 11:03:55)
[GCC 4.7.2]**
Operating System: **Linux-3.2.0-4-amd64-x86_64-with-debian-7.6**
Branch: **master**
Commit: SiCKRAGETV/SickRage@2d8aad80cdfb8983832206af445039de0decded9
### ERROR
[code]
---
_STAFF NOTIFIED_: @SiCKRAGETV/owners @SiCKRAGETV/moderators

[2015-03-03 16:16] fernandog commented on #830
@blazem can you do a test for me?

stop SR,
edit SickRage/sickbeard/clients/generic.py
clear contents and paste this one:
https://raw.githubusercontent.com/fernandog/SickRage/remove_traceback_generic_py/sickbeard/clients/generic.py

try to reproduce the error and post the log message error please

[2015-03-03 16:17] #837 closed

[2015-03-03 16:17] fernandog commented on #837
not an error.  try again in a few minutes and check your internet where SR is installed

[2015-03-03 16:18] jacobwvandijk commented on #831
@TagForce
Your suggestion works. No exceptions and Schrage is showing up 😄.

[2015-03-03 16:22] jacobwvandijk commented on #831
@fernandog
Microsoft Windows [Version 6.3.9600]
(c) 2013 Microsoft Corporation. All rights reserved.

D:\Program Files\SickRage>python
Python 2.7.9 (default, Dec 10 2014, 12:24:55) [MSC v.1500 32 bit (Intel)] on win
32
Type "help", "copyright", "credits" or "license" for more information.

Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
AttributeError: 'module' object has

[2015-03-03 16:24] fernandog commented on #831
@TagForce are you going to PR that?

[2015-03-03 16:36] Jaerin opened #838 "Add qbittorrent support"
qbittorrent (http://www.qbittorrent.org/) is the latest micro-client without all the bloat.  Would be nice to have integrated support.  Looks like it might be similar to rTorrent

[2015-03-03 16:45] jacobwvandijk commented on #831
Thank you guys. Just walked over from sick beard today. Quite some activity around here, superb.

[2015-03-03 16:53] fernandog commented on #718
@cwallace still waiting....

[2015-03-03 17:40] icebal commented on #743
this is now happening anytime i restart Sickrage. all log files get cleared, Sickrage starts Sickrage.log, then archives it as Sickrage.log.9, then the error loops

[2015-03-03 17:59] fernandog commented on #743
change number of logs to 1, change size to 52428800 (50mb),  stop SR, delete all logs from /Logs, start again

[2015-03-03 17:59] abeloin commented on #831
@fernandog @TagForce
He's getting this error because is path variable are improperly set: it missing the dlls and lib folder.

By adding hasattr, the monkeypatch isn't in place on is system so none of is search with unverified ssl will work

@jacobwvandijk See http://stackoverflow.com/questions/3701646/how-to-add-to-the-pythonpath-in-windows-7 on how to properly set python in path

[2015-03-03 18:10] icebal commented on #743
not getting any errors so far, but it is doubling up newly added shows.example below:
![image](https://cloud.githubusercontent.com/assets/946581/6468927/457ddea4-c19e-11e4-9e37-f238380739d6.png)

[2015-03-03 18:11] icebal commented on #743
i doubt this has anything to do with the logs, but it only happened when i changed it to 50mb and only 1 log

[2015-03-03 18:46] mgaulton opened #839 "FR: rename required indicator"
I would like to request the option to have some sort of indicator on a show entry in the list when there are items that need renaming. OR an overall "Manage Rename Status" interface similar to manage episode status.

[2015-03-03 19:29] jacobwvandijk commented on #831
@abeloin
Since I started this issue i'll look into it and let you guys know.

[2015-03-03 20:14] icebal commented on #743
loop happened again, log is in http://pastebin.com/LTjPeWDz
to be clear this is the iteration of 1 log file sized at 50mb

[2015-03-03 20:31] abeloin commented on #833
That or set the minimum number of seeders in the provider config.

[2015-03-03 20:47] suprdave23 commented on #814
@TagForce Yeah, I just put "1964" in the ignore list. Might be worth including that as a default for future installs for this particular show, I see no reason why that string would be in any of the TV show releases.

[2015-03-03 20:47] #814 closed

[2015-03-03 20:49] suprdave23 commented on #786
@abeloin OK thanks for clearing that up. Can this be considered for a future version? It seems like making this behavior (choose the best quality *with* the best seed number) the default would make sense.

[2015-03-03 20:55] abeloin commented on #820
@bitzorro Leave it to 0, from python doc:

Ref: https://docs.python.org/2/library/logging.handlers.html#rotatingfilehandler

[2015-03-03 21:20] abeloin commented on #786
Yes it is the feature request.

[2015-03-03 21:54] fernandog commented on #667
@gborri done! say thanks to @abeloin. nicely done!

[2015-03-03 21:55] #667 closed

[2015-03-03 21:55] #807 closed

[2015-03-03 22:11] chemmah opened #840 "ValueError: timestamp out of range for platform time_t"
ValueError: timestamp out of range for platform time_t appears when attempting to browse show list. Still able to look at settings and such. Attempted fresh rebuild with no previous data and had the same result once rebuilt and TV show directories scanned.

SR Version:	BRANCH: (master) / COMMIT: (2d8aad80cdfb8983832206af445039de0decded9)
Python Version:	2.7.8 (default, Oct 18 2014, 16:06:04) [GCC

[2015-03-03 22:18] fernandog commented on #840
@chemmah do you have change timestamp enable in PP?

[2015-03-03 22:27] abeloin commented on #840
One of your shows as an invalid time

[2015-03-03 22:36] TagForce commented on #743
@icebal ßet your number of logs to 0 and size to 10mb. Test it and let us know

[2015-03-03 22:36] fernandog commented on #823
@icebal did you get this issue again? waiting for the logs

[2015-03-03 22:38] fernandog commented on #808
@Rouzax

can you do a test for me?

stop SR,
edit SickRage/sickbeard/clients/generic.py
clear contents and paste this one:
https://raw.githubusercontent.com/fernandog/SickRage/remove_traceback_generic_py/sickbeard/clients/generic.py

try to reproduce the error and post the log message error please

[2015-03-03 22:50] fernandog commented on #815
@abeloin t

Should we change to
[code]

to show only this:
"HTTPSConnectionPool(host='api.trakt.tv', port=443): Read timed out."

[2015-03-03 23:28] chemmah commented on #840
@fernandog No I do not

@abeloin Time pulled from theTVDB/TVRAGE or another timestamp?

[2015-03-03 23:35] chrisric commented on #821
Same issue happened overnight, I uploaded all the logs. It seems to be logging a crazy amount, maybe that's just debug.

I upgraded to latest develop release again this morning, should I keep doing that or keep with the same version until the problem is found?

What other debug options are there?

https://drive.google.com/file/d/0B8JFLK_cWhrbamM1eUZsZThMd2c/view?usp=sharing

Thanks.

-Chris

[2015-03-04 00:13] abeloin commented on #790
@TiagoDM Can you update PR merged in develop.

[2015-03-04 00:26] abeloin commented on #823
@fernandog For 1385 to work the user need to do "chcp cp65001" but in this case it look like urlquote is failing.

[2015-03-04 00:27] abeloin commented on #840
Yes tvdb/tvrage, any show you added recently?

[2015-03-04 00:40] #503 closed

[2015-03-04 00:40] fernandog commented on #503
@thermodyn fix merged in develop

[2015-03-04 00:50] Cancerman commented on #828
SR runs 24/7. Without looking at code, it appears that SR isn't properly handling a null airdate that it receives from theTVDB.com. This only happens when theTVDB indexer does not have information for when an episode originally aired. See the link below.

Situation Critical:
http://www.thetvdb.com/?tab=seasonall&id=84046&lid=7

[2015-03-04 00:51] fernandog commented on #718
fixed in develop

[2015-03-04 00:51] #718 closed

[2015-03-04 00:52] fernandog commented on #790
fixed in develop

[2015-03-04 00:52] #790 closed

[2015-03-04 00:55] fernandog commented on #828
@Cancerman without any airdate SR should block add the show, don't you think?

[2015-03-04 01:00] fernandog commented on #808
https://github.com/SiCKRAGETV/SickRage/pull/1456

[2015-03-04 01:00] #808 closed

[2015-03-04 01:41] Cancerman commented on #828
The show exists and I have all of the episodes. However, no one filled in the airdate information on theTVDB indexer. SR wrongly assumes the episode never aired and does not count it.

What SR should do is recognize I have the file already. If it matches the file I have but cannot find the original airdate, then it should set the airdate to unknown instead of never. It should also display that I h

[2015-03-04 01:43] bmatulovich opened #841 "Unknown User / Password on Sickrage"
I ran a search for this problem and scoured the internet for the answer. I am sorry if this is a repeat question somewhere. I am new to both Ubuntu and Sickrage. I say this because I need any help to be brought down to layman terms if possible.

I am not sure how this happened but when I Closed out of Sickrage then opened it back up again i was prompted to enter a username and password. When I ini

[2015-03-04 01:50] fernandog commented on #841
@bmatulovich clear you browser cookies for sickrage site and clear cache please

[2015-03-04 01:51] fernandog commented on #828
did you tried do a refresh on that show?

[2015-03-04 01:51] hergonoway opened #842 "Delete unused files (Leftovers from Archive mechanism)"
(I'm French, so my English... well you know.)

When Sickrage replaces an episode for a new one with a better version (Archive mechanism), it removes the previous video file but it doesn't delete related files  (nfo, str, etc...)

Example :

Before the archive process (files generated by sick rage post-processing on first match) :
My_TV_Show_S01E02_(HDTV).mkv
My_TV_Show_S01E02_(HDTV).str
My_TV_Show

[2015-03-04 01:52] fernandog commented on #842
@hergonoway do you have "move associated files" enabled?

[2015-03-04 02:03] fernandog commented on #842
@TagForce

this doesn't do that?
https://github.com/SiCKRAGETV/SickRage/blob/develop/sickbeard/postProcessor.py#L872
https://github.com/SiCKRAGETV/SickRage/blob/develop/sickbeard/postProcessor.py#L203

[code]

[2015-03-04 02:06] Cancerman commented on #828
I just tried again after the update. Still has a "?" progress bar on the show list. This isn't show specific either, I have at least 30 different series that display incorrectly on the show list page.

[2015-03-04 02:09] hergonoway commented on #842
@fernandog Yes in post-processing settings.

[2015-03-04 02:13] fernandog commented on #842
please send FULL logs. you can find them in /SickRage/Logs

[2015-03-04 02:25] fernandog commented on #828
check other series, see if they have airdates.
we don't have any issues about ? progress bar

[2015-03-04 02:27] fernandog commented on #589
@abeloin @TagForce
TO DO:
- add the compareDB in the "def update" (check for updates > compare db > backup > update). Auto update won't be set if upgrade/downgrade
- Fetch all logs in logsearch and logfilter
- Fix manualsearch
- Remove snatched from backlog overview
- Add DIV saying "You are using develop branch. Be advised"
- Add filter to "experimental" branch when in master branch
- Decide abou

[2015-03-04 02:35] bmatulovich commented on #841
I did these things and they did not work. Do you have any other ideas?Fernando <notifications@github.com> wrote:@bmatulovich clear you browser cookies for sickrage site and clear cache please

—
Reply to this email directly or view it on GitHub.

[2015-03-04 02:52] suprdave23 opened #843 "Hell's Kitchen doesn't show up on "Coming Episodes" page"
Running latest dev pull from yesterday.

I just got notified that Hell's Kitchen s14e01 downloaded. I was very surprised as I did not remember seeing it on the "Coming Episodes" page. I took a look, and sure enough it did download and the air-date is correct, however it does not show anywhere on the "Coming Episodes" page while all of my other TV shows do.

Is there an option I am missing somewher

[2015-03-04 02:57] richmobile commented on #822
Then why do other users have this issue? I run 6box and have used teamviewer to walk someone through the error, and duplicated it on my end. having the provider name set to '6box'  (https://6box.me/) gets the favicon to show up, but rss token errors on searching. I dont know what they did to fix it.

[2015-03-04 03:03] abeloin commented on #545
@kristofferbas PR merged in develop, please update

[2015-03-04 03:07] hergonoway commented on #842
How can I send the log file ?

[2015-03-04 03:08] abeloin commented on #841
Can you try to rename your config.ini to config.ini.bak and start sickrage again to see if it ask for a user/pass?

[2015-03-04 03:25] hergonoway commented on #842
Until you'll guide me about how to send you the full log file, here's the complete log part about the episode "Lost.Girl.S04E07" the most recent example I have.

[code]

[2015-03-04 03:58] thezoggy commented on #822
they dont have the code fix to handle if a provider starts with a number. yes they are based off sb code and updated.. but really old sb code. hence they dont have a lot of fixes that is in midget's repo. also with all their changes.. they have introduced plenty of their own bugs.

[2015-03-04 04:02] faidwen opened #844 "lib.shutil_custom fails on startup"
Version af20b6e90506c49280ca7f17eb13d1f647cf502c
Python 2.6.6

Executing /etc/rc.d/init.d/sickrage start ..

Starting sickrage: Traceback (most recent call last):
  File "/root/.sickrage/SickBeard.py", line 33, in <module>
    import lib.shutil_custom
  File "/root/.sickrage/lib/shutil_custom/__init__.py", line 4, in <module>
    from shutil import SpecialFileError, Error
ImportError: cannot impor

[2015-03-04 04:05] maxcore commented on #844
+1 ..............

[2015-03-04 04:06] thezoggy commented on #822
fix from 2013 - https://github.com/midgetspy/Sick-Beard/commit/57c7c74baab1975ca2bd18005ddb4a13d8efa6ae

[2015-03-04 04:07] richmobile commented on #822
Hey thanks zoggy.

[2015-03-04 04:16] nekkidtruth commented on #844
Same issue here, but different output.

Starting SickRage
Traceback (most recent call last):
  File "SickBeard.py", line 69, in <module>
    import sickbeard
  File "/home/xxxxx/.sickrage/sickbeard/__init__.py", line 29, in <module>
    shutil.copyfile = lib.shutil_custom.copyfile_custom
NameError: name 'shutil' is not defined

[2015-03-04 04:46] HickBoy commented on #844
Same issue, albeit another output with similar results:

[/share/CACHEDEV1_DATA/.qpkg/SickBeard-TVRage/SickBeard-TVRage] # /etc/init.d/sickbeard-tvrage.sh start
x86_64
SickBeard-TVRage prestartup checks...
 Checking for git...  Found!
Updating SickBeard-TVRage
HEAD is now at af20b6e Merge pull request #1308 from abeloin/patch-shutil_copy
Already up-to-date.
Starting SickBeard-TVRage
Traceback (mos

[2015-03-04 05:02] faidwen commented on #844
I don't think SpecialFileErrors exists in 2.6.6 python.

Can others verify what Python version they are on??

I think it first exists in 2.7

[2015-03-04 05:27] Thraxis commented on #844
I'm on Python 2.7.3 and am having the same issue

[2015-03-04 05:39] Thraxis commented on #844
adding
[code]

[2015-03-04 05:58] faidwen commented on #844
That works for Python 2.7+

On Python 2.6 you will need to remove the SpecialFileErrors reference.  I just changed mine to Errors instead of SpecialFileErrors and it appears to start up again.

[2015-03-04 06:03] maxcore commented on #844
@Thraxis thx dude now working :)

[2015-03-04 06:53] TagForce commented on #842
@hergonoway @fernandog It should delete those. It needs an extra parameter in the list_associated_files call (subfolders = True), since this is metadata to be deleted and that can be in subfolders.

[2015-03-04 07:07] paparen opened #845 "[APP SUBMITTED]: cannot find 'logNameFilters'"
### INFO
Python Version: **2.7.8 (default, Dec 12 2014, 21:04:21)
[GCC 4.7.3 20130102 (prerelease)]**
Operating System: **Linux-3.2.40-x86_64-with-glibc2.2.5**
Branch: **master**
Commit: SiCKRAGETV/SickRage@e8405b35d6d8fc0bc1909c18e2e528e68cdc0cde
Link to Log: https://gist.github.com/4d3ed433c6788b881978
### ERROR
[code]
---
_STAFF NOTIFIED_: @SiCKRAGETV/owners @SiCKRAGETV/moderators

[2015-03-04 07:28] bitzorro commented on #844
@Thraxis  I just did as u said and added; "import shutil" before "import lib.shutil_custom"
running dev branch and it worked.
Then i changed to master and it wont start again, i opend the file  __init__.py
now i cant find the line "import lib.shutil_custom".
The __init__.py file isnt the same as in the dev branch ?

[2015-03-04 07:35] Thraxis commented on #844
@bitzorro: This is an issues specific to the Dev branch.

[2015-03-04 07:38] bitzorro commented on #844
@Thraxis
thanks, i got it running again, doing a git pull from cmd.

[2015-03-04 08:29] DcR-NL commented on #844
Still not working for me, traceback on run:
[code]

**Branch**
Develop

**Commit hash**
af20b6e90506c49280ca7f17eb13d1f647cf502c

**Your operating system and python version**
Linux (Synology - x86) - Python 2.7.8 (default, Dec 12 2014, 21:20:40) [GCC 4.7.3 20130102 (prerelease)]

[2015-03-04 08:30] gborri commented on #667
@abeloin thanks.

[2015-03-04 08:39] jacobwvandijk commented on #831
@abeloin
Since ssl seems to be part of python 2.7.6+ I do not have to add anything to the python path. But it obviously couldn't find the module. I removed all of it and set it up again et voilà it works without tweaking sickbeard.py. Thanks for your help and this community is going for quality.

[2015-03-04 08:48] seed1234 commented on #844
whats the update command on freenas to git pull from develop branch?

[2015-03-04 08:50] Thraxis commented on #844
This has NOT been fixed in the Dev branch yet.  If you update to the current Dev branch it will not start unless you edit the file by hand, and then only if you have a python 2.7 system

[2015-03-04 09:02] DcR-NL commented on #844
@Thraxis Whoops my bad, I saw a 'merged' pull reference and expected it to be your fix..

[2015-03-04 09:06] Thraxis commented on #844
@DcR-NL I was linking this issue to the PR that added this change so it could possibly get a bit more attention

[2015-03-04 09:11] tchirou commented on #844
Many thanks @Thraxis
BRANCH: (develop) / COMMIT: (af20b6e90506c49280ca7f17eb13d1f647cf502c)
Python 2.7.6 / Win 8.1
I edited like you suggested and it works like a charm
Kudos to you.

[2015-03-04 09:33] TagForce commented on #844
I've created a PR for the NameError.

[2015-03-04 09:49] TagForce commented on #845
@paparen
- Stop SR
- Delete all contents of the /usr/local/sickbeard-custom/var/cache/cheetah/ folder
- Start SR

It looks like it's using an outdated cached template.
It will rebuild the cache once it is deleted.

Report back if this has solved the issue. (by going to the View Logs page).

[2015-03-04 09:54] #831 closed

[2015-03-04 09:55] TagForce commented on #589
@fernandog @abeloin The shutil.copyfile monkeypatch breaks SR on startup. I've created a PR that should be merged, or the latest monkeypatch commit needs to be reverted.

Also, the monkeypatch uses SpecialFileError, which wasn't introduced until Python 2.7, so it effectively breaks Python 2.6 support.

[2015-03-04 09:57] TagForce commented on #844
PR has been merged. Please update to latest dev. Python 2.6 compatibility is being looked at.

[2015-03-04 09:58] TagForce commented on #589
@fernandog Thanks.

[2015-03-04 09:59] fernandog commented on #842
@tagforce Abeloin said "It's list_associated_files isn't used when replacing files"

[2015-03-04 10:04] fernandog commented on #822
I said the code from the old TPB branch

[2015-03-04 10:04] fernandog commented on #822
Will check this

[2015-03-04 10:06] fernandog commented on #843
is it paused?

[2015-03-04 10:18] tchirou commented on #844
COMMIT: (f51551dc5530c7d4a39431d1f71da8e9723d5892) works for me

[2015-03-04 10:22] TagForce commented on #842
@fernandog Well, he's wrong :)
https://github.com/SiCKRAGETV/SickRage/blob/master/sickbeard/processTV.py#L454
then
https://github.com/SiCKRAGETV/SickRage/blob/master/sickbeard/postProcessor.py#L872 (notice the Associated_Files = True bit)
and then this:
https://github.com/SiCKRAGETV/SickRage/blob/master/sickbeard/postProcessor.py#L217

So replacing definitely uses list_associated_files.

[2015-03-04 10:22] fernandog commented on #844
Please for all of you what will not help test develop please use master.
develop will break a lot of times from now on as we wil test new thing

@tagforce any news about using develop DIV?

[2015-03-04 10:25] Thraxis opened #846 "[APP SUBMITTED]: 'sqlite3.Row' object does not support item assignment"
### INFO
Python Version: **2.7.3 (default, Mar 26 2013, 20:01:12)
[GCC 4.4.4]**
Operating System: **Linux-3.9.6p-unRAID-i686-AMD_C-60_APU_with_Radeon-tm-_HD_Graphics-with-slackware-13.1.0**
Branch: **develop**
Commit: SiCKRAGETV/SickRage@af20b6e90506c49280ca7f17eb13d1f647cf502c
### ERROR
[code]
---
_STAFF NOTIFIED_: @SiCKRAGETV/owners @SiCKRAGETV/moderators

[2015-03-04 10:29] Thraxis commented on #846
A bit more information on this..  This occurs when using my updated SickBeardConnect to (SickRageConnect) chrome plugin.

Below is the full error trace

[code]

[2015-03-04 10:36] Thraxis commented on #844
I can confirm this fixes the start issues as well.
Update Now worked quite nicely with the config backup.

For those of you who edited the file by hand to get this going while waiting for the PR / patch.  Check mark the Git Reset in general preferences to allow the update to overwrite the file.

[2015-03-04 10:36] TagForce commented on #842
@fernandog Probably unrelated, but I find these lines a bit weird:
[code]

[2015-03-04 10:49] seed1234 commented on #844
whats the update command on freenas to git pull from develop branch?

Thanks for the fix :)

[2015-03-04 10:53] fernandog commented on #846
are you using SR modified code to make SC Works?

[2015-03-04 11:19] freddyfinn commented on #743
@TagForce that worked .  I left the file size at default and changed logs to 0.  I was able to update without error. As soon as I changed the logs to 0 log.5 was generated.

[2015-03-04 11:20] selthius commented on #674
I rarely check my backlog, if ever, because there never seems to be any need for it. I am happy with the information I get from the main view, with the exception of this. The separation would "fix" (in my opinion) two things. Firstly, it would be able to easily revert back to showing the downloaded quality, which is not that easy to do manually if you have a lot of shows and doesn't include the qu

[2015-03-04 11:22] bmatulovich commented on #841
I can try that but i am not certain how to change the name of a file. What is the command line for that or how would i do that in ubuntu. I am new to linux.

Thank you for your helpAlexandre Beloin <notifications@github.com> wrote:Can you try to rename your config.ini to config.ini.bak and start sickrage again to see if it ask for a user/pass?

—
Reply to this email directly or view it on GitHub.

[2015-03-04 11:25] TagForce commented on #589
@fernandog Branch Warning PR has been tested and works. Will only show the message if sickbeard.BRANCH is set. Sometimes it's not.
Feel free to merge right before merging develop to master.

[2015-03-04 11:31] fernandog commented on #589
@abeloin @tagforce what do you think about only show develop branch in UI if user has the following:
- github user/pass
- auto submit issues enabled
- file in /SickRage/.developer (or DB) which will be created if he accepted the warning messaged when checkout develop branch.

[2015-03-04 11:39] fernandog commented on #841
stop SR
[code]

[2015-03-04 11:41] abeloin commented on #589
@TagForce This PR should fix the issue for 2.6: https://github.com/SiCKRAGETV/SickRage/pull/1469

[2015-03-04 11:49] abeloin commented on #845
@TagForce This happen because he's updating Sickrage and at the same time a request from a web page accessing the log came in using the new tmpl code hence the error.

A restart will resolve the issue.

[2015-03-04 11:57] fernandog commented on #846
@Thraxis check if any of your shows don't have "airs" filled

[2015-03-04 11:58] neoatomic commented on #589
@fernandog For troubleshooting and fresh bugfixes we ask users to switch from master to dev for testing. So this might complicate that.?
Also when the DB's from Master and Dev are incompatible with each other we need to prevent switching between branches. Is there a way to check that.? And show a warning if that is the case.?

[2015-03-04 12:02] abeloin commented on #844
@faidwen Can you try this PR : https://github.com/SiCKRAGETV/SickRage/pull/1469 It should resolve the issue with SpecialFileError

[2015-03-04 12:04] fernandog commented on #589
@neoatomic check this: https://github.com/SiCKRAGETV/SickRage/pull/1458

IMO we shouldn't ask user to switch to develop. We should ask to switch to a feature/test branch

[2015-03-04 12:07] abeloin commented on #846
@Thraxis What are the parameters in the api call?

[2015-03-04 12:07] fernandog commented on #846
@Thraxis try to reproduce using APIbuilder

[2015-03-04 12:09] abeloin commented on #846
Duplicate bug #211 #212

[2015-03-04 12:13] abeloin commented on #846
Able to reproduce with:

/api/[apikey]/?cmd=future&sort=date&type=later

[2015-03-04 13:21] thesmackdown opened #847 "Problem adding existing shows"
![screen](https://cloud.githubusercontent.com/assets/10361372/6484258/ef04d116-c23f-11e4-9356-e8cd56587a76.png)
I had a weird issue the other day where the database became corrupted and changed about 1/3 of my shows to 'ignored'.  I removed the problem shows but now when I am trying to add them back I am getting the current show table instead of a list of shows to add.

[code]

BRANCH: (develop) /

[2015-03-04 13:31] abeloin commented on #842
@TagForce I'm glad to be wrong ;)

Looking at the code shouldn't glob.glob in list_associated_files() have a path because currently the code tell glob.glob to search ./filename. . Also in the subfolders, I think it should use the file_path not the object itself.

[code]

[2015-03-04 13:46] vanticar opened #848 "REQUEST/SUGESTION 'no items found in the RSS feed' - use your proxies"
I would like an option to use your coded sickrage proxy sites under provider options in the Add Custom Torrent Provider because when i try and add new sites I get the 'no items found in the RSS feed' error.
I then cannot save to enable this check via a proxy or perhaps an option to save it regardless then to go into the provider options tab and enable the via proxy option and see if any errors i g

[2015-03-04 13:47] vanticar opened #849 "Error while searching Rarbg"
2015-03-04 13:39:05 SEARCHQUEUE-MANUAL-269159 :: [Rarbg] :: Error while searching Rarbg, skipping: error [Errno 1] _ssl.c:507: error:1408F10B:SSL routines:SSL3_GET_RECORD:wrong version number

[2015-03-04 14:16] BelgarionNL commented on #370
yea I can also confirm! it happens to all of my 84 active shows! I deleted everything and did a new git pull and it still happens.!

[2015-03-04 14:52] Cancerman commented on #828
The airdate for the shows i'm having problems with show up as a 1 in the database.

Here is the bug:
gui/slick/interfaces/default/home.tmpl
code block lines 25-33

#set $sql_statement += '(SELECT COUNT(*) FROM tv_episodes WHERE showid=tv_eps.showid AND season > 0 AND episode > 0 AND airdate > 1 AND status IN ' + $status_quality + ') AS ep_snatched, '

#set $sql_statement += '(SELECT COUNT(*) FROM

[2015-03-04 15:03] chrism2014 commented on #844
after the fix i'm getting the following error when starting.

Starting SickBeard
Traceback (most recent call last):
  File "SickBeard.py", line 33, in <module>
    import lib.shutil_custom
  File "/root/sickrage_install/lib/shutil_custom/__init__.py", line 4, in <module>
    from shutil import SpecialFileError, Error
ImportError: cannot import name SpecialFileError

[2015-03-04 15:20] TehWardy commented on #674
I don't understand what you're saying here? The downloaded quality I my case is the quality I have in my library ... Either that's good enough or it isn't which is why I could see a use for a flag to say "this isn't" but don't get why you would intentionally Download new copies of files without a reason ... Imo if sr is aware that you have rejected a file it can fix the problem but you're basicall

[2015-03-04 15:21] suprdave23 commented on #843
@fernandog No the show status is "Continuing".

If you add this show to your running copy does it have the same issue?

[2015-03-04 15:37] fernandog commented on #828
Bug or by design? If you remove airdate> 1 how it shows in UI? What about other shows?

[2015-03-04 15:39] fernandog commented on #843
Send a full screenshot of the show page please

[2015-03-04 15:58] TagForce commented on #842
@abeloin Yes, but I'll take a different approach. I'll add a subfolder check and if subfolder is not true, it'll use the old code to get the data. That way we won't have to import any lib, which is faster, and the old code did work, so that would solve the problem.
Only difference is that base_name was changed, so if I change that it should work as expected.

[2015-03-04 15:58] seek1338 commented on #361
i hade the same issue with my brand new installation -> searchpattern serie 1x12, i have delete the scc.pyc and restart SickRage. Now its work. Maybe the precompiled scc.py is wrong in the master brunch?

Hope this helps,
Seek

[2015-03-04 16:00] suprdave23 commented on #843
Here you go, but I just realized that since the date has passed that the show aired, the coming episodes page isn't going to list it anymore.

Would setting the episode to "Skipped" make it show up as "missed" under Coming Episodes, and I could test it that way?

![capture1](https://cloud.githubusercontent.com/assets/11187813/6487186/4af38d2c-c255-11e4-94f4-08536e27d489.PNG)

![capture2](https://c

[2015-03-04 17:00] abeloin commented on #844
@chrism2014 You applied 1469 and you get this error? Because with the patch line 4 is a "try:" not "from shutil import SpecialFileError, Error"

[2015-03-04 17:00] TagForce commented on #845
@abeloin you mean updating while SR is running?
I think he did that after the error.

[2015-03-04 17:07] neoatomic commented on #750
@fernandog I did some thinking on how to fix this banner problem. And it also might be a solution for your specials problem.?

Lets say :

A users adds a TVRage show but after the quality question he gets an additional settings screen. (lets call it banner and specials support for TVRage)
This screens tells the user that TVRage doenst support Banners/posters and specials.
And if he wishes those he

[2015-03-04 17:14] fernandog commented on #750
@neoatomic did you read this discussion here? https://github.com/SiCKRAGETV/SickRage/issues/1252

[2015-03-04 17:16] fernandog commented on #843
to appear at coming episodes you must set as wanted. but after that SR will start to search for it. you must be quick to open coming episodes

[2015-03-04 17:18] fernandog commented on #842
@TagForce are you going to PR this?

[2015-03-04 17:25] neoatomic commented on #750
@fernandog Did a quick read, but i dont understand how they get the data from both TVRage and TVDB without having both ID's. But if that solutions works for the banners it would be great.

[2015-03-04 17:27] faidwen commented on #844
#1469 applied, Python 2.6.6 is working again.

[2015-03-04 17:30] TagForce commented on #842
@fernandog probably. wanted @abeloin to look it over first. Is untested at the moment.

[2015-03-04 17:30] abeloin commented on #844
Good

[2015-03-04 17:38] mbnoimi opened #850 "Doesn't work behind proxy"
Hi,

In my country most P2P websites are forbidden so I usually use proxy (TOR most of time) but because SickRage doesn't support SOCKS I've to use public HTTP proxies from [this list](http://www.xroxy.com/proxylist.php?port=&type=All_http&ssl=&country=&latency=&reliability=#table) but unfortunately most of these proxies don't work with SickRage for unknown reason.

May you please help me to make

[2015-03-04 17:39] #844 closed

[2015-03-04 17:44] fernandog commented on #850
@abeloin, maybe it's easier to support socks/TOR than keep editing proxies and providers proxy lists. what do you think?

[2015-03-04 17:46] fernandog commented on #842
no problem PR to SR. we have a label "do not merge"

[2015-03-04 17:46] fernandog commented on #750
there's no solution yet. that user is still thinking how to do that.

[2015-03-04 17:49] abeloin commented on #846
Unable to reproduce anymore

[2015-03-04 17:49] suprdave23 commented on #843
Thanks! I tested it and it does show up in the "list style" as missed when I do that. Must just be that tvdb/tvrage are slow at picking up when the new episodes are going to be released, and it came out as available the day the episode aired, which would explain why the Coming Episodes page did not let me know new episodes are coming out for this show.

[2015-03-04 17:49] #843 closed

[2015-03-04 17:53] abeloin commented on #589
Auto-submit is gone

[2015-03-04 18:05] fernandog commented on #589
After a long debate we remove it! =)

[2015-03-04 18:06] fernandog commented on #846
@abeloin do you have any backup?? hehehe

[2015-03-04 18:19] abeloin commented on #828
It's by design, because you don't usually include what will be aired in the future(assumed with no airdate). Here it's bit us in the rear because these shows aren't properly filled in the tvdb.

[2015-03-04 18:33] abeloin commented on #845
To get this error, you to have to old code in python running and the new code in the tmpl at the same time.

[2015-03-04 18:44] TiagoDM commented on #790
ok. done. thank you

2015-03-04 0:52 GMT+00:00 Fernando <notifications@github.com>:

--
________________________________________
Tiago Marques

[2015-03-04 18:48] abeloin commented on #850
I would have to check the code.

[2015-03-04 18:52] fernandog commented on #828
so there's nothing we can do =(

[2015-03-04 18:58] abeloin commented on #850
Btw, you can use [Polipo](http://www.pps.univ-paris-diderot.fr/~jch/software/polipo/) which can act as a http proxy and redirect your trafic to Tor's Socks proxy.

[2015-03-04 19:11] bmatulovich commented on #841
When i use this command i get 

mv: cannot stat 'config.ini' : no such file or directory

Again i am very new to linux. Can you give me step by step instrucrions to accomplish this Fernando <notifications@github.com> wrote:stop SR

mv config.ini config.bak
—
Reply to this email directly or view it on GitHub.

[2015-03-04 19:12] abeloin commented on #842
@TagForce Testing it now

[2015-03-04 19:13] TagForce commented on #845
@abeloin So, this is a fluke...
@paparen Restart if this is still current...

[2015-03-04 19:13] #845 closed

[2015-03-04 19:18] fernandog commented on #841
@bmatulovich obviously you need to enter /SickRage folder

[2015-03-04 19:28] abeloin commented on #842
@TagForce Works for me so go ahead with the PR.

[2015-03-04 19:29] cwerdam opened #851 "Connection Timeout"
When I put my Deluge informations and the Sickrage I get  this messege on my logs:
-----------------------------------------------------------------------------------------------------------------------
The errors is just like this: 2015-03-04 16:00:52 SEARCHQUEUE-BACKLOG-267907 :: Deluge: Connection Timeout HTTPConnectionPool(host='localhost', port=8085): Read timed out. (read timeout=120)

[2015-03-04 19:34] StSaens opened #852 "IPT searching season in episode mode is broken"
•master
•e8405b35d6d8fc0bc1909c18e2e528e68cdc0cde
•latest DSM (synology) and Python 2.7.8 (default, Dec 12 2014, 20:09:05) [GCC 4.6.4]
•Add show to SR
•It doesn't download previous seasons/episodes (with status Wanted set)
•I expect that episodes that have status Wanted are downloaded by the backlog search

Using IPtorrents search.

I've added Homeland to SR. I've set s3/s4 to wanted. Quality is s

[2015-03-04 19:35] abeloin commented on #846
I have the object list dump:
https://gist.github.com/abeloin/9c5b47c96ed764c0d628

[2015-03-04 19:39] fernandog commented on #846
@abeloin

some shows are 24hrs time format, others's don't. that's the only diff in "airs"
[code]

[2015-03-04 19:40] fernandog commented on #851
@cwerdam does deluge needs user/pass to access? did you tested the connection when added deluge settings?

[2015-03-04 19:42] abeloin commented on #846
Yep but it's failling

[2015-03-04 19:50] abeloin commented on #847
Do you have a show with accent or foreign characters?

[2015-03-04 19:52] fernandog commented on #849
@abeloin is something in SR or deluge?

[2015-03-04 19:54] simonwicks opened #853 "Update RARBG to use API and min seeders / leechers / ranked torrents"
I've only just noticed Rarbg was a provider after updating today, not sure if that's just me being blind before though.

But, there doesn't seem to be an option to set min seeders / leechers like there is for something like KAT.

Is it possible to add this?
When I added RBG as a provider today it went off and found about 50 downloads I'd not managed to find on other providers, but they all have so

[2015-03-04 20:01] bmatulovich commented on #841
So i ran this :

Mv ~/.sickrage/config.ini. Sickrage/config.bak and the result is the same. Must enter user name and password. Anything else Fernando <notifications@github.com> wrote:@bmatulovich obviously you need to enter /SickRage folder

—
Reply to this email directly or view it on GitHub.

[2015-03-04 20:02] fernandog commented on #853
@corpo

[2015-03-04 20:02] abeloin commented on #849
Don't think it's deluge related, but for some reason is PC/MAC is trying to negotiate via SSLv3 to which the server reply with an error(disable).

Need more info, pc or mac, os version, browser?

[2015-03-04 20:03] cwerdam commented on #851
Yes, I put the username and pass on Sickrage. Deluge is works only with the
pass, but I put my username.

Em qua, 4 de mar de 2015 16:40, Fernando <notifications@github.com>
escreveu:

[2015-03-04 20:04] fernandog commented on #851
@cwerdam deluge does not need user?

[2015-03-04 20:04] fernandog commented on #849
@abeloin not deluge. rarbg provider. updated

[2015-03-04 20:05] abeloin commented on #849
Report: https://www.ssllabs.com/ssltest/analyze.html?d=rarbg.com&hideResults=on

[2015-03-04 20:05] fernandog commented on #841
stop SR
cd SickRage
mv config.ini config.bak

[2015-03-04 20:10] Cancerman commented on #828
It makes sense in the ep_snatched sql as an extra way to filter out potential oddities. the ep_downloaded sql and the sql that grabs the total are the problem. For example: If the episode is downloaded and in my collection...why do we care what the airdate is set to?

I'll try to work on this when I have some free time.

[2015-03-04 20:11] abeloin commented on #849
@vanticar What proxy do you use for rarbg?

[2015-03-04 20:15] TagForce commented on #842
@abeloin Done.

[2015-03-04 20:23] TagForce commented on #841
@bmatulovich linux is very case-sensitive
Stop SR
use 'cd' to change to your sickrage folder...
use 'ls' to show the files in it. when you see config.ini in the list do
mv config.ini config.bak
if you get a permissions error add sudo in front of the command 'sudo mv config.ini config.bak'
It will ask for your password.
'ls' again to verify there's now a config.bak
start SR

[2015-03-04 20:37] fernandog commented on #842
@hergonoway please update and report back

[2015-03-04 20:37] #851 closed

[2015-03-04 20:37] selthius commented on #674
Okey, I will try to explain this once more: I want to seperate the snatched and downloaded status, so that when a download fails, because the torrent has been abandoned, the downloaded quality still exists and was not overwritten when the new quality was snatched. This makes it possibly to easily revert to the previous quality. In addition, this would make it so that shows with only 1 season does

[2015-03-04 20:45] bmatulovich commented on #841
I am very sorry about this but this tells  me, 

Mv: cannot stat 'config.ini': no such file or directory
However if i put in the command
Sudo gedit ~/.sickrage/config.ini 

it pulls up the entire configuration file. About 9 pages worth.
What am i missing in your command

 mv config.ini config.bak

Fernando <notifications@github.com> wrote:stop SR
cd SickRage
mv config.ini config.bak

—
Reply to th

[2015-03-04 21:21] abeloin commented on #841
`mv ~/.sickrage/config.ini ~/.sickrage/config.ini.bak`

[2015-03-04 21:31] mbnoimi commented on #850
@abeloin I did as you suggested (installing Polipo) but SR still crippled (I'm very sure Polipo works fine) see the log please: http://hastebin.com/iqolujosec.vhdl

[2015-03-04 21:37] mbnoimi commented on #850
BTW, I test the performance of SR after adding a new show [House of Cards](http://www.imdb.com/title/tt1856010/) which is available in many formats in kickass.to [as show here](https://kickass.to/usearch/?q=House%20of%20Cards&from=opensearch)

[2015-03-04 21:46] bmatulovich commented on #841
Tagforce,

I followed your instructions exact. when i put the ls in the terminal it gives me all of these files. I do not have and config.ini file in here. Does this make any sense?

autoProcessTV         gui           init.solaris11  setup.py      tornado
CHANGES.md            init.debian   init.systemd    sickbeard     updater.py
contributing.md       init.fedora   init.ubuntu     SickBeard.py
C

[2015-03-04 21:49] mbnoimi commented on #850
Does this issue related to this error?
[code]

Line 879 in http://hastebin.com/iqolujosec.vhdl

[2015-03-04 22:31] bmatulovich commented on #841
O.K. So i figured out I must have 2 Sickrage and 1 file ~/.sickrage. So i changed directory to the latter. and i had a config.ini and a config.ini~ file. i changed both of these to .bak and bak~ restarted sickbeard with the same result. user name and password. I went back to the file and ran ls command and this is what is in there.
autoProcessTV         gui             readme.md         sickbeard.

[2015-03-04 22:36] abeloin commented on #850
Looking at the log it doesn't seem that the proxy is active in the config.
Did you set the proxy url in Config -> Advanced Settings -> Proxy host ?

[2015-03-04 22:38] TagForce commented on #841
how do you start sickrage?
we need to make sure we're looking at the correct files

[2015-03-04 22:43] mbnoimi commented on #850
![sickrage_-_branch_ master _-_config_-_general_-_2015-03-05_00 42 18](https://cloud.githubusercontent.com/assets/284547/6495215/99ba206e-c28d-11e4-9559-cb45e4a10e7f.jpg)

[2015-03-04 22:45] mbnoimi commented on #850
BTW, I restated SR directly after adding the proxy to  be sure everything will be applied.

[2015-03-04 22:47] bmatulovich commented on #841
it starts automatically but to start and stop it manually i use
sudo service sickrage start/stop

Is this what you mean?

[2015-03-04 22:48] mbnoimi commented on #850
The content of [config.ini](http://hastebin.com/qaharudise.ini)

[2015-03-04 22:58] abeloin commented on #850
For some reason, kat doesn't use the global proxy.
Stop sickrage and change this line in config.ini:
`kickasstorrents_proxy = 1`
`kickasstorrents_proxy_url = http://127.0.0.1:8123`

and retry

[2015-03-04 23:02] abeloin commented on #841
What is your OS, and what is the command to launch sickrage in your init file

[2015-03-04 23:22] TehWardy commented on #674
Ah ok now I get it ...

If I understand you correctly then:
So you're saying - If you already have HDTV copies of the episodes in question then the homepage should reflect that even if you have snatched new versions at bluray quality.

I completely agree with that, the homepage should show what I have at all times if I both have a file and have a file snatched then it may be useful to have a means

[2015-03-04 23:23] bmatulovich commented on #841
OS is UBUNTU

I followed an online tutorial from HTC Beginner. Here is the script i used

sudo cp ~/.sickrage/init.ubuntu /etc/init.d/sickrage
sudo chmod +x /etc/init.d/sickrage

[2015-03-04 23:23] mbnoimi commented on #850
@abeloin I did as you suggested and I got [this log](http://hastebin.com/uyavepekuw.vhdl).
* Still crippled
* As soon as I just click on save configurations the proxies of all activated search providers become http://proxite.eu/

[2015-03-04 23:25] mbnoimi commented on #850
By chance we discoverd at least one bug in saving configurations so I suggest to add **BUG** label to this post,

[2015-03-04 23:29] hergonoway commented on #842
Hi,

I've just checked-out the develop branch, restarted, and add a 720p version of one of my file currently in SD in the post-processing folder and waited the next post-processing pass, but in the end it didn't remove leftovers files :

Before :
![capture_d_ecran_05_03_2015_00_26](https://cloud.githubusercontent.com/assets/8405448/6495888/4b953a90-c2ce-11e4-94c8-46d05d182e85.png)

After post-proc

[2015-03-04 23:30] Rick7C2 commented on #16
Just checking back on this issue. Are there any updates?

[2015-03-04 23:39] abeloin commented on #850
Don't save the provider in the webui as it will overwrite evrything.
- Stop sickrage <- important to do this first
- Edit via vim,nano,gedit,... config.ini:
`kickasstorrents_proxy = 1`
`kickasstorrents_proxy_url = http://127.0.0.1:8123/`
- Start sickrage
- Start a search

[2015-03-04 23:41] fernandog commented on #16
sorry. not yet

[2015-03-04 23:44] abeloin commented on #841
What is the content of the following folder:
`/opt/sickbeard`

[2015-03-04 23:48] chrisric commented on #821
I moved back to master branch, probably should have tried this first... Will share results tomorrow.

SR Version: BRANCH: (master) / COMMIT: (e8405b35d6d8fc0bc1909c18e2e528e68cdc0cde)
Python Version: 2.7.9 (v2.7.9:648dcafa7e5f, Dec 10 2014, 10:10:46) [GCC 4.2.1 (Apple Inc. build 5666) (dot 3)]

[2015-03-04 23:59] mbnoimi commented on #850
![sickrage_-_branch_ master _-_home_-_2015-03-05_01 57 43](https://cloud.githubusercontent.com/assets/284547/6496324/2fd90da8-c298-11e4-9877-77c26ab47b41.jpg)

[2015-03-05 00:04] bmatulovich commented on #841
Here is the contents of that folder. The more i get into this it looks like a sloppy install. I am wondering if i should just uninstall all instances of sickrage and delete all file directories then do a new fresh clean install. What do you think? if you agree do you have a recommended install guide?

bobm@MediaServer:~/sickrage$ cd /opt/sickrage
bobm@MediaServer:/opt/sickrage$ l
~/
autoProcessTV/

[2015-03-05 00:10] abeloin commented on #841
Open /opt/sickrage/config.ini in vi or the text editor of your choice and check the value of:
web_username = ""
web_password = ""

[2015-03-05 00:26] bmatulovich commented on #841
I picked up on that config.ini file and checked it out. It did have user and password in that field. I'm not sure how it got there but i took it out and it opened right up. Thank you for your patience and working with me on this.

One more question. If i can be so bold. Is there an easy way for me to delete all of the other instances of sickrage files and registries that are not being used?

[2015-03-05 00:30] abeloin commented on #841
Not really, you'll have to do it manually.

[2015-03-05 00:32] abeloin commented on #850
Kat provider is broken

[2015-03-05 00:34] fernandog commented on #850
@mbnoimi try rarbg.

[2015-03-05 00:36] abeloin commented on #842
Please use pastebin for long log.

It won't remove file without the same name and in the the before I don't see a mkv.

[2015-03-05 00:45] bmatulovich commented on #841
Thanks again.

[2015-03-05 00:46] #841 closed

[2015-03-05 00:48] abeloin opened #854 "[Feature Request] Receive news notifications from sickrage"
It would be interesting to receive update notifications on new features, broken provider, ... via sickrage in a notification center.

[2015-03-05 00:49] fernandog commented on #854
+1

[2015-03-05 01:29] hergonoway commented on #842
sry for the last post :) about screenshot and copy-paste.

I've redo the test, taking my time, with the following file dropped in the post-processing folder, and waited for post-processing to occur :
![niflheim 4](https://cloud.githubusercontent.com/assets/8405448/6497256/7071432c-c2dd-11e4-9e3f-dfacb5adb1c1.png)

Before :
![niflheim 3](https://cloud.githubusercontent.com/assets/8405448/6497266/9e

[2015-03-05 01:37] abeloin commented on #842
Yes thumb.jpg should be removed.

@TagForce I think we should call the metadata providers which provide the list of file we should remove. That mean a new function in the metadata provider. Any suggestions?

[2015-03-05 02:20] thesmackdown commented on #847
I did.  Changed the names and am still getting this error.

[2015-03-05 02:31] chemmah commented on #840
Yes a couple. I am rebuilding again, one by one. However, I am surprised that the program will end up in this state simply by a date being off from an uncontrolled source like theTVDB or TVRAGE. Would that not be a bug to fix, add a bit of code to proof dates and replace them with a safe tag if they fail the proof so it doesn't simply fail when this occurs?

[2015-03-05 03:20] abeloin commented on #847
Try adding `chcp 65001` in the same command line running sickrage.

[2015-03-05 03:21] maxcore opened #855 "RSS-Custom"
I use the Master branch and in the last 2 days my custom rss was disappeared. I re add the provider and when i refresh the provider disappeared . I don't have log to prof this , but am alone with this problem ?

[2015-03-05 03:32] abeloin commented on #840
I agree with you. The error happen in a third party library, we need to be able to reproduce the error so I can submit the issue to the one who created dateutil.

Use the mass update page to open each show until you find the one causing the issue.

[2015-03-05 03:34] abeloin commented on #855
After clicking on Add, did you click on Save Change?

[2015-03-05 03:47] maxcore commented on #855
yes ! when i go in the provider option to set the Ratio i save it and go on Provider Priorities and the providers has disappeared.

[2015-03-05 04:34] abeloin commented on #855
I'm unable to reproduce the issue, here's a screencast when trying to replicate the issue:
https://copy.com/yvlz0FEyWsY8XPGe

[2015-03-05 04:54] maxcore commented on #855
i think i have a permission issues on my synology nas .... i will close the issues i think the problem was from my nas and not the sickrage ... thx for your reply

[2015-03-05 06:23] TagForce commented on #842
@abeloin No, the call to _list_associated_files in delete should be made with basename_only is False.
With basename_only it will add a dot to the filename so it only matches exact filenames.

[2015-03-05 07:19] CoRpO commented on #853
@fernandog this is planned to be done

[2015-03-05 08:03] phdelodder opened #856 "Post Processing Move Associated Files not working"
The post process doesn't move the associated files like srt. The srt file remains in the Download Dir.

[2015-03-05 08:05] TagForce commented on #842
@abeloin PostProcessor._delete is only used for deleting already downloaded episodes. Deleting downloaded files from the TV_Download folder uses the delete_files function, which calls list_associated_files directly.
It is therefor safe to include the base_name_only = True (thought it was false, but base_name_only ommits the last '.' from the filename, making it match everything starting with the o

[2015-03-05 08:22] TagForce opened #857 "PushBullet update notification throws an error on Content-length header"
On updating develop branch to latest commit:

2015-03-05 09:06:58 ERROR    Thread-186 :: Pushbullet notification failed.
AA
AA
POST requests require a Content-length header.  That’s all we know.
AA

411. That’s an error.
AA
AA

[2015-03-05 08:24] TagForce commented on #857
notify_git_update is missing a value for notificationType on the call to _sendPushbullet which defaults it to None...

[2015-03-05 08:25] TagForce commented on #857
Hopefully fixed in:
https://github.com/SiCKRAGETV/SickRage/pull/1481

[2015-03-05 08:34] TagForce commented on #856
Please... Logs and examples...
'It doesn't work' isn't really helpful.
Follow the guidelines here: https://github.com/SiCKRAGETV/sickrage-issues
This will ensure that we have enough information to look for the actual problem and try to fix it.

As for moving associated files:
It only moves files that have the exact same name as the video file. So if your subs have a language code in them it won't

[2015-03-05 08:36] #855 closed

[2015-03-05 08:54] phdelodder commented on #856
Branch : master
Commit hash : e8405b35d6d8fc0bc1909c18e2e528e68cdc0cde
Your operating system and python version : ubuntu 14.10 2.7.8 (default, Oct 20 2014, 15:05:19) [GCC 4.9.1]
What you did place mkv and srt in post processing folder
![selection_007](https://cloud.githubusercontent.com/assets/7259755/6501831/8c2858b8-c31d-11e4-87c1-a87d22c6bae0.jpg)

What happened only mkv copied
What you expecte

[2015-03-05 09:03] TagForce commented on #856
@phdelodder Thanks. It should move the srt as well, I'll look into this.

[2015-03-05 09:15] frederoni opened #858 "[APP SUBMITTED]: Failed Unrar archive (0): Unrar: No file to extract, file already exist?"
### INFO
Python Version: **2.7.6 (default, Mar 22 2014, 22:59:56)
[GCC 4.8.2]**
Operating System: **Linux-3.13.0-46-generic-x86_64-with-Ubuntu-14.04-trusty**
Branch: **develop**
Commit: SiCKRAGETV/SickRage@59b2535c41390ccd3d6e13dd0463d58da8b86ced
### ERROR
[code]
---
_STAFF NOTIFIED_: @SiCKRAGETV/owners @SiCKRAGETV/moderators

[2015-03-05 09:41] TagForce commented on #856
@phdelodder This only happens in master. In develop the srt is moved fine.
Since we're running catch-up on fixes to be merged into master, I suggest you wait a little while for the next merge into master (which should be somewhere in the next couple of days), and then try again.
There've been some fixes to the post-processing methods.

[2015-03-05 09:47] fernandog commented on #856
@Tagforce our idea is to merge develop onto master once a week.

[2015-03-05 09:53] TagForce commented on #821
Can you change the time at which the show_update runs? Config General -> When to update shows.
Change that to 5 a.m and see if SR stops logging at 5 a.m instead of 3 a.m. It currently requires a restart.

[2015-03-05 09:54] TagForce commented on #856
@fernandog That's the next couple of days :)

[2015-03-05 09:59] fernandog commented on #856
Just telling you what abeloin and I decided (via IM). Merge every sunday.

[2015-03-05 10:52] phdelodder commented on #856
I'll test it again when the merge on sunday is done. Thanks @TagForce  for the quick replies!

[2015-03-05 11:12] neoatomic commented on #10
Here is a Synology SPK for Sickrage.

http://cytec.us/spk/download/sickrage_noarch_20150103-1.spk

This is not the official Sickrage, but the Cytec fork, however this SPK could be used as a blueprint for our own package.

[2015-03-05 11:14] fernandog commented on #10
@neoatomic what we need to do to have our own package?

[2015-03-05 11:17] fernandog commented on #858
@frederoni can you extract that file yourself? does it extract ok?

please send full logs

[2015-03-05 12:10] neoatomic commented on #10
@fernandog If you rename the .spk to .zip you can look inside the package.
To me it looks relatively easy to compile. As it downloads SR directly from github you probably only need to change the github url.?

If this SPK than can be added to the SR forum and on Synocommunity (largest Synology repository) it would open up Sickrage to a larger audience of Synology users.

[2015-03-05 12:11] Rouzax commented on #808
@fernandog I just upgraded to the latest git version of the Master.
https://github.com/SiCKRAGETV/SickRage/commit/e8405b35d6d8fc0bc1909c18e2e528e68cdc0cde
As far as I can tell those files are the same, correct?

I would be happy to test but I'm not sure how to recreate the issue, will check my logs and if it happens again I will report here.

[2015-03-05 12:21] fernandog commented on #808
@Rouzax  yes. that PR was merged. you can test in master. When you got an error (if t he error persist after this fix), go to log page and click "submit error" - as you did before

[2015-03-05 12:22] ripper1967 opened #859 "[APP SUBMITTED]: local variable 'fout' referenced before assignment"
### INFO
Python Version: **2.7.9 (default, Dec 10 2014, 12:24:55) [MSC v.1500 32 bit (Intel)]**
Operating System: **Windows-8-6.2.9200**
Branch: **develop**
Commit: SiCKRAGETV/SickRage@59b2535c41390ccd3d6e13dd0463d58da8b86ced
### ERROR
[code]
---
_STAFF NOTIFIED_: @SiCKRAGETV/owners @SiCKRAGETV/moderators

[2015-03-05 12:32] Rouzax commented on #808
Will do.

[2015-03-05 12:32] frederoni commented on #858
It was actually another bug I tried to file. Didn't know it automatically selected the first one. Issue closed.

[2015-03-05 12:33] fernandog commented on #858
@frederoni did you resolved this? what was the problem?

[2015-03-05 12:38] fernandog commented on #808
@Rouzax try to download the same tv-show episode that created this error in first place

[2015-03-05 12:38] frederoni commented on #858
@fernandog corrupt rar file. The issue I tried to file was unicode support for downloading subtitles.

[2015-03-05 12:41] fernandog commented on #858
I found a bug in the log message. fixed.
It should show the filename.

[2015-03-05 12:47] Rouzax commented on #808
After setting it back to "Wanted" it just picks it up to download.

[2015-03-05 12:52] fernandog commented on #808
check last log lines (DEBUG).

[2015-03-05 12:58] fernandog commented on #859
@abeloin

[code]

I don't see the error
https://github.com/SiCKRAGETV/SickRage/blob/develop/lib/shutil_custom/__init__.py#L40

[2015-03-05 13:12] Rouzax commented on #808
[code]

Something different by the way.
When I set the episode to Wanted, it will download the episode but after it is finished and .\autoProcessTV\mediaToSickBeard.py is called it will just discard the episode beacuse it is the same that was previously donwloaded. Leaving the episode in an eternal Snatched Status.
![image](https://cloud.githubusercontent.com/assets/4103090/6505356/a121c97e-c341-1

[2015-03-05 13:21] fernandog commented on #808
do a REFRESH please

[2015-03-05 13:25] Rouzax commented on #808
Do you mean rescan of full update?
![image](https://cloud.githubusercontent.com/assets/4103090/6505522/5b8e3a44-c343-11e4-89ed-a2e9836aa73d.png)

[2015-03-05 13:32] abeloin commented on #859
@ripper1967 Can you provide the log section when this event happend?

[2015-03-05 13:34] chemmah commented on #840
It is Judge Judy from theTVDB. I was able to view the show in Mass Update, however as I was building a new SickRage instance this is where things went wrong. I brought back up my original SickRage instance, went into the show directly, and removed it. It is now working fine.

[2015-03-05 13:41] fernandog commented on #840
@abeloin should we check if indexer has a wrong time set and override it to 00:00 ?

[2015-03-05 13:42] selthius commented on #674
Yes, exactly. Your solution is not ideal though, i feel. This either makes it impossible to see the quality you have while it downloads, or you need to have probably 100 different strings to match all the previous qualities with new quality (e.g. hdtv -> 1080p hdtv and 720 web -> 1080p web). I think my solution is better, but may be wrong, so please correct me if I am. This separation of the snact

[2015-03-05 13:44] fernandog commented on #808
rescan. sorry

[2015-03-05 13:46] abeloin commented on #858
PR merged

[2015-03-05 13:47] Rouzax commented on #808
After rescan it is still listed as Snatched.

[2015-03-05 13:50] abeloin commented on #857
PR Merged

[2015-03-05 13:53] maxcore commented on #10
the installation working great!
git://github.com/SiCKRAGETV/SickRage.git
branch: master :)

thx!!!

[2015-03-05 13:54] #858 closed

[2015-03-05 13:56] fernandog commented on #808
can you check if the file still exists in the folder?

[2015-03-05 13:58] TehWardy commented on #674
Well correct me if I'm wrong but basically you should only ever have at most 2 copies of a file to worry about ....

The copy already in your library.
The snatched copy.

When the snatched copy is downloaded post processing will decide which is kept.

So at most on the homepage you have as it currently is 3 main stats:

Downloaded
Snatched
Then possibly this new "re-snatched" figure.

Or am I miss

[2015-03-05 13:59] abeloin commented on #840
That show is a mess.

Ref: http://thetvdb.com/?tab=series&id=71221&lid=7

[2015-03-05 14:00] abeloin commented on #840
Season 19, episode 149 airdate: 2915-02-24

[2015-03-05 14:00] Rouzax commented on #808
It does
![image](https://cloud.githubusercontent.com/assets/4103090/6506043/ee461eca-c347-11e4-9f88-a103dd9acf3d.png)

[2015-03-05 14:06] selthius commented on #674
The problem is that currently there is no way of knowing the quality of the file in you library, when the new one is snatched, at least to my knowledge. If there is, this should be much more visible. So, I want to make snatched a separate stat, so that we end up with 2, the one already downloaded, and the one which is snatched. As I'm typing this I realize that this must already be the case, becau

[2015-03-05 14:06] thesmackdown commented on #847
Tried it.  Still no luck.

[2015-03-05 14:09] Donny1 commented on #361
So,

im gonna join in on the coversation. I've always been using Sickbeard but lately sickbeard is doing some weird stuff. Download a 720p version of 200mb. Totally rubbish quality which I do not want. So I went ahead and gave Sickrage a try. I'm using utorrent server and kickass as the only provider. When ever i try to find a download it doesn't find anything which is somewhat strange. If i manua

[2015-03-05 14:13] abeloin commented on #361
@Donny1 Please try rarbg provider for the being as KAT rss is currently broken on their website

[2015-03-05 14:13] #842 closed

[2015-03-05 14:14] abeloin commented on #847
Does the error say:
`File "C:\Python27\lib\encodings\cp1252.py", line 12, in encode` or
`File "C:\Python27\lib\encodings\cp65001.py", line 12, in encode` ?

[2015-03-05 14:18] thesmackdown commented on #847
File "C:\Python27\lib\encodings\cp1252.py", line 12, in encode

[2015-03-05 14:23] fernandog commented on #808
rescan take a while. when you open show page, is there a message saying the show is being update?

[2015-03-05 14:26] Rouzax commented on #808
No, that is already gone.
![image](https://cloud.githubusercontent.com/assets/4103090/6506519/03bbf83e-c34c-11e4-9fb0-c8de39491d31.png)

[2015-03-05 14:27] fernandog commented on #840
"The reason fromtimestamp has trouble (on some systems) is that it is based on system C functions. The documentation notes that this is often constrained to the years 1970 to 2038. timedelta on the other hand is custom-built for Python, and handles durations up to slightly less than one billion day"
http://stackoverflow.com/questions/10588027/converting-timestamps-larger-than-maxint-into-datetime-

[2015-03-05 14:29] fernandog commented on #808
please manually set to IGNORE then manually to DOWNLOADED HDTV
when we overhaul we'll check this

[2015-03-05 14:30] Donny1 commented on #361
Abeloin,

thank you for your comment. However, same result.

2015-03-05 15:27:33 INFO     SEARCHQUEUE-MANUAL-262980 :: Unable to find a download for: [House of Cards (US) - 3x01 - Chapter 27]
2015-03-05 15:27:32 INFO     SEARCHQUEUE-MANUAL-262980 :: [Rarbg] :: Performing episode search for House of Cards (US)
2015-03-05 15:27:25 INFO     SEARCHQUEUE-MANUAL-262980 :: Building internal name cache fo

[2015-03-05 14:32] fernandog commented on #361
@Donny1 please add "House of Cards" to scene exceptions in show page

there's no "US" in show name here: http://www.rarbg.com/torrents.php?search=House+of+Cards++s03e01

[2015-03-05 14:32] Rouzax commented on #808
That works :smiley:

[2015-03-05 14:35] Donny1 commented on #361
Fernandog,

thank you for that comment. I did not know the "Scene Exception" could let me add a custom search name. By adding this exception i'm able to find my download. Guess I have to check every show now and correct scene names.

Donny.

[2015-03-05 14:37] neoatomic opened #860 "config.ini "git_password =" not encrypted."
I just noted that the "git_password =" in the config.ini in not encrypted.
it shows the plain password even when the encrypt passwords setting is enabled.

[code]

[2015-03-05 14:38] fernandog commented on #361
yes. check torrent website and show name in SR if an episode stays too much time as WANTED

[2015-03-05 14:39] Donny1 commented on #361
Thanks for your support!

Donny.

[2015-03-05 14:40] fernandog commented on #860
did you shutdown/start SR after enabled this option?

[2015-03-05 14:42] neoatomic commented on #860
Yes, the other passwords are encrypted, only "git_password" not.
Let me try to disable the encryption and then enable it again.

[2015-03-05 14:49] neoatomic commented on #860
@fernandog Thanks for the quick fix.

[2015-03-05 14:49] #860 closed

[2015-03-05 14:50] fernandog commented on #860
@neoatomic fixed and merged. please update and report back

[2015-03-05 14:51] maxcore commented on #855
@abeloin normal ?

https://www.dropbox.com/s/z7l0g5irk61sgxz/vlc-output.ts?dl=0

[2015-03-05 14:54] fernandog commented on #855
@maxcore after it's missing, does it appear in provider options list?

[2015-03-05 14:56] maxcore commented on #855
no

[2015-03-05 14:57] TagForce commented on #857
@abeloin Updating now, so if you commit something else later today I can check if that fixes it for real.

[2015-03-05 14:58] neoatomic commented on #860
Updated.
But i needed to disable the encryption and then enable it again before  "git_password" was encrypted.
Thanks.

[2015-03-05 14:59] fernandog commented on #855
@maxcore can you send the config.ini provider contents (removing passwords and etc) when you save the second custom provider?

mine is: torrentrss_data = RARBG-RSS|http://rarbg.com/rssdd.php||0|eponly|0|0|0

but only one

[2015-03-05 15:03] maxcore commented on #855
[TorrentRss]
torrentrss_data = ""

is empty

[2015-03-05 15:05] TagForce commented on #859
@abeloin If ```fin = os.open(src, READ_FLAGS)``` throws an exception fout would never be initialized, but is still referenced in the finally clause

[2015-03-05 15:07] fernandog commented on #855
@maxcore

please test:
- stop SR
- set config.ini torrentrss_data = ""
- start SR
- add one provider save, change settings
- add second provider, save, change settings
- go to provider order page, fully refresh
- check it

[2015-03-05 15:08] abeloin commented on #855
Are you able to change any other settings in the other providers which are successfully saved? config.ini read only? Log message?

[2015-03-05 15:08] maxcore commented on #855
https://www.dropbox.com/s/qeiyc4t1wlph0x7/config.ini?dl=0

[2015-03-05 15:10] fernandog commented on #855
@maxcore read my previous comment

[2015-03-05 15:10] maxcore commented on #855
@fernandog yes i do it now

[2015-03-05 15:43] maxcore commented on #855
Not working , when i go to add the second provider in Configure Custom Torrents Provider  the list is empty , only -- Add New Provider --

[2015-03-05 15:46] fernandog commented on #855
can you check your config.ini permission?
try change any other setting in SR and save it

[2015-03-05 16:11] lis8910 commented on #545
Since the update I'm getting this
[code]

[2015-03-05 16:19] fernandog commented on #855
@maxcore any lucky?

[2015-03-05 16:19] TehWardy commented on #674
Lol finally the penny drops!
Sounds like we now agree!
The missing info in this case is in the show view (as I'm sure you figured out).

Time for @fernandog to take over :)

[2015-03-05 16:38] suprdave23 opened #861 "TVRage - Unable to retrieve image, skipping"
Running Dev pull from 2 days ago.

I removed Hells Kitchen which was using tvDB and readded it using the TVRage indexer. However unfortunately SR seems to be having issues pulling images from this indexer, as a result the cover art for this show is just the default SickRage image.

How do I get it to pull the cover art from TVRage properly? Here's logs:

[code]

[2015-03-05 16:43] fernandog commented on #370
@goatbased @BelgarionNL @InfernoZeus @Electr0Fi @grantonstar

Disable this settings:

- [ ] Update shows on startup in /config/general/
- [ ] Run backlog on startup in /config/search/

- Please Mass update all ENDED/COMPLETED shows to PAUSED

- Change "Number of Log files saved" to 10

- Change "Size of Log files saved" to 3145728

- Check if value "When to update shows" is 3 in /config/general/

[2015-03-05 16:43] hugoduraes commented on #770
Having the same problem as @suprdave23. Please fix/change this behaviour.

Please notify us when the new features will be available.

[2015-03-05 16:44] neoatomic commented on #861
TVRage doesn't support banners and posters. Thats why you get a default SickRage image.

[2015-03-05 16:45] fernandog commented on #823
@abeloin maybe he - and I - dont know how to chcp cp65001, can you explain please?

[2015-03-05 16:45] #861 closed

[2015-03-05 16:47] suprdave23 commented on #861
@neoatomic Thanks for the info! How do I change the poster then for the series? I chose TV Rage for this series since it's episode list was more up to date than on TVDB.

[2015-03-05 16:47] fernandog commented on #674
@TehWardy can you summarize text all this please?! =)

[2015-03-05 16:49] fernandog commented on #674
@selthius "The problem is that currently there is no way of knowing the quality of the file in you library"
 yes you can. Just open the showpage. there's a column "quality"

[2015-03-05 16:49] neoatomic commented on #861
@suprdave23
https://sickrage.tv/forums/forum/help-support/general-support/18676-show-fetching-episode-information-from-tvdb-and-not-tvrage?p=18764#post18764

[2015-03-05 16:53] suprdave23 commented on #861
Worked perfectly, thanks!

[2015-03-05 17:03] TagForce commented on #674
@fernandog I think that's the quality of the snatched episode. It overwrites the episode status in the db with snatched/quality, I think.

[2015-03-05 17:12] fernandog commented on #674
@TagForce I see. so when the snatch fails it should get the previous status? Another field in the DB?

Or force a rescan in folder return the previous status?

[2015-03-05 17:17] ripper1967 commented on #859
yes  http://pastebin.com/qXBEJMTV but it it not throwing that error at the moment

[2015-03-05 17:22] Alexwijn opened #862 "Send torrent to client, fail detection"
If Sickrage send a torrent to for example Transmission and it fails because he did not respond in time because he is to busy downloading, will he retry again or will it be "forgotten" and being kept in snatched.

I noticed because some episodes are marked as snatched but can't find it in the post processing folder or in the queue if Transmission.

Can't give you any logs because it's older than a

[2015-03-05 17:28] maxcore commented on #855
@fernandog the same i give 0777 to the config.ini and the same happen

[2015-03-05 17:29] fernandog commented on #862
@Alexwijn maybe it's a buggy torrent.

https://github.com/SiCKRAGETV/sickrage-issues/issues/830

check your logs and see if you find a DEBUG message: "uTorrent: Failed Sending Torrent"
is usually a not magnet torrent. Almost 90% of providers use magnet links

[2015-03-05 17:31] fernandog commented on #855
@maxcore javascript enabled? adblocks? I'm out of options =)

master branch is fully updated. nothing different from develop about providers

[2015-03-05 17:38] Alexwijn commented on #862
But will he retry if there is an connection problem with the client?

[2015-03-05 17:46] TehWardy commented on #674
When doing a scan get the quality of the file from the file.

When snatching get quality as you currently do.

Best quality wins!

[2015-03-05 17:47] fernandog commented on #862
@TagForce in the case the correct is not set as SNATCHED, isn't?

[2015-03-05 17:54] chemmah commented on #840
I went in and fixed theTVDB for that. If dateutil cannot be fixed, perhaps a verbose error in the log stating where it's choking on data from theTVDB?

[2015-03-05 18:05] fernandog commented on #674
not the best quality wins. if the snatched turn out to be a bad nzb or low seed torrent, it will cancel the snatch status and rescan go get previous status. Add mark that NZB or torrent release as bad and try another

@TagForce agree? you PR about your snatched for x days PR

[2015-03-05 18:26] maxcore commented on #855
i have test on browser without adblock and javascript is enable , i have test on synology and my mac , the same thing happen ..

[2015-03-05 18:34] abeloin commented on #855
No log message? Did you tried changing some other setting from another provider? Open the developer tools in your browser to see if there some javascript error.

[2015-03-05 18:39] maxcore commented on #855
@abeloin

jquery-1.11.2.min.js?19616:3 Resource interpreted as Font but transferred with MIME type text/html: "http://192.168.0.125:8899/css/fonts/OpenSans-Regular-webfont.woff".
jquery-1.11.2.min.js?19616:3 Resource interpreted as Font but transferred with MIME type text/html: "http://192.168.0.125:8899/css/fonts/OpenSans-Semibold-webfont.woff".
configProviders.js?19616:165 Uncaught TypeError: Ca

[2015-03-05 18:45] maxcore commented on #855
![capture d ecran 2015-03-05 13 45 11](https://cloud.githubusercontent.com/assets/4043787/6511902/e78095e8-c33d-11e4-8b36-05c9f9b0256d.png)

[2015-03-05 18:53] fernandog commented on #855
@maxcore

try this provider:

RARBG-RSS
http://rarbg.com/rssdd.php

see if you can reproduce

[2015-03-05 18:55] selthius commented on #674
It would be nice if there is possible to see the quality of the previously downloaded file, even when a better version is snatched. If the torrent is a whole season, it can take a while to complete, and it would be nice to see which quality i currently have and am getting, so I can use that information when I decide what to watch next. If it's difficult to fit the information in the design, then m

[2015-03-05 19:01] maxcore commented on #855
![capture d ecran 2015-03-05 14 00 24](https://cloud.githubusercontent.com/assets/4043787/6512210/0c16f04e-c340-11e4-9a77-9a2dffbe9d47.png)

@fernandog
the same

[2015-03-05 19:01] abeloin commented on #855
What is the content of the line from configProviders.js?

[2015-03-05 19:05] maxcore commented on #855
@abeloin @fernandog i find it !!! i need to enable NZB Search and after the provider stay on the config !!!

[2015-03-05 19:05] maxcore commented on #855
i don't use NZB but i will enable it

[2015-03-05 19:12] fernandog commented on #855
strange that you need to enable NZB to use custom torrent.  I have enabled. this maybe javascript error

[2015-03-05 19:14] fernandog commented on #674
@selthius you don't you check HISTORY tab?! showpage don't show history

[2015-03-05 19:18] TagForce commented on #674
@TehWardy @fernandog there's no reliable way to get the quality from a postprocessed file, otherthan actually reading it. Snatched status should be seperated from episode status in the db. That's the only failsafe way to keep the quality of the old episode.

[2015-03-05 19:21] TagForce commented on #862
@fernandog Actually don't know how it handles that. I think it's time to look into searching and snatching

[2015-03-05 19:22] maxcore commented on #855
its from me or is from sickrage java error ?

[2015-03-05 19:29] EirikUtvik commented on #402
I installed the latest one and it worked great. Thanks a lot for the link, abeloin.

[2015-03-05 19:35] abeloin commented on #840
This PR will print an "Invalid date" instead of crashing.

[2015-03-05 19:35] abeloin commented on #855
@maxcore What is the content of the line from configProviders.js?

[2015-03-05 19:44] selthius commented on #674
I do read the history, but if the file was postprocessed ages ago, there is no way to know the quality, without either having it in the filename or have the memory of an elephant. Like @TagForce is saying, the only failsafe way is to have both the previous quality and the snatched quality in the databse, which it probably already is, but it would be great if it could be displayed somewhere too.

[2015-03-05 19:46] fernandog commented on #674
It's not. need to upgrade database

[2015-03-05 19:51] maxcore commented on #855
@abeloin how i do that ?

[2015-03-05 19:52] mbnoimi commented on #850
@fernandog I did as you suggested... nothing changed still crippled :-1: see the new data:

* config.ini: http://hastebin.com/etedohesep.ini
* sickrage.log: http://pastebin.com/iZmT2HCk

[2015-03-05 19:58] abeloin commented on #855
@maxcore Update your branch a Pr was pushed

[2015-03-05 20:07] maxcore commented on #855
@abeloin Confirmed ! working ! thx you for your help!!!

[2015-03-05 20:09] maxcore commented on #855
quebecois rlzzz ;)

[2015-03-05 20:48] abeloin commented on #859
@TagForce Yes it just need a try except pass at the end.

I wanted to know where it failed to see why the file wasn't there but still tried it.

[2015-03-05 20:59] abeloin commented on #859
@ripper1967 PR merged please update

[2015-03-05 21:01] TagForce commented on #857
Works. I now get no error on updating and a nice pushbullet notification that SR was updated.

[2015-03-05 21:01] #857 closed

[2015-03-05 21:12] TehWardy commented on #674
@TagForce @fernandog  @selthius - Ok guys this is how I see it ...

Homepage currently shows per show:
    downloaded + snatched / total.
    show quality to snatch

EXISTING FUNCTIONALITY:
If a show file is deemed downloaded but not ideal in quality it can be marked as failed / wanted to be re-requested.

Post process is also smart enough to handle a situation where it has 2 files and pick the be

[2015-03-05 21:27] mmazur519 opened #863 "Post Proccessing - Error Out on Show [Master Branch]"
Show is added and Sickrage can download just when it come to postprocessing the file it errors out.
[code]

[2015-03-05 21:42] fernandog commented on #863
@mmazur519 follow guidelines:
https://github.com/SiCKRAGETV/sickrage-issues/

[2015-03-05 21:53] mmazur519 opened #864 "Post Processing Failing to take into account scene exception downloads"
Branch: Master

The exception is for Brandi and Jarrod but show is listed as Brandi & Jarrod
[code]

[2015-03-05 21:59] ripper1967 commented on #862
If my utorrent fails or times out sickrage just leaves the show as wanted then it searches again for it on the next backlog...it does not add it to snatched..

[2015-03-05 22:03] fernandog commented on #862
@ripper1967 thanks!

[2015-03-05 22:11] fernandog commented on #864
what is the error?!

[2015-03-05 22:19] mmazur519 opened #865 "ERROR SEARCHQUEUE-BACKLOG-248682 :: Deluge: Unable to send Torrent: Return code undefined"
[code]

[2015-03-05 22:33] ripper1967 commented on #859
confirmed fixed

[2015-03-05 22:36] #859 closed

[2015-03-05 23:00] markfaine opened #866 "Poor Performance"
Develop Branch
88e1f2e65adf1946b7f8fffc0c2532aa44ea7d64
Synology DSM 5, Python 2.7.8-11

I'm seeing poor performance.  Page loads are very slow.  I've tried both branches.  Of course, today as I finally get around to compiling the information and submitting an issue, it works much faster, but it's still slow, just not as slow as most days.  Disabled HTTPS because it's so slow as to be unusable wit

[2015-03-05 23:33] chrisric commented on #821
Same issue happened on master... I've changed the update time to 5am as suggested. Will report back tomorrow. Thanks.

SR Version: BRANCH: (master) / COMMIT: (8f631d52ffd464fb0731b6d9ee562a4a3d525a0a)
Python Version:	2.7.9 (v2.7.9:648dcafa7e5f, Dec 10 2014, 10:10:46) [GCC 4.2.1 (Apple Inc. build 5666) (dot 3)]

[2015-03-05 23:44] abeloin commented on #847
Then you didn't run the command properly. I don't know how you start sickrage but manually it look like this with the other comand:
[code]

[2015-03-05 23:49] abeloin commented on #545
Try:
`git reset --hard`
`git pull`
then start sickrage

[2015-03-05 23:56] abeloin commented on #823
Change the console code page to utf8 like. This must be done in the same command prompt as sickrage is run.
`c:\> chcp 65001`
Ref: https://technet.microsoft.com/en-us/library/bb490874.aspx

[2015-03-05 23:56] fernandog commented on #865
@mmazur519 again: follow guidelines https://github.com/SiCKRAGETV/sickrage-issues
or will close this issue

[2015-03-06 00:12] Hellowlol commented on #518
@fernandog this feature request already exist in the api

[2015-03-06 00:33] thesmackdown commented on #847
Yup.  I wasn't doing it that way.  Problem solved!

[2015-03-06 00:33] #847 closed

[2015-03-06 03:45] selthius commented on #674
Yeah, that looks great!

[2015-03-06 04:40] ochawkeye commented on #853
Planned to be done across the board for providers or for RARBG?

[2015-03-06 04:53] goatbased commented on #370
Thanks @fernandog. I've made all of the configuration adjustments exactly as you requested and just kicked off the waiting period.

You also requested this information:

73 Shows (44 Active) | 2981 (+1 snatched) / 4745 Episodes Downloaded | Daily Search: 0:09:04 | Backlog Search: 3/5/2015

I'll circle back in couple of days with my log results.

[2015-03-06 07:23] nytemyst opened #867 "[APP SUBMITTED]: Cannot find attribute 'rating'"
### INFO
Python Version: **2.7.5 (default, May 15 2013, 22:44:16) [MSC v.1500 64 bit (AMD64)]**
Operating System: **Windows-2008ServerR2-6.1.7601-SP1**
Branch: **develop**
Commit: SiCKRAGETV/SickRage@f97b696c6dc2f6cd9a83bdaf9a55ebfb13e049a2
### ERROR
[code]
---
_STAFF NOTIFIED_: @SiCKRAGETV/owners @SiCKRAGETV/moderators

[2015-03-06 08:06] TagForce commented on #867
@nytemyst Update to the latest develop. I've run into the same issues and rewrote the data assignments throughout the mede8er file. That should no longer throw exceptions on missing data.

[2015-03-06 08:06] #867 closed

[2015-03-06 08:25] CoRpO commented on #853
Just for RARBG, by me

[2015-03-06 08:28] TagForce commented on #864
@mmazur519 Post Processing indeed does not use scene exceptions as the method for getting the show is completely reversed from searching from downloads.
When you download a show, you only have a showname, season and episode number to get the files you need. This means that SR can only search using the showname. However, filenames may be (slightly) different to what SR thinks the show name is. That

[2015-03-06 10:07] fernandog commented on #370
@goatbased

thetvdb/tvrage is accessible in your country?

Do you use PROXY? Check "Proxy host" in /config/general/

[2015-03-06 11:25] neoatomic commented on #866
All runs fine on my Synology, actually its running faster and more stable then ever before.
So this must be a local problem with your Synology. Check your settings and otherwise reinstall Sickrage.
Also best to switch to Master as there will be some major code changes that could make Develop unstable.

[2015-03-06 11:25] #866 closed

[2015-03-06 11:27] fernandog commented on #866
On running on a raspebberry pi (512 ram). Fast loading

[2015-03-06 11:32] TagForce commented on #864
I've decided to include scene exceptions in the post processing run. If it fails to get a show from the cache or from an indexer, it will try to look it up in the scene exceptions last.

https://github.com/SiCKRAGETV/SickRage/pull/1494

[2015-03-06 12:48] simonwicks commented on #853
Could it not be an option to be set across them all?

It's extra steps for the user to replicate the same numbers for each provider when you can do it once and it apply to all maybe?

I personally wouldn't see a use for have 10 min on one and 40 in on another for example.

[2015-03-06 12:59] TagForce commented on #863
This is fixed on the latest dev...
You'll have to add hawaii five-0 2010 to the scene exceptions list for it to accept this as a scene name.

[2015-03-06 13:11] fernandog commented on #863
@TagForce what if we add a log message to user check scene exceptions and add it a new name there?

[2015-03-06 13:12] fernandog commented on #853
@simonwicks others have. Private trackers vs public trackers

[2015-03-06 13:18] exadeci commented on #833
One of the benefits of this element is that if the user is trying to download only in 1080p a tv show that never got a better format than dvdrip he will see it.
A minimum number of seeders would need a behavior allowing it to fallback to lower quality of at least <parameter>, that could be for example for an episode that got out for more than n days.

It could create another suggestion that's addi

[2015-03-06 13:31] ripper1967 opened #868 "[APP SUBMITTED]: [Errno 13] Permission denied: u'J:\\tv\\The Odd Couple (2015)\\Season 01\\The.Odd.Couple.2015.S01E03.SD.TV-LOL.mp4'"
### INFO
Python Version: **2.7.9 (default, Dec 10 2014, 12:24:55) [MSC v.1500 32 bit (Intel)]**
Operating System: **Windows-8-6.2.9200**
Branch: **master**
Commit: SiCKRAGETV/SickRage@495b040ffadd5386f52f343bba13dfb017a92035
Link to Log: https://gist.github.com/00f2a2cd81b5e30e3912
### ERROR
[code]
---
_STAFF NOTIFIED_: @SiCKRAGETV/owners @SiCKRAGETV/moderators

[2015-03-06 14:00] ripper1967 commented on #868
here is debug http://pastebin.com/HCSPuDiT

[2015-03-06 14:10] fernandog commented on #868
@ripper1967 its an issue in your setup. Check target permission.

[2015-03-06 14:17] ripper1967 commented on #868
Ok thank you... You can close this I thought it was , just wanted to confirm it before I changed permissions on the network drive..

[2015-03-06 14:19] TagForce commented on #863
@fernandog That would probably get lost in the log somewhere. It iterates through all the possible parsed names, which can add to 4 or 5 per file. I was thinking the same thing though. Just need to think about how I'm going to do that.

[2015-03-06 14:24] #868 closed

[2015-03-06 14:36] fernandog commented on #863
Dont SR get the updated scene_exceptions from somewhere?

[2015-03-06 14:44] lis8910 commented on #545
tnx :)

[2015-03-06 14:46] fernandog commented on #545
@kristofferbas please feedback if is faster so we can close the issue

[2015-03-06 14:46] TagForce commented on #863
@fernandog Yeah...
https://github.com/midgetspy/sb_tvdb_scene_exceptions/blob/gh-pages/exceptions.txt

[2015-03-06 14:52] fernandog commented on #863
Forever is outdated. Dont have "Forever"
Maybe this is not getting updated as it should.
it should auto add scene exceptions to this file

[2015-03-06 15:01] TagForce commented on #863
It was updated 7 days ago, and no Forever has a different problem that causes mayhem, but adding it to the global scene exceptions would cause other problems.
Forever is actually the name of 2 different shows. If you add Forever as a scene exception to Forever (2014) it would make the old Forever to be unobtainable for people. So, you should keep that as a non-scene exception show. The parser for

[2015-03-06 15:41] TagForce commented on #770
It could be as simple as setting the release_name to "" in the epObj when setting the status to Wanted.
But then, the releasename would be lost forever.
Because if ```sqlResult = myDB.select("SELECT * FROM tv_episodes WHERE release_name = ?", [videofile.rpartition('.')[0]])``` returns a result, it will tell you it has already been post processed.

[2015-03-06 15:45] hugoduraes commented on #770
When you post process files manually you've an option to "Force already Post Processed Dir/Files". So it should be as simple as using the same behaviour when setting the status to Wanted.

[2015-03-06 15:46] TagForce commented on #770
Now that I'm thinking about it...
We could also move the already_processed check from before processing the file to when we're already processing it, but not yet moving or copying it or adding anything to the db.
Then if the status is WANTED we can simply ignore the already_processed outcome, and process it anyway (with priority and force)

[2015-03-06 15:49] TagForce commented on #770
@hugoduraes Not that simple. Since Post Processing and setting a status are not in the slightest bit related, there's no way to set any PP options when setting a status. We CAN however check some things during post processing.
However, the status for a Wanted episode will be Snatched by the time it gets to PP... Ugh.. This is gonna get ugly :hammer:

[2015-03-06 15:57] hugoduraes commented on #770
I see... I've suggested that without looking at the code!

Well, the only solution I can think of right now is to create a new special status called "ReSnatched" and force post processing for episodes with this status. Don't know if this is viable... just throwing ideas into the table.

[2015-03-06 16:01] fernandog opened #869 "[Feature Request] First try original provider url, if fails/exception use proxy"
This way we don't need to enable/disable proxy for each provider.
User don't need to be worried if is down in his country or whatever happens and keep changing settings
SR will always try proxy if SR gets this error:
and If even proxy returns error than provider must be down. and show a proper message to user so he can disable that provider

[code]

or timeout error

we can also try scrapper http:

[2015-03-06 16:11] fernandog commented on #770
@TagForce what if we create another field: previous_release_name, previous_status?

this maybe help in the other feature that is if the better quality fails to download, get previous status.

https://github.com/SiCKRAGETV/sickrage-issues/issues/674#issuecomment-77431532

https://github.com/SiCKRAGETV/sickrage-issues/issues/547

[2015-03-06 16:19] #865 closed

[2015-03-06 16:19] #862 closed

[2015-03-06 16:20] #863 closed

[2015-03-06 16:24] fernandog commented on #852
I think the torrent has a bad naming

it ends with .[NO.RAR] or ..[NO.RAR]

what's you wanted quality ?

[2015-03-06 16:30] fernandog commented on #823
@icebal please reply or will close this

[2015-03-06 16:31] #45 closed

[2015-03-06 16:32] #578 closed

[2015-03-06 16:34] fernandog commented on #743
@TagForce can we force number of log to 0 in WIN platform ?

[2015-03-06 16:35] fernandog commented on #849
@vanticar please reply or will close this

[2015-03-06 16:48] icebal commented on #823
Sorry busy at work, will test in 15 min
On Mar 6, 2015 10:30 AM, "Fernando" <notifications@github.com> wrote:

[2015-03-06 16:58] fernandog commented on #821
@TagForce maybe out of memory problems? I used to have this problems with my raspberry pi.

[2015-03-06 16:59] fernandog commented on #820
https://github.com/SiCKRAGETV/sickrage-issues/issues/743

[2015-03-06 16:59] #800 closed

[2015-03-06 16:59] #795 closed

[2015-03-06 17:06] fernandog commented on #793
@scythe000 can we close this?

[2015-03-06 17:06] #758 closed

[2015-03-06 17:07] fernandog commented on #785
@mcteo it already does that

[2015-03-06 17:07] #785 closed

[2015-03-06 17:07] #747 closed

[2015-03-06 17:24] scythe000 commented on #793
IDK. I still haven't see any evidence that there was an issue with the files themselves. I still don't know why SR would think they were locked when they obviously weren't.

[2015-03-06 17:24] TagForce commented on #743
i think i may have an idea what causes this...  viewlogs never closes the logs after reading.

[2015-03-06 17:26] scythe000 commented on #757
This started happening again with the latest commit:
http://pastebin.com/hJkr2NyM

[2015-03-06 17:26] fernandog commented on #743
and windows exclusively lock the file

[2015-03-06 17:28] fernandog commented on #793
@scythe000 didn't you get "[Errno 13] Permission denied" anymore?

[2015-03-06 17:29] scythe000 commented on #793
I haven't since I manually processed those ones. It just didn't make any sense. the whole time those 3 were locked, others were processing ok.

[2015-03-06 17:29] fernandog commented on #657
@TagForce @abeloin
it does not check for anything.
https://github.com/SiCKRAGETV/SickRage/blob/e8405b35d6d8fc0bc1909c18e2e528e68cdc0cde/gui/slick/js/ajaxEpSearch.js#L132

[2015-03-06 17:29] scythe000 commented on #793
Of course, issue 757 just came back for  me so i can't test with my current backlog. Searching seems broken again, ugh.

[2015-03-06 17:30] fernandog commented on #757
@scythe000 please open a new one

[2015-03-06 17:31] kendog819 opened #870 "Auto Post Processing Woes"
BRANCH: (master) / COMMIT: (495b040ffadd5386f52f343bba13dfb017a92035)
Qnap TS-451 - Python Version: 2.7.3 (default, Apr 12 2012, 20:25:04) [GCC 4.2.1]

Basically nothing gets Auto PP'd I have to manually do everything. Once in a while a show here or there will go thru.

Original Thread: https://sickrage.tv/forums/forum/help-support/general-support/19482-post-processing-problems

Log: http://pasteb

[2015-03-06 17:31] scythe000 commented on #757
ok

[2015-03-06 17:32] icebal commented on #823
made the change, waiting to see if the issue pops up again

On Fri, Mar 6, 2015 at 10:48 AM, wes jackson <icebal.7@gmail.com> wrote:

[2015-03-06 17:33] fernandog commented on #828
@Cancerman I think I agree with you

the "airdate > 1" can be removed from ep_downloaded - the episode could be downloaded in another way or manually put in the folder
[code]

try remove and see what happens

[2015-03-06 17:33] scythe000 opened #871 "Torrent episode search not working"
This started happening again with the latest commit:
http://pastebin.com/hJkr2NyM
BRANCH: (master) / COMMIT: (495b040ffadd5386f52f343bba13dfb017a92035)

[2015-03-06 17:34] TagForce commented on #743
@fernandog precisely. And that may just cause all these log rotation issues we're seeing lately.

[2015-03-06 17:37] scythe000 commented on #871
Ok, some weirdness...I was on the develop banch, so I'm not sure how I got switched back to Master. I did a "git checkout develop" and it said I was behind by 122 commits. I did a git pull and it updated, but still shows this:
`BRANCH: (master) / COMMIT: (495b040ffadd5386f52f343bba13dfb017a92035) `

[2015-03-06 17:38] fernandog commented on #652
@hoefs please enable failed downloads in search settings. new downloads will work with the "failed" feature (previous don't)

[2015-03-06 17:38] #652 closed

[2015-03-06 17:39] fernandog commented on #871
please use MASTER.

[2015-03-06 17:40] scythe000 commented on #871
so, git checkout master, then hard reset and a pull?

[2015-03-06 17:42] fernandog commented on #871
@scythe000 your log is full of "but that doesn't seem like a verified result so I'm ignoring it" - disable verified result in KAT or wait a verified torrent be uploaded

[2015-03-06 17:44] scythe000 commented on #871
I did disable that. It could be SR is not respecting the change? Also, there are plenty of results from verified uploads anyway, so I'm not sure it's parsing the results right.

[2015-03-06 17:45] fernandog commented on #870
check your renaming patter

from log:
[code]
it's a weird filename

[2015-03-06 17:47] fernandog commented on #871
check the results in log, compare the showname with the result name. If is different you need to add to scene exceptions

Example:
show name in SR: Forever (2014)
results in log:
Forever.S01E01....
Forever.(US).S01E01....

SR won't get this
So user must add "Forever (US)" AND "Forever" to scene exceptions

[2015-03-06 17:50] scythe000 commented on #871
I get that, but I'm concerned that when I try to manually search, I'm not seeing anything happen at all. Although, I did just get this result:
`2015-03-06 09:49:03 DEBUG    Thread-47 :: Not adding item, it's already in the queue`

[2015-03-06 17:53] fernandog commented on #743
@TagForce

https://github.com/SiCKRAGETV/SickRage/blob/develop/sickbeard/webserve.py#L4990

[code]

[2015-03-06 17:54] fernandog commented on #871
when you manually search, what's the status of the episode?

[2015-03-06 17:55] TagForce commented on #870
@kendog819 Does that folder actually exist like that?

.@__thumb?

It's the name of the downloaded file, not the destination file.

[2015-03-06 17:57] scythe000 commented on #871
Wanted

[2015-03-06 17:57] TagForce commented on #870
Check your downloader... it seems like it's messing up the filenames. or still copying the file

[2015-03-06 18:05] fernandog commented on #871
"it's already in the queue" means its already searching for that episode. nothing wrong

[2015-03-06 18:10] kendog819 commented on #870
I have no clue what the .@__thumb is.

I use transmission

My renaming looks like this:

Season %0S/%Sx%0E %EN  -  Season 02/2x03 Ep Name.ext

[2015-03-06 18:16] scythe000 commented on #871
Except I don't think it is:
`2015-03-06 09:35:32 DEBUG    BACKLOG :: Nothing needs to be downloaded for Archer (2009), skipping
2015-03-06 09:35:32 DEBUG    BACKLOG :: 110381: Loading episode details from DB for episode 6x9
2015-03-06 09:35:32 DEBUG    BACKLOG :: 110381: An object for episode 6x9 didn't exist in the cache, trying to create it
2015-03-06 09:35:31 INFO     BACKLOG :: Seeing if we ne

[2015-03-06 18:16] fernandog commented on #870
send a print please. Tree view

[2015-03-06 18:17] scythe000 commented on #871
Isn't that saying that SR sees a missing episode, queues it, then decides there nothing to look for?

[2015-03-06 18:18] kendog819 commented on #870
![image](https://cloud.githubusercontent.com/assets/11353628/6530972/4b742194-c403-11e4-9ef4-c50fa21c9a3f.png)

[2015-03-06 18:18] fernandog commented on #871
yes. SR is changing the status.

[2015-03-06 18:21] kendog819 commented on #870
![image](https://cloud.githubusercontent.com/assets/11353628/6531028/b55c5a2c-c403-11e4-94bf-5083a006465d.png)

[2015-03-06 18:22] kendog819 commented on #870
![image](https://cloud.githubusercontent.com/assets/11353628/6531036/cbea0636-c403-11e4-9889-27ff7af1912f.png)

[2015-03-06 18:23] kendog819 commented on #870
![image](https://cloud.githubusercontent.com/assets/11353628/6531057/fbc1da14-c403-11e4-8123-0331cd9b4168.png)

[2015-03-06 18:24] fernandog commented on #870
@kendog819 do you have hidden folders? enable the setting to show them and re-send print

[2015-03-06 18:27] kendog819 commented on #870
I have no clue how to do that

[2015-03-06 18:28] fernandog commented on #870
@TagForce is he has a hidden folder like that, PP may try to move it there. And as the folder name is strange, SR get's lost in regex

@kendog819 http://blogs.msdn.com/b/zxue/archive/2012/03/08/win8-howto-19-show-hidden-files-folders-and-drives.aspx

[2015-03-06 18:29] scythe000 commented on #871
Ok, so it's in the queue, but it's not finding the episodes.

[2015-03-06 18:30] kendog819 commented on #870
![image](https://cloud.githubusercontent.com/assets/11353628/6531152/e7230ea6-c404-11e4-8323-82fca2a547c2.png)
Was already checked :-/

[2015-03-06 18:39] fernandog commented on #870
@abeloin is this a javascript error?! really strange

[2015-03-06 18:42] kendog819 commented on #870
The @__thumb is a Qnap thing.

https://www.google.com/webhp?sourceid=chrome-instant&ion=1&espv=2&ie=UTF-8#q=.%40__thumb%20qnap

[2015-03-06 18:42] kendog819 commented on #870
I enabled showing hidden folders on there too though, and still don't see it.......

[2015-03-06 18:43] kendog819 commented on #870
If anyone wants to teamview me, It can be setup.

[2015-03-06 18:46] fernandog commented on #871
is there any too find that meet all your criteria?

[2015-03-06 18:48] scythe000 commented on #871
Definitely:
https://kickass.to/usearch/adventure%20time%20s06e31/
https://thepiratebay.se/search/adventure%20time%20s06e31/0/7/0

[2015-03-06 18:52] fernandog commented on #871
from your log:
[code]
please manualsearch and send a new log

[2015-03-06 18:54] scythe000 commented on #871
http://pastebin.com/bGKV7HwK

[2015-03-06 18:56] StSaens commented on #852
It's set to HD-preset (HD TV, 1080p HD TV, 720p WEB-DL, 1080p WEB-DL, 720p BluRay, 1080p BluRay)

[2015-03-06 18:59] fernandog commented on #871
still the same
[code]

this is related to KAT rss. there's no new item in kat rss that needs to be added (nothing to worry)
[code]

[2015-03-06 19:00] scythe000 commented on #871
Then I don't understand why isn't it finding any of the 5 torrents in KAT or TPB?

[2015-03-06 19:05] fernandog commented on #871
which 5 torrents? of this show Adv. time?
send the print of the show page

[2015-03-06 19:06] scythe000 commented on #871
If you see these links:
https://kickass.to/usearch/adventure%20time%20s06e31/
https://thepiratebay.se/search/adventure%20time%20s06e31/0/7/0
each site has the same 5 results. Not sure why SR isn't checking TPB at all.

[2015-03-06 19:23] kendog819 commented on #870
![image](https://cloud.githubusercontent.com/assets/11353628/6532132/4617b87e-c40c-11e4-9fc2-8c7fab4de6a5.png)
Is there any way of telling SR to not look at certain folders?

[2015-03-06 19:27] fernandog commented on #871
where are those results in your log?

[2015-03-06 19:29] scythe000 commented on #871
They're not showing up.

Sent from my iPhone

On Mar 6, 2015, at 11:27 AM, Fernando <notifications@github.com<mailto:notifications@github.com>> wrote:

where are those results in your log?

—
Reply to this email directly or view it on GitHub<https://github.com/SiCKRAGETV/sickrage-issues/issues/871#issuecomment-77619861>.

[2015-03-06 19:29] TagForce commented on #870
it should already. it ignores folders starting with a .
I'll look into this. Explicitly ignoring those folders needs to happen.

[2015-03-06 19:29] fernandog commented on #871
SR it's not doing the manualsearch then!!

[2015-03-06 19:31] scythe000 commented on #871
That's what I've been saying! Lol. I don't think SR is actually performing the searches.

Sent from my iPhone

On Mar 6, 2015, at 11:29 AM, Fernando <notifications@github.com<mailto:notifications@github.com>> wrote:

SR it's not doing the manualsearch then!!

—
Reply to this email directly or view it on GitHub<https://github.com/SiCKRAGETV/sickrage-issues/issues/871#issuecomment-77620289>.

[2015-03-06 19:35] TagForce commented on #770
@fernandog Yes. I think it'll come to something like that.
I think I can make it work by setting release_name to "" when setting status from downloaded to wanted for now.

[2015-03-06 19:36] kendog819 commented on #870
Thanks TagForce, I appreciate the help! :)

[2015-03-06 19:39] TagForce commented on #743
It should close the file after the with clause. on windows it doesn't, I think.
Probably change it all from codec.open to using io.open... But need to make sure that's the issue first.

[2015-03-06 19:54] fernandog commented on #770
@TagForce ok!

[2015-03-06 19:55] fernandog commented on #871
@scythe000 when you click manualsearch, does the spin wheel appear?

[2015-03-06 19:58] scythe000 commented on #871
Yes, but SR just says it's already in the queue.

Sent from my iPhone

On Mar 6, 2015, at 11:55 AM, Fernando <notifications@github.com<mailto:notifications@github.com>> wrote:

@scythe000<https://github.com/scythe000> when you click manualsearch, does the spin wheel appear?

—
Reply to this email directly or view it on GitHub<https://github.com/SiCKRAGETV/sickrage-issues/issues/871#issuecomment-77

[2015-03-06 19:59] fernandog commented on #370
@goatbased @BelgarionNL @InfernoZeus @Electr0Fi @grantonstar
when you check the **ALL** logs files (not the UI log) try to find:
"Doing full update on all shows" - get the time where is started
 "Completed full update on all shows" (if you don't find, is still running) and if instead you find in "Automatic update failed" my theory is correct

[2015-03-06 20:04] fernandog commented on #871
@abeloin help here? Don't know what else to try

[2015-03-06 21:46] Vodka2014 opened #872 "[Feature Request] Add thesportsdb.com indexer"
Hi All

This is not really an Issue i just want to know how to add new Indexes to SickRage for sports like F1:

http://www.thesportsdb.com/league/4370

Thanks

[2015-03-06 21:55] nytemyst opened #873 "[APP SUBMITTED]: u'[HD-Episode].Unbreakable.Kimmy.Schmidt.S01E02.720p.WEBRip.x264-2HD.[SEEDERS.(1)/LEECHERS.(0)]'"
### INFO
Python Version: **2.7.5 (default, May 15 2013, 22:44:16) [MSC v.1500 64 bit (AMD64)]**
Operating System: **Windows-2008ServerR2-6.1.7601-SP1**
Branch: **develop**
Commit: SiCKRAGETV/SickRage@a0043e2d8fa3168b7d3bc1a414b8ae2bf10e9206
### ERROR
[code]
---
_STAFF NOTIFIED_: @SiCKRAGETV/owners @SiCKRAGETV/moderators

[2015-03-06 22:04] fernandog commented on #873
@nytemyst what is Transmit ?!

[2015-03-06 22:05] fernandog commented on #873
@neoatomic is this issue from sickgear? don't know what transmit is

[2015-03-06 22:06] Vodka2014 commented on #872
Thanks fernandog :)

[2015-03-06 22:11] fernandog commented on #872
Its not our priority. also there is  a lot of FR and 2-3 dev

[2015-03-06 22:16] Vodka2014 commented on #872
Sure whenever you get time to make the changes just hope before the 2016 Season :)

In the mean time ppl can check out - http://forum.kodi.tv/showthread.php?tid=96518 for the content that has been sorted out. if anyone is interested (if this post is allowed :) )

[2015-03-06 22:37] neoatomic commented on #873
@fernandog Its probably a custom provider. He just named it Transmit.?

@nytemyst Please post a full log and screenshot with the settings of this provider.
With only the error we cant do anything...

[2015-03-06 22:51] duramato opened #874 "[Feature Request] Add Torrentz.eu provider"
Simple feature request ,add torrentz.eu as a torrent provider

This project (a lightweight sickbeard for torrent) could be used as a base ( https://github.com/tax/snor ) it has torrentz.eu as a sonely provider and its license allows copying ,modifing, etc

[2015-03-06 22:51] neoatomic commented on #872
@Vodka2014 Just took a look, they have API support so it should be possible.
However if i read the forum correct they are expecting a donation for the API key. (Witch the Sickrage developers need to get it working.)

http://www.thesportsdb.com/forum/viewforum.php?f=6

That could complicate things....

[2015-03-06 23:02] unabatedshagie commented on #838
I'd love to be able to ditch uTorrent for qbittorrent.

[2015-03-06 23:17] blazem commented on #830
Hi @fernandog I have tried what you asked and got the following:

AA. Error: not a valid bencoded string
AARelease Group: LOL
AASize: -1
AAName: Better.Call.Saul.S01E05.HDTV.x264-LOL
AAQuality: SD TV
AAEpisode: []
AAExtra Info:
2015-03-07 12:14:58 DEBUG    SEARCHQUEUE-MANUAL-273181 :: uTorrent: Exception raised when sending torrent: IPTorrents @ https://iptorrents.eu/download.php/1340041/Better.Ca

[2015-03-06 23:18] blazem commented on #830
Its not for all torrents either, some others have had no issues.

[2015-03-07 00:02] anothergene opened #875 "Naming Episode one back"
I've seen this happen a couple times now.  It appears when processing it things the episode is one older that it is.

From the manual processing results

Processing /srv1/download/btsync/tv/Fortitude.S01E06.CONVERT.720p.HDTV.x264-W4F/fortitude.s01e06.convert.720p.hdtv.x264-w4f.mkv (None)
Found result in history: (, 1, [], 4, -1)
Retrieving episode object for 1x5
...
Copying file from /srv1/downloa

[2015-03-07 00:04] ugokanain opened #876 "FR - Scan folder for missing episodes"
Would be nice to have the option to have SR scan a folder to see if you are missing any episodes. Ideally it should be able to use the directory name for the show (big_show/01x01), as well as the file. This because it is nice to remove the show name from the file, since it can be a rather long title.

I usually keep the archived apart from the current, so you would need to either ignore the tail o

[2015-03-07 00:34] fernandog commented on #830
@Abeloin there is no INFO in content. Is that right? Buggy torrent of IPT changed something?

(result.content)["info"]

[2015-03-07 00:57] nytemyst commented on #873
it is a custom provider and I'm not showing anything else in the logs for this error. The provider is working it just was just that one time error so far. I was hoping by submitting it'll give more information then what the screen showed but i guess not. I wouldn't sweat this.

[2015-03-07 02:48] captain0bvious commented on #838
Please add qbitorrent support so I can label my tvshows for processing.

[2015-03-07 03:51] mmazur519 commented on #864
The issue in the end is likely the tvdb or SickRage because at times whenadding shows ddepending on how written may or may not send results.  Yesterday secrets and lies would only show  UK in results had to specifically enter (us)  to get upcoming us version of show from tvdb.  So not sure if short coming in Sr code or tvdb.

[2015-03-07 03:51] #864 closed

[2015-03-07 05:53] scythe000 commented on #871
So, SR still hasn't tried to find any episodes all day. Just for the hell of it, I tried setting an episode to ignored, then back to wanted, but it still won't look for it:

`2015-03-06 21:50:47 INFO     Thread-45 :: Sending backlog for Archer (2009) season 6 because some eps were set to wanted
2015-03-06 21:50:47 DEBUG    Thread-45 :: Not adding item, it's already in the queue
2015-03-06 21:50:47

[2015-03-07 05:57] scythe000 commented on #871
It just keeps saying items are in the queue. I'm not sure what that means. Is there some way I can clear the queue?

[2015-03-07 08:03] vanticar commented on #849
@abeloin I use your proxies interproxynet.eu (also triedproxite.de) - I dont use any other VPN / Proxy due to 3mbs Inet

@fernandog sorry i was away

I am unsure if I need to reinstall as I have just tried to update as 4 comments behind and i got this error (perhaps related?)

2015-03-07 07:57:33 Thread-48 :: git pull -f origin master returned : From https://github.com/SiCKRAGETV/SickRage
 * branc

[2015-03-07 09:06] Vodka2014 commented on #872
@neoatomic Thanks looks like i miss read some thing some where.

So if they want a donation then will there be a place on SickRage to add in the creds ?.I will take a look and reply back on what they give me to use for the API. (Not The API Its Self)

[2015-03-07 09:22] neoatomic commented on #873
@nytemyst As you cant provide any more info, and we cant troubleshoot this without it, I'm going to close this issue.

[2015-03-07 09:22] #873 closed

[2015-03-07 09:42] neoatomic commented on #872
@Vodka2014 When this is a good indexer (that works) and a lot of the Sickrage users want this added. Than we might consider adding this, but currently you are the only one requesting this and there is the donating issue.  If you could do a little more research and post the outcome it will help the developers making a decision in the future. But again at this point it is very unlikely that it will

[2015-03-07 09:49] neoatomic commented on #875
Fist use the guideline for posting an issue. : https://github.com/SiCKRAGETV/sickrage-issues#submitting-a-bugissue-ticket

And please explain the problem you are having better.

[2015-03-07 10:20] chrisric commented on #821
@TagForce:
Same problem and it happened at 3am again not 5am which is what I configured. (showupdate_hour = 5) Thoughts?

New logs are below, they show much the same...
https://drive.google.com/file/d/0B8JFLK_cWhrbbzNnY1ZpLXdjZ2c/view?usp=sharing

@fernandog It's a Mac Mini with 8GB of RAM, only runs Kodi and SickRage. Most RAM i've seen it use is 5GB. I'll run a script to log memory usage tonight

[2015-03-07 10:35] fernandog commented on #849
Read here
https://github.com/SiCKRAGETV/sickrage-issues about updates

Probaly it an issue with the proxy while using rarbg

[2015-03-07 10:37] fernandog commented on #873
With you provide full logs (with the above error in it) we can reopen issue

[2015-03-07 11:37] ryanf86 opened #877 "[APP SUBMITTED]: 'NoneType' object is not iterable"
### INFO
Python Version: **2.7.9 (v2.7.9:648dcafa7e5f, Dec 10 2014, 10:10:46)
[GCC 4.2.1 (Apple Inc. build 5666) (dot 3)]**
Operating System: **Darwin-14.1.0-x86_64-i386-64bit**
Branch: **develop**
Commit: SiCKRAGETV/SickRage@a0043e2d8fa3168b7d3bc1a414b8ae2bf10e9206
Link to Log: https://gist.github.com/8649c87f75fd016833d3
### ERROR
[code]
---
_STAFF NOTIFIED_: @SiCKRAGETV/owners @SiCKRAGETV/moder

[2015-03-07 11:42] fernandog commented on #877
@ryanf86 what you were doing? What is the steps  to reproduce?

[2015-03-07 11:51] ryanf86 commented on #877
Went to settings then general. Once I clicked on general I am redirected back to the shows page

Sent from my iPhone

[2015-03-07 12:38] ripper1967 commented on #871
scythe000 what are you running for a system? Do  you have pirate bay checked under search providers also under provider options do you have the just season packs only checked ? as far as kat goes  they are having problems with there rss feeds, so it may grab a show ,it might not right now..

[2015-03-07 13:52] neoatomic commented on #589
@fernandog I made this FAQ for the network logos some time back, you can add it to the Wiki if you like.

[code]

[2015-03-07 14:03] fernandog commented on #877
I think GITHUB is having issues

[2015-03-07 14:19] djack42 opened #878 "set episodes as wanted on paused show starts backlog and dl"
On a tvshow page, setting one or many episodes to wanted (from ignored, archived or anything else was set as default for new episodes) starts the backlog disregarding the paused status.
I end up having the downloads starting and that should not be the case for a paused show.

Also That would be great if the config page had a preformatted version info for creating an issue, even better, a button fi

[2015-03-07 14:35] neoatomic commented on #589
@fernandog And one for adding banners to TVRage shows.

[code]

[2015-03-07 15:08] mmazur519 commented on #820
Mine on windows just seems to lose some of the detail. I could find the error that was thrown in the log but when I went back to investigate what was throwing the error. Even on ubuntu if SR is pushing a large amount of data to log file which mine was when it went to rotate I lost about 4 minutes of Data. Not a big issue most of the time because if it is an error in the code and not just a blip in

[2015-03-07 15:57] abeloin commented on #877
PR merged

[2015-03-07 16:52] fernandog commented on #877
@ryanf86 please update

[2015-03-07 16:54] scythe000 commented on #871
Hi @ripper1967! I'm running Windows 2012, Python 2.7.8. Piratebay, KAT, TorrentBytes and EZRSS are checked. Season search mode is episodes only.

That's good to know about KAT! are the other providers broken too?

[2015-03-07 17:09] fernandog commented on #878
isn't the correct ? if you set as WANTED, you want it.

[2015-03-07 17:09] abeloin commented on #871
@scythe000 What are the number in manage Searches -> Search queues ?

[2015-03-07 17:11] fernandog commented on #820
can you post both logs ? rotated and the new one ? - pastebin please

[2015-03-07 17:11] scythe000 commented on #871
Where is that? I don't see "Manage Searches"

[2015-03-07 17:37] kendog819 commented on #870
Any updates?

[2015-03-07 17:43] abeloin commented on #830
Without access to the torrent file is difficult to say, but it look like the dictionary that describes the file(s) of the torrent is corrupted.

[2015-03-07 17:46] djack42 commented on #878
Yes, wanted, but in this case, it's ready to download as soon as i unpause the show. not right now
Tell me how it's done when the default for new episodes is wanted, but the show is pausee. Is it downloading automaticaly when a new episode is released ? I don't think so !
A paused show means no downloads, we should be able to change episode states without triggering a snatch.
the setting pause sho

[2015-03-07 18:08] abeloin commented on #871
In Manages menu, Manage Searches.

[2015-03-07 18:09] fernandog commented on #589
@TagForce @abeloin

TO DO:
- Abort auto update if PP running or showupdate running - DONE
- Fetch all logs in logsearch and logfilter - DONE
- Add DIV saying "You are using develop branch. Be advised" - DONE
- Reverted auto-issues PR - DONE
- Fix manualsearch (ask use on MS: re-download same quality (mark failed if enabled) OR force better quality check (don't download same quality)
- Remove snatc

[2015-03-07 18:11] fernandog commented on #830
it dictionary it's not in SR. I asked him to add.
@blazem can you save that torrent and put in dropbox or something equivalent?

[2015-03-07 18:11] scythe000 commented on #871
Manage Searches
Backlog Search:
Currently running

Daily Search:
Not in progress

Find Propers Search:
Not in progress

Search Queue:
Backlog: 5 pending items
Daily: 17 pending items
Manual: 2 pending items
Failed: 0 pending items

[2015-03-07 18:12] scythe000 commented on #871
Very interesting! But when looking at the logs, it doesn't appear any search is actually running.

[2015-03-07 18:15] fernandog commented on #878
no automatic downloads. will mark this as FR

[2015-03-07 18:20] djack42 commented on #878
Thx

[2015-03-07 18:23] fernandog commented on #878
@TagForce what do you think?

[2015-03-07 18:43] hairyhippy commented on #871
I'm having a similar problem where SR is not finding torrents yet I know they're available on KAT & TPB

http://pastebin.com/2eWT0e47

[2015-03-07 18:45] krash1220 opened #879 "[APP SUBMITTED]: Cannot find attribute 'director'"
### INFO
Python Version: **2.7.6 (default, Mar 22 2014, 22:59:56)
[GCC 4.8.2]**
Operating System: **Linux-3.13.0-37-generic-x86_64-with-LinuxMint-17.1-rebecca**
Branch: **master**
Commit: SiCKRAGETV/SickRage@495b040ffadd5386f52f343bba13dfb017a92035
Link to Log: https://gist.github.com/61d7c105b9da4762a43e
### ERROR
[code]
---
_STAFF NOTIFIED_: @SiCKRAGETV/owners @SiCKRAGETV/moderators

[2015-03-07 18:49] krash1220 opened #880 "[APP SUBMITTED]: Cannot find attribute 'rating'"
### INFO
Python Version: **2.7.6 (default, Mar 22 2014, 22:59:56)
[GCC 4.8.2]**
Operating System: **Linux-3.13.0-37-generic-x86_64-with-LinuxMint-17.1-rebecca**
Branch: **master**
Commit: SiCKRAGETV/SickRage@495b040ffadd5386f52f343bba13dfb017a92035
Link to Log: https://gist.github.com/c5f5b44efbf2243d4123
### ERROR
[code]
---
_STAFF NOTIFIED_: @SiCKRAGETV/owners @SiCKRAGETV/moderators

[2015-03-07 18:52] fernandog commented on #871
@scythe000 can you please try disable KAT and all others and enable RARBG?

[2015-03-07 18:55] scythe000 commented on #871
Did that and forced a daily:
`2015-03-07 10:53:54 INFO     DAILYSEARCHER :: No new released episodes found ...
2015-03-07 10:53:54 INFO     DAILYSEARCHER :: Searching for new released episodes ...
2015-03-07 10:53:53 INFO     Thread-28 :: Daily search forced`

[2015-03-07 18:56] scythe000 commented on #871
Also, doing a manual search, nothing happens. Icon spins, but no popup, log does not show that any action happened.

[2015-03-07 18:57] abeloin commented on #589
Reverted snatched from backlog:
https://github.com/SiCKRAGETV/SickRage/pull/1499

[2015-03-07 18:59] abeloin commented on #871
@scythe000 Still the same numbers in search Queue?

[2015-03-07 19:00] scythe000 commented on #871
no, now it's:
`Search Queue:
Backlog: 5 pending items
Daily: 2 pending items
Manual: 1 pending items
Failed: 0 pending items`

[2015-03-07 19:05] abeloin commented on #871
It took an 1 hour to process 15 items in the daily! It's slow, have many thing running on that server?

[2015-03-07 19:06] blazem commented on #830
Alright, I figured it out. Upon trying to manually obtain the torrent file, it turns out that my seed ratio is too poor on that provider to access the download.

I removed that site from the provider list and we are back on track.

Thanks for your help anyway guys, I hope I haven't wasted anyone's time.
Good to know for future potential similar errors.

[2015-03-07 19:06] scythe000 commented on #871
Nothing! It's just a file server and SR. It's an i7 with 16gb ram. CPU and RAM are at 10% right now. OS drive is an SSD.

[2015-03-07 19:10] koper89 opened #881 "Raspberry Pi crashes when using SickRage"
Hi,
I have strange problem lately (since about 2 months) - my Raspberry Pi keeps freezing after using sickrage. I'm using it on xbian system (www.xbian.org) - My version of Python 2.7.3.
Firstly I thought my system is crashing cause of xbian - below link with screenshot how it looks like:
http://forum.xbian.org/thread-2693-post-26701.html#pid26701
Then i thought if maybe my raspberry Pi is corrupt

[2015-03-07 19:15] abeloin commented on #871
@hairyhippy  Either TPB is down or is blocked from your country. Referror(101, 'Network is unreachable')

[2015-03-07 19:32] fernandog commented on #881
@koper89 I used to have this problems. RPI was killing python.exe because it was out of memory.

SSH and run this:
[code]

if you find a lot you need to adjust your pi memory

[2015-03-07 19:35] abeloin commented on #871
Can you disable ezrss as it isn't working as the site doesn't exists and restart sickrage. Have a look again at the number in search Queue.

[2015-03-07 19:38] scythe000 commented on #871
I disabled all but RARBG per @fernandog 's request an hour ago. After restarting SR:
`Search Queue:
Backlog: 5 pending items
Daily: 1 pending items
Manual: 0 pending items
Failed: 0 pending items`

[2015-03-07 19:38] scythe000 commented on #871
Hey shit, it just snatched everything!

[2015-03-07 19:40] abeloin commented on #871
Can you upload the log? What are the number in search Queue.

[2015-03-07 19:41] scythe000 commented on #871
Search Queue:
Backlog: 0 pending items
Daily: 0 pending items
Manual: 0 pending items
Failed: 0 pending items

[2015-03-07 19:42] scythe000 commented on #871
http://pastebin.com/sHKyVAqg

[2015-03-07 19:42] abeloin commented on #871
Ok so your queue was unblocked

[2015-03-07 19:43] scythe000 commented on #871
So, it sounds like every single one of the other torrrent providers I was using are messed up right now?

Sent from my iPhone

On Mar 7, 2015, at 11:42 AM, Alexandre Beloin <notifications@github.com<mailto:notifications@github.com>> wrote:

Ok so your queue was unblocked

—
Reply to this email directly or view it on GitHub<https://github.com/SiCKRAGETV/sickrage-issues/issues/871#issuecomment-77706

[2015-03-07 19:46] abeloin commented on #871
I'll check KAT to see what is going on.

[2015-03-07 19:49] fernandog commented on #589
updated

[2015-03-07 19:50] #830 closed

[2015-03-07 20:04] hairyhippy commented on #871
@abeloin yeah does look as though TPB is but don't think KAT is and have both enabled.  And SR did process some backlogs for some of my shows earlier today just not all even though I know the torrents are available.

[2015-03-07 20:22] fernandog commented on #871
rarbg was already enabled or did you enable when I asked?
if was enabled before, it should work because it search in wall providers
maybe it found in KAT search, but the download from KAT didn't worked.

[2015-03-07 20:31] ikkeenjij36 opened #882 "episodes keep standing on wanted"
Hi after reinstalling my syno and thus sickrage as well it dl 1 or 2 episodes from a serie and after that the rest are standing still at wanted and not get searched or put through to sabnzbd.
Is there anyway i can solve this?
I can manually search for episodes but i have more then a lot of episodes to be searche so not really a solution to do it all by hand.
Please advice on how to solve.
Thanks f

[2015-03-07 20:44] scythe000 commented on #871
It wasn't enable before, I was just following your instructions. But, I'm happy, because it works :-).

Sent from my iPhone

On Mar 7, 2015, at 12:22 PM, Fernando <notifications@github.com<mailto:notifications@github.com>> wrote:

rarbg was already enabled or did you enable when I asked?
if was enabled before, it should work because it search in wall providers
maybe it found in KAT search, but the

[2015-03-07 20:52] fernandog commented on #882
Tell me your enabled providers

[2015-03-07 21:05] koper89 commented on #881
What you mean by adjust? And its not killing python its freezing, the only thing i can do is plug off rpi and plug in once again.

[2015-03-07 21:08] abeloin commented on #871
@fernandog My guess some queue item was blocked the search queue, disabling Kat without restarting sickrage left the item in the queue. I'm currently looking at Kat's code to see why it would block the queue.

[2015-03-07 21:09] fernandog commented on #881
@koper89 did you run that command? post the output please

[2015-03-07 21:21] abeloin commented on #880
Duplicate https://github.com/SiCKRAGETV/sickrage-issues/issues/867

This is fixed in develop and will be in master soon.

[2015-03-07 21:21] abeloin commented on #879
Duplicate https://github.com/SiCKRAGETV/sickrage-issues/issues/867

This is fixed in develop and will be in master soon.

[2015-03-07 21:21] #879 closed

[2015-03-07 21:21] #880 closed

[2015-03-07 21:47] ikkeenjij36 commented on #882
Sickbeard provider,usenetcrawler,nzbgeek,nzbs2go,nzbsootie.
I hope those are enough/good enough?

[2015-03-07 22:01] koper89 commented on #881
Don't have syslog in /var/log

[2015-03-07 22:03] fernandog commented on #881
locate syslog file in your OS

[2015-03-07 22:21] anothergene commented on #875
In short, it's process a file that is s01e06 and copying it to s01e05.  The file that is being processed it named "fortitude.s01e06.convert.720p.hdtv.x264-w4f.mkv".  and it processes it to "Fortitude/Season 01/Fortitude.s01e05.HD.TV.mkv"

[2015-03-07 22:25] anothergene commented on #875
Branch: Master
Commit hash:  495b040ffadd5386f52f343bba13dfb017a92035
Your operating system and python version: ubuntu 14.10 64bit, python 2.78
What you did:  See above
What happened:  See above
What you expected I expect it to process a s01e06 to s01e06, not s01e05
Link to a copy/paste of your log file with clear debug info of the error on PASTEBIN:  See above.

[2015-03-07 22:42] krash1220 commented on #337
I would so love it if it was possible. I only use put.io now and I have to manually upload and download all my shows. I used nzb's for awhile but half of even the current shows there were too many files missing. I don't have that problem with torrents. I would even more money for this feature. It would make getting my shows so much easier.

[2015-03-07 22:45] koper89 commented on #881
I've got only dmseg

[2015-03-07 22:55] nigewri opened #883 "[APP SUBMITTED]: mktime argument out of range"
### INFO
Python Version: **2.7.9 (v2.7.9:648dcafa7e5f, Dec 10 2014, 10:10:46)
[GCC 4.2.1 (Apple Inc. build 5666) (dot 3)]**
Operating System: **Darwin-14.1.0-x86_64-i386-64bit**
Branch: **master**
Commit: SiCKRAGETV/SickRage@495b040ffadd5386f52f343bba13dfb017a92035
Link to Log: https://gist.github.com/b219eaa93f8aad506b54
### ERROR
[code]
---
_STAFF NOTIFIED_: @SiCKRAGETV/owners @SiCKRAGETV/modera

[2015-03-07 22:55] nigewri opened #884 "[APP SUBMITTED]: mktime argument out of range"
### INFO
Python Version: **2.7.9 (v2.7.9:648dcafa7e5f, Dec 10 2014, 10:10:46)
[GCC 4.2.1 (Apple Inc. build 5666) (dot 3)]**
Operating System: **Darwin-14.1.0-x86_64-i386-64bit**
Branch: **master**
Commit: SiCKRAGETV/SickRage@495b040ffadd5386f52f343bba13dfb017a92035
Link to Log: https://gist.github.com/ed4e55edab0c3debf891
### ERROR
[code]
---
_STAFF NOTIFIED_: @SiCKRAGETV/owners @SiCKRAGETV/modera

[2015-03-07 23:16] fernandog commented on #881
openelec, xbian, raspbmc or osmc?
you have to google or consult the developer of the OS to check the syslog

[2015-03-07 23:16] cvockrodt commented on #337
@krash1220 in the meantime, I've written a simple .vbs script that seems to work fine. It uses curl to upload to put.io using your oauth key. https://github.com/cvockrodt/put.io-uploader

There's a little bit of setup but if you can get sickrage running i'm sure you'll have no problem.

Also you can use a download manager to automatically download your files to your computer.

I still want put.io

[2015-03-07 23:16] fernandog commented on #882
@ikkeenjij36 post full logs and follow guidelines: https://github.com/SiCKRAGETV/sickrage-issues

[2015-03-07 23:21] fernandog opened #885 "[Feature Request] "Send logs" button in viewlog"
I'm tired of asking for logs. Users don't read guidelines. It's easier to create a button that uploads the log to gist (if git user and pass). I will get at least 24hrs of logs (?) - if available

https://help.github.com/articles/working-with-large-files/
**Working with large files**
When pushing to GitHub, you'll receive a warning message if you add a new file or update an existing file larger th

[2015-03-07 23:26] fernandog commented on #884
https://github.com/SiCKRAGETV/sickrage-issues/issues/883

[2015-03-07 23:26] #884 closed

[2015-03-07 23:27] fernandog commented on #883
@nigewri please explain what you were doing. how to reproduce it ?

[2015-03-07 23:30] fernandog commented on #883
@nigewri can you check the air date of the episodes in "coming episodes" and post the air date of all of them?

[2015-03-07 23:36] fernandog commented on #840
@chemmah can you update and report back if issue is fixed?

[2015-03-07 23:39] fernandog commented on #849
@vanticar did you try without the proxy?

[2015-03-07 23:51] fernandog commented on #848
@abeloin

can we do this?

https://github.com/SiCKRAGETV/SickRage/blob/develop/sickbeard/providers/rsstorrent.py#L164
[code]

[2015-03-07 23:52] koper89 commented on #881
xbian, got no syslog embeded - as i said i installed it now and waiting for crash.

[2015-03-07 23:53] fernandog commented on #881
check with xbian develops where an error of Out of Memory is logger

[2015-03-07 23:55] koper89 commented on #881
But if it would be out of memory i suppouse it would just kill process, but it's freezing whole kernel in my case.

[2015-03-07 23:57] fernandog commented on #881
I depends how OOM Killer is set.

search google for: linux oom killer freeze kernel

[2015-03-08 00:06] fernandog commented on #881
@koper89 please try this:

Set "CPU throttling" to HIGH in /config/general/ Advanced settings tab

[2015-03-08 00:08] koper89 commented on #881
Tried it, but still with the same result.

[2015-03-08 00:48] anothergene commented on #875
seems to be doing it with all eps on this series... from the manual processing result

Copying file from /srv1/download/pickup/sickbeard/Fortitude.S01E07.Episode.Seven.1080p.WEB-DL.AAC2.0.H.264-BS.mkv to /srv1/tv/Fortitude/Season 01/Fortitude.s01e06.1080p.WEB-DL.mkv

[2015-03-08 00:53] hairyhippy commented on #871
So switched off TPB and the log is now...  Still can't find episodes that do exist on KAT.

http://pastebin.com/ktNTZYUp

[2015-03-08 00:54] fernandog commented on #875
Check if scene numbering is enable. Also check the column numbering in showpage

[2015-03-08 00:56] fernandog commented on #871
Use rarbg in the meanwhile. If has everything

[2015-03-08 00:58] scythe000 commented on #871
We need complete logs. That's not much to go off of.

Sent from my iPhone

On Mar 7, 2015, at 4:53 PM, hairyhippy <notifications@github.com<mailto:notifications@github.com>> wrote:

So switched off TPB and the log is now... Still can't find episodes that do exist on KAT.

http://pastebin.com/ktNTZYUp

—
Reply to this email directly or view it on GitHub<https://github.com/SiCKRAGETV/sickrage-issues

[2015-03-08 01:05] hairyhippy commented on #871
@scythe000 that's all that's in the log from the moment I hit manual search to the moment it stopped searching.  What else can I provide?

@fernandog rarbg doesn't seem to be in the default list of providers.  I'll try to manually add it.

[2015-03-08 01:05] hairyhippy commented on #871
forgot to also add currently:
SR Version:	BRANCH: (master) / COMMIT: (495b040ffadd5386f52f343bba13dfb017a92035)

[2015-03-08 01:21] hairyhippy commented on #871
@fernandog - switched to rarbg, restarted and now working.  Cheers

[2015-03-08 01:22] hairyhippy commented on #871
@fernandog - switched to rarbg, restarted and now working.  Cheers

[2015-03-08 01:24] fernandog commented on #871
@hairyhippy is blocked in your country?

[2015-03-08 01:26] hairyhippy commented on #871
Think TPB might be, not sure about KAT but per above rarbg seems to be working,  Proxies for all 3 are fine.

[2015-03-08 01:37] scythe000 commented on #871
Rarbg should be in the list unless you're running an old version.

Switch the log level to debug please.

Sent from my iPhone

On Mar 7, 2015, at 5:05 PM, hairyhippy <notifications@github.com<mailto:notifications@github.com>> wrote:

@scythe000<https://github.com/scythe000> that's all that's in the log from the moment I hit manual search to the moment it stopped searching. What else can I provide?

[2015-03-08 02:00] hairyhippy commented on #871
@scythe000 you're a little behind - already stated switch to rarbg and all working. thanks

[2015-03-08 02:01] scythe000 commented on #871
Sorry, got hit with a ton of emails at once, haha.

Sent from my iPhone

On Mar 7, 2015, at 6:00 PM, hairyhippy <notifications@github.com<mailto:notifications@github.com>> wrote:

@scythe000<https://github.com/scythe000> you're a little behind - already stated switch to rarbg and all working. thanks

—
Reply to this email directly or view it on GitHub<https://github.com/SiCKRAGETV/sickrage-issues/

[2015-03-08 02:03] hairyhippy commented on #871
No worries.

[2015-03-08 02:38] fernandog commented on #881
I'm certain is an out of memory error.
Try to increase your search frequency to 12 hours. Just a test

also try to check syslog or where your OS stores the out of memory errors

[2015-03-08 04:13] abeloin commented on #848
PR https://github.com/SiCKRAGETV/SickRage/pull/1502 can be used as a workaround for now.

[2015-03-08 05:28] abeloin commented on #871
Ok KAT seems to be ok now: Using getprivate.eu proxy:
[code]
@hairyhippy Can you rerty with Kat?

[2015-03-08 05:30] abeloin commented on #885
https://help.github.com/articles/working-with-large-files/#files-to-consider-removing-from-git

[2015-03-08 05:40] scythe000 commented on #871
Do we need to edit anything, or did you do a commit already?

Sent from my iPhone

On Mar 7, 2015, at 9:28 PM, Alexandre Beloin <notifications@github.com<mailto:notifications@github.com>> wrote:

Ok KAT seems to be ok now: Using getprivate.eu<http://getprivate.eu> proxy:

2015-03-08 00:27:10 DEBUG    SEARCHQUEUE-MANUAL-259765 :: [KickAssTorrents] :: Ignoring result Banshee.S03E06.1080p.HDTV.x264-B

[2015-03-08 05:41] abeloin commented on #871
Nope, the rss error was on KAT side

[2015-03-08 05:54] scythe000 commented on #871
Yep, confirmed it's working for me.

[2015-03-08 07:51] vanticar commented on #849
@fernandog - here is a complete log without using a proxy on a manual unaired search (same result with each of your 4 internal proxies) :-

2015-03-08 07:43:59 INFO     SEARCHQUEUE-MANUAL-153021 :: Unable to find a download for: [The Walking Dead - 5x13 - Forget]
2015-03-08 07:43:58 INFO     SEARCHQUEUE-MANUAL-153021 :: [EZRSS] :: Performing episode search for The Walking Dead
2015-03-08 07:43:58

[2015-03-08 11:47] ikkeenjij36 opened #886 "[APP SUBMITTED]: Cannot find attribute 'director'"
### INFO
Python Version: **2.7.8 (default, Dec 12 2014, 21:04:21)
[GCC 4.7.3 20130102 (prerelease)]**
Operating System: **Linux-3.2.40-x86_64-with-glibc2.2.5**
Branch: **master**
Commit: SiCKRAGETV/SickRage@495b040ffadd5386f52f343bba13dfb017a92035
### ERROR
[code]
---
_STAFF NOTIFIED_: @SiCKRAGETV/owners @SiCKRAGETV/moderators

[2015-03-08 11:54] #886 closed

[2015-03-08 12:01] fferraro87 opened #887 "'ascii' codec can't encode character u'\u2019' in position 131"
every hour (frequency to scan subtitles) i've this error :

2015-03-08 11:40:45 FINDSUBTITLES :: Error occurred when downloading subtitles: 'ascii' codec can't encode character u'\u2019' in position 131: ordinal not in range(128)

http://pastebin.com/bC9HASrZ

i've this BRANCH: (master) / COMMIT: (495b040ffadd5386f52f343bba13dfb017a92035)
Python 2.7.6
Ubuntu 14.04 LTS
i've set up scan and download

[2015-03-08 12:04] fernandog commented on #887
Did you read this before opening a issue?

https://github.com/SiCKRAGETV/sickrage-issues

[2015-03-08 12:19] Alexwijn opened #888 "Unable to post process"
I'm trying to post process an episode of Forever but he is unable to find the show.

Postprocessing results
Processing folder /mnt/kodi/Downloads/Done
TV_DOWNLOAD_DIR: /mnt/kodi/Downloads/Done
PostProcessing Path: /mnt/kodi/Downloads/Done
PostProcessing Dirs: []
PostProcessing Files: ['Forever.S01E02.Look.Before.You.Leap.720p.WEB-DL.DD5.1.H.264-ECI.mkv']
PostProcessing VideoFiles: ['Forever.S01E02

[2015-03-08 12:24] fernandog commented on #888
Did you read https://github.com/SiCKRAGETV/sickrage-issues before open this issue?

[2015-03-08 12:27] Alexwijn commented on #888
Latest version of master since I'm not allowed to use the develop branch and the OS is Raspbian.

Anything else I'm missing?

[2015-03-08 12:29] abeloin commented on #887
Need a copy of the output of your locale.
`locale`
and
`locale -a`

[2015-03-08 12:31] abeloin commented on #849
@vanticar What the machine/os running sickrage?

[2015-03-08 12:31] ripper1967 commented on #888
a debug log https://github.com/SiCKRAGETV/sickrage-issues#enabling-detailed-debugging-for-logs

[2015-03-08 12:36] Alexwijn commented on #888
Apparently after enabling debug mode and restarting he successfully processed it. Very weird. I guess he did not invalid the cache and did not had the scene without US.

[2015-03-08 12:36] #888 closed

[2015-03-08 12:50] fernandog commented on #888
You are allowed to use. But only to confirm that a fix for your issue was succeeded.

[2015-03-08 13:25] fferraro87 commented on #887
http://pastebin.com/PThmzFca

[2015-03-08 13:29] fernandog commented on #887
What about all others info?

[2015-03-08 13:44] abeloin commented on #887
@fferraro87 More log needed as a one liner is rather slim. Also do you know the file name which it was searched?

[2015-03-08 13:55] fferraro87 commented on #887
http://pastebin.com/fe0t9BCM

[2015-03-08 13:57] fernandog commented on #887
@fferraro87

Need a copy of the output of your locale.
locale
and
locale -a

[2015-03-08 13:57] fferraro87 commented on #887
@fernandog i've already posted locale and locale -a output
http://pastebin.com/PThmzFca

[2015-03-08 14:55] fernandog commented on #846
@abeloin any news on this? did you succeeded debug it?

[2015-03-08 15:11] TagForce commented on #870
@kendog819 Still trying to find where this goes wrong. It already skips hidden folders in validate_dir...

[2015-03-08 15:52] fernandog commented on #870
@TagForce but a folder with starting with @ it's not a really hidden folder, isn't ? In explorer - screenshot - this folder don't show up.

@kendog819 can you SSH, enter this folder and run:
[code]

and post results?

[2015-03-08 15:57] fernandog commented on #887
@fferraro87 sorry!

can you SSH and run:
[code]

then
[code]

do you get an error or does it show correctly?

[2015-03-08 16:01] vanticar commented on #849
@abeloin OS is windows 8.1 Pro x64 - updated to latest patches, python 2.7.6

[2015-03-08 16:07] Vodka2014 commented on #110
So i just got this as well. I copied a file to a Windows Machine. then back to my Synology NAS then used SickRage to process it.

What am i missing here. Do i need the chmod all my files on my nas to 666 before i process it in SickRage ?

[2015-03-08 16:09] abeloin commented on #887
@fferraro87 Can you check the locale for the user running sickrage?

[2015-03-08 16:20] abeloin commented on #846
No, I'm unable to reproduce it at all even the data I collected.
@Thraxis Do you still have the issue?

[2015-03-08 16:22] fernandog commented on #846
I think its an invalid date from indexer. Like the PR you did and I to Home and coming episode tmpl

[2015-03-08 16:25] abeloin commented on #850
Pushed a PR for rarbg that enable the use of the global proxy. Enable RARBG, uncheck the proxies server in the provider option and it will use the global proxy.

[2015-03-08 16:28] abeloin commented on #849
Can you update to python 2.7.9?

[2015-03-08 16:34] abeloin commented on #849
Also apply this PR, https://github.com/SiCKRAGETV/SickRage/pull/1503 it change rarbg to use requests instead of urlib