[2015-02-18 12:27] fernandog commented on #589
Backlog overview only show the values of WANTED, SNATCHED and etc calculate in getoverview There's no logic.

[2015-02-18 12:30] Cmtahm opened #658 "[APP SUBMITTED]: coercing to Unicode: need string or buffer, instance found"
### INFO
Python Version: **2.7.8 (default, Jun 30 2014, 16:03:49) [MSC v.1500 32 bit (Intel)]**
Operating System: **Windows-8-6.2.9200**
Branch: **develop**
Commit: SiCKRAGETV/SickRage@226a7148d267bf4548044b45aef40d444807834c
Link to Log: https://gist.github.com/076bf5d98b7da89a9532
### ERROR
[code]
---
_STAFF NOTIFIED_: @SiCKRAGETV/owners @SiCKRAGETV/moderators

[2015-02-18 12:34] TagForce commented on #589
@fernandog @abeloin This should indeed be fixed in the backlog overview page.
I thought SR was mishandling the statuses, which is why I changed the check for low quality in the getOverview. Then I realised it was not SR that was doing anything wrong, but the webpage is displaying the wrong episodes. All the statusses are correct as they were originally coming out of getOverview. It's just that bac

[2015-02-18 12:40] fernandog commented on #589
Today it shows snatched but not the low quality snatched.

[2015-02-18 12:43] abeloin commented on #589
By the way if don't choose an archive setting(which is by default) no episode will show as low quality.

[2015-02-18 12:52] abeloin commented on #589
@fernandog Then you should remove snatched altogether from backlog overview as it will never show it as snatched. It will either be low quality or Good

[2015-02-18 13:01] fernandog commented on #589
But low quality snatched is a backlog. Its a high quality wanted.

[2015-02-18 13:02] abeloin commented on #614
@fernandog Added new commit(Added failed.db and cache.db) to branch https://github.com/abeloin/SickRage/tree/patch-backup_restore

[2015-02-18 13:04] hoefs commented on #652
Even if it is snatched? My problem is:
snatch finds web-dl (does not download but has status snatched), I click search and mark as bad and in the logs it keeps telling me that it does not find a better quality than web-dl... If I say it is bad, it should download another copy?

[2015-02-18 13:23] abeloin commented on #589
Currently they show up as snatched then when the download complete, they show up as low quality.

Ideally the backlogoverview should pull the data from something like BacklogSearcher._get_segments

[2015-02-18 13:54] abeloin commented on #655
We upgraded the requests library in develop.
I don't know why git doesn't want to restore the proper files for the request library when switching back to master.

Remove all file inside lib/requests/ then do a git reset --hard

[2015-02-18 14:09] gborri commented on #61
@markheloking hello i'm trying to make pull request for every change in my repo.
first one is pull #1311

[2015-02-18 14:47] dirkr07 commented on #1
Hope somebody picks this one up soon. Really looking forward to a way to properly download/catalog my anime!

[2015-02-18 14:55] TagForce commented on #589
@abeloin @fernandog To return to the previous question of notifying users not to use develop or any other branch other than master:
https://github.com/TagForce/SickRage/commit/cb0f5a74a5b3684eb3987f72c1fa62bebb70ff05

Needs expanding (like actually finding out the branch, rather than assuming sickbeard.BRANCH has the correct value), but it's what I was thinking about.

[2015-02-18 15:03] fernandog commented on #589
@Tagforce nice!

The multidownload wasnt created because of the failed bug and not the snatched change? That change is just a visual change. Does not affect downloa/PP process
I still dont agree we have to do this change In snatched. Official sickbeard works showing low quality snatched in backlog together with wanted. High quality snatched its not backlog. SR dont have to download anything else b

[2015-02-18 15:11] TagForce commented on #589
@fernandog Actually Official Sick-Beard's code for displaying the backlogOverview is exactly the same as SR's. It also doesn't catch low quality snatched episodes.

https://github.com/midgetspy/Sick-Beard/blob/development/sickbeard/tv.py#L897

If status is snatched or snatched_proper it will returned status snatched, regardless of quality.

[2015-02-18 15:13] fernandog commented on #589
@TagForce so why do we have SNATCHED_BEST? and "Low quality" in backlogOverview page?
I'm using your proposed code. not mine.

[2015-02-18 15:17] TagForce commented on #589
@fernandog Because SR has expanded on the available statusses. That is an additional status, and doesn't change the meaning or workings of the other 2 statusses.
SB had Low Quality in the backlogOverview

[2015-02-18 15:22] fernandog commented on #589
the main issue here is to see in backloverview all the wanted eps and all low quality (all things SR must download) snatched/downloaded that needs to be replaced with better quality. That's the concept of backlog. do we agree on that?

[2015-02-18 15:26] BillNasty commented on #654
I'll take a look into it and see if i can figure out whats going on

[2015-02-18 15:38] TagForce commented on #589
@fernandog Yes, we're agreed on that. What needs to be done (and this is purely cosmetic, so no high priority) is that the manage_backlog page needs to be reprogrammed so that it CAN show low_quality snatched episodes. Right now the status is either low quality OR snatched, and there's currently no way to differentiate between the two. And we need to do it in such a way that the displayShow page s

[2015-02-18 16:02] TagForce commented on #657
Failed download handling is only for automated failed download handling. Manual failed download handling is not controlled with the setting. If a snatched or downloaded episode is searched for again, the current snatched or downloaded episode will still be set to failed and a new one will be downloaded (if found).

At least, that is what I understand to be true.

[2015-02-18 16:10] happypaps commented on #632
@flightlevel thanks for that tip! i wasn't even aware of this setting on the site. unfortunately i'm a new user and still at TV User status, stuck at 15 results per page. Once my user status switches over at 4 weeks this should help with this issue. Per @abeloin this may be able to be fixed in SR itself so whichever works is fine by me :)

[2015-02-18 16:29] abeloin commented on #589
@TagForce Regarding finding the current git branch, I think you can safely use sickbeard.BRANCH as it's updated from version on switch E.g.: https://github.com/SiCKRAGETV/SickRage/blob/develop/gui/slick/interfaces/default/config_general.tmpl#L573

If you want to check the branch directly, you can use get_branch: https://github.com/SiCKRAGETV/SickRage/blob/develop/sickbeard/versionChecker.py#L132

[2015-02-18 16:37] mapleleafs89 commented on #648
You're right, SR is running as root. I'll have to look elsewhere, thx!

[2015-02-18 16:37] #648 closed

[2015-02-18 17:09] TuRDMaN commented on #624
Running BRANCH: (develop) / COMMIT: (e1ea0135441662fae914b7579aaa6485e6df806d), I still managed to get an error/traceback when trying to open a bunch of edit pages at the same time. No UI notification, just an error page.

[code]

[2015-02-18 17:26] fernandog commented on #651
https://github.com/SiCKRAGETV/sickrage-issues/

[2015-02-18 17:26] #651 closed

[2015-02-18 17:29] fernandog commented on #637
@SimonKberg do you have trakt enabled, with api, username, password and etc. Everything set?

[2015-02-18 17:43] abeloin commented on #624
Did you apply the pull requests?
https://github.com/SiCKRAGETV/SickRage/pull/1339

[2015-02-18 17:45] abeloin commented on #589
@fernandog Did removing your fork resolve the PR submit issue?

[2015-02-18 17:49] maxcore commented on #645
oh i see thx i redo the logo with transparent backgrounds , and i name the logo with the good name on tvdb

[2015-02-18 17:50] TuRDMaN commented on #624
No, I had just pulled the latest dev version. I'll edit my helpers.py and webserve.py files now

[2015-02-18 18:17] danielb2 commented on #592
Hello? And since this is an issue, can you change from closed to open?

[2015-02-18 18:18] krash1220 opened #659 "[APP SUBMITTED]: [Errno 2] No such file or directory: '/TV/Downloads/complete/about.a.boy.214.hdtv-lol.mp4'"
### INFO
Python Version: **2.7.6 (default, Mar 22 2014, 22:59:56)
[GCC 4.8.2]**
Operating System: **Linux-3.13.0-37-generic-x86_64-with-LinuxMint-17.1-rebecca**
Branch: **develop**
Commit: SiCKRAGETV/SickRage@e1ea0135441662fae914b7579aaa6485e6df806d
### ERROR
[code]
---
_STAFF NOTIFIED_: @SiCKRAGETV/owners @SiCKRAGETV/moderators

[2015-02-18 18:19] SoWhy commented on #541
Checked it. The error messages appear as you said.

[2015-02-18 18:37] #541 closed

[2015-02-18 19:25] AdamWhite commented on #242
@abeloin I've tested this and it works, to test I disabled the nzb searching, and suddenly I got torrents being added to rTorrent, no errors in sickrage. The only thing to note that doesn't affect this ticket is that although a label was specified within sickrage, the torrent wasn't added under that label.

Well done and thank you

[2015-02-18 20:49] Roebuck opened #660 "KAT Search URL Error"
KAT searching seems to be using the wrong URL (Or something in my setup is generating the wrong URL)

Searching for Person Of Interest S04E15 in HD always returns nil results using the URL
http://kickass.proxy.pm/usearch/Person.of.Interest+S04E15%7C4x15+category%3Atv/?field=seeders&sorder=desc&rss=1

Remove the %7C4x15 and the correct results are returned
http://kickass.proxy.pm/usearch/Person.of.

[2015-02-18 21:34] Thraxis commented on #660
Your proxy is not working correctly, the %7C is the URL encode of the pipe symbol '|'. This is telling it to search for Person of Interest S04E15 OR 4x15

If you search directly at kickass.to the search string works as it should, returning an RSS feed as it should.

http://kickass.to/usearch/Person.of.Interest+S04E15%7C4x15+category%3Atv/?field=seeders&sorder=desc&rss=1

Your proxy is also not ret

[2015-02-18 21:41] #660 closed

[2015-02-18 22:05] abeloin commented on #242
@AdamWhite I've just tried labeling and it work in rutorrent 3.6 rev2404.

Did you fill both label fields?

[2015-02-18 22:06] abeloin commented on #624
The same error with exactly the same traceback? If not please provide the error page. Thanks

[2015-02-18 22:14] fernandog commented on #614
@abeloin worked! thanks!

[2015-02-18 22:18] abeloin commented on #624
Ok I've pushed some new code. Please update helpers.py and webserve.py files and try again.

[2015-02-18 22:21] abeloin commented on #614
@fernandog PR created https://github.com/SiCKRAGETV/SickRage/pull/1345

[2015-02-18 22:24] zybron opened #661 "[APP SUBMITTED]: Connection error HTTPConnectionPool(host='services.tvrage.com', port=80): Max retries exceeded with url: /myfeeds/episode_list.php?key=Uhewg1Rr0o62fvZvUIZt&sid=46372 (Caused by <class 'socket.error'>: [Errno 10054] An existing connection was forcibly closed by the remote host) while loading URL http://services.tvrage.com/myfeeds/episode_list.php"
### INFO
Python Version: **2.7.8 (default, Jun 30 2014, 16:08:48) [MSC v.1500 64 bit (AMD64)]**
Operating System: **Windows-7-6.1.7601-SP1**
Branch: **master**
Commit: SiCKRAGETV/SickRage@93f0f0ad1fa278afb17f73d47c099b82a766dede
### ERROR
[code]
---
_STAFF NOTIFIED_: @SiCKRAGETV/owners @SiCKRAGETV/moderators

[2015-02-18 22:26] #661 closed

[2015-02-18 22:26] zybron commented on #661
Sorry, meant to click clear errors and instead clicked submit.

[2015-02-18 22:37] abeloin commented on #592
@danielb2 The issue is the selected provider in your screenshot doesn't support backlog search(notice the * after the name) hence the "No NZB/Torrent providers found or enabled..."

As for oznzb, there's an error:
```2015-02-13 14:55:01 DEBUG    Thread-50 :: Error getting html for [https://api.oznzb.com//api?apikey=blahblah&t=caps]```

Have you selected and updated the the newznab categories in th

[2015-02-18 22:38] ErsinErce opened #662 "[APP SUBMITTED]: object of type 'NoneType' has no len()"
### INFO
Python Version: **2.7.3 (default, Mar 14 2014, 11:57:14)
[GCC 4.7.2]**
Operating System: **Linux-3.2.0-4-686-pae-i686-with-debian-7.8**
Branch: **master**
Commit: SiCKRAGETV/SickRage@93f0f0ad1fa278afb17f73d47c099b82a766dede
Link to Log: https://gist.github.com/90276f551c9752d85ddf
### ERROR
[code]
---
_STAFF NOTIFIED_: @SiCKRAGETV/owners @SiCKRAGETV/moderators

[2015-02-18 22:41] #662 closed

[2015-02-18 22:41] fernandog commented on #662
https://github.com/SiCKRAGETV/sickrage-issues/issues/231

[2015-02-18 22:43] danielb2 commented on #592
What about for the sickbeard index tho?

That's because originally, I was using an old API url (api.oznzb.com vs simply oznzb.com)

I have four or five different newznabs, and none of them work.

And yes, I've tried updating the newznab categories.

Anything else you can think of me trying? Some other specific newznab service?

[2015-02-18 22:48] abeloin commented on #592
NZBs.org is also missing it's credential:
[code]

[2015-02-18 22:50] danielb2 commented on #592
I don't have nzbs.org and it's not checked so not sure why it's trying that.

[2015-02-18 22:53] fernandog commented on #652
@TagForce here we should ask user not to mark as bad download but if he want to re-download same quality or just search for better quality/proper.

Is there a way to get the user input in the code below?

[code]
https://github.com/SiCKRAGETV/SickRage/blob/8b3f431ae1fd687b629896a4476b6af0308e60c2/sickbeard/tv.py#L1223

[2015-02-18 23:07] abeloin commented on #592
Looking at the results(the url directly) of oznzb and sickbeard from the last log, there's simply no results from both providers. This is why you're not getting results for that particular show.

I tried [opennzb](http://opennzb.net/api?apikey=0&maxage=500&cat=5030%2C5040%2C5070&q=Elfen.Lied+1&limit=100&attrs=rageid&offset=0&t=tvsearch) and there's some releases.

Try adding opennzb:
![Imgur](http

[2015-02-18 23:11] abeloin commented on #659
@krash1220 Please provide a log. Thank You

[2015-02-18 23:37] abeloin commented on #589
@fernandog @TagForce Looking at @fernandog PR https://github.com/SiCKRAGETV/SickRage/pull/1342 , I think we should disable the auto submit error when the branch is not master.

[2015-02-18 23:39] abeloin commented on #563
@dpeart Any news?

[2015-02-18 23:39] abeloin commented on #527
@lbjb Any news?

[2015-02-18 23:40] fernandog commented on #589
@abeloin now master its updated I would keep. In the past I would remove

[2015-02-18 23:41] fernandog commented on #653
@Psychoteur can you try this?

https://github.com/SiCKRAGETV/SickRage/pull/1348/files

stop SR, edit that file, change it, save it and restart SR

[2015-02-18 23:42] abeloin commented on #483
@Greg0rz Any news?

[2015-02-18 23:43] abeloin commented on #482
@Greg0rz Any news?

[2015-02-18 23:54] lbjb commented on #527
All good on dev branch. No more of these logs. Cheers.

[2015-02-18 23:54] #527 closed

[2015-02-19 00:00] danielb2 commented on #592
I tried adding opennzb.net Check the result:   https://gist.github.com/danielb2/8c3ad220e5771fc6a642

note that line 968 does have the same search for the release you got there

[2015-02-19 00:01] dpeart commented on #563
I am running:

BRANCH: (master) / COMMIT: (93f0f0ad1fa278afb17f73d47c099b82a766dede)

and it times out, does that commit (latest master) include the fix?

When I look at it lib/lockfile/linklockfile.py I don’t see the error code 38 in there.

david

From: Alexandre Beloin [mailto:notifications@github.com]
Sent: Wednesday, February 18, 2015 5:39 PM
To: SiCKRAGETV/sickrage-issues
Cc: dpeart
Subject:

[2015-02-19 00:02] Thraxis commented on #642
Looking at the CPU/MEM screenshot...  Why are you running so many instances of Sickrage?
You have 13 seperate instances showing in that shot.

[2015-02-19 00:13] Rafkat opened #663 "Fatal error executing query: database disk image is malformed"
Branch: Develop
Commit hash: 270dc3659973a1ef0110ec40e06ba039722dd44e
Operating system: Synology DSM
Python version: 2.7.8 (default, Dec 12 2014, 21:20:40) [GCC 4.7.3 20130102 (prerelease)]

What you did: Updated to the last branch releases

What happened: Error appears in the Error log, though app is still functioning as expected. I suspect that this errors related to the Fargo show added recentl

[2015-02-19 00:24] abeloin commented on #663
It look like a corrupt database. Try running a "pragma integrity_check;" inside the db with sqlite3

[2015-02-19 00:28] fernandog commented on #663
@Rafkat

install sqlite3 if not already installed.
Stop SickRage
cd into your SickRage directory
Run the commands

[code]

[code]

Restart sickrage

https://github.com/SiCKRAGETV/sickrage-issues/issues/549
http://sickbeard.com/forums/viewtopic.php?f=4&t=4648#p21409

[2015-02-19 00:28] #663 closed

[2015-02-19 00:31] fernandog commented on #563
@dpeart no. only develop. change branch in general>advanced>github

[2015-02-19 00:34] fernandog commented on #652
@abeloin

[2015-02-19 00:56] abeloin commented on #592
There's not much I can do here, you set the show to look for SDTV and SDDVD(any,best = [1, 2] []) and there's none available. There's episodes available in HDTV, Bluray.

So in the end, your system is now correctly configured to do backlog but there's no episodes available for the requested quality.

[2015-02-19 00:57] abeloin commented on #527
Thank you

[2015-02-19 01:03] abeloin commented on #642
@Thraxis Those are all threads used by the process sickrage. By default top and htop lists each thread of a process separately which can be disable by typing H.

[2015-02-19 01:07] abeloin commented on #563
It was merged in master 3 days ago: https://github.com/SiCKRAGETV/SickRage/commits/master/lib/lockfile/linklockfile.py

[2015-02-19 01:10] abeloin commented on #563
@dpeart Can you place a ```import pdb; pdb.set_trace()``` in https://github.com/SiCKRAGETV/SickRage/blob/master/lib/lockfile/linklockfile.py#L27 to see if the error is still 38?

[2015-02-19 01:12] abeloin commented on #652
@fernandog Yes?

[2015-02-19 01:15] fernandog commented on #652
Is there a way to get the user input in the code below?

Code above

[2015-02-19 01:17] abeloin commented on #652
Let me check

[2015-02-19 01:34] abeloin commented on #652
By the way: this commit state we should use wanted first: https://github.com/SiCKRAGETV/SickRage/commit/8b3f431ae1fd687b629896a4476b6af0308e60c2

[2015-02-19 01:35] heymoe opened #664 "Sickrage failed to start after recent git update of develop (SyntaxError: tntvillage.py)"
System / Setup Info:
=============================================================
Branch : develop
Commit hash : 25bbe786468fd6669d6247470bcfa00fa571eb3e
Operating system and python version : Linux (CentOS v5.11), Python v2.6

What you did:
==============================================================
Upgraded from COMMIT: 226a7148d267bf4548044b45aef40d444807834c to: 25bbe786468fd6669d6247470bcf

[2015-02-19 01:39] fernandog commented on #652
I would set this a festure request. its a better solution to ask the user.

[2015-02-19 01:39] abeloin commented on #652
It look like manualSearch was intended to do that

[2015-02-19 01:43] abeloin commented on #652
manualSearch is true when manual search, false when backlog and true when failed

[2015-02-19 02:01] abeloin commented on #652
You could modify sickbeard/search_queue.py#L161 to include manualSearch, and update the reference.
Change sickbeard/webserve.py#L1786 to include manualSearch, and update the reference.
Then from gui/slick/js/ajaxEpSearch.js@L128 ask the question.

[2015-02-19 02:08] abeloin commented on #664
Can you try a git reset --hard?

[2015-02-19 02:10] Thraxis commented on #642
Been a while since I last used htop... and I tend to look by single process not by thread.  Just verified with my system running htop with threads on and saw it starts a large number of threads when loading the page.

[2015-02-19 02:32] heymoe commented on #664
After failing to start earlier I reverted back to the previous version that was working with this command:

git reset --hard 226a714

and Sickrage started back up, no problems.

So to try what you requested, I first did a:

# git pull
Updating 226a714..25bbe78
Fast-forward
 SickBeard.py                                           |  23 ++--
 gui/slick/images/providers/tntvillage.png              | B

[2015-02-19 02:51] faidwen commented on #664
Same issue here, reverted to previous version without TNTVILLAGE error.  All fine.

Thanks

[2015-02-19 03:03] abeloin commented on #664
@faidwen Python 2.6?

[2015-02-19 03:04] faidwen commented on #664
Python 2.6.6 (r266:84292, Jan 22 2014, 09:42:36)
[GCC 4.4.7 20120313 (Red Hat 4.4.7-4)] on linux2

[2015-02-19 03:04] abeloin commented on #664
Can you try replacing the file tntvillage.py by this one https://gist.github.com/abeloin/3a322f5073ec919c10f2 ?

[2015-02-19 03:05] iguyking commented on #643
Attached is the way it looks now on the ipad.  I don't have an older one showing a functional view.  In here you can see that you can't see the add shows options or any buttons near the top of the page.  This is at the top of the web page, I can't scroll up any more.
![image](https://cloud.githubusercontent.com/assets/5004028/6261210/7bde60fa-b7b1-11e4-86ae-b8912343577f.jpg)

[2015-02-19 03:11] faidwen commented on #664
I took the raw from that page and wget to tntvillage.py in the providers directory and received the following error on restart :
Executing /etc/rc.d/init.d/sickrage start ..

Starting sickrage: Traceback (most recent call last):
  File "/root/.sickrage/SickBeard.py", line 62, in <module>
    import sickbeard
  File "/root/.sickrage/sickbeard/__init__.py", line 35, in <module>
    from providers im

[2015-02-19 03:16] abeloin commented on #664
I've updated the gist can you try the new version.

[2015-02-19 03:18] faidwen commented on #664
Executing /etc/rc.d/init.d/sickrage start ..

Starting sickrage: Traceback (most recent call last):
  File "/root/.sickrage/SickBeard.py", line 62, in <module>
    import sickbeard
  File "/root/.sickrage/sickbeard/__init__.py", line 35, in <module>
    from providers import ezrss, btn, newznab, womble, thepiratebay, oldpiratebay, torrentleech, kat, iptorrents, \
  File "/root/.sickrage/sickbeard/

[2015-02-19 03:21] abeloin commented on #664
Could you try again, I've put a new version?

[2015-02-19 03:23] faidwen commented on #664
Executing /etc/rc.d/init.d/sickrage start ..

Starting sickrage: Traceback (most recent call last):
  File "/root/.sickrage/SickBeard.py", line 62, in <module>
    import sickbeard
  File "/root/.sickrage/sickbeard/__init__.py", line 35, in <module>
    from providers import ezrss, btn, newznab, womble, thepiratebay, oldpiratebay, torrentleech, kat, iptorrents, \
  File "/root/.sickrage/sickbeard/

[2015-02-19 03:23] faidwen commented on #664
This is one of those strange little syntax ones...  Is it something from a previous line?

[2015-02-19 03:26] abeloin commented on #664
Can you try again, I've updated the gist?

[2015-02-19 03:27] faidwen commented on #664
Executing /etc/rc.d/init.d/sickrage start ..

Starting sickrage: [  OK  ]

[2015-02-19 03:28] faidwen commented on #664
*CLAP CLAP*  Good show!   Seriously, brackets!

[2015-02-19 03:32] dpeart commented on #563
My linklockfile.py is not what you show here:

        while True:

            # Try and create a hard link to it.

            try:

                os.link(self.unique_name, self.lock_file)

            except OSError:

                # Link creation failed.  Maybe we've double-locked?

                nlinks = os.stat(self.unique_name).st_nlink

There is no:

if e.errno == errno.ENOSYS:

As s

[2015-02-19 03:35] abeloin commented on #664
Dict without keys. My guess is that python 2.6 doesn't do the conversion to list.
[code]

[2015-02-19 03:39] dpeart commented on #563
Ok for some reason my docker hadn’t updated completely.

After updating, restarting and verifying the proper linklockfile.py was in place.  It worked just fine.

thanks

david

From: Alexandre Beloin [mailto:notifications@github.com]
Sent: Wednesday, February 18, 2015 7:11 PM
To: SiCKRAGETV/sickrage-issues
Cc: dpeart
Subject: Re: [sickrage-issues] search timed out, try again or try another indexer

[2015-02-19 03:42] abeloin commented on #664
PR pushed in develop branch.

@faidwen @heymoe Please update your develop branch

[2015-02-19 03:57] abeloin commented on #563
Thank you for the testing

[2015-02-19 03:57] #563 closed

[2015-02-19 03:57] faidwen commented on #664
Makes sense, works perfectly, thank you for speedy update / fix!

[2015-02-19 03:57] heymoe commented on #664
Well looks like I missed out on a lot of fun. I just updated to commit: cadfd9b98410563467760b1dd5c4bd5e92644f50

and Sickrage started right up. Thanks for the fix!

[2015-02-19 03:58] #664 closed

[2015-02-19 03:59] maxcore commented on #645
https://www.dropbox.com/s/goqumrnwtnae5j8/Network%20Logo%20Proper.zip?dl=0
Proper Logo

@neoatomic
For
addikTV
and
Séries+

thx !

[2015-02-19 05:05] TimVNL commented on #628
Here is a log from this night https://gist.githubusercontent.com/TimVNL/96534280d61dfaf01f58/raw/Sickrage-log20150219

Again is I stop and start Sickrage Post Processing... Should I try the develop branch?

[2015-02-19 05:16] abeloin commented on #628
Extracted the relevant information:
[code]

The file already exists

[2015-02-19 05:25] abeloin commented on #589
@fernandog @TagForce Regarding the low quality issue we were discussing previously, I think it stem from the fact we are different source of information to define the "low quality". In my case I'm using this doc as reference from the wiki: https://github.com/SiCKRAGETV/SickRage/wiki/Episode%20Status which indicate that a low quality object must have a status of downloaded first.

If this doc is no

[2015-02-19 05:29] TimVNL commented on #628
Nevermind this log Sickrage did't start a download until 6:00 new log following...

 New Log not needed it'a working again for now all I disabled the Propers function that seems te be the issue...

Will monitor if it keeps working... Fixed for now.

Still want to see the log file here it is for the complete info: https://gist.github.com/TimVNL/9412f0678a8ec24f1df6

[2015-02-19 07:08] abeloin commented on #643
@iguyking A fix was pushed into the developement branch.

[2015-02-19 08:11] AdamWhite commented on #242
Yeah both label fields filled in.

However this is rTorrent 0.9.2-0513 which is the latest version of rTorrent available on the qnap site.

[2015-02-19 08:35] freddysmith1 commented on #664
im still having trouble getting it to run,  ive tried to update to the latest update using git pull but no luck,  on a synology

[2015-02-19 09:00] fernandog commented on #589
I think we can

[2015-02-19 09:03] #628 closed

[2015-02-19 09:33] freddysmith1 opened #665 "Restore previous backup file using new restore method - Synology failed to run package"
using latest update i get a failed to run package when trying to run sickrage,   have tried git pull, git reset,  checkout master  checkout dev with no luck yet

[2015-02-19 10:05] fernandog commented on #665
Error message?

[2015-02-19 10:14] freddysmith1 commented on #665
just managed to get it running again by going back to a very early dev build

[2015-02-19 10:45] fernandog commented on #665
@freddysmith1 this don't help us. The issue still exists and others will have it.

[2015-02-19 10:46] fernandog commented on #655
@cptjhmiller any news?

[2015-02-19 10:49] freddysmith1 commented on #665
i didnt get any error message to provide  just synology says "failed to run package"  when trying to run it,   any way to find any logs to provide?

[2015-02-19 10:54] fernandog commented on #658
@abeloin

Is this correct? shouldn't be:

[code]

instead of just
[code]

https://github.com/SiCKRAGETV/SickRage/blob/master/sickbeard/notifiers/kodi.py#L399

[2015-02-19 10:56] andonevris commented on #644
You can use the "add label to torrent" setting and completed downloads will be put into a sub-folder with that name

[2015-02-19 10:58] fernandog commented on #665
really?
there's a LOG / View log in the menu bellow sickbeard logo

[2015-02-19 11:00] #649 closed

[2015-02-19 11:00] fernandog commented on #649
https://github.com/SiCKRAGETV/sickrage-issues/issues/658

[2015-02-19 11:02] fernandog commented on #640
@matigonkas
 can you try this?

https://github.com/SiCKRAGETV/SickRage/pull/1348/files

stop SR, edit that file, change it, save it and restart SR

[2015-02-19 11:02] fernandog commented on #653
https://github.com/SiCKRAGETV/sickrage-issues/issues/640

[2015-02-19 11:02] freddysmith1 commented on #665
that was the first thing i tried before even posting but
![untitled](https://cloud.githubusercontent.com/assets/8336824/6265486/c4d3f888-b87e-11e4-8bf9-b74bb7c9e61c.jpg)

[2015-02-19 11:03] fernandog commented on #88
@neoatomic any news?

[2015-02-19 11:04] fernandog commented on #665
ok. sorry! Don't know where to look then.

[2015-02-19 11:09] freddysmith1 commented on #665
maybe a future feature request would be to include a log file  says on the link the app has to include one http://forum.synology.com/enu/viewtopic.php?f=39&t=69983

im not exactly sure how to? lol

[2015-02-19 11:13] neoatomic commented on #88
Well not really since last post.
The flags of newly downloaded subtitles are still unknown under history.
But that is correct according to abeloin's comment.
So i need to live with that till there is another fix.

[2015-02-19 11:18] andonevris opened #666 "Quality of downloaded shows not being detected correctly - "UNKNOWN""
Since the last update sickrage is having problems detecting the quality of shows, it is reporting them as unknown.

It seems to be happening with mkv files mainly, I will need to wait for more shows to come in to test other formats but maybe others with the issue can confirm?

[2015-02-19 11:19] neoatomic commented on #665
Confirmed. SR doesn't boot after today's update.
Normally you can also start SR from the package center of the Synology (above screen shot) but also there you cant start it anymore.
SR log shows. :

[code]

[2015-02-19 11:23] freddysmith1 commented on #665
are you using a synology aswell?  if so how did you get log file?

if i use git reset --hard 226a714 i can get it started again but nothing else works

[2015-02-19 11:26] fernandog commented on #665
@neoatomic did you tried to restore SR settings?

[2015-02-19 11:28] fernandog commented on #88
will close this issue. as there's another issue for that:
https://github.com/SiCKRAGETV/sickrage-issues/issues/386

[2015-02-19 11:28] #88 closed

[2015-02-19 11:32] neoatomic commented on #665
@freddysmith1 Indeed using a Synlogoy.
Sickrage creates a log names "sickrage.log" its located in the Sickrage folder.
/volume1/@appstore/sickbeard-custom/var/SickBeard/

@fernandog No, did not use restore/backup for at least a month. So SR seems to try to restore the cache folder without using that function.

I just note that there are 2 cache folders in "/usr/local/sickbeard-custom/var "
cache-2

[2015-02-19 11:36] fernandog commented on #665
maybe you tried restore and in the past and the "restore" folder remained.
so when SR starts and finds a "restore" folder it thinks a restore is needed

[2015-02-19 11:39] fernandog commented on #666
@andonevris
follow guidelines.
https://github.com/SiCKRAGETV/sickrage-issues/

I think I will increase the size of the "BEFORE OPEN AN ISSUE"

[2015-02-19 11:40] fernandog commented on #659
@abeloin is strange that the auto-submit didn't create a gist with the log.

[2015-02-19 11:41] freddysmith1 commented on #665
@neoatomic  anyway you can give a dummy guide of how to access the log file lol  i tried ssh into diskstation and then cd /volume1/@appstore/sickbeard-custom/var/SickBeard/   but then im lost at what to do

[2015-02-19 11:42] fernandog commented on #665
@freddysmith1 insidete the SickBeard there's a folde called "Logs", find sickrage.log

[2015-02-19 11:44] neoatomic commented on #665
@fernandog
I removed the two cache folders and the restore folder. Now SR starts again.
However i lost my (normal) cache folder. So now SR is downloading all the banners etc...
Lets hope that id did not overwrite my config.ini & sickbeard.db...

[code]
Would it be a idea to create a 1 time PR to check if there is an old restore folder.? otherwise you will be having a lot of issues opening on Githu

[2015-02-19 11:46] neoatomic commented on #665
@freddysmith1 It should be located at : /volume1/@appstore/sickbeard-custom/var/Logs/sickrage.log
I use WinSCP to acces the Synology and to view the log.

[2015-02-19 11:46] fernandog commented on #665
@neoatomic restore folder was empty?

[2015-02-19 11:47] neoatomic commented on #665
@fernandog
No. Config.ini  sickbeard.db and failed.db if i recall right. (4-5 files)

[2015-02-19 11:55] fernandog commented on #665
so I was a previous attempt of restore

[2015-02-19 11:59] cptjhmiller commented on #655
It adds some files back but not the `lib/requests/packages/urllib3/util/` folder.

[2015-02-19 12:07] neoatomic commented on #665
@fernandog Yes, and the folder remained with the files. And with the fix yesterday the backup/restore function started working correctly again and finding the old files in the restore folder.

So if there are new issues opened, users need (for safety) first backup and then empty there restore folder. After that they can start Sickrage in the packet center of the Synology.
Also they can use WinSCP

[2015-02-19 12:09] fernandog commented on #617
@Koal4 can you test it? stop SR, replace that file, start again

[2015-02-19 12:13] fernandog commented on #665
@neoatomic in fact SR was trying to restore a previous versions of backup withe no cache folder.

[2015-02-19 12:34] freddysmith1 commented on #665
2015-02-19 23:01:38 ERROR    MAIN :: Restore: restoring cache failed
Traceback (most recent call last):
  File "/volume1/@appstore/sickbeard-custom/var/SickBeard/sickbeard/__init__.py", line 651, in restoreCache
    shutil.move(srcDir, dstDir)
  File "/usr/local/python/lib/python2.7/shutil.py", line 302, in move
    copy2(src, real_dst)
  File "/usr/local/python/lib/python2.7/shutil.py", line 130,

[2015-02-19 12:41] fernandog commented on #665
this commit fixed it.

[2015-02-19 12:52] neoatomic commented on #645
@maxcore I have added the logos for you. Thank you for creating and posting them.

However as the logos are mainly in black they might not show as nice/good on the dark Sickrage theme. If that is the case than please supply another logo.

[2015-02-19 12:53] freddysmith1 commented on #665
@fernandog   maybe in the readme file you can put down the instructions of how to access the sickrage.log file on synology,  i had no idea how to do it untill tonight and im sure afew others would be the same

[2015-02-19 12:58] fernandog commented on #665
@neoatomic can you create some instructions with screenshots?

[2015-02-19 13:02] #666 closed

[2015-02-19 13:04] andonevris commented on #666
Why did you close this, I am working on getting the info you need

Itchy trigger finger!

[2015-02-19 13:14] fernandog commented on #666
when you reply I will open. rules are rules =)
When almost all issues don't follow guidelines you must do this. sorry

[2015-02-19 13:15] fernandog commented on #659
@TagForce is this happens when user select a bad directory at PP settings?

[2015-02-19 13:17] fernandog commented on #658
@Cmtahm all your KODI settings are set ? did you tested the connection with kodi?

[2015-02-19 13:20] fernandog commented on #641
@mwarnaar do you have this issue too ? as you PR TPB new code

[2015-02-19 13:21] fernandog commented on #637
@SimonKberg please reply or we will close this issue

[2015-02-19 13:23] fernandog commented on #634
@hoefs check you provider settings for season mode

[2015-02-19 13:33] andonevris commented on #666
OK this can remain closed.  I was under the impression that sickrage scanned the file itself to pick up the quality but from my research and looking at the logs this seems not to be the case it seems it's using the original filename to determine quality instead.

It looks like MKVs without quality info in the filename are set as unknown, mp4 and others default to SDTV which seems inconsistent but

[2015-02-19 13:35] SimonKberg commented on #637
Sorry, yes - everything is set and the test runs successfully.

[2015-02-19 13:38] fernandog commented on #637
Screen shot please

[2015-02-19 13:45] neoatomic commented on #665
@fernandog You could add something like this to the readme :

[code]

The thing is that over regular FTP Synology users cant access the root where Sickrage is installed. So they use the command-line. WinSCP has a GUI interface that makes it more user friendly to troubleshoot.

[2015-02-19 13:56] gborri commented on #657
@TagForce i don't agree with your point.
Failed download means from my poit of view that i have a problem with a torrent that is being downloaded or are in the way to be downloaded (snatched). the problem persist not related to the process that started the download of the file. That means that if i have downloaded it manually and the file is corrupted on torrent provider i would like to download a

[2015-02-19 13:58] gborri commented on #657
@fernandog could you reopen it?

[2015-02-19 14:02] fernandog commented on #657
I agree with you.  This is a feature request I would like it too

Its not a bug IMO but a bad choic of words in the popup.

[2015-02-19 14:30] #643 closed

[2015-02-19 14:30] fernandog commented on #643
@iguyking is it ok now?

[2015-02-19 14:44] fernandog commented on #632
@nielsenj can you make the provider to use more than just one page?

[2015-02-19 14:44] fernandog commented on #624
@TuRDMaN any luck?

[2015-02-19 14:45] #614 closed

[2015-02-19 14:45] #612 closed

[2015-02-19 14:46] fernandog commented on #582
@ncybernee please reply

[2015-02-19 14:46] fernandog commented on #581
@Deddiekoel please reply, otherwise will close

[2015-02-19 14:47] fernandog commented on #579
@brando56894 please reply or we will close this issue

[2015-02-19 14:51] #550 closed

[2015-02-19 14:51] fernandog commented on #521
@wborrelli updates?

[2015-02-19 14:52] fernandog commented on #391
@xxx1983 please report back otherwise will close this

[2015-02-19 14:52] #336 closed

[2015-02-19 14:53] #6 closed

[2015-02-19 14:53] fernandog commented on #6
@vzoltan develop updated

[2015-02-19 14:54] fernandog commented on #242
@AdamWhite isn't possible to update?

[2015-02-19 14:55] gborri opened #667 "Feature Request: make backup before sickrage update"
I think that would be useful to start a backup process just before upgrading sickrage sw

[2015-02-19 14:57] fernandog commented on #3
@thebeastygecko please stop SR, edit config.ini and set **skip_removed_files = 1**
please report back

[2015-02-19 14:59] fernandog commented on #667
We have to add a setting to the config "Default backup directory". It's not that fast
It's a nice FR but now we are fixing things first.

[2015-02-19 15:06] #221 closed

[2015-02-19 15:06] #71 closed

[2015-02-19 15:12] fernandog commented on #294
@abeloin i couldn't find Usenet-Crawler provider file neither Sick Beard Index to check this comment
maybe it just a url parameter error.
" I noticed that the first URL requested contains the &rageid parameter but subsequent ones do not:"

[2015-02-19 15:13] fernandog commented on #361
@a7medo778 @Youmi15 develop updated. please test and report back. otherwise will close

[2015-02-19 15:14] fernandog commented on #122
@abeloin is this easy to fix?

[2015-02-19 15:17] #499 closed

[2015-02-19 15:19] #613 closed

[2015-02-19 15:19] #665 closed

[2015-02-19 15:23] fernandog commented on #631
@mwarnaar do you have this issue too ? as you PR TPB new code

[2015-02-19 15:26] AdamWhite commented on #242
The system is new its a qnap 453pro.

But there was some confusion. The rTorrent (the engine) is as about 0.9.2-0513 which is the latest.
The web front end is ruTorrent V3.6 rev 2404.

I'll try changing the labels later and see if there is any difference.

[2015-02-19 15:35] brimur opened #668 "[Mass Update][Subtitles] Box grayed out for most TV Shows"
I cannot enable subtitle download for all Tv Shows. Ticking the box at the top only ticks some of the TV shows, the ones that are not grayed out. Going into any of the TV Shows that are grayed out I can enable subtitles.

[2015-02-19 15:36] fernandog commented on #668
Screen shot please.

[2015-02-19 15:37] fernandog commented on #668
The greys are paused?

[2015-02-19 15:42] hoefs commented on #634
I have tried both modes, only "episodes only" mode works, "season packs only" mode does not download anything, also I have fallback enabled.

[2015-02-19 15:45] fernandog commented on #634
which provider?

[2015-02-19 15:49] abeloin commented on #665
Fix pushed to develop, please update.

[2015-02-19 15:49] danielb2 commented on #592
2015-02-19 07:44:42 INFO     SEARCHQUEUE-MANUAL-95011 :: Unable to find a download for: [Modern Family - 6x15 - 015 - Fight or Flight]
2015-02-19 07:44:42 DEBUG    SEARCHQUEUE-MANUAL-95011 :: formatting pattern: %SN - %Sx%0E - %EN -> Modern Family - 6x15 - 015 - Fight or Flight
2015-02-19 07:44:42 DEBUG    SEARCHQUEUE-MANUAL-95011 :: Episode has no release name, replacing it with a generic one: %S

[2015-02-19 15:49] TagForce commented on #659
@fernandog No, it should catch bad folders and give a descriptive message back, not an exception.
It can happen when a file is deleted while doing a PP run, so the file is in the file list of files to Post Process but is gone by the time it gets to it. I've seen a couple of instances where this happened because for some reason the files get deleted by SR before they're copied.

@krash1220 Can you

[2015-02-19 15:51] SimonKberg commented on #637
![2015-02-19 16_49_11-sickrage - branch_ develop - config - notifications](https://cloud.githubusercontent.com/assets/173085/6270061/849f49ec-b857-11e4-8cab-5df805c17ba0.png)

[2015-02-19 15:52] fernandog commented on #637
@SimonKberg not TRAKT! KODI!

[2015-02-19 15:54] fernandog commented on #659
@TagForce LOL. yesterday my wife went to work (holiday) and I had to take care of the baby until 22:00 Couldn't do much.

[2015-02-19 15:58] SimonKberg commented on #637
![2015-02-19 16_56_50-sickrage - branch_ develop - config - notifications](https://cloud.githubusercontent.com/assets/173085/6270194/7d17a768-b858-11e4-82dc-aaf8899942e5.png)

[2015-02-19 15:59] hoefs commented on #634
TBP and KAT
with proxy = both of them aren't downloading anything
without proxy = only single episode is working

![screen shot 2015-02-19 at 16 58 58](https://cloud.githubusercontent.com/assets/7440522/6270238/b67330e0-b858-11e4-9bd9-37fbc9e31a70.png)

[2015-02-19 16:02] neoatomic commented on #665
Just updated. SR is running fine.
But as i already removed the restore folder, i cant test the fix itself.

[2015-02-19 16:03] fernandog commented on #637
@abeloin can you check this one?

[2015-02-19 16:05] fernandog commented on #634
are you sure KAT does not work season download?

[2015-02-19 16:08] hoefs commented on #634
2015-02-19 17:04:28 INFO     SEARCHQUEUE-BACKLOG-269586 :: FALLBACK SEASON PACK SEARCH INITIATED ...
2015-02-19 17:04:28 INFO     SEARCHQUEUE-BACKLOG-269586 :: Performing season pack search for Brooklyn Nine-Nine
2015-02-19 17:04:28 DEBUG    SEARCHQUEUE-BACKLOG-269586 :: Search string: https://kickass.to/usearch/Brooklyn+Nine+Nine+S01+-S01E+category%3Atv/?field=seeders&sorder=desc&rss=1
2015-02-19

[2015-02-19 16:08] abeloin commented on #637
@SimonKberg What were you doing in sickrage when you got the error?

[2015-02-19 16:09] abeloin commented on #665
@neoatomic You can try with empty restore folder

[2015-02-19 16:10] hoefs commented on #634
ok, I am wrong, it searches for 11 files and sees 22 in torrent... but why?

[2015-02-19 16:12] matigonkas commented on #640
I changed the file according to the pull request,but now i dont know if its possible to make openSubtitles unacessible or if i just need to whait for it to become unreacheble, and check the logs...

[2015-02-19 16:13] fernandog commented on #640
you have to wait until the 503 error appears

[2015-02-19 16:14] hoefs commented on #634
http://pastebin.com/uwDudW6M

![screen shot 2015-02-19 at 17 14 04](https://cloud.githubusercontent.com/assets/7440522/6270494/ba1de8d2-b85a-11e4-8dd3-951992e0c047.png)

[2015-02-19 16:16] fernandog commented on #634
Check your backlog search setting. It limits how far is a backlog search

[2015-02-19 16:17] abeloin commented on #592
Can you provide the whole log for SEARCHQUEUE-MANUAL-95011?

[2015-02-19 16:20] abeloin commented on #242
@AdamWhite If i still doesn't work, please provide a copy of log where it send the info to rutorrent.

[2015-02-19 16:22] abeloin commented on #122
@fernandog It's on my todo list to check, but so many things on that todo list ;)

[2015-02-19 16:24] fernandog commented on #122
ok. sorry!

[2015-02-19 16:26] mwarnaar commented on #631
Yeah I get this as well.
The pirate bay's `ajax_details_filelist.php` call only seems to return "File list not available.", so season search mode will not do much using TPB at the moment.
See SiCKRAGETV/SickRage#1359.

[2015-02-19 16:30] abeloin commented on #294
@caiusseverus Change back usenet_retention in config.ini to 500, it is currently at 1100. Stop sickrage first.

[2015-02-19 16:35] brimur commented on #668
No not paused.

http://i.imgur.com/swdct7e.png

[2015-02-19 16:35] wborrelli commented on #521
I updated to the latest develop today.

I have not seen any duplicates since the fix I implemented 9 days ago, and the recent updates.

I think the issue has been resolved. Nice job.

[2015-02-19 16:36] #521 closed

[2015-02-19 16:36] abeloin commented on #221
@fernandog Pull request https://github.com/SiCKRAGETV/SickRage/pull/1295 (merged in master) will give more clear information as to why it fail and it's not because it display in Russian or French.

[2015-02-19 16:37] neoatomic commented on #665
Tested with a empty restore folder, and after a restart the folder is gone. No errors.

After that i copy d my config.ini and sickbeard.db in the restore folder. Just to see what would happen. It did not restore them but gave this error.
However it did remove my original config.ini and sickbeard.db. cache.db and failed.db

So that got me thinking. Would it be better to let SR rename the old config

[2015-02-19 16:37] abeloin commented on #294
@fernandog The issue is that is pulling around 3 years worth(maxage=1100) of data

[2015-02-19 16:42] fernandog commented on #294
@abeloin but what about the second URL does not have the rageid ? I coudl'nt find the provider file to check it

[2015-02-19 16:46] danielb2 commented on #592
https://gist.github.com/danielb2/da2a8ad513e2e7b1dc52

[2015-02-19 16:48] thebeastygecko commented on #3
I went to check and skip_removed_files was already set to 1, and yet when shows are updated to better quality the episodes still go missing. Is it possible that this has to do with initial HDTV -> WEB-DL? I have similar quality settings as the OP for this bug report.

Thanks

[2015-02-19 17:12] fernandog commented on #3
the HDTV are missing or the web-dl?

[2015-02-19 17:13] abeloin commented on #592
Look at the log, none of the providers returned results. This is why there's no results.

When data isfound and returned from a provider it will show like this:
[code]

[2015-02-19 17:16] abeloin commented on #592
In the end if the provider doesn't have it or it's older than 500 days, sickrage won't be able to fetch it.

[2015-02-19 17:17] danielb2 commented on #592
That's not what I found at all. The https://nzbs.in/api?apikey=key&season=6&maxage=500&cat=5030%2C5040&q=Modern.Family&limit=100&attrs=rageid&offset=0&ep=15&t=tvsearch

This query provides results. But it still shows up as not having found anything. Why is that?  I can go download this one manually if I chose, but that defeats the purpose.

Also, I have used sickbeard for _10 years_ (according to

[2015-02-19 17:19] fernandog commented on #589
@TagForce I think we can merge this: https://github.com/TagForce/SickRage/commit/cb0f5a74a5b3684eb3987f72c1fa62bebb70ff05
what do you think?

[2015-02-19 17:30] TuRDMaN commented on #624
Sorry, haven't had a chance to test yet. I'll try it out now.

[2015-02-19 17:32] abeloin commented on #294
@fernandog None of the url presnted here contain &rageid but does contain attrs=rageid. It's normal because it's a backlog search which always do a RSS search. Search daily will do a search by episode.

[2015-02-19 17:33] abeloin commented on #665
It should already do this.

[2015-02-19 17:35] #294 closed

[2015-02-19 17:36] fernandog commented on #665
@abeloin the restore process should keep permissions, shouldn't it? It's strange the "OperationalError: attempt to write a readonly database" error

[2015-02-19 17:39] abeloin commented on #665
@neoatomic Are you sure you're at the latest commit in the develop branch?
I just tried like you did and it failed without deleting files.

[2015-02-19 17:41] abeloin commented on #665
@neoatomic Can you provide me with the content of your sickrage directory with their permission(dir -lah)

[2015-02-19 17:42] abeloin commented on #665
@fernandog That is a tricky situation in certain cases: move keeps the permissions and create inherit from the parent.

[2015-02-19 17:57] hoefs commented on #634
@fernandog I have never changed that setting and it always worked. When you look close at the logs, you will see that it finds season packs, but sickrage looks for 11 episodes and the torrent contains 22 episodes. The 22 is correct... but why does sickrage only wants 11?

Result Brooklyn Nine Nine Season 1 Complete 720p.Web.Dl.Sujaidr have 11 episode and episodes retrived in torrent are 22

![scre

[2015-02-19 17:57] fernandog commented on #617
@Koal4 merged in develop. please try and report back

[2015-02-19 18:01] neoatomic commented on #665
Ok, just did test some more.
Did a restore in the webui and SR again doesn't start.

(files after pushing the restore button)
![1](https://cloud.githubusercontent.com/assets/7928052/6272576/efe7945a-b868-11e4-8b97-e563f18a7cab.jpg)

(files after pushing the restart button)
![2 restart](https://cloud.githubusercontent.com/assets/7928052/6272575/eba757d6-b868-11e4-99dd-edc916403fb1.png)

As SR doesn

[2015-02-19 18:01] hoefs opened #669 "Trakt error in logs"
Configuration
SR Version:	BRANCH: (master) / COMMIT: (ac153cf2320b3b6d0a8aa9a1b1646a51347581d6)
SR Config file:	/usr/local/sickbeard-custom/var/config.ini
SR Database file:	/usr/local/sickbeard-custom/var/sickbeard.db
SR Cache Dir:	/usr/local/sickbeard-custom/var/cache
SR Arguments:	['--daemon', '--pidfile', '/usr/local/sickbeard-custom/var/sickbeard-custom.pid', '--config', '/usr/local/sickbeard-

[2015-02-19 18:01] hoefs commented on #669
http://pastebin.com/yb05G9ze

[2015-02-19 18:04] AdamWhite commented on #242
After changing the label within sick rage, I can confirm that it’s working 100% well done! and thank you
-- 
Adam White

On 19 February 2015 at 16:20:06, Alexandre Beloin (notifications@github.com) wrote:

@AdamWhite If i still doesn't work, please provide a copy of log where it send the info to rutorrent.

—
Reply to this email directly or view it on GitHub.

[2015-02-19 18:05] fernandog commented on #634
@hoefs
so it's only searching episodes from year 2014?
can you make a test and set WANTED another episode from another show that airdate year is 2013?

[2015-02-19 18:06] abeloin commented on #592
Update to the latest version of sickrage, as the information provided in your previous comment points to an old version of the master's branch(2015-01-17) and not develop.

[2015-02-19 18:07] #242 closed

[2015-02-19 18:07] hoefs commented on #634
@fernandog here is the complete search
http://pastebin.com/htsfsqgm

the problem is not that it does not fins episodes... it does not want to download season packs. It finds the season packs, but the amount of files is always wrong in the torrent season pack...

[2015-02-19 18:07] abeloin commented on #665
Logs?

[2015-02-19 18:09] fernandog commented on #669
@hoefs please use develop

[2015-02-19 18:10] fernandog commented on #634
read my above comment. season search for TPB is not working.

[2015-02-19 18:11] thebeastygecko commented on #3
The episode is missing once updated by the WEB-DL. And by pattern do you mean Season X/Show - SXXEXX - Episode.ext? Those are the naming rules I have.

[2015-02-19 18:13] hoefs commented on #634
@fernandog I disabled TPB... I only use KAT and it does not download season packs!!!!

[2015-02-19 18:14] fernandog commented on #669
@abeloin we still need to remove the RAISE from the code and change to log.logger WARNING

https://github.com/SiCKRAGETV/SickRage/pull/1330

[2015-02-19 18:15] SunMar opened #670 "Removed scene exceptions keep being re-added"
Hi,

Whenever I remove some scene exceptions from a show they reappear a while later, it seems like SickRage keeps them up-to-date or something and with that re-adds any removed exceptions.

An example where I want to remove a scene exception is for the BCC show QI. There are two versions of the same episode, there's QI which is ~30m long and there's QI XL which is an extended version ~45m long.

[2015-02-19 18:16] hoefs commented on #669
extra question: How can you sync your complete library with trakt? now it only adds the newly downloaded to trakt...

[2015-02-19 18:16] fernandog commented on #634
@hoefs can you make a test and set WANTED another episode from another show that airdate year is 2013? I think the problem is not recognizing episodes from 2013

[2015-02-19 18:17] neoatomic commented on #665
http://pastebin.com/QiQZLXPW

[2015-02-19 18:17] hoefs commented on #634
I will try to download another old season from 2013 with only KAT

[2015-02-19 18:18] fernandog commented on #3
PP deletes the lower quality file.

[2015-02-19 18:21] Roebuck commented on #660
Thanks! Should have spotted that!

[2015-02-19 18:27] hoefs commented on #634
backlog + wanted = 2013
![screen shot 2015-02-19 at 19 24 25](https://cloud.githubusercontent.com/assets/7440522/6273089/f0d01e6a-b86c-11e4-99dd-465bc2790034.png)

[2015-02-19 18:32] hoefs commented on #634
backlog for complete season 4 for "The Good Wife" downloads a season pack...

error seems to be only with "Brooklyn Nine Nine" 11 instead of 22 episodes

[2015-02-19 18:36] fernandog commented on #634
so it's not an issue with SR, isn't?

[2015-02-19 18:38] fernandog commented on #669
can you try this?
stop SR, edit that file, paste the contents with this one
https://raw.githubusercontent.com/fernandog/SickRage/trakt_not_raise/lib/trakt/trakt.py
save and restart SR
test for a day or two and let me know

[2015-02-19 18:41] thebeastygecko commented on #3
Oh sorry for the confusion: I know that, the issue is that the entry for the episode in the list on sick rage disappears.

[2015-02-19 18:45] danielb2 commented on #592
Alright it works now, but it must have been a string of unfortunate events. I have my own branch in which I keep my config.ini file. I just did a rebase to develop and now it works. Oddly enough I just rebased to develop prior to opening this ticket.  In order to debug with elfen lied, I had used a completely fresh install, but I guess elfen lied was just a bad example.

[2015-02-19 18:45] #592 closed

[2015-02-19 18:46] abeloin commented on #665
@neoatomic Can you try applying this commit https://github.com/abeloin/SickRage/commit/3a0fa9068a678b6a5f143b88f08c42a39c419702 ?

Try redoing the restore with config.ini and sickbeard.db and it will create 2 files: update.log and restore.log

[2015-02-19 18:46] danielb2 commented on #592
Oh, and thanks for helping me work through this. Much appreciated.

[2015-02-19 18:46] TagForce commented on #657
@gborri I just checked, and it doesn't?
When Failed downloads is disabled, the link will always point to http://SRHome/SearchEpisode, and won't show the popup.
Whereas turning it on and clicking the search button on a snatched or downloaded episode points to http://SRHome/RetryEpisode

[2015-02-19 18:47] fernandog commented on #3
@thebeastygecko please send a full log

/SickRage/Logs/sickrage.log
use pastebin.com

[2015-02-19 18:49] TagForce commented on #659
@fernandog Yours is a baby, mine is almost 3 and is set to go to bed in 15 minutes :)

[2015-02-19 18:56] neoatomic commented on #665
Replaced the SickBeard.py with the new one but SR doesnt want to start. :(
If i restore the origional SickBeard.py it runs ok.

[2015-02-19 18:56] hoefs commented on #634
@fernandog 2 seasons started to download with backlog and KAT (2012 and 2013)

Looks like an issue with the episode count in "Brooklyn Nine Nine"

[2015-02-19 18:57] abeloin commented on #592
It's unfortunate that I didn't see that you were running 2.7.9 before as I would have ask you to make sure your branch is up to date. But in end, success is success albeit a little longer than anticipated.

Main issue for future reference: This is related to python 2.7.9 enabling SSL certificate by default, see [PEP-476](https://www.python.org/dev/peps/pep-0476/ )

It is temporarily fixed via comm

[2015-02-19 18:59] fernandog commented on #634
@hoefs SR code don't distinguish tv-shows. If its working for one, then there's must be an issue with that tv-show. Maybe the show name as different in 2013 (scene exception)

[2015-02-19 18:59] abeloin commented on #665
Did it create the files in DATA_DIR?

[2015-02-19 19:02] danielb2 commented on #592
So I remember the sequence now. I know for sure I had rebased my branch because without the changes, the config page didn't work at all on FreeBSD. The SSL had already been solved. There must have been something else. Regardless, it's nice to have things back to normal :)

[2015-02-19 19:08] ChaosTherum commented on #644
Yeah I know that you can but that would Just allow you to have that little extra confidence that it was going to work. I have had that function in utorrent fail to work. Just doesn't move it when it is finished.

[2015-02-19 19:10] maxcore commented on #645
@neoatomic
yep i will work on it , i forget for the black background .

[2015-02-19 19:11] TagForce commented on #652
@fernandog @abeloin Wait... I suddenly understand what the problem is.
My opinion (not going to be a popular one) is that it should download any quality it finds. It should not care about the already downloaded quality, basically because we've just told it that the one we have is no good, and it needs to be replaced.

If you want a higher quality release than the one you have? It's already searchi

[2015-02-19 19:13] Koal4 commented on #617
@fernandog wasn't at home earlier so i just tested this and it works fine and looks normal again, thanks for this and listening :)

[2015-02-19 19:17] nielsenj commented on #632
If there is an example in an existing provider; i simply re-implemented one to make this.

Python isn't my strong suit.

[2015-02-19 19:19] hoefs commented on #652
Mark as bad should remove the file and search for another one... even if status is snatched or downloaded or...

[2015-02-19 19:24] neoatomic commented on #665
No. Sickrage didnt start...

[2015-02-19 19:27] abeloin commented on #624
Yes because is as to wait for each command to timeout. Let me see if I can improve it

[2015-02-19 19:30] abeloin commented on #589
@fernandog My suggestion was that if the info on that page isn't accurate it should be updated. To end the confusion regarding the issue of low quality.

[2015-02-19 19:31] abeloin commented on #632
TNTVillage use page

[2015-02-19 19:34] abeloin commented on #652
@TagForce See commit https://github.com/abeloin/SickRage/commit/8b3f431ae1fd687b629896a4476b6af0308e60c2 which disable that functionality.

[2015-02-19 19:37] TagForce commented on #589
@fernandog Wait a bit. First get master stable with the fixes we're now adding to develop. Then merge it.

[2015-02-19 19:40] abeloin commented on #665
Can you manually start it via SSH?

[2015-02-19 19:42] TagForce commented on #652
@abeloin @fernandog Yes, and I think it should be reverted. Manual search is not for searching for higher qualities, it's for searching an episode. That's what I take it to mean, anyway.

[2015-02-19 19:43] neoatomic commented on #665
Probably, but i dont know the command.
Could you post it.?

[2015-02-19 19:47] hoefs commented on #669
replaced trakt.py

running SR, will report back

[2015-02-19 19:51] hoefs opened #671 "oldpiratebay.org/tv/latest/ returned status code is 404"
SR Version:	BRANCH: (master) / COMMIT: (ac153cf2320b3b6d0a8aa9a1b1646a51347581d6)
SR Config file:	/usr/local/sickbeard-custom/var/config.ini
SR Database file:	/usr/local/sickbeard-custom/var/sickbeard.db
SR Cache Dir:	/usr/local/sickbeard-custom/var/cache
SR Arguments:	['--daemon', '--pidfile', '/usr/local/sickbeard-custom/var/sickbeard-custom.pid', '--config', '/usr/local/sickbeard-custom/var/con

[2015-02-19 19:52] hoefs commented on #634
@fernandog it is indeed an issue with that show, you can close this

[2015-02-19 19:52] #634 closed

[2015-02-19 19:52] hoefs commented on #652
@TagForce correct!!!

[2015-02-19 20:02] abeloin commented on #665
Where is your SickBeard.py located?

[2015-02-19 20:05] abeloin commented on #624
@TuRDMaN I've updated the pull request, it should be faster.

[2015-02-19 20:07] neoatomic commented on #665
/volume1/@appstore/sickbeard-custom/var/SickBeard/SickBeard.py

[2015-02-19 20:18] abeloin commented on #665
python /volume1/@appstore/sickbeard-custom/var/SickBeard/SickBeard.py --nolaunch --datadir=/volume1/@appstore/sickbeard-custom/var

[2015-02-19 20:24] neoatomic commented on #665
Get this error :

[code]

[2015-02-19 20:28] neoatomic commented on #665
I tried this line :

[code]

[2015-02-19 20:33] abeloin commented on #665
Apply this cpy of SickBeard.py
 https://github.com/abeloin/SickRage/blob/ceb112e20dd662f1acdf0e9b8e6e9488e1acfa4e/SickBeard.py

[2015-02-19 20:36] echel0n commented on #231
Ok i'm looking into this issue just gotta load up the new lappy with my dev software so I can debug this, got some spare time on my hands that I can devote to this issue right now :)

[2015-02-19 20:38] neoatomic commented on #665
Now i get this  one :

[code]

[2015-02-19 20:46] abeloin commented on #665
your datadir string is incomplete in your command

[2015-02-19 20:58] fernandog commented on #671
@hoefs
it not our problem. Or does is seems so?
what did you expect?

[2015-02-19 21:10] rrd911 opened #672 "[APP SUBMITTED]: object of type 'NoneType' has no len()"
### INFO
Python Version: **2.7.6 (default, Mar 22 2014, 22:59:56)
[GCC 4.8.2]**
Operating System: **Linux-3.13.0-45-generic-x86_64-with-Ubuntu-14.04-trusty**
Branch: **master**
Commit: SiCKRAGETV/SickRage@ac153cf2320b3b6d0a8aa9a1b1646a51347581d6
### ERROR
[code]
---
_STAFF NOTIFIED_: @SiCKRAGETV/owners @SiCKRAGETV/moderators

[2015-02-19 21:12] fernandog commented on #231
Another one
https://github.com/SiCKRAGETV/sickrage-issues/issues/672

[2015-02-19 21:13] #672 closed

[2015-02-19 21:37] neoatomic commented on #665
I give up... Cant get it to run correctly...
A update.log was created but the only entry was "Closing Log"
I restored the original SickBeard.py and SR is starting again.

[2015-02-19 21:39] TagForce commented on #670
@SunMar SR looks up the scene_exceptions from http://midgetspy.github.io/sb_tvdb_scene_exceptions/exceptions.txt on every startup, when adding a show, when performing an episode search on providers.
So, yeah, if QI XL is one of the scene exceptions in that file it will be re-added.

I'll mark this a low priority feature request, with the feature request being adding the posibility of entering scen

[2015-02-19 21:43] fernandog commented on #665
@neoatomic --datadir /usr/local/sickbea

[2015-02-19 21:46] TuRDMaN commented on #624
Yes, it seems a little faster now. In any case, I have not gotten any more error pages, and the UI notifications are working. Thanks so much!

[2015-02-19 21:46] #624 closed

[2015-02-19 21:51] TagForce commented on #669
@hoefs It should do just that when you enable Settings -> Notifications -> Social -> Trakt -> Sync Libraries.
It did for me.

[2015-02-19 21:53] jaybone2012 opened #673 "low quality episodes being added to backlog when show quality is "any""
Synology Diskstation DSM 5.1
SR Version:	BRANCH: (master) / COMMIT: (93f0f0ad1fa278afb17f73d47c099b82a766dede)
Python Version:	2.7.8 (default, Dec 12 2014, 21:20:40) [GCC 4.7.3 20130102 (prerelease)]

Hey guys

I have a show that I have set to quality "Any".

I am happy with whatever quality is downloaded I don't care if HD or SD or Unknown or whatever, once i get a release and SickRage processes

[2015-02-19 22:00] neoatomic commented on #665
Did correct that, but didn't help...
Now i'm reinstalling for the third time to have a clean install.
Restoring is just not working for me. (again needed to remove the restore folder to get SR to boot)
I would like to tank you both for your help/support. Sorry that i could not help better with troubleshooting.

[2015-02-19 22:03] fernandog commented on #673
set "archive first match" for this show

[2015-02-19 22:17] TagForce commented on #673
@jaybone2012 Are these episodes showing in the backlog Overview, or are they actually showing up in the logs as being searched for in the backlog?

If it's only in the backlog overview: that'll be overhauled so it actually only shows what's in the backlog instead of guessing which episodes are by checking the status and quality.

[2015-02-19 22:18] abeloin commented on #665
@neoatomic No restore.log?

[2015-02-19 22:27] abeloin commented on #665
@neoatomic I just figure out why it didn't work from your previous comment:
https://github.com/abeloin/SickRage/blob/patch-testing/sickbeard/__init__.py#L662

If you want to test.

[2015-02-19 22:28] jaybone2012 commented on #673
They appear in the backlog overview even when archive on first match is selcted.

I am forcing backlog search now and will check the logs to see if they are being searched.

[2015-02-19 22:32] jaybone2012 commented on #673
Ok so logs say that nothing is required from this show.

I will wait for the backlog to be overhauled so it only shows what's in the backlog.

Cheers guys for the fast responses.

[2015-02-19 22:32] #673 closed

[2015-02-19 22:53] Greg0rz commented on #483
Suddenly this is working w/o me even intervening. Not sure if you guys updated something in the master.  I haven't touched anything and am on version:
BRANCH: (master) / COMMIT: (ac153cf2320b3b6d0a8aa9a1b1646a51347581d6)

Will test further pending a reply.

[2015-02-19 22:55] fernandog commented on #483
@Greg0rz yes, master got updated. you have other issues to reply too.

[2015-02-19 23:27] Greg0rz commented on #482
Checking this out now.  Will edit this post when completed findings.

[2015-02-19 23:40] selthius opened #674 "[Feature Request] Seperate snatched and downloaded episodes"
Currently, there is no way to see which episodes in what quality you have when sickrage has snatched new episodes. A seperation of the statuses is going to make this possible. It will also make it easier to revert to the previous quality if the download is bad.

[2015-02-19 23:52] abeloin commented on #671
@hoefs This should fix the issue, can you try it?

[2015-02-20 00:03] OmgImAlexis opened #675 "On update page never refreshes."
Branch: Master
Commit hash: SiCKRAGETV/SickRage@ac153cf2320b3b6d0a8aa9a1b1646a51347581d6
OS: Ubuntu 14.04
Python: 2.7.6 (default, Mar 22 2014, 22:59:56) [GCC 4.8.2]

Since a few updates ago when I update nothing seems to happen on the page. I just get left with this.
![screen shot 2015-02-20 at 10 30 54 am](https://cloud.githubusercontent.com/assets/6525926/6278987/b7390598-b8eb-11e4-887e-a9aa1311

[2015-02-20 00:05] abeloin commented on #675
Duplicate of #609

[2015-02-20 00:06] #675 closed

[2015-02-20 00:43] Greg0rz commented on #482
Branch: Develop

Show Type: Anime
Scene Name: Kuroko's Basketball 3
Wanted Group: HorribleSubs

Full Log:
http://pastebin.com/Hg3MQNqY

Important Part:
Unable to find a download for: [Kuroko's Basketball - 056 - I Will Offer Them]
The result [HorribleSubs].Kuroko's.Basketball.3.-.56.[720p].mkv doesn't seem to be a valid episode that we are trying to snatch, ignoring

[2015-02-20 00:59] Greg0rz commented on #483
Okay.  Functionality seems to be working well in master, so you can probably close this.

[2015-02-20 01:30] abeloin commented on #482
@Greg0rz can you try adding this regex to your sickrage: https://gist.github.com/abeloin/d7a9a2687f336397d04b

[2015-02-20 01:32] abeloin commented on #483
Thank You for the teststing

[2015-02-20 01:32] #483 closed

[2015-02-20 01:40] Greg0rz commented on #482
That seems to have worked. Episode was snatched:
Calling uTorrent Client
Downloading [HorribleSubs].Kuroko's.Basketball.3.-.56.[720p].mkv from NyaaTorrents

[2015-02-20 02:02] abeloin commented on #589
@fernandog @TagForce  Is there some impact on adding regex? I'm asking because for issue https://github.com/SiCKRAGETV/sickrage-issues/issues/482 the anime wasn't properly recognize and adding a [regex](https://gist.github.com/abeloin/d7a9a2687f336397d04b) solved the issue.

[2015-02-20 02:02] cyberhiker opened #676 "Hyphen in Show name"
I will start by saying that I love SickRage, it is everything that SickBeard was not.  Unfortunately, the one thing that SickBeard does that SickRage does not is handle shows with a hyphen.  For instance, Black-ish.

SickBeard downloads the episode with no issue, SickRage does not.  I've checked my search providers and they are listing the show without the hyphen.  So I know it is there, but it is

[2015-02-20 02:17] abeloin commented on #676
Please provide python version, master/develop, commit#
Can you provide a log when you search Black-ish episodes?

[2015-02-20 02:26] cyberhiker commented on #676
Ubuntu 14.04
Python 2.7.6
master branch
commit: ac153cf2320b3b6d0a8aa9a1b1646a51347581d6

Log from Manual Episode Search:

2015-02-19 21:21:07 INFO     SEARCHQUEUE-MANUAL-281511 :: Unable to find a download for: [Black-ish - 1x14 - Andre from Marseille]
2015-02-19 21:21:07 DEBUG    SEARCHQUEUE-MANUAL-281511 :: formatting pattern: %SN - %Sx%0E - %EN -> Black-ish - 1x14 - Andre from Marseille
2015-0

[2015-02-20 02:28] abeloin commented on #676
Please use pastebin or gist for logs in the future

[2015-02-20 02:30] cyberhiker commented on #676
My apologies.  Thanks for moving it.

[2015-02-20 02:33] educatedwarrior opened #677 "[Feature Request] Search by absolute number for episode. No season (regex)"
Branch  - master
Commit hash - 93f0f0ad1fa278afb17f73d47c099b82a766dede
Your operating system and python version - Freenas and Python 2.7.9

What you did  -   tried to download episode manually.
What happened  -   Unable to find download using search provider API.
What you expected - The shows exist but are not found

Link to a copy/paste of your logfile with clear debug info of the error on PASTE

[2015-02-20 02:33] abeloin commented on #676
What's the status for that episode?

[2015-02-20 02:36] abeloin commented on #677
What is your full python version?

[2015-02-20 02:39] educatedwarrior commented on #677
Python 2.7.9 (default, Jan 28 2015, 23:06:19)

[2015-02-20 02:42] abeloin commented on #677
If you try this query in your browser, do you get any results(don't forget to add your api ky):
```https://api.nzbgeek.info/api?apikey=&season=28&maxage=2375&cat=5030%2C5040&q=The.Bold.and.the.Beautiful&limit=100&attrs=rageid&offset=0&ep=32&t=tvsearch```

[2015-02-20 02:48] educatedwarrior commented on #677
For usenet-crawler I get the following.

 <rss xmlns:atom="http://www.w3.org/2005/Atom" xmlns:newznab="http://www.newznab.com/DTD/2010/feeds/attributes/" version="2.0">
<channel>
<atom:link href="https://www.usenet-crawler.com/api?apikey=&season=28&maxage=2375&cat=5030%2C5040&q=The.Bold.and.the.Beautiful&limit=100&attrs=rageid&offset=0&ep=32&t=tvsearch" rel="self" type="application/rss+xml"/>
<tit

[2015-02-20 02:51] abeloin commented on #677
Is the show configure, to search by airdate? If not enable and redo a search

[2015-02-20 02:55] educatedwarrior commented on #677
http://pastebin.com/dsa1REQb

[2015-02-20 02:59] educatedwarrior commented on #677
I got the same exact response using your api url above (api key included).

[2015-02-20 03:05] abeloin commented on #677
Ok so no results. You should do the same with your other newznab provider. But my hope aren't high.

Looking at the results from search engine, no wonder sickrage is having difficulties with that show:
* BB-25-09-2014
* The.Bold.And.The.Beautiful.-.E6903.-.Woensdag.03-09-2014
* The.Bold.And.The.Beautiful.-.S28.Ep7013.-.11.Febr.2015
* B&B-S27ep6858-ep6880

[2015-02-20 03:07] abeloin commented on #676
[code]

[2015-02-20 03:07] educatedwarrior commented on #677
Results are very clean on usernet-crawler.  Check this out.

https://www.usenet-crawler.com/search?val=bold%20and%20the%20beautiful&index=3

The Bold And The Beautiful - S28 Ep7015 - 13 Febr 2015
The Bold And The Beautiful - S28 Ep7014 - 12 Febr 2015

[2015-02-20 03:11] abeloin commented on #677
But the trouble is that air date search is done with "YYYY/mm/dd" not "dd Mmmm YYYY" which some weird results:
[code]

[2015-02-20 03:14] echel0n commented on #231
Sorry today got busyer then i thought will tackle this tomorrow.

[2015-02-20 03:15] educatedwarrior commented on #677
Why isn't it finding it by season and episode.   It looks clearly labelled in the reports.  Is it because the prefix for episode is EP   .   I was wondering for an api call , wouldn't the web api just look for the episode number and the prefix wouldn't matter?

[2015-02-20 03:20] educatedwarrior commented on #677
I wonder if there is a bug in the Newsnab api since I believe there are all using the same backend web server?   I'm just brainstorming ... take what I say with a grain of salt.

[2015-02-20 03:23] cyberhiker commented on #676
Snatched

On Thu, Feb 19, 2015 at 10:07 PM, Alexandre Beloin
<notifications@github.com> wrote:

[2015-02-20 03:27] educatedwarrior commented on #677
Let me know whatever else you would like me to check, I'm unclear on how to proceed.  Thx

[2015-02-20 03:27] abeloin commented on #677
It may look clearly label to you but not to newznab and sickrage.

The naming for those episode are bad, they use the season and the absolute number.

In usenet-crawler, all the recent episodes I've looked are all Season 01 Episode 701 so this is why you will never get any result searching via SxxExx.

[2015-02-20 03:30] abeloin commented on #676
Can you switch it to wanted and try again?

[2015-02-20 03:30] educatedwarrior commented on #677
Okay, I understand what you are saying now.  How about an option to search by absolute number.  That would be the ticket.  I agree, that is bad numbering.

[2015-02-20 03:38] abeloin commented on #677
You can try set the show as anime which is absolute numbering but I don't it will work with the tvdb as nobody entered the absolute number, maybe with tvrage.

[2015-02-20 04:02] educatedwarrior commented on #677
I'll give it a try later and let you know.  Tomorrow.  Going to bed for work tomorrow.

[2015-02-20 04:37] morrison22 commented on #129
I contacted the developer on reddit and hopefully he will fix it although its not looking promising as he said "I will not continue to develop the chrome plugin"  This is sad because this plugin was great.  I wish there was a way for the SickRage devs to modify code to let it work since chances are slim the developer is not going to update the app.  This tool was great man.

[2015-02-20 04:57] Cmtahm opened #678 "[APP SUBMITTED]: coercing to Unicode: need string or buffer, instance found"
### INFO
Python Version: **2.7.8 (default, Jun 30 2014, 16:03:49) [MSC v.1500 32 bit (Intel)]**
Operating System: **Windows-8-6.2.9200**
Branch: **develop**
Commit: SiCKRAGETV/SickRage@55d0d213e48909ca5944260e937be72b693a7b8b
Link to Log: https://gist.github.com/0d9569f19b257537aa0a
### ERROR
[code]
---
_STAFF NOTIFIED_: @SiCKRAGETV/owners @SiCKRAGETV/moderators

[2015-02-20 06:24] Thraxis commented on #129
Well the basic change needed is to change from POST to GET in the helper.js

$.ajax( { type : "POST", url : apiUrl, data : params, dataType : 'json', success : function(data) {

changed to:

$.ajax( { type : "GET", url : apiUrl, data : params, dataType : 'json', success : function(data) {

makes it at least work.  Although it does then cause large numbers of errors in your log when checking some p

[2015-02-20 06:48] agentq15 commented on #539
@TagForce It works with normal automatic Pp but not the manual which was what I tried before.
Thanks for the help!

[2015-02-20 07:25] johnkillerbob opened #679 "[APP SUBMITTED]: 'NoneType' object has no attribute '__getitem__'"
### INFO
Python Version: **2.7.6 (default, Mar 22 2014, 22:59:38)
[GCC 4.8.2]**
Operating System: **Linux-3.13.0-45-generic-i686-with-Ubuntu-14.04-trusty**
Branch: **master**
Commit: SiCKRAGETV/SickRage@ac153cf2320b3b6d0a8aa9a1b1646a51347581d6
### ERROR
[code]
---
_STAFF NOTIFIED_: @SiCKRAGETV/owners @SiCKRAGETV/moderators

[2015-02-20 08:02] Deddiekoel commented on #581
I'm redoing the regex to be completely iTunes specific. I'll submit a new pull request for it.

Verstuurd vanaf mijn iPhone

[2015-02-20 08:34] #678 closed

[2015-02-20 08:36] fernandog commented on #679
@johnkillerbob can you send full logs please?

[2015-02-20 08:53] johnkillerbob commented on #679
I hope this is the relevant part of the log, I don't know what I'm doing ;)

2015-02-20 07:16:45 INFO     SEARCHQUEUE-BACKLOG-255326 :: Downloading Defiance.S02E12-E13.HDTV.x264-KILLERS from TorrentBytes
2015-02-20 07:16:45 DEBUG    SEARCHQUEUE-BACKLOG-255326 :: Calling Transmission Client
2015-02-20 07:16:45 DEBUG    SEARCHQUEUE-BACKLOG-255326 :: Transmission: Requested a POST connection to url h

[2015-02-20 08:53] SunMar commented on #670
I think it might be better to add an option that disables updating of the scene exceptions. It could be a show option.

If you can point me to the files where the scene exception update is done I can see if I can implement this feature myself.

[2015-02-20 09:00] SunMar opened #680 "[Feature Request] Update subliminal to v0.8"
Hi,

The subliminal version used is an old version (v0.6.3), there have been quite a few improvements in the new subliminal so it'd be nice if it can be updated to the newest version.

This is not easy though because 0.7 is not backwards compatible. 0.8 is current in development but also breaks backwards compatibility. In that regard it's probably easier to go directly to 0.8-dev. This is also don

[2015-02-20 09:12] fernandog commented on #680
@SunMar can you read all this?
https://github.com/SiCKRAGETV/sickrage-issues/issues/386

[2015-02-20 09:12] fernandog commented on #680
when you say alpha2 means language with only two letter? Its strange cause KODI and everything else uses the 3 letter

[2015-02-20 09:15] fernandog commented on #670
@SunMar you are trying to fix a fix that is simple to fix. Keep scene exceptions as it is and add "QI XL" to the ignored words. simple!

[2015-02-20 10:27] SunMar commented on #680
Yeah, the subtitle information saved in the database and what is used to save file extensions and such uses a two-letter language code, but in Subliminal 0.7 they switched to using a 3-letter language code to be more ISO-compatible (at least that's what I was able to discern, since I'm new to both SickRage and Subliminal I could be wrong about this).

I'll read the other issue as well.

[2015-02-20 10:29] fernandog commented on #589
@abeloin really don't know. I think none. as all regex will be tested, isn't?

[2015-02-20 10:29] SunMar commented on #670
Heh, d'oh!

Does ignored words respect word boundaries?

[2015-02-20 10:39] fernandog commented on #652
@TagForce @abeloin

**about manual search**
. As the name we force a MANUAL SEARCH. This was made to force search. Some users set the search frequency to 8, 12 or 18 hours and higher backlog frequency. This manual is to force a search ONLY to that episode. Backlog and search need resources and a 10-20min-60 search frequency it not possible on some setups

My suggestion is the same: ask user if the

[2015-02-20 10:49] fernandog commented on #680
ok! 3-letter is better! This change and the issue change (DB update) must be done. But we won' merge any time soon. we are fixing bug first but you can try start making some tests
@TagForce @abeloin

[2015-02-20 10:50] fernandog commented on #670
sorry, didn't understand.

[2015-02-20 11:12] Quiptix commented on #234
HAve monitored this even longer. And no timeouts, so be able to set this helps!

[2015-02-20 11:19] Quiptix commented on #234
Recommendations are working again at Trakt side. I get this:
[code]
It is correct date, however not very pretty... Maybe a cosmetic change is in order.

[2015-02-20 11:27] fernandog commented on #234
@Quiptix we are looking others things. this is cosmetic only

[2015-02-20 11:41] SickrageDK commented on #28
anyone looking into this?

[2015-02-20 11:45] fernandog commented on #384
@echel0n

[2015-02-20 11:47] rickytin opened #681 "[APP SUBMITTED]: coercing to Unicode: need string or buffer, instance found"
### INFO
Python Version: **2.7.8 (default, Jun 30 2014, 16:08:48) [MSC v.1500 64 bit (AMD64)]**
Operating System: **Windows-8-6.2.9200**
Branch: **master**
Commit: SiCKRAGETV/SickRage@ac153cf2320b3b6d0a8aa9a1b1646a51347581d6
### ERROR
[code]
---
_STAFF NOTIFIED_: @SiCKRAGETV/owners @SiCKRAGETV/moderators

[2015-02-20 11:50] fernandog commented on #28
@SickrageDK no. fixing bugs (a lot ) first. we need a stable master first. if you want to help pick a open confirmed issue and try to make a PR

[2015-02-20 11:51] fernandog commented on #681
https://github.com/SiCKRAGETV/sickrage-issues/issues/658

[2015-02-20 12:03] educatedwarrior commented on #677
So I deleted the show, then re-added it as Anime.  Still not finding the show.

Here is the log.
http://pastebin.com/VGNJ1nG4

[2015-02-20 12:04] #681 closed

[2015-02-20 12:09] fernandog commented on #669
@TagForce does it sync entire library even for fully watched shows or just in-progress or not watched tv-shows?

[2015-02-20 12:10] fernandog commented on #658
@Cmtahm please reply or will close this issue

[2015-02-20 12:13] fernandog commented on #677
@educatedwarrior there's nothing we can do if the uploader does not uses the correct name pattern

[2015-02-20 12:14] fernandog commented on #654
@BillNasty any lucky?

[2015-02-20 12:18] #391 closed

[2015-02-20 12:18] #361 closed

[2015-02-20 12:23] fernandog commented on #637
@SimonKberg please reply or we will close

[2015-02-20 12:32] fernandog commented on #627
@bitzorro please reply or we will close

[2015-02-20 12:34] #504 closed

[2015-02-20 12:35] SunMar commented on #680
As I'm writing it right now a DB update wouldn't be neccesary (as of yet). Subliminal switched from an internal Language class to using a seperate library called Babelfish (by the same author). I'm simply rewriting the calls that instantiate subliminal.Language to use babelfish.Language.fromietf() which if it receives a 2-letter code converts it to a 3-letter code. That's something neccesary for t

[2015-02-20 12:36] fernandog commented on #671
@hoefs any luck?

[2015-02-20 12:36] fernandog commented on #482
@abeloin we can PR that.
https://gist.github.com/abeloin/d7a9a2687f336397d04b

[2015-02-20 12:40] fernandog commented on #680
but what about saving the language in the history if user don't want the language in the filename? that info should be saved in the history(DB)

[2015-02-20 12:41] fernandog commented on #653
please try the above fix
@matigonkas @pct00

[2015-02-20 12:43] #579 closed

[2015-02-20 12:43] beschoenen opened #682 "SickRage won't start on my synology"
i have no idea why, but my sickrage won't start. I Reverted back to the master branch by hand using git on my synology but that didn't change anything.

Log: http://pastebin.com/hgNRiKAz

[2015-02-20 12:57] fernandog commented on #682
@neoatomic help here with nas?

[2015-02-20 13:01] fernandog commented on #44
@SunMar maybe with new version, should fix this?

[2015-02-20 13:02] fernandog commented on #72
@TagForce feature request or issue?

[2015-02-20 13:03] fernandog commented on #96
@neoatomic can you check this comment please? https://github.com/SiCKRAGETV/sickrage-issues/issues/96#issuecomment-67771609

[2015-02-20 13:03] fernandog commented on #96
@aidik is this still an issue?

[2015-02-20 13:05] neoatomic commented on #682
@beschoenen
Could be the same problem as this. https://github.com/SiCKRAGETV/sickrage-issues/issues/665#issuecomment-75041585

Look in your Sickrage folder if there is a folder named "restore"
/volume1/@appstore/sickbeard-custom/var/SickBeard/restore
Remove that folder and try to restart Sickrage in the package center. That should fix it.

[2015-02-20 13:06] SunMar commented on #44
not sure, haven't noticed the issue yet myself, but I'll keep an eye out for it.

[2015-02-20 13:06] aidik commented on #96
It is all correct for sometime already. Thank you!

[2015-02-20 13:07] UltraFlaw opened #683 "[APP SUBMITTED]: 'charmap' codec can't decode byte 0x9d in position 99: character maps to <undefined>"
### INFO
Python Version: **2.7.9 (default, Dec 10 2014, 12:28:03) [MSC v.1500 64 bit (AMD64)]**
Operating System: **Windows-7-6.1.7601-SP1**
Branch: **master**
Commit: SiCKRAGETV/SickRage@93f0f0ad1fa278afb17f73d47c099b82a766dede
Link to Log: https://gist.github.com/e5dbd3f85f8f9d28e8f9
### ERROR
[code]
---
_STAFF NOTIFIED_: @SiCKRAGETV/owners @SiCKRAGETV/moderators

[2015-02-20 13:12] #96 closed

[2015-02-20 13:19] #683 closed

[2015-02-20 13:22] fernandog commented on #633
https://github.com/SiCKRAGETV/sickrage-issues/issues/610
https://github.com/SiCKRAGETV/sickrage-issues/issues/683
https://github.com/SiCKRAGETV/sickrage-issues/issues/611

[2015-02-20 13:23] fernandog commented on #611
0x8d and 0x9d are common errors

[2015-02-20 13:24] #633 closed

[2015-02-20 13:24] fernandog commented on #611
https://github.com/SiCKRAGETV/sickrage-issues/issues/610
https://github.com/SiCKRAGETV/sickrage-issues/issues/683

[2015-02-20 13:25] fernandog commented on #611
0x8d and 0x9d are common errors

[2015-02-20 13:26] SunMar commented on #680
It is. If I'm not mistaken it's in the subtitles column of tv_episodes, that's a comma separated list of subtitles downloaded. Currently that list is in 2-letter codes but I'm simply having those codes converted to a 3-letter code when it's read, that also means that when its saved back its saved as 3-letter code. It makes the change backwards compatible (no database or config update/migration nee

[2015-02-20 13:28] beschoenen commented on #682
There's no 'restore' folder there, there was one at /volume1/@appstore/sickbeard-custom/var, I deleted it but SickRage still doesn't boot, even after a reboot of my nas.

[2015-02-20 13:31] fernandog commented on #680
I think that column it for not that. Can you confirm?
https://github.com/SiCKRAGETV/sickrage-issues/issues/386#issuecomment-74547479

[2015-02-20 13:40] SunMar commented on #680
I think that column stores the downloaded subtitles, so it knows which subtitles to keep searching for in the backlog when you have multiple subtitle languages enabled, it however does not match a subtitle to a file, so in the history view it tries to base it on the filename and that fails somewhere. I'll see if I can find the cause when I have some time, hopefully over the weekend.

[2015-02-20 13:41] bitzorro commented on #627
Yes the path is correct, the sam error came again to day.
the torrent was in rar, after unpacking it doesnt move the file And the same error occour.
using the latest develop branch.

@fernandog

[2015-02-20 13:42] neoatomic commented on #682
You are right the folder is under "var". Does the log show any errors when you start SR.?
Take a look if there is another folder named something like "cache-20150220xxx" and remove it.
If that still doesn't work than please reinstall sickbeard-custom/sickrage so you have a fresh install.

I had simulair problems yesterday where the restore function was preventing SR from booting. I only needed to

[2015-02-20 13:49] pct00 commented on #653
@fernandog different issue from the one i reported, mine is related to encoding of the downloaded subtitle files not with timeout/access problem

[2015-02-20 13:50] faidwen opened #684 "Error on manual search from web on upcoming shows."
-----
 BRANCH: (develop) / COMMIT: (55d0d213e48909ca5944260e937be72b693a7b8b)
 Python 2.6.6 (r266:84292, Jan 22 2014, 09:42:36) [GCC 4.4.7 20120313 (Red Hat 4.4.7-4)]
-----
  File "/root/.sickrage/sickbeard/webserve.py", line 230, in async_call
    result = function(**kwargs)
  File "/root/.sickrage/sickbeard/webserve.py", line 1864, in getManualSearchStatus
    episodes += getEpisodes(searchThrea

[2015-02-20 13:52] beschoenen commented on #682
So, I manually checked out the develop branch again, at now it started again, so removing the restore folder probably fixed it.

[2015-02-20 13:54] fernandog commented on #684
Please update SR

[2015-02-20 13:55] neoatomic commented on #682
Glad it worked. Please close this issue so the developers can move on to other problems.

[2015-02-20 13:57] educatedwarrior commented on #677
@fernandog  what about new feature request for custom search?  If I was able to substitute absolute number for episode number in the original search, I would be good to go.

[2015-02-20 13:58] fernandog commented on #653
@pct00
Here your issue:
https://github.com/SiCKRAGETV/sickrage-issues/issues/244

[2015-02-20 14:00] faidwen commented on #637
I think I just posted a similar issue as this.  Looks almost identical.  I received it when doing a manual search for an UPCOMING SHOW.

2015-02-20 08:58:59 Thread-96 :: Failed doing webui callback: Traceback (most recent call last):
  File "/root/.sickrage/sickbeard/webserve.py", line 230, in async_call
    result = function(**kwargs)
  File "/root/.sickrage/sickbeard/webserve.py", line 1864, in

[2015-02-20 14:01] fernandog commented on #627
@bitzorro
reply this please
https://github.com/SiCKRAGETV/sickrage-issues/issues/627#issuecomment-74637726

[2015-02-20 14:02] faidwen commented on #684
KK thanks

[2015-02-20 14:05] faidwen commented on #684
fernandog, how is this not the most recent commit??

[2015-02-20 14:07] hoefs commented on #671
how can I test the fix? (btw not at home for the moment...)

[2015-02-20 14:08] beschoenen commented on #682
Though switching to the master branch kills it again

[2015-02-20 14:08] fernandog commented on #637
@faidwen Please update your SR

[2015-02-20 14:09] fernandog commented on #671
stop SR, edit that file, change, save, start SR

[2015-02-20 14:09] faidwen commented on #684
https://github.com/SiCKRAGETV/sickrage-issues/issues/637

[2015-02-20 14:11] faidwen commented on #637
fernandog, I am showing 55d0d213e48909ca5944260e937be72b693a7b8b as the most recent commit.  Am I missing something?

OOOOH NOW I SEE A NEW VERSION LOL!!!!  sneaky & thanks!

[2015-02-20 14:12] fernandog commented on #637
Latest develop is
ac153cf2320b3b6d0a8aa9a1b1646a51347581d6 not 55d0d213e48909ca5944260e937be72b693a7b8b

[2015-02-20 14:13] neoatomic commented on #682
Did you check again for the restore folder on master.?

@fernandog any ideas.?

[2015-02-20 14:15] faidwen commented on #637
I see master as ac153cf2320b3b6d0a8aa9a1b1646a51347581d6
and develop as 55d0d213e48909ca5944260e937be72b693a7b8b

[2015-02-20 14:16] faidwen commented on #637
develop

commit 55d0d213e48909ca5944260e937be72b693a7b8b 2 parents ada694b + 27ac4ca
Alexandre Beloin abeloin authored 13 hours ago

AND

    master
    (#1)

commit ac153cf2320b3b6d0a8aa9a1b1646a51347581d6 1 parent 93f0f0a
Fernando fernandog authored a day ago

[2015-02-20 14:24] bitzorro commented on #627
?

@fernandog

[2015-02-20 14:35] fernandog commented on #637
Do a refresh on that show. This is a old issue that was fixed

[2015-02-20 14:36] fernandog commented on #684
Dont hijack others issue

[2015-02-20 14:37] beschoenen commented on #682
As far as i know there's no difference in folders with git

[2015-02-20 14:38] fernandog commented on #677
You need to create a new regex. Or wait DEVs create

[2015-02-20 14:43] fernandog commented on #631
@yaymuffins @hoefs please update and report back

[2015-02-20 14:44] fernandog commented on #641
@Alexwijn please update and report back

[2015-02-20 14:44] fernandog commented on #627
@bitzorro Can you tell me what settings you use for post processing? What Process Method do you use?

[2015-02-20 14:45] fernandog commented on #682
@beschoenen enter Sickrage folder, and run "python SickBeard.py". see what happens and post any error

[2015-02-20 14:46] fernandog commented on #653
update available for this issue

[2015-02-20 14:47] #653 closed

[2015-02-20 14:47] abeloin commented on #539
@TagForce Manual PP use a different path in the code?

[2015-02-20 14:47] beschoenen commented on #682
It says i need cheetah

[2015-02-20 14:49] fernandog commented on #122
@abeloin can we just add ek.ek ?

[code]

https://github.com/SiCKRAGETV/SickRage/blob/develop/sickbeard/helpers.py#L1284

[code]

[2015-02-20 14:50] faidwen commented on #637
It is not just one show, it occurs with ANY shows from the webui when pressing manual search from COMING EPISODES.

BRANCH: (develop) / COMMIT: (b10f36e8d72545b4db22e7c07a4f7fea484e24a0)

Also, the line in question that appears to be causing the issue, was added in line 1827 from https://github.com/SiCKRAGETV/SickRage/pull/1350

[2015-02-20 14:54] fernandog commented on #611
@abeloin can't we add ek.ek here also? We have a lot of this issues

[code]

https://github.com/SiCKRAGETV/SickRage/blob/develop/sickbeard/tv.py#L1398

[2015-02-20 14:56] fernandog commented on #637
@faidwen again: don't hijack others issues!
will delete your comment in 5min. please move it

[2015-02-20 14:56] fernandog commented on #682
other than that

[2015-02-20 15:00] Alexwijn commented on #641
Is it fixed or just suppressed?

[2015-02-20 15:02] fernandog commented on #641
@Alexwijn suppressed. Its a TPB issue:

read here: https://github.com/SiCKRAGETV/SickRage/pull/1359

[2015-02-20 15:03] #641 closed

[2015-02-20 15:04] #440 closed

[2015-02-20 15:05] abeloin commented on #682
@fernandog We pushed some fixes to the backup/restores process to develop but those aren't in master yet.

[2015-02-20 15:06] fernandog commented on #682
@abeloin cheetah is missing in his setup

[2015-02-20 15:06] beschoenen commented on #682
It's running atm though, on the develop branch

[2015-02-20 15:07] #682 closed

[2015-02-20 15:09] beschoenen commented on #682
So, I have to wait for the commits to be pushed to the master branch?

[2015-02-20 15:13] abeloin commented on #682
Yes stay on develop for the moment I'll update this issue the merge is done

[2015-02-20 15:14] fernandog commented on #122
@valantislevas can you try this?

stop SR, edit file like this, save and start SR, and try to reproduce
https://github.com/SiCKRAGETV/SickRage/pull/1369/files

[2015-02-20 15:17] abeloin commented on #682
@fernandog Yes it's missing globally but not locally that is why it start via the interface but not via ssh.

[2015-02-20 15:22] fernandog commented on #611
@pct00

can you make a test ?
stop SR, edit /SickRage/sickbeard/tv.py, search "logger.log("Error occurred when downloading subtitles: " + str(e), logger.ERROR)" and in the next line (with the same identation) add raise Exception

will be like this:
[code]

save, start SR and try downloading that subtitle again

[2015-02-20 15:29] TagForce commented on #670
@SunMar I have no idea... Just try, or check what the names of the releases are you're trying to avoid... Changes are they are named QI.XL which will work in ignored words.

[2015-02-20 15:30] faidwen commented on #684
Well, I guess even though this is closed, I will continue to post on it in the hopes that someone will realize that it is the same issue as https://github.com/SiCKRAGETV/sickrage-issues/issues/637 except that we aren't passing in the Trakt info, instead we are passing in the manual show information, but that SHOW in the following line is obviously NONE or at least not convertible into an integer.

[2015-02-20 15:38] fernandog commented on #684
Main issue:
https://github.com/SiCKRAGETV/sickrage-issues/issues/285

https://github.com/SiCKRAGETV/sickrage-issues/issues/210
https://github.com/SiCKRAGETV/sickrage-issues/issues/344
https://github.com/SiCKRAGETV/sickrage-issues/issues/374
https://github.com/SiCKRAGETV/sickrage-issues/issues/393
https://github.com/SiCKRAGETV/sickrage-issues/issues/381

feel free to read all of them

do a full ref

[2015-02-20 15:39] faidwen commented on #684
Thank you fernandog, I will try that now.

[2015-02-20 15:42] abeloin commented on #122
@fernadog You shouldn't do that there because if the requested filename change the calling process won't be able to find it.
You should instead add a rule in sanitizeFileName: https://github.com/SiCKRAGETV/SickRage/blob/develop/sickbeard/helpers.py#L1284

[2015-02-20 15:45] abeloin commented on #122
By the way I'm unable to reproduce the issue on my system(Fedora).
@valantislevas what is the locale for the user running sickrage?

[2015-02-20 15:50] TagForce commented on #589
@abeloin Other than that the new regex may give a false positive (like the Itunes one did) no, not really.
They're all tested, and the first one with a match is used, I think.
Yours should be fine.

@fernandog Don't merge https://github.com/TagForce/SickRage/commit/cb0f5a74a5b3684eb3987f72c1fa62bebb70ff05 yet, I think it breaks the update notification. I see the develop branch warning, but I no lo

[2015-02-20 15:51] abeloin commented on #122
@fernandog
Something like this:
[code]

[2015-02-20 15:57] bitzorro commented on #627
Only unpack and copy.

[2015-02-20 16:11] abeloin commented on #684
What were you doing when that error happend?

[2015-02-20 16:15] abeloin commented on #684
@faidwen Can you provide more log of that error?

[2015-02-20 16:23] BillNasty commented on #654
Haven't been able to reproduce the error on my end yet.  I'm currently having issues with my internet so I'm not getting much time to test yet.  I'll keep looking into it when I can

[2015-02-20 16:23] fernandog commented on #611
@abeloin sanitize will fix this too?

[2015-02-20 16:29] xxx1983 commented on #391
@fernandog
I updated to the last version of the development-branch and it worked
Result was the same as for the version of the Releasegroup-branch.
Again my thanks!

[2015-02-20 16:30] fernandog commented on #391
@TagForce effort! thanks!

[2015-02-20 16:33] abeloin commented on #611
@fernandog The more I look at the issue the more I think it's an issue in subliminal internally not with sickrage. The file need to exist before sickrage search for subtitle.
https://github.com/SiCKRAGETV/SickRage/blob/develop/sickbeard/tv.py#L1387

Let me check inside subliminal code.

[2015-02-20 16:34] abeloin commented on #611
If I'm right about my previous post, it won't.

[2015-02-20 16:37] DcR-NL commented on #654
OK, well, take your time. :) I'm no python hero, but I will try to debug this as well when I find the time (later today or tomorrow).

[2015-02-20 16:38] abeloin commented on #658
@fernandog Yes

[2015-02-20 16:39] abeloin commented on #482
Yes, will do.

[2015-02-20 16:45] abeloin commented on #440
@fernandog I think this symbol could be added to SanitizeFileName

[2015-02-20 16:52] abeloin commented on #589
@fernandog I think we should consider merging develop in master in the near future. Any thought?

[2015-02-20 16:54] fernandog commented on #611
@abeloin thanks! we have 6 of this issues and they continue to pop up

[2015-02-20 17:00] fernandog commented on #589
@abeloin can we do this first? default backup would be sickbeard DATA DIR
https://github.com/SiCKRAGETV/sickrage-issues/issues/667

its more safe. don you think?

[2015-02-20 17:01] BillNasty commented on #654
@DcR-NL What I've figured out so far is the issue is in the html parsing.  It seems like you may be getting a different torrent_table than I am.  In your AR profile settings do you have grouping turned on?

[2015-02-20 17:16] abeloin commented on #658
@fernandog Sorry it won't work, replace to str(response.read())

[2015-02-20 17:16] DcR-NL commented on #654
@BillNasty Yes I have it enabled, I'm using the default AR settings. Quick screenshots while on the road: http://imgur.com/yuNzFrm

[2015-02-20 18:14] fernandog commented on #671
@hoefs please update and report back.

[2015-02-20 18:16] fernandog commented on #668
@brimur can you post the page code?

Chrome: right mouse button, page code

[2015-02-20 18:20] fernandog commented on #659
@TagForce is this a thread problem? the delete thread runs together with the move thread (slow copy)

[2015-02-20 18:20] fernandog commented on #659
@krash1220 Can you provide a full log of the PP run

[2015-02-20 18:21] krash1220 commented on #659
sorry, it was a problem on my end.
On 02/20/2015 01:20 PM, Fernando wrote:

[2015-02-20 18:22] fernandog commented on #659
@krash1220 can I close issue?

[2015-02-20 18:22] krash1220 commented on #659
Yes
On 02/20/2015 01:22 PM, Fernando wrote:

[2015-02-20 18:25] faidwen commented on #684
I have refreshed ALL shows (rescanned them all).

In UPCOMING EPISODES I clicked on manual search for a show.

[2015-02-20 18:26] #502 closed

[2015-02-20 18:28] fernandog commented on #684
@faidwen error still persists?  can you please send a full log?  use pastebin.com

[2015-02-20 18:28] fernandog commented on #659
@krash1220 can you tell the problem so others user can learn too?

[2015-02-20 18:30] faidwen commented on #684
2015-02-20 13:27:05 ERROR    Thread-274 :: Failed doing webui callback: Traceback (most recent call last):
AAValueError: invalid literal for int() with base 10: 'undefined'
AA    showObj = sickbeard.helpers.findCertainShow(sickbeard.showList, int(show))
AA  File "/****/.sickrage/sickbeard/webserve.py", line 1828, in getEpisodes
AA    episodes += getEpisodes(searchThread, searchstatus)
AA  File "/*

[2015-02-20 18:30] krash1220 commented on #659
I deleted the file too soon even though it had already been processed.
On 02/20/2015 01:28 PM, Fernando wrote:

[2015-02-20 18:34] fernandog commented on #669
@hoefs please update and report back. fix was merged

[2015-02-20 18:34] #659 closed

[2015-02-20 18:46] faidwen commented on #684
Yes, one moment and I will upload the log.

http://pastebin.com/62AEWW1Y

[2015-02-20 18:55] brimur commented on #668
If you need more let me know but this is what a typical line looks like...

[code]

[2015-02-20 19:00] fernandog commented on #668
@brimur not an issue

		#if not $curShow.subtitles or $sickbeard.showQueueScheduler.action.isBeingSubtitled($curShow) or $sickbeard.showQueueScheduler.action.isInSubtitleQueue($curShow):
			#set $curSubtitle_disabled = "disabled=\"disabled\" "

if subtitle is queue to download it disables it

[2015-02-20 19:01] #668 closed

[2015-02-20 19:01] Quiptix commented on #234
@fernandog What is it what you are looking for in this issue?

[2015-02-20 19:19] fernandog commented on #234
@Quiptix sorry didn't understand you

[2015-02-20 19:25] matigonkas commented on #653
@fernandog  i can confirm it (i know its a bit late but still...)     i just got this
2015-02-20 19:17:54 POSTPROCESSER :: Error occurred when downloading subtitles:
Also could it be possible to have something like "opensubtitles not reacheable" where the traceback was?

[2015-02-20 19:40] brimur commented on #668
I don't understand what you mean. What is the solution to the problem? If I go into any of those shows Subtitles is not enabled so why would they be queued to download? How do I enable them through mass update?

[2015-02-20 20:36] MasterAslan opened #685 "[APP SUBMITTED]: HTTPSConnectionPool(host='api.trakt.tv', port=443): Read timed out."
### INFO
Python Version: **2.7.8 (default, Jul  2 2014, 19:50:44) [MSC v.1500 32 bit (Intel)]**
Operating System: **Windows-8-6.2.9200**
Branch: **master**
Commit: SiCKRAGETV/SickRage@ac153cf2320b3b6d0a8aa9a1b1646a51347581d6
Link to Log: https://gist.github.com/f738cbbc5bc3a6fc34ed
### ERROR
[code]
---
_STAFF NOTIFIED_: @SiCKRAGETV/owners @SiCKRAGETV/moderators

[2015-02-20 20:46] jab2004 opened #686 "Re-Scan episodes - Error - Connection aborted.', gaierror(-2"
When i try to rescan my episodes it find nothing and i get this error

Connection error ('Connection aborted.', gaierror(-2, 'Name or service not known')) while loading URL http://thetvdb.com/api/GetSeries.php, Retrying in 3 seconds...
Connection error ('Connection aborted.', gaierror(-2, 'Name or service not known')) while loading URL http://thetvdb.com/api/GetSeries.php, Retrying in 6 seconds...

[2015-02-20 21:02] jab2004 commented on #686
Maybe ignore this for now i have found problems with my sickrage connection also it will not update

[2015-02-20 21:17] jab2004 commented on #686
Yes this was me being stupid and my DNS servers had reset to local host please ignore this and close

[2015-02-20 21:17] #686 closed

[2015-02-20 21:27] TehWardy opened #687 "[APP SUBMITTED]: [Errno 2] No such file or directory: '/share/MD0_DATA/Download/complete/tv/The Big Bang/The Big Bang Theroy S05/The Big Bang Theory S05E03.mkv'"
### INFO
Python Version: **2.7 (r27:82500, Aug 21 2010, 07:52:47)
[GCC 4.1.3 20070929 (prerelease) (Ubuntu 4.1.2-16ubuntu2)]**
Operating System: **Linux-3.4.6-x86_64-with-glibc2.4**
Branch: **develop**
Commit: SiCKRAGETV/SickRage@62f45524eb9f1e3762a22af0bcd576e4285bad52
### ERROR
[code]
---
_STAFF NOTIFIED_: @SiCKRAGETV/owners @SiCKRAGETV/moderators

[2015-02-20 21:36] ripper1967 opened #688 "[APP SUBMITTED]: invalid literal for int() with base 10: 'undefined'"
### INFO
Python Version: **2.7.8 (default, Jun 30 2014, 16:03:49) [MSC v.1500 32 bit (Intel)]**
Operating System: **Windows-7-6.1.7601-SP1**
Branch: **develop**
Commit: SiCKRAGETV/SickRage@55d0d213e48909ca5944260e937be72b693a7b8b
Link to Log: https://gist.github.com/5ad85e129a9d8937351d
### ERROR
[code]
---
_STAFF NOTIFIED_: @SiCKRAGETV/owners @SiCKRAGETV/moderators

[2015-02-20 21:38] TehWardy opened #689 "[APP SUBMITTED]: [Errno 2] No such file or directory: '/share/MD0_DATA/Download/complete/tv/The Big Bang/The Big Bang Theory S04/The Big Bang Theory S04E22.mkv'"
### INFO
Python Version: **2.7 (r27:82500, Aug 21 2010, 07:52:47)
[GCC 4.1.3 20070929 (prerelease) (Ubuntu 4.1.2-16ubuntu2)]**
Operating System: **Linux-3.4.6-x86_64-with-glibc2.4**
Branch: **develop**
Commit: SiCKRAGETV/SickRage@62f45524eb9f1e3762a22af0bcd576e4285bad52
Link to Log: https://gist.github.com/5a90ebc7e06b47810e38
### ERROR
[code]
---
_STAFF NOTIFIED_: @SiCKRAGETV/owners @SiCKRAGETV/m

[2015-02-20 21:39] TehWardy opened #690 "[APP SUBMITTED]: [Errno 2] No such file or directory: '/share/MD0_DATA/Download/complete/tv/The Big Bang/The Big Bang Theory S04/The Big Bang Theory S04E15.mkv'"
### INFO
Python Version: **2.7 (r27:82500, Aug 21 2010, 07:52:47)
[GCC 4.1.3 20070929 (prerelease) (Ubuntu 4.1.2-16ubuntu2)]**
Operating System: **Linux-3.4.6-x86_64-with-glibc2.4**
Branch: **develop**
Commit: SiCKRAGETV/SickRage@62f45524eb9f1e3762a22af0bcd576e4285bad52
Link to Log: https://gist.github.com/dad9462894f7534081ec
### ERROR
[code]
---
_STAFF NOTIFIED_: @SiCKRAGETV/owners @SiCKRAGETV/m

[2015-02-20 21:54] #688 closed

[2015-02-20 21:56] fernandog commented on #668
@brimur so if the show does not have subtitle enable you should enable in the show page not in mass update.

If you don't want this try disable javascript and try to select them

[2015-02-20 21:57] fernandog commented on #653
so its working. It not showing that huge error.

[2015-02-20 21:58] #687 closed

[2015-02-20 21:59] #689 closed

[2015-02-20 21:59] fernandog commented on #685
fixed in develop. wait merge to master

[2015-02-20 21:59] #685 closed

[2015-02-20 22:04] matigonkas commented on #653
yes it is working , thanks for the fix :)

[2015-02-20 22:25] ofirda opened #691 "sickRage does not find episodes available on torrents"
Some episodes being search on the pre configured torrents cannot be found (even though exists in torrent website)

Example - Banshee season 3 (any episode) here's the log

[code]
This is easily found on the oldPiarteBay or kickass.to but not picked up by SR

[2015-02-20 22:36] gborri commented on #657
@TagForce it happens.
the scenario is: add show, start snatch for an episode, the episode is not foud, try again and the popup appear

[2015-02-20 22:55] fernandog commented on #691
@ofirda we need the FULL log

[2015-02-20 22:59] fernandog commented on #679
@gborri can you check this? Do you know transmission code don't you?

[2015-02-20 23:01] fernandog commented on #690
@TehWardy what did you do ? can you explain everything step by step?
did you deleted the episode?

[2015-02-20 23:31] djack42 opened #692 "[APP SUBMITTED]: invalid literal for int() with base 10: 'undefined'"
### INFO
Python Version: **2.7.1 (r271:86832, Aug 23 2014, 08:54:18)
[GCC 4.8.3 20140401 (prerelease)]**
Operating System: **Linux-3.14.14-armv7l-with-glibc2.4**
Branch: **develop**
Commit: SiCKRAGETV/SickRage@62f45524eb9f1e3762a22af0bcd576e4285bad52
Link to Log: https://gist.github.com/80a08370433103aa2fb3
### ERROR
[code]
---
_STAFF NOTIFIED_: @SiCKRAGETV/owners @SiCKRAGETV/moderators

[2015-02-20 23:32] fernandog commented on #692
@abeloin another one

[2015-02-20 23:43] djack42 commented on #692
Better log :

AAValueError: invalid literal for int() with base 10: 'undefined'
AA    showObj = sickbeard.helpers.findCertainShow(sickbeard.showList, int(show))
AA  File "/opt/sickrage/sickbeard/webserve.py", line 1827, in getEpisodes
AA    episodes += getEpisodes(searchThread, searchstatus)
AA  File "/opt/sickrage/sickbeard/webserve.py", line 1864, in getManualSearchStatus
AA    result = function

[2015-02-21 00:02] brimur commented on #668
Ok so is that a bug or a feature request since its already in the mass update but doesn't work? Would you know the SQL to enable that say using sqlite3? Thanks

[2015-02-21 00:03] rrd911 opened #693 "Postprocessing is having issues with analyzing episode names"
Post processing isn't analyzing episode files properly.
Episode name Pokémon - 16x25 - A Battle by Any Other Name!.avi

Sickrage analyzes the episode as
Pok\xe9mon - 16x25 - A Battle by Any Other Name!.avi

2015-02-20 15:43:39 INFO     POSTPROCESSER :: Analyzing name u'/media/tv_complete/Pok\xe9mon - 16x25 - A Battle by Any Other Name!.avi'
2015-02-20 15:43:39 INFO     POSTPROCESSER :: Analyzing n

[2015-02-21 00:17] TiagoDM opened #694 "[APP SUBMITTED]: sequence item 0: expected string, Language found"
### INFO
Python Version: **2.7.8 (default, Jun 30 2014, 16:08:48) [MSC v.1500 64 bit (AMD64)]**
Operating System: **Windows-8-6.2.9200**
Branch: **master**
Commit: SiCKRAGETV/SickRage@ac153cf2320b3b6d0a8aa9a1b1646a51347581d6
### ERROR
[code]
---
_STAFF NOTIFIED_: @SiCKRAGETV/owners @SiCKRAGETV/moderators

[2015-02-21 00:42] GMBrian opened #695 "Issue with post-processing"
I'm running SickRage on my synology DS214play.

My issue is that SickRage is not post-processing. Even manually it gives the following error:

Processing folder /volume1/video/series/~New
TV_DOWNLOAD_DIR: /volume1/video/series/~New
Found temporary sync files, skipping post processing

Also, in the log I find the following warnings:

2015-02-21 02:38:12 WARNING  Thread-57 :: Found temporary sync fi

[2015-02-21 00:45] Quiptix commented on #234
@fernandog
I'm afraid we don't understand each other then...
You said: "We are looking others things", so which others and/or things...

[2015-02-21 00:47] #692 closed

[2015-02-21 00:49] fernandog commented on #234
all this issues: https://github.com/SiCKRAGETV/sickrage-issues/issues?q=is%3Aopen+is%3Aissue+label%3A%221%3A+Bug+%2F+issue%22

[2015-02-21 00:57] vladsjc commented on #695
I have exactly the same problem. It started last week, it must be the last Update. My download dir stopped from post processing, and when i did the manual post process it gave me the same error:

Thread-58 :: Found temporary sync files, skipping post processing

My download dir is a CIFS mount (maybe that information will help), from my NAS.  I had to create subdirs and move the downloaded files t

[2015-02-21 01:00] fernandog commented on #695
if you have any of this file in the folder SR don't process it:
extension == '!sync' or extension == 'lftp-pget-status' or extension == 'part' or extension == 'bts'

this happens when file is seeding, or still downloading, or using Bitorrent sync, etc

[2015-02-21 01:11] vladsjc commented on #695
But this is happening after i finished downloaded some of the files, and I am sure there weren't any file like this. This is the folder content:

drwxr-xr-x 0 www-data www-data         0 Feb 19 17:57 Bates.Motel.S01E06.SWESUB.HDTV.XviD.MP3-little_devil
drwxr-xr-x 0 www-data www-data         0 Feb 20 02:56 Elementary.S03E15.HDTV.x264-LOL[ettv]
-rwxr-xr-x 1 www-data www-data 129273698 Feb 20 00:35 T

[2015-02-21 01:18] fernandog commented on #695
@vladsjc @GMBrian can you try to enable "Postpone post processing" setting?

@djoole is that it?

[2015-02-21 01:18] fernandog commented on #684
@faidwen please update and report back

[2015-02-21 01:19] fernandog commented on #692
@djack42  please update and report back

[2015-02-21 01:19] fernandog commented on #688
@ripper1967  please update and report back

[2015-02-21 01:26] djoole commented on #695
Actually they have to disable it.
@adam111316 asked to me to make it enabled by default (safer option) : https://github.com/SiCKRAGETV/SickRage/pull/783
So people having !sync files in their folder and wanting post processing not to wait for the sync to be finished, should disable the option.

[2015-02-21 01:30] fernandog commented on #658
@Cmtahm develop update. please update and report back

[2015-02-21 01:31] fernandog commented on #122
@valantislevas develop update. please update and report back

[2015-02-21 01:33] Quiptix commented on #234
@fernandog Ok, fair enough!! :)

[2015-02-21 01:35] fernandog commented on #695
but what about a folder with more than one episode and just one !sync file? will it don't PP all the other files?

[2015-02-21 01:37] fernandog commented on #690
@TehWardy do you have postpone setting disabled in PP?

[2015-02-21 01:37] fernandog commented on #234
@Quiptix feel free to help! =)

[2015-02-21 01:38] djoole commented on #695
No, that was the original "issue" mentioned here : https://github.com/SiCKRAGETV/SickRage/pull/782#issuecomment-54734603

Hence my mod to disabling postponing and the option to enable/disable (enabled by default)

[2015-02-21 01:39] fernandog commented on #695
what about this kind of issues? we have some of them: https://github.com/SiCKRAGETV/sickrage-issues/issues/690

[2015-02-21 01:40] Kallb123 opened #696 "[APP SUBMITTED]: [Errno 2] No such file or directory: '/mnt/tv/Modern Family/Season 6/Modern Family S06E15 Fight or Flight SD TV.mp4'"
### INFO
Python Version: **2.7.6 (default, Mar 22 2014, 22:59:38)
[GCC 4.8.2]**
Operating System: **Linux-3.13.0-32-generic-i686-athlon-with-Ubuntu-14.04-trusty**
Branch: **master**
Commit: SiCKRAGETV/SickRage@ac153cf2320b3b6d0a8aa9a1b1646a51347581d6
Link to Log: https://gist.github.com/dcf0aedaa48e2b5ee28a
### ERROR
[code]
---
_STAFF NOTIFIED_: @SiCKRAGETV/owners @SiCKRAGETV/moderators

[2015-02-21 01:40] fernandog commented on #695
@djoole but syncing files in linux are locked so sickrage won't be able to process, isn't? what about other OS without the locked files?

[2015-02-21 01:44] fernandog commented on #696
@Kallb123 can you send a screen shot of your PP settings?

[2015-02-21 01:44] fernandog commented on #695
another one just pop out: https://github.com/SiCKRAGETV/sickrage-issues/issues/696

[2015-02-21 01:46] djoole commented on #695
Not sure they are locked.. But the sure thing is (at least on my freebsd system) SR don't try to PP them and wait nicely for them to be synced.

I don't know why issues are hoping out now, because this option has been merged 5 months ago...

[2015-02-21 01:47] Kallb123 commented on #696
Fails to process any episodes, manually or automatically. It's set to Copy, S&P every 10 mins. No Unpacking (it was enabled but I disabled it to test).

After exploring a bit more, I can see the files in Putty and Windows, but I can't open the files in VLC like I should be able to. May not be a SR issue, but a Transmission error. This is all (6) completed downloads though.

[2015-02-21 01:48] djoole commented on #695
I'm 203 commits behind... maybe something has been changed in this huge update? Something breaking the postponing function?

[2015-02-21 01:48] fernandog commented on #695
we just fixed the auto-submit issue =)

[2015-02-21 01:48] Kallb123 commented on #696
@fernandog http://i.imgur.com/4bOZ4ge.png

Below that is unchecked items.

[2015-02-21 01:50] fernandog commented on #696
@Kallb123 maybe transmission is still moving them?
do you have transmission option to add .part to incomplete files?
do you have a separated folder to incomplete and complet at transmission (you should)

[2015-02-21 01:51] fernandog commented on #627
@bitzorro do you use transmission?
do you have enabled transmission option to add .part to incomplete files?
do you have a separated folder to incomplete and complet at transmission (you should)

[2015-02-21 01:52] djoole commented on #695
what is this auto-submit issue?

[2015-02-21 01:54] Kallb123 commented on #696
@fernandog
1. I don't think so as all items have appeared, not like it's stuck copying one.
2. I'm not sure where the option is, but I observed .part being added via putty when I looked in the incomplete directory.
3. Yep.

Here's a screenshot of completed downloads: http://i.imgur.com/dVE4tqW.png
They won't even open in VLC via samba. Thought it might be permissions, but I've set 777 just to test

[2015-02-21 01:54] fernandog commented on #695
when an error appears in the LOG for the user, he has the option to hit a button to auto open an issue here in GITHUB. All this issues has "[APP SUBMITTED]" in the title

[2015-02-21 01:58] fernandog commented on #696
that's strange!
but M@dern f@mily is there and this issue is about it

[2015-02-21 01:59] djoole commented on #695
ok..

Well all I can tell is the changes i've made in september about disabling PP postponing when sync files are still present (because there are always sync files in my dl dir!) is only active if people do uncheck the option in PP settings.

@Kallb123 let it check, so must be something else..

[2015-02-21 02:01] Kallb123 commented on #696
@fernandog It is. It's happening with every file listed there too. Maybe ownership permissions issue? That's what Windows says:
http://i.imgur.com/3qMTSVi.png

[2015-02-21 02:02] faidwen commented on #684
I am still receiving the following error with the new code on version BRANCH: (develop) / COMMIT: (dc6e4c6816c3d2226e019fdab656005dd8f6c9f5)

2015-02-20 20:57:31 Thread-15 :: Failed doing webui callback: Traceback (most recent call last):
  File "/root/.sickrage/sickbeard/webserve.py", line 230, in async_call
    result = function(**kwargs)
  File "/root/.sickrage/sickbeard/webserve.py", line 1873

[2015-02-21 02:05] Kallb123 commented on #696
Not sure if it helps, but almost all the folders involved are being mapped onto virtual machines. Pretty sure it's set up right as I can move files back and forth between host and client, just transmission is outputting them strange.

[2015-02-21 02:06] vladsjc commented on #695
@fernandog I dont know the algorithms behind the post-processing, but for me it is strange that if I have a folder, for example: /mnt/download, and inside this folder I have 3 subfolders, for 3 different series/episodes, Ex:

/mnt/download/serieA/episode1.xxx
/mnt/download/serieB/episode1.xxx
/mnt/download/serieC/episode1.xxx

What it is happening, at least for me, If i have chosen the /mnt/downlo

[2015-02-21 02:12] fernandog commented on #695
@vladsjc you **MUST** have a incomplete folder and a complete folder BUT you can disabled postpone setting. all downloader have this incomplete and complete folder setting

[2015-02-21 02:13] fernandog commented on #696
@TagForce any thoughts?

[2015-02-21 02:13] adam111316 commented on #695
@djoole: I left sickrage, so I can't comment sorry.

[2015-02-21 02:14] fernandog commented on #684
@faidwen what are the steps to reproduce it? I can't!

[2015-02-21 02:14] rrd911 opened #697 "ERROR POSTPROCESSER :: Unable to move file /media/tv_complete/House - 6x10 - The Down Low.avi to /media/tv/House/House - 6x10 - The Down Low.avi: [Errno 2] No such file or directory: '/media/tv_complete/House - 6x10 - The Down Low.avi'"
Postprocessing fails stating that the file does not exist. I am using the move method. The file is deleted from the source directory.

Works for some files but a few fail

SR Version:	BRANCH: (master) / COMMIT: (ac153cf2320b3b6d0a8aa9a1b1646a51347581d6)
SR Config file:	/home/raydias/sickrage/config.ini
SR Database file:	/home/raydias/sickrage/sickbeard.db
SR Cache Dir:	/home/raydias/sickrage/cache

[2015-02-21 02:16] fernandog commented on #697
@abeloin @TagForce we must found the root cause of this. There are a lot of this issue in the last days.

[2015-02-21 02:16] Kallb123 commented on #690
Looks very similar to my issue. For me, it's not just SR having trouble, but no programs can access the files, seems something wrong with transmission/ownership/permissions. Please post a solution of you find one, I'll do likewise.

[2015-02-21 02:18] fernandog commented on #690
@Kallb123 there's lot of them

https://github.com/SiCKRAGETV/sickrage-issues/search?q=%5BErrno+2%5D+No+such+file+or+directory%3A+&type=Issues&utf8=%E2%9C%93

source folder and destination folder are in the same partition/hdd?

[2015-02-21 02:21] fernandog commented on #684
@faidwen I reverted boths commits. the original and my possible fix.
update and report back please

[2015-02-21 02:23] Kallb123 commented on #697
@fernandog
Wow, this seems like more than a coincidence. I was willing to believe I had done something wrong... Fresh install of ubuntu server, fresh virtual machines, fresh SR and Transmission. The thing pestering me is that no programs can access the files, tried MXPlayer, VLC, and obviously SR.

[2015-02-21 02:23] djoole commented on #695
no problem..

@fernandog i found the commit i made : https://github.com/SiCKRAGETV/SickRage/commit/6a393cc7555da05514b9d10e1eaab96cbd67a3e3
It was in sept 7 2014..
Must have nothing to do with these new issues reported, @vladsjc reported that he has the problem since only one week

[2015-02-21 02:25] Kallb123 commented on #690
@fernandog. Physically they are, but Transmission and SR are running in a (single)  virtual machine with downloads and downloading mapped separately and then mounted on boot to /mnt/downloads and /mnt/downloading

[2015-02-21 02:29] cyberhiker commented on #676
It seems to have corrected itself.  Don't know what happened.

[code]

[2015-02-21 02:29] fernandog commented on #695
@djoole not blaming you. just wanted to know about the postpone. sorry

[2015-02-21 02:30] djoole commented on #695
no problem :)

[2015-02-21 02:30] #676 closed

[2015-02-21 02:31] faidwen commented on #684
Perplexing, I will keep trying to troubleshoot.

Most recent log http://pastebin.com/V2sRDeRr

THANK you for your patience1

[2015-02-21 02:35] vladsjc commented on #695
@fernandog I have 2 different folders. One for downloading files (TV Download Dir) and another one to copy since the download are complete (My Series folder). I was talking about just the download folder (some torrents have the file inside a folder),

[2015-02-21 02:44] Kallb123 commented on #695
@vladsjc I think what @fernandog was referring to was a folder for incomplete downloads, for files still being transferred by Transmission or whatever. So they are in transit in "Downloading"  folder, then get put into a "Downloaded" folder, then SR PPs them into your actual series folders.

[2015-02-21 02:47] fernandog commented on #695
You need 3:
Incomplete (still downloading)
Complete (finished downloading and waiting PP)
Series folder (main folder were all series are. One subfolder for each tvshow

[2015-02-21 03:26] abeloin commented on #589
Yay, the internet is back.

[2015-02-21 03:27] abeloin commented on #589
@fernandog ok

[2015-02-21 04:12] abeloin commented on #696
@Kallb123 Can you provide the following:
* User running Transmission
* Group membership for that user
* User running SickRage
* Group membership for that user
* File permission,owner and group for /mnt/downloads/tv/Modern.Family.S06E15.HDTV.x264-LOL.mp4
* File permission,owner and group for /mnt/tv/Modern Family/Season 6/

[2015-02-21 04:13] abeloin commented on #693
Make sure your locale for sickrage user is UTF-8

[2015-02-21 04:29] morrison22 commented on #129
Awesome..  It's functioning!!!  Thank you so much for making this happen.  I wish I knew more about programming so I could help with the errors it makes.  But it is definitely usable now!  Thank you again.

[2015-02-21 04:34] abeloin commented on #611
@fernandog I think we just need to change this line https://github.com/SiCKRAGETV/SickRage/blob/master/lib/subliminal/videos.py#L228 from
```if isinstance(entry, unicode):```
to
```if not isinstance(entry, unicode):```

So we need somebody with the issue to test it

[2015-02-21 08:18] bitzorro commented on #627
Im using Utorrent and separated folders.

[2015-02-21 08:26] bitzorro opened #698 "[APP SUBMITTED]: exception: access violation writing 0x00003EA0"
### INFO
Python Version: **2.7.9 (default, Dec 10 2014, 12:24:55) [MSC v.1500 32 bit (Intel)]**
Operating System: **Windows-7-6.1.7601-SP1**
Branch: **develop**
Commit: SiCKRAGETV/SickRage@62f45524eb9f1e3762a22af0bcd576e4285bad52
### ERROR
[code]
---
_STAFF NOTIFIED_: @SiCKRAGETV/owners @SiCKRAGETV/moderators

[2015-02-21 08:50] GMBrian commented on #695
Disabling the Post-pone post processing options worked to get rid of the message. I wonder why I didn't manage to read that option. I also guess it's not the real solution to what's going on but it'll work fine for now. Thanks!

[2015-02-21 09:23] antoniong opened #699 "[Feature Request] Add archive option to manual post process"
Sometimes I had to manually add an episode. Next I do a rescan. Problem is that the manually added episode often is not in the same quality as I have set in SR. As a result this episode stays in Backlog because the quality differs. Now I have to correct this myself.

It would be a nice feature when SR discovers a new episode that has been manually added that SR would accept this as the final and n

[2015-02-21 09:49] djack42 commented on #692
Updated and triggered manual searches on the sames episodes and it seems it is fixed. Thx
I got the following error though :
2015-02-21 10:43:56 SEARCHQUEUE-MANUAL-114801 :: [Rarbg] :: Error while searching Rarbg, skipping: フ
Should i report it ?

[2015-02-21 09:58] djack42 opened #700 "[APP SUBMITTED]: u'\u30d5'"
### INFO
Python Version: **2.7.1 (r271:86832, Aug 23 2014, 08:54:18)
[GCC 4.8.3 20140401 (prerelease)]**
Operating System: **Linux-3.14.14-armv7l-with-glibc2.4**
Branch: **develop**
Commit: SiCKRAGETV/SickRage@fbcadb278054808639884dca5804d544bbc0a675
Link to Log: https://gist.github.com/250d268999f0b741b3f2
### ERROR
[code]
---
_STAFF NOTIFIED_: @SiCKRAGETV/owners @SiCKRAGETV/moderators

[2015-02-21 10:05] djack42 commented on #700
Sorry for the bad log, i just updated my config file. It will be ok now.

AA
AAKeyError: u'\u30d5'
AA  File "/usr/lib/python2.7/urllib.py", line 1238, in quote
AA    searchURL = self.urls['search'] % (urllib.quote(search_string), sc)
AA  File "/opt/sickrage/sickbeard/providers/rarbg.py", line 174, in _doSearch
AA    itemList += self._doSearch(curString, 'eponly', len(episodes))
AA  File "/opt/sick

[2015-02-21 10:06] vdhmaaarten commented on #691
http://www.reddit.com/r/sickbeard/comments/2vb18o/access_provider_via_proxy_in_sickrage_is_not/

kickass.to is taken offline

[2015-02-21 10:44] fernandog commented on #700
@CoRpO is there a way to handle this error? Thanks

[2015-02-21 10:46] fernandog commented on #695
Couchpotato saves to this folder too? Maybe its creating the sync files

[2015-02-21 10:51] fernandog commented on #698
Can you confirm permissions ?

[2015-02-21 10:55] fernandog commented on #611
@pct00 can you test it please?
stop SR, use the above change, save, start SR, try to reproduce.

[2015-02-21 11:03] fernandog commented on #697
@rrd911 whats your OS? Can you access target folder? All permissions ok?

[2015-02-21 11:04] #684 closed

[2015-02-21 11:05] fernandog commented on #658
@Cmtahm

[2015-02-21 11:06] fernandog commented on #669
@hoefs

[2015-02-21 11:07] fernandog commented on #671
@hoefs

[2015-02-21 11:07] TehWardy commented on #690
This occurs when sickrage is asked to post process lots of files.
It seems to get itself confused when moving files from a download location to a library location.

I drop my files in using sab utorrent and just straight moves in windows.

The problem appears to be the order in which events occur in the post process script or perhaps in the way its tracking the work it has done.

[2015-02-21 11:11] fernandog commented on #696
@Kallb123 can you check if this torrent file there were a folder with the name of the episode and the episode itself inside it? Maybe PP up the file one level and delete the folder.
@TagForce can this happen?

[2015-02-21 11:12] TehWardy opened #701 "post process file renaming"
Recently I decided I wanted to change the way files were named / organised in my existing libs so i changed the naming expression in the post process options and then ticked all the rename boxes in the mass update page and kicked it off.

It doesn't appear to have done anything.
Any ideas?

[2015-02-21 11:13] fernandog commented on #701
I think it does not rename already PP files

[2015-02-21 11:16] bitzorro commented on #698
Absolutly nothing wrong with permissions, been running the same system for 6 months.

[2015-02-21 11:20] fernandog commented on #698
Is it possible to try again the same file?

[2015-02-21 11:23] fernandog commented on #690
can you check if this torrent file there were a folder with the name of the episode and the episode itself inside it?
We need to find what is common for all this errors

[2015-02-21 11:28] #631 closed

[2015-02-21 11:30] Hanky2 opened #702 "Pushover Notifications not working."
Unsure if anyone else uses Pushover, but since i went from the standard SickBeard repo to SickRage I have not been able to make it work. The interface on sickrage says that it was successfully sendt but it never reaches my phone. There are two fields that require a Pushover key and User key, which is essentially the same. You only need one key.
Thank you for looking into it

[2015-02-21 11:31] TehWardy commented on #690
Its a mix in my case ... Also my files are stored on a nas its a raid 5 volume spread over 5 disks so the partition is the same but the share is not as sickrage moves files from /share/download/tv/* to /share/multimedia/tv/show/season/ep name

[2015-02-21 11:32] fernandog commented on #691
Please update SR.
TPB has an issue with season pack search
Can you find the quality you want using browser

[2015-02-21 11:33] fernandog commented on #702
Follow guidelines

[2015-02-21 11:33] #702 closed

[2015-02-21 11:33] TehWardy commented on #690
Downloading for me happens inside an in progress folder and also on another machine (in progress for sab dl other machine for utorrent) sickrage grabs nzb and torrent files and feeds both apps.

When a download is complete its moved for post processing.

[2015-02-21 11:37] BillNasty commented on #654
@DcR-NL  Those are the same settings as I'm using for mine so that shouldn't be the issue.  I've changed up the HTML parse a little bit hopefully fixing it and pushed the commit to [my repository](https://github.com/BillNasty/SickRage) in the branch provider AR fix.  I haven't spent much time on github and am unsure of the best way to send you the commit for testing

[2015-02-21 11:39] DcR-NL commented on #654
@BillNasty I've looked at the current implementation and changing line 187 to
[code]
And line 192 to
[code]
seems to fix it form me.

I will try and take a look at your new implementation.

[2015-02-21 11:46] BillNasty commented on #654
That's how I had them set up when I first made the file.  There was a blank cell on the left of the table which just disappeared for me one day.  The problem is that now the seeder and leecher cell numbers will have to be adjusted too(lines 195&196).  My commit should work for both cases as its now searching the whole row rather than individual cells.  Let me know how it works for you

[2015-02-21 11:50] DcR-NL commented on #654
@BillNasty You're right, your new implementation works great, good work and thank you! :)

[2015-02-21 11:53] Kallb123 commented on #696
@fernandog there's a variety of different torrents, some within folders, some files directly inside "downloads". All are failing.

I'm sure it's something to do with permissions and it being a virtual machine. I'll provide the details @abelion asked for later today.

[2015-02-21 11:55] BillNasty commented on #654
No problem, thanks for the help with debugging the code

[2015-02-21 12:17] fernandog commented on #690
@TehWardy
Can you provide the following:
* User running torrent downloader
* Group membership for that user
* User running SickRage
* Group membership for that user
* File permission,owner and group for /share/MD0_DATA/Download/complete/tv/The Big Bang/The Big Bang Theory S04/
* File permission,owner and group of tv-shows folders

[2015-02-21 12:36] TiagoDM commented on #611
I'm on windows and i don't really understand much about python (i normally use vb to program).. but i made a little test to try to know about the locale (i'm portuguese)..

C:\Windows\system32>python
Python 2.7.8 (default, Jun 30 2014, 16:08:48) [MSC v.1500 64 bit (AMD64)] on win
32
Type "help", "copyright", "credits" or "license" for more information.

(None, None)

The locale python gave was (No

[2015-02-21 12:41] TiagoDM commented on #611
ok, changed it to portuguese -> import locale; locale.setlocale(locale.LC_ALL, 'ptg'), but after i close the command line window and start a new instance of python, the locale came back to (None, None).

How can i change python (like startup script) to change locale everytime i get a python command line?

[2015-02-21 12:44] TehWardy commented on #690
As I mentioned above, my torrent app runs on another box but my nas holds all the files for everything even temp files during downloads.

I only have 1 user setup on the nas which is the default administration user setup by qnap (my nas vendor).
From what I can tell that user is in all the groups configured on the box which are "users" and  "administrators".
That user has global full control level

[2015-02-21 12:46] TehWardy commented on #701
Odd ... sickbeard did when I did this before i'm sure of it because I had an existing lib when I started using sickbeard and it reshuffled everything for me sorting out naming and folder structure on the existing files for each show as I added them.

Would it work if I removed all the shows the re-add them to sickrage?

[2015-02-21 12:58] fernandog commented on #611
@TiagoDM ignore the locale command

stop SR, edit SickRage/lib/subliminal/videos.py line 228

from
```if isinstance(entry, unicode):```
to
```if isinstance(entry, basestring):```

try to reproduce it.

[2015-02-21 13:01] bitzorro commented on #698
cant really tell wy this Error pops up ? the file have been auto-processed and is playable in my library!

[2015-02-21 13:01] TiagoDM commented on #611
ok, ill try that and post results

[2015-02-21 13:02] fernandog commented on #701
@TagForce can you confirm please?

[2015-02-21 13:03] bitzorro commented on #698
And just now it gave me the same Error again.

[2015-02-21 13:03] fernandog commented on #698
same file or different one?
can you post a full debug log?

[2015-02-21 13:07] bitzorro commented on #698
Same file ! il try to post the debug log later, my son is using the machine for gaming :) im not allowed to touch it right now...

[2015-02-21 13:08] TiagoDM commented on #611
Made the modification as you said, tried to download subtitles for Hannibal.S02E11.Kō No Mono but ...

2015-02-21 13:04:19 Thread-51 :: Error occurred when downloading subtitles: Traceback (most recent call last):
  File "C:\Users\Tiago\Desktop\SickRage-dev\sickbeard\tv.py", line 1399, in downloadSubtitles
    multi=sickbeard.SUBTITLES_MULTI, cache_dir=sickbeard.CACHE_DIR)
  File "C:\Users\Tiago\D

[2015-02-21 13:09] fernandog commented on #611
@TiagoDM are you sure you changed the file after SR was shutdown?

[2015-02-21 13:10] TiagoDM commented on #611
@fernandog ... ok, ill try that way. I modified the file with sickrage running and then restarted.

[2015-02-21 13:10] fernandog commented on #611
@TiagoDM can you make this test ?

read this comment: https://github.com/SiCKRAGETV/sickrage-issues/issues/611#issuecomment-75254921

[2015-02-21 13:11] fernandog commented on #698
=) no problem! I get it.

[2015-02-21 13:17] vladsjc commented on #695
@fernandog Thanks for your help, and for this great product. I always worked with 2 folders, and all things were OK, but I will change the config in transmition, that is not a problem.

[2015-02-21 13:19] fernandog commented on #695
@vladsjc we still didn't found the root cause. I need to make this tests

[2015-02-21 13:19] TehWardy commented on #701
Wierd ... took its time but it appears to have done it over night.
It works exactly as I explained.

Assuming that makes sense ... You can close this if you want @fernandog (mark as complete or something)

[2015-02-21 13:25] TiagoDM commented on #611
@fernandog about the #611, i have 2 lines with "logger.log("Error occurred when downloading subtitles:" : (1116 and 1422) with that search string but those are a litle different...

(line 1116)
except Exception:
            logger.log("Error occurred when downloading subtitles: " + traceback.format_exc(), logger.DEBUG)

(line 1422)
        except Exception as e:
            logger.log("Error occur

[2015-02-21 13:36] TiagoDM commented on #611
![pythonw](https://cloud.githubusercontent.com/assets/7458613/6314228/a99deaaa-b9ce-11e4-8f91-b479d6cf2a7d.gif)

[2015-02-21 13:39] TehWardy opened #703 "Post Processing Order of Priorities"
I happen to be in this strange situation where a friend has handed over a ton of the tv files I was missing.
So I figured if I put them in my download folder then post process them sickrage will handle making sure they are named and placed correctly and pull in any further metadata for them.
Unfortunately sickrage is telling me that because it has snatched the files in sab (which failed by the way

[2015-02-21 14:12] vladsjc commented on #695
If this can help, i use a exclusive download dir for sickrage, no couchpotato or other thing in the same dir. If you need i can send more information about my setup.

[2015-02-21 14:15] fernandog commented on #611
Did you install using git clone? If so stop SR and run: git reset --hard HEAD

[2015-02-21 14:17] #701 closed

[2015-02-21 14:18] TiagoDM commented on #611
No... i really dont use the clone. I unzipped and copied to a folder... i'm trying the develop version, i copied my database (sickbeard.db), but after a message to update that version (??) and a restart, it didn't work also.

I'm now trying with no database at all.

[2015-02-21 14:19] fernandog commented on #611
Just copy this file and replace the one you changed. Nothing elas.
https://github.com/SiCKRAGETV/SickRage/blob/master/lib/subliminal/videos.py#L228

[2015-02-21 14:26] Psychoteur opened #704 "[APP SUBMITTED]: execv() arg 2 must contain only strings"
### INFO
Python Version: **2.7.8 (default, Dec 15 2014, 02:33:48)
[GCC 4.2.1 20070831 patched [FreeBSD]]**
Operating System: **FreeBSD-9.1-RELEASE-amd64-64bit-ELF**
Branch: **master**
Commit: SiCKRAGETV/SickRage@ac153cf2320b3b6d0a8aa9a1b1646a51347581d6
Link to Log: https://gist.github.com/7734215cf9214285bd58
### ERROR
[code]
---
_STAFF NOTIFIED_: @SiCKRAGETV/owners @SiCKRAGETV/moderators

[2015-02-21 14:29] #704 closed

[2015-02-21 14:29] fernandog commented on #704
check configuration and try again.

[2015-02-21 14:33] TiagoDM commented on #611
ok, when i run from cmd (windows) python sickbeard.py...

C:\Users\Tiago\Desktop\SickRage-dev>python SickBeard.py
Traceback (most recent call last):
  File "SickBeard.py", line 62, in <module>
    import sickbeard
  File "C:\Users\Tiago\Desktop\SickRage-dev\sickbeard\__init__.py", line 33, in
<module>
    from sickbeard import providers, metadata, config, webserveInit
  File "C:\Users\Tiago\Deskto

[2015-02-21 14:40] TiagoDM commented on #611
Ok... sorry to bother you with ... i changed the "raise exception" on line 1423 on tv.py.. and sickrage starts again...

[2015-02-21 15:05] abeloin commented on #611
@fernandog I did further check and the error is the windows console's inability to display UTF-8 char.

Maybe we should disable console logging in windows(--quiet)?

[2015-02-21 15:12] TehWardy opened #705 "[APP SUBMITTED]: <sickbeard.tv.TVEpisode object at 0x97a002c>"
### INFO
Python Version: **2.7 (r27:82500, Aug 21 2010, 07:52:47)
[GCC 4.1.3 20070929 (prerelease) (Ubuntu 4.1.2-16ubuntu2)]**
Operating System: **Linux-3.4.6-x86_64-with-glibc2.4**
Branch: **develop**
Commit: SiCKRAGETV/SickRage@fbcadb278054808639884dca5804d544bbc0a675
### ERROR
[code]
---
_STAFF NOTIFIED_: @SiCKRAGETV/owners @SiCKRAGETV/moderators

[2015-02-21 15:12] TehWardy opened #706 "[APP SUBMITTED]: <sickbeard.tv.TVEpisode object at 0x97a002c>"
### INFO
Python Version: **2.7 (r27:82500, Aug 21 2010, 07:52:47)
[GCC 4.1.3 20070929 (prerelease) (Ubuntu 4.1.2-16ubuntu2)]**
Operating System: **Linux-3.4.6-x86_64-with-glibc2.4**
Branch: **develop**
Commit: SiCKRAGETV/SickRage@fbcadb278054808639884dca5804d544bbc0a675
### ERROR
[code]
---
_STAFF NOTIFIED_: @SiCKRAGETV/owners @SiCKRAGETV/moderators

[2015-02-21 15:12] TehWardy opened #707 "[APP SUBMITTED]: u'\u0421'"
### INFO
Python Version: **2.7 (r27:82500, Aug 21 2010, 07:52:47)
[GCC 4.1.3 20070929 (prerelease) (Ubuntu 4.1.2-16ubuntu2)]**
Operating System: **Linux-3.4.6-x86_64-with-glibc2.4**
Branch: **develop**
Commit: SiCKRAGETV/SickRage@fbcadb278054808639884dca5804d544bbc0a675
### ERROR
[code]
---
_STAFF NOTIFIED_: @SiCKRAGETV/owners @SiCKRAGETV/moderators

[2015-02-21 15:12] TehWardy opened #708 "[APP SUBMITTED]: u'\u0413'"
### INFO
Python Version: **2.7 (r27:82500, Aug 21 2010, 07:52:47)
[GCC 4.1.3 20070929 (prerelease) (Ubuntu 4.1.2-16ubuntu2)]**
Operating System: **Linux-3.4.6-x86_64-with-glibc2.4**
Branch: **develop**
Commit: SiCKRAGETV/SickRage@fbcadb278054808639884dca5804d544bbc0a675
### ERROR
[code]
---
_STAFF NOTIFIED_: @SiCKRAGETV/owners @SiCKRAGETV/moderators

[2015-02-21 15:22] TehWardy commented on #708
I get quite a few of these, might be worth making them warnings rather than errors in the event that a third party API is for some reason "unavailble" to prevent you guys wasting time on what is essentially an issue beyond your control.

[2015-02-21 15:23] TehWardy commented on #708
Although it might also be worth investigation in to why the response was considered not parsable too.

[2015-02-21 15:25] TehWardy commented on #706
I have no idea why this occurs, maybe its related to the parsing issue but figured it might be worth making a note of it here in case this info provides some additional insight in to what's going on.

[2015-02-21 15:28] TehWardy opened #709 "Post Processing Folders"
If I have a folder with say 10 files in it and 1 of them already exists in my library I find that that post processing sees the one that exists and then won't process the whole folder because of it.

Could this be improved so that each file is taken on it's own evalutation process and acted on accordingly so that all I end up with are files that truely can't be processed instead of some that can a

[2015-02-21 15:29] abeloin commented on #698
Related to this?
https://github.com/SiCKRAGETV/sickrage-issues/issues/451

[2015-02-21 15:30] fernandog commented on #611
But subtitle will be downloaded? Im on phone cant check if all this issues are from window OS

[2015-02-21 15:31] fernandog commented on #708
Whats the torrent name? is there special chars?

[2015-02-21 15:41] Kallb123 commented on #696
@abeloin and @fernandog

The details are as follows:
1. debian-transmission is the one running transmission
2. debian-transmission belongs only to a group called debian-transmission
3. Looking at the results of a top command, it appears python is the process doing the hard work of SR. The user is kallum.
4. kallum belongs to: kallum adm cdrom sudo dip plugdev lpadmin sambashare
5. ls -l outputs: -

[2015-02-21 15:42] abeloin commented on #611
I've just checked they are all windows.

[2015-02-21 15:44] TehWardy commented on #708
Not sure that's all it gave me in the logs. I'm guessing it has an issue with the unicode char '\u0413'

[2015-02-21 15:55] fernandog commented on #611
Isnt possible to set pytohn locale when starting SR?

[2015-02-21 15:58] fernandog commented on #708
Send the result of ssh: locale

[2015-02-21 15:58] fernandog commented on #708
Send the result of ssh: locale

[2015-02-21 16:05] TehWardy commented on #708
Here's the output I get in putty ...

[~] # locale
LANG=en_US.UTF-8
LC_CTYPE="en_US.UTF-8"
LC_NUMERIC="en_US.UTF-8"
LC_TIME="en_US.UTF-8"
LC_COLLATE="en_US.UTF-8"
LC_MONETARY="en_US.UTF-8"
LC_MESSAGES="en_US.UTF-8"
LC_PAPER="en_US.UTF-8"
LC_NAME="en_US.UTF-8"
LC_ADDRESS="en_US.UTF-8"
LC_TELEPHONE="en_US.UTF-8"
LC_MEASUREMENT="en_US.UTF-8"
LC_IDENTIFICATION="en_US.UTF-8"
LC_ALL=en_US.UTF-8
[~] #

[2015-02-21 16:07] Kallb123 commented on #696
It seems I missed a big part on installing tranmission. I needed to add kallum tothe group debian-transmission, set the folders to be owned by debian-transmission, and set transmission's umask setting to 2 instead of 18.

This has allowed me to view the files in Windows VLC (via samba share). This hasn't managed to allow SR to PP the files. I've redownloaded some of the files, forced processing of

[2015-02-21 16:07] TehWardy commented on #708
Technically I suppose it's wrong I should be using "en_GB" but utf-8 is thesame no matter the locale I guess.
Maybe that's the issue ... some responses are coming back as unicode not utf-8 or something.

[2015-02-21 16:54] fernandog commented on #708
What about the locale from SR user? Or its the same?

[2015-02-21 16:56] fernandog commented on #696
Check /etc/default/sickrage or sickbeard

[2015-02-21 17:01] Kallb123 commented on #696
@fernandog The home directories show 'kallum' is running SR, as I thought.

I appear to be running into problems with the VMs. I can't make folders in the mounted directories without sudo. So it might be that the destination doesn't exist because it can't create the file.

[2015-02-21 17:06] ThePieMan opened #710 "[APP SUBMITTED]: HTTPSConnectionPool(host='api.trakt.tv', port=443): Read timed out."
### INFO
Python Version: **2.7.3 (default, Apr 10 2012, 23:24:47) [MSC v.1500 64 bit (AMD64)]**
Operating System: **Windows-7-6.1.7601-SP1**
Branch: **master**
Commit: SiCKRAGETV/SickRage@ac153cf2320b3b6d0a8aa9a1b1646a51347581d6
Link to Log: https://gist.github.com/9aca10697a01e9f9dc21
### ERROR
[code]
---
_STAFF NOTIFIED_: @SiCKRAGETV/owners @SiCKRAGETV/moderators

[2015-02-21 17:06] TehWardy commented on #708
Its the same I believe ... i think it qnap use the user for SR that you use to install the qpkg with ... in my case I only have 1 user anyway so it can't be anything else.

[2015-02-21 17:10] fernandog commented on #708
Whats the name of the torrent it tried to download?

[2015-02-21 17:10] #710 closed

[2015-02-21 17:10] fernandog commented on #710
Increase trakt timeout

[2015-02-21 17:11] TehWardy commented on #703
Ah it looks like this is already there ... marking the snatched items as failed triggers a research and pulls another result ... NICE!

My bad for not spotting this one sooner I guess!

[2015-02-21 17:11] #703 closed

[2015-02-21 17:13] fernandog commented on #696
Do you know why its not supported?
@Tagforce @abeloin i think SR should test writing to PP folder before "accept" it and save it

[2015-02-21 17:15] ThePieMan commented on #710
Ah ha - I was wondering why / how Trakt was breaking and interrupting my
post-processing, but it's because the notification process is tied to the
post-processing, isn't it?

i.e. The post-processor just goes one by one, and triggers the notification
process along the way, and if the notification process fails, it just
interrupts/ends the whole post-processing string, even if there are
episodes le

[2015-02-21 17:16] fernandog commented on #710
Develop branch suppress the error and show a log instead. its working

[2015-02-21 17:19] fernandog commented on #696
@Kallb123 try rsync instead of cp

[2015-02-21 17:24] TehWardy commented on #708
It doesn't say ... that's literally all the data in the logs.

[2015-02-21 17:30] fernandog commented on #696
@Kallb123 any kucky?

[2015-02-21 17:33] fernandog commented on #708
Must be a lot of other log messages
check SickRage/Logs/sickrage.log and etc...

[2015-02-21 17:34] TehWardy commented on #708
Does it remove entries when you report using the submit button on the logs/errors page?

[2015-02-21 17:37] fernandog commented on #708
Only in the web UI

[2015-02-21 17:42] bitzorro commented on #698
@fernandog
there is nothing in the debug-logs for the past 3 days!
here is the logg:   http://pastebin.com/Jjdcd4fw

[2015-02-21 17:43] fernandog commented on #698
See abeloin comment please

[2015-02-21 18:07] Kallb123 commented on #696
@fernandog sorry, I didn't try rsync yet. I've found out that the disks having these problems are ReiserFS. It doesn't seem to play nicely with VMs. I can't mkdir or cp if the destination is on ReiserFS drive. Is it worth testing rsync? I'm in the process of shuffling data on 1 disk to format the other etc...

[2015-02-21 18:11] fernandog commented on #696
Try please! If rsync works will help others.

[2015-02-21 18:18] bitzorro commented on #698
@abeloin   @fernandog
Exeppt from this message: exception: access violation writing 0x00003EA0
 I cant say its related to #451

[2015-02-21 18:19] Kallb123 commented on #696
@fernandog
rsync -avz show.mp4 /mnt/tv/
sending incremental file list
show.mp4
rsync: mkstemp "/mnt/tv/.show.mp4.bEI0N4" failed: Operation not supported (95)

sent 128,859,843 bytes  received 154 bytes  9,545,184.96 bytes/sec
total size is 129,273,698  speedup is 1.00
rsync error: some files/attrs were not transferred (see previous errors) (code 23) at main.c(1183) [sender=3.1.0]

show.mp4 doesn't

[2015-02-21 18:30] neoatomic commented on #589
Just a quick note.
I saw on the cytec.us forums that they have created there own German fork of sickrage.
From the posts i read they might be opening issues on our issue tracker. And maybe auto-submitting errors.?
Might be a good idea to keep that in might with issues we cant confirm/understand.?

Also as we have a lot of feature requests filling up the issue tracker.
We could ask Echelon to brows

[2015-02-21 18:32] ThePieMan opened #711 "[APP SUBMITTED]: HTTPSConnectionPool(host='api.trakt.tv', port=443): Read timed out."
### INFO
Python Version: **2.7.3 (default, Apr 10 2012, 23:24:47) [MSC v.1500 64 bit (AMD64)]**
Operating System: **Windows-7-6.1.7601-SP1**
Branch: **master**
Commit: SiCKRAGETV/SickRage@ac153cf2320b3b6d0a8aa9a1b1646a51347581d6
Link to Log: https://gist.github.com/13c619e72a4849a07bd4
### ERROR
[code]
---
_STAFF NOTIFIED_: @SiCKRAGETV/owners @SiCKRAGETV/moderators

[2015-02-21 19:17] felipesalomao opened #712 "Remove Country code from srt subtitle file name"
Hi, it download subtitles perfectly, but aways add country code in srt file name, example, if i download arrow S02E05, it will download 2 files: Arrow S02E05.MKV (Video) and Arrow S02E05.pb.mkv (Subtitle), problem is that all my players (TV, iPad) only recoginize subtitle if it have exactly name (both subtitle and video file), so i have aways to edit name by hand, removing .pb from subtitle file..

[2015-02-21 19:35] fernandog commented on #589
Dont know if we can move them (FR). I think now.

[2015-02-21 19:36] #711 closed

[2015-02-21 19:37] fernandog commented on #711
Duplicate

[2015-02-21 19:37] fernandog commented on #711
Increate trakt timeout please

[2015-02-21 19:38] fernandog commented on #712
disable it in subtitle settings

[2015-02-21 19:38] #712 closed

[2015-02-21 19:42] felipesalomao commented on #712
Thank you, i not see that option before, now looking better, i found..

[2015-02-21 19:43] felipesalomao opened #713 "Add most used portuguese brazil subtitle provider (Legendas . tv )"
Hi there, most used subtitle provider in brazil is legendas . tv , it has only perfect subtitles and fast. 98% of brazilians use it.. Also make too many portuguese (portugal) subtitles, all with awesome quality and fast. Would be awesome support it on sickrage.

Already exist API wich make development more easy, if need i can ask git hub url owner to support you if have some kind of doubt

https:/

[2015-02-21 19:46] fernandog commented on #713
Owner of subtitles module (diaoul) wont add it because need user/pass

[2015-02-21 19:54] felipesalomao commented on #713
That so sad :(
I dont understand why not simple hard encode user/pass.. Or we could enter our own user / pass like we already do with private torrent providers.. Fernando, you also is from brazil, right ?! If yes, you know how legendas.tv is important for brazillians.. All another sites like opensubtitle, addict7d, download subtitles without quality, out of sync, translated by google translator or

[2015-02-21 20:02] fernandog commented on #713
Use o meu fork do periscope no crontab de hora em hora no seu diretorio de download. Quando o SR fizer o PP ele leva a legenda junto. Faco assim

[2015-02-21 20:12] felipesalomao commented on #713
Acabei de perceber só agora que o fork é seu.. rsrs
Tenho NAS da qnap, ele baixa para pasta /download, dai um script simples meu transfere tudo que é série ou filme para a pasta /multimedia/organizar e chama o post process do sickrage (apontado para essa pasta), dai processa e por sua vez joga para /multimedia/serie/nome da serie/Temporada X/Epsodio S0XE0X.mkv..
Ou seja,ele renomea o arquivo, como

[2015-02-21 20:28] fernandog commented on #713
Tem que baixar a legenda ANTES de processar

Baixe e Instale o periscope (python setup install.py)
coloque usuario e senha no arquivo de config do periscope
rode o seguinte comando
/usr/local/bin/periscope -l pt-br "/downlod"'
Legenda baixa
mova para organizar.

[2015-02-21 20:30] fernandog commented on #713
http://www.vivaolinux.com.br/artigo/Usando-cron-e-crontab-para-agendar-tarefas?pagina=2

[2015-02-21 20:46] fernandog commented on #122
@valantislevas

[2015-02-21 20:48] Quiptix commented on #234
@fernandog Surely I want to, however I cannot dedicate the time I should dedicate to it...Probably in the near future and when I have a good IDE for Python on the Mac.

[2015-02-21 21:04] TagForce commented on #709
@TehWardy Yes, better way of handling failed items in PP is definitely wanted.

[2015-02-21 21:15] TagForce commented on #695
@fernandog @vladsjc
The root cause is that SR creates a file list before it runs PP. If that contains any sync file it will halt the entire PP run. It will be changed to just skip the folder it found the syncfiles in.

[2015-02-21 21:44] stervis opened #714 "[APP SUBMITTED]: Connection error HTTPConnectionPool(host='services.tvrage.com', port=80): Max retries exceeded with url: /myfeeds/episode_list.php?key=Uhewg1Rr0o62fvZvUIZt&sid=41032 (Caused by <class 'socket.error'>: [Errno 10054] An existing connection was forcibly closed by the remote host) while loading URL http://services.tvrage.com/myfeeds/episode_list.php"
### INFO
Python Version: **2.7.8 (default, Jun 30 2014, 16:08:48) [MSC v.1500 64 bit (AMD64)]**
Operating System: **Windows-8-6.2.9200**
Branch: **master**
Commit: SiCKRAGETV/SickRage@ac153cf2320b3b6d0a8aa9a1b1646a51347581d6
### ERROR
[code]
---
_STAFF NOTIFIED_: @SiCKRAGETV/owners @SiCKRAGETV/moderators

[2015-02-21 21:58] ThePieMan opened #715 "[APP SUBMITTED]: HTTPSConnectionPool(host='sceneaccess.eu', port=443): Max retries exceeded with url: /login (Caused by <class 'socket.gaierror'>: [Errno 11004] getaddrinfo failed)"
### INFO
Python Version: **2.7.3 (default, Apr 10 2012, 23:24:47) [MSC v.1500 64 bit (AMD64)]**
Operating System: **Windows-7-6.1.7601-SP1**
Branch: **master**
Commit: SiCKRAGETV/SickRage@ac153cf2320b3b6d0a8aa9a1b1646a51347581d6
Link to Log: https://gist.github.com/f3f50c71de127b0d93e0
### ERROR
[code]
---
_STAFF NOTIFIED_: @SiCKRAGETV/owners @SiCKRAGETV/moderators

[2015-02-21 22:35] fernandog commented on #715
Too many wrong user/pass attempts isnt?

[2015-02-21 22:36] fernandog commented on #714
Banned?

[2015-02-21 22:38] ThePieMan commented on #715
I don't think so - user/pass info is correct because I get hits from SCC
frequently. However, I get frequent SR errors related to this tracker alone
fairly often too.

On Saturday, February 21, 2015, Fernando <notifications@github.com> wrote:

[2015-02-21 22:44] fernandog commented on #715
maybe too many access in a short period of time.
What's your search frequency?

[2015-02-21 22:47] #705 closed

[2015-02-21 22:48] SunMar opened #716 ".nfo file not cleaned up for Archive releases"
I've got HDTV set for Initial and 720p WEB-DL for Archive on my of my shows, and I noticed that after it downloads the WEB-DL version, the video file for the Initial HDTV is cleaned up, but an .nfo is not. I haven't checked if subtitle files are not cleaned up either.

Running on develop branch (fbcadb278054808639884dca5804d544bbc0a675) on Windows 7.

[2015-02-21 22:49] fernandog commented on #694
fixed on develop

[2015-02-21 22:49] #694 closed

[2015-02-21 22:50] fernandog commented on #716
https://github.com/SiCKRAGETV/sickrage-issues

follow guidelines

[2015-02-21 22:50] #716 closed

[2015-02-21 23:09] fernandog commented on #708
@abeloin shouldn't we add all this '\u0xxx to sanitize or something similar?
https://github.com/SiCKRAGETV/sickrage-issues/issues/707
https://github.com/SiCKRAGETV/sickrage-issues/issues/700

[2015-02-21 23:10] #707 closed

[2015-02-21 23:12] fernandog commented on #696
@Tagforce @abeloin i think SR should test writing to PP folder before "accept" it and save it. And tell user he can't PP to that folder "Operation not supported by your OS and setup"

[2015-02-21 23:14] Kallb123 commented on #696
@fernandog I like that idea. "No such file or directory" is so generic. I thought it was talking about the source file, but it was actually that it couldn't create the target file in my case.

[2015-02-21 23:22] #626 closed

[2015-02-21 23:23] fernandog commented on #706
did it happen again? did you succeeded download it ?

[2015-02-21 23:26] fernandog commented on #696
the target are a ftp?
see this:
http://www.jotschi.de/Uncategorized/2012/04/17/rsync-to-ftp-operation-not-supported-95.html

can you try that solution?

[2015-02-21 23:28] Kallb123 commented on #696
@fernandog Not FTP, just another disk within the same PC. It was using ReiserFS and being mapped into a VM. One of those things doesn't like to the other, so I'm in the process of shuffling data around to format my drives to LVM/ext4.

[2015-02-21 23:28] fernandog commented on #696
@Kallb123 but can you try that solution?

[2015-02-21 23:30] Kallb123 commented on #696
@fernandog not really, my drives are being formatted :P I highly doubt it would work anything as it was temp files that refused to be made, but any file in general.

[2015-02-21 23:39] stevehaley opened #717 "Manual Postprocessing deletes file before move"
File gets deleted before move
Processing folder I:\_New_TV
TV_DOWNLOAD_DIR: I:\_New_TV
PostProcessing Path: I:\_New_TV
PostProcessing Dirs: []
PostProcessing Files: [u'Sleepy.Hollow.S02E05.The.Weeping.Lady.mkv']
PostProcessing VideoFiles: [u'Sleepy.Hollow.S02E05.The.Weeping.Lady.mkv']
PostProcessing RarContent: []
PostProcessing VideoInRar: []
Processing I:\_New_TV\Sleepy.Hollow.S02E05.The.Weeping

[2015-02-22 00:24] cwallace opened #718 "Backlog episode search using season settings"
BRANCH: (develop)
COMMIT: (fbcadb278054808639884dca5804d544bbc0a675)
Python Version:	2.7.8 (default, Oct 20 2014, 15:05:19) [GCC 4.9.1]
OS: Ubuntu 14.10

What you did: Added show to backlog

What happened: Backlog searches for IPT include partial word searches (S01) for episode search mode, which IPT search does not support and SceneAccess is searching archive rather than normal search, which is o

[2015-02-22 00:47] abeloin commented on #698
@bitzorro

Open a command line and go to the folder lib/unrar2/
Try running test_UNRAR2.py(replace to your python path):
[code]

Tell me the results

[2015-02-22 00:52] abeloin commented on #708
For #707 won't to anything as the error is in the KAT provider and without better I cannot guess what he was trying to search.
For #700 it look like urllib.quote_plus is unable to convert the Japanese symbol.

[2015-02-22 00:57] fernandog commented on #708
So 707 and this one are the same issue

[2015-02-22 01:01] abeloin commented on #696
@Kallb123 Definitelly a permissions issue as per the results of your previous comments https://github.com/SiCKRAGETV/sickrage-issues/issues/696#issuecomment-75377036
But if 5 an  6 are both owned by kallum and sickrage run as kallum there shouldn't be any error. Check your sickrage startup script to see which user is running sickrage.

In the end, you should have both user share the same group so

[2015-02-22 01:01] abeloin commented on #708
yes

[2015-02-22 01:04] abeloin commented on #611
Ok manage to make subliminal work partially in windows with https://github.com/SiCKRAGETV/SickRage/pull/1385 but the files are downloaded in the data_dir instead of where the tv episode is. PR #1384 can be use when we are unable to activate utf8 in Windows.

[2015-02-22 01:05] Kallb123 commented on #696
@abeloin I'm a noob to VMs and it's taking a while to get my head around the permissions. I'm getting there. I'm also in the process of formatting as ext4 instead of ReiserFS, going to take till tomorrow morning to transfer files to backup though. I have 1 drive as ext4 and I seem to have the ability to mkdir/nano without using sudo from within VM and permissions on host seem good too.

[2015-02-22 01:08] InfernoZeus commented on #370
Please open this issue, it's definitely still around. Shows get locked as "This show is queued and awaiting an update." but no update ever happens. Only way to fix it is to restart SickRage.

[2015-02-22 01:08] fernandog commented on #696
@abeloin
what about this
https://github.com/SiCKRAGETV/sickrage-issues/issues/696#issuecomment-75398524
maybe change the log message to permissions warning. What do you think?

[2015-02-22 01:09] fernandog commented on #611
Thanks! do you think this will permament fix this issues?

[2015-02-22 01:11] fernandog commented on #370
Full loga pleass

[2015-02-22 01:15] abeloin commented on #696
@Kallb123 This is part of script that create the basic structure I use. It can give you idea on how-to implement your structure so that all authorized users can have access to the file. https://gist.github.com/abeloin/cbe1235eec3a9d7899a4

[2015-02-22 01:16] abeloin commented on #696
@fernandog yes

[2015-02-22 01:19] abeloin commented on #482
PR done

[2015-02-22 01:23] fernandog commented on #482
Thanks!

[2015-02-22 01:23] abeloin commented on #611
I think so if I can manage to find why the subtitles are downloaded to DATA_DIR.
By the way PR 1384 is a hack by does work.

[2015-02-22 01:25] fernandog commented on #611
I think because depending on the provider Subtitle can be a zip with more than on srt. Subtitle module tries to match the exact file

[2015-02-22 01:30] abeloin commented on #611
This is what happening in Windows
![Imgur](http://i.imgur.com/oOmvlPH.jpg)

[2015-02-22 01:34] abeloin commented on #715
[Errno 11004] getaddrinfo failed = DNS error = Unable to translate to IP

[2015-02-22 01:37] abeloin commented on #714
[Errno 10054] An existing connection was forcibly closed by the remote host. = The remote host is dropping the connection. = Overload?

[2015-02-22 01:40] fernandog commented on #715
Can we handle this traceback > log.logger debug message? It not the first one I see

[2015-02-22 01:43] fernandog commented on #611
I think the subs are not even created. @pct00 can you explain/confirm please?

[2015-02-22 03:40] abeloin commented on #611
@fernandog @TagForce With PR https://github.com/SiCKRAGETV/SickRage/pull/1385 + PR https://github.com/SiCKRAGETV/SickRage/pull/1384 + PR https://github.com/SiCKRAGETV/SickRage/pull/1387 I'm able to download subtitle with char not present in cp850 nor cp1252 on Windows. These patches aren't tested at all on Linux. They need testing to see if they cause regression.

[2015-02-22 03:56] abeloin commented on #654
@fernandog PR Merged

[2015-02-22 04:02] Hit-Bug opened #719 "Issue with RSS"
Sickrage for about a week refused to read the rss feeds, I checked the feeds myself and the said episodes are there but it would not see it, it just comes back with "Couldn't find a download for ". I did a fresh reinstall and still nothing, I'm on BRANCH: (master) / COMMIT: (ac153cf2320b3b6d0a8aa9a1b1646a51347581d6) , python 2.7.8, using FreeNAS-9.3-STABLE-201412091831. Sickrage install by pbi 9.3

[2015-02-22 04:08] abeloin commented on #715
@fernandog Yes see https://github.com/SiCKRAGETV/SickRage/pull/1389

[2015-02-22 04:13] abeloin commented on #719
Please provide log with debug not just info. Thank You

[2015-02-22 04:17] Hit-Bug commented on #719
http://pastebin.com/6W0YqRtN

[2015-02-22 04:38] abeloin commented on #719
What what is selected quality for that show?

By the way, why not using the nyaa provider with horriblesubs in the whitelist?

[2015-02-22 04:42] abeloin commented on #719
Can you try adding this regex it will solve the issue? https://github.com/SiCKRAGETV/SickRage/pull/1386

Ref: The show is detected as "Aldnoah Zero - " and not "Aldnoah Zero"
[code]

[2015-02-22 04:43] Hit-Bug commented on #719
I'll will try this, one minute

[2015-02-22 04:46] Hit-Bug commented on #719
It already had Aldnoah Zero in the exceptions so that's not it, I cannot find the white list option when adding Nyaa from sickrage. Trying the regex now, one minute

[2015-02-22 04:48] abeloin commented on #719
The whitelist is per show, edit the show and scroll to the bottom.

[2015-02-22 04:49] Hit-Bug commented on #719
Ok, how to do I do this regex?

[2015-02-22 04:50] Hit-Bug commented on #719
And the whilte list doesn't show, I know I saw it before but I think it's not loading

[2015-02-22 04:52] abeloin commented on #719
2 choices:
* Replace the whole file by this one: https://raw.githubusercontent.com/abeloin/SickRage/patch-anime_regex/sickbeard/name_parser/regexes.py

* Download the patch: https://github.com/SiCKRAGETV/SickRage/pull/1386.patch and apply it with ```patch -p1 < 1386.patch```

[2015-02-22 04:53] Hit-Bug commented on #719
Ok, which file is it? Can you give me the directory?

[2015-02-22 04:56] abeloin commented on #719
For that you need to enter your anime account in config->anime.

To add one manually, look under the whitelist there's a text line(fill it with the group name) and on the right a button named 'Add to whitelist' which you click.

[2015-02-22 04:56] abeloin commented on #719
sickbeard/name_parser/regexes.py

[2015-02-22 04:57] Hit-Bug commented on #719
Sickrage is in a jail, I'm running freenas

[2015-02-22 04:59] abeloin commented on #719
For that I can't help you as I have never worked with free nas. Have you searched on the internet?

[2015-02-22 05:00] abeloin commented on #719
If you don't find, you can add "Aldnoah Zero - " to the scene exception in the show until the regex is merged into master.

[2015-02-22 05:02] Hit-Bug commented on #719
There's not much information for a freenas build, when using sickrage. I've told you that it already has that exception

[2015-02-22 05:03] abeloin commented on #719
Just to confirm, with the dash?

[2015-02-22 05:04] Hit-Bug commented on #719
It's "Aldnoah Zero" NOT "Aldnoah.Zero"

[2015-02-22 05:06] abeloin commented on #719
!?! I'm talking about the dash sign -

[2015-02-22 05:06] Hit-Bug commented on #719
Ok, what did you want to confirm with the dash?

[2015-02-22 05:07] Hit-Bug commented on #719
My bad, didn't read "If you don't find, you can add "Aldnoah Zero - ""

[2015-02-22 05:08] Hit-Bug commented on #719
Ok, I've tried that and still no download

[2015-02-22 05:10] abeloin commented on #719
Sometime the scene exception aren't refreshed at the same time as the show update, can you restart sickrage?

[2015-02-22 05:10] Hit-Bug commented on #719
Ok, one sec

[2015-02-22 05:15] Hit-Bug commented on #719
It didn't want to shutdown so I restarted it from freenas control panel, still no download

[2015-02-22 05:16] Hit-Bug commented on #719
Funny enough, everything worked on the sickrage pbi 9.3.0

[2015-02-22 05:17] abeloin commented on #719
Is the show set to anime?

[2015-02-22 05:18] Hit-Bug commented on #719
No, doesn't that option allow the absolute number only?

[2015-02-22 05:19] abeloin commented on #719
Yes, which you want in anime

[2015-02-22 05:21] abeloin commented on #719
Your config for that should be like this:
![Imgur](http://i.imgur.com/AqYWsAR.jpg)

[2015-02-22 05:22] Hit-Bug commented on #719
Changed the option, now it's stuck at queued.

[2015-02-22 05:23] abeloin commented on #719
It's ok. let it process the queue.

[2015-02-22 05:24] Hit-Bug commented on #719
It doesn't take this long though, it's still stuck at queued

[2015-02-22 05:25] Hit-Bug commented on #719
It usually takes not longer than 10 seconds to pull the link.

[2015-02-22 05:27] abeloin commented on #719
Have a look at your log it must be doing some search.

[2015-02-22 05:30] Hit-Bug commented on #719
Ok, it works now, thanks for the help, still has trouble shutting down/restarting though

[2015-02-22 06:33] ThePieMan opened #720 "[APP SUBMITTED]: HTTPSConnectionPool(host='sceneaccess.eu', port=443): Read timed out."
### INFO
Python Version: **2.7.3 (default, Apr 10 2012, 23:24:47) [MSC v.1500 64 bit (AMD64)]**
Operating System: **Windows-7-6.1.7601-SP1**
Branch: **master**
Commit: SiCKRAGETV/SickRage@ac153cf2320b3b6d0a8aa9a1b1646a51347581d6
### ERROR
[code]
---
_STAFF NOTIFIED_: @SiCKRAGETV/owners @SiCKRAGETV/moderators

[2015-02-22 06:50] abeloin commented on #720
https://github.com/SiCKRAGETV/sickrage-issues/issues/715

[2015-02-22 06:50] #720 closed

[2015-02-22 06:51] bitzorro commented on #698
@abeloin  im no data genius...  This is the path to my unrar2: c:\python27\python.exe test_UNRAR2.py
Can you please give me the exact command to run in the cmd ?

This command    C:\Windows\system32>c:\python27\python.exe test_UNRAR2.py

gave this reult:
c:\python27\python.exe: can't open file 'test_UNRAR2.py': [Errno 2] No such file
 or directory

i dont thing im doing it right.?

regards bitzorr

[2015-02-22 06:53] abeloin commented on #589
@fernandog I think we should put all those timeouts, dns failure, and other network as warning instead of error in the log as itsn't a permanent failure but a transient one.

[2015-02-22 07:01] djoole commented on #695
@TagForce When you change this, please let the postpone switch intact, as the new way won't still be enough for me.
I only have files in the download dir, not subdirectories, so a better change would be to postpone PP of only sync files and PP the rest, even if everything (synced files and BT !sync files) is in the root of download dir.

[2015-02-22 08:59] valantislevas commented on #122
i cant try it now i will check it i hope today

[2015-02-22 10:17] fernandog commented on #589
@abeloin 100% agree

[2015-02-22 10:18] UltraFlaw opened #721 "[APP SUBMITTED]: 'charmap' codec can't decode byte 0x9d in position 99: character maps to <undefined>"
### INFO
Python Version: **2.7.9 (default, Dec 10 2014, 12:28:03) [MSC v.1500 64 bit (AMD64)]**
Operating System: **Windows-7-6.1.7601-SP1**
Branch: **master**
Commit: SiCKRAGETV/SickRage@ac153cf2320b3b6d0a8aa9a1b1646a51347581d6
### ERROR
[code]
---
_STAFF NOTIFIED_: @SiCKRAGETV/owners @SiCKRAGETV/moderators

[2015-02-22 10:19] fernandog commented on #715
thanks!

[2015-02-22 10:20] fernandog commented on #654
please update and report back.

[2015-02-22 10:21] #721 closed

[2015-02-22 10:25] fernandog commented on #611
@abeloin

[code]

[2015-02-22 10:29] fernandog commented on #698
@bitzorro

c:\python27\python.exe /SickRage/lib/unrar2/test_UNRAR2.py

[2015-02-22 10:42] DcR-NL commented on #654
:+1: Fixed in develop. Thanks again.

[2015-02-22 10:42] #654 closed

[2015-02-22 11:00] TehWardy opened #722 "[APP SUBMITTED]: u'\u0421'"
### INFO
Python Version: **2.7 (r27:82500, Aug 21 2010, 07:52:47)
[GCC 4.1.3 20070929 (prerelease) (Ubuntu 4.1.2-16ubuntu2)]**
Operating System: **Linux-3.4.6-x86_64-with-glibc2.4**
Branch: **develop**
Commit: SiCKRAGETV/SickRage@652c9f33f92b3c74c0256bb3aafae5e8dc014c89
### ERROR
[code]
---
_STAFF NOTIFIED_: @SiCKRAGETV/owners @SiCKRAGETV/moderators

[2015-02-22 11:01] SunMar commented on #716
Oops, missed the Python version which is 2.7.9, sorry. There is no error to include a log of, what are you missing?

[2015-02-22 11:01] TehWardy opened #723 "[APP SUBMITTED]: u'\u0413'"
### INFO
Python Version: **2.7 (r27:82500, Aug 21 2010, 07:52:47)
[GCC 4.1.3 20070929 (prerelease) (Ubuntu 4.1.2-16ubuntu2)]**
Operating System: **Linux-3.4.6-x86_64-with-glibc2.4**
Branch: **develop**
Commit: SiCKRAGETV/SickRage@652c9f33f92b3c74c0256bb3aafae5e8dc014c89
### ERROR
[code]
---
_STAFF NOTIFIED_: @SiCKRAGETV/owners @SiCKRAGETV/moderators

[2015-02-22 11:02] TehWardy commented on #723
duplicate of #708 my bad.

[2015-02-22 11:02] #723 closed

[2015-02-22 11:02] TehWardy commented on #722
Duplicate of #707 (my bad)

[2015-02-22 11:02] #722 closed

[2015-02-22 11:04] fernandog commented on #716
SUBMITTING A BUG/ISSUE TICKET

(DO NOT POST ANYTHING THAT CONTAINS YOUR LOGIN INFORMATION OR API KEY)
Please include the following when opening a new ticket:

Branch
Commit hash
Your operating system and python version
What you did
What happened
What you expected
Link to a copy/paste of your logfile with clear debug info of the error on PASTEBIN

[2015-02-22 11:07] fernandog commented on #708
@joshjowen can you check this out please?

[2015-02-22 11:10] #658 closed

[2015-02-22 11:10] #122 closed

[2015-02-22 11:11] #671 closed

[2015-02-22 11:11] #669 closed

[2015-02-22 11:12] fernandog commented on #645
@maxcore any updates?

[2015-02-22 11:14] fernandog commented on #503
@abeloin any updates on this? are you overhauling this?

[2015-02-22 11:15] fernandog commented on #679
@gborri

[2015-02-22 11:16] bitzorro commented on #698
@abeloin
@abeloin
ok here is the message from cmd:
C:\Windows\system32>c:\python27\python.exe /SickRage/lib/unrar2/test_UNRAR2.py
Traceback (most recent call last):
  File "/SickRage/lib/unrar2/test_UNRAR2.py", line 20, in <module>
    rarc = UnRAR2.RarFile('test.rar')
  File "C:\SickRage\lib\unrar2\__init__.py", line 100, in __init__
    RarFileImplementation.init(self, password)
  File "C:\SickR

[2015-02-22 11:16] stervis commented on #714
I wouldn't know. Don't think I am banned... maybe I have the 'refresh' time
too low? But i am quite sure I didnt change it.

On 22 February 2015 at 02:37, Alexandre Beloin <notifications@github.com>
wrote:

--
Met vriendelijke groeten,

Stephan Vorstenberg

[2015-02-22 11:16] bitzorro commented on #698
@fernandog

[2015-02-22 11:34] fernandog commented on #698
That rar is passworded. Maybe fake release. Can you try to unrar in desktop?

[2015-02-22 11:36] fernandog commented on #714
What is your refresh value?

[2015-02-22 11:37] fernandog commented on #714
https://github.com/ckreutzer/python-tvrage/issues/9

[2015-02-22 11:40] DcR-NL commented on #679
Saw the same thing happening: http://pastebin.com/CjGFmXzX (line 80).

BRANCH: (develop) / COMMIT: (652c9f33f92b3c74c0256bb3aafae5e8dc014c89)
Python Version: 2.7.8 (default, Dec 12 2014, 21:20:40) [GCC 4.7.3 20130102 (prerelease)]

[2015-02-22 11:41] SunMar commented on #716
All that information is included my post, please tell me what I'm doing wrong. Do you want it specifically in that format? Or do you want a log regardless of whether there is an error? If so please note that in the guidelines as such, because I'm lost ... :(. I'll try to reproduce the issue to see If I can get something from the log file. If you can give a pointer where in the code this is handled

[2015-02-22 11:43] fernandog commented on #679
Can you check transmission connection test?

[2015-02-22 11:45] fernandog commented on #716
Without full logs we cant debug.

[2015-02-22 11:46] fernandog commented on #716
Are you there there isnt an option to remove .nfo and other files

[2015-02-22 11:48] SunMar commented on #716
Hmm, when an Initial download is replaced with an Archive download I would expect any associated files to be removed as well. Lingering .nfo/.srt and such aren't really useful.

[2015-02-22 11:51] DcR-NL commented on #679
@fernandog Test returns 'Success'. 21 minutes before the error it snatched two season packs from AlphaRatio, so the connection is fine.

[2015-02-22 11:52] bitzorro commented on #698
@fernandog @abeloin
the Error keeps on coming back, this is from themost recent log:2015-02-22 09:53:06 POSTPROCESSER :: Failed Unrar archive the.flash.2014.114.hdtv-lol.rar: exception: access violation writing 0x00003EA0

The strange thing about it, is that the episode is unpacked to my library and the source and torrent is deleted several days ago !

[2015-02-22 12:01] SunMar commented on #716
In the Post-Processing section I don't see an option for it. There only option I see is "Move Associated Files" which moves nfo/srt/etc to the TV Show directory. To be honest I don't really care for the nfo, but I do want to keep subtitle files if they're included.

There is a "Rename .nfo file" option, but from the description that doesn't really have anything to do with removed files when they'r

[2015-02-22 12:12] stervis commented on #714
Check the screenshot

On 22 February 2015 at 12:37, Fernando <notifications@github.com> wrote:

--
Met vriendelijke groeten,

Stephan Vorstenberg

[2015-02-22 12:27] fernandog commented on #716
You have to disable "Move Associated Files" in order to delete .nfo and .srt

[2015-02-22 12:29] fernandog commented on #698
maybe the .rar file as not deleted

[2015-02-22 12:30] fernandog commented on #679
maybe there is something wrong with that torrent

[2015-02-22 12:31] fernandog commented on #713
@felipesalomao conseguiu?

[2015-02-22 12:38] DcR-NL commented on #679
@fernandog Maybe, but manually downloading the same torrent and adding it to transmission works fine (just tried it).

[2015-02-22 12:59] bcldvd commented on #420
Needs re-opening.
Tracker changed it's domain name from t411.me to t411.io
Getting a lot of erros in my log, and search on this tracker does not work anymore.

More informations here : https://www.t411.io/news/246

[2015-02-22 13:07] fernandog commented on #420
fixed on develop. wait to be merged to master

[2015-02-22 13:09] fernandog commented on #679
if is a temporary error, the traceback should be supressed and show a warning.

[2015-02-22 13:09] SunMar commented on #716
Huh? If Move Associated Files is disabled it doesn't copy nfo/srt at all from the Download directory, then there's not an nfo to delete in the TV Shows directory. That's something different and not what's wrong here.

I'm talking about when an Archive quality is downloaded to replace the Initial quality. The mkv/nfo/srt are all properly moved from the Downloads directory to the TV Shows directory

[2015-02-22 13:12] fernandog commented on #716
I see. PP should remove old .mkv AND associated files
@Tagforce agree?

[2015-02-22 13:51] TehWardy opened #724 "[APP SUBMITTED]: [Errno 2] No such file or directory: '/share/MD0_DATA/Download/complete/tv/_UNPACK_Covert.Affairs.S05E06.720p.WEB-DL.DD5.1.H.264-NTb/Covert.Affairs.S05E06.Embassy.Row.720p.WEB-DL.DD5.1.H.264-NTb.mkv'"
### INFO
Python Version: **2.7 (r27:82500, Aug 21 2010, 07:52:47)
[GCC 4.1.3 20070929 (prerelease) (Ubuntu 4.1.2-16ubuntu2)]**
Operating System: **Linux-3.4.6-x86_64-with-glibc2.4**
Branch: **develop**
Commit: SiCKRAGETV/SickRage@652c9f33f92b3c74c0256bb3aafae5e8dc014c89
### ERROR
[code]
---
_STAFF NOTIFIED_: @SiCKRAGETV/owners @SiCKRAGETV/moderators

[2015-02-22 13:53] TehWardy commented on #724
This is an interesting one ... when un-packing the prefis _UNPACK_ is applied by SR ... for some reason it's trying to post process files its unpacking (sometimes) I haven't determined a pattern for this yet.

Some sort of race condition perhaps?

[2015-02-22 13:54] Cmtahm opened #725 "[APP SUBMITTED]: coercing to Unicode: need string or buffer, instance found"
### INFO
Python Version: **2.7.8 (default, Jun 30 2014, 16:03:49) [MSC v.1500 32 bit (Intel)]**
Operating System: **Windows-8-6.2.9200**
Branch: **develop**
Commit: SiCKRAGETV/SickRage@652c9f33f92b3c74c0256bb3aafae5e8dc014c89
Link to Log: https://gist.github.com/ce97e7cb89b48f33a3b6
### ERROR
[code]
---
_STAFF NOTIFIED_: @SiCKRAGETV/owners @SiCKRAGETV/moderators

[2015-02-22 13:55] Cmtahm opened #726 "[APP SUBMITTED]: [Error 145] The directory is not empty: u'C:\\Users\\chris\\Sick-Beard-ThePirateBay\\sr-update\\SiCKRAGETV-SickRage-652c9f3\\lib\\feedparser\\tests\\wellformed\\atom10'"
### INFO
Python Version: **2.7.8 (default, Jun 30 2014, 16:03:49) [MSC v.1500 32 bit (Intel)]**
Operating System: **Windows-8-6.2.9200**
Branch: **develop**
Commit: SiCKRAGETV/SickRage@652c9f33f92b3c74c0256bb3aafae5e8dc014c89
Link to Log: https://gist.github.com/fc7c6e19d58632b62a7b
### ERROR
[code]
---
_STAFF NOTIFIED_: @SiCKRAGETV/owners @SiCKRAGETV/moderators

[2015-02-22 13:55] TehWardy commented on #724
I hope you guys don't mind all these bug reports ... I'm going out of my way to test the crap out of SR whilst It rebuilds a library I previously lost due to a nas failure.
I'm having SR generate download queues of around 1TB so it feels like this is a sort of extreme case of it's use compared most normal situations.

Makes for a good set of test scenarios though don't you think?

[2015-02-22 14:09] fernandog commented on #725
@Cmtahm

"Unable to update C:\Users\chris\Sick-Beard-ThePirateBay\lib\unrar2\UnRARDLL\unrar.dll: error 5 : Access is denied"

check permissions

[2015-02-22 14:09] #725 closed

[2015-02-22 15:04] neoatomic commented on #724
@TehWardy
Testing and reporting errors is always a good thing so keep up the good work.

Just make sure that its a Sickrage problem before submitting, otherwise the developers are using up a lot of precious time for non Sickrage problems.
Also provide as much info as you can, and as clear as you can. It makes locating the problem a lot faster.

[2015-02-22 16:07] abeloin commented on #589
@fernandog Question: Commit https://github.com/abeloin/SickRage/commit/66a2e5c46892fb74b643199d270c549d46813a79 disable the submit error button if user, pass and auto-submit is not set. We should remove the auto-submit condition as what is the point of manually submit an error that was already submitted? See Thraxis comment is the commit.

[2015-02-22 16:16] abeloin commented on #698
@bitzorro Some more questions:
Windows x32 or x64?
Python x32 or x64?
Winrar installed?

[2015-02-22 16:20] bitzorro commented on #698
@abeloin

Windows x32
Python  x32
winrar installed.

[2015-02-22 16:21] abeloin commented on #503
I should have a PR later on today

[2015-02-22 16:29] abeloin commented on #611
@fernandog Pushed a new commit on PR https://github.com/SiCKRAGETV/SickRage/pull/1385

[2015-02-22 16:46] TehWardy commented on #706
With my limited knowledge of linux I would suggest adding more logging calls and have the bug reporting tool include them for errors like this.
Maybe that could help more than I can.

[2015-02-22 16:47] fernandog commented on #589
@echel0n did that. Maybe its not working

[2015-02-22 17:04] fernandog commented on #482
@Greg0rz please update and report back

[2015-02-22 17:04] fernandog commented on #715
@ThePieMan please update and report back

[2015-02-22 17:06] fernandog commented on #719
@Hit-Bug please update and report back

[2015-02-22 17:09] fernandog commented on #717
follow guidelines
https://github.com/SiCKRAGETV/sickrage-issues/

[2015-02-22 17:09] #717 closed

[2015-02-22 17:11] fernandog commented on #718
@cwallace can you make a proposed PR?

[2015-02-22 17:16] fernandog commented on #581
@Deddiekoel any luck?

[2015-02-22 17:17] fernandog commented on #414
closing this one because you already opened a 611

[2015-02-22 17:17] #414 closed

[2015-02-22 17:40] ThePieMan opened #727 "[APP SUBMITTED]: cannot find 'SHOWUPDATE_HOUR'"
### INFO
Python Version: **2.7.3 (default, Apr 10 2012, 23:24:47) [MSC v.1500 64 bit (AMD64)]**
Operating System: **Windows-7-6.1.7601-SP1**
Branch: **develop**
Commit: SiCKRAGETV/SickRage@b2790f920e879714836f05053eff9f815d0867c7
### ERROR
[code]
---
_STAFF NOTIFIED_: @SiCKRAGETV/owners @SiCKRAGETV/moderators

[2015-02-22 17:40] fernandog commented on #727
@TagForce is that your new commit about changing SR update time?

[2015-02-22 17:46] cwallace commented on #718
I don't know python or the project well enough to submit a PR. It would most definitely break something else.

That said I don't believe the issue is with either provider. It seems season mode is being passed to the provider even though it has been disabled and is not falling back to individual episode mode. If I add episodes individually they are found and snatched, but if I add multiple episodes

[2015-02-22 17:55] ThePieMan commented on #715
Trying to checkout the Dev branch (I run Master pretty much
exclusively) and running into issues. I'll work at it and get back to you.

On Sunday, February 22, 2015, Fernando <notifications@github.com> wrote:

[2015-02-22 17:57] abeloin commented on #589
@fernandog https://github.com/SiCKRAGETV/SickRage/pull/1391 Fix the issue and disable the option of choosing the auto-submit as it is disabled in the code

[2015-02-22 18:05] abeloin commented on #727
Usually happen when updating Sickrage and not restarting it.

[2015-02-22 18:08] ThePieMan commented on #727
Correct - I checked out the Dev branch and was just expecting it'd throw SR
through a restart automatically. It did not, and this was the result.

Unless there are plans for a checkout to restart SR automatically, I'd
consider this a known issue / non-issue and close

TPM

On Sunday, February 22, 2015, Alexandre Beloin <notifications@github.com>
wrote:

[2015-02-22 18:19] abeloin commented on #698
Can you edit lib\unrar2\windows.py and insert before line 75(unrar = ctype):
[code]
then re-run ```c:\python27\python.exe /SickRage/lib/unrar2/test_UNRAR2.py``` and let me know if you see "First ctypes"

[2015-02-22 18:22] abeloin commented on #727
How did you do your checkout? Via command line or the sickrage interface?

[2015-02-22 18:39] bitzorro commented on #698
@abeloin

This is how my windows.py  looks after edit, is this correct?

    unrar = First ctypes.WinDLL(os.path.join(os.path.split(__file__)[0], 'UnRARDLL', dll_name))
except WindowsError:
    unrar = ctypes.WinDLL(dll_name)

And this is the message cmd givs me .

C:\Users\alex gamecenter>c:\python27\python.exe /SickRage/lib/unrar2/test_UNRAR2
.py
Traceback (most recent call last):
  File "/SickR

[2015-02-22 18:40] ThePieMan commented on #727
Interface. Selected Dev and hit checkout. It must have worked, but it
didn't restart itself so it was throwing errors all over the place. Once I
restarted it manually SR showed Dev branch in the info page and the errors
stopped

On Sunday, February 22, 2015, Alexandre Beloin <notifications@github.com>
wrote:

[2015-02-22 18:45] fernandog commented on #718
@cwallace what is IPT season mode setting in search provider settings?

[2015-02-22 18:58] abeloin commented on #727
Which is normal, if you read underneath the button "Checkout branch" you will see the following text:

select branch to use (restart required)

;)

[2015-02-22 18:59] #727 closed

[2015-02-22 19:01] abeloin commented on #698
Here what it should after adding the line:
[code]

[2015-02-22 19:53] Deddiekoel commented on #581
Almost there. One show has some issues.

Verstuurd vanaf mijn iPhone

[2015-02-22 19:55] fernandog commented on #581
Remember that some uploaders dont use the correct name pattern. A few may be left out

[2015-02-22 19:58] Deddiekoel commented on #581
Yeah, but this regex is for people who use iTunes to manage their collection.
The convention is stupid simple. But some shows just aren't picked up...

Verstuurd vanaf mijn iPhone

[2015-02-22 20:10] bitzorro commented on #698
@abeloin
Ok, same result as earlyer i think ?

C:\Windows\system32>c:\python27\python.exe /SickRage/lib/unrar2/test_UNRAR2.py
First ctypes
Traceback (most recent call last):
  File "/SickRage/lib/unrar2/test_UNRAR2.py", line 20, in <module>
    rarc = UnRAR2.RarFile('test.rar')
  File "C:\SickRage\lib\unrar2\__init__.py", line 100, in __init__
    RarFileImplementation.init(self, password)
  File

[2015-02-22 20:11] fernandog commented on #581
Post your regex and the test string (filenames). Will try to help you

[2015-02-22 20:18] Greg0rz commented on #482
Is this included in master branch now?  Sorry I'm not familiar with some of the terminology.

[2015-02-22 20:20] Deddiekoel commented on #581
Ok, the convention iTunes uses is dirt simple:

[Show Name]\[Season folder]\[Ep Number] [Episode Name]

This is re regex I have now:

    ('itunes',
     # 01 Ep Name
     '''
     ^(?P<ep_num>\d{1,3})[ ](?P<extra_info>.*)?$      # 02 Episode Name
     '''),

That seems to work, but only if I put it in as the first entry. Otherwise SR uses the season_only regex:

2015-02-22 21:19:04 ERROR    SHOWQ

[2015-02-22 20:31] ThePieMan opened #728 "[APP SUBMITTED]: HTTPSConnectionPool(host='sceneaccess.eu', port=443): Read timed out. (read timeout=30)"
### INFO
Python Version: **2.7.3 (default, Apr 10 2012, 23:24:47) [MSC v.1500 64 bit (AMD64)]**
Operating System: **Windows-7-6.1.7601-SP1**
Branch: **develop**
Commit: SiCKRAGETV/SickRage@b2790f920e879714836f05053eff9f815d0867c7
### ERROR
[code]
---
_STAFF NOTIFIED_: @SiCKRAGETV/owners @SiCKRAGETV/moderators

[2015-02-22 20:33] fernandog commented on #482
No. Develop branch. Switch to develop to test. Make a full backup first

[2015-02-22 20:35] abeloin commented on #698
Is winrar listed in the PATH variable?

[2015-02-22 20:52] Greg0rz commented on #482
Seems to be working on latest develop branch.

One thing to note is that the develop branch seems to reset a lot of show option fields when changing settings.  My desired show quality kept resetting to "custom" w/ no fields selected, so no copies of the show were being downloaded.  One i got it set to 720p, it worked.

[2015-02-22 20:55] #582 closed

[2015-02-22 20:56] abeloin commented on #637
Must have updated sickrage without resting it.

[2015-02-22 20:56] #637 closed

[2015-02-22 20:59] fernandog commented on #637
I would auto restard when switching brances. SR already auto restart when updating

[2015-02-22 21:00] #482 closed

[2015-02-22 21:19] abeloin commented on #696
@fernandog It already check if the folder exist:
[code]
But the weird thing is that it failed on the chmod not on the copy, like you have write access on the destination but not read or list.

[2015-02-22 21:21] abeloin commented on #637
Added the todo list ;)

[2015-02-22 21:23] fernandog commented on #696
Is that possible?!
check if exists if diff from move/copy a dummy file isnt?

[2015-02-22 21:24] Hit-Bug commented on #719
On the shutdown/restart problem?

[2015-02-22 21:30] abeloin commented on #696
If the permission on the folder doesn't contain r but only x that can happen

[2015-02-22 21:31] Kallb123 commented on #696
@abeloin @fernandog
My setup was awful. The disks were using ReiserFS and mapped through to the VM that SR was operating in. The permissions were a mess.
I've formatted to LVM/ext4, got the users and permissions setup in a way where everything works, and SR is working perfectly (as well as Transmission).

So, not sure how you want to handle the error, but my specific problem is solved.

[2015-02-22 21:34] fernandog commented on #719
No. To test the merged solution. You tested manually changing files. Shutdown restart already has an open issue

[2015-02-22 21:35] Hit-Bug commented on #719
I didn't use that method, all it was is the the anime option that needed to be ticked since it used the absolute number as the marker not the usual seasonXepisode.

[2015-02-22 21:37] fernandog commented on #696
@abeloin can we test permission and test cp/mv a dummy file before accepting the PP folder? What do you think? We need to avoid this kind of issues in the future.

[2015-02-22 21:38] #696 closed

[2015-02-22 21:45] #719 closed

[2015-02-22 21:49] abeloin commented on #696
Has for more test I think it's unnecessary(since this a edge case) but we can be more descriptive about why it failed.
e.g:
[code]
to
[code]

[2015-02-22 21:57] abeloin commented on #728
@fernandog @TagForce I think theses lines should be warning instead of error:
https://github.com/SiCKRAGETV/SickRage/blob/develop/sickbeard/search.py#L481
https://github.com/SiCKRAGETV/SickRage/blob/develop/sickbeard/properFinder.py#L90
https://github.com/SiCKRAGETV/SickRage/blob/develop/sickbeard/tvcache.py#L136

As these will be retried later on.

[2015-02-22 22:00] abeloin commented on #696
@fernandog @TagForce By the way I think we should ask ourselves if these "error" should be reclassified as warning as they are not issue with sickrage but issue on how the user setup their system

[2015-02-22 22:08] fernandog commented on #696
Yes. Warning. Agree.

[2015-02-22 22:09] Kallb123 commented on #696
@abeloin @fernandog  I know you weren't asking me, but as a user, if the action fails it should throw an error.

[2015-02-22 22:12] fernandog commented on #728
Url error codes (500, etc) should be warning. Pure exception dont know. Maybe ERROR.

[2015-02-22 22:13] fernandog commented on #696
error is something SR should fix.
warning not.

[2015-02-22 22:17] Kallb123 commented on #696
But at warning level there would be no indicator (top right error) that anything went wrong, I would likely delete the sources files and then wonder why I can't watch latest episode. As a user I need to see PP failed for an episode, whether it's SR fault or mine. If SR doesn't tell me (I'm not scouring logs constantly for warning level) then I'll not know.

[2015-02-22 22:22] abeloin commented on #696
@Kallb123 It depend on how you classify an error, in this case it is a user_error not a software_error. So you should not be able to submit an issue to github.
So they should be consider as a warning for the system but as an error for the user.

[2015-02-22 22:32] Kallb123 commented on #696
@abeloin That sounds good, as long as I get a little (1) in my "Logs & Errors". I agree that it shouldn't be reportable to GitHub.

[2015-02-22 22:35] abeloin commented on #589
@fernandog Copied from other discussion:
I think we should consider changing some of the log error into warning as to prevent submitting them to github. E.g.: Right now if a user's post process fail because of permission issue, he can submit that error. But changing it to a warning state mean the user will not be notified when the PP failed in Sickrage current state.

So I think we should do the d

[2015-02-22 22:42] fernandog commented on #589
What if we show WARNINGs in top_inc?
otherwise it will be a huge update. I like the idea but needs to be fully tested. I would do this aftet stable master. what do you think?

[2015-02-22 22:49] abeloin commented on #589
Yes I agree with you it is not for tomorrow, but it is something that should be considered for the future.

As for showing the warning, I wouldn't do that as you will now have the timeout, found sync file showing up and users will stop looking at the error counter.

[2015-02-22 23:50] Bond198 opened #729 "[APP SUBMITTED]: <sickbeard.tv.TVEpisode object at 0x045A0630>"
### INFO
Python Version: **2.7.9 (default, Dec 10 2014, 12:24:55) [MSC v.1500 32 bit (Intel)]**
Operating System: **Windows-2012Server-6.2.9200**
Branch: **master**
Commit: SiCKRAGETV/SickRage@ac153cf2320b3b6d0a8aa9a1b1646a51347581d6
Link to Log: https://gist.github.com/7b4216640e25953b1d91
### ERROR
[code]
---
_STAFF NOTIFIED_: @SiCKRAGETV/owners @SiCKRAGETV/moderators

[2015-02-22 23:51] flightlevel commented on #718
Looks like the same issue as this https://sickrage.tv/forums/forum/help-support/bug-issue-reports/9612-ipt-backlog-not-getting-any-results

IPT won't do wildcard searching (eg TvShowName S01 won't find TvShowName S01E01, TvShowName S01E15 etc)

Two options I see
1. Strip the season number so it just searches for TvShowName and NOT TvShowName S01
2. Search for each episode individually (Not sure if

[2015-02-22 23:55] fernandog commented on #729
Duplicate

[2015-02-22 23:55] #729 closed

[2015-02-23 01:41] abeloin commented on #267
This PR https://github.com/SiCKRAGETV/SickRage/pull/1189 should fix the issue. It was merge on Jan 17 2015 on develop and a wwek on master.

[2015-02-23 01:50] abeloin commented on #333
@fernandog Do you want to use cytec solution?

[2015-02-23 01:50] #334 closed

[2015-02-23 01:52] abeloin commented on #348
PR https://github.com/SiCKRAGETV/SickRage/pull/1385 and https://github.com/SiCKRAGETV/SickRage/pull/1387 and https://github.com/SiCKRAGETV/SickRage/pull/1388 should help resolve this issue

[2015-02-23 01:52] #348 closed

[2015-02-23 01:54] abeloin commented on #359
Closing since no news from OP

[2015-02-23 01:54] #359 closed

[2015-02-23 01:58] abeloin commented on #452
@LinHub Do you still have the issue?

[2015-02-23 02:00] abeloin commented on #402
@EirikUtvik If you still have the issue, I see there is an update from January 25th that might help you.

http://www.asustor.com/apps/app_detail?id=210

[2015-02-23 02:31] abeloin commented on #539
@TagForce

[2015-02-23 03:42] cwallace commented on #718
@fernandog It is set to episodes only with fallback turned off.

@flightlevel I believe the problem is that sickrage is searching in season mode even though it is disabled. By only selecting episodes one at a time I'm able to successfully snatch backlogged shows, but anything more than one episode and sickrage is attempting to search in season mode. This would be fine for full seasons that have co

[2015-02-23 06:13] bitzorro commented on #698
@abeloin
I dont even know what that is ?

[2015-02-23 06:25] flightlevel commented on #632
@happypaps Can you give this update a go
https://github.com/SiCKRAGETV/SickRage/pull/1394