[2015-03-08 16:44] abeloin commented on #846
No the error mean the sql object ep['airs'] unable to write to the result to itself. Maybe duplicate the variable?

[2015-03-08 16:55] abeloin commented on #110
Sickrage user need to be the file owner to be able to change the permissions

[2015-03-08 16:57] Vodka2014 commented on #872
@neoatomic so i have had a chat to zag who is the admin on sports DB. i got an API now and he states it is free and unlimited to use. I am just waiting to find out if he is happy for this to go public as in for all sickrage users. Once i get this i will send you a msg with the API.

[2015-03-08 17:07] mbnoimi commented on #850
@abeloin I did as you mentioned above but it seems RARBG fails as shown in the log:

* SR Version: BRANCH: (master) / COMMIT: (558684cca7605dc4c2c3058d1f92e13f23881bd3)
* config.ini: http://pastebin.com/3VTmWRkG
* sickrage.log: http://pastebin.com/7HUYbWjp

[2015-03-08 17:11] fferraro87 commented on #887
@fernandog print a square followed by a 9
this is pastebin http://pastebin.com/c0ejeAr5 but on pastebin there is a strange character.
@abeloin i'm already post the output for locale

[2015-03-08 17:12] #856 closed

[2015-03-08 17:21] raymondtrueman opened #889 "Improve quality detection for MKV files"
Currently when an MKV files is scanned when you add an existing show it will add them with quality "Downloaded:Unknown". Is there a way this can be improved to detect a proper quality like HDTV, 720p BluRay, Web-DL etc. I know its hard to detect this but maybe by using clever formulas on the size, length, bit rate etc. of the video file, a guess could be made on what the actual quality is. This wo

[2015-03-08 17:24] abeloin commented on #889
Sickrage use the filename to detect the quality:
`Black.Sails.S02E07.1080p.HDTV.x264-BATV`

[2015-03-08 17:26] abeloin commented on #887
Just to confirm the locale you posted is from the user running sickrage not your user on ubuntu?

[2015-03-08 17:34] abeloin commented on #850
Please switch to the develop branch to test as it isn't in master yet.

[2015-03-08 17:45] raymondtrueman commented on #889
Thanks @abeloin, I know it uses the file name, I have set my naming options to now name all files with the %QN parameter when post processing. But I have a large collection with mixed quality files and their file names were never saved to include the quality. SD files however are flawlessly labelled as "SD TV" when scanned, without any quality being specified in the file name, so it should be poss

[2015-03-08 17:53] fferraro87 commented on #887
@abeloin yes it's the user running sickrage

[2015-03-08 17:57] neoatomic commented on #872
@Vodka2014 Thanks for your efforts.

However at this point it is way to early to request an api key from thesportsdb.
If in the future the developers decide to implement this, they will contact the responsible person them-selfs. Please relay this message to him and thank him for his willingness to help.
But it is nice to know that a donation is not explicitly required.

[2015-03-08 18:12] kendog819 commented on #870
@fernandog

I have Putty. But really no clue what to do or how to use it. I can login to my NAS, that is about the extent of my knowledge, Also, it is not one specific folder from my understanding. The .@__thumbs is in every tv show's folder.

If you can direct me a little better, or want to teamview me, we can set that up.

Thanks!

[2015-03-08 18:33] fernandog commented on #870
open putty, acess the nas with user/password
when the prompt appear run:
[code]
then:
[code]

[2015-03-08 18:34] fernandog commented on #856
@phdelodder worked?

[2015-03-08 18:35] kendog819 commented on #870
![image](https://cloud.githubusercontent.com/assets/11353628/6547013/66e0efa4-c5a0-11e4-82ac-244f65bdbd1a.png)

[2015-03-08 18:37] kendog819 commented on #870
![image](https://cloud.githubusercontent.com/assets/11353628/6547018/ae11a026-c5a0-11e4-9b37-30b7216c253e.png)

[2015-03-08 18:51] mbnoimi commented on #850
I'm not sure what if I'm on develop branch.

Usually I use git-cola so I made the switch by checking out develop branch then git-cola became point to current branch as develop

![selection_042](https://cloud.githubusercontent.com/assets/284547/6547056/c115c72c-c5d4-11e4-9ee5-1434d7befacb.jpg)

But SR shows that I use master branch... which one is the correct?

![sickrage_-_branch_ master _-_config

[2015-03-08 18:55] mbnoimi commented on #850
BTW, I called git from the terminal and it gave me:
[code]

[2015-03-08 19:00] fernandog commented on #850
@mbnoimi go to /config/general , Advanced tab, enter git user, git pass, save, refresh page, then choose "develop" in the branch list, click checkout

[2015-03-08 19:16] abeloin commented on #887
Can you add this in between L354-355 of SickBeard.py:
[code]
Stop sickrage before editing, send me the log at start up where a line like this is shown:
[code]

[2015-03-08 19:18] abeloin commented on #850
You need to stop sickrage before switching branch manually.

[2015-03-08 19:31] abeloin commented on #870
Maybe I'm wrong but nothing in get_path_dir_files prevent hidden folder.
You can see the proof in the image from previous comment https://github.com/SiCKRAGETV/sickrage-issues/issues/870#issuecomment-77608488

[2015-03-08 19:37] mbnoimi commented on #850
Thank you guys for interesting and quick responses :)

* SR Version:  BRANCH: (develop) / COMMIT: (2df54608e079cd694766608d156568daa06ea471)
* config.ini: http://hastebin.com/avemofoyin.ini
* sickrage.log: http://pastebin.com/tyeS8fHs

In the log I saw something strange. It said the following torrent has been saved but I didn't find it in the pointed path (actually I found some of the snatched mag

[2015-03-08 19:39] mbnoimi commented on #850
Oh yeah... ton of torrents has been snatched successfully (some of them missing as I mentioned above)

[2015-03-08 19:40] fernandog commented on #870
@abeloin what about this:

https://github.com/SiCKRAGETV/SickRage/blob/develop/sickbeard/helpers.py#L960

[2015-03-08 20:52] fferraro87 commented on #887
this is log after added that line
http://pastebin.com/ckRrrTTr

[2015-03-08 20:56] Thraxis commented on #846
@abeloin I do get the error still.  But it is not replicating in a consistent manner.  The only suggestion I could make would be add a log entry for the show name that it is working on to give a better idea on what is actually causing the issue.

I haven't released the my  SickRageConnect to the chrome webstore yet so right now I'm also the only directly affected user in that regard.  But even for

[2015-03-08 21:02] fernandog commented on #887
@fferraro87 there is no "Using encoding" in your log. please go to view log and enter "Using encoding" in the Search field. Post the result line

[2015-03-08 21:10] fferraro87 commented on #887
sorry but if i put Using encoding on search filter i've only these two lines:
http://pastebin.com/LV6Qpd7d

[2015-03-08 21:11] Vodka2014 commented on #110
So that will be Administrator by Default correct ?

[2015-03-08 21:12] fernandog commented on #887
@abeloin UTF-8

should be working

[2015-03-08 21:22] ripper1967 opened #890 "[APP SUBMITTED]: local variable 'fout' referenced before assignment"
### INFO
Python Version: **2.7.9 (default, Dec 10 2014, 12:28:03) [MSC v.1500 64 bit (AMD64)]**
Operating System: **Windows-7-6.1.7601-SP1**
Branch: **master**
Commit: SiCKRAGETV/SickRage@495b040ffadd5386f52f343bba13dfb017a92035
### debug log  http://pastebin.com/6diWisUW
[code]
---
_STAFF NOTIFIED_: @SiCKRAGETV/owners @SiCKRAGETV/moderators

[2015-03-08 22:30] Kallb123 commented on #875
I have this issue too, the parsing of Fortitude is just totally mangled. Not seeing problems in any other shows. I'm seeing "[ANIME VER: -1]", these shows aren't anime and don't have anime ticked.

BRANCH: (master)
COMMIT: (558684cca7605dc4c2c3058d1f92e13f23881bd3)

2015-03-08 22:23:28 INFO     POSTPROCESSER :: Successfully processed
2015-03-08 22:23:28 DEBUG    POSTPROCESSER :: You're trying to p

[2015-03-08 22:32] fernandog commented on #875
@Kallb123 see my previous comment

[2015-03-08 22:35] Kallb123 commented on #875
@fernandog No, Scene number is disabled. Not sure what column numbering is, but it isn't mentioned on the show page.

[2015-03-08 22:39] fernandog commented on #875
@Tagforce can you help?

[2015-03-08 22:43] Vodka2014 commented on #872
Will do and i hope some time in the future this is added to the Index.

[2015-03-08 22:54] gonfreecs64 opened #891 "Anime regex - Unable to parse the filename"
BRANCH: (master) / COMMIT: (558684cca7605dc4c2c3058d1f92e13f23881bd3)
Python Version:	2.7.6 (default, Mar 22 2014, 22:59:56) [GCC 4.8.2]
Ubuntu 14.04.2 LTS

Some filenames are not parsed correctly while trying to search One Piece episodes with nyaatorrent provider.

For some it is understandable :
[code]

But for others i don't understand :
[code]

See complete logs below

http://pastebin.com/x8DS

[2015-03-08 23:24] abeloin commented on #887
@fferraro87 The location were you save the data, is it a mounted cifs, extra partition or on the same drive as sickrage?
Ref: `/home/hd13/*********/media/TVShows/How to Get Away with Murder/How to Get Away with Murder - 1x14 & 1x15 - The Night Lila Died & It’s All My Fault.mp4`

[2015-03-08 23:27] #890 closed

[2015-03-08 23:33] fernandog commented on #890
Why did you close?

[2015-03-08 23:40] abeloin commented on #890
Look at the commit number it's before the merge this morning.

[2015-03-08 23:59] abeloin commented on #850
Can you provide the log part when it happen for house of cards?

[2015-03-09 00:08] abeloin commented on #846
Is it possible to get a copy of SickRageConnect?

[2015-03-09 00:12] abeloin commented on #110
Depend on where sickrage is installed, nas or windows?

[2015-03-09 00:14] Thraxis commented on #846
https://github.com/Thraxis/SickRageConnect

You can run it in chrome using developer mode, check out from github, run chrome, goto manage extensions, check "Developer Mode" then click "Load Unpacked Extension" and browse to where you checked out the extension.

I do have a packed version of the extension, but chrome will not load it each session unless it is in the web store.

[2015-03-09 00:21] fernandog commented on #846
@Thraxis can you stop your SR and change your local webapi.py file to use this one?

https://github.com/fernandog/SickRage/commit/e1066c30492729cc24a0df5616d7bed399fbb153

will add some debug messages as you sair earlier
I think if it runs ok the problematic episode will have a empty value after  "API :: ep[airs] after replace ="

[2015-03-09 00:26] fernandog commented on #877
@ryanf86 please update and report back. otherwise will close

[2015-03-09 00:27] fernandog commented on #848
@vanticar please update and report back (develop branch)

[2015-03-09 00:28] fernandog commented on #840
@chemmah merged into master. please update and report back

[2015-03-09 00:28] #545 closed

[2015-03-09 00:30] fernandog commented on #823
@icebal did it fixed?

[2015-03-09 00:30] fernandog commented on #370
@goatbased any lucky? please reply or will close

[2015-03-09 00:32] icebal commented on #823
I have not had the issue yet, pretty sure it can be closed
On Mar 8, 2015 7:30 PM, "Fernando" <notifications@github.com> wrote:

[2015-03-09 00:32] fernandog commented on #881
@koper89 any updates?

[2015-03-09 00:32] fernandog commented on #820
@mmazur519 please reply

[2015-03-09 00:33] fernandog commented on #743
@TagForce should I make a PR like I said above?

[2015-03-09 00:34] #823 closed

[2015-03-09 00:36] anothergene commented on #875
yes scene numbering is disabled

[2015-03-09 00:52] Thraxis commented on #846
@fernandog I added the logging code and made a couple changes as noted on your PR.   I have not gotten a repeat of the error yet.  But I the logging should track this down easier if / when it happens again.  I'll keep running with this modified version of the webapi.py

[2015-03-09 00:53] ripper1967 commented on #890
i didnt have a visual c++ installed  it didnt compile correct, after i installed it the error went away..

[2015-03-09 00:54] fernandog commented on #846
@Thraxis

"SELECT airdate, airs, episode, name AS 'ep_name', description AS 'ep_plot', network, season, showid AS 'indexerid'

indexerid = showid

no problem! let's wait the error appear.

[2015-03-09 00:55] fernandog commented on #846
@Thraxis please disable auto-updated and disable "git reset" in settings. otherwise git reset will override this change

[2015-03-09 00:59] Thraxis commented on #846
@fernandog I keep both of those disabled as a practice anyway

And you missed the part further down in the code:

for ep in sql_results:

The sql result sets is pulled as rows name ep and each element is an array item in that row.  That's why there is an ep['airs']  and why you have to use ep['indexerid'] instead of just indexerid.

(that and it spat an error out when I first tested your code as i

[2015-03-09 01:02] ripper1967 commented on #890
i take it the time its is submitted goes by the time on my system? i just reloaded it and had the wrong time zone.

[2015-03-09 01:06] fernandog commented on #875
XEM has wrong association.
See the red table

http://thexem.de/xem/show/1958

[2015-03-09 01:19] ryanf86 commented on #877
Have updated and is now working correctly

[2015-03-09 01:24] #877 closed

[2015-03-09 01:25] ripper1967 commented on #890
Had to pull from git couldnt update from web ui.,,

[2015-03-09 01:28] fernandog commented on #890
what was the error while updating from UI?

[2015-03-09 01:29] fernandog commented on #793
@scythe000 any lucky?

[2015-03-09 01:33] fernandog commented on #852
@StSaens please update master and report back

[2015-03-09 01:35] abeloin commented on #870
It's validating Scandal.US.S04E02.HDTV.XviD-AFG but not the folder underneath when it's in the walk that is why it's working on a manual PP but fail on on auto PP

[2015-03-09 01:35] abeloin commented on #852
Related to https://github.com/SiCKRAGETV/sickrage-issues/issues/718

IPT doesn't support partial searching

[2015-03-09 01:39] scythe000 commented on #793
Yeah, I guess it's safe to close. I'm still not sure what the cause of it was, but everything seems to be processing fine right now.

Sent from my iPhone

On Mar 8, 2015, at 6:29 PM, Fernando <notifications@github.com<mailto:notifications@github.com>> wrote:

@scythe000<https://github.com/scythe000> any lucky?

—
Reply to this email directly or view it on GitHub<https://github.com/SiCKRAGETV/sickr

[2015-03-09 01:49] abeloin commented on #852
Need to redo the _get_season_search_strings

[2015-03-09 01:50] abeloin commented on #891
Regex issue

[2015-03-09 01:52] kendog819 commented on #870
Is there a way to resolve this?

[2015-03-09 01:57] abeloin commented on #870
Yes, we are in the process of fixing the issue. A pull requests will be submitted in develop and then merge in master after testing.

[2015-03-09 02:00] kendog819 commented on #870
There is a way of me using the develop, right?

[2015-03-09 02:02] fernandog commented on #870
Yes. But there is no fix available yet

[2015-03-09 02:03] kendog819 commented on #870
Sorry, i'm very new here. Will it be posted in here when there is a fix?

[2015-03-09 02:04] abeloin commented on #870
Yes you will get a notification when there's a fix

[2015-03-09 02:28] goatbased commented on #370
@fernandog

Alrighty here are my results.

*tvdb and tvrage are both accessible here
*I do not use proxy. Double checked that it's not accidentally configured.  I do have "use proxy host for connecting to indexers" checked though. I checked a clean config (just downloaded the latest and ran on a seperate system) and it looks like this is out of box default.

I found the following entries in my log

[2015-03-09 03:57] kestnuts commented on #743
Hey all, updated to the new version of Sickrage tonight, and this pesky loop is back again. This time it happened while doing an episode search. See below :
![image](https://cloud.githubusercontent.com/assets/11171753/6549747/d4f95208-c5ee-11e4-8d7e-149b36b11f5b.png)

[2015-03-09 04:09] scythe000 commented on #793
Crap!!! Spoke too soon. It's not processing 3 new files it just downloaded.

[2015-03-09 04:35] Thraxis commented on #875
Episode 1 on The TVDB actually encompasses what some scene releases called S01E01-E02 If your episode 1 is 90 minutes then you should have the correct episode numbering in the end.  If it is only 47 minutes then you should probably look for one that is 90 minutes.

Terra Nova had this same issue when the scene releases put out S01E01 and S01E02 as seperate files yet FOX and TheTVDB insisted it was

[2015-03-09 04:38] roger83 opened #892 "[APP SUBMITTED]: coercing to Unicode: need string or buffer, NoneType found"
### INFO
Python Version: **2.7 (r27:82500, Aug 21 2010, 07:52:47)
[GCC 4.1.3 20070929 (prerelease) (Ubuntu 4.1.2-16ubuntu2)]**
Operating System: **Linux-3.12.6-x86_64-with-glibc2.4**
Branch: **master**
Commit: SiCKRAGETV/SickRage@558684cca7605dc4c2c3058d1f92e13f23881bd3
Link to Log: https://gist.github.com/f8ef8f20a0085a1963d6
### ERROR
[code]
---
_STAFF NOTIFIED_: @SiCKRAGETV/owners @SiCKRAGETV/m

[2015-03-09 04:41] Thraxis opened #893 "Fanzub has closed"
http://fanzub.com/ has shut down the provider for this service is no longer needed at this time.

The owner of the site is providing the source code and database as it was when he shut down so there is a possibility clone sites using the code may appear, and this provider may become of use again in the future.

[2015-03-09 04:47] Thraxis commented on #846
@abeloin I've not had a replication of the error yet since adding in the logging code.  But I have a theory  that might pan out by tomorrow on what triggers the error and why we may not be seeing it now when we did earlier.

I have a suspicion that this may be related to "missed" episodes.  I currently do not have any, but I did last week when this happened. I tend to have at least one between Sun

[2015-03-09 04:50] roger83 commented on #892
Sick rage does not seem to auto process anymore. When I auto process I get this error.

[2015-03-09 05:06] jiBYo opened #894 "[APP SUBMITTED]: not a valid bencoded string"
### INFO
Python Version: **2.7.8 (default, Jun 30 2014, 16:08:48) [MSC v.1500 64 bit (AMD64)]**
Operating System: **Windows-8-6.2.9200**
Branch: **master**
Commit: SiCKRAGETV/SickRage@558684cca7605dc4c2c3058d1f92e13f23881bd3
### ERROR
[code]
---
_STAFF NOTIFIED_: @SiCKRAGETV/owners @SiCKRAGETV/moderators

[2015-03-09 05:14] fernandog commented on #894
Do you have IPT provider?
You dont have enought seed ratio to download that torrrent.

[2015-03-09 05:17] jiBYo commented on #894
I have enough.

Ratio: 3.32  Up: 1.15 TB  Dn: 355 GB

[2015-03-09 05:19] fernandog commented on #894
Try to download that torrent directly from IPT
please send full logs in pastebin

[2015-03-09 05:19] fernandog commented on #793
Logs??

[2015-03-09 05:21] fernandog commented on #743
@kestnuts please set number of log to 0 (zero). Restart

[2015-03-09 05:47] grimd34th opened #895 "[APP SUBMITTED]: 'utf8' codec can't decode byte 0xb8 in position 1: invalid start byte"
### INFO
Python Version: **2.7.6 (default, Mar 22 2014, 22:59:56)
[GCC 4.8.2]**
Operating System: **Linux-3.13.0-46-generic-x86_64-with-Ubuntu-14.04-trusty**
Branch: **master**
Commit: SiCKRAGETV/SickRage@558684cca7605dc4c2c3058d1f92e13f23881bd3
### ERROR
[code]
---
_STAFF NOTIFIED_: @SiCKRAGETV/owners @SiCKRAGETV/moderators

[2015-03-09 06:14] grimd34th opened #896 "[APP SUBMITTED]: 'utf8' codec can't decode byte 0xb8 in position 1: invalid start byte"
### INFO
Python Version: **2.7.6 (default, Mar 22 2014, 22:59:56)
[GCC 4.8.2]**
Operating System: **Linux-3.13.0-46-generic-x86_64-with-Ubuntu-14.04-trusty**
Branch: **master**
Commit: SiCKRAGETV/SickRage@558684cca7605dc4c2c3058d1f92e13f23881bd3
### ERROR
[code]
---
_STAFF NOTIFIED_: @SiCKRAGETV/owners @SiCKRAGETV/moderators

[2015-03-09 06:14] #896 closed

[2015-03-09 06:26] koper89 commented on #881
Hi,
I'm using xbian installed on btrfs partition on external hdd. You may be right about OOM here's my output before freeze:
Mar 7 15:23:10 xbian kernel: <30>[ 24.876932] udevd[1114]: starting version 175
Mar 7 15:23:10 xbian kernel: [ 25.335103] bcm2708_spi bcm2708_spi.0: master is unqueued, this is deprecated
Mar 7 15:23:10 xbian kernel: [ 25.335606] bcm2708_spi bcm2708_spi.0: SPI Controller at

[2015-03-09 06:49] totalfrenzy opened #897 "sickrage randomly closes after a couple of hours"
Branch: Master
Commit Hash: 558684cca7605dc4c2c3058d1f92e13f23881bd3
OS: Debian 7.8
Python: 2.7.3
What I did: Seemed to start happening after moving back from dev verion (Issues with ipt).
What happened: Sickrage randomly closes after ~1-2 hours
What I expected: That it doesn't close or at least leaves an error.
Specific Log: I cannot find anything in the log that might be causing this issue, howe

[2015-03-09 06:50] phdelodder commented on #856
Yes it works

[2015-03-09 07:29] Thraxis commented on #846
And no joy on that suspicion.   I'll keep running the extended logging in the hope that I can catch it and get more information on where this is coming from.

[2015-03-09 07:33] TagForce commented on #875
@anothergene @Kallb123 This happens because when scene numbering is not enabled SR uses the episode numbers from tvdb or tvrage. It will grab the correct scene release, but then it will rename it to whatever tvdb tells it it should be. In the case of fortitude this means that tvdb says Episode 0 and 1 are both episode 1. This causes all the other scene numbers to be converted to one less. So episo

[2015-03-09 07:37] frederoni opened #898 "[APP SUBMITTED]: 'ascii' codec can't encode character u'\xc5' in position 47: ordinal not in range(128)"
### INFO
Python Version: **2.7.6 (default, Mar 22 2014, 22:59:56)
[GCC 4.8.2]**
Operating System: **Linux-3.13.0-46-generic-x86_64-with-Ubuntu-14.04-trusty**
Branch: **develop**
Commit: SiCKRAGETV/SickRage@2df54608e079cd694766608d156568daa06ea471
Link to Log: https://gist.github.com/1454e18e755056ea09c1
### ERROR
[code]
---
_STAFF NOTIFIED_: @SiCKRAGETV/owners @SiCKRAGETV/moderators

[2015-03-09 07:38] TagForce commented on #878
@fernandog I'll see if I can add a check to set_status in webserve.py... If it's paused then don't add it to backlog, and just set the ep to wanted.

[2015-03-09 07:53] mbnoimi commented on #850
@abeloin It seems I lost the log from yesterday because the oldest log file started from **2015-03-09 06:28:08 DEBUG**

[2015-03-09 07:54] vanticar commented on #848
@fernandog I dont understand what do you need me to do? also please allow for TZ differeneces - I am GMT not EST, thankyou

[2015-03-09 08:10] vanticar commented on #849
@abeloin deleted python, dl / installed python 2.7.9, cheetah 2.4.4 'python setup.py install' (successful), created new sickrage start vbs script:-

2015-03-09 08:04:55 SEARCHQUEUE-MANUAL-248741 :: [Rarbg] :: Error while searching Rarbg, skipping: error [Errno 10013] An attempt was made to access a socket in a way forbidden by its access permissions
2015-03-09 08:04:54 SEARCHQUEUE-MANUAL-248741 ::

[2015-03-09 08:14] TagForce commented on #878
@djack42 @fernandog
https://github.com/SiCKRAGETV/SickRage/pull/1504

[2015-03-09 08:32] TagForce commented on #870
@abeloin are you fixing this, or should I add the validate_dir check to the dirs it gets from the walk?

[2015-03-09 09:26] gonfreecs64 commented on #891
After searching for others parsing errors in logs, I tried to append this parser at the end of name_parser/regexes.py :
[code]

The parser works on inline test with python but this does not change anything when force backlog search in sickrage. The same error apears again.

Btw, is it possible/smart to show parsing errors in error logs and not at info/debug level?

[2015-03-09 09:35] fferraro87 commented on #887
@abeloin it's the same drive where it is sickrage

[2015-03-09 10:10] TagForce commented on #870
@kendog819 @abeloin @fernandog Please test this commit...
It looks like it's working on my test rig, but it needs to be well tested on a production machine as well.

https://github.com/SiCKRAGETV/SickRage/pull/1505

It adds a validate dir check to each folder it is actually processing, rather than just the subfolder it's about to process.
It also changes the delete folder to only delete folders wh

[2015-03-09 10:56] neoatomic commented on #893
@Thraxis Thank you for the notification. Could you keep an eye out if any clones appear.?

[2015-03-09 11:05] abeloin commented on #897
Look into your system's log, it should leave a trace when it crashed.

[2015-03-09 11:05] TagForce commented on #892
seems related to https://github.com/SiCKRAGETV/sickrage-issues/issues/870

[2015-03-09 11:08] rarbg commented on #853
Also pasting the link to the public api docs here https://rarbg.com/pubapi/apidocs.txt

[2015-03-09 11:09] abeloin commented on #870
@TagForce

Not anymore ;)

Will test and report back

[2015-03-09 11:27] abeloin commented on #875
@TagForce @Thraxis So if they want to use numbering from 1 to 12 they should use TVRage?

[2015-03-09 11:32] jeanpaulrh commented on #892
It seems to be related to an '-' in the file name. I had this issue with an ubuntu iso torrent.

[2015-03-09 11:34] abeloin commented on #850
Or any other magnet link log that didn't save.

[2015-03-09 11:39] mbnoimi commented on #850
@abeloin Unfortunately I unable to capture any missing magnet after losing the log from yesterday.

[2015-03-09 11:42] abeloin commented on #849
Stop sickrage. Copy and replace the whole file with this: https://raw.githubusercontent.com/SiCKRAGETV/SickRage/b9b29ea6269cc325488e9ae8bc249dcd7114fc6a/sickbeard/providers/rarbg.py
Start sickrage

[2015-03-09 11:57] fernandog commented on #870
@Tagforce about this "It also changes the delete folder to only delete folders which are empty." - If there is associated files there? Will they be removed before the empty check?

[2015-03-09 11:57] TagForce commented on #875
@abeloin If that has the correct numbering, then yes. Or turn on scene numbering for this show... Or live with the fact that for this season, ep01 is actually ep01 and ep02, and each following episode will be named one less.

[2015-03-09 11:59] fernandog commented on #853
@rarbg thanks! How did you found us? Kat was having rss issues and we told all users to use rarbg

[2015-03-09 12:00] TagForce commented on #870
@fernandog Yes, this only affects deletion of folders. In other words, if process_method is 'move'. And that will delete associated files anyway, since they are moved. If process_method <> 'move' no files or folders will be deleted.

[2015-03-09 12:02] totalfrenzy commented on #897
I'm unable to check the system logs because I'm on a shared seedbox. Which specific log should I be looking for so I can possibly request it?

Would I be better off doing a reinstall in the meantime?

[2015-03-09 12:07] fernandog commented on #846
@Thraxis do you have a backup from last 5-7 days?

[2015-03-09 12:09] abeloin commented on #891
A new regex will be added in develop later on today.

[2015-03-09 12:13] fernandog commented on #848
You asked "I would like an option to use your coded sickrage proxy sites under provider options in the Add Custom Torrent Provide" and we did. We want you to test !

[2015-03-09 12:16] fernandog commented on #881
but when it start to search you get high cpu and mem

[2015-03-09 12:16] #881 closed

[2015-03-09 12:31] abeloin commented on #897
Do you have the permission to install such software on a shared seedbox? As Sickrage can consume a lot of CPU and memory, it may be killed by the  vps or provider depending on the packages options you chosen.

[2015-03-09 12:39] totalfrenzy commented on #897
Yeah they provide a script that sets it all up for us

[2015-03-09 12:47] hoefs opened #899 "kickass.to search is broken"
https://kickass.to/usearch/Top.Gear+2015+03+08/?field=seeders&sorder=desc&rss=1

is not working and does not give any results...

2015-03-09 13:32:15 DEBUG    SEARCHQUEUE-BACKLOG-74608 :: [KickAssTorrents] :: Last update was too soon, using old cache: today()-2015-03-09 13:13:19<0:20:00
2015-03-09 13:32:15 INFO     SEARCHQUEUE-BACKLOG-74608 :: [KickAssTorrents] :: Performing episode search for Top

[2015-03-09 12:51] fernandog commented on #899
They are having issues with rss in past week. Please use RARBG instead

[2015-03-09 12:51] #899 closed

[2015-03-09 12:54] hoefs commented on #899
@fernandog I have checked, the rss is working, but only when you use Air-By-Date is is not working!

[2015-03-09 13:01] ripper1967 commented on #890
there was no error it just told me no update needed, didnt notice it till Albeion mentioned the commit number.
http://pastebin.com/hxu4Ab82 so i just used git to pull the current commit we will see if it will update with the next commit..

[2015-03-09 13:10] fernandog commented on #899
Rss dont support air by date anymore?

[2015-03-09 13:14] vanticar commented on #848
oh ok sorry i am not sure what i am supposed to do? - if i try and ad say http://extratorrent.cc or http://extratorrent.cc/rss.xml i get the no feed error currently - but presumably i have to update some files? unsure what git commands to use (old ftp user here) - do you have an ftp server for me to download files or was it updated in last updates in sickrage?

[2015-03-09 13:15] hoefs commented on #899
Seems that air by date search is broken with kickass

[2015-03-09 13:20] fernandog commented on #899
SR is doing wrong or RSS dont return air by date  correctly?

[2015-03-09 13:23] fernandog commented on #848
no. are you using the lastest update? If so, don't need to change any files

extratorrent used to get error and now it don't? So is fixed, isn't?

[2015-03-09 13:23] #848 closed

[2015-03-09 13:26] vanticar commented on #848
@fernandog I still get error when trying to add  http://extratorrent.cc or http://extratorrent.cc/rss.xml

[2015-03-09 13:27] vanticar commented on #848
I still get error when trying to add http://extratorrent.cc or
http://extratorrent.cc/rss.xml

------ Original Message ------
From: "Fernando" <notifications@github.com>
To: "SiCKRAGETV/sickrage-issues" <sickrage-issues@noreply.github.com>
Cc: "vanticar" <vanticar@gmail.com>
Sent: 09/03/2015 13:23:42
Subject: Re: [sickrage-issues] REQUEST/SUGESTION 'no items found in the
RSS feed' - use your proxi

[2015-03-09 13:29] hoefs commented on #899
SR is doing correctly I assume, but RSS is not returning anything

[2015-03-09 13:30] vanticar commented on #849
done - changed from error to a warning (so doesnt appear in error log)

2015-03-09 13:23:44 WARNING  SEARCHQUEUE-MANUAL-263365 :: [Rarbg] :: Connection error [SSL: UNKNOWN_PROTOCOL] unknown protocol (_ssl.c:581) while loading URL https://rarbg.com/torrents.php?search=Marvels.Agents.of.S.H.I.E.L.D.S02E12.&category=41&page=5
2015-03-09 13:23:44 WARNING  SEARCHQUEUE-MANUAL-263365 :: [Rarbg] :: Connec

[2015-03-09 13:30] fernandog commented on #899
can you keep checking this? if KAT will not allow air-by-date anymore we will need do remove it from the code

[2015-03-09 13:32] fernandog commented on #848
@vanticar did you enabled global proxy in Advanced settings ?

[2015-03-09 13:33] TagForce commented on #743
@fernandog @abeloin I think I may have found the issue...
This problem only occurs on multi-processed python applications, which SR is not...
However... When updating or hitting the 'restart' option, SR will indeed spawn a new process of itself.
When hitting shutdown, SR stops, but it will keep a copy of sickrage.log open. It only shows on Windows because it will have an exclusive file lock on the

[2015-03-09 13:37] rarbg commented on #853
@fernandog believe it or not random luck :)

[2015-03-09 13:39] vanticar commented on #848
/config/general/ - Adavnced Use proxy for indexers - use proxy host for connecting to indexers (thetvdb, tvrage) - TICKED

still same error 'no items found in RSS feed' using  http://extratorrent.cc or http://extratorrent.cc/rss.xml

no change - sorry

[2015-03-09 13:55] vanticar commented on #848
FYI http://extratorrent.cc/category/8/TV+Torrents.html is the pages / feeds i am trying to use

[2015-03-09 14:01] fernandog commented on #743
@TagForce thanks!

[2015-03-09 14:02] fernandog commented on #848
@vanticar what's the content of "Proxy host" in Advanced Settings?

[2015-03-09 14:03] fernandog commented on #848
@abeloin
is this a proper XML feed - http://extratorrent.cc/rss.xml?cid=8&type=last ?
I don't think so

[2015-03-09 14:07] fernandog commented on #853
@rarbg nice! thanks! Is it possible to fetch more than 7 days?
Do you know how SickRage works?
We have daily searches and backlog searches
Daily search are for episodes currently airing.
backlog search is when you add a tv-show from 2011 and you need to download it. If 7 days it's the limit, SR won't fetch anything from rarbg.

[2015-03-09 14:09] vanticar commented on #848
@fernandog Proxy host - 'BLANK'

FYI (i was also trying to add rarbg https://rarbg.com/rssdd.php but this has now been added with a different feed?) - my other github errors (are these related?) for this is https://github.com/SiCKRAGETV/sickrage-issues/issues/849#issuecomment-77839160

[2015-03-09 14:14] fernandog commented on #848
@vanticar rarbg is in the provider list! are you using that? why add a rarbg as rss if we have in the provider list?

[2015-03-09 14:17] fernandog commented on #743
merged

[2015-03-09 14:18] #820 closed

[2015-03-09 14:23] vanticar commented on #848
lol - it wasnt until recently. My original post / sugestion on the sickrage forum was to add that feed before it was included in the last update (extratorrent was not however) because https://rarbg.com/rssdd.php  also did not work - it was more FYI with the errors i am having with rarbg and the code i have now tried uses a different feed(s) https://rarbg.com',

                     'base_url': 'ht

[2015-03-09 14:28] rarbg commented on #853
@fernandog No idea how SickRage actually works , thanks for explaining , can you tell me if sickrage knows the imdb tt when you add a new show or is the "add" actually just a search ?

[2015-03-09 14:34] fernandog commented on #853
@rarbg torrents we search by string ( showname S00E00). as not all torrents providers have the hability to use tvrage ID or thetvdb id. BUT all shows from SR has an indexer ID

[2015-03-09 14:38] TagForce commented on #853
@rarbg No, SR doesn't actually use the imdb tt for its internal workings. It uses tvdb and tvrage IDs for that. However, it does get the imdb tt from those, and does get information from imdb when adding the show.

[2015-03-09 14:40] rarbg commented on #853
@TagForce  @fernandog
So instead of removing the limit on search by string can i just give you an extra option where you can search by imdb tt(already working) / tvdb / tvrage id that is unlimited in back searching in our database?

[2015-03-09 14:44] fernandog commented on #853
@rarbg the site scraping works like that: we search only by showname

[2015-03-09 14:54] rarbg commented on #853
Ok. Api docs updated.
1. Now you can search also by tvdb + tvrage
2. Removed limit restrictions on imdb / tvdb / tvrage searches

[2015-03-09 15:04] fernandog commented on #853
@rarbg thanks! did you noticed an increase in web traffic recently?

[2015-03-09 15:05] simonwicks commented on #853
Glad all this has come about from my feature / bug ! :)

[2015-03-09 15:05] rarbg commented on #853
@fernandog
no :) nothing unusual , no spikes .. i guess not a lot of users switched to us ?

[2015-03-09 15:07] abeloin commented on #897
Is it a vps on a sharedbox or multiple users using on server? Because if it's vps you may be hitting a memory limit. Ask them if they can provide the log when sickrage closed unexpectedly.

Can you share the provider's name?

[2015-03-09 15:12] fernandog commented on #853
@rarbg can you implement an optional "minimal seeders" and "minimal leechers" in API - if is not too trouble.

[2015-03-09 15:19] scythe000 commented on #793
http://pastebin.com/aPfEQvf1

[2015-03-09 15:19] fernandog opened #900 "[Feature Request] Add provider status icon/message in "Provider Priorities" tab"
We can show a warning if the provider is down, or having some sort of issue or if is blocked so user can enable a proxy for it

additionally we can use that bunch of "isdown" websites to confirm it's not a local problem
KAT was having rss issues in past week and with this status icon/message users can be aware of problems

@abeloin @TagForce @neoatomic @Hellowlol thoughts?

[2015-03-09 15:21] fernandog commented on #793
@scythe000 ther is no ERROR in your log. can you point it out or send a new log and post the 3 filenames?

[2015-03-09 15:23] rarbg commented on #853
@fernandog
Done + Api docs updated :)

[2015-03-09 15:24] abeloin commented on #853
@fernandog Yes, we need to change the code for that.

[2015-03-09 15:27] scythe000 commented on #793
What the...ok, I have no explanation for this. I had removed the items from uTorrent after they failed to process. Per my logs, it went through 10 cycles of postprocessing that failed. I checked my download folder, and they are gone, but have been process into their show folders. No notifications sent, and SR still just shows them as 'snatched' in the history.

[2015-03-09 15:29] fernandog commented on #853
@rarbg thanks!

[2015-03-09 15:33] rarbg commented on #853
@fernandog np :)

[2015-03-09 15:34] TagForce commented on #900
@fernandog @abeloin @neoatomic @Hellowlol
I usually don't go into the provider priorities when something is not working. I check logs. Maybe we can add a more descriptive error message there rather than in the provider priorities page?

[2015-03-09 15:35] crazyasyou opened #901 "metadata during post processing."
After the most recent update on the master branch there are issues during post processing (its fails) if metadata for xml output is enabled (image data eg folder.jpg still works ok.)

If show metadata > series.xml and/or episode metadate > filename.xml are enable processing fails and the below is returned in the logs.

SR Version: 	BRANCH: (master) / COMMIT: (558684cca7605dc4c2c3058d1f92e13f23881b

[2015-03-09 15:35] fernandog commented on #370
@TagForce

looks like the POSTPROCESSER started "show-refresh/update" for one show and seconds later the SHOWUPDATER  started. So that's why the error. Can you confirm POSTPROCESSER does that?
If so, it's not an error and we should not show the traceback

[code]

[2015-03-09 15:38] crazyasyou commented on #901
forgot to add this is for Mede8er, I've not tested other metadata options and for now as a temp fix I've disabled xml output but left the images output enabled and PP is working ok.

[2015-03-09 15:42] fernandog commented on #895
@grimd34th can you SSH and post the result of

[code]

and

[code]

[2015-03-09 15:43] fernandog commented on #893
@Thraxis we will remove it if nobody clone it

[2015-03-09 15:46] abeloin commented on #849
Do you have an https proxy settup in the global proxy in config?

[2015-03-09 15:49] #882 closed

[2015-03-09 15:51] fernandog commented on #898
@frederoni

can you SSH and post the results of:
please run these commands using  the same user which SR is using

[code]
and
[code]

[2015-03-09 16:01] TagForce commented on #901
@crazyasyou Hmmm, apparently I forgot two assignments when redoing the mede8er.py to fix these errors...

[2015-03-09 16:04] TagForce commented on #901
https://github.com/SiCKRAGETV/SickRage/pull/1508

[2015-03-09 16:09] TagForce commented on #370
@fernandog PP doesn't start a show_update... It exits after processing without calling any scheduler or queue.

[2015-03-09 16:22] frederoni commented on #898
Absolutely @fernandog
`$ locale
LANG=en_US.UTF-8
LANGUAGE=en_US:en
LC_CTYPE="en_US.utf8"
LC_NUMERIC="en_US.utf8"
LC_TIME="en_US.utf8"
LC_COLLATE="en_US.utf8"
LC_MONETARY="en_US.utf8"
LC_MESSAGES="en_US.utf8"
LC_PAPER="en_US.utf8"
LC_NAME="en_US.utf8"
LC_ADDRESS="en_US.utf8"
LC_TELEPHONE="en_US.utf8"
LC_MEASUREMENT="en_US.utf8"
LC_IDENTIFICATION="en_US.utf8"
LC_ALL=en_US.utf8`

`$ locale -a
C
C.UTF

[2015-03-09 16:24] frederoni commented on #898
hm yea, there's the problem

[2015-03-09 16:25] fernandog commented on #898
@abeloin why using ascii if is UTF-8 ?

[2015-03-09 16:37] hairyhippy commented on #871
have a feeling rarbg might be being blocked now or is down as getting:
2015-03-09 16:36:05 SEARCHQUEUE-BACKLOG-251495 :: [Rarbg] :: Error while searching Rarbg, skipping: error timed out

[2015-03-09 16:42] vanticar commented on #849
No - this is blank, which is why i wish to use your internal sickrage proxy(s) - i have a very limited 3mbs 'broadband' ADSL and proxy servers as well as VPN slow my connecton even more

[2015-03-09 16:42] hairyhippy commented on #871
Also now seeing this in the debug log:
http://pastebin.com/YthBS8zp

[2015-03-09 16:44] hairyhippy opened #902 "[APP SUBMITTED]: <urlopen error timed out>"
### INFO
Python Version: **2.7.8 (default, Dec 12 2014, 21:57:17)
[GCC 4.6.3]**
Operating System: **Linux-3.2.40-i686-with-glibc2.0**
Branch: **master**
Commit: SiCKRAGETV/SickRage@558684cca7605dc4c2c3058d1f92e13f23881bd3
### ERROR
[code]
---
_STAFF NOTIFIED_: @SiCKRAGETV/owners @SiCKRAGETV/moderators

[2015-03-09 16:45] fernandog commented on #902
@rarbg anything has changed or minor issue with website?

[2015-03-09 16:50] rarbg commented on #902
@fernandog
Not an issue from this side :)

[2015-03-09 16:52] hairyhippy commented on #902
@fernandog

Here is debug log:
http://pastebin.com/YthBS8zp

[2015-03-09 16:53] rarbg commented on #902
@hairyhippy  can you open the site at all ?

[2015-03-09 16:53] Hellowlol commented on #900
Agreed, first place too look if there is a error should be the logs.

[2015-03-09 17:00] hairyhippy commented on #902
@rarbg do you mean via a normal browser (e.g. in Chrome type the url rarbg.com)?  if so, no I can't today, could yesterday.

[2015-03-09 17:04] rarbg commented on #902
@hairyhippy thats because you are using the old sickrage code that @CoRpO coded.
Unfortunately he was unaware that we have a bot protection , you were detected as bot and your ip was banned.
I will clear the bot protection history now , and you should be able to open the site / use sickrage until it detects you as a bot again. Please @hairyhippy tell me if you can open the site now and use the sic

[2015-03-09 17:05] fernandog commented on #902
@hairyhippy try this:
http://www.downforeveryoneorjustme.com/rarbg.com

What is your country?
try to access via any web proxy (google it)

[2015-03-09 17:08] fernandog commented on #902
@rarbg we need a few days to change the code.
i never had this issue and I only download from rarbg.
maybe @hairyhippy search frequency was too high

[2015-03-09 17:08] #902 closed

[2015-03-09 17:08] hairyhippy commented on #902
@rarbg thanks

@fernandog get the following "It's just you. http://rarbg.com is up."  UK, can access via proxy.

[2015-03-09 17:09] fernandog commented on #902
@hairyhippy read above comments please

[2015-03-09 17:09] Arcanemagus commented on #110
I'm unsure if Synology NAS's use an ACL aware file system, but at least on FreeNAS if the dataset type is set to Windows (Meaning ACL is enabled) then setting permissions with a simple chmod will fail regardless of the basic permissions on the file.

So even if SickRage is running as the owner this may still fail depending on your setup.

[2015-03-09 17:12] hairyhippy commented on #902
@fernandog I have, will wait on code and reduce frequency.  The defaults were:
Backlog search frequency 720
Daily search frequency 40

have doubled these.

[2015-03-09 17:13] kendog819 commented on #870
I'm really not sure how to update to this. Especially since it is running on my nas.

[2015-03-09 17:14] rarbg commented on #902
@hairyhippy
From the uk you can use any of the public proxies or just use https://rarbg.com or if thats blocked https://rarbg.com:444/

[2015-03-09 17:16] neoatomic commented on #900
Like the idea, but not sure how you can make a reliable test for this on the users side.?
There are simply to many variables to consider when you want to implement this. Its not simply ping an IP.

Only thing i can think of is a "scrolling message" on top of the show list. (To push messages to the user)
We make a notification.txt on the SR github repository and add news messages we like to push. E

[2015-03-09 17:25] fernandog commented on #900
The problem ia that single timeout or a single error is not a big issue. The big issue is consecutive (same) problems

[2015-03-09 17:26] hairyhippy commented on #902
@rarbg do you mean within SR itself as neither working Chrome. Can access in Chrome via another proxy.

[2015-03-09 17:29] fernandog commented on #900
@neoatomic https://github.com/SiCKRAGETV/sickrage-issues/issues/854

[2015-03-09 17:30] fernandog commented on #870
https://github.com/SiCKRAGETV/sickrage-issues/issues/870

[2015-03-09 17:33] kendog819 commented on #870
Not sure what to do at all @fernandog

[2015-03-09 17:35] fernandog commented on #870
https://github.com/SiCKRAGETV/SickRage/pull/1505

[2015-03-09 17:36] fernandog commented on #870
Wait an update on master or switch to develop branch in advanced setting

[2015-03-09 17:36] rarbg commented on #902
@hairyhippy
Lets move this outside sickrage because this is really an issue not related to sickrage. Please send an email to support@rarbg.com and you will get instant support , please include your ip address so the support can investigate your issue asap ( i notified them in advance )

[2015-03-09 17:37] kendog819 commented on #870
Will master update be long?

[2015-03-09 17:41] thesmj opened #903 "[APP SUBMITTED]: coercing to Unicode: need string or buffer, NoneType found"
### INFO
Python Version: **2.7.3 (default, Apr 10 2012, 23:24:47) [MSC v.1500 64 bit (AMD64)]**
Operating System: **Windows-7-6.1.7601-SP1**
Branch: **master**
Commit: SiCKRAGETV/SickRage@558684cca7605dc4c2c3058d1f92e13f23881bd3
### ERROR
[code]
---
_STAFF NOTIFIED_: @SiCKRAGETV/owners @SiCKRAGETV/moderators

[2015-03-09 17:43] thesmj commented on #903
The above happens whenever postprocessing is run. Started after running the auto updater yesterday afternoon.

[2015-03-09 17:43] kendog819 commented on #870
Under "Branch Version" in the dropdown my only option to choose from is "Master" How do I change to develop?

[2015-03-09 17:55] ripper1967 commented on #903
link to debug log?

[2015-03-09 18:17] fernandog commented on #870
enter git user/pass in github SR settings

[2015-03-09 18:19] thesmj commented on #903
Well, I shut down SR to enable debugging, enabled it and started it back up. Now it's working fine?

[2015-03-09 18:28] Vodka2014 commented on #872
@neoatomic so zag stated we can add it to the Index.  But like you stated this may take time, I will check this out as well to see if i can add it some how in Dev.

[2015-03-09 18:30] kendog819 commented on #870
Thank You :)

[2015-03-09 18:32] Vodka2014 commented on #110
thanks. the main thing is it still processes with no issues just gives this error,

[2015-03-09 18:33] fernandog commented on #903
https://github.com/SiCKRAGETV/sickrage-issues/issues/892

[2015-03-09 18:33] fernandog commented on #892
@TagForce maybe we need str(name) ?

[2015-03-09 18:35] fernandog commented on #870
@kendog819 please reply when you finish testing

[2015-03-09 18:40] StSaens commented on #852
I've updated master and the following is in the logs (no downloads initiated related to this):

[code]

[2015-03-09 18:45] fernandog commented on #852
@StSaens log is not complete. It searches all providers than it choose the best one

[2015-03-09 18:47] fernandog commented on #852
@StSaens send a print of your tv-show page

[2015-03-09 18:48] kendog819 commented on #870
@fernandog  Doesn't seem to be working. I have a show that was downloaded last night I have done a rescan and forced a full update. I'm not seeing any errors, but i'm also seeing no attempts at post processing the episode. Should I try a manual PP?

[2015-03-09 18:49] abeloin commented on #849
It's weird because none of the 4 proxies uses SSL, so sickrage shouldn't connect via ssl.

How do you start sickrage in your vbs?

[2015-03-09 18:51] fernandog commented on #870
@kendog819 yes please.

do you still see this?

https://cloud.githubusercontent.com/assets/11353628/6531028/b55c5a2c-c403-11e4-94bf-5083a006465d.png

[2015-03-09 18:56] kendog819 commented on #870
@fernandog
![image](https://cloud.githubusercontent.com/assets/11353628/6562076/4f4d0c3e-c66c-11e4-94f4-c990404cab49.png)

[2015-03-09 18:57] kendog819 commented on #870
![image](https://cloud.githubusercontent.com/assets/11353628/6562101/7d7a7786-c66c-11e4-9c41-205d178f36fc.png)

![image](https://cloud.githubusercontent.com/assets/11353628/6562115/9c7f170e-c66c-11e4-8d09-a7c287d71cf5.png)

[2015-03-09 19:01] fernandog commented on #870
@kendog819 are you sure you are using develop branch?

please check /config page

[2015-03-09 19:11] fernandog commented on #894
@jiBYo any news?

[2015-03-09 19:35] kendog819 commented on #870
@fernandog  Pretty Sure ;)

![image](https://cloud.githubusercontent.com/assets/11353628/6562734/d6370600-c671-11e4-8887-297b1f9077ed.png)

[2015-03-09 19:36] fernandog commented on #870
@TagForce PR 1505 didn't fixed =(

[2015-03-09 19:47] TagForce commented on #870
What's wrong with it? It's ignoring the hidden folders.

[2015-03-09 19:48] kendog819 commented on #870
It's still not auto post processing though. Not even an attempt.

[2015-03-09 19:49] StSaens commented on #852
![clipboard02](https://cloud.githubusercontent.com/assets/11319160/6562972/ad123df4-c69d-11e4-8d94-45a1e3ef6c2c.jpg)

![clipboard04](https://cloud.githubusercontent.com/assets/11319160/6562984/d3401d0c-c69d-11e4-8eb9-5c863bc1ac23.jpg)

[2015-03-09 19:51] fernandog commented on #852
What is full name of the show? Is there year or ( ) on it? Lang code?

[2015-03-09 19:59] TagForce commented on #870
@kendog819 Is autoPP not running at all?
What are your settings for PP?
Scan and Process enabled at what frequency?
If you restart SR does it run a Post Process thread (check logs)?
Can you restart SR and upload the log from that here?

[2015-03-09 19:59] StSaens commented on #852
Just Homeland:

![clipboard06](https://cloud.githubusercontent.com/assets/11319160/6563147/1b17e4e2-c69f-11e4-85fe-a2e423c90cbf.jpg)

[2015-03-09 20:02] kendog819 commented on #870
![image](https://cloud.githubusercontent.com/assets/11353628/6563205/a7103528-c675-11e4-8db7-24a925aa6306.png)

[2015-03-09 20:05] grimd34th commented on #895
###Locale
[code]

###Locale -a
[code]

[2015-03-09 20:06] kendog819 commented on #870
I have nothing in my download folder to try to APP besides these now:

![image](https://cloud.githubusercontent.com/assets/11353628/6563241/1149704e-c676-11e4-899b-fdcec768f94d.png)

And SR doesn't touch them, I assume because they have been downloaded not inside of a folder (All FUM releases are never in a folder for some reason). Hoping SR can be adjusted to add those as well, I'm sure I'll need

[2015-03-09 20:08] TagForce commented on #870
Ok. Restart SR, wait 15 minutes and upload the logs from the restart on... There should be 2 PP runs in there.
Apart from asking for the folder to process there is absolutely 0 difference between Auto Postprocessing and manual Postprocessing. They are the exact same functions being called.

[2015-03-09 20:09] kendog819 commented on #870
I have nothing to PP now though. Other than those 4 files that don't get touched anyways.

[2015-03-09 20:11] TagForce commented on #870
@kendog819 It should PP those files just fine. It should PP any files in the folder you set as your download folder in SR or any subfolder thereof as long as the folder is not hidden.

[2015-03-09 20:12] StSaens commented on #852
I only use IPtorrents for search by the way.

[2015-03-09 20:14] kendog819 commented on #870
It hasn't touched those files ever. They don't even show up in Manual PP unless I throw them in a folder 1st.

![image](https://cloud.githubusercontent.com/assets/11353628/6563400/48c7f97c-c677-11e4-8dfc-f0e2fc11759a.png)

![image](https://cloud.githubusercontent.com/assets/11353628/6563410/5cdfe1cc-c677-11e4-9178-6e698aec0f10.png)

[2015-03-09 20:15] fernandog commented on #852
@StSaens check "backlog overview" page. tell me is S03 of this show is appearing there

[2015-03-09 20:16] TagForce commented on #870
That's because you browse for a folder... Files shouldn't show up there. Just hit ok and it should find the files in there.

[2015-03-09 20:22] StSaens commented on #852
yes:

![clipboard02](https://cloud.githubusercontent.com/assets/11319160/6563561/6354fc92-c6a2-11e4-8da1-71b1386eb17b.jpg)

[2015-03-09 20:28] kendog819 commented on #870
Thanks for that @TagForce , learned something new. Now I really have nothing to PP though..lol

Let me find a new show to add real quick so we can test this.

[2015-03-09 20:31] TagForce commented on #870
@kendog819 take your time. I need some sleep anyway. Gather some logs and I'll take a look when I wake up. :)

[2015-03-09 20:40] fernandog commented on #852
@StSaens
check your setting:
- Backlog search day(s) - number of day(s) that the search will cover (e.g. 7)

Backlog search searches every "Backlog Search Frequency" minutes for episode which are older than "Backlog Search Day(s)" days.

S03 is really old! you need to increase this so SR consider that episodes a backlog

change it to include all episodes since S03E01 and do a "force backlog" in ba

[2015-03-09 20:57] fernandog commented on #852
@StSaens can you use the logsearch feature in viewlog and search for "Running limited backlog"

[2015-03-09 21:05] vanticar commented on #849
sickrage.vbs :-

Set WshShell = CreateObject("WScript.Shell")
WshShell.Run chr(34) & "C:\SickRage\SickBeard.py" & Chr(34), 0
Set WshShell = Nothing

[2015-03-09 21:07] fernandog commented on #849
@rarbg can you help us here?

[2015-03-09 21:13] rarbg commented on #849
@vanticar are you by any change in the UK ? Can you open the site at all or is it just sickrage causing the issue ?

@fernandog its probably his isp doing mitm to do a block on the site or his openssl doesnt like our ssl ( highly unlikely )

[2015-03-09 21:16] fernandog commented on #849
@rarbg i don't think is rarbg. I don't have this issue at all. he's the only user who reported this

[2015-03-09 21:23] fernandog commented on #878
merged

[2015-03-09 21:23] #878 closed

[2015-03-09 21:29] rarbg commented on #849
@fernandog most likely these issues are related to the UK blocking of the site :)

[2015-03-09 21:32] fernandog commented on #849
@rarbg setting proxy would fix this?

[2015-03-09 21:36] #903 closed

[2015-03-09 21:38] fernandog commented on #892
@roger83 update master and report back if this was fixed

[2015-03-09 21:39] #894 closed

[2015-03-09 21:42] fernandog commented on #895
@grimd34th how do you run SickRage?

[2015-03-09 21:43] fernandog commented on #898
https://github.com/SiCKRAGETV/sickrage-issues/issues/887

[2015-03-09 21:44] fernandog commented on #898
@frederoni how do you run SickRage? is it the same user of the command locale?

[2015-03-09 21:47] fernandog commented on #871
@hairyhippy rarbg error was due to BOT block (as we discussed in the other issue)

[2015-03-09 21:47] #883 closed

[2015-03-09 21:48] grimd34th commented on #895
using a conf in /etc/init

[code]

[2015-03-09 21:48] #803 closed

[2015-03-09 21:50] fernandog commented on #793
@scythe000 without logs (with errors) there's nothing we can do

[2015-03-09 21:51] fernandog commented on #895
@grimd34th the user name from "locale" command is the same of SickRage user?

[2015-03-09 21:51] #840 closed

[2015-03-09 21:52] grimd34th commented on #895
yes

[2015-03-09 21:57] fernandog commented on #821
both times it crashed AFTER full update.
[code]

[code]

@chrisric how do you run SickRage?

[2015-03-09 21:59] chemmah commented on #840
Confirmed the fix works

[2015-03-09 22:01] fernandog commented on #887
@fferraro87 what's subtitle provider you have enabled?

[2015-03-09 22:02] rarbg commented on #849
@fernandog it should! i also think after reading the last 3 issues that you gave me that i should register a domain just for the api , so it doesnt get blocked and sickrage will use that domain instead of the primary ones

[2015-03-09 22:02] fernandog commented on #895
@gborri can you check this please?

[2015-03-09 22:16] fernandog commented on #589
Master v4.0.12 milestone

https://github.com/SiCKRAGETV/sickrage-issues/issues?q=is%3Aopen+is%3Aissue+milestone%3A%22Master+v4.0.12%22

[2015-03-09 22:17] fernandog commented on #849
@vanticar please set a proxy for rarbg in "Provider settings" and let us know

[2015-03-09 22:20] fferraro87 commented on #887
@fernandog opensubtitles and add7cted in this order

[2015-03-09 22:22] fernandog commented on #887
@fferraro87 try enable only opensubtitles and see it works. then disable opensubtitles and enable only add7cted. Want to make sure it's not provider related

[2015-03-09 23:05] BoGu5 commented on #732
I don't think subliminal is the problem. I ran into this bug when selecting all scrapers. When I only select opensubtitles I don't get false positives. I think the problem lies in the webscraper subtitle plugins.

[2015-03-09 23:29] kendog819 commented on #870
Since updating to this develop, im having issues getting SR to snatch episodes.
![image](https://cloud.githubusercontent.com/assets/11353628/6566357/2d95a59c-c68f-11e4-9922-9a4149a654ac.png)

Manual Searching is fine though.

Still not Auto Post Processing either: http://pastebin.com/LTkjtgdk

![image](https://cloud.githubusercontent.com/assets/11353628/6566636/8f28cb7e-c692-11e4-887b-dbcb936e3bb5

[2015-03-10 00:47] hairyhippy commented on #871
@fernandog this is the reply I got from rarbg's support:
"Looks like the sky idiots blocked us by ip. Its not really a problem , will workaround this in sickrage and meanwhile you can use the proxies to browse. Is that ok ? "

[2015-03-10 00:48] Thraxis commented on #846
@fernandog  Unfortunately my only viable backups are from March 7 and March 8, after the code was added in to backup on update.

[2015-03-10 00:50] fernandog commented on #871
@hairyhippy they will create a sub-domain exclusively to api. you have to wait. there's nothing we can do

[2015-03-10 00:50] #871 closed

[2015-03-10 00:52] hairyhippy commented on #871
No problem.  Was informing of their response.  Sorry if by commenting, it reopens the issue.

[2015-03-10 01:41] chrisric commented on #821
@fernandog - Thanks for taking a look.

I start SickRage as per below, I will wrap it in a script when it's stable.
/usr/local/bin//pythonw2.7 SickBeard.py -d

I noticed that the python process is hung a 100% CPU, it went to 100% CPU at 2:05am last night.

The system.log shows 1000's of Kodi DEBUG lines and errors, I will quit Kodi tonight and see if python dies again.

SR Version: BRANCH: (master

[2015-03-10 01:44] henryclovin opened #904 "Unrar failed in Post Processing"
Hello,

Python: 2.7.8
Operating system: FreeNAS 9.3

I repeatedly get errors from post processing saying "Unrar: No file to extract, file already exist?"

I can manually unrar the files via command line so unrar is working and installed correctly. Not sure where to go from here. Thanks for your help.

Logfile: http://pastebin.com/zucdLDNR

[2015-03-10 01:47] henryclovin commented on #904
BRANCH: (master) / COMMIT: (74e48176ebd63a89b2968f79b80c56e52e29dc24)

[2015-03-10 01:50] fernandog commented on #821
Try disable subtitle search. There is an issue that it uses high cpu

Change CPU throttle to HIGH in advanced settings

What is your search frequency? Suggest you to reduce it too

[2015-03-10 02:03] chrisric commented on #821
I don't use subtitle search, I will set CPU throttling to high and my daily search frequency is 30min. I will change daily search to 60min. Backlog search is 24hrs.

Will advise results tomorrow.

Thanks.

[2015-03-10 02:42] StitchFurbix opened #905 "[APP SUBMITTED]: [Error 183] Cannot create a file when that file already exists."
### INFO
Python Version: **2.7.8 (default, Jun 30 2014, 16:08:48) [MSC v.1500 64 bit (AMD64)]**
Operating System: **Windows-7-6.1.7601-SP1**
Branch: **null**
Commit: SiCKRAGETV/SickRage@
Link to Log: https://gist.github.com/588ca0ca97a750e6b204
### ERROR
[code]
---
_STAFF NOTIFIED_: @SiCKRAGETV/owners @SiCKRAGETV/moderators

[2015-03-10 04:27] abeloin commented on #743
Ok

[2015-03-10 04:32] abeloin commented on #110
If it's on the nas, you need to set the samba permissions to always create your file as the same user(nas user). This way when sickrage try a chmod it will succeed as it is the owner.

[2015-03-10 04:34] abeloin commented on #852
As per my previous comment IPT doesn't support partial search so it is broken when searching season  in episode mode. It will be fixed before the next release.

[2015-03-10 04:48] Arcanemagus commented on #110
@abeloin unless, as I said, it is using ACL permissions in which case no matter who the owner is a simple chmod will fail.

    [root@nas] /mnt/vol/public# touch test
    [root@nas] /mnt/vol/public# chmod 666 test
    chmod: test: Operation not permitted

If the system is using this setup permissions need to be specified using `setfacl`. I have my own system configured so that everyone has full pe

[2015-03-10 05:15] abeloin commented on #891
[code]

[2015-03-10 05:18] StitchFurbix opened #906 "[APP SUBMITTED]:"
### INFO
Python Version: **2.7.8 (default, Jun 30 2014, 16:08:48) [MSC v.1500 64 bit (AMD64)]**
Operating System: **Windows-7-6.1.7601-SP1**
Branch: **master**
Commit: SiCKRAGETV/SickRage@495b040ffadd5386f52f343bba13dfb017a92035
### ERROR
[code]
---
_STAFF NOTIFIED_: @SiCKRAGETV/owners @SiCKRAGETV/moderators

[2015-03-10 05:22] abeloin commented on #898
@frederoni Can you check the user running sickrage?

[2015-03-10 05:26] abeloin commented on #589
@fernandog Nice, thanks

[2015-03-10 05:39] TagForce commented on #870
Found temporary sync files, skipping post processing...
Are there any files with the following extensions in the download folder?
!sync,lftp-pget-status,part,bts
Uncheck postpone if syncfiles are found in pp settings.

As for snatching. It's only searching for season packs and only on ipt... Enable a couple of other providers and try again.

[2015-03-10 05:44] abeloin commented on #849
@venticar Stop sickrage, and change the folowing line in sibeard/helpers.py#L1249 from:
`logger.log(u"Connection error " + str(e.message) + " while loading URL " + url, logger.WARNING)`
to
`logger.log(u"Connection error " + str(e.message) + " while loading URL " + url + ": " + traceback.format_exc(), logger.WARNING)`
Start Sickrage, retry and give me the traceback in the warning.

Also can you try

[2015-03-10 05:47] abeloin commented on #870
@kendog819 IPT is currently broken in sickrage when looking for multiple episodes as it search via season but IPT doesn't support partial searches. A fix is underway and will be available soon.

[2015-03-10 06:02] abeloin commented on #110
@Arcanemagus If I remember correctly this is only applicable to zfs dataset with aclmode set to windows not to other file system that use ACL.
This is the result on Linux XFS:
[code]

[2015-03-10 06:23] squareflapjack commented on #898
I have the same issue.
Raspberry Pi B+ running the latest version of Raspbmc.
BRANCH: (master) / COMMIT: (74e48176ebd63a89b2968f79b80c56e52e29dc24)
SR Config file:	/opt/sickrage/config.ini
SR Database file:	/opt/sickrage/sickbeard.db
SR Cache Dir:	/opt/sickrage/cache
SR Arguments:	['--nolaunch']
SR Web Root:
Python Version:	2.7.3 (default, Mar 18 2014, 05:13:23) [GCC 4.6.3]

I have opensubtitles a

[2015-03-10 06:38] Thraxis commented on #846
Looks like I got a replication of this error twice tonight.  But later it worked fine for the same show.

http://pastebin.com/hZ7rsydH

Did a google search on the error and found this on stackoverflow as a way to prevent that error to begin with.

http://stackoverflow.com/questions/3380360/replacing-value-in-all-cursor-rows

[2015-03-10 06:39] krash1220 commented on #337
Thank you, cvockrodt but I'm using linux mint, I don't even have windows installed anymore. But it's a great idea. Maybe someone could make a linux script?

[2015-03-10 06:44] cvockrodt commented on #337
If mint has watch (a command line util), you could write the same script in fewer lines and less headache in a different language (sh, bash, python, etc.). It'd probably take 5 minutes.

[2015-03-10 06:54] abeloin commented on #898
@squareflapjack Please provide the sickrage user locale.

[2015-03-10 06:55] krash1220 commented on #337
I'm sure mint does have some kind of watch command, I don't have a problem using terminal commands but I'm not good at making scripts. I'm going to see what I can find on the internet. Thank you for your help.

[2015-03-10 07:03] Thraxis commented on #846
@fernandog , @abeloin
I made the change recommended from the stackoverflow solution to my webapi.py

Specifically, changing line 753 from

[code]
To
[code]

It's working as expected so likely need a bit of a bake in to make sure the error is actually fixed (and me to get off my ass and make a PR)

[2015-03-10 07:38] totalfrenzy commented on #897
It's probably multiple users on the server provided by Feralhosting.

I'll make an effort to get the log.

[2015-03-10 07:44] abeloin commented on #904
Usually an indication of permissions issue, the process was unable to extract any files in the directory. Check the parent folder permissions where archer.2009.s05e13.720p.bluray.x264-reward.rar is located and if sickrage user as write access to it.

[2015-03-10 07:54] abeloin commented on #899
Kat doesn't have any episode of Top Gear by air date:
https://kickass.to/usearch/Top%20Gear%202015%2003%2008/

Please uncheck Air by date in Top Gear config.

[2015-03-10 08:04] abeloin commented on #906
Your rar archive seems to be password protected

[2015-03-10 08:04] frederoni commented on #898
@abeloin @fernandog I ran the locale command with the same user as sickrage. It only breaks with Swedish series containing åäö. I have Opensubtitles and Thesubdb enabled.

[2015-03-10 08:09] vanticar commented on #849
@abeloin - helpers.py#L1249 - done

c:\python27\python.exe SickBeard.py - wont work (sickrage not in path)
c:\Sickrage\SickBeard.py used instead

logs result:-

2015-03-10 08:03:44 INFO     SEARCHQUEUE-MANUAL-248742 :: Unable to find a download for: [Person of Interest - 4x17 - Karma]
2015-03-10 08:03:43 INFO     SEARCHQUEUE-MANUAL-248742 :: [EZRSS] :: Performing episode search for Person of Inter

[2015-03-10 08:28] vanticar commented on #849
@fernandog
@rarbg (hi, welcome and thankyou)

LOL - I cant be the only person using rarbg and sickrage in the UK !? we maybe be an island but there are 64 million people living here :)

test site URL:- http://rarbg.com/torrents.php?category=18;41

proxite.eu - works after solving captcha (not bot friendly)
hideme.nl - does not work (which is odd as when i tested before it was fine earlier this yea

[2015-03-10 08:32] gborri commented on #895
@fernandog The point in the code that can generate a utf-8 error is:

[code]
and the only var that can have special character is data in which there is:
[code]

@grimd34th there is some special character in username or password?

[2015-03-10 08:33] grimd34th commented on #895
@gborri no, there is not

[2015-03-10 08:40] freddysmith1 opened #907 "Update wont work, Stuck on comit 2d8aad80cdfb8"
for some strange reason ive managed to get stuck on BRANCH: (master) / COMMIT: (2d8aad80cdfb8983832206af445039de0decded9)
Ive tried manual git pull  comes back and says already up to date,
Ive tried changing it to dev branch using (git checkout develop)  comes back with already using dev
also still misssing the dev branch in settings

What other commands are their to reset it or something?    usin

[2015-03-10 08:53] gborri commented on #895
@grimd34th hidden character? try to rewrite either username and password and save again

[2015-03-10 08:59] grimd34th commented on #895
i deleted the full lines and retyped, still erroring

[2015-03-10 09:39] fferraro87 commented on #887
i've tried both solutions first only opensubtitles and after only add7cted but same error

[2015-03-10 09:43] gborri commented on #895
@grimd34th can you change the password on traktv and try with the new one?

[2015-03-10 10:11] rarbg commented on #849
@vanticar
Can you setup proxy1.piratesnoop.com:8081 as a proxy in your sickrage?

[2015-03-10 10:32] fernandog commented on #887
@abeloin what else can be causing this error?

[2015-03-10 10:34] fernandog commented on #849
@abeloin if ours proxies need captch we need change then

[2015-03-10 10:36] fernandog commented on #907
did you tried update from gui? What was the error?

[2015-03-10 10:39] TagForce commented on #907
git fetch origin
git pull

[2015-03-10 10:46] fernandog commented on #852
@abeloin it seems its not searching at all. Maybe the cause is this backlog search days.

[2015-03-10 10:50] freddysmith1 commented on #907
tried updating from gui
checked log and all i can see is
2015-03-10 21:17:14 INFO     Thread-57 :: Checking for updates using GIT

tried git fetch with no luck  says already up to date
Diskstation> cd /volume1/@appstore/sickbeard-custom/var/SickBeard/
Diskstation> /volume1/@appstore/git/bin/git fetch origin
Diskstation> /volume1/@appstore/git/bin/git pull
Already up-to-date.

[2015-03-10 10:55] squareflapjack commented on #898
locale

LANG=
LANGUAGE=
LC_CTYPE="POSIX"
LC_NUMERIC="POSIX"
LC_TIME="POSIX"
LC_COLLATE="POSIX"
LC_MONETARY="POSIX"
LC_MESSAGES="POSIX"
LC_PAPER="POSIX"
LC_NAME="POSIX"
LC_ADDRESS="POSIX"
LC_TELEPHONE="POSIX"
LC_MEASUREMENT="POSIX"
LC_IDENTIFICATION="POSIX"
LC_ALL=

locale -a
C
C.UTF-8
POSIX

[2015-03-10 11:00] rarbg commented on #849
@fernandog ill just register a separate domain on a separate ip just for sickrage and this issue will be resolved , even with the current code only with replacing the rarbg.com domain with the new domain will solve those kind of issues.

[2015-03-10 11:04] TagForce commented on #907
Shutdown SR
Go into your config.ini and set the following values to "":
cur_commit_hash
cur_commit_branch

make sure the git_remote_url = https://github.com/SiCKRAGETV/SickRage.git

[2015-03-10 11:08] freddysmith1 commented on #907
have now got it to update,  for some strange reason one of the updates must of screwed it up,  its always been on master but it seem to think it was on dev branch,  a simple checkout master command finally worked
SR Version:	BRANCH: (master) / COMMIT: (74e48176ebd63a89b2968f79b80c56e52e29dc24)

but i still have no dev branch in the branch section...Bug?
![no dev branch](https://cloud.githubusercon

[2015-03-10 11:10] abeloin commented on #849
@vanticar

You forgot to do a `cd c:\SickRage` after opening the command line. Please read the instruction carefully.

Don't forget to stop sickrage before doing any change to py files.

Looking at the posted log, you are not using the updated version of rarbg that use requests, please see my comment on copy and paste the new version ->. https://github.com/SiCKRAGETV/sickrage-issues/issues/849#iss

[2015-03-10 11:12] pct00 commented on #743
thanks all !

[2015-03-10 11:22] TagForce commented on #907
enter your github username and pass... It should add it.

[2015-03-10 11:22] abeloin commented on #849
@fernandog They are protected by cloudflare. See this doc:

https://support.cloudflare.com/hc/en-us/articles/203366080-Why-do-I-see-a-captcha-or-challenge-page-Attention-Required-trying-to-visit-a-site-protected-by-CloudFlare-as-a-site-visitor-

[2015-03-10 11:23] abeloin commented on #849
@vanticar You can change the urls in the rarbg.py to https://rarbgmirror.com

[2015-03-10 11:27] valantislevas opened #908 "post proccesing doesnt work for ( .srt files )"
hello i am using the latest sickrage master version
SR Version:	BRANCH: (master) / COMMIT: (74e48176ebd63a89b2968f79b80c56e52e29dc24)
Python Version:	2.7.6 (default, Mar 22 2014, 22:59:56) [GCC 4.8.2]
on ubuntu .. after the latest update the post proccesing after any download the files are moving except the .srt file from the download directory.. i also see in option on post proccesing the ignore

[2015-03-10 11:32] abeloin commented on #849
@fernandog We could switch to use rarbgmirror by default, this way it would resolve the issue

[2015-03-10 11:34] #908 closed

[2015-03-10 11:34] valantislevas commented on #908
i will check it again.. now i saw another issue about this and is also fixed.. so i will check again and if the problem exists i will open the issue..

Thanks

[2015-03-10 11:43] freddysmith1 commented on #907
thanks for your helps , problem is now solved

[2015-03-10 11:43] #907 closed

[2015-03-10 11:52] rarbg commented on #849
@abeloin
rarbgmirror is also blocked in uk , there is rarbgunblock and rarbgproxy , that is not a permanent solution tho , as i said ill just register a separate domain on a separate ip just for sickrage and this issue will be resolved

[2015-03-10 11:55] fernandog opened #909 "Torrentday new domain name"
Message from Torrentday

Most of our users can still access us from the old site address ( www.torrentday.com ) could all UK users please clear your browser cache, and update your bookmark to https://tdonline.org this is our NEW SSL secured link and avoids the restrictions/blocks from UK isp's

Our new domain name is: **https://tdonline.org**

[2015-03-10 11:57] abeloin commented on #887
I don't know but I see it's maybe related to Ubunty distro has all the reports are using Ubuntu.

[2015-03-10 12:00] fernandog commented on #907
@freddysmith1 now you can use the "submit errors" button when an error happens. please do.

[2015-03-10 12:01] fernandog commented on #743
@pct00 did you test the develop branch? is it working?

[2015-03-10 12:02] henryclovin commented on #904
Thanks! I changed the permissions for the parent folder and it works now. What about this error I still get?

"Failed to set permission for /media/TVShows/Archer/Season 06/Archer (2009) - S06E03 - The Archer Sanction.mkv to 664"

[2015-03-10 12:02] abeloin commented on #898
@frederoni Are the result of the locale on sickrage user the same as the one you provided or different as you don´t mention it?

[2015-03-10 12:02] freddysmith1 commented on #907
@fernandog   have many times before, but had to resetup synology drive and forgot to readd those settings

[2015-03-10 12:03] abeloin commented on #898
@squareflapjack See the following http://raspberrypi.stackexchange.com/questions/19854/how-can-i-change-the-locale you need to install an utf-8 valid charset(eg: en_US.UTF-8) and use it for sickrage.

[2015-03-10 12:07] abeloin commented on #849
@rarbg
ok, I was under the impression it wasn't blocked in the UK as per his previous comment:

[2015-03-10 12:13] abeloin commented on #904
You see this error because sickrage user need to be the owner of the file to change the file mode and will fail if not.
If the file in the destination has the proper permissions then you can safely ignore this message.

[2015-03-10 12:19] TagForce commented on #887
@abeloin My production rig runs on Ubuntu 14.04 LTS, and I see none of those errors.
I'll go through my logs to make double sure.

[2015-03-10 12:22] TagForce commented on #901
This was fixed in both develop and master... Please update and try again.

[2015-03-10 12:33] TagForce commented on #887
python
print(u'\u2019') prints a proper '

I'll add the show and download How to Get Away with Murder - 1x14 & 1x15 - The Night Lila Died & It’s All My Fault.mp4 (it's tripping on the apostrophe in It's... That's character \u2019)

[2015-03-10 12:54] fernandog commented on #887
@Tagforce Mine does not print. It prints a square. using utf-8. Using raspbmc os (debian)

[2015-03-10 12:56] TagForce commented on #887
@fernandog
It should.. You need to type the command correctly :) There's two u's in it.
print(u'\u2019')
if you do print(u'\2019) it'll print a square with chinese characters in it with a 9 behind it.

[2015-03-10 13:00] fernandog commented on #887
@TagForce  thanks!

[code]

@fferraro87 can you run this command too?

[2015-03-10 13:01] frederoni commented on #898
@abeloin looks like changing SB_USER in the init script solved the problem but the process is still being reported running by the same user.

[2015-03-10 13:16] fferraro87 commented on #887
i've same output of you
http://pastebin.com/xUEP7Xzk

[2015-03-10 13:26] fernandog commented on #904
@abeloin can we check if is permission and show another log message instead of "Unrar: No file to extract, file already exist?" ?

[2015-03-10 13:28] fernandog commented on #887
@fferraro87 can you post the contents of  /etc/default/sickbeard ?

[2015-03-10 13:42] squareflapjack commented on #898
ok did that
now i get
locale
locale: Cannot set LC_CTYPE to default locale: No such file or directory
locale: Cannot set LC_MESSAGES to default locale: No such file or directory
locale: Cannot set LC_ALL to default locale: No such file or directory
LANG=en_US.UTF-8
LANGUAGE=en_US:en
LC_CTYPE="en_US.UTF-8"
LC_NUMERIC="en_US.UTF-8"
LC_TIME="en_US.UTF-8"
LC_COLLATE="en_US.UTF-8"
LC_MONETARY="en_US.UT

[2015-03-10 14:07] rarbg commented on #849
@abeloin
Some isps block it.. The idea is that changing to the mirror wont resolve the issue for most of the users.

[2015-03-10 14:12] fernandog opened #910 "[APP SUBMITTED]: Some #directives are missing their corresponding"
### INFO
Python Version: **2.7.3 (default, Mar 18 2014, 05:13:23)
[GCC 4.6.3]**
Operating System: **Linux-3.12.31-armv6l-with-debian-7.8**
Locale: UTF-8
User: pi
Branch: **develop**
Commit: SiCKRAGETV/SickRage@586cc2a35cbf033b3297c62d8220656ddf246acf
Link to Log: https://gist.github.com/2b343365d1205857bf1f
### ERROR
[code]
---
_STAFF NOTIFIED_: @SiCKRAGETV/owners @SiCKRAGETV/moderators

[2015-03-10 14:12] #910 closed

[2015-03-10 14:12] fernandog commented on #910
Testing purposes

[2015-03-10 14:23] fernandog commented on #846
@Thraxis so it's not only with ep_airs ?

[2015-03-10 14:49] kendog819 commented on #870
@TagForce  I don't see any of those file types. I disabled the option anyways though.

@abeloin Even though it says "FALLBACK EPISODE SEARCH INITIATED" and "Performing episode search for..." It isn't searching for the episodes? This all just stopped working yesterday.

[2015-03-10 14:56] kendog819 commented on #870
Ok, seems like Auto PP is working now =)

@abeloin Is there a thread on the IPT issue I can keep my eye on?

[2015-03-10 14:59] TagForce commented on #870
@kendog819 Either the files are there, or SR 'thinks' they are there... Maybe we should add an option to display which syncfiles are found in the log so we can debug them.

[2015-03-10 15:08] fferraro87 commented on #887
@fernandog i've no access to this folder, i'm on a seedbox so i start sickrage entered on his folder (on my home folder) and do this python Sickbeard.py -p port

[2015-03-10 15:17] TagForce commented on #870
@kendog819 https://github.com/SiCKRAGETV/SickRage/pull/1520 adds the syncfiles to the log.
It's based off of the current develop commits, so you can just replace the processTV.py with this one.

[2015-03-10 15:28] kendog819 commented on #870
@TagForce  Do I just update SR for that file to be replaced? Then turn back on the postpone option?

[2015-03-10 15:35] TagForce commented on #870
No, it's not yet merged into develop... just download/edit that file only. Or patiently wait for @fernandog or @abeloin to merge and then update :) (it's only a very minor change that can be merged at any time)

[2015-03-10 15:37] kendog819 commented on #870
Yeah, I'm way too noobish to start messing with that. I think I better just wait till they merge it. I don't want to screw anything up :)

[2015-03-10 15:47] fernandog commented on #887
@fferraro87 when you run "top", what's the user next to python Sickbeard.py -p?

[2015-03-10 17:01] fferraro87 commented on #887
@fernandog it's my user

[2015-03-10 17:55] Arcanemagus commented on #110
@abeloin Score one for XFS ;)

[2015-03-10 17:59] fernandog commented on #673
@jaybone2012 now it only show wanted. and if first match is enabled, also does not show

[2015-03-10 18:10] Vodka2014 commented on #110
Stupid Question: How to i set this up on my Synology NAS since it has Admin rights to the shares. So it moves it from OpeneElec / SickRage to my NAS.

[2015-03-10 18:14] henryclovin commented on #904
@abeloin Ah ok. How would set the sickrage user or "media" in my jail to be the owner of the file? It is already in the group which owns the directory it is copying the files into. Not super important but if I could, I would like to get rid of the errors.

Thanks for your help!

[2015-03-10 18:15] Thraxis commented on #846
@fernandog
No it's with everything that is in the ep rows.  It looks like the sql_results are already supposed to be returned as a dict and not an sqlite3.row .  The fix I used just makes that change outside the db.py file (for the db.connection)  where the assignment should be happening.

[2015-03-10 18:23] abeloin commented on #898
@squareflapjack You need to set LANGUAGE to `en_US.UTF-8` not `en_US:en`

[2015-03-10 18:24] fernandog commented on #898
@frederoni can we close then?

[2015-03-10 18:25] abeloin commented on #870
@TagForce PR merged in develop

[2015-03-10 18:33] abeloin commented on #110
@Vodka2014 I would set these value in samba config file in the share section:
[code]
this way any user connecting to the share will create files as the sickrage user and group thus ensuring you have the proper permissions.

[2015-03-10 18:39] abeloin commented on #904
@henryclovin It depend on your permissions setup.

Usually people tend to simplify their setup by have the same user/group for their torrent/nzb client and sickrage. This way the owner stay the the same for processing the file. Also they set sgid on the parent download folder, so the group permission is inherited from the parent.

[2015-03-10 18:42] abeloin commented on #904
@fernandog This is the error message from unrar source, the error is RARX_NOFILE. We could change the message to:
`Unrar: No file extracted, check the parent folder and destination file permissions.`

[2015-03-10 18:42] kendog819 commented on #870
![image](https://cloud.githubusercontent.com/assets/11353628/6582412/a815ebb6-c733-11e4-98a9-c5dd76632325.png)

That seems to be working =)

[2015-03-10 18:45] frederoni commented on #898
@fernandog yes

[2015-03-10 18:45] #898 closed

[2015-03-10 18:52] abeloin commented on #887
@fferraro87 What the underlying fs on the machine, you can check with `mount`?

[2015-03-10 19:03] abeloin commented on #898
@frederoni You change SB_USER from what to what?

[2015-03-10 19:04] #870 closed

[2015-03-10 19:05] fernandog commented on #904
@abeloin I think its better

[2015-03-10 19:06] grimd34th commented on #895
I removed all the numbers from my password and it had worked, but now the api doesnt return any results

[2015-03-10 19:09] grimd34th commented on #895
fixed it, had to re-enter the details in the UI versus adding it to the config.ini manually

[2015-03-10 19:15] frederoni commented on #898
@abeloin it was not set (default)
I set it to my normal user and it is not reporting any errors now.

[2015-03-10 19:21] fernandog commented on #895
@gborri is there a way to fix so user can choose any type of chars in password?

[2015-03-10 19:59] StSaens commented on #852
I've changed the backlog day search setting to 750. When searching in log with "SEARCHQUEUE-BACKLOG"  (i've cut the text from begin backlog search for homeland till end backlog search for homeland).

[code]

[2015-03-10 20:08] kendog819 commented on #870
When is it ok for me to switch back to Master?

[2015-03-10 20:25] fernandog commented on #870
@kendog819 any time you want. But this fix will be not there until sunday

[2015-03-10 20:29] fernandog commented on #852
@StSaens so now it's searching for S03, isn't?

[code]

[2015-03-10 21:20] Vodka2014 commented on #110
@abeloin thanks now lets see if Synology will be so nice and let me edit the files.

[2015-03-10 21:21] TagForce commented on #870
@kendog819 Is the folder the downloads go into also the folder where incomplete downloads go?
You should seperate those in your download client.
You should have the following folders:
- an incomplete folder where files go that are still downloading
- a complete folder where completed downloads are put by your downloadclient
- a tvshows folder where your episodes vget transferred to by SR.

This ke

[2015-03-10 21:33] konomimaster opened #911 "[APP SUBMITTED]: invalid literal for int() with base 10: '0.1'"
### INFO
Python Version: **2.7.3 (default, Feb 27 2015, 20:47:22)
[GCC 4.9.2]**
Operating System: **Linux-3.18.8-armv7l-with-glibc2.4**
Branch: **master**
Commit: SiCKRAGETV/SickRage@019a8b363d65db598d85173d457fa40aed6328fc
Link to Log: https://gist.github.com/90a4977ae62dd125fb35
### ERROR
[code]
---
_STAFF NOTIFIED_: @SiCKRAGETV/owners @SiCKRAGETV/moderators

[2015-03-10 21:36] konomimaster opened #912 "[APP SUBMITTED]: 'ascii' codec can't encode character u'\xf1' in position 88: ordinal not in range(128)"
### INFO
Python Version: **2.7.3 (default, Feb 27 2015, 20:47:22)
[GCC 4.9.2]**
Operating System: **Linux-3.18.8-armv7l-with-glibc2.4**
Branch: **master**
Commit: SiCKRAGETV/SickRage@019a8b363d65db598d85173d457fa40aed6328fc
Link to Log: https://gist.github.com/4d60543288bf1b1ea540
### ERROR
[code]
---
_STAFF NOTIFIED_: @SiCKRAGETV/owners @SiCKRAGETV/moderators

[2015-03-10 21:48] konomimaster opened #913 "[APP SUBMITTED]: 'ascii' codec can't encode character u'\xe9' in position 58: ordinal not in range(128)"
### INFO
Python Version: **2.7.3 (default, Feb 27 2015, 20:47:22)
[GCC 4.9.2]**
Operating System: **Linux-3.18.8-armv7l-with-glibc2.4**
Branch: **master**
Commit: SiCKRAGETV/SickRage@019a8b363d65db598d85173d457fa40aed6328fc
### ERROR
[code]
---
_STAFF NOTIFIED_: @SiCKRAGETV/owners @SiCKRAGETV/moderators

[2015-03-10 21:52] fernandog commented on #913
https://github.com/SiCKRAGETV/sickrage-issues/issues/912

[2015-03-10 21:52] #913 closed

[2015-03-10 21:55] fernandog commented on #912
@konomimaster

please post:
- user that runs SR OR
- post the contents of /etc/default/sickbeard
- post the result of this commands running as SR user:

[code]
and
[code]

[2015-03-10 21:56] fernandog commented on #911
please set TORRENT SEED TIME to a integer in torrent settings

[2015-03-10 21:59] nordika opened #914 "[APP SUBMITTED]: 'ascii' codec can't encode character u'\u2019' in position 67: ordinal not in range(128)"
### INFO
Python Version: **2.6.6 (r266:84292, Nov 27 2010, 19:47:39)
[GCC 4.5.1]**
Operating System: **Linux-3.9.6p-unRAID-i686-Intel-R-_Core-TM-_i3-3220T_CPU_@_2.80GHz-with-slackware-13.1.0**
Branch: **master**
Commit: SiCKRAGETV/SickRage@019a8b363d65db598d85173d457fa40aed6328fc
Link to Log: https://gist.github.com/5dc562510dc8ab6208d5
### ERROR
[code]
---
_STAFF NOTIFIED_: @SiCKRAGETV/owners @Si

[2015-03-10 22:01] konomimaster opened #915 "[APP SUBMITTED]: 'ascii' codec can't encode character u'\u2013' in position 66: ordinal not in range(128)"
### INFO
Python Version: **2.7.3 (default, Feb 27 2015, 20:47:22)
[GCC 4.9.2]**
Operating System: **Linux-3.18.8-armv7l-with-glibc2.4**
Branch: **master**
Commit: SiCKRAGETV/SickRage@019a8b363d65db598d85173d457fa40aed6328fc
### ERROR
[code]
---
_STAFF NOTIFIED_: @SiCKRAGETV/owners @SiCKRAGETV/moderators

[2015-03-10 22:09] #915 closed

[2015-03-10 22:10] fernandog commented on #914
@nordika

please post:
- user that runs SR OR
- post the contents of /etc/default/sickbeard
- post the result of this commands running as SR user:

[code]
and
[code]

[2015-03-10 22:16] klutchrider opened #916 "[APP SUBMITTED]: sequence item 0: expected string, Language found"
### INFO
Python Version: **2.7.9 (default, Dec 10 2014, 12:24:55) [MSC v.1500 32 bit (Intel)]**
Operating System: **Windows-8-6.2.9200**
Branch: **master**
Commit: SiCKRAGETV/SickRage@019a8b363d65db598d85173d457fa40aed6328fc
### ERROR
[code]
---
_STAFF NOTIFIED_: @SiCKRAGETV/owners @SiCKRAGETV/moderators

[2015-03-10 22:19] fferraro87 commented on #887
this is output of python console:
http://pastebin.com/FUvk6je1
and this is mount output
http://pastebin.com/cmzhjZ5w
and
i'm on this:
/dev/sdx1 on /home/hd13 type ext4 (rw,noatime,nodiratime,errors=remount-ro,usrjquota=aquota.user,jqfmt=vfsv0,commit=120)

[2015-03-10 22:52] fernandog commented on #916
@klutchrider what you were doing when the error happened?

[2015-03-10 23:01] kendog819 commented on #870
The Transmission folders are inside of my Downloads folder. The incomplete go to transmissions incomplete folder.

I will try setting up a location outside of the actual downloads folder though.

Thank you guys so much, @fernandog  @TagForce  @abeloin

[2015-03-10 23:25] fernandog commented on #914
https://github.com/SiCKRAGETV/sickrage-issues/issues/887

[2015-03-10 23:58] chrisric commented on #821
The only thing running last night was SickRage, the 100% CPU issue started at 5:11am. This lines up with the end of SHOWUPDATER according to the log. The system log shows nothing of interest for the night.

Logs, lsof, sample:
https://drive.google.com/file/d/0B8JFLK_cWhrbVHlpNnd3Qy1lWUU/view?usp=sharing

I got a lsof and sample snapshot of the python process before I killed it, I don't know what I

[2015-03-11 00:10] fernandog commented on #821
@chrisric SHOWUPDATER  ended. That debug is the last message

@TagForce do you know what is going on?

[2015-03-11 00:42] abeloin commented on #914
@nordika Can you replace lib/subliminal/videos.py by this one: https://github.com/abeloin/SickRage/blob/f7398e81a99ca3baf37068c2eaaeef02eeacfd87/lib/subliminal/videos.py
Stop sickrage before changing. And retry.

[2015-03-11 00:43] abeloin commented on #912
@konomimaster Can you replace lib/subliminal/videos.py by this one: https://github.com/abeloin/SickRage/blob/f7398e81a99ca3baf37068c2eaaeef02eeacfd87/lib/subliminal/videos.py
Stop sickrage before changing. And retry.

[2015-03-11 00:43] abeloin commented on #887
@fferraro87 Can you replace lib/subliminal/videos.py by this one: https://github.com/abeloin/SickRage/blob/f7398e81a99ca3baf37068c2eaaeef02eeacfd87/lib/subliminal/videos.py
Stop sickrage before changing. And retry.

[2015-03-11 00:55] abeloin commented on #895
@grimd34th If you change back to your old password do you get the same error?

[2015-03-11 00:55] grimd34th commented on #895
@abeloin yes

[2015-03-11 01:06] abeloin commented on #821
@chrisric Can you try running sickrage without the -d option and use the -q option?

[2015-03-11 01:15] abeloin commented on #895
Do you encrypt your passwords in config.ini?

[2015-03-11 01:16] grimd34th commented on #895
I no longer do it though the config.ini i use thew webpanel

[2015-03-11 01:17] abeloin commented on #895
So Encrypt passwords is checked in advanced settings?

[2015-03-11 01:17] grimd34th commented on #895
yes

[2015-03-11 01:23] abeloin commented on #895
Can you set "Encrypt passwords" unchecked, restart sickrage, make sure the password is ok and retry?

[2015-03-11 01:25] grimd34th commented on #895
unencrypted the password works

[2015-03-11 01:27] abeloin commented on #895
How long is your original password? Your password contain only A-Z and 0-9?

[2015-03-11 01:27] grimd34th commented on #895
12 chars a-z A-Z 0-9

[2015-03-11 01:30] chrisric commented on #821
@abeloin Sure, I will run it tonight and capture output if there is any. Thanks.

[2015-03-11 01:36] #906 closed

[2015-03-11 01:41] abeloin commented on #895
Can you try the following:
* Encrypt the passwords again
* Stop sickrage
* In between line 26 and 27 of /opt/sickrage/lib/trakt/trakt.py", add the following:
`        logger.log("Trakt data variable is: {0}".format(str(data)),logger.DEBUG)`
* Start sickrage
* Look in the log for a line starting with `Trakt data variable is`
* Check if the password is the same from config.ini

[2015-03-11 01:41] fernandog commented on #905
Are you using latest update? Your Branch is null

[2015-03-11 01:43] fernandog commented on #895
@grimd34th use the log search feature

[2015-03-11 01:52] maxcore opened #917 "[APP SUBMITTED]: 422 {u'documentation_url': u'https://developer.github.com/v3/issues/#create-an-issue', u'message': u'Validation Failed', u'errors': [{u'field': u'title', u'message': u'title is too long', u'code': u'custom', u'resource': u'Issue'}]}"
### INFO
Python Version: **2.7.8 (default, Dec 12 2014, 21:20:40)
[GCC 4.7.3 20130102 (prerelease)]**
Operating System: **Linux-3.2.40-x86_64-with-glibc2.2.5**
Branch: **master**
Commit: SiCKRAGETV/SickRage@019a8b363d65db598d85173d457fa40aed6328fc
Link to Log: https://gist.github.com/218cd186d6f819dd48fb
### ERROR
[code]
---
_STAFF NOTIFIED_: @SiCKRAGETV/owners @SiCKRAGETV/moderators

[2015-03-11 01:58] fernandog commented on #917
@maxcore  Can you post the log error?

[2015-03-11 02:03] maxcore commented on #917
@fernandog close it i think TVDB have problem ....

[2015-03-11 02:09] maxcore commented on #917
2015-03-10 21:48:53 SHOWQUEUE-REFRESH :: Unable to connect to theTVDB while creating meta files - skipping - error Unknown exception while loading URL http://thetvdb.com/api/F9C450E78D99172E/series/278686/fr.xml: Traceback (most recent call last):
  File "/volume1/@appstore/sickbeard-custom/var/SickBeard/lib/tvdb_api/tvdb_api.py", line 574, in _loadUrl
    resp = session.get(url.strip(), cache_aut

[2015-03-11 02:10] abeloin commented on #917
@maxcore Can you provide the log from:
`2015-03-10 21:50:40 INFO     SEARCHQUEUE-BACKLOG-83462 :: Quality of Castle.2009.S07E08.HDTV.x264-LOL is SD TV`
to
`2015-03-10 21:50:42 ERROR    Thread-56 ::`
including other Thread-56

We would like to check why the submit app didn't the info.

[2015-03-11 02:10] maxcore commented on #917
@abeloin check bellow its me or TVDB ?

[2015-03-11 02:10] abeloin commented on #917
Check the permission for that file: `'/usr/local/sickbeard-custom/var/cache/indexers/theTVDB/dd58c31d34838c2d6a6d38446a6e10dc6ef1c5a5b3c16d5c33408f77'`

[2015-03-11 02:16] maxcore commented on #917
2015-03-10 22:15:29 ERROR    SHOWQUEUE-ADD :: Unable to find show ID:278686 on Indexer: theTVDB

[2015-03-11 02:17] fernandog commented on #917
@abeloin

Error is too long:
OSError: [Errno 13] Permission denied: '/usr/local/sickbeard-custom/var/cache/indexers/theTVDB/dd58c31d34838c2d6a6d38446a6e10dc6ef1c5a5b3c16d5c33408f77'

[2015-03-11 02:21] iguyking commented on #643
This is fixed now in release.   Thanks.

[2015-03-11 02:26] fernandog commented on #917
Opened a ticket im github asking the max lenght of TITLE

[2015-03-11 02:35] abeloin commented on #917
How come it's to long?

[2015-03-11 02:36] abeloin commented on #917
Possible fix for length for title: https://github.com/abeloin/SickRage/commit/a9d53482eaefb15e5fa8d81bf57b2851567f507a

[2015-03-11 02:49] Thraxis commented on #846
OK I've put in a log check for the three queries that are concatenated to produce the episode list.  Each one should be returning dict results not sqlite3.row.  If they return an sqlite3.row something is changing the row_factory in the middle of the run.

[2015-03-11 03:49] roger83 commented on #892
This seems to be working.

[2015-03-11 03:59] klutchrider commented on #916
@fernandog Just tried to snatch a subtitle, I will try to get it to reproduce and will update with logs if possible.

[2015-03-11 04:43] maxcore commented on #917
@fernandog @abeloin all work good now with the tvdb fr error

[2015-03-11 06:52] TagForce commented on #870
That's why PP will never run. There's always some file with a .part extension because it tries to PP incomplete folders as well.

You're very welcome

[2015-03-11 06:54] konomimaster opened #918 "[APP SUBMITTED]: cannot find 'TRAKT_USE_WATCHLIST'"
### INFO
Python Version: **2.7.3 (default, Feb 27 2015, 20:47:22)
[GCC 4.9.2]**
Operating System: **Linux-3.18.8-armv7l-with-glibc2.4**
Branch: **master**
Commit: SiCKRAGETV/SickRage@019a8b363d65db598d85173d457fa40aed6328fc
Link to Log: https://gist.github.com/eb2a8239e1a8f6567698
### ERROR
[code]
---
_STAFF NOTIFIED_: @SiCKRAGETV/owners @SiCKRAGETV/moderators

[2015-03-11 07:54] vanticar commented on #849
@abeloin
https://raw.githubusercontent.com/SiCKRAGETV/SickRage/b9b29ea6269cc325488e9ae8bc249dcd7114fc6a/sickbeard/providers/rarbg.py

not sure why this reverted back to original as I did this and posted logs (warnings from errors) - perhaps it was an update, sorry I missed the CD part (my sickrage on my HTPC which i dont access emails on - memory not as sharp with old age...) - did you want me to

[2015-03-11 08:25] TagForce commented on #892
Still weird that it should try to look for a show without a name.

[2015-03-11 08:47] CoRpO commented on #853
Cooool, an API :) I was not very proud of my "I bypassed your JS/cookie protection and I hope you won't change the keys too often ..."
Thank you @rarbg ! I'll update the RARBG provider ASAP

[2015-03-11 08:49] rarbg commented on #853
great @CoRpO
Ill also create a domain specificly for the api today too , in order to not be affected of the UK blocks

[2015-03-11 09:13] rarbg commented on #853
@CoRpO @fernandog
api docs updated with the new domain :)

[2015-03-11 09:35] Toilal opened #919 "Inconsistent required/ignored words (show vs global)"
There's an inconsistency in require words and ignore words.

When setting words globally, it is not possible to use regexp as input go through a `re.escape` call (https://github.com/SiCKRAGETV/SickRage/blob/master/sickbeard/show_name_helpers.py#L64).

But when settings words on a specific show, it is possible because it is not escaped (https://github.com/SiCKRAGETV/SickRage/blob/master/sickbeard/s

[2015-03-11 10:01] fferraro87 commented on #887
now i can't open sickrage anymore after this change

[2015-03-11 10:11] WebStizzle opened #920 "When moving files unable to parse causes follow on files in directory to fail"
I currently have SickRage set to rename and then move the files to the new directory.  After completion of a show with a file name that was unable to parse the rest of the files in the directory were skipped.  And after SickRage finished processing the other directories (Season 2 also had unparsed names) SickRage automatically deleted the Show folder including 6GB of unprocessed episodes.

I apolo

[2015-03-11 10:27] fernandog commented on #920
Follow guidelines:
https://github.com/SiCKRAGETV/sickrage-issues

[2015-03-11 10:34] fernandog commented on #918
@gborri

[2015-03-11 10:36] #917 closed

[2015-03-11 10:38] WebStizzle commented on #920
Sorry about the confusion fernandog, I updated the original post with the missing information

[2015-03-11 10:42] gborri commented on #918
@fernandog i've seen it, but i can't fine 'TRAKT_USE_WATCHLIST' in the whole code either master or develop. @konomimaster could you please give some more info? I see in the log that you are using a kodi addon....

[2015-03-11 10:52] TagForce commented on #920
@WebStizzle Please post the full logs from the entire POSTPROCESSOR run. There are 2 instances of delete_folder, one of which should not delete folders if they have files in them, the other should not be called unless there's one of the following log entries before it:
- The directory name indicates it failed to extract.
- The directory name indicates that it was previously rejected for being unde

[2015-03-11 10:52] konomimaster commented on #918
@gborri  i'm running a Kodi-distro called OPENELEC (http://openelec.tv/) on a Raspberry PI 2. Earlier on i've used the same OS on a pc running the same addon but without the errors i'm experiencing now. I'm suspecting it might be a problem with the OS and not Sickrage.

[2015-03-11 10:58] gborri commented on #918
@konomimaster recently we have changed the parameter TRAKT_USE_WATCHLIST with TRAKT_SYNC_WATCHLIST, but in SickRage code i can't find any instance of TRAKT_USE_WATCHLIST as said before.

[2015-03-11 11:10] TagForce commented on #918
@konomimaster /storage/.kodi/userdata/addon_data/service.downloadmanager.SickPotatoHead/sbcache/cheetah/
Delete everything in that folder... It looks like it's using an old cache entry with the old parameter name.

[2015-03-11 11:19] totalfrenzy commented on #897
Couldn't get a hold of the logs, but a reinstall/restore seems to have fixed it.

[2015-03-11 11:23] TagForce commented on #821
@chrisric @fernandog @abeloin I did find an inconsistency with the PostProcesser class in autoPostProcesser.py, but I don't see how it can be related.
It sets self.amActive to true when it starts the run, but if there's no TV_DOWNLOAD_DIR or if TV_DOWNLOAD_DIR is not an absolute path, it will simply return and never set self.amActive to False.

As for this problem... I see nothing in the logs that

[2015-03-11 11:36] WebStizzle commented on #920
I had to use two pastebins, this is everything from when the post processor started on the show until the end, I took these directly from the SickRage log in the logs folder:
http://pastebin.com/hWzUHRiL

http://pastebin.com/syL42Sai

[2015-03-11 11:46] fernandog commented on #917
@maxcore can you send the full log ? I'm investigating something

2015-03-10 21:50:42 ERROR    Thread-56 ::
need 200 lines after this and 200 before

thanks!

[2015-03-11 11:51] fernandog commented on #821
@TagForce that amActive it's only used when auto updating. IF amActive = True, don't update. But I will add amActive false before returns

[2015-03-11 11:53] fernandog commented on #918
@konomimaster did you updated using git pull? this cache problems can happen with you do that and we had changes in templates

[2015-03-11 11:57] TagForce commented on #920
@WebStizzle Thank you... I'll get right on it.

[2015-03-11 12:02] fernandog commented on #919
@TagForce @abeloin thoughts?

[2015-03-11 12:17] Toilal commented on #919
It seems to be AND in global settings, and OR in show settings, that's why it's inconsistent.

[2015-03-11 12:20] WebStizzle commented on #920
Don't know if it will help either, but when the files first appeared they were all named like the unparsable files.  I used filebot and renamed the everything but 3 episodes that were duplicates/specials shortly after that was when sickrage rescanned and began auto processing them.  So it only seemed to happen when it encountered the misnamed file during actual processing, but not when all the fil

[2015-03-11 12:24] Toilal commented on #919
If I set `french,truefrench,fr` in global settings, it filter out releases like "Some.Serie.S01E01.720p.FRENCH.XViD-SomeGroup", but if I set `french,truefrench,fr` in show settings, then it will keep it.

[2015-03-11 12:30] TagForce commented on #920
@WebStizzle I just tried a similar setup like yours...
Created a folderstructure like:
tbbt:
    -season 1
        - tbbt.s01e12.mp4
    -season 2
        - tbbt.s02e01.mp4
    -season 3
        - season 3 episode 1.mp4
    -season 4
        - tbbt.s04e01.mp4
    -season 5
        - season 5 episode 1.mp4
    -season 6
        - tbbt.s06e01.mp4

and it skips the folders that were not succesful. It

[2015-03-11 13:00] TagForce commented on #920
@WebStizzle I just did a new run, with multiple files in each folder, some of which were unparsable.

It only deleted the folders where it moved the files succesfully. All the folders that had unprocessed files were left.
Last thing it does is run PP on the base folder (ie 3rd rock from the sun in your case) and it found folders in them, so it didn't delete it.

Right now, the only thing I can thi

[2015-03-11 13:05] fernandog opened #921 "Manual Search don't show finished message"
SR Version:	BRANCH: (develop) / COMMIT: (7089fa9ac0959195e9ba4e642b2b7ae410bbe512)
SR User:	pi
SR Locale:	('pt_BR', 'UTF-8')
SR Config file:	/home/pi/SickRage/config.ini
SR Database file:	/home/pi/SickRage/sickbeard.db
SR Cache Dir:	/home/pi/SickRage/cache
SR Arguments:	['-q', '--daemon', '--nolaunch', '--pidfile=/var/run/sickrage/sickrage.pid', '--datadir=/home/pi/SickRage']
SR Web Root:
Python V

[2015-03-11 13:08] fernandog opened #922 "[APP SUBMITTED]: Some #directives are missing their corresponding #end ___ tag: if Line 22, column 92 in file /home/pi/SickRage/gui/slick/interfaces/default/manage_torrents.tmpl Line|Cheetah Code ----|------------------------------------------------------------- 19 |$info_download_station 20 |<iframe id="extFrame" src="$webui_url" width="100%" height="500" frameBorder="0" style="border: 1px black solid;"></iframe> 21 | 22 |#include $os.path.join($sickbeard.PROG_DIR, "gui/slick/interfaces/default/inc_bottom.tmpl") ^"
### INFO
Python Version: **2.7.3 (default, Mar 18 2014, 05:13:23)
[GCC 4.6.3]**
Operating System: **Linux-3.12.31-armv6l-with-debian-7.8**
Branch: **develop**
Commit: SiCKRAGETV/SickRage@688f911f34f432e3579894d25329d622c3a98321
Link to Log: https://gist.github.com/5fda5e2d5c6289ec9d36
### ERROR
[code]
---
_STAFF NOTIFIED_: @SiCKRAGETV/owners @SiCKRAGETV/moderators

[2015-03-11 13:12] fernandog commented on #922
@abeloin

OFF-TOPIC: this title length is 521! Really strange! There's something wrong with that issue about "size is too long"

this issue is prof https://github.com/SiCKRAGETV/SickRage/pull/1523 is working
the error was in sickrage.log.1

![5](https://cloud.githubusercontent.com/assets/2620870/6596855/ed4a7d34-c7d6-11e4-8f4a-6ea023676862.png)

[2015-03-11 13:13] #922 closed

[2015-03-11 13:13] WebStizzle commented on #920
@TagForce Thanks for looking into it, I tried recreating the issue.  With the manual post processor everything worked like I would expect.  The unparsed files stayed with directories/files intact.  The other files in those directories also stayed unprocessed.

But when I moved them back and waited for the automatic post processor to hit, the same thing as happened as with 3rd rock the directories

[2015-03-11 13:16] fernandog opened #923 "viewlogs.tmpl isn't filtering html tags from the log when sending to the browser"
SR Version:	BRANCH: (develop) / COMMIT: (7089fa9ac0959195e9ba4e642b2b7ae410bbe512)
SR User:	pi
SR Locale:	('pt_BR', 'UTF-8')
SR Config file:	/home/pi/SickRage/config.ini
SR Database file:	/home/pi/SickRage/sickbeard.db
SR Cache Dir:	/home/pi/SickRage/cache
SR Arguments:	['-q', '--daemon', '--nolaunch', '--pidfile=/var/run/sickrage/sickrage.pid', '--datadir=/home/pi/SickRage']
SR Web Root:
Python V

[2015-03-11 13:23] fernandog commented on #917
https://github.com/SiCKRAGETV/sickrage-issues/issues/922

[2015-03-11 13:26] gborri opened #924 "tv_episodes table column type"
is it correct that *indexer* is TEXT type?

[2015-03-11 13:44] fernandog commented on #924
@gborri what should be?

[2015-03-11 13:46] TagForce commented on #920
@WebStizzle
Weirder and weirder... That it won't delete anything when it's manual PP is normal... It avoids deleting folders completely when type="manual" (which is set by running PP from the UI).

Just the fact that it lists the folder names should be enough for it to not delete the folder.

I've changed something in the delete_folder function... it uses os.rmdir(path) for deleting the folder whe

[2015-03-11 13:53] TagForce commented on #924
@gborri Yes, that is correct. Whether or not it should be numeric is up for debate, I guess.

[2015-03-11 13:57] fernandog commented on #924
@gborri  if we add another indexer like IMDB, it has the leading "tt", so can't be integer. Others may have string too

[2015-03-11 13:59] TagForce commented on #919
@fernandog I'd not enable entering regex's to the acceptable input for req or ign words. Users are going to submit issues when they mess up their own.

I'd opt for changing the global AND to OR for required words. There needs to be at least one of the required words, just like ignored words only needs 1 to have a hit. That seems most logical to me, anyway.

[2015-03-11 13:59] fernandog commented on #921
@TagForce can you confirm please?

[2015-03-11 14:00] TagForce commented on #924
@fernandog No, the 'other' column... The indexerid column already is numeric, so we'll run into that issue anyway. The indexer column tells us which indexer was used for that show (1 = tvdb, 2 = tvrage).

[2015-03-11 14:04] fernandog commented on #919
@TagForce agree

What I don't know is how PR prioritize global or show? What if they conflict?

[2015-03-11 14:04] fernandog commented on #924
ok! sorry

[2015-03-11 14:05] TagForce commented on #920
Add this one as well (removes a - at the start of the line for "if check_files" because I'm stupid)

https://github.com/TagForce/SickRage/commit/af92837f4b27a787f8415c6b0e36b7098bb38807

[2015-03-11 14:06] abeloin commented on #887
What is the error message?

[2015-03-11 14:07] TagForce commented on #921
@fernandog @abeloin Confirmed. Refreshing the page shows Snatched, but until then it keeps saying 'searching' and showing the busy-wheel.

[2015-03-11 14:07] #897 closed

[2015-03-11 14:11] fernandog commented on #923
viewlogs.tmpl

[code]

maybe we need to add something to the div

[2015-03-11 14:13] fernandog commented on #921
@TagForce @abeloin in my case I didn't received the ui.notification

[2015-03-11 14:14] abeloin commented on #918
As @fernandog said these kind of error happen when you manually update sickrage from the command line(or via sickrage but fail to restart). This leave sickrage in inconsistent state: old code from the py files and new code from the tmpl files(the webui). Restarting sickrage usually fix the issue.

[2015-03-11 14:14] #918 closed

[2015-03-11 14:17] abeloin commented on #923
Some info are missing, see https://github.com/SiCKRAGETV/sickrage-issues on how to fill a proper ticket :stuck_out_tongue_winking_eye:

Joke aside: you get this in the latest develop branch?

[2015-03-11 14:18] TagForce commented on #923
@abeloin LOL... You just made my day :)

[2015-03-11 14:25] Toilal commented on #919
Current it checks show first, then global. I'll open a PR.

[2015-03-11 14:30] matigonkas opened #925 "[APP SUBMITTED]: 401 {u'documentation_url': u'https://developer.github.com/v3', u'message': u'Bad credentials'}"
### INFO
Python Version: **2.7.8 (default, Oct 20 2014, 15:05:29)
[GCC 4.9.1]**
Operating System: **Linux-3.16.0-31-generic-i686-with-Ubuntu-14.10-utopic**
Locale: unknown
Branch: **develop**
Commit: SiCKRAGETV/SickRage@7089fa9ac0959195e9ba4e642b2b7ae410bbe512
### ERROR
[code]
---
_STAFF NOTIFIED_: @SiCKRAGETV/owners @SiCKRAGETV/moderators

[2015-03-11 14:31] #925 closed

[2015-03-11 14:33] matigonkas opened #926 "[APP SUBMITTED]: 'ascii' codec can't encode character u'\u2019' in position 68: ordinal not in range(128)"
### INFO
Python Version: **2.7.8 (default, Oct 20 2014, 15:05:29)
[GCC 4.9.1]**
Operating System: **Linux-3.16.0-31-generic-i686-with-Ubuntu-14.10-utopic**
Locale: unknown
Branch: **develop**
Commit: SiCKRAGETV/SickRage@7089fa9ac0959195e9ba4e642b2b7ae410bbe512
### ERROR
[code]
---
_STAFF NOTIFIED_: @SiCKRAGETV/owners @SiCKRAGETV/moderators

[2015-03-11 14:34] fernandog commented on #923
I was expecting this....=)

first post updated - notice the new user and locale!

[2015-03-11 14:35] matigonkas commented on #926
Locale and locale -a
http://pastebin.com/Aur7580C

[2015-03-11 14:36] fernandog commented on #926
https://github.com/SiCKRAGETV/sickrage-issues/issues/914

[2015-03-11 14:37] abeloin commented on #923
@fernandog Can you post the log from when that error happened?

[2015-03-11 14:38] fernandog commented on #923
I dont have it.
to reproduce just edit managetorrents.tmpl and remod any directive like #end if

[2015-03-11 14:46] fernandog commented on #589
TO DO:
- backup before auto-update and if safe_to_update is True

[2015-03-11 14:48] WebStizzle commented on #920
Sorry about the delay, I tried manually typing in the changes at first because I was having trouble pulling the commit.  It didn't change the results so I forced the commit changes through the git pull and had the same results.

For a test I made seasons 1-6 I put 2 files in each folder S0XE01 and S0XE02 I then added an Episode 3 file to both season 3 and season 6.  The same results happened as be

[2015-03-11 14:50] fernandog commented on #920
@TagForce squash all commit so he can patch -p1 < commit.patch

[2015-03-11 14:51] abeloin commented on #923
This will do the trick

viewlogs.tmpl:
[code]

[2015-03-11 15:02] gborri commented on #924
@fernandog if you like you can close this issue. it was strange for me. I run on this because i was making a merge procedure in order to change schema for my db due to check available function.

[2015-03-11 15:03] TagForce commented on #920
https://github.com/TagForce/SickRage/commit/89b6ef1e7c47b7b650ecdf6403847982703981f8

Yeah, it got messy.

[2015-03-11 15:07] fferraro87 commented on #887
i don't know, i've 404 error on address of sickrage so i uninstall and reinstall but i've same error... (i've delete how to get away with murder so now i've different character problem 2015-03-11 14:53:30 FINDSUBTITLES :: Error occurred when downloading subtitles: 'ascii' codec can't encode character u'\xe2' in position 80: ordinal not in range(128) )

[2015-03-11 15:10] #924 closed

[2015-03-11 15:13] TagForce commented on #920
@WebStizzle Make sure you get all the changes in processTV.py... Or replace the current one with the one from the above commit (has all the changes in it)
If they are all there and this is the output, then it runs the delete_folder using check_empty=False...
And that only happens when it finds folders that start with _FAILED_ or _UNDERSIZED_

[2015-03-11 15:13] fernandog commented on #920
@WebStizzle

stop SR
SSH
enter SR directory
run:
[code]
start SR

[2015-03-11 15:14] TagForce commented on #920
@fernandog If he's changed processTV.py himself, he'll need to
git stash
git stash drop
first, otherwise the patch won't find the correct file contents to modify.

[2015-03-11 15:21] abeloin commented on #921
@fernandog @TagForce You get this issue in the comingEpisodes and backlog but not in displayShow? It's a known issue as there's no code to handle it, saw it when redoing the color status in displayShow.

I'm currently writing the code to handle that.

[2015-03-11 15:23] abeloin commented on #887
Do you have the sickrage's log when to 404 error happened?

[2015-03-11 15:24] abeloin commented on #589
For the backup, we need to move the code from update() in webserve.py to versionChecker.py

[2015-03-11 15:30] abeloin commented on #926
@matigonkas Can you replace lib/subliminal/videos.py by this one: https://github.com/abeloin/SickRage/blob/f7398e81a99ca3baf37068c2eaaeef02eeacfd87/lib/subliminal/videos.py
Stop sickrage before changing. And retry.

[2015-03-11 15:33] fferraro87 commented on #887
where i can find .log?

[2015-03-11 15:36] Toilal commented on #919
PR is there https://github.com/SiCKRAGETV/SickRage/pull/1531

[2015-03-11 15:37] abeloin commented on #849
@vanticar No need to redo the whole test. We should have a new version using Rarbg's new api(instead of doing web scraping) in the next few days. For more info: https://github.com/SiCKRAGETV/sickrage-issues/issues/853

[2015-03-11 15:37] TagForce commented on #921
@abeloin It won't update the image in DisplayShow for me.

[2015-03-11 15:44] abeloin commented on #921
Look in the network tab in the developer tools, you should see a Get home/getManualSearchStatus?show=xxxx every 5 secs look at the returned json:
`{"episodes": [{"status": "Wanted", "episode": 8, "episodeindexid": 5129254, "season": 24, "searchstatus": "searching", "overview": "wanted", "quality": "Unknown"}], "show": "72454"}`
`{"episodes": [{"status": "Wanted", "episode": 8, "episodeindexid": 51

[2015-03-11 15:46] abeloin commented on #887
In Sickrage folder, look for a Logs folder. Inside there should be all sickrage log files.

[2015-03-11 15:54] fernandog commented on #921
@abeloin @TagForce mine is in coming episodes page

[2015-03-11 15:56] crazyasyou opened #927 "Mede8er Metadata - episode metadata XML declaration"
First of all thanks for all the hard work and time you all put into this project, I don’t need a fix for this but want to bring it to your attention.
I'm not sure if this is something at fault due to my personal setup and I have self-corrected the issue with my very limited programing skills by 'hacking' at one of the python2.7 ElementTree files (ElementTree.py)

In summary for the mede8er devices

[2015-03-11 15:57] fernandog commented on #927
@TagForce can you check this please?

[2015-03-11 16:01] crazyasyou commented on #901
Thanks for the fix, it seems to be working as normal again.

[2015-03-11 16:03] #901 closed

[2015-03-11 16:04] #923 closed

[2015-03-11 16:05] #909 closed

[2015-03-11 16:05] maxcore commented on #917
When am back i check!

[2015-03-11 16:08] TagForce commented on #927
@crazyasyou @fernandog I'll have a look if I can add this only for mede8er.
I don't myself own a mede8er, though. A colleague of mine does, so I fix the mede8er files according to his wishes :)

[2015-03-11 16:08] fernandog commented on #892
@TagForce isn't show.name instead of just name?

show = helpers.get_show(bestResult.series_name, self.tryIndexers, self.trySceneExceptions)

[2015-03-11 16:11] TagForce commented on #892
bestResult.series_name = name inside get_show.
```def get_show(name, tryIndexers=False, trySceneExceptions=False):```

[2015-03-11 16:12] fernandog commented on #891
@gonfreecs64

can you try this?

- stop SR
- SSH
- enter SickRage directory
- run this commands in sequence:

[code]

- start SR
- Try to reproduce the error
- Report back if OK, it not, post full logs

[2015-03-11 16:14] fernandog commented on #892
@TagForce that fix as a "band aid" for another problem or not? I'm concerned

[2015-03-11 16:18] crazyasyou commented on #927
@TagForce Thanks for taking a look, as I said I have my own fix in place that has been working well for many many months but I guess if it’s fixed globally other people will benefit.

[2015-03-11 16:35] crazyasyou commented on #889
I personally never want to see a sickrage feature that requires anything more than interrogation of the filename.
This is for two reasons:
1, I’ve used different applications over the years that interrogate image, audio and video files in an attempted to get codec, length, bitrate and other information and find they cause disk trashing even on fairly small content libraries even when the data and

[2015-03-11 16:54] fferraro87 commented on #887
@abeloin nothing is written on log after shutdown and restart sickrage with new videos.py file...but also it's strange that my videos.py file is 10,7kb while yours is 126...my videos.py : http://pastebin.com/CgALXhGX

[2015-03-11 17:01] TagForce commented on #892
I don't know what the cause for this is.

[2015-03-11 17:14] StSaens commented on #852
Yes. I'll wait for the fix so it downloads as well. Thanks!

[2015-03-11 18:59] fernandog commented on #589
@abeloin PR done for auto backup when auto update

[2015-03-11 19:02] #904 closed

[2015-03-11 19:03] #875 closed

[2015-03-11 19:03] #849 closed

[2015-03-11 19:07] fernandog commented on #905
@abeloin is this a confirmed issue?

[2015-03-11 19:10] #370 closed

[2015-03-11 19:15] fernandog commented on #887
@fferraro87
Infos: 304 lines (253 sloc)  11.005 kb
https://github.com/abeloin/SickRage/blob/f7398e81a99ca3baf37068c2eaaeef02eeacfd87/lib/subliminal/videos.py

[2015-03-11 19:40] bthusby commented on #732
Ok, I will try using only opensubtitle for a while and see if it improves.. :) So only sync'ed subtitles will be downloaded then?

[2015-03-11 20:25] matigonkas commented on #926
@abeloin It seems to have fixed the issue
I believe the problem was with the banshee episode 3x09 "Even God Doesn’t Know What to Make of You" ,i replaced the file booted SR up and the subtiles for that episode pooped up without any issues :)

[2015-03-11 20:26] fernandog commented on #926
@matigonkas thanks for replying!

[2015-03-11 20:31] fernandog opened #928 "[APP SUBMITTED]: disk I/O error"
### INFO
Python Version: **2.7.3 (default, Mar 18 2014, 05:13:23)
[GCC 4.6.3]**
Operating System: **Linux-3.12.31-armv6l-with-debian-7.8**
Locale: UTF-8
Branch: ****
Commit: SiCKRAGETV/SickRage@1996ae7ec27a47e3ab5196005c9b2f848f9091a2
Link to Log: https://gist.github.com/1b554d92dc805141116f
### ERROR
[code]
---
_STAFF NOTIFIED_: @SiCKRAGETV/owners @SiCKRAGETV/moderators

[2015-03-11 20:36] fernandog opened #929 "[APP SUBMITTED]: disk I/O error"
### INFO
Python Version: **2.7.3 (default, Mar 18 2014, 05:13:23)
[GCC 4.6.3]**
Operating System: **Linux-3.12.31-armv6l-with-debian-7.8**
Locale: UTF-8
Branch: ****
Commit: SiCKRAGETV/SickRage@1996ae7ec27a47e3ab5196005c9b2f848f9091a2
Link to Log: https://gist.github.com/07120b5434d84baeb0f1
### ERROR
[code]
---
_STAFF NOTIFIED_: @SiCKRAGETV/owners @SiCKRAGETV/moderators

[2015-03-11 20:38] Alexwijn opened #930 "[FEATURE] Add minimum size"
Is it possible to add a feature to specify the minimum size of specific quality. Sometimes I see that he is downloading a 720p WEB-DL version but that it is only 150Mb. It probably has a resolution of 720p but the quality would not be the same as on a ~1.3Gb version.

[2015-03-11 20:39] fernandog opened #931 "[APP SUBMITTED]: disk I/O error"
### INFO
Python Version: **2.7.3 (default, Mar 18 2014, 05:13:23)
[GCC 4.6.3]**
Operating System: **Linux-3.12.31-armv6l-with-debian-7.8**
Locale: UTF-8
Branch: ****
Commit: SiCKRAGETV/SickRage@1996ae7ec27a47e3ab5196005c9b2f848f9091a2
Link to Log: https://gist.github.com/bad266e08a3cb443acdb
### ERROR
[code]
---
_STAFF NOTIFIED_: @SiCKRAGETV/owners @SiCKRAGETV/moderators

[2015-03-11 20:40] fernandog opened #932 "[APP SUBMITTED]: FAKE EXCEPTION"
### INFO
Python Version: **2.7.3 (default, Mar 18 2014, 05:13:23)
[GCC 4.6.3]**
Operating System: **Linux-3.12.31-armv6l-with-debian-7.8**
Locale: UTF-8
Branch: ****
Commit: SiCKRAGETV/SickRage@1996ae7ec27a47e3ab5196005c9b2f848f9091a2
Link to Log: https://gist.github.com/87b8e96162eff23f1d6f
### ERROR
[code]
---
_STAFF NOTIFIED_: @SiCKRAGETV/owners @SiCKRAGETV/moderators

[2015-03-11 20:43] fernandog commented on #930
Check if the codec of thoses files are HEVC or h.265.
 If so add to ignore words
its a new codec that reduces file size with the same quality

[2015-03-11 20:45] fernandog opened #933 "[APP SUBMITTED]: FAKE EXCEPTION"
### INFO
Python Version: **2.7.3 (default, Mar 18 2014, 05:13:23)
[GCC 4.6.3]**
Operating System: **Linux-3.12.31-armv6l-with-debian-7.8**
Locale: UTF-8
Branch: ****
Commit: SiCKRAGETV/SickRage@1996ae7ec27a47e3ab5196005c9b2f848f9091a2
No Log available with ERRORS:
### ERROR
[code]
---
_STAFF NOTIFIED_: @SiCKRAGETV/owners @SiCKRAGETV/moderators

[2015-03-11 21:03] Alexwijn commented on #930
Yeah, they were. Thanks!

[2015-03-11 21:05] fferraro87 commented on #887
@fernandog so my videos.py is wrong?

[2015-03-11 21:52] fernandog commented on #887
@fferraro87
Stop SR
open videos.py
erase all contents
copy all from https://raw.githubusercontent.com/abeloin/SickRage/f7398e81a99ca3baf37068c2eaaeef02eeacfd87/lib/subliminal/videos.py
paste
save
start SR

[2015-03-11 21:53] fernandog commented on #930
Limit by size its not the best way. Correct is limit by codec.
will close this

[2015-03-11 21:53] #930 closed

[2015-03-11 22:28] guyleonard opened #934 "[APP SUBMITTED]: [Error 32] The process cannot access the file because it is being used by another process: u'F:\\Media 4\\Downloading\\The.Killing.S02\\The.Killing.S02E09.HDTV.x264-ASAP.[VTV].Sayonara.Hiawatha.mp4'"
### INFO
Python Version: **2.7.8 (default, Jun 30 2014, 16:08:48) [MSC v.1500 64 bit (AMD64)]**
Operating System: **Windows-8-6.2.9200**
Branch: **master**
Commit: SiCKRAGETV/SickRage@558684cca7605dc4c2c3058d1f92e13f23881bd3
Link to Log: https://gist.github.com/94003d7569ebc1a03e25
### ERROR
[code]
---
_STAFF NOTIFIED_: @SiCKRAGETV/owners @SiCKRAGETV/moderators

[2015-03-11 22:31] fernandog commented on #934
Please have on folder for incomplete and another to complete. You cant post-process the folder witch your torrent download saves the file

[2015-03-11 22:47] guyleonard commented on #934
i do
files are downloaded to F:\Media 4\download_temp with !qB and then moved to F:\Media 4\Downloading with their proper extension..?

[2015-03-11 22:58] fernandog commented on #934
Still seeding after moved?

[2015-03-11 23:00] guyleonard commented on #934
Actually yes, and also some files seem to be entirely deleted after seeding happens. Maybe qBitorrent is acting up!

[2015-03-11 23:06] fernandog commented on #934
So choose COPY instead of move or chose symlinks.
OR
only move to PP folder when seeding is finished

[2015-03-11 23:53] WebStizzle commented on #920
@TagForce Sorry, it was past midnight and I have baby watch today.

After manually trying last night I did a git reset to reset my local before pulling via cherry-pick the commits from your repository.

After waking up I fetched and did another reset to get back to the base commit (019a8b363d65db598d85173d457fa40aed6328fc) and then pulled the latest commit change you had again 89b6ef1

The remaind

[2015-03-11 23:56] fernandog opened #935 "[APP SUBMITTED]: FAKE EXCEPTION"
### INFO
Python Version: **2.7.3 (default, Mar 18 2014, 05:13:23)
[GCC 4.6.3]**
Operating System: **Linux-3.12.31-armv6l-with-debian-7.8**
Locale: UTF-8
Branch: ****
Commit: SiCKRAGETV/SickRage@1996ae7ec27a47e3ab5196005c9b2f848f9091a2
Link to Log: https://gist.github.com/4b0c07cf438a713e7e7d
### ERROR
[code]
---
_STAFF NOTIFIED_: @SiCKRAGETV/owners @SiCKRAGETV/moderators

[2015-03-12 00:11] chrisric commented on #821
I started SickRage with "-q" last night and left it to run in a terminal. I didn't check if the web gui was accessible at that time (Sorry) but the log was updating so I figured it was all good.

This morning the python process was NOT at 100% CPU, the log was still updating. The log actually rolled-over from the show updating process so we can't see anything before that process started. I'll make

[2015-03-12 00:18] fernandog commented on #821
@abeloin, so as in windows, OSX can run as a Daemon?

SickBeard.py
[code]

[2015-03-12 00:45] #935 closed

[2015-03-12 00:47] #928 closed

[2015-03-12 00:47] #929 closed

[2015-03-12 00:47] #931 closed

[2015-03-12 00:47] #932 closed

[2015-03-12 00:47] #933 closed

[2015-03-12 00:51] fernandog commented on #846
Still working?

[2015-03-12 00:53] fernandog commented on #895
@grimd34th any news on this?

[2015-03-12 01:10] #232 closed

[2015-03-12 01:16] grimd34th commented on #895
sorry about that, they seem to match with no invisible chars

[2015-03-12 01:25] sgtsquiggs opened #936 "Error: Unable to connect to rTorrent"
Hi,

I have rtorrent and sickrage running on my QNAP. I'd like for sickrage to communicate with rtorrent but that doesn't seem to work. I know that the scgi port is open and working, because the rutorrent GUI uses it, and it works fine.

I enable debug logging, but nothing seems to be logged for this.

[2015-03-12 01:27] Greg0rz commented on #743
Having the same issues (logs stop updating due to something holding up the log) in master branch.

Is this fix only included in Develop branch?

[2015-03-12 01:33] fernandog commented on #936
Follow guidelines: https://github.com/SiCKRAGETV/sickrage-issues
and print of your torrent settings

[2015-03-12 01:37] fernandog commented on #743
@kestnuts please update and report back (develop)

@Greg0rz only develop. Sunday on master if develop users confirm its working

[2015-03-12 01:37] Greg0rz commented on #743
@fernandog Cool.  Will take a look at this tomorrow and report back if nobody else has.  Thanks.

[2015-03-12 01:47] sgtsquiggs commented on #936
Branch: master
Commit: 019a8b363d65db598d85173d457fa40aed6328fc
OS: QNAP's flavor of linux? it's x86, on a TS-807 Pro
Python: 2.7.3

SickRage torrent settings:
Send .torrent files to: rTorrent
rTorrent host:port: scgi://localhost:5000 (tried localhost:5000 too)
http auth: disabled
verify cert: enabled
rtorrent username/password: set properly
add label to torrent: sickbeard
add label to anime: anim

[2015-03-12 01:50] fernandog commented on #936
Read all this. See if helps
https://github.com/SiCKRAGETV/sickrage-issues/issues/625

[2015-03-12 01:56] sgtsquiggs commented on #936
I'm using the scgi connection method and not http/https, so a self-signed certificate shouldn't be affecting it afaik

[2015-03-12 02:00] fernandog commented on #936
Did you read all comments?

[2015-03-12 02:02] sgtsquiggs commented on #936
yes, zero comments regarding scgi connections, all regarding httprpc via http or https

[2015-03-12 02:07] fernandog commented on #936
https://github.com/SiCKRAGETV/sickrage-issues/issues/242#issuecomment-74566447

[2015-03-12 02:08] sgtsquiggs commented on #936
Removing the username/password fixes the SCGI connection.

Seems it isn't needed unless you're going http.

Thanks @fernandog

[2015-03-12 02:08] #936 closed

[2015-03-12 02:10] fernandog commented on #936
@abeloin should we add this info in UI?

[2015-03-12 02:37] abeloin commented on #936
Yes, I'll add a js that will disable the field depending on what is selected

[2015-03-12 03:39] abeloin commented on #892
@TagForce Notice this line in the log:
`Thread-38 :: Processing /share/CACHEDEV1_DATA/Download/sabnzbd/complete/tv/Black.Sails.S02E04.720p.WEB-DL.DD5.1.H.264-BS-NZBgeek/.@__thumb/s100nZ6xJmWUdpeOMYAFPZcWVeWh8R4ZAToHtR7.mkv (None)`
Look at the file name it is starting with S100, it will match the 'season only' regex.
See this test results from the regex: https://regex101.com/r/wP1nD6/1
This will re

[2015-03-12 05:29] abeloin commented on #905
@fernandog The stack trace is useless as it was re-raised with `raise e` which cause python to start the stack trace from the raise. Pushed a PR to fix that: https://github.com/SiCKRAGETV/SickRage/pull/1534 So we need to cause the issue again.

@StitchFurbix Switch to the dev branch and try reprocessing the same file.

[2015-03-12 05:31] StitchFurbix commented on #905
I wasn't but am now, I updated it and it's chugging along nicely
On Mar 10, 2015 6:41 PM, "Fernando" <notifications@github.com> wrote:

[2015-03-12 05:46] abeloin commented on #926
@fernandog It was merged for issues in Windows with logging error: https://github.com/SiCKRAGETV/sickrage-issues/issues/610. As it cause issue on Ubuntu's systems, I think it can be safely removed as we don't output log lines from subliminal in Windows anymore https://github.com/SiCKRAGETV/SickRage/pull/1388

[2015-03-12 06:02] abeloin commented on #821
@chrisric Can you:
* Stop sickrage
* Remove the pound sign(and on extra space) in sickbeard/logger.py#L77 in front of `logging.getLogger('tornado.access'),`
* Add these 2 other loggers:
  * `logging.getLogger('tornado.application'),`
  * `logging.getLogger('tornado.general'),`
* Save the file
* Start sickrage
* When you don't have access, send the logs.

This should help us see what is going on in

[2015-03-12 06:03] abeloin commented on #821
@fernandog I think we should disable daemon mode in OSX until it is fully tested.

[2015-03-12 06:10] abeloin commented on #895
@grimd34th So to resume, when you disable encrypted password it work and when it is enable it doesn't. The password shown in the logger line(Trakt data variable is) is the same as the one which isn't encrypted.

[2015-03-12 06:12] grimd34th commented on #895
correct

[2015-03-12 06:14] abeloin commented on #895
@grimd34th Can you change the logger line from my previous line to:
`logger.log("Trakt data variable is: {0}, {1}, {2}".format(str(type(data)), str(type(self.username)), str(type(self.password))),logger.DEBUG)`
and give me the results when running with encrypted and not?

[2015-03-12 06:21] abeloin commented on #905
@StitchFurbix Reopen the issue when you get that issue again

[2015-03-12 06:21] #905 closed

[2015-03-12 07:19] Dennisreneholm opened #937 "Error when adding show with special characters (danish characters)"
Hi.

Running sickrage BRANCH: (master) / COMMIT: (019a8b363d65db598d85173d457fa40aed6328fc)
Python Version:	2.7.6 (default, Nov 10 2013, 19:24:24) [MSC v.1500 64 bit (AMD64)]
Windows Server 2008 r2

I have troubles with adding my danish shows which contains Æ Ø Å
I also seem to have trouble with shows that has a & sign.

Show is called Bubber & BS På Afveje.
http://thetvdb.com/?tab=series&id=25286

[2015-03-12 07:54] vanticar commented on #849
@fernandog - thank you very much
@abeloin - thank you very much
@rarbg - thank you very much (and your torrents are by far the best!)

thank you all for you help, time and sickrage!

[2015-03-12 08:05] abeloin commented on #937
Have you tried searching in Dansk instead of English?

[2015-03-12 08:09] Dennisreneholm commented on #937
I can for the specific show try to search in danish, but that does not work for all the shows, and if i can find it on thetvdb, i still can't add it to the database, nothing happens when i press finish.

[2015-03-12 08:49] chrisric commented on #821
@abeloin All done, I can see web access is being logged now. I will report back if/when it fails. Thanks.

[2015-03-12 08:55] TagForce commented on #892
@abeloin The issue with the S100 files is fixed by making sure it skips hidden folders (specifically created the fix for this QNAP issue where the QNAP adds thumbnails using an extension that belongs to a video file), so it shouldn't happen too often.

But yeah, if it can be called using None as a name, then it should be able to handle None as a name, so returning None if name = None is a proper f

[2015-03-12 09:07] TagForce commented on #732
@BoGu5 It depends on which scrapers are used. If the scraper doesn't support filehashes, then the chances of it giving you wrong subs is greater. Still Subliminal has improved over time, and updating it to the new version is something we should do sometime in the future. It does require a lot of code-rewriting, though.

[2015-03-12 09:09] TagForce commented on #920
Ok, it will never be able to parse those...
If it doesn't remove the folders I'll PR it later today.

[2015-03-12 09:25] Dennisreneholm commented on #937
Just tried developer version, also a problem there.

[2015-03-12 09:36] fferraro87 commented on #887
@fernandog with this new videos.py error is gone..now it works fine thanks for your support

[2015-03-12 09:39] #887 closed

[2015-03-12 09:39] WebStizzle commented on #920
Understandable, I was only using those names since I knew they caused the original problem.  But as far as I can tell everything is working as it should now.  Thanks for the speedy help.

[2015-03-12 09:42] mcadam commented on #355
+1

[2015-03-12 09:56] tchirou commented on #456
Hello

Python 2.7.6 / Win 8.1
Unprotected Calendar option is checked
Branch devlop and master as explained below

There are new problems with coming episodes, webcal and google calendar.

I had switched to master and several problems appeared
- Some shows were missing in the google calendar as Marvel's agents of shield wehere as they are in the coming episodes list and in the http://sickrage:port/

[2015-03-12 09:58] fernandog commented on #926
Ok. Go ahead and revert it. (Hotfix?)

[2015-03-12 10:01] fernandog commented on #887
@abeloin

[2015-03-12 11:16] tchirou commented on #456
Addendum

Weirdly enough, Empire (2015) has a continuing but not active status in the show list and a "New series" status in the show page. It has been added with the tvrage indexer.

[2015-03-12 11:23] fernandog commented on #589
TO DO: after we close all known issues, fix the travis tests

[2015-03-12 11:31] Dennisreneholm commented on #122
I think i have the same problem.

Running newest master, on Windows 2008 r2 server.
Can't use &,Æ,Ø or Å

[2015-03-12 11:34] fernandog commented on #122
@Dennisreneholm open a new issue following guidelines ( https://github.com/SiCKRAGETV/sickrage-issues ) AND please post:

- user that runs SR OR the contents of /etc/default/sickbeard
- post the result of this commands running as **SR user**:

[code]
and
[code]

[2015-03-12 11:38] fernandog commented on #936
@abeloin wrong reference here?

[2015-03-12 12:02] dirkr07 opened #938 "[APP SUBMITTED]: 'NoneType' object has no attribute '__getitem__'"
### INFO
Python Version: **2.7.8 (default, Dec 12 2014, 22:18:04)
[GCC 4.3.2]**
Operating System: **Linux-2.6.32.12-ppc-with-glibc2.0**
Branch: **master**
Commit: SiCKRAGETV/SickRage@019a8b363d65db598d85173d457fa40aed6328fc
Link to Log: https://gist.github.com/8f41d3161860aa98ead8
### ERROR
[code]
---
_STAFF NOTIFIED_: @SiCKRAGETV/owners @SiCKRAGETV/moderators

[2015-03-12 12:05] fernandog commented on #938
Not an issue. That torrent you are trying to download is buggy.
Try manually download it and add to torrent downloader.

[2015-03-12 12:05] #938 closed

[2015-03-12 12:07] #912 closed

[2015-03-12 12:07] #914 closed

[2015-03-12 12:09] fernandog commented on #920
merged

[2015-03-12 12:10] fernandog commented on #916
@klutchrider any news on this?

[2015-03-12 12:10] fernandog commented on #891
@gonfreecs64 any news on this?

[2015-03-12 12:15] TagForce commented on #927
@crazyasyou Is this only needed for episode data? Or also for the show data?

[2015-03-12 12:18] TagForce commented on #927
@crazyasyou Output should be something like the following?

series.xml:
[code]

episodefilename.xml:

[code]

[2015-03-12 12:19] fernandog commented on #911
@abeloin

Can we remove the INT() as this value can be float? in UI it increases in step of 0.1
    new_config['TORRENT']['torrent_seed_time'] = int(TORRENT_SEED_TIME)

or we change to float() ?

https://github.com/SiCKRAGETV/SickRage/blob/develop/sickbeard/__init__.py#L1756

[2015-03-12 12:31] fernandog commented on #821
@chrisric can you do a test for me?

please run:
[code]

[2015-03-12 12:41] fernandog commented on #934
@TagForce confirm?

[2015-03-12 12:48] TagForce commented on #911
In the UI you enter it in minutes, but using the API the seeding time is in integer seconds.
http://forum.utorrent.com/topic/21814-web-ui-api/?p=207446

So that call should actually be changed to round to an integer before sending:
time = int(3600 * float(sickbeard.TORRENT_SEED_TIME))
Otherwise you could send a float seconds which will revert to the default number of minutes (!!) you set in the UI

[2015-03-12 12:49] TagForce commented on #934
@fernandog Correct :)

[2015-03-12 12:52] fernandog commented on #821
@chrisric

I think @abeloin told you here https://github.com/SiCKRAGETV/sickrage-issues/issues/821#issuecomment-78428437 to add thoses lines, and run SR in daemon mode (with -d)  so we can debug what's going on.. Is that it?

[2015-03-12 12:53] fernandog commented on #934
@TagForce when this happen, can't we just copy or symlink as fallback?

[2015-03-12 12:55] fernandog commented on #911
@TagForce

it's hours in UI.

Minimum seeding time is [           ]  hours. (default:'0' passes blank to client and '-1' passes nothing)

[2015-03-12 13:00] TagForce commented on #934
@fernandog I would copy, not symlink... As we don't know what the client does when seeding finishes.
If it removes the file the symlink would break.

[2015-03-12 13:02] fernandog commented on #934
@TagForce what do you think adding a note in PP telling users to NOT use the download folder as the PP download?

[2015-03-12 13:10] TagForce commented on #911
@fernandog UI is not leading in this. Settings are transferred using API. I'll see if I can find out what it expects.

Yes, cast as an int, and multiply by 3600 for uT is correct. But why would we not change it to accept minutes instead of hours? Now I would need to set it to 0.00027 to get one minute of seeding time.

[2015-03-12 13:13] abeloin commented on #936
yes, already fixed but the reference stayed, github limitation

[2015-03-12 13:14] fernandog commented on #911
@TagForce not problem. Let's do minutes.
the problem is: what happens when user updates? They will have to change the value ? An error may occur?

[2015-03-12 13:23] TagForce commented on #911
@fernandog Yeah, it could throw errors... So we'd need to convert it...

Also, and maybe this is a bigger problem: transmission does not support a minimum seed time... What you're setting with minumum seeding time in SR is actually the Seed Idle Time Limit. If it's been inactive while seeding for sickbeard.TORRENT_SEED_TIME it will stop seeding. So it's not when seeding for sickbeard.TORRENT_SEED_

[2015-03-12 13:27] TagForce commented on #934
@fernandog Is not going to fix the problem...
If a torrent is seeding and it is active, at that time there will be an exclusive lock on it in Windows for most torrent clients, as the program is actively accessing the file.

It doesn't matter whether the file is in the incomplete folder or the complete folder, as long as it's seeding it runs the chance of being locked by the client.

I run a script

[2015-03-12 13:29] fernandog commented on #934
@TagForce so we add another note in mode: don't use MOVE if you always seed your torrents

[2015-03-12 13:34] abeloin commented on #911
Why not simply multiple by 10 before saving and dividing by 10(except 0) when loading. This way you restore that functionality that was broken by the PR which converted torrent_seed_time from string to int

[2015-03-12 13:36] TagForce commented on #934
@fernandog Yeah, using a different complete folder is best-practice though so leave that on in as well.

Note: Please use seperate downloading and completed folders in your download client if possible. Also, if you keep seeding torrents after they finish, please set Process Method to 'copy' instead of move to prevent errors while moving files.

On the other hand, it should skip the file and retry

[2015-03-12 13:37] fernandog commented on #934
OK!

[2015-03-12 13:38] abeloin commented on #937
I don't know how you start sickrage, but can you add this command before running sickrage:
`chcp 65001`
so in the command line it would look like this:
[code]

[2015-03-12 13:43] Dennisreneholm commented on #937
i start it via a service, which starts a .bat file which currently only has this:
C:\Python27\python D:\SickRage\SickBeard.py

ill try
chcp 65001
C:\Python27\python D:\SickRage\SickBeard.py --nolaunch -q

[2015-03-12 13:43] TagForce commented on #911
@abeloin If I want to set a time of 1 minute minimum seeding time in uTorrent, I'd have to enter 0.00027 in the current incarnation of sickbeard.TORRENT_SEED_TIME... No amount of multiplying by 10 will fix that :)

Besides, transmission doesn't even support the min_seed_time setting... So a better idea would be to redo the torrent api settings page to include only those settings relevant to the cl

[2015-03-12 13:45] Dennisreneholm commented on #937
2015-03-12 14:45:26 Thread-28 :: Failed doing webui callback: Traceback (most recent call last):
  File "D:\SickRage\sickbeard\webserve.py", line 257, in async_call
    result = function(**kwargs)
  File "D:\SickRage\sickbeard\webserve.py", line 2288, in massAddTable
    cur_path),
  File "C:\Python27\lib\encodings\utf_8.py", line 16, in decode
    return codecs.utf_8_decode(input, errors, True)
U

[2015-03-12 13:49] fernandog commented on #911
@TagForce I think there's a PR about adding torrent hash to DB. don't remember who did it

[2015-03-12 13:49] Dennisreneholm commented on #937
Tried without the --nolaunch -q, even though i didn't think that had anything to do with it.

error:
2015-03-12 14:47:52 Thread-40 :: Failed doing webui callback: Traceback (most recent call last):
  File "D:\SickRage\sickbeard\webserve.py", line 257, in async_call
    result = function(**kwargs)
  File "D:\SickRage\sickbeard\webserve.py", line 651, in index
    return json.dumps(foldersAtPath(pat

[2015-03-12 13:58] TagForce commented on #911
I know, that's why I brought it up here... I think using that as a starting point to overhaul the whole download client part in SR would be perfect.

[2015-03-12 13:59] fernandog commented on #911
let's ask @gborri to do it? =)

[2015-03-12 14:08] abeloin commented on #456
The difference between master and develop is negligible as develop was merged last Sunday.

That's is a Google refresh issue to which Sickrage can't do anything.

Maybe related to the duplicate in ios: http://apple.stackexchange.com/questions/71258/duplicate-google-calendar-entries-in-ipad-calendar-app

[2015-03-12 14:09] TagForce commented on #911
@fernandog I think this needs to be a team effort... And it needs a design before we do it...
Just so that we're all working towards the same goal :)
This is really a major overhaul, so we need to get this right.

[2015-03-12 14:10] fernandog commented on #911
yes. no problem!

[2015-03-12 14:11] fernandog commented on #911
@TagForce as for this issue, what should we do?

[2015-03-12 14:13] tchirou commented on #456
Yet I have switched twice since monday : from master to dev to master to dev. Each dev got Marvel's and each master didn't. When I say it is missing, I am looking at google calendar on the web, not through ios calendar app.

[2015-03-12 14:13] gborri commented on #911
@TagForce @fernandog @abeloin I've not got all your point.
I will try to explain what is in #1397 and what I have understood from your comment.

The point of PR 1307 is to store Hash on DB when torrent is snatched and remove it from trasmission (at the moment the remove procedure is built only for it) when post processed.

What i have understood from your conversation is to change seading time on

[2015-03-12 14:17] abeloin commented on #926
PR merged in master and develop: https://github.com/SiCKRAGETV/SickRage/pull/1540

[2015-03-12 14:18] fernandog commented on #680
@SunMar

"I'm working on this myself atm (don't have a working version yet),"

any news on this?

[2015-03-12 14:19] fernandog commented on #926
@matigonkas can you update and confirm ? thanks!

[2015-03-12 14:21] gborri opened #939 "[Feature Request] notification: gmail client with 2-step autentication"
if gmail has been chosen as mail relay, the 2-step autentication wont work.

[2015-03-12 14:22] fernandog opened #940 "Feature Request - Add 2-step verification for GITHUB account"
Add 2-step verification for GITHUB account

[2015-03-12 14:32] TagForce commented on #911
@gborri I know what's in your PR... We were discussing changing the minimum seed time option to allow for floats to be entered. I then checked uTorrent's API and found it was indeed in seconds (hence the 3600 multiplication to convert to hours), and when I checked Transmission's API docs, I noticed that it does not support minimum seed time (only seed idle time as explained above) and then had the

[2015-03-12 14:41] fernandog commented on #911
I would just rename the transmission setting in UI from "seed time" to "Stop Seeding When Inactive For" - the same as in Transmission UI

[2015-03-12 14:44] #891 closed

[2015-03-12 14:45] fernandog commented on #821
merged in develop

[2015-03-12 14:52] gborri commented on #911
@TagForce I'm not sure if i can help, but i can try.

[2015-03-12 15:00] fernandog commented on #911
In your PR can we call the remove at anytime we want? When PP for example ?

[2015-03-12 15:26] abeloin commented on #911
@fernandog Deluge doesn't support seed by time natively.

[2015-03-12 15:33] fernandog commented on #911
@abeloin any ideias how to fix this without break previous values?

[2015-03-12 15:40] abeloin commented on #911
I think for the time being, we should change the webui to only accept hours and add a notice for Transmission regarding being an idle timer.

This way we fix the issue for the time being, and later when the project scoping for the overhaul you talk about is done and implemented we migrate the value to utorrent seed_time and to transmission idle timer.

And if somebody complain about being unable t

[2015-03-12 15:47] chrisric commented on #821
@fernandog Here you go:
```>>> import sys; sys.platform```
``` 'darwin' ```

My understanding is/was that @abeloin wanted to run the extra logging with "-q" to find out why the web server stopped responding.

I can run with "-d" later today if you want, let me know.

Thanks.

[2015-03-12 16:08] fernandog commented on #770
@TagForce are we going to set release_name to "" ?

[2015-03-12 16:19] TagForce commented on #770
@fernandog Ah... This one slipped under my radar...
I'll fix it tonigght or tomorrow

[2015-03-12 16:21] fernandog commented on #770
@TagForce I added the new fields suggestion to the TO DO list in issue STATs. Anything in your radar that we shoud add there?

[2015-03-12 16:22] gborri commented on #911
@fernandog you can call at any time the remove procedure. the key is hash in resut var. it is supposed to use it on PostProcess in order to remove after download is complete.

[2015-03-12 17:08] abeloin commented on #456
Is it in the output from http://127.0.0.1:8081/calendar ?

[2015-03-12 17:14] abeloin commented on #892
@roger83 Can you update sickrage, a fix has been pushed.

[2015-03-12 17:16] tchirou commented on #456
In http://127.0.0.1:8081/calendar, empire is missing but not marvel
In Google calendar (inside gmail), with dev marvel and empire and some others are missing. With master, empire and some others are missing but not marvel

[2015-03-12 17:16] abeloin commented on #887
@fferraro87 Please update sickrage to the latest version as a fix was pushed into master and develop

[2015-03-12 17:18] abeloin commented on #895
@fernandog Why did you close this issue?

[2015-03-12 17:19] fernandog commented on #895
@abeloin sorry! wrong closing.

[2015-03-12 17:22] abeloin commented on #937
Ok remove the chcp line and start sickrage.

Can you provide all the info from "Help & Info" in config page Version, user, locale, ...

[2015-03-12 17:28] Dennisreneholm commented on #937
http://i.imgur.com/U5jp4Qk.png

User is Administrator on my Server 2008 r2, no domain.
Locale, well, the server language is english :P

[2015-03-12 17:30] abeloin commented on #937
ok in command line, what is the result of `chcp` ?

[2015-03-12 17:31] Dennisreneholm commented on #937
C:\Python27>chcp
Active code page: 850

[2015-03-12 17:31] matigonkas commented on #926
Just tested it by redownloading the supposed offending episode of Banshee 3x09 "Even God Doesn’t Know What to Make of You"  and his subtitles and didnt got errors ,so the fix worked @fernandog

[2015-03-12 17:32] #926 closed

[2015-03-12 17:47] abeloin commented on #937
I've made a mistake before: it should have been `chcp cp65001` not 65001. Can you retry with the proper command? If it doesn't work try `chcp cp1252` which a superset of cp850.

[2015-03-12 17:52] Dennisreneholm commented on #937
C:\Python27>chcp cp65001
Parameter format not correct - cp65001

C:\Python27>chcp cp1252
Parameter format not correct - cp1252

[2015-03-12 17:53] abeloin commented on #821
@chrisric the -d option is now disable on osx with that merge

[2015-03-12 17:55] abeloin commented on #937
ok then try `chcp 1252`

[2015-03-12 17:57] abeloin commented on #456
Ref: https://github.com/SiCKRAGETV/SickRage/compare/master...develop

[2015-03-12 17:58] fernandog commented on #821
@abeloin after the update, he needs to add https://github.com/SiCKRAGETV/sickrage-issues/issues/821#issuecomment-78428437 again, isn't?

[2015-03-12 18:00] abeloin commented on #821
@fernandog I don't think he's updated is branch since yesterday as it take a day to cause the issue.
@chrisric Did you updated your branch since your message 9 hours ago?

[2015-03-12 18:01] Dennisreneholm commented on #937
Tried that, i can start and browse my directory, but it still looks wrong.
http://i.imgur.com/H1gGrpt.png

[2015-03-12 18:04] tchirou commented on #456
Sorry but I don't get what you want me to understand 😔

[2015-03-12 18:05] abeloin commented on #937
That's how you typed it? As I don't understand , can you tell me how you get to there with the invalid char?

[2015-03-12 18:09] abeloin commented on #456
Sorry it's a reference for me to check all commits between master and develop to see what could affect some show not showing in the calendar output.

[2015-03-12 18:10] tchirou commented on #456
Oh ok thanks

[2015-03-12 18:11] TagForce commented on #589
Improve PP failure handling. Try to PP as many files as possible instead of stopping it on a single file failure.

[2015-03-12 18:13] fernandog commented on #937
@Dennisreneholm  can you check your browser encoding setting? Is it auto-detect? UTF-8?

[2015-03-12 18:13] Dennisreneholm commented on #937
No that's how sickrage converts it.

It should be Bamse på planten, but sickrage can't understand ÆØÅ så it converts it.
And it doesn't matter if i type the correct, and find it on thetvdb, because the path to the show is still wrong, as you can see in the image.

[2015-03-12 18:13] Dennisreneholm commented on #937
@fernandog How do i do that, using chrome

[2015-03-12 18:14] fernandog commented on #937
@Dennisreneholm https://support.google.com/chrome/answer/95290?hl=en

[2015-03-12 18:16] fernandog commented on #589
updated

[2015-03-12 18:18] Dennisreneholm commented on #937
It is set to UTF-8, also tried auto, didn't change anyhing.

[2015-03-12 18:21] fernandog commented on #937
@Dennisreneholm

this don't work for you?
![1](https://cloud.githubusercontent.com/assets/2620870/6624929/7948fc3a-c8cb-11e4-9b43-6ff6a34d3e6e.png)

[2015-03-12 18:22] Dennisreneholm commented on #937
The command works, but it does not help the sickrage problem.

[2015-03-12 18:22] Dennisreneholm commented on #937
ill just try again so i can link a screenshot of the error that makes

[2015-03-12 18:27] Dennisreneholm commented on #937
http://i.imgur.com/m2YmKys.png
command works.

But.
http://i.imgur.com/7kWTxAi.png
Where i put the arrow, the shows that has not been added to sickrage yet, is not appearing.
It loads for a while, then shows nothing.

[2015-03-12 18:34] tchirou commented on #456
To clarify :
In coming list : all shows are in it including empire but shows for
23rd of March are not
The calendar output is the same for master and dev : marvel is in it,
the slap is in it (including 13 (yes 13, not 23) of March), the good
wife is in it (including the one airing on the 23rd of March), empire
is not
In google calendar :
- with dev : marvel is in it, the slap is in it sometimes bu

[2015-03-12 18:38] fernandog commented on #456
@tchirou do you use TRAKT? Have you thought about getting the calendar from there?

[2015-03-12 18:41] tchirou commented on #456
No I don't use it but I didn't give it a thought
Is it possible to import the list from sr ? Because I have 76 active shows

Le 12 mars 2015 à 19:38, Fernando <notifications@github.com> a écrit :

@tchirou <https://github.com/tchirou> do you use TRAKT? Have you thought
about getting the calendar from there?

—
Reply to this email directly or view it on GitHub
<https://github.com/SiCKRAGETV/sickrag

[2015-03-12 18:45] Thraxis commented on #846
@fernandog  Yes I can do a PR for the fix... I'm still trying to track down why this is happening though.  None of the rows should even be a sqlite3.row at that point.

[2015-03-12 18:45] tchirou commented on #456
I have kodi on a HTPC with SR on it but I don't use the library
I use a western digital live player with usb HDDs
SR is on the HTPC and post process the files on the HDDs through the
local network

[2015-03-12 19:18] guyleonard opened #941 "[APP SUBMITTED]: [Error 2] The system cannot find the file specified: u'F:\\TV_Shows_Shared\\The 100\\Season 2\\The 100 - S02E11 - Coup de Gr\xe2ce.nfo'"
### INFO
Python Version: **2.7.8 (default, Jun 30 2014, 16:08:48) [MSC v.1500 64 bit (AMD64)]**
Operating System: **Windows-8-6.2.9200**
Branch: **master**
Commit: SiCKRAGETV/SickRage@558684cca7605dc4c2c3058d1f92e13f23881bd3
Link to Log: https://gist.github.com/ac9b8ea5400caea6195e
### ERROR
[code]
---
_STAFF NOTIFIED_: @SiCKRAGETV/owners @SiCKRAGETV/moderators

[2015-03-12 19:31] tchirou commented on #456
well I checked it
iCal feed are for VIP only and costs 15$ a year
webcal and GC does it for free and it is my main use to get each morning an email with the shows of the day before :(

[2015-03-12 19:54] Symbiot78 opened #942 "nxtgn provider not picking up results AND login issues"
Branch - Master
Commit hash -  (3b399f16126c2566028312ecedcbb0a0d47d3dfa)
Your operating system and python version - Open Media Vault - 2.7
What you did - Enabled nxtgn provider
What happened - it doesn't find anything, and it sporadically give me prompts on nxtgn.org about failed login attempts. Now I have TRIPLE checked username & password..  It worked before the last 3 commits but now it doesn'

[2015-03-12 19:58] fernandog opened #943 "[APP SUBMITTED]: Some #directives are missing their corresponding #end ___ tag: if Line 22, column 92 in file /home/pi/SickRage/gui/slick/interfaces/default/manage_torrents.tmpl Line|Cheetah Code ----|------------------------------------------------------------- 19 |$info_download_station 20 |<iframe id="extFrame" src="$webui_url" width="100%" height="500" frameBorder="0" style="border: 1px black solid;"></iframe> 21 | 22 |#include $os.path.join($sickbeard.PROG_DIR, "gui/slick/interfaces/default/inc_bottom.tmpl") ^"
### INFO
Python Version: **2.7.3 (default, Mar 18 2014, 05:13:23)
[GCC 4.6.3]**
Operating System: **Linux-3.12.31-armv6l-with-debian-7.8**
Locale: UTF-8
Branch: **develop**
Commit: SiCKRAGETV/SickRage@d31e2fe246c29c376e2f4799dbd1f1962c54d2b5
Link to Log: https://gist.github.com/24e72d83d2967587e933
### ERROR
[code]
---
_STAFF NOTIFIED_: @SiCKRAGETV/owners @SiCKRAGETV/moderators

[2015-03-12 19:59] #943 closed

[2015-03-12 19:59] fernandog commented on #943
TESTING

[2015-03-12 20:21] fernandog opened #944 "[APP SUBMITTED]: EDIT THIS BEFORE SAVE"
### INFO
Python Version: **2.7.3 (default, Mar 18 2014, 05:13:23)
[GCC 4.6.3]**
Operating System: **Linux-3.12.31-armv6l-with-debian-7.8**
Locale: UTF-8
Branch: **develop**
Commit: SiCKRAGETV/SickRage@d31e2fe246c29c376e2f4799dbd1f1962c54d2b5
Link to Log: https://gist.github.com/f8eb9b3be54e2ea443a7
---
_STAFF NOTIFIED_: @SiCKRAGETV/owners @SiCKRAGETV/moderators

[2015-03-12 20:21] fernandog commented on #944
TESTING

[2015-03-12 20:21] #944 closed

[2015-03-12 21:39] grrr2 opened #945 "Possible bug applying name parsing regexps"
SR Version: 	BRANCH: (master) / COMMIT: (2b9adc3324c9985e77fc3204e2693e3ab08a744e)
Python 2.7.9 (default, Jan 28 2015, 05:37:45)
[GCC 4.2.1 Compatible FreeBSD Clang 3.3 (tags/RELEASE_33/final 183502)] on freebsd10

Hi,
A possible bug or misbehavior (not necessarily due to Sickrage) I came across.

Got a torrent name "Showname.2000.S01.Season.1.Complete.1080p.WEB-DL.x264-[release-group]" which matc

[2015-03-12 22:00] grrr2 opened #946 "Name parsing problem: prioritize normal regex instead of anime"
SR Version: 	BRANCH: (master) / COMMIT: (2b9adc3324c9985e77fc3204e2693e3ab08a744e)
Python 2.7.9 (default, Jan 28 2015, 05:37:45)
[GCC 4.2.1 Compatible FreeBSD Clang 3.3 (tags/RELEASE_33/final 183502)] on freebsd10

Hi,

A possible bug or misbehavior ( not necessarily due to Sickrage) I came across.

Got a torrent file name "Showname.2000.S01.Season.1.Complete.1080p.WEB-DL.x264-[release-group]". It

[2015-03-12 22:00] #945 closed

[2015-03-12 22:08] fferraro87 commented on #887
@abeloin ok thanks i've update now and it works, thanks again!

[2015-03-12 22:19] fernandog opened #947 "[APP SUBMITTED]: EDIT THIS BEFORE SAVE"
### INFO
Python Version: **2.7.3 (default, Mar 18 2014, 05:13:23)
[GCC 4.6.3]**
Operating System: **Linux-3.12.31-armv6l-with-debian-7.8**
Locale: UTF-8
Branch: **develop**
Commit: SiCKRAGETV/SickRage@d31e2fe246c29c376e2f4799dbd1f1962c54d2b5
Link to Log: https://gist.github.com/c6303b480abb421dd0e1
_STAFF NOTIFIED_: @SiCKRAGETV/owners @SiCKRAGETV/moderators

[2015-03-12 22:21] #947 closed

[2015-03-12 22:25] fernandog opened #948 "[APP SUBMITTED]: EDIT THIS BEFORE SAVE"
### INFO
Python Version: **2.7.3 (default, Mar 18 2014, 05:13:23)
[GCC 4.6.3]**
Operating System: **Linux-3.12.31-armv6l-with-debian-7.8**
Locale: UTF-8
Branch: **develop**
Commit: SiCKRAGETV/SickRage@d31e2fe246c29c376e2f4799dbd1f1962c54d2b5
Link to Log: https://gist.github.com/2573afeda671ce1df716
_STAFF NOTIFIED_: @SiCKRAGETV/owners @SiCKRAGETV/moderators

[2015-03-12 22:30] fernandog opened #949 "[APP SUBMITTED]: EDIT THIS"
### INFO
Python Version: **2.7.3 (default, Mar 18 2014, 05:13:23)  [GCC 4.6.3]**
Operating System: **Linux-3.12.31-armv6l-with-debian-7.8**
Locale: UTF-8
Branch: **develop**
Commit: SiCKRAGETV/SickRage@d31e2fe246c29c376e2f4799dbd1f1962c54d2b5
Link to Log: https://gist.github.com/866f957cc138f81e73b2
_STAFF NOTIFIED_: @SiCKRAGETV/owners @SiCKRAGETV/moderators

[2015-03-12 22:41] #949 closed

[2015-03-12 23:58] fernandog opened #950 "[USER SUBMITTED]: *** EDIT THIS AND ADD TITLE ***"
### INFO
Python Version: **2.7.3 (default, Mar 18 2014, 05:13:23)  [GCC 4.6.3]**
Operating System: **Linux-3.12.31-armv6l-with-debian-7.8**
Locale: UTF-8
Branch: **develop**
Commit: SiCKRAGETV/SickRage@d31e2fe246c29c376e2f4799dbd1f1962c54d2b5
Link to Log: https://gist.github.com/89587ee20054ba32454f
_STAFF NOTIFIED_: @SiCKRAGETV/owners @SiCKRAGETV/moderators

[2015-03-13 00:07] #950 closed

[2015-03-13 00:08] fernandog opened #951 "[USER SUBMITTED]: *** EDIT THIS AND ADD TITLE ***"
### INFO
Python Version: **2.7.3 (default, Mar 18 2014, 05:13:23)  [GCC 4.6.3]**
Operating System: **Linux-3.12.31-armv6l-with-debian-7.8**
Locale: UTF-8
Branch: **develop**
Commit: SiCKRAGETV/SickRage@d31e2fe246c29c376e2f4799dbd1f1962c54d2b5
Link to Log: https://gist.github.com/21a8ed43c45455ec5409
_STAFF NOTIFIED_: @SiCKRAGETV/owners @SiCKRAGETV/moderators

**PLEASE ANSWER THE QUESTIONS BELOW:**

[2015-03-13 00:13] #948 closed

[2015-03-13 00:32] chrisric commented on #821
@abeloin No, I was still running the below branch last night. The web server didn't fail last night either, I will monitor for a few nights/days to confirm. Hopefully it was a one off failure/issue.

SR Version: BRANCH: (master) / COMMIT: (019a8b363d65db598d85173d457fa40aed6328fc)
Python Version:	2.7.9 (v2.7.9:648dcafa7e5f, Dec 10 2014, 10:10:46) [GCC 4.2.1 (Apple Inc. build 5666) (dot 3)]

I will

[2015-03-13 01:07] Ic3Nine commented on #889
I would let your media server do that job.  SR get the stuff for you and MS serves it up, for lack of a better term...

[2015-03-13 01:07] abeloin commented on #821
@chrisric Don't forget to re-apply https://github.com/SiCKRAGETV/sickrage-issues/issues/821#issuecomment-78428437 if you do upgrade

[2015-03-13 02:02] abeloin commented on #456
@tchirou First, I want to see if it's an issue in sickrage or google calendar:

TVDB provider, from feed directly, sickrage-dev

Empire 2015
* March 11: s01e10
* March 18: s01e11e12

Marvel's Agents of S.H.I.E.L.D.:
* March 10: s02e12
* March 17: s02e13
* March 24: s02e14
* March 31: s02e15
* April 07: s02e16

The Slap (US):
* March 12: s01e05
* March 19: s01e06
* March 26: s01e07

[2015-03-13 02:08] abeloin commented on #456
Same data in master

TVDB provider, from feed directly, sickrage-master

Empire 2015
* March 11: s01e10
* March 18: s01e11e12

Marvel's Agents of S.H.I.E.L.D.:
* March 10: s02e12
* March 17: s02e13
* March 24: s02e14
* March 31: s02e15
* April 07: s02e16

The Slap (US):
* March 12: s01e05
* March 19: s01e06
* March 26: s01e07

[2015-03-13 02:09] abeloin commented on #456
Can you send me dump of the content of your webcal?

[2015-03-13 02:10] #951 closed

[2015-03-13 02:17] abeloin commented on #942
In Search Providers -> Configure Custom Newznab Providers, select your provider and make sure 5030 and 5040 are in Newznab search categories on the right side

[2015-03-13 02:53] copekyle opened #952 "[APP SUBMITTED]: No module named pwd"
### INFO
Python Version: **2.7.9 (default, Dec 10 2014, 12:28:03) [MSC v.1500 64 bit (AMD64)]**
Operating System: **Windows-7-6.1.7601-SP1**
Branch: **develop**
Commit: SiCKRAGETV/SickRage@d15e9e0bb698b02be5202a5b4255b69e02566e59
Link to Log: https://gist.github.com/dd33cf7aea219806d1ec
### ERROR
[code]
---
_STAFF NOTIFIED_: @SiCKRAGETV/owners @SiCKRAGETV/moderators

[2015-03-13 02:53] copekyle opened #953 "[APP SUBMITTED]: No module named pwd"
### INFO
Python Version: **2.7.9 (default, Dec 10 2014, 12:28:03) [MSC v.1500 64 bit (AMD64)]**
Operating System: **Windows-7-6.1.7601-SP1**
Branch: **develop**
Commit: SiCKRAGETV/SickRage@d15e9e0bb698b02be5202a5b4255b69e02566e59
Link to Log: https://gist.github.com/1fccb5cd830d098fc8e7
### ERROR
[code]
---
_STAFF NOTIFIED_: @SiCKRAGETV/owners @SiCKRAGETV/moderators

[2015-03-13 02:55] copekyle commented on #953
I'm sorry guys... I had two errors that were exactly the same and it submitted them in separate tickets... please delete this one

[2015-03-13 02:58] copekyle commented on #952
So this happened on both master and developer branch.  This popped up on the master branch 1-2 days ago.  I switch to the developer branch and got the same.  I'm using utorrent and it just gives me an authentication error.  I've check the utorrent gui from the web outside of sickrage and it is working.  It was working perfectly until about 24 hours ago.

[2015-03-13 03:09] skywayskase opened #954 "[APP SUBMITTED]: [Errno socket error] [Errno 10060] A connection attempt failed because the connected party did not properly respond after a period of time, or established connection failed because connected host has failed to respond"
### INFO
Python Version: **2.7.3 (default, Apr 10 2012, 23:24:47) [MSC v.1500 64 bit (AMD64)]**
Operating System: **Windows-7-6.1.7601-SP1**
Branch: **master**
Commit: SiCKRAGETV/SickRage@3b399f16126c2566028312ecedcbb0a0d47d3dfa
### ERROR
[code]
---
_STAFF NOTIFIED_: @SiCKRAGETV/owners @SiCKRAGETV/moderators

[2015-03-13 03:23] #953 closed

[2015-03-13 03:41] abeloin commented on #954
It's unable to connect to your plex media server

[2015-03-13 03:41] #954 closed

[2015-03-13 04:00] abeloin commented on #937
@Dennisreneholm Can you try on a brand new sickrage install(don't point it to any of your existing shows library):
* `chcp 65001`
* `C:\Python27\python D:\SickRage\SickBeard.py --nolaunch`
* Add `Bubber & BS På Afveje`

[2015-03-13 05:27] chrisric commented on #821
@abeloin All good, added logging back in.

Now running:
SR Version: BRANCH: (master) / COMMIT: (3b399f16126c2566028312ecedcbb0a0d47d3dfa)
Python Version: 2.7.9 (v2.7.9:648dcafa7e5f, Dec 10 2014, 10:10:46) [GCC 4.2.1 (Apple Inc. build 5666) (dot 3)]

FYI, "-d" still works on the above version. Maybe I misunderstood but I thought it would be disabled.

I'm running SR with "-q" though as suggested.

[2015-03-13 05:30] freddysmith1 commented on #907
need help again,   without changing anything  i noticed i get this error now,
![no branch](https://cloud.githubusercontent.com/assets/8336824/6633529/fffa9d64-c999-11e4-9d59-29d86ad8a34e.png)

[2015-03-13 05:36] Symbiot78 commented on #942
Hi Abeloin..
It's a torrent provider, and it's not a custom torrent provider. It's just a normal provider added by Sickbeard team.

what is 5030 & 5040  ?

[2015-03-13 07:49] tchirou commented on #456
Dev : https://www.dropbox.com/s/cq1288s9hyl3opn/dev.txt?dl=0
Master : https://www.dropbox.com/s/ma9em6bo7mq4gpu/master.txt?dl=0
Compared them with a dedicated software : exact match

[2015-03-13 08:18] TagForce commented on #946
@grrr2 I noticed the same thing for some releases... I'll see if I can add a check when looking for the best result and simply remove any match on anime regexes when the show it parsed is not anime, so it will simply return the first non-anime regex result that comes out as best.

[2015-03-13 08:20] dirkr07 opened #955 "[APP SUBMITTED]: 'NoneType' object has no attribute '__getitem__'"
### INFO
Python Version: **2.7.8 (default, Dec 12 2014, 22:18:04)
[GCC 4.3.2]**
Operating System: **Linux-2.6.32.12-ppc-with-glibc2.0**
Branch: **master**
Commit: SiCKRAGETV/SickRage@3b399f16126c2566028312ecedcbb0a0d47d3dfa
Link to Log: https://gist.github.com/ca8e2f2713c649721cf4
### ERROR
[code]
---
_STAFF NOTIFIED_: @SiCKRAGETV/owners @SiCKRAGETV/moderators

[2015-03-13 08:21] dirkr07 commented on #955
Let me elaborate on thisone as the previous submit was closed due to a faulty torrent and I was asked to manually download it.

[2015-03-13 08:40] dirkr07 commented on #955
FYI: I also did a re-scan of the show (hoping it will find the proper and quit throwing the error) but no proper found..

[2015-03-13 10:15] fernandog commented on #907
SR couldnt connect to github or you have changed something in the code and now SR does not recognize it anymore.

[2015-03-13 10:20] fernandog commented on #952
That is strange because that change was only in develop.
Are you switching branches using command line? If so you can get errors.

[2015-03-13 11:44] TagForce commented on #955
@dirkr07 I don't have downloadstation so I won't be of much help... Is this happening for all the downloads, or just this one?

[2015-03-13 11:45] dirkr07 commented on #955
Seems to happen only with the propers. Fortunatly I don't need much propers so right now it's only on this one :)

[2015-03-13 11:45] TagForce commented on #589
Improve PP handling is done, but needs more testing (it's currently on my production rig)

[2015-03-13 11:57] fernandog commented on #955
@dirkr07 use log search feature to search for: "Exception raised when sending torrent" - make sure level is set to DEBUG

post the result lines here

[2015-03-13 12:02] fernandog commented on #952
@copekyle

you don't need to stop SR to do this:
change SickRagegui/slick/interfaces/default/config.tmpl, line 46
from : ImportError
to: importerror
save
fully load page again

https://github.com/SiCKRAGETV/SickRage/blob/develop/gui/slick/interfaces/default/config.tmpl#L46

[2015-03-13 12:03] fernandog commented on #941
@guyleonard can you explain what you were doing or what you did?

[2015-03-13 12:06] fernandog commented on #853
@CoRpO any news updating rarbg to use API ? thanks!

[2015-03-13 12:18] dirkr07 commented on #955
I grabbed a part of it, seems to be the same each time.

[code]

[2015-03-13 12:26] fernandog commented on #955
@dirkr07

Stop SR, edit file:
/SickRage/sickbeard/clients/generic.py, line 151

change from (mind identation)
[code]
to
[code]

start,
try again
https://github.com/SiCKRAGETV/SickRage/blob/develop/sickbeard/clients/generic.py#L151

[2015-03-13 12:29] fernandog commented on #952
@abeloin

why the exception is not being raised?

[code]
[code]

[2015-03-13 12:33] fernandog commented on #952
@abeloin

SickRage/cache/cheetah/_home_pi_SickRage_gui_slick_interfaces_default_config_tmpl.py

the "import" is in the begining of the file. Not here!
[code]

[2015-03-13 13:10] fernandog commented on #892
@roger83 please reply!

[2015-03-13 13:10] #911 closed

[2015-03-13 13:11] #919 closed

[2015-03-13 13:11] fernandog commented on #743
@Greg0rz any news on this?

[2015-03-13 13:12] fernandog commented on #920
@WebStizzle can you update to develop and report if the fix is working?

[2015-03-13 13:17] fernandog opened #956 "Feature Request - Show message to stash changes or enable GIT reset in settings"
Avoid all this errors:
[code]

[2015-03-13 13:37] CoRpO commented on #853
@fernandog i'll have a look at it this weekend, needs a full rewrite

[2015-03-13 13:41] TagForce commented on #956
git stash requires a global username to be set. So if you're going to git stash, also make sure that git global config user.name has been set.

[2015-03-13 13:58] Greg0rz commented on #743
Have not had any lock issues yet. I will try to add some more content today
and see if I run into any problems.
On Mar 13, 2015 9:11 AM, "Fernando" <notifications@github.com> wrote:

[2015-03-13 14:05] abeloin commented on #821
@chrisric The flag is disabled internally in Sickrage program

[2015-03-13 14:08] abeloin commented on #456
Ok so a can stop looking for an issue inserted in develop. Will look at the log.

[2015-03-13 14:12] TheBigC53 opened #957 "Error on Sickrage startup"
I have no idea where to start with this:

[code]

[2015-03-13 14:22] abeloin commented on #952
@fernandog Cheetah is installed by the user.
@copekyle What is your cheetah version?

[2015-03-13 14:23] abeloin commented on #952
Confirm not working on cheetah 2.4.4

[2015-03-13 14:30] fernandog commented on #952
@abeloin is there something we can do?

[2015-03-13 14:31] copekyle commented on #952
I am using cheetah 2.4.4 which I think is the newest version...

[2015-03-13 14:32] tchirou commented on #456
News flash : I deactivated the sickrage calendar through google on my iphone this morning. This afternoon, Google calendar on web refreshed with all the missing shows. I don't know if this is related.
I also import the webcal directly in the ios calendar from SR through safari and it is fine. Same with oulook.
I just reactivated the SR calendar through google on my iphone to check if the shows wil

[2015-03-13 14:32] copekyle commented on #952
I'm on a windows machine and only use python/cheetah for SickRage.  Is there a version I can install that is working?

[2015-03-13 14:34] fernandog commented on #821
@abeloin @chrisric only in develop is disabled. he is using master.

[2015-03-13 14:35] fernandog commented on #743
@Greg0rz  please confirm its fixed so we can merge into master!

[2015-03-13 15:18] gborri commented on #160
@echel0n @fernandog @xbullet the main idea that has come up to me is to make SR run on OpenShift that is a cloud PAAS and it's free having SR istance on openshift run 24/24h 7/7d and a SR istance on your local mediacenter/nas/PC wakeup only when needed (watching episode, downloading episode, etc)

[2015-03-13 15:38] abeloin commented on #952
http://pythonhosted.org/Cheetah/cheps/2_import.html

[2015-03-13 15:39] fernandog commented on #456
@tchirou

https://twitter.com/trakt/status/576406262088220673

[2015-03-13 15:50] abeloin commented on #952
From cheetah changes:
[code]

[2015-03-13 15:51] abeloin commented on #952
PR merged
@copekyle Can you update and test?

[2015-03-13 15:52] abeloin commented on #952
@fernandog FYI

[2015-03-13 15:54] tchirou commented on #456
Interesting
Thanks

[2015-03-13 16:00] fernandog commented on #952
Thanks

[2015-03-13 16:06] abeloin commented on #456
So it's Google related

[2015-03-13 16:07] fernandog commented on #957
https://sickrage.tv/forums/forum/help-support/general-support/14420-sickrage-installation-guides-windows-mac-osx-linux-raspberry-pi

[2015-03-13 16:07] fernandog commented on #956
https://github.com/SiCKRAGETV/SickRage/pull/1550

[2015-03-13 16:09] fernandog commented on #955
@abeloin seems the result.content has changed insn't? maybe we can add try:except for both 'info' and 'info_hash'

[2015-03-13 16:17] crazyasyou commented on #927
sorry for the delay getting back to you, the above look good, it's really just a case of having <?xml version="1.0" encoding="utf-8"?> at the top of episodefilename.xml.

What is really bizzare is that series.xml is perfectly happy without it (something random in the mede8er code I guess)

[2015-03-13 16:33] roger83 commented on #892
I updated on 3/9 and everything worked well since then! Also updated yesterday, and things still work as well.

[2015-03-13 16:36] #892 closed

[2015-03-13 16:41] copekyle commented on #952
@abeloin @fernandog
That fixed the bug for me.  Thanks for the quick support guys!

[2015-03-13 16:45] fernandog commented on #952
@copekyle the user in /config page is correct?

[2015-03-13 16:52] copekyle commented on #952
if you're asking about /config/ in the webgui.  Yes, that is accessible and correct.  I was having issues accessing it before the lastest commit.

[2015-03-13 17:00] #952 closed

[2015-03-13 17:26] fernandog commented on #940
https://github.com/PyGithub/PyGithub/issues/219

[2015-03-13 17:34] TagForce commented on #927
Ok, i'll add it for both. They don't seem to mind with it. My colleague's mede8er works fine without in either file and with it in both files.

[2015-03-13 17:35] tchirou commented on #456
I discovered I had created a trakt profile 1 year ago. I had added manually 24 shows.
I went into SR > notification > trakt yesterday and filled the info.
But so far it just added to the trakt collection the last 3 shows that I added in SR (which has 92 shows - 79 active).
Is the trakt API working for you ?

[2015-03-13 17:39] fernandog commented on #456
don't used that feature. SR library (only watching) <> Trakt library (all)
@gborri do you know how this sync works?

[2015-03-13 17:56] abeloin commented on #927
@TagForce PR Merged

[2015-03-13 17:57] abeloin commented on #589
Anyone else have issue accesing this PR https://github.com/SiCKRAGETV/SickRage/pull/1546 ? I get a 404

[2015-03-13 18:09] fernandog commented on #589
I have. that's strange cause I replied to that issue yesterday

[2015-03-13 19:24] Symbiot78 commented on #942
I have since tried reinstalling sickbeard and can confirm that the issue persists.

[2015-03-13 21:50] dirkr07 commented on #955
Well it's no longer throwing the error every time it searches for propers.
The show itself still does not recognize my already download file as a proper though..

A manual search does see the file but of course doesn't download the file as it already exists.
I'll have to see what happens next time a proper comes around.

[2015-03-13 22:18] scythe000 commented on #793
It's back:

[2015-03-13 22:19] scythe000 commented on #793
Processing folder E:\TV Series\Downloaded TV Series
TV_DOWNLOAD_DIR: E:\TV Series\Downloaded TV Series
PostProcessing Path: E:\TV Series\Downloaded TV Series
PostProcessing Dirs: [u'Toren C Seizoen 1', u'Vikings.S03E04.720p.HDTV.x264-KILLERS[rarbg]']
PostProcessing Files: []
PostProcessing VideoFiles: []
PostProcessing RarContent: []
PostProcessing VideoInRar: []
Processing folder Toren C Seizoen

[2015-03-13 22:19] scythe000 commented on #793
of the last 6 downloads, only this one is having problems for some reason.

[2015-03-13 22:25] nucce1 opened #958 "Manually fetching from T******D** not working."
Branch:
master
Commit hash:
3b399f16126c2566028312ecedcbb0a0d47d3dfa
Your operating system:
Windows 2012 Server Standard
Python version:
Python2.7
What you did:
Trying to manually search for a "old" release, I have disabled backlog search by purpose for NZB just to force SickRage to use  T******D** instead.
What happened:
When I'm doing like this it never finds anything, no matter what series I tr

[2015-03-13 22:32] nucce1 commented on #958
I notice this may be the almost the same problem as for another provider(except login errors) and a open issue: https://github.com/SiCKRAGETV/sickrage-issues/issues/942

[2015-03-13 22:33] fernandog commented on #955
Try another episode. It not proper. The problem is the provider code

[2015-03-13 23:02] abeloin commented on #942
Sorry, I didn't see in the list so I assume it was a newznab provider. NextGen

Maybe the web site changed? Can you provide a full html copy of that search url via dropbox or any other file locker?

[2015-03-13 23:59] fernandog commented on #958
@nucce1 check your quality settings

2015-03-13 22:59:11 DEBUG    SEARCHQUEUE-RETRY-273181 :: [T******D**] :: **Ignoring result** Better.Call.Saul.S01E06.720p.HDTV.X264-DIMENSION because **we don't want an episode that is HD TV&&

[2015-03-14 00:15] 11182711114 opened #959 "[APP SUBMITTED]: 'utf8' codec can't decode byte 0xe1 in position 20: invalid continuation byte"
### INFO
Python Version: **2.7.8 (default, Dec 15 2014, 02:33:48)
[GCC 4.2.1 20070831 patched [FreeBSD]]**
Operating System: **FreeBSD-9.3-RELEASE-p5-amd64-64bit-ELF**
Branch: **master**
Commit: SiCKRAGETV/SickRage@3b399f16126c2566028312ecedcbb0a0d47d3dfa
Link to Log: https://gist.github.com/2f371fc02a00c7bb581c
### ERROR
[code]
---
_STAFF NOTIFIED_: @SiCKRAGETV/owners @SiCKRAGETV/moderators

[2015-03-14 02:04] abeloin commented on #955
@dirkr07 Can you switch to develop and apply this commit to sickrage:
https://github.com/abeloin/SickRage/commit/59e10ab86ea685a3b2a4ea49fd753369fbcabf8c

[2015-03-14 02:16] abeloin commented on #959
What is the complete dir for Spartacus.War.Of.The.Damned.S03E05.1080p.BluRay.x264-ROVERS.1

[2015-03-14 02:17] chrisric commented on #821
@fernandog Of course, I totally spaced the dev branch.

@abeloin Web server survived again last night, should I disable logging and see if it dies? I doubt logging would be stopping it from dying though... Seem strange to have a one off failure is all.

I plan to run SR within "screen" until "daemon" mode is fixed. I know its low/zero priority :)

@TagForce @abeloin @fernandog Thanks for all the s

[2015-03-14 02:40] fernandog commented on #821
@chrisric try to run as you used to AND with that change in the code abeloin asked

[2015-03-14 05:05] Symbiot78 commented on #942
Hi

you can download the log file here it has more than 1 of the urls:

https://www.dropbox.com/s/7xvha6vg3rh35tx/sickrage.log?dl=0

I tried taking one of the URLS it is using to search and paste it into my browser and it does indeed find results.. but according to the log.. it doesn't find anything.
and I am still seeing username/password warnings from nxtgn.org as soon as I activate the nxtgn pl

[2015-03-14 05:22] Symbiot78 commented on #942
Hi

just to add to this issue.. I checked the config.ini file and can confirm that the username/password is indeed correct.

[2015-03-14 06:54] chrisric commented on #821
@fernandog I set showupdater time to 5pm rather than wait over night, started SR with -d and it hung as per usual with -d option..

Web server was unresponsive and produced no logs after process went to 100% CPU.

All logs are below.
https://drive.google.com/file/d/0B8JFLK_cWhrbNWV0YzAwelFFM3c/view?usp=sharing

SR Version: BRANCH: (master) / COMMIT: (3b399f16126c2566028312ecedcbb0a0d47d3dfa)
Pytho

[2015-03-14 07:12] dirkr07 commented on #955
Jikes.. the info_hash broke more than it fixed.
Now the regular searches have broken too..

[code]

[2015-03-14 07:32] 11182711114 commented on #959
/mnt/downloads/sabnzbd/complete/.tv/Spartacus.War.Of.The.Damned.S03E05.1080p.BluRay.x264-ROVERS.1

[2015-03-14 08:24] nucce1 commented on #958
Quality is set to HD1080, that's is why it should match the release I did mention in my first comment.

Full log:
http://pastebin.com/QNwXtJ92

[2015-03-14 08:24] adprom opened #960 "Update quality of TV and redownload existing episodes doesn't work"
Add a tv show and set the quality to 720 Web-DL.

Allow an episode to download.

Then change the quality of 'initial' for the tv show to 1080p web-dl. The press the maginifying glass for a particular episode to force a rescan for that episode. Sickrage will tell you that no downloads were found despite there clearly being valid releases in 1080p which could replace the existing 720p download.

Not

[2015-03-14 08:41] adprom opened #961 "TV Shows marked as Low Quality if you change Archive Quality after shows have downloaded"
See below.... If you already have TV shows at a certain quality and you change the archive quality afterwards - all downloaded shows are marked as 'low quality' even though they meet the archive quality. SR seems to just mark everything as low quality without checking the current episode quality of those downloaded.

![image](https://cloud.githubusercontent.com/assets/10583376/6650965/01b8ea3c-ca8

[2015-03-14 08:44] adprom commented on #961
Selecting "archive on first match" fixes the issue

[2015-03-14 08:47] #961 closed

[2015-03-14 08:57] fernandog commented on #955
@dirkr07 replace contents of your file with this:
[Fix](https://raw.githubusercontent.com/abeloin/SickRage/59e10ab86ea685a3b2a4ea49fd753369fbcabf8c/sickbeard/clients/generic.py)

Try to reproduce the error and report back

[2015-03-14 09:24] WebStizzle commented on #920
@fernandog as far as I can tell it is working how it should be now.  It stops processing the rest of the folder once it hits one that wasn't able to be matched/parsed but leaves all the files intact.  Which is perfect because then I know to go fix the incorrect file if there is one.

[2015-03-14 09:45] jesse0032 opened #962 "Manual post processing does not delete the folder."
Anyone that likes to seed what they are transferring will understand why most people that use sickrage for torrents will use manual post processing (because it fails to move the file if its seeding).

Having it leave behind all the folders is very annoying.  Could we add a basic tick box to allow for folder deletion when using manual post processing.

Thanks.

[2015-03-14 10:04] gborri commented on #456
@tchirou if you enable sync watchlist all the show on SR will be inserted on watchlist. If you add to watchlist a show it will add on SR. For the library is different: an episode will be added on library when Post process manage a file that has been downloaded. If you want to put entire library on trakt (and you have fiscally on kodi for example) you need to add to kodi the traktv addon

[2015-03-14 10:31] tchirou commented on #456
Ok
Do i need to activate the library on Kodi for tv and movies right ? It won't scrobble the folders with no scrapper ?
When the first sync is done, Can I deactivate the add on and only rely on SR to update trakt ? I don't use kodi to watch but a wd tv live player.
Thanks for your feedback

[2015-03-14 10:40] Rouzax opened #963 "[APP SUBMITTED]: 'NoneType' object has no attribute '__getitem__'"
### INFO
Python Version: **2.7.8 (default, Jun 30 2014, 16:03:49) [MSC v.1500 32 bit (Intel)]**
Operating System: **Windows-2012Server-6.2.9200**
Branch: **master**
Commit: SiCKRAGETV/SickRage@3b399f16126c2566028312ecedcbb0a0d47d3dfa
Link to Log: https://gist.github.com/1d3fcd8bb7ba52ebc41b
### ERROR
[code]
---
_STAFF NOTIFIED_: @SiCKRAGETV/owners @SiCKRAGETV/moderators

[2015-03-14 10:41] Rouzax commented on #808
I'm having the same issue again with the latest Master Git.
see: https://github.com/SiCKRAGETV/sickrage-issues/issues/963

[2015-03-14 11:07] Rouzax commented on #963
![image](https://cloud.githubusercontent.com/assets/4103090/6651414/6369ebaa-ca41-11e4-931c-bf442f2ea720.png)
Here is the link to the complete logs:
http://cloud.codstats.nl/index.php/s/A6MYJ9XCEaDgyfW

[2015-03-14 11:09] Rouzax commented on #960
That is the same issue as this :smile:
https://github.com/SiCKRAGETV/sickrage-issues/issues/747

[2015-03-14 11:16] Rouzax commented on #963
Sorry just saw there was already a new issue open: https://github.com/SiCKRAGETV/sickrage-issues/issues/955

[2015-03-14 11:26] adprom commented on #747
If you manually press the search button for an episode, it should always redownload regardless of what is in the database. This is a bug. I don't get why it works fine in sickbeard, but not in sickrage.

[2015-03-14 11:29] dirkr07 commented on #955
@Rouzax Feel free to try out the fix, I don't have access to my system atm so could be a little while before I can test.

[2015-03-14 11:43] Rouzax commented on #955
I don't know how to recreate the error. :confounded:

[2015-03-14 12:23] fernandog commented on #963
Try that fix please

[2015-03-14 12:28] #920 closed

[2015-03-14 12:30] fernandog commented on #962
If you seed why dont you symlink instead of move?

[2015-03-14 12:32] abeloin opened #964 "Deluge: commit 646a3092813aa2bd22bbe908951a81a5b9ec7ebe broke sending torrent"
[code]

While testing for release to master tomorrow, every time Sickrage tries to send a a torrent to deluge it fails.

[code]
 System logs:
[code]

Reverting commit : https://github.com/SiCKRAGETV/SickRage/commit/646a3092813aa2bd22bbe908951a81a5b9ec7ebe restore the functionality.

[2015-03-14 12:33] abeloin commented on #964
Reference:
http://deluge.readthedocs.org/en/develop/core/rpc.html#deluge.__rpcapi.RpcApi.core.add_torrent_file

[2015-03-14 12:35] fernandog commented on #747
@adprom
Why would you redownload same episode?
Previous download were fake? Torrent Stalled? NZB missing articles? its bad and need proper?

[2015-03-14 12:37] adprom commented on #747
Could be a number of reasons. May have changed the desired quality and want a higher quality for a previous episode. Could be any of the reasons you listed as well.

The point is, it works fine in sickbeard so I don't get why it doesn't work in the sickrage fork.

[2015-03-14 12:45] fernandog commented on #747
First, SickRage it is NOT Sickbeard. Don't compare. If you do, compare everything and you will see SR is much better.

as there is multi reasons, SR is changing how manual search will work.

When manual searching it will ask user what to do:
-Redownload same quality (if failed is enabled it will look for another with same quality. Otherwise download any one)
- Search only by Propers or high qualit

[2015-03-14 12:46] adprom commented on #747
Seriously... its a fork. You simply can't ignore that it shares the same origins and source. This is the sort of stuff that annoys me about the open source community.

[2015-03-14 12:58] fernandog commented on #747
Dont you think that improves manual search? You are only seeing your side. Not how others users uses this.

[2015-03-14 12:59] abeloin commented on #955
@dirkr07 Btw it's not a fix it's a patch that provide more detailed info when it fail.
@Rouzax Apply the patch so when it does you will get more detailed data

[2015-03-14 13:00] adprom commented on #747
How does not searching for an episode and accepting a snatch, improve the usage for other users?

If someone presses the manual search button, they are indicating they want to snatch a release - regardless of what is there already. If they do NOT want to snatch - then they wouldn't press the button.

[2015-03-14 13:01] fernandog commented on #955
And if you apply, disable auto updates.

[2015-03-14 13:02] adprom commented on #747
Either way - giving the user a choice where there is an existing release already would be ideal for all uses anyway and a significant improvement.

The ultimate, would also be having the ability to manually select a release (couchpotato style).

[2015-03-14 13:10] fernandog commented on #747
if there is no previous download/snatch why would you press manual search? Why dont yiu let to daily search and backlog search does it job??

[2015-03-14 13:13] adprom commented on #747
Because you might want to speed things up to get them more instantly - I use that feature all the time - and I can't see any reason why you wouldn't want that ability. Sometimes people don't want to wait. Especially when they have just made changes to the configuration for a particular show.

If there is a previous snatch, then there could be any number of reasons why they might want to re-snatch

[2015-03-14 13:18] fernandog commented on #747
Speed up when you change search quality? If so, there is a previous download/snatch and we should do the asking
if no snatch/download, manual search works by searching. Isnt working this way today?

[2015-03-14 13:19] gborri commented on #456
I'm not sure about ,the scrobbling but for sure you can activate it and
then deactivate and let SR update it on Download. The value to use the
plugin is that it mark also episode as watched.

Giovanni
Il 14/mar/2015 11:31 "tchirou" <notifications@github.com> ha scritto:

[2015-03-14 13:20] adprom commented on #747
That's just one situation... I have had a number of times when there has been a previously downloaded release, and no release where I simply want to press the manual search for a particular episode so that it finds and downloads it instantly. That is the purpose of the manual search button.

[2015-03-14 13:20] #964 closed

[2015-03-14 13:23] fernandog commented on #964
Didnt need to revert that?

[2015-03-14 13:26] fernandog commented on #747
Do you have failed downloads enabled?

[2015-03-14 13:47] abeloin commented on #852
@StSaens Can you try this PR https://github.com/SiCKRAGETV/SickRage/pull/1558?

[2015-03-14 13:51] abeloin commented on #589
It's now back https://github.com/SiCKRAGETV/SickRage/pull/1546 !!?!

[2015-03-14 13:54] fernandog commented on #589
Strange

[2015-03-14 14:03] adprom commented on #747
No because it doesn't differentiate between failed due to propagation and failed due to not enough articles genuinely - it could blacklist a release that has only failed due to a propagation issue. Or where the nzb file is later fixed and reuploaded.

Even if I did have it enabled though, I'd still want manual searching to work.

[2015-03-14 14:11] abeloin commented on #942
There's no warning in the log provided.

What is the title tag value in the HTML after logging? Currently it's looking for: `<title>NextGen - Login</title>` to know if you are logged.

Also we don't have access to this site this is why I asked for a dump of an html page with results once logged as this plugin scrap data from the web pages directly.

[2015-03-14 14:11] fernandog commented on #747
@tagforce does it blacklist the release or that filename? If its reuploaded will blacklist that too? In the same provider it cant have same filename isnt?

[2015-03-14 14:13] adprom commented on #747
It blacklists the release.

If it is a rpopogation issue - then it is simply a matter of waiting 20 minutes or so and downloading the exact same release again.

I don't get how this is relevant though. The behaviour that if someone presses manual search, it should simply do what it is asked as if it searching for the first time (unless if a release is marked as bad) is pretty straightforward.

[2015-03-14 14:18] fernandog commented on #747
If we can change how blacklist works NZB we can fix the propagation issue and others uses can enabled failed for NZB.

I already moved on to another subject. It's not related. manual search will works as I said here:
https://github.com/SiCKRAGETV/sickrage-issues/issues/747#issuecomment-80424486

[2015-03-14 14:21] adprom commented on #747
Thanks.

The problem with failures due to propagation delays are really hard to differentiate from just a normal failed download.

Maybe one option is to identify if the snatch is recently uploaded (i.e. less than 30 minutes) if it fails, to put a delay on it so it tries again later.

If it fails a second time or more than 1 hour after the initial nzb upload - then to mark it as a failed release.

[2015-03-14 14:21] fernandog commented on #747
@Rouzax @adprom this PR https://github.com/SiCKRAGETV/SickRage/pull/1547 fixes when you already have a downloaded/snatched and change quality. But you need to set as WANTED to re-download. You'll have to wait before we change the manual search behaviour

[2015-03-14 14:22] fernandog commented on #747
@adprom check failed here: http://localhost:xxxx/manage/failedDownloads/ - only if you have failed enabled

[2015-03-14 14:42] Symbiot78 commented on #942
Hi
If you can tell me how to create the dump you want I'll be happy to do it.I don't think the plugin ever gets access to the site.

Sent from Outlook

On Sat, Mar 14, 2015 at 7:11 AM -0700, "Alexandre Beloin" <notifications@github.com> wrote:
There's no warning in the log provided.

What is the title tag value in the HTML after logging? Currently it's looking for: `<title>NextGen - Login</title>`

[2015-03-14 15:25] abeloin commented on #958
@nucce1 backlog search is enable?

In UK? You will need to update the urls: https://github.com/SiCKRAGETV/SickRage/pull/1519/files

[2015-03-14 15:29] abeloin commented on #942
Login in the site with any broswer, go to: https://nxtgn.org/browse.php and press CTRL+S and save it. Send the resulting page

[2015-03-14 15:39] abeloin commented on #964
I should have said blame commit is ... instead of reverting commit as I meant to show the commit introducing the issue. PR 1557 restore the dict even if it is empty as it is required by deluge's api

[2015-03-14 15:55] StSaens commented on #852
It's in develop right? Last time I ran that it ruined my master and had to reinstall that. Maybe someone with a testbox can test it?

[2015-03-14 16:27] nucce1 commented on #958
@abeloin Yes, Backlog is enabled on this provider.

I don't live in UK and can perfectly fine reach the host.

Regards

[2015-03-14 16:28] Symbiot78 commented on #942
that' swhat i thought.. just wanted to make sure.

here's a dropbox link

https://www.dropbox.com/s/7cw0szj4zn266by/nxtgn.rar?dl=0

it contains the html etc. of a search for an episode I have on my wanted in SB but which isn't giving me any results :-)

[2015-03-14 16:36] abeloin commented on #852
Both file are the same in master and develop.

* Stop sickrage
* Rename `sickbeard/providers/iptorrents.py` to `sickbeard/providers/iptorrents.py.ori`
* Create a new file `sickbeard/providers/iptorrents.py` with this content: https://raw.githubusercontent.com/abeloin/SickRage/patch-ipt_season_search/sickbeard/providers/iptorrents.py
* Start sickrage
* Test IPT

In case of error:
* Stop sickrage
*

[2015-03-14 16:41] abeloin commented on #958
Enabled any proxies in the options?

[2015-03-14 16:46] abeloin commented on #958
Can you add after https://github.com/SiCKRAGETV/SickRage/blob/master/sickbeard/providers/torrentday.py#L202 `logger.log(u"No result returned for " + search_string, logger.WARNING)`

Which should look like this:
[code]
Don't forget to stop sickrage first, edit, then start sickrage and try again.

[2015-03-14 17:15] guyleonard commented on #941
Ooops, yes!

Clicking on the show name under the show list causes this error and returns you to the show list rather than the episode list, if there are any episode names where there is a letter with an accent e.g. 'Coup de Grâce' is the title of that episode, same occurs for other diacritics... Renaming the episode with an 'a' instead of an 'â' seems to get round the problem, but the episode was

[2015-03-14 17:21] MrsAngelD opened #965 "[Feature Request] Search by episode name only"
This specifically refers to things like National Geographic documentary's which are not released with either an air by date or episode number, but instead by episode name. Would it be possible to get the option to search by episode name in scene exception?

Thanks,
Angel

[2015-03-14 17:23] abeloin commented on #942
The html look ok in sickrage.

Can you show me these warning?

[2015-03-14 17:35] nucce1 commented on #958
Stopped, edited and added what you suggested and now I can't start.
  File "c:\SickRage\sickbeard\providers\torrentday.py", line 204
    continue
           ^
IndentationError: unindent does not match any outer indentation level

Row 198-209:
---
                if self.freeleech:
                    post_data.update({'free': 'on'})

                parsedJSON = self.getURL(self.urls['search'], po

[2015-03-14 17:38] abeloin commented on #958
Use space not tab before logger.log

[2015-03-14 17:41] abeloin commented on #941
Can you give us the result of running this in a command line:
`chcp`

[2015-03-14 17:43] guyleonard commented on #941
Active code page: 850

[2015-03-14 17:44] nucce1 commented on #958
Okay, thanks, I done it, here is the log file from a new attempt.

http://pastebin.com/sG3S6UxV

Regards

[2015-03-14 17:51] abeloin commented on #958
Ok there's data. Can you add after https://github.com/SiCKRAGETV/SickRage/blob/master/sickbeard/providers/torrentday.py#L205 `logger.log(u"Json dump " + str(parsedJSON), logger.WARNING)`

Which should look like this:
[code]
Don't forget to stop sickrage first, edit, then start sickrage and try again.

[2015-03-14 18:03] abeloin commented on #941
ok, in the same command line where you start sickrage, can you try `chcp 65001`.

It would look like this
[code]

[2015-03-14 18:56] nucce1 commented on #958
Ok, alot of more data in the logfile.
Found here:
http://pastebin.com/t9hzXauk

[2015-03-14 19:16] abeloin commented on #958
@nucce1 Stupid question but I have to ask, what are the values in:
* Minimum seeders
* Minimum leechers

[2015-03-14 19:29] nucce1 commented on #958
@abeloin: I'm so sorry for occupied your time, i'm official an retard. I had both these set to 20, I never thought it should be able to go below that, sorry, i'm to used to open trackers. *sigh*

It's working as intended now after I did set leechers to zero.

You can close this thread. Thank you.

Full Regards/nucce