[2015-02-09 16:45] fernandog commented on #572
@moust4ki Config>Search Settings>Torren Search

check your settings and click "Test connection". Post the result here.

[2015-02-09 16:45] fernandog commented on #569
send the link of a torrent that has this issue

[2015-02-09 16:47] fernandog commented on #521
@TagForce any more thoughts?

[2015-02-09 16:53] fernandog commented on #331
@Abeloin is there a way to fix this?

[2015-02-09 17:14] colinramsay commented on #302
This still seems to happen for me, on both master and develop branches.

[2015-02-09 17:22] fernandog commented on #302
FULL logs

[2015-02-09 17:28] abeloin commented on #331
We just have to rename our cookie name from user to something like sickrage.

[2015-02-09 17:29] colinramsay commented on #302
As per other comments, there's nothing in the SickRage logs that sheds any light on what is going on.

[2015-02-09 17:38] moust4ki commented on #572
http://cl.ly/image/0F2N0I1h2x20

I keep getting errors:

[2015-02-09 17:41] wurzel89 opened #573 "Wrong searchstring"
Hi,

I was setting up Sickrage for the first time and I cant find the mistake I did.
https://oldpiratebay.org/search.php?q=The.Simpsons%20S26E13%7C26x13%20&Torrent_sort=seeders.desc
It is searching Season and Ep twice. Also how do I manually add Piratebay since it is on again?

Greetings

[2015-02-09 17:44] abeloin commented on #331
@fernandog Reopen?

@hackedbellini Can you try this commit https://github.com/abeloin/SickRage/commit/d0152e898cd049d3a37863efec1db8a3c1e763c4 it should fix your issue?

[2015-02-09 17:49] fernandog commented on #572
Full logs please. Get log file at /SickRage/Logs

[2015-02-09 17:52] fernandog commented on #331
@abeloin fixed! Thanks!

[2015-02-09 17:52] fernandog commented on #214
https://github.com/abeloin/SickRage/commit/d0152e898cd049d3a37863efec1db8a3c1e763c4

[2015-02-09 17:54] abeloin commented on #302
@colinramsay If you select TVDB does it work? If not, are using unraid?

[2015-02-09 17:59] abeloin commented on #331
@fernandog Couchpotato should do the same

[2015-02-09 18:01] timrettop commented on #331
@abeloin Confirmed fix resolves this issue for me as well!

Thanks!

[2015-02-09 18:03] abeloin commented on #331
@timrettop Thank you for testing and the feedback.

[2015-02-09 18:04] colinramsay commented on #302
This is on a Raspberry Pi 2 with OSMC. I'm currently on the develop branch and it still doesn't work with just TVDB.

[2015-02-09 18:04] moust4ki commented on #572
Here is a full log:
http://pastebin.com/CUCrX8Xk

[2015-02-09 18:08] abeloin commented on #302
Can you try this url(replace the localhost with your sickrage url:
[code]

[2015-02-09 18:13] abeloin commented on #572
Relevent bit from the log:
[code]

[2015-02-09 18:16] colinramsay commented on #302
Right, that's interesting. If I request that, it just spins for eternity. Looking at the Ajax request that normally issues this from the UI, it fails after 20 seconds - which I assume is the jQuery timeout length - and then causes the error message to be shown. The server-side action just continues (seemingly) forever.

[2015-02-09 18:20] abeloin commented on #302
Can you try this pull requests: https://github.com/SiCKRAGETV/SickRage/pull/1287 it should resolve your issue.

Ref: Look like same issue as SiCKRAGETV/sickrage-issues#563

[2015-02-09 18:25] abeloin commented on #572
File download fine from t411.me.

Can you switch to develop branch there was a fix merged recently?

[2015-02-09 18:25] TagForce commented on #521
@fernandog Not at the moment. To me it looks like there's something fishy with setting the episode status to snatched. I see this behavior where episodes set to snatched show up as 'good' on the Display Show page and do not show on the snatched select button.

This could cause all of the above issues methinks. But I havo no time to look into this today... Hopefully tomorrow.

[2015-02-09 18:28] colinramsay commented on #302
I now get the following in my log:

[code]

[2015-02-09 18:32] abeloin commented on #302
Do you get any result from the url?
Like:
[code]

[2015-02-09 18:34] abeloin commented on #302
Forgot to ask, in front of 'LockFailed: Function not implemented' what's the type of log(INFO, DEBUG, ERROR) and does it have a traceback?

[2015-02-09 18:37] colinramsay commented on #302
I actually do now, but it's just:

    {"results": [], "langid": 7}

Since the code is now throwing an exception which is caught and swallowed silently:

https://github.com/SiCKRAGETV/SickRage/blob/master/sickbeard/webserve.py#L2049

Here's more of the log:

http://pastebin.com/a1LUYgaG

[2015-02-09 18:41] abeloin commented on #302
Try searching in add show

[2015-02-09 18:44] colinramsay commented on #302
Still doesn't work.

[2015-02-09 18:45] abeloin commented on #302
Can you try using just tvdb

[2015-02-09 18:48] colinramsay commented on #302
Nothing:

http://pastebin.com/5tk1yVTv

[2015-02-09 18:48] moust4ki commented on #572
Ok so this solved the issue with Transmission! Thanks
Questions on the side:
Oldpiratebay does not seems to have a lot of files as for example i can't seems to find any of my wanted items which included very old stuff like Breaking Bad and Entourage. Do you plan on using the "new" piratebay anytime soon?
As Kickass.to is planned to be changed, how long should it take to be reflected on dev branch?

[2015-02-09 18:56] Thraxis commented on #569
Verified status isn't working for Kickass at the moment, there is a fix waiting to be applied for that

https://github.com/SiCKRAGETV/SickRage/pull/1278

[2015-02-09 19:11] abeloin commented on #302
Can you try add this commit: https://github.com/abeloin/SickRage/commit/71d5f940c559d56907824051b561ee09a0dd48a8?

[2015-02-09 19:15] fernandog commented on #572
@moust4ki there's a commit to split oldpiratebay and piratebay. waiting to be merged

[2015-02-09 19:15] #572 closed

[2015-02-09 19:15] abeloin commented on #572
The answer to both question is those 2 pull requests:
https://github.com/SiCKRAGETV/SickRage/pull/1270
https://github.com/SiCKRAGETV/SickRage/pull/1288

As to when they will be merge into develop, that's the question. ;)

[2015-02-09 19:17] moust4ki commented on #572
I get it but i'm pretty new to software dev. Does it take long before changes like this are merged? Like Months? Weeks? Days?

Thanks again for all your help, it was amazingly fast :+1:

[2015-02-09 19:23] abeloin commented on #572
Have a look a the commit log for the dev branch: https://github.com/SiCKRAGETV/SickRage/commits/develop
Right now it's around a merge every15 days.

[2015-02-09 19:24] moust4ki commented on #572
Thanks @abeloin !

[2015-02-09 19:41] colinramsay commented on #302
That's got it :smiley:

[2015-02-09 20:02] abeloin commented on #302
Sorry, I'm not sure to understand. I would be tempted to read it as "That's it" but it's the "got" that leave me perplex.

[2015-02-09 20:02] colinramsay commented on #302
Sorry. That fixed it!

[2015-02-09 20:04] abeloin commented on #302
Good. I'm not sure when the PR will be merge into the develop branch but you'll be notified via this thread when it will.

[2015-02-09 20:07] colinramsay commented on #302
Cool, thanks for your help.

[2015-02-09 20:25] abeloin commented on #545
@kristofferbas Have you had time to test the commits?

[2015-02-09 20:31] fernandog commented on #545
@kristofferbas will close this tomorrow if we don't get reply.

[2015-02-09 21:28] randellhodges opened #574 "Feature Request: Home Page - Show List Filtering"
I have a lot of TV shows and the home page, even in simple layout can be a big overwhelming. It would be nice, if we could add some filtered views and set one as a default. For example, I am mainly interested in shows that I am missing an episode. I typically just sort by "Downloads" which puts those I'm interested at the top, but I still have to "process it" in my head, so to speak.

[2015-02-09 21:37] fernandog commented on #574
try:
http://localhost:80xx/manage/backlogOverview/

[2015-02-09 22:12] abeloin commented on #443
@gctrullinger A [fix was merged in develop](https://github.com/SiCKRAGETV/SickRage/pull/1243) which resolve this issue.

Related to #485

[2015-02-09 23:16] HarleyCarter1234 commented on #433
any news on when this is likely to be in the master branch? Not sure whether to switch to dev branch for this

[2015-02-09 23:47] brando56894 commented on #536
Reverting that fixed my error

[2015-02-10 05:13] combres commented on #504
Ah ddos... Thanks looks like I got it working, but now I have issues rtorrent syncing up. On to the next bug
Thx

[2015-02-10 05:14] danielb2 opened #575 "is there a reason why it uses the show name instead of the rageId to search?"
This is the question I was asked:

I had no answer for this. Is it supposed to? Do I have something wrong with my settings, or is it just not supported?

If it's not supported, it would appear as if sickbeard does. Can sickrage be released with that patch?

[2015-02-10 06:11] InfamousBlade commented on #571
For now you guys can manually edit SickRage-master\sickbeard\providers\kat.py. All you have to do is change one line.

[2015-02-10 06:44] taj693 commented on #571
How do you access the provides in openelec. Can't find them

[2015-02-10 07:26] mixeta opened #576 "Téléquebec problem and not updating"
Hello
Sorry If I don't use the right way of writing an issue but I have a problem with sickrage and I cannot find the solution... I'm new with everything of code but at least I was able to have sickrage working for a while. Now I have this problem on my log:

http://pastebin.com/yXv5jdYt

SR Version:	BRANCH: (develop) / COMMIT: (401cb666016e45b42fe675bafdf7908ad6c2b9bb)
Python Version:	2.7.3 (defa

[2015-02-10 08:52] mikkelnl commented on #571
@taj693 It's located here:
/storage/.kodi/addons/script.module.audo-programs/resources/SickBeard/sickbeard/providers

[2015-02-10 09:08] TagForce commented on #536
@Quiptix @brando56894 @abeloin
Can you guys check if commiting this PR from the current develop develop branch fixes the problems?

https://github.com/SiCKRAGETV/SickRage/pull/1292

It reverts the changes to failedProcessor.py which should, in theory, fix the issues with single failed episodes.

Thanks for pointing this out.

[2015-02-10 09:17] tchirou commented on #534
Hello
So far, so good, everything is now snatched right away
Will I need to disable auto update and do a git reset --hard HEAD when the commit is merged ?
Many thanks for your help

[2015-02-10 09:40] TagForce commented on #521
@fernandog I'll see if I have time to dive deeper into this issue tonight.
I've done a quick check, and notice the following behaviour on my installation:
SR runs normally for the most part. However: Looking at the episode list on the displayShow page I notice the following odd behaviour:
- Snatched episodes are green.
- The count for total number of snatched episodes is 0 (even though I have one

[2015-02-10 10:01] fernandog commented on #521
@Tagforce check this out

https://github.com/SiCKRAGETV/SickRage/pull/1184/files

See the issue related too

[2015-02-10 10:04] Zwooosh commented on #570
Same issue here.
Tested with Family Guy and Better Call Saul (both have episodes available, neither will download).

[2015-02-10 10:05] fernandog commented on #521
Also this https://github.com/SiCKRAGETV/SickRage/pull/1250

https://github.com/SiCKRAGETV/SickRage/pull/1206

[2015-02-10 10:14] kristofferbas commented on #545
Oh sorry, been busy for a couple of days. No it doesn't seem as it works with those commits, but as I'm quite new to Git can you tell me how I apply them (if I didn't to it the correct way the last time).

Just to clarify - when I set SR to move files it's slow, when I set to copy it's fast.

Thanks!

[2015-02-10 10:49] TagForce commented on #521
@fernandog Well, reverting that would solve it... But then, the changes are indeed something that would be handy.

I just think there need to be more checks before deciding we need to download that file again.

I'll see if I can add some sanity checking to the manual downloading (as in, if it's the same then don't or something), and figure out some more logical checks for the snatched backlogs.

T

[2015-02-10 11:02] fernandog commented on #521
That changes only affects manual search.
I would ask user with a popup box if he wants to re-download same quality when manual search or just search for better/proper.

About auto-redownload. Maybe SR PP is labeling as UNKNOWN and this new code could(dont know) redownload a better quality

[2015-02-10 11:48] TagForce commented on #521
@fernandog
https://github.com/SiCKRAGETV/SickRage/pull/1206
Yup, that only affects manualsearch, not touching that.

As for the other 2:
Unknown quality is not necessarily low quality. We'll need to re-think this, because I think it is now causing a lot of duplicate downloads.

I'll have to look into this. Something's going wrong somewhere, and it looks like it has to do with your last two commits

[2015-02-10 12:26] fernandog commented on #521
Its a huge change. Just rever thttps://github.com/SiCKRAGETV/SickRage/pull/1250 for now

[2015-02-10 12:30] fernandog commented on #521
https://github.com/SiCKRAGETV/SickRage/pull/1184 it's not related. Low quality MUST appear at backlog.

[2015-02-10 12:33] fernandog commented on #521
It's strange because @wborrelli it's not using develop. This commits never get into master.

[2015-02-10 12:47] wborrelli commented on #521
I have switched to develop as one of the requirements for me to be taken seriously. :)

[2015-02-10 12:56] fernandog commented on #521
@wborrelli please do this:

stop SR
SSH and enter SR folder
wget --no-check-certificate https://github.com/SiCKRAGETV/SickRage/pull/1250.patch
patch -R -p1 1250.patch

OR
stop SR
edit SickRage/sickbeard/tv.py
and remove this lines
           if curQuality == Quality.UNKNOWN:
                return Overview.QUAL
save and restart
report back

[2015-02-10 12:57] TagForce commented on #521
@fernandog It could be that this issue has existed before, and your PRs only made it more obvious. It could also be that we have more than one issue.

Up until now most of my work has been in PP or general config functions of SR. I'll have to go through the code that snatched wanted episodes before I can make any assumptions as to what goes wrong. Your PRs just made the whole snatched/downloaded/q

[2015-02-10 13:01] rafian opened #577 "Thepiratebay provider is not up to date"
Hello guys!

I wanted sickrage to download the new episode from the walking dead. It didn't do automatically, so I forced the search with the "lens" right of the new episode (5x9)

My surprise was that Sickrage couldn't find the episode.  I was looking in the debug log and I found that Sickrage was looking for new episodes in the oldpiratebay webpage, so I understood why it couldn't find the new e

[2015-02-10 13:04] wborrelli commented on #521
patch went out to lunch on me, and did not appear to be doing anything.

So manually removed lines.

1274             if epStatus == FAILED:
1275                 return Overview.WANTED
1276             if curQuality == Quality.UNKNOWN:
1277                 return Overview.QUAL
1278             elif epStatus in (SNATCHED_BEST, SNATCHED, SNATCHED_PROPER ) and curQuality == maxBestQuality:
1279

[2015-02-10 13:05] fernandog commented on #521
@wborrelli no. don't re-enable for now

[2015-02-10 13:06] #577 closed

[2015-02-10 13:49] rickytin opened #578 "Delete show from SickRage remove from Trakt watchlist"
I would be nice if a delete a show from SickRage that the show will be remove of my Watchlist in Trakt.

[2015-02-10 14:26] abeloin commented on #545
See this for some info on how to use [patch on OSX](http://www.projectpier.org/node/501).

* Stop sickrage
* Download https://github.com/abeloin/SickRage/commit/c36f39ea30f785fcd077c920dd9fc4a0e8b49d03.diff
* Download https://github.com/abeloin/SickRage/commit/4d2c36daf1d0e1d805e4012ece6acae89bf0d846.diff
* In Terminal, go to Sickrage folder: ```cd /path/to/sickrage```
* Patch the first file: ```p

[2015-02-10 14:45] dirkr07 commented on #570
Your log shows you are using only TPB and Kickass as your search providers.
TPB has been down for quite some time now (or in limbo) and kickass.so has been taken down (domainname only) and an issue has been raised already to change the url in the provider settings.

[2015-02-10 14:47] abeloin commented on #534
No need to disable the auto-update, it will simply fail(with a error in the log).
At that moment stop sickrage and do a git reset --hard, git pull.

[2015-02-10 14:48] abeloin commented on #534
@fernandog Pull request SiCKRAGETV/SickRage#1293 resolve the issue.

[2015-02-10 14:52] TagForce commented on #521
@fernandog searchBacklog.py line 164:
if (curStatus in (common.DOWNLOADED, common.SNATCHED, common.SNATCHED_PROPER,
                              common.SNATCHED_BEST) and curQuality < highestBestQuality) or curStatus == common.WANTED:

Doesn't this piece of code already make it so that the low quality gets added to the Backlog?
All that's needed to make the unknown qualities appear there is filte

[2015-02-10 15:02] fernandog commented on #521
@TagForce maybe yes. But I wasn't showing in backlog overview page. See that issue. It has some screenshots

[2015-02-10 15:02] #570 closed

[2015-02-10 15:11] kristofferbas commented on #545
@abeloin Thanks, will definitely save that info! But move is still slow, and now copy's slow too...

[2015-02-10 15:29] abeloin commented on #545
@kristofferbas Slow shorter or slow slower? Do you have time for some additional testing?
Can you change the following value in file lib/shutil_custom/__init__.py(stop sickrage first):
from:
```def copyfileobj_custom(fsrc, fdst, length=4*1048576):```
to:
```def copyfileobj_custom(fsrc, fdst, length=512*1024):```

Then start sickrage and retry

[2015-02-10 15:38] kristofferbas commented on #545
@abeloin Slow like it takes longer for the files to process. Yeah sure, with your patches applied?

[2015-02-10 15:47] abeloin commented on #545
Yes with the patches applied. This change the buffer from 4MB to 512KB

[2015-02-10 15:53] abeloin commented on #576
Make sure you use utf8 in your locale, see https://sickrage.tv/forums/forum/help-support/general-support/12825-ensuring-your-locale-s-are-set-properly-to-avoid-unicode-issues

[2015-02-10 16:01] mixeta commented on #576
Thank you for your answer abeloin.

I'll check if I find the files easily... Anyone one where to find this on WD MY CLOUD? Just to be sure...

And WD MY CLOUD has a unix operating system?

Again, sorry for the stupid questions but I'm just a newbie with code...

[2015-02-10 16:28] brando56894 commented on #564
Yea, I don't seem to have it anymore, closing issue.

[2015-02-10 16:28] #564 closed

[2015-02-10 16:39] brando56894 opened #579 "TypeError: 'TVEpisode' object does not support indexing"
Debug Log: http://pastebin.com/pphGZ04e

SickRage Develop Branch

I wasn't really sure how to revert commits (tried once and it seemed to work but didn't actually change the code) so I just reverted #1258 manually (https://github.com/SiCKRAGETV/SickRage/pull/1258/files?diff=unified) by removing the [] around segment

FreeBSD 9.3, Python 2.7

[2015-02-10 16:46] abeloin commented on #576
Ok I didn't realized it was a NAS. Yes it use linux.

You have 2 options: change your locale(if supported) or wait until SiCKRAGETV/SickRage#1224 is merge in develop.

Want to change your locale and you have access via ssh to your device? If so, type to following command: ```locale```.
It should list your current locale.
To see the available locale type to following command: ```locale -a```.
It sh

[2015-02-10 16:57] danielb2 opened #580 "Fresh install gives errors when trying to access config menu"
Completely fresh install. On page `http://192.168.1.9:8081/config/general/`

    FreeBSD luffy 10.1-RELEASE FreeBSD 10.1-RELEASE #0
    $ python --version
    Python 2.7.9

It does seem to work on local OSX.  So it appears to be FreeBSD related.

Any help on this is appreciated.

[code]

[2015-02-10 17:09] kristofferbas commented on #545
Tried both move and copy with a 3.1gb file and it took about 30 minutes with both, so still much slower than to copy/move in Finder or copy before the patches in SR.

[2015-02-10 17:33] danielb2 commented on #580
Additional note:  Recently I came across an SSL issue which has been fixed in later releases. When I updated, everything broke. I've tried rolling back, but I come across the SSL issue before things start working.

[2015-02-10 17:43] mixeta commented on #576
Hello Again!
Thanks for all the info!

I tried what you said about the locale and this is the log:

locale: http://pastebin.com/0HafHYgt

locale -a: http://pastebin.com/KqmpeBVK

Everything look okay and I have UTF...

And then, I try to do the things on the link you sent me and I cannot find:
"Add the following lines of code to your ~/.bashrc and ~/.profile files".

I don't know where are these f

[2015-02-10 18:04] Deddiekoel opened #581 "Episode detection can't recognise iTunes naming"
Episodes that are stored in the iTunes naming convention (Season %S/%0E %SN) aren't recognised by Sickrage. When scanning the folders it gives the following error:

2015-02-10 18:38:53 SHOWQUEUE-REFRESH :: No episode number found in /.../TV Shows/Gotham/Season 1/14 The Fearsome Dr. Crane.mp4, ignoring it

Also, it won't accept Season %S/%0E %SN as a custom naming convention. Which might be related

[2015-02-10 18:25] abeloin commented on #576
If they don't exist create them using vi: ```vi ~/.bashrc```
Press i to be able to insert text.
When press ESC then :wq

[2015-02-10 18:50] Quiptix commented on #536
I will later this evening.

Vincent van Wichen

2015-02-10 10:08 GMT+01:00 TagForce <notifications@github.com>:

[2015-02-10 19:29] abeloin commented on #545
Ok, can you try this diff https://gist.githubusercontent.com/abeloin/b16a38787ae9defaf95a/raw/66e7f350d7e014ca0de78e237883f28cb754142f/shutil.diff ?

* Stop sickrage
* Download https://gist.githubusercontent.com/abeloin/b16a38787ae9defaf95a/raw/66e7f350d7e014ca0de78e237883f28cb754142f/shutil.diff
* Git clean: ```git reset --hard```
* Remove file: ```rm lib/shutil_custom/__init__.py```
* Patch the

[2015-02-10 19:35] abeloin commented on #580
Master or develop ? As this issue was fixed in the develop branch

[2015-02-10 19:48] abeloin commented on #579
Switching from the forum,

There's a new pull request that revert part of 1258, it's 1292

* Stop Sickrage
* Revert any changes: ```git reset --hard```
* Apply this new pull request: https://github.com/SiCKRAGETV/SickRage/pull/1292.diff
* Start sickrage
* Try a failed download
* Post the log

[2015-02-10 19:53] kristofferbas commented on #545
I get a bunch of errors.

[code]

[2015-02-10 19:53] Zwooosh commented on #570
Yes thank you. After manually changing the providers everything started working again.

[2015-02-10 20:05] danielb2 commented on #580
Ah, it was on master, and develop works fine :) thanks!

[2015-02-10 20:05] #580 closed

[2015-02-10 20:34] ncybernee opened #582 "Show with Named Seasons not parsing correctly from XEM"
Dev Branch
Commit c62d8f2c799edd7daad5648f45276a3464d83a9e
FreeNAS jail (FreeBSD) , python 2.7.5

Anime with named seasons, Anime and Scene checked, is not recognized by XEM Exception names
http://thexem.de/xem/show/1847 : Tokyo Ghoul Season 2 = Tokyo Ghoul Root A

If I'm understanding correctly, SickRage should recognize the following based on the mapping given by XEM: http://pastebin.com/XFhDENi

[2015-02-10 20:52] abeloin commented on #545
Ok,

* Stop sickrage
* Download https://github.com/abeloin/SickRage/commit/c36f39ea30f785fcd077c920dd9fc4a0e8b49d03.diff
* Download https://github.com/abeloin/SickRage/commit/b7175a36e3ba10b8fc0a2d60c741d1efffa4778a.diff
* In Terminal, go to Sickrage folder: ```cd /path/to/sickrage```
* Git clean: ```git reset --hard```
* Remove file: ```rm lib/shutil_custom/__init__.py```
* Patch the first file:

[2015-02-10 21:02] agentq15 commented on #539
+1
Really need this too. Annoying to have to keep track of what has been downloaded for a manual clean up later.

[2015-02-10 21:53] kristofferbas commented on #545
It's much better now! Both move and copy in SR takes about 4 minutes (for a 3,1gb file), manual copy in Finder takes about 2 minutes. Also, it looks like the original processed file get deleted when using copy (if I haven't accidentally turned on some setting for this?).

Thanks!

[2015-02-10 21:56] kristofferbas commented on #545
Oh, and it feels like the computer is working a bit more than before too (maybe this is natural), the fans start spinning and so on.

[2015-02-10 21:59] Quiptix commented on #536
I have tested this quite thoroughly.
It works as advertised!
IMHO merge it with the development HEAD.

[2015-02-10 23:55] matigonkas opened #583 "Network Logos & TV Shows Posters"
Hello,
There are some networks that dont have a proper logo, which i have made and resised to use within SickRage ,BUT i dont know on how to make a Pull Request ,so is there someone i can give the files so that he can make a PR with them.
Also ,ive found out that there are some shows that dont have a poster is there any way i can add it manually to sickrage (or is it possible to someone add it as

[2015-02-11 01:24] rickytin opened #584 "Fix for new site for kickass"
The new Kickass site is kickass.to/

[2015-02-11 02:35] ncybernee commented on #582
Happening on searching and post-processing

[2015-02-11 03:16] abeloin commented on #545
@kristofferbas I can't reproduce the deleting when copying, maybe you use move instead?

As for the cpu usage, have a look in the [activity monitor](http://support.apple.com/en-us/HT201538) while the transfer to see the see sickrage cpu usage.

[2015-02-11 03:19] abeloin commented on #584
There's a pull request SiCKRAGETV/SickRage#1264

[2015-02-11 04:02] abeloin commented on #522
@Rafkat Submitted a pull request SiCKRAGETV/SickRage#1295 to make it more easier to find the cause.

[2015-02-11 06:35] amblique opened #585 "Unpacking with the sickrage freenas pbi fails even when unrar is installed"
I have installed the sickrage plugin in freenas 9.3.
I installed unrar via pkg install unrar, it's version 5.2
I have updated sickrage to the development branch as of a day ago.
I have copied the rar executable from /usr/local/bin of the sickrage jail to the lib/unrar2 folder

When i select the unpacking option in the sickrage UI it doesn't present the error dialog, indicating that it has found th

[2015-02-11 07:42] TagForce commented on #536
We'll have to wait for echel0n to merge the PRs.

[2015-02-11 08:05] kristofferbas commented on #545
@abeloin Restarted the computer and everything works great now! Copy does not delete the file and the computer isn't working harder than usual. Excellent! Thank you so much.

[2015-02-11 08:29] #584 closed

[2015-02-11 09:29] Deddiekoel commented on #581
I have only recently switched to Sickrage and with other Sickbeard versions I never had this issue. So I compared the code with the last Sickbeard version I used and I found the difference in the regexes.py file.
Sickrage's file contains this for the "no season" regex:

    ('no_season',
     # Show Name - 01 - Ep Name
     # 01 - Ep Name
     # 01 - Ep Name
     '''
     ^((?P<series_name>.+?)(?:

[2015-02-11 09:44] fernandog commented on #581
I was added for a reason. Maybe SR can add another one instead of change this one.

[2015-02-11 09:58] Deddiekoel commented on #581
I added the "old" version under the name 'itunes' (for lack of a better name). Removed a show from the DB and added it again. All episodes where recognised. This seems like a quick fix at least.

[2015-02-11 10:02] fernandog commented on #581
@Deddiekoel can you do that "edit" here and make a Pull Request/?

https://github.com/SiCKRAGETV/SickRage/edit/develop/sickbeard/name_parser/regexes.py

[2015-02-11 10:04] gsbba opened #586 "Ignoring *tv show* because its not a valid scene release that we want, ignoring it"
I am finding shows in my providers but sickrage just ignores them with above message and wont download anything. Appreciate any help thanks. Been working fine for months.

[2015-02-11 10:21] fernandog commented on #586
https://github.com/SiCKRAGETV/sickrage-issues/
no guidelines no help

[2015-02-11 10:21] #586 closed

[2015-02-11 10:43] amblique commented on #585
FYI, this is the error reported by running the test_unrar2.py script

Traceback (most recent call last):
  File "test_UnRAR2.py", line 20, in <module>
    rarc = UnRAR2.RarFile('test.rar')
  File "/mnt/shares/jails/sickrage_1/usr/pbi/sickrage-amd64/share/sickrage/SickRage/lib/unrar2/__init__.py", line 100, in __init__
    RarFileImplementation.init(self, password)
  File "/mnt/shares/jails/sickrag

[2015-02-11 10:44] mixeta commented on #576
Hello Alexandre
Thanks for everything.
I tried what you told me but still it doesn't work... I tried to insert the
text but it doesn't do anything. Maybe I insterded on the wrong line but I
don't know how to delete things on bashrc and profile so I think it's
better to not touch anymore and  wait until they merge everything. I'll
continue using the master version.

Thank you again for helping me!

[2015-02-11 11:29] abeloin commented on #576
ok and to remove the file: ```rm ~/.bashrc```

And don't forget to close the issue.

Thank You

[2015-02-11 11:56] abeloin commented on #545
@fernandog This fix would be a replacement of SiCKRAGETV/SickRage#1193 and SiCKRAGETV/SickRage#1262. The main issue with those 2 PR is that they only apply in a specific case(i.e. when called to copy), if the user choose move and the locations are not on the same partition it will use shutil.copyfile as it called shutil.move first. This apply to any other shutil command that use shutil.copyfile re

[2015-02-11 11:57] Deddiekoel commented on #581
Yup, willdo!

[2015-02-11 12:09] abeloin commented on #585
If /usr/local/bin/ isn't in your path variable then this is why test_unrar2.py doesn't find it.

Can you post the full log of when that mp4 was post-processed ?

[2015-02-11 12:13] KontiSR commented on #309
Aah okay, finally find this repo. Nice to have issue tracker now!
Well i've build this functionality already like somewhere in september 2014. So this shouldn't be a FR but rather a bug.

[2015-02-11 12:42] abeloin commented on #581
For reference: the commit introducing this change: https://github.com/SiCKRAGETV/SickRage/commit/88a3444db2b65ad3cc6f86a5a65c920a09a7ce2c

[2015-02-11 14:01] TagForce commented on #521
@fernandog I understand why you wanted to change the way it calculates episode statuses.
https://github.com/SiCKRAGETV/SickRage/pull/1184 just broke the DisplayShow page.
This means that ONLY episodes that are snatched at the highest possible quality AND you have a maxBestQuality set will have a snatched status. For whatever reason, this caused my SR to never show any episodes as snatched.
I've ch

[2015-02-11 14:04] fernandog commented on #521
Low snatched isnt low quality?

[2015-02-11 14:07] TagForce commented on #521
Yes, it is... It just does a more sane check. It checks if the current quality is lower than the maxBestQuality, and if it is, it will set the episode to Overview.QUAL, which is low quality.
If it's not, then it will set it as snatched.

[2015-02-11 14:13] fernandog commented on #521
Can you send a print of this? It will count +1 for both low quality and snatched?

[2015-02-11 14:13] andofrjando commented on #425
I don't think you'll be able to use the RSS feed for Shazbat for the time being due to Sickrage issue #47: Custom Torrent Providers. If you look closely in your Sickrage settings, after you add http://www.shazbat.tv/rss/recent?passkey=########, you'll notice Sickrage is inserting a "/" in front of the "?". This changes the URL to http://www.shazbat.tv/rss/recent/?passkey=########, which is resulti

[2015-02-11 14:31] fernandog commented on #581
@Deddiekoel did you created the PULL REQUEST? Nothing appeared

[2015-02-11 14:32] Kybber commented on #504
Nice find! Thank you for the hotfix -  I can confirm that it is currently working for me.

Let's hope they disable the CF check soon, or at least don't correct their setup for a long time so that your fix keeps on working...

[2015-02-11 14:35] Deddiekoel commented on #581
I thought I did, let me try again...

[2015-02-11 14:35] fernandog commented on #425
@Abeloin is this easy to fix, isn't? if url endswith ? then don't add the slash

[2015-02-11 14:39] abeloin commented on #504
@flightlevel Have you tried putting a:
```self.session.get(self.urls['base_url'])```
before
```response = self.session.post(self.urls['login'], data=login_params, timeout=30, verify=False)```
it should pick the required __cfduid cookie

[2015-02-11 14:41] Deddiekoel commented on #581
Created a fork but forgot to press the pull request button. Did so now. Did you see it?

[2015-02-11 14:43] matigonkas commented on #583
![quest](https://cloud.githubusercontent.com/assets/10121067/6148805/37285b10-b1fc-11e4-93a0-2c728f195b3f.png)
![tvi](https://cloud.githubusercontent.com/assets/10121067/6148806/37402fba-b1fc-11e4-8356-a5a279f9e73c.png)

These are the network logos if anyone could make a PR with them it would be awesome ;)

[2015-02-11 14:43] abeloin commented on #504
If doesn't work have a look a this: https://github.com/Anorov/cloudflare-scrape it might help.

[2015-02-11 14:44] abeloin commented on #583
You need to include the network name

[2015-02-11 14:46] abeloin commented on #425
Let me check

[2015-02-11 14:47] fernandog commented on #425
https://github.com/SiCKRAGETV/SickRage/blob/develop/sickbeard/providers/rsstorrent.py

here its replaces/remove. but don't add

[2015-02-11 14:53] fernandog commented on #581
yes. have you fully tested?

[2015-02-11 14:57] Deddiekoel commented on #581
Limited, it works on my implementation (on a Synology NAS).
However, what I've added is the code from a different Sickbeard build (which was hopefully tested). Also I have only added a new regex and haven't touched anything else.

[2015-02-11 15:01] TagForce commented on #521
No, it won't count both, it can't count both since it returns only one status.

Your check was ```if in (snatched status) and curQuality == maxBestQuality: return snatched```

I think this check is too restrictive.
This created a lot of false outcomes, where a snatched episode that was at a good quality but where curQuality != maxBestQuality would eventually be called good instead of snatched.

I

[2015-02-11 15:01] abeloin commented on #425
@fernandog It do it's a dict push to self.urls and that regular expression remove if there a slash at the end

I'm unable to replicate the behavior in master and develop:
[code]

[2015-02-11 15:02] andofrjando commented on #425
Is this it? https://github.com/SiCKRAGETV/SickRage/blob/develop/sickbeard/config.py#L330

[2015-02-11 15:11] abeloin commented on #425
That's use in webserve.py for nzb and torrent providers.

For rss, it's call:
* TorrentRssCache._getRSSData()
  * https://github.com/SiCKRAGETV/SickRage/blob/develop/sickbeard/providers/rsstorrent.py#L168
* TVCache.getRSSFeed()
  * https://github.com/SiCKRAGETV/SickRage/blob/develop/sickbeard/tvcache.py#L142
* RSSFeeds.getFeed():
  * https://github.com/SiCKRAGETV/SickRage/blob/develop/sickbeard/rs

[2015-02-11 15:11] matigonkas commented on #583
Sorry the top one is "quest" and the bottom is "tvi" also there is a logo for "national geographic" but there isnt for "national geographic channel"

[2015-02-11 15:14] abeloin commented on #425
@andofrjando Have you put the passkey into the cookies section? It should be entered into the url only:
![Imgur](http://i.imgur.com/ZXe6HCk.png)

[2015-02-11 15:18] andofrjando commented on #425
Definitely in the URL, just like in your screen shot. Using the master branch, as soon as you hit save, then reload the page, the slash is put in. I have just tested this: https://github.com/SiCKRAGETV/SickRage/commit/82da3171cdf1e963fd72825aa50a6a97af0e6867 on the master branch, and it has solved the issue.

[2015-02-11 15:29] abeloin commented on #425
Your entirely right, my apologies. I forgot to reset my master branch I use, which included some patches while I was debugging something else.

Clean_url is called in https://github.com/SiCKRAGETV/SickRage/blob/develop/sickbeard/webserve.py#L4169

[2015-02-11 15:34] abeloin commented on #583
To confirm, in thetvdb their name are quest and tvi?

[2015-02-11 15:37] andofrjando commented on #425
No problems. :)

[2015-02-11 15:39] abeloin commented on #521
@TagForce If you need people to test it let me know, I do have some anime show with custom qualities.

[2015-02-11 15:54] matigonkas commented on #583
i havnt found quest tv shows in thetvdb only on tvrage ,but yes those are their names

[2015-02-11 15:56] abeloin commented on #583
Do you have any show in sickrage that are from that network?

[2015-02-11 16:00] matigonkas commented on #583
yes http://www.tvrage.com/the-rise-of-the-nazi-party for quest and http://thetvdb.com/?tab=series&id=256115 for tvi

[2015-02-11 16:05] dmarcelino commented on #571
+1 for SiCKRAGETV/SickRage#1264 to be merged to both `master` and `develop`.

[2015-02-11 16:12] abeloin commented on #583
Exactly what I needed to test them.

I couldn't find 'Jardins Proibidos' in the tvdb ;)

[2015-02-11 16:18] #576 closed

[2015-02-11 17:30] alaorath commented on #83
Came across this defect searching for a solution to the same.  I've double-checked my settings and added --config=/opt/sickbeard/config.ini to my launch script... still getting DEBUG log statements.

Makes it difficult to self-troubleshoot since all 5 log files wrap in less than 8 hours.

[2015-02-11 18:55] TagForce commented on #521
@abeloin I'll test it myself for a couple of days... I'll upload a clean commit when that's done, so anyone can patch their install if they want.

[2015-02-11 21:20] dirkr07 commented on #425
Did I miss the part where you guys provided a fix or am I just not knowledgeable enough? :)
Still hoping both the custom providers get fixed and Shazbat get added!..

[2015-02-11 21:45] nathanu opened #587 "Torrents not adding to ruTorrent - `rTorrent: Unable to send Torrent: Return code undefined`"
I have SickRage and ruTorrent running on a Feral seedbox, where do i start troubleshooting this? The authentication test in Search Settings is successful but my shows arent getting downloaded.

`SEARCHQUEUE-BACKLOG-75805 :: rTorrent: Unable to send Torrent: Return code undefined`

[2015-02-11 21:52] #587 closed

[2015-02-11 21:53] nathanu commented on #587
Any details where i can look for this?

[2015-02-11 21:56] fernandog commented on #587
https://github.com/SiCKRAGETV/sickrage-issues/issues/242

[2015-02-11 22:30] amblique commented on #585
Hi abeloin,

Running unrar like this inside the jail shell and inside the root system shell works fine. So this means the unrar binary is in the path. This would probably also explain why the settings ui doesn't complain when I check the unpack checkbox.

Log file doesn't say much, see below:

[code]

[2015-02-12 01:25] geek2009 commented on #573
+1 Would like to see Pirate Bay support again. Might not hurt to keep oldpiratebay.org as a backup provider though.

[2015-02-12 01:51] andofrjando commented on #425
Here is the fix for getting custom torrent providers to work:
In your Sickrage installation folder, go into the sickbeard folder, and find the file config.py. Open it in a text editor. Go to line number 329, where it has this code:
[code]
replace those lines with this:
[code]
It is really important that there are 8 spaces at the start of ```if not path:``` and 12 spaces at the start of ```path = p

[2015-02-12 03:20] abeloin commented on #585
How to get the full log after the the post-process failed:
1. Go to 'Logs & Errors' in the top menu.
2. Click View Log
3. On the right side select 'Debug' in the 'Minimum logging level to display' drop down list.
4. Look for multiple lines with 'POSTPROCESSER' in it.
5. Copy all the related line to pastebin
6. If none, put the file Logs/sickrage.log on pastebin.

By the way, 'Unable to move the fi

[2015-02-12 05:34] amblique commented on #585
That is the log with the log level set to DEBUG already.

I logged this issue specifically because it's the unrar activity failing (and the failure not being detected) that is triggering the  'Unable to move the files to their new home' error. The file can't be copied because it doesn't exist. It doesn't exist because the unrar call doesn't actually succeed, but the error is either not raised or n

[2015-02-12 06:43] TagForce commented on #567
Can you provide an example? Episode names are taken directly from the indexer. They are not parsed from the download.
If a file has no season/episode in it SickRage won't PP it. So an unknown episode name should never happen, unless it's unknown at tvdb or tvrage as well.

[2015-02-12 06:47] TagForce commented on #565
Show Root: The folder in which your shows reside.
TV Download: Where your download client puts the finished download.

Show us a log of a post process run.

[2015-02-12 08:46] freddyfinn commented on #536
I can also confirm this is now working.

[2015-02-12 10:30] dirkr07 commented on #425
Thanks for the detailed description!

[2015-02-12 10:37] fernandog commented on #425
the main feature request of @ryanf86 is still open.

can someone that is using MASTER branch AND have a Shazbat.tv login, please change the url of TVTorrents in the /providers directory to the Shazbat.tv url and see if works?

[2015-02-12 10:40] TagForce commented on #521
@abeloin
Try this commit: https://github.com/TagForce/SickRage/commit/7878a1b6107898641070f8d1aa26f194a7bea49f
See if that does what it's supposed to do (mark low quality snatches as Low Quality, including in the backlog, and mark regular quality snatches as snatched).

[2015-02-12 10:53] abeloin commented on #585
What you are showing me look like a lot more like the report printed in the web page after you run a 'Manual Post-Processing' then what is in the log file.

Anyhow, here some of thing I would check:
* Run an ```unrar -t download-file.rar``` to confirm the archive is valid and without error.
* Check who's the user running sickrage in jail. [Accessing a jail using ssh](http://doc.freenas.org/9.3/fre

[2015-02-12 10:59] flightlevel commented on #504
@abeloin the cookie won't work as there is a test to see if your browser has javascript enabled.
Option 2, the cloudflare-scrape, should work, but the CouchPotato developer says that its not a good solution and it looks too complicated for me https://github.com/RuudBurger/CouchPotatoServer/issues/4153#issuecomment-61372848
Hopefully the cloudflare check will be gone in a month or two, as it looks

[2015-02-12 11:08] fernandog commented on #504
@flightlevel why don't change the freshon.tv to 104.28.15.126 ? cloudfare won't be in the way.

[2015-02-12 11:18] abeloin commented on #504
@flightlevel Yikes! that pricey.

[2015-02-12 12:01] abeloin commented on #521
@TagForce Commit applied, let you know of the results.

[2015-02-12 13:17] fernandog commented on #521
@TagForce

I applied your code

Low quality snatched its not appearing as "low quality"

![1](https://cloud.githubusercontent.com/assets/2620870/6168056/bb356928-b2a8-11e4-919d-62d2f515b5b0.png)

[2015-02-12 13:34] Tlabok commented on #571
I agree that merging is a priority. I can't manually update, as my Qnap package automatically restores the default SR installation files after a restart.

[2015-02-12 13:42] TagForce commented on #521
@fernandog I don't know how the page handles updating on clicking the manual search button... Maybe the same logic needs to be applied there. If it just changes the corresponding row to a snatched row, then it won't update it correctly. Need to look at that.

But it looks like it is working now for snatched low quality episodes, right? Turns yellow after the refresh.

[2015-02-12 13:50] fernandog commented on #521
Yes

[2015-02-12 13:52] fernandog commented on #571
@echel0n

[2015-02-12 14:33] TagForce commented on #521
@abeloin @fernandog

If anyone speaks Javascript, I think this needs to be changed to accomodate for the new status on low quality as well:
[code]

[2015-02-12 14:40] fernandog commented on #521
Why dont do a refresh on the table? Not on the page

[2015-02-12 14:58] TagForce commented on #521
@fernandog It's not doing a refresh of the page, it's updating that single row. That's also why it seems to stay pink on any result. It's not 'snatched', it's simply turned pink by the javascript.

[2015-02-12 15:22] #573 closed

[2015-02-12 15:23] fernandog commented on #565
@PapaFatHead when reply, will reopen.

[2015-02-12 15:23] #565 closed

[2015-02-12 15:24] fernandog commented on #561
@spockfish when you reply, I will reopen

[2015-02-12 15:24] #561 closed

[2015-02-12 15:26] fernandog commented on #551
change your locale to UTF-8
https://sickrage.tv/forums/forum/help-support/general-support/12825-ensuring-your-locale-s-are-set-properly-to-avoid-unicode-issues

[2015-02-12 15:26] #551 closed

[2015-02-12 15:26] #552 closed

[2015-02-12 15:29] #546 closed

[2015-02-12 15:30] fernandog commented on #543
@silentknight509 when reply, will reopen.

[2015-02-12 15:30] #543 closed

[2015-02-12 15:30] #544 closed

[2015-02-12 15:30] fernandog commented on #544
@gazzer82 when reply, will reopen

[2015-02-12 15:31] fernandog commented on #547
@Tagforce any clue?

[2015-02-12 15:32] fernandog commented on #540
@ahaghgoo when reply, will reopen

[2015-02-12 15:32] #540 closed

[2015-02-12 15:33] fernandog commented on #538
@ee0u4179 send a print of this tv-show in the dognzb? How is the full name on it?

[2015-02-12 15:35] fernandog commented on #548
@GodZZila when reply, will reopen

[2015-02-12 15:35] #548 closed

[2015-02-12 15:37] #490 closed

[2015-02-12 15:39] fernandog commented on #359
@Abeloin @Tagforce do you have animes to test this regex?

[2015-02-12 15:39] andofrjando commented on #425
I have a Shazbat login, and have made the changes to introduce this feature request. I'll be making a pull request into the develop branch shortly.

[2015-02-12 15:39] fernandog commented on #288
fixed on DEVELOP

[2015-02-12 15:39] #288 closed

[2015-02-12 15:42] fernandog commented on #425
@andofrjando fully tested?

[2015-02-12 15:42] TagForce commented on #547
Check my latest PR. Should fix it.

[2015-02-12 15:43] andofrjando commented on #425
I have tested it and is working. Bear with me though, this is the first time I've made a contribution to a open source project. :)

[2015-02-12 15:44] TagForce commented on #359
@fernandog  I don't, but @abeloin does, I think.

[2015-02-12 15:48] fernandog commented on #425
@andofrjando no problem! welcome! I'm new to this too. a couple of years =)

[2015-02-12 15:49] fernandog commented on #527
@lbjb any luck?

[2015-02-12 16:05] MVallee commented on #569
It just happened again last night with Modern Family and Arrow. Both shows were snatched from KAT. I don't know how to get the link to the torrent file but its still listed in Transmission. @fernandog If you can let me know how to get the link I'll post it here.

If verified status isn't working like @Thraxis said then it probably is fake releases getting snatched. Any idea when the fix will be ap

[2015-02-12 16:14] fernandog commented on #569
@MVallee add mp4 to the IGNORED words.

I could not find this torrents with mp4 here:
http://www.rarbg.com/torrents.php?search=arrow+s03e13
I think all this are fakes

[2015-02-12 16:14] TagForce commented on #547
@tjw1184 Can you try if implementing this PR on your install fixes the issues for failed downloads?
https://github.com/SiCKRAGETV/SickRage/pull/1292

I made a boo-boo with one of my previous PRs and changed one too many occurences of a variable, breaking single failed downloads.

[2015-02-12 16:17] fernandog commented on #47
fixed on DEVELOP

[2015-02-12 16:18] #37 closed

[2015-02-12 16:19] fernandog commented on #25
@TagForce should we still wait?

[2015-02-12 16:20] TagForce commented on #554
I'll have a look if I can add this check to PP. Basically if folder is hidden, then just skip it.
Hopefully have some time to do this tonight. I'll make this option configurable, just in case someone doesn't want it to.

[2015-02-12 16:21] MVallee commented on #569
If I add "mp4" to ignored words, won't it ignore real downloads? Many of the shows that get snatched show up in Transmission ending in ".mp4" but are real.

Here's a screen cap that shows Arrow (the fake release) in Transmission along with Better Call Saul which was a real release.

![screenshot_16](https://cloud.githubusercontent.com/assets/4130908/6171530/361686b8-b2a9-11e4-8d24-bce8855c446f.png

[2015-02-12 16:23] fernandog commented on #19
Fixed with:
[code]
https://github.com/SiCKRAGETV/SickRage/blob/develop/sickbeard/__init__.py#L576

[2015-02-12 16:24] TagForce commented on #25
@fernandog Yeah, for now. I'll have a look if I have time, but I think @echel0n is really the person who should decide if my option is the way to go.

I don't think it's a big issue, as the type of search for a download is completely different from that for a Post Process. It should get a lot more hits on the post process search for the show, simply because of the way it handles the results (and w

[2015-02-12 16:26] fernandog commented on #569
@MVallee no. there's also the EZTV releases. they are more reliable

[2015-02-12 16:26] #569 closed

[2015-02-12 16:27] fernandog commented on #554
thanks!

[2015-02-12 16:28] fernandog commented on #7
@h3llrais3r @markheloking @xInsertx  is this still happening?

[2015-02-12 16:31] andofrjando commented on #425
Okay, pull request submitted. :) Thanks for the help!

[2015-02-12 16:34] fernandog commented on #221
@apoapostolov @megapearl still an issue? tried changing locale to UTF-8?

[2015-02-12 16:35] gborri opened #588 "[Feature Request] S02E03-07 torrent"
Would be great if it will be the possibility to get a valid torrent file E03-07 for torrent episode E04.

[2015-02-12 16:39] tconkle commented on #546
I just ran a manual Post Processing on the 2nd season of Nashville and the issue seems to still be happening.

It looks like anything with an apostrophe (i.e "You’re No Angel Yourself") is showing up as  "Nashville S02E04 Youâ€™re No Angel Yourself.mp4".

I've ran through the steps in the referenced forum post and even rebooted to no avail.

Any thoughts would be greatly appreciated.  I really hat

[2015-02-12 16:42] fernandog commented on #3
@Tagforce can you confirm this is really an issue?

[2015-02-12 16:42] #2 closed

[2015-02-12 16:44] fernandog commented on #546
@tconkle linux?

SSH and post the result of

[code]

you should see something like this:

[code]

[2015-02-12 16:45] #443 closed

[2015-02-12 16:46] fernandog commented on #384
@Abeloin do you understand about this one?

[2015-02-12 16:47] tconkle commented on #546
Yep Linux.

LANG=en_US.UTF-8
LANGUAGE=en_US.UTF-8
LC_CTYPE="en_US.UTF-8"
LC_NUMERIC="en_US.UTF-8"
LC_TIME="en_US.UTF-8"
LC_COLLATE="en_US.UTF-8"
LC_MONETARY="en_US.UTF-8"
LC_MESSAGES="en_US.UTF-8"
LC_PAPER="en_US.UTF-8"
LC_NAME="en_US.UTF-8"
LC_ADDRESS="en_US.UTF-8"
LC_TELEPHONE="en_US.UTF-8"
LC_MEASUREMENT="en_US.UTF-8"
LC_IDENTIFICATION="en_US.UTF-8"
LC_ALL=en_US.UTF-8

This is my result.  I'm n

[2015-02-12 16:47] fernandog commented on #363
@jimmybund still having this issue? did you tried DEVELOP branch?  config>advanged>github

[2015-02-12 16:54] fernandog commented on #546
@Tagforce have you seen this happen even with UTF-8?

[2015-02-12 17:02] fernandog commented on #234
@Quiptix is this still happening with TRAKT 2.0?

[2015-02-12 17:04] abeloin commented on #359
@fernandog @TagForce Maybe I'm way off base here but shouldn't the release be a nzb not individual files?

@schwickster What is your provider?

[2015-02-12 17:19] brando56894 commented on #579
I'm pretty much a newbie to git, how to I apply the pull request?

[2015-02-12 17:24] abeloin commented on #359
@fernandog The regex makes no sense at all:
(?:\"[(?P.?)][ ._-]) --> match . and ._-
(?P<test>[(480|720|1080)(p|i)]) --> match the following 1,2,4,7,8,0,p,i (No name for capturing group)
(?:\s\-\s(?P<test>([0-9]|[0-9][0-9]|[0-9][0-9][0-9]|[0-9][0-9][0-9][0-9]))\s[(480|720|1080)(p|i)]) -> match \s\-\s393\s4

[2015-02-12 17:26] fernandog commented on #579
[code]

[2015-02-12 17:27] fernandog commented on #359
I just checked at regex101.com
does not work

[2015-02-12 17:29] fernandog opened #589 "Issues STATs"
https://github.com/SiCKRAGETV/sickrage-issues/issues?page=1&q=is%3Aopen+is%3Aissue+-label%3A%221%3A+Feature+request%22+-label%3A%221%3A+Support+%2F+question%22+-label%3A%223%3A+Fix%22+-label%3A%223%3A+Unconfirmed%22

[2015-02-12 17:32] fernandog commented on #284
@TiagoDM I suggest create an script and add it to CRONTAB (linux)

[2015-02-12 17:34] TiagoDM commented on #284
ok... i'll do it (but im in windows, not linux).

[2015-02-12 17:36] TagForce commented on #3
@fernandog  I'll have to look at this.

[2015-02-12 17:39] TagForce commented on #546
Personally no. Apostrophe's seem to be handled correctly here.

[2015-02-12 17:44] abeloin commented on #546
@tconkle Have you tried as the user running sickrage?

[2015-02-12 17:51] abeloin commented on #521
Something not right when it snatch the file(not yet downloaded), the snatch counter stays to zero and the low quality is 1.

![Imgur](http://i.imgur.com/0sCJY16.png)

As for the coloring, as long it is snatch it should be purple. When the download is completed it will turn to yellow

[2015-02-12 17:59] fernandog commented on #284
@TiagoDM

create a rename.bat with this:

[code]

Add it to schedule task
http://windows.microsoft.com/en-us/windows/schedule-task#1TC=windows-7

[2015-02-12 17:59] #284 closed

[2015-02-12 18:02] fernandog commented on #521
if the snatched episode is low quality, it will count as "Low Quality", not "Snatched". What do you think?

[2015-02-12 18:04] fernandog commented on #546
@Abeloin this locale could be different from user to user? did'nt know that.
so he should check the locale of the user set in /etc/default/sickrage or sickbeard?

[2015-02-12 18:04] fernandog commented on #3
@TagForce it's before that commits that changed the snatch status

[2015-02-12 18:10] #493 closed

[2015-02-12 18:11] fernandog commented on #54
@LinuxBozo  is this working with that commits of TRAKT 2.0?

[2015-02-12 18:12] #322 closed

[2015-02-12 18:18] fernandog commented on #309
https://github.com/SiCKRAGETV/SickRage/pull/882

[2015-02-12 18:20] abeloin commented on #521
Shouldn't low quality apply after the download is completed as it is not a status?

[2015-02-12 18:20] fernandog commented on #6
@TagForce as soon you PR this, can you add this issue to it?

[2015-02-12 18:22] fernandog commented on #521
@abeloin the problem is that this way, that episode won't appear in "manage backlog"

[2015-02-12 18:33] TiagoDM commented on #284
thankx!

2015-02-12 17:59 GMT+00:00 Fernando <notifications@github.com>:

--
________________________________________
Tiago Marques

[2015-02-12 18:40] abeloin commented on #521
Ok let me explain.
In pull requests SiCKRAGETV/SickRage#1250, you added this:
[code]
but I think it should be this instead as it still not completed(download can fail):
[code]
and then reverting pull request SiCKRAGETV/SickRage#1184.

Just tested it and work perfectly.

Ps: I think the curQuality == Quality.UNKNOWN should be with elif curQuality < maxBestQuality

[2015-02-12 18:42] fernandog commented on #284
Worked?

[2015-02-12 18:48] abeloin commented on #546
Yes, local can be set globally then overridden locally(user). E.g.: System locale is Posix and user is en_US.UTF-8

[2015-02-12 19:28] LinuxBozo commented on #54
@fernandog Yep. The code that does it is here: https://github.com/SiCKRAGETV/SickRage/blob/develop/sickbeard/notifiers/trakt.py#L42

[2015-02-12 19:34] brando56894 commented on #579
Thanks.

Still the same error: http://pastebin.com/CZ8GNVw9

Not sure if everything happened correctly because I did get these messages

root@Template:/usenet/SickRage # git reset --hard
HEAD is now at 2cb2949 Revert "Fix for 'List type has no attribute' on setting failed"

root@Template:/usenet/SickRage # patch -p1 < 1292.diff
Patching file sickbeard/failedProcessor.py using Plan A...
Reversed (o

[2015-02-12 19:41] abeloin commented on #384
As sacii said it seem the combination of the daemonize() function and using 2 layers/levels of unionfs(/mnt/Workspace/nas4free/usr = /usr and /mnt/Workspace/sickrage-torrents = /usr/home/sacii/.config/sickbeard-torrents) is the issue.

My guess is it's fuse-unionfs related.

Also is he using the latest version of fuse-unionfs? Maybe fixed in new releases.

There's not much we can do. He will need

[2015-02-12 20:01] abeloin commented on #336
Added pull request even if rtorrent's pull request is not merge.

[2015-02-12 20:03] abeloin commented on #306
Related to SiCKRAGETV/sickrage-issues#581

[2015-02-12 20:03] jimmybund commented on #363
I am still having this issue, but no I have not tried the DEVELOP branch.
Let me know and I could give it a shot.

On Thu Feb 12 2015 at 8:47:41 AM Fernando <notifications@github.com> wrote:

[2015-02-12 20:12] GodZZila commented on #548
Dear Fernadog. Here i got the debug log

[url]http://www.ronald-online.nl/sickrage.log[/url]

[2015-02-12 20:14] TagForce commented on #3
@fernandog Seperate issue. It looks like something gets messed up in the db if you manually set an episode to a status and quality, and then force SR to find a better quality.
The only way for it to not display the episode is for it to fail on loading it from the db, or corrupt it in memory while changing it.

[2015-02-12 20:15] fernandog commented on #363
Try it please

[2015-02-12 20:16] tjw1184 commented on #547
@tagforce, how do I apply the single pr?

[2015-02-12 20:18] fernandog commented on #3
@EmielH can you try a new install? Stop SR, Rename you sickbeard.db to sickbeard.bak. also cache.db to cache.bak and cache directory to cache.bak

[2015-02-12 20:19] abeloin commented on #290
Ref fixed in commit https://github.com/SiCKRAGETV/SickRage/commit/eff83dd745f30ed1f62991f0216b37444440c559 which was merged on 2014/12/21

[2015-02-12 20:23] abeloin commented on #282
Pastebin logs don't exist anymore

[2015-02-12 20:25] abeloin commented on #589
@fernandog Here some issues that their label updated:
#534 Should be confirmed + waiting to be merged as fix confirmed working.
#438 Should be closed for inactivity.
#427 Should be confirmed + waiting to be merged as fix confirmed working.
#375 Should be closed for inactivity.
#336 Feature request + waiting to be merged
#306 Related to #581, can be closed
#290 Can be closed as the fix was merged.

[2015-02-12 20:34] abeloin commented on #548
@GodZZila Can you try applying this pull request: SiCKRAGETV/SickRage#1283 and if it fix the issue?

[2015-02-12 21:15] tconkle commented on #546
I've checked in /etc/default/sickbeard

SB_USER=todd
SB_HOME=/home/todd/sickrage/
SB_DATA=/home/todd/sickrage/
SB_OPTS=–config=/home/todd/sickrage/config.ini

That is my user account

On Thu, Feb 12, 2015 at 1:48 PM, Alexandre Beloin <notifications@github.com>
wrote:

--

Todd Conkle
LinkedIn Profile <http://www.linkedin.com/in/conkle>

[2015-02-12 21:15] fernandog commented on #282
@nigewri

[2015-02-12 21:23] abeloin commented on #521
@TagForce @fernandog Can you test this pull request https://github.com/SiCKRAGETV/SickRage/pull/1303 ? It resolve the issue of low quality in backlog and snatched status

[2015-02-12 21:26] abeloin commented on #546
@tconkle Can you try disabling "Change File Date" in the post process config and try again?

[2015-02-12 21:37] TagForce commented on #521
@abeloin You don't want low quality snatched episodes appearing in the backlog overview?
Because if it's snatched now, it's snatched on the page.

[2015-02-12 21:38] #438 closed

[2015-02-12 21:38] #375 closed

[2015-02-12 21:39] #306 closed

[2015-02-12 21:39] #290 closed

[2015-02-12 21:39] fernandog commented on #589
done!

[2015-02-12 21:41] #385 closed

[2015-02-12 21:42] abeloin commented on #589
@fernandog Thanks

[2015-02-12 21:44] fernandog commented on #361
@abeloin will you commit https://github.com/abeloin/SickRage/commit/21fcea2c3155f57dba5c64a55f1f8fee02804256 ?

[2015-02-12 22:06] lbjb commented on #527
Sorry - just getting round to trying this tonight.  Change applied and currently testing. So far, so good. Will report back when it's been running a while longer.

[2015-02-12 22:07] abeloin commented on #521
@TagForce I'm not sure to understand what you mean.

Why would you want to manage snatched episode in the backlog overview? It's still downloading and Episode Overview offer that option. As soon the episode is done downloading and post processed it will show in the backlog if it's low quality.

Am I missing something in the status work flow?

[2015-02-12 22:10] TiagoDM commented on #284
Went to play soccer but i got the idea. Hadnt the chance to try yet but asa
i can, i will post the resullt.

A qui, 12/02/2015, 18:42, Fernando <notifications@github.com> escreveu:

[2015-02-12 22:13] abeloin commented on #527
@lbjb Apply SiCKRAGETV/SickRage#1292 instead(fix for 1258):

* Stop sickrage
* Dowload: https://github.com/SiCKRAGETV/SickRage/pull/1292.diff
* Command line: ```git apply 1292.diff```
* Start sickrage
* Test again

If it doesn't resolve the issue, run this in command line to remove the changes(stop sickrage first):
```git checkout develop```

[2015-02-12 22:15] TagForce commented on #521
@abeloin I don't mind having all snatched episodes being shown as snatched.
But it's inconsistent with what SR itself does. SR will still perform searches on episodes that have a status of Snatched but are not in the highest quality. It will keep on doing that until it has found the highest quality. Those episodes do not, however, show up in the BackLog Overview list. That's because the backlog ov

[2015-02-12 22:15] TiagoDM commented on #284
Probabily i will try to modify the script to run weater sickrage has an
update and change wdtv.py replacing all folder.jpg to .folder.Jpg

A qui, 12/02/2015, 22:10, Tiago Marques <tiago.dmarques@gmail.com> escreveu:

[2015-02-12 22:15] abeloin commented on #361
@fernandog I wasn't sure how you want to handle it, so I waited.

I'll make the PR

[2015-02-12 22:16] abeloin commented on #361
@fernandog PR done https://github.com/SiCKRAGETV/SickRage/pull/1304

[2015-02-12 22:33] lbjb commented on #527
OK - trying that now

[2015-02-12 22:53] abeloin commented on #521
OK, now I understand and I agree with you this should be done in the manage_backlogOverview.tmpl instead.

@TagForce @fernandog I have updated [PR1303](SiCKRAGETV/SickRage#1303). It add snatched to wanted and low qual.

[2015-02-12 22:54] lbjb commented on #527
Looks good so far.

[2015-02-12 22:55] TagForce commented on #554
@fernandog It already checks if a folder is hidden. If it is it should skip it.
I noticed 2 things:
1. It fails the check if a hidden folder is actually a folder, which causes it to return false (not hidden).
2. It only checks for a leading '.', so this check only works for linux derivatives.

I'm going to need some time, but I'll get that fixed so that it actually skips hidden folders.

[2015-02-12 22:55] tconkle commented on #546
That worked.  It's not bombing out but it's still doing weird things with
the apostrophe.  "Nashville S02E04 Youâ€™re No Angel Yourself.mp4"

SO it sounds like it's when it's trying to set the date on the file it
bombs because of the odd characters.

On Thu, Feb 12, 2015 at 4:26 PM, Alexandre Beloin <notifications@github.com>
wrote:

--

Todd Conkle
LinkedIn Profile <http://www.linkedin.com/in/con

[2015-02-12 22:56] mapleleafs89 opened #590 "Failed Processing - Nothing Snatched After"
I'm having an issue where sometimes downloads have failed (nzb's) but after they are processed as failed nothing else is snatched (ie. Torrents). See below of a manual search for Eastbound and Down but after it's post processed I don't see any other search or snatch. The status in the show still shows as snatched..

Below are the logs and SR version.

[code]

[code]

[2015-02-12 23:01] fernandog commented on #554
@Tagforce Thanks!

[2015-02-12 23:04] abeloin commented on #521
@TagForce If you set a TV series to download in HDTV for the current season and the previous season was download in SDTV, should those episode be in yellow?

[2015-02-12 23:15] fernandog commented on #521
Sadly yes. Thats why I suggested a feature request to PAUSE SEASONS. This is the biggest problem of sickbeard/sickrage. Official sickbeard says to set "Archived" but I dont want to lose the quality information

[2015-02-12 23:20] abeloin commented on #521
Then it would be easier to expand archive to include the quality

[2015-02-12 23:26] abeloin commented on #546
"Nashville S02E04 Youâ€™re No Angel Yourself.mp4" is how he write it in the file system?

What is the file system where you save that episode? ext4, smb, xfs, ...

[2015-02-12 23:40] fernandog commented on #521
Maybe. Dont know whats easier to code

[2015-02-12 23:49] abeloin commented on #521
From common.py
ARCHIVED = 6  # episodes that you don't have locally (counts toward download completion stats)

[2015-02-13 00:20] brimur opened #591 "KAT and TPB addresses do not work"
The addresses below are the ones used to check TPB and KAT but neither of these work. The KAT one does not seem to exist, maybe its a typo and should be kickass.to and the oldpiratebay.org does not seem to return anything. I had to setup a custom KAT provider to get anything.

[ThePirateBay] :: Search string: https://oldpiratebay.org/tv/latest/
[KickAssTorrents] :: Search string: http://kickass.so

[2015-02-13 00:25] tconkle commented on #546
It's ext4.

On Thu, Feb 12, 2015 at 6:26 PM, Alexandre Beloin <notifications@github.com>
wrote:

--

Todd Conkle
LinkedIn Profile <http://www.linkedin.com/in/conkle>

[2015-02-13 00:26] fernandog commented on #591
Duplicate.

[2015-02-13 00:26] #591 closed

[2015-02-13 00:26] brimur commented on #571
As a temp workaround just create a custome provier called KAT and use this as the RSS string...
[code]

[2015-02-13 00:37] fernandog commented on #546
Ssh and run:
touch Nashville.S02E04.You're.No.Angel.Yourself.720p.test

then run: ls
see how appears in the screeb

[2015-02-13 01:33] abeloin commented on #521
@fernandog Here's a patch that add quality to archive: https://github.com/abeloin/SickRage/commit/7491f33b64c610a368ec6d7df51cc36e23976dcc

It work but I'm not sure how external apps using the api will react to the change. So consider it experimental.

[2015-02-13 02:41] abeloin commented on #83
Looking at the code config.ini only apply to console logging, file logging is always debug

[2015-02-13 03:24] abeloin commented on #7
@h3llrais3r @Chaotic @Arcanemagus @skmagiik @xInsertx Can you try this pull request https://github.com/SiCKRAGETV/SickRage/pull/1306 ? It should fix the issue.

[2015-02-13 03:49] Arcanemagus commented on #7
@abeloin That did the trick, thanks!

[2015-02-13 04:11] abeloin commented on #20
@fernandog In develop branch, commit c62d8f2c799edd7daad5648f45276a3464d83a9e, it look like this:
![Imgur](http://i.imgur.com/drZn21J.png)

[2015-02-13 06:52] danielb2 opened #592 "No downloads were found Couldn't find a download for xxxx"
`No downloads were found Couldn't find a download for xxxx` that's all I see these days.  I tried downloading a fresh install with fresh database, put all my indexes in, but I get nothing.  No show works.  I should at least get something with the included indexers, I should think, but nothing with them, nor with other newznab ones.

I've tried both master and develop, but master doesn't work at al

[2015-02-13 07:51] cvockrodt commented on #336
So looking at that pull request, it seems like you've added the correct host:ports but only to the description that shows below the input field. Am I crazy?

[2015-02-13 08:30] peon420 commented on #450
Hi,

Just an update on this. Post processing stopped again today. This time I have managed to track down the time in the log where it stopped. No errors in the log. It tries to unrar a file and that's the last log entry for POSTPROCESSER.

But, the show it stops on (Blackish) is not a show I download. There was one small corrupt .rar file for that show inside the folder for The 100 S02E12. Looks l

[2015-02-13 09:06] #83 closed

[2015-02-13 09:08] fernandog commented on #592
TPB and KAT moved to another URL.
Add another provider

[2015-02-13 09:09] fernandog commented on #336
@cvockrodt what did you expect?

[2015-02-13 09:10] fernandog commented on #450
Maybe a fake release?

[2015-02-13 10:15] itsikavidan commented on #592
You could just modify the provider URL under <SickRagenstallPath>\sickbeard\providers\<ProviderName>.py
In the file you should find the self.urls attribute, change the URL to the updated one and restart SR.

I guess that in the next release it will be fixed, but until than this should work

[2015-02-13 10:25] ShinobiX9X commented on #592
I did so in .../providers/providersname.py and it does work fine now.
KAT: http://kickass.to/
TPB: https://thepiratebay.se

[2015-02-13 10:34] fernandog commented on #122
@valantislevas those releases still have the trademark icon?

[2015-02-13 10:51] fernandog commented on #590
@Tagforce duplicate isn't? the failed bug.

[2015-02-13 10:54] TagForce commented on #590
@fernandog @mapleleafs89 Yes, this looks like the issue with the failed downloads not getting properly handled.

Can you test if https://github.com/SiCKRAGETV/SickRage/pull/1292 fixes your issue? (just apply the patch or manually change the single line in failedProcessor.py to show what it reads in the green line)

[2015-02-13 11:00] #590 closed

[2015-02-13 11:02] #308 closed

[2015-02-13 11:04] fernandog commented on #294
@caiusseverus still an issue? what providers do you have enabled?

[2015-02-13 11:04] #266 closed

[2015-02-13 11:06] fernandog commented on #230
@Tagforce @Abeloin any of you uses blackhole to confirm this?

[2015-02-13 11:06] #73 closed

[2015-02-13 11:07] fernandog commented on #66
@kennyedgar can we close this? Are you still having issues? Seems corrupt DB

[2015-02-13 11:08] fernandog commented on #269
@wizzardking did you test the new develop update? Its fixed. Can you confirm?

[2015-02-13 11:12] fernandog commented on #282
https://github.com/SiCKRAGETV/sickrage-issues/issues/249

[2015-02-13 11:12] #282 closed

[2015-02-13 11:13] #340 closed

[2015-02-13 11:13] fernandog commented on #340
when reply, will reopen

[2015-02-13 11:14] fernandog commented on #15
@Rido still having this issue?

[2015-02-13 11:19] fernandog commented on #440
please SSH and run:

[code]

you should see something like this. must be UTF-8
[code]

if you don't please do this
https://sickrage.tv/forums/forum/help-support/general-support/12825-ensuring-your-locale-s-are-set-properly-to-avoid-unicode-issues

[2015-02-13 11:20] fernandog commented on #368
@yongbi85 still an issue?

[2015-02-13 11:22] fernandog commented on #82
@copekyle still an issue? are you using web root? try develop branch.

[2015-02-13 11:24] fernandog commented on #350
@quipe categories problem was fixed on DEVELOP branch. please test and report back

[2015-02-13 11:25] fernandog commented on #502
@Laidb any news on this?

[2015-02-13 11:26] fernandog commented on #88
@neoatomic still an issue? never heard from your here for a while.

[2015-02-13 11:26] fernandog commented on #71
@luxmoggy still an issue?

[2015-02-13 11:28] fernandog commented on #504
@flightlevel @combres @Kybber the IP fix is still valid? what should we do with this issue? Is there something we can code or just wait?

https://github.com/flightlevel/SickRage/blob/develop/sickbeard/providers/freshontv.py

[2015-02-13 11:31] fernandog commented on #386
@TagForce we should wait develop/master stabilizes to make changes in the DB.

[2015-02-13 11:32] fernandog commented on #521
@abeloin nice! But I think we should wait develop/master stabilizes to make changes in the DB. Otherwise user won't be able to switch master<>develop

[2015-02-13 11:34] TagForce commented on #386
@fernandog Yes, definitely. I'd rather not make changes to the DB myself. I'd rather let @echel0n fix this. He's changed the DB before, so he knows what to change and where (like the db version, etc). It's not a really big change, but still. We should wait for @echel0n te get back.

[2015-02-13 11:40] fernandog commented on #386
@TagForce what if we get the first subtitle language from "Subtitle languages" settings and use it on the file to show the flag?
The premiss is the first language is the main language for subtitle. I don't see an user adding more than one language to the list

[2015-02-13 11:41] neoatomic commented on #88
Yes still not solved.
Subtitle language i use is Dutch but if i look at the links that are used for the flag it points to completely different names. :
[code]
(Think dutch should be nl.png)

The subtitle (srt) files are downloaded in dutch, so they are correct.

So it seems something is going wrong when SR is creating the links for the flags.
I recall seeing a commit about using 3 character flags

[2015-02-13 11:48] TagForce commented on #386
@fernandog That introduces a rather big error margin. That solution would be a bandaid, at best. The point is that you CAN set more than one language, so it should handle that properly. I don't think the problem is urgent enough to warrant doing it this way. It doesn't break SR, nor is it impeding anyone. It's purely cosmetic, so I'd rather just wait and fix it the right way at once.

[2015-02-13 11:50] fernandog commented on #88
@neoatomic can you try develop branch?

[2015-02-13 11:52] neoatomic commented on #88
I'm at develop.
[code]

[2015-02-13 11:55] fernandog commented on #88
@neoatomic check the page code and get the img url. try to open only it

[2015-02-13 11:56] neoatomic commented on #88
For RS.png i get :

[code]

So noting there...

[2015-02-13 12:00] fernandog commented on #88
should be rs.png, not RS.png

can you try copy the URL of the image (browser) and try to open rs.png ?

[2015-02-13 12:02] neoatomic commented on #88
@fernandog According to my history page its RS.png so that is the first error than.

But again the flag needs to be nl.png. (dont even know what flag RS.png is...)

[2015-02-13 12:06] fernandog commented on #231
as @Hellowlol said here https://github.com/SiCKRAGETV/SickRage/pull/1247#issuecomment-71493899
we still need to find the None floating around the the program

waiting @echel0n

[2015-02-13 12:10] fernandog commented on #88
@Abeloin, this PR shouldn't fix this?
https://github.com/SiCKRAGETV/SickRage/pull/1210/

this PR should'nt delete all single country flag files and use only the country-flags.png ?

[2015-02-13 12:11] fernandog commented on #88
@neoatomic what about the "TypeError: %d format: a number is required, not NoneType" error? still happening?

[2015-02-13 12:15] neoatomic commented on #88
No, haven't seen that error anymore. Only the flag problem is still there.

[2015-02-13 12:32] TagForce commented on #554
@sukosevato @fernandog
Ok, so this is turning out to be more of a nightmare than I thought.
Apparently there's no default way to get file attributes in Windows without using some kind of external module. I don't want to do that, because that would mean that Windows users would either be limited to PyWin32 (which has it included) or that users install the Win32api module from PyWin32 into their own

[2015-02-13 12:43] fernandog commented on #554
Why dont you read the attrib using
os.system('attrib foldername')

[2015-02-13 13:12] neoatomic commented on #386
As those 2 issues are not mentioned here before. :

https://github.com/SiCKRAGETV/sickrage-issues/issues/88
https://github.com/SiCKRAGETV/sickrage-issues/issues/96

Looks to be related/same as this.

[2015-02-13 13:27] fernandog commented on #88
@neoatomic its diffent. you didn't select "multilanguage"

[2015-02-13 13:28] fernandog commented on #554
[code]

[2015-02-13 13:29] TagForce commented on #554
Because I don't want to run any commands outside of SR. This is always a security risk.
No matter how little of a security risk it is.

[2015-02-13 13:29] fernandog commented on #554
I see.

[2015-02-13 13:46] Kolmain opened #593 "Failed doing webui callback error"
I'm getting this error repeatedly on the latest update.

[code]

[2015-02-13 14:03] TagForce commented on #386
@fernandog First one is the same issue.
Second one is seemingly unrelated (actual wrong flag being displayed)

[2015-02-13 14:05] TagForce commented on #554
@sukosevato @fernandog
Fixed it :)
I was being dense... It needs the full path to check for attributes, and I gave it the foldername only.

Please test https://github.com/SiCKRAGETV/SickRage/pull/1309 if you can. It should now always skip hidden folders, regardless of OS.

[2015-02-13 14:10] fernandog commented on #554
Nice. Thanks!

[2015-02-13 14:16] Psychoteur commented on #552
Hello,
that's what I did,  but it's not practical since I've to check my queue and delete things by hand.

Thanks.

Date: Mon, 9 Feb 2015 07:37:58 -0800
From: notifications@github.com
To: sickrage-issues@noreply.github.com
CC: p.psycho_@hotmail.com
Subject: Re: [sickrage-issues] Post-processing move files disappear  (#552)

@Psychoteur try change to COPY instead of MOVE.

—
Reply to this email dir

[2015-02-13 14:24] fernandog commented on #552
Follow guidelines

[2015-02-13 14:31] abeloin commented on #336
@cvockrodt Yes, I only added them as a description. I thought about it and I think it is better to force the user to enter the url and show an error if empty than, to autofill and get connection failed error in the log.

It doesn't show an error yet but it will with searchProviders/searchSetting overhaul patch I'll submit later.

[2015-02-13 14:32] Psychoteur commented on #552
Sorry, it was a quick answer since I'm at work and I will not have time to
  post a proper issue report before Sunday.

Again sorry.
Date: Fri, 13 Feb 2015 06:24:57 -0800
From: notifications@github.com
To: sickrage-issues@noreply.github.com
CC: p.psycho_@hotmail.com
Subject: Re: [sickrage-issues] Post-processing move files disappear  (#552)

Follow guidelines

—
Reply to this email directly or vie

[2015-02-13 14:37] abeloin commented on #450
@peon420 Are you still on the master branch? If so can you switch to develop. It contain an updated version of unrar2.

Also you should consider upgrading python to 2.7.8(not 2.7.9 there issue with SSL) as 2.7.3 is rather old.

[2015-02-13 14:57] abeloin commented on #230
Might be related to the fact that ezrss.it is down since around 2014-12-14. It was supposed to be ezrss.ch(like eztv.ch) but it still not online. Also now KAT need it's url changed.

I tried it with the develop branch, torrent blackhole works without issue.

@copekyle Can you disable ezrss and change line 58 of sickbeard/providers/KAT.py from:
[code]
to
[code]

[2015-02-13 15:05] #230 closed

[2015-02-13 15:08] copekyle commented on #82
No longer an issue using the Development branch.

[2015-02-13 15:11] TagForce commented on #562
@nytemyst It should only break out of the entire PP run when it encounters syncfiles or if the folder you're trying to PP does not exist or can't be accessed.
That's the only time the ProcessDir function returns a value other than at the end of the run.
It should continue on other errors.

Can you provide a log with an example of another error that halts PP completely?

I think encountering .sync

[2015-02-13 15:12] #82 closed

[2015-02-13 15:12] abeloin commented on #521
@fernandog I agree with you, that why I called it experimental.r

Have you tried PR1303? Let me know if something missing.

[2015-02-13 15:15] fernandog commented on #521
@abeloin not yet. will try this weekend. weeks days I only have extra time at work =)
thanks!

[2015-02-13 15:21] abeloin commented on #88
@fernandog Nope, PR1210 separate the flag used by the subtitle(language) and flag used to display a show's country. As ca(Canada) is not the same as ca(Catalan). See my comment https://github.com/SiCKRAGETV/sickrage-issues/issues/447#issuecomment-70739549

Let me check the code for the subtitle flags.

[2015-02-13 15:25] kennyedgar commented on #66
Please close, I adjusted the way I was running the app and have been fine:)  thanks for the good work!

Sent from my iPhone

[2015-02-13 15:47] fernandog commented on #66
@kennyedgar can you explain so other users use that information?

[2015-02-13 15:47] #66 closed

[2015-02-13 15:59] fernandog commented on #593
please switch to DEVELOP branch. It's fixed

[2015-02-13 15:59] #593 closed

[2015-02-13 16:10] fernandog commented on #384
@sacii

[2015-02-13 16:26] fernandog commented on #20
light theme seems ok here

![sr-restart-icon](https://cloud.githubusercontent.com/assets/2620870/6190874/52e4ce60-b38c-11e4-8984-33042c82c6f7.png)

[2015-02-13 16:27] #20 closed

[2015-02-13 16:29] abeloin commented on #88
I've run some tests but I'm unable to reproduce the error:
![Imgur](http://i.imgur.com/IdVd21l.png)

[2015-02-13 16:30] fernandog commented on #88
@abeloin what about dutch subtitle?

[2015-02-13 16:32] abeloin commented on #88
It's the first one in the image

[2015-02-13 16:33] abeloin commented on #88
@neoatomic What the filename of the srt? Show Name.S0101.Title.srt?

[2015-02-13 16:39] neoatomic commented on #88
@abeloin Did you deselected "Subtitles Multi-Language Append language codes to subtitle filenames? " ?
Will check the filename.

[2015-02-13 16:40] alaorath opened #594 "Feature Request: gracefully handle exception thrown when an episode no longer exists after being fully processed"
I have two folders for TV shows - "normal" ones, and my wife's CSI crap.  :)

Since she deletes episodes after watching them... it causes a huge problem for the web page of that show (it throws an exception).

The only work-around I've found is to manually recreate a zero-byte file with the same name, refresh the show page, change the episode to "IGNORED", then finally delete the zero-byte episode

[2015-02-13 16:46] alaorath commented on #571
After editing the kat.py file, do you also need to recompile the .pyc?

[2015-02-13 16:46] danielb2 commented on #592
Would you reopen this please? I don't use torrents, and it's simply not working with ANY providers. I have over five ones in there.  It worked fine until I updated.   As I said, it doesn't even work with a fresh install.

[2015-02-13 16:47] fernandog commented on #594
I also delete and there is no exception.
Stop SR, edit config.ini and set to 1 skip_removed or something like that.

[2015-02-13 16:48] fernandog commented on #571
Stop SR, edit kat.py, restart SR. Just thst

[2015-02-13 16:49] fernandog commented on #592
Follow guidelines then. Post full logs and all info

[2015-02-13 16:55] caiusseverus commented on #294
I've changed a few things since I posted this, but the issue still seems to be present. I did have quite a few providers enabled including usenet-crawler, sickrage index, nzbtv, and a few others, but I've mitigated it somewhat by installing nzbmegasearch which proxies the newsnab requests and has the bonus of eliminating duplicates from multiple providers. I've also switched to a raspberry pi 2, w

[2015-02-13 16:55] abeloin commented on #88
I'm afraid I didn't. Deselected now.
Mmm.. It take the filename last 2 chars to generate the language code and the value in the db is und.

[2015-02-13 17:00] neoatomic commented on #88
Cant SR use the language code in the config.ini.? Under "subtitles_languages = nl "
Would be a easy fix than.

[2015-02-13 17:01] alaorath opened #595 "init.debian is using "return" in the case statement for "restart" option only (should be exit)"
Line 147 should be:
exit $?

[code]

[2015-02-13 17:07] fernandog commented on #294
really don't know

[2015-02-13 17:08] fernandog commented on #88
@abeloin check this comment: https://github.com/SiCKRAGETV/sickrage-issues/issues/386#issuecomment-72199095

[2015-02-13 17:15] fernandog commented on #329
@abeloin your local commit fixes it?

[2015-02-13 17:20] danielb2 commented on #592
Fair enough. Coming up.

[2015-02-13 17:25] alaorath commented on #567
Unfortunately I've manually renamed the specific examples I found, and the log files have long been over-written...

`find . -type f -name '*unknown*.*'`
no results.

[2015-02-13 17:37] alaorath commented on #83
@abeloin, that explains it.

Alternative I came up with... I manually edited the number of (and size) of the log files generated in logger.py:

`115             rfh = logging.handlers.RotatingFileHandler(self.logFile, maxBytes=1024 * 1024 * 5, backupCount=    10, encoding='utf-8')`

Or I could merge your logger change #276 into my install... if I knew how to grab a commit.  :grinning:

[2015-02-13 17:59] fernandog commented on #595
@alaorath what works for you?

[2015-02-13 18:05] alaorath commented on #594
Confirmed **skip_removed_files = 1** works fine.

Closing.

[2015-02-13 18:05] #594 closed

[2015-02-13 18:13] danielb2 commented on #592
**Branch:**  `develop`

**Commit hash:** `401cb666016e45b42fe675bafdf7908ad6c2b9bb`

**Your operating system and python version:**

[code]

**What you did:**

I searched for `Elfen Lied` or any other show

**What happened:**

Episode was not found despite being available. I tired multiple providers

**What you expected:**

I expected an episode to be found.

**Link to a copy/paste of your logfile

[2015-02-13 18:14] alaorath commented on #595
I changed line 147 to 'exit $?' and that eliminated the error with restarting...

Existing master:
    $ sudo /etc/init.d/sickbeard restart
    /etc/init.d/sickbeard: line 148: return: can only 'return' from a function or sourced script
    $

After changing line 147:
    $ sudo /etc/init.d/sickbeard restart
    $

[2015-02-13 18:21] fernandog commented on #595
@alaorath

click the pencil, edit the file, insert a title and make a pull request
https://github.com/SiCKRAGETV/SickRage/blob/develop/init.debian

always do this in **DEVELOP** branch

can you check other init scripts for the same error?

[2015-02-13 18:24] fernandog commented on #592
[code]

please ENABLE at least one search provider settings

[2015-02-13 18:29] alaorath commented on #595
Checked the others, didn't see anything obvious (but I'm not really familiar with non-Debian init scripts).

[2015-02-13 18:38] danielb2 commented on #592
This is what I have. What am I missing?

![screen shot 2015-02-13 at 10 37 51 am](https://cloud.githubusercontent.com/assets/26678/6193023/6130000e-b36c-11e4-955c-9210e8cd14be.png)
![screen shot 2015-02-13 at 10 37 47 am](https://cloud.githubusercontent.com/assets/26678/6193025/636e9be6-b36c-11e4-9ace-46482313be7e.png)
![screen shot 2015-02-13 at 10 37 42 am](https://cloud.githubusercontent.com/as

[2015-02-13 18:41] danielb2 commented on #592
[config.ini](https://gist.github.com/danielb2/b41f3973a06c18c65d7e)

[2015-02-13 18:43] fernandog commented on #592
that's strange
try enable nzbs.org

[2015-02-13 18:45] danielb2 commented on #592
Do you have a way I can get an account there?   AS mentioned, I have several newznab accounts, but none of them work either. The result is the same

[2015-02-13 18:48] fernandog commented on #592
which one do you have? did you try custom newznab provider?

[2015-02-13 18:49] danielb2 commented on #592
http://nzbid.org/  for example

[2015-02-13 18:50] danielb2 commented on #592
If you have another one that you'd like me to try that's not closed, I'd be happy to put it in.

[2015-02-13 18:52] fernandog commented on #592
@danielb2 try this one: https://www.oznzb.com/register

[2015-02-13 19:57] abeloin commented on #88
@neoatomic Can you try this commit: https://github.com/abeloin/SickRage/commit/d3ab12ff64966b8a803b0a9e9891ead44ff4dc43 . It should do the trick.

Note:
* The history will always have unknown flags.
* Your current show's subtitles should be unknown.
* Subtitles download after this patch will have the proper flag.

[2015-02-13 20:03] abeloin commented on #88
@fernandog Yeah the history doesn't contain the data.

Ultimately, we will have to create a table subtitles which will track each subtitles files with their metedata. Also adding the subtitles lang to history.

[2015-02-13 20:34] fernandog commented on #88
@abeloin thanks! I agree. Let's wait to master/develop stabilizes then we make this and other changed to the DB.

[2015-02-13 20:45] abeloin commented on #88
@fernandog Yes

[2015-02-13 20:54] abeloin commented on #83
@alaorath Also you could change line 117 from:
[code]
to
[code]
which would only log info in the log when debug=0

As for #276 if it's github commit append .diff to the commit url, it will give you a diff file that you can patch.

[2015-02-13 20:59] abeloin commented on #329
It fix the output of the anime error in the tv section.

In his case it fail in the bare regex which I'm triyng to figure out why it wont.

[2015-02-13 21:08] fernandog commented on #83
@abeloin I would'nt change this otherwise the auto submit issue won't work properly.

[2015-02-13 21:10] abeloin commented on #83
@fernandog That's a given :wink:

[2015-02-13 21:20] fernandog commented on #83
@abeloin we are still waiting your fix for the auto submit issue =(

[2015-02-13 22:08] SpecialKeezie opened #596 "Adding custom provider creates error popup "Not a valid bencoded string""
Hi, i have searched high and low and cannot find an answer to this question

Here is what it says in the debug log:
http://pastebin.com/PyVFXuHs

BRANCH: (develop)
COMMIT: (c62d8f2c799edd7daad5648f45276a3464d83a9e)
Python 2.7.9
Windows 8

I completely reinstalled SickRage from scratch a couple days ago after updating Python and moving SickRage to a new drive. I added a couple of custom feeds to th

[2015-02-13 22:10] xxx1983 commented on #391
My apologies for such a late update.
I did apply the commit and it worked like a charm. Many thanks for this!

[2015-02-13 23:40] fernandog commented on #391
@TagForce can you PR your commit please? thanks!

[2015-02-13 23:48] mapleleafs89 commented on #590
Thanks. Can you advise how I can manually pull this one commit?

[2015-02-13 23:50] fernandog commented on #590
@mapleleafs89  stop SR, edit SickRage/sickbeard/failedProcessor.py and change

from
[code]

to
[code]

[2015-02-13 23:53] mapleleafs89 commented on #590
Thanks. I edited and will test.

[2015-02-14 00:24] danielb2 commented on #592
Here it is with oznzb.com  https://gist.github.com/danielb2/0672b56341a026912770

[2015-02-14 01:31] Alebran opened #597 "Scene numbering not updating."
I have two shows (Pawn Stars and Bar Rescue) that require scene numbering, the problem is that the scene numbering hasn't been updated for the last few shows which has caused them to not get picked up. See attached image.

![pawn stars](https://cloud.githubusercontent.com/assets/11000898/6198031/76751d22-b3ae-11e4-98a1-2572e97dbd09.jpg)

I am in the developmental branch
BRANCH: (develop) / COMMIT:

[2015-02-14 03:31] mapleleafs89 commented on #590
Appears to have fixed it.

[2015-02-14 03:44] tjw1184 commented on #547
Looked at the diff for the PR and saw it was just two changes to manually applied them.  That seemed to fix the broken failed download processing.

After testing, the original issue seems to remain though.  An example I often get is an episode that is at 720p quality.  It snatches one at 1080p, but that episode fails downloading.  It then processes the failed download and re-downloads the episode

[2015-02-14 06:12] TagForce commented on #391
PR 1223 has been open for a while. :)

[2015-02-14 06:39] iamascientician opened #598 "Error Sending Tweet: error [{u'message': u'Status is over 140 characters.', u'code': 186}]"
I am getting the following error during post processing:

 Error Sending Tweet: error [{u'message': u'Status is over 140 characters.', u'code': 186}]

SR Version:  BRANCH: (master) / COMMIT: (33e95870e0c1b241c93f541d4ee27ed6ba3bfcb8)
Python Version: 2.7.8 (default, Jun 30 2014, 16:08:48) [MSC v.1500 64 bit (AMD64)]

[2015-02-14 07:00] amblique commented on #585
Re-installed the plugin. Installed unrar with pkg install unrar, not pkg_add -r unrar.
Now it works.

Thanks for your help guys

[2015-02-14 07:00] #585 closed

[2015-02-14 08:31] abeloin commented on #597
The scene numbering is handled by [theXEM module](http://thexem.de).

Looking at XEM website it stop at 12x6 so until they update their data it will stay like this. You can create an account and update the data if you want.

Ref:
* http://thexem.de/xem/show/1759
* http://thexem.de/xem/show/1737

[2015-02-14 08:31] flightlevel commented on #504
Hi @fernandog
The hostname has been back working for me now for the last 24 hours, so I don't think we should change it to the IP.

However, do you think the _doLogin section https://github.com/SiCKRAGETV/SickRage/blob/develop/sickbeard/providers/freshontv.py (from line 90) is coded well?
At the moment it assumes any http response that doesn't contain ```Username does not exist in the userbase or

[2015-02-14 09:43] tcraib opened #599 "Unable to match Hawaii Five-0 Regex on Fetching from RSS and PostProcessing"
Sick Rage is unable to match the Hawaii Five-0 regex when looking at an RSS feed and when attempting to PostProcess the downloaded file. The Post procesing says completed successfully but the file is not moved and renamed to the correct location but remains in the download folder.

Looking at the RRS feed Debug Log:

Looking at PostProcessing DebugLog

[2015-02-14 09:47] tcraib opened #600 "Paused shows episodes added to backlog incorrectly"
When a show is set to paused, new episodes are set Wanted and added to the backlog instead of being set to ignored/skipped and not added to the backlog.

[2015-02-14 10:35] abeloin commented on #599
Please consult the following on what to provide when opening an issue: https://github.com/SiCKRAGETV/sickrage-issues
* Please provide complete logs.
* What's the scene name exceptions for that show? You should have at least 'Hawaii Five-0 2010'

[2015-02-14 10:37] abeloin commented on #600
Please consult the following on what to provide when opening an issue: https://github.com/SiCKRAGETV/sickrage-issues

[2015-02-14 10:59] #600 closed

[2015-02-14 10:59] #599 closed

[2015-02-14 11:03] fernandog commented on #504
Good idea. But still keep the username check.

[2015-02-14 11:04] #597 closed

[2015-02-14 11:05] fernandog commented on #391
Sorry!

[2015-02-14 11:08] fernandog commented on #547
Its correct I guess. When it downloads the 1080p SR loses the information about previous download.

[2015-02-14 11:26] fernandog commented on #598
https://github.com/SiCKRAGETV/sickrage-issues/

[2015-02-14 11:26] #598 closed

[2015-02-14 11:30] fernandog commented on #596
what about http://extratorrent.cc/rss.xml?type=popular&cid=8

[2015-02-14 13:07] SpecialKeezie commented on #596
tried it, as well as the link without the cookies and i get a different error "no items found in rss feed". Here is the log when trying it that way

http://pastebin.com/m0Hph4r3

i've tried many other addresses for other providers, no matter what i get one of the two errors

[2015-02-14 13:08] Gobbomaster opened #601 "Sickrage doesn't download found nzbs from Usenet Crawler"
Hi,

Episodes are currently not downloaded when using Usenet Crawler. A manual search results in the following log. As you can see the provided links are valid and yield results, I can't find out why none of the nzbs are actually downloaded.

Log
http://pastebin.com/W4BDd3Uj

Software:
BRANCH: (master) / COMMIT: (401cb666016e45b42fe675bafdf7908ad6c2b9bb)
Python Version:	2.7.8 (default, Jun 30 2014

[2015-02-14 13:12] fernandog commented on #601
Please follow guidelines
 https://github.com/SiCKRAGETV/sickrage-issues/issues

[2015-02-14 13:20] fernandog commented on #596
@SpecialKeezie Try RARBG if does not work is something on your setup

http://rarbg.com/rssdd.php

[2015-02-14 14:13] burgertime78 opened #602 "CHECKVERSION fails - cannot connect to git"
SR Version:	BRANCH: (master) / COMMIT: (401cb666016e45b42fe675bafdf7908ad6c2b9bb)
SR Config file:	C:\SickRage\config.ini
SR Database file:	C:\SickRage\sickbeard.db
SR Cache Dir:	C:\SickRage\cache
SR Arguments:	[]
SR Web Root:
Python Version:	2.7.8 (default, Jun 30 2014, 16:08:48) [MSC v.1500 64 bit (AMD64)]

This is found multiple locations in my log:

2015-02-09 07:24:36 CHECKVERSION :: Unable to

[2015-02-14 14:55] Gobbomaster commented on #601
Did I still miss things?

[2015-02-14 15:22] fernandog commented on #601
No

[2015-02-14 15:24] fernandog commented on #602
Check your git user and password

[2015-02-14 15:44] ion-storm commented on #571
confirmed, editing line:
self.urls = {'base_url': 'http://kickass.so/'}
changing it to:
self.urls = {'base_url': 'http://kickass.to/'}
fixes the problem, thanks guys

[2015-02-14 16:52] abeloin commented on #596
@SpecialKeezie I see that you have python 2.7.9, can you try applying this commit and restart sickrage:

https://github.com/SiCKRAGETV/SickRage/pull/1304/files

[2015-02-14 17:56] pwolstenholme commented on #571
For Synology, the provider file can be found here:

/var/packages/sickbeard-custom/target/var/SickBeard/sickbeard/providers

Edit the file by typing ```vi kat.py```. Press the <kbd>i</kbd> key once to start editing the file. When you're done, press <kbd>esc</kbd> then type ```:wq``` to save and quit.

There's more help editing files here: http://www.cs.colostate.edu/helpdocs/vi.html

[2015-02-14 18:27] lsborg commented on #570
I'm having the same issue, which providers are working?

[2015-02-14 19:02] lsborg commented on #570
All public providers are failing:
ThePirateBay
KickAssTorrents
NyaaTorrents
EZRSS
TokyoToshokan
NextGen

[2015-02-14 19:09] carleycr opened #603 "Not creating season folders"
Sickrage on FreeNAS 9.3 Stable is not creating season folders. It's not a permissions issue as it can write to the dataset. It will download episodes, however it does not create season folders and put the episodes in those folders.

[2015-02-14 19:11] #603 closed

[2015-02-14 19:30] abeloin commented on #570
@lsborg You better create a new issue as this one is closed

[2015-02-14 19:51] lsborg commented on #570
haha, i didn't noticed it.

Thanks, @abeloin!

[2015-02-14 20:17] lsborg opened #604 "Unable to connect to TorrentBytes provider"
First of all, thanks for providing SickRage!

After realizing the open trackers are not working, I joined TorrentBytes and on the first try, after joining and configuring the provider, I got the error:

    2015-02-14 17:53:27 SEARCHQUEUE-BACKLOG-269650 :: [TorrentBytes] :: Unable to connect to TorrentBytes provider: error HTTPSConnectionPool(host='www.torrentbytes.net', port=443): Max retries exc

[2015-02-14 20:25] fernandog commented on #604
@lsborg [Errno 110] Connection timed out

maybe the site is having some problems

[2015-02-14 20:28] fernandog commented on #596
@SpecialKeezie any luck?

[2015-02-14 20:28] fernandog commented on #603
follow guidelines https://github.com/SiCKRAGETV/sickrage-issues/

[2015-02-14 21:21] lsborg commented on #604
It is accessible via browser (https://www.torrentbytes.net/takelogin.php, i get a 200 on a simple GET). I'm not using a proxy.

[2015-02-14 21:23] lsborg commented on #604
Is [this](https://github.com/SiCKRAGETV/SickRage/blob/master/sickbeard/providers/torrentbytes.py) timeout in seconds or milliseconds?

    response = self.session.post(self.urls['login'], data=login_params, timeout=30, verify=False)

[2015-02-14 21:26] fernandog commented on #604
Seconds

[2015-02-14 21:27] fernandog commented on #604
Can you login in the browser?

[2015-02-14 21:30] lsborg commented on #604
yes.

[2015-02-14 21:34] fernandog commented on #604
"4 failed login attempts within 30 minutes will get your ip banned for 24 hours !
"

your browser and SR shares the same IP?

[2015-02-14 21:36] lsborg commented on #604
Not the same IP. SR is in a server.

[2015-02-14 21:37] lsborg commented on #604
I just logged in via browser. It should have zeroed my failed attempts.

[2015-02-14 21:40] fernandog commented on #604
No. Ban is IP not username

[2015-02-14 21:42] abeloin commented on #604
Try wget or curl to torrentbytes from your server.

[2015-02-14 21:44] lsborg commented on #604
Got 200.

[2015-02-14 21:54] abeloin commented on #604
Have you tried wget or curl with https://www.torrentbytes.net/takelogin.php?

[2015-02-14 21:58] lsborg commented on #604
wget gave me 200, i also did a curl -d which worked.

[2015-02-14 21:59] SpecialKeezie commented on #596
Sorry just got home from work. The RARBG link actually worked! I looked for a link to their RSS feed last night and couldn't find it, so thank you for providing that

@abeloin , i will try applying that commit. I'm relatively new to GitHub, although no stranger to copying/pasting code, what would be the easiest way to apply the fix? pasting the change into the actual file, or is there a way to act

[2015-02-14 22:02] abeloin commented on #604
Ok, looking at the code it look like they change some code:
* Change the value of line 84 from 'submit' to 'Log in!'

[2015-02-14 22:03] lsborg commented on #604
Part of the response, using curl:

I tested and it made no difference. Unless curl keeps the auth cookies, does it?

[2015-02-14 22:04] abeloin commented on #604
I don't think so

[2015-02-14 22:05] lsborg commented on #604
I used:

[2015-02-14 22:06] abeloin commented on #604
Ok but you need to change the login parameter to 'Log in!' as per my previous comment.

[2015-02-14 22:13] abeloin commented on #596
@SpecialKeezie

* Stop sickrage
* Open a SickRage.py in notepad.
* Insert the following at line 52:
[code]
* Start sickrage and test

[2015-02-14 22:16] lsborg commented on #604
It worked, but i don't get how?! Why haven't curl failed??

[2015-02-14 22:51] abeloin commented on #604
Because it return a blank page if the validation fail because it's missing the returnto = "/" in the parameters.

[2015-02-15 00:36] Nmisis21 commented on #571
Does anyone know where to find the providers folder in FreeNAS?

It doesn't appear to be the same as the ones stated or I'm not looking properly.

I've tried looking in the Jail via SSH, but am having no luck locating it.

[2015-02-15 01:43] SpecialKeezie commented on #596
@abeloin Added the commit, tried adding Extra Torrent again (since i knew it was one that for sure gave the error every time), and lo and behold it works now. Thank you so much for your help

[2015-02-15 01:43] #596 closed

[2015-02-15 06:56] EmielH commented on #3
I'll try! I haven't seen this happen in quite a while, so I'll have to use the reproduction steps that are shown above.

[2015-02-15 07:11] Hit-Bug commented on #537
I cannot find /usr/pbi/sickrae-amd64/etc/rc.d

Even with the correction of /usr/pbi/sickrage-amd64/etc/rc.d

[2015-02-15 07:21] Hit-Bug commented on #537
Nevermind, it was outside the jail, please edit your comment, that was misleading.

[2015-02-15 09:43] Hit-Bug opened #605 "Email does not work after download is finished"
I have a server running freenas and sickrage in a jail running the normal PBI. I have everything working but the email is not functioning as it should be, I'm on the master branch, I don't know how to get the commit hash, the python version is 2.7.8 and what I did is install sickrage from freenas plugins, set it up  through the settings in sickrage and that's it. What I expected was that the email

[2015-02-15 13:30] abeloin commented on #605
Sickrage is trying to connect to the smtp server but it doesn't reply in the allotted time hence the time out.

Check your settings in sickrage's email notifications section.

[2015-02-15 14:16] udochrist opened #606 "default folder not used when adding new shows"
i have 3 tv libraries which are separate folders for sickrage. the default library should be the third one in the list. i’ve marked the third one as default and it is flagged with an asterisk in the list.
when i directly add a show from the "search show" page sickrage chooses the first directory an not the default one. same when i go through the individual pages. its always the first directory tha

[2015-02-15 14:26] Hit-Bug commented on #605
The settings are fine, the test email passes. Problem persists

[2015-02-15 14:58] abeloin commented on #605
I've tested it with master and dev with gmail and it worked as intended.

Maybe your provider limit the number of emails you can send per short amount of time? What's your smtp provider?

[2015-02-15 16:11] fernandog commented on #606
@abeloin.

this is the cause.
Do you know a better way to fix this and the original issue?

https://github.com/SiCKRAGETV/SickRage/issues/1178

https://github.com/SiCKRAGETV/sickrage-issues/issues/286

[2015-02-15 16:18] fernandog commented on #601
what qualities are you searching for?
Can you provider the XML result of the search URLl? I don't have an API for that indexer.

[2015-02-15 16:26] abeloin commented on #606
@udochrist Try the following pull request: https://github.com/SiCKRAGETV/SickRage/pull/1318 . It will fix your issue.

[2015-02-15 16:39] abeloin commented on #606
@fernandog The root cause of issue #286 is the jquery update which broke a lot of code and PR1178 wasn't a fix as it simply hard coded the value. #286 was resolved by PR1192.

The code to select the default path is in rootDirs.js

[2015-02-15 17:07] CoenraadS opened #607 "Feature Request: Custom RSS title element"
Hello

Currently the RSS parser only looks at `<title>` for information. It would be nice if we could specify a different element for it to look at.

e.g. A showRSS feed looks like this:

[code]

It would be nice if I could configure the RSS feed to look at `<showrss:rawtitle>` for title information.

[2015-02-15 17:09] fernandog commented on #606
@abeloin ok. thanks!

[2015-02-15 17:21] #602 closed

[2015-02-15 18:17] abeloin commented on #579
@brando56894 Reopen the issue.

When you did git reset hard it have bring you back to commit c62d8f2c799edd7daad5648f45276a3464d83a9e. Can you provide me the result of ```git log```?

[2015-02-15 18:52] scythe000 opened #608 "Kickass and Pirate bay broken"
Kickass.so died, but is up at kickass.to. Also the Pirate Bay is back, but it doesn't seem to be pulling any results for now.

[2015-02-15 19:39] #608 closed

[2015-02-15 20:48] fernandog commented on #589
@abeloin @TagForce
issue updated

[2015-02-15 21:41] abeloin commented on #589
@fernandog Yes I will give you a hand in merging all those PR.

Here's what I was thinking:
1. Apply all critical fixes(bugs)) in develop first.
2. Test the critical fixes.
3. Push develop to master.
4. Apply non-critical(Improvements) fixes to develop
5. Test the develop branch.
6. After develop is stable push to master

[2015-02-15 21:44] fernandog commented on #589
That is fin to me! Thank for the help

[2015-02-15 21:59] fernandog commented on #589
@abeloin did you received the invitation?

[2015-02-15 22:06] abeloin commented on #589
@fernandog Yes I just confirmed it.

[2015-02-15 22:29] abeloin commented on #589
@fernandog Here the PR I think should be merge in step 1(Let me know what you think?):

https://github.com/SiCKRAGETV/SickRage/pull/1207 --> Url change torrentday
https://github.com/SiCKRAGETV/SickRage/pull/1224 --> Accent char fix
https://github.com/SiCKRAGETV/SickRage/pull/1230 --> ical network empty
https://github.com/SiCKRAGETV/SickRage/pull/1231 --> Metadata renamer
https://github.com/SiCKRAG

[2015-02-15 22:33] fernandog commented on #589
@abeloin what about https://github.com/SiCKRAGETV/SickRage/pull/1270 ? This one I would merge both master and develop

[2015-02-15 22:40] abeloin commented on #589
I didn't add it as there is a commit to change kat url from .so to .to in it and not to conflict with PR1264.
I'll add it and resolve the conflict.

[2015-02-15 22:43] abeloin commented on #589
See other PR?

[2015-02-15 22:46] fernandog commented on #589
No. Fire away.

[2015-02-15 23:02] fernandog commented on #589
@abeloin dont forget about that special PR.

[2015-02-15 23:02] abeloin commented on #589
Thanks for the reminder

[2015-02-15 23:09] abeloin commented on #589
There you go: https://github.com/SiCKRAGETV/SickRage/pull/1320

[2015-02-15 23:45] abeloin commented on #589
@fernandog Can you test the develop branch?

[2015-02-15 23:47] fernandog commented on #589
yes

[2015-02-16 00:01] fernandog commented on #589
@abeloin seems ok so far! thanks!

[2015-02-16 00:06] fernandog commented on #589
@abeloin can't we merge this PR too?

1265
1154
1281

[2015-02-16 00:07] abeloin commented on #589
Ok good. I've added PR1321 as PR1315 was missing 2 changes.

[2015-02-16 00:08] fernandog commented on #435
@Trever123 develop update. please test and report back

[2015-02-16 00:09] #453 closed

[2015-02-16 00:10] fernandog commented on #457
@Captsha develop updated. please test and report back

[2015-02-16 00:10] #491 closed

[2015-02-16 00:11] fernandog commented on #511
@edgard develop updated. please test and report back

[2015-02-16 00:12] fernandog commented on #571
@moust4ki  develop updated. please test and report back

[2015-02-16 00:12] abeloin commented on #589
@fernandog
* PR1265 kickass commit again will have to merge manually. I don't like the title of his commit:"Add an untested upstart file." Shouldn't this go into develop after develop is merged into master?
* PR1154 Done
* PR1281 I didn't because of your comment about the ssl issue.

[2015-02-16 00:14] fernandog commented on #606
@udochrist  develop updated. please test and report back

[2015-02-16 00:15] fernandog commented on #604
@lsborg  develop updated. please test and report back

[2015-02-16 00:17] fernandog commented on #302
@abeloin will this PR be added to develop too?

[2015-02-16 00:18] fernandog commented on #541
@SoWhy develop updated. please test and report back.

[2015-02-16 00:19] fernandog commented on #536
@Quiptix develop updated. please test and report back

[2015-02-16 00:19] fernandog commented on #534
@tchirou  develop updated. please test and report back

[2015-02-16 00:20] fernandog commented on #527
@lbjb  develop updated. please test and report back

[2015-02-16 00:20] fernandog commented on #523
@Jezze83  develop updated. please test and report back

[2015-02-16 00:21] fernandog commented on #483
@Greg0rz  develop updated. please test and report back

[2015-02-16 00:22] fernandog commented on #482
@abeloin what about this one?
https://github.com/abeloin/SickRage/commit/f1d46a54cea4e0ec542c2e8c1a66808d0ac88698

[2015-02-16 00:23] fernandog commented on #431
@boeggild develop update. please test and report back

[2015-02-16 00:24] fernandog commented on #427
@madpuma13 develop updated. please test and report back

[2015-02-16 00:25] fernandog commented on #311
@spirro develop updated. please test and report back

[2015-02-16 00:26] fernandog commented on #336
@cvockrodt develop updated. please test and report back

[2015-02-16 00:26] fernandog commented on #358
@yongbi85 develop updated. please test and report back

[2015-02-16 00:26] abeloin commented on #579
@brando56894 Develop branch updated with the mentioned fix, please update.

[2015-02-16 00:28] fernandog commented on #301
@ChipSkylark37 @LinuxBozo develop updated. please test and report back

[2015-02-16 00:29] #269 closed

[2015-02-16 00:29] #214 closed

[2015-02-16 00:30] #54 closed

[2015-02-16 00:31] fernandog commented on #7
@h3llrais3r develop updated. please test and report back

[2015-02-16 00:31] awagnon commented on #427
It solved the issue for me.
Thank you!!!!

[2015-02-16 00:31] #427 closed

[2015-02-16 00:34] dmarcelino commented on #457
@Captsha, @fernandog, just pulled the latest from develop and the show that was causing me issues is now loading fine. Thanks to all involved!

[2015-02-16 00:34] #457 closed

[2015-02-16 00:47] dmarcelino commented on #301
The recommendations bit is working. I'll keep an eye for when something gets downloaded to see if it updates trakt accordingly.

[2015-02-16 00:48] abeloin commented on #88
Here's the pull request: https://github.com/SiCKRAGETV/SickRage/pull/1322

[2015-02-16 00:49] Arcanemagus commented on #571
If you don't specifically need a response from @moust4ki, https://github.com/SiCKRAGETV/SickRage/pull/1264 has been working perfectly fine for me on the develop branch for a week or two.

[2015-02-16 00:50] edgard commented on #511
Perfect! Just tested and both 'All' or individual devices are working as intended.

Good job! Thanks guys!

[2015-02-16 00:50] fernandog commented on #301
@LinuxBozo

can you check the NULL ?
Also the "started on..."
check this issue
https://github.com/SiCKRAGETV/sickrage-issues/issues/234

[code]

[2015-02-16 00:51] #511 closed

[2015-02-16 00:52] fernandog commented on #88
@abeloin thanks! feel free to merge this and others local PRs you made

[2015-02-16 01:00] abeloin commented on #482
Pull request created https://github.com/SiCKRAGETV/SickRage/pull/1323

[2015-02-16 01:01] abeloin commented on #589
@fernandog You want to merge SiCKRAGETV/SickRage#1323 for https://github.com/SiCKRAGETV/sickrage-issues/issues/482 ?

[2015-02-16 01:06] abeloin commented on #302
Pull request was merge earlier: https://github.com/SiCKRAGETV/SickRage/pull/1287

[2015-02-16 01:07] fernandog commented on #589
@abeloin I think we can, can't we?

[2015-02-16 01:08] fernandog commented on #302
@gabryk91 develop updated. please test and report back

[2015-02-16 01:10] fernandog commented on #88
@neoatomic develop updated. please test and report back

[2015-02-16 01:10] abeloin commented on #589
Yes, we can. I just wanted to confirm.

[2015-02-16 01:11] fernandog commented on #482
@Greg0rz develop updated. please test and report back

[2015-02-16 01:11] abeloin commented on #589
@fernandog What about pr1265?

[2015-02-16 01:12] fernandog commented on #589
@abeloin you are the admin now =) if is not-critical let's merge! I handle some coding when I can and the issue tracker and forum

[2015-02-16 01:18] fernandog opened #609 ""Waiting for SickRage to start again" - endeless loop"
I checked for updated and click "update"
NO logs available

Performing Restart
Waiting for SickRage to shut down: OK
Waiting for SickRage to start again: LOOP

Chrome developer tools:
 Failed to load resource: net::ERR_CONNECTION_REFUSED
http://ip:port/home/is_alive/?callback=jQuery1112007155770272947848_1424046820294&_=1424046820298

[code]

[2015-02-16 01:20] pct00 opened #610 "[APP SUBMITTED]: 'charmap' codec can't decode byte 0x8d in position 63: character maps to <undefined>"
### INFO
Python Version: **2.7.8 (default, Jun 30 2014, 16:03:49) [MSC v.1500 32 bit (Intel)]**
Operating System: **Windows-7-6.1.7601-SP1**
Branch: **develop**
Commit: SiCKRAGETV/SickRage@20a56d6edf4b41afafd195cac196d81f3ca09629
Link to Log: https://gist.github.com/78fd56c1cbac15b10f1d
### ERROR
[code]
---
_STAFF NOTIFIED_: @SiCKRAGETV/owners @SiCKRAGETV/moderators

[2015-02-16 01:20] pct00 opened #611 "[APP SUBMITTED]: 'charmap' codec can't decode byte 0x8d in position 71: character maps to <undefined>"
### INFO
Python Version: **2.7.8 (default, Jun 30 2014, 16:03:49) [MSC v.1500 32 bit (Intel)]**
Operating System: **Windows-7-6.1.7601-SP1**
Branch: **develop**
Commit: SiCKRAGETV/SickRage@20a56d6edf4b41afafd195cac196d81f3ca09629
Link to Log: https://gist.github.com/56330cc9e8843eca74aa
### ERROR
[code]
---
_STAFF NOTIFIED_: @SiCKRAGETV/owners @SiCKRAGETV/moderators

[2015-02-16 01:21] #610 closed

[2015-02-16 01:21] fernandog commented on #611
@abeloin this is the auto-submit issue working

[2015-02-16 01:21] MLWALK3R commented on #523
Just test the latest dev branch and it has no errors for IPT.

[2015-02-16 01:22] fernandog commented on #611
@pct00 can you provide the result of the following command at SSH?

[code]

[2015-02-16 01:23] #523 closed

[2015-02-16 01:31] abeloin commented on #611
@fernandog Difficult as there is no equivalent on Windows.

[2015-02-16 01:33] fernandog commented on #611
here is the code that should handle the special char
https://github.com/SiCKRAGETV/SickRage/blob/master/sickbeard/tv.py#L1394

[2015-02-16 01:52] fernandog commented on #563
@dpeart develop updated. please test and report back

[2015-02-16 01:52] Hit-Bug commented on #605
My provider is my own service, there is no limit.

[2015-02-16 01:53] #47 closed

[2015-02-16 01:54] fernandog commented on #361
@a7medo778 @Youmi15 develop updated. please test and report back

[2015-02-16 01:54] #276 closed

[2015-02-16 01:55] fernandog commented on #503
@abeloin will you commit https://github.com/abeloin/SickRage/commit/6e435a77de80adcc399bcddd7863681a02f765ee this soon when it's ready? thanks!

[2015-02-16 01:57] fernandog commented on #521
@wborrelli develop updated. please test and report back

[2015-02-16 01:58] fernandog commented on #605
@Hit-Bug are you on develop or master?

[2015-02-16 01:59] fernandog commented on #605
"TypeError: object of type 'NoneType' has no len()" error. this is duplicate

[2015-02-16 02:02] abeloin commented on #611
@fernandog I'll have to test, but you should be using ek.ss instead as ek.ek is for a function with argument.

[2015-02-16 02:06] fernandog commented on #122
@valantislevas if you don't reply, will close this issue

[2015-02-16 02:07] fernandog commented on #15
@Rido please reply otherwise will close this

[2015-02-16 02:07] #15 closed

[2015-02-16 02:08] fernandog commented on #3
@EmielH let me know when you test it.

[2015-02-16 02:08] #384 closed

[2015-02-16 02:09] fernandog commented on #363
@jimmybund please update to develop branch and report back

[2015-02-16 02:09] #350 closed

[2015-02-16 02:10] fernandog commented on #332
@nexulh any news? everything ok?

[2015-02-16 02:11] fernandog commented on #333
@abeloin I don't know if is worth to keep this feature

[2015-02-16 02:13] fernandog commented on #312
@beschoenen can you try the new develop udpate and report back?

[2015-02-16 02:13] #368 closed

[2015-02-16 02:14] fernandog commented on #277
https://github.com/SiCKRAGETV/sickrage-issues/issues/277

[2015-02-16 02:17] #277 closed

[2015-02-16 02:18] fernandog commented on #277
@abeloin I couldn't find the another issue about it. this can't be fixed, isn't?

[2015-02-16 02:20] fernandog commented on #386
@Heisenberg74  develop updated. please test and report back

[2015-02-16 02:22] abeloin commented on #611
@fernandog The string is already in unicode:
[code]

[2015-02-16 02:34] fernandog commented on #611
I think the problem is hannibal. I had some issues in the past. Every single episode has special chars à é ô etc...

[2015-02-16 02:36] key134 commented on #277
At least lower it to a warning or raise the exception earlier on and handle the "system doesn't support this function". This error is not useful and the option is defaulted to on. Turning it off is a good workaround but it isn't really fixed.

[2015-02-16 02:39] fernandog commented on #277
as you said: the error is thrown properly in the log that the OS doesn't support the option.

[2015-02-16 02:46] key134 commented on #277
Hmm you are right. I guess I just wondered if the error should be thrown after that or if the function should just break.

[2015-02-16 02:50] abeloin commented on #609
Confirmed. The system is up but the page doesn't refresh.

[2015-02-16 02:52] abeloin commented on #277
@fernandog Pull request https://github.com/SiCKRAGETV/SickRage/pull/1295 further define why it doesn't work.
In this case, I don't think we should change the behavior as people using this feature want to be notified when it doesn't work. This setting is not enabled by default.

[2015-02-16 02:57] abeloin commented on #277
@fernandog The log error @key134 mention is this one: https://github.com/SiCKRAGETV/SickRage/blob/develop/sickbeard/tv.py#L2547

[2015-02-16 03:09] abeloin commented on #333
@fernandog Not sure either mediabrowser, plex, ... can do a better job at this.

Ref supported format jwplayer: http://support.jwplayer.com/customer/portal/articles/1403635-media-format-reference

[2015-02-16 03:15] abeloin commented on #122
@fernandog My guess is the open function is not receiving a Unicode string hence the conversion to ASCII.

[2015-02-16 03:17] abeloin commented on #605
@Hit-Bug Can you check you smtp server log when you get a time out? Check if your smtp reject the connection.

[2015-02-16 03:19] abeloin commented on #503
@fernandog Yes, I will. It's taking me longer than expected to finish it.

[2015-02-16 03:27] abeloin commented on #589
@fernandog Nice. :)
2 things I see:
* We shouldn't assume the user need to ssh into the server(e.g.: Windows user).
* There's a typo for pastebin ```PASTBIN```

[2015-02-16 03:30] abeloin commented on #589
@fernandog I'll push develop to master later on tonight if no issue are submitted.

The only issue so far is https://github.com/SiCKRAGETV/sickrage-issues/issues/609

[2015-02-16 05:13] jimmybund commented on #363
Will do. I am away from home until Tuesday and will do then.
On Sun, Feb 15, 2015 at 9:09 PM Fernando <notifications@github.com> wrote:

[2015-02-16 05:25] mapleleafs89 opened #612 "Not searching for needed episode after airdate."
House of Lies did not get picked up, as you can see in the log it says no needed episodes. I ran a manual search and it was snatched within seconds. The air date was 10 pm - 11 pm and I ran the manual scan around 12:15 am and looks like torrent was posted around 11:15 am, I have it set to check every 10 minutes..

[code]

[code]

Manual Scan
[code]

[2015-02-16 05:35] #358 closed

[2015-02-16 05:35] #604 closed

[2015-02-16 06:13] udochrist commented on #606
Checked and confirmed working. Thx for the superfast fix.

[2015-02-16 07:58] neoatomic commented on #88
Sorry for the late reaction.
I just updated to the latest Dev. However when i try to open/click on a show in the webui i get an error.
Did try a full update for the shows but didn't help.

[code]

[code]

[2015-02-16 08:09] polysa opened #613 "[APP SUBMITTED]: 'uid'"
### INFO
Python Version: **2.7.6 (default, Nov 10 2013, 19:24:24) [MSC v.1500 64 bit (AMD64)]**
Operating System: **Windows-2012Server-6.2.9200**
Branch: **master**
Commit: SiCKRAGETV/SickRage@93f0f0ad1fa278afb17f73d47c099b82a766dede
### ERROR
[code]
---
_STAFF NOTIFIED_: @SiCKRAGETV/owners @SiCKRAGETV/moderators

[2015-02-16 08:14] neoatomic commented on #601
Add an API key. Looks like to be missing.

[2015-02-16 08:49] neoatomic commented on #583
@matigonkas , Thank you for providing the logos. I just added them for you.

@fernandog This can be closed.

[2015-02-16 08:54] beschoenen commented on #312
BRANCH: (develop) / COMMIT: (431d04de4a4072d64e05d34b6a81e1ba963106ac)
The error doesn't seem to be fixed
[code]

[2015-02-16 09:18] colinramsay commented on #302
Fixed for me on latest `develop`.

[2015-02-16 09:20] flightlevel commented on #504
@fernandog Created PR https://github.com/SiCKRAGETV/SickRage/pull/1326 to improve logging. Think this issue can be closed now.

[2015-02-16 09:27] TagForce commented on #589
@fernandog @abeloin Holy crap, guys!
Nice going!

Yeah, I'll help wherever I can.

[2015-02-16 09:29] Hit-Bug commented on #605
Config.ini as in sickrage?, the mail server is fine since it both works with receiving and sending messages.

[2015-02-16 09:29] Hit-Bug commented on #605
If so, where would I find it?

[2015-02-16 09:34] fernandog commented on #605
SickRage/config.ini

[2015-02-16 09:36] #302 closed

[2015-02-16 09:37] tchirou commented on #534
Hello
Reset done but after today's snatching. I will report back tomorrow.
Glad that Alexandre got enough trust to be able to author.

[2015-02-16 09:37] Hit-Bug commented on #605
Ok, I found the problem, sickrage did not like port 587, so I used port 26 with TLS and it worked

[2015-02-16 09:38] tchirou commented on #311
It is working for me.

[2015-02-16 09:40] fernandog commented on #613
@polysa can you senf full logs please?

[2015-02-16 09:40] #311 closed

[2015-02-16 09:41] fernandog commented on #312
Full logs please

[2015-02-16 09:42] #583 closed

[2015-02-16 09:44] fernandog commented on #122
Its easy fo fix? I never say that trademark in years.

[2015-02-16 09:45] fernandog commented on #88
@neoatomic please update and report back

[2015-02-16 09:47] fernandog commented on #612
We need th debug log. Not INFO

[2015-02-16 09:48] #606 closed

[2015-02-16 09:49] fernandog commented on #601
@neoatomic I think he removed to post the log. If not we need to add a check for empty API

[2015-02-16 09:51] #605 closed

[2015-02-16 10:19] flightlevel commented on #613
Fair chance its related to
https://github.com/SiCKRAGETV/sickrage-issues/issues/504

[2015-02-16 10:21] fernandog commented on #613
Sure! @abeloin can we merge this one? https://github.com/SiCKRAGETV/SickRage/pull/1326

[2015-02-16 10:29] dmarcelino commented on #301
Just received a download and it was properly marked as collected on trakt.

[2015-02-16 10:31] beschoenen commented on #312
Please help me with enabling full logs, cause i have enabled debug mode but i only get logs like this: http://a.pomf.se/urzqtm.txt

[2015-02-16 10:39] fernandog commented on #589
@TagForce thanks! @abeloin is helping a lot

@echel0n wants to be in the loop for big changes so when he comeback he's updated. I told him we will fix everything first. make a stable master branch and then think about the tons of feature request. I also send him that issues we need some feedback https://github.com/SiCKRAGETV/sickrage-issues/issues?q=is%3Aopen+is%3Aissue+label%3A%226%3A+echel0n-fee

[2015-02-16 10:40] fernandog commented on #301
@dmarcelino can you try to reproduce my above post?

[2015-02-16 10:43] fernandog commented on #312
That's fine but does not show the "Unable to add show due to show selection" on it

[2015-02-16 10:49] beschoenen commented on #312
Yea that's why i think that somehow debugging isn't enabled.

But shouldn't the quotes in show names just be escape?

[2015-02-16 10:59] fernandog commented on #312
@TagForce escaping it will cause PP issues?

[2015-02-16 11:19] neoatomic commented on #88
Updated and the error when viewing a show is gone. Thank you.

[2015-02-16 11:26] TagForce commented on #589
@fernandog @abeloin @markheloking @echel0n Ok, no problem... I'll have a look through the list of Feature Requests, and see if there aren't any that really aren't feature requests but bugs/oversights in the code, and try to get those identified. I'll probably PR some of them myself.

Please do assign yourself to an issue if you're actively working on the fix. With this long list of issues it might

[2015-02-16 11:26] hackedbellini commented on #332
@fernandog I just tested this and the issue is still present on latest develop.

[2015-02-16 11:36] fernandog commented on #88
@neoatomic what about the flag?

[2015-02-16 11:43] TagForce commented on #389
As this is a duplicate of #391 I will close this one. It was my own, and has been fixed by an as-yet unmerged PR.

[2015-02-16 11:43] #389 closed

[2015-02-16 11:44] neoatomic commented on #88
@fernandog
I deleted a subtitle and did a manual search from the episode list.
Now i get a flag with a "?" in the history instead op the Dutch flag.
So it still isn't working correctly...

[2015-02-16 11:48] TagForce commented on #363
@jimmybund Also try turning off your Plex notifications...
Errors indicate it fails that, and not the actual Post Processing.

Let us know, Plex has had some updates I think, so it could very well be fixed.

[2015-02-16 11:57] wborrelli commented on #521
I have updated to the latest develop.
Will observe behavior and report back.

[2015-02-16 11:58] Quiptix commented on #536
Just updated and tested. Verdict: OK !!

[2015-02-16 11:58] #536 closed

[2015-02-16 12:06] fernandog commented on #88
@neoatomic  can you provider the link of the image with ?

[2015-02-16 12:07] valantislevas commented on #122
yes that problem exists in master version.. i hope someone can do something

[2015-02-16 12:10] boeggild commented on #431
Succes. Thank you.

[2015-02-16 12:13] neoatomic commented on #88
http://xxxxxxxxxxxx/images/flags/unknown.png

Just to be sure, as i downloaded this subtitle before can it be that the (old) info/data is pulled from sickbeard.db.?
Otherwise i need to wait till a brand new subtitle is downloaded for an episode.

[2015-02-16 12:25] fernandog commented on #88
@neoatomic let's wait them.

[2015-02-16 12:25] #431 closed

[2015-02-16 12:46] fernandog commented on #312
@abeloin @TagForce
I did some tests and webserve.py is not receiving the full show name

2015-02-16 10:26:51 Thread-13 :: theTVDB|1|http://thetvdb.com/?tab=series&id=|262112|Say

[code]

https://github.com/SiCKRAGETV/SickRage/blob/93f0f0ad1fa278afb17f73d47c099b82a766dede/sickbeard/webserve.py#L2357

I think the problem is in newshow.js but I don't know how to fix it.

[code]

![quoted-show](https:

[2015-02-16 12:53] yongbi85 commented on #368
Thanks it is ok now

Le lundi 16 février 2015, Fernando <notifications@github.com> a écrit :

--
Envoyé depuis mon téléphone portable

[2015-02-16 13:19] dirkr07 opened #614 "[Synology] Restore from menu not working"
Due to some manual changes of the files I was unable to run the auto update. To be quick I took a backup of my environment (through the menu) and re-installed from scratch (discarding my changes and going immediately to the latest commit)

However, when trying to restore my backup I get the message stating the files have been unzipped properly to the /restore folder (which I verified) and that I s

[2015-02-16 13:23] fernandog commented on #614
When you restored did you checked the restored file permissions? Did you restored cache folder too?

[2015-02-16 13:29] dirkr07 commented on #614
The files in the restore folder are set to 600

-rw-------    1 sickbear root         14176 Feb 16 13:55 config.ini
-rw-------    1 sickbear root       4968448 Feb 16 13:55 sickbeard.db

After the restart that SR asks (after the decompression) the files in the main folder are still on their original rights but have not been changed.

![image](https://cloud.githubusercontent.com/assets/10185229/621

[2015-02-16 13:32] abeloin commented on #242
Pull requests merged in develop

[2015-02-16 13:36] abeloin commented on #6
Pull request merged in develop.

[2015-02-16 13:40] fernandog commented on #614
The new backup function backup cache folder

[2015-02-16 13:41] abeloin commented on #539
@rflagler @agentq15 Can you try this pull request https://github.com/SiCKRAGETV/SickRage/pull/1327 ?

[2015-02-16 13:42] dirkr07 commented on #614
But how would that impact the config and db file not being overwritten with the correct file?
After I manually restore the files it's fine again and I didn't touch any cache folder.

Sure now it's re-downloading all the info but I don't mind that.

[2015-02-16 13:56] neoatomic commented on #88
Did a full scan for subtitles and this error came up.

[code]

[code]

[2015-02-16 13:58] fernandog commented on #6
@vzoltan please update and report back

[2015-02-16 14:00] fernandog commented on #88
Yes. 503 Service Unavailable
We should get this error and show a log

[2015-02-16 14:03] fernandog commented on #242
@AAdamWhite please update and report back

[2015-02-16 14:05] AdamWhite commented on #242
Will do!
-- 
Adam White

On 16 February 2015 at 14:03:43, Fernando (notifications@github.com) wrote:

@AAdamWhite please update and report back

—
Reply to this email directly or view it on GitHub.

[2015-02-16 14:15] abeloin commented on #88
@neoatomic Here's a quote of [my previous comment](https://github.com/SiCKRAGETV/sickrage-issues/issues/88#issuecomment-74316451)

The history database doesn't include the subtitle language hence the unknown flag. In multi, it pull from the 2 chars before the extension.
In display show, the proper language flag will be shown and kept until the file is removed.

[2015-02-16 14:24] abeloin commented on #312
The problem is at this line: https://github.com/SiCKRAGETV/SickRage/blob/develop/gui/slick/js/newShow.js#L71

[2015-02-16 14:46] TagForce commented on #312
whichSeries.replace(/"/g, '&quot') will replace the " into &quot in html...
But that would probably mess up the rest of the script.

[2015-02-16 14:51] abeloin commented on #312
The you have to decode it in addNewShow()

[2015-02-16 14:55] abeloin commented on #613
@fernandog Merged in develop

[2015-02-16 14:57] TagForce commented on #312
You could just remove the quotes all together.
That way you wouldn't need to decode them anywhere, and it should still work for the rest of SR (searching with or without quotes will yield the same results most of the time).

[2015-02-16 14:58] fernandog commented on #312
@TagForce yes, the double quotes could be a issue in PP. But they need be be removed from search results also otherwise SR wont recognize as a valid result

[2015-02-16 14:59] fernandog commented on #613
@polysa update and report back

[2015-02-16 15:00] fernandog commented on #504
@combres update and report back

[2015-02-16 15:01] fernandog commented on #581
@Deddiekoel develop updated. please test and report back

[2015-02-16 15:03] abeloin commented on #312
whichSeries.replace(/"/g, "") works

[2015-02-16 15:03] fernandog commented on #554
@sukosevato develop updated. please test and report back

[2015-02-16 15:04] fernandog commented on #425
@dirkr07 @andofrjando @ryanf86 develop updated. please test and report back

[2015-02-16 15:05] fernandog commented on #391
@xxx1983 develop updated. please update and report back

[2015-02-16 15:09] lsborg commented on #604
@fernandog, it is working.
Got upstream/develop from commit 431d04de4a4072d64e05d34b6a81e1ba963106ac. Added torrentbytes provider, a show and successfully snatched an episode.

[2015-02-16 15:13] abeloin commented on #312
@fernandog Pull requests merged

[2015-02-16 15:14] vzoltan commented on #6
Ok i will report back tomorrow

Thank you

[2015-02-16 15:15] fernandog commented on #312
@beschoenen update and report back

[2015-02-16 15:20] abeloin commented on #614
Look in log file for: Restore FAILED! or Restore successful...

[2015-02-16 15:33] rflagler commented on #539
@abeloin I'll try to test it out. I'm pretty new to git so I'm trying to figure out how to switch from the master branch to the dev with this specific pull request. I'll let you know once I've figured that out and have tested this.

[2015-02-16 15:40] vzoltan commented on #6
i cant open config/general/ after update to develop

[2015-02-16 15:42] abeloin commented on #6
What is the error message

[2015-02-16 15:45] dirkr07 commented on #614
For due dilligence I did another restore (on my already updated install) and nothing seems to happen.
I had the message "shutting down"
Then the message "waiting to start again" and after a few minutes I just refreshed the page.

Within the logs I got the following

2015-02-16 16:31:20 INFO     EVENT-QUEUE :: Restarting SickRage with ['/usr/local/sickbeard-custom/env/bin/python', '/usr/local/sickb

[2015-02-16 15:49] vzoltan commented on #6
Now updated from develop.zip (overwrite the files) and it started, i have the new option for
"When to update shows" in general config / misc.

for today i have all my media downloaded,
how can i test it right now (set the time for eg. 17 hours (here is 16:45) to see if it works or not?
if i change todays media to wanted, it will snach it immediately

[2015-02-16 15:58] vzoltan opened #615 "Repeated error in Logs & Errors"
Solved.

updated properly like this:

git remote add upstream https://github.com/SiCKRAGETV/SickRage.git
git fetch upstream
git checkout master / OR git checkout develop
git reset --hard upstream/master / OR git reset --hard upstream/develop
git pull

[2015-02-16 16:05] #615 closed

[2015-02-16 16:07] vzoltan commented on #615
Sorry, but not solved, should i open a new one for this, or just copy paste the error log here?

thanks

[2015-02-16 16:12] vzoltan commented on #615
2015-02-16 17:05:34 Thread-60 :: Failed doing webui callback: Traceback (most recent call last):
  File "/USER/SBTPB/sickbeard/webserve.py", line 230, in async_call
    result = function(**kwargs)
  File "/USER/SBTPB/sickbeard/webserve.py", line 1690, in setStatus
    return self.redirect("/home/displayShow?show=" + show)
  File "/USER/SBTPB/sickbeard/webserve.py", line 191, in redirect
    super(

[2015-02-16 16:17] sukosevato commented on #554
I've checked out develop but have not been able to reproduce it yet. (It only happened infrequently) I will let it run for a while to see if I notice any other episodes being mangled. I still think it will be an issue however. Only if a file like "The.Walking.Dead.S05E10.720p.HDTV.x264-KILLERS.mkv" is being uploaded by rsync this fix will solve it. Since rsync would upload that as: ".The.Walking.D

[2015-02-16 16:20] beschoenen commented on #312
It seems to work now. Thanks.
![screen shot 2015-02-16 at 17 17 16](https://cloud.githubusercontent.com/assets/1887585/6215355/05a8966a-b600-11e4-940d-ea82af34e920.png)

[2015-02-16 16:22] TagForce commented on #554
@sukosevato SR currently does not check for hidden files. Only hidden folders.
I think I could add a check for hidden files inside or after the check for sync files when I change that to only skip that particular folder instead of completely stop PP.

I'll have to think about doing it that way. And we're currently concentrating on fixing bugs, rather than introduce new features, so it may take a l

[2015-02-16 16:24] #554 closed

[2015-02-16 16:24] #312 closed

[2015-02-16 16:26] fernandog commented on #615
Known issue. Search for
object of type 'NoneType' has no len()

[2015-02-16 16:27] vzoltan commented on #615
Ok thank you!

[2015-02-16 16:28] fernandog commented on #615
Can you explain what do did so we can reproduce it?

[2015-02-16 16:32] vzoltan commented on #615
Changed a downloaded episods to wanted

Thats all i dis

[2015-02-16 16:32] vzoltan commented on #615
Episode/did :)

[2015-02-16 16:35] LinuxBozo commented on #301
@fernandog Obviously, #234 seems fixed, you have shown that in your paste. There are no `1970` to be seen.

As to your `null`, since from what I understand, Trakt tries to gather info from thetvdb where available, and that ID in the `[ ]` is the tvdb id, and given if you look up that id in thetvdb directly: http://thetvdb.com/?tab=series&id=261128 you see it has no title or overview, or anything.

[2015-02-16 16:44] vzoltan commented on #615
After login also happend rigth now

[2015-02-16 17:15] fernandog commented on #231
https://github.com/SiCKRAGETV/sickrage-issues/issues/615#issuecomment-74532095

[2015-02-16 17:15] fernandog commented on #231
how to trace this None? I think will see this a lot more...

[2015-02-16 17:17] fernandog commented on #301
@LinuxBozo so this "19960910" is 1996-09-10  (yyyy-dd-mm) ?

[2015-02-16 17:21] LinuxBozo commented on #301
@fernandog yyyy-mm-dd actually.

[2015-02-16 17:21] #234 closed

[2015-02-16 17:32] #301 closed

[2015-02-16 17:34] #571 closed

[2015-02-16 17:34] TagForce commented on #231
@fernandog Hah, we're both thinking the same thing... Colleague of mine is getting this same error.
One thing I noticed on almost all of the submitted errors is that the earliest common denominator is line 191 in Webserve.py...
Both permanent and status are given either by the default setting, or by the redirect function (if status is None then status = 302 if permanent else 301). So the only othe

[2015-02-16 17:37] Heisenberg74 commented on #386
No, sadly :(

[2015-02-16 17:37] fernandog commented on #231
I didn't understand but is it possible to reproduce? =)

[2015-02-16 17:39] fernandog opened #616 "[APP SUBMITTED]: HTTPSConnectionPool(host='api.trakt.tv', port=443): Read timed out. (read timeout=30)"
### INFO
Python Version: **2.7.3 (default, Mar 18 2014, 05:13:23)
[GCC 4.6.3]**
Operating System: **Linux-3.12.31-armv6l-with-debian-7.8**
Branch: **develop**
Commit: SiCKRAGETV/SickRage@dbb0e551fc5e3c493c3ebd906f712a13aaa7de58
Link to Log: https://gist.github.com/bb8ca86910d3513b4a2a
### ERROR
[code]
---
_STAFF NOTIFIED_: @SiCKRAGETV/owners @SiCKRAGETV/moderators

[2015-02-16 17:40] fernandog commented on #616
Is it possible to don't show the traceback to the user? Show a WARNING log message instead?!

[2015-02-16 17:42] fernandog commented on #386
@Heisenberg74 please read this:

https://github.com/SiCKRAGETV/sickrage-issues/issues/88#issuecomment-74513875

[2015-02-16 17:47] Heisenberg74 commented on #386
It's ok in Show view :-)  but not in the history :/

[2015-02-16 17:47] TagForce commented on #231
@fernandog Sadly, no... I never get this error. My colleague gets it everytime he does a mass update (update and rescan) on any show he has in his list. I'll ask him for his logs when he gets out of the meeting, or tomorrow (whichever time I speak to him comes first).

[2015-02-16 17:52] TagForce commented on #386
@Heisenberg74 That is expected. The language code is not saved in the history database, so SR has no way of knowing which language the subs are in. The only way for it to know it is when you save them with the country code added.

For the history to work, we need to create a new field in the history table that saves the language of the downloaded subtitles. Until that happens, your history will sh

[2015-02-16 17:53] Heisenberg74 commented on #386
OK, but in the history, SR doesn't show the unknown flag but OL.png for LOL release. :/

[2015-02-16 17:54] Gobbomaster commented on #601
I don't see any option to put in an API under Search Providers - Provider Options. Used the standard Usenet-Crawler.

There are no required or ignored words for this show. Where can I check if I have proper enabled? Don't think I did, since I have to ask.

I'm searching for 720p, so it seems to me that there are six viable candidates.

[2015-02-16 17:55] TagForce commented on #6
@vzoltan Change the time and restart SR. Schedules are set on startup.

[2015-02-16 17:58] fernandog commented on #601
Enable Usenet-Crawler, go to Provider Options and refresh page
![1](https://cloud.githubusercontent.com/assets/2620870/6216815/941ff58e-b5f4-11e4-9053-02df94c974fe.png)

[2015-02-16 18:07] vzoltan commented on #615
just got home and reproduced like this:

SR stopped/Started
error log is empty

changed the status of an episode to wanted
i got 1 error
changed back to downloded
i got 2 errors

2015-02-16 19:04:41 Thread-100 :: Failed doing webui callback: Traceback (most recent call last):
  File "/USER/SBTPB/sickbeard/webserve.py", line 230, in async_call
    result = function(**kwargs)
  File "/USER/SBTPB/sic

[2015-02-16 18:10] fernandog commented on #615
would you send your DB so we can trace it?

@TagForce is it possible to trace with the DB?

[2015-02-16 18:14] abeloin commented on #616
It's already cached in webserve.py L2253, the issue is the trakt library doesn't catch all requests error(trakt.py L71)

[2015-02-16 18:17] fernandog commented on #616
@abeloin but all Exceptions has a RAISE. It will raise all exceptions

[2015-02-16 18:25] abeloin commented on #616
Yes they are handled by line https://github.com/SiCKRAGETV/SickRage/blob/master/sickbeard/webserve.py#L2253

[2015-02-16 18:30] abeloin commented on #616
@fernandog Try this pull request https://github.com/SiCKRAGETV/SickRage/pull/1330

[2015-02-16 18:33] Koal4 opened #617 "Download status categorie showing blue color instead of green"
Hi,

The latest update introduced a small bug (at least that's what I think). The downloads categorie is showing the blue color with the light skin. I checked the dark skin and it's still green there.

![sickrage](https://cloud.githubusercontent.com/assets/10795027/6217287/b805be16-b612-11e4-875a-7aa850c47dd1.png)

[2015-02-16 18:36] abeloin commented on #614
SickBeard.py Line 265 It check if a folder named restore exists then proceed to restore

[2015-02-16 18:38] TagForce commented on #615
@fernandog @vzoltan No need for the DB...
There's actually no DB information in the call that causes this, other than the indexerid.

[2015-02-16 18:40] Quiptix commented on #234
No, doesn't happen, however the Trakt timeouts are annoying...

[2015-02-16 18:40] fernandog commented on #614
@abeloin
I tested on a windows and it restores to SickRage/restore
It extracts with absolute path not relative. So all cache folder files are together with sickrage.db and config.ini in /restore

[2015-02-16 18:45] AdamWhite commented on #242
I've tried to test this however no luck as of yet. everytime I click "test connection" for rtorrent I get connection failed, however using the same settings couchpotato connects and passes torrents in with no problems. I've told sickrage to do back log searches etc, so i'll continue to monitor, however as it stands it seems one of the 115 commits I pulled is preventing me from talking to rtorrent.

[2015-02-16 18:45] dirkr07 commented on #614
@fernandog Maybe I misrepresented the issue. The files are extracted to the /restore folder but after a restart its not copying/moving them to the real directory

[2015-02-16 18:49] abeloin commented on #614
@fernandog PR https://github.com/SiCKRAGETV/SickRage/pull/1164 broke the restore process

[2015-02-16 18:51] xxx1983 commented on #391
@fernandog
I am not sure I performed the correct action. I downloaded the develop-branch version and tested if it worked.

With the tv.py file of the [develop]-branch part of the files are not renamed correctly.
With the tv.py file of the [Releasegroup]-branch all files are renamed correctly.
Both were downloaded today (using github).

If this was not the test to perform, please inform me what I w

[2015-02-16 18:52] abeloin commented on #242
@AdamWhite What is your connection string?

[2015-02-16 18:53] fernandog commented on #614
@abeloin I don't think so. I only added more files to the ZIP. I didn't changed the restore process

[2015-02-16 19:04] AdamWhite commented on #242
scgi://localhost:5000 (checked the rtorrent file and that port is correct for scgi) tried over http under port 6009 and same issue. this worked before the pull, well worked.... as in I got the error when sickrage tried to talk to rtorrent.

user/pass sent via http auth "basic"

the http version is using the NAS's ip on the local network, the same settings as couchpotato

[2015-02-16 19:07] fernandog commented on #234
@Quiptix can you try this too?

[2015-02-16 19:08] fernandog commented on #617
not a issue. now when is 100% its blue. green is for incomplete

[2015-02-16 19:08] #617 closed

[2015-02-16 19:09] fernandog commented on #617
https://github.com/SiCKRAGETV/sickrage-issues/issues/322

[2015-02-16 19:14] agentq15 commented on #539
I tried to change to developer branch in the settings but the option didn't show up.
Maybe that's not the way to test it.

[2015-02-16 19:15] dirkr07 commented on #614
Guess i'm not imagining things then.
So I guess bug confirmed? :)

[2015-02-16 19:16] abeloin commented on #614
It does in the console. Have a look at https://github.com/SiCKRAGETV/SickRage/blob/develop/SickBeard.py#L450 That's the restore function. It try to backup the file first which fail as the cache file doesn't exist in sickrage's root. Also the files are extracted from the zip are without path.

[2015-02-16 19:18] rflagler commented on #539
@agentq15 Here's what I had to do. (I'm on Ubuntu and was using the master, or I think I was, the webpage doesn't seem to show your branch accurately)

I had it cloned in /opt/SickRage and did the following
service sickbeard stop
mv /opt/SickRage /opt/SickRage_master
git clone -b develop git://github.com/echel0n/SickRage.git
cd /opt/SickRage
git fetch origin refs/pull/1327/head:pull_1327
git check

[2015-02-16 19:21] agentq15 commented on #539
@rflagler my installation is on my seedbox so can't really control it that way.
Can't you just do a manual post process on something you already downloaded to test?

[2015-02-16 19:21] fernandog commented on #614
the backup runs ok. My zip has the cache folder and config.ini sickbeard.db
the problem is the restore it self.
I would just move everything to SickRage folder with the condition that zip file its absolute path.

[2015-02-16 19:22] abeloin commented on #539
@agentq15
* Download the PR: https://github.com/SiCKRAGETV/SickRage/pull/1327.diff
* Stop sickrage
*In sickrage folder in a commanline:
```patch -p1 < 1327.diff```
* Start sickrage

[2015-02-16 19:23] abeloin commented on #539
@agentq15 Without adding the pull request you will have to wait until it is merged in develop.

[2015-02-16 19:27] rflagler commented on #539
@agentq15 I'd rather test is in the exact manner that I'd use it to validate that it works as expected.

[2015-02-16 19:33] fernandog commented on #614
@abeloin

[2015-02-16 19:33] abeloin commented on #386
@Heisenberg74 My guess is that you have multi language subtitle enabled

[2015-02-16 19:36] abeloin commented on #614
@fernandog It will still fail in the restore function in SickBeard.py as it need to be modified also.

[2015-02-16 19:36] agentq15 commented on #539
@abeloin Okey so I did what you told me over ssh and got this error after
Error

cannot find 'DELRARCONTENTS' while searching for 'sickbeard.DELRARCONTENTS'

[2015-02-16 19:40] fernandog commented on #614
@abeloin I extract the zip into /Restore and it worked. SR made a directory cache.bak and everything working. The problem is the SR don't extract with absolute path. If you change this, will work.

[2015-02-16 19:41] dirkr07 commented on #614
Is it of significance that my backup is from before the cache folder was included and the restore after it was added?

[2015-02-16 20:18] abeloin commented on #242
@AdamWhite I've tested with both in scgi and https, here's the results:
![scgi](http://i.imgur.com/o9sDJ0x.png)
![Imgur](http://i.imgur.com/uPQjciD.png)

[2015-02-16 20:22] AdamWhite commented on #242
I copied your scgi settings ( essentially removing the user/pass) and it's
working. As for the http. I didn't have the url formatted like yours. I
attempted it but got a 404. None the less will start a search and feedback
my results

On Monday, February 16, 2015, Alexandre Beloin <notifications@github.com>
wrote:

--
Sent from Gmail Mobile

[2015-02-16 20:37] abeloin commented on #242
For http it depend on how you installed rutorrent: if it is installed at the server's root then as it is in the screenshot. If not, you must pre-pend the directory it residee.g.: http://domain.local/rutorrent + /plugins...

[2015-02-16 20:46] abeloin commented on #539
@agentq15 I need more context to that error line. Where did it happen?

[2015-02-16 20:48] agentq15 commented on #539
@abeloin Just pressed post processing in the settings menu and it showed a white error screen.

[2015-02-16 20:50] abeloin commented on #539
@agentq15 There's only that line on that page, anything else?
If nothing else on the page can you check your log file for the relevant error and send it via pastebin?

[2015-02-16 20:53] agentq15 commented on #539
@abeloin Here is what's on the white page http://pastebin.com/Q54MBvDP

[2015-02-16 20:58] abeloin commented on #539
@agentq15 Did you restart sickrage?

[2015-02-16 21:00] agentq15 commented on #539
@abeloin nope but did now and that fixed it. I see theDelete RAR contents button now :)

[2015-02-16 21:04] agentq15 commented on #539
@abeloin So it deletes the file but it does it before it is moved so the move fails.

[2015-02-16 21:17] abeloin commented on #539
@agentq15 Can you provide the error from log as it contain more info?

[2015-02-16 21:22] agentq15 commented on #539
@abeloin Sure, log on debug: http://pastebin.com/cjWFYVKQ
It deletes the file before moving.

[2015-02-16 21:25] abeloin commented on #539
@TagForce Can you check this error, it look like the files are deleted before it is copied?

[2015-02-16 21:42] TagForce commented on #539
@agentq15 @abeloin
In ProcessTV.py
move line 181 down to after the for videos... loop so that it reads:

```elif sickbeard.DELRARCONTENTS and videoInRar:```
```result.result = process_media(path, videoInRar, nzbName, process_method, force, is_priority, result)```
```for video in set(videoFiles) - set(videoInRar):```
```result.result = process_media(path, [video], nzbName, process_method, force, is

[2015-02-16 21:51] duramato opened #618 "[Feature Request] Add DVDMux as quality"
Simple feature request ,add "DVDMux" to the "SD DVD" quality

[2015-02-16 22:25] mbnoimi opened #619 "Check scene exceptions update failed"
I get this error after updating to recent version:

[code]

- SR Version: 	BRANCH: (master) / COMMIT: (93f0f0ad1fa278afb17f73d47c099b82a766dede)
- SR Arguments:	['--nolaunch']
- Python Version:	2.7.6 (default, Mar 22 2014, 22:59:56) [GCC 4.8.2]
- OS: Linux Mint Cinnamon x64  version 17

[2015-02-16 22:26] mbnoimi commented on #619
BTW, I could access [exceptions file](http://midgetspy.github.io/sb_tvdb_scene_exceptions/exceptions.txt) manually using the browser.

[2015-02-16 22:29] udochrist opened #620 "[APP SUBMITTED]: HTTPSConnectionPool(host='api.trakt.tv', port=443): Read timed out. (read timeout=30)"
### INFO
Python Version: **2.7.8 (default, Dec 12 2014, 21:04:21)
[GCC 4.7.3 20130102 (prerelease)]**
Operating System: **Linux-3.2.40-x86_64-with-glibc2.2.5**
Branch: **develop**
Commit: SiCKRAGETV/SickRage@dbb0e551fc5e3c493c3ebd906f712a13aaa7de58
Link to Log: https://gist.github.com/684cacf38990f7f57e27
### ERROR
[code]
---
_STAFF NOTIFIED_: @SiCKRAGETV/owners @SiCKRAGETV/moderators

[2015-02-16 22:31] TagForce commented on #539
@agentq15 uhmmm...
What folder are you trying to post process and where should it copy the file?
It looks like you're trying to post process a root folder of the destination folder.
It's trying to replace the existing videofile in the destination folder with the one it just unpacked.
But both files are at the same location. So deleting the destination file actually deletes the file it just unpacke

[2015-02-16 22:36] udochrist commented on #620
The issue is not with the error itself, it's how sr handles the exception. When this happens the processing subscript returns an error 500 and hence a failed download to Sabnzbd which in term doesn't clean up the download directory. The downloading and moving of the ep to it's correct place has all worked out perfectly. It's simply the trakt notification that has failed.
This should not lead to a

[2015-02-16 22:40] benhopperau commented on #480
Sorry for the slow reply, here is the debug. let me know if you need more. It just seemed to keep going and going...
http://pastebin.com/FC3hvRBJ

[2015-02-16 22:48] pct00 opened #621 "parser is BROKEN"
[code]

[2015-02-16 22:50] pct00 commented on #621
sorrt for lack of comments on original post
as you can see from the log, the parser is interperting/using bad episode numbers

[2015-02-16 23:16] abeloin commented on #621
Please update your dev branch

[2015-02-16 23:19] andyj682 opened #622 "Add ability to search for episodes before airdate"
Occasionally, networks release new episodes of shows on demand as early as a week before the listed airdate. These episodes often become available for download as soon as they show up on demand. However, SickRage doesn't seem to search for the next upcoming episode until the actual airdate. This makes sense, since most of the time searching for episodes early will just yield spam or mislabeled epi

[2015-02-16 23:21] abeloin commented on #620
Thank you for the information.

Duplicate of https://github.com/SiCKRAGETV/sickrage-issues/issues/616

See https://github.com/SiCKRAGETV/SickRage/pull/1330 for a fix

[2015-02-16 23:22] #620 closed

[2015-02-16 23:26] Quiptix commented on #234
@fernandog : What should I try?

[2015-02-16 23:29] matigonkas opened #623 "Banana TV Show"
There is a need to add "banana" as a scene expection to the TV show "Banana (2015)" in thetvdb
(Not sure if this is a feature request or an issue)
//Gonkas

[2015-02-16 23:48] abeloin commented on #234
Apply the pull requests to test it.

[2015-02-16 23:51] abeloin commented on #480
@benhopperau Have updated to the latest version of the develop?

[2015-02-16 23:59] Quiptix commented on #234
For testing the date, that is quite impossible now.
Trending Shows are not shown with dates and recommendations is under development with trakt.tv and so disabled.

Timeouts still exist sometime. Not often, but 1 to 5 times a day

[2015-02-17 00:14] TuRDMaN opened #624 "AniDBCommandTimeoutError"
I've been encountering this a lot lately. Mostly when trying to save after editing a show, or when trying to manually post-process (for anime, obviously).

I'm running the latest dev version, currently, BRANCH: (develop) / COMMIT: (048212102e3dafa4e9325e8979526c5b6db0dba3)

Here is the full error from when I just tried to manually post-process a folder with a bunch of downloaded shows (which happe

[2015-02-17 00:51] fernandog commented on #623
edit your tv-show and add it.

[2015-02-17 00:51] #623 closed

[2015-02-17 00:53] fernandog commented on #619
maybe timeout thing. my git is really slow now.
did it happen again?

[2015-02-17 00:53] #619 closed

[2015-02-17 00:56] fernandog commented on #614
@dirkr07 yes. should have worked. the change was only in the backup feature.

[2015-02-17 00:58] fernandog commented on #611
https://github.com/SiCKRAGETV/sickrage-issues/issues/414

[2015-02-17 01:01] fernandog commented on #234
@Quiptix develop updated. please test. also increase your TRAKT timeout (SR trakt settings)

[2015-02-17 01:02] abeloin commented on #581
Reverted the commit as it was catching non itunes file. E.g.: constantine.113.hdtv-lol.mp4

[2015-02-17 01:08] Quiptix commented on #234
@fernandog Done. Now somewhat sit and wait... (and sleep)

[2015-02-17 01:21] pct00 commented on #621
@abeloin that fixed it. thanks

[2015-02-17 01:21] #621 closed

[2015-02-17 01:28] thebeastygecko commented on #3
Hi, I only downloaded SickRage a few days ago, so my install is relatively fresh, and this has been happening to me as well.

[2015-02-17 04:23] acecon opened #625 ""Improved rTorrent support." broke my rTorrent Connection."
Develop Branch
Issue with commit:
"3166f29d345141062a9ec971f4349570e1b134ce"

Unfortunately, there were no error logs displayed. I also have debug enabled.
The Info log would say:
"INFO SEARCHQUEUE-DAILY-SEARCH :: Downloading xxxx from IPTorrents."
and nothing else would happen.

In the Torrent Search tab in Settings, I would get a connection error after pressing the 'Test Connection' button.

My

[2015-02-17 05:44] Bond198 opened #626 "[APP SUBMITTED]: <sickbeard.tv.TVEpisode object at 0x0451AA50>"
### INFO
Python Version: **2.7.9 (default, Dec 10 2014, 12:24:55) [MSC v.1500 32 bit (Intel)]**
Operating System: **Windows-2012Server-6.2.9200**
Branch: **master**
Commit: SiCKRAGETV/SickRage@93f0f0ad1fa278afb17f73d47c099b82a766dede
Link to Log: https://gist.github.com/ffe30bb9497a7b9852fe
### ERROR
[code]
---
_STAFF NOTIFIED_: @SiCKRAGETV/owners @SiCKRAGETV/moderators

[2015-02-17 06:40] agentq15 commented on #539
@TagForce No the destination folder is not a root folder. The destination folder is named "unpacked" where every show is supposed to go after unpacking. Then it's automatically downloaded from there to my server at home.

[2015-02-17 06:51] bitzorro opened #627 "[APP SUBMITTED]: [Errno 2] No such file or directory: u'Z:\\done\\The.Originals.S02E14.HDTV.x264-LOL[rarbg]\\the.originals.214.hdtv-lol.mp4'"
### INFO
Python Version: **2.7.9 (default, Dec 10 2014, 12:24:55) [MSC v.1500 32 bit (Intel)]**
Operating System: **Windows-7-6.1.7601-SP1**
Branch: **fernandog-double-quote**
Commit: SiCKRAGETV/SickRage@aeef329bff80f4f2b64261e12c631792d6119b2b
### ERROR
[code]
---
_STAFF NOTIFIED_: @SiCKRAGETV/owners @SiCKRAGETV/moderators

[2015-02-17 07:11] Thraxis commented on #601
I use Usenet-Crawler and I have been getting shows from it.  More often then not the show grabs from a torrent source first, but I do still have shows that sometimes get snatched via Usenet-Crawler

[2015-02-17 08:00] vzoltan commented on #6
Time is set to 17
But it snached an episode in the early morning.

Inwas expecting todays episode to be snached at or after 17 today.

[2015-02-17 08:01] TagForce commented on #539
@agentq15 but is the destination folder a subfolder of the folder you're post processing?
From you logs it seems like it.
Pp folder ./downloads/
Destination folder ./downloads/unpacked/
It's deleting the file from a normal pp function that hasn't changed.

[2015-02-17 08:19] TimVNL opened #628 "Sickrage .ignore?"
I have both Sickrage and Couchpotato installed on my Synology NAS but I have a issue if a episode is downloaded by sickrage a .ignore is add to the folder what results in episode not being moved....

I have to following settings actove in Post Processing in Sickrage:
- move Associated Files
- Postpone post processing
- Rename .nfo file
- Rename Episodes
- Scan and Process

What am I doing wrong? I

[2015-02-17 08:36] TagForce commented on #6
@vzoltan did you restart SR after changing the schedule?
BTW this change does not change when SR searches for episodes, just when it updates its show information with new episodes/epinfo/airdates etc.
Check your log for UPDATESHOW messages.

[2015-02-17 09:07] Trever123 commented on #435
@fernandog All fixed. Had no issues with the manual change and had no problems since getting the develop branch update. Thanks

[2015-02-17 09:09] tchirou commented on #534
Working nicely
Thanks everyone

[2015-02-17 09:09] #534 closed

[2015-02-17 09:14] TagForce commented on #627
@bitzorro Can you tell me what settings you use for post processing?
Is delete rar contents on?
What Process Method do you use?

[2015-02-17 09:19] TagForce commented on #539
@abeloin @fernandog https://github.com/SiCKRAGETV/sickrage-issues/issues/627

issue exists before applying the PR.
@agentq15 what post process settings do you use?

[2015-02-17 09:26] agentq15 commented on #539
@TagForce All downloads gets downloaded to /downloads/<show-name>/files.rar and are unpacked to /downloads/unpacked/

I use the Copy setting if that's what you mean? No renaming of files.

[2015-02-17 09:54] jimmybund commented on #363
Updated to the DEVELOP branch and still got the error:

2015-02-17 01:50:22 POSTPROCESSER :: Exception generated in thread POSTPROCESSER: syntax error: line 2, column 0
2015-02-17 01:20:22 POSTPROCESSER :: Exception generated in thread POSTPROCESSER: syntax error: line 2, column 0

BRANCH: (develop) / COMMIT: (1ad9ed453985f1fccdcd7eac97970cef1cb324c1)
Windows 7 64-bit, python 2.7.9

Going to try t

[2015-02-17 10:03] andofrjando commented on #425
Working for me.

[2015-02-17 10:32] bitzorro commented on #627
Im not using delete rar contents, post processing is set to copy every 100 min.

[2015-02-17 11:00] #425 closed

[2015-02-17 11:00] fernandog commented on #363
Worked?

[2015-02-17 11:02] #435 closed

[2015-02-17 11:04] fernandog commented on #601
Do you have an api? Just need to register.

[2015-02-17 11:04] fernandog commented on #601
now UC says: parameter missing. You need an API

[2015-02-17 11:04] #601 closed

[2015-02-17 11:06] fernandog commented on #628
@TagForce is the postpone setting?

[2015-02-17 11:23] fernandog commented on #627
@bitzorro why did you change the branch to this one? that branch does not exist anymore.

[2015-02-17 11:33] wizzardking opened #629 "Default EP Status: not working"
branch: tested with master & develop
Commit: the newest commits on 17.2.15
Os: linux (intel qnap x86_64)

If I edit a Serie and change the "Default EP Status" to "ignored", when the ep releasedate is received the new episode will still be added as Wanted in SR.

[2015-02-17 11:40] fernandog commented on #629
that's the expected result.
SR uses the default ep status when adding a new tv-show
you must set IGNORE the ones that you don't want

[2015-02-17 11:40] #629 closed

[2015-02-17 11:43] fernandog commented on #625
@acecon please send FULL logs so we can trace the error from test connection

[2015-02-17 11:47] fernandog commented on #626
@Bond198 does it happened again? maybe a timeout issue

[2015-02-17 11:50] fernandog commented on #624
@TuRDMaN isn't possible to increase the timeout value?
"Command has timed out "

stop SR, edit config.ini and set a higher value (seconds) to
socket_timeout

[2015-02-17 11:52] fernandog commented on #589
@abeloin @TagForce we must think a way to the average user don't use develop branch - or show a warning to not use unless you know what you are doing and may broke their setup. otherwise there's no point to have master/develop. user's will always try develop.
what do you think ?any thoughts?

[2015-02-17 11:55] fernandog commented on #627
@bitzorro is this path correct?
"Z:\Multimedia\movies\Tv Serier\" ?

[2015-02-17 12:13] TagForce commented on #589
@fernandog @abeloin Yes, we should. But we need to have a stable master first. Now that @abeloin can merge too, that is quickly happening. First fix the reasons people use develop in master, then use develop as an actual develop branch and regularly merge to master. Then we can add a notice at the top of the page that you're using the develop branch and things may break or not work correctly.
Mayb

[2015-02-17 12:15] OmgImAlexis opened #630 "Feature Request: Add two-step verification to GITHUB settings"
Branch: Master
Commit hash: SiCKRAGETV/SickRage@93f0f0ad1fa278afb17f73d47c099b82a766dede
OS: Ubuntu 14.04
Python: 2.7.6 (default, Mar 22 2014, 22:59:56) [GCC 4.8.2]

Every time I get an error and try clicking the submit error button all that happens is the page refreshes, I've checked the logs and nothing about it comes up at all.

[2015-02-17 12:21] fernandog commented on #630
did you enter your github user and password in SR settings? you must disable two-factor auth.

[2015-02-17 12:24] OmgImAlexis commented on #630
I actually never noticed that setting, maybe there should be a alert message or something instead of just silently failing if you haven't entered your account details. Also I have 2-step and I really don't want to remove it. Should I mark this as closed?

[2015-02-17 12:26] fernandog commented on #630
would mark as feature request to add warning and 2-step

[2015-02-17 12:28] fernandog commented on #630
we should disable the button with javascript if the git user/pass are blank.

[2015-02-17 12:37] Koal4 commented on #617
I'm sorry but why are my 100% shows in the dark theme green and not blue like you suggest.

Also I prefer green as it was always green in the past. Green is kind of the silent color symbol of 'everything is ok' / 'accepted'. See the green checkmarks or even the green comment button below ;
)

[2015-02-17 12:39] fernandog commented on #617
Because in the light theme font is black. And a darker green there is no contrast in with the font. You can try to modify as you please. its good we will merge

[2015-02-17 12:45] Koal4 commented on #617
Sorry again but i kinda disagree as this wasn't an issue with older versions so don't understand the need to change it now. Also  2 different colors are used now in different themes what makes it extra confusing. If it were up to me those colors should be the same in every theme you use.

[2015-02-17 12:53] fernandog commented on #617
there was no 100% before. So we need new color

[2015-02-17 13:10] Koal4 commented on #617
Well sorry but i still disagree with you there.

Green color with a black font wasn't an issue with older versions. Besides that there are probably 10000 different colors green too choose from if needed. I find it highly unlikely that you cant find a matching color from there but then again it never was a problem in the past.

What I"m trying to make a point here is that you use 2 different colors

[2015-02-17 13:32] TuRDMaN commented on #624
Thanks for the reply @fernandog

In my config file, I believe it was still at the default setting which was "socket_timeout = None". I changed it to 60 and I'll see what happens.

[2015-02-17 13:43] vzoltan commented on #6
im lost in this,
i stick to my cron to stop at midnight SR and start at noon SR.
that is what works for me as i like it to be.

[2015-02-17 13:44] yaymuffins opened #631 "ThePirateBay season search is broken"
Hello,

Since yesterday it seem like ThePirateBay doesn't have a file list anymore, as a result, I get tons of error saying "2015-02-17 10:57:01 SEARCHQUEUE-BACKLOG-2594 :: [ThePirateBay] :: Unable to get the torrent file list for "NameOfTheTorrent"

Branch: Master
Commit: 93f0f0ad1fa278afb17f73d47c099b82a766dede
Debian 7.8 / Python 2.7.3
I added a new show and expected SR to start download it.

[2015-02-17 13:45] happypaps opened #632 "freshon.tv - backlog processing skipping episodes"
hello!
new user here, and loving SR so far. I have run into an issue when i'm processing backlogged episodes where not all the eps are snatched. Show in question is Marvel's Agents of S.H.I.E.L.D S02, Reviewing the debug log SR searches for the episodes which only results in eps 6-10 being found which are then downloaded. Auto and manual backlog processing then states "no needed episodes found", e

[2015-02-17 13:49] TiagoDM opened #633 "[APP SUBMITTED]: 'charmap' codec can't decode byte 0x8d in position 69: character maps to <undefined>"
### INFO
Python Version: **2.7.8 (default, Jun 30 2014, 16:08:48) [MSC v.1500 64 bit (AMD64)]**
Operating System: **Windows-8-6.2.9200**
Branch: **master**
Commit: SiCKRAGETV/SickRage@93f0f0ad1fa278afb17f73d47c099b82a766dede
Link to Log: https://gist.github.com/ae48bec54b23c5a54200
### ERROR
[code]
---
_STAFF NOTIFIED_: @SiCKRAGETV/owners @SiCKRAGETV/moderators

[2015-02-17 13:58] fernandog commented on #632
Add "Agents of S.H.I.E.L.D" and "Marvels Agents of S.H.I.E.L.D" to scene exceptions.

[2015-02-17 14:26] happypaps commented on #632
thanks for your help fernandog. unfortunately I already explored this as a potential solution. these are my current exceptions for this show:
Marvel Agents Of SHIELD | Agents of S H I E L D | Marvels Agents of S H I E L D | Marvel's Agents of S.H.I.E.L.D | Marvel's Agents of SHIELD | Marvel's Agents of S H I E L D

I had the same issue with the shows grimm, and supernatural. both of which shouldn'

[2015-02-17 14:44] rflagler commented on #539
@abeloin @TagForce This worked as expected for me. Thanks guys!

[2015-02-17 14:51] happypaps commented on #632
here's my debug log after trying to manually process backlog for show Supernatural
http://pastebin.com/tZLGwUng

in reviewing freshon.tv search results I noticed that the only episodes downloaded by SR were results from the first page of results. is this the issue?

[2015-02-17 14:56] TagForce commented on #628
@TimVNL @fernandog No. As far as I know SR doesn't respond to .ignore files.
Can you provide a log of a post process run?

[2015-02-17 15:09] hoefs opened #634 "KAT backlog search is not working after upgrade"
I have updated to the latest version on my Synology DS411 and afterwards manual search and backlog search are not downloading anymore. I always get no

SR Version:	BRANCH: (master) / COMMIT: (93f0f0ad1fa278afb17f73d47c099b82a766dede)
SR Config file:	/usr/local/sickbeard-custom/var/config.ini
SR Database file:	/usr/local/sickbeard-custom/var/sickbeard.db
SR Cache Dir:	/usr/local/sickbeard-custom/va

[2015-02-17 15:24] hoefs commented on #634
update1:

http://pastebin.com/M5A82XQV

and

http://pastebin.com/L7vDqYaW

Seems like it is a proxy issue, after troubleshooting and changing my DNS servers and removing all the proxy settings, the downloads start working again.

[2015-02-17 15:37] happypaps commented on #632
here are screen caps of the search results using the SR backlog search terms. it does seem that SR is only pulling results from the first page and ignoring subsequent pages. is this a known issue?

![capture1](https://cloud.githubusercontent.com/assets/11044891/6230847/6646d49a-b688-11e4-907a-bf4c272e467d.PNG)
![capture2](https://cloud.githubusercontent.com/assets/11044891/6230846/6646b4c4-b688-11

[2015-02-17 15:49] abeloin commented on #624
That's usually an indication that you've been temporarily ban from anidb's api. Disable the anidb option for the next 24h.

Ref http://wiki.anidb.net/w/UDP_API_Definition#Connection_Problems section Flood Protection

[2015-02-17 15:59] h3llrais3r commented on #7
I confirm it's working now! Thanks! :+1:

[2015-02-17 16:04] hoefs commented on #634
Update2:

normal downloads are working without proxy. (proxy implementation seems broken)

season downloads seem broken in both ways (season torrents are not seen as season packs and skipped in debug logs)

[2015-02-17 16:08] #7 closed

[2015-02-17 16:08] abeloin commented on #624
@TuRDMaN Can you test this pull request https://github.com/SiCKRAGETV/SickRage/issues/1339 ?
It will fixed the error being generated.

[2015-02-17 16:24] sacii commented on #384
@abeloin  & @fernandog

There is only one unionfs layer, the mounting of /mnt/Workspace/nas4free/usr above /usr.  Both the sickrage program and the configuration directory were in the writeable /usr layer. I had to move both the program and the configuration directory out of the unionfs layer to get the daemon mode to work.

I am using the mount_unionfs command (alias for mount -t unionfs) to moun

[2015-02-17 16:25] abeloin commented on #625
@acecon Are you using http or https? Because your string contain https and port 80 whch is strange.

My guess is that you are using http as https was not supported before(previous implementation ignored the https and converted it to http):
* Fix the url to http://xx.xx.xx.xx:80/rutorrent/plugins/httprpc/action.php
* If you use authentication, set to Basic. If not leave to none
* Enter user/pass if

[2015-02-17 16:28] snowwing opened #635 "Feature Request: Link to snatched Torrent location in history"
for Torrent providers it would be nice to be able to click through to the site url of the snatched torrent from the history tab (e.g. in the Kat rss search this would be the link url). This would make it easier to confirm that the snatched episode is a good version (check comments, etc.).

[2015-02-17 16:50] SimonKberg opened #636 "[APP SUBMITTED]: object of type 'NoneType' has no len()"
### INFO
Python Version: **2.7.3 (default, Mar 13 2014, 11:03:55)
[GCC 4.7.2]**
Operating System: **Linux-3.2.0-4-amd64-x86_64-with-debian-7.8**
Branch: **develop**
Commit: SiCKRAGETV/SickRage@1ad9ed453985f1fccdcd7eac97970cef1cb324c1
Link to Log: https://gist.github.com/0269551d95e30c75a3da
### ERROR
[code]
---
_STAFF NOTIFIED_: @SiCKRAGETV/owners @SiCKRAGETV/moderators

[2015-02-17 16:50] SimonKberg opened #637 "[APP SUBMITTED]: int() argument must be a string or a number, not 'NoneType'"
### INFO
Python Version: **2.7.3 (default, Mar 13 2014, 11:03:55)
[GCC 4.7.2]**
Operating System: **Linux-3.2.0-4-amd64-x86_64-with-debian-7.8**
Branch: **develop**
Commit: SiCKRAGETV/SickRage@1ad9ed453985f1fccdcd7eac97970cef1cb324c1
Link to Log: https://gist.github.com/fd0b898e1564a5b5bd02
### ERROR
[code]
---
_STAFF NOTIFIED_: @SiCKRAGETV/owners @SiCKRAGETV/moderators

[2015-02-17 17:12] TimVNL commented on #628
Can't find any logs... Can it be that Couchpotato is generating them?

[2015-02-17 17:17] coolius commented on #622
I would like to second this request. The show "Forever (2014)" is always available a day earlier than the date quoted on TVRage/TVDB as they use the US airdate despite the fact that the show is broadcast in Canada (and therefore available to download) 24 hours before.

I had envisioned this being a per-show option, with the user able to choose the number of days (1-7?) before the stated airdate Si

[2015-02-17 17:19] abeloin commented on #632
@happypaps That depend on how the provider was implemented

[2015-02-17 17:42] happypaps commented on #632
could you explain? implemented when I added the provider to SR? or how its implemented in SR itself?

[2015-02-17 17:43] abeloin commented on #589
Not much more to say then what as already being said by @TagForce.

[2015-02-17 17:47] abeloin commented on #363
I think it's related to the fact that https://github.com/SiCKRAGETV/SickRage/pull/1190 was merged in master only.

[2015-02-17 18:00] abeloin commented on #632
In SR itself, I would have to look at the code but my guess it's pulling the first page only.

[2015-02-17 18:57] jimmybund commented on #363
DEVELOP branch with plex notifications turned off did work! No more errors.
Should I go back to master now?

On Tue, Feb 17, 2015 at 12:47 PM, Alexandre Beloin <notifications@github.com

[2015-02-17 19:10] #363 closed

[2015-02-17 19:20] Alexwijn opened #638 "WEB-DL 720p and 1080p"
I got a custom quality prefences with the following:

But for some reason he also downloads 1080p WEB-DL versions. I do not want those versions since they uses more disk space and 720p looks fine to me on my TV.

[2015-02-17 19:23] fernandog commented on #638
Logs? Show page screen shot?

[2015-02-17 19:24] abeloin commented on #363
What is your plex config?

[2015-02-17 19:26] jimmybund commented on #363
What exactly do you need to know? I'm running the latest Plex Media Server on the same Windows PC that I'm running Sickrage. Version 0.9.11.7

[2015-02-17 19:29] Alexwijn commented on #638
Here you go:
http://imgur.com/e7a2rJB

[2015-02-17 19:32] fernandog commented on #638
Which providers do you have enabled?
Please send full logs

[2015-02-17 19:37] Alexwijn commented on #638
I used EZTV, Kickass and OldPirateBay (in that order). I do not have any logs that I still have for that date. For some reason all I got is logs from 2015-02-17 17:57:58.

[2015-02-17 19:40] TuRDMaN commented on #624
@abeloin How do I go about testing that? Is there a git command? Or do I need to edit the file manually (sorry, not so familiar with Git besides clone and pull)

[2015-02-17 19:54] Gobbomaster commented on #601
Updated to the last version. Now the API field appeared (already filled), but nzbds are being snatched. Thanks!

[2015-02-17 19:58] hoefs commented on #631
Have the same issue!

[2015-02-17 20:00] fernandog commented on #638
Try disable oldpiratebay. Some users report wrong search strings.
we still need logs. Get in /SickRage/Logs/sickrage.log
use pastebin.com

[2015-02-17 20:05] ripper1967 opened #639 "how to shut this error off"
SR Python Version: 2.7.8 (default, Jun 30 2014, 16:03:49) [MSC v.1500 32 bit (Intel)] Version:  BRANCH: (develop) / COMMIT: (b29f5122fc557fc2bab7ed907d3a76221fb58535)
windows 7 64 bit
How do I shut this error off? I do not run Https

C:\Users\Rusty\SickRage\lib\requests\packages\urllib3\connectionpool.py:747: Ins
ecureRequestWarning: Unverified HTTPS request is being made. Adding certificate
verif

[2015-02-17 20:14] fernandog commented on #639
@ripper1967 please send full logs

@abeloin new requests lib?

[2015-02-17 20:15] abeloin commented on #624
PR1339 Will not remove the ban on your ip but you should have a log msg instead of a traceback. Can you show me the traceback after applying the PR?

[2015-02-17 20:16] TagForce commented on #628
@TimVNL The ignore files? Most definitely generated by CP.
The logs? No, SR generates logs and if you have Scan and Process checked in the config, it should generate post processing entries in the log every 'scan frequency' minutes. Check the logs and errors page for them.
By default the logs are stored in %SICKRAGE%/logs folder.Upload the one containing the entries (or the part that has the entri

[2015-02-17 20:18] abeloin commented on #639
Yes, it can disable via:
[code]
I'll make a PR for it.

[2015-02-17 20:20] Alexwijn commented on #638
http://pastebin.com/CKPb2gKd

[2015-02-17 20:32] ripper1967 commented on #639
Ok Thank You..

[2015-02-17 20:33] TuRDMaN commented on #624
[code]

[2015-02-17 20:59] fernandog commented on #638
Maybe you were using the old code of oldpiratebay. its was buggy.

[2015-02-17 20:59] #638 closed

[2015-02-17 21:00] Alexwijn commented on #638
I guess, I just disabled it to make sure. Any chance I can make sickrage replace 1080p with 720p version automatically?

[2015-02-17 21:03] fernandog commented on #638
Just do a manual search. but you must delete manually those files

[2015-02-17 21:29] acecon commented on #625
@abeloin I removed the 's' in https & the port #, & chose Basic authentication.

http://xx.xx.xx.xx/rutorrent/plugins/httprpc/action.php

That solved the issue.

I knew https & port 80 was a strange combination, but I think it was the only way I was able to connect to rTorrent while still using SSL when I first set this up. I never did check whether or not sickrage sent snatched torrents to rTorre

[2015-02-17 21:41] matigonkas opened #640 "[APP SUBMITTED]: <ProtocolError for api.opensubtitles.org/xml-rpc: 503 Service Unavailable>"
### INFO
Python Version: **2.7.8 (default, Oct 20 2014, 15:05:29)
[GCC 4.9.1]**
Operating System: **Linux-3.16.0-30-generic-i686-with-Ubuntu-14.10-utopic**
Branch: **develop**
Commit: SiCKRAGETV/SickRage@b29f5122fc557fc2bab7ed907d3a76221fb58535
Link to Log: https://gist.github.com/913aaf025a2689fa2e54
### ERROR
[code]
---
_STAFF NOTIFIED_: @SiCKRAGETV/owners @SiCKRAGETV/moderators

[2015-02-17 22:23] Alexwijn opened #641 "[APP SUBMITTED]: <sickbeard.tv.TVEpisode object at 0x3c90330>"
### INFO
Python Version: **2.7.3 (default, Mar 18 2014, 05:13:23)
[GCC 4.6.3]**
Operating System: **Linux-3.18.7+-armv6l-with-debian-7.8**
Branch: **develop**
Commit: SiCKRAGETV/SickRage@b29f5122fc557fc2bab7ed907d3a76221fb58535
Link to Log: https://gist.github.com/e8e66fbeb71ab746b5d3
### ERROR
[code]
---
_STAFF NOTIFIED_: @SiCKRAGETV/owners @SiCKRAGETV/moderators

[2015-02-17 22:29] ceesvanegmond opened #642 "Sickrage slow when loading pages"
Hello everyone,

I'm experiencing a few problems when using Sickrage.

Branch: Master
Commit hash: 93f0f0ad1fa278afb17f73d47c099b82a766dede
Your operating system and python version SynologyDSM (latest), Python 2.7.9, SynologyDS414j
What you did: Just open any page in sickrage (homepage, showdetailpage, error page)

What happened:
It takes a while to load, it strikes me that the assets that are loa

[2015-02-17 23:22] abeloin commented on #625
In your web browser, type https://xx.xx.xx.xx/rutorrent/plugins/httprpc/action.php: it should ask you for your username and password(maybe unsecured connection first if certificate is self-signed). You should see the word false in your browser.

1. Use https://xx.xx.xx.xx/rutorrent/plugins/httprpc/action.php
2. If you use self-signed ssl uncheck verify SSL
3. Choose basic as your authentication.
4

[2015-02-18 00:03] Quiptix commented on #234
I have increased the Trakt timeout to 60 seconds and haven't encountered a timeout yet after almost 24 hours.
I will monitor this for another 24 hours to be sure.

[2015-02-18 00:05] abeloin commented on #624
@TuRDMaN I pushed some new code, can you try it?

[2015-02-18 00:21] acecon commented on #625
I added back https, did not specify a port #, & unchecked "verify certificate".

Problem Solved!

I guess I assumed Verify Certificate had to be checked for self-signed certificates.

Thanks @abeloin

[2015-02-18 00:37] abeloin commented on #639
Fixed in the dev branch

[2015-02-18 00:40] #639 closed

[2015-02-18 00:48] abeloin commented on #589
@fernandog Regarding issue # 639 which is temporary fixed by PR1341, this should be re-enable in the future and disable locally when a requests is made with verify=False. By the way the warning is only printed on the console.

Like this:
[code]

[2015-02-18 00:51] abeloin commented on #625
Verify certificate is for a certificate that is signed by a recognized entity which self-signed aren't.

[2015-02-18 00:52] #625 closed

[2015-02-18 01:35] TuRDMaN commented on #624
Woohoo! Updated to BRANCH: (develop) / COMMIT: (e0204d048e2cfdf6ba27ee6f0a2800b8e942a1f0)
Before, even just loading a show page took a fair amount of time sometimes, and loading the edit page would take at least 30 seconds. Now, everything seems much snappier. And I haven't encountered any errors thus far!

[2015-02-18 01:58] fernandog commented on #589
@abeloin can you make a PR for this one?

https://github.com/fernandog/SickRage/commit/933e40d235df79ad7f6a186af34acd2433647d7a

I give up trying to PR to SR develop. When I try a lots of commits appear together with this one. My fork is synced with SR.

[2015-02-18 02:03] iguyking opened #643 "Web Page on iPad doesn't work"
Branch - Master
Commit hash - 93f0f0ad1fa278afb17f73d47c099b82a766dede
Your operating system and python version - Ubuntu 14.04
What you did - Updated to latest git release
What happened -
-- Viewing the webpage on an iPad no longer works nice and simple.   Now it looks like it does on the desktop/full version.  In doing that, you can't actually see anything on the top and you can't add shows for e

[2015-02-18 02:57] ChaosTherum opened #644 "[Feature Request] Add remove torrent to uTorrent client."
When using CouchPotato I noticed that they had the option of removing a torrent once it was completed. This would be really great to have in SickRage.

Another thing I'm not even sure if this is possible but it would be great if we could also set a directory to move the data to once completed. I know it's doable in the main program but it would be nice to have a separate folder for SickRage from m

[2015-02-18 03:25] maxcore opened #645 "Missing logo network"
Missing canada network logo thx

https://www.dropbox.com/s/valzy8uco890tv7/logo-network.zip?dl=0

enjoy

[2015-02-18 03:56] ChaniD commented on #636
i'm getting the same error

[2015-02-18 04:02] Wyth commented on #631
I just installed sickrage yesterday, so I figured it was something I did. But I've been running into this ever since then too.

[2015-02-18 04:36] tjw1184 commented on #547
@fernandog, could you mark this as a feature request then?  It has happened many times they I've redownloaded a 720 bluray after a 1080 bluray snatch fails which replaces the 720 bluray that already exists.

Also, there was one instance where I had a 720 bluray and it snatched a 1080 bluray.  The 1080 failed, it grabbed a 720 bluray which also failed - it ended up snatching a web-dl and appeared t

[2015-02-18 04:39] abeloin commented on #614
@dirkr07 Can you test this commit: https://github.com/abeloin/SickRage/commit/97ade6ad6c90ead4f87f631c30fe3d81d348b349 ?
You'll need to switch the dev branch to test it.

[2015-02-18 04:56] abeloin commented on #589
@fernandog How do you create your branch when you want to create a PR?
Like this ```git checkout -b patch-fix develop``` or this ```git checkout -b patch-fix```
The first will create a branch based on develop, the second will create a branch based on the currently selected branch. If you use the second method it could be why you have trouble.

Here the PR: https://github.com/SiCKRAGETV/SickRage/pu

[2015-02-18 05:06] TimVNL commented on #628
Will look into it today..... But if CP generates .ignore files does Sickrage still moves the file?

[2015-02-18 05:11] abeloin commented on #624
@TuRDMaN I pushed some new code, can you try it? It will show you a ui notification when sickrage is unable to retrieve the groups from AniDB.

[2015-02-18 05:17] abeloin commented on #643
Can you provide a screenshot?

[2015-02-18 05:23] abeloin commented on #642
What the cpu usage on your Synology? Have a look at your load average as it look like to me the system is struggling. Do you have any subtitles enabled? As they chew up a lot of cpu ressources.

[2015-02-18 05:28] abeloin commented on #640
No need to report this error, it's telling you opensubtitles is unavailable.

[2015-02-18 05:28] #640 closed

[2015-02-18 05:30] abeloin commented on #636
Duplicate of #231

[2015-02-18 05:30] #636 closed

[2015-02-18 05:32] abeloin commented on #641
Related to #626

[2015-02-18 05:32] mike19715 opened #646 "[APP SUBMITTED]: Connection error HTTPConnectionPool(host='services.tvrage.com', port=80): Max retries exceeded with url: /myfeeds/episode_list.php?key=Uhewg1Rr0o62fvZvUIZt&sid=24709 (Caused by <class 'socket.error'>: [Errno 10054] An existing connection was forcibly closed by the remote host) while loading URL http://services.tvrage.com/myfeeds/episode_list.php"
### INFO
Python Version: **2.7.8 (default, Jun 30 2014, 16:03:49) [MSC v.1500 32 bit (Intel)]**
Operating System: **Windows-8-6.2.9200**
Branch: **master**
Commit: SiCKRAGETV/SickRage@93f0f0ad1fa278afb17f73d47c099b82a766dede
### ERROR
[code]
---
_STAFF NOTIFIED_: @SiCKRAGETV/owners @SiCKRAGETV/moderators

[2015-02-18 05:33] #616 closed

[2015-02-18 05:33] mike19715 opened #647 "[APP SUBMITTED]: You tried saving an invalid sports naming config, not saving your sports settings"
### INFO
Python Version: **2.7.8 (default, Jun 30 2014, 16:03:49) [MSC v.1500 32 bit (Intel)]**
Operating System: **Windows-8-6.2.9200**
Branch: **master**
Commit: SiCKRAGETV/SickRage@93f0f0ad1fa278afb17f73d47c099b82a766dede
Link to Log: https://gist.github.com/55d614f465397e93a39e
### ERROR
[code]
---
_STAFF NOTIFIED_: @SiCKRAGETV/owners @SiCKRAGETV/moderators

[2015-02-18 05:35] #646 closed

[2015-02-18 05:36] abeloin commented on #647
Need more info, what's the sport string your trying to save?

[2015-02-18 05:38] abeloin commented on #595
PR was merged

[2015-02-18 05:41] abeloin commented on #582
Can you try this: do a force update on the show, wait until complete then restart sickrage. Try to post process your file again.

[2015-02-18 05:41] abeloin commented on #581
@Deddiekoel

[2015-02-18 05:42] abeloin commented on #579
@brando56894 Any news?

[2015-02-18 05:43] mike19715 commented on #647
I actually recieve this error message every time I make a change to post processing and save it to the config.  It has been happening for awhile and can't seem to find the cause.

[2015-02-18 05:50] abeloin commented on #647
To resolve:
1. Go to post process config
2. Switch to Episode Naming tab
3. Check Custom Sports
4. Change from custom to the 1st one in the drop down list.
5. Uncheck Custom Sports
6. Click Save Changes

[2015-02-18 06:36] mapleleafs89 opened #648 "Show Metadata NFO always generated"
Looks like it's been happening for a while without me realizing it but noticed episode meta data started being generated for some reason. Though I don't see it in the log the files exist.. I have show metadata UNCHECKED in all post processing (kodi, kodi12, etc). I have "Move srr/srt/sfv/etc files with the episode when processed?" unchecked. Anything else that would cause this? Shows that were pro

[2015-02-18 07:25] educatedwarrior commented on #398
Please add this.

[2015-02-18 07:25] ryanf86 opened #649 "[APP SUBMITTED]: coercing to Unicode: need string or buffer, instance found"
### INFO
Python Version: **2.7.9 (v2.7.9:648dcafa7e5f, Dec 10 2014, 10:10:46)
[GCC 4.2.1 (Apple Inc. build 5666) (dot 3)]**
Operating System: **Darwin-14.1.0-x86_64-i386-64bit**
Branch: **develop**
Commit: SiCKRAGETV/SickRage@e0204d048e2cfdf6ba27ee6f0a2800b8e942a1f0
Link to Log: https://gist.github.com/29d29f3fd4bf2d16b266
### ERROR
[code]
---
_STAFF NOTIFIED_: @SiCKRAGETV/owners @SiCKRAGETV/moder

[2015-02-18 07:31] ryanf86 opened #650 "[APP SUBMITTED]: coercing to Unicode: need string or buffer, instance found"
### INFO
Python Version: **2.7.9 (v2.7.9:648dcafa7e5f, Dec 10 2014, 10:10:46)
[GCC 4.2.1 (Apple Inc. build 5666) (dot 3)]**
Operating System: **Darwin-14.1.0-x86_64-i386-64bit**
Branch: **develop**
Commit: SiCKRAGETV/SickRage@e0204d048e2cfdf6ba27ee6f0a2800b8e942a1f0
Link to Log: https://gist.github.com/ef59bc00f8a77abdf8df
### ERROR
[code]
---
_STAFF NOTIFIED_: @SiCKRAGETV/owners @SiCKRAGETV/moder

[2015-02-18 07:45] ceesvanegmond commented on #642
I have subtitles enabled.

EDIT: I just disabled the subtitles plugin, though i still have the problem.
I have looked in to the CPU/MEM usage (screenshot)
![schermafbeelding 2015-02-18 om 08 44 35](https://cloud.githubusercontent.com/assets/883497/6243843/747d66c4-b74a-11e4-9645-1de4c0e10a73.png)

I guess the CPU/MEM couldn't be the problem, their usage isn't that big.

[2015-02-18 07:49] TagForce commented on #628
@TimVNL This line tells SR what a syncfile is:
if extension == '!sync' or extension == 'lftp-pget-status' or extension == 'part' or extension == 'bts':

As you can see there's no .ignore in the list, so it should simply ignore the file and continue Post Processing.

[2015-02-18 08:02] abeloin commented on #650
Duplicate of #649

[2015-02-18 08:02] #650 closed

[2015-02-18 08:12] abeloin commented on #642
Definitely a CPU bound issue. The load average is over your CPU capacity(2 CPU = load average 2.00 = 100% usage) for more than 15 minutes. Also in your screenshot the cpu usage for sickrage is high.

[2015-02-18 08:15] educatedwarrior commented on #649
I'm having the same issue.   Not finding episodes in search.   I updated Sickrage; now no errors but still not finding episodes.  When I go to the search provider and search, it works.   I think the search api calls may be wrong for usenet-crawler.

[2015-02-18 08:29] abeloin commented on #642
After disabling the subtitles, is the cpu usage lower? If not, please provide your sickrage.log via pastebin as to see what's using that much cpu.

[2015-02-18 08:35] TagForce commented on #391
@xxx1983 Can you update to the latest develop branch? The change was only merged on the day you added your last reply, so it may be that it wan't when you updated to develop last time.

[2015-02-18 08:36] educatedwarrior opened #651 "Not finding shows with providers usenet-crawler, nzb finder, sick beard index, womble's index"
Branch  - master
Commit hash  - just did update
Your operating system and python version  -  Freenas
What you did  - Season Episode search not working
What happened  - not finding show
What you expected  - find show and download
Link to a copy/paste of your logfile with clear debug info of the error on PASTEBIN

SUBMIT
 https://www.usenet-crawler.com/api?apikey=xxxxxxxxxxxxxxxxxxxxxxxxx
5ce6f6dcc4

[2015-02-18 08:49] TagForce commented on #648
@mapleleafs89 What user is SR running as? root?
As you can see in your ls output, the nfo files are owned by user ctrought.
Do you have anything running as that user?
If it's SR that does it, all files should have the same owner, clearly they don't, so I doubt SR creates them. Besides, if it's SR that creates them, it creates them as soon as an episode is Post Processed. So episode 6x05 - Sounding

[2015-02-18 08:53] hoefs opened #652 "Mark download as bad and retry - does not work"
I have to change status to "wanted" first (was snatched) otherwise it will not download a new version....

SR Version:	BRANCH: (master) / COMMIT: (93f0f0ad1fa278afb17f73d47c099b82a766dede)
SR Config file:	/usr/local/sickbeard-custom/var/config.ini
SR Database file:	/usr/local/sickbeard-custom/var/sickbeard.db
SR Cache Dir:	/usr/local/sickbeard-custom/var/cache
SR Arguments:	['--daemon', '--pidfile

[2015-02-18 08:56] TagForce commented on #652
@hoefs Can you provide a log of SR from when you click the mark as bad and retry button?
It seems to work just fine here.

[2015-02-18 08:58] ceesvanegmond commented on #642
The CPU is a little bit lower when subtitles disabled
http://pastebin.com/Gk3JqxYz

[2015-02-18 10:10] Psychoteur opened #653 "[APP SUBMITTED]: <ProtocolError for api.opensubtitles.org/xml-rpc: 503 Service Unavailable>"
### INFO
Python Version: **2.7.8 (default, Dec 15 2014, 02:33:48)
[GCC 4.2.1 20070831 patched [FreeBSD]]**
Operating System: **FreeBSD-9.1-RELEASE-amd64-64bit-ELF**
Branch: **master**
Commit: SiCKRAGETV/SickRage@93f0f0ad1fa278afb17f73d47c099b82a766dede
### ERROR
[code]
---
_STAFF NOTIFIED_: @SiCKRAGETV/owners @SiCKRAGETV/moderators

[2015-02-18 10:14] DcR-NL opened #654 "Backlog: failed parsing AlphaRatio Traceback"
**Branch**
Develop

**Commit hash**
e0204d048e2cfdf6ba27ee6f0a2800b8e942a1f0

**Your operating system and python version**
Linux (Synology - x86) - Python 2.7.8 (default, Dec 12 2014, 21:20:40) [GCC 4.7.3 20130102 (prerelease)]

**What you did**
Force backlog search with (only) AlphaRatio enabled. Settings:
[code]

**What happened**
Failed parsing AlphaRatio Traceback:
http://pastebin.com/X76qLtXp

[2015-02-18 10:20] #595 closed

[2015-02-18 10:28] fernandog commented on #641
Yes. Here we have the traceback
[code]

[2015-02-18 10:33] fernandog commented on #547
@TagForce @tjw1184 one solution is to check if there is the previous snatched file and dont re-download. Just do a show refresh.

[2015-02-18 10:40] fernandog commented on #642
@ceesvanegmond you did a mass update didnt you? This take a log time and CPU

[2015-02-18 10:44] fernandog commented on #652
@TagForce I this issue is about to not download same quality if we do manual search, the manual search will only try to find proper or better quality

[2015-02-18 10:45] fernandog commented on #653
@abeloin
We should handle this traceback more will come

[2015-02-18 10:51] neoatomic commented on #645
@maxcore Thanks for the logo's.
We need the exact network names for both logos that are shown in the show overview.
Also normally we use transparent backgrounds in the logos, but i see that with those two logos that could give problems. Need to give that some thoughts how to solve...

[2015-02-18 10:53] cptjhmiller opened #655 "ImportError: cannot import name ProtocolError"
##### Branch
Master

##### Operating system and python version
Debian Wheezy
Python 2.7.3 (default, Mar 13 2014, 11:03:55)

##### What I did
Switch from develop version to master version.

##### ERROR

    Traceback (most recent call last):
    File "SickBeard.py", line 62, in <module>
    import sickbeard
      File "/opt/sickbeard2/sickbeard/__init__.py", line 33, in <module>
    from sickbeard

[2015-02-18 11:01] flightlevel commented on #632
@happypaps  Login to Freshon via your web browser, then go to Profile. Change the number of torrents per page from 15 to 100.

[2015-02-18 11:08] fernandog commented on #654
@BillNasty could you check please?

[2015-02-18 11:31] gborri opened #656 "[Feature Request] Add h265 quality format"
could be usefull to differentiate hd video in h265 format (low disk space).

[2015-02-18 11:34] gborri opened #657 "[Feature Request] Mark download as bad and retry also when failed download is disabled"
the message "Mark download as bad and retry" appear also when failed download is disabled.

[2015-02-18 11:43] fernandog commented on #589
@abeloin
Could't create a PR for this too. I lost the hability to edit & PR in the github web now that I have write access
https://github.com/fernandog/SickRage/pull/1

I think I will erase my fork and start again. Will I lose this https://github.com/SiCKRAGETV/SickRage/pull/1229 ?

[2015-02-18 12:10] abeloin commented on #589
@fernandog Pull request are stored in the destination repos so you can delete your fork without issue.

Don't change the status like that https://github.com/SiCKRAGETV/SickRage/commit/226a7148d267bf4548044b45aef40d444807834c

See https://github.com/SiCKRAGETV/SickRage/pull/1303 and change it in manage_backlogOverview.tmpl

[2015-02-18 12:17] fernandog commented on #589
No it wont cause multi downloasdas @Tagforce said. The low quality not showing in backlog  still exists even with 1303.  higher quality must be always downloaded OR user should set "archive first match" to download only first one

[2015-02-18 12:21] abeloin commented on #589
I've edited my previous comment to:  it cause a snatched episode not show as snatched in the displayshow.

As per [@TagForce comment](https://github.com/SiCKRAGETV/sickrage-issues/issues/521#issuecomment-74164935) we should fix in the backlog page not in the getoverview