[2015-04-21 06:53] xbullet commented on #1130
FYI devs, this issue has been ongoing for 4-6+ months.

I raised a ticket for the same thing.

To fix, I had to start manually moving files from /torrent/download/complete to /torrent/download/postprocessed, and make my new completed folder /torrent/download/preprocessed and point the automatic processor there. Could the post processor start failing after X amount of things to process? I had 200+

[2015-04-21 07:11] Thraxis commented on #1348
@Arcanemagus I have run this against my test PMS today and for all five of the shows I had post process today the Plex notification worked without issue using the token.

If you use a token the only thing you will see in your log would be:
2015-04-20 19:14:32 DEBUG    Thread-50 :: PLEX: Updating all hosts with TV sections: localhost:32400

If you use the username and password you will see the two

[2015-04-21 07:15] Arcanemagus commented on #1348
Automatic notifications were broken on my installation, hence why I even discovered this bug. I'm assuming you have your user/pass credentials entered into your settings as that is the only method that currently works on the master branch. If you only have the authentication token entered, as I do, notifications are entirely broken.

[2015-04-21 07:17] AdeHub opened #1350 "Marking all season episodes as wanted finds nothing"
Master
    975c0dd208c59cac8fd8a77a91da5d1dfc7235df
    OS X Yosemite 2.7.6

Did - Marked all episodes in a season as wanted
Results - Nothing Found
Expected - Provider episodes to be snatched

[code]
Searching for individual episodes works, also if I open the following url (without the '-' from above) in a RSS reader I get results:

[code]
Apologies if already a known issue

[2015-04-21 07:24] Thraxis commented on #1348
@Acanemagus You've got PlexPass I'm presuming

Lovely idiots that Plex is... If you don't have PlexPass then it could care less what you put into the Token field..  Which is why I didn't catch this in testing

[2015-04-21 07:29] Arcanemagus commented on #1348
@Thraxis that is... disturbing. I'm hoping with their promised security revamp due "soon" things like that will get fixed. (And yes, I managed to snag the lifetime PlexPass back before the price hike.)

[2015-04-21 07:29] TagForce commented on #1305
@matigonkas It should simply go through the entire list of errors and submit the newest one. Only UI errors will be submitted and added to that list, but it's a simple for loop that is broken out of by the return at the end:
[code]

At the end there is a ```classes.ErrorViewer.errors.remove(curError)``` that removes the error from the error list. Now that I think about it, it may actually remove a

[2015-04-21 07:37] Thraxis commented on #1348
@abeloin @fernandog PR#1808 and PR#1810 fix the issues.

[2015-04-21 07:43] TagForce commented on #1349
@jdfalk While this error will be fixed, the underlying problem needs to be addressed. This message can only be logged when you still have a search running for a show that is no longer in your list... If you restart SR the problem is gone.

[2015-04-21 07:48] Nibeck1309 opened #1351 "[APP SUBMITTED]: 'ascii' codec can't encode character u'\xc9' in position 77: ordinal not in range(128)"
### INFO
Python Version: **2.7.3 (default, Mar 18 2014, 05:13:23) [GCC 4.6.3]**
Operating System: **Linux-3.18.7+-armv6l-with-debian-7.8**
Locale: unknown
Branch: **master**
Commit: SiCKRAGETV/SickRage@975c0dd208c59cac8fd8a77a91da5d1dfc7235df
Link to Log: https://gist.github.com/46d60aa7ac97e7e7bd05
### ERROR
[code]
---
_STAFF NOTIFIED_: @SiCKRAGETV/owners @SiCKRAGETV/moderators

[2015-04-21 07:55] TagForce commented on #1334
@abeloin @fernandog
There's nothing preventing it from happening when you directly call processDir()...
processDir() is called from the following 3 locations:
autoPostProcesser.py - The Scheduler
webapi.py - from CMD_PostProcess(ApiCall)
webserve.py - from HomePostProcess(Home)

So the last 2 might actually be run simultaneously...

If we don't want multiple PP threads to run, does PP need to be t

[2015-04-21 08:14] flaifel opened #1352 "[APP SUBMITTED]: global name 'traceback' is not defined"
### INFO
Python Version: **2.7.9 (default, Dec 10 2014, 12:24:55) [MSC v.1500 32 bit (Intel)]**
Operating System: **Windows-7-6.1.7601-SP1**
Branch: **master**
Commit: SiCKRAGETV/SickRage@975c0dd208c59cac8fd8a77a91da5d1dfc7235df
Link to Log: https://gist.github.com/0dcdf8cd981b8515bab6
### ERROR
[code]
---
_STAFF NOTIFIED_: @SiCKRAGETV/owners @SiCKRAGETV/moderators

[2015-04-21 08:31] flaifel opened #1353 "[APP SUBMITTED]: [Errno 10060] A connection attempt failed because the connected party did not properly respond after a period of time, or established connection failed because connected host has failed to respond"
### INFO
Python Version: **2.7.9 (default, Dec 10 2014, 12:24:55) [MSC v.1500 32 bit (Intel)]**
Operating System: **Windows-7-6.1.7601-SP1**
Branch: **master**
Commit: SiCKRAGETV/SickRage@975c0dd208c59cac8fd8a77a91da5d1dfc7235df
Link to Log: https://gist.github.com/8b512d735af05ad2bc27
### ERROR
[code]
---
_STAFF NOTIFIED_: @SiCKRAGETV/owners @SiCKRAGETV/moderators

[2015-04-21 09:03] bobbyware commented on #1320
Sabnzbd:

Opening URL: http://localhost:8081/home/postprocess/processEpisode
Processing folder /home/user/Downloads/incomplete/scnzbefnet529699-Arrow.S03E04.720p.HDTV.X264-DIMENSION-126-sparrow.304.720p-dimension.sfv.1
TV_DOWNLOAD_DIR: /mnt/Download/transmission/completed/tv_shows
PostProcessing Path: /home/user/Downloads/incomplete
PostProcessing Dirs: [u'scnzbefnet529699-Arrow.S03E04.720p.HDTV.X

[2015-04-21 09:05] bonega commented on #1105
I still have the same problem in 057e85a3e32a44cf4912d02662dd3de9f9679d5e

[2015-04-21 09:09] valantislevas commented on #122
how i can set it? i tried  update-locale LANG=en_US.UTF-8 but nothing on ubuntu 14.04

[2015-04-21 09:11] bobbyware commented on #1320
Sorry but Sickrage logs are no longer there (too long ago). But above should give enough information. I've did some debugging as well, and found out that the regex to extract the show information fails.
This is probably caused by the fact that the episode number is duplicated (S03E04 and 304). I've tried to implement a fix, but didn't work...
The original NZB name does not have the season informat

[2015-04-21 09:32] valantislevas commented on #1076
Jonnehs how you fix the SR Locale: (None, None) ?

i also have correct locale like this:

root@hosted-by:~# locale
LANG=en_US.UTF-8
LANGUAGE=en_US.UTF-8
LC_CTYPE="en_US.UTF-8"
LC_NUMERIC="en_US.UTF-8"
LC_TIME="en_US.UTF-8"
LC_COLLATE="en_US.UTF-8"
LC_MONETARY="en_US.UTF-8"
LC_MESSAGES="en_US.UTF-8"
LC_PAPER="en_US.UTF-8"
LC_NAME="en_US.UTF-8"
LC_ADDRESS="en_US.UTF-8"
LC_TELEPHONE="en_US.UTF-8"
LC_

[2015-04-21 10:14] freddysmith1 opened #1354 "[APP SUBMITTED]: list index out of range"
### INFO
Python Version: **2.7.9 (default, Mar 23 2015, 00:07:04) [GCC 4.7.3 20130102 (prerelease)]**
Operating System: **Linux-3.2.40-x86_64-with-glibc2.2.5**
Locale: UTF-8
Branch: **master**
Commit: SiCKRAGETV/SickRage@975c0dd208c59cac8fd8a77a91da5d1dfc7235df
No Log available with ERRORS:
### ERROR
[code]
---
_STAFF NOTIFIED_: @SiCKRAGETV/owners @SiCKRAGETV/moderators

[2015-04-21 10:23] Jonnehs commented on #1076
I never fixed it, it was a red herring. The software seems to work without that being correct. My issue was because there was a non-UTF character in the folder I was trying to scan.

[2015-04-21 10:50] maxcore commented on #1347
+1

[2015-04-21 10:50] maxcore commented on #1346
+1

[2015-04-21 11:11] fernandog commented on #1348
@Thraxis @Arcanemagus both merged

[2015-04-21 11:16] #1353 closed

[2015-04-21 11:17] fernandog commented on #1353
@flaifel check you email settings.

[2015-04-21 11:19] fernandog commented on #1351
@Nibeck1309 set your locale as utf-8 in linux

[2015-04-21 11:19] #1351 closed

[2015-04-21 11:21] fernandog commented on #1350
@AdeHub change the season mode to eponly in providers. You are trying to download season packs and they are not available.

[2015-04-21 11:21] #1350 closed

[2015-04-21 11:25] fernandog commented on #1320
@bobbyware check the original video file inside the nzb.

[2015-04-21 11:30] fernandog commented on #1334
@TagForce @abeloin what is the best long term solution?

[2015-04-21 11:34] fernandog commented on #1354
@bjornhamra please check this. Can you fix it please?

[2015-04-21 11:35] fernandog commented on #122
@valantislevas Try to run SR with a non-root user

[2015-04-21 11:57] bjornhamra commented on #1354
Unable to reproduce so far, but the error seems to indicate that the user is not presented with the same markup I am. Would love some more context, is that possible through the app bug reporting

Had a quick look at the markup, but it doesn't seem to have changed since the pull request.  Will generalizing the bs4 code a bit more to make it slightly more fault tolerant.

/B

[2015-04-21 12:06] uskyrt commented on #1001
That'd be helpful. At the moment I have to SSH and modify the provider files manually every time SR updates

[2015-04-21 12:20] fernandog commented on #1354
@freddysmith1 are you using proxy?

[2015-04-21 12:27] abeloin commented on #1334
@TagForce @fernandog I think we should implement a PP queue like the search and show queue. We set the auto PP with a low priority and the manual one(webapi and webserve) with High. For the returned results, we use a callback or yield the results.

[2015-04-21 12:56] abeloin commented on #1105
@bonega Provide the debug log associated with the error.

[2015-04-21 13:05] freeminders commented on #574
Thanks! This helps out a lot.  Is there a way we could have the filter persist? For instance, 99.99% of the time, I only want to see shows < 100% downloaded. It would be nice if I could enter that as a filter and whenever I hit the page, be it in the same session, or if I close the browser and come back, it still has that filter applied?

[2015-04-21 13:56] valantislevas commented on #122
how i can run it? to move it to other path of users because now is on /opt/sickrare and run it again from user's shell?

[2015-04-21 14:00] fernandog commented on #122
Second option

[2015-04-21 14:00] valantislevas commented on #122
after this change i restart sb but it says root again on options.. maybe restart the box to start automatic?

[2015-04-21 14:02] fernandog commented on #122
Try it

[2015-04-21 14:11] valantislevas commented on #122
i put val on the path above also run it manually from opt/sickrage and now it says

SR Version: 	BRANCH: (master) / COMMIT: (975c0dd208c59cac8fd8a77a91da5d1dfc7235df)
SR User:	root
SR Locale:	('en_US', 'UTF-8')

[2015-04-21 14:27] konomimaster opened #1355 "[APP SUBMITTED]: CheckVersion instance has no attribute 'amActive'"
### INFO
Python Version: **2.7.3 (default, Mar 31 2015, 15:16:49) [GCC 4.9.2]**
Operating System: **Linux-3.18.10-armv7l-with-glibc2.4**
Locale: unknown
Branch: **master**
Commit: SiCKRAGETV/SickRage@975c0dd208c59cac8fd8a77a91da5d1dfc7235df
Link to Log: https://gist.github.com/6bd3f8e4dd2b2ab3223d
### ERROR
[code]
---
_STAFF NOTIFIED_: @SiCKRAGETV/owners @SiCKRAGETV/moderators

[2015-04-21 14:30] freddysmith1 commented on #1354
No proxy

[2015-04-21 14:40] fernandog commented on #122
Now try to reproduce the error

[2015-04-21 14:43] flaifel opened #1356 "[APP SUBMITTED]: [Errno 10060] A connection attempt failed because the connected party did not properly respond after a period of time, or established connection failed because connected host has failed to respond"
### INFO
Python Version: **2.7.9 (default, Dec 10 2014, 12:24:55) [MSC v.1500 32 bit (Intel)]**
Operating System: **Windows-7-6.1.7601-SP1**
Branch: **master**
Commit: SiCKRAGETV/SickRage@975c0dd208c59cac8fd8a77a91da5d1dfc7235df
Link to Log: https://gist.github.com/f61c58dd70a52529dfe3
### ERROR
[code]
---
_STAFF NOTIFIED_: @SiCKRAGETV/owners @SiCKRAGETV/moderators

[2015-04-21 14:49] fernandog commented on #1356
@flaifel check your email settings

[2015-04-21 14:49] #1356 closed

[2015-04-21 15:14] colp25 opened #1357 "[Feature Request] - Multiple users"
It would be amazing if sickRage allowed for multiple login accounts, with auditing so you could tell who added what shows, changed settings, etc.

Not sure if this has already been logged as a feature request (couldn't find one) but if so then please close.  Absolutely love sickRage, keep up the great work!

[2015-04-21 15:16] #1357 closed

[2015-04-21 15:17] valantislevas commented on #122
i will try when i get home and i will reply.. thaNKS

[2015-04-21 16:18] Arcanemagus commented on #1348
@fernandog Thanks!

[2015-04-21 16:30] duramato opened #1358 "[Feature Request] Add per show rolling download option"
Instead of having a global toogle for the rolling download feature make it per show
Example :
For the show Bones which has nearly 200 epidodes i could like it so that i would only have 3-4 episodes for it but there are other shows which i would like to have the full collection ie Marvels Daredevil which  has  only ~10 episodes or other shows like Dommsday Preppers which has torrents with low seede

[2015-04-21 17:17] #1348 closed

[2015-04-21 19:47] matigonkas opened #1359 "[APP SUBMITTED]: local variable 'subtitles' referenced before assignment"
### INFO
Python Version: **2.7.8 (default, Oct 20 2014, 15:05:29) [GCC 4.9.1]**
Operating System: **Linux-3.16.0-34-generic-i686-with-Ubuntu-14.10-utopic**
Locale: UTF-8
Branch: **develop**
Commit: SiCKRAGETV/SickRage@2a0c39525e0baca0d7a491d9c78979cd2713a504
No Log available with ERRORS:
### ERROR
[code]
---
_STAFF NOTIFIED_: @SiCKRAGETV/owners @SiCKRAGETV/moderators

[2015-04-21 19:55] matigonkas commented on #1359
error log https://gist.github.com/matigonkas/b0da5e23e63ec76f65a9

[2015-04-21 20:53] coop73 commented on #1331
I am still having an issue with backlog searches. If I switch one episode from skipped to wanted it will find and download episode, but if I switch more than one episode from skipped to wanted it says this.

2015-04-21 16:48:36 INFO     SEARCHQUEUE-BACKLOG-269644 :: No needed episodes found during backlog search for: [The Millers]
2015-04-21 16:48:35 INFO     SEARCHQUEUE-BACKLOG-269644 :: Performi

[2015-04-21 20:59] coop73 opened #1360 "Backlog Search not working for multiple episodes"
I am still having an issue with backlog searches. If I switch one episode from skipped to wanted it will find and download episode, but if I switch more than one episode from skipped to wanted it says this.

[code]

[2015-04-21 21:37] Niwaun opened #1361 "[APP SUBMITTED]: [Errno 13] Permission denied"
### INFO
Python Version: **2.7.8 (default, Jun 30 2014, 16:08:48) [MSC v.1500 64 bit (AMD64)]**
Operating System: **Windows-2012Server-6.2.9200**
Branch: **master**
Commit: SiCKRAGETV/SickRage@975c0dd208c59cac8fd8a77a91da5d1dfc7235df
Link to Log: https://gist.github.com/d329f64f6f60b5c368f2
### ERROR
[code]
---
_STAFF NOTIFIED_: @SiCKRAGETV/owners @SiCKRAGETV/moderators

[2015-04-21 21:38] #1361 closed

[2015-04-21 22:06] boeggild opened #1362 "[APP SUBMITTED]: CHECKVERSION :: git fetch origin returned : fatal: unable to access 'https://github.com/SiCKRAGETV/SickRage.git/': Couldn't resolve host 'github.com'"
### INFO
Python Version: **2.7.9 (default, Mar 22 2015, 23:43:57) [GCC 4.6.4]**
Operating System: **Linux-2.6.32.12-armv5tel-with-glibc2.4**
Locale: UTF-8
Branch: **master**
Commit: SiCKRAGETV/SickRage@975c0dd208c59cac8fd8a77a91da5d1dfc7235df
Link to Log: https://gist.github.com/18fde672a1eb7d4ed347
### ERROR
[code]
---
_STAFF NOTIFIED_: @SiCKRAGETV/owners @SiCKRAGETV/moderators

[2015-04-21 22:07] #1362 closed

[2015-04-21 22:08] boeggild commented on #1362
non issue

[2015-04-22 00:20] cwallace commented on #1321
http://pastebin.com/C7ANnCUp

[2015-04-22 01:08] acdesouza commented on #713
Would like to know more? Diaoul/subliminal#432

[2015-04-22 02:12] ahaghgoo commented on #1105
Is the debug log any different than the regular log?  In any case I’d like to update this by saying while SickRAGE downloads the torrents for currently running shows (even though for some reason they don’t get processed), it doesn’t download the torrents for any backlogged shows.  Here’s an example: 

2015-04-21 19:05:49 ERROR    SEARCHQUEUE-MANUAL-84947 :: rTorrent: Unable to send Torrent: Return

[2015-04-22 02:26] roquemore92 commented on #1321
Just want to confirm that this is not just an issue for him. I'm having the same issue. All searches on morethan.tv, whether manual or daily give the same result as @cwallace

[2015-04-22 02:43] abeloin commented on #713
@felipesalomao Please use English only.

[2015-04-22 02:43] #713 closed

[2015-04-22 02:52] abeloin commented on #1105
@ahaghgoo Yes it provide additional info to help find the issue. See the readme on the page where you opened your issue: https://github.com/SiCKRAGETV/sickrage-issues/blob/master/README.md

Check your rtorrent config, it doesn't respond to add torrent request. Can you provide the logs from rtorrent?

[2015-04-22 02:53] abeloin commented on #1321
@cwallace Thanks will check the code in the provider

[2015-04-22 03:45] ahaghgoo commented on #1105
Not that I know of.  I cross posted this on the QNAP rtorrent forum where the developer regular checks and responds to issues (http://forum.qnap.com/viewtopic.php?f=146&t=109508).  Maybe he can provide some insight on the communication issue between rtorrent and SickRAGE.

I looked at the log again and it looks like it’s an xmlrpc issue.  I ran into a similar issue when trying to use BarMagnet on

[2015-04-22 04:04] abeloin commented on #1105
@ahaghgoo It's already supported as I use it.

Your url should be something like this: `https://localhost/rutorrent/plugins/httprpc/action.php`

[2015-04-22 04:14] ahaghgoo commented on #1105
Yes, I forgot.  I did have it set similarly: scgi://localhost:5000/rutorrent/plugins/httprpc/action.php

So I was experiencing these errors with the httprpc plugin.   

--
Afshin Haghgoo 
ahaghgoo@gmail.com

On April 21, 2015 at 21:04:41, Alexandre Beloin (notifications@github.com) wrote:

@ahaghgoo It's already supported as I use it.

Your url should be something like this: https://localhost/ruto

[2015-04-22 04:18] abeloin commented on #1105
Don't use scgi as the schema, use http or https.

[2015-04-22 04:35] ahaghgoo commented on #1105
Unfortunately I can’t get it to connect using http or https.  I’ll have to await for the QNAP rtorrent developer to see if he can address the issue why rtorrent can’t communicate with SickRAGE.  -A 

--
Afshin Haghgoo 
ahaghgoo@gmail.com

On April 21, 2015 at 21:18:51, Alexandre Beloin (notifications@github.com) wrote:

Don't use scgi as the schema, use http or https.

—
Reply to this email direct

[2015-04-22 05:33] NilsNojje opened #1363 "[Feature request] Disk space indication"
Would it be possible to add and indication of the disk space usage for media folders and perhaps the watch directory for post processing, on the index page, or server status page?

[2015-04-22 05:48] bitzorro opened #1364 "Seperate Plex Media Server and Plex Media Client in UI"
### INFO
Python Version: **2.7.9 (default, Dec 10 2014, 12:24:55) [MSC v.1500 32 bit (Intel)]**
Operating System: **Windows-7-6.1.7601-SP1**
Branch: **master**
Commit: SiCKRAGETV/SickRage@975c0dd208c59cac8fd8a77a91da5d1dfc7235df
Link to Log: https://gist.github.com/5c270c4c93840bdc00fb
### ERROR
[code]
---
_STAFF NOTIFIED_: @SiCKRAGETV/owners @SiCKRAGETV/moderators

[2015-04-22 05:49] AdeHub commented on #1350
It is set as eponly:
[code]

[2015-04-22 06:28] TagForce commented on #1331
@coop73 Please submit a new issue for this. It's hard to keep track of different issues if we bunch them up in other issues.

Thanks

[2015-04-22 06:54] pct00 opened #1365 "[APP SUBMITTED]: ('Received response with content-encoding: gzip, but failed to decode it.', error('Error -3 while decompressing: incorrect header check',))"
### INFO
Python Version: **2.7.8 (default, Jun 30 2014, 16:03:49) [MSC v.1500 32 bit (Intel)]**
Operating System: **Windows-7-6.1.7601-SP1**
Branch: **develop**
Commit: SiCKRAGETV/SickRage@2a0c39525e0baca0d7a491d9c78979cd2713a504
No Log available with ERRORS:
### ERROR
[code]
---
_STAFF NOTIFIED_: @SiCKRAGETV/owners @SiCKRAGETV/moderators

[2015-04-22 07:15] #1349 closed

[2015-04-22 07:46] amzeus opened #1366 "aired shows going back to unaired"
recently iv started seeing some buggy behaviors

bug 1
shows going on to the coming episodes list until the day after there showing and then going back to un-aired but still with the correct date

bug 12
shows going to the coming episodes for the day after eg showing up as coming on on wednesday 22nd despite showing on the 21st

shows it happen to last night
The flash
undateable
izombie
marvels ag

[2015-04-22 08:32] bobbyware commented on #1320
@fernandog The original NZB contains a RAR file, with name
"sparrow.304.720p-dimension.rar"
HOWEVER, that RAR file is not in my incomplete folder, as the entire download failed.

And I think it's looking at a different file? When I look at the logs, I see this:

Error: unable to parse release name scnzbefnet529699-Arrow.S03E04.720p.HDTV.X264-DIMENSION-126-sparrow.304.720p-dimension.sfv into a vali

[2015-04-22 08:41] TagForce commented on #1359
@matigonkas @abeloin @fernandog Fixed it, waiting for it to be merged

[2015-04-22 09:00] TagForce commented on #1320
SabNZBd is telling SR to process that folder. The 'filename' you're seeing is actually a foldername.
And indeed SR cannot parse that name into a valid show name (show would have to be scnzbefnet529699-Arrow). So that's why SR is failing to handle the failed download, because it has no idea what download it is. The reason why SR is trying to PP the folder (when there's no video file in it) is becau

[2015-04-22 09:27] AdeHub commented on #1360
I have the same [issue](https://github.com/SiCKRAGETV/sickrage-issues/issues/1350)

[2015-04-22 09:41] levinzz opened #1367 "[APP SUBMITTED]: 'int' object has no attribute '__getitem__'"
### INFO
Python Version: **2.7.9 (default, Mar 22 2015, 23:23:28) [GCC 4.6.4]**
Operating System: **Linux-3.2.40-armv7l-with-glibc2.4**
Locale: UTF-8
Branch: **master**
Commit: SiCKRAGETV/SickRage@057e85a3e32a44cf4912d02662dd3de9f9679d5e
No Log available with ERRORS:
### ERROR
[code]
---
_STAFF NOTIFIED_: @SiCKRAGETV/owners @SiCKRAGETV/moderators

[2015-04-22 09:53] HamilcarH opened #1368 "[APP SUBMITTED]: (-32002, u'Call Limit Exceeded')"
### INFO
Python Version: **2.7.9 (default, Mar 23 2015, 00:07:04) [GCC 4.7.3 20130102 (prerelease)]**
Operating System: **Linux-3.2.40-x86_64-with-glibc2.2.5**
Locale: UTF-8
Branch: **master**
Commit: SiCKRAGETV/SickRage@975c0dd208c59cac8fd8a77a91da5d1dfc7235df
Link to Log: https://gist.github.com/cc179458f4bda0886897
### ERROR
[code]
---
_STAFF NOTIFIED_: @SiCKRAGETV/owners @SiCKRAGETV/moderators

[2015-04-22 10:01] levinzz opened #1369 "Wrong show subtitles"
**INFO**

Python Version: 2.7.9 (default, Mar 22 2015, 23:23:28) [GCC 4.6.4]
Operating System: Linux-3.2.40-armv7l-with-glibc2.4
Locale: UTF-8
Branch: master
Commit: SiCKRAGETV/SickRage@057e85a
Enabled subtitle providers :
  1. Addic7ed
  2. TvSubtitles
  3. Opensubtitles
  4. Thesubdb

**ERROR**

Subtitles are downloaded for the wrong show :

Better Call Saul  -->  I get "Secret diary of a call g

[2015-04-22 10:20] levinzz opened #1370 "Unable to postprocess (move) a specific episode"
**INFO**

Python Version: 2.7.9 (default, Mar 22 2015, 23:23:28) [GCC 4.6.4]
Operating System: Linux-3.2.40-armv7l-with-glibc2.4
Locale: UTF-8
Branch: master
Commit: SiCKRAGETV/SickRage@057e85a

Postprocessing config:
[code]

**ERROR**

[code]
Whereas the folder contains the following files :
[code]

Other episodes from the same show and from other shows are correctly processed

Debug log : http:/

[2015-04-22 10:30] bobbyware commented on #1320
@TagForce Thanks for the clarification, makes sense. However, I don't know how to fix it... SabNZBD obviously doesn't know anything about what's being downloaded.
The NZB was downloaded in the first place, so at that time SR could detect the show name... 98% sure this was the original NZB: http://nzbclub.com/nzb_get/39384851/scnzb_efnet_529699_Arrow_S03E04_720p_HDTV_X264_DIMENSION_sparrow_304_720p

[2015-04-22 10:40] TagForce commented on #1350
@AdeHub Do you have any other torrent providers enabled?
Are they exhibiting the same behaviour?

[2015-04-22 10:50] AdeHub commented on #1350
Same issue with piratebay

[2015-04-22 11:24] TagForce commented on #1350
@AdeHub I think I fixed it... If you know how, you can see if the PR works for you.

[2015-04-22 11:25] noze2000 opened #1371 "[APP SUBMITTED]: Unrar: Generic Error"
### INFO
Python Version: **2.7 (r27:82500, Aug 21 2010, 07:52:47) [GCC 4.1.3 20070929 (prerelease) (Ubuntu 4.1.2-16ubuntu2)]**
Operating System: **Linux-3.4.6-x86_64-with-glibc2.4**
Locale: unknown
Branch: **master**
Commit: SiCKRAGETV/SickRage@975c0dd208c59cac8fd8a77a91da5d1dfc7235df
Link to Log: https://gist.github.com/9d2eead94bbe6f2deb9f
### ERROR
[code]
---
_STAFF NOTIFIED_: @SiCKRAGETV/owner

[2015-04-22 11:34] TagForce commented on #1320
@bobbyware Actually, the NZB name is "sparrow 304 720p dimension.nzb". At least that's how it gets downloaded. It could possibly find it by that name (if a search returns the title, and not the actual filename). That way SR could snatch this episode, pass the file that downloads it to SabNZBd, and then completely lose the relation to arrow because the filename is not what was in the title.
Anyhow,

[2015-04-22 11:45] TagForce commented on #1320
@bobbyware In SabNZBd Options, go to Special, and check rss_odd_titles... If nzbclub.com is not on the list, add it. If it is, remove it.
Alternatively (if you're on 0.7.3 or lower) try setting the rss_filenames option to on.
Both of those options change the behaviour for the naming of jobs... It normally uses the Title for the job name (which includes the [#scnzb blah blah] part), and the options

[2015-04-22 11:50] fernandog commented on #1350
@TagForce thanks!

[2015-04-22 11:54] TagForce commented on #1370
@levinzz Post the debug logs from that PP pass (or another with the same issue).

No processable items found will be logged when the Dir is validated. One of the checks is if there's a video file, directory, or rarfile in it, and if the file/directory name can be parsed. If the parse fails for all of the present items it will log this error.

So, either there's a problem with the showname (unlikel

[2015-04-22 11:57] miigotu commented on #1370
Check that the .avi is not actually a folder, containing a file of the same name but .avi.exe

I have seen this in my own logs and it was due to a fake torrent with an exe file

[2015-04-22 11:57] TagForce commented on #1350
@fernandog It is, but the problem is not so much in that it tries a season search, but rather that the search strings for episode searches were still generated using season search logic.

[2015-04-22 11:58] fernandog commented on #1368
https://github.com/SiCKRAGETV/sickrage-issues/issues/1197

[2015-04-22 11:58] #1368 closed

[2015-04-22 11:59] fernandog commented on #1350
https://github.com/SiCKRAGETV/sickrage-issues/issues/1360#issuecomment-95091377

[2015-04-22 12:00] fernandog commented on #1366
@amzeus please post in GIST the log file!
https://github.com/SiCKRAGETV/sickrage-issues

[2015-04-22 12:00] TagForce commented on #1360
@coop73 Hopefully fixed this with a PR.

[2015-04-22 12:00] #1360 closed

[2015-04-22 12:02] fernandog commented on #1369
@levinzz try use one provider each time and see the one that is giving wrong subtitles and disable it. Maybe its outdated

[2015-04-22 12:03] TagForce commented on #1369
@levinzz Can you check the history page in SR to see which provider the wrong subs were downloaded from?

[2015-04-22 12:03] #1359 closed

[2015-04-22 12:05] fernandog commented on #1367
@vanackej can you chack this please?

[2015-04-22 12:06] TagForce commented on #1359
@fernandog It's a hotfix... So @abeloin or you should merge this in master, then develop...
The reason I hotfixed it is because it will now continue processing subtitles like one was downloaded, which isn't true, so stuff might mess up.

[2015-04-22 12:15] fernandog commented on #1359
@TagForce you can merge now too. check your email

[2015-04-22 12:16] fernandog opened #1372 "[APP SUBMITTED]: 523 Server Error: Origin Unreachable"
### INFO
Python Version: **2.7.9 (default, Mar  1 2015, 13:48:22) [GCC 4.9.2]**
Operating System: **Linux-3.18.10-1-osmc-armv7l-with-debian-8.0**
Locale: UTF-8
Branch: **develop**
Commit: SiCKRAGETV/SickRage@2a0c39525e0baca0d7a491d9c78979cd2713a504
No Log available with ERRORS:
### ERROR
[code]
---
_STAFF NOTIFIED_: @SiCKRAGETV/owners @SiCKRAGETV/moderators

[2015-04-22 12:17] fernandog commented on #1372
This is an intermittent issue

[2015-04-22 12:18] TagForce commented on #1359
@fernandog Ok, this is scary... lol...
I'd rather not mess anything up :)
Maybe wait for @abeloin to do the hotfix while I sort my end out so I won't break anything.

[2015-04-22 12:20] fernandog commented on #1359
@abeloin won't have much time until 30th. and you are more experienced than me =)

[2015-04-22 12:22] fernandog commented on #1371
@noze2000 check if rar is valid or is corrupt

[2015-04-22 12:23] fernandog commented on #1366
@amzeus

WARNING  SHOWQUEUE-REFRESH :: DB error: database is locked

check permissions of your database

[2015-04-22 12:24] #1372 closed

[2015-04-22 12:24] fernandog commented on #1340
https://github.com/SiCKRAGETV/sickrage-issues/issues/1365

[2015-04-22 12:24] #1365 closed

[2015-04-22 12:25] fernandog commented on #1364
@bitzorro what did you understand about the error message?

[2015-04-22 12:29] fernandog commented on #1355
@abeloin @TagForce where should I add "self.amActive = True" ?

https://github.com/SiCKRAGETV/SickRage/blob/master/sickbeard/scheduler.py#L71

[2015-04-22 12:31] fernandog commented on #1338
@amzeus please post you full PP folder and your tv shows folder.

[2015-04-22 12:32] fernandog commented on #1340
@Thraxis we can try!

[2015-04-22 12:33] fernandog commented on #1340
@krash1220 are you using reverse proxy?

[2015-04-22 12:35] fernandog commented on #1334
@SiCKRAGETV/moderators agree

also implement this:
https://github.com/SiCKRAGETV/sickrage-issues/issues/1260

[2015-04-22 12:36] fernandog commented on #1330
@emzero please reply or will close

[2015-04-22 12:37] miropereira opened #1373 "[APP SUBMITTED]: local variable 'subtitles' referenced before assignment"
### INFO
Python Version: **2.7.8 (default, Dec 15 2014, 02:33:48) [GCC 4.2.1 20070831 patched [FreeBSD]]**
Operating System: **FreeBSD-9.1-RELEASE-amd64-64bit-ELF**
Locale: unknown
Branch: **master**
Commit: SiCKRAGETV/SickRage@975c0dd208c59cac8fd8a77a91da5d1dfc7235df
No Log available with ERRORS:
### ERROR
[code]
---
_STAFF NOTIFIED_: @SiCKRAGETV/owners @SiCKRAGETV/moderators

[2015-04-22 12:39] #1373 closed

[2015-04-22 12:41] bitzorro commented on #1364
@fernandog
looks like some thing is missing in the settings, but cant understand what? I have used the Notify plex for 6 months
and this error came with the last master update !
I did take a look in the settings and couldnt find anything missing.

Im only using it for notifying the server, no clients.

[2015-04-22 12:42] TagForce commented on #1355
@fernandog https://github.com/SiCKRAGETV/SickRage/blob/master/sickbeard/versionChecker.py#L53
self.amActive = False

You don't really need the value for this thread, as it doesn't matter if it's running twice.
This way it will be set to False upon instantiating.

[2015-04-22 12:42] levinzz commented on #1370
I updated the issue with my debug log.

I don't have VOSTFR in my exclude words list. The folder is valid and VLC has no problem reading the video file (.mkv)

As you can see in the debug log, 2 episodes from other shows were just processed without any issue.

Thank you

[2015-04-22 12:42] TagForce commented on #1334
@abeloin Sounds like a plan.

[2015-04-22 12:44] miigotu commented on #1334
+1 @abeloin

[2015-04-22 12:46] fernandog commented on #1364
@Thraxis can you help me with this? Don't use plex

[2015-04-22 12:48] TagForce commented on #1370
@levinzz
[code]
SR is not seeing the mkv inside the folder... Check permissions for the folder (can SR read the folder and file?), file properties (is the file hidden, does it have some weird attributes), and anything else that might cause SR to not see it.

Try to copy the file somewhere else manually, then delete the file from the folder, and copy it back (use copy, not move as move handles perm

[2015-04-22 12:48] bitzorro commented on #1364
When running test Plex media server it givs me :Successful test of Plex server(s) .

[2015-04-22 12:49] fernandog commented on #1354
@freddysmith1 can you check the logs and post the search string (show name + episode) before this error happend?

[2015-04-22 12:49] TagForce commented on #1359
@fernandog lol, I'll see what I can do :)

[2015-04-22 12:50] #1323 closed

[2015-04-22 12:50] #1328 closed

[2015-04-22 12:51] fernandog commented on #1171
https://github.com/SiCKRAGETV/sickrage-issues/issues/1319

[2015-04-22 12:52] fernandog commented on #1319
@mraniki do you still have that file in the directory?

[2015-04-22 12:52] fernandog commented on #1327
@amzeus reply or will close

[2015-04-22 12:53] fernandog commented on #1305
@TagForce confirmed issue?

[2015-04-22 12:55] fernandog commented on #1364
@bitzorro send a full screen shot of your plex settings

[2015-04-22 12:57] fernandog commented on #1312
@matigonkas please reply or will close

[2015-04-22 12:58] fernandog commented on #1294
@miigotu can you help with this one?

[2015-04-22 12:59] fernandog commented on #1176
@TagForce is this related to the season PR you did?

[2015-04-22 13:01] fernandog commented on #1039
so what should we do with this issue? keep feature request to add another regex in the future?

[2015-04-22 13:04] TagForce commented on #1176
@fernandog It might very well be... Especially since it finds episodes when you set 1 episode to wanted (which causes it to actually use the eponly search strings) makes me believe my PR will fix it.

[2015-04-22 13:06] TagForce commented on #1305
@fernandog Not as of yet, I've been unable to reproduce this so far, and nobody else seems to have encountered it.

[2015-04-22 13:08] levinzz commented on #1369
@fernandog @TagForce For "Marvel...", the subtitle provider is tvsubtitles whereas for "better call Saul" it was addic7ed.

Could they both have issues ?

[2015-04-22 13:13] bitzorro commented on #1364
![screenshot-192 168 0 191 8081 2015-04-22 15-10-30](https://cloud.githubusercontent.com/assets/10099360/7275085/21bf4918-e902-11e4-8d98-c07bbd3efd7b.png)

[2015-04-22 13:16] fernandog commented on #1305
@matigonkas can you try to reproduce it again? Otherwise will close as we can't reproduce

[2015-04-22 13:16] TagForce commented on #1369
@levinzz I was rather hoping they were the same :)
Can you provide a log of SR downloading the subtitles?

I'm hoping the issue was indeed with the providers, but it may be with subliminal. In both cases there's a word in the wrong series title that matches a word in the correct title. So it may be a case of mistaken identity somewhere.

[2015-04-22 13:18] fernandog commented on #1369
@levinzz @TagForce depending how complex this issue it's, we should wait @abeloin finished upgrading subliminal

[2015-04-22 13:19] fernandog commented on #1364
@bitzorro why do you have "notify on download" enabled if "plex client ip port" is empty ?

[2015-04-22 13:20] matigonkas commented on #1312
@TagForce i dont have those logs anymore
So it might be better to close it @fernandog

[2015-04-22 13:27] fernandog commented on #1312
@matigonkas did you get this once only?

[2015-04-22 13:28] matigonkas opened #1374 "[APP SUBMITTED]: SHOWQUEUE-REFRESH :: No episode number found in /media/ssd/Shows/Looney Tunes/Season 1951/082551DVD Cheese Chasers MM.avi, ignoring it"
### INFO
Python Version: **2.7.8 (default, Oct 20 2014, 15:05:29) [GCC 4.9.1]**
Operating System: **Linux-3.16.0-34-generic-i686-with-Ubuntu-14.10-utopic**
Locale: UTF-8
Branch: **develop**
Commit: SiCKRAGETV/SickRage@2a0c39525e0baca0d7a491d9c78979cd2713a504
Link to Log: https://gist.github.com/d9f0ba38811ac7f3cf32
### ERROR
[code]
---
_STAFF NOTIFIED_: @SiCKRAGETV/owners @SiCKRAGETV/moderators

[2015-04-22 13:28] matigonkas opened #1375 "[APP SUBMITTED]: SHOWQUEUE-REFRESH :: No episode number found in /media/ssd/Shows/Looney Tunes/Season 1951/082551DVD Cheese Chasers MM.avi, ignoring it"
### INFO
Python Version: **2.7.8 (default, Oct 20 2014, 15:05:29) [GCC 4.9.1]**
Operating System: **Linux-3.16.0-34-generic-i686-with-Ubuntu-14.10-utopic**
Locale: UTF-8
Branch: **develop**
Commit: SiCKRAGETV/SickRage@2a0c39525e0baca0d7a491d9c78979cd2713a504
Link to Log: https://gist.github.com/c095e56dd9a955697fa4
### ERROR
[code]
---
_STAFF NOTIFIED_: @SiCKRAGETV/owners @SiCKRAGETV/moderators

[2015-04-22 13:28] matigonkas opened #1376 "[APP SUBMITTED]: SHOWQUEUE-REFRESH :: No episode number found in /media/ssd/Shows/Looney Tunes/Season 1951/102051DVD A Bear for Punishment MM.avi, ignoring it"
### INFO
Python Version: **2.7.8 (default, Oct 20 2014, 15:05:29) [GCC 4.9.1]**
Operating System: **Linux-3.16.0-34-generic-i686-with-Ubuntu-14.10-utopic**
Locale: UTF-8
Branch: **develop**
Commit: SiCKRAGETV/SickRage@2a0c39525e0baca0d7a491d9c78979cd2713a504
Link to Log: https://gist.github.com/3427feb5f0d290fa44ef
### ERROR
[code]
---
_STAFF NOTIFIED_: @SiCKRAGETV/owners @SiCKRAGETV/moderators

[2015-04-22 13:29] bitzorro commented on #1364
@fernandog
I noticed and removed it .
If im not wrong that was a part of the server settings earlyer?

[2015-04-22 13:29] matigonkas opened #1377 "[APP SUBMITTED]: SHOWQUEUE-REFRESH :: No episode number found in /media/ssd/Shows/Looney Tunes/Season 1958/030858DVD Robin Hood Daffy MM.avi, ignoring it"
### INFO
Python Version: **2.7.8 (default, Oct 20 2014, 15:05:29) [GCC 4.9.1]**
Operating System: **Linux-3.16.0-34-generic-i686-with-Ubuntu-14.10-utopic**
Locale: UTF-8
Branch: **develop**
Commit: SiCKRAGETV/SickRage@2a0c39525e0baca0d7a491d9c78979cd2713a504
Link to Log: https://gist.github.com/2059abda17568b7ac786
### ERROR
[code]
---
_STAFF NOTIFIED_: @SiCKRAGETV/owners @SiCKRAGETV/moderators

[2015-04-22 13:30] #1377 closed

[2015-04-22 13:30] fernandog commented on #1364
@bitzorro don't know. don't use plex.

[2015-04-22 13:32] #1374 closed

[2015-04-22 13:32] #1375 closed

[2015-04-22 13:32] matigonkas commented on #1305
I think i figured it out @TagForce
When you have 2 or more errors and you try to click the submit button more than the number of errors, it will throw that error

[2015-04-22 13:35] TimothyVandenbrande opened #1378 "[APP SUBMITTED]: POSTPROCESSER :: Automatic post-processing attempted but dir /mnt/Downloads/Complete/tv doesn't exist"
### INFO
Python Version: **2.7.6 (default, Mar 22 2014, 22:59:56) [GCC 4.8.2]**
Operating System: **Linux-3.13.0-48-generic-x86_64-with-Ubuntu-14.04-trusty**
Locale: UTF-8
Branch: **master**
Commit: SiCKRAGETV/SickRage@975c0dd208c59cac8fd8a77a91da5d1dfc7235df
No Log available with ERRORS:
### ERROR
[code]
---
_STAFF NOTIFIED_: @SiCKRAGETV/owners @SiCKRAGETV/moderators

[2015-04-22 13:39] matigonkas commented on #1312
@fernandog  I am not sure but I think that only happened that time

[2015-04-22 13:39] #1376 closed

[2015-04-22 13:40] levinzz commented on #1370
Permissions for folder and files were empty (----------)

I tried copying to another folder and starting manual postprocess (force already processed files: checked). I also tried chmoding folder and files to 777. I also renamed both folder and files to shorter names (DaredevilS01E13)....all to no avail  :-(

[2015-04-22 13:43] #1312 closed

[2015-04-22 13:47] fernandog commented on #1305
@tagforce we should disable button - or show spinning wheel in pointer - until issue is submitted

@matigonkas did you pressed 3 times without waiting the notification showing the issue was submitted?

[2015-04-22 13:48] fernandog commented on #1378
@TimothyVandenbrande you hdd is not mouted.

[2015-04-22 13:51] rafaelrosars opened #1379 "[APP SUBMITTED]: [Errno 1] _ssl.c:504: error:14077438:SSL routines:SSL23_GET_SERVER_HELLO:tlsv1 alert internal error"
### INFO
Python Version: **2.7.3 (default, Mar 31 2015, 15:16:49) [GCC 4.9.2]**
Operating System: **Linux-3.18.10-armv7l-with-glibc2.4**
Locale: unknown
Branch: **master**
Commit: SiCKRAGETV/SickRage@a5dd1d93107d03b406d2a14f99bd29bfffc7c0d5
No Log available with ERRORS:
### ERROR
[code]
---
_STAFF NOTIFIED_: @SiCKRAGETV/owners @SiCKRAGETV/moderators

[2015-04-22 13:58] cyberundertaker commented on #1379
@fernandog

I got the same error:

2015-04-22 15:40:37 SEARCHQUEUE-DAILY-SEARCH :: [Rarbg] :: Unable to connect to Rarbg provider: 521 Server Error: Origin Down
2015-04-22 15:40:28 FINDPROPERS :: [Rarbg] :: Unable to connect to Rarbg provider: error [Errno 1] _ssl.c:507: error:14077438:SSL routines:SSL23_GET_SERVER_HELLO:tlsv1 alert internal error
2015-04-22 15:40:28 FINDPROPERS :: [Rarbg] :: Unab

[2015-04-22 13:59] abeloin commented on #1359
@TagForce Merge in master and develop

[2015-04-22 14:07] matigonkas commented on #1305
@fernandog yes i believe i did

[2015-04-22 14:07] abeloin commented on #1379
Dupe of #1231, reply in that issue

Post results of `python -c 'import ssl; print(ssl.OPENSSL_VERSION)'`

Also have a look at issue #978

[2015-04-22 14:07] #1379 closed

[2015-04-22 14:08] abeloin commented on #1105
Can you post a screenshot of your rtorrent settings in SR?

[2015-04-22 14:11] vanackej commented on #1367
I've made a quick code review, and made another test with my install at home, everything seems to be fine.

@levinzz Can you provide more details : Did it happen only once or does it always fail ? Maybe the t411 API was down or buggy when you had this error. If it happen again please provide the query string passed to t411, you can find it in debug logs.

[2015-04-22 14:18] TagForce commented on #1370
@levinzz Rename the file to Marvel's.Daredevil.S01E13.VOSTFR.FASTSUB.720p.WEBRip.x264-SNEAKy.mkv and try again...
Or add Marvel's Daredevil to your scene exceptions for that show.

[2015-04-22 14:24] TagForce commented on #1364
@bitzorro Yes:
https://github.com/SiCKRAGETV/SickRage/pull/1764

[2015-04-22 14:24] abeloin commented on #1369
Search is done via file hash in Opensubtitles and by name for the other, if I remember correctly

[2015-04-22 14:27] fernandog commented on #1364
@TagForce do we have to remove anything from UI?

[2015-04-22 14:29] amzeus commented on #1366
cant see anything wrong with DB file
![image](https://cloud.githubusercontent.com/assets/12018153/7276777/14cd4d5c-e904-11e4-9076-3a5621c4c94e.png)
and sick rage is only running once.

not sure what you mean by please post in GIST the log file

[2015-04-22 14:30] TagForce commented on #1364
@fernandog No, but it may be wise to seperate the PMS en PMC further by making them a seperate entity on the page.

[2015-04-22 14:31] fernandog commented on #1366
@amzeus

https://github.com/SiCKRAGETV/sickrage-issues/#before-you-open-an-issue

[2015-04-22 14:32] TagForce commented on #1366
@amzeus https://gist.github.com/

[2015-04-22 14:33] levinzz commented on #1370
@TagForce Yup, renaming the file worked !

So the file needs to have the exact same name as the folder ? I'll let you guys decide if it's it an issue or a feature ;-)

Thanks a lot anyway !

[code]

[2015-04-22 14:39] levinzz commented on #1367
Well to be honest this didn't seem to cause any trouble. It was in the error list and I just pressed the "report" button. Since I restarted Sickrage a couple hours ago, it didn't happen again... t411 seems to be working just fine.
So I guess you can close the ticket and I'll ask to reopen if this ever happens again.

Thanks anyway

[2015-04-22 14:41] fernandog commented on #1367
@levinzz report if this happen again

[2015-04-22 14:41] #1367 closed

[2015-04-22 14:48] amzeus commented on #1366
done that now cheers for you time guys

[2015-04-22 14:48] mraniki commented on #1319
no it was not there and that was the reason why the error occurred. only a shortcut in the sick rage directory was there.

[2015-04-22 15:19] TagForce commented on #1370
@levinzz no, but the showname must be recognized as in in your list. SR names the show Marvel's Daredevil, so the file should be named like that, OR a scene exception needs to be added to the show in SR to tell it that Daredevil is really the show Marvel's Daredevil.

[2015-04-22 15:19] #1370 closed

[2015-04-22 16:06] emzero commented on #1330
Nevermind. Seems to be working in the latest commit.

On 22 April 2015 at 09:36, Fernando <notifications@github.com> wrote:

[2015-04-22 16:07] #1330 closed

[2015-04-22 16:07] #1378 closed

[2015-04-22 16:09] fernandog commented on #1366
@TagForce PP can block database while updating? so when show refresh starts it's locked

[2015-04-22 16:10] fernandog commented on #1358
@matigonkas it' a major change in SR. won't do that soon.

[2015-04-22 16:12] fernandog commented on #1354
@bjornhamra do you do any check if the return page is correct or if's empty or if is there some error?

[2015-04-22 16:14] fernandog commented on #1319
@mraniki symlink or hardlink?

[2015-04-22 16:15] fernandog commented on #1316
@cyberundertaker can you test it again? Here it's working

[2015-04-22 16:15] larstomas opened #1380 "[APP SUBMITTED]: SHOWQUEUE-REFRESH :: There was an error trying to retrieve the image, aborting"
### INFO
Python Version: **2.7.9 (default, Mar 23 2015, 00:07:04) [GCC 4.7.3 20130102 (prerelease)]**
Operating System: **Linux-3.2.40-x86_64-with-glibc2.2.5**
Locale: UTF-8
Branch: **master**
Commit: SiCKRAGETV/SickRage@975c0dd208c59cac8fd8a77a91da5d1dfc7235df
No Log available with ERRORS:
### ERROR
[code]
---
_STAFF NOTIFIED_: @SiCKRAGETV/owners @SiCKRAGETV/moderators

[2015-04-22 16:18] fernandog commented on #1380
https://github.com/SiCKRAGETV/sickrage-issues/issues/1189

[2015-04-22 16:18] #1380 closed

[2015-04-22 16:18] levinzz opened #1381 "[Feature Request] Let user add/choose torrent provider url"
Some providers will have different results based on the address.

For example:
https://eztv.ch  has show Marvel's Daredevil
https://eztv.it    doesn't have the same show (by the time this issue is filled in)

Also, some provider urls are blocked in certain countries (kickass, piratebay) whereas their mirrors aren't

Furthermore, proxified url don't really work :
[code]

(both urls are invalid beca

[2015-04-22 16:20] fernandog commented on #1001
https://github.com/SiCKRAGETV/sickrage-issues/issues/1381

[2015-04-22 16:26] abeloin commented on #1350
@fernadog @TagForce  there is another issue open for this, don't remember the number. The issue is some providers doesn't support season search(search for show.s01 and return a bunch of episode) in ep mode(iptorrent is example) and need to be fixed. This was implemented to prevent too many requests on a provider.

I think we should fix the providers instead(findSearchResults, _get_episode_search_s

[2015-04-22 16:27] fernandog commented on #1324
@abeloin should we add

[code]

here:
https://github.com/SiCKRAGETV/SickRage/blob/develop/SickBeard.py#L59

[2015-04-22 16:32] krash1220 commented on #1340
no, no proxy

Sent from Windows Mail

From: Fernando
Sent: ‎Wednesday‎, ‎April‎ ‎22‎, ‎2015 ‎8‎:‎33‎ ‎AM
To: SiCKRAGETV/sickrage-issues
Cc: krash1220

@krash1220 are you using reverse proxy?

—
Reply to this email directly or view it on GitHub.

[2015-04-22 16:35] fernandog commented on #589
Added:
-  Implement a PP queue. Set the auto PP with a low priority and the manual one(webapi and webserve) with High
- Change Refresh thread to Normal instead of High (avoid show refresh stuck other threads)

[2015-04-22 16:36] bjornhamra commented on #1354
The only error checking is checking to see if div#torrenttable exists and the table inside it has more than one row. The error indicates that @freddysmith1's response contains a torrent table, but it somehow has less columns than usual, which I haven't been able to reproduce so far. Need logs/context from @freddysmith1.

A quick work around would look something like this:

[code]

.. but then agai

[2015-04-22 16:39] fernandog commented on #1354
@freddysmith1 is there any option in the tracker that hides column or disable something ? - something like what we do in home and display show (widget column)

[2015-04-22 16:43] HotBlack77 commented on #1381
How about letting users enter their own UML for each provider. This would be a pretty straightforward code change looking at how things are done now.
For here it should later be possible to add automated scraping to populate alternatives.

[2015-04-22 16:48] fernandog commented on #1381
@HotBlack77 want to try make a PR for this? we could use some help coding. we have lots of issues to fix

[2015-04-22 16:52] miigotu commented on #1039
@fernandog I think it was an isolated case, and it should be left alone unless a greater demand comes along. ie: if more releases start using that funkyness, or more people are having this issue.

OP and I have almost the same naming pattern and I haven't had this issue, and he has found a way to make it work.

[2015-04-22 16:55] HotBlack77 commented on #1381
Sure,  my idea would then simply be to add a text edit box in to set the base_url value for a given provider.

[2015-04-22 17:04] miigotu commented on #1294
Those results he took a pic of on KAT aren't SDTV. ^^^

[2015-04-22 17:04] distracto opened #1382 "[APP SUBMITTED]: SEARCHQUEUE-BACKLOG-121361 :: Transmission: Unable to send Torrent: Return code undefined"
### INFO
Python Version: **2.7 (r27:82500, Aug 21 2010, 10:10:43) [GCC 4.2.3]**
Operating System: **Linux-3.4.6-armv5tel-with-glibc2.4**
Locale: unknown
Branch: **master**
Commit: SiCKRAGETV/SickRage@975c0dd208c59cac8fd8a77a91da5d1dfc7235df
No Log available with ERRORS:
### ERROR
[code]
---
_STAFF NOTIFIED_: @SiCKRAGETV/owners @SiCKRAGETV/moderators

[2015-04-22 17:06] freddysmith1 commented on #1354
@fernandog   where do i find the search string that you want?  in sickrage in the log section or in the log file itself in the sickrage folder?

[2015-04-22 17:09] fernandog commented on #1324
@miigotu do you know why this regex don't match this ?

from log above:
2015-04-19 14:01:52 ERROR    SEARCHQUEUE-MANUAL-271546 :: [Rarbg] :: Unable to connect to Rarbg provider: error EOF occurred in violation of protocol (_ssl.c:581)

regex = "^(%s)\s*([A-Z]+)\s*(.+?)\s*\:\:\s*(.*)$" % curError.time

as regex didn't match, issue has not log in gist. We have a lot of issue without logs because of

[2015-04-22 17:14] bonega commented on #1105
Here is a link to my debug: https://gist.github.com/bonega/216fe04d7f45fff4e531#file-gistfile1-py
Using hdbits as a search provider.
It seems to affect only season packs.
(Right now I can't confirm that any season packs can be downloaded, even though I am pretty sure that some were successful)

[2015-04-22 17:14] fernandog commented on #1354
@freddysmith1 enable debug in general settings
then in viewlogs search for:  [SceneTime]

Post results in gist and post url here

[2015-04-22 17:22] freddysmith1 commented on #1354
https://gist.github.com/freddysmith1/307b90326da83dd3045e

[2015-04-22 17:22] fernandog commented on #1105
https://github.com/SiCKRAGETV/sickrage-issues/issues/1382

[2015-04-22 17:23] fernandog commented on #1105
https://github.com/SiCKRAGETV/sickrage-issues/issues/1255

[2015-04-22 17:24] #1255 closed

[2015-04-22 17:24] cyberundertaker commented on #1316
@fernandog no, still not working

Trakt API did not return any results, please check your config.

2015-04-22 19:23:53 WARNING  Thread-42 :: Could not connect to Trakt service: error 401 Client Error: Unauthorized
2015-04-22 19:23:53 WARNING  Thread-42 :: Unauthorized. Please check your Trakt settings

[2015-04-22 17:27] fernandog commented on #1354
@bjornhamra this is the url that created the error

https://www.scenetime.com/browse.php?search=Deadbeat.S02&c2=1&c43=13&c9=1&c63=1&c77=1&c79=1&c100=1&c101=1

[2015-04-22 17:31] fernandog commented on #1316
@cyberundertaker make sure you user/pass/api is everything ok! do you have special char in your trakt password?

[2015-04-22 17:34] cyberundertaker commented on #1316
@fernandog i don't have a trakt account. it used to work ok, but since they changed their API it stopped working. so i guess my only option is to get trakt account and it should work ok?

[2015-04-22 17:36] fernandog commented on #1316
@cyberundertaker trending shows are powered by trakt

[2015-04-22 17:36] #1316 closed

[2015-04-22 17:38] cyberundertaker commented on #1316
@fernandog i know, but it used to work without entering trakt user/pass...
btw, where to enter them?

[2015-04-22 17:40] fernandog commented on #1338
@amzeus X: and Y: are different partitions? what are the filesystems of them? samba share, NFS? check permissions? user?

[2015-04-22 17:40] fernandog commented on #1316
@cyberundertaker notifications - social

[2015-04-22 17:41] fernandog commented on #1319
@mraniki where the link points to? is it broken?

[2015-04-22 17:43] fernandog commented on #1301
@matigonkas did you asked about PP folder or about unrar 5?

[2015-04-22 17:45] cyberundertaker commented on #1316
@fernandog  now it's working. thanks

[2015-04-22 17:53] deusxanime commented on #1294
That is the way the scene has labeled them forever though. They are HDTV rips (sourced from HD broadcast), but encoded in SD. In my screenshot, those are the top 2. Otherwise they'd have the "720p" label on them, like the other 2.

[2015-04-22 17:59] bjornhamra commented on #1354
Does this happen on all your searches, or just some?

Open that browse URL in your browser, and then run the following in your javascript console:
   $("#torrenttable tr:nth-child(2) td").length

Does it return 8?

[2015-04-22 18:03] freddysmith1 commented on #1354
@bjornhamra   just pasteing the $("#torrenttable tr:nth-child(2) td").length at the end of the url?   it doesnt seem to do anything?

[2015-04-22 18:04] fernandog commented on #1354
@freddysmith1 run in address bar:

javascript:window.alert($("#torrenttable tr:nth-child(2) td").length)

[2015-04-22 18:05] bjornhamra commented on #1354
...  ^ or that :)

[2015-04-22 18:08] freddysmith1 commented on #1354
A spinning wheel thing comes up for a second and dissappears?

[2015-04-22 18:10] fernandog commented on #1354
@bjornhamra can you test the command above? did without testing =)

[2015-04-22 18:16] matigonkas commented on #1301
@fernandog  non beta unrar

[2015-04-22 18:19] bjornhamra commented on #1354
Works as expected here.

@freddysmith1 make sure you're inside scenetime (Open the URL you provided), then in your address bar, remove the url and paste what @fernandog wrote. You should get a popup box with a number, hopefully.

[2015-04-22 18:33] freddysmith1 commented on #1354
i get a 6?

[2015-04-22 18:36] fernandog commented on #1354
@freddysmith1 Send a full screen shot of that page

[2015-04-22 18:45] miigotu commented on #1294
@fernandog is correct.

This is kind of a PITA to fix cleanly lol. Why do we need to strip rls groups from the title anyways?

[2015-04-22 18:50] freddysmith1 commented on #1354
![screen shot 2015-04-23 at 4 19 29 am](https://cloud.githubusercontent.com/assets/8336824/7282588/17c2a09a-e970-11e4-8607-f9a832364fd3.png)
![screen shot 2015-04-23 at 4 19 48 am](https://cloud.githubusercontent.com/assets/8336824/7282589/17c45c1e-e970-11e4-9eeb-86bfe675e0a9.png)

[2015-04-22 18:55] fernandog commented on #1294
@miigotu PP issues. SR considers -DIMMENSION and -DIMMENSION[rartv] different release groups

[2015-04-22 18:56] bjornhamra commented on #1354
Doh :D scroll down so we can see the actual torrent table!

[2015-04-22 18:58] freddysmith1 commented on #1354
![screen shot 2015-04-23 at 4 27 42 am](https://cloud.githubusercontent.com/assets/8336824/7282744/2c1633a8-e971-11e4-8211-3d83bc881960.png)
![screen shot 2015-04-23 at 4 28 02 am](https://cloud.githubusercontent.com/assets/8336824/7282745/2c1c7d62-e971-11e4-8ce6-4978f31aa612.png)

[2015-04-22 18:59] miigotu commented on #1294
Ok, but rather than stripping them in in a handful of providers as it is now, and not having a complete title for the req/ign words, why aren't they stripped in the PP instead? This is a rather involved fix, above my pay scale I think lolz

[2015-04-22 19:02] bjornhamra commented on #1354
AHA! As I suspected. You're missing the 'Bookmark' and 'Download' columns for some reason (they should be between the "Name" and "Com." rows).

I will look into why this is happening and write a patch.

[2015-04-22 19:02] fernandog commented on #1354
@freddysmith1 @freddysmith1 isn't a setting in tracker to show/hide those columns?

[2015-04-22 19:05] fernandog commented on #1294
@abeloin suggested to redo the regex but don't know how that fill fix it? Maybe split release group in two groups ? release name and the tracker name, in this case [rartv]. But how to make this tracker name group optional?

[2015-04-22 19:08] miigotu commented on #1294
It has nothing to do with the regex, thats fine. It's that its simply stripped off of the title and overwrites the original title. The removed words are no longer stored in the object to check against.

[2015-04-22 19:11] miigotu commented on #1294
I tried a few things that didnt work so nice.  But, I have another idea, let me try it out.

[2015-04-22 19:29] miigotu commented on #1294
Eh, it's over my head, or I'm too lazy to change every provider.

[2015-04-22 19:34] fernandog commented on #1294
what's your idea?

[2015-04-22 19:51] bjornhamra commented on #1354
@fernandog @freddysmith1 please see pull request #1819:

https://github.com/SiCKRAGETV/SickRage/pull/1819/commits

Hopefully this should fix it. Works for me, please test.

[2015-04-22 19:53] fernandog commented on #1354
@bjornhamra thanks!

[2015-04-22 19:54] fernandog commented on #1354
@freddysmith1
please stop SR,
edit /SickRage/sickbeard/providers/scenetime.py
clean contents
paste this one
https://raw.githubusercontent.com/bjornhamra/SickRage/fix-scenetime-tables/sickbeard/providers/scenetime.py
save
restart SR
test

[2015-04-22 20:03] fernandog commented on #1301
@matigonkas did you updated to 5? any issues so far after updating?

[2015-04-22 20:07] miigotu commented on #1324
Was confused, you didnt use tags...
You could try this:
`regex = "^(%s)\s*([A-Z]*)\s*([A-Z\-]*)\s*\:\:\s*(.*)$" % curError.time`

[2015-04-22 20:10] ruinit opened #1383 "Keep getting these errors. On Develop build"
2015-04-22 15:19:39 CHECKVERSION :: git fetch origin returned : error: insufficient permission for adding an object to repository database .git/objects
fatal: failed to write object
fatal: unpack-objects failed
2015-04-22 15:19:39 CHECKVERSION :: Unable to contact github, can't check for update

[2015-04-22 20:10] fernandog commented on #1324
@miigotu didn't match: https://regex101.com/r/uD9sT9/1

[2015-04-22 20:12] matigonkas commented on #1301
@fernandog  no I don't know how to update to a non beta version ,because on the latest version of the Ubuntu repo its a beta version
I also haven't been able to find any info on Google

[2015-04-22 20:12] broyuken opened #1384 "[APP SUBMITTED]: Thread-97 :: You tried saving an invalid sports naming config, not saving your sports settings"
I'm trying to set up my UFC PPV fights in Plex (using custom sports naming) but it appears that the air date is required. The issue with this is that plex doesn't match because of the date on the end. If I try to remove the date, sickrage gives the error below.

I currently have the naming convention as %EN - %AD but I would like it to just be %EN

### INFO
Python Version: **2.7.6 (default, Mar 22

[2015-04-22 20:17] TagForce commented on #1039
@miigotu It's not isolated... The test for multiep releases fails, consistently, when you set the repeat method to duplicate.  This effectively means that the option is quite useless.

[2015-04-22 20:20] miigotu commented on #1324
`^(%s)\s*([A-Z]*)\s*([A-Z\-0-9]*)\s*::\s*(.*)$`
This does, you have to replace the %s to get it to compute, with valid regex or the string
swap %s with `[0-9\ \-:]*`

[2015-04-22 20:21] miigotu commented on #1324
The first one works too xD, the \ before : are optional there.

[2015-04-22 20:24] TagForce commented on #1366
Not unless database access in SR is exclusive. But then it could be any thread accessing the db.

[2015-04-22 20:37] broyuken commented on #1384
I was able to get it to recognize it by doing the following naming convention. My issue is resolved, but I am leaving this open because I believe this limitation should not exist.

%EN (%Y) %AD

[2015-04-22 21:01] philiphoyos opened #1385 "[APP SUBMITTED]: None"
### INFO
Python Version: **2.7.8 (default, Dec 15 2014, 02:33:48) [GCC 4.2.1 20070831 patched [FreeBSD]]**
Operating System: **FreeBSD-9.1-RELEASE-amd64-64bit-ELF**
Locale: unknown
Branch: **master**
Commit: SiCKRAGETV/SickRage@281409d366b228a455879e02b2d55d3967db29e4
Link to Log: https://gist.github.com/4fa84baf0e1334e6531b
### ERROR
[code]
---
_STAFF NOTIFIED_: @SiCKRAGETV/owners @SiCKRAGETV/mod

[2015-04-22 21:01] philiphoyos opened #1386 "[APP SUBMITTED]: None"
### INFO
Python Version: **2.7.8 (default, Dec 15 2014, 02:33:48) [GCC 4.2.1 20070831 patched [FreeBSD]]**
Operating System: **FreeBSD-9.1-RELEASE-amd64-64bit-ELF**
Locale: unknown
Branch: **master**
Commit: SiCKRAGETV/SickRage@281409d366b228a455879e02b2d55d3967db29e4
Link to Log: https://gist.github.com/e18f1788893212568cdc
### ERROR
[code]
---
_STAFF NOTIFIED_: @SiCKRAGETV/owners @SiCKRAGETV/mod

[2015-04-22 21:01] philiphoyos opened #1387 "[APP SUBMITTED]: None"
### INFO
Python Version: **2.7.8 (default, Dec 15 2014, 02:33:48) [GCC 4.2.1 20070831 patched [FreeBSD]]**
Operating System: **FreeBSD-9.1-RELEASE-amd64-64bit-ELF**
Locale: unknown
Branch: **master**
Commit: SiCKRAGETV/SickRage@281409d366b228a455879e02b2d55d3967db29e4
No Log available with ERRORS:
### ERROR
[code]
---
_STAFF NOTIFIED_: @SiCKRAGETV/owners @SiCKRAGETV/moderators

[2015-04-22 21:07] fernandog commented on #1387
File name pattern not supported

[2015-04-22 21:07] #1387 closed

[2015-04-22 21:07] fernandog commented on #1385
File name pattern not supported

[2015-04-22 21:07] #1385 closed

[2015-04-22 21:08] fernandog commented on #1386
File name pattern not supported

[2015-04-22 21:08] #1386 closed

[2015-04-22 21:13] philiphoyos opened #1388 "[APP SUBMITTED]: None"
### INFO
Python Version: **2.7.8 (default, Dec 15 2014, 02:33:48) [GCC 4.2.1 20070831 patched [FreeBSD]]**
Operating System: **FreeBSD-9.1-RELEASE-amd64-64bit-ELF**
Locale: unknown
Branch: **master**
Commit: SiCKRAGETV/SickRage@281409d366b228a455879e02b2d55d3967db29e4
Link to Log: https://gist.github.com/aabfd6934d9338554de7
### ERROR
[code]
---
_STAFF NOTIFIED_: @SiCKRAGETV/owners @SiCKRAGETV/mod

[2015-04-22 21:20] fernandog commented on #1388
File name pattern not supported

[2015-04-22 21:20] #1388 closed

[2015-04-22 21:31] rafaelrosars commented on #1379
My python is LibreSSL 2.1. How can i solve?

[2015-04-22 21:39] rafaelrosars opened #1389 "[APP SUBMITTED]: [Errno 1] _ssl.c:504: error:14077438:SSL routines:SSL23_GET_SERVER_HELLO:tlsv1 alert internal error"
### INFO
Python Version: **2.7.3 (default, Mar 31 2015, 15:16:49) [GCC 4.9.2]**
Operating System: **Linux-3.18.10-armv7l-with-glibc2.4**
Locale: unknown
Branch: **master**
Commit: SiCKRAGETV/SickRage@c1c519b720acfbbc5cec7c5a89c48053e9f1b980
No Log available with ERRORS:
### ERROR
[code]
---
_STAFF NOTIFIED_: @SiCKRAGETV/owners @SiCKRAGETV/moderators

[2015-04-22 21:39] rafaelrosars opened #1390 "[APP SUBMITTED]: [Errno 1] _ssl.c:504: error:14077438:SSL routines:SSL23_GET_SERVER_HELLO:tlsv1 alert internal error"
### INFO
Python Version: **2.7.3 (default, Mar 31 2015, 15:16:49) [GCC 4.9.2]**
Operating System: **Linux-3.18.10-armv7l-with-glibc2.4**
Locale: unknown
Branch: **master**
Commit: SiCKRAGETV/SickRage@c1c519b720acfbbc5cec7c5a89c48053e9f1b980
No Log available with ERRORS:
### ERROR
[code]
---
_STAFF NOTIFIED_: @SiCKRAGETV/owners @SiCKRAGETV/moderators

[2015-04-22 21:40] rafaelrosars opened #1391 "[APP SUBMITTED]: [Errno 1] _ssl.c:504: error:14077438:SSL routines:SSL23_GET_SERVER_HELLO:tlsv1 alert internal error"
### INFO
Python Version: **2.7.3 (default, Mar 31 2015, 15:16:49) [GCC 4.9.2]**
Operating System: **Linux-3.18.10-armv7l-with-glibc2.4**
Locale: unknown
Branch: **master**
Commit: SiCKRAGETV/SickRage@c1c519b720acfbbc5cec7c5a89c48053e9f1b980
No Log available with ERRORS:
### ERROR
[code]
---
_STAFF NOTIFIED_: @SiCKRAGETV/owners @SiCKRAGETV/moderators

[2015-04-22 21:41] #1391 closed

[2015-04-22 21:42] #1390 closed

[2015-04-22 21:42] #1389 closed

[2015-04-22 21:46] rafaelrosars commented on #1389
How can i solve that?

[2015-04-22 21:54] fernandog commented on #1389
https://github.com/SiCKRAGETV/sickrage-issues/issues?utf8=✓&q=is%3Aissue+tlsv1+alert+internal+

[2015-04-22 22:17] miigotu commented on #1324
@fernandog should I work on a pr for this?  I think there is a bug in the submitter as well.

[2015-04-22 22:19] fernandog commented on #1324
@miigotu ok!

[2015-04-22 22:20] miigotu commented on #1039
@TagForce only if it is a single file containing more than 2 episodes, which is rare. I think it should be fixed in the future but because it is not common for it to happen it should be low priority. And any changes around that code up until then should be mindful of needing to fix it.

I'll reopen so that If someone else works on it cool, but I cant right now.

[2015-04-22 22:26] miigotu commented on #1294
My ideas didn't work. I added a removedWords to the generic provider, and appended words that were stripped, but that way it would be appended with each result and just be useless for individual results.

Really the only way to make it work as it sits is to modify every provider, and pass a new argument down through and back up through 3-4 classes. I think that is a dirty way to do it, and it seem

[2015-04-22 22:28] rafaelrosars commented on #1389
My problem is i'm using Openelec and i dont know how to update SSL.

[2015-04-22 22:33] fernandog commented on #1389
Ask in openelec forum

[2015-04-22 22:35] fernandog commented on #1294
Why not update regex and split releasename in too? Create a new optional group "tracker name"

[2015-04-22 23:38] abeloin commented on #1381
@levinzz SR isn't hotlinking when using the proxy websites as it provide the proper information.

[2015-04-22 23:41] abeloin commented on #1105
@bonega Do you use rtorrent with the http rpc pplugin? If so, can you switch to the http(s) version?

[2015-04-22 23:43] abeloin commented on #1383
@ruinit Make sure you have the right to write on the folder .git and inside.

[2015-04-22 23:43] #1383 closed

[2015-04-22 23:54] abeloin commented on #1301
https://launchpad.net/~ricotz/+archive/ubuntu/unstable

[2015-04-22 23:56] miigotu commented on #1324
I might have the submitter not creating dupe issues, just commenting the matching issue with their log..... 0.o

[2015-04-22 23:57] abeloin commented on #1379
@rafaelrosars Use issue #1231 for discussion and Post results of `python -c 'import ssl; print(ssl.OPENSSL_VERSION)'`

[2015-04-23 00:04] rafaelrosars commented on #1231
Same here:

python -c 'import ssl; print(ssl.OPENSSL_VERSION)': LibreSSL 2.1

[2015-04-23 00:15] fernandog commented on #1324
@miigotu sorry, didn't get it

[2015-04-23 00:20] miigotu commented on #1324
@fernandog how did you get the issue_submitter_test working on Mar 11?

[2015-04-23 00:23] mraniki commented on #1319
yes hardlink that was broken.

[2015-04-23 00:29] miigotu opened #1392 "[APP SUBMITTED]: FAKE EXCEPTION"
### INFO
Python Version: **2.7.6 (default, Mar 22 2014, 22:59:56) [GCC 4.8.2]**
Operating System: **Linux-3.13.0-49-generic-x86_64-with-Ubuntu-14.04-trusty**
Locale: UTF-8
Branch: ****
Commit: SiCKRAGETV/SickRage@5754e31bc93933717a244773578651ddfd73ab07
Link to Log: https://gist.github.com/9242539f82be2a4be157
### ERROR
[code]
---
_STAFF NOTIFIED_: @SiCKRAGETV/owners @SiCKRAGETV/moderators

[2015-04-23 00:31] miigotu commented on #1392
Leave this open plz, trying to make dupes submit comments and not new issues.

[2015-04-23 00:33] miigotu commented on #1392
### INFO
Python Version: **2.7.6 (default, Mar 22 2014, 22:59:56) [GCC 4.8.2]**
Operating System: **Linux-3.13.0-49-generic-x86_64-with-Ubuntu-14.04-trusty**
Locale: UTF-8
Branch: ****
Commit: SiCKRAGETV/SickRage@5754e31bc93933717a244773578651ddfd73ab07
Link to Log: https://gist.github.com/19d16768312ed3ce0755
### ERROR
[code]
---
_STAFF NOTIFIED_: @SiCKRAGETV/owners @SiCKRAGETV/moderators

[2015-04-23 00:36] miigotu commented on #1392
### INFO
Python Version: **2.7.6 (default, Mar 22 2014, 22:59:56) [GCC 4.8.2]**
Operating System: **Linux-3.13.0-49-generic-x86_64-with-Ubuntu-14.04-trusty**
Locale: UTF-8
Branch: ****
Commit: SiCKRAGETV/SickRage@5754e31bc93933717a244773578651ddfd73ab07
Link to Log: https://gist.github.com/7b13c680550f7823ecb3
### ERROR
[code]
---
_STAFF NOTIFIED_: @SiCKRAGETV/owners @SiCKRAGETV/moderators

[2015-04-23 00:37] miigotu commented on #1392
### INFO
Python Version: **2.7.6 (default, Mar 22 2014, 22:59:56) [GCC 4.8.2]**
Operating System: **Linux-3.13.0-49-generic-x86_64-with-Ubuntu-14.04-trusty**
Locale: UTF-8
Branch: ****
Commit: SiCKRAGETV/SickRage@5754e31bc93933717a244773578651ddfd73ab07
Link to Log: https://gist.github.com/d0ac13c6ebf4c1776843
### ERROR
[code]
---
_STAFF NOTIFIED_: @SiCKRAGETV/owners @SiCKRAGETV/moderators

[2015-04-23 00:37] miigotu commented on #1392
### INFO
Python Version: **2.7.6 (default, Mar 22 2014, 22:59:56) [GCC 4.8.2]**
Operating System: **Linux-3.13.0-49-generic-x86_64-with-Ubuntu-14.04-trusty**
Locale: UTF-8
Branch: ****
Commit: SiCKRAGETV/SickRage@5754e31bc93933717a244773578651ddfd73ab07
Link to Log: https://gist.github.com/c271c26c0698c4af0ec7
### ERROR
[code]
---
_STAFF NOTIFIED_: @SiCKRAGETV/owners @SiCKRAGETV/moderators

[2015-04-23 00:38] miigotu commented on #1392
@fernandog you see what I mean now?

[2015-04-23 00:39] miigotu commented on #1392
### INFO
Python Version: **2.7.6 (default, Mar 22 2014, 22:59:56) [GCC 4.8.2]**
Operating System: **Linux-3.13.0-49-generic-x86_64-with-Ubuntu-14.04-trusty**
Locale: UTF-8
Branch: ****
Commit: SiCKRAGETV/SickRage@5754e31bc93933717a244773578651ddfd73ab07
Link to Log: https://gist.github.com/00efcdac3a13a15aaa59
### ERROR
[code]
---
_STAFF NOTIFIED_: @SiCKRAGETV/owners @SiCKRAGETV/moderators

[2015-04-23 00:40] miigotu commented on #1392
### INFO
Python Version: **2.7.6 (default, Mar 22 2014, 22:59:56) [GCC 4.8.2]**
Operating System: **Linux-3.13.0-49-generic-x86_64-with-Ubuntu-14.04-trusty**
Locale: UTF-8
Branch: ****
Commit: SiCKRAGETV/SickRage@5754e31bc93933717a244773578651ddfd73ab07
Link to Log: https://gist.github.com/d9b421c10b16a2bc395c
### ERROR
[code]
---
_STAFF NOTIFIED_: @SiCKRAGETV/owners @SiCKRAGETV/moderators

[2015-04-23 00:40] fernandog commented on #1324
@miigotu just run. Didnt do anything else.

There is another issue with issue submitter:
https://github.com/SiCKRAGETV/sickrage-issues/issues/1282

Lets continue there.

[2015-04-23 00:42] miigotu commented on #1392
### INFO
Python Version: **2.7.6 (default, Mar 22 2014, 22:59:56) [GCC 4.8.2]**
Operating System: **Linux-3.13.0-49-generic-x86_64-with-Ubuntu-14.04-trusty**
Locale: UTF-8
Branch: ****
Commit: SiCKRAGETV/SickRage@5754e31bc93933717a244773578651ddfd73ab07
Link to Log: https://gist.github.com/239b06c65e85b84cdb92
### ERROR
[code]
---
_STAFF NOTIFIED_: @SiCKRAGETV/owners @SiCKRAGETV/moderators

[2015-04-23 00:43] miigotu commented on #1392
### INFO
Python Version: **2.7.6 (default, Mar 22 2014, 22:59:56) [GCC 4.8.2]**
Operating System: **Linux-3.13.0-49-generic-x86_64-with-Ubuntu-14.04-trusty**
Locale: UTF-8
Branch: ****
Commit: SiCKRAGETV/SickRage@5754e31bc93933717a244773578651ddfd73ab07
Link to Log: https://gist.github.com/39ef45bfe0d0e6b74aa1
### ERROR
[code]
---
_STAFF NOTIFIED_: @SiCKRAGETV/owners @SiCKRAGETV/moderators

[2015-04-23 01:16] miigotu commented on #1282
Ew, I had it finding a dupe issue, and commenting instead of creating a new one, and now i broke it -.-

[2015-04-23 01:23] miigotu opened #1393 "[APP SUBMITTED]: SEARCHQUEUE-DAILY-SEARCH :: No NZB/Torrent providers found or enabled in the sickrage config for daily searches. Please check your settings."
### INFO
Python Version: **2.7.6 (default, Mar 22 2014, 22:59:56) [GCC 4.8.2]**
Operating System: **Linux-3.13.0-49-generic-x86_64-with-Ubuntu-14.04-trusty**
Locale: UTF-8
Branch: **build_tests**
Commit: SiCKRAGETV/SickRage@5754e31bc93933717a244773578651ddfd73ab07
Link to Log: https://gist.github.com/7188604a0885a36d1fef
### ERROR
[code]
---
_STAFF NOTIFIED_: @SiCKRAGETV/owners @SiCKRAGETV/moderat

[2015-04-23 01:24] #1393 closed

[2015-04-23 01:27] miigotu opened #1394 "[APP SUBMITTED]: SEARCHQUEUE-DAILY-SEARCH :: No NZB/Torrent providers found or enabled in the sickrage config for daily searches. Please check your settings."
### INFO
Python Version: **2.7.6 (default, Mar 22 2014, 22:59:56) [GCC 4.8.2]**
Operating System: **Linux-3.13.0-49-generic-x86_64-with-Ubuntu-14.04-trusty**
Locale: UTF-8
Branch: **build_tests**
Commit: SiCKRAGETV/SickRage@5754e31bc93933717a244773578651ddfd73ab07
No Log available with ERRORS:
### ERROR
[code]
---
_STAFF NOTIFIED_: @SiCKRAGETV/owners @SiCKRAGETV/moderators

[2015-04-23 01:28] #1394 closed

[2015-04-23 01:30] fernandog commented on #1394
@miigotu see as we dont have logs. regex didnt matched

[2015-04-23 02:03] miigotu commented on #1392
### INFO
Python Version: **2.7.6 (default, Mar 22 2014, 22:59:56) [GCC 4.8.2]**
Operating System: **Linux-3.13.0-49-generic-x86_64-with-Ubuntu-14.04-trusty**
Locale: UTF-8
Branch: ****
Commit: SiCKRAGETV/SickRage@5754e31bc93933717a244773578651ddfd73ab07
Link to Log: https://gist.github.com/29013c70e9ca1aec7158
### ERROR
[code]
---
_STAFF NOTIFIED_: @SiCKRAGETV/owners @SiCKRAGETV/moderators

[2015-04-23 02:14] miigotu commented on #1392
### INFO
Python Version: **2.7.6 (default, Mar 22 2014, 22:59:56) [GCC 4.8.2]**
Operating System: **Linux-3.13.0-49-generic-x86_64-with-Ubuntu-14.04-trusty**
Locale: UTF-8
Branch: ****
Commit: SiCKRAGETV/SickRage@5754e31bc93933717a244773578651ddfd73ab07
Link to Log: https://gist.github.com/eaa22f995ef1d883c3c5
### ERROR
[code]
---
_STAFF NOTIFIED_: @SiCKRAGETV/owners @SiCKRAGETV/moderators

[2015-04-23 02:15] miigotu commented on #1392
### INFO
Python Version: **2.7.6 (default, Mar 22 2014, 22:59:56) [GCC 4.8.2]**
Operating System: **Linux-3.13.0-49-generic-x86_64-with-Ubuntu-14.04-trusty**
Locale: UTF-8
Branch: ****
Commit: SiCKRAGETV/SickRage@5754e31bc93933717a244773578651ddfd73ab07
Link to Log: https://gist.github.com/a84e3f323c46df83620c
### ERROR
[code]
---
_STAFF NOTIFIED_: @SiCKRAGETV/owners @SiCKRAGETV/moderators

[2015-04-23 02:46] miigotu commented on #1394
@fernandog because I deleted that error from my sickrage.log trying to make it force the FAKE EXCEPTION, but it was still in `classes.ErrorViewer.errors`

[2015-04-23 02:56] miigotu commented on #1392
### INFO
Python Version: **2.7.6 (default, Mar 22 2014, 22:59:56) [GCC 4.8.2]**
Operating System: **Linux-3.13.0-49-generic-x86_64-with-Ubuntu-14.04-trusty**
Locale: UTF-8
Branch: ****
Commit: SiCKRAGETV/SickRage@5754e31bc93933717a244773578651ddfd73ab07
Link to Log: https://gist.github.com/e6a308d6391329b4334a
### ERROR
[code]
---
_STAFF NOTIFIED_: @SiCKRAGETV/owners @SiCKRAGETV/moderators

[2015-04-23 02:59] miigotu commented on #1392
### INFO
Python Version: **2.7.6 (default, Mar 22 2014, 22:59:56) [GCC 4.8.2]**
Operating System: **Linux-3.13.0-49-generic-x86_64-with-Ubuntu-14.04-trusty**
Locale: UTF-8
Branch: ****
Commit: SiCKRAGETV/SickRage@5754e31bc93933717a244773578651ddfd73ab07
Link to Log: https://gist.github.com/769185b0c5e23dd653ee
### ERROR
[code]
---
_STAFF NOTIFIED_: @SiCKRAGETV/owners @SiCKRAGETV/moderators

[2015-04-23 03:23] TATUMTOT commented on #1231
I'm running on a QNAP. Looks like i have a APP installed Optware IPKG With inside of this looks like it allows you to install plugins for python and other. so in my case this is what needs to be updated  it pulls from a feed that is no longer updated from what i have heard. http://ipkg.nslu2-linux.org/feeds/optware/cs08q1armel/cross/unstable/

can anyone point me in the direction to manually updat

[2015-04-23 04:07] Thraxis commented on #589
Just a couple preview screenshots of something I'm tinkering on:
* implements fanart into the image cache (single image only picked by generic metadata)
* sets fanart to the background of the displayShow page

![image](https://cloud.githubusercontent.com/assets/1131905/7290400/e73743be-e932-11e4-99dc-e5241a2cfb38.png)

![image](https://cloud.githubusercontent.com/assets/1131905/7290418/2cb8b7a6-e9

[2015-04-23 04:09] abeloin commented on #1231
Reference(one liner to produce the error):
[code]

[2015-04-23 05:22] danielb2 opened #1395 "cannot find 'FILTER_ROW' while searching for 'sickbeard.FILTER_ROW'"
I get the below error after `git co v4.0.17`. (FreeBSD).

Do I need to do something to update the database?
[code]

[2015-04-23 06:03] levinzz commented on #1381
@abeloin Still, I never get any result from these providers even though I find plenty of them when searching manually. There must be something wrong with the proxifiers whatever it is

[2015-04-23 06:18] levinzz commented on #1369
Here's a log. The downloaded sub file is wrong (it's for "Marvel's agents of shield")

**History:**
[code]

**Debug log:**
[code]

[2015-04-23 06:19] TagForce commented on #1395
restart SR.

[2015-04-23 06:28] TagForce commented on #589
@Thraxis Ooohhhh, that looks sweet!

[2015-04-23 06:43] miigotu commented on #589
nice

[2015-04-23 06:45] TagForce commented on #1039
@miigotu What I'm saying is that when you change the naming pattern in the config, the test it does for multiple episodes in a single file has 3 episodes (eps 3, 4, and 5) in the filename it uses for the test... So setting the multi-ep method to duplicate will throw this error and not allow you to save any pattern using the duplicate method.

See:
https://github.com/SiCKRAGETV/SickRage/blob/master

[2015-04-23 07:14] frucstuk opened #1396 "[APP SUBMITTED]: datetime.date(1897, 5, 8) is not JSON serializable"
### INFO
Python Version: **2.7.6 (default, Mar 22 2014, 22:59:56) [GCC 4.8.2]**
Operating System: **Linux-3.16.0-34-generic-x86_64-with-Ubuntu-14.04-trusty**
Locale: unknown
Branch: **master**
Commit: SiCKRAGETV/SickRage@c1c519b720acfbbc5cec7c5a89c48053e9f1b980
Link to Log: https://gist.github.com/cc4c665c0809b0378e0c
### ERROR
[code]
---
_STAFF NOTIFIED_: @SiCKRAGETV/owners @SiCKRAGETV/moderators

[2015-04-23 07:39] TagForce commented on #1350
@abeloin I'm not sure I'm following you... So, you prevent the fallback to eponly because some providers return single ep results in season searches?
That effectively breaks episode searches on providers that negating search strings do work on.

What happens now is that if a season result was not found, it will set search_mode to eponly, and then in findSearchResults it would completely disregard

[2015-04-23 07:49] TagForce commented on #1350
@abeloin I went a ways back, and findSearchResults has had this problem for a long time:
https://github.com/SiCKRAGETV/SickRage/blob/5ac389560025e06fa37acef4aa60823404e1c746/sickbeard/providers/generic.py#L284
That's the version for september 20th, 2014... The if check always uses season search strings even in eponly mode when there's more than 1 episode in the search list. It shouldn't do that.

[2015-04-23 08:22] Thraxis commented on #589
@fernandog I figured out how to fix the filter for episode progress to work for the numeric value.   I'll post a PR for it tomorrow. (ie.  100 will give you 100% shows, etc.)

[2015-04-23 08:37] bobbyware commented on #1320
Thanks @TagForce I have tried it, but it still does not work.
The NZB name is actually: scnzbefnet530304-Arrow.S03E05.720p.HDTV.X264-DIMENSION-127-capn.jack.305.720p-dimension.sfv.nzb
I was wrong, it was not downloaded from NZBClub, but OpenNZB. Sorry for that.

The NZB is now passed as a web request from SR to SB. Ideally SR passed the job name as well? Not sure if that's possible? That would eli

[2015-04-23 09:29] bonega commented on #1105
@abeloin No, I was using scgi.
It should probably have a warning-text until it is fixed.

With httprpc it works as intended.
Thanks.

[2015-04-23 09:52] VeNoMouS commented on #1231
Hi @fernandog, I've just noticed this on our project as well... So you guys arnt the only one's experiencing this.

[2015-04-23 10:05] fernandog commented on #589
@Thraxis nice! Thanks!

[2015-04-23 10:09] freddysmith1 commented on #1354
testing now  will report back

[2015-04-23 10:56] VeNoMouS commented on #1231
Ok worked it out.... lots of swearing... upgrade pyopenssl via ```pip install pyopenssl --upgrade``` and it should resolve the issue... least it did in my case.

[2015-04-23 11:03] fernandog commented on #1231
@VeNoMouS thanks!

@TATUMTOT can you try that please?

[2015-04-23 11:19] fernandog commented on #1394
@miigotu can you try to reproduce this one with empty title?

[2015-04-23 11:22] fernandog commented on #1396
@frucstuk what did you do to cause this error?

[2015-04-23 11:35] #1395 closed

[2015-04-23 11:48] #1396 closed

[2015-04-23 11:49] fernandog commented on #1384
@broyuken which limitation?

[2015-04-23 11:51] #1384 closed

[2015-04-23 11:51] fernandog commented on #1338
@amzeus please reply or will close

[2015-04-23 11:51] #1327 closed

[2015-04-23 11:53] freddysmith1 commented on #1354
have tested it thru afew search cycles and no errors has come up so should be all good now

[2015-04-23 12:03] amzeus commented on #1338
sorry for delay they are NAS shared drives (readynas 314) and permissions are fine, haven't changed since i had them when running SR in Ubuntu and it works fine for around 6 months then

[2015-04-23 12:04] fernandog commented on #1338
@amzeus so you keep your file seeding? or do you have Windows Indexer enabled?

[2015-04-23 12:13] amzeus commented on #1338
its a complected set up but heres the bit of the network that is related to this
U torrent is on xxx.xxx.xxx.006 it downloads the files and seeds to 1:1 when this is achieved they are then moved them to a nas xxx.xxx.xxx.101 drive X:

SR runs on an machine xxx.xxx.xxx.23 along side CP, MyLar, this machine access the x drive and SR catalogs the content from the Folder X:// TV (CP only access X:// M

[2015-04-23 12:51] fernandog commented on #1338
@amzeus maybe SR is trying to PP a file while utorrent is copying the file to X.
do you always get this error or sometimes?

[2015-04-23 13:02] amzeus commented on #1338
the error the SR is setting show back to unaired rather than missed has only started since moving to windows to run SR,

if i manually down load the file SR finds it and moves/copies it just fine.

the error isnt really about the files that have been down loaded its about SR showing them on coming soon unitl the aired date then not snatching them or showing them as missed but going back to unaired

[2015-04-23 13:08] fernandog commented on #1338
If sometimes works and sometimes not, its not a SR issue. Its something outside SR.
how long does it take to utorrent move it?

[2015-04-23 13:11] fernandog commented on #1338
@TagForce cant we add the file lock check in PP? I posted a script in another issue. Did you saw it?

[2015-04-23 13:44] TagForce commented on #1338
@fernandog Haven't seen it yet, but I'll look for it.

[2015-04-23 13:48] fernandog commented on #1338
postest in STATs:

@TagForce what do you think add a check if the file is in use/locked in windows?

Permission denied can happen when the file that SR is trying to PP is still locked. Not only about permissions in destination folder. With this we can change the log error message.
http://blogs.blumetech.com/blumetechs-tech-blog/2011/05/python-file-locking-in-windows.html

[2015-04-23 13:53] rafaelrosars commented on #1231
I try "pip install pyopenssl --upgrade" in openelec but didn't work

[2015-04-23 13:56] fernandog commented on #1231
Again: ask in opelec forum. You are using a custom OS

[2015-04-23 14:02] rafaelrosars commented on #1231
Thanks, but already asked and no one answered.

[2015-04-23 14:27] TagForce commented on #1338
@fernandog Ok, weird stuff...
While testing the code to check for a file lock something strange happened.
The read lock check returns False (not locked) when the file is only accessible (as in, unreadable and unwritable), but when the file is completely inaccessible (REALLY unreadable and unwritable (??)) the verify_freespace check returns not enough free space because it's unable to even get the

[2015-04-23 14:30] fernandog commented on #1338
@TagForce isn't that correct? can't verify something that is locked

[2015-04-23 14:46] TagForce commented on #1338
@fernandog Yes, but I would want to log that, and not log that there's not enough free space available.
I fixed it. Verify_freespace is now preceeded by an isFileLocked check. isFileLocked will now also return True instead of False when os.path.isfile(filename) fails (which it will when a file is locked for reading).

[2015-04-23 14:47] TagForce commented on #1338
https://github.com/SiCKRAGETV/SickRage/pull/1821

Please test this

[2015-04-23 15:00] rogc commented on #1145
Thanks!

[2015-04-23 16:18] TATUMTOT commented on #1231
@fernandog I will Try again. I was having difficulties geting PIP installed.

[2015-04-23 16:25] firatuzman opened #1397 "[APP SUBMITTED]: local variable 'showObj' referenced before assignment"
### INFO
Python Version: **2.7.6 (default, Mar 22 2014, 22:59:56) [GCC 4.8.2]**
Operating System: **Linux-3.13.0-45-generic-x86_64-with-Ubuntu-14.04-trusty**
Locale: unknown
Branch: **master**
Commit: SiCKRAGETV/SickRage@c1c519b720acfbbc5cec7c5a89c48053e9f1b980
Link to Log: https://gist.github.com/feee5d950717969fca00
### ERROR
[code]
---
_STAFF NOTIFIED_: @SiCKRAGETV/owners @SiCKRAGETV/moderators

[2015-04-23 16:33] firatuzman commented on #1397
Every time I update KODI manually from home page I get this error since the last updates
But the command is sent to KODI and KODI updates normally.
Hope this helps

[2015-04-23 16:37] Thraxis commented on #1397
I will have a PR done tonight to fix this

[2015-04-23 16:40] drew31562 opened #1398 "[APP SUBMITTED]: HTTPSConnectionPool(host='alpharatio.cc', port=443): Read timed out. (read timeout=30)"
### INFO
Python Version: **2.7.8 (default, Jun 30 2014, 16:03:49) [MSC v.1500 32 bit (Intel)]**
Operating System: **Windows-7-6.1.7601-SP1**
Branch: **master**
Commit: SiCKRAGETV/SickRage@c1c519b720acfbbc5cec7c5a89c48053e9f1b980
No Log available with ERRORS:
### ERROR
[code]
---
_STAFF NOTIFIED_: @SiCKRAGETV/owners @SiCKRAGETV/moderators

[2015-04-23 16:40] TagForce commented on #1397
@Thraxis how are you fixing it? just curious.

[2015-04-23 16:43] abeloin commented on #1350
@TagForce Sorry, I'll try to better explain it. I think what they intended to do was to search per season(string) instead of per episode when searching for multiple episodes in eponly to save calls but this doesn't work for some provider.

So for example, search s01e01-e02-e03:
* Per episode search in eponly:
  * Search s01e01
  * Search s01e02
  * Search s01e03
  * Parse results and find episodes

[2015-04-23 16:46] #1398 closed

[2015-04-23 16:54] Thraxis commented on #1078
https://github.com/SiCKRAGETV/SickRage/pull/1764

Should be only updating TV now... and if passed an epObj only updating Section that episode is found in.  Currently it always calls for full library.  Would need to modify postProcessor to send the episode for only updating specific section.

[2015-04-23 17:02] fernandog commented on #1078
@Thraxis AFAIK SR get the id of library that has "show" and update only that:

https://github.com/SiCKRAGETV/SickRage/blob/master/sickbeard/notifiers/plex.py#L238

[2015-04-23 17:17] abeloin commented on #1231
Python 2.7.9 shouldn't be affected

[2015-04-23 17:21] fernandog commented on #1231
@TATUMTOT

http://www.saltycrane.com/blog/2010/02/how-install-pip-ubuntu/

[2015-04-23 17:27] kevinpawsey commented on #1354
I am getting the same issue with SceneTime, but when I try and get the above script it is now showing "Not Found".

How soon is the commit going to be applied?  Would you like me to give it a test too?

[2015-04-23 17:30] Thraxis commented on #1078
@fernandog It gets all of the sections of type "show" that could be 1 or 12.. it then checks to see if an epObj had been passed and the file location set.  If it has it then tries to eliminate all sections except the one that could contain that episode and then sends an update for just that section.

We just don't happen to have a call that sends the epObj (ie. from postProcessor.py ) for it to us

[2015-04-23 17:33] Thraxis commented on #1397
adding a showObj = none to the begining of the updateKodi function:

[code]

[2015-04-23 17:42] abeloin commented on #1231
https://gist.github.com/abeloin/32a58d9084d657d2606c

This should work but fail in python 2.7.8 and 2.7.5. Works in Pypy 2.5.1(Python 2.7.9)

[code]

[2015-04-23 17:50] Thraxis commented on #1325
https://github.com/SiCKRAGETV/SickRage/pull/1764

This was merged into Master and should be able to test now.

There will be some work to seperate Plex Media Server and Plex Media Client more but for now you can setup and test each seperately.

[2015-04-23 17:55] abeloin commented on #1231
Reports:

Not working with openssl 0.98
https://www.ssllabs.com/ssltest/analyze.html?d=torrentapi.org&s=104.24.118.221&latest
https://www.ssllabs.com/ssltest/analyze.html?d=sceneaccess.eu&s=173.245.60.155

https://www.ssllabs.com/ssltest/analyze.html?d=iptorrents.eu&s=198.41.205.86&latest

[2015-04-23 17:56] konomimaster opened #1399 "[APP SUBMITTED]: [Errno 2] No such file or directory: '/storage/media/media/downloads/series/Madam.Secretary.S01E06.The.Call.1080p.WEB-DL.DD5.1.H.264-BS[rarbg]/Madam.Secretary.S01E06.The.Call.1080p.WEB-DL.DD5.1.H.264-BS.mkv'"
### INFO
Python Version: **2.7.3 (default, Mar 31 2015, 15:16:49) [GCC 4.9.2]**
Operating System: **Linux-3.18.10-armv7l-with-glibc2.4**
Locale: unknown
Branch: **master**
Commit: SiCKRAGETV/SickRage@c1c519b720acfbbc5cec7c5a89c48053e9f1b980
Link to Log: https://gist.github.com/b14c8289387ee31c920f
### ERROR
[code]
---
_STAFF NOTIFIED_: @SiCKRAGETV/owners @SiCKRAGETV/moderators

[2015-04-23 17:59] #1399 closed

[2015-04-23 18:06] konomimaster opened #1400 "[APP SUBMITTED]: [Errno 2] No such file or directory: '/storage/media/media/downloads/series/Game.of.Thrones.S05E01.The.Wars.to.Come.1080p.WEB-DL.DD5.1.H.264-NTb[rarbg]/Game.of.Thrones.S05E01.The.Wars.to.Come.1080p.WEB-DL.DD5.1.H.264-NTb.mkv'"
### INFO
Python Version: **2.7.3 (default, Mar 31 2015, 15:16:49) [GCC 4.9.2]**
Operating System: **Linux-3.18.10-armv7l-with-glibc2.4**
Locale: unknown
Branch: **master**
Commit: SiCKRAGETV/SickRage@c1c519b720acfbbc5cec7c5a89c48053e9f1b980
Link to Log: https://gist.github.com/96d7305db4d11381ff6d
### ERROR
[code]
---
_STAFF NOTIFIED_: @SiCKRAGETV/owners @SiCKRAGETV/moderators

[2015-04-23 18:16] #1400 closed

[2015-04-23 18:17] fernandog commented on #1400
@TagForce two more today.

https://github.com/SiCKRAGETV/sickrage-issues/search?q=%5BAPP+SUBMITTED%5D%3A+%5BErrno+2%5D+No+such+file+or+directory%3A+&type=Issues&utf8=%E2%9C%93

[2015-04-23 18:37] fernandog commented on #1282
https://github.com/SiCKRAGETV/SickRage/pull/1820

[2015-04-23 18:37] fernandog commented on #1219
https://github.com/SiCKRAGETV/SickRage/pull/1820

[2015-04-23 18:58] fernandog commented on #1260
@TagForce

but if the actual user setup could cause problems, we should abort PP, isn't?
Maybe add a DIV like the "New update"

can we use this script to test if folders are parent?
looks like it's compatible with symbolic links.
http://stackoverflow.com/a/17624617

[2015-04-23 19:11] ruinit commented on #1383
where is this .git folder? I have looked all over .. think I am blind

[2015-04-23 19:52] fernandog commented on #1260
@TagForce I did a test in windows and linuxs, seems ok.

[2015-04-23 20:02] fernandog commented on #1340
@krash1220 do you always get this error? or only sometimes?

[2015-04-23 20:04] fernandog commented on #1321
@Sparhawk76 can you check this? probably site has changed

[2015-04-23 20:06] fernandog commented on #1320
@TagForce close this then?

[2015-04-23 21:44] bobbyware commented on #1320
@fernandog Sorry but it is still a defect, right? At least for me, as I use both pieces of software without customisation, and it is not 100% fail safe.

Relying on the NZB name only is not enough.

The SabNZBD API provides an option to pass in NZBName: http://wiki.sabnzbd.org/api#toc28
If SR would provide the name of the show there, all issues would be solved?

[2015-04-23 21:44] Sparhawk76 commented on #1321
Very minor change needed here, the site was changed to force https, Been busy on another higher priority project so haven't had the time to submit an updated script. Basically the URLs in the provider script have to have http changed to https.

[2015-04-23 21:57] VeNoMouS commented on #1231
@abeloin im using 2.7.3 and i got mine going with out using a transport, simply by upgrading urllib3 && pyopenssl, bare in mind that requests lib uses urllib3 as its core.

[2015-04-23 22:04] VeNoMouS commented on #1231
Re not working on openssl 0.98, yes that would be correct as the cipher sceneaccess uses is ECDHE-ECDSA-AES128-GCM-SHA256 which is part of TLS 1.2 cipher suite, openssl 0.98 does have TLS 1.2 support.

[2015-04-23 22:35] TagForce commented on #1350
@abeloin Ah, I understand it now...
I think you may be right, but the logic is off in the code.

I'll see if I can modify it so that eponly will also try a season search, and if it cannot find a result that way try episode searches. Logic for that is tricky.

Another solution would be to simply remove the eponly/sponly config settings, and simply have it search whatever seems best at the time and

[2015-04-23 22:39] TATUMTOT commented on #1231
@VeNoMouS Thanks im currently just got pip to work on my box. But now im trying to get openssl updated.

[2015-04-23 22:43] TagForce commented on #1400
@fernandog Simultaneous PP runs... We need to know if it's manual PP, or API PP that gets started.
@konomimaster Can you tell us if you ran a manual PP, or if your downloader executes the PP via a script using the api?

If it's the latter, then you, at the very least, need to turn off Scan and Process in your config.

We need to fix this properly, though.

[2015-04-23 23:28] fernandog commented on #1350
@tagforce like the second option.

[2015-04-23 23:55] Thraxis commented on #81
@miigotu Found this earlier today: https://github.com/medariox/Sick-Beard/commit/83b572cbf137b62cbdccc9c3682b342ba7442ddf

[2015-04-23 23:58] VeNoMouS commented on #1231
@TATUMTOT why are you trying to upgrade openssl?

[2015-04-24 00:22] miigotu commented on #81
@Thraxis thanks, might be awhile til I get around to it xD, but I noticed that guy also added the demonoid.py provider to the sickbeard/ dir also by accident.

[2015-04-24 00:39] cwallace commented on #1321
That was a stupid easy fix. Replaced all instances to https and it works great now. Thank you @Sparhawk76!

[2015-04-24 01:14] MattPark commented on #1039
@tagforce I figured that it had something to do with the special anime
support. Why though can't the issue be consistently replicated? @abeloin
and @fernandog threw up SS where it was working just fine with duplicate on.

On Thu, Apr 23, 2015 at 2:45 AM, TagForce <notifications@github.com> wrote:

[2015-04-24 01:14] ahaghgoo commented on #1105
@abeloin I reviewed the screenshot you linked to and I couldn't get the http to work.  So I went back to using scgi which is in the screenshot below.  My rtorrent install on my QNAP NAS is located here, which I can ssh into: [hostname:22]/share/CACHEDEV1_DATA/.qpkg/rtorrent/var/www/ui/rtorrent

![screenshot 2015-04-23 18 09 49](https://cloud.githubusercontent.com/assets/1308002/7310623/2f84c72a-e9

[2015-04-24 01:28] #1321 closed

[2015-04-24 01:32] fernandog commented on #1325
https://github.com/SiCKRAGETV/sickrage-issues/issues/1364

[2015-04-24 01:32] #1325 closed

[2015-04-24 01:34] fernandog commented on #1337
@andyblac please report if is fixed

[2015-04-24 01:35] fernandog commented on #1354
@freddysmith1 can you send the update file that you are using?

[2015-04-24 01:36] fernandog commented on #1043
@randmvilnce please report back if issue was fixed

[2015-04-24 01:44] randmvilnce commented on #1043
My issues were resolved about 2 weeks back. Thank you.

[2015-04-24 01:46] Thraxis commented on #1397
https://github.com/SiCKRAGETV/SickRage/pull/1824

[2015-04-24 01:47] danielb2 commented on #1395
I've done that multiple times. In fact, it was not running when I upgraded it.  Would you please re-open this ticket?

[2015-04-24 01:51] fernandog commented on #937
@abeloin shouldn't we add decode to utf here?

https://github.com/SiCKRAGETV/SickRage/blob/develop/sickbeard/webserve.py#L2259

with chcp 65001 it shows ok in the log but I can't see the search URL or the call to indexer:
2015-04-23 22:46:09 DEBUG    Thread-20 :: Searching for Show with searchterm: a célszemély on Indexer: theTVDB

[2015-04-24 01:55] fernandog commented on #1395
@danielb2 you probably updated from command line, this is why you shouldn't

stop SR,
delete /cheetah folder inside /usr/local/sickrage/cache

[2015-04-24 01:55] Thraxis commented on #1395
@danielb2 FILTER_ROW is defined in sickrage/sickbeard/__init__.py there should be no possible way for it not to be found / defined by the template system.  Right around line 494

[2015-04-24 01:55] #1043 closed

[2015-04-24 01:55] danielb2 commented on #1395
thanks much. works now

[2015-04-24 01:56] fernandog commented on #1395
@danielb2 please update using UI, not command line

[2015-04-24 01:56] danielb2 commented on #1395
I'll try next time. I've had some issues with that in the past. Thanks again

[2015-04-24 01:57] fernandog commented on #1395
updating from UI, you have auto-backup. You don't have that in command line

[2015-04-24 01:59] danielb2 commented on #1395
I do a snapshot of the directory before I update every time ;)

[2015-04-24 01:59] danielb2 commented on #1395
Well, I have been anyway

[2015-04-24 02:28] Thraxis commented on #1078
https://github.com/SiCKRAGETV/SickRage/pull/1825

[2015-04-24 02:40] coop73 commented on #1350
I don't understand why this issue keeps getting closed it is still a huge problem.

[2015-04-24 03:45] gangrenejellybean opened #1401 "SickRage ignores SD bluray rips when tagged as "bluray" rather than "bdrip""
It is an internal policy on BTN to tag SD bluray rips as "bluray" rather than "bdrip". From what I can tell, this is why SR is falling back to other providers for these releases, but I really want it to be able to get these from BTN when they're there.

Looking in sickbeard/common.py, I think my issues could be solved by simply adding "bluray" into the regex used here:

    elif checkName(["(dvdri

[2015-04-24 04:12] ubun2Junky opened #1402 "[APP SUBMITTED]: cannot find 'cur_ep_enddate'"
### INFO
Python Version: **2.7.6 (default, Mar 22 2014, 22:59:56) [GCC 4.8.2]**
Operating System: **Linux-3.13.0-49-generic-x86_64-with-Ubuntu-14.04-trusty**
Locale: unknown
Branch: **master**
Commit: SiCKRAGETV/SickRage@281409d366b228a455879e02b2d55d3967db29e4
Link to Log: https://gist.github.com/613438fdca465191a299
### ERROR
[code]
---
_STAFF NOTIFIED_: @SiCKRAGETV/owners @SiCKRAGETV/moderators

[2015-04-24 04:34] TATUMTOT commented on #1231
@VeNoMouS I'm Running an Old version with in side of Python.

[2015-04-24 04:50] freddysmith1 commented on #1354
give this one a try
http://rg.to/file/e343a462d6418bab5ca92f81fc593196/scenetime.py.html

[2015-04-24 05:31] Thraxis commented on #574
https://github.com/SiCKRAGETV/SickRage/pull/1826

I did not check into the persist filter, but I do believe that is possible

[2015-04-24 05:36] TagForce commented on #1350
@coop73 it's fixed in develop at the cost of increased provider calls.. Will be merged in master on sunday.

Only issue now remaining is the logic behind when to search with which method to minimize the provider calls.

[2015-04-24 05:44] TagForce commented on #1039
@MattPark I can consistently replicate it. Remove the showname from the pattern and it will fail the parse. If you add the showname it works.

[2015-04-24 05:52] TagForce commented on #1320
@bobbyware @fernandog Still open. This needs to be fixed in sab.py and probably nzbget.py as well. SR isn't using the nzbname=PrettyName option when sending urls, and that should be implemented using the releasename (because we know SR can parse that, otherwise it would not download it).

[2015-04-24 06:00] TagForce commented on #1383
In your SR folder. It's a hidden folder.

[2015-04-24 06:32] Vastlee opened #1403 "[APP SUBMITTED]: [Errno 1] _ssl.c:510: error:14077438:SSL routines:SSL23_GET_SERVER_HELLO:tlsv1 alert internal error"
### INFO
Python Version: **2.7.8 (default, Jun 30 2014, 16:08:48) [MSC v.1500 64 bit (AMD64)]**
Operating System: **Windows-7-6.1.7601-SP1**
Branch: **master**
Commit: SiCKRAGETV/SickRage@975c0dd208c59cac8fd8a77a91da5d1dfc7235df
No Log available with ERRORS:
### ERROR
[code]
---
_STAFF NOTIFIED_: @SiCKRAGETV/owners @SiCKRAGETV/moderators

[2015-04-24 06:53] Thraxis commented on #1040
https://github.com/SiCKRAGETV/SickRage/pull/1827

[2015-04-24 07:59] HamilcarH opened #1404 "[APP SUBMITTED]: (-32002, u'Call Limit Exceeded')"
### INFO
Python Version: **2.7.9 (default, Mar 23 2015, 00:07:04) [GCC 4.7.3 20130102 (prerelease)]**
Operating System: **Linux-3.2.40-x86_64-with-glibc2.2.5**
Locale: UTF-8
Branch: **master**
Commit: SiCKRAGETV/SickRage@c1c519b720acfbbc5cec7c5a89c48053e9f1b980
Link to Log: https://gist.github.com/d4a5de68e63ceff48cbf
### ERROR
[code]
---
_STAFF NOTIFIED_: @SiCKRAGETV/owners @SiCKRAGETV/moderators

[2015-04-24 08:36] kevinpawsey commented on #1354
I am having problems downloading from that site... I keep getting "Error 404 session not found" after I go through the Captcha and everything, and then when I click to download the file it throws up the 404 error.
Sorry to be a nuisance.

[2015-04-24 09:03] freddysmith1 commented on #1354
All good  what file server site do you usually  use?  Ill upload it onto that

[2015-04-24 09:05] bjornhamra commented on #1354
https://raw.githubusercontent.com/bjornhamra/SickRage/fix-scenetime-tableparsing/sickbeard/providers/scenetime.py

[2015-04-24 09:08] kevinpawsey commented on #1354
Thanks for your help Freddy... but I have just managed to open bjornhamra's link :)

Will let you know if the fix works for me too

[2015-04-24 09:20] kevinpawsey commented on #1354
Thank you for the fix... that seems to be working for me too :) :+1:

[2015-04-24 10:07] andyblac commented on #1337
just done a git pull, and not noticeed the error, please close as fixed, i'll reopen if it happened again.

Thanks
Andy.

[2015-04-24 10:51] #1337 closed

[2015-04-24 10:52] #1354 closed

[2015-04-24 10:52] fernandog commented on #1404
Exceeded btn api calls limit

[2015-04-24 10:52] #1404 closed

[2015-04-24 10:54] fernandog commented on #1040
Thanks! All that PR ate tested and fully working so safe to merge?

[2015-04-24 10:58] fernandog commented on #1402
@ubun2Junky did you update using git pull??

[2015-04-24 11:20] neoatomic commented on #1040
@Thraxis Awesome, Thank you!
I have the show cops in my list with 900+ episodes. That show is running from 1989.?
Clearly no need to load all those previous years/seasons, as i only need to see the current year for new episodes.

(I see you have put that setting in the general config part.? Isn't it better to place that in the show edit part.? That way it gives more custom ability to the users. As

[2015-04-24 11:29] neoatomic commented on #589
Like the fan art backgrounds also.!

However hope you can implement an option to enable/disable it for user that have low powered devices.
Loading the wallpapers might have a performance impact for those users.

[2015-04-24 11:34] neoatomic commented on #1401
@gangrenejellybean If we add "bluray" wouldn't that mean that users who only want (real) "bluray" get SD bluray rips.? If that is the case we cant preform that change...

@TagForce Am i correct here with my assumption.?

[2015-04-24 12:42] TheSquad opened #1405 "Fail to find/snatch some TV-Show torrent, when they exist (checked manually)"
- Branch : master
- Commit hash : c1c519b720acfbbc5cec7c5a89c48053e9f1b980
- Linux Debian x86_64
- Python 2.7.5+

I have set the quality to any, and checked manually on the Torrent provider, there is both HDTV 720p and SD releases.

Here the log about the search :
https://gist.github.com/TheSquad/8413eb45bd15ff4df271
https://gist.github.com/TheSquad/b317ed3ce274ff3513fe (Debug With Filter: "Royals

[2015-04-24 12:44] fernandog commented on #1405
follow guidelines:
https://github.com/SiCKRAGETV/sickrage-issues/

[2015-04-24 12:45] fernandog commented on #1397
@firatuzman merged in develop. wait until sunday to be on master

[2015-04-24 12:45] #1397 closed

[2015-04-24 12:46] #1355 closed

[2015-04-24 12:46] fernandog commented on #1355
merged in develop

[2015-04-24 12:46] fernandog commented on #1352
merged in develop

[2015-04-24 12:46] #1352 closed

[2015-04-24 12:47] TheSquad commented on #1405
Sorry I wasn't aware of the guideline

[2015-04-24 12:48] #1205 closed

[2015-04-24 12:48] #1176 closed

[2015-04-24 12:48] #835 closed

[2015-04-24 12:49] fernandog commented on #574
@Thraxis if you are going persist filter will keep this open

[2015-04-24 12:53] #1194 closed

[2015-04-24 12:57] deusxanime commented on #1294
I've gotten around this problem by changing my Required Words to "x264" which seems to be grabbing the releases I want. Previously it was grabbing .avi and web-dl files which I didn't want, which was why I stuck in the eztv,ettv Required Words. Anyway just having x264 seems to be working.

This is still an interesting problem, and I'd prefer to have the eztv or ettv releases as I know they are con

[2015-04-24 13:12] TheSquad commented on #1405
I have updated my first post, to fit the guidelines... thank you for noticing it @fernandog

[2015-04-24 13:15] fernandog commented on #1405
@TheSquad FULL logs please

[2015-04-24 13:16] fernandog commented on #1294
@TagForce what do you think about this: https://github.com/SiCKRAGETV/sickrage-issues/issues/1294#issuecomment-95306277

will it have huge impact in PP?

[2015-04-24 13:17] TagForce commented on #589
@fernandog YaY, I finally managed to reproduce it:
[code]

[2015-04-24 13:22] fernandog commented on #589
@TagForce nice! what did you do?

[2015-04-24 13:27] TagForce commented on #589
@fernandog Got impatient waiting for PP to autoStart, so I ran manual PP... While I was navigating autoPP kicked in and moved the file... Then manual PP tried moving it and, obviously, failed.

So I can now confirm that more than one PP run can indeed run simultaneously.

[2015-04-24 13:29] fernandog commented on #589
@TagForce also if you have lots of episodes to PP

[2015-04-24 13:35] sdgarland35 opened #1406 "[APP SUBMITTED]: ('http error', 401, 'Unauthorized', <httplib.HTTPMessage instance at 0x513fcf8>)"
### INFO
Python Version: **2.7.5+ (default, Feb 27 2014, 19:37:08) [GCC 4.8.1]**
Operating System: **Linux-3.11.0-12-generic-x86_64-with-LinuxMint-16-petra**
Locale: UTF-8
Branch: **master**
Commit: SiCKRAGETV/SickRage@c1c519b720acfbbc5cec7c5a89c48053e9f1b980
Link to Log: https://gist.github.com/0c96f4b0115ad818f352
### ERROR
[code]
---
_STAFF NOTIFIED_: @SiCKRAGETV/owners @SiCKRAGETV/moderators

[2015-04-24 13:36] fernandog commented on #1406
@sdgarland35 check your PLEX settings

[2015-04-24 13:37] fernandog commented on #1406
@Thraxis can we change 401 errors and other similar to WARNING instead or ERROR? So user don't open issues

[2015-04-24 13:42] TagForce commented on #1294
@fernandog Yes, kind of... We will have to go through every possible codepath for PP, and add the extra field to each function that determines destination filenames. Luckily that's not that many.
The provider field would be mostly unused (and can be ignored, but we need to check regardless).
The only real place where we'd need to add code for it is this function:
https://github.com/SiCKRAGETV/Sick

[2015-04-24 13:44] TagForce commented on #589
@fernandog If you let autoPP do it, then there's no problem. autoPP will not allow another autoPP thread to start when one is already running. This really is only an issue when you hit manual PP, or when a download client starts PP using the API.

[2015-04-24 13:50] TheSquad commented on #1405
@fernandog, sure ok, was just trying to help-out with "only" relevant things... I changed the gist url

[2015-04-24 13:55] fernandog commented on #1405
@TheSquad you are getting "timed out" accessing the tracker

[2015-04-24 13:56] fernandog commented on #1405
@TheSquad also your log don't show anything about Royal. Use searchLog feature and search for Royal, post result log in gist

[2015-04-24 14:01] TagForce commented on #1401
@neoatomic Hmmm... I think we should be good...
The ```(dvdrip|b[r|d]rip)(.ws)?.(xvid|divx|x264)``` check also includes a check if there's not ```(720|1080)[pi]``` in the filename.
The true HD Bluray rips requires 720p or 1080p in the filename like this:
[code]
(I think this should be changed to 720[pi] and 1080[pi] respectively, but that's besides the point).

So I *think* we can add the bluray t

[2015-04-24 14:05] fernandog commented on #1401
me neither....

@miigotu can you help with this please?

[2015-04-24 14:06] ripper1967 commented on #1406
had the same warning had to look for the new plex token ,replace it in sickrage reenter my password then it was fine

[2015-04-24 14:12] TheSquad commented on #1405
@fernandog can you point me where I can find the searchLog feature please ?

[2015-04-24 14:13] TheSquad commented on #1405
@fernandog : The timeout issue is from today only (TorrentLeech is unreachable today for some reason), it has been 3 days since the issue occured (when TorrentLeech was reachable, no error logs about it, plus all the other show where snatched from it)

[2015-04-24 14:14] fernandog commented on #1405
@TheSquad go to view logs page in SR. There is a input field

[2015-04-24 14:20] ruinit commented on #1383
thanks got it fixed

[2015-04-24 14:21] TheSquad commented on #1405
@fernandog oh, I though you were talking about a feature that would write some verbose into the Log... I'm coming back to you when TorrentLeech is up and running.... Thank you for your help !

[2015-04-24 14:30] sdgarland35 commented on #1406
I have checked the token and it matches what is configured in sickrage....I have gone over the Plex settings in sickrage and everything appears correct and the test plex server succeeds.
Not sure where else to look.

[2015-04-24 14:31] Thraxis commented on #1406
There is a fix for this issue in develop, it will be merged into master.

[2015-04-24 14:33] fernandog commented on #1406
@Thraxis 401 errors dont show as errors?

[2015-04-24 14:34] Thraxis commented on #1406
@fernandog The token not working issue, I'll do a PR to change the 401's to warnings

[2015-04-24 14:36] fernandog commented on #1406
@Thraxis is there another URL code error that we can suppress (error > warning) ?

[2015-04-24 14:55] TheSquad commented on #1405
@fernandog I have pasted the log with filter : "The Royals"

[2015-04-24 15:06] fernandog commented on #1405
@TheSquad please filter again but select DEBUG in log level. If you don't have, please enable DEBUG in general settings

[2015-04-24 15:11] TheSquad commented on #1405
@fernandog done and updated, again thank you for the help !

[2015-04-24 15:28] Thraxis commented on #1406
These are the three logger.ERROR's in the plex notifier.  They can should probably all be set to logger.WARNING

https://github.com/SiCKRAGETV/SickRage/blob/master/sickbeard/notifiers/plex.py#L60
https://github.com/SiCKRAGETV/SickRage/blob/master/sickbeard/notifiers/plex.py#L227
https://github.com/SiCKRAGETV/SickRage/blob/master/sickbeard/notifiers/plex.py#L263

[2015-04-24 15:29] Thraxis commented on #574
Yeah I'll add the persisted filter(s) tonight

[2015-04-24 15:38] fernandog commented on #574
@Thraxis merged. Seems ok! Will do some more tests

[2015-04-24 15:40] Thraxis commented on #1040
@neoatomix Unfortunately I don't think this will improve your load speed as it still gets the data it just hides it.  Placing it as a Per-Show (editShow) option would require database changes to store that setting with each show.  I could possibly get creative with a dict / json config option to allow per show.

Can also look into loading season data on demand

[2015-04-24 15:43] fernandog commented on #1040
@neoatomic @Thraxis no db changes for now! it's a global setting but you can "show/hide episodes" in UI. merged in develop. try it

[2015-04-24 15:43] #1040 closed

[2015-04-24 15:45] fernandog commented on #589
@Thraxis liked the fanart feature! But I would add an option. You can enabled by default. Lowe powered devides can disable it

[2015-04-24 16:15] Thraxis commented on #574
@fernandog If you can think of any other filter options for the episode percent done let me know..  I have to write those in by hand as the built-in options don't work for the hack I used to restore both the weighted sorting and filtering by percent

[2015-04-24 16:23] miigotu commented on #1401
One sec, I'll change those two and pr.

[2015-04-24 16:29] gangrenejellybean commented on #1401
This should accomplish what you/I want:

    elif checkName(["(dvdrip|b[rd]rip|blu-?ray)(.ws)?.(xvid|divx|x264)"], any) and not checkName(["(720|1080)[pi]"], all):
        return Quality.SDDVD

I've removed an extraneous | from the regex, too.

[2015-04-24 16:41] miigotu commented on #1401
Already ahead of you @gangrenejellybean

[2015-04-24 16:43] miigotu commented on #1401
@TagForce I dont think we should change the other ones unless we get reports of names incorrectly parsed as unknown quality, or incorrectly parsed as something different. Looks can be deceiving.

[2015-04-24 16:50] Thraxis commented on #589
@fernandog Yes I'll put it as a config option (or a couple) when I PR it.

[2015-04-24 16:51] miigotu commented on #1282
@fernandog I think that error is not an actual error and thats why you have no title. The log line that spits out that error should be set to something like info or debug, or bypassed in the issue submitter.

ei: it isnt created by an exception, so it shouldnt be an 'ERROR'

[2015-04-24 16:54] fernandog commented on #1282
@miigotu are you talking about this one?

https://github.com/SiCKRAGETV/sickrage-issues/issues/1302

[2015-04-24 16:58] fernandog commented on #1401
@gangrenejellybean merged in develop. please test and report back

[2015-04-24 17:06] miigotu commented on #1282
OK that one is created after an exception.

[2015-04-24 17:35] miigotu commented on #1282
@fernandog I got a way around it, I pushed a commit, but I have to add a regex to it and split off the type and thread and provider strings. Ill squash a regex in and let you know when to check it out.

[2015-04-24 17:50] gangrenejellybean commented on #1401
Posted a comment on the thread for the pull-request as I think there may be an issue with that patch.

I've manually patched locally and will report back my results. Might be a few hours, it's late here and bed is calling.

[2015-04-24 18:04] faidwen commented on #1231
I did the following to correct the issues:

Upgraded Python 2.7.6 -> 2.7.9 (downloaded, make, makealtinstall)
Upgraded pyopenssl  (pip2.7 install pyopenssl --upgrade)

Stopped Sickrage
Restarted Sickrage

Issue corrected.

[2015-04-24 18:08] fernandog commented on #937
@abeloin if we remove the "continue" here and add a raise we get this:

https://github.com/SiCKRAGETV/SickRage/blob/develop/sickbeard/webserve.py#L2262

[code]

[2015-04-24 18:20] miigotu commented on #1401
@fernandog @gangrenejellybean SiCKRAGETV/SickRage/pull/1831

[2015-04-24 18:34] #1392 closed

[2015-04-24 18:44] miigotu opened #1407 "[APP SUBMITTED]: FAKE EXCEPTION"
***DO NOT CLOSE***
***MUST BE OPEN TO CATCH REPEATS***

### INFO
Python Version: **2.7.6 (default, Mar 22 2014, 22:59:56) [GCC 4.8.2]**
Operating System: **Linux-3.13.0-49-generic-x86_64-with-Ubuntu-14.04-trusty**
Locale: UTF-8
Branch: ****
Commit: SiCKRAGETV/SickRage@5754e31bc93933717a244773578651ddfd73ab07
Link to Log: https://gist.github.com/d3bf4755c627d2ab5fe2
### ERROR
[code]
---
_STAFF NOTI

[2015-04-24 18:45] miigotu commented on #1407
### INFO
Python Version: **2.7.6 (default, Mar 22 2014, 22:59:56) [GCC 4.8.2]**
Operating System: **Linux-3.13.0-49-generic-x86_64-with-Ubuntu-14.04-trusty**
Locale: UTF-8
Branch: ****
Commit: SiCKRAGETV/SickRage@5754e31bc93933717a244773578651ddfd73ab07
Link to Log: https://gist.github.com/5163cc11dd6997e63fc5
### ERROR
[code]
---
_STAFF NOTIFIED_: @SiCKRAGETV/owners @SiCKRAGETV/moderators

[2015-04-24 19:07] fernandog commented on #574
merged

[2015-04-24 19:07] #574 closed

[2015-04-24 19:08] #1078 closed

[2015-04-24 19:08] #1401 closed

[2015-04-24 19:09] #1282 closed

[2015-04-24 19:09] #1219 closed

[2015-04-24 19:33] fernandog commented on #1338
@amzeus any more errors so far?

[2015-04-24 19:37] fernandog commented on #1305
@miigotu did you get this error while testing submitting issues?

[2015-04-24 19:43] miigotu commented on #1305
nope, not once

[2015-04-24 19:45] fernandog commented on #1305
@miigotu did you waited the notification appear before submitting the next one?

[2015-04-24 19:50] miigotu commented on #1305
yes, I waited. Maybe we need to add a global to the submitter and block it from being called again until the first one is finished?

[2015-04-24 19:52] fernandog commented on #1305
@miigotu I was thinking disabling the button using javascript until issue got submitted. But don't know how. is there another solution?

[2015-04-24 19:56] miigotu commented on #1305
sure, I could add a calss variable in logger like submitter_running = , initialize it to false, then at the start of submit_errors do something like
[code]
and at the end:

[code]

[2015-04-24 19:59] miigotu commented on #1305
The problem arises because the log submitter takes awhile to complete the function because it has to read all of the logs, apply regex to every line, get issues from github, loop through each issue, and then either create a comment or submit a new issue. Could be 5 seconds or so, and people are impatient.

[2015-04-24 20:00] fernandog commented on #1305
@miigotu but how to tell user about the waiting?

[2015-04-24 20:02] miigotu commented on #1305
I'm sure I could figure out a way if I tried hard enough, but I think there are people here much more familiar with the js and ui code in general.

[2015-04-24 20:06] miigotu commented on #1305
I guess just a notification, set up the return from submit_errors to tell if it was processed or blocked, and notify accordingly from webserve.py

[2015-04-24 20:09] miigotu commented on #1305
@fernandog I'll see what I can whip up in the next half hour or so.

[2015-04-24 20:32] miigotu commented on #1305
@fernandog rawr.

[2015-04-24 20:43] nicolasmartinelli commented on #1231
This is apparently a known bug of Python 2.7.8 and earlier, see for example https://bugs.launchpad.net/ubuntu/+source/python-defaults/+bug/1401322/ (comment 2)

I guess the only solution is indeed to upgrade to Python 2.7.9.

[2015-04-24 21:07] fernandog commented on #1305
@matigonkas please update and try to reproduce please

[2015-04-25 00:04] gangrenejellybean commented on #1401
Thanks for the new fix. Tested and it seems to do the job. Will report back again if there's any issues. Ditto for the api call warning patch for btn.py (with the later == fix)

[2015-04-25 00:54] miigotu commented on #1405
@TheSquad could you try switching to develop branch and seeing if you have the same problem?
Either that or wait until after the develop merges into master on sunday, and then update and try again.
I need to know that you have this issue with current code to begin troubleshooting it.

[2015-04-25 01:21] fernandog opened #1409 "Change "Recommended Shows" to look like "Trending Shows""
Show posters instead of a simple list of shows.

[2015-04-25 01:22] #426 closed

[2015-04-25 01:22] fernandog commented on #426
request to subtitle developer. Not SR

[2015-04-25 01:23] fernandog commented on #116
can't do that now. It will be a major change in SR

[2015-04-25 01:23] #116 closed

[2015-04-25 01:25] fernandog commented on #1126
@echel0n sent you some PM. can we use sickrage.tv email or should we create a new one?

[2015-04-25 01:32] Thraxis commented on #1409
Yeah.. that ones a bit of an annoyance that has been bothering me

[2015-04-25 01:40] #1407 closed

[2015-04-25 01:44] krash1220 commented on #1340
sorry I got busy and forgot all about this. it stopped doing it after a couple of updates, haven’t gotten it since. thanks and sorry for not getting back sooner

Sent from Windows Mail

From: Fernando
Sent: ‎Thursday‎, ‎April‎ ‎23‎, ‎2015 ‎4‎:‎02‎ ‎PM
To: SiCKRAGETV/sickrage-issues
Cc: krash1220

@krash1220 do you always get this error? or only sometimes?

—
Reply to this email directly or view it

[2015-04-25 01:50] rafaelrosars opened #1410 "[APP SUBMITTED]: [Errno 1] _ssl.c:504: error:14077438:SSL routines:SSL23_GET_SERVER_HELLO:tlsv1 alert internal error"
### INFO
Python Version: **2.7.3 (default, Mar 31 2015, 15:16:49) [GCC 4.9.2]**
Operating System: **Linux-3.18.10-armv7l-with-glibc2.4**
Locale: unknown
Branch: **master**
Commit: SiCKRAGETV/SickRage@c1c519b720acfbbc5cec7c5a89c48053e9f1b980
No Log available with ERRORS:
### ERROR
[code]
---
_STAFF NOTIFIED_: @SiCKRAGETV/owners @SiCKRAGETV/moderators

[2015-04-25 01:51] rafaelrosars commented on #1410
I know this is a problem from openelec but i can't get nothing from them, my search is not working anymore, someone can help me?

[2015-04-25 01:54] fernandog commented on #1410
@rafaelrosars you must update to python 2.7.9 - see original issue

[2015-04-25 01:54] #1410 closed

[2015-04-25 01:56] fernandog commented on #1340
Please reply if happens again

[2015-04-25 01:56] #1340 closed

[2015-04-25 01:58] rafaelrosars commented on #1410
Problem is how to update python at openelec, i asked there but no luck...

[2015-04-25 02:02] fernandog commented on #1410
@rafaelrosars I guess you cant. Try OSMC from @samnazarko (osmc.tv)

I used and it has python 2.7.9 and you can install packages as you want

[2015-04-25 02:07] rafaelrosars commented on #1410
I will take a look, but my ideia is not setup my system again. I just want to know how update python, but thanks

[2015-04-25 02:11] fernandog commented on #1410
are you using the lastest openelec version? At least for raspberry pi they are using 2.7.9

[2015-04-25 02:14] Thraxis commented on #1410
Hmm... my Raspberry Pi OpenElec 5.0.8 has python 2.7.3

[2015-04-25 02:19] fernandog commented on #1410
please update. I guess you are not running Kodi Helix. Maybe Gotham or older.

This is from january:
http://forum.kodi.tv/showthread.php?pid=1880651

[2015-04-25 02:32] Thraxis commented on #1410
They reverted the python-2.7.9 change it still runs 2.7.3 their openSSL on is also LibreSSL 2.1 so not sure how that affects things or if it's still a python issue.

(Note: I do not use my raspberry pi for SickRage.  it is strictly my MediaCenter for OpenElec)

[2015-04-25 02:36] fernandog commented on #1410
Ops. Didnt saw that thraxis replied =) thought it was the other user. Sorry!!

[2015-04-25 02:43] rafaelrosars commented on #1410
Im runnig openelec 5.0.8 with python 2.7.3 too. Im waiting for someone at openelec forum give an ideia to fix this issue

[2015-04-25 02:47] fernandog commented on #1410
@Thraxis my rpi runs SR, CP, nzbget, tranmission, headphones and Kodi. All together =)

[2015-04-25 02:48] rafaelrosars commented on #1410
@fernandog wich OS?

[2015-04-25 02:49] fernandog commented on #1410
@rafaelrosars you can disable rarbg and use kat.

[2015-04-25 02:53] rafaelrosars commented on #1410
@fernandog ket? i dont have this listed, for now i disable raring (i like this one kkk)

[2015-04-25 02:56] Thraxis commented on #1406
https://github.com/SiCKRAGETV/SickRage/pull/1837

[2015-04-25 04:21] Thraxis commented on #1409
https://github.com/SiCKRAGETV/SickRage/pull/1839

[2015-04-25 05:05] Thraxis commented on #1292
https://github.com/SiCKRAGETV/SickRage/pull/1840

re.sub regex was not taking into consideration that the api key might be at the end of the string not followed by an &.

[2015-04-25 06:54] Thraxis commented on #1226
https://github.com/SiCKRAGETV/SickRage/pull/1843

[2015-04-25 08:08] 215 opened #1411 "Some network images need a name change."
completely non-pressing, but the tvdb has changed a few network names breaking some images in the gui. two that I know of are FOX and ABC, which are now FOX (US) and ABC (US). making copies of the images and appending (us) i.e. fox (us).png fixed the issue here, so they should be added to the repo.

[2015-04-25 08:33] Thraxis commented on #1411
ABC and Fox logo updates are already merged into develop.  I just submitted for Showcase (ca) and mtv (us)

[2015-04-25 08:56] amzeus commented on #1366
still getting same problem  only new errors show up are
2015-04-25 08:00:43 SEARCHQUEUE-BACKLOG-73255 :: [KickAssTorrents] :: Error while searching KickAssTorrents, skipping: string index out of range
2015-04-25 03:00:08 SHOWQUEUE-REFRESH :: Exception generated in thread SHOWQUEUE-REFRESH: list modified during sort
2015-04-24 18:20:11 DAILYSEARCHER :: Exception generated in thread DAILYSEARCHER: l

[2015-04-25 10:07] LouisF410 opened #1412 "[APP SUBMITTED]: [Errno 1] _ssl.c:510: error:14077438:SSL routines:SSL23_GET_SERVER_HELLO:tlsv1 alert internal error"
### INFO
Python Version: **2.7.8 (default, Jun 30 2014, 16:03:49) [MSC v.1500 32 bit (Intel)]**
Operating System: **Windows-8-6.2.9200**
Branch: **master**
Commit: SiCKRAGETV/SickRage@c1c519b720acfbbc5cec7c5a89c48053e9f1b980
Link to Log: https://gist.github.com/4ca9e5298f9f8ba6bb13
### ERROR
[code]
---
_STAFF NOTIFIED_: @SiCKRAGETV/owners @SiCKRAGETV/moderators

[2015-04-25 10:10] VeNoMouS commented on #1231
as i said... im running 2.7.3 and its working fine..

[2015-04-25 10:36] matansh opened #1413 "Removed show reappears"
I'm running sickrage and everything works fine but one particular show just won't go away.
When i remove other shows they happily go away and don't come back..

At first i thought trakt was re-adding it, so i removed it from trakt and the next day it sneaked back to sickrage.. so im pretty clueless

I've looked through the forums and issue tracker but did not find any thing talking about this kind

[2015-04-25 10:41] #1226 closed

[2015-04-25 10:44] #1292 closed

[2015-04-25 10:45] fernandog commented on #1409
Thanks!

[2015-04-25 10:45] #1409 closed

[2015-04-25 10:48] #1406 closed

[2015-04-25 10:55] #1412 closed

[2015-04-25 10:56] fernandog commented on #1413
@matansh disable trakt and try again. Also follow guidelines

https://github.com/SiCKRAGETV/sickrage-issues

[2015-04-25 10:57] fernandog commented on #1410
@rafaelrosars Kickastorent rarbg uploads there too

[2015-04-25 10:58] #1411 closed

[2015-04-25 10:59] fernandog commented on #1364
@Thraxis are you going to PR this until sunday? Otherwise I push to next milestone.
thanks!!

[2015-04-25 11:03] TheSquad commented on #1405
@miigotu switching to develop branch has fixed the issue, thank you !

[2015-04-25 11:03] #1405 closed

[2015-04-25 11:15] fernandog commented on #1366
@amzeus as always: full logs with debug enabled and posted in GIST

[2015-04-25 11:18] miigotu commented on #1381
@levinzz https://eztv.it is invalid. The eztv has no clue who is running it.
http://torrentfreak.com/eztv-ditches-it-domain-after-italian-intervention-150115/

[2015-04-25 11:21] miigotu commented on #1405
@TheSquad glad this past weeks work is paying off! You could switch back to master on sunday night/monday morning, as develop gets merged into master sunday. Then you don't get caught on any of the bugs that new code may create during the development week.

[2015-04-25 11:37] coop73 commented on #1350
Ok Thanks and we will see.

[2015-04-25 13:19] amzeus commented on #1366
Full DB logs here https://gist.github.com/amzeus/a82723e6d4dc927c89cf

[2015-04-25 13:30] pct00 opened #1414 "[APP SUBMITTED]: [Errno 1] _ssl.c:510: error:14077438:SSL routines:SSL23_GET_SERVER_HELLO:tlsv1 alert internal error"
### INFO
Python Version: **2.7.8 (default, Jun 30 2014, 16:03:49) [MSC v.1500 32 bit (Intel)]**
Operating System: **Windows-7-6.1.7601-SP1**
Branch: **develop**
Commit: SiCKRAGETV/SickRage@3b922e70dc4555cee8fcf76ba1901c7e073b4bf1
Link to Log: https://gist.github.com/a20747a0093f28f6a703
### ERROR
[code]
---
_STAFF NOTIFIED_: @SiCKRAGETV/owners @SiCKRAGETV/moderators

[2015-04-25 13:33] #1414 closed

[2015-04-25 13:42] pct00 opened #1415 "[APP SUBMITTED]: [Errno 1] _ssl.c:510: error:14077438:SSL routines:SSL23_GET_SERVER_HELLO:tlsv1 alert internal error"
### INFO
Python Version: **2.7.8 (default, Jun 30 2014, 16:03:49) [MSC v.1500 32 bit (Intel)]**
Operating System: **Windows-7-6.1.7601-SP1**
Branch: **develop**
Commit: SiCKRAGETV/SickRage@3b922e70dc4555cee8fcf76ba1901c7e073b4bf1
Link to Log: https://gist.github.com/2aab381042fb4ddcb1b9
### ERROR
[code]
---
_STAFF NOTIFIED_: @SiCKRAGETV/owners @SiCKRAGETV/moderators

[2015-04-25 14:09] fernandog commented on #1415
@pct00 dont submit this again please.

[2015-04-25 14:09] #1415 closed

[2015-04-25 14:43] fernandog commented on #1414
@pct00 please try run in CMD:

Install Pip if you don't have it
https://www.youtube.com/watch?v=zPMr0lEMqpo

pip install --upgrade setuptools
pip install pyopenssl --upgrade

[2015-04-25 14:44] fernandog commented on #1412
@LouisF410

 please try run in CMD:

Install Pip if you don't have it
https://www.youtube.com/watch?v=zPMr0lEMqpo

pip install --upgrade setuptools
pip install pyopenssl --upgrade

[2015-04-25 14:44] fernandog commented on #1403
@Vastlee

 please try run in CMD:

Install Pip if you don't have it
https://www.youtube.com/watch?v=zPMr0lEMqpo

pip install --upgrade setuptools
pip install pyopenssl --upgrade

[2015-04-25 14:45] fernandog commented on #1231
For windows:
run in CMD:

Install Pip if you don't have it
https://www.youtube.com/watch?v=zPMr0lEMqpo

pip install --upgrade setuptools
pip install pyopenssl --upgrade

[2015-04-25 14:52] fernandog commented on #1324
@abeloin should we change milestone?

[2015-04-25 14:52] #1336 closed

[2015-04-25 14:53] fernandog commented on #1336
@Romano84 please reopen if you still have this issue after tomorrow's update

[2015-04-25 14:53] fernandog commented on #1107
@abeloin should we change milestone to 4.0.19 ?

[2015-04-25 14:54] #1305 closed

[2015-04-25 14:56] fernandog commented on #1301
@matigonkas please report back

[2015-04-25 15:06] fernandog opened #1416 "[Feature Request] Check URLLIB3/pyopenssl version on update and warn user"
to avoid SSL errors

My Linux:

'1.9.1'

My Windows:
Python 2.7.9 (default, Dec 10 2014, 12:24:55) [MSC v.1500 32 bit (Intel)] on win32
Type "help", "copyright", "credits" or "license" for more information.

'1.10.3'

[2015-04-25 15:11] fernandog commented on #1414
@pct00 before you run that can you run?
´
python

post result here

[2015-04-25 16:14] CptChaos commented on #1364
Another problem is that the Plex Auth tokens change quite fast. Maybe it's an idea for Plex Media Server, to require a username and password and make Sick Rage request tokens by itself through JSON or XML POST-calls to either https://plex.tv/users/sign_in.json or https://plex.tv/users/sign_in.xml respectively. More info on how to get tokens for Plex: https://forums.plex.tv/index.php/topic/129922-h

[2015-04-25 17:52] tdev5 opened #1417 "[Feature Request] Preview names of undownloaded episodes"
Like the "Preview Rename" page, I'd like to be able to preview the names of shows I haven't downloaded / don't have yet. This would be especially useful for specials, as people name them all kinds of different ways, and it can be hard to match what I already have to the names sickrage expects.

Understandably, this may exclude certain categories (like quality) from the preview.

ETA:
BRANCH: (mast

[2015-04-25 18:03] tdev5 opened #1418 "Feature request: show both downloaded and snatched status"
Currently, when an episode has been downloaded, and a higher quality is snatched, only the snatched status shows on the show page, you don't see that you already have one. I'd rather see both.

The current method of showing only snatched (when true) is a real bummer when the download fails.

I see that currently there's one color per row. There would be many ways to display this info. Here's a sug

[2015-04-25 18:09] tdev5 opened #1419 "Feature request: add "collapse" buttons to episode overview"
Manage menu --> Episode Status Management submenu; click Manage button

This takes you to a page with one row per show, and an "Expand" button in each row. Currently, when you click it, the show expands (duh), and the button disappears.

Instead of having the button disappear, it would be helpful if it was replaced with a "Collapse" button.

ETA:
BRANCH: (master)
COMMIT: (975c0dd208c59cac8fd8a77a9

[2015-04-25 18:45] tdev5 opened #1420 "[Feature Request] Preview Rename should use downloaded episodes not snached"
The Preview Rename page uses snatched episodes to propose new names. It should use downloaded episodes.

Currently, when an episode is downloaded, and a higher quality is snatched, it wants to use the snatched quality in the new filename. AFAIK, if the download fails, it'll never propose the right names.

BRANCH: (master)
COMMIT: (975c0dd208c59cac8fd8a77a91da5d1dfc7235df)

[2015-04-25 18:47] d97 opened #1421 "[APP SUBMITTED]: [Errno 1] _ssl.c:504: error:14077438:SSL routines:SSL23_GET_SERVER_HELLO:tlsv1 alert internal error"
### INFO
Python Version: **2.7.3 (default, Apr 12 2012, 13:08:47) [GCC 4.2.3]**
Operating System: **Linux-3.4.6-armv5tel-with-glibc2.4**
Locale: unknown
Branch: **master**
Commit: SiCKRAGETV/SickRage@c1c519b720acfbbc5cec7c5a89c48053e9f1b980
Link to Log: https://gist.github.com/14d615114c9089d7ef95
### ERROR
[code]
---
_STAFF NOTIFIED_: @SiCKRAGETV/owners @SiCKRAGETV/moderators

[2015-04-25 18:52] fernandog commented on #1421
@d97 please run in ssh (one line each time)
python
import pkg_resources
pkg_resources.get_distribution("urllib3").version

post result here

[2015-04-25 19:58] #1421 closed

[2015-04-25 20:36] Thraxis commented on #1364
The master branch has some bugs that were missed due to Plex only verifying the token if you are a Plex Pass member.  The fixes are in develop and should be available soon in master.

@fernandog: I'll see if I can get this PR done tonight. Need to check if the Plex Media Clients need token / login as well

[2015-04-25 23:33] #1402 closed

[2015-04-25 23:34] fernandog commented on #1419
@Thraxis can you check this? seems easy to fix.

[2015-04-25 23:35] fernandog commented on #1420
@TagForce bug or FR?

[2015-04-25 23:35] #1413 closed

[2015-04-25 23:37] Thraxis commented on #1419
I'll take a look, it should be pretty easy.

[2015-04-26 00:56] tdev5 commented on #1420
I consider it a bug. It seems like an oversight, since you don't want people renaming things to the wrong quality, release group, release type, etc.

[2015-04-26 01:06] tdev5 commented on #1420
Oops, I see you were asking TagForce, not me.

[2015-04-26 01:59] kkotowick commented on #1156
I'd like to re-open this issue. Although I see that the setting has now been moved to the config.ini file, it doesn't seem to be taking effect. Although I change the "web_use_gzip" setting to "False", it's still using gzip. Seems like it isn't loading the value from the config file properly, or not applying it properly?

[2015-04-26 02:11] miigotu commented on #1156
@kkotowick use web_use_gzip = 0

[2015-04-26 02:14] abeloin commented on #589
@Thraxis Any PR you submitted contain code from SickGear? We need to add the proper credit in the files(author)

Thanks in advance

@fernandog Since we have many new collaborator, we should ask everyone submitting a PR if the code (or part of it) is from another source as it can introduce licensing issue.

[2015-04-26 02:32] kkotowick commented on #1156
Ah, yes, that worked. If it can't handle "True" and "False" then, the default value in the repository should be changed from "True" to "1".

[2015-04-26 02:35] Thraxis commented on #1364
https://github.com/SiCKRAGETV/SickRage/pull/1849

[2015-04-26 02:36] miigotu commented on #1156
@kkotowick already ahead of you. xD

@SiCKRAGETV/moderators
Shouldnt we make check_setting_int convert "True" to 1 and False to "0" to make it work either way?

[2015-04-26 02:37] fernandog commented on #589
Ok!

[2015-04-26 02:40] Thraxis commented on #589
@abeloin I think I've tried to always reference the SickGear PR in my PR when I've ported code over.

[2015-04-26 02:49] #1364 closed

[2015-04-26 02:53] ubun2Junky commented on #1402
I stopped sickrage services, run 'git pull'.  It did download the newer files.  Once it was completed, I restarted the services.  Sickrage started like normal, but when I tried to view 'coming episodes', I continue to get the above mentioned error.

[2015-04-26 02:55] fernandog commented on #1402
@ubun2Junky stop SR, delete Sessions folder inside SickRage/cache

[2015-04-26 02:59] abeloin commented on #589
Ok, those should be it: https://github.com/SiCKRAGETV/SickRage/pulls?utf8=%E2%9C%93&q=is%3Apr+SickGear

We need to add their(SG) license in each files where the code was imported, see point 2.2 from this link:
https://www.softwarefreedom.org/resources/2007/gpl-non-gpl-collaboration.html

Btw, I brought up this subject not to point finger or blame someone, but to resolve potential conflict that cou

[2015-04-26 03:00] ubun2Junky commented on #1402
Stopped services and removed the Sessions folder inside sickrage/cache
directory.  Restarted services, tried 'Coming Episodes', same error as
before.

L

On Sat, Apr 25, 2015 at 8:55 PM, Fernando <notifications@github.com> wrote:

[2015-04-26 03:03] fernandog commented on #1402
@ubun2Junky read my comment again. And never git pull.

[2015-04-26 03:34] Thraxis commented on #1419
https://github.com/SiCKRAGETV/SickRage/pull/1851

[2015-04-26 03:39] jdfalk opened #1422 "[APP SUBMITTED]: SEARCHQUEUE-MANUAL-79214 :: Unable to parse [subs4u].Mushishi.S2.16.(x264.720p.Ger into a scene name. If it's a valid one log a bug."
### INFO
Python Version: **2.7.9 (default, Mar  1 2015, 12:57:24) [GCC 4.9.2]**
Operating System: **Linux-3.16.0-4-amd64-x86_64-with-debian-8.0**
Locale: UTF-8
Branch: **master**
Commit: SiCKRAGETV/SickRage@c1c519b720acfbbc5cec7c5a89c48053e9f1b980
Link to Log: https://gist.github.com/8311dd9df81c7e3b8dd1
### ERROR
[code]
---
_STAFF NOTIFIED_: @SiCKRAGETV/owners @SiCKRAGETV/moderators

[2015-04-26 03:51] ubun2Junky commented on #1402
I really appreciate your patience in helping me out with this.  I did read your comment, I just missed typing the cheetah directory, sry.  I normally leave sickrage alone and don't update via 'git pull', I just noticed the issue when I try to pull 'Coming Episodes', so I thought I'd try to update my version of SR.  I have it to check for updates every 12hrs, but wasn't sure it was picking up the u

[2015-04-26 07:33] hypertux001 commented on #1340
However this issue is happening to me as well and I am on the latest version.

[2015-04-26 10:15] toxic17 opened #1423 "[APP SUBMITTED]: 401 {'documentation_url': 'https://developer.github.com/v3', 'message': 'Bad credentials'}"
### INFO
Python Version: **2.7 (r27:82500, Aug 21 2010, 07:52:47) [GCC 4.1.3 20070929 (prerelease) (Ubuntu 4.1.2-16ubuntu2)]**
Operating System: **Linux-3.12.6-x86_64-with-glibc2.4**
Locale: unknown
Branch: **master**
Commit: SiCKRAGETV/SickRage@c1c519b720acfbbc5cec7c5a89c48053e9f1b980
Link to Log: https://gist.github.com/d214b192be337a77c473
### ERROR
[code]
---
_STAFF NOTIFIED_: @SiCKRAGETV/owne

[2015-04-26 10:25] kotysoft commented on #937
Well... Maybe my fault and something did wrong...
Just found this:

**SR Locale:** ('hu_HU', 'cp1250')
**Windows default locale:** 852
**Manually set locale to command line before SR starts:** 65001

[2015-04-26 10:45] #1423 closed

[2015-04-26 10:47] #1419 closed

[2015-04-26 11:01] Psychoteur commented on #1231
Hello,
I still got the problem inside freenas jail.
I did upgrade python via pkg update and pkg upgrade.

python -V
python 2.7.9

but Sickrage sees:
"2.7.8 (default, Dec 15 2014, 02:33:48) [GCC 4.2.1 20070831 patched [FreeBSD]]"

[2015-04-26 11:04] d97 opened #1424 "[APP SUBMITTED]: [Errno 1] _ssl.c:504: error:14077438:SSL routines:SSL23_GET_SERVER_HELLO:tlsv1 alert internal error"
### INFO
Python Version: **2.7.3 (default, Apr 12 2012, 13:08:47) [GCC 4.2.3]**
Operating System: **Linux-3.4.6-armv5tel-with-glibc2.4**
Locale: unknown
Branch: **master**
Commit: SiCKRAGETV/SickRage@c1c519b720acfbbc5cec7c5a89c48053e9f1b980
Link to Log: https://gist.github.com/bff9507450349a554bb3
### ERROR
[code]
---
_STAFF NOTIFIED_: @SiCKRAGETV/owners @SiCKRAGETV/moderators

[2015-04-26 11:38] kotysoft opened #1425 "Windows Locale issues"
Previously I posted some comments in other threads scattered, but now I collected anything into 1 new issue, and researched what i could:

## Sickrage and running Environment
**OS:** Windows 7 Ultimate x64 Hungarian SP1
**SR Branch:** master
**SR commit:** c1c519b720acfbbc5cec7c5a89c48053e9f1b980
**SR user:** KOTY *-windows main administrator account*
**SR locale:** 'hu_HU', 'cp1250'
**Python vers

[2015-04-26 12:02] #1424 closed

[2015-04-26 12:03] fernandog commented on #1231
@Psychoteur

Did you try this?
https://github.com/SiCKRAGETV/sickrage-issues/issues/1231#issuecomment-96217060

[2015-04-26 13:11] erickgrau opened #1426 "[APP SUBMITTED]: Thread-322 :: Refusing to change status of 1x3 to DOWNLOADED because it's not SNATCHED/DOWNLOADED"
### INFO
Python Version: **2.7.9rc1 (v2.7.9rc1:40eada278702, Nov 25 2014, 17:25:50) [GCC 4.2.1 (Apple Inc. build 5666) (dot 3)]**
Operating System: **Darwin-14.3.0-x86_64-i386-64bit**
Locale: UTF-8
Branch: **master**
Commit: SiCKRAGETV/SickRage@c1c519b720acfbbc5cec7c5a89c48053e9f1b980
Link to Log: https://gist.github.com/bc5ff993c71b7386211a
### ERROR
[code]
---
_STAFF NOTIFIED_: @SiCKRAGETV/owner

[2015-04-26 13:14] fernandog commented on #1426
@erickgrau change to ignored than to downloaded

[2015-04-26 13:14] fernandog commented on #1426
I

[2015-04-26 13:14] #1426 closed

[2015-04-26 13:55] fernandog commented on #1425
copies from the other issue:

@abeloin if we remove the "continue" here and add a raise we get this:

https://github.com/SiCKRAGETV/SickRage/blob/develop/sickbeard/webserve.py#L2262

[code]

[2015-04-26 14:23] Psychoteur commented on #1231
@fernandog

I did that too.

pip install --upgrade setuptools
pip install pyopenssl --upgrade
pip install urllib3 --upgrade

I don't know. I even checked

/usr/pbi/sickrage-amd64/etc/rc.d/sickrage

I followed the link command="/usr/pbi/sickrage-amd64/bin/python2.7"

version 2.7.9

This is why I don't have a clue why sickrage doesn't see python 2.7.9

[2015-04-26 14:31] fernandog commented on #1231
@Psychoteur ssh/cmd and run: python

See version number.
maybe you need to update your PATH

[2015-04-26 14:44] selthius commented on #1418
There is already a issue for this, which I submitted several weeks ago. #674

[2015-04-26 16:10] thomasbriet opened #1427 "[APP SUBMITTED]: list index out of range"
### INFO
Python Version: **2.7.9 (default, Mar 23 2015, 00:07:04) [GCC 4.7.3 20130102 (prerelease)]**
Operating System: **Linux-3.2.40-x86_64-with-glibc2.2.5**
Locale: UTF-8
Branch: **master**
Commit: SiCKRAGETV/SickRage@c1c519b720acfbbc5cec7c5a89c48053e9f1b980
Link to Log: https://gist.github.com/0ae6b0e59e5681f91495
### ERROR
[code]
---
_STAFF NOTIFIED_: @SiCKRAGETV/owners @SiCKRAGETV/moderators

[2015-04-26 16:15] fernandog commented on #1427
@gborri please check this

[2015-04-26 16:25] #1418 closed

[2015-04-26 16:53] miigotu commented on #1427
The code there seems messy.
Possibly @ https://github.com/SiCKRAGETV/SickRage/blob/master/sickbeard/traktChecker.py#L732
should be :
[code]
or
https://github.com/SiCKRAGETV/SickRage/blob/master/sickbeard/traktChecker.py#L725
should be
[code]
or
https://github.com/SiCKRAGETV/SickRage/blob/master/sickbeard/traktChecker.py#L725
should be
[code]
(without + 1) at the end

[2015-04-26 17:52] Psychoteur commented on #1231
@fernandog

python
2.7.9 as it should be.
It was actually the first thing I did.

[2015-04-26 18:14] tdev5 commented on #674
@selthius, thanks for tagging my issue.

All, here is a mockup of an idea for the display. It might also be useful for thinking through the database schema.

Notice:
- Status, downloaded, and snatched become separate columns.
- New "upgrading" status.
- Still one color per row (status).
- "Upgrading" episodes are included in the "low quality" count.

![status_snatched_downloaded](https://cloud.git

[2015-04-26 18:31] tdev5 commented on #674
Implementing these changes in the database would probably support #1420.

[2015-04-26 18:40] fernandog commented on #674
This need a major change in SR and SR database

[2015-04-26 18:42] fernandog commented on #1231
Check SR srartup script. See if PATH is set there.

[2015-04-26 20:25] gborri commented on #1427
@thomasbriet I've tryed to reproduce but have no chance (same show). It's happen to me that the red colour on server status is happening when trakt 401 unautorize error occured. try to test it. Have you added the show through trakt watchlist?

[2015-04-26 20:28] TehWardy opened #1428 "Sickrage to Sickrage Connection"
Recently I found myself writing a ton of code to crawl a mates ftp server which basically contains his sickrage created library.

What if I could treat another sickrage instance like a torrent or usenet provider and share my library with a friend and he do the same perhaps using api keys for access?

SR knows what I have and knows what I don't, I only want to sync what I don't and how i get that i

[2015-04-26 20:41] thomasbriet commented on #1427
The first time i added the shows to my watchlist on Trakt the first episodes were downloaded, so there is no/ should not be an/ authorazation issue. I've then turned the option to trakt roll to on and the first 3 episodes were downloaded, but now after watching the first 3 episodes it should download the next 3 episodes /because trakt notifies the watched episodes/, but it gives an error before it

[2015-04-26 20:46] apoapostolov commented on #1428
Can't you do the same with Plex already?
On нд, 26.04.2015 г. at 23:28 Paul Ward <notifications@github.com> wrote:

[2015-04-26 20:47] gregtotheizzo commented on #1427
my trakt doesn't work at all.

To get it working are we using the trakt api for apiv2? Or username for apiv1?

[2015-04-26 20:48] DrewPBalls opened #1429 "Sorting of Shows in Show List"
When I shutdown SickRage, all the shows are sorted alphabetically. When I re-open SickRage, the shows are in some random order, even though the sort arrow on the show category would indicate that the Shows are sorted in some non-random order.

Python Version:	2.7.9
SR Version: 	BRANCH: (master)
Running on Windows 7 SP1 - 64-bit

[2015-04-26 21:13] gborri commented on #1427
@thomasbriet if you want to make episode wanted from watchlist you need to enable sync watchlist

[2015-04-26 21:14] gborri commented on #1427
@thomasbriet can you restart sickrage and provide full log?

[2015-04-26 23:40] TehWardy commented on #674
Uh oh!

[2015-04-27 00:19] tdev5 commented on #674
Do the database tables that the episode statuses come from look kind of like what's displayed on the show pages? *If so*, it seems like changing it to something like what I pictured above would mainly be adding a few columns. I'm sure there would be lots of little tasks surrounding it, but...what am I missing?

[2015-04-27 02:22] miigotu opened #1430 "Episodes with failed status allow snatching the same release again"
If I have a snatch in my torrent client that has 0 seeders, and I mark it was failed in SR, the same exact release is snatched again.

It should ignore a search item that matches the failed _release_name.

https://gist.github.com/miigotu/5524a8e619ae61b1536e

Also is min seeders broken?

[2015-04-27 02:37] roquemore92 opened #1431 "[APP SUBMITTED]: [Errno 1] _ssl.c:510: error:14077438:SSL routines:SSL23_GET_SERVER_HELLO:tlsv1 alert internal error"
After applying the latest update, I tried using MoreThan.tv again and I got the following error:

### INFO
Python Version: **2.7.6 (default, Mar 22 2014, 22:59:56) [GCC 4.8.2]**
Operating System: **Linux-3.13.0-32-generic-x86_64-with-Ubuntu-14.04-trusty**
Locale: UTF-8
Branch: **master**
Commit: SiCKRAGETV/SickRage@5ef5a0b27e27cf937011408cb55329d1bd21ce9d
Link to Log: https://gist.github.com/70105

[2015-04-27 02:47] hadees commented on #16
It would be really nice to just be able to add my own custom regex

[2015-04-27 05:23] miigotu opened #1432 "[APP SUBMITTED]: FAKE EXCEPTION"
### INFO
Python Version: **2.7.6 (default, Mar 22 2014, 22:59:56) [GCC 4.8.2]**
Operating System: **Linux-3.13.0-51-generic-x86_64-with-Ubuntu-14.04-trusty**
Locale: UTF-8
Branch: ****
Commit: SiCKRAGETV/SickRage@057137c4f02b236d93ff6b5004548965c0e6860b
Link to Log: https://gist.github.com/55e5429eab619217417a
### ERROR
[code]
---
_STAFF NOTIFIED_: @SiCKRAGETV/owners @SiCKRAGETV/moderators

[2015-04-27 07:02] #1432 closed

[2015-04-27 07:37] Psychoteur commented on #1231
My init script:
#!/bin/sh
#
# PROVIDE: sickrage
# REQUIRE: LOGIN
# KEYWORD: shutdown
#
# Add the following lines to /etc/rc.conf.local or /etc/rc.conf
# to enable this service:
#
# sickrage_enable (bool):	Set to NO by default.
#			Set it to YES to enable it.
# sickrage_user:	The user account sickrage daemon runs as what
#			you want it to be. It uses 'media' user by
#			default. Do not sets it as

[2015-04-27 07:43] Psychoteur commented on #704
I totally forgot about that one. I slipped on the report button, sorry.

[2015-04-27 07:53] TehWardy commented on #1428
Sort of, plex gives you access to stream / view someone elses library, what i'm talking about here is using another SR instance to copy the bits someone else has but that I am missing in to my own library. Although if you pay for Plex I understand you get the sync option that lets you build a playlist and sync it to a device, I guess that's similar to this in that I want to "sync to my downloads f

[2015-04-27 08:03] TehWardy commented on #674
Am I missing something here?
Where we already have a row in the library we are saying that the state of the row is the result of a compare against what we really want and what we have so ...
These rows are effectively in multiple states ... 1 downloaded state, 1 snatched state.

A colour on a row only portrays 1 state.
So I would use colour as minimally as possible, perhaps just have neutral traff

[2015-04-27 08:35] nesler opened #1433 "[Feature Request] Per-show search frequency"
Hi,

Would it be possible to allow per-show daily search frequency settings?

Say, I have a couple show, that I'd like to poll for a lot more frequently than others (because I know they're gonna give me a good ratio :wink: ), and others are OK to just be searched every few hours.

Currently, I've set daily search frequency to 10 minutes, which performs OK, but seems a little unnecessary.

Maybe ev

[2015-04-27 08:51] neives opened #1434 "[APP SUBMITTED]: [Errno 1] _ssl.c:504: error:14077438:SSL routines:SSL23_GET_SERVER_HELLO:tlsv1 alert internal error"
### INFO
Python Version: **2.7.3 (default, Mar 18 2014, 05:13:23) [GCC 4.6.3]**
Operating System: **Linux-3.18.7+-armv6l-with-debian-7.8**
Locale: unknown
Branch: **master**
Commit: SiCKRAGETV/SickRage@5ef5a0b27e27cf937011408cb55329d1bd21ce9d
Link to Log: https://gist.github.com/622d9703cdee5e093342
### ERROR
[code]
---
_STAFF NOTIFIED_: @SiCKRAGETV/owners @SiCKRAGETV/moderators

[2015-04-27 09:07] tchirou opened #1435 "Issue : Mixed timezones in coming episodes"
Hello
BRANCH: (master) / COMMIT: (5ef5a0b27e27cf937011408cb55329d1bd21ce9d)
Python 2.7.6 / Win 8.1
I am in GMT+1 and I enabled the local timezone in settings
Since a few days, I have noticed that most of the shows are okay in the coming episodes list but some of them (at least one per day) displays a network timezone instead of a local timezone.
Examples : Gotham, Agents of shields, modern family,

[2015-04-27 09:09] #1431 closed

[2015-04-27 09:09] #1434 closed

[2015-04-27 09:14] neives opened #1436 "[APP SUBMITTED]: 'utf8' codec can't decode byte 0x8a in position 27005: invalid start byte"
### INFO
Python Version: **2.7.3 (default, Mar 18 2014, 05:13:23) [GCC 4.6.3]**
Operating System: **Linux-3.18.7+-armv6l-with-debian-7.8**
Locale: unknown
Branch: **master**
Commit: SiCKRAGETV/SickRage@5ef5a0b27e27cf937011408cb55329d1bd21ce9d
No Log available with ERRORS:
### ERROR
[code]
---
_STAFF NOTIFIED_: @SiCKRAGETV/owners @SiCKRAGETV/moderators

[2015-04-27 09:15] fernandog commented on #1436
Set locale to utf-8

[2015-04-27 09:15] #1436 closed

[2015-04-27 09:58] amzeus commented on #1366
After some playing around with the settings I found that Moving the PP from 15 minutes upto 60 has fixed this, as its allowing the shows to update correctly and now show as missed. Seems kind of odd that PP needs to so high

[2015-04-27 10:42] #1366 closed

[2015-04-27 10:47] thomasbriet commented on #1427
I'm not home right now due to Kings Day here in Holland, but i will try as soon as i get home.

[2015-04-27 12:50] Shazlash opened #1437 "[APP SUBMITTED]: 'NoneType' object has no attribute 'group'"
### INFO
Python Version: **2.7.3 (default, Mar 13 2014, 11:03:55) [GCC 4.7.2]**
Operating System: **Linux-3.2.0-4-amd64-x86_64-with-debian-7.8**
Locale: unknown
Branch: **master**
Commit: SiCKRAGETV/SickRage@5ef5a0b27e27cf937011408cb55329d1bd21ce9d
Link to Log: https://gist.github.com/594deb3575bf2ac2d587
### ERROR
[code]
---
_STAFF NOTIFIED_: @SiCKRAGETV/owners @SiCKRAGETV/moderators

[2015-04-27 13:26] VeNoMouS commented on #1231
@fernandog yea, thats all i did..

[2015-04-27 14:07] rafaelrosars opened #1438 "[APP SUBMITTED]: 'utf8' codec can't decode byte 0xc5 in position 7: invalid continuation byte"
### INFO
Python Version: **2.7.3 (default, Mar 31 2015, 15:16:49) [GCC 4.9.2]**
Operating System: **Linux-3.18.10-armv7l-with-glibc2.4**
Locale: unknown
Branch: **master**
Commit: SiCKRAGETV/SickRage@5ef5a0b27e27cf937011408cb55329d1bd21ce9d
No Log available with ERRORS:
### ERROR
[code]
---
_STAFF NOTIFIED_: @SiCKRAGETV/owners @SiCKRAGETV/moderators

[2015-04-27 14:08] rafaelrosars commented on #1438
I get this same error when hit Settings/Search Settings, but now after update sick rage to latest version i get same error with Settings. Now i can`t change nothing at SR becouse i can`t go to settings page.

[2015-04-27 14:10] fernandog commented on #1438
Set locale to utf-8

[2015-04-27 14:10] #1438 closed

[2015-04-27 14:16] rafaelrosars commented on #1438
Any ideia how? I can't get help with Openelec support

[2015-04-27 14:19] Psychoteur commented on #1231
I have to reboot my nas for others reason and now it doesn't start at all.

service sickrage start

/usr/local/etc/rc.d/sickrage: 40: Syntax error: "(" unexpected

[2015-04-27 14:21] tdev5 commented on #674
OK, I have some ideas to simplify... Details later.

[2015-04-27 14:52] Psychoteur commented on #1231
There is something incorrect in the init file.

I added a return to the line.
No sickrage starts but I've got:

Starting sickrage.
Unmatched ".
Unmatched ".
/usr/local/etc/rc.d/sickrage: WARNING: failed to start sickrage
Starting sickrage.

[2015-04-27 15:01] Prawna opened #1439 "[APP SUBMITTED]: [Errno 1] _ssl.c:510: error:14077438:SSL routines:SSL23_GET_SERVER_HELLO:tlsv1 alert internal error"
### INFO
Python Version: **2.7.8 (default, Jun 30 2014, 16:08:48) [MSC v.1500 64 bit (AMD64)]**
Operating System: **Windows-8-6.2.9200**
Branch: **master**
Commit: SiCKRAGETV/SickRage@5ef5a0b27e27cf937011408cb55329d1bd21ce9d
No Log available with ERRORS:
### ERROR
[code]
---
_STAFF NOTIFIED_: @SiCKRAGETV/owners @SiCKRAGETV/moderators

[2015-04-27 15:01] #1439 closed

[2015-04-27 15:14] d97 opened #1440 "[APP SUBMITTED]: [Errno 1] _ssl.c:504: error:14077438:SSL routines:SSL23_GET_SERVER_HELLO:tlsv1 alert internal error"
### INFO
Python Version: **2.7.3 (default, Apr 12 2012, 13:08:47) [GCC 4.2.3]**
Operating System: **Linux-3.4.6-armv5tel-with-glibc2.4**
Locale: unknown
Branch: **master**
Commit: SiCKRAGETV/SickRage@5ef5a0b27e27cf937011408cb55329d1bd21ce9d
Link to Log: https://gist.github.com/48f141a8e7d3ca02abf5
### ERROR
[code]
---
_STAFF NOTIFIED_: @SiCKRAGETV/owners @SiCKRAGETV/moderators

[2015-04-27 15:15] #1440 closed

[2015-04-27 15:43] fernandog commented on #1336
@Romano84 did you updated? Everything ok?

[2015-04-27 15:43] fernandog commented on #1430
@miigotu do you have failed downloads enabled ?

[2015-04-27 15:44] fernandog commented on #1437
@nicolasmartinelli can you check this please?

[2015-04-27 15:47] Romano84 commented on #1336
@fernandog yes it seems all good now. Thanks :)

[2015-04-27 16:07] matigonkas commented on #1437
@fernandog related ? http://torrentfreak.com/take-over-new-eztv-domain-name-150425/

[2015-04-27 16:16] Shazlash commented on #1437
URL in eztv.py is:

self.urls = {
            'base_url': 'https://eztv.ch/',
            'rss': 'https://eztv.ch/',
            'episode': 'http://eztvapi.re/show/%s',
        }

[2015-04-27 16:26] nicolasmartinelli commented on #1437
@matigonkas : not directly. The error appears for the episode search, so in http://eztvapi.re/, because for this particular episode, the link contains a torrent, not a magnet. Actually, http://eztvapi.re/ just gathers automatically the content of eztv.ch, and since you pointed it, things have been changing on the website. In the past, the magnet link was always the first link in the column, now it

[2015-04-27 16:41] matigonkas commented on #1437
@nicolasmartinelli  just searched the comments on the article (the latestes comments) and both eztv.it and eztv.ch are run by the same "scammers" ,novaking its creaters "handed over" the website to them

[2015-04-27 17:10] nicolasmartinelli commented on #1437
@matigonkas As long as they provide links, I will assume the provider should be available.

[2015-04-27 17:14] miigotu commented on #1430
I did not, IDK why that is off by default though lol.

[2015-04-27 17:14] #1430 closed

[2015-04-27 17:16] TehWardy opened #1441 "Feature Request: Rss feed support"
Is this feature already in (i can't seem to find this anywhere)?

Basically I know of a few sites like http://showrss.info/ that allow you to subscribe to a listing of episodes for a show.
It would be cool if SR could use RSS feeds as a source for torrent / nzb files in the same way that it already does with searching on indexing sites.

[2015-04-27 17:35] maZuFC opened #1442 "[APP SUBMITTED]: [Errno 1] _ssl.c:510: error:14077438:SSL routines:SSL23_GET_SERVER_HELLO:tlsv1 alert internal error"
### INFO
Python Version: **2.7.8 (default, Jun 30 2014, 16:08:48) [MSC v.1500 64 bit (AMD64)]**
Operating System: **Windows-8-6.2.9200**
Branch: **master**
Commit: SiCKRAGETV/SickRage@5ef5a0b27e27cf937011408cb55329d1bd21ce9d
Link to Log: https://gist.github.com/129c69b03ff46abc746d
### ERROR
[code]
---
_STAFF NOTIFIED_: @SiCKRAGETV/owners @SiCKRAGETV/moderators

[2015-04-27 17:37] maZuFC commented on #1442
hey all

started getting this error message today and i cant figure out what it is... has anybody seen this or knows how to resolve it?

thanks!

[2015-04-27 17:45] #1442 closed

[2015-04-27 17:47] maZuFC commented on #1442
hey Fernando... why did you close this?

On Mon, 27 Apr 2015 at 18:45 Fernando <notifications@github.com> wrote:

[2015-04-27 17:48] fernandog commented on #1442
https://github.com/SiCKRAGETV/sickrage-issues/issues/1231

[2015-04-27 17:51] maZuFC commented on #1442
thanks... ill check it out

On Mon, 27 Apr 2015 at 18:48 Fernando <notifications@github.com> wrote:

[2015-04-27 18:09] miigotu commented on #522
@abeloin Just had this come up in my log, os.utime exception for operation not permitted, which was due to the file not being owned by the same user running the SR process, even though group membership is proper.

Should we not check that the file is owned by the same user SR is running as before attempting to set the timestamp?

[2015-04-27 18:29] palmfighter opened #1443 "[Feature Request] Add login option for Opensubtitles"
Would like to have a config where I can configure OpenSubtitles login details. I am a VIP there and would like to reuse this account to have more searches possible there.

[2015-04-27 18:32] palmfighter commented on #1441
But you can add the RSS to SAB and then when finished have SR pick it up. Perhaps an idea for you?

[2015-04-27 18:39] miropereira opened #1444 "[APP SUBMITTED]: timed out"
### INFO
Python Version: **2.7.8 (default, Dec 15 2014, 02:33:48) [GCC 4.2.1 20070831 patched [FreeBSD]]**
Operating System: **FreeBSD-9.1-RELEASE-amd64-64bit-ELF**
Locale: unknown
Branch: **master**
Commit: SiCKRAGETV/SickRage@5ef5a0b27e27cf937011408cb55329d1bd21ce9d
No Log available with ERRORS:
### ERROR
[code]
---
_STAFF NOTIFIED_: @SiCKRAGETV/owners @SiCKRAGETV/moderators

[2015-04-27 18:40] #1444 closed

[2015-04-27 18:43] pct00 commented on #1437
### INFO
Python Version: **2.7.8 (default, Jun 30 2014, 16:03:49) [MSC v.1500 32 bit (Intel)]**
Operating System: **Windows-7-6.1.7601-SP1**
Branch: **develop**
Commit: SiCKRAGETV/SickRage@5fd354cae9b0699bd718f19fe37e2d0f856b7997
Link to Log: https://gist.github.com/1b0cbfd542ceb3fb10d6
### ERROR
[code]
---
_STAFF NOTIFIED_: @SiCKRAGETV/owners @SiCKRAGETV/moderators

[2015-04-27 18:51] fernandog commented on #1437
@miigotu its working the dupe issue

[2015-04-27 18:56] thomasbriet opened #1445 "[APP SUBMITTED]: 'NoneType' object has no attribute 'whitelist'"
### INFO
Python Version: **2.7.9 (default, Mar 23 2015, 00:07:04) [GCC 4.7.3 20130102 (prerelease)]**
Operating System: **Linux-3.2.40-x86_64-with-glibc2.2.5**
Locale: UTF-8
Branch: **master**
Commit: SiCKRAGETV/SickRage@5ef5a0b27e27cf937011408cb55329d1bd21ce9d
No Log available with ERRORS:
### ERROR
[code]
---
_STAFF NOTIFIED_: @SiCKRAGETV/owners @SiCKRAGETV/moderators

[2015-04-27 18:57] #1445 closed

[2015-04-27 18:57] thomasbriet commented on #1445
sorry, this was by accident.

[2015-04-27 18:59] sickrager opened #1446 "[APP SUBMITTED]: [Errno 1] Operation not permitted: '/media/TV/Revenge/Season 04/Revenge - S04E21 - Aftermath.en.srt'"
### INFO
Python Version: **2.7.8 (default, Dec 15 2014, 02:33:48) [GCC 4.2.1 20070831 patched [FreeBSD]]**
Operating System: **FreeBSD-9.1-RELEASE-amd64-64bit-ELF**
Locale: unknown
Branch: **master**
Commit: SiCKRAGETV/SickRage@5ef5a0b27e27cf937011408cb55329d1bd21ce9d
No Log available with ERRORS:
### ERROR
[code]
---
_STAFF NOTIFIED_: @SiCKRAGETV/owners @SiCKRAGETV/moderators

[2015-04-27 19:02] Martijn085 opened #1447 "[Feature Request] Add TorrentShack.me"
Could someone please add the private tracker: http://torrentshack.me

[2015-04-27 19:04] miigotu commented on #1437
@fernandog yes, as long as you dont close it. If you close the issue, it will open a new one, so it prevents us from closing and ignoring an error xD

[2015-04-27 19:08] fernandog commented on #1437
@miigotu only the SSL error that is not working.

[2015-04-27 19:09] thomasbriet commented on #1427
@gborri I just restarted Sickrage and here is the log it created.
http://pastebin.com/2ADVb4Vi

I'm not sure when the restart is initiated in the log, but i think you should find it ;)

[2015-04-27 19:18] miigotu commented on #1437
@fernandog notice the titles of the ssl errors are not an exact match. There are 3 line numbers reported for _ssl.c, for different versions of ssl installed. Leave all 3 open.

[2015-04-27 19:20] miigotu commented on #1437
Anyways, I know what the error in this #1437 report is from, I'll create a PR.

[2015-04-27 19:24] sickrager opened #1448 "[APP SUBMITTED]: 'ascii' codec can't encode characters in position 48-49: ordinal not in range(128)"
### INFO
Python Version: **2.7.8 (default, Dec 15 2014, 02:33:48) [GCC 4.2.1 20070831 patched [FreeBSD]]**
Operating System: **FreeBSD-9.1-RELEASE-amd64-64bit-ELF**
Locale: unknown
Branch: **master**
Commit: SiCKRAGETV/SickRage@5ef5a0b27e27cf937011408cb55329d1bd21ce9d
Link to Log: https://gist.github.com/5e69592ffe86ef29a11d
### ERROR
[code]
---
_STAFF NOTIFIED_: @SiCKRAGETV/owners @SiCKRAGETV/mod

[2015-04-27 19:30] gborri commented on #1427
@thomasbriet i see that the traktrolling function was working correctly, at least this time. could you try to reproduce the problem and send full log?

[2015-04-27 20:00] matigonkas commented on #1437
### INFO
Python Version: **2.7.9 (default, Apr  2 2015, 15:34:55) [GCC 4.9.2]**
Operating System: **Linux-3.19.0-15-generic-i686-with-Ubuntu-15.04-vivid**
Locale: unknown
Branch: **develop**
Commit: SiCKRAGETV/SickRage@5fd354cae9b0699bd718f19fe37e2d0f856b7997
Link to Log: https://gist.github.com/d2296e762f5da5461578
### ERROR
[code]
---
_STAFF NOTIFIED_: @SiCKRAGETV/owners @SiCKRAGETV/moderators

[2015-04-27 20:16] TehWardy commented on #1441
At the moment I'm doing that with utorrebt but that don't know what files I need and sr goes and gets stuff and adds the same download to sab ... So I download most stuff that can be found on both twice ... Having that in Sr would stop that.

[2015-04-27 20:18] sickrager opened #1449 "[APP SUBMITTED]: [Errno 1] Operation not permitted: '/media/TV/Forever/Season 01/Forever - S01E11 - Der_anonyme_Anrufer.jpg'"
### INFO
Python Version: **2.7.8 (default, Dec 15 2014, 02:33:48) [GCC 4.2.1 20070831 patched [FreeBSD]]**
Operating System: **FreeBSD-9.1-RELEASE-amd64-64bit-ELF**
Locale: unknown
Branch: **master**
Commit: SiCKRAGETV/SickRage@5ef5a0b27e27cf937011408cb55329d1bd21ce9d
Link to Log: https://gist.github.com/741eb47d4b5dbf6e1b80
### ERROR
[code]
---
_STAFF NOTIFIED_: @SiCKRAGETV/owners @SiCKRAGETV/mod

[2015-04-27 20:21] fernandog commented on #1448
Set your OS locale to uft-8

[2015-04-27 20:21] #1448 closed

[2015-04-27 20:52] vegeros opened #1450 "tntvillage provider issue, incorrect filter in http string"
Branch: master
Commit hash: 5ef5a0b27e27cf937011408cb55329d1bd21ce9d
Your operating system and python version: mac os x 10.10, phyton 2.7

What you did
manual search for The Vampire Diaries - 6x03

What happened
no torrent found because the search string is not correct.
I see in the debug log: http://forum.tntvillage.scambioetico.org/?act=allreleases&st=0&cat=29&filter=**********
Instead of: http:

[2015-04-27 21:10] Thraxis commented on #1450
The log filter change to hide NZB api_key's is filtering the log line for the search.  I'll re-work the regex to try and prevent that.

[2015-04-27 21:16] vegeros commented on #1450
Ok, I have understood that. Now it is working fine, there was an issue on the provider itself.
Thanks a lot for your time and for your great work

[2015-04-27 21:19] thomasbriet commented on #1427
@gborri You are correct, the service was "alive". But when i restarted again, i got the error again. Here is the full log.

http://pastebin.com/THmgVWPg

[2015-04-27 21:21] FritzSG commented on #1313
I do not have the XEM icon present. How do I get that added? I have the same issue as described above.

[2015-04-27 21:28] laryan61 commented on #1403
### INFO
Python Version: **2.7.6 (default, Mar 22 2014, 22:59:56) [GCC 4.8.2]**
Operating System: **Linux-3.13.0-37-generic-x86_64-with-LinuxMint-17.1-rebecca**
Locale: unknown
Branch: **master**
Commit: SiCKRAGETV/SickRage@5ef5a0b27e27cf937011408cb55329d1bd21ce9d
Link to Log: https://gist.github.com/e583a1022358ce1b62b4
### ERROR
[code]
---
_STAFF NOTIFIED_: @SiCKRAGETV/owners @SiCKRAGETV/moderat

[2015-04-27 21:59] matigonkas opened #1451 "[APP SUBMITTED]: UNIQUE constraint failed: network_timezones.network_name"
### INFO
Python Version: **2.7.9 (default, Apr  2 2015, 15:34:55) [GCC 4.9.2]**
Operating System: **Linux-3.19.0-15-generic-i686-with-Ubuntu-15.04-vivid**
Locale: unknown
Branch: **develop**
Commit: SiCKRAGETV/SickRage@eaf8dff4bd23cbdcf8480e4351340140f00f90be
Link to Log: https://gist.github.com/ff7e754c3d2e4964d127
### ERROR
[code]
---
_STAFF NOTIFIED_: @SiCKRAGETV/owners @SiCKRAGETV/moderators

[2015-04-27 22:07] matigonkas commented on #1451
Traceback:
```6:47 INFO SEARCHQUEUE-BACKLOG-79485 :: Building internal name cache for How It's Made 2015-04-27 22:56:47 INFO SEARCHQUEUE-BACKLOG-79485 :: No scene exceptions update needed AAIntegrityError: UNIQUE constraint failed: network_timezones.network_name AA return self.connection.cursor().execute(query, args) AA File "/home/super******/SickRage/sickbeard/db.py", line 79, in _execute AA ret

[2015-04-27 22:47] Peke opened #1452 "Subtitle Settings and other issues/features"
Currently there is number of issues when you setup what subtitles should SickRage search

Selection is based on language codes delivered from http://en.wikipedia.org/wiki/List_of_ISO_639-2_codes but flag codes are searched based on http://en.wikipedia.org/wiki/ISO_3166-1_alpha-2 which can end up in number of false flags like for example my native Serbian where there is correct FLAG Icon "rs.png" b

[2015-04-27 22:51] gregtotheizzo opened #1453 "[APP SUBMITTED]: 'NoneType' object has no attribute 'whitelist'"
### INFO
Python Version: **2.7.8 (default, Jun 30 2014, 16:08:48) [MSC v.1500 64 bit (AMD64)]**
Operating System: **Windows-8-6.2.9200**
Branch: **master**
Commit: SiCKRAGETV/SickRage@5ef5a0b27e27cf937011408cb55329d1bd21ce9d
No Log available with ERRORS:
### ERROR
[code]
---
_STAFF NOTIFIED_: @SiCKRAGETV/owners @SiCKRAGETV/moderators

[2015-04-27 23:04] Originalpug commented on #1403
### INFO
Python Version: **2.7.8 (default, Jun 30 2014, 16:08:48) [MSC v.1500 64 bit (AMD64)]**
Operating System: **Windows-8-6.2.9200**
Branch: **master**
Commit: SiCKRAGETV/SickRage@5ef5a0b27e27cf937011408cb55329d1bd21ce9d
Link to Log: https://gist.github.com/897e16671c5e98a70bfc
### ERROR
[code]
---
_STAFF NOTIFIED_: @SiCKRAGETV/owners @SiCKRAGETV/moderators

[2015-04-28 00:00] AHaleIII commented on #1130
I'm wondering the same thing (or perhaps X amount of time; I don't necessarily process that much). I have also been having this issue for a while. The automatic PP seems to work for a few days after a fresh install of SR, but after that it stops and I have to manually post-process everything.  When I manually post-process, all the files in my "complete" folder are correctly processed to their resp

[2015-04-28 00:29] miigotu commented on #1437
@matigonkas Please update, hotfix pushed to develop.
@Shazlash Hotfix pushed to develop branch, you could switch to develop, and update.
@fernandog should my hotfix be merged to master early?

[2015-04-28 00:44] SamTwining commented on #1453
Seconded:

Python Version: **2.7.8**
Operating System: **Ubuntu 14.4**
Branch: **master**
Commit: [SiCKRAGETV/SickRage@5ef5a0b](https://github.com/SiCKRAGETV/SickRage/commit/5ef5a0b27e27cf937011408cb55329d1bd21ce9d)

ERROR

[code]

[2015-04-28 00:48] neives commented on #1436
i change raspbian locale to en_us utf-8 and doesn't solve..

[2015-04-28 01:16] fernandog commented on #1437
@miigotu only sunday now. Or we revert fix to develop and make a PR to master. is it critical?

[2015-04-28 01:50] miigotu commented on #1437
@fernandog Not that crucial, it only gives this error when the regex doesnt match.  Until this is merged to master next week, we must leave this issue open, as there will be more submissions of this error.

[2015-04-28 01:57] Prawna opened #1454 "[APP SUBMITTED]: list modified during sort"
### INFO
Python Version: **2.7.8 (default, Jun 30 2014, 16:08:48) [MSC v.1500 64 bit (AMD64)]**
Operating System: **Windows-8-6.2.9200**
Branch: **master**
Commit: SiCKRAGETV/SickRage@5ef5a0b27e27cf937011408cb55329d1bd21ce9d
No Log available with ERRORS:
### ERROR
[code]
---
_STAFF NOTIFIED_: @SiCKRAGETV/owners @SiCKRAGETV/moderators

[2015-04-28 02:50] miigotu commented on #1454
@Prawna this report is invalid without a log, please post it [gist gist.github.com/prawna]  and link it here.

[2015-04-28 03:04] charles63 commented on #1201
Having same issue on IPT now

[2015-04-28 03:28] tdev5 commented on #674
I don't understand what you're saying here.

That's one way of looking at it. And I think the downloaded state is more important. It says what's actually in the library, instead of what might be later.

So how about this...the "upgrading" status shows as the same color as "downloaded".

![status_snatched_downloaded](https://cloud.githubusercontent.com/assets/12114482/7362304/7740b162-ed56-11e4-8d9

[2015-04-28 03:30] tdev5 commented on #674
Or this...no more "upgrading" status...just let "downloaded" be the important thing, but show that it's also snatched.

![status_snatched_downloaded](https://cloud.githubusercontent.com/assets/12114482/7362338/f5a6d6b2-ed56-11e4-90f5-9c03b69ac813.png)

[2015-04-28 04:58] TimVNL opened #1455 "[APP SUBMITTED]: ('Received response with content-encoding: gzip, but failed to decode it.', error('Error -3 while decompressing: incorrect header check',))"
### INFO
Python Version: **2.7.9 (default, Mar 23 2015, 00:07:04) [GCC 4.7.3 20130102 (prerelease)]**
Operating System: **Linux-3.10.35-x86_64-with-glibc2.2.5**
Locale: UTF-8
Branch: **master**
Commit: SiCKRAGETV/SickRage@5ef5a0b27e27cf937011408cb55329d1bd21ce9d
No Log available with ERRORS:
### ERROR
[code]
---
_STAFF NOTIFIED_: @SiCKRAGETV/owners @SiCKRAGETV/moderators

[2015-04-28 05:59] cwallace opened #1456 "search string blank"
SR Version:	BRANCH: (master) / COMMIT: (5ef5a0b27e27cf937011408cb55329d1bd21ce9d)
SR User:	rtorrent
SR Locale:	(None, None)
SR Config file:	/opt/sickrage/config.ini
SR Database file:	/opt/sickrage/sickbeard.db
SR Cache Dir:	/opt/sickrage/cache
SR Log Dir:	/opt/sickrage/Logs
SR Arguments:	['-q', '--daemon', '--nolaunch', '--pidfile=/opt/sickrage/sickrage.pid', '--datadir=/opt/sickrage']
Python Vers

[2015-04-28 06:37] mationic opened #1457 "[APP SUBMITTED]: [Errno 1] _ssl.c:492: error:14077438:SSL routines:SSL23_GET_SERVER_HELLO:tlsv1 alert internal error"
### INFO
Python Version: **2.6.6 (r266:84292, Jan 22 2014, 09:42:36) [GCC 4.4.7 20120313 (Red Hat 4.4.7-4)]**
Operating System: **Linux-2.6.32-042stab094.8-x86_64-with-centos-6.6-Final**
Locale: UTF8
Branch: **master**
Commit: SiCKRAGETV/SickRage@5ef5a0b27e27cf937011408cb55329d1bd21ce9d
Link to Log: https://gist.github.com/377c02bf296775358df9
### ERROR
[code]
---
_STAFF NOTIFIED_: @SiCKRAGETV/own

[2015-04-28 07:02] pct00 opened #1458 "SHOWQUEUE-REFRESH seems to hang/stop"
Python Version: 2.7.8 (default, Jun 30 2014, 16:03:49) [MSC v.1500 32 bit (Intel)]
Operating System: Windows-7-6.1.7601-SP1
Branch: develop
Commit: SiCKRAGETV/SickRage@5fd354c

hi

i have noticed this for a few "versions already"

SHOWQUEUE-REFRESH seems to hang in the middle of processing and doesnt update all shows. anyone else noticing the same issue?

i checked the log file but no errors seems

[2015-04-28 08:10] tchirou commented on #1435
Well I don't know if someone did something or if the god of electronics got threatened by me but now everything is ok with local timezones only.

[2015-04-28 08:10] #1435 closed

[2015-04-28 08:11] papampi commented on #1403
### INFO
Python Version: **2.7.6 (default, Mar 22 2014, 22:59:56) [GCC 4.8.2]**
Operating System: **Linux-3.13.0-51-generic-x86_64-with-Ubuntu-14.04-trusty**
Locale: unknown
Branch: **master**
Commit: SiCKRAGETV/SickRage@5ef5a0b27e27cf937011408cb55329d1bd21ce9d
Link to Log: https://gist.github.com/faf90cbc0122550a7ab8
### ERROR
[code]
---
_STAFF NOTIFIED_: @SiCKRAGETV/owners @SiCKRAGETV/moderators

[2015-04-28 08:16] neives commented on #1437
### INFO
Python Version: **2.7.3 (default, Mar 18 2014, 05:13:23) [GCC 4.6.3]**
Operating System: **Linux-3.18.7+-armv6l-with-debian-7.8**
Locale: unknown
Branch: **master**
Commit: SiCKRAGETV/SickRage@5ef5a0b27e27cf937011408cb55329d1bd21ce9d
Link to Log: https://gist.github.com/a0d592d07aca6ff4e782
### ERROR
[code]
---
_STAFF NOTIFIED_: @SiCKRAGETV/owners @SiCKRAGETV/moderators

[2015-04-28 08:34] papampi opened #1459 "[Feature Request] qBittorrent Allow high priority not working as it should."
Posted this in forums, but thought its better to post it here too.

Does the "Allow high priority" should send recent aired episodes to top or just raise one level ?
if it should send to top then its not working as it should in qBittorrent,
it only raise one level not send them to top and for those like me with too many torrents in the list its useless.

[2015-04-28 09:05] papampi commented on #1457
got the same problem :
SR Version:	BRANCH: (master) / COMMIT: (5ef5a0b27e27cf937011408cb55329d1bd21ce9d)
Python Version:	2.7.6 (default, Mar 22 2014, 22:59:56) [GCC 4.8.2]
OS: Ubuntu 64 14.04 3.13.0-49
​[CODE]
SEARCHQUEUE-BACKLOG-78988 :: [Rarbg] :: Unable to connect to Rarbg provider: error [Errno 1] _ssl.c:510: error:14077438:SSL routines:SSL23_GET_SERVER_HELLO:tlsv1 alert internal error
[/CODE]

[2015-04-28 09:22] konomimaster commented on #1329
### INFO
Python Version: **2.7.3 (default, Mar 31 2015, 15:16:49) [GCC 4.9.2]**
Operating System: **Linux-3.18.10-armv7l-with-glibc2.4**
Locale: unknown
Branch: **master**
Commit: SiCKRAGETV/SickRage@5ef5a0b27e27cf937011408cb55329d1bd21ce9d
Link to Log: https://gist.github.com/c1bc38c5159783aebc33
### ERROR
[code]
---
_STAFF NOTIFIED_: @SiCKRAGETV/owners @SiCKRAGETV/moderators

[2015-04-28 09:24] konomimaster commented on #1329
### INFO
Python Version: **2.7.3 (default, Mar 31 2015, 15:16:49) [GCC 4.9.2]**
Operating System: **Linux-3.18.10-armv7l-with-glibc2.4**
Locale: unknown
Branch: **master**
Commit: SiCKRAGETV/SickRage@5ef5a0b27e27cf937011408cb55329d1bd21ce9d
Link to Log: https://gist.github.com/7f52747d166bfd860a1c
### ERROR
[code]
---
_STAFF NOTIFIED_: @SiCKRAGETV/owners @SiCKRAGETV/moderators

[2015-04-28 09:32] konomimaster commented on #1329
### INFO
Python Version: **2.7.3 (default, Mar 31 2015, 15:16:49) [GCC 4.9.2]**
Operating System: **Linux-3.18.10-armv7l-with-glibc2.4**
Locale: unknown
Branch: **master**
Commit: SiCKRAGETV/SickRage@5ef5a0b27e27cf937011408cb55329d1bd21ce9d
Link to Log: https://gist.github.com/3d45d4841ab79d1b5760
### ERROR
[code]
---
_STAFF NOTIFIED_: @SiCKRAGETV/owners @SiCKRAGETV/moderators

[2015-04-28 10:09] TagForce commented on #589
@SiCKRAGETV/moderators Uhmmm... All of a sudden, my show list displays Scene Names instead of TVDB Show Names for the show names... This is also what's now in the DB for the Show Name...

Example:
2 Broke Girl$ is now called 2 Impoverished Girls.

Any idea which PR changed this behaviour?

[2015-04-28 10:45] neoatomic commented on #1459
@papampi
Well, SR sends it as a high priority torrent. So if the other torrents are normal priority, the bandwidth will go first to the high priority torrent.
It has noting to do with starting the torrent or putting it on top of your list. Its about allocating resources.

[2015-04-28 10:54] neoatomic commented on #1458
@pct00 Please upload the full debug log. It shows what SR is doing even when there are no errors.
The Developers need this to troubleshoot your problem.

[2015-04-28 11:08] neoatomic commented on #1452
@Peke This is a know problem for some time.
For subtitles SR uses subminimal. (Witch is an older version and getting outdated quickly.)
Its on the to do list for a complete overhaul, but the developers are simply to busy to get started on this.

If you have experience with coding/python your help is more than welcome to get this starting.
The popularity of SR has gone trough the roof and we can us

[2015-04-28 11:15] neives commented on #1437
### INFO
Python Version: **2.7.3 (default, Mar 18 2014, 05:13:23) [GCC 4.6.3]**
Operating System: **Linux-3.18.7+-armv6l-with-debian-7.8**
Locale: unknown
Branch: **master**
Commit: SiCKRAGETV/SickRage@5ef5a0b27e27cf937011408cb55329d1bd21ce9d
Link to Log: https://gist.github.com/d43b77750b55ee924a2a
### ERROR
[code]
---
_STAFF NOTIFIED_: @SiCKRAGETV/owners @SiCKRAGETV/moderators

[2015-04-28 11:38] fernandog commented on #1452
this FR is for subliminal. Not SR

[2015-04-28 11:38] #1452 closed

[2015-04-28 11:49] miigotu commented on #1437
@neives No need to keep reporting the error, it has already been fixed in develop.

[2015-04-28 11:56] miigotu commented on #589
@TagForce Im up to date with develop, and I dont see this happenning on my machine. Maybe your DB got foooked?

[2015-04-28 11:57] papampi commented on #1459
Thanks for answering both in forum and here
![qb](https://cloud.githubusercontent.com/assets/1108483/7369008/3ae24434-edc3-11e4-8a4a-91e83c694582.jpg)
I think in qBittorrent its a bit different, when we give a torrent high priority it goes to top of the list, when we add priority it just move up one step.

[2015-04-28 12:07] neoatomic commented on #1459
@papampi I need to admit that i dont use qBittorrent. I was in the understanding that it worked like other clients.

@JustMaier Could you confirm if the torrents indeed need to be placed on top of the list when high priority in SR is used ?

[2015-04-28 12:11] fernandog opened #1460 "[APP SUBMITTED]: ordinal must be >= 1"
### INFO
Python Version: **2.7.9 (default, Mar  1 2015, 13:48:22) [GCC 4.9.2]**
Operating System: **Linux-3.18.10-1-osmc-armv7l-with-debian-8.0**
Locale: UTF-8
Branch: **develop**
Commit: SiCKRAGETV/SickRage@eaf8dff4bd23cbdcf8480e4351340140f00f90be
Link to Log: https://gist.github.com/5f609c403869e264d5c8
### ERROR
[code]
---
_STAFF NOTIFIED_: @SiCKRAGETV/owners @SiCKRAGETV/moderators

[2015-04-28 12:12] fernandog commented on #1460
any of you get this when try to open a show page?
using local air time - not network time.

[2015-04-28 12:21] neoatomic commented on #1460
@fernandog Was using network time.I set it to local time and did a restart.
Open'd 4 shows and no errors.

[2015-04-28 12:23] fernandog commented on #1460
@neoatomic what is strange is the if XEM fails to load, then displayShow will fail to show the page

[2015-04-28 12:25] TagForce commented on #589
@miigotu I'm trying to replicate this issue on my dev machine, and it doesn't seem to happen there either...

Weird... Why did this happen? I make it a point not to mess up my production machine, so it's just been doing what it's always been doing, and somewhere along the line it's managed to mess up the show name with the scene name.

thexem.de seems to be down now, so that may be why I'm not see

[2015-04-28 12:29] fernandog commented on #589
@TagForce maybe someone updated thetvdb with wrong information and now is fixed

[2015-04-28 12:30] fernandog commented on #589
@TagForce check issue 1460

[2015-04-28 12:33] TagForce commented on #1460
@fernandog thexem.de is down, but my shows open normally... Well, apart from the fact that sometime during the night, the show 2 Broke Girls was renamed 2 Impoverished Girls (which is a scene name), but a full update fixed that (possibly due to thexem being down).

[2015-04-28 12:33] fernandog commented on #1460
@TagForce my shows page sometimes opens sometimes not

[2015-04-28 12:34] TagForce commented on #589
Still weird :)
2015-04-28 03:24:26 INFO     SHOWQUEUE-REFRESH :: Checking & filling cache for show 2 Impoverished Girls

[2015-04-28 12:36] fernandog commented on #589
@TagForce https://forums.thetvdb.com/viewtopic.php?t=23310&p=81076

[2015-04-28 12:38] TagForce commented on #589
lol, that explains it :)
nice find.

[2015-04-28 13:05] neives commented on #1457
Same error here:

BRANCH: (master) / COMMIT: (5ef5a0b27e27cf937011408cb55329d1bd21ce9d)

Operating System: Raspbian - (Linux version 3.18.7+ (dc4@dc4-XPS13-9333) (gcc version 4.8.3 20140303 (prerelease)

Python 2.7.3 (default, Mar 18 2014, 05:13:23)

Locale: UTF8

2015-04-28 13:21:26 SEARCHQUEUE-DAILY-SEARCH :: [Rarbg] :: Unable to connect to Rarbg provider: error [Errno 1] _ssl.c:504: error:14077

[2015-04-28 13:22] papampi commented on #1459
@neoatomic in other torrent clients, if you have queuing enabled and you set to download max 5 torrents to download at a time and you have 20 in the list what will happen when SR add new torrents with high priority?
it just add them to the end of the list and wait till their turn comes up ?

[2015-04-28 14:17] neoatomic commented on #1459
@papampi  Yes, the torrent needs to be active. If you set your client to max 5 downloads it will do exactly that and download no more. So your torrent will be paused till only 4 downloads are running and then start.
As i mentioned before normally the priority is for allocating resources (bandwidth) for active downloads. But qBittorrent seems to function differently.?

For some clients it can have

[2015-04-28 14:44] d97 commented on #1329
### INFO
Python Version: **2.7.3 (default, Apr 12 2012, 13:08:47) [GCC 4.2.3]**
Operating System: **Linux-3.4.6-armv5tel-with-glibc2.4**
Locale: unknown
Branch: **master**
Commit: SiCKRAGETV/SickRage@5ef5a0b27e27cf937011408cb55329d1bd21ce9d
Link to Log: https://gist.github.com/ca58444c10c0a74c9267
### ERROR
[code]
---
_STAFF NOTIFIED_: @SiCKRAGETV/owners @SiCKRAGETV/moderators

[2015-04-28 15:18] papampi commented on #1459
I know its new and so very much thankful to all people who brought us this amazing software,
so what I said could be useful in other clients which use queuing too.

[2015-04-28 15:23] JustMaier commented on #1459
Hey @neoatomic, Reading the `_set_torrent_priority` method, I assumed it was used to increase/decrease priority not send an item to the top of the queue. Right now it increases/decreases by 1 using [this api call](https://github.com/qbittorrent/qBittorrent/wiki/WebUI-API-Documentation#increase-torrent-priority). Do I need to change it so it instead gives the maximal and minimal priority depending

[2015-04-28 16:00] neoatomic commented on #1459
@JustMaier Than its working just fine.
Do you know if "maximal torrent priority" places the torrent on top of the list.? Like the user requests.? Cant find a clear explanation in the API guide...

If that is the case, it could be a useful addition to add the the qBittorrent settings page.
Adding a simple checkbox to set "force maximum priority" when sending the torrent to qBittorrent.
(We did some

[2015-04-28 16:01] fernandog commented on #1459
it's up to qbittorrent users. Don't use it. The only thing is labels and fields name must the aligned with the client

[2015-04-28 16:14] BionicSquidgy opened #1461 "Renaming of double episodes does not work correctly if episodes are not contiguous."
If the file is named as having two episodes that are joined, but do not follow each other in episodic numerical sequence, I think that the rename facility assumes that the file is a range and attempts to rename the file accordingly.

![image](https://cloud.githubusercontent.com/assets/12156282/7374251/0abd4af0-edc9-11e4-8a26-3bb1dfd78901.png)

[2015-04-28 16:49] JustMaier commented on #1459
Sounds like a good idea @neoatomic I'll look into adding that as an option

[2015-04-28 16:52] konomimaster commented on #1329
### INFO
Python Version: **2.7.3 (default, Mar 31 2015, 15:16:49) [GCC 4.9.2]**
Operating System: **Linux-3.18.10-armv7l-with-glibc2.4**
Locale: unknown
Branch: **master**
Commit: SiCKRAGETV/SickRage@5ef5a0b27e27cf937011408cb55329d1bd21ce9d
Link to Log: https://gist.github.com/c58d9bf3c30b8b6757c3
### ERROR
[code]
---
_STAFF NOTIFIED_: @SiCKRAGETV/owners @SiCKRAGETV/moderators

[2015-04-28 16:52] papampi commented on #1459
That would be awesome @JustMaier ,
Thanks a lot,
and sorry to give you guys more headache.

[2015-04-28 16:54] konomimaster commented on #1329
### INFO
Python Version: **2.7.3 (default, Mar 31 2015, 15:16:49) [GCC 4.9.2]**
Operating System: **Linux-3.18.10-armv7l-with-glibc2.4**
Locale: unknown
Branch: **master**
Commit: SiCKRAGETV/SickRage@5ef5a0b27e27cf937011408cb55329d1bd21ce9d
No Log available with ERRORS:
### ERROR
[code]
---
_STAFF NOTIFIED_: @SiCKRAGETV/owners @SiCKRAGETV/moderators

[2015-04-28 17:22] bd2000 commented on #1437
### INFO
Python Version: **2.7 (r27:82500, Aug 21 2010, 07:52:47) [GCC 4.1.3 20070929 (prerelease) (Ubuntu 4.1.2-16ubuntu2)]**
Operating System: **Linux-3.12.6-x86_64-with-glibc2.4**
Locale: unknown
Branch: **master**
Commit: SiCKRAGETV/SickRage@5ef5a0b27e27cf937011408cb55329d1bd21ce9d
Link to Log: https://gist.github.com/cc08e71192a43002aa7f
### ERROR
[code]
---
_STAFF NOTIFIED_: @SiCKRAGETV/owne

[2015-04-28 17:47] xiolo commented on #1457
yep. same here on Ubuntu 12.04 and Xbian as well.  That's the openssl version that gained TLSv1.1 support, which is causing the remote server to close the connection. If Sickrage could force openssl to use SSLv3 instead of TLSv1.1 (-3 on openssl),that would fix sites such as rarbg and piratebay backlog searches

[2015-04-28 18:10] NilsNojje commented on #1437
### INFO
Python Version: **2.7.6 (default, Mar 22 2014, 22:59:56) [GCC 4.8.2]**
Operating System: **Linux-3.16.0-34-generic-x86_64-with-Ubuntu-14.04-trusty**
Locale: UTF-8
Branch: **master**
Commit: SiCKRAGETV/SickRage@5ef5a0b27e27cf937011408cb55329d1bd21ce9d
Link to Log: https://gist.github.com/6960a620f8f27279e7a9
### ERROR
[code]
---
_STAFF NOTIFIED_: @SiCKRAGETV/owners @SiCKRAGETV/moderators

[2015-04-28 18:10] fernandog commented on #1231
@abeloin should we update requests or won't help?

or can't we do this?

https:// github. com /kennethreitz/requests/blob/d92169cce77332965b960512cca7c5a281275b60/requests/adapters.py#L116

[2015-04-28 18:45] TimVNL commented on #1451
### INFO
Python Version: **2.7.9 (default, Mar 23 2015, 00:07:04) [GCC 4.7.3 20130102 (prerelease)]**
Operating System: **Linux-3.10.35-x86_64-with-glibc2.2.5**
Locale: UTF-8
Branch: **master**
Commit: SiCKRAGETV/SickRage@5ef5a0b27e27cf937011408cb55329d1bd21ce9d
No Log available with ERRORS:
### ERROR
[code]
---
_STAFF NOTIFIED_: @SiCKRAGETV/owners @SiCKRAGETV/moderators

[2015-04-28 18:52] mationic commented on #1457
Could this be of help?

https://urllib3.readthedocs.org/en/latest/contrib.html

[2015-04-28 18:57] fernandog commented on #1457
@mationic

stop SR
run in SSH
pip install --upgrade setuptools
pip install pyopenssl --upgrade
pip install urllib3 --upgrade

try again

[2015-04-28 19:05] mationic commented on #1457
just checked..  they were already up-to-date...
doesn't sickbeard use its own hardcorded modules anyway...?

[2015-04-28 20:36] dohtamoon opened #1462 "freshontv"
hi i am new to SR - mainly pull tv shows from freshon. i am running SR on a streambox from bytesized. i have configured set up shows on SR, configured my user details for freshon. the problem is that no episodes are downloaded. Keep getting episode not found message - although the episode i am downloading is hosted on freshon.

i have tried to add scene exception - no help.

i apologise i am new h

[2015-04-28 20:58] d97 commented on #1329
### INFO
Python Version: **2.7.3 (default, Apr 12 2012, 13:08:47) [GCC 4.2.3]**
Operating System: **Linux-3.4.6-armv5tel-with-glibc2.4**
Locale: unknown
Branch: **master**
Commit: SiCKRAGETV/SickRage@5ef5a0b27e27cf937011408cb55329d1bd21ce9d
Link to Log: https://gist.github.com/48752997537f4ce249f1
### ERROR
[code]
---
_STAFF NOTIFIED_: @SiCKRAGETV/owners @SiCKRAGETV/moderators

[2015-04-28 21:24] d97 commented on #1329
### INFO
Python Version: **2.7.3 (default, Apr 12 2012, 13:08:47) [GCC 4.2.3]**
Operating System: **Linux-3.4.6-armv5tel-with-glibc2.4**
Locale: unknown
Branch: **master**
Commit: SiCKRAGETV/SickRage@5ef5a0b27e27cf937011408cb55329d1bd21ce9d
Link to Log: https://gist.github.com/83839f86b48b543584d1
### ERROR
[code]
---
_STAFF NOTIFIED_: @SiCKRAGETV/owners @SiCKRAGETV/moderators

[2015-04-28 21:37] Rock81 opened #1463 "[APP SUBMITTED]: _doSearch() got an unexpected keyword argument 'epObj'"
### INFO
Python Version: **2.7.9 (default, Apr 16 2015, 21:44:36) [GCC 4.2.1 20070831 patched [FreeBSD]]**
Operating System: **FreeBSD-9.3-RELEASE-p9-amd64-64bit-ELF**
Locale: unknown
Branch: **master**
Commit: SiCKRAGETV/SickRage@5ef5a0b27e27cf937011408cb55329d1bd21ce9d
Link to Log: https://gist.github.com/f5e5043dcc2e009ff0a8
### ERROR
[code]
---
_STAFF NOTIFIED_: @SiCKRAGETV/owners @SiCKRAGETV/

[2015-04-29 00:18] oodonnell commented on #1329
### INFO
Python Version: **2.7.3 (default, Mar 23 2014, 01:44:56) [GCC 4.6.3]**
Operating System: **Linux-3.0.101.RN_ARM.3-armv7l-with-debian-7.7**
Locale: UTF-8
Branch: **master**
Commit: SiCKRAGETV/SickRage@5ef5a0b27e27cf937011408cb55329d1bd21ce9d
Link to Log: https://gist.github.com/99a3d2d7e288f6029bf3
### ERROR
[code]
---
_STAFF NOTIFIED_: @SiCKRAGETV/owners @SiCKRAGETV/moderators

[2015-04-29 00:20] oodonnell commented on #1329
### INFO
Python Version: **2.7.3 (default, Mar 23 2014, 01:44:56) [GCC 4.6.3]**
Operating System: **Linux-3.0.101.RN_ARM.3-armv7l-with-debian-7.7**
Locale: UTF-8
Branch: **master**
Commit: SiCKRAGETV/SickRage@5ef5a0b27e27cf937011408cb55329d1bd21ce9d
Link to Log: https://gist.github.com/35bcbbe834c010e92d68
### ERROR
[code]
---
_STAFF NOTIFIED_: @SiCKRAGETV/owners @SiCKRAGETV/moderators

[2015-04-29 02:36] bglover commented on #1451
### INFO
Python Version: **2.7.9 (default, Mar 23 2015, 00:07:04) [GCC 4.7.3 20130102 (prerelease)]**
Operating System: **Linux-3.2.40-x86_64-with-glibc2.2.5**
Locale: UTF-8
Branch: **master**
Commit: SiCKRAGETV/SickRage@5ef5a0b27e27cf937011408cb55329d1bd21ce9d
No Log available with ERRORS:
### ERROR
[code]
---
_STAFF NOTIFIED_: @SiCKRAGETV/owners @SiCKRAGETV/moderators

[2015-04-29 04:31] philiphoyos opened #1464 "[APP SUBMITTED]: SEARCHQUEUE-BACKLOG-73508 :: Unknown failure sending NZB to sab. Return text is: <!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN""
### INFO
Python Version: **2.7.8 (default, Dec 15 2014, 02:33:48) [GCC 4.2.1 20070831 patched [FreeBSD]]**
Operating System: **FreeBSD-9.1-RELEASE-amd64-64bit-ELF**
Locale: unknown
Branch: **master**
Commit: SiCKRAGETV/SickRage@5ef5a0b27e27cf937011408cb55329d1bd21ce9d
Link to Log: https://gist.github.com/6a3f299c83e9fb385416
### ERROR
[code]
---
_STAFF NOTIFIED_: @SiCKRAGETV/owners @SiCKRAGETV/mod

[2015-04-29 06:46] konomimaster commented on #1329
### INFO
Python Version: **2.7.3 (default, Mar 31 2015, 15:16:49) [GCC 4.9.2]**
Operating System: **Linux-3.18.10-armv7l-with-glibc2.4**
Locale: unknown
Branch: **master**
Commit: SiCKRAGETV/SickRage@5ef5a0b27e27cf937011408cb55329d1bd21ce9d
Link to Log: https://gist.github.com/f3a05a7007dbc6494dc9
### ERROR
[code]
---
_STAFF NOTIFIED_: @SiCKRAGETV/owners @SiCKRAGETV/moderators

[2015-04-29 07:03] NilsNojje commented on #1403
### INFO
Python Version: **2.7.6 (default, Mar 22 2014, 22:59:56) [GCC 4.8.2]**
Operating System: **Linux-3.16.0-34-generic-x86_64-with-Ubuntu-14.04-trusty**
Locale: UTF-8
Branch: **master**
Commit: SiCKRAGETV/SickRage@5ef5a0b27e27cf937011408cb55329d1bd21ce9d
Link to Log: https://gist.github.com/75e6a7dce6c9a1186cac
### ERROR
[code]
---
_STAFF NOTIFIED_: @SiCKRAGETV/owners @SiCKRAGETV/moderators

[2015-04-29 07:13] VeNoMouS commented on #1231
as @Psychoteur  said he is running with inside a jail, he needs to run pip with the jailed python... he is upgrading the system python... not the jailed version.

[2015-04-29 07:25] VeNoMouS commented on #1231
@Psychoteur to track which python, look at the pid that sickrage is running as , go look in ```/proc/<pid>``` and ```ls -la cwd``` and where the working directory is linked too..

[2015-04-29 07:32] VeNoMouS commented on #1231
@fernandog yea looking at latest version of request adaptor code, it has that sslv3 stripped out

[code]

[2015-04-29 07:38] DeFropi commented on #1403
### INFO
Python Version: **2.7.6 (default, Mar 22 2014, 22:59:56) [GCC 4.8.2]**
Operating System: **Linux-3.16.0-34-generic-x86_64-with-Ubuntu-14.04-trusty**
Locale: unknown
Branch: **master**
Commit: SiCKRAGETV/SickRage@5ef5a0b27e27cf937011408cb55329d1bd21ce9d
No Log available with ERRORS:
### ERROR
[code]
---
_STAFF NOTIFIED_: @SiCKRAGETV/owners @SiCKRAGETV/moderators

[2015-04-29 07:45] DeFropi commented on #1403
### INFO
Python Version: **2.7.6 (default, Mar 22 2014, 22:59:56) [GCC 4.8.2]**
Operating System: **Linux-3.16.0-34-generic-x86_64-with-Ubuntu-14.04-trusty**
Locale: UTF-8
Branch: **master**
Commit: SiCKRAGETV/SickRage@5ef5a0b27e27cf937011408cb55329d1bd21ce9d
No Log available with ERRORS:
### ERROR
[code]
---
_STAFF NOTIFIED_: @SiCKRAGETV/owners @SiCKRAGETV/moderators

[2015-04-29 08:22] shouwy commented on #1437
### INFO
Python Version: **2.7.3 (default, Mar 13 2014, 11:03:55) [GCC 4.7.2]**
Operating System: **Linux-3.14.32-xxxx-grs-ipv6-64-x86_64-with-Debian-7**
Locale: UTF-8
Branch: **master**
Commit: SiCKRAGETV/SickRage@5ef5a0b27e27cf937011408cb55329d1bd21ce9d
No Log available with ERRORS:
### ERROR
[code]
---
_STAFF NOTIFIED_: @SiCKRAGETV/owners @SiCKRAGETV/moderators

[2015-04-29 08:32] clearminds commented on #1453
Same error here

[2015-04-29 09:46] TehWardy commented on #674
Daft question:
Why does a "downloaded" row highlight green, theres a column showing that and the quality so no need to highlight yellow either.

I'm just thinking that maybe the row highlights should be just for things you don't have a column for.
Or even completely removed so the grid can be made to look nicer.

For example:
Wanted: Status "wanted", Downloaded: empty, Snatched: may have quality m

[2015-04-29 09:51] TehWardy commented on #674
That also gives you room for more statuses in the future without having to add to this rainbow of colour.
It's only suggestion, it comes from me facing this situation at work, we ended up wit ha grid that had about 20 different row colours and it just got ridiculous to look at like it was a childs artwork or something.

[2015-04-29 12:05] Psychoteur commented on #1231
@VeNomous.

You're right python is embedded inside sickrage. I didn't know they proceed that way.
I asked on freenas forum. I think they are going to upgrade sickrage jail plugin.

Give me an hour and I will try to upgrade with your solution.

Thanks.

[2015-04-29 12:15] fernandog commented on #1231
@Psychoteur please try develop branch

[2015-04-29 12:28] fernandog commented on #1231
develop branch updated requests module

[2015-04-29 12:45] fernandog commented on #1231
@Psychoteur any luck using develop branch?

[2015-04-29 12:49] fernandog commented on #1329
please test develop branch. If no 'develop' appears in the list of branches, please enter github user and pass in SR settings

[2015-04-29 12:49] fernandog commented on #1403
please test develop branch. If no 'develop' appears in the list of branches, please enter github user and pass in SR settings

[2015-04-29 12:51] fernandog commented on #1463
@abeloin issue?

[2015-04-29 12:51] #1464 closed

[2015-04-29 12:52] fernandog commented on #1456
@Thraxis related to PR api masking?