[2015-01-14 18:50] pct00 commented on #413
forgot to mention, same error happens in develop branch

[2015-01-14 18:51] pct00 commented on #414
forgot to mention, same error happens in develop branch

[2015-01-14 19:30] JonScaife commented on #410
Absolutely agree, but small steps.  I figured implementing this would be a lot easier.  Analysing files and working out the quality has been mentioned before and is much more complex.

[2015-01-14 20:30] abeloin opened #415 "Episode info: Tooltip not shown anymore"
Branch: Develop
Commit hash: 0bb84466d06ca068e09d5f8bc2bbb828c598963a
Linux, Python 2.7.5

Tooltip aren't shown anymore for episode info.
JS Console Error: TypeError: r.browser is undefined

[2015-01-14 22:15] megapearl opened #416 ""'NoneType' object is not iterable" when clicking on 'General'"
Sickrage then give White Screen with black letters with following error screen:

[code]
Error

'NoneType' object is not iterable

Traceback

Traceback (most recent call last):
File "/usr/local/share/sickbeard/tornado/web.py", line 1292, in _stack_context_handle_exception raise_exc_info((type, value, traceback))
File "/usr/local/share/sickbeard/tornado/stack_context.py", line 314, in wrapped ret =

[2015-01-14 22:56] Semsettin commented on #242
I get the same error "rTorrent: Unable to send Torrent: Return code undefined".

Using Synology DS415+
rtorrent/0.9.4/0.13.4

2015-01-14 23:38:08 DEBUG    SEARCHQUEUE-BACKLOG-263365 :: Calling rTorrent Client
2015-01-14 23:38:17 DEBUG    TORNADO :: Failed doing webui request "api/a58c7abdff16013d2817124287e6286e": Traceback (most recent call last):
  File "/volume1/@appstore/sickbeard-custom/var/S

[2015-01-15 00:51] jaybone2012 opened #417 "unable to parse the filename *** into a valid show"
BRANCH: (master) / COMMIT: (33e95870e0c1b241c93f541d4ee27ed6ba3bfcb8)
Python Version:	2.7.8 (default, Dec 12 2014, 21:20:40) [GCC 4.7.3 20130102 (prerelease)]
Synology Diskstation 412+ DSM 5.1-5021 Update 2

I cannot see anything wrong with the filenames?

See logs below.

http://pastebin.com/NgSzbZBd

[2015-01-15 02:43] abeloin opened #418 "BW lists unable to add in editshow"
Branch: Develop
Commit hash: 0bb84466d06ca068e09d5f8bc2bbb828c598963a
Linux, Python 2.7.5

BW lists in editShow unable to add.

[2015-01-15 04:05] oztiks opened #419 "Plex notification fails on current Plex Media Server 0.9.11.4"
https://sickrage.tv/forums/forum/help-support/bug-issue-reports/11123-issue-new-pms-update-breaks-plex-notification-library-refresh

It appears a change in PMS now requires a token based authentication system vs just username+password. If you update to 0.9.11.4, notifications from SickRage to Plex will fail. (Authentication error).

It looks like someone has written a script for nzbget that might

[2015-01-15 08:14] brando56894 commented on #396
What is this a duplicate of?

[2015-01-15 08:26] Bokaii commented on #388
I am also having the same exact issue on branch Master, Synology DS215j, Python 2.7.8-11

Log:
2015-01-15 09:18:12 Thread-69 :: Failed doing webui callback: Traceback (most recent call last):
  File "/volume1/@appstore/sickbeard-custom/var/SickBeard/sickbeard/webserve.py", line 230, in async_call
    result = function(**kwargs)
  File "/volume1/@appstore/sickbeard-custom/var/SickBeard/sickbeard/we

[2015-01-15 09:16] wripet commented on #412
Bug of course. It should remove lower quality thumbs, but it doesn't.

[2015-01-15 12:09] otto2k commented on #307
Got the same issue on a Popcorn Hour A410 with Python 2.7.9.

[2015-01-15 12:49] fernandog commented on #396
https://github.com/SiCKRAGETV/sickrage-issues/search?q=undefined&state=open&type=Issues&utf8=%E2%9C%93

https://github.com/SiCKRAGETV/sickrage-issues/issues/285

[2015-01-15 12:49] fernandog commented on #419
https://github.com/SiCKRAGETV/SickRage/pull/1190

[2015-01-15 12:51] fernandog commented on #417
@jaybone2012 send the print of this tv-show page

[2015-01-15 12:52] #416 closed

[2015-01-15 14:26] t0per opened #420 "T411 Invalid username"
Everything worked until today, I've got this message when I want DL from T411

2015-01-15 15:19:16 SEARCHQUEUE-MANUAL-257655 :: Invalid username or password for T411 Check your settings
2015-01-15 15:19:15 SEARCHQUEUE-MANUAL-257655 :: [T411] :: Invalid username or password for T411 Check your settings

http://pastebin.com/PvGJVCVV (For the detail)

Thanks in advance

[2015-01-15 14:52] feggak commented on #305
This fixed itself somehow. You can close this!

[2015-01-15 15:20] fernandog commented on #420
@t0per that's strange because this provider was not working.

https://github.com/SiCKRAGETV/sickrage-issues/issues/261

https://github.com/SiCKRAGETV/sickrage-issues/issues/163

and here the users are confirming that's working after this update:
https://github.com/SiCKRAGETV/sickrage-issues/issues/178

[2015-01-15 15:20] #305 closed

[2015-01-15 15:29] t0per commented on #420
The track #178 resolved it for few days.
But this morning I've got this issue.

[2015-01-15 15:36] fernandog commented on #420
@t0per did you notice any change in the website?

[2015-01-15 15:40] t0per commented on #420
@fernandog The tracker is under maintenance, but not the website, I'll be waiting the end of maintenance.

[2015-01-15 15:45] garvinob commented on #404
@eXistenZNL Same issue #266 - Waiting a fix, dev has been away for a bit it seems. It only happens behind nginx proxy, though I havent tried any other proxy in front of SR

[2015-01-15 15:53] fernandog commented on #420
@t0per can you login to the website?

[2015-01-15 15:56] eXistenZNL commented on #404
@garvinob thanks for the heads up!

[2015-01-15 16:01] t0per commented on #420
@fernandog Yes, logout/login works

[2015-01-15 17:59] h3llrais3r commented on #417
I have the same issue with Yowamushi pedal starting from s2e13...
 (Could it be related to the fact that it's aired in 2015?)

BRANCH: (master) / COMMIT: (33e95870e0c1b241c93f541d4ee27ed6ba3bfcb8)
Python Version:	2.7.9 (default, Dec 10 2014, 12:28:03) [MSC v.1500 64 bit (AMD64)]
Windows 8.1 64bit

[code]

![image](https://cloud.githubusercontent.com/assets/1945295/5763161/5cee48d8-9ce8-11e4-9cfd-a

[2015-01-15 18:30] fernandog commented on #417
@jaybone2012 pretty little liers?!

[2015-01-15 18:44] abeloin opened #421 "Issue with jQuery .live() since upgrading to jQuery 1.11"
Branch: Develop
Commit hash: 0bb84466d06ca068e09d5f8bc2bbb828c598963a
Linux, Python 2.7.5

This function is now removed since version 1.9, see http://jquery.com/upgrade-guide/1.9/#live-removed

This affect pages: newShow, config_subtitles and recommandedShows with this error in console:
.live() is not a function

[2015-01-15 19:26] Soulplayer commented on #414
I have the same issue:

2015-01-15 20:15:42 Thread-16 :: Error occurred when downloading subtitles: Traceback (most recent call last):
  File "/volume1/@appstore/sickbeard-custom/var/SickBeard/sickbeard/tv.py", line 1392, in downloadSubtitles
    multi=sickbeard.SUBTITLES_MULTI, cache_dir=sickbeard.CACHE_DIR)
  File "/volume1/@appstore/sickbeard-custom/var/SickBeard/lib/subliminal/api.py", line 11

[2015-01-15 19:29] Rouzax opened #422 "Force overwrite with mediaToSickBeard.py"
If I download an episode with SickRage I import them with mediaToSickBeard.py and that works great.
The thing is when I retry a search for an episode sometime there is no other file like proper or internal and it will just redownload the same original episode.
When the downloads finishes and mediaToSickBeard.py is kicked off it will drop the episode because it is the same but form then on the epis

[2015-01-15 20:32] TuRDMaN commented on #405
Just chiming in to say that I agree with all of these suggestions, and they would greatly improve my experience with SickRage!

[2015-01-15 20:40] John-Gee commented on #405
If you see any improvement that can be made to my suggestions, feel free to specify them as well.

[2015-01-15 21:46] rui-nar opened #423 "Problem downloading subtitles: STATUS 404"
Hi
I can't seem to download any subtitles, I'm getting a "status 404": http://pastebin.com/0mfrkLAz

Here's the subtitle section of the /usr/local/sickbeard-custom/var/config.ini:
Subtitles]
use_subtitles = 1
subtitles_languages = en
SUBTITLES_SERVICES_LIST = "itasa,subtitulos,tvsubtitles,opensubtitles,addic7ed,usub,subscenter,thesubdb,subswiki"
SUBTITLES_SERVICES_ENABLED = 0|0|1|1|0|1|1|1|1
subti

[2015-01-15 21:55] mikkelnl commented on #328
Same here!

[2015-01-15 22:23] abeloin commented on #392
Try applying pull request SiCKRAGETV/SickRage#1192, I think it will solve your issue.

[2015-01-15 22:37] depisode commented on #296
any help here? still getting this issue

[2015-01-16 01:27] ryanf86 opened #424 "Unable to submit SickRage errors to GitHub through SickRage"
SR Version:	        BRANCH: (develop) / COMMIT: (0bb84466d06ca068e09d5f8bc2bbb828c598963a)
SR Config file:	        /Users/ryan/SickRage/config.ini
SR Database file:	/Users/ryan/SickRage/sickbeard.db
SR Cache Dir:	        /Users/ryan/SickRage/cache
SR Arguments:	[]
SR Web Root:
Python Version:	2.7.6 (default, Sep 9 2014, 15:04:36) [GCC 4.2.1 Compatible Apple LLVM 6.0 (clang-600.0.39)]
OS Version:

[2015-01-16 01:41] ryanf86 opened #425 "Need to replace TVTorrents Provider with Shazbat.tv"
Now that TVTorrents.com is no longer in use and they have now moved onto http://www.shazbat.tv/login the python script for this site needs to be updated.

I have provided a copy of the rss feed for the new site with my passkey removed.

http://www.shazbat.tv/rss/recent?passkey=[private]

Are you able to make the necessary changes?

I have attempted to add this as a custom provider but all i get ba

[2015-01-16 02:56] Ivdbroek85 opened #426 "Request: Add subtitleseeker.com to subtitle plugins"
Im sorry if this is suggested before, but it would be great if subtitleseeker.com would be added to the plugins.
Its a big website, with loads of subtitles and always quick.
They have a decent api to work with if it helps.
http://www.api.subtitleseeker.com/

[2015-01-16 09:17] Vodka2014 commented on #328
Same issue on OE 5.0 using audo

[2015-01-16 09:18] Vodka2014 commented on #328
Is there an workaround at all for this in the system at all ?

[2015-01-16 10:41] fernandog commented on #422
@Rouzax in develop branch this retry won't download the same file again. Otherwise if you set as wanted
There's no point downloading the same file again. If you manually search, you want a better quality or proper, right?

I don't see any advantages re-postprocess the same file/quality.

https://github.com/SiCKRAGETV/sickrage-issues/issues/206

[2015-01-16 10:45] fernandog commented on #423
@rui-nar please remove your password from the LOG

can you download that subtitle using the browser?
maybe that file was removed from the subtitle server

[2015-01-16 10:47] fernandog commented on #178
@lucianot54 @jeryagor  can you verify this issue?
https://github.com/SiCKRAGETV/sickrage-issues/issues/420

Is this provider still working?

[2015-01-16 10:51] fernandog commented on #415
@abeloin

If I open SR coming episodes (Chrome) I got this in the javascript console:
[code]

is this related?

[2015-01-16 10:53] #411 closed

[2015-01-16 10:54] fernandog commented on #423
@rui-nar also don't enable a lot of subtitle services otherwise you will get high cpu usage

[2015-01-16 10:55] Rouzax commented on #422
It would make more sense not to download it again.
:smile:

[2015-01-16 10:56] fernandog commented on #422
are you using the latest master o develop?

[2015-01-16 10:57] jeryagor commented on #420
I get this error message occasionally but it is working correctly at the moment.

[2015-01-16 10:58] Rouzax commented on #422
Master

[2015-01-16 11:49] fernandog commented on #420
maybe intermittent "Error 503 Service unavailable"

[2015-01-16 11:49] #420 closed

[2015-01-16 11:49] fernandog commented on #422
develop has fixed this. will close the issue.

[2015-01-16 11:49] #422 closed

[2015-01-16 12:18] fernandog commented on #409
need full logs

[2015-01-16 12:48] rui-nar commented on #423
@fernandog thanks for the remark on the pwd, don't know how I managed to copy all accorss (that's the limitations of the smartphone). I changed the pastebin link to a new one without the pwd.

To answer your quesiton, if sickrage follows the order of the providers as in the config.ini file then tvsubtitles should be one used in that case the answer is "yes", the files exist and are downloadable (j

[2015-01-16 12:53] fernandog commented on #423
@rui-nar it's strange because looks like its working for another episodes. the status it's not 404. Maybe it's some problem with the subtitle provider.

[2015-01-16 12:57] rui-nar commented on #423
@fernandog if I disable a provider do I need to restart for that change to take effect? I'll try disabling tvsubtitles and see ...

[2015-01-16 12:57] fernandog commented on #423
I don't think so.

[2015-01-16 13:53] Micha77 commented on #328
Same problem here on BRANCH: (master) / COMMIT: (33e95870e0c1b241c93f541d4ee27ed6ba3bfcb8)

FINDPROPERS :: Exception generated in thread FINDPROPERS: 'NoneType' object has no attribute 'rls_ignore_words'

[2015-01-16 14:46] madpuma13 opened #427 "Spcial char/Upgrade issue"
So I am new to Sickrage and have set everything up and was having problems with Sickrage returning results for my searches (backlog and manual). In an effort to see if changing the fork would help, I changed to the develop over master.

In the process of upgrading it gives me this:
[code]
Before extracting after researching it as much as I could there are two things that I have found out. 1. It is

[2015-01-16 15:06] fernandog commented on #427
@madpuma13 follow the guidelines:
https://github.com/SiCKRAGETV/sickrage-issues

[2015-01-16 15:23] madpuma13 commented on #427
Sorry github's layout is not very intuitive.

SR Version: BRANCH: (develop) / COMMIT: (33e95870e0c1b241c93f541d4ee27ed6ba3bfcb8)
Freenas 9.3 / Python 2.7.8
Clicking upgrade to letest develop edition
Error popped up preveting upgrade from happening
the upgrade to happen
http://pastebin.com/uASqQwQ1

[2015-01-16 15:43] fernandog commented on #427
@madpuma13 FULL logs please

[2015-01-16 19:08] abeloin commented on #415
It's an issue with Chrome which is fixed in version 40.
See https://code.google.com/p/chromium/issues/detail?id=424599#c23 for more info.

[2015-01-16 19:32] pct00 opened #428 "download fails for episodes with status "downloaded""
Python Version: 2.7.8 (default, Jun 30 2014, 16:03:49) [MSC v.1500 32 bit (Intel)]
Operating System: Windows-7-6.1.7601-SP1
SR Version:	BRANCH: (develop)
COMMIT: (0bb84466d06ca068e09d5f8bc2bbb828c598963a)

when using the manual episode search it fails to use correct torrent from results
problem is that if episode is already downloaded with quality different that i want, in this case i want lower q

[2015-01-16 21:12] ryan-pederson opened #429 "Feature Request - Stop Deleting ".sync" Directory for BTSync"
When SickRage finishes post-processing my directories, it deleted the ".sync" directory responsible for managing the details of the Bittorrent Sync partnership.
Soon after this folder is deleted, the BTSync partnership fails. "Cannot identify the destination folder."

Log:
2015-01-16 14:10:48 INFO     POSTPROCESSER :: Deleting folder: /share/MD0_DATA/Download/sickbeard/completed/.sync
2015-01-16 1

[2015-01-16 22:27] lucianot54 commented on #420
T411 maintenance :+1:

I had the same error but not all the time :

2015-01-15 10:47:08 SEARCHQUEUE-DAILY-SEARCH :: [T411] :: Invalid username or password for T411 Check your settings
2015-01-15 10:26:58 SEARCHQUEUE-BACKLOG-255316 :: [T411] :: Error while searching T411, skipping: timed out
2015-01-15 03:41:15 SHOWQUEUE-FORCE-UPDATE :: TVRage timed out, unable to update episodes from TVRage
2015-0

[2015-01-16 22:48] sn3akz commented on #303
Fix merged into develop. Thanks all!

[2015-01-16 22:48] #303 closed

[2015-01-17 05:15] rubberbird opened #430 "Boxcar 2 - Test Failing"
SR Version: 	BRANCH: (master) / COMMIT: (33e95870e0c1b241c93f541d4ee27ed6ba3bfcb8)
Host: Synology NAS

Error Message:

2015-01-17 18:09:21 Thread-39 :: Failed doing webui callback: Traceback (most recent call last):
  File "/volume2/@appstore/sickbeard-custom/var/SickBeard/sickbeard/webserve.py", line 230, in async_call
    result = function(**kwargs)
TypeError: testBoxcar2() got an unexpected key

[2015-01-17 07:57] jaybone2012 commented on #417
![image](https://cloud.githubusercontent.com/assets/5704140/5788149/bc9c34b4-9e7a-11e4-8d5e-5753bed83c9c.png)

[2015-01-17 09:36] fernandog commented on #428
"Episode already exists and the found episode has same/lower quality, ignoring found episode"

What did yoy expect?
there is not a better quality episode

[2015-01-17 14:36] boeggild opened #431 "Sickrage on Synology with SSL"
I use SickRage on my Synology NAS. Since I added a SSL certificate to the Synology DS Sickrage fails with "DownloadStation: Authentication Failed" when I tried to fetch a torrent. The "Test Connection" option in "Search setiings" returns: "Success: Connected and Authenticated". So I am somewhat puzzled as to why this fails. Anyone else experienced something like this?

[2015-01-17 14:39] boeggild commented on #431
Forgot to mention that there is no problem when if I change the Synology DS URL back to http.

[2015-01-17 16:31] jlo88 commented on #388
I am also having this issue for a month now on:
Branch: Master
COMMIT: (33e95870e0c1b241c93f541d4ee27ed6ba3bfcb8)
Python: 2.7.8
Xubuntu

Log:
2015-01-17 17:28:25 Thread-55 :: Failed doing webui callback: Traceback (most recent call last):
  File "/home/jan/sickrage/sickbeard/webserve.py", line 230, in async_call
    result = function(**kwargs)
  File "/home/jan/sickrage/sickbeard/webserve.py", lin

[2015-01-17 16:53] InfernoZeus commented on #370
This is still an issue for me. Why did you you close it? Do you have a fix?

[2015-01-17 16:58] pct00 commented on #428
expected to download quality defined for series

have some episodes at 720p taking too much space, the manual download should read from the settings of the series no?
worst case is that this is also happening for episodes with quality "unknown"

[2015-01-17 17:05] rui-nar commented on #423
hi again @fernandog , sorry fpr taking so long t answer.

I confirm that something weird is going on with the subtitles config section.
To start with, I can't save any changes I do to the languages and providers, ie, I can save but the changes are not kept. To test providers I've been modifying the config.ini file and then restarting sickrage.

even disabling tvsubtitles, the first provider on the

[2015-01-17 18:52] heymoe commented on #429
Instead of having the developers of SR code a work around a one-off issue like this, a possible work around you can implement with your BTSync setup would be to sync the sickbeard directory instead. The completed directory will still get synced as a sub-directory of sickbeard and the .sync directory would exist in the sickbeard directory and not the completed directory thus not getting removed whe

[2015-01-17 19:05] gabryk91 commented on #392
Ok, the pull request works. Can it be merged in the main release?

[2015-01-17 19:51] ryan-pederson commented on #429
I will certainly try this workaround. It sounds like it should work well.
But, I'm still surprised that this issue seems unique to me.
I will report back with how well the workaround works.
On Jan 17, 2015 11:52 AM, "heymoe" <notifications@github.com> wrote:

[2015-01-17 19:57] rastating opened #432 "API error: 'NoneType' object has no attribute 'values'"
I develop an application that interfaces with Sick Beard and I have been getting quite a few error reports from users using SickRage with the following output from the ```shows``` API call:

[code]

I haven't experienced it personally, but thought I'd report it as I've seen this error report cropping up quite a bit.

[2015-01-17 20:20] ThePieMan commented on #430
Too funny, I just signed in to report this issue as well.

Appears with the proper information that the notifications themselves work just fine, but the 'Test Boxcar2' button is failing.

[2015-01-17 20:39] ryan-pederson commented on #429
Seems to be working fine. I appreciate the feedback.

[2015-01-17 20:39] #429 closed

[2015-01-17 20:52] HarleyCarter1234 opened #433 "episode download progress on mass update page"
Is it possible to add the episode download progress to the mass update page?

I've got loads of shows on the system and it would be very useful to be able to use this to quickly remove all series that have ended, and that i've got 100% of the episodes downloaded .... basically all series that will never need to grab another episode

[2015-01-17 22:06] d1g2w3 commented on #178
This fix also works for me. Great work :)

[2015-01-18 00:28] grantonstar commented on #370
I stopped and restarted the daemon a couple of times and that seemed to do
it.

On Sunday, January 18, 2015, Ben Fox-Moore <notifications@github.com> wrote:

[2015-01-18 00:35] abeloin commented on #423
@rui-nar
Try applying SiCKRAGETV/SickRage/pull/1192 , it should fix the issue of not been able to save changes in the config section.

By the way, "STATUS IS 404" is not an HTTP 404, it's the episode status in the db(first 4 = Downloaded)

Also looking at the files searched in the log provided, it look like it truly cannot find a sub for that file hash.

Example: Alphas.S02E04.720p.HDTV.x264-IMMER

[2015-01-18 01:20] abeloin commented on #297
@eli-jordan Another alternative, simply use shutil.copyfileobj directly. This way you can specify the buffer size(default 16k) directly.

[2015-01-18 01:54] rubberbird commented on #430
@ThePieMan Great minds think alike. Yeah, I noticed afterwards that notification are working fine, just the test box fails.

[2015-01-18 02:37] fernandog commented on #428
if you already have that episode downloaded why re-download the same quality?
If you want to force re-download the same quality set as WANTED.
If there's a BETTER quality then SR will download.

[2015-01-18 02:38] fernandog commented on #370
disable auto update at startup and leave SR running 24/7

[2015-01-18 02:39] #423 closed

[2015-01-18 02:40] fernandog commented on #423
thanks @abeloin

[2015-01-18 02:41] fernandog commented on #430
https://github.com/SiCKRAGETV/sickrage-issues/issues/311

[2015-01-18 02:41] #430 closed

[2015-01-18 05:00] #415 closed

[2015-01-18 05:01] #421 closed

[2015-01-18 05:01] #418 closed

[2015-01-18 06:34] RobMadrid commented on #307
Just pulled last commit
BRANCH: (master) / COMMIT: (401cb666016e45b42fe675bafdf7908ad6c2b9bb)
Can now connect to General Tab. This issue is resolved for me. Thanks

[2015-01-18 09:53] elliottlock commented on #431
I can also confirm this issue to be present

[2015-01-18 10:08] Weggy commented on #431
NO, wait I've found the issue (I think).

"boeggild", please can you tr going to the following page in sickrage:
http://n.n.n.n:n/config/general/ (e.g. http://192.168.1.1:8081/config/general/)

Tick "Enable HTTPS" and save the changes.

From there you should find searches and downloads function.

[2015-01-18 11:05] Vodka2014 commented on #323
Since the update that was released today the Propers is getting processed and no errors in the SickRage Logs. I just need a proper to get updated to the nab sites to see if it grabs it. Other then that all looking good so far.

[2015-01-18 11:07] Vodka2014 commented on #328
Since the update that was released today the Propers is getting processed and no errors in the SickRage Logs. I just need a proper to get updated to the nzb sites to see if it grabs it. Other then that all looking good so far.

[2015-01-18 11:13] markheloking commented on #328
Lets close it then. If you see that anything is still off, please reopen/report back @Vodka2014 .

[2015-01-18 11:14] markheloking commented on #323
Lets close it then. If you see that anything is still off, please reopen/report back @Vodka2014 .

[2015-01-18 11:15] markheloking commented on #431
Please use the issue guidelines when posting an issue. This way the dev team is able to debug your problem. Don't forget to use [markdown](https://guides.github.com/features/mastering-markdown/) on any code and log you want to post in-line.

- [ ] Branch
- [ ] Commit hash
- [ ] Operating system and python version
- [x] What did you do?
- [x] What happened?
- [x] What did you expect?
- [ ] Link to

[2015-01-18 11:15] Vodka2014 commented on #323
So i just added a new show and it did find the PROPER Releases :)

[2015-01-18 11:16] Vodka2014 commented on #328
So i just added a new show and it did find the PROPER Releases :)

Without me adding them manually. Thanks Team :)

[2015-01-18 12:14] markheloking commented on #297
Closing since it's merged now.

[2015-01-18 12:14] #297 closed

[2015-01-18 12:16] markheloking commented on #178
Closing this since it should be solved. Please do report back if the issue persists.

[2015-01-18 12:16] #178 closed

[2015-01-18 12:16] markheloking commented on #433
I would also very much like this feature.

[2015-01-18 12:19] markheloking commented on #404
@echel0n has just had his child born: he's taking some personal time off.

[2015-01-18 12:20] markheloking commented on #388
Closing this as it's a duplicate. Please continue the discussion over at https://github.com/SiCKRAGETV/sickrage-issues/issues/307.

[2015-01-18 12:20] #388 closed

[2015-01-18 12:22] markheloking commented on #432
Please use the issue guidelines when posting an issue. This way the dev team is able to debug your problem. Don't forget to use [markdown](https://guides.github.com/features/mastering-markdown/) on any code and log you want to post in-line.

- [ ] Branch
- [ ] Commit hash
- [ ] Operating system and python version
- [ ] What did you do?
- [x] What happened?
- [x] What did you expect?
- [ ] Link to

[2015-01-18 12:24] markheloking commented on #302
This issue is not persisting on the master branch. Switching solved it for me.

[2015-01-18 12:26] markheloking commented on #392
The release schedule is set as it is. Features will be implemented into development first, and only every release there will be a new release candidate, and after that it will be merged/rebased into the master branch.
This is to improve the stability of the master branch.

[2015-01-18 12:26] markheloking commented on #392
Closing since this is fixed in the development branch.

[2015-01-18 12:26] #392 closed

[2015-01-18 12:27] markheloking commented on #388
Closing this as this is a duplicate.

[2015-01-18 12:34] rastating commented on #432
@markheloking - unfortunately as I mentioned, the error reports are from other people, I have not personally experienced this issue, but I am seeing it crop up quite a lot in automated error reporting.

The above output from SickRage is the only information I have to offer - from the looks of it, something is trying to access a property called ```values``` before the object has been initialised. T

[2015-01-18 12:36] markheloking commented on #307
On BRANCH: (master) / COMMIT: (401cb666016e45b42fe675bafdf7908ad6c2b9bb)  here, everything is working as it should. Are you on the same commit right now @RobMadrid?

[2015-01-18 12:37] markheloking commented on #420
@lucianot54 is it fixed now then?

[2015-01-18 12:44] HarleyCarter1234 commented on #433
good stuff .. i was hoping I wasn't just missing some other easy way of removing those

[2015-01-18 12:45] markheloking commented on #296
@depisode please update all the info as requested in my last post. If you don't follow the issue posting guidelines, we will be forced to close the issue (to prevent clutter in the github issue tracker).

[2015-01-18 12:48] markheloking commented on #432
Please check with your users for some information concerning the version & branch they're using. A lot of pullrequest have gone through in the last few hours.

[2015-01-18 12:56] rastating commented on #432
The error reports are anonymous unfortunately, so I have no means of further contact. If anyone contacts me directly and reports it I'll be sure to ask them for the extra information.

[2015-01-18 12:57] markheloking commented on #414
@Soulplayer please use markdown in the future.

[2015-01-18 12:59] markheloking commented on #416
@megapearl please use markdown in the future.

[2015-01-18 12:59] markheloking commented on #416
Duplicate of https://github.com/SiCKRAGETV/sickrage-issues/issues/307.

[2015-01-18 13:00] markheloking commented on #419
Closing since this should be fixed with the latest pull. Please report back if the issue persists.

[2015-01-18 13:00] #419 closed

[2015-01-18 13:01] markheloking commented on #396
@brando56894 please use markdown in the future.

[2015-01-18 13:03] markheloking commented on #432
The dev is very busy (just became a father), so it might take a while for an error like this (with not a lot of info) to get resolved. Just a heads-up.

[2015-01-18 13:04] markheloking commented on #412
Please use the issue guidelines when posting an issue. This way the dev team is able to debug your problem. Don't forget to use [markdown](https://guides.github.com/features/mastering-markdown/) on any code and log you want to post in-line.

- [ ] Branch
- [ ] Commit hash
- [ ] Operating system and python version
- [x] What did you do?
- [x] What happened?
- [x] What did you expect?
- [x] Link to

[2015-01-18 13:06] markheloking commented on #410
I believe sickrage already uses mediainfo to check the quality of the videos, but I might be incorrect on that part.

[2015-01-18 13:08] markheloking commented on #413
Duplicate of https://github.com/SiCKRAGETV/sickrage-issues/issues/287. Closing this one, continue the discussion over there.

[2015-01-18 13:08] #413 closed

[2015-01-18 13:08] markheloking commented on #424
Duplicate of https://github.com/SiCKRAGETV/sickrage-issues/issues/287. Closing this one, continue the discussion over there.

[2015-01-18 13:08] #424 closed

[2015-01-18 13:14] markheloking commented on #406
@John-Gee please use markdown and the issue posting guidelines in the future.

[2015-01-18 13:16] markheloking commented on #379
@Tass5233 please use markdown in the future.

[2015-01-18 13:18] markheloking commented on #357
This is already mentioned in https://github.com/SiCKRAGETV/sickrage-issues/issues/28, but this will increase awareness around this feature.

[2015-01-18 13:19] yongbi85 commented on #267
Hello,

Any news regarding this issue ?
Also it is tagged as branch master, does this mean in dev branch it is working ?

[2015-01-18 13:24] markheloking commented on #267
It is tagged "Master" because people reported seeing the issue on the master branch. As soon as someone reports it on the develop branch, that tag will be added as well. No news regarding the issue so far.
The dev just became a father, so he's going to be away/having personal time for a while.

[2015-01-18 13:24] lucianot54 commented on #420
I confirm, you can close this issue. At this previous time t411 doesn't work, it's for that we have this error. Next time i will have this error and t411 will be down, i will manage error handling for this case.

[2015-01-18 13:25] markheloking commented on #385
Please use the issue guidelines when posting an issue. This way the dev team is able to debug your problem. Don't forget to use [markdown](https://guides.github.com/features/mastering-markdown/) on any code and log you want to post in-line.

- [ ] Branch
- [ ] Commit hash
- [ ] Operating system and python version
- [x] What did you do?
- [x] What happened?
- [x] What did you expect?
- [x] Link to

[2015-01-18 13:26] rastating commented on #432
No problem - like I said, not something I've experienced personally, but wanted to give you guys a head's up that it seems to be happening in case no one has reported it before. Congratulations to he dev on becoming a big-daddy dev :)

[2015-01-18 13:28] markheloking commented on #283
Closing this issue as it should be fixed. Please reopen if the issue persists.

[2015-01-18 13:28] #283 closed

[2015-01-18 13:29] markheloking commented on #285
Closing this issue as it should be fixed with all the new merges. Please report back if the issue persists.

[2015-01-18 13:29] #285 closed

[2015-01-18 13:30] markheloking commented on #259
Closing this as it should be fixed with https://github.com/SiCKRAGETV/SickRage/pull/1153.

[2015-01-18 13:30] #259 closed

[2015-01-18 13:41] markheloking commented on #398
Located over at https://www.usenetserver.com/ I believe.

[2015-01-18 13:42] markheloking commented on #301
@echel0n Just became a dad if I'm correct, so there may be an unusual amount of delay between fixes etc.

[2015-01-18 13:43] markheloking commented on #378
@VioletVivirand latest version as of right now is BRANCH: (master) / COMMIT: (401cb666016e45b42fe675bafdf7908ad6c2b9bb). Please update and report back.

[2015-01-18 13:45] markheloking commented on #369
Please use the issue guidelines when posting an issue. This way the dev team is able to debug your problem. Don't forget to use [markdown](https://guides.github.com/features/mastering-markdown/) on any code and log you want to post in-line.

- [ ] Branch
- [ ] Commit hash
- [ ] Operating system and python version
- [x] What did you do?
- [x] What happened?
- [x] What did you expect?
- [ ] Link to

[2015-01-18 13:47] markheloking commented on #373
@meokey please use markdown in the future

[2015-01-18 13:54] Tlabok commented on #328
I still see the error msg appear after today's update for the master branch.
[code]

[2015-01-18 14:01] lucianot54 opened #434 "No downloads were found"
I use DownloadStation to download t411 torrent and i have all episodes snatched but there is nothing sent to my nas. I'm trying to investigate but if you have a trick i'm interesting.

I used the last dev branch. Where i can check for the Torrent Search in the code?

Edit:
My synology use the URL to download and with t411, to download the torrent, i need an authentification...

[2015-01-18 14:05] yongbi85 commented on #267
Congratulations to him then and thanks for the answer.
I would also like to thank the dev for this fantastic branch, once you've tasted sickrage you can't go back to sickbeard :p

[2015-01-18 14:08] gabryk91 commented on #302
I'm lost. A while ago it was suggested to switch to the develop branch,
because apparently the master would be merged into develop at some point
and the master would be eliminated. Now... what branch should be used?
Il 18/gen/2015 13:24 "markheloking" <notifications@github.com> ha scritto:

[2015-01-18 14:12] Trever123 opened #435 "No JSON object could be decoded - TorrentDay Search - API Change?"
As i am having issues with a previous issue to do with TorrentDay cookie not being found (issue 291). I have loaded a virtual machine up and started from scratch with a fresh install of sickrage to see if it is a problem on my end (if so ill do a fresh install).

I am now getting the following error - No JSON object could be decoded.

The logs are here: http://pastebin.com/GGqzAg2d

I have done so

[2015-01-18 14:24] markheloking commented on #286
@fernandog can you make a pullrequest out of that file as well?

[2015-01-18 14:25] markheloking commented on #360
Closing as this is merged and assumed fixed.

[2015-01-18 14:25] #360 closed

[2015-01-18 14:34] Vodka2014 commented on #328
@ TIabok

I just checked mine again and this is what i got:

2015-01-18 16:33:16 INFO     FINDPROPERS :: Completed the search for new propers, next check in approx. 1h, 29m
2015-01-18 16:33:11 INFO     FINDPROPERS :: [NZBs.org] :: Searching for any new PROPER releases from NZBs.org
2015-01-18 16:33:08 INFO     FINDPROPERS :: [NZB.su] :: Searching for any new PROPER releases from NZB.su
2015-01-18

[2015-01-18 14:36] markheloking commented on #44
Closing this as this doesn't seem to be an issue anymore.

[2015-01-18 14:37] wripet commented on #410
I definitely doesn't. Or if it does, it does it terribly wrong.

[2015-01-18 14:37] markheloking commented on #328
@Vodka2014 please use markdown in the future.

[2015-01-18 14:40] markheloking commented on #302
Generally: the development branch. The problem is that @echel0n has been away for a few weeks now (since someone said he became a father & needs some personal time). That's why fixes aren't as fast as they used to be, so the last few weeks aren't a really good example for what branch to use.

[2015-01-18 14:41] markheloking commented on #434
Please use the issue guidelines when posting an issue. This way the dev team is able to debug your problem. Don't forget to use [markdown](https://guides.github.com/features/mastering-markdown/) on any code and log you want to post in-line.

- [x] Branch
- [ ] Commit hash
- [ ] Operating system and python version
- [x] What did you do?
- [x] What happened?
- [x] What did you expect?
- [ ] Link to

[2015-01-18 15:32] Tlabok commented on #328
@ Vodka2014
I have just activated debug. This is what I got:

[code]
SR Version: 	BRANCH: (master) / COMMIT: (401cb666016e45b42fe675bafdf7908ad6c2b9bb)
On a Qnap TS-439 Pro.
Python version: 	2.7.3 (default, Apr 12 2012, 20:25:04) [GCC 4.2.1].

[2015-01-18 16:43] udochrist opened #436 "Next Show button not working on details page"
BRANCH: (develop) / COMMIT: (ce997c79fe83e0899450f01df2dfc38608935f4c)

Page navigation seems to have an error currently. I can perfectly use the left arrow button to get to the "previous show", pressing the right arrow button does however not navigate to the next show on the show details page. navigation by dropdown is working.

No Errors or else in any log files to report for this one.

[2015-01-18 16:57] Jamyn commented on #425
Right now, any access to http://www.shazbat.tv/ is returning 403 (Forbidden). Sounds like they're still not quite stable.

[2015-01-18 17:29] abeloin commented on #436
Is there an error in the browser's developer console?

[2015-01-18 17:56] fernandog commented on #287
@echel0n it's a nice feature that it's not working (auto submit issue)

[2015-01-18 17:57] fernandog commented on #286
@markheloking already did and it was merged. closing

[2015-01-18 17:57] #286 closed

[2015-01-18 18:06] fernandog commented on #436
mine is working.

[2015-01-18 18:13] fernandog commented on #302
@gabryk91 can you confirm this timeout is still happening after latest update?

[2015-01-18 18:35] udochrist commented on #436
chrome is working for me too.,safari is not working.
i get 404's for /js/lib/jquery.qtip.min.js.map when i press the next button

[2015-01-18 18:45] gabryk91 commented on #302
It happens only if all indexes is selected, if I select tvdb it find the show immediately and then all the procedure is working fine.

[2015-01-18 18:51] datagutt commented on #425
@Jamyn http://www.shazbat.tv/login works just fine. Looks like only front page returns 403.
Though, not all tvtorrents.com accounts have access to shazbat.tv. Mine is non-working for example.

[2015-01-18 18:56] raymondtrueman commented on #431
Mine is doing exactly the same. I cant paste a log because I switched my torrent snatching to use Blackhole because of the error a week ago. But here is the versions below. I traced the error to these 2 files though but couldnt figure out why it was happening:

SickRage/sickbeard/clients/generic.py
SickRage/sickbeard/clients/download_station.py

On the self.auth methods

SR Version:	BRANCH: (maste

[2015-01-18 18:57] abeloin commented on #436
The map file error is normal it is for debug purpose.

I know it might be a stupid question, is the currently displayed show in safari the last one in the list?

[2015-01-18 19:01] udochrist commented on #436
No. Regardless which show I chose. It looks like safari is reloading the page however. And it was working before the int() value bug end of last year.

[2015-01-18 19:09] pct00 commented on #428
i have the file in 720p. SR recognizes the quality properly as HD TV.
but i set the series to quality SD TV to reduce the size it takes in disk
i try manual download but SR doesnt snatch the torrent results

[2015-01-18 19:21] abeloin commented on #111
@IskanderNovena Try this pull request SiCKRAGETV/SickRage#1197 it should be working again.

[2015-01-18 19:22] fernandog commented on #428
this way SR will get confused, don't you think?
what's the initial and archive qualities?
IMO there's no error in SR.

[2015-01-18 19:35] boeggild commented on #431
Logs posted at http://pastebin.com/sbVwSMph

SR Version:	BRANCH: (master) / COMMIT: (401cb666016e45b42fe675bafdf7908ad6c2b9bb)
Python Version:	2.7.8 (default, Dec 12 2014, 20:09:05) [GCC 4.6.4]

[2015-01-18 21:08] megapearl commented on #277
Same problem here on FreeBSD 10, I disabled it, and that fixed the problem for me.

[2015-01-18 22:22] itsmarkw commented on #362
I'm getting the same error, even after disabling Trakt notifications. I cannot delete a show at all.

[2015-01-18 23:05] rui-nar commented on #423
Yes, thanks everybody for the help.

Just a newbie question, what would the git command line be to pull the #1192 commit to my local copy?

Thanks
Rui

[2015-01-19 00:23] xenovia opened #437 "Trakt timed out, refresh page to try again"
Hi I got this message when I want to add shows can someone help me please thx

[2015-01-19 00:33] Semsettin opened #438 "NZB search provider not finding episodes"
Using Synology DS415+ with NZBget Not finding new episodes from nzb search providers. Torrent search providers are working good.

SR Version:	BRANCH: (master) / COMMIT: (401cb666016e45b42fe675bafdf7908ad6c2b9bb)
SR Config file:	/usr/local/sickbeard-custom/var/config.ini
SR Database file:	/usr/local/sickbeard-custom/var/sickbeard.db
SR Cache Dir:	/usr/local/sickbeard-custom/var/cache
SR Arguments:

[2015-01-19 04:03] abeloin commented on #423
@rui-nar
git cherry-pick 28f75bf91dd21aaef62b1dd517ee4d1668d85dd1

[2015-01-19 04:15] abeloin commented on #436
@udochrist Try this pull request SiCKRAGETV/SickRage#1200 it should fix the issue. Tested on Yosemite 10.10.1.

[2015-01-19 06:09] John-Gee commented on #406
I will, I apologize for this.

[2015-01-19 07:38] RobMadrid commented on #307
BRANCH: (master) / COMMIT: (401cb666016e45b42fe675bafdf7908ad6c2b9bb)  now seems to be consistently working. Thanks @markheloking

[2015-01-19 07:50] SickrageDK commented on #28
Really hope this functionality will be implemented

[2015-01-19 09:18] markheloking commented on #362
It seems the issue is persistent then. Reopening the issue.

[2015-01-19 09:19] markheloking commented on #437
Trakt is under heavy load. Please wait for a little while and try again. There is nothing Sickrage can do about trakt not responding.

[2015-01-19 09:19] #437 closed

[2015-01-19 09:21] markheloking commented on #307
Closing as it seems to be fixed. Please do report back if the issue persists.

[2015-01-19 09:27] fernandog commented on #307
I had this error yesterday and I seems it's a timeout issue connection to GIT to retrieve info (list branch and etc) using HTTPS. I tried to SSH and "git pull" and after a long while I got a timeout

As I haven't change anything in my setup I tried restart my RPI and still nothing.
I got pissed and restart all my hardware (internet modem, wireless and etc). Issue fixed

[2015-01-19 09:32] RobMadrid commented on #307
I had a power failure which reset my router hadn't put the 2 together as server restart had not addressed it - @fernandog may have found the root cause.

[2015-01-19 09:39] markheloking commented on #414
I now have the same issue.

[2015-01-19 09:54] fernandog commented on #362
@itsmarkw is impossible to get the error if you disabled trakt. please confirm it's disabled, stop SR, open the config.ini and make sure trakt is disable

[code]

[2015-01-19 10:29] fernandog commented on #307
To fix this in SR side we must add a check here for empty result

https://github.com/SiCKRAGETV/SickRage/blob/0abbdf3d44e65c06aa4672e63db1fe35983454ad/sickbeard/versionChecker.py#L759

[code]

[2015-01-19 11:09] fernandog commented on #435
@Trever123 are you using proxy for provider? (general config page)
my TD is working.

[code]

[2015-01-19 11:12] fernandog commented on #438
@Semsettin there's no error in your log. please post a log with level DEBUG

[2015-01-19 11:16] fernandog commented on #434
@lucianot54 did you tested your torrent download at SR? Ther's a "Test connection" button

[2015-01-19 11:21] fernandog commented on #432
@rastating please post the URL that you are trying to open.

also try the localhost:8081/apibuilder

Mine is working:
![shows-api](https://cloud.githubusercontent.com/assets/2620870/5799703/94f0833c-9fbc-11e4-905f-9e5cc30c3217.png)

[2015-01-19 11:25] fernandog commented on #425
https://github.com/SiCKRAGETV/SickRage/pull/1199

[2015-01-19 11:29] fernandog commented on #417
@jaybone2012 is this still happening?

[2015-01-19 11:32] jaybone2012 commented on #417
Will let you know in a couple days when the show is due again.

I can confirm that I manually downloaded the episode and tried to process
through sickrage but it complained that the show was not in my list
On 19/01/2015 10:29 PM, "Fernando" <notifications@github.com> wrote:

[2015-01-19 11:33] fernandog commented on #417
@jaybone2012 can you try to remove/re-add the show? don't mark the option to delete media

[2015-01-19 11:34] jaybone2012 commented on #417
Ok sure, same indexer?
On 19/01/2015 10:33 PM, "Fernando" <notifications@github.com> wrote:

[2015-01-19 11:39] Trever123 commented on #435
@fernadog I am having to use the proxies as I am in the UK and torrent day is now blocked here (the https site torrentday.eu isn't blocked but the original td.af and torrentday.com are). I have tried all 4 proxies available in the settings and get the same results as posted for each

[2015-01-19 11:49] fernandog commented on #417
@jaybone2012 is this happens only with this show?

[2015-01-19 11:53] fernandog commented on #435
@Trever123

stop your SR
edit /home/pi/SickRage/sickbeard/providers/torrentday.py

from:
[code]

to:
from:
[code]

restart SR
you will lose this change if you update

[2015-01-19 11:54] jaybone2012 commented on #417
Yes that i am aware of
On 19/01/2015 10:49 PM, "Fernando" <notifications@github.com> wrote:

[2015-01-19 12:04] Trever123 commented on #435
@fernandog thanks for this, I'll give it a go. Will it make a difference that the new url is https instead of just http? (not sure if extra code is needed for https)

Will this change me made to the master and develop branch or shall I disable updates?

If there a fix planned to make this work through the proxy in case the new url gets blocked?

[2015-01-19 12:05] fernandog commented on #391
@xxx1983 you need to review your filename pattern.
please post an example of a file that SR could not read quality and releasegroup please

also NEVER manually change anything in the DB otherwise I can and will break your SR
we don't support this kind of change

[2015-01-19 12:06] fernandog commented on #435
@Trever123 you can test it and let me know!

[2015-01-19 12:08] bitzorro opened #439 "No downloads were found."
Ive added this show to my library:http://trakt.tv/shows/the-heavy-water-war-stopping-hitler-s-atomic-bomb.  I have kickass enabled as one off my providers and the show can be found when at kickass, and the quality is set to : any in SickRage but no results when sickrage searches for it.

[2015-01-19 12:14] fernandog commented on #439
@bitzorro you won't find it. Have you tried searching using browser?
I suggest manually download this one

[2015-01-19 12:14] #439 closed

[2015-01-19 12:33] Trever123 commented on #435
@fernandog So i have tested it on my main setup and no longer get my original error of
[code]

But i am still getting the error
[code]

For this i have changed the code as suggested and also disabled the proxy i had. Also when checking the logs with debug set to 1, i am still seeing the same error. Just about to check the 2nd instance i have in a virtual machine to make sure its not to do with my

[2015-01-19 12:50] lost89577 opened #440 "Renamed file includes symbols"
Main branch - latest commit 401cb66601

the episode name on TheTVDB includes symbols which cause sickrage to show error page when going the episode list. These files where renamed by sickrage when scanned / added.

Can we have a filter that removes and symbols and special characters that will cause problems in file renaming script.

- Named in folder

Super Mario Brothers Amada Anime Series - 1x03

[2015-01-19 13:12] fernandog commented on #435
@Trever123 I got this error too using torrentday.eu BUT no error using td.af

[code]

Don't know what is wrong. We only changed the URL

[2015-01-19 13:20] fernandog commented on #435
@Trever123

can you try this file:

https://raw.githubusercontent.com/SickGear/SickGear/master/sickbeard/providers/torrentday.py

[2015-01-19 13:20] rastating commented on #432
@fernandog - the URL is ```http://ADDRESS_AND_PORT_HERE/api/USERS_API_KEY_HERE/?cmd=shows```. I have not experienced this first hand - it has always worked for me, I just saw the error as part of an automated error report for another program, so no extra info as to what version the user was running.

[2015-01-19 13:23] Trever123 commented on #435
@fernandog Think i need some other files as well, i get this error:

[code]

[2015-01-19 13:23] fernandog commented on #432
@rastating that another is doing something wrong then. unless we know the URL its calling, there's nothing we can do. API is working as should.

[2015-01-19 13:23] #432 closed

[2015-01-19 13:32] fernandog commented on #435
let's wait @echel0n

until then, try using other proxy servers

[2015-01-19 13:34] Trever123 commented on #435
Ok thanks, i have tried the 4 provided, i will try to find my own and add that to the code instead

[2015-01-19 14:16] TagForce commented on #391
@fernandog Basically what he is experiencing is what I describe in #389. Even though all the information is in the database, it is disregarded by SR when it's told to rename. It ONLY looks at the filename and the scene_name in the db, rather than looking at the relevant fields like quality and release_group.

Yes, you can avoid this problem by having the filename stored on disk utilizing the scene

[2015-01-19 14:20] tonsmets opened #441 "Sickrage says I need to add the show before postprocessing"
**Steps to reproduce:** Add show The Bridge to sickrage and download first season.
**Branch:** master / 401cb666016e45b42fe675bafdf7908ad6c2b9bb
**OS:** Ubuntu Server 14.04.1 LTS (Linux 3.13.0-44-generic #73-Ubuntu SMP Tue Dec 16 00:22:43 UTC 2014 x86_64 x86_64 x86_64 GNU/Linux)
**Python version:** Python 2.7.3

Had this problem for a while now...
The episodes are snatched by SickRage

![schermafd

[2015-01-19 14:38] fernandog commented on #441
@tonsmets add "The Bridge 2011" to scene exceptions (edit show page) and try again. Report back.

[2015-01-19 14:40] fernandog commented on #391
@TagForce but you have to agree with me that SR needs at least some basic information to work with.

[2015-01-19 14:43] tonsmets commented on #441
@fernandog Unfortunately it didn't help a thing. Still the same error

[2015-01-19 14:46] meokey opened #442 "AttributeError: 'module' object has no attribute 'Session' in autoProcessTV.py"
SABnzbd (v0.7.20) throw out the error message after successful downloading.

the setting is like High +delete sabToSickBeard.py /path/to/repository

*** ***
*** update using the issue guidelines ***
Branch:
SR Version:	BRANCH: (develop) / COMMIT: (8a740bc1065677c4c555bf465d65c83472a7784c)
SR Config file:	/usr/share/SickRage/config.ini
SR Database file:	/usr/share/SickRage/sickbeard.db
SR Cache Dir

[2015-01-19 15:06] markheloking commented on #442
Please use the issue guidelines when posting an issue. This way the dev team is able to debug your problem. Don't forget to use [markdown](https://guides.github.com/features/mastering-markdown/) on any code and log you want to post in-line.

- [ ] Branch
- [ ] Commit hash
- [ ] Operating system and python version
- [x] What did you do?
- [x] What happened?
- [x] What did you expect?
- [ ] Link to

[2015-01-19 15:08] TagForce commented on #391
@fernandog of course it does. I'm just saying that more often than not it DOES have this information in the db, it just doesn't use it. (I should say it has this info when SR initiated the download).

When SR post-processes a file it will update the database using the information that is available in the downloaded filename before it renames the file (aptly named release_name in the db). This will

[2015-01-19 15:11] pct00 commented on #428
Initial quality = SD TV
Archive quality = no defined

episode as recognized / renamed / processed by SR that i have in disk as quality UNKNOWN
Californication\Californication - Season 06\Californication - S06E12 - Unknown - I'll Lay My Monsters Down

this is what SR does (more complete log below):
in summary, it matches that it is the quality i want (Quality is on wanted list, need to check if it'

[2015-01-19 15:11] abeloin commented on #441
@tonsmets Mmm... The screenshot tell me the show you added is "The Bridge" from CTV(Canada) and the log tell me you're trying to process a file for the show "The Bridge" from SVT(Sweden).

Try adding the show "The Bridge (2011)" instead. It should resolve your issue.

[2015-01-19 15:17] fernandog commented on #428
@pct00 now I understood. will investigate

[2015-01-19 15:19] fernandog commented on #391
will tag this as feature request. ok? we have to wait the DEV

[2015-01-19 15:20] fernandog commented on #391
@TagForce we need to rename the title for a better one. suggestion?

[2015-01-19 15:21] TagForce commented on #391
Can you move this one to #389 ? That's already a feature request for the same issue :)

[2015-01-19 15:22] fernandog commented on #441
@abeloin, maybe it's related

https://github.com/SiCKRAGETV/sickrage-issues/issues/25

PP don't consider the scene exceptions

[2015-01-19 15:22] fernandog commented on #391
it's already linked

[2015-01-19 15:27] Tlabok commented on #328
Any chance of this being reopened? I can't imagine that I'm the only one for whom the problem hasn't been solved. The difference appears to be in the use of torrent indexers.

[2015-01-19 15:28] tonsmets commented on #441
@abeloin Thanks for the input, it think that is where the problem comes from. I deleted the show and started searching for another release. I want the show from CTV. I will keep you posted on the progress

[2015-01-19 15:29] abeloin commented on #441
@fernandog Maybe but from the screenshot and the log I would tend to think, in this case, it's a show mismatch.

[2015-01-19 15:50] xxx1983 commented on #391
@fernandog: There would be a few examples where it does not process the releasegroup. When I have more time I can find some examples. It also happens with manually downloaded files.

Little info: Before I used Sickbeard and there manually imported files containing the releasegroup (even when renamed by myself using [Showname - S01E01 - Releasegroup.ext] it did process the releasegroup in the usern

[2015-01-19 15:53] fernandog commented on #391
don't know. We have to wait @echel0n feedback

[2015-01-19 15:59] TagForce commented on #391
Altering the db would be your own responsibility. It's not supported, and can cripple your installation.
Just a warning. I've destroyed the db once by editing a single field on a windows machine and copying the file over to linux. (I've personally fixed your specific issue by filling all the release_name fields with filenames using the location filename and adding hdtv-%release_group% in excel and

[2015-01-19 16:10] xxx1983 commented on #391
@TagForce:Thanks! I understand the risks.

As workaround I am going to rename all the files that cannot be renamed using an excel sheet and put it in a .bat-file. Then I will import it again. Very oldschool but it still works. Thanks for giving me the idea in your ticket!

[2015-01-19 17:06] fernandog commented on #428
@pct00 can you try this?

https://raw.githubusercontent.com/fernandog/SickRage/patch-10/sickbeard/tv.py

Stop SR,
edit your SickRage/sickbeard/tv.py file and paste his one
Start SR

when you MANUAL SEARCH an episode with UNKNOWN quality, SR will download it again.
We must check manual search otherwise SR can loop download until an not-unknown quality is founb

[2015-01-19 19:05] rui-nar commented on #423
thanks @abeloin but I'm getting:
DiskStation> /usr/local/git/bin/git cherry-pick 28f75bf91dd21aaef62b1dd517ee4d1668d85dd1
fatal: bad object 28f75bf91dd21aaef62b1dd517ee4d1668d85dd1

can you assist ?

[2015-01-19 19:22] michaelburton commented on #307
I was still having the issue after updating, so I decided to do a bit of debugging myself.

It seems that `CheckVersion.list_remote_branches` (from versionChecker,py) was returning None because `updater` hadn't been set, and `updater` wasn't set in the `CheckVersion` constructor because `sickbeard.gh` was None. Tracing back to when `gh` should have been created, it turns out that I was getting an

[2015-01-19 19:41] abeloin commented on #423
@rui-nar You need to run the command inside sickrage folder, but there's need for it anymore as pull request SiCKRAGETV/SickRage#1192 is now in the develop branch.

So just force a check update in sickrage and make sure your on the latest commit.

[2015-01-19 19:50] fernandog commented on #307
@michaelburton the fix was not merged yet. Did you change manually the file?

[2015-01-19 20:36] pct00 commented on #428
@fernandog

hi
you code wasn't working, it was still ignoring the results if the existing episode has quality unknown

i change it to the code below (just removed the unknown quality check) and it worked, this also solved my "request" for downloading lower quality in manual searches but not sure if it makes sense globally :)

        elif manualSearch:
            logger.log(u"Episode already exis

[2015-01-19 20:46] pct00 commented on #428
additional testing revealed that it is snatching the results, but not taking into consideration the SR ignore words

[2015-01-19 21:40] gctrullinger opened #443 "FreeNAS: Symlink Post-Processing Fails Across Datasets"
**Branch:** master
**Commit hash:** 401cb666016e45b42fe675bafdf7908ad6c2b9bb
**Operating system and python version:** FreeNAS-9.3-STABLE with Python 2.7.6

**What did you do?**
Set my Post-Processing method to Symlink.

**What happened?**
The `moveAndSymlinkFile` function in helpers.py would fail (and revert to copying) on the call to `ek.ek(os.rename, srcFile, destFile)` because my library is in

[2015-01-19 22:21] jaybone2012 commented on #417
ok so i delete and re-add the show and I noticed 2 things now.

1. Scene Numbering is enabled, when I did NOT enable this myself.

2. On the main home page, there is an X in the "Active" column, but the show is not "Paused" and is definitely still active.

Don't know what is going on here maybe corrupt DB?

[2015-01-19 23:50] fernandog commented on #428
@pct00 manual search = find better quality or proper. If you want to download the same quality please set the already downloaded episode as WANTED

[2015-01-19 23:50] #428 closed

[2015-01-20 02:29] mgaulton opened #444 "Feature Request: Issue indicator"
I'd like to request that there be some very obvious indicator from the main show list that there is an issue with a show. My biggest concern is when the folder is missing, unless you know and go into the show or stumble across it, there's no way to tell. This is mostly a concern with new shows or shows that have been moved from another location.

[2015-01-20 02:40] abeloin commented on #328
@Tlabok Try changing in (master)sickbeard/properFinder.py
 line 148 from "bestResult = pickBestResult(curProper)" to "bestResult = pickBestResult(curProper, parse_result.show)" and restart sickrage.

[2015-01-20 07:44] Tlabok commented on #328
@abeloin Thanks for advice.
In my sickbeard/properFinder.py
line 148 reads
[code]

[2015-01-20 07:57] Tlabok commented on #328
I can't test this, as the Qnap package is reloaded when I restart. Will have to wait for commit to be included in master update.

[2015-01-20 08:03] tonsmets commented on #441
Searching for another release didn't solve the problem. I left it searching over night and it returned nothing. It could be a show mismatch as you said @abeloin . I deleted the show and hope this bug gets fixed in the future.

[2015-01-20 08:58] TagForce commented on #391
@xxx1983 @fernandog
Ok, I've gotten busy with it, and it turns out that it's not too hard, as far as I can tell.
https://github.com/TagForce/SickRage/commit/0accad927cd3e2eda0155ed92e9a4d2483697786

Needs major testing still, but it now checks if the release_group field is filled in the db. If it is, it will use that for %RG% in the renamer. If it's not filled it will resort back to using the rele

[2015-01-20 09:53] jaybone2012 opened #445 "error while searching"
just added a couple new shows, set all to wanted, got about a dozen of these errors while searching, all very similar.  not sure what they mean

actually noticed errors for both torrents and nzb but mostly nzb

BRANCH: (master) / COMMIT: (401cb666016e45b42fe675bafdf7908ad6c2b9bb)
Python: 2.7.8 (default, Dec 12 2014, 21:20:40) [GCC 4.7.3 20130102 (prerelease)]
Synology Diskstation 412+ DSM 5.1-5021

[2015-01-20 11:35] fernandog commented on #276
@TagForce is it possible to add a filter as I said above? can you do it?

[2015-01-20 12:07] TagForce commented on #276
@fernandog I'm not really a python programmer. I can find stuff using the debug function in PyDev for Eclipse, and when the code's not too hard I can fix it, or have it do stuff a bit different. I have a programmer's logical mindset, so to speak, but I'm not a professional programmer, and so far, aside from SR I have no experience with Python whatsoever. I'm learning quickly, though.

The filters

[2015-01-20 12:11] fernandog commented on #276
I didn't set my log to 10kb.
Image the sickrage just created a new log file (after the previous one is 1024kb), this new log file is almost empty so won't know anything in the UI

[2015-01-20 12:14] TagForce commented on #276
True. So, basically, you'd want SR to display an X amount of lines from the logfiles, regardless if those are all in the first logfile, the first 2 logfiles, or across all X amount of logfiles you have.

[2015-01-20 12:18] fernandog commented on #276
yes.
About the filter, I don't know how to code html/template, so if you send me the new template file and a new field in the config>general I do the rest (simple text field)

[2015-01-20 12:32] maran opened #446 "Security issue"
I rather not disclose too much information, but the security on master is pretty much broken. How can I safely disclose this information? I tried emailing but I haven't received any response.

[2015-01-20 13:18] fernandog commented on #446
dev is short break now. send him an email and he will respond.

[2015-01-20 13:19] maran commented on #446
Thanks, I will simply wait a bit longer then.

[2015-01-20 13:19] #446 closed

[2015-01-20 14:27] abeloin commented on #441
@tonsmets Upon further testing, if you set the show quality to sd and use the provider Kat, it manage to pick the good one out all the mislabel releases from the bridge 2011.

[2015-01-20 14:39] TagForce commented on #391
I ran into an issue with my previous fix. Removed that commit, and readded a new one:
https://github.com/TagForce/SickRage/commit/08b90a4d91190a250d29600f9828bd4bfdc8b633

I accidentally broke the %RN (release_name) variable in the naming scheme.

It now not only uses the release_group field if available, or the release_name parsed release_group value if it's not. If the release_group field is ava

[2015-01-20 14:59] Rafkat commented on #431
I've been using it in Synology for quite long time with https and haven't had any issues. Have you tried to reinstall SickRage?

[2015-01-20 15:45] markheloking commented on #446
@maran The problem is that @echel0n just became a father (if the rumor is true: I haven't been able to contact him for a while either). You should try emailing him and hoping for a response. Otherwise you could try to work it out with either me or @fernandog (although we technically only handle the issue tracker).

[2015-01-20 15:52] michaelburton commented on #307
No, I just fixed my underlying configuration problem (out-of-date SSL certificates in my FreeBSD jail) which raised an SSLError when SR tried to connect to Github during startup (sickbeard/\_\_init\_\_.py, line 565).

Patching the config_general template will allow the page to load even when SR can't connect to Github. You'll also need to edit either SickRage.py or sickbeard/versionChecker.py so t

[2015-01-20 15:55] fernandog commented on #307
@michaelburton do you know how to fix it? can you do a PR?

[2015-01-20 16:17] abeloin opened #447 "Wrong country flags shown in displayShow for show with country code CA"
Branch: Develop
Commit hash: 91cb8d885ca278e5829ed53d856d578c8ee8cbe0
Linux, Python 2.7.5

It show the flag of Catalonia instead of Canada.

Ex: The Bridge, Doctor Who (2005)

[2015-01-20 16:18] fernandog commented on #276
@TagForce
@abeloin - can you help me too?

I did this but there's an error that logFilter is not defined.
BUT I defined at viewlogs.tmpl. Why webserve can't read this variable from the UI?

viewlogs.tmpl
[code]

webserve.py
[code]

TO-DO: check if listbox is ALL, if true, don't filter anything.

[2015-01-20 16:24] maran commented on #446
Cool, I've recently become a father as well so I totally understand what he is going through.

@markheloking or @fernandog do you have commit access to the repo? Do you understand the code well enough to suggest fixes to a possible PR? Any private channels I could chat with you with? (IRC / Email)

[2015-01-20 16:37] fernandog commented on #447
check this out:

There are many ISO for language codes, both 2 and 3-letters are supported by Subliminal. However, language codes do not match country codes and hence flags. For examble en (eng) language is often represented as US flag and not UK flag.

https://github.com/SiCKRAGETV/sickrage-issues/issues/96

[2015-01-20 16:39] markheloking commented on #446
Private chanel to chat: yes
Write acces to repo: no
Code understanding: html&tamplating a bit for me, python @fernandog

[2015-01-20 16:58] maran commented on #446
If you are willing @fernandog I would love to discuss the implications of what I think I found on irc/email. Let me know if you are able and willing.

[2015-01-20 17:17] abeloin commented on #276
@fernandog Will look into it later today

[2015-01-20 17:56] mgaulton opened #448 "Trakt creates duplicate shows"
I noticed something interesting and wondering if its expected behaviour. I have a bunch of shows already added in SR, on Trakt, they are also in my wishlist. For some reasons, when I recently enabled the Trakt integration, it created duplicate shows in the show list and created folders with a different case, same name. For example, I had Ncis and it created NCIS. I expected that the processes woul

[2015-01-20 18:03] fernandog commented on #448
@mgaulton please follow the guidelines:

https://github.com/SiCKRAGETV/sickrage-issues

[2015-01-20 18:10] TagForce commented on #276
I think it works the other way around.
You need to define in webserve.py and you feed that into the template.

As far as I can tell (and that's not very far, I admit) all the template does is feed a variable into the viewlog function and display the loglines that come out of it.

In the case of the minLevel value, that is set as a parameter to the viewlog function. So it is already defined. There'

[2015-01-20 18:57] fernandog commented on #276
@TagForce I already code template and the webserve. It's all ready. I only need to logFilter to get the value from the UI

[2015-01-20 19:11] TagForce commented on #276
I have no idea how to do that, but if I have time I'll dive into this later tonight.

This is where my lack of Python experience comes up. It works, but I have no idea how exactly it goes about and does it. Stepping through the code using the debugger helps somewhat, but all of a sudden there's a value there that I did not expect and have no idea how it got there, even when going through the code

[2015-01-20 19:13] michaelburton commented on #307
I'd rather not have to fork the repo just to add one line of code, it should be enough to add `install_type = None` at the top of `CheckVersion.__init__`.

If you want to add Github connection error logging as well, [this patch should do the job](http://pastebin.com/7Q2LFRBZ).

[2015-01-20 19:26] fernandog commented on #307
@michaelburton like this?

[2015-01-20 19:52] michaelburton commented on #307
Sorry, that should've been `self.install_type = None`. My Python is somewhat rusty.

[2015-01-20 20:43] fernandog commented on #307
@michaelburton how to reproduce the error and test the fix?

[2015-01-20 21:04] michaelburton commented on #307
1. Prevent your machine from connecting to github.com (add it to /etc/hosts, pull the network cable, etc.)
2. Start Sickrage
3. Try restarting from the web UI, it will stop but not restart itself

[2015-01-20 21:30] abeloin commented on #276
@fernandog For logFilter you need to add it to the t.respond() in webserve.py. Also to get the value back it need to be defined in viewlog function parameters.

Check this diff http://pastebin.com/AcJBFftH , it's a working log filter based on your code posted earlier.

[2015-01-20 21:41] abeloin commented on #447
@fernandog

The problem is that displayShow.tmpl -> imdb countrycode function use to same flags as Subliminal, see:
https://github.com/SiCKRAGETV/SickRage/blob/develop/gui/slick/interfaces/default/displayShow.tmpl#L169

![Country Flags](http://i.imgur.com/HWD7xrR.jpg)

[2015-01-20 22:40] fernandog commented on #276
@abeloin thanks! worked. I only had to change

[code]
to

[code]

Now I will add the provider as filters. like [TORRENTDAY] or [NZBGEEK]

[2015-01-20 23:22] abeloin commented on #276
@fernandog Oops, forgot to change that on pastebin.

[2015-01-21 04:50] abeloin commented on #292
@fernandog This affect only people using TVRAGE as their metadata provider. Currently the api in sickrage doesn't parse special.

[2015-01-21 05:11] maxcore commented on #178
Thx for the fix ! Work perfect!

[2015-01-21 05:35] Grubs opened #449 "[Feature Request] 'Archive' quality override the initial quality to download lower qualities"
With a number of shows I like to use the following quality settings:

Initial: HD TV, 720p WEB-DL
Replace with: SD DVD

I download the first HD release that comes out and watch the show. Then when the DVDRiP/BDRiP come out I like to archive them.

I'm guessing SickRage sees I have a 'higher' quality version and it never tries to download the SD DVD version. Is there a way to fix this?

[2015-01-21 07:23] abeloin commented on #51
@fernandog
Tablesorter limitation.
Workaround:
1. Click header 'Download'.
2. Shift-Click header 'Show'.
3. Again, Shift-Click header 'Show'.

See Tip in https://mottie.github.io/tablesorter/docs/index.html#Demo for more info

[2015-01-21 08:03] abeloin commented on #442
@meokey
The commit id seem invalid(https://github.com/SiCKRAGETV/SickRage/commit/8a740bc1065677c4c555bf465d65c83472a7784c) when was the last time you updated sickrage?

Do you have requests installed?
If so, can you type each of the following commands in the python interpreter and reply the results?
[code]

[2015-01-21 08:55] abeloin commented on #316
@mkools
Can you tell me the branch/commit hash of your sickrage installation?

* First error: See SiCKRAGETV/sickrage-issues#307 for more info
* Second error:
Form the log, it look like it's trying to set the episode status as undefined.
[code]

[2015-01-21 09:42] peon420 opened #450 "POSTPROCESSER stops running"
Branch: Master
Commit Hash: (401cb666016e45b42fe675bafdf7908ad6c2b9bb)
OS: Win 7 pro 64bit
Python Version: 2.7.3 (default, Apr 10 2012, 23:24:47) [MSC v.1500 64 bit (AMD64)

I'm having a problem with automatic post processing. When I first start sickrage the post processing will work fine, but at some point it stops. Usually a day or so after starting sickrage. During the time when this is happeni

[2015-01-21 09:47] fernandog commented on #449
@Grubs please follow the guidelines:
https://github.com/SiCKRAGETV/sickrage-issues/

 I never saw an SD DVD. Show me in your log an SD DVD release please and SR didn't snatched

[2015-01-21 13:41] Tlabok commented on #328
I have updated my Qnap SickRage package from SickBeard-TVRage_140428.qpkg (which is linked to from the sickrage.tv forum FAQ page) to SickBeard-TVRage_141024.qpkg.

This error has not returned since. Not sure what caused it or what has changed.

[2015-01-21 14:17] TagForce commented on #391
@fernandog @xxx1983 @echel0n @markheloking Ok, I need some feedback.
What order should SR find releasegroups in?
I now have it like follows:
filename (the video file name, requires the use of qual-RLSGROUP naming for it to find it)
release_group field in the tv_episodes table in the db
release_name field in the tv_episodes table in the db (<- the only thing SR uses to find it atm)
'SiCKRAGE' if ab

[2015-01-21 18:58] Vodka2014 commented on #328
OK so the error started again for me. I do not know what changed.

[2015-01-21 19:49] abeloin commented on #328
@Tlabok
Yes it is correct modification.

[2015-01-21 20:34] abeloin commented on #51
@gregpardo Submitted a pull request with a fix. See SiCKRAGETV/SickRage#1217

[2015-01-21 20:55] Jezze83 opened #451 "Unpack with windows 7"
Everytime when i try enable unpack sickrage says: Unrar Executable not found.
This is from error log: 2015-01-21 22:50:49 Thread-119 :: Rar Not Supported: exception: access violation writing 0x000093A8
SR Version:	BRANCH: (master) / COMMIT: (401cb666016e45b42fe675bafdf7908ad6c2b9bb)
I tested different versions of winrar. What is correct and what are correct paths?

[2015-01-21 21:10] fernandog commented on #276
@abeloin check this out:

https://github.com/fernandog/SickRage/commit/ae8fc97c87928a884a7857d3e05b2e0206a6775f

User can now free search for text (case sensitive). For example see all logs from a specific provider or find anything related to on tv-show

The only thing I couldn't do is add javascript logic. Spent all day trying to do it but I coudln't
For example:
-if there's any text in logSearch

[2015-01-21 21:11] abeloin commented on #451
See the FAQ: https://github.com/SiCKRAGETV/SickRage/wiki/Frequently%20Asked%20Questions

Check section: Error: Rar Not Supported: No suitable RAR unpacker installed

[2015-01-21 21:21] Vodka2014 commented on #328
This mod work thanks abeloin :)

Now lets see if this will be stable for the new few days.

[2015-01-21 21:29] Jezze83 commented on #451
my path is C:\SickRage\lib\unrar2\ is it correct? I downloaded from that link but not working.

[2015-01-21 21:29] fernandog commented on #51
@abeloin thanks again! I will ask @echel0n to put you in issue-tracker group and in the sickrage code too). I'm sure he will appreciate the help coding !

[2015-01-21 21:32] abeloin commented on #451
@Jezze83
Yes the path is correct. Try renaming the file to unrar.exe and restart sickrage.

[2015-01-21 21:34] fernandog commented on #292
@abeloin so we should add this comment when adding shows using TVRAGE so user's can choose not having specials or not. What do you think?

[2015-01-21 21:36] Jezze83 commented on #451
Its unrar.exe and not working.

[2015-01-21 21:37] MarcoV1980 commented on #427
2015-01-21 22:32:32 DEBUG    Thread-112 :: cur_commit = 401cb666016e45b42fe675bafdf7908ad6c2b9bb, newest_commit = 91cb8d885ca278e5829ed53d856d578c8ee8cbe0, num_commits_behind = 83
2015-01-21 22:32:32 DEBUG    Thread-112 :: Branch checkout: master->develop
2015-01-21 22:32:32 INFO     Thread-112 :: Clearing out update folder /storage/.kodi/addons/script.module.audo-programs/resources/SickBeard/sr-u

[2015-01-21 21:38] MarcoV1980 commented on #427
Oeps, but that's the whole part for the update to fail.

Seems it just can't read/ write the file télé-québec.png

[2015-01-21 21:45] fernandog commented on #391
@TagForce

cant help. dont use PP

[2015-01-21 21:47] fernandog commented on #450
@peon420 there's nothing in your LOG related to PP

[2015-01-21 21:48] abeloin commented on #276
@fernandog Nice.

Don't forget the page is reloaded every time a change occur on #minLevel, #logFilter, #logSearch, so you could simply add the logic in viewlog() and send via t.respond and put conditional in the tmpl to disable the select tag.

I've updated http://pastebin.com/AcJBFftH to show you an example.

[2015-01-21 21:49] abeloin commented on #292
@fernandog Yes

[2015-01-21 21:54] jaybone2012 commented on #417
still an issue this week after removing and re-adding the show

[code]

[2015-01-21 22:00] jaybone2012 commented on #417
furthermore, if I manually download one of the releases above and try to get sickrage to process, it won't.  Tells me I need to add the show first.

Same as #441

[2015-01-21 22:03] abeloin commented on #451
What is your OS? Can you provide me with a log with the error part

[2015-01-21 22:07] Jezze83 commented on #451
Windows 7 32bit. This is only log what i get from sickrage about unpack:
2015-01-22 00:02:09 Thread-88 :: Rar Not Supported: exception: access violation writing 0x000093A8

[2015-01-21 22:16] awagnon commented on #427
BRANCH: (develop) / COMMIT: (401cb666016e45b42fe675bafdf7908ad6c2b9bb)
Running on OpenElec 5.0 x86_64. Python 2.7.3.
Any attempt to update results in the same error as above.
I check out developer branch and expect it to download and install the updates.
Error while trying to update: ascii : /storage/.kodi/addons/script.module.audo-programs/resources/SickBeard/sr-update/SiCKRAGETV-SickRage-91cb8d8

[2015-01-21 22:57] abeloin commented on #451
@Jezze83 Ok, Maybe you have a corrupt dll in ? Could you try to download the dll in lib/unrar2/UnRARDLL again?

@fernandog Any idea?

[2015-01-21 22:57] LinHub opened #452 "PostProcessing downloading login page / autoProcessTV.py or sabToSickBeard.py"
I have autoProcessTV.cfg configured with the required:

[SickBeard]
host=123.123.123.123
port=8081
username=user
password=password
web_root=/
ssl=1

sabnzbd is configured to use sabToSickBeard.py

When it attempts to post process, it gets the following:

   Loading config from /Users/user/sickrage/autoProcessTV/autoProcessTV.cfg

Opening URL: https://123.123.123.123:8081/home/postprocess/processEp

[2015-01-21 22:58] LinHub commented on #452
The GitHub system cut the HTML out, but it should be easy enough to understand.

[2015-01-21 23:00] abeloin commented on #451
@Jezze83 Python version?

[2015-01-21 23:12] Jezze83 commented on #451
Just tested with new dll and not working.
Python Version:	2.7.9 (default, Dec 10 2014, 12:24:55) [MSC v.1500 32 bit (Intel)]

[2015-01-21 23:14] abeloin commented on #451
For reference: https://sickrage.tv/forums/forum/help-support/general-support/16513-unpack?p=16606#post16606

[2015-01-21 23:20] Jezze83 commented on #451
Yes, thats mine post :)

[2015-01-21 23:39] abeloin commented on #451
Can you try to replace the following code in lib/unrar2/test_UNRAR2.py:
[code]
with
[code]

Open a command line and go to the folder lib/unrar2/.
Try running test_UNRAR2.py(replace to your python path):
[code]

Tell me the results

[2015-01-21 23:50] Jezze83 commented on #451
C:\SickRage\lib\unrar2>c:\Python27\python.exe test_UnRAR2.py
Traceback (most recent call last):
  File "test_UnRAR2.py", line 20, in <module>
    rarc = UnRAR2.RarFile('test.rar')
  File "C:\SickRage\lib\unrar2\__init__.py", line 102, in __init__
    RarFileImplementation.init(self, password)
  File "C:\SickRage\lib\unrar2\windows.py", line 240, in init
    RARSetCallback(self._handle, self.c_call

[2015-01-22 00:05] abeloin commented on #451
Ok can you try to upgrade to the latest version of unrar2?
https://code.google.com/p/py-unrar2/source/browse/

Remove everything in lib/unrar2/ and replace with the content of the zip/path.

[2015-01-22 00:11] TagForce commented on #391
I've changed the order to release_group, release_name, filename.
I've also made it save the release_group info in the db if it's not there and not equal to SiCKRAGE.

If you use filename first and there's a '-' in the filename, it will get everything after it in the filename and use that as a release group. Now, if that '-' happens to be in the episode name (J-Cat for instance), it will keep addin

[2015-01-22 00:15] amanimmortal opened #453 "Pushover Notifications use absolute numbering for all shows"
When I receive a pushover notification I get it in absolute numbering for all of my shows. Did a search everywhere I could think and didn't see it raised as an issue.

I have anime set to absolute numbering. However all of my regular shows are set to use Example.S02E03.

Pushover is notifying me of them as Example - 031. This makes it hard to identify which regular TV episode I have just gotten, b

[2015-01-22 00:27] peon420 commented on #450
Yes, that's part of the problem. The post processing just seems to stop entirely and there are no entries for it in the log. The only reason I posted the log was to show that there are no POSTPROCESSER entries in the log for over an hour. Normally there would be entries at least every 10 minutes.

So the post processing process seems to stop entirely. After I restart sickrage it will run again for

[2015-01-22 00:39] Jezze83 commented on #451
Now unpack works, thanks alot! If i want keep original file name, do i have to use episode rename option if i want still use post-process unpack and move function?

[2015-01-22 00:55] Grubs commented on #449
Maybe it's more of a future request. i.e. a box you can tick to say 'Download archive quality file even if it exists at higher quality'

So as I mentioned in my initial post I have my quality settings set as follows:

Initial: HD TV, 720p WEB-DL - Replace with: SD DVD

I'll use the first show I found as an example. I download Glee (for my wife haha)

Initial: Glee.S04E01.720p.HDTV.X264-DIMENSION

[2015-01-22 01:55] hrigteri opened #454 "Info Language is defaulted to DE"
I moved from SickBeard to SickRage. So I have added existing series to my show list and all of them are defaulted to DE; the first in the pick list for "Info Language"

So this is making all show info, show names, episode names, broadcast network, all metadata... all.. in German.

I have modified all by hand to EN for English; but the network broadcast name is sitll for everything Pro Sieben or RT

[2015-01-22 02:05] abeloin commented on #451
No

[2015-01-22 02:21] abeloin commented on #451
@fernandog The unrar part in the wiki should be updated as it's outdated.

[2015-01-22 02:29] abeloin commented on #454
Please use the issue guidelines when posting an issue. This way the dev team is able to debug your problem. Don't forget to use markdown on any code and log you want to post in-line.

- [x] Branch
- [x] Commit hash
- [x] Operating system and python version
- [x] What did you do?
- [x] What happened?
- [x] What did you expect?
- [x] Link to a copy/paste of your logfile with clear debug info of the

[2015-01-22 03:04] abeloin commented on #450
@peon420 Try to look for "Exception generated in thread"(without the quotes) and increase your log size in config.ini

[2015-01-22 03:23] Electr0Fi commented on #328
I've got this issue too. It just happened this morning.
SR Version: BRANCH: (master) / COMMIT: (401cb666016e45b42fe675bafdf7908ad6c2b9bb)

This is what is in my Debug Log:
[code]

[2015-01-22 04:56] abeloin commented on #453
@amanimmortal Found the issue and submitted a pull request to fix it.

[2015-01-22 04:57] peon420 commented on #450
Thanks, will do. Can you tell me what are the variable names to increase log size and rotation?

[2015-01-22 05:34] heymoe commented on #452
Try upgrading your version of the nzbToMedia scripts. I had the same problem when I upgraded to SickRage v4.x but after I upgraded my copy of nzbToMedia, everything started to work again.

[2015-01-22 05:56] abeloin commented on #450
@peon420
log_nr = 5
log_size = 10485760

[2015-01-22 06:13] abeloin commented on #427
Check your language locale and make sure it use UTF-8 for the user running sickrage.
[code]

[2015-01-22 07:17] DavidVentura opened #455 "Unrar not found - Use unar"
Hi, I use unar on my sistem instead of unrar, which is the default on debian-based systems.
Please add an option to use unar or fall back to unar if unrar is not present. At the moment I'm modifying unix.py to replace 'unrar' with 'unar' when I update the repo

[2015-01-22 09:15] jaybone2012 commented on #417
I manually downloaded the latest episode so I decided to set the status to "Downloaded" in SickRage.  I am unable to change the status of the latest episode.  It is stuck on "Wanted"

[2015-01-22 09:16] jaybone2012 commented on #417
[code]

[2015-01-22 09:21] MarcoV1980 commented on #427
OpenELEC (official) Version: 5.0.0
OpenELEC:~ # locale
LANG=
LC_CTYPE="POSIX"
LC_NUMERIC="POSIX"
LC_TIME="POSIX"
LC_COLLATE="POSIX"
LC_MONETARY="POSIX"
LC_MESSAGES="POSIX"
LC_PAPER="POSIX"
LC_NAME="POSIX"
LC_ADDRESS="POSIX"
LC_TELEPHONE="POSIX"
LC_MEASUREMENT="POSIX"
LC_IDENTIFICATION="POSIX"
LC_ALL=
OpenELEC:~ #

Is there a special reason that filename needs to use those characters?

[2015-01-22 10:08] tchirou opened #456 "Google calendar misses some shows"
Hello

BRANCH: (develop) / COMMIT: (91cb8d885ca278e5829ed53d856d578c8ee8cbe0)
Python 2.7.6 / Win 8.1

Unprotected Calendar option is checked

Some shows are missing in my google calendar comparing to the "coming episodes" list

I don't know if a debug file is relevant.

Many thanks

[2015-01-22 10:36] fernandog commented on #456
@tchirou follow guidelines: https://github.com/SiCKRAGETV/sickrage-issues/

and some screenshots

[2015-01-22 10:43] fernandog commented on #417
@jaybone2012 first the to IGNORED them to DOWNLOAD

[2015-01-22 10:46] fernandog commented on #455
@DavidVentura why don't you create a symblink unrar to unar passing all arguments? is'nt easier?

[2015-01-22 10:46] tchirou commented on #456
I already followed the guidelines
What more do you need ? a full debug log starting from when ? When I search calendar or webcal, it does not find anything. And there is no error.
Here are the screenshots for next saturday for example :
![coming episodes](https://cloud.githubusercontent.com/assets/6749420/5854268/38fa539c-a22c-11e4-81e9-a2090cc4a84b.jpg)
![calendar](https://cloud.githubusercontent

[2015-01-22 10:47] fernandog commented on #450
@peon420 keep in mind that if you increase too much your log for example 10MB you could have trouble auto-submiting issues to GITHUB. I don't know how the auto-submit handles the upload of the log to pastebin.

[2015-01-22 10:51] fernandog commented on #328
@Electr0Fi please try this fix: https://github.com/abeloin/SickRage/commit/0ae2b034847277f2b180584589882c5ab9499327

[2015-01-22 10:52] fernandog commented on #328
will close when merged

[2015-01-22 10:53] fernandog commented on #454
@abeloin isn't this relate to the fix about jquery?

[2015-01-22 10:54] fernandog commented on #451
@abeloin yes. @echelon must give write access to the wiki otherwise @markheloking and I can do nothing.

[2015-01-22 10:58] fernandog commented on #449
@Grubs we don't judge. don't worry =)

this change is against everything in SR. DEV should analyse this but IMO we shouldn't add this feature.
SD is too bad for this new TVs. why don't you archive the HDTV? size is really small

[2015-01-22 11:00] fernandog commented on #391
@TagForce IMO almost 99% of the GOOD release have the "-"

[2015-01-22 11:02] fernandog commented on #456
@tchirou please confirm that those shows are not paused

[2015-01-22 11:03] tchirou commented on #456
They are not. Moreover, paused shows don't appear in the coming episodes list.

[2015-01-22 11:04] Captsha opened #457 "displayShow - Language does not exist"
Hello,

I try to display some TVShow, and I have an error with this traceback:

[code]

I have this error only for some specific TVShow. I tried to remove one and to add the TVShow again but same error.
All of my TVShow are configured with TheTVDB database.
I suspect a problem on the sickrage database or directly with the library subliminal.
On my subtitle configuration, I have added 2 languages (

[2015-01-22 11:10] fernandog commented on #456
@tchirou I couldn't add my calendar.
You only added webcal://IP:PORT/calendar to the calendar app?

[2015-01-22 11:10] markheloking commented on #454
@abeloin thanks for using my template. Please *do* use the tickboxes so that the users know what is still missing. I've edited your post with my "latest version" of the template I'm using.

[2015-01-22 11:11] fernandog commented on #457
@Captsha try setting only FR or only EN. See if you can reproduce the error with only one language

[2015-01-22 11:14] Captsha commented on #457
I just tried and I have the same problem for each. If I disable subtitle module, I can display my TVShow.

[2015-01-22 11:18] tchirou commented on #456
Yes I did
I don't know if you meant you added it and it did not work of if you couldn't find how to do it, which is a little tricky the first time. If it is the second case, here is how to dot it. Don't take it wrong if you meant the first case.
In google calendar, on the left, you have "Other agendas" with a little arrow on the righ. You click on itand then you have "add  a URL"

[2015-01-22 11:20] Captsha commented on #457
Also, another strange point, one file from the traceback didn't exist. Because it's seem the cache, I don't think it's relevant, but I prefer to specify it:

[code]

[2015-01-22 11:26] fernandog commented on #457
@Captsha what provider are you using? Try opensubtitles (just to debug)

@abeloin can you check this out please?

[2015-01-22 11:34] fernandog commented on #456
@tchirou I did that. google says it's not a valid URL. strange.

[2015-01-22 11:38] tchirou commented on #456
Yeah so I think it's broken
For the record, the missing shows are shows I added in the past few months, whereas the others have been added way earlier. Maybe it's a clue.
The furthest I can see a show on the calendar is the beginning of april.

[2015-01-22 11:59] fernandog commented on #456
@tchirou google say he couldn't process the feed

[2015-01-22 12:05] markheloking commented on #51
@fernandog I'm sure he'd appreciate the help on the team in the tracker. Not sure how keen he is to add people with write permission to the branches since the last debacle with adam and supremicus. Would be nice though since he's away this much, so we can merge the prs and stuff.

[2015-01-22 12:08] fernandog commented on #51
@markheloking I didn't know that.

I know we must update the wiki ASAP.

[2015-01-22 12:12] markheloking commented on #51
@fernandog I agree we should have someone that's able to do stuff when @echel0n is away, although it should be someone that uses caution (as to not introduce bad bugs while @echel0n is away). It would also enable us to edit the wiki page, although we can also do that by moving it from the main fork to the issue fork (because we cán write over there).
Have you been able to contact @echel0n?

[2015-01-22 12:13] markheloking commented on #316
Please use the issue guidelines when posting an issue. This way the dev team is able to debug your problem. Don't forget to use [markdown](https://guides.github.com/features/mastering-markdown/) on any code and log you want to post in-line.

- [ ] Branch
- [ ] Commit hash
- [ ] Operating system and python version
- [x] What did you do?
- [x] What happened?
- [x] What did you expect?
- [x] Link to

[2015-01-22 12:13] markheloking commented on #316
Shouldn't we close this since it's a duplicate of https://github.com/SiCKRAGETV/sickrage-issues/issues/307? Or is it that much different?

[2015-01-22 12:19] markheloking commented on #447
Closing this to continue the discussion over at https://github.com/SiCKRAGETV/sickrage-issues/issues/96.

[2015-01-22 12:19] #447 closed

[2015-01-22 12:20] markheloking commented on #448
Please use the issue guidelines when posting an issue. This way the dev team is able to debug your problem. Don't forget to use [markdown](https://guides.github.com/features/mastering-markdown/) on any code and log you want to post in-line.

- [ ] Branch
- [ ] Commit hash
- [ ] Operating system and python version
- [x] What did you do?
- [x] What happened?
- [x] What did you expect?
- [ ] Link to

[2015-01-22 12:25] markheloking commented on #457
Please use the issue guidelines when posting an issue. This way the dev team is able to debug your problem. Don't forget to use [markdown](https://guides.github.com/features/mastering-markdown/) on any code and log you want to post in-line.

- [ ] Branch
- [ ] Commit hash
- [ ] Operating system and python version
- [x] What did you do?
- [x] What happened?
- [x] What did you expect?
- [ ] Link to

[2015-01-22 12:31] abeloin commented on #328
@Electr0Fi Since you're on the master branch the pull request @fernandog provided won't apply properly, see previous comment link for line to change:
https://github.com/SiCKRAGETV/sickrage-issues/issues/328#issuecomment-70615819

[2015-01-22 13:07] cerberusuk commented on #301
Hey there
Would be great to either get IMDB or Trakt watchlists up and running :-)
Thanks

[2015-01-22 13:08] cerberusuk commented on #309
Hey there
Would be great to either get IMDB or Trakt watchlists up and running :-)
Thanks
PS congratulations on becoming a father :-)

[2015-01-22 13:14] abeloin commented on #454
@fernandog Not sure as if jquery wasn't working it would default to en, see https://github.com/SiCKRAGETV/SickRage/blob/master/gui/slick/interfaces/default/home_newShow.tmpl#L57 and if it was working getIndexerLanguages should put in en in front, see https://github.com/SiCKRAGETV/SickRage/blob/master/sickbeard/webserve.py#L2015

@markheloking Thanks for the info

[2015-01-22 13:37] Captsha commented on #457
- [x] Branch: master
- [x] Commit hash : 401cb666016e45b42fe675bafdf7908ad6c2b9bb
- [x] OS: Debian 7.8; Python 2.7.3
- [x] logfile : http://pastebin.com/UYFrwWvu (I have enable debug but nothing relevant during the problem reproduction)

I hope everything is correct now.
Rgds

[2015-01-22 13:38] tchirou commented on #456
Couldn't it be related to the new login webui ?

[2015-01-22 13:40] abeloin commented on #427
@MarcoV1980 Sickrage look for the logo image by appending the networkname + .png

[2015-01-22 13:45] meza commented on #301
Trakt watchlists work for me just fine! What's not working for you?

[2015-01-22 13:46] CentristOuevre commented on #301
Trakt doesn't issue API keys anymore as it uses OAUTH instead now. Therefore, when SickRage is trying to authenticate with Trakt using an API key, it's getting authentication errors. At least, that's what I get here.

[2015-01-22 13:48] MarcoV1980 commented on #427
I see, but maybe make it an option?

I'd reckon this network mostly speaks to the Canadians and French perhaps,
while the rest doesn't actually need it that bad.
I am (and i saw some other with me in this thread) using openelec, and they
don't compile the OS with UTF8 unfortunately. Perhaps there are some hacks
available, but for most users this would be too hard to do.

On Thu, Jan 22, 2015 at 2:

[2015-01-22 13:48] meza commented on #301
As @trewq mentioned in this post https://github.com/SiCKRAGETV/sickrage-issues/issues/301#issuecomment-68623036 Trakt has ported some of the old ways and the watchlist should be working

[2015-01-22 13:51] CentristOuevre commented on #301
Scratch that. Mine works too.

[2015-01-22 14:07] abeloin commented on #427
@MarcoV1980 What's the result of:
[code]

[2015-01-22 14:07] amgreenwalt opened #458 "AutoProcess/Post Processing no longer working"
SR Version: BRANCH: (master)
COMMIT: (401cb666016e45b42fe675bafdf7908ad6c2b9bb)
OS: Windows Server 2008 R2
Python: 2.7.8
SABnzbd Output: http://pastebin.com/z3U7G4VK

My AutoProcess also stopped working but with Windows Server 2008 I am not sure how to fix it. SABnzbd does not give me any errors but my shows are not getting processed. I turned on Debug for SickRage but when the download was finish

[2015-01-22 14:11] MarcoV1980 commented on #427
That's the only ones they have. Shame though, didn't think it would hurt implementing UTF8 also.

[2015-01-22 14:54] abeloin commented on #427
I think the reason was space issue, see https://github.com/OpenELEC/OpenELEC.tv/issues/364

[2015-01-22 15:51] abeloin commented on #457
@Captsha Can you run this query in sqlite3 on sickbeard.db and post the result?
[code]

[2015-01-22 16:24] Jezze83 opened #459 "[Feature Request] Add podnapisi.net subtitle provider"
Is it possible add podnapisi subtitle search? And function for select subtitles manually from different sources?

[2015-01-22 16:26] abeloin commented on #427
@MarcoV1980 The pull request should fix the issue when it will be merge in develop.

[2015-01-22 16:28] gborri commented on #301
hello markheloking,

which is the API Key i have to use with the v2?

thanks
Giovanni

On Thu, Jan 22, 2015 at 2:51 PM, CentristOuevre <notifications@github.com>
wrote:

[2015-01-22 16:29] Captsha commented on #457
[code]

Seem because of this result ',fr,en'. I suppose they have an explode somewhere with the sep ',' and the elem is null.

Just for this specific episode I did an update

[code]

And it's working for this show.

I think this behavior appear because I change the episode naming synthax.
For finish, I run this, for fix my problem to all TVShow.

[code]

But I suppose a simple "Mass Update" -> "Re

[2015-01-22 16:54] abeloin commented on #457
Yes a mass update -> update would have solve your issue.

[2015-01-22 18:31] MarcoV1980 commented on #427
Awesome, thanks a lot, will check back when it's merged into dev!

[2015-01-22 18:43] fernandog commented on #276
@abeloin

why this code do not work?

[code]

[2015-01-22 19:09] abeloin commented on #276
@fernandog you need to use jquery's .on('change', ...) or .change() on logsearch:

[code]
You should use the select option value or name instead of index value, it's easier to debug.

Ps: Don't forget to escape the $ sign in a tmpl.

[2015-01-22 19:13] boeggild commented on #431
Yes, I tried reinstalling, but unfortunately does not solve the issue.

[2015-01-22 19:26] fernandog commented on #276
@abeloin thanks! worked. did you received the TD invite?

[2015-01-22 19:32] abeloin commented on #276
@fernandog Yes currently registering.

[2015-01-22 21:37] cerberusuk commented on #301
Hi Guys
I must be missing something - Sickrage is asking for an API key - Please could you give me some noddy instructions on how to get Trakt working with Sickrage?
Thanks in advance

[2015-01-22 21:40] meza commented on #301
I'm not sure you can request an API key anymore. I'm using the one I've generated with trakt 1.0 years ago. You might get lucky if you reach out to trakt on twitter and ask for one, but that's just a hunch.

[2015-01-22 22:05] abeloin commented on #431
@boeggild Check if you can connect with openssl:
```openssl s_client -connect your.synologyaddress.com:443```

For reference: http://stackoverflow.com/questions/14102416/python-requests-requests-exceptions-sslerror-errno-8-ssl-c504-eof-occurred

[2015-01-22 22:13] abeloin commented on #84
@markheloking Fixed with pull request SiCKRAGETV/SickRage#1187 which was merge into develop.

[2015-01-22 22:26] #84 closed

[2015-01-22 22:38] fernandog commented on #276
@TagForce @markheloking @abeloin can you test it too? any feedbacks?

[2015-01-22 23:19] abeloin commented on #276
@fernandog I've put some comment in https://github.com/SiCKRAGETV/sickrage-issues/issues/276#issuecomment-71113806

[2015-01-22 23:57] fernandog commented on #287
@abeloin can you check this one?  I coudln't fix it

[2015-01-23 00:14] abeloin commented on #287
@fernandog WIll do.

At first glance I would say it's missing str() around curError.title.

[2015-01-23 00:43] Grubs commented on #449
Well with 250+ shows and almost every episode of each show I have to draw the line somewhere. I have over 8TB of TV already so I only archive 720p/1080p of shows I think are worth it. Glee isn't one of them :) It's generally 3-4x the size. So the saving is worth it to me. I would like to have everything in HD!!! I actually find the BDRiP/DVDRiP's not to bad on my 58" Samsung Plasma via Kodi. I get

[2015-01-23 00:47] Grubs commented on #410
I like this option too! I recently moved from SickBeard to SickRage. I had to copy the quality across for 250 shows and it wasn't the greatest thing I've ever done! While it picks up HD / SD ok it doesn't remember the 720p WEB-DL / HDTV / 720p BluRay  or SDTV / SD DVD etc... would be nice if it added these to the metadata when it creates them too!

[2015-01-23 02:10] Electr0Fi commented on #328
@abeloin So I just manually change that line in the file? I don't need to do any pulling?

[2015-01-23 02:17] Electr0Fi commented on #370
@fernandog Can you please unlock this issue as I am currently experiencing it at the moment, and have been for quite some time.

I'm on: BRANCH: (master) / COMMIT: (401cb666016e45b42fe675bafdf7908ad6c2b9bb)

Every day at about 3:45am my log starts filling up with row upon row of these errors.
I'm not awake at that time in the morning and by the time I look at my computer in the morning, the debug

[2015-01-23 02:21] abeloin commented on #328
@Electr0Fi Yes until the fix is merge into master

[2015-01-23 04:32] abeloin opened #460 "[APP SUBMITTED]: 422 {u'documentation_url': u'https://developer.github.com/v3/gists/#create-a-gist', u'message': u'Validation Failed', u'errors': [{u'field': u'files', u'code': u'missing_field', u'resource': u'Gist'}]}"
### INFO
Python Version: **2.7.5 (default, Nov  3 2014, 14:26:24)
[GCC 4.8.3 20140911 (Red Hat 4.8.3-7)]**
Operating System: **Linux-3.17.7-200.fc20.x86_64-x86_64-with-fedora-20-Heisenbug**
Branch: **develop**
Commit: SiCKRAGETV/SickRage@91cb8d885ca278e5829ed53d856d578c8ee8cbe0
Link to Log: https://gist.github.com/da1f6de078ef4383cf34
### ERROR
[code]
---
_STAFF NOTIFIED_: @SiCKRAGETV/owners @SiCK

[2015-01-23 04:38] abeloin commented on #460
Please ignore this was a test.

[2015-01-23 04:42] kooimens opened #461 "[Feature Request] Add Preferred words for search. (in addition to Required and Ignore words)"
Would be great to have an option like this. Just like couchpotato and headphones do.

[2015-01-23 04:58] #460 closed

[2015-01-23 05:32] Tass5233 commented on #379
Sorry, my first time posting on Github, will do in the future

On Sun, Jan 18, 2015 at 4:16 PM, markheloking <notifications@github.com>
wrote:

[2015-01-23 08:01] abeloin commented on #330
@timrettop It's in WebRoot class.

Try calling the calendar directly in a browser: http://sickrage.local:8081/calendar

[2015-01-23 09:55] TagForce commented on #276
I'll test it later today.

Still only shows the logs from the current logfile, right?
I suppose, if you want to make it really configurable, there needs to be a provision for it to open sickrage.log.X files if sickrage.log.Y reaches <EOF>.
Then you can also add a config option for the number of lines to display (currently hardcoded to 500), and have the auto-refresh rate set to something more usef

[2015-01-23 10:42] fernandog commented on #370
Did you try restarting SR?
Stop SR, delete all logs files inside /SickRage/Logs
start it and do a update for only one show.
Post log to pastebin

[2015-01-23 11:21] TagForce commented on #276
@fernandog Left you a comment on your commit.
Basically, it works just fine, and is a welcome addition. However, the thread list should sort in such a way that the None option is always on the top, and has a more descriptive display string.

I've added the change to the comment, but make sure you change the other occurences of 'None' as well.

[2015-01-23 11:47] TiagoDM commented on #284
Hi. Is there any development in my issue?

As you see in this wdlxtv post, even the admin says that changing folder.jpg to .folder.jpg is the way to go...

http://forum.wdlxtv.com/viewtopic.php?f=3&t=7263

...so no harm will be made in the other SickRage users

Thank you

[2015-01-23 12:25] fernandog opened #462 "[APP SUBMITTED]: 422 {u'documentation_url': u'https://developer.github.com/v3/gists/#create-a-gist', u'message': u'Validation Failed', u'errors': [{u'field': u'files', u'code': u'missing_field', u'resource': u'Gist'}]}"
### INFO
Python Version: **2.7.3 (default, Mar 18 2014, 05:13:23)
[GCC 4.6.3]**
Operating System: **Linux-3.12.31-armv6l-with-debian-7.6**
Branch: **develop**
Commit: SiCKRAGETV/SickRage@91cb8d885ca278e5829ed53d856d578c8ee8cbe0
Link to Log: https://gist.github.com/46378501be489335e75b
### ERROR
[code]
---
_STAFF NOTIFIED_: @SiCKRAGETV/owners @SiCKRAGETV/moderators

[2015-01-23 12:26] lbjb opened #463 "Feature request: Option to define maximum bitrate for downloads"
With some TVs and device hardware unable to support decoding higher bitrate videos, it would be useful to be able to skip downloads if the bitrate is over a certain threshold. Assuming the size of the completed download is available during the search stage, and the length of the episode should be available from the metadata, the bitrate could be fairly crudely worked out based on these, which woul

[2015-01-23 12:28] fernandog commented on #460
@abeloin I added the str() as you said but I got this error too:

[code]

[2015-01-23 12:34] lbjb opened #464 "If multiple quality levels are defined for archive quality, existing downloads will be marked as poor quality if they don't meet the maximum of these"
I have a show with the profile quality set as HD. Almost everything was downloaded at 720p but some episodes were difficult to get.

I edited the show settings to set a custom quality level. For the initial level, I selected all qualities, and for archive, I selected all apart from SDTV and SDDVD.

I assumed this would mean anything would be grabbed initially, then 720p or better once available, a

[2015-01-23 12:44] Youmi15 opened #465 "Config - General/Updating"
This morning I did a clean install of SR, but now I can't get to the General page and the 'Check for updates' sends me to 'home' . I have seen the earlier issue #388, but it's not clear to me what I have to do to fix this.

It might have to do with the fact that SR does not recognize the version:
SR Version: 	BRANCH: () / COMMIT: ()
You are using BETA software

I noticed here that the new config.i

[2015-01-23 16:20] dmarcelino commented on #301
@cerberusuk, I've put some random characters on config -> notifications -> trakt and when I click "Test Trakt" it says "Test notice sent successfully to Trakt". Having said this, I'm not a 100% sure the plugin is working properly this way: nothing has been sent to trakt and I can't get any recommendations...

[2015-01-23 16:44] perler opened #466 "SickBeard.py saturates 2 cores with 100% CPU"
ubuntu 14.04
Sickrage develop 91cb8d885ca278e5829ed53d856d578c8ee8cbe0

for as long as I can think SickBeard.py is using up a lot of CPU power, have a look: http://screencast.com/t/efqQyJsa0ck

as there was a subtitle issue sometime ago, I checked only two plugins, but to no avail.

debug log shows no activity at all while the CPU is kept busy.

[2015-01-23 17:21] h3llrais3r opened #467 "Unable to find anime show (but show is available)"
Sickrage doesn't seem to be able to find my new episodes of Yowamushi Pedal.
I have the problem starting from s2e13...
 (Could it be related to the fact that it's aired in 2015?)

BRANCH: (master) / COMMIT: (33e95870e0c1b241c93f541d4ee27ed6ba3bfcb8)
Python Version:	2.7.9 (default, Dec 10 2014, 12:28:03) [MSC v.1500 64 bit (AMD64)]
Windows 8.1 64bit

Logfie:
http://pastebin.com/N1eCkm87

If you sea

[2015-01-23 17:23] h3llrais3r commented on #467
I've already mentioned it at #417, but I'm not sure if it's related...

[2015-01-23 17:49] h3llrais3r commented on #467
New logfile with only nyatorrents as provider.
As you can see, episode 2x13 and 2x14 are interpreted as 1x13 and 1x14.
Episodes 2x12 and below are interpreted correctly.

http://pastebin.com/ZSbXSUKZ

[2015-01-23 18:07] abeloin opened #468 "[APP SUBMITTED]: coercing to Unicode: need string or buffer, NoneType found"
### INFO
Python Version: **2.7.5 (default, Nov  3 2014, 14:26:24)
[GCC 4.8.3 20140911 (Red Hat 4.8.3-7)]**
Operating System: **Linux-3.17.7-200.fc20.x86_64-x86_64-with-fedora-20-Heisenbug**
Branch: **develop**
Commit: SiCKRAGETV/SickRage@91cb8d885ca278e5829ed53d856d578c8ee8cbe0
### ERROR
[code]
---
_STAFF NOTIFIED_: @SiCKRAGETV/owners @SiCKRAGETV/moderators

[2015-01-23 18:24] fernandog commented on #468
@abeloin did you fix the auto-submit issue?

[2015-01-23 18:36] abeloin commented on #468
@fernandog Still working on it

[2015-01-23 18:40] abeloin opened #469 "[APP SUBMITTED]: object of type 'NoneType' has no len()"
### INFO
Python Version: **2.7.5 (default, Nov  3 2014, 14:26:24)
[GCC 4.8.3 20140911 (Red Hat 4.8.3-7)]**
Operating System: **Linux-3.17.7-200.fc20.x86_64-x86_64-with-fedora-20-Heisenbug**
Branch: **develop**
Commit: SiCKRAGETV/SickRage@91cb8d885ca278e5829ed53d856d578c8ee8cbe0
### ERROR
[code]
---
_STAFF NOTIFIED_: @SiCKRAGETV/owners @SiCKRAGETV/moderators

[2015-01-23 18:48] amgreenwalt commented on #458
Also tried installing from scratch and re-adding all my shows and still not working.

[2015-01-23 18:51] #469 closed

[2015-01-23 18:51] abeloin commented on #469
This is a test

[2015-01-23 19:30] h3llrais3r commented on #467
After some investigation I found out that this is not an issue.
The problem is related to the fact that XEM was not updated for the latest episodes.
XEM has now been updated and the new episodes are now downloaded and processed with success!

[2015-01-23 19:30] #467 closed

[2015-01-23 19:37] abeloin opened #470 "[APP SUBMITTED]: 'NoneType' object has no attribute 'close'"
### INFO
Python Version: **2.7.5 (default, Nov  3 2014, 14:26:24)
[GCC 4.8.3 20140911 (Red Hat 4.8.3-7)]**
Operating System: **Linux-3.17.7-200.fc20.x86_64-x86_64-with-fedora-20-Heisenbug**
Branch: **develop**
Commit: SiCKRAGETV/SickRage@91cb8d885ca278e5829ed53d856d578c8ee8cbe0
### ERROR
[code]
---
_STAFF NOTIFIED_: @SiCKRAGETV/owners @SiCKRAGETV/moderators

[2015-01-23 19:38] #470 closed

[2015-01-23 21:40] abeloin opened #471 "[APP SUBMITTED]: 'NoneType' object has no attribute 'close'"
### INFO
Python Version: **2.7.5 (default, Nov  3 2014, 14:26:24)
[GCC 4.8.3 20140911 (Red Hat 4.8.3-7)]**
Operating System: **Linux-3.17.7-200.fc20.x86_64-x86_64-with-fedora-20-Heisenbug**
Branch: **develop**
Commit: SiCKRAGETV/SickRage@91cb8d885ca278e5829ed53d856d578c8ee8cbe0
Link to Log: https://gist.github.com/df614014babea7dec5a4
### ERROR
[code]
---
_STAFF NOTIFIED_: @SiCKRAGETV/owners @SiCK

[2015-01-23 21:40] Rafkat commented on #456
Confirming, I've got same issue - shows added within last months won't appear in Google Calendar.

[2015-01-23 21:41] abeloin commented on #471
This is a test

[2015-01-23 21:41] #471 closed

[2015-01-23 21:48] abeloin commented on #287
@fernandog Should be working with this pull request

[2015-01-23 21:52] abeloin commented on #465
Could you provide a log? It would be useful

[2015-01-23 21:58] abeloin commented on #466
Using the calendar function? What's the few last task in the debug log while the CPU usage is high?

[2015-01-23 21:59] abeloin commented on #456
Try calling the calendar directly in a browser: http://sickrage.local:8081/calendar

[2015-01-23 22:06] fernandog commented on #287
nice! thanks!

[2015-01-23 22:06] tchirou commented on #456
Yep it gives calendar code including the missing shows

Le 23 janv. 2015 à 22:59, Alexandre Beloin <notifications@github.com> a
écrit :

Try calling the calendar directly in a browser:
http://sickrage.local:8081/calendar

—
Reply to this email directly or view it on GitHub
<https://github.com/SiCKRAGETV/sickrage-issues/issues/456#issuecomment-71273741>
.

[2015-01-23 22:09] fernandog commented on #466
@perde try complete disable subtitle download. If you have too many tv-shows without subtitle, SR will try to search all of them. Even 2 services can be CPU high consuming.

[2015-01-23 22:09] Rafkat commented on #456
Yep, it shows code for me as well.

[2015-01-23 22:22] abeloin commented on #456
@tchirou Try to force refresh your google calendar. Maybe it is not accessible by google?

[2015-01-23 22:24] abeloin commented on #456
@Rafkat If you see the missing show, try to force refresh your google calendar. Maybe it is not accessible by google?

[2015-01-23 22:25] tchirou commented on #456
How do you do that? I don't see this option

Le 23 janv. 2015 à 23:22, Alexandre Beloin <notifications@github.com> a
écrit :

@tchirou <https://github.com/tchirou> Try to force refresh your google
calendar. Maybe it is not accessible by google?

—
Reply to this email directly or view it on GitHub
<https://github.com/SiCKRAGETV/sickrage-issues/issues/456#issuecomment-71276689>
.

[2015-01-23 22:26] Rafkat commented on #456
I've done refreshing several times within last month, however this didn't help. :(
I've removed this calendar and re-added it but with same list of the shows :-/

[2015-01-23 22:35] abeloin commented on #456
@tchirou Try this: https://www.binarysludge.com/2012/02/01/how-to-force-refresh-google-calendar/ it may work.

[2015-01-23 22:39] abeloin commented on #456
@Rafkat Your sickrage instance is accessible from the internet?

[2015-01-23 22:40] tchirou commented on #456
I tried adding new calendars with ?nocache and &nocache but it gave me
errors

Le 23 janv. 2015 à 23:35, Alexandre Beloin <notifications@github.com> a
écrit :

@tchirou <https://github.com/tchirou> Try this:
https://www.binarysludge.com/2012/02/01/how-to-force-refresh-google-calendar/
it may work.

—
Reply to this email directly or view it on GitHub
<https://github.com/SiCKRAGETV/sickrage-issues/i

[2015-01-23 22:40] Rafkat commented on #456
@Rafkat Your sickrage instance is accessible from the internet?

Yep, I can see it without problem

[2015-01-23 23:16] abeloin commented on #456
@tchirou ok

[2015-01-23 23:36] abeloin commented on #456
@tchirou @Rafkat There's not much I can do here, it's a google calendar issue :(

Ongoing discussions on google about sync issue:
https://productforums.google.com/forum/#!topic/calendar/ixQnzHmWDSk%5B326-350-false%5D

[2015-01-23 23:40] abeloin commented on #462
@fernandog Should be fixed with SiCKRAGETV/SickRage#1233

[2015-01-23 23:43] fernandog commented on #462
@abeloin great!

[2015-01-23 23:43] Rafkat commented on #456
@tchirou anyway thank you for your assistance

[2015-01-23 23:43] Rafkat commented on #456
@abeloin sorry was 4u

[2015-01-24 00:14] tchirou commented on #456
I don't think a Google calendar sync problem as stated in the thread you
gave  is related to ours as it is quite old and started long before we got
a problem

Besides :
- When I try to reach the calendar with the browser from outside, I get the
login page
- When I try to add the calendar from outside to outlook, I got an error

I may be wrong, but I think the new login process tampers with the way

[2015-01-24 00:23] tchirou commented on #456
And thank your for your help of course mon pote :)

[2015-01-24 00:44] abeloin commented on #456
@tchirou Ok I assumed you were able to connect without error to it. My bad!

[2015-01-24 02:52] abeloin commented on #456
@tchirou This pull request will fix your issue when it will be merge.

[2015-01-24 02:56] abeloin commented on #456
@Rafkat Do you use SIckrage authentication? If so try your external calendar url again without login first. If you see a login request page this pull request will fix your issue when it will be merge.

[2015-01-24 05:49] abeloin commented on #470
This is a test

[2015-01-24 09:42] perler commented on #466
re the last entries, there is no such thing, as the usage is permanently
high.

re subtitles, I will give this a try..

what is the calender function?

[2015-01-24 09:45] Tlabok commented on #370
I saw 108 of these error messages in my log (I have 107 active shows). First time I see this.

Same branch / commit and same conditions as Eletr0Fi, also around the same time.

[2015-01-24 09:50] tchirou commented on #456
Many thanks !!!

[2015-01-24 09:54] Tlabok commented on #370
All my show pages showed something like "this show is being updated".
Restarting Sickrage solved this, but probably not the underlying problem.

[2015-01-24 10:33] Tlabok commented on #464
AFAIK you can stop the search after the first quality in your Archive selection is hit by selecting the Archive First Match setting for a show.

Unfortunately this is not reflected in the Backlog Overview, which keeps showing the episodes as Low Quality even after Archive First Match has been fulfilled.

Also, the Archive First Match setting is not available in the Add Show dialogue, so every adde

[2015-01-24 11:18] yongbi85 commented on #405
I would add it would be nice to have a system of download and archive based on fansub group too for anime.
For example I want sickrage to download the release of HorribleSubs first so I can watch it, but I want him to get UTW or Hatsuyuki or w/e release as archived fansub group.

[2015-01-24 11:49] John-Gee commented on #405
That's actually pretty fair indeed!

[2015-01-24 12:02] fernandog commented on #466
@perler did you subscribe SR calendar to Google or any other calendar app?

[2015-01-24 12:05] fernandog commented on #464
@lbjb please read

https://github.com/SiCKRAGETV/SickRage/wiki/Quality-Settings

[2015-01-24 12:07] fernandog commented on #370
@Tlabok
please send log when this happens.

don't mass update and refresh at the same time if you have too many shows and your media center it's not powerfull.

[2015-01-24 12:08] perler commented on #466
no..

On Sat, 24 Jan 2015 13:02 Fernando <notifications@github.com> wrote:

[2015-01-24 12:10] fernandog commented on #466
@perler please disable subtitle search, restart SR and report back please

[2015-01-24 12:22] perler commented on #466
ok, it's definitely the subtitles module. enabling it, even without
enabling any subtitle plugin brings the CPU usage up to 200%

On Sat Jan 24 2015 at 1:10:31 PM Fernando <notifications@github.com> wrote:

[2015-01-24 12:31] Electr0Fi commented on #370
@fernandog

The log was too big for PasteBin, so I just put it in a file in my Dropbox:
https://www.dropbox.com/s/e62oza4gyz7575d/sickragelog.txt?dl=0

[2015-01-24 12:41] fernandog opened #472 "[APP SUBMITTED]: Some #directives are missing their corresponding #end ___ tag: if Line 100, column 91 in file /home/pi/SickRage/gui/slick/interfaces/default/viewlogs.tmpl Line|Cheetah Code ----|------------------------------------------------------------- 97 |//--> 98 |</script> 99 | 100 |#include $os.path.join($sickbeard.PROG_DIR,"gui/slick/interfaces/default/inc_bottom.tmpl") ^"
### INFO
Python Version: **2.7.3 (default, Mar 18 2014, 05:13:23)
[GCC 4.6.3]**
Operating System: **Linux-3.12.31-armv6l-with-debian-7.6**
Branch: **develop**
Commit: SiCKRAGETV/SickRage@91cb8d885ca278e5829ed53d856d578c8ee8cbe0
Link to Log: https://gist.github.com/6b672bc83aad82b259d2
### ERROR
[code]
---
_STAFF NOTIFIED_: @SiCKRAGETV/owners @SiCKRAGETV/moderators

[2015-01-24 12:42] fernandog commented on #472
test

[2015-01-24 12:42] #472 closed

[2015-01-24 12:43] fernandog commented on #466
known issue. will close as there's already an issued opened

[2015-01-24 12:43] #466 closed

[2015-01-24 12:51] perler commented on #466
problem is, the original issue was closed as well:
https://github.com/SiCKRAGETV/sickrage-issues/issues/44

On Sat Jan 24 2015 at 1:43:48 PM Fernando <notifications@github.com> wrote:

[2015-01-24 13:02] Tlabok commented on #370
@fernandog
I haven't done any updating or refreshing. This happened automatically at around 3 am. This is not on a media center, but a Qnap TS-439 Pro with no other CPU intensive tasks or services active.

I will change the search frequency from 60 to 30 minutes.

The log had recycled by the time I saw the errors, so there is no relevant info in the debug log.

[2015-01-24 13:11] fernandog commented on #44
@markheloking the issue still exists. re-open

https://github.com/SiCKRAGETV/sickrage-issues/issues/370

[2015-01-24 15:16] Youmi15 commented on #465
This is the message I get:
[code]
And the error log:
[code]

[2015-01-24 15:22] xios01 opened #473 "[Feature Request] Show "snatched" episodes in "Coming Episodes" list."
Just curious if this would be possible... To Leave "snatched" but not yet "downloaded" episodes visible in "Coming Episodes" list? Or at least make it option?

Possibly change color of "snatched" item(s) to yellow....

Thank You!

[2015-01-24 15:36] Tlabok opened #474 "Feature request: In Backlog Overview, make Wanted: and Low Quality: clickable filters and/or remove episodes when Archive First Match is met"
I use Backlog Overview to see which recent episodes are missing, but the many Low Quality episodes make it hard to find the Wanted episodes.

Most of my shows have HD as initial quality and 1080p HD TV and 1080p WEB-DL as archive quality settings, with *Archive First Match* selected.

If a 1080p HD TV version is downloaded, the episode remains in the Backlog Overview even though the WEB-DL version

[2015-01-24 15:49] fernandog commented on #465
@Youmi15 I suggest waiting the fix to be merged.

[2015-01-24 15:49] #465 closed

[2015-01-24 15:59] Youmi15 commented on #465
Alright, thanks anyway!

[2015-01-24 16:37] Rafkat commented on #456
@abeloin Yes, I see a login request, as you mentioned. Thanks a lot for the fix!!!

[2015-01-24 16:38] fernandog commented on #473
@xios01

why don't you see the snatched episodes here:
http://localhost:8081/manage/episodeStatuses?whichStatus=2

[2015-01-24 16:42] fernandog opened #475 "Accessing calendar: 'latin-1' codec can't encode character"
**How to reproduce:**
- Open localhost:8081/calendar

NO logs available. As there were no log, couldn't auto-submit issue.

[code]

ERROR
'latin-1' codec can't encode character u'\u2019' in position 124: ordinal not in range(256)

Traceback
[code]

[code]

[2015-01-24 16:43] fernandog commented on #475
@abeloin

[2015-01-24 16:59] cherma22 opened #476 "[Feature Request] Add description for shows to show/theme"
Often when I'm reviewing older shows in my SickRage, or new, unaired shows, I forget what the show is about. Having the description for the show as it is found on the provider would be very handy

[2015-01-24 17:07] abeloin commented on #475
@fernandog What's the results of locale without a?

[2015-01-24 17:12] abeloin commented on #475
There's a character(Unicode Character 'RIGHT SINGLE QUOTATION MARK' (U+2019)) in one of the description which cannot be encoded into the latin-1 charset as it is not presnt.

[2015-01-24 17:41] lthasenhod opened #477 "Feature Request: Quality and Resolution"
I would really like to split the current Quality into 2 fields, one called Quality and one called Resolution, something like this

Quality:
any
screener
sd/hd tv
web-dl
repack
proper
retail/bdrip/dvdrip

Resolution:
any
SD NTSC
SD PAL
HD 720p
HD 1080p
UHD 4k

and perhaps have 2 sections under the shows, one called initial and one called archive, where the 2 above sections will be chooseable via dr

[2015-01-24 17:58] duelistjp opened #478 "adding new show just says loading"
I'm sorry if this doesn't meet guidelines I could not find them.  the sticky said to post issues here and to follow guidelines but oh well.  I'm using the current builds I have tested with both developer branch and master branch.  I add a show and it takes me back to the show list and it is on the bottom saying Loading...(FILEPATH)  i left it overnight last night and when I woke up and refreshed t

[2015-01-24 18:07] lbjb commented on #464
Ah OK sorry - just a case of RTFM for me then...

Though it'd be nice to have this when adding a show, as @Tlabok suggests, and have the status reflected in the backlog.

[2015-01-24 18:11] abeloin commented on #478
Please use the issue guidelines when posting an issue. This way the dev team is able to debug your problem. Don't forget to use [markdown](https://guides.github.com/features/mastering-markdown/) on any code and log you want to post in-line.

- [x] Branch
- [ ] Commit hash
- [ ] Operating system and python version
- [x] What did you do?
- [x] What happened?
- [x] What did you expect?
- [ ] Link to

[2015-01-24 18:12] abeloin commented on #478
A log would be helpful.

[2015-01-24 18:12] netohugo opened #479 "GingaDaddy provider issues"
Guys, I'm having a problem with the GingaDaddy provider. I configured this way on "Search Providers -> Configure Custom Newznab Providers"

Name: GingaDaddy
Site URL: https://www.gingadaddy.com/
API Key: e35xxxxxxxx
Enable daily searches: yes
Enable backlog searches: yes

The entire log and config is in: https://www.dropbox.com/sh/t03tjso2o68y2ek/AABgDlwij0a5LmvOCcF6POhja?dl=0

Thanks

[2015-01-24 18:18] lbjb commented on #464
Actually I see @Tlabok has opened #474 so I'll close this one.

[2015-01-24 18:18] #464 closed

[2015-01-24 19:03] fernandog commented on #475
[code]

[2015-01-24 19:06] abeloin commented on #292
@fernandog Notice added in pull request SiCKRAGETV/SickRage#1235

[2015-01-24 19:11] xios01 commented on #473
@fernandog,
   Yep, i do that quite often.  However, i always check Coming Episodes first, and then have to do the 5 additional clicks to see what was snatched and never completed downloading.

  It would just be more convenient, and user friendly, to have that in one location. A simple one stop shop for pending episodes and their status.   Once the episode's status changes to "downloaded" they no

[2015-01-24 19:11] abeloin commented on #475
Is it possible for you to switch from pt_br to pt_BR.utf8?

[2015-01-24 19:19] abeloin commented on #479
Extracted from log:
[code]

[2015-01-24 19:29] hrigteri commented on #454
I'm on Synology DS213+
SickRage version 20150103-1
Python 2.7.8-11

no idea where to get the log file from. I turned off SickRage and switched back to SickBeard so it does not process my series into German stuff and renames the episodes. in the UI the metadata of all my shows is shown as German, German episode names, names of German networks who broadcast the series.

the log I see in my Synology

[2015-01-24 19:32] duelistjp commented on #478
the 4th time appears to be the charm.  the 4th time deleting sickrage entirely and restoring d i was allowed to add the show.  probably just as well.  could not for the life of me figure out what part of the logfile you needed

[2015-01-24 19:32] #478 closed

[2015-01-24 19:39] abeloin commented on #479
@netohugo The feed doesn't contain any newznab attributes. Wrong url?

A newznab feed should always with something like this:
[code]

[2015-01-24 20:19] abeloin commented on #454
@hrigteri Log are usually available inside sickrage/Logs. The most recent one should be named sickrage.log.

It would be useful to provide the branch and commit to help us help you(Gears -> Help & Info). Also could you provide a screenshot of add existing show page were it defaulted to DE?

[2015-01-24 20:22] abeloin commented on #478
@duelistjp Glad to know it is working now. As for the log, it would have been lines around the same time you added the show but it isn't necessary anymore.

[2015-01-24 21:16] hrigteri commented on #454
SR Version:	BRANCH: (master) / COMMIT: (69b169078ff6e9a98ead3d6bdec705ba351cdd7f)
![rage1](https://cloud.githubusercontent.com/assets/10645578/5889078/9ce037f0-a416-11e4-9bd3-c644669b8289.jpg)
![rage2](https://cloud.githubusercontent.com/assets/10645578/5889077/9cdfc31a-a416-11e4-883d-9250104d3f0d.jpg)

[2015-01-24 21:20] hrigteri commented on #454
when I opened the edit show the first time it looked like that Info Language "de".
not empty/null. but value "de". I've had to manually change all shows into "en" :(

on the show info page it was also showing a german flag and all meta data in german.
after manually changing it to "en", only the flag has changed , meta data still in german.

how to change that, or trigger a change??

[2015-01-24 21:29] timrettop commented on #330
@abeloin that URL is locked behind the authentication layer that was added a ways back, and doesn't allow for iCal devices/services to access it.

Thanks for the suggestion though.

[2015-01-24 22:09] abeloin commented on #454
From the commit number your using Cytec's fork , this is why everything is defaulted to german!!!

Download sickrage from https://github.com/SiCKRAGETV and it will resolve your issue.

[2015-01-24 22:11] abeloin commented on #454
By the way, make sure when you add existing or new show that language en is selected:
[Imgur](http://i.imgur.com/bvT07HR.png)

[2015-01-24 22:16] abeloin commented on #330
@timrettop @JSKershaw See issue SiCKRAGETV/sickrage-issues#456 it include a fix that will be merge in develop.

[2015-01-24 22:23] netohugo commented on #479
Thanks for reply @abeloin

Possibly not Alexandre. See the picture below the form that put the attributes in the SR.
![config ginga](https://cloud.githubusercontent.com/assets/10686762/5889307/9066cac6-a406-11e4-9e7c-67105854249b.jpg)

Does the SR is not saving on his configurations? I should manual change something on /var/db/sickrage/config.ini?

At this point the Ginga settings in 'config.ini'

[2015-01-24 22:37] abeloin commented on #479
@netohugo Everything look good except the categories are missing on the left side.

From pillone/usntssearch#23, it look like Ginga as is own api which is not newznab compatible.

[2015-01-24 22:44] abeloin commented on #476
You could click on the tvdb or tvrage logo on the right side to the stars rating system, which will bring you to the indexer's tv show main page with description.

[2015-01-24 22:52] nytemyst commented on #242
I'm having the exact same issue any update on this?

[2015-01-24 22:56] abeloin commented on #458
The pastebin html is the login page, have you set the username and pasword in your cfg file?

[2015-01-24 23:31] BloomSN opened #480 "New shows stuck to loading"
Branch: MASTER
Commit hash: 401cb666016e45b42fe675bafdf7908ad6c2b9bb
Your operating system and python version: Windows server 2012 r2; python 2.7.9 (default, Dec 10 2014, 12:28:03) [MSC v.1500 64 bit (AMD64)]
What you did: tryed to add new show
What happened: show is stuck at loading and never adds
What you expected: show to be added on list

[2015-01-25 00:25] netohugo commented on #479
Thanks for reply @abeloin !

But it's weird.. look at the post 30 June 2013 from @pillone.... It's seems that SR has the support for GingaDaddy, even for the comum users (not VIP, that is my case)...

only if that "I will release the update soon" is not sooooo soon .... lol

tomato, tomahto... let's wainting for other clue... thanks anyway

[2015-01-25 00:53] #454 closed

[2015-01-25 00:55] fernandog commented on #475
@abeloin If I change it, I won't be able to create files with special chars like á é í ó ú ç ã õ and etc. Am I correct?

[2015-01-25 00:58] abeloin commented on #479
@netohugo I think you misunderstood, that post it's for another software called NZB Metasearch. They added Ginga to it and is a provider for SB, CP.

[2015-01-25 01:00] fernandog commented on #292
@abeloin thanks

[2015-01-25 01:01] fernandog commented on #476
it's easier to do click the indexers logo.

[2015-01-25 01:03] fernandog commented on #480
full logs?

[2015-01-25 01:04] timrettop commented on #456
@abeloin Thanks for this, works perfectly!

[2015-01-25 01:06] fernandog commented on #478
log file:  /SickRage/Logs/sickrage.log
and sickrage.log1 log2 ...

Are you able to access the indexer from your browser?
Maybe SR could not connect to the indexer site and won't be able to get the information

[2015-01-25 01:08] abeloin commented on #475
No, you will be able to use any accented character. It will simply use the utf-8 char map instead of latin-1(ISO 8859-1).

As an example, I'm using fr_CA.utf8 and I have access to all accent used in French àéèêöïç and can also use áíóúãõ ...

[2015-01-25 01:12] fernandog commented on #475
thanks! will try.

[2015-01-25 01:14] abeloin commented on #475
For you info: https://wiki.archlinux.org/index.php/Locale

[2015-01-25 01:21] fernandog commented on #242
@AdamWhite @Semsettin @nytemyst

is this still happening in the latest DEVELOP version?

[2015-01-25 01:23] #462 closed

[2015-01-25 01:23] #475 closed

[2015-01-25 01:26] fernandog commented on #475
@abeloin opening calendar (http://localhost:8081/calendar is taking a lot of CPU.
CPU MEM COMMAND
83,9 13,5 /usr/bin/python SickBeard.py

do you get that too?

[2015-01-25 01:26] #287 closed

[2015-01-25 01:28] fernandog commented on #206
https://github.com/SiCKRAGETV/SickRage/pull/1155

[2015-01-25 01:28] #206 closed

[2015-01-25 01:28] #281 closed

[2015-01-25 01:29] #235 closed

[2015-01-25 01:30] fernandog commented on #243
https://github.com/SiCKRAGETV/SickRage/pull/1164

[2015-01-25 01:30] #243 closed

[2015-01-25 01:32] fernandog commented on #473
@xios01 coming episodes need to be re-written as it only reads the airdate of the episode. just checked the code. Not easy. Don't get hopes on this.

[2015-01-25 01:33] fernandog commented on #468
@abeloin can we close this one?

[2015-01-25 01:34] fernandog commented on #461
@kooimens can you elaborate?

[2015-01-25 01:35] abeloin commented on #475
Yes, generating my calendar take around 70-80 sec on a Core i7 960(~200 shows).

I thinking maybe caching the results for a small period of time would be a good idea to help prevent abuse?

[2015-01-25 01:37] fernandog commented on #475
imagine that on as raspberry pi. =)

[2015-01-25 01:37] abeloin commented on #468
Yes fixed with pull request 1230

[2015-01-25 01:37] #468 closed

[2015-01-25 01:38] fernandog commented on #433
waiting to be merged. closing as it's working the commit

[2015-01-25 01:38] #433 closed

[2015-01-25 01:43] abeloin commented on #475
Patience is a virtue, in this case a long one ;)

[2015-01-25 01:44] fernandog commented on #369
@Wickemu still having this issues with the latest update? have you tried DEVELOP branch?

[2015-01-25 01:45] fernandog commented on #442
closing as we didn't received a reply.

[2015-01-25 01:48] fernandog commented on #475
yes. but Google/Outlook don't wait that long. took 4 minutes to all info show up in the browser
but this is a low priority for me.

[2015-01-25 01:49] fernandog commented on #2
@Rafkat are you still having this issue? Did you try the latest DEVELOP branch?

[2015-01-25 01:50] fernandog commented on #78
closing as I didn't received an reply

[2015-01-25 01:50] #78 closed

[2015-01-25 01:52] fernandog commented on #231
@falcon15500 @freddysmith1 is this issue still happening? Can you try develop branch and report back please?

[2015-01-25 01:53] fernandog commented on #258
@pr0xyfl00d3r are you still having this issue? please submit full logs. Report back otherwise will close it.

[2015-01-25 01:55] fernandog commented on #264
https://github.com/SiCKRAGETV/SickRage/pull/1218

[2015-01-25 01:56] fernandog commented on #265
https://github.com/SiCKRAGETV/sickrage-issues/issues/173

[2015-01-25 01:56] #265 closed

[2015-01-25 01:58] fernandog commented on #316
closing. no reply and it's a user script issue.

[2015-01-25 01:58] #316 closed

[2015-01-25 01:59] fernandog commented on #348
@trebonius2 please set your OS language to UTF-8

[2015-01-25 02:00] fernandog commented on #336
@cvockrodt can you test this on develop branch and report back?

[2015-01-25 02:03] #271 closed

[2015-01-25 02:03] fernandog commented on #271
https://github.com/SiCKRAGETV/SickRage/commit/972ee14216a6146e69fa909355791380d4c4e1bf

[2015-01-25 02:04] fernandog commented on #361
@a7medo778 still having problems?

[2015-01-25 02:07] fernandog commented on #296
@depisode can you report back otherwise will close this

[2015-01-25 02:09] fernandog commented on #129
@Thraxis is this still an issue?

[2015-01-25 02:10] fernandog commented on #231
@abeloin is this related to the fix you did about network?

[2015-01-25 02:11] abeloin commented on #242
Question:
* What is the schema used to connect to rtorrent? scgi or http(s)
* If you use authentication on http, which type? Basic or Digest

[2015-01-25 02:16] Thraxis commented on #129
Yes this is still a problem.

[code]

[2015-01-25 02:20] fernandog commented on #129
@Thraxis can you try open localhost:8081/apibuilder? Test some API commands and see if works

[2015-01-25 02:25] kooimens commented on #461
As search settings I can specify, `Require words` or `Ignored words`. An option to specify `Preferred words` make sense in cases where I want to add for example a language+subs to prefer downloading releases with those words over releases without them. I use this option with couchpotato and that's working great. It seems to work with scores. The NZB with the highest total score will be selected fo

[2015-01-25 02:28] Thraxis commented on #129
Yes the API Builder works fine.   But whatever changes were made breaks sickbeard connect from communicating with sickrage

[2015-01-25 02:30] abeloin commented on #231
@fernandog No

[2015-01-25 02:30] fernandog commented on #129
@Thraxis isn't a problem with sickbeard connect?  The api has changed. I was added some others fields to it. Depending how sickbeard connect code is. it could'nt read the new api fields.

[2015-01-25 02:33] fernandog commented on #461
thanks

[2015-01-25 02:36] fernandog commented on #231
@abeloin to this this shouldn't we just change:

if len(deque) == 1 and len(deque[0]) <= size:

to
if deque:
    if len(deque) == 1 and len(deque[0]) <= size:

[2015-01-25 02:40] fernandog commented on #129
looks like the app is abandoned:

https://chrome.google.com/webstore/detail/sickbeardconnect/ljfjkhejnkopmfdadafjoklibhggokpb/support?hl=en

"Doesn't work anymore
I tried it with Sickbeard and Sickrage with all the latest commits installed. Please update the app, as it is not working anymore!
Posted by Marco Mattei - Jan 11, 2015
Reply | Mark as spam

Yeah, is the extension being maintained? If no

[2015-01-25 02:41] #129 closed

[2015-01-25 02:43] sgtwtf opened #481 "Letter Я causes error 123"
there is an episode of the Simpsons entitled HOMEЯ.

That Я on the end causes an error "[Error 123] The filename, directory name, or volume label syntax is incorrect: "

I had to remove to episode to get SR to finish adding all the episodes then have it post process the file.
Once done the show is named properly. However  when i click to view the show from any SR page i get that white error page.

[2015-01-25 02:44] fernandog commented on #481
@sgtwtf please post the result of SSH:

[code]

[2015-01-25 02:46] sgtwtf commented on #481
this is running on a Linux system

[2015-01-25 02:47] fernandog commented on #481
ok.
please follow the guidelines then: https://github.com/SiCKRAGETV/sickrage-issues

[2015-01-25 02:50] fernandog commented on #481
check you OS language settings. Make sure its UTF-8

[2015-01-25 02:54] sgtwtf commented on #481
os = Win7
PY VER=2.7

CLOSE Ticket please.

I had restarted it but never shut it down all the way. upon reboot it is fine now.

Thank you for the help.

L O V E  THIS program.

[2015-01-25 02:55] fernandog commented on #231
@falcon15500 @freddysmith1 try to use this file:
https://raw.githubusercontent.com/fernandog/SickRage/patch-20/tornado/iostream.py

change it in /SickRage/tornado/iostream.py
backup first.

[2015-01-25 02:56] #481 closed

[2015-01-25 02:57] Thraxis commented on #129
Looking back into this from the plugin logs.  Sickrage is returning an error code 405 (Method Not allowed)  this is using a POST request.

[2015-01-25 02:58] fernandog commented on #129
@Thraxis I see. SR is continuously changing. We can't help with a outdated app. Sorry.
Please try to contact sickbeard connect developer.

[2015-01-25 03:00] fernandog commented on #244
not an issue. Open subtitle as down.

[2015-01-25 03:00] #244 closed

[2015-01-25 03:02] fernandog commented on #471
@abeloin what did you do to generate this error?

This https://github.com/SiCKRAGETV/sickrage-issues/issues/258 has the same error message

[2015-01-25 03:16] abeloin commented on #231
@fernandog Would it not be the other way around? As the remaining code will do nothing.
[code]
But it is a bit in the code to catch it.

[2015-01-25 03:20] fernandog commented on #231
@abeloin but why does it that checks and comparison with size? As I don't know I did that =)

[2015-01-25 03:30] Greg0rz opened #482 "Anime Searching: Shows with New Titles for Each Season Do Not Work"
Problem:
Not finding any search results for the show. It seems to not be using the proper combination of the scene name of absolute numbering.  Since its an anime, the absolute numbering is correct, but it still does not find any results.  This happens for similar shows (Yowamushi Pedal Grande Road aka Yowamushi Pedal Season 2).

TVDB Entry: Kuroko's Basketball
Scene Name: Kuroko's Basketball 3
Se

[2015-01-25 03:30] abeloin commented on #231
Look at the example provided:
[code]
It check if there's only one string provided, and if the size of that string is inferior or equal return as there is nothing to do.

[2015-01-25 03:30] Greg0rz opened #483 "uTorrent 2.2.1 Labels and Seed Time are not Added to Torrent"
Using uTorrent 2.2.1, no labels or seed time are applied to the torrent.  The issues are described in depth in this thread:
https://sickrage.tv/forums/forum/help-support/general-support/11626-sickrage-latest-version-utorrent-2-2-1-cannot-apply-label

[2015-01-25 03:32] fernandog commented on #483
please past here all infos and follow the guidelines: https://github.com/SiCKRAGETV/sickrage-issues

[2015-01-25 03:33] fernandog commented on #231
so we can do just what you wait? will close the PR and submit another.

[2015-01-25 03:34] fernandog commented on #482
please follow the guidelines:
https://github.com/SiCKRAGETV/sickrage-issues

[2015-01-25 03:36] Greg0rz commented on #483
SR Version:	BRANCH: (master) / COMMIT: (401cb666016e45b42fe675bafdf7908ad6c2b9bb)
SR Config file:	C:\SickRage-master\config.ini
SR Database file:	C:\SickRage-master\sickbeard.db
SR Cache Dir:	C:\SickRage-master\cache
SR Arguments:	[]
SR Web Root:
Python Version:	2.7.8 (default, Jun 30 2014, 16:03:49) [MSC v.1500 32 bit (Intel)]

Operating System: Windows Server 2012 R2

[2015-01-25 03:36] Greg0rz commented on #482
SR Version:	BRANCH: (master) / COMMIT: (401cb666016e45b42fe675bafdf7908ad6c2b9bb)
SR Config file:	C:\SickRage-master\config.ini
SR Database file:	C:\SickRage-master\sickbeard.db
SR Cache Dir:	C:\SickRage-master\cache
SR Arguments:	[]
SR Web Root:
Python Version:	2.7.8 (default, Jun 30 2014, 16:03:49) [MSC v.1500 32 bit (Intel)]

[2015-01-25 03:38] fernandog commented on #483
@Greg0rz please post full logs

[2015-01-25 03:38] abeloin commented on #471
@fernandog Display the show list with poster, refresh the page a multiple time in a very short interval.
I use a reverse proxy to access sickrage so it can be a factor.

For this and len none type the common root is always:
[code]
It look like ioloop is losing the file descriptor in between the initial call and the redirect reply.

[2015-01-25 03:39] Greg0rz commented on #483
2014-12-10 13:08:22 SEARCHQUEUE-MANUAL-280329 :: uTorrent: Unable to set the label for Torrent 2014-12-10 13:08:22 SEARCHQUEUE-MANUAL-280329 :: uTorrent: Unable to connect error HTTPConnectionPool(host='localhost', port=9090): Max retries exceeded with url: /gui/?action=setprops&s=seed_override&hash=7ee22741a463 ddc950b7d48b10bfaf7ee6f97942&token=HYpZoTRm6li7-oTojTXL6ggSHmPWgkcRhwVdhTMc9LjLtNieQxn

[2015-01-25 03:40] fernandog commented on #482
@Greg0rz please post initial and arquive qualities for this show and full logs

[2015-01-25 03:41] fernandog commented on #471
@abeloin I understand nothing in the last line. It's like Chinese to me =) I'm not in that advanced level.

[2015-01-25 03:42] fernandog commented on #471
@abeloin that fix isn't good? Why close a door that's is already closed?

[2015-01-25 03:43] Greg0rz commented on #482
Initial Quality is ANY.

Archive Quality is ANY.

http://pastebin.com/R3tsH88U

[2015-01-25 03:43] abeloin commented on #231
Don't delete:
[code]
put it before:
[code]

[2015-01-25 03:43] fernandog commented on #483
@Greg0rz FULL logs. DEV need the DEBUG part of the log.

[2015-01-25 03:44] Greg0rz commented on #483
This is pretty much all that it gives you.  All of the relevant information is available in the thread posted above

[2015-01-25 03:44] abeloin commented on #231
But this is a band-aid as the none type is floating around in will cause other issue. We need to find the cause of it.

[2015-01-25 03:45] fernandog commented on #231
@abeloin will wait @echel0n then =)

[2015-01-25 03:49] fernandog commented on #482
@Greg0rz your log is strange. SR don't say why is rejecting those files. Did you try to open the URL from the log?

 https://api.omgwtfnzbs.org/json/?search=HorribleSubs.Kuroko.no.Baske.3.52&catid=19%2C20&eng=1&api=********************************&user=***********&retention=500

post the result here

[2015-01-25 03:54] abeloin commented on #471
I've been reading Tornado's manual as I've never work with it before.

From what I can understand the call are made asynchronously and ioloop is used to track those requests. So if the os detect the port is closed it remove the request from ioloop as SR it processing the request it could result in the error we are seeing. But it need further investigation.

I bet echelon could fix this is eyes clo

[2015-01-25 03:55] abeloin commented on #471
I'm not familiar with that reference:
Why close a door that's is already closed?

[2015-01-25 03:56] Greg0rz commented on #482
omgwtfnbzs isnt the source for the anime.  nyaa would be the only one w/ results

[2015-01-25 04:02] abeloin commented on #482
It's looking without the '
[code]
What's the content of Scene Name for that show?

[2015-01-25 04:02] fernandog commented on #482
this the result:

[code]

I think the problem is the [zimabdk] in the begining of the name. Try add this to scene exception

[2015-01-25 04:02] Greg0rz commented on #482
I manually set the scene name to "Kuroko's Basketball 3".

This is what the torrent names were showing up as on nyaa

[2015-01-25 04:03] fernandog commented on #482
read my above post

[2015-01-25 04:04] Greg0rz commented on #482
I have wanted group set to:
Wanted Group:	HorribleSubs

Which is one of the available releases on nyaa

[2015-01-25 04:05] fernandog commented on #471
@abeloin the code is trying to close a connection that is already closed, isn't? that's why I check if is open before close it

[2015-01-25 04:06] fernandog commented on #482
searching the site is different from searching using the rss.
the result has "[zimabdk]" in the title! try add that to scene exceptions

"[zimabdk]Kurokos Basketball 3"

there's nothing about HorribleSubs in the RSS result of that provider

[2015-01-25 04:12] Greg0rz commented on #482
It does not like me adding the string "[zimabdk]Kurokos Basketball 3" to the "Scene Exception".  Just get a constantly loading indication.

[2015-01-25 04:36] Greg0rz commented on #482
I think the problem is that it's omitting apostrophes from the URL search. How can I fix this?

[2015-01-25 04:40] abeloin commented on #482
@fernandog Maybe we need a version of sanitizeSceneName() for anime?

[2015-01-25 04:47] gotson opened #484 "Poster thumb for shows are incorrect/inverted"
Since recently sometimes the poster shown on the show list page is inverted for some shows. Usually restarting sickrage fixes the issue, but this time it doesn't.
is there anything to do like clear the cache or something ?

tks

[2015-01-25 04:57] #484 closed

[2015-01-25 05:21] xoxojackie opened #485 "POSTPROCESS fails to create symlinks"
**Branch:** Dev, also tried with Master
**Commit hash:** 91cb8d885ca278e5829ed53d856d578c8ee8cbe0
**Your operating system and python version:** Ubuntu 14.10, Python 2.7
**What you did:** Post-processed an episode with the option to symlink selected, both manually and automatically
**What happened:** symbolic link failed, file copied instead.
**What you expected:** a symlink

It would appear that S

[2015-01-25 05:49] drglove commented on #292
This is a limitation in the Sickrage API, not the TVRage API right?
Wouldn't a fix for this include modifying Sickrage to use the special information from the metadata handed out by TVRage?

[2015-01-25 06:46] RHYSTICGON opened #486 "SickRage .deb package for netgear readynas 102"
Hello I was wondering if its possible to develop or list the steps I would need to go through to develop a .deb package for sickrage to run on a netgear ReadyNAS 102.

The os running on the nas is ReadyOS 6.2.2 currently there is a sickbeard alpha piratebay fork available for it through the available apps section. While this works its missing a few key features primarily a preferred words listing

[2015-01-25 06:47] nytemyst commented on #242
Does not work on the latest develop version
used both scgi and http.
There's no option for basic or digest.

[2015-01-25 09:58] HarleyCarter1234 commented on #433
where can I see the commit that relates to this? The thing that lars linked doesn't seem to be relevant

[2015-01-25 10:00] tchirou commented on #456
Can I manually modify the files and have no problem with the next update ?

[2015-01-25 10:29] BloomSN commented on #480
2015-01-25 11:22:45 DEBUG    Thread-87 :: Searching for Show with searchterm: Glee on Indexer: theTVDB
2015-01-25 11:22:39 DEBUG    Thread-53 :: Can't load the metadata file from u'H:\\TV Shows\\Glee\\tvshow.nfo', it doesn't exist
2015-01-25 11:22:39 DEBUG    Thread-53 :: Can't load the metadata file from u'H:\\TV Shows\\Glee\\tvshow.nfo', it doesn't exist

nothing happnes after that.

[2015-01-25 11:48] fernandog commented on #480
delete the .nfo file (backup) and try again please

[2015-01-25 11:50] fernandog commented on #456
@tchirou you can modifybut when an update is available you'll have to SSH and:
stop SR
git checkout develop
git reset --hard HEAD
start SR

[2015-01-25 11:52] fernandog commented on #433
because GIT shows the changed lines. to view entire file you must click "VIEW" on each file

[2015-01-25 11:52] BloomSN commented on #480
if you mean the tvshow.nfo in show folder it does not exist in first place

[2015-01-25 11:54] andyblac commented on #476
or hover over '?' icon in the list.

[2015-01-25 11:56] fernandog commented on #482
@abeloin maybe

It's strange that RSS result is different from websearch. Or Am I looking wrong?!

[2015-01-25 12:06] fernandog commented on #482
SR is using this URL:
http://www.nyaa.se/?page=rss&sort=2&term=Kurokos.Basketball.3&cats=1_37

instead of:
http://www.nyaa.se/?page=rss&sort=2&term=Kurokos+Basketball+3&cats=1_37

@Greg0rz try add "Kuroko Basketball 3" to scene exception (without apostrophe and the "s")

[2015-01-25 12:10] fernandog commented on #480
@BloomSN when you added the show, does it have .nfo that time?

[2015-01-25 12:17] BloomSN commented on #480
@fernandog  No it does not have it. Not before i add it not after it goes in loading process.

[2015-01-25 12:30] netohugo commented on #479
Sorry @abeloin....
after a few cold beers and the kids screaming through all the house it's gets hard ...
My fault, sorry

[2015-01-25 12:31] tchirou commented on #456
Ok so do I need to disable automatic updates to prevent problems ?
To sum it up
I disable automatic updates
I stop SR
I modify the files
I start SR
whenever SR says there is a new version, I stop SR and do what you advise
Is that alright ?
It will keep my config.ini and my sickbeard.db, right ?

[2015-01-25 12:34] fernandog commented on #456
yes
backup them from time to time (the the backup feature of SR)

[2015-01-25 12:36] fernandog commented on #480
@BloomSN please subtmit full logs. otherwise can't help

[2015-01-25 12:36] tchirou commented on #456
Ok thanks
I use goodsync and Dropbox to backup the whole folder regularly
Do you have any clue about when the next update will be published ?

[2015-01-25 12:39] fernandog commented on #456
no. dev is way for a while

[2015-01-25 12:54] HarleyCarter1234 commented on #433
that's fine, but are you saying that the commits linked above from Lars are fixing this and that is why it's closed? Or, there are some more commits somewhere else to add this. The stuff from Lars doesn't look like it has anything to do with the issue unless i'm missing something

Default Episode Status is not relevant to the problem here ... or i'll wait and see when it's merged

Thanks for the u

[2015-01-25 13:04] fernandog commented on #433
@HarleyCarter1234 sorry. What you want is already merge in the develop branch

[2015-01-25 13:10] tchirou commented on #456
yeah I heard the good news
So I imported the url on another gmail adress and all the shows are displayed
So I confirm that the fixs works
Many thanks @abeloin
waiting for the google refresh now
Do I close ?

[2015-01-25 13:15] BloomSN commented on #480
sorry couldnt add to pastebin file too big

https://mega.co.nz/#!3143wJII!BfN6Wcao58-BFfKNegsVwhS7vlQ4CrJs6ei1y8asSkQ

[2015-01-25 13:18] #456 closed

[2015-01-25 13:28] fernandog commented on #480
only Stargate has this problem?
I think it's a problem with the naming of the files.

I think they shoud 1x01 and not 01x01

[2015-01-25 13:30] BloomSN commented on #480
stargate has no problem actually, adding new show like Glee gets stuck at loading.
as seen on forum post here:
https://sickrage.tv/forums/forum/help-support/general-support/16979-new-shows-stuck-to-loading

[2015-01-25 13:32] fernandog commented on #485
please post your "Process Episode Method:" setting at http://localhost:8081/config/postProcessing/

[2015-01-25 13:40] fernandog commented on #480
there's nothing in your LOG about GLEE.
please find the log(s) with glee and submit full logs

[2015-01-25 13:47] BloomSN commented on #480
please see this log

https://mega.co.nz/#!CoxBQCAY!LiRegrt0MkQw0l5R6oPc7maMaapmPruWPtEPYzhuXMc

i also enabled debug

[2015-01-25 14:08] fernandog commented on #480
how many hows are you trying to add?
Did you choose "All Indexers" when adding the?
How long have you waited to SR to search and fetch all data to add all shows?
If this shows have a lot of seasons/episodes it will take time to add all info.

when adding them check in the localhost:8081/home page if infos / banners are appearing after a while.

I saw no error. SR takes time to load everything when

[2015-01-25 14:10] BloomSN commented on #480
Tryed to add just that 1 and has only 3 seasons and i have waited whole night and noething happend

 infos/banner does not appear, tryed all indexers and then one by one no luck

[2015-01-25 14:16] fernandog commented on #480
@BloomSN there's no error in your log. Also if you do a mass refresh while adding shows will take A LOT longer.

[2015-01-25 15:19] BloomSN commented on #480
I have deleted whole sickrage folder and redownloaded tried to add and it adds now. Maybe there were some problems in settings i made, because if i restored them form backup i was again unable to add shows.

[2015-01-25 16:21] Youmi15 commented on #361
Since this is still open, I am experiencing a similar error. Did a fresh SR install this morning, so I am running the latest version. A manual search at the indexer shows that the episode is available.

Log:
[code]
When I copy the search url in firefox, I get the following message:

[code]
Print screen of tv shows page:
![shows](https://cloud.githubusercontent.com/assets/10669555/5892188/9012c1e6-

[2015-01-25 17:30] abeloin commented on #479
@netohugo Don't worry, there's no need to be sorry for that. Hopefully those cold beers were refreshing? ;)

For CP with GD, did it found results?

[2015-01-25 17:36] abeloin commented on #482
@fernandog The scene name for season 3 are pulled from xem(http://thexem.de/xem/show/1857) so there's no need to add them to the exception list.

[2015-01-25 17:51] kristofferbas opened #487 "Add file size"
Would be great to be able to see the size of downloaded files. Sometimes lower quality files are marked as higher, and to see the file size in SickRage and be able to download a new file is easier than to check all the files manually.

[2015-01-25 17:52] abeloin commented on #292
@drglove Yes and yes but I don't know when it will be fixed by Echelon so, for the time being, a notice has been put in place to inform user's of the current limitation.

[2015-01-25 17:56] abeloin commented on #242
@nytemyst For http I'm looking for which type the web server is asking.

[2015-01-25 18:02] amgreenwalt commented on #458
Yes, the "host", "port", "username" & "password" are all filled out and correct.  "Web_root" has always been blank & "ssl" has always been set to 0 (zero).  None of this has changed in the past year.

[2015-01-25 18:18] fernandog commented on #482
Its outdated then or poster use the wrong name.

[2015-01-25 18:26] timkatgert opened #488 "SickRage returns an invalid charset as header response with API requests"
I've created an android app to easy manage all kinds of usenet services but with SickRage I'm getting charset UTF-8 errors. I've Sickbeard running with it's API and there is no problem at all.

The Content Type I'm getting returned is: Content-Type: application/json;charset=UTF-8' (Notice the ' at the end)
and the content-type from Sickbeard is: Content-Type: application/json;charset=UTF-8 (withou

[2015-01-25 19:07] #480 closed

[2015-01-25 19:44] xoxojackie commented on #485
It's set to "Symbolic Link"
![image](https://cloud.githubusercontent.com/assets/10625767/5892952/416e0d02-a498-11e4-8e2e-6cdeb70b0df6.png)

[2015-01-25 19:53] nytemyst commented on #242
I'm using a seedbox so i'm not sure where i would be able to find that information. I guess i can email them and see the response I get.

[2015-01-25 20:16] abeloin commented on #242
@nytemyst no need for now as the rtorrent library in sickrage doesn't handle https connection and scgi is only good for local connection.

To check for the authorization type login, while you try to open rutorrent's webpage check in developer network console the next request after the one were you get a 401 error. If you digest or nonce it's digest.

[2015-01-25 20:17] abeloin commented on #242
@AdamWhite @Semsettin Is your rtorrent on the same machine as sickrage?

[2015-01-25 20:19] AdamWhite commented on #242
It is. Though it may be configured to talk via no-ip address. Will check
tomorrow when I am home.

On Sunday, January 25, 2015, Alexandre Beloin <notifications@github.com>
wrote:

--
Sent from Gmail Mobile

[2015-01-25 20:25] abeloin commented on #242
@AdamWhite And your host: port is: scgi://localhost:6009/ ?

[2015-01-25 20:29] AdamWhite commented on #242
Will let you know  tomorrow. I am on my phone and have no access to the to
my NAS to check for you.

On Sunday, January 25, 2015, Alexandre Beloin <notifications@github.com>
wrote:

--
Sent from Gmail Mobile

[2015-01-25 20:31] Greg0rz commented on #482
Scene Name:	        Kuroko Basketball 3
Wanted Group:	HorribleSubs

This scene name finds the releases that I want.  However, it ignores them as shown in the log below:

2015-01-25 15:28:23 DEBUG    SEARCHQUEUE-BACKLOG-257765 :: [NyaaTorrents] :: Added RSS item: [[HorribleSubs].Kuroko's.Basketball.3.-.51.[480p].mkv] to cache: [nyaatorrents]
2015-01-25 15:28:23 DEBUG    SEARCHQUEUE-BACKLOG-257765 :

[2015-01-25 20:51] LinuxBozo commented on #301
The above referenced pull request should update everything to the new 2.0 API.

Until it gets merged, you can integrate it yourself into your own personal forks or local installations.
1. Make sure you are `develop` branch
2. Use curl to get and apply the patch
      ```curl https://github.com/SiCKRAGETV/SickRage/pull/1241.patch | git am```

[2015-01-25 21:04] abeloin commented on #458
Can you check the username and password because SR will redirect to the login page on wrong credential.

If the credential are good, try replacing your autoProcessTV.py by this [one](http://pastebin.com/DN642PvA). It should give us more info.

[2015-01-25 21:17] abeloin commented on #488
@timkatgert This pull request should resolve your issue.

[2015-01-25 21:22] Greg0rz opened #489 "Wanted Group/Unwanted Group Being Ignored by Anime Search"
PC:
Windows Server 2012 R2

SickRage Configuration:
SR Version:	BRANCH: (master) / COMMIT: (401cb666016e45b42fe675bafdf7908ad6c2b9bb)
SR Config file:	C:\SickRage-master\config.ini
SR Database file:	C:\SickRage-master\sickbeard.db
SR Cache Dir:	C:\SickRage-master\cache
SR Arguments:	[]
SR Web Root:
Python Version:	2.7.8 (default, Jun 30 2014, 16:03:49) [MSC v.1500 32 bit (Intel)]

What Happened:
Ad

[2015-01-25 22:03] timkatgert commented on #488
Thanks alot!

[2015-01-25 22:03] #488 closed

[2015-01-25 23:27] fernandog commented on #485
@abeloin do you undestand about this?

[2015-01-25 23:41] josh4trunks opened #490 "Webserver not working with web_root"
Branch ~ master
commit ~ 401cb666016e45b42fe675bafdf7908ad6c2b9bb
OS ~ FreeNAS, python2.7
What I did ~ web_root = /sickrage, browse to http://server:8081/
What happened ~
[code]
Instead of the usual re-direct

[2015-01-26 00:44] ActiveNine opened #491 "Deleting downloads: You're trying to post process a video that's already been processed, skipping"
For the last few weeks SickRage has been successfully snatching and downloading episodes but when the post-processing occurs I get the error "You're trying to post process a video that's already been processed, skipping". This deletes the downloaded episode and no further searches are performed. After this occurs if I do a manual search it sometimes is successful, other times the same thing happen

[2015-01-26 00:51] abeloin commented on #485
Yes, let me look at the code.

[2015-01-26 01:08] abeloin commented on #485
@fernandog It's failing because os.rename try to rename(move) the file across different partition.

[2015-01-26 01:25] fernandog commented on #485
So why is that a problem? its a common thin isnt? Isnt supposed to just symlink?

[2015-01-26 01:56] abeloin commented on #485
@fernandog You can't rename a file to a "different drive". Not really as people don't usually have multiple drive. It suppose to move the file to the destination dir then symlink it back to the source dir.

[2015-01-26 01:57] abeloin commented on #485
@xoxojackie This pull request should resolve your issue.

[2015-01-26 03:01] abeloin commented on #242
@fernandog This pull request SiCKRAGETV/SickRage#1244 should help resolve issues regarding the http part of connection to rtorrent.

[2015-01-26 03:14] cvockrodt commented on #336
@fernandog I just cloned the develop branch and tried it out. The input field is now just empty.

[2015-01-26 03:21] abeloin commented on #489
Fixed in develop https://github.com/SiCKRAGETV/SickRage/commit/7796f06b944512d811a2e0929cdf5930e379b2b8
Not merge in master yet.

[2015-01-26 03:33] abeloin commented on #361
@Youmi15 You should contact nzbgeek as there's something wrong on their end.

[2015-01-26 03:46] abeloin commented on #336
@fernandog @cvockrodt The default_host dict is not used anywhere in the code and, looking into the git history, was like that since the first commit

[2015-01-26 03:49] cvockrodt commented on #336
@abeloin Yeah I never said it used to work, just saying if we have a default_host dict, we should be using it right?

[2015-01-26 04:06] abeloin commented on #336
@cvockrodt Yes and no ;) meaning I would recommend removing the code from __init__.py and use it in config_search.tmpl instead.

[2015-01-26 04:45] abeloin commented on #329
@WarB3asT Is Flatten Folders checked?

[2015-01-26 05:37] WarB3asT commented on #329
@abeloin In some of my animes i have Flat Folders check, but not all of them.

[2015-01-26 06:29] xoxojackie commented on #485
Changed the lines from your pull myself locally, and it's working great now.

Thanks for working on what I guess is a unique case. I appreciate it!

[2015-01-26 06:34] paparen opened #492 "[Bug]: Setting episode status to "skipped" but still downloading episodes"
I changed the default episode status to skipped and changed each show individually to skipped, but sickrage still downloads the episodes.
running:
BRANCH: (master) / COMMIT: (401cb666016e45b42fe675bafdf7908ad6c2b9bb
on synology

[2015-01-26 08:01] Youmi15 commented on #361
@abeloin I tested it with other indexers (OZNZB and NZBPlanet) and I get the same output... Besides, Couchpotato has no problems with this error.

I see now that it also occurs here:
[code]

[2015-01-26 09:04] fernandog commented on #242
Thanks!!

[2015-01-26 09:04] #485 closed

[2015-01-26 09:08] fernandog commented on #492
You should set as IGNORED or ARCHIVED.

[2015-01-26 09:21] #489 closed

[2015-01-26 09:31] fernandog commented on #242
That PR is huge! thanks a lot =)

[2015-01-26 09:34] fernandog commented on #301
@LinuxBozo can I do this patch thing with all commits or just yours?

[2015-01-26 11:30] fernandog commented on #231
@freddysmith1 @falcon15500 how to reproduce it and test the fix?

[2015-01-26 11:47] fernandog commented on #490
@josh4trunks what if you open http://server:8081/sickrage?

[2015-01-26 11:48] fernandog commented on #491
@TagForce can you help me with this? I don't use PP.

[2015-01-26 11:49] fernandog commented on #492
you can also PAUSE an entire show.

[2015-01-26 11:49] #492 closed

[2015-01-26 12:14] AdamWhite commented on #242
Just an update, my connection is http://<ip>:6009

-- 
Adam White

On 26 January 2015 at 09:31:27, Fernando (notifications@github.com) wrote:

That PR is huge! thanks a lot =)

—
Reply to this email directly or view it on GitHub.

[2015-01-26 13:14] TagForce commented on #491
@fernando I'll try.
@ActiveNine In the case of your logs: SR will lookup any episode with a release_name that's equal to "Girls.S04E02.480p.HDTV.x264-REenCO" or that is in your history as having been previously downloaded and has a 'resource' value equal to the full filename and path.

So basically, SR thinks it already has this episode.
Could you perform a re-scan and/or a full update on the affe

[2015-01-26 13:39] pct00 opened #493 "Request - Add option to filter "Unknow" quality on show page"
Is it possible to add a filter for the episodes with quality Unknown to the show page ?

![image](https://cloud.githubusercontent.com/assets/10249098/5900411/c1509b20-a560-11e4-91a8-eefe96ded963.png)

[2015-01-26 14:02] LinuxBozo commented on #301
@fernandog You can pretty much do that with any pull request on github.  Just append .patch to the URL and pipe through to git am.

[2015-01-26 14:28] abeloin commented on #329
@WarB3asT Ok, first there's a bug in the JavaScript which highlighted the wrong section when the anime pattern is invalid and and the tooltip aren't shown.

Check the log after the text become red, you will see the validating results, example [name pattern: %Sx%0E. %SN - %EN](http://pastebin.com/LnCCnhVM).

In this case, the invalid regex is "bare":
[code]

[2015-01-26 14:34] abeloin commented on #242
@AdamWhite ok, since you sickrage and rtorrent are on the same machine you should use scgi instead(no username and password). Look in your .rtorrent.rc for a line starting with:
[code]
to confirm your port is 6009.

[2015-01-26 14:43] abeloin commented on #242
@fernandog I had to update the requests library to use disable_warnings and this is why it is so big. If you look at the second commit, which is the were the real changes are, it's rather small. The good thing is that I didn't had to create an xml transport adapter from scratch since it's the one I use to check and transfer files from a seedbox.

[2015-01-26 14:56] fernandog commented on #242
@abeloin I see. I thought you wrote all of that =)

[2015-01-26 14:58] fernandog commented on #493
@pct00 don't they appear as "Low quality" ?

[2015-01-26 15:08] josh4trunks commented on #490
it works, so it just seems to be the redirect that is no longer working

[2015-01-26 15:13] fernandog commented on #490
@abeloin do you know how to fix it?
thanks and sorry If I'm bothering you

[2015-01-26 15:18] TagForce commented on #487
https://github.com/SiCKRAGETV/SickRage/pull/1248

New PR. It is now an option under General -> GUI
Also changed the min-width for the Name column when Display Filesizes is selected to make sure it wraps at the same moment on small-screen browsers (ie. Mobile devices)

[2015-01-26 15:20] fernandog commented on #493
@pct00

stop SR
edit /SickRage/tv.py
change line 1278 from:

[code]

to
[code]

start SR
let me know if works.
mind the identation!

[2015-01-26 15:23] fernandog commented on #487
@TagForce nice! thanks!

[2015-01-26 16:00] abeloin commented on #361
@Youmi15 It's not because Couchpotato work there's no bug!

Have a look in your nzbgeek search categories config, what are the categories chosen(right side)?
![Imgur](http://i.imgur.com/HjmC9Q0.png)
My guess is none from the url you provided. As the category was specified and there is no categories provided, the server should return an xml with <newznab:response offset="0" total="0"/>, in your cas

[2015-01-26 16:02] fernandog commented on #361
I have nzbgeek and it's working.

[2015-01-26 16:03] pct00 commented on #493
@fernandog hi, thanks for the fast reply.
the episodes show up as regular downloaded episodes...
tonight when i get home i'll make the changes and update this issue after a few days of testing

[2015-01-26 16:06] abeloin commented on #242
@fernandog I'm not that good ;)

[2015-01-26 16:07] abeloin commented on #490
@josh4trunks if you try http://server:8081/sickrage/this_is_invalid_path it does redirect?

[2015-01-26 16:07] fernandog commented on #493
@pct00 ok! keep in mind that all UNKNOWN episodes will appear as BACKLOG and SR will try to find better qualities until it finds!

[2015-01-26 16:20] fernandog commented on #490
@abeloin just tested and it redirects

for example: http://localhost:8081/sickrage/homeeeee/ to http://localhost:8081/sickrage/home/

[2015-01-26 16:26] abeloin commented on #490
@fernandog That is what I thought, now the question is what is the expected behavior? Did Sickrage redirected to the webroot when the path is on the left side of the webroot before?

[2015-01-26 16:29] fernandog commented on #490
@abeloin I would do a check: if webroot then redirect to /webroot/home otherwise just /home. This only happens when there's nothing just IP:port

[2015-01-26 17:42] matigonkas opened #494 "Feature Request: Torrent provider Ztuga"
Ztuga its a Portuguese private tracker ,that at the moment is open to the public, and having it in SR would be a great addition .Why this and not other? Well this one has something called karma points which are gained sonelely by seeding torrents (every hour=1karma point AFAIK) that can be used to "purchase" goodies like free leech for everybody on the tracker, gaining more ratio ,more upload coun

[2015-01-26 19:37] distracto opened #495 "[Feature Request] Archive on first match missing from new show defaults"
Would it be possible to add the option to archive on first match when adding a new show? currently i either have to select the archive to be the same as the first match and then go into the edit page of the show to set archive as first match.

i prefer to have shows set to archive as first matched so i can tell which ones i want to archive or not. setting the archive the same as first matched does

[2015-01-26 19:48] sgtwtf opened #496 "backlog search ineffective"
Maybe a configuration on my part but i don't know whats wrong. When it searcher for a new episode that airs now. it finds it no problem.
However, if i go into that show and click search the next day it won't find anything. quality does not matter.

I discovered this while troubleshooting my Mythbusters. I can manually go to my indexer and find and download the file and SR will post-process as expe

[2015-01-26 19:55] fernandog commented on #496
@sgtwtf have you enabled in all providers "daily search" and "backlog search" ?

[2015-01-26 20:00] sgtwtf commented on #496
Yes they are. A long time ago I didn't and I figured that out then. I don't
see what is wrong
On Jan 26, 2015 11:55 AM, "Fernando" <notifications@github.com> wrote:

[2015-01-26 20:01] abeloin commented on #490
@fernandog If you try http://localhost:8081/invalidname it redirect to http://localhost:8081/sickrage/home/ ?

[2015-01-26 20:08] abeloin commented on #496
It's looking for S01E01
[code]

[2015-01-26 20:20] sgtwtf commented on #496
For a portion it is. It also searches nzbgeek and oznzbd
On Jan 26, 2015 12:08 PM, "Alexandre Beloin" <notifications@github.com>
wrote:

[2015-01-26 20:27] fernandog commented on #490
no

[2015-01-26 20:37] abeloin commented on #496
It is weird as sickrage says it's looking for 1x4 but actually request search results for 1x1 to nzbgeek and oznzbd.

Could you try with another episode and posting the resulting log?

[2015-01-26 20:41] fernandog commented on #496
@sgtwtf we don't support changes in the code like changing thepiratebay to use oldpiratebay.
please try without TPB and post new log please.

[2015-01-26 20:42] pct00 commented on #493
@fernandog doesn't seem to be working, tried a re-scan ,full update, removing and adding a show again but the episodes with qlty unknow don't count to the low quality, they remain as downloaded
backlog also doesnt process them since they are considerered "ok" i guess

[2015-01-26 20:43] fernandog commented on #493
@pct00 have you changed both lines?

[2015-01-26 20:45] pct00 commented on #493
@fernandog i need to start paying attention and read the full comments.... only had made 1 of the changes. restarting now after making both changes and will let you know. sorry....

[2015-01-26 20:47] sgtwtf commented on #496
new log http://pastebin.com/V6bz7Uwh

And just an FYI i did not change one piece of code i wouldn't know where to start lol

[2015-01-26 20:48] alexkoon opened #497 "Backlog Search Failing on all shows."
When trying to force a backlog individually or en mass - I get the following per show.

    2015-01-26 20:37:03 INFO     SEARCHQUEUE-BACKLOG-258602 :: Beginning backlog search for: [SHOW_NAME]
    2015-01-26 20:37:04 DEBUG    SEARCHQUEUE-BACKLOG-258602 :: Traceback (most recent call last):
      File "/share/MD0_DATA/.qpkg/Optware/usr/sickrage/sickbeard/search_queue.py", line 220, in run
    searc

[2015-01-26 20:59] fernandog commented on #457
@Captsha issue resolved?

[2015-01-26 20:59] fernandog commented on #497
Please use the issue guidelines when posting an issue. This way the dev team is able to debug your problem. Don't forget to use [markdown](https://guides.github.com/features/mastering-markdown/) on any code and log you want to post in-line.

- [ ] Branch
- [ ] Commit hash
- [ ] Operating system and python version
- [x] What did you do?
- [x] What happened?
- [x] What did you expect?
- [ ] Link to

[2015-01-26 21:00] fernandog commented on #496
@sgtwtf I don't remember SR changing TPB to OldPB. Sorry.
will check

[2015-01-26 21:01] sgtwtf commented on #496
No it OK, its fine. Just want to give the experts what they want how they
want it.
On Jan 26, 2015 1:00 PM, "Fernando" <notifications@github.com> wrote:

[2015-01-26 21:03] fernandog commented on #496
@sgtwtf the results for this show don't follow scene naming pattern so SR can't snatch.

[2015-01-26 21:03] alexkoon commented on #497
As requested:
- Execute backlog search, per show as well as en mass (Manage / Manage Searches / Force).
- No issues seen in gui. But no shows were captured and processed to sab.
- Expected some backlog episodes to be found and processed - none were. Errors found in log and an example pasted above - this happens to all shows.

[2015-01-26 21:04] abeloin commented on #496
Now for 1x6 it's lookin for 1x4.

@sgtwtf Which provider are you using?

[2015-01-26 21:05] sgtwtf commented on #496
What does that mean? If the show has a season. 1 episode 6 and there is a
file that has the show name with matching episode and season why wouldn't
it grab the file?
On Jan 26, 2015 1:03 PM, "Fernando" <notifications@github.com> wrote:

[2015-01-26 21:07] sgtwtf commented on #496
I had scene numbering at one point but I took it off before I posted my
issue..my provider is nzbgeek. I can manually grab files with no issue from
that site.
On Jan 26, 2015 1:05 PM, "matthew bowles" <sgtwtf@gmail.com> wrote:

[2015-01-26 21:08] pct00 commented on #493
@fernandog still not luck after changing both lines, tried the same procedures, re-scan, full update. remove and add again running backlog and daily searches

also tried this time deleting associated .NFO files and doing it again but still no changes

[2015-01-26 21:12] abeloin commented on #496
@sgtwtf In the Mythbusters show page in sickrage, look on the left were the stars and country flag are. You should 3 icons after ```(2003) - 44 minutes```: imdb, (thetvdb or rage) and xem
Which icon is the second one? Look like a tv with antenna or like brown circle eye?

[2015-01-26 21:14] sgtwtf commented on #496
its thetvdb then xem

[2015-01-26 21:16] sgtwtf commented on #496
i tried a different tv series and same issue. am i the only one that can't do manual searches?

[2015-01-26 21:17] sgtwtf commented on #496
![image](https://cloud.githubusercontent.com/assets/7502836/5908572/af61ebd8-a55d-11e4-8645-adc8f6c13b00.png)

[2015-01-26 21:23] abeloin commented on #496
In a different series you look for 1x04 and searching for 1x01 also?

[2015-01-26 21:25] abeloin commented on #496
Also you should enable scene numbering.

[2015-01-26 21:43] fernandog commented on #497
you must send the others:  branch, commit hash, LOG

localhost:8081/config you get the first 3.

[2015-01-26 21:55] sgtwtf commented on #496
I tried on a current seasons EP of big bang theory still no luck.
On Jan 26, 2015 1:25 PM, "Alexandre Beloin" <notifications@github.com>
wrote:

[2015-01-26 21:56] fernandog commented on #493
@pct00 now it's working:

Try that change please

[2015-01-26 22:02] fernandog commented on #496
The result Mythbusters.S01E01.SDTV.Jet.Assisted.Chevy-NZBgeek doesn't seem to be a valid episode that we are trying to snatch, ignoring
- Missing codec info.
The result Mythbusters-S01E03-Larrys.Lawn-Chair.Balloon.Goldfinger.Poppy-Seed.Drug.Test-NZBgeek doesn't seem to be a valid episode that we are trying to snatch, ignoring
- Missing codec info
The result Mythbusters.S01E03.SDTV.Larrys.Lawn-Chai

[2015-01-26 22:15] Captsha commented on #457
@fernandog : If it's possible, I suggest to add an clause for ignore empty language on displayShow step. So the error will be skipped. Or if it's on subliminal library, this is another story.
But as you want, I know how to fix that.
Thanks for everyone anyway

[2015-01-26 22:21] fernandog commented on #483
@Greg0rz

can you try this file?
https://raw.githubusercontent.com/junalmeida/Sick-Beard/7c3d8262736b39fda1ed761c62e17106c06cde8e/sickbeard/downloaders/utorrent.py

backup your /SickRage/sickbeard/clients/utorrent.py and paste that one.

It's from another fork, owner @junalmeida and utorrent coded by @VeNoMouS.

If they let we can use it.

[2015-01-26 22:24] abeloin commented on #496
@sgtwtf Do you have a log?

@fernandog I think the issue is related to xem. If you look the xem page for (mythbusters)[http://thexem.de/xem/show/285], you will see ep4 is mapped to ep1.

[2015-01-26 22:30] fernandog commented on #457
@Captsha would be a fix to displayShow.tmpl? If yes, let's try.
But we need to reproduce the steps to make sure it's a SR issue and not subliminal.

[2015-01-26 22:33] fernandog commented on #496
@abeloin yes. but all torrents for this show don't have he correct naming pattern.
closing this issue.

[2015-01-26 22:33] #496 closed

[2015-01-26 22:33] pct00 commented on #493
@fernandog working well, thanks! :)

[2015-01-26 22:33] sgtwtf commented on #496
But it does the same thing for the big bang theory
On Jan 26, 2015 2:24 PM, "Alexandre Beloin" <notifications@github.com>
wrote:

[2015-01-26 22:33] fernandog commented on #493
@pct00 we need testing. let me know in a few days if everything is ok.

[2015-01-26 22:34] fernandog commented on #496
@sgtwtf new logs please.

[2015-01-26 22:47] alexkoon commented on #497
BRANCH: (master) / COMMIT: (401cb666016e45b42fe675bafdf7908ad6c2b9bb)

What is LOG? Or do you mean the log file when this occurred?

[2015-01-26 22:51] fernandog commented on #497
@alexkoon can you post the contents of the field "scene exception" for that show you renamed "SHOW NAME" in the log?

[2015-01-26 22:54] alexkoon commented on #497
A few examples

[Blue Bloods]
[Castle (2009)]
[Parenthood (2010)]
[Instance Mom]
[Veep]

[2015-01-26 23:06] fernandog commented on #497
I need the contents of field SCENE EXCEPTIONS of this show. Read my post again please.

[2015-01-26 23:16] Captsha commented on #457
@fernandog : I succeed to solve it by this way:

[code]

Also, the root cause is why I have a comma on the database, but this something more complicate for me to know where is the problem :-)
I'm not an expert, so I hope my diff is correct.

Thanls

[2015-01-26 23:21] fernandog commented on #457
@Captsha Can you do a PR?
How to reproduce the error?

[2015-01-26 23:23] VeNoMouS commented on #483
Your more than welcome to use if you want... addtionally it requires bencode to calc the hash correctly...

[2015-01-26 23:32] Captsha commented on #457
@fernandog : It's my first PR, so I hope that I did it correctly.
For reproduce the problem, I did an update on the database, like before but this time, for add a comma.

[2015-01-26 23:34] fernandog commented on #483
Our bencode is the same as yours. Except two commented lines.

[2015-01-27 00:01] abeloin commented on #457
@fernandog We should at least put an error log entry, advising the user to do a "Force Full Refresh" to fix the issue. It's not a good idea to silence it.

[2015-01-27 00:05] abeloin commented on #457
@Captsha Your pull request should be against the develop branch not master.

[2015-01-27 00:34] fernandog commented on #457
@abeloin so we need to do another check for null and log a message (warning). Not in the template file.

[2015-01-27 00:39] abeloin commented on #457
@fernandog Why shouldn't we do the log warning in the template?

[2015-01-27 00:44] fernandog commented on #457
Is it possible? Just import logger?

[2015-01-27 00:51] abeloin commented on #457
Yes, something like this should work:
[code]

[2015-01-27 00:54] fernandog commented on #457
What if it is like this: fr,,en?

[2015-01-27 00:57] fernandog commented on #457
Isnt possible to add a ELSE?

for $sub_lang in subliminal.language.language_list([x.strip() for x in $epResult["subtitles"].split(',') if x != ""]):

[2015-01-27 01:03] abeloin commented on #457
Then use:
```#if re.match('(^,+|,,+|,$)', $epResult["subtitles"]):```

[2015-01-27 01:04] abeloin commented on #457
Add an else where?

[2015-01-27 02:10] ActiveNine commented on #491
Update:
I rescanned and did a full update of the show then attempted to manually post-process the same file that had failed in the example I provided previously. The rescan and update were successful but I received the same error "You're trying to post process a video that's already been processed, skipping".

I executed the two SQL statements you requested:
0 Rows returned from: Select * from tv_

[2015-01-27 02:13] ActiveNine commented on #491
Note: The same thing occurred with episode 3 of this show (note that its not limited just to this show, its occurring sporadically with most of them). When I look at the history, I can see that it contains a single entry for this episode and it's the one that was downloaded. I'm not sure how it would have had a match for this resource in the history already if I got this error on the first attempt

[2015-01-27 03:30] amgreenwalt commented on #458
Verified my credentials were correct.  I actually got my post processing working again by installing nzbtomefia.
https://github.com/clinton-hall/nzbToMedia

[2015-01-27 04:46] malikeye opened #498 "SSL errors with lollipop"
Either coming from firefox or nzb360 on lollipop, I get tons of repeated SSL errors on the server:
[code]

This is centos7 VM running the latest git pull. Is this something on the SR side or on the android side? I don't get this error with desktop browsers.

[2015-01-27 05:22] abeloin commented on #498
Is HTTPS activated on your sickrage? Also what branch are you using?

[2015-01-27 05:24] abeloin commented on #458
ok

[2015-01-27 05:24] abeloin commented on #458
@fernandog You can close this issue

[2015-01-27 05:29] malikeye commented on #498
Yep, SSL/HTTPS, definitely. Master branch.

[2015-01-27 05:32] malikeye commented on #498
Also, I'm running couch and SAB on the same VM, all with SSL, and I don't see any other python errors. I am using a self-signed cert.

[2015-01-27 05:35] abeloin commented on #498
For some reason your server(sickrage) doesn't like the client certificate. Can you try to remove the certificate on Lollipop?

[2015-01-27 05:52] malikeye commented on #498
I'm looking for how to do it. I don't want to do something unless I fully understand the effect. I kinda need my phone :) I'll keep looking...

[2015-01-27 05:56] abeloin commented on #498
Maybe it changed with lollipop but I think you can access the certificate in Settings > General > Profiles

[2015-01-27 05:59] abeloin commented on #498
Sorry that was for gingerbead, try Settings -> security -> Trusted credential

[2015-01-27 08:44] TagForce commented on #491
@fernandog @ActiveNine The question I'm trying to answer for myself now is why would we check the history if there's no active episode file? It really doesn't seem to serve a purpose other than not wanting to PP a file that we've already processed before. I can name a million cases in which we DO want to do just that, and only one case where we don't, namely when we've just downloaded it and it fa

[2015-01-27 09:02] alexkoon commented on #497
Take [Parenthood (2010)] for example - I have the following exceptions

Parenthood
Parenthood 2010
Parenthood (2010)

Note: This was a migration from Sickbeard to Sickrage lately - not sure if this contributes to the issue I am seeing.

[2015-01-27 09:17] #458 closed

[2015-01-27 09:29] kgpayne opened #499 "Failed Episode Search Throwing Attribute Error"
BRANCH: (master) / COMMIT: (401cb666016e45b42fe675bafdf7908ad6c2b9bb)
Ubuntu 14.04.1 LTS, Python 2.7.6

I marked multiple episodes in a season as 'Failed' for manual re-try of failed episode search.
Logs recorded:
AA
AAAttributeError: 'list' object has no attribute 'prettyName'
AA    logger.log(u"Marking episode as bad: [" + epObj.prettyName() + "]")
AA  File "/home/kp/sickrage_install/sickbeard/s

[2015-01-27 09:35] TagForce commented on #491
Could you perform the following query on the db?
SELECT * from tv_episodes
WHERE tv_episodes.season = '4' and tv_episodes.episode = '2' and tv_episodes.showid = '220411';
And post the results?

If there's no result, then I think the code is botched, and it doesn't actually check if we've really downloaded that specific episode in a different quality. If there is a result, then something doesn't ge

[2015-01-27 10:04] renelux opened #500 "SickRage not loading on limited internet connection"
I am located in China and some websites can't be accessed without VPN, since a few days I noticed that SickRage also stopped working if I am not connected to VPN.

Are there certain URL's being called when we load a page? Maybe something from Google or any of the social media websites? If so is this nessecary can it be done in the background or even completely optional?

[2015-01-27 10:11] Tlabok opened #501 "[Feature Request] Add option to set delay time for a nzb provider"
I regularly find incomplete nzb downloads in sabnzbd, which can be completed by clicking Retry and/or manually deleting the first few archive parts. These nzb's are always from the same nzb provider, which appears to be ahead of my usenet servers.

The problem could be solved by adding an adjustable time delay in Provider Options for sending nzb's to the download application.

Making the daily sea

[2015-01-27 10:45] fernandog commented on #497
@alexkoon send a print of the show page having problem

[2015-01-27 10:50] fernandog commented on #457
@abeloin

for $sub_lang in subliminal.language.language_list([x.strip() for x in $epResult["subtitles"].split(',') if x != "" else logger.log('Invalid language subtitles found, please do a "Force Full Refresh" on show {name}(id={id})'.format(id=$show.indexerid, name=$show.name), logger.WARNING)]):

not ERROR otherwise user can submit to issue tracker

[2015-01-27 10:50] alexkoon commented on #497
![sickrage](https://cloud.githubusercontent.com/assets/1433798/5917229/4d6075d4-a612-11e4-8a9d-69d289f6de32.png)
Ignore the blue line!

[2015-01-27 10:52] Tlabok commented on #501
Duplicate as in the alternative I mentioned? I think they are two different options; one is a global setting while my request is per provider.

I may be wrong, but I searched and did not find this request anywhere.

[2015-01-27 10:55] Youmi15 commented on #361
@abeloin, you are right, forgot to update the categories since I did a fresh install. But the problem persists.

Log:
[code]
When I copy the link into firefox, I see the results from NZBGeek.

Could this have to do with an update from opkg? I am using the CSI for a Popcorn Hour A300 and recently there was an update for local (0.2.0 to 0.2.2).

[2015-01-27 11:22] TagForce commented on #491
@ActiveNine @fernandog I think I have an idea where the problem might be.
"Girls.S04E02.480p.HDTV.x264-REenCO" is the name of the folder where the videofiles reside, yes?
If that is a generic name, like video.mkv, then the DB Query will hit a result if it has downloaded another release with the same format.
I just tried it by creating a folder with the episode name, and copying a random video file

[2015-01-27 11:36] renelux commented on #500
When disabling the Plex notification it works without issues again. I think that this commit https://github.com/SiCKRAGETV/SickRage/commit/03b17d63e0f3d2374abea66fd3002253cd8ff52d has introduced this bug.

[2015-01-27 11:53] fernandog commented on #500
@vandalon

[2015-01-27 12:32] fernandog commented on #361
@Youmi15

mine is working.
[code]

maybe the release has something wrong and SR it's not catching.

[2015-01-27 12:34] abeloin commented on #361
@Youmi15 CSI? Guessing not as in the tv show, I don't know what that mean?

There is no other lines in your log regarding NZBGEEK, like:
```2015-01-27 07:21:31 DEBUG    SEARCHQUEUE-MANUAL-262106 :: [NyaaTorrents] :: Adding item from search to cache:``

Could you provided a full log?

[2015-01-27 12:38] abeloin commented on #457
ok

[2015-01-27 12:38] fernandog commented on #497
@alexkoon stop SR, rename cache.db to cache.bkp and restart SR

[2015-01-27 12:39] fernandog commented on #457
will it work? of I can't add that ELSE?

[2015-01-27 12:42] fernandog commented on #499
@kgpayne failed downloads is a post-processing feature. you can't set as manually set as FAILED.

@Tagforce can you confirm?

[2015-01-27 12:45] Youmi15 commented on #361
@abeloin That is the NMT Community Software Installer, it automates the install of several packages.
@fernandog if I add the wanted result (and quality) manually to NZBget, it downloads correctly.

atm I am not near my mediaplayer, so I can't get any new logs, but I am quite sure that is everything there is about the manual search. I will check again when I'm home again.

[2015-01-27 12:47] ajp2k13 commented on #323
I'm still seeing this on dev branch...

SR Version: 	BRANCH: (develop) / COMMIT: (91cb8d885ca278e5829ed53d856d578c8ee8cbe0)
SR Config file:	/usr/local/sickbeard-custom/var/config.ini
SR Database file:	/usr/local/sickbeard-custom/var/sickbeard.db
SR Cache Dir:	/usr/local/sickbeard-custom/var/cache
SR Arguments:	['--daemon', '--pidfile', '/usr/local/sickbeard-custom/var/sickbeard-custom.pid', '--con

[2015-01-27 12:49] fernandog commented on #361
@Youmi15 what are your wanted qualities? any required/ignore words?

[2015-01-27 12:50] fernandog commented on #323
@ajp2k13 I'm not cause I didn't see your log =)

[2015-01-27 12:56] ajp2k13 commented on #323
Sorry, I knew I should have.... ;) Can't do it right now though. I'll try and uncheck some of the providers first and see if it's one of them, I have a feeling it could be... it's just that it seems to have missed a couple of propers yesterday and I got worried.

[2015-01-27 12:57] Youmi15 commented on #361
@fernandog I am searching for 1080p only, no further specifics. The categories are 5040 and 5030

[2015-01-27 13:00] Laidb opened #502 "Errors when grabbing subs automatically"
Branch ~ master
commit ~(401cb666016e45b42fe675bafdf7908ad6c2b9bb)
OS ~ Win10 (and win 8.1, same thing there), python2.7
What I did ~ This just happens randomly when its grabbing subs for my collection automatically.
What happened ~ http://pastebin.com/jN5SZ4LL - this can happen anything from 1 - 15 times in one instance, just grabbed the top ones now as they all seem the same.

Its not a huge iss

[2015-01-27 13:03] abeloin commented on #457
Sorry, still not fully awake. Nope it won't work and here's the results:
[code]

[2015-01-27 13:08] fernandog commented on #457
@abeloin ops. missing the # before "for"

[2015-01-27 13:11] fernandog commented on #361
@Youmi15 did you select all qualities that hava 1080p ?
please send a print of the show page

[2015-01-27 13:14] fernandog commented on #502
@Laidb can you post some of the tv-show filenames ?

[2015-01-27 13:19] fernandog commented on #482
@Greg0rz I think the problem is the naming pattern of them

[2015-01-27 13:20] itsfja commented on #301
Wotcher?
I gave it a go - alas no luck. Also (intermittently) sets nzbToSickBeard to pp-failure. Probably something I did but can't see what, Used ID and email, and password, all confirmed with trakt website. Cheers.

SR Version:	BRANCH: (develop) / COMMIT: (6b2c71093b63cd165f437ca176fc7e262ec55973)
Python Version:	2.7 (r27:82500, Aug 21 2010, 10:10:43) [GCC 4.2.3]
On branch develop
Your branch is

[2015-01-27 13:20] Youmi15 commented on #361
@fernandog I think I did, will confirm that later today!

[2015-01-27 13:20] fernandog commented on #448
@mgaulton closing as we didn't received a reply

[2015-01-27 13:20] #448 closed

[2015-01-27 13:22] neoatomic commented on #323
I'm still having those FINDPROPERS errors.
Also not sure why the log is saying "blackhole" as i use Synology DS as torrent client...
Opennzb is the only provider that gives this error. And is the only newsnab provider i have that doesn't need a api key. ("0" is set as key as the help is saying.)

Could this error be caused by having set wrong or non existing category's under opennzb search setting

[2015-01-27 13:26] fernandog commented on #301
@ChipSkylark37

I think you should do this:
[code]

[2015-01-27 13:30] TagForce commented on #499
@fernandog If you re-search manually, the last snatched episode will be marked as failed. In a way, that is setting a failed download manually.

@kgpayne Is that how you do it? If not, let me know what you did to mark them as failed.
Also, let me know how you reproduce it, so I can check if I can do the same. epObj.prettyName() should exist, as epObj is an object, and prettyName is one of its meth

[2015-01-27 13:32] fernandog commented on #499
@TagForce thanks for helping me with PP issues

[2015-01-27 13:33] Laidb commented on #502
http://pastebin.com/ngq9uwYb

The logs are huge, but I cut out a big part that didnt mention subtitles.  I'm guessing the Friday Night Lights - S01E19 - Ch-Ch-Ch-Ch-Changes.avi is the problem here becuase of all the - - - - -.

It only threw this one instance of the error after I turned on debug tho, ofc.

[2015-01-27 13:33] abeloin commented on #457
@fernandog No, it's there. This is from the webpage(Cheetah compiled version), hence the ```# generated from line 500, col 5``` at the end.

But it won't work as the list comprehensions needs to return something.

[2015-01-27 13:34] TagForce commented on #491
https://github.com/TagForce/SickRage/commit/6159530537cd174ce34687bf615f5c1b2a50430d
@fernandog @ActiveNine
Can you test if the above commit fixes your issue?
It now checks if it can find a showid, season, and episode number from the folder name, before it searches the history table. If it fails it will use the old query, but if all 3 are returned succesfully, it will use that in the query, which

[2015-01-27 13:36] TagForce commented on #499
@fernandog No problem, glad I can help.

[2015-01-27 13:41] abeloin commented on #499
@TagForce Steps to reproduce: Select the episode then in "Change selected episodes to:" drop-down list choose failed, then click Go.

[2015-01-27 13:42] TagForce commented on #499
@abeloin LOL... That was so obvious I totally missed that option in the pulldown.

[2015-01-27 13:54] neoatomic commented on #323
Strange, https://opennzb.net/api?t=c doesn't return any data...
I have disabled opennzb for the time. Will keep an eye on the log if the error comes back or not.

[2015-01-27 14:23] abeloin commented on #323
@neoatomic Could you try this pull requests https://github.com/SiCKRAGETV/SickRage/pull/1209

[2015-01-27 14:30] abeloin commented on #323
Also if you don't want to wait to long for the results, change in your config.ini "check_propers_interval" to 15m.
Don't forget to revert it back to it's original value after.

[2015-01-27 14:30] abeloin commented on #323
@ajp2k13 Could you try this pull request SiCKRAGETV/SickRage#1209?

[2015-01-27 14:32] TagForce commented on #499
https://github.com/TagForce/SickRage/commit/eedb42085b2d64a2f0aa51d269dff1fff11c4984
@fernandog @kgpayne @abeloin
This should fix it with a rudimentary fix. Can you test this?

I'll have to dig deeper to see if the problem was created intentionally, or if it's just a mess-up and can be changed by changing a single line.

[2015-01-27 14:42] abeloin commented on #499
@TagForce Works for me.

[2015-01-27 14:46] LinuxBozo commented on #301
@fernandog The problem with that is that it would always evaluate as false, as the exception doesn't have a code property.
[code]

What the code does is correct.
 - The error object should always have a `response`, https://github.com/kennethreitz/requests/blob/master/requests/exceptions.py#L21
 - and that `response` should always have a `status_code`: https://github.com/kennethreitz/requests/blob/

[2015-01-27 14:48] fernandog commented on #499
@TagForce @abeloin nice! GO SICKRAGE! kkkk

[2015-01-27 14:51] fernandog commented on #491
@TagForce thanks again for the PR

[2015-01-27 14:52] fernandog commented on #301
@itsfja can you test the above PR please?

[2015-01-27 14:57] fernandog commented on #500
@renelux isn't a intermittent issue? try enabling Plex notifications again please

if do not work:

Please use the issue guidelines when posting an issue. This way the dev team is able to debug your problem. Don't forget to use [markdown](https://guides.github.com/features/mastering-markdown/) on any code and log you want to post in-line.

- [ ] Branch
- [ ] Commit hash
- [ ] Operating system and

[2015-01-27 15:00] meokey commented on #442
sorry, I didn't see the reply.

here is the update.

SR Version:	BRANCH: (develop) / COMMIT: (f0bd05894c741443f131658d76652990cb3fff9f)
SR Config file:	/usr/share/SickRage/config.ini
SR Database file:	/usr/share/SickRage/sickbeard.db
SR Cache Dir:	/usr/share/SickRage/cache
SR Arguments:	['--daemon', '--nolaunch', '--pidfile=/var/run/sickbeard/sickrage.pid', '--datadir=/usr/share/SickRage']
SR Web