[2015-04-13 13:02] sjay1 commented on #1130
@fernandog
I did not force anything..
And I don't think I have ever done a force mass update.

The only thing I ever force is manual post processing at the moment for the last few weeks because it hasn't processed the files manually.

And a couple of times (maybe two months ago) I force mass updated a single series.

[2015-04-13 13:02] abeloin commented on #1130
@sjay1 Stop SR. Post a screenshot of the folder cache/sessions

[2015-04-13 13:03] neoatomic commented on #1217
@abeloin This fixed it. Thank you.

[2015-04-13 13:03] #1217 closed

[2015-04-13 13:04] sjay1 commented on #1130
@abeloin http://puu.sh/hchNW/8171d092ae.png

[2015-04-13 13:08] tchirou commented on #456
Just to let everyone know : my google calendar seems to be alright now. Don't know if it google who fixed things of it is alexandre and fernandogs fixes to the timezone and updater things. Thanks anyway.

[2015-04-13 13:09] tchirou commented on #1142
Thanks

[2015-04-13 13:12] abeloin commented on #1130
@sjay1 Can you tell me the extensions for those file?

[2015-04-13 13:13] fernandog commented on #456
@tchirou probably google

[2015-04-13 13:17] abeloin commented on #1207
@fernandog This need to be in a try...except block
[code]

[2015-04-13 13:17] sjay1 commented on #1130
@abeloin http://puu.sh/hcira/1617c79aac.png
There appears to be no extension.

[2015-04-13 13:18] abeloin commented on #1130
Delete them, start SR and check the PP in status page

[2015-04-13 13:27] abeloin commented on #589
@neoatomic It's a Easter egg in Sickrage :wink:

[2015-04-13 13:27] sjay1 commented on #1130
Deleted and restarted: http://puu.sh/hciWM/e68705f1e4.png   http://puu.sh/hciIU/54e9cf13b3.png
It appears that all of the ended shows are on refresh.
All of the current shows are on force update.

[2015-04-13 13:28] fernandog commented on #1130
@sjay1 do you have update show at startup?

[2015-04-13 13:30] sjay1 commented on #1130
@fernandog Yes I do; should I not?
http://puu.sh/hcj4y/ac962354e7.png

[2015-04-13 13:33] abeloin commented on #1130
@sjay1 Try disabling it for the PP test.

This options should be enabled when your SR isn't open 24/7

[2015-04-13 13:36] abeloin commented on #1217
PR merged, please update

[2015-04-13 13:47] sjay1 commented on #1130
Okay my bad I'll keep it off from now onwards...

Heres a screenshot of the status: http://puu.sh/hcjED/48e3a4d382.png

I waited 2 minutes for a process and the two files are still not processed.

Post processing of episodes needed: http://pastebin.com/FBgFY3CD

All post processing log:
Info - http://pastebin.com/fr2hdF8H
Debug - http://pastebin.com/mrqu15Lf

[2015-04-13 13:52] abeloin commented on #1130
@sjay1 Can you upload the log files?

[2015-04-13 13:57] neoatomic commented on #1217
@abeloin updated Develop, and PR still working fine/resolved.

[2015-04-13 14:15] Brainarts opened #1218 "[APP SUBMITTED]: HTTPConnectionPool(host='cypress.whatbox.ca', port=51440): Read timed out. (read timeout=120)"
### INFO
Python Version: **2.7.9 (default, Dec 10 2014, 12:28:03) [MSC v.1500 64 bit (AMD64)]**
Operating System: **Windows-7-6.1.7601-SP1**
Branch: **master**
Commit: SiCKRAGETV/SickRage@281409d366b228a455879e02b2d55d3967db29e4
Link to Log: https://gist.github.com/22bc4988677cb542527e
### ERROR
[code]
---
_STAFF NOTIFIED_: @SiCKRAGETV/owners @SiCKRAGETV/moderators

[2015-04-13 14:17] sjay1 commented on #1130
@abeloin is this the file you were talking about?

http://www.n00bunlimited.net/pastebin.php?show=64386

(Pastebin said file was too big, sorry about the weird link just googled it)

In /Sickrage/Logs/Sickrage.txt

[2015-04-13 14:17] #1218 closed

[2015-04-13 14:18] fernandog commented on #1218
@Brainarts stop opening this issues!

[2015-04-13 14:20] fernandog commented on #1130
[code]

[2015-04-13 14:24] Thraxis commented on #1202
If the error in the debug log is NOT for "Rarbg Too many requests per minute." then you need to either fix this bug report to reflect that or submit a bug report for the issue you say is in the debug log.

[2015-04-13 14:24] fernandog commented on #1017
@gborri for now let's just warn user that we don´t support download one episode from a multi-episode torrent. We won't support this for now. Maybe in the future. Can you do the warning PR please?

[2015-04-13 14:27] fernandog commented on #1202
https://github.com/SiCKRAGETV/sickrage-issues/issues/1131

[2015-04-13 14:28] fernandog commented on #1202
@mbnoimi please update. was fixed in last night update. You are using an old versions of SR

[2015-04-13 14:29] gborri commented on #1017
@fernandog will try

On Mon, Apr 13, 2015 at 4:24 PM, Fernando <notifications@github.com> wrote:

[2015-04-13 14:33] noze2000 commented on #1195
I dont rename only move. Would that be an influence?

On 13 April 2015 at 14:01, Fernando <notifications@github.com> wrote:

[2015-04-13 14:34] fernandog commented on #1195
@noze2000 how did you downloaded that? SR can't recognize the naming pattern

[2015-04-13 14:36] gborri commented on #1017
@abeloin can I use a try except on return command like this?
[code]

[2015-04-13 14:37] fernandog commented on #1017
@gborri I don't think so. I would assign to a variable first

[2015-04-13 14:47] fernandog commented on #1187
@EirikUtvik please do a mass update in all your shows

[2015-04-13 14:49] sjay1 commented on #1130
@fernandog How do I fix it? It doesn't sound like its at full health :-1:

[2015-04-13 14:52] noze2000 commented on #1195
Old show - old name I guess. Japhson was around back then i guess with this naming pattern. I guess I could manaually rename these and let sickrage do its thing.

[2015-04-13 14:55] fernandog commented on #1195
Rename and try again please

[2015-04-13 15:21] Arcanemagus commented on #1211
I thought the update process restarted the service automatically? I tested several browsers including 3 that had never accessed SR before, so a local cache wasn't the issue.

[2015-04-13 15:35] fernandog commented on #1201
@noze2000 please update and report back

[2015-04-13 15:36] fernandog commented on #61
@gborri can we close this?

[2015-04-13 15:36] fernandog commented on #937
@Dennisreneholm please reply or will close

[2015-04-13 15:39] fernandog opened #1219 "Don't let user open multiple issues for the same error"

[2015-04-13 15:41] fernandog commented on #1184
@Glider3 please do a full update in all your shows (use mass update)

[2015-04-13 15:42] fernandog commented on #1182
@krash1220 did you manually edited/change you database ?

[2015-04-13 15:43] fernandog commented on #1182
@abeloin do you know if is a database user problem or SR problem?

[2015-04-13 15:45] Brainarts opened #1220 "[APP SUBMITTED]: HTTPConnectionPool(host='cypress.whatbox.ca', port=51440): Read timed out. (read timeout=120)"
### INFO
Python Version: **2.7.9 (default, Dec 10 2014, 12:28:03) [MSC v.1500 64 bit (AMD64)]**
Operating System: **Windows-7-6.1.7601-SP1**
Branch: **master**
Commit: SiCKRAGETV/SickRage@281409d366b228a455879e02b2d55d3967db29e4
Link to Log: https://gist.github.com/317bb1a27cc99f7bf5f1
### ERROR
[code]
---
_STAFF NOTIFIED_: @SiCKRAGETV/owners @SiCKRAGETV/moderators

[2015-04-13 15:45] Brainarts opened #1221 "[APP SUBMITTED]: HTTPConnectionPool(host='cypress.whatbox.ca', port=51440): Read timed out. (read timeout=120)"
### INFO
Python Version: **2.7.9 (default, Dec 10 2014, 12:28:03) [MSC v.1500 64 bit (AMD64)]**
Operating System: **Windows-7-6.1.7601-SP1**
Branch: **master**
Commit: SiCKRAGETV/SickRage@281409d366b228a455879e02b2d55d3967db29e4
Link to Log: https://gist.github.com/60d3357e21a944f00df2
### ERROR
[code]
---
_STAFF NOTIFIED_: @SiCKRAGETV/owners @SiCKRAGETV/moderators

[2015-04-13 15:45] Brainarts opened #1222 "[APP SUBMITTED]: HTTPConnectionPool(host='cypress.whatbox.ca', port=51440): Read timed out. (read timeout=120)"
### INFO
Python Version: **2.7.9 (default, Dec 10 2014, 12:28:03) [MSC v.1500 64 bit (AMD64)]**
Operating System: **Windows-7-6.1.7601-SP1**
Branch: **master**
Commit: SiCKRAGETV/SickRage@281409d366b228a455879e02b2d55d3967db29e4
Link to Log: https://gist.github.com/816dd3ee6dfcfe1628b4
### ERROR
[code]
---
_STAFF NOTIFIED_: @SiCKRAGETV/owners @SiCKRAGETV/moderators

[2015-04-13 15:45] Brainarts opened #1223 "[APP SUBMITTED]: HTTPConnectionPool(host='cypress.whatbox.ca', port=51440): Read timed out. (read timeout=120)"
### INFO
Python Version: **2.7.9 (default, Dec 10 2014, 12:28:03) [MSC v.1500 64 bit (AMD64)]**
Operating System: **Windows-7-6.1.7601-SP1**
Branch: **master**
Commit: SiCKRAGETV/SickRage@281409d366b228a455879e02b2d55d3967db29e4
Link to Log: https://gist.github.com/5a527bc4564ac77f9ec6
### ERROR
[code]
---
_STAFF NOTIFIED_: @SiCKRAGETV/owners @SiCKRAGETV/moderators

[2015-04-13 15:55] #1223 closed

[2015-04-13 15:55] #1222 closed

[2015-04-13 15:55] #1220 closed

[2015-04-13 15:55] #1221 closed

[2015-04-13 16:00] krash1220 commented on #1182
I had so many errors that I just decided to start fresh. It was probably something I did.

Sent from Windows Mail

From: Fernando
Sent: ‎Monday‎, ‎April‎ ‎13‎, ‎2015 ‎11‎:‎42‎ ‎AM
To: SiCKRAGETV/sickrage-issues
Cc: krash1220

@krash1220 did you manually edited/change you database ?

—
Reply to this email directly or view it on GitHub.

[2015-04-13 16:00] fernandog commented on #1182
@krash1220 everything ok now?

[2015-04-13 16:01] #1163 closed

[2015-04-13 16:14] fernandog commented on #1193
@MaximusCub welcome!

Feel free to pick other issue:
https://github.com/SiCKRAGETV/sickrage-issues/issues?utf8=%E2%9C%93&q=is%3Aopen+is%3Aissue+-label%3A%221%3A+Support+%2F+question%22+-label%3A%221%3A+Feature+request%22+-label%3A%223%3A+Fix%22+

[2015-04-13 16:15] gborri commented on #61
@fernarnandog I think you could close; but please, just to be sure, ask to
the person that have open it.

On Mon, Apr 13, 2015 at 5:36 PM, Fernando <notifications@github.com> wrote:

[2015-04-13 16:15] #1140 closed

[2015-04-13 16:17] fernandog commented on #1169
@ripper1967 please update and report back

[2015-04-13 16:18] fernandog commented on #806
@djack42 without logs there's nothing we can do. Also make sure you are using UTF-8 locale.
Open localhost:xxxx/config and post contents

[2015-04-13 16:20] fernandog commented on #61
@sy6502a check the feature @gborri implemented (I'm still waiting for the wiki explaining it)

[2015-04-13 18:02] Thraxis commented on #1206
Are you using Plex Home Theater (PHT) ?

[2015-04-13 18:03] Thraxis commented on #1123
@ruinit Are you using Plex Home Theater (PHT) ?

[2015-04-13 18:19] ruinit commented on #1123
Using on Plex Media Server on A Synology Diskstation Nas. Using the Plexpass version if that matters

[2015-04-13 18:30] djack42 commented on #806
Locale.conf :LANG=en_US.UTF-8
Log only add 1 line per show mass updated : DEBUG Thread-xx :: [showid]: Not saving show to db - record is not dirty
I have the option debug checked and log is in DB.

Configuration
SR Version:	BRANCH: (master) / COMMIT: (669046ea40a7a26a6121a1b07721f3c1c3cf5b10)
SR User:	root
SR Locale:	('en_US', 'UTF8')
SR Config file:	/opt/sickbeard/config.ini
SR Database file:	/op

[2015-04-13 18:34] Thraxis commented on #1123
Needed to know if it was PMS vs PHT and yes Plexpass does matter but it looks like you have the auth token in already.

I'd say you can remove the Plex Client IP / Port as you're trying to update the PMS nor a client.
And can you confirm that your Plex Server IP is correct?

[2015-04-13 18:36] fernandog commented on #806
@djack42 forget about "Not saving show to db" !!

please post FULL logs

I have a lot of it and my SR is running ok! It's not a problem!
[code]

[2015-04-13 18:49] ElmerLastdrager opened #1224 "Broken symbolic link raises an OSError exception"
When a series' directory contains a broken symlink (pointing to a non-existing file), an OSError is raised and the user is unable to view details of the series.

**Reproduce**:
1. add a show
2. create a broken symlink.
From the command line:

3. in SickRage, go to Shows -> Show List  and click on the show. Nothing will happen.

The logfile shows the following exception:
[code]

[2015-04-13 18:51] djack42 commented on #806
What is a full log ? The file ?
There is nothing else in the file when i do the mass update, i checked. Just the not saving one.
Is there anything else to do to have a better log?

[2015-04-13 18:52] fernandog commented on #806
@djack42 just send your log file /SickRage/Logs after you try to change the folder

[2015-04-13 18:54] fernandog commented on #1224
@ElmerLastdrager getsize will get the space available in the location of the symlink or the physical file directory?

[2015-04-13 18:58] pct00 opened #1225 "post processor not recognizing quality, all downloads renamed as "unknown" qtly"
Python Version: 2.7.8 (default, Jun 30 2014, 16:03:49) [MSC v.1500 32 bit (Intel)]
Operating System: Windows-7-6.1.7601-SP1
SR Version:	BRANCH: (master) / COMMIT: (281409d366b228a455879e02b2d55d3967db29e4)

sr downloads the "correct" quality file, but when post processing them to rename / move them they get renamed instead of SD TV in this case to "unknown"
example torrent was:

Arrow.S03E18.HDTV.

[2015-04-13 19:01] fernandog commented on #1225
AS ALWAYS:

Please use the issue guidelines when posting an issue. This way the dev team is able to debug your problem.

**Don't forget to enclosure code and logs with ``` (the quotes must be alone in the line)**

- [x] Branch
- [x] Commit hash
- [x] Operating system and python version
- [x] What did you do?
- [x] What happened?
- [x] What did you expect?
- [ ] Link to a copy/paste of your logfile

[2015-04-13 19:02] ElmerLastdrager commented on #1224
@fernandog Python's getsize will return the file size for a given path, thereby following symlinks. It does not return the available space.

In my case (I normally do not use symlinks), an old and broken symlink in the directory of the show caused this error.

[2015-04-13 19:05] sy6502a commented on #61
@fernandog Thanks for the message.  I've reviewed the whole thread again.  I can't say I've can follow how the feature will be implemented. From the comments, it seems to have morphed from my original request to possibly using a service (that I don't use) called Trakt, or possibly no longer downloading new episodes if the old ones weren't watched.  Unless I'm not following.  And I don't think this

[2015-04-13 19:17] reefwarrior commented on #1209
There is no user,pass in the settings. It uses an API string. I have changed it to search every 90 minutes, same problem.

[2015-04-13 19:24] ruinit commented on #1123
getting this now all of a sudden
2015-04-13 15:23:14 CHECKVERSION :: git symbolic-ref -q HEAD returned : fatal: unable to access '.git/config': Permission denied

[2015-04-13 19:35] bobrap opened #1226 "File delete confirmation"
Do you think it would be possible to add a dialog box to confirm that you want to delete a file. Being the brilliant idiot I am, I was in mass update and wanted to remove a bunch of shows and checked delete instead of remove. Well, all gone now. An "Are you sure you big dummy?" would have stopped me from deleting all my files. Thanks.

[2015-04-13 19:37] ruinit commented on #1123
@Thraxis
taking out plex client ip gives me an error that says please fill out spaces.
Plex server ip is correct http://192.168.1.250:32400/web/index.html takes me to my plex media server page.

I get this error still and Kodi is not enabled
2015-04-13 15:32:03 ERROR    Thread-30 :: Failed to detect KODI version for '192.168.1.250:3000', check configuration and try again.
2015-04-13 15:32:03 WARNI

[2015-04-13 19:54] pct00 commented on #1225
hi, dont have debug enabled

but please see the log below
2015-04-13 20:52:23 DEBUG    Thread-21 :: Processing folder C:\Intel\Arrow.S01E20.HDTV.x264-LOL[rarbg]
2015-04-13 20:52:23 DEBUG    Thread-21 :: Using ALL regexes
2015-04-13 20:52:23 DEBUG    Thread-21 :: Parsed arrow.120.hdtv-lol.mp4 into arrow - S1E20 [ANIME VER: -1] [GROUP: lol] [ABD: False] [ANIME: False] [whichReg: ['bare']]
2015-04-13

[2015-04-13 20:13] rodrigompaz commented on #1206
@Thraxis Nope, I'm on PMS..

[2015-04-13 20:39] Nativedude opened #1227 "[APP SUBMITTED]: global name 'MULTI_EP_RESULT' is not defined"
### INFO
Python Version: **2.7.9 (default, Dec 11 2014, 04:42:00) [GCC 4.9.2]**
Operating System: **Linux-3.18.5-unRAID-x86_64-with-glibc2.2.5**
Locale: UTF-8
Branch: **master**
Commit: SiCKRAGETV/SickRage@281409d366b228a455879e02b2d55d3967db29e4
Link to Log: https://gist.github.com/b56dbfc5d68b3bc7d212
### ERROR
[code]
---
_STAFF NOTIFIED_: @SiCKRAGETV/owners @SiCKRAGETV/moderators

[2015-04-13 20:58] mbnoimi commented on #1202
@fernandog Works perfectly now

Thank you guys.

[2015-04-13 20:59] konomimaster opened #1228 "[APP SUBMITTED]: <ProtocolError for api.opensubtitles.org/xml-rpc: 503 Service Unavailable>"
### INFO
Python Version: **2.7.3 (default, Mar 31 2015, 15:16:49) [GCC 4.9.2]**
Operating System: **Linux-3.18.10-armv7l-with-glibc2.4**
Locale: unknown
Branch: **master**
Commit: SiCKRAGETV/SickRage@281409d366b228a455879e02b2d55d3967db29e4
No Log available with ERRORS:
### ERROR
[code]
---
_STAFF NOTIFIED_: @SiCKRAGETV/owners @SiCKRAGETV/moderators

[2015-04-13 21:06] miigotu commented on #589
@neoatomic I think its a flood of new users ^

[2015-04-13 21:06] gborri commented on #61
@sy6592a i think that delete file not watched is not useful.
@fernandog to bypass trakt plugin we have to implement #1063 and a plugin for mediacenter software for change status on sickrage upon episode watched.

[2015-04-13 21:09] cyberundertaker commented on #1043
@abeloin mine is still stuck :(

[2015-04-13 21:10] gborri commented on #1227
@Nativedude see #1201 and SiCKRAGETV/SickRage@1758

[2015-04-13 21:11] neoatomic commented on #1228
Simple timeout, happens from time to time.
Probably site was down for maintenance.

[2015-04-13 21:11] #1228 closed

[2015-04-13 21:15] Nativedude commented on #1227
Cool, I'll report back once I see it in develop and update.
Thanks

On Mon, Apr 13, 2015 at 5:10 PM, gborri <notifications@github.com> wrote:

--
Sincerely,
    Adam Michael Durham
    (757) 742-3261

[2015-04-13 21:48] #1227 closed

[2015-04-13 22:44] roxtersoxter opened #1229 "Update wasn't successful"
Unable to update Sickrage.
![image](https://cloud.githubusercontent.com/assets/11792872/7127044/7d087bf0-e204-11e4-8ed9-864ec03723bf.png)
![image](https://cloud.githubusercontent.com/assets/11792872/7127055/9478c380-e204-11e4-9f61-58951ebd7ebc.png)
I have tried setting 'git reset' but I still have the same problem.

[2015-04-13 22:54] neoatomic commented on #1229
You probably edited a file, that is preventing SickRage from updating.

Select "Git reset" under General --> advanced settings.
Than update again. (and deselected git reset if successful.)

[2015-04-13 22:59] roxtersoxter commented on #1229
I have already tried that and it didn't work.  I didn't edit any config files so I'm not sure why this randomly happened.

[2015-04-13 23:03] neoatomic commented on #1229
@roxtersoxter Than please provide logs and all the details we need to troubleshoot. :
https://github.com/SiCKRAGETV/sickrage-issues/blob/master/README.md

[2015-04-13 23:41] TATUMTOT opened #1230 "[APP SUBMITTED]: 401 {'documentation_url': 'https://developer.github.com/v3', 'message': 'Bad credentials'}"
### INFO
Python Version: **2.7 (r27:82500, Aug 21 2010, 07:52:47) [GCC 4.1.3 20070929 (prerelease) (Ubuntu 4.1.2-16ubuntu2)]**
Operating System: **Linux-3.4.6-x86_64-with-glibc2.4**
Locale: unknown
Branch: **master**
Commit: SiCKRAGETV/SickRage@281409d366b228a455879e02b2d55d3967db29e4
Link to Log: https://gist.github.com/5cda06919d2299839804
### ERROR
[code]
---
_STAFF NOTIFIED_: @SiCKRAGETV/owner

[2015-04-13 23:42] #1230 closed

[2015-04-13 23:45] TATUMTOT opened #1231 "[APP SUBMITTED]: [Errno 1] _ssl.c:499: error:14077438:SSL routines:SSL23_GET_SERVER_HELLO:tlsv1 alert internal error"
### INFO
Python Version: **2.7 (r27:82500, Aug 21 2010, 07:52:47) [GCC 4.1.3 20070929 (prerelease) (Ubuntu 4.1.2-16ubuntu2)]**
Operating System: **Linux-3.4.6-x86_64-with-glibc2.4**
Locale: unknown
Branch: **master**
Commit: SiCKRAGETV/SickRage@281409d366b228a455879e02b2d55d3967db29e4
Link to Log: https://gist.github.com/4b080a8a23bb393bafd2
### ERROR
[code]
---
_STAFF NOTIFIED_: @SiCKRAGETV/owner

[2015-04-13 23:59] ripper1967 commented on #1169
fixed for me

[2015-04-13 23:59] #1169 closed

[2015-04-14 00:40] FelipeSQ opened #1232 "[APP SUBMITTED]: 'ascii' codec can't encode character u'\u2013' in position 84: ordinal not in range(128)"
### INFO
Python Version: **2.7.3 (default, Apr 12 2012, 13:08:47) [GCC 4.2.3]**
Operating System: **Linux-3.4.6-armv5tel-with-glibc2.4**
Locale: unknown
Branch: **master**
Commit: SiCKRAGETV/SickRage@281409d366b228a455879e02b2d55d3967db29e4
No Log available with ERRORS:
### ERROR
[code]
---
_STAFF NOTIFIED_: @SiCKRAGETV/owners @SiCKRAGETV/moderators

[2015-04-14 00:44] fernandog commented on #1232
please set locale to utf-8

[2015-04-14 00:46] FelipeSQ commented on #1232
Hi, I think this bug happens on my own .py PostProcessor script that I added to the list of postprocessing scripts in SickRage. My Locale is already properly set to en_US.UTF-8 and that fixed some other bugs I had inside the SickRage scripts, but I would like to know if anybody knows anything that might be causing this other error.

Thank you, appreciate it!

[2015-04-14 00:55] FelipeSQ commented on #1232
On my .py scripts I am usually setting the LC_ALL variable like this
SAVELC_ALL=$LC_ALL
export LC_ALL="C"
And then, at the end of the script, I set it back to the previous value with
export LC_ALL=$SAVELC_ALL

If I don't do that and leave the locale as is, I get this error in my script.
locale::facet::_S_create_c_locale

Hope that helps!
Thanks.

[2015-04-14 01:41] rarbg commented on #853
@abeloin
Can you please modify the user agent on the get_token call ?
What im seeing is :
get token - python-requests/2.5.1 CPython/2.7.3 Linux/3.18.8+
everything else - SickRage/(Linux; 3.18.8+; XXX)

[2015-04-14 02:36] runjmc opened #1233 "[APP SUBMITTED]: None"
### INFO
Python Version: **2.7.8 (default, Oct 20 2014, 15:05:19) [GCC 4.9.1]**
Operating System: **Linux-3.16.0-34-generic-x86_64-with-Ubuntu-14.10-utopic**
Locale: UTF-8
Branch: **master**
Commit: SiCKRAGETV/SickRage@281409d366b228a455879e02b2d55d3967db29e4
No Log available with ERRORS:
### ERROR
[code]
---
_STAFF NOTIFIED_: @SiCKRAGETV/owners @SiCKRAGETV/moderators

[2015-04-14 02:37] #1233 closed

[2015-04-14 02:47] isingthr4iam opened #1234 "[APP SUBMITTED]: None"
### INFO
Python Version: **2.7.8 (default, Jun 30 2014, 16:08:48) [MSC v.1500 64 bit (AMD64)]**
Operating System: **Windows-7-6.1.7601-SP1**
Branch: **master**
Commit: SiCKRAGETV/SickRage@281409d366b228a455879e02b2d55d3967db29e4
Link to Log: https://gist.github.com/7d30747eba62f8f5a930
### ERROR
[code]
---
_STAFF NOTIFIED_: @SiCKRAGETV/owners @SiCKRAGETV/moderators

[2015-04-14 03:09] homegreewn commented on #1170
Hi, abalone sorry I haven't posted the logs, I am trying some solutions I've read around. If it's policy, go ahead and close the topic and I'll start a new one later with the logs.

[2015-04-14 03:52] abeloin commented on #1017
@gborri Not sure what you want to do exactly, but I would recommend this instead:

`return neededEps[episode] if episode in neededEps else []`

[2015-04-14 04:00] abeloin commented on #1123
@ruinit Make sure SR has the proper permissions to access that file(chmod,chown)

[2015-04-14 05:05] runjmc opened #1235 "Post Processing fails if unable to notify"
BRANCH: (master) / COMMIT: (281409d366b228a455879e02b2d55d3967db29e4)
2.7.8 (default, Oct 20 2014, 15:05:19) [GCC 4.9.1]

I have plex notification setup with a server and client.  If my plex client goes to sleep and SR tries to send a notification it fails and Post Processing fails and in the scheduler Post Processing shows alive as false and Post Processing stops running.

[2015-04-14 05:30] noze2000 commented on #1195
yes that worked - as expected

[2015-04-14 05:30] #1195 closed

[2015-04-14 05:31] noze2000 commented on #1201
Done.
This issue seems to have disappeared when searing IPTorrent.
Thank you.

[2015-04-14 05:32] BRTPOB commented on #1117
So after I said that, I had 3+ episodes delete the associated files, while one or two properly moved them. I don't know what the trigger is. I've completely turned off post-processing for the time being, and it really started to delete files after the most recent update I did yesterday.

[2015-04-14 05:53] miigotu commented on #1234
Either you have some git process already running that is locking it such as TortoiseGIT, XCode, GitX, etc, OR your permissions are screwed up, OR you interrupted git at some point, OR you checked out the repo with one user and then ran SR as a different user.

Try removing .git/config.lock if it exists, and double check your owner/permissions.

[2015-04-14 06:23] konomimaster opened #1236 "[APP SUBMITTED]: <ProtocolError for api.opensubtitles.org/xml-rpc: 503 Service Unavailable>"
### INFO
Python Version: **2.7.3 (default, Mar 31 2015, 15:16:49) [GCC 4.9.2]**
Operating System: **Linux-3.18.10-armv7l-with-glibc2.4**
Locale: unknown
Branch: **master**
Commit: SiCKRAGETV/SickRage@281409d366b228a455879e02b2d55d3967db29e4
No Log available with ERRORS:
### ERROR
[code]
---
_STAFF NOTIFIED_: @SiCKRAGETV/owners @SiCKRAGETV/moderators

[2015-04-14 06:55] konomimaster opened #1237 "[APP SUBMITTED]: <ProtocolError for api.opensubtitles.org/xml-rpc: 503 Service Unavailable>"
### INFO
Python Version: **2.7.3 (default, Mar 31 2015, 15:16:49) [GCC 4.9.2]**
Operating System: **Linux-3.18.10-armv7l-with-glibc2.4**
Locale: unknown
Branch: **master**
Commit: SiCKRAGETV/SickRage@281409d366b228a455879e02b2d55d3967db29e4
No Log available with ERRORS:
### ERROR
[code]
---
_STAFF NOTIFIED_: @SiCKRAGETV/owners @SiCKRAGETV/moderators

[2015-04-14 07:28] noze2000 commented on #1201
2015-04-14 08:13:11 SEARCHQUEUE-BACKLOG-95451 :: [IPTorrents] :: Error while searching IPTorrents, skipping: global name 'MULTI_EP_RESULT' is not defined

Unfortunately, the issue remains.

[2015-04-14 07:48] raymondtrueman opened #1238 "Unable to parse to scene name"
SR Version:	BRANCH: (master) / COMMIT: (281409d366b228a455879e02b2d55d3967db29e4)
Python Version:	2.7.9 (default, Mar 23 2015, 00:06:48) [GCC 4.3.2]

Hi,

I got this error today:
2015-04-14 01:52:55 SEARCHQUEUE-BACKLOG-82696 :: Unable to parse Sons.Of.Anarchy.S02.720p.BluRay.x264.AVCHD into a scene name. If it's a valid one log a bug.

It seems valid to me, I'm not sure why it couldn't parse it an

[2015-04-14 09:18] neoatomic commented on #1236
Simple timeout. Happens from time to time.
Site maybe down for maintenance.?

[2015-04-14 09:18] #1236 closed

[2015-04-14 09:19] neoatomic commented on #1237
Simple timeout. Happens from time to time.
Site maybe down for maintenance.?

[2015-04-14 09:19] #1237 closed

[2015-04-14 09:19] Diak opened #1239 "[Feature Request] Add Mass update "info language" option"
Hi,

Can you add the possibility to mass update the "info language" of tv series please ?

I put in in French when i configured first my series and know i have to change them in english and i have lots of them...

Thanks.

[2015-04-14 09:27] fernandog commented on #1238
@raymondtrueman "Sons Of Anarchy" is the full name of the show or in the show page it appears with year or country?  If so add "Sons Of Anarchy" to scene exceptions

[2015-04-14 09:29] fernandog commented on #1201
@noze2000 wasnt merged. PR is still open

[2015-04-14 09:33] fernandog commented on #1117
@BRTPOB please post your FULL directories for PP and for shows

[2015-04-14 09:35] fernandog commented on #1235
@abeloin same thing like the email notify. If notification fails PP dont run

[2015-04-14 10:22] dkrowie commented on #673
Same problem here - anyway to force sickrage to see the wuaity of the show and thus remove from backlog?

[2015-04-14 10:28] fernandog commented on #673
Re-scan show

[2015-04-14 10:31] dkrowie commented on #673
didnt fix it .. even brand new shows which sickrage snatched and processed i.e. better call saul are appearing as download (unknown)

[2015-04-14 10:36] fernandog commented on #673
enable Archive first match

[2015-04-14 10:45] bmatulovich opened #1240 "[APP SUBMITTED]: [Errno 2] No such file or directory: '/home/bobm/downloads/Bates.Motel.S03E06.720p.HDTV.x264-KILLERS/Bates.Motel.S03E06.720p.HDTV.x264-KILLERS.mkv'"
### INFO
Python Version: **2.7.6 (default, Mar 22 2014, 22:59:38) [GCC 4.8.2]**
Operating System: **Linux-3.13.0-49-generic-i686-with-Ubuntu-14.04-trusty**
Locale: unknown
Branch: **master**
Commit: SiCKRAGETV/SickRage@281409d366b228a455879e02b2d55d3967db29e4
No Log available with ERRORS:
### ERROR
[code]
---
_STAFF NOTIFIED_: @SiCKRAGETV/owners @SiCKRAGETV/moderators

[2015-04-14 11:12] TagForce commented on #1132
@fernandog I have no idea about this one... I'll need to examine the code, but I'm *really* short on time.
I'll see if I can do this sometime tomorrow

[2015-04-14 11:12] fernandog commented on #1235
@TagForce can you confirm please?

[2015-04-14 11:20] fernandog commented on #1234
@miigotu if you think its a support/question feel free to label

[2015-04-14 11:22] TagForce commented on #1132
@jmf866 For what device are you trying to create metadata?

[2015-04-14 11:29] TagForce commented on #1235
@runjmc Can you post a log of this happening?
I want to see the last entry of the post processing, as it looks like it should always cleanly exit the notification.

[2015-04-14 11:33] fernandog commented on #1235
@TagForce maybe the log in this issue may help
https://github.com/SiCKRAGETV/sickrage-issues/issues/1216

[2015-04-14 12:46] TagForce commented on #1235
@fernandog Nope, that error occurs elsewhere in the code.

[2015-04-14 13:18] neoatomic opened #1241 "[APP SUBMITTED]: [Errno 2] No such file or directory: '/volume1/@appstore/sickbeard-custom/var/SickBeard/lib/dateutil/zoneinfo/zoneinfo-2015c.tmp'"
### INFO
Python Version: **2.7.9 (default, Mar 22 2015, 23:23:23) [GCC 4.6.4]**
Operating System: **Linux-3.2.40-armv7l-with-glibc2.4**
Locale: UTF-8
Branch: **develop**
Commit: SiCKRAGETV/SickRage@83c176cfdc50b42812b7a813d6a16a5d438dd76c
No Log available with ERRORS:
### ERROR
[code]
---
_STAFF NOTIFIED_: @SiCKRAGETV/owners @SiCKRAGETV/moderators

[code]

[2015-04-14 13:20] jmf866 commented on #1132
I use JRiver Media Center for HTPC, which has it's own sidecar files in XML. It has a good scraper built in, but it won't do DVD order. JRiver will import NFO files with some modifications to the files first. So I choose Kodi in the dropdown for Metadata Type to generate episode metadata, and Mede8er to generate thumbnails because the filename format matches what JRiver uses.

I'm looking at these

[2015-04-14 13:47] runjmc commented on #1235
2015-04-14 06:39:28 DEBUG    POSTPROCESSER :: 'Traceback (most recent call last):\n  File "/home/john/SickRage/sickbeard/scheduler.py", line 97, in run\n    self.action.run(self.force)\n  File "/home/john/SickRage/sickbeard/autoPostProcesser.py", line 50, in run\n    processTV.processDir(sickbeard.TV_DOWNLOAD_DIR)\n  File "/home/john/SickRage/sickbeard/processTV.py", line 203, in processDir\n    p

[2015-04-14 13:57] SweBel opened #1242 "[APP SUBMITTED]: 'utf8' codec can't decode byte 0xa6 in position 10: invalid start byte"
### INFO
Python Version: **2.7.3 (default, Mar 31 2015, 15:16:49) [GCC 4.9.2]**
Operating System: **Linux-3.18.10-armv7l-with-glibc2.4**
Locale: unknown
Branch: **master**
Commit: SiCKRAGETV/SickRage@281409d366b228a455879e02b2d55d3967db29e4
No Log available with ERRORS:
### ERROR
[code]
---
_STAFF NOTIFIED_: @SiCKRAGETV/owners @SiCKRAGETV/moderators

[2015-04-14 14:03] fernandog commented on #1242
@SweBel please set locale to UTF-8

[2015-04-14 14:06] SweBel commented on #1242
Wow, thanks for the fast reply!

I am using openelec, when writing locale in the terminal it gives me:

OpenELEC:~ # locale
LANG=
LC_CTYPE="POSIX"
LC_NUMERIC="POSIX"
LC_TIME="POSIX"
LC_COLLATE="POSIX"
LC_MONETARY="POSIX"
LC_MESSAGES="POSIX"
LC_PAPER="POSIX"
LC_NAME="POSIX"
LC_ADDRESS="POSIX"
LC_TELEPHONE="POSIX"
LC_MEASUREMENT="POSIX"
LC_IDENTIFICATION="POSIX"
LC_ALL=

OpenELEC:~ # locale -a
C
POS

[2015-04-14 14:07] BRTPOB commented on #1117
I changed PP to /home/offspring/process and the shows are /media/Newsgroups/alt.binaries.tv/Show Name Here

[2015-04-14 14:10] abeloin commented on #1166
@shadowjustice @miigotu PR merged in develop, will be merged in master Sunday. Please test on Sunday after update

[2015-04-14 14:13] fernandog commented on #1117
@BRTPOB after that, error persists?

[2015-04-14 14:13] BRTPOB commented on #1117
It's not 100%, but yes.

[2015-04-14 14:13] TagForce commented on #1132
Found it, and fixed it real quick... The function validateShow did not account for dvdorder... It does now... It's only ever called from generic.py once, when creating metadata, so shouldn't be a problem changing it.

I created the pull request for last week's develop, because I couldn't upgrade it right now, but I don't think helpers.py has changed, and it's only 2 added lines.

[2015-04-14 14:13] fernandog commented on #1242
@SweBel asked them in openelec.tv/forum/

[2015-04-14 14:13] #1242 closed

[2015-04-14 14:14] abeloin commented on #1126
@fernandog Do we have an email account that could be used for that?

[2015-04-14 14:16] fernandog commented on #1126
@abeloin nope. I'm waiting @echel0n to reply about the SSL and the forum. the official email is sickrage.tv  a gmail

[2015-04-14 14:17] abeloin commented on #1132
@jmf866 PR merged into develop. Will be merge into master on Sunday.

[2015-04-14 14:17] TagForce commented on #1132
@jmf866 Do you have a link to metadata documentation for JRiver?
If you want, and can supply the link, you can add a feature request to add the metadata provider for JRiver. It would save you some time editing the files manually ;)

[2015-04-14 14:17] fernandog commented on #1117
explain the "not 100%" - does it work for new downloads ?

[2015-04-14 14:18] #1213 closed

[2015-04-14 14:18] #1184 closed

[2015-04-14 14:19] #1183 closed

[2015-04-14 14:19] #1187 closed

[2015-04-14 14:19] BRTPOB commented on #1117
Here's the PP log from one where it worked:

Output from user script "sabToSickBeard.py" (Exit code = 0):
Loading config from /home/offspring/.sabnzbd/scripts/autoProcessTV.cfg
Opening URL: http://192.168.1.176:8082/home/postprocess/processEpisode?nzbName=Marvels.Daredevil.S01E12.1080p.WEBRip.x264-2HD.nzb&quiet=1&dir=%2Fhome%2Foffspring%2Fprocess%2FMarvels.Daredevil.S01E12.1080p.WEBRip.x264-2HD
Pr

[2015-04-14 14:20] fernandog commented on #1209
@mtosic do you have this issue too? is BTN fully online again?

[2015-04-14 14:21] #1232 closed

[2015-04-14 14:22] #1158 closed

[2015-04-14 14:22] #1144 closed

[2015-04-14 14:24] #1124 closed

[2015-04-14 14:24] #1145 closed

[2015-04-14 14:27] jmf866 commented on #1132
@TagForce It works perfectly now, thanks!  I'll see if I can find a link to JRiver's metadata documentation.

[2015-04-14 14:27] fernandog commented on #1117
@BRTPOB you didn't replied to " does it work for new downloads ?" yes|no ?

[2015-04-14 14:31] TagForce commented on #1117
@fernandog @BRTPOB I know what the problem (probably) is...
The filename check is case-sensitive... If the mkv and associated files are all in the same case (exactly the same) it works... Otherwise it won't.

[2015-04-14 14:42] TagForce commented on #1132
@jmf866 I'll close this issue... Open a new one for the feature request if you want.

[2015-04-14 14:42] #1132 closed

[2015-04-14 14:48] abeloin commented on #1130
@sjay1 There is only 3 mins of log lines!

How about a Teamviewer session?

[2015-04-14 14:53] BRTPOB commented on #1117
@fernandog no, those were both new downloads.

@TagForce ok, that makes sense but at the same time, should that also fix the non-same named files issue? For example, Madam Secretary:

Output from user script "sabToSickBeard.py" (Exit code = 0):
Loading config from /home/offspring/.sabnzbd/scripts/autoProcessTV.cfg
Opening URL: http://192.168.1.176:8082/home/postprocess/processEpisode?nzbName=Madam

[2015-04-14 14:54] TagForce commented on #1235
Can you edit the following line (in kodi.py)
https://github.com/SiCKRAGETV/SickRage/blob/master/sickbeard/notifiers/kodi.py#L243

to read:
[code]

Mind the indentation.

[2015-04-14 15:00] TagForce commented on #1117
@BRTPOB No, that would require parsing those filenames, and checking if the parsed result matched the parsed result for the videofile... A bit more work than adding .lower() to the compare for the filenames ;)

[2015-04-14 15:11] BRTPOB commented on #1117
@TagForce but it IS doable, from what you're saying. :D

[2015-04-14 15:34] shadowjustice commented on #1166
It will be in the evening but I will test again.

[2015-04-14 16:10] valantislevas opened #1243 "proccesing problem with srt"
i am using :

SR Version: 	BRANCH: (master) / COMMIT: (281409d366b228a455879e02b2d55d3967db29e4)
SR User:	zotac
SR Locale:	('el_GR', 'cp1253')
SR Config file:	C:\SickRage\config.ini
SR Database file:	C:\SickRage\sickbeard.db
SR Cache Dir:	C:\SickRage\cache
SR Log Dir:	C:\SickRage\Logs
SR Arguments:	[]
Python Version:	2.7.8 (default, Jun 30 2014, 16:08:48) [MSC v.1500 64 bit (AMD64)]

the problem i

[2015-04-14 16:10] fernandog commented on #1235
@TagForce @abeloin why not change this line to catch all errors?

https://github.com/SiCKRAGETV/SickRage/blob/master/sickbeard/notifiers/kodi.py#L250

        except Exception, e:
            logger.log(u"Warning: Couldn't contact KODI HTTP at " + ek.ss(url) + " " + repr(e),
                       logger.WARNING)
            return False

* ex(e) > repr(e)

[2015-04-14 16:20] tutti21 opened #1244 "Anime Searching is not working"
Hello,

I have 20 animes currently in sickrage, all update perfectly but Baby Steps not.

I added Baby Steps and it loaded Season 1 with no problem but when it tries to download Season 2 it find nothing.

Yes I have ticked annime and scene numbering on
have no filter on subgroup
have tried it with no quality filter
I have set the find tvshows to TVDB

https://gist.github.com/tutti21/112661cacae903

[2015-04-14 16:26] valkhyr1 opened #1245 "[APP SUBMITTED]: None"
### INFO
Python Version: **2.7.8 (default, Jun 30 2014, 16:08:48) [MSC v.1500 64 bit (AMD64)]**
Operating System: **Windows-2012Server-6.2.9200**
Branch: **master**
Commit: SiCKRAGETV/SickRage@281409d366b228a455879e02b2d55d3967db29e4
No Log available with ERRORS:
### ERROR
[code]
---
_STAFF NOTIFIED_: @SiCKRAGETV/owners @SiCKRAGETV/moderators

[2015-04-14 16:33] fernandog commented on #1245
@valkhyr1 as the log says, there is no episode number in your file

[2015-04-14 16:45] fernandog commented on #853
@rarbg can you check if is working? Just forced a search in rarbg.

Tuesday, 14 April 17 : 45 : 15 (GMT + 1:00)

[2015-04-14 16:51] rarbg commented on #853
Confirmed working , got a token request with user agent
SickRage/(Linux; 3.18.10-1-osmc; 66efded2-XXX)

----- Original Message -----
From: "SiCKRAGETV/sickrage-issues"
To:"SiCKRAGETV/sickrage-issues"
Cc:"Rarbg"
Sent:Tue, 14 Apr 2015 09:45:28 -0700
Subject:Re: [sickrage-issues] Update RARBG to use API and min seeders
/ leechers / ranked torrents (#853)

	@rarbg [1] can you check if is working? Just

[2015-04-14 16:54] TagForce commented on #1235
@fernandog Yeah, that should work too :)

[2015-04-14 16:56] abeloin commented on #1235
@fernandog Yes, you should use `except Exception as e` to make it work with python3(future proof)

Also we should consider changing all to those call using urlib2 to requests

[2015-04-14 16:59] TagForce commented on #1117
@BRTPOB Anything is doable given enough time and processor power :)
But the difference between adding case-insensitivity and changing the way the entire associated files check works is the difference between a bugfix and a feature request.

So, yeah, I'll see if I can fix the case tonight, and I'll leave the feature request for later.

[2015-04-14 17:00] #853 closed

[2015-04-14 17:03] fernandog opened #1246 "[Feature Request] Change all urllib2 to requests"

[2015-04-14 17:04] fernandog commented on #589
added "Change all urlib2 to requests"

[2015-04-14 17:31] fernandog commented on #1241
@neoatomic restart helps?

[2015-04-14 17:31] valkhyr1 commented on #1245
Hello fernandog,

Strange, I send a log with 5 lines:

2015-04-14 03:28:46 SHOWQUEUE-REFRESH :: No episode number found in Z:\TV Shows\Once upon a time\Season 0\Once.Upon.a.Time 2011.S02.Special-Magic.is.Coming.720p.HDTV.x264-BAJSKORV.mkv, ignoring it
2015-04-14 03:28:45 SHOWQUEUE-REFRESH :: No episode number found in Z:\TV Shows\Once upon a time\Season 4\Once.Upon.a.Time.S04.Special-Secrets.of.St

[2015-04-14 17:33] fernandog commented on #1245
@valkhyr1 they are special episodes. not double episodes

[2015-04-14 17:34] fernandog commented on #1245
@valkhyr1 the other the naming is wrong. should be Def***.S02E12-E13.720p

[2015-04-14 17:53] neoatomic commented on #1241
@fernandog Yes, didn't get the error after a restart.
Submitted it as i hadn't seen this error before.

[2015-04-14 17:53] #1241 closed

[2015-04-14 17:55] #1245 closed

[2015-04-14 18:00] Thraxis commented on #1238
There is no episode number in that filename

[2015-04-14 18:06] fernandog commented on #1238
@Thraxis maybe it's a season pack but he needs to check scene exception

[2015-04-14 18:22] fernandog commented on #1240
@bmatulovich check if the file was already moved

[2015-04-14 18:23] Thraxis commented on #1238
I'll post the fix tonight.  There's a broken RegEx

[2015-04-14 18:23] fernandog commented on #1231
@TATUMTOT is the issue persist? isn't a SceneAccess website issue?

[2015-04-14 18:29] fernandog commented on #1231
@TATUMTOT please run in ssh:

openssl version

report back. Maybe you need to update it

[2015-04-14 18:34] orjanTonder opened #1247 "sickrage API"
Sickrage dosent get any hits of pfmonkey or oznzb added log under

[code]

[2015-04-14 18:36] mijnham opened #1248 "chmod issue on NTFS network disk"
Just want to register an issue I've encountered the last few days. I've running Sickrage (BRANCH: (master) / COMMIT: (281409d366b228a455879e02b2d55d3967db29e4) ) on a Synology NAS. Worked perfectly with my NTFS external HDD as post processing target location AS LONG AS it is attached via USB (local volume). However, since I moved the external HDD to another place in my network and mounted it to th

[2015-04-14 18:39] abeloin commented on #1224
@ElmerLastdrager PR merged in develop, will be in master on Sunday

[2015-04-14 18:49] abeloin commented on #1244
The problem is that SR use thexem to know the season names: http://thexem.de/xem/show/2181

But the data is empty, you need to fill in the data on xem

[2015-04-14 18:57] Thraxis commented on #1244
The scene mapping to add season 2 is pending on XEM.

[2015-04-14 19:05] Thraxis commented on #1248
Try adding noperm to your mount options

[2015-04-14 19:41] ugokanain opened #1249 "web download"
Have noticed several sites dedicated to tv series. The way things go, this will probably be short lived, but could SR take advantage of this, and allow to dl from these sites?

[2015-04-14 19:48] fernandog commented on #1247
@orjanTonder

can you try to open in your browser all the "Search URL" from your log?
Maybe those sites are blocked.
Do you have global proxy enabled or provider proxy enabled?

[2015-04-14 20:07] tutti21 commented on #1244
Ok thx, I try that. Or waiting till its not pending anymore, and I now know whats the problem :)

[2015-04-14 20:07] #1244 closed

[2015-04-14 20:34] TATUMTOT commented on #1231
openSSL 1.0.1l 15 Jan 2015 This is a persistent issue with SceneAccess. it was working ok then I resolved a issues with sickrage not updating then i discovered this after updates. but i cant tell you how long this has been going on for. all and all in the end i ended up Wiping everything related to sickrage and restored the DB and Configs.

[2015-04-14 20:36] fernandog commented on #1231
@abeloin do you know what it is?

[2015-04-14 20:37] TATUMTOT commented on #1231
not understanding the question?

[2015-04-14 20:37] TATUMTOT commented on #1231
oh i got it now

[2015-04-14 20:52] matigonkas opened #1250 "[APP SUBMITTED]: locale changed during initialization"
### INFO
Python Version: **2.7.8 (default, Oct 20 2014, 15:05:29) [GCC 4.9.1]**
Operating System: **Linux-3.16.0-34-generic-i686-with-Ubuntu-14.10-utopic**
Locale: unknown
Branch: **develop**
Commit: SiCKRAGETV/SickRage@b8bb0939a3eb11d7d3aae567bef76259549631d0
Link to Log: https://gist.github.com/c7d1815e451032aa938e
### ERROR
[code]
---
_STAFF NOTIFIED_: @SiCKRAGETV/owners @SiCKRAGETV/moderators

[2015-04-14 21:25] miigotu commented on #1239
I have looked at the code for mass update/edit shows. I believe it could be improved and agree changing info language should be possible in that method.

imho, massEdit should use editShow in a for loop to make it easier to keep both able to change the same settings.

This will probably not be implemented in the near future, unless someone else decides to pick it up.

[2015-04-14 21:37] fernandog commented on #1239
@miigotu can you please check some open confirmed issues and try to fix any? We have A LOT of them

[2015-04-14 22:01] Diak commented on #1239
If it's in the roadmap it's good for me too ;)
Thanks for the answer by the way.

[2015-04-14 22:03] pct00 commented on #1181
+1

[2015-04-14 22:17] mijnham commented on #1248
I'm not able to get a mount working via the CLI on the Synology. Even if I would get it working, Synology resets the fstab file on reboot, removing my custom mount. That's why I'm using the mount functionality in DSM but that one doesn't allow to add params like noperm.

Or do I miss something?

[2015-04-14 23:18] trancen commented on #1177
Resolved.

[2015-04-14 23:18] trancen commented on #1177
Resolved.

[2015-04-14 23:18] #1177 closed

[2015-04-15 00:03] fernandog opened #1251 "Show in log which IP logged in SR"

[2015-04-15 00:49] FusionAge opened #1252 "[APP SUBMITTED]: None"
### INFO
Python Version: **2.7.6 (default, Mar 22 2014, 22:59:38) [GCC 4.8.2]**
Operating System: **Linux-3.13.0-48-generic-i686-with-Ubuntu-14.04-trusty**
Locale: unknown
Branch: **master**
Commit: SiCKRAGETV/SickRage@281409d366b228a455879e02b2d55d3967db29e4
Link to Log: https://gist.github.com/497282bfd9c374d28b46
### ERROR
[code]
---
_STAFF NOTIFIED_: @SiCKRAGETV/owners @SiCKRAGETV/moderators

[2015-04-15 01:07] fernandog commented on #1252
Authentication Failed

[2015-04-15 01:07] #1252 closed

[2015-04-15 01:32] fernandog commented on #1250
@matigonkas what did you do?

your locale is unknown. Try set to utf-8

[2015-04-15 01:35] TATUMTOT commented on #1231
Here is some more information that was in the logs same thing just repetitive.

2015-04-14 18:34:01 SEARCHQUEUE-DAILY-SEARCH :: [SceneAccess] :: Unable to connect to SceneAccess provider: error [Errno 1] _ssl.c:499: error:14077438:SSL routines:SSL23_GET_SERVER_HELLO:tlsv1 alert internal error
2015-04-14 18:14:00 SEARCHQUEUE-DAILY-SEARCH :: [SceneAccess] :: Unable to connect to SceneAccess provider

[2015-04-15 01:38] raymondtrueman commented on #1238
Thank you very much @Thraxis
@fernandog The scene exceptions was the first thing I checked and it didn't have any but I also figured it didn't need any because on the show page the full name of the show is already correct as "Sons of Anarchy". There were never any year specification. And the release is a season pack yes

[2015-04-15 02:19] abeloin commented on #1201
PR is now merged

[2015-04-15 02:26] thecolorchanges opened #1253 "[APP SUBMITTED]: None"
### INFO
Python Version: **2.6.5 (r265:79063, Jul 24 2010, 21:39:31) [GCC 4.2.3]**
Operating System: **Linux-3.0.3-unRAID-i686-AMD_Athlon-tm-_II_Neo_N36L_Dual-Core_Processor-with-slackware-13.1.0**
Locale: unknown
Branch: **develop**
Commit: SiCKRAGETV/SickRage@b8bb0939a3eb11d7d3aae567bef76259549631d0
Link to Log: https://gist.github.com/def4c711f607299757b0
### ERROR
[code]
---
_STAFF NOTIFIED_:

[2015-04-15 02:27] thecolorchanges commented on #1253
Accidental submission. Closing.

[2015-04-15 02:27] #1253 closed

[2015-04-15 02:28] abeloin commented on #1043
@cyberundertaker Deleted the cache/sessions folder?

[2015-04-15 02:31] abeloin commented on #1170
@homegreewn Ok, I will close the issue. You can reopen it later, if you don't find a solution

[2015-04-15 02:31] #1170 closed

[2015-04-15 02:46] abeloin commented on #1209
@reefwarrior See the following: http://btnapps.net/docs.php
[code]

[2015-04-15 02:49] abeloin commented on #1243
Duplicate https://github.com/SiCKRAGETV/sickrage-issues/issues/1117

[2015-04-15 02:49] #1243 closed

[2015-04-15 02:56] abeloin commented on #1249
@fernandog Honestly, this should be closed as it's gonna be PITA to maintain(web scrapping changing site), support of download manager or download directly(which mean we have to implement a download manager from scratch)

[2015-04-15 02:57] abeloin commented on #1247
@orjanTonder Provide clean-up of those 2 newznab feeds

[2015-04-15 03:14] ugokanain commented on #1249
SR doesn't need to dl the files. Rather take advantage there are sites that have the episodes, since many on nntp are being taken down. Recently lost my storage, and realized that it isn't as easy as it used to be. Something more in addition to nzbs and torrents

[2015-04-15 03:26] Thraxis commented on #1238
https://github.com/SiCKRAGETV/SickRage/pull/1773

Not going to say it will fix 100% of everything... but it should help with more matches that were failing before

[2015-04-15 03:32] abeloin commented on #1181
Change in KAT and TPB search for episode
`2015-04-11 12:07:10 INFO     SEARCHQUEUE-BACKLOG-80379 :: [KickAssTorrents] :: Performing season pack search for The Big Bang Theory`

[2015-04-15 03:43] abeloin commented on #1250
strptime isn't thread safe, so it need a lock. http://stackoverflow.com/questions/4625149/fixed-strptime-exception-with-thread-lock-but-slows-down-the-program

[2015-04-15 03:47] abeloin commented on #1231
@TATUMTOT Can you give me the result of this command:
[code]

[2015-04-15 03:59] abeloin commented on #1238
@raymondtrueman Please provide the full log of that search.

[2015-04-15 04:04] abeloin commented on #1217
@neoatomic Thanks

[2015-04-15 04:11] abeloin commented on #1211
Sometime the git pull pass but SR fail to restart.
It isn't a question of cache, but the difference between py and tmpl file processing.

Py file are generated when python start, so updating them later won't be reflected until you start the program again.

In case of tmpl, each time you accessed it , it can recompile the code if the file changed.

Can you see the issue arise? If a change in a tmpl

[2015-04-15 04:12] #1182 closed

[2015-04-15 04:13] abeloin commented on #1249
@ugokanain Can you define "dedicated to tv series" and provide example? Maybe we don't have the definition.

[2015-04-15 04:54] ugokanain commented on #1249
http://www.boxtv.com/tv
http://serieszone.com
http://www.cbsnews.com/videos/topics/60-minutes/

[2015-04-15 04:57] noze2000 commented on #1201
2015-04-15 06:56:13 Thread-44 :: "/Apps/bin/git" fetch origin returned
: error: Ref refs/remotes/origin/develop is at
b766ad3a36242b5a34345f63237cc8427db92236 but expected
b8bb0939a3eb11d7d3aae567bef76259549631d0
From https://github.com/SiCKRAGETV/SickRage
 ! b8bb093..b766ad3  develop    -> origin/develop  (unable to update local ref)

On 15 April 2015 at 04:19, Alexandre Beloin <notifications@git

[2015-04-15 05:15] TagForce commented on #1243
@valantislevas The log shows it's not moving the videofile because it's in use by another program (probably your torrent client). You should change the process method to copy, or run scripts to remove all seeding torrents from your client before they get processed.

[2015-04-15 05:22] xInsertx opened #1254 "Option to disable chmod setting permission on file copy/move"
Hello,

Can we have the option to disable setting permissions on file copy/move during post-processing. If i copy to a folder that inherits permissions; when it chmod's them they either break giving everyone access rather than the group or file my error log with Failed to set permission for /path/to/file.mkv to 664.

For example:
/path/to/file.mkv >> /path/to/kids/file.mkv # this would be fine bec

[2015-04-15 05:31] Toilal opened #1255 "Deluge: Unable to send Torrent: Return code undefined"
I can't snatch my downloads with deluge.

It was working few weeks ago, don't know what's the issue ...

[code]

[2015-04-15 05:54] TagForce commented on #1249
@ugokanain @fernandog @abeloin We shouldn't support those sites, for a few reasons:
- SR is, by definition, a search tool. It will not, itself, download anything other than a link to information.
Using these sites, it would need to download the files itself, which makes it a different kind of tool, subject to different kinds of scrutiny from all the organisations ending in 'Association of America'

[2015-04-15 06:13] Dennisreneholm commented on #937
I got this result by adding a existing show yes.
Like i've shown before.

[2015-04-15 06:13] Toilal commented on #1255
I understand now : the error is raised when the torrent is already loaded in deluge.

[2015-04-15 06:28] ugokanain commented on #1249
This was just an idea, and those were examples. The trouble is that nntp is also not entirely reliable, since many parts go missing. Since SR already deals with nzb and torrents, it would be a last effort to find what you are looking for.

If you prefer, you can close this.

[2015-04-15 06:53] ryanf86 opened #1256 "[APP SUBMITTED]: [SSL: SSLV3_ALERT_HANDSHAKE_FAILURE] sslv3 alert handshake failure (_ssl.c:581)"
### INFO
Python Version: **2.7.9 (v2.7.9:648dcafa7e5f, Dec 10 2014, 10:10:46) [GCC 4.2.1 (Apple Inc. build 5666) (dot 3)]**
Operating System: **Darwin-14.3.0-x86_64-i386-64bit**
Locale: unknown
Branch: **master**
Commit: SiCKRAGETV/SickRage@281409d366b228a455879e02b2d55d3967db29e4
Link to Log: https://gist.github.com/9699c569fb59384dfe80
### ERROR
[code]
---
_STAFF NOTIFIED_: @SiCKRAGETV/owners @S

[2015-04-15 07:16] TATUMTOT commented on #1231
# openssl s_client -connect sceneaccess.eu:443
CONNECTED(00000003)
4147902616:error:14077438:SSL routines:SSL23_GET_SERVER_HELLO:tlsv1 alert internal error:s23_clnt.c:770:
---
no peer certificate available
---
No client certificate CA names sent
---
SSL handshake has read 7 bytes and written 307 bytes
---
New, (NONE), Cipher is (NONE)
Secure Renegotiation IS NOT supported
Compression: NONE
Expansi

[2015-04-15 07:17] TATUMTOT commented on #1231
Also found this in the SickRage log.

AASSLError: [Errno 1] _ssl.c:499: error:14077438:SSL routines:SSL23_GET_SERVER_HELLO:tlsv1 alert internal error
AA    raise SSLError(e, request=request)
AA  File "/share/CACHEDEV2_DATA/.qpkg/SickBeard-TVRage/SickBeard-TVRage/lib/requests/adapters.py", line 431, in send
AA    r = adapter.send(request, **kwargs)
AA  File "/share/CACHEDEV2_DATA/.qpkg/SickBeard-TV

[2015-04-15 07:24] TATUMTOT commented on #1231
not sure is this is relevant.

[2015-04-15 07:33] matigonkas commented on #1250
@fernandog isnt my locale already utf8? When it happen i wasnt doing anything iir, only refreshing the history page from time to time to see if some downloads would pop up
~$ locale
LANG=pt_PT.UTF-8
LANGUAGE=pt:pt_BR:en
LC_CTYPE="pt_PT.UTF-8"
LC_NUMERIC="pt_PT.UTF-8"
LC_TIME="pt_PT.UTF-8"
LC_COLLATE="pt_PT.UTF-8"
LC_MONETARY="pt_PT.UTF-8"
LC_MESSAGES="pt_PT.UTF-8"
LC_PAPER="pt_PT.UTF-8"
LC_NAME="p

[2015-04-15 08:43] sjay1 commented on #1130
@abeloin Whenever you are able to it would be very much appreciated.

[2015-04-15 09:32] fernandog commented on #1256
@ryanf86 disable proxy for RARBG

[2015-04-15 09:42] #1249 closed

[2015-04-15 10:09] TagForce commented on #1225
@pct00 @fernandog Is kind of untested, as in, it doesn't break anything, but not sure if it actually fixes the issue... It should though, as it accepts 'Unknown' as a quality, and now doesn't and will try to get it from the episode status, folder name, or file name.

[2015-04-15 10:13] TagForce commented on #1205
Shouldn't we change the filename for the metadata file SR itself uses to store its info?
tvshow.nfo is used by other tools, so that'll always be a problematic name for SR to use.
sr_show.nfo is better, I think.

[2015-04-15 10:41] bonega commented on #1105
I am getting the same problem with a specific show.
Can I provide anymore info? The stacktrace is more or less the same as the previous poster.

[2015-04-15 10:46] gborri commented on #1017
@abeloin i have to catch the KeyError Exception.

[2015-04-15 11:18] fernandog commented on #1255
@Toilal can you try to do the same?

https://github.com/RuudBurger/CouchPotatoServer/issues/2440

[2015-04-15 11:19] #1235 closed

[2015-04-15 11:21] pct00 commented on #1181
isn't season search only fallback?
i had it enabled and already configured for episode search only
i completelly deactivated the option but seems to be the same

[2015-04-15 11:22] fernandog commented on #1250
@abeloin didn't get it. if is a thread issue, why this is the first time it happend?

[2015-04-15 11:23] fernandog commented on #1207
@rodrigompaz please update and try to reproduce the error

[2015-04-15 11:24] Brainarts opened #1257 "[APP SUBMITTED]: HTTPConnectionPool(host='cypress.whatbox.ca', port=51440): Read timed out. (read timeout=120)"
### INFO
Python Version: **2.7.9 (default, Dec 10 2014, 12:28:03) [MSC v.1500 64 bit (AMD64)]**
Operating System: **Windows-7-6.1.7601-SP1**
Branch: **master**
Commit: SiCKRAGETV/SickRage@281409d366b228a455879e02b2d55d3967db29e4
Link to Log: https://gist.github.com/2586ad1df6c3213ca6b2
### ERROR
[code]
---
_STAFF NOTIFIED_: @SiCKRAGETV/owners @SiCKRAGETV/moderators

[2015-04-15 11:24] Brainarts opened #1258 "[APP SUBMITTED]: HTTPConnectionPool(host='cypress.whatbox.ca', port=51440): Read timed out. (read timeout=120)"
### INFO
Python Version: **2.7.9 (default, Dec 10 2014, 12:28:03) [MSC v.1500 64 bit (AMD64)]**
Operating System: **Windows-7-6.1.7601-SP1**
Branch: **master**
Commit: SiCKRAGETV/SickRage@281409d366b228a455879e02b2d55d3967db29e4
Link to Log: https://gist.github.com/561ae7ca48131d7930ff
### ERROR
[code]
---
_STAFF NOTIFIED_: @SiCKRAGETV/owners @SiCKRAGETV/moderators

[2015-04-15 11:26] fernandog commented on #1157
@miigotu did you do any tests with this? thanks!

[2015-04-15 11:27] fernandog commented on #1123
@Thraxis you can change label from "fix pending" to "fix" when there's a PR available that fix the issue and remove priority - if it was set =)

[2015-04-15 11:32] kgbasio commented on #1181
Unless I have misunderstood - your saying to set it to episode only from season only.
From my original post:
"I did notice that when I swap seach types episode only to season only that it seems to find the opposite to what I want. The log below is from an __episode only__ search. I've tried having fallback seach turned on. Doesn't make a difference."

Either way, it seems to be randomly grabbing t

[2015-04-15 11:34] fernandog commented on #1105
@ahaghgoo

from your log: "timed out"

check if rtorrent is running and check your user/pass/IP settings

[2015-04-15 11:48] fernandog commented on #1105
@ahaghgoo didn't you received "Return code undefined" anymore?

[2015-04-15 11:55] fernandog commented on #1210
@abeloin should we force disable proxy for rarbg?

[2015-04-15 11:55] fernandog commented on #1210
@topper2830 please reply or will close

[2015-04-15 11:57] fernandog commented on #1176
@goatbased what were the providers that caused this error?

[2015-04-15 11:58] #806 closed

[2015-04-15 11:59] fernandog commented on #793
@scythe000 so all of them got PP ? new downloads are PP OK?

[2015-04-15 12:00] fernandog commented on #1191
@TagForce does priority option force the copy/move even if the file already exists ?

[2015-04-15 12:01] #1257 closed

[2015-04-15 12:01] #1258 closed

[2015-04-15 12:21] ryanf86 commented on #1256
Proxy is not enabled

Have enabled restarted, disabled and restarted again still getting the same error

[2015-04-15 12:23] hive opened #1259 "[Feature Request] Add support for Skin/Template/Theme"
While the codebase looks like it has been split up into templates. (slick?). And then future broken down into interface/default.

There is no easy way to install a new 'skin'.

While ideally the business logic wouldn't be in the templates, as a staring point it would be great if it was possible to create/install a new skin using the gui. Which would allow the overloading of the css/images/js folde

[2015-04-15 12:29] fernandog commented on #1256
@ryanf86 please full read this. It's the same issue

https://github.com/SiCKRAGETV/sickrage-issues/issues/978

[2015-04-15 12:30] fernandog commented on #1254
https://github.com/SiCKRAGETV/sickrage-issues/issues/1248

[2015-04-15 12:32] fernandog commented on #1254
@TagForce what do you think?

[2015-04-15 12:42] fernandog commented on #1107
@Romano84 you need to start adding words to ignore list like "VOSTFR". I guess this is why SR used to download only english

[2015-04-15 12:42] #1066 closed

[2015-04-15 12:42] fernandog commented on #1066
@gborri no reply. closing

[2015-04-15 12:44] fernandog commented on #946
@TagForce any news on this one? thanks!

[2015-04-15 13:03] abeloin commented on #1231
@TATUMTOT Try this one:
[code]
If this one also fail, there is nothing we can do on our side. Your system doesn't support any of the cipher the server support(See report: https://www.ssllabs.com/ssltest/analyze.html?d=sceneaccess.eu&s=141.101.118.14&latest).

you need to update, python and openssl

[2015-04-15 13:28] gborri commented on #1017
@abeloin i have understood only now your suggestion

[2015-04-15 13:29] gborri commented on #1017
i will change the PR.

[2015-04-15 13:40] TagForce commented on #946
@fernandog No, it's not quite working as I expected... I'll need to work around some things so that it will at least return a valid value.

[2015-04-15 13:41] TagForce commented on #1254
@fernandog Yes, we can make this optional... I'd rather work around the issue so that it can set permission though.

[2015-04-15 13:49] Romano84 commented on #1107
@fernandog I just tried. I allow all fansub but I added "VOSTFR" in required word.

<pre>2015-04-15 15:45:43 DEBUG    SEARCHQUEUE-MANUAL-81797 :: Picking the best result out of [u'[HorribleSubs].One.Piece.-.687.[720p].mkv', u'[Sick-Fansubs].One.Piece.687.[720p][5603839D].mp4']
2015-04-15 15:45:43 DEBUG    SEARCHQUEUE-MANUAL-81797 :: Building black and white list for 81797
2015-04-15 15:45:43 DEBUG

[2015-04-15 13:52] TagForce commented on #1191
@fernandog Yes, if you select manual PP and check the force priority checkbox it will replace an existing file (no further checks, is_priority is set to true). If PP finds a download in snatch history for the current file, it will still check some stuff (is_priority is false means it will check if the status is one of snatched, or if the new_ep_quality > old_ep_quality and not unknown), but it wil

[2015-04-15 14:03] fernandog commented on #1107
@abeloin do know what is going on?

[2015-04-15 14:03] valantislevas commented on #1243
i choose copy on Sickrage but again it says

2015-04-15 16:55:25 INFO     POSTPROCESSER :: [H:\torrents\completed\The.Originals.S02E18.HDTV.x264-LOL[ettv]\the.originals.218.hdtv-lol.mp4 : Already processed]
2015-04-15 16:55:25 INFO     POSTPROCESSER :: [H:\torrents\completed\Revenge S04E19 HDTV\revenge.419.hdtv-lol.mp4 : Already processed]
2015-04-15 16:55:25 INFO     POSTPROCESSER :: [H:\torrents

[2015-04-15 14:05] fernandog commented on #1191
@tagfore In this issue. What should we do?

[2015-04-15 14:12] TagForce commented on #1191
@fernandog I don't know... It should copy it, whether it's manual or automatic PP... There's no difference in the 2 code-paths (both simply call ProcessDir())

[2015-04-15 14:17] TagForce commented on #1243
Check those episodes in SR... Set them to wanted manually, and try post processing again.

[2015-04-15 14:22] cyberundertaker commented on #1043
@abeloin yes. deleted cache/sessions folder, updated SR to latest version and it gets stuck at walking dead:
![sr](https://cloud.githubusercontent.com/assets/11670746/7160691/f88a9452-e38a-11e4-9366-c5bffcb8f499.PNG)

LOG: https://drive.google.com/file/d/0ByFb16E-5XuQUFpGZUZyWWZjQUU/view?usp=sharing

[2015-04-15 14:26] valantislevas commented on #1243
i try it with manually and again

2015-04-15 17:25:56 INFO     POSTPROCESSER :: Successfully processed
2015-04-15 17:25:56 INFO     POSTPROCESSER :: Processing succeeded for H:\torrents\completed\The.Originals.S02E18.HDTV.x264-LOL[ettv]\the.originals.218.hdtv-lol.mp4
2015-04-15 17:25:27 INFO     POSTPROCESSER :: Folder name (The.Originals.S02E18.HDTV.x264-LOL[ettv]) appears to be a ***id release n

[2015-04-15 14:29] valantislevas commented on #1243
i see that srt i think is there because is loaded on plex.. lets see in future if the problem exists in next downloads

[2015-04-15 14:51] fernandog commented on #1191
@Tagforce shouldnt give "file already processed" instead of permission?

[2015-04-15 15:12] TagForce commented on #1191
@fernandog Probably not as both messages are in a completely different code-path. If it's trying to copy then it passed all the checks for it to be processed. Already processed comes way earlier in the processing run. If that doesn't return it's already processed, then it will continue to check if the file should really be copied/moved, and in the end it tries to copy/move the file, which throws t

[2015-04-15 15:13] TagForce commented on #1243
@valantislevas I'll add a log-line to show which files are associated. Makes it easier to check which files it should want to copy.

[2015-04-15 15:16] fernandog commented on #1191
@pct00 do you always get this message or it was once?

[2015-04-15 15:41] scythe000 commented on #793
no, it processed most, but some it left the originals behind for some reason. At least one never PPd:

` Processing folder E:\TV Series\Downloaded TV Series
TV_DOWNLOAD_DIR: E:\TV Series\Downloaded TV Series
PostProcessing Path: E:\TV Series\Downloaded TV Series
PostProcessing Dirs: [u'Family.Guy.S13E13.720p.HDTV.x264-2HD[rarbg]', u'Game.of.Thrones.S05E01.1080p.PROPER.HDTV.x264.DD5.1-RARBG', u'My.

[2015-04-15 15:57] pct00 commented on #1191
@fernandog it always repeats until i "manually" fix it (deleting the destination file or forcing process with priority)

so if i leave the file on the folder for automatic post processing every 10 minutes it will try to process, fail, and give error

[2015-04-15 16:00] fernandog commented on #1191
@pct00 but if the file is in the destination, it was already processed. Are you using copy or move?

[2015-04-15 16:07] fernandog commented on #793
@scythe000

"File exists and new file quality is lower than existing, marking it unsafe to replace"
you are trying to PP the same file with the same quality

you can delete thoses files if there are already PP. Check destination folder

[2015-04-15 16:09] fernandog commented on #1191
@pct00 PP is set to move or copy?

[2015-04-15 16:12] fernandog commented on #1191
@TagForce

if user downloaded a file and it's still seeding. User have PP to move. PP starts and move will fail. SR will fallback to copy. Next PP cycle, file it's not seeding anymore. SR tries to move. Move will fail because of permission.

Is that it ?
How to handle that?
When moving, SR checks if the file already exists or if is already PP?

[2015-04-15 16:28] scythe000 commented on #793
No, that's the thing: SR downloaded them, PP'd them and then left them behind. I shouldn't have to delete them.

[2015-04-15 16:32] fernandog commented on #793
@scythe000

do you think that this can happen in your setup:
user downloaded a file and it's still seeding. User have PP to move. PP starts and move will fail. SR will fallback to copy. Next PP cycle, file it's not seeding anymore. SR tries to move. Move will fail because of permission.

[2015-04-15 16:34] scythe000 commented on #793
No, it shouldn't:
uTorrent downloads file (appends .ut! while downloading) to temp folder A. After file is downloaded and seeding stops, file is moved to processing folder B.

[2015-04-15 16:36] fernandog commented on #793
@scythe000 origin and destination are in the same hdd/partition? if one is NTFS and the other ext4 this move can take a while. in the mean time PP can run

[2015-04-15 16:37] scythe000 commented on #793
both NTFS

[2015-04-15 16:37] scythe000 commented on #793
but, on different drives. The copy should be really quick, so the odds should be small.

[2015-04-15 16:38] scythe000 commented on #793
going from SSD to raid 5 array.

[2015-04-15 16:43] fernandog commented on #793
@scythe000 delete this episodes that are already PP. wait a new download to appear. keep monitoring logs and the PP when it first PP this episode. the problems seems to be the SECOND PP run. isn't?

or delete the already PP file (origin and destination folder), set as WANTED. and post results of the first PP run and then after the second PP run

[2015-04-15 16:45] scythe000 commented on #793
If I do the first, about 75% of the time it's fine. If I do the second, same.

[2015-04-15 16:52] fernandog commented on #793
@scythe000
Are you sure this copy is fast??
if sometimes works and sometimes not. doesnt seem an issue with SR. Agree?

so lets do the test 4 times so at least one fail.
can you do that? always with the same episode/show. Monitor first PP run and the second. keep PP folder empty. Only this episode

[2015-04-15 16:53] scythe000 commented on #793
Happy to test. What exactly would you like me to do? I can wipe out the files currently in there.

[2015-04-15 17:00] fernandog commented on #793
delete that episode that gives error (pp folder and show folder). set as wanted. Wait first PP run. Get logs from that. Wait PP second time. If it pass and no error appears do again until fail. If you are right it will fail at least 1 in 4 times.

[2015-04-15 17:05] abeloin commented on #1250
@fernandog That is the joy of thread safty issue, it's unpreditable

[2015-04-15 17:14] abeloin commented on #1254
Dupe https://github.com/SiCKRAGETV/sickrage-issues/issues/110

[2015-04-15 17:14] #1254 closed

[2015-04-15 17:19] abeloin commented on #793
@scythe000 This isn't a good example:
[code]
It clearly say that it's already processed, so this is why it's skipped.

And all the other says the file already exists:
[code]

[2015-04-15 17:20] abeloin commented on #1107
@fernandog Yes working on a new fix

[2015-04-15 17:34] noze2000 commented on #1201
2015-04-15 18:22:06 SEARCHQUEUE-BACKLOG-95451 :: [IPTorrents] :: Error
while searching IPTorrents, skipping: global name 'MULTI_EP_RESULT' is
not defined
2015-04-15 18:20:15 SEARCHQUEUE-BACKLOG-263365 :: [IPTorrents] ::
Error while searching IPTorrents, skipping: global name
'MULTI_EP_RESULT' is not defined

On 15 April 2015 at 06:57, Nis Kruse <niskruse@gmail.com> wrote:

[2015-04-15 17:36] fernandog commented on #1201
@noze2000 are you in develop? If not wait until sunday to be merged in master

[2015-04-15 17:44] pct00 commented on #1191
@fernandog there is A file n the destination, a file i want to replace,
SR downloaded a new file. after the download finished i manually move the new file to a "to process" folder so there are no problems of souce file being in use/seeding

my PP is set to move

[2015-04-15 18:06] ruinit commented on #1123
I am still getting this error config.ini has 777 permissions
2015-04-15 13:58:41 Thread-57 :: git symbolic-ref -q HEAD returned : fatal: unable to access '.git/config': Permission denied
Also checkout branch is still no selection available. Not sure what to do here

[2015-04-15 18:21] fernandog commented on #589
Added "Check if PP folder is a higher level of shows folder"

[2015-04-15 18:24] fernandog opened #1260 "[Feature Request] Check if PP folder is a higher level of shows folder"
Check if the "Show root directories" is a sub-folder of PP and don't let user save the PP folder. Like the renaming regex where the field gets red.

If the PP was already saved before this feature, don't run PP and give a ERROR asking user to change PP folder.

[2015-04-15 19:07] ruinit commented on #1123
@Thraxis I do not seem to be getting kodi errors any longer on the Develop version

[2015-04-15 19:10] #1123 closed

[2015-04-15 19:15] beschoenen opened #1261 "Redirection loop"
I just updated to the latest master and i'm getting a redirection loop. iI can see the login page, but after that it goes into the loop.
Sickrage is running on my synology.
Python: 2.7.9
Commit: 281409d366b228a455879e02b2d55d3967db29e4

It seems to be fixed on the develop branch, though
Commit: e64c9a0134ad5fa89f030148a72af91a9e5e18af

[2015-04-15 19:33] fernandog commented on #1261
@beschoenen
How did you updated? command line?
did you restarted?

[2015-04-15 19:47] noze2000 commented on #1201
ah..that was why.
Ill wait

On 15 April 2015 at 19:36, Fernando <notifications@github.com> wrote:

[2015-04-15 20:01] miigotu commented on #1205
@TagForce with this patch it is not necessary to even add `<indexer>` to the nfo, so if it is removed by a third party it will not hurt anything in SR. Adding a new file to people's library is extreme and not a good option.

[2015-04-15 20:03] miigotu commented on #1157
@fernandog I didn't have time to work on anything yesterday, I'll try and look into it tonight.

[2015-04-15 20:40] #1117 closed

[2015-04-15 20:47] DarkCompiled opened #1262 "[APP SUBMITTED]: <ProtocolError for api.opensubtitles.org/xml-rpc: 503 Service Unavailable>"
### INFO
Python Version: **2.7.9 (default, Mar 23 2015, 00:29:05) [GCC 4.6.4]**
Operating System: **Linux-3.2.40-armv7l-with-glibc2.4**
Locale: UTF-8
Branch: **master**
Commit: SiCKRAGETV/SickRage@281409d366b228a455879e02b2d55d3967db29e4
No Log available with ERRORS:
### ERROR
[code]
---
_STAFF NOTIFIED_: @SiCKRAGETV/owners @SiCKRAGETV/moderators

[2015-04-15 20:48] fernandog commented on #1262
Service Unavailable

[2015-04-15 20:48] #1262 closed

[2015-04-15 20:55] lbjb opened #1263 "[APP SUBMITTED]: None"
### INFO
Python Version: **2.7.6 (default, Jan 29 2014, 07:56:46) [GCC 4.2.1 20070831 patched [FreeBSD]]**
Operating System: **FreeBSD-9.1-RELEASE-amd64-64bit-ELF**
Locale: unknown
Branch: **master**
Commit: SiCKRAGETV/SickRage@281409d366b228a455879e02b2d55d3967db29e4
Link to Log: https://gist.github.com/c8d747c57604d1ca1341
### ERROR
[code]
---
_STAFF NOTIFIED_: @SiCKRAGETV/owners @SiCKRAGETV/mod

[2015-04-15 20:59] fernandog commented on #1263
@lbjb please full update all your tv shows

[2015-04-15 21:09] goatbased commented on #1176
@fernandog When I attempted to run the bulk search on Kroll, I had KAT, Pirate Bay, RARBG, and a custom RSS feed for showrss.info enabled.  I realized that my logs disappeared from dropbox so I just put them back. Link to logs is at https://www.dropbox.com/sh/5tqhb91yxsyw509/AACQCzeTP1byjnVXgPMZmawca?dl=0

[2015-04-15 21:10] ivanph commented on #1231
I got the same problem but with **sceneaccess.eu** and **thepiratebay.se**.

One thing in common between sceneaccess and the pirate bay is that both use cloudflare ssl which uses SNI. Support for SNI was not added to python until 2.7.7 which in my case seems to be the root of this issue.

[code]
[code]

[code]

[2015-04-15 21:12] TATUMTOT commented on #1231
I'm still have not had time to log in ad check. But we may have the same version.
I will check when I can.

Sent from my Verizon Wireless 4G LTE smartphone

-------- Original message --------
From: Ivan Pintado <notifications@github.com>
Date: 04/15/2015  2:10 PM  (GMT-07:00)
To: SiCKRAGETV/sickrage-issues <sickrage-issues@noreply.github.com>
Cc: TATUMTOT <ShortTatum@hotmail.com>
Subject: Re: [sic

[2015-04-15 22:06] kotysoft commented on #937
Hi,
I have same issue when trying to add an already existing show directory containing special characters (hungarian), but I don't speak english well to answer some of your questions :\

![01](http://amalon.hu/koty/sickrage-x01.jpg)
![02](http://amalon.hu/koty/sickrage-x02.jpg)
![03](http://amalon.hu/koty/sickrage-x03.jpg)
![04](http://amalon.hu/koty/sickrage-x04.jpg)
![05](http://amalon.hu/koty/s

[2015-04-15 23:45] TATUMTOT commented on #1231
# openssl s_client -connect sceneaccess.eu:443 -servername sceneaccess.eu
CONNECTED(00000003)
depth=2 C = GB, ST = Greater Manchester, L = Salford, O = COMODO CA Limited, CN = COMODO ECC Certification Authority
verify error:num=20:unable to get local issuer certificate
verify return:0
---
Certificate chain
 0 s:/OU=Domain Control Validated/OU=PositiveSSL Multi-Domain/CN=sni64638.cloudflaressl.com

[2015-04-15 23:46] ahaghgoo commented on #1105
Hi Fernando, 

I’ve checked my login, and it currently logs in properly to BTN.  Additionally the “Return code undefined” errors are still persisting.  Let me know how I can provide any additional info that’s necessary.  Thanks!  -A 

015-04-15 09:20:13 SEARCHQUEUE-BACKLOG-72231 :: rTorrent: Unable to send Torrent: Return code undefined
2015-04-15 09:19:32 SEARCHQUEUE-BACKLOG-94571 :: rTorrent: Un

[2015-04-15 23:48] TATUMTOT commented on #1231
# python
Python 2.7 (r27:82500, Aug 21 2010, 07:52:47)
[GCC 4.1.3 20070929 (prerelease) (Ubuntu 4.1.2-16ubuntu2)] on linux2
Type "help", "copyright", "credits" or "license" for more information.

'2.7 (r27:82500, Aug 21 2010, 07:52:47) \n[GCC 4.1.3 20070929 (prerelease) (Ubuntu 4.1.2-16ubuntu2)]'

[2015-04-15 23:55] fernandog commented on #1105
@ahaghgoo check if this torrents are already in rtorrent (Maybe its giving this error because its duplicate)

[2015-04-16 00:11] ahaghgoo commented on #1105
Yes, they’re in but SickRage has considered them as “snatched” rather than “downloaded” and processed.  The errors are preventing the snatches from being processed.  -A 

--
Afshin Haghgoo 
ahaghgoo@gmail.com

On April 15, 2015 at 16:55:30, Fernando (notifications@github.com) wrote:

@ahaghgoo check if this torrents are already in rtorrent (Maybe its giving this error because its duplicate)

—
Rep

[2015-04-16 00:20] TATUMTOT commented on #1231
if i list the Ciphers that are listed in openSSL will that help?

[2015-04-16 00:39] YipYup commented on #1231
Please see this thread and mentioned Q&A for more info on a different project that encountered a similar issue. Hope that helps.

* https://github.com/vmware/pyvmomi/issues/173
* http://stackoverflow.com/questions/15166950/unable-to-establish-ssl-connection-how-do-i-fix-my-ssl-cert

[2015-04-16 01:39] PhuriousGeorge opened #1264 "[Feature Request] Add support multi-season snatches"
### INFO
Python Version: **2.7.6 (default, Mar 22 2014, 22:59:38) [GCC 4.8.2]**
Operating System: **Linux-3.13.0-49-generic-i686-with-Ubuntu-14.04-trusty**
Locale: unknown
Branch: **master**
Commit: SiCKRAGETV/SickRage@281409d366b228a455879e02b2d55d3967db29e4
No Log available with ERRORS:
### ERROR
[code]
---
_STAFF NOTIFIED_: @SiCKRAGETV/owners @SiCKRAGETV/moderators

[2015-04-16 01:41] PhuriousGeorge opened #1265 "[APP SUBMITTED]: None"
### INFO
Python Version: **2.7.6 (default, Mar 22 2014, 22:59:38) [GCC 4.8.2]**
Operating System: **Linux-3.13.0-49-generic-i686-with-Ubuntu-14.04-trusty**
Locale: unknown
Branch: **master**
Commit: SiCKRAGETV/SickRage@281409d366b228a455879e02b2d55d3967db29e4
No Log available with ERRORS:
### ERROR
[code]
---
_STAFF NOTIFIED_: @SiCKRAGETV/owners @SiCKRAGETV/moderators

[2015-04-16 01:41] PhuriousGeorge opened #1266 "[APP SUBMITTED]: None"
### INFO
Python Version: **2.7.6 (default, Mar 22 2014, 22:59:38) [GCC 4.8.2]**
Operating System: **Linux-3.13.0-49-generic-i686-with-Ubuntu-14.04-trusty**
Locale: unknown
Branch: **master**
Commit: SiCKRAGETV/SickRage@281409d366b228a455879e02b2d55d3967db29e4
No Log available with ERRORS:
### ERROR
[code]
---
_STAFF NOTIFIED_: @SiCKRAGETV/owners @SiCKRAGETV/moderators

[2015-04-16 01:44] PhuriousGeorge commented on #1264
Apologies for the additional issues opened. I meant to just include them all here

2015-04-14 03:48:59 SEARCHQUEUE-BACKLOG-72879 :: Unable to parse Animaniacs.S05E26E23E25.DVDRip.XviD-DEiMOS into a scene name. If it's a valid one log a bug.
2015-04-14 03:41:24 SEARCHQUEUE-BACKLOG-72879 :: Unable to parse Animaniacs.S05E14E12E21E13.DVDRip.XviD-DEiMOS.Repost into a scene name. If it's a valid one lo

[2015-04-16 04:59] orjanTonder commented on #1247
the url works fine in the browser, shouldnt be any proxy on this connection.
And now i am missing out on even more shows cause it seems like sickrage isnt searching at all.
it doesnt detect that it is missing episodes in backlog even

[2015-04-16 05:32] raymondtrueman commented on #1238
Unfortunately that search log is no longer available. When the error happens again I will post the log for you

[2015-04-16 06:47] TagForce commented on #1205
@miigotu The reason I came up with the extra filename is that not only KODI uses that file name, but also the Boxee box, for which we currently don't have a metadata handler but may add one in the future.

If we are using the tvshow.nfo for information we need to either:
- Make sure it only uses information that is compatible with all other metadata clients that use that file, so that if users sel

[2015-04-16 06:55] konomimaster opened #1267 "[APP SUBMITTED]: <ProtocolError for api.opensubtitles.org/xml-rpc: 503 Service Unavailable>"
### INFO
Python Version: **2.7.3 (default, Mar 31 2015, 15:16:49) [GCC 4.9.2]**
Operating System: **Linux-3.18.10-armv7l-with-glibc2.4**
Locale: unknown
Branch: **master**
Commit: SiCKRAGETV/SickRage@281409d366b228a455879e02b2d55d3967db29e4
No Log available with ERRORS:
### ERROR
[code]
---
_STAFF NOTIFIED_: @SiCKRAGETV/owners @SiCKRAGETV/moderators

[2015-04-16 07:04] miigotu commented on #1205
@TagForce exactly, thats why my patch makes it possible for us to remove `<indexer>` tag from being created in the nfo at all, and therefore there is no extra information added to the nfo by sickrage.  That way we simply use the info that is already there.

As far as boxee box goes, it runs xbmc/kodi afaik, and uses the same nfo file structure.

[2015-04-16 07:06] beschoenen commented on #1261
Yes, via command line:
``git fetch``
``git checkout develop``

after going back to the master branch it worked again.

[2015-04-16 07:49] TagForce commented on #1205
@miigotu I agree

[2015-04-16 08:41] Brainarts opened #1268 "[APP SUBMITTED]: None"
### INFO
Python Version: **2.7.9 (default, Dec 10 2014, 12:28:03) [MSC v.1500 64 bit (AMD64)]**
Operating System: **Windows-7-6.1.7601-SP1**
Branch: **master**
Commit: SiCKRAGETV/SickRage@281409d366b228a455879e02b2d55d3967db29e4
No Log available with ERRORS:
### ERROR
[code]
---
_STAFF NOTIFIED_: @SiCKRAGETV/owners @SiCKRAGETV/moderators

[2015-04-16 08:41] Brainarts opened #1269 "[APP SUBMITTED]: None"
### INFO
Python Version: **2.7.9 (default, Dec 10 2014, 12:28:03) [MSC v.1500 64 bit (AMD64)]**
Operating System: **Windows-7-6.1.7601-SP1**
Branch: **master**
Commit: SiCKRAGETV/SickRage@281409d366b228a455879e02b2d55d3967db29e4
No Log available with ERRORS:
### ERROR
[code]
---
_STAFF NOTIFIED_: @SiCKRAGETV/owners @SiCKRAGETV/moderators

[2015-04-16 08:41] Brainarts opened #1270 "[APP SUBMITTED]: None"
### INFO
Python Version: **2.7.9 (default, Dec 10 2014, 12:28:03) [MSC v.1500 64 bit (AMD64)]**
Operating System: **Windows-7-6.1.7601-SP1**
Branch: **master**
Commit: SiCKRAGETV/SickRage@281409d366b228a455879e02b2d55d3967db29e4
No Log available with ERRORS:
### ERROR
[code]
---
_STAFF NOTIFIED_: @SiCKRAGETV/owners @SiCKRAGETV/moderators

[2015-04-16 08:41] Brainarts opened #1271 "[APP SUBMITTED]: HTTPConnectionPool(host='cypress.whatbox.ca', port=51440): Read timed out. (read timeout=120)"
### INFO
Python Version: **2.7.9 (default, Dec 10 2014, 12:28:03) [MSC v.1500 64 bit (AMD64)]**
Operating System: **Windows-7-6.1.7601-SP1**
Branch: **master**
Commit: SiCKRAGETV/SickRage@281409d366b228a455879e02b2d55d3967db29e4
No Log available with ERRORS:
### ERROR
[code]
---
_STAFF NOTIFIED_: @SiCKRAGETV/owners @SiCKRAGETV/moderators

[2015-04-16 08:41] Brainarts opened #1272 "[APP SUBMITTED]: HTTPConnectionPool(host='cypress.whatbox.ca', port=51440): Read timed out. (read timeout=120)"
### INFO
Python Version: **2.7.9 (default, Dec 10 2014, 12:28:03) [MSC v.1500 64 bit (AMD64)]**
Operating System: **Windows-7-6.1.7601-SP1**
Branch: **master**
Commit: SiCKRAGETV/SickRage@281409d366b228a455879e02b2d55d3967db29e4
No Log available with ERRORS:
### ERROR
[code]
---
_STAFF NOTIFIED_: @SiCKRAGETV/owners @SiCKRAGETV/moderators

[2015-04-16 09:50] sjay1 commented on #1130
@abeloin Not to pester you; but if you are unable to do Teamview how should I go about fixing this? I'll take any option necessary.

[2015-04-16 09:51] fernandog commented on #1261
Dont update that again.
we have UI for that.

[2015-04-16 09:51] #1261 closed

[2015-04-16 09:52] #1267 closed

[2015-04-16 09:53] #1238 closed

[2015-04-16 09:57] jackiass commented on #1196
Just chiming in to say this is also a feature I am missing a lot. Have no coding xp, so can't help, sorry.

[2015-04-16 10:04] #1265 closed

[2015-04-16 10:04] #1266 closed

[2015-04-16 10:05] #1269 closed

[2015-04-16 10:05] #1270 closed

[2015-04-16 10:15] mcmikev opened #1273 "[APP SUBMITTED]: 'NoneType' object has no attribute 'getOverview'"
### INFO
Python Version: **2.7.9 (default, Mar 23 2015, 00:07:04) [GCC 4.7.3 20130102 (prerelease)]**
Operating System: **Linux-3.10.35-x86_64-with-glibc2.2.5**
Locale: UTF-8
Branch: **master**
Commit: SiCKRAGETV/SickRage@281409d366b228a455879e02b2d55d3967db29e4
No Log available with ERRORS:
### ERROR
[code]
---
_STAFF NOTIFIED_: @SiCKRAGETV/owners @SiCKRAGETV/moderators

[2015-04-16 11:12] theemstra opened #1274 "Adding support for chained SSL certificates (COMODO etc)"
A lot of certificates are to be used with an intermediate certificate, but SickRage does not have a configuration option for that yet.

[2015-04-16 11:17] #1272 closed

[2015-04-16 11:18] #1271 closed

[2015-04-16 11:18] #1268 closed

[2015-04-16 11:19] #1263 closed

[2015-04-16 11:19] xInsertx commented on #110
What about using setfacl instead? Copy/Move the file than you can set (@)owner/(@)group with inheritance from parent?

In my request #1254 i run a separate bash script afterwards on each file which runs setfacl for owner/group with inheritance from parent.

[2015-04-16 11:19] fernandog commented on #1273
@mcmikev please full update all your tv-shows

[2015-04-16 11:19] #1273 closed

[2015-04-16 11:19] #1240 closed

[2015-04-16 11:19] ripper1967 opened #1275 "[APP SUBMITTED]: 'NoneType' object has no attribute 'getOverview'"
### INFO
Python Version: **2.7.9 (default, Dec 10 2014, 12:28:03) [MSC v.1500 64 bit (AMD64)]**
Operating System: **Windows-7-6.1.7601-SP1**
Branch: **master**
Commit: SiCKRAGETV/SickRage@281409d366b228a455879e02b2d55d3967db29e4
Link to Log: https://gist.github.com/baf96981cd40c96dad98
### ERROR
[code]
---
_STAFF NOTIFIED_: @SiCKRAGETV/owners @SiCKRAGETV/moderators

[2015-04-16 11:20] fernandog commented on #1275
@ripper1967 https://github.com/SiCKRAGETV/sickrage-issues/issues/1273

[2015-04-16 11:20] #1275 closed

[2015-04-16 11:20] #1256 closed

[2015-04-16 11:26] fernandog commented on #1264
@SiCKRAGETV/moderators we are getting a lot of issues of:

Unable to parse **** into a scene name. If it's a valid one log a bug.

It seems it's a regex issue and/or bad naming episodes. Please close all of them and reference this issue. Let's keep this open

[2015-04-16 11:28] ripper1967 commented on #1273
do u mean a mass update of all show cause they was just updated 4 hours ago...

[2015-04-16 11:32] fernandog commented on #1273
@ripper1967 one of you show has a bad status. you need to FULL update (via mass update). Not update airtime

[2015-04-16 11:32] ripper1967 commented on #1273
ok will try that

[2015-04-16 11:37] fernandog opened #1276 "[APP SUBMITTED]: None"
### INFO
Python Version: **2.7.9 (default, Dec 10 2014, 12:24:55) [MSC v.1500 32 bit (Intel)]**
Operating System: **Windows-7-6.1.7601-SP1**
Branch: **develop**
Commit: SiCKRAGETV/SickRage@e64c9a0134ad5fa89f030148a72af91a9e5e18af
Link to Log: https://gist.github.com/a5031fbe65d175a6db3c
### ERROR
[code]
---
_STAFF NOTIFIED_: @SiCKRAGETV/owners @SiCKRAGETV/moderators

[2015-04-16 11:37] fernandog commented on #1276
@abeloin
Installed a empty SR, and hit submit error. Issue create with NONE in title

[2015-04-16 11:37] #1276 closed

[2015-04-16 11:39] fernandog opened #1277 "[APP SUBMITTED]: None"
### INFO
Python Version: **2.7.9 (default, Dec 10 2014, 12:24:55) [MSC v.1500 32 bit (Intel)]**
Operating System: **Windows-7-6.1.7601-SP1**
Branch: **develop**
Commit: SiCKRAGETV/SickRage@e64c9a0134ad5fa89f030148a72af91a9e5e18af
Link to Log: https://gist.github.com/e9736147acf69b1bc998
### ERROR
[code]
---
_STAFF NOTIFIED_: @SiCKRAGETV/owners @SiCKRAGETV/moderators

[2015-04-16 11:39] #1277 closed

[2015-04-16 11:42] fernandog opened #1278 "[APP SUBMITTED]: None"
### INFO
Python Version: **2.7.9 (default, Dec 10 2014, 12:24:55) [MSC v.1500 32 bit (Intel)]**
Operating System: **Windows-7-6.1.7601-SP1**
Branch: **develop**
Commit: SiCKRAGETV/SickRage@e64c9a0134ad5fa89f030148a72af91a9e5e18af
Link to Log: https://gist.github.com/d1043b4149d9363f71e6
### ERROR
[code]
---
_STAFF NOTIFIED_: @SiCKRAGETV/owners @SiCKRAGETV/moderators

[2015-04-16 11:42] #1278 closed

[2015-04-16 11:51] fernandog opened #1279 "[APP SUBMITTED]: None"
### INFO
Python Version: **2.7.9 (default, Dec 10 2014, 12:24:55) [MSC v.1500 32 bit (Intel)]**
Operating System: **Windows-7-6.1.7601-SP1**
Branch: **develop**
Commit: SiCKRAGETV/SickRage@e64c9a0134ad5fa89f030148a72af91a9e5e18af
Link to Log: https://gist.github.com/7c626270b34f61db7c57
### ERROR
[code]
---
_STAFF NOTIFIED_: @SiCKRAGETV/owners @SiCKRAGETV/moderators

[2015-04-16 11:52] #1279 closed

[2015-04-16 11:53] fernandog opened #1280 "[APP SUBMITTED]: None"
### INFO
Python Version: **2.7.9 (default, Dec 10 2014, 12:24:55) [MSC v.1500 32 bit (Intel)]**
Operating System: **Windows-7-6.1.7601-SP1**
Branch: **develop**
Commit: SiCKRAGETV/SickRage@e64c9a0134ad5fa89f030148a72af91a9e5e18af
Link to Log: https://gist.github.com/8dba3dfb13999c253581
### ERROR
[code]
---
_STAFF NOTIFIED_: @SiCKRAGETV/owners @SiCKRAGETV/moderators

[2015-04-16 11:53] #1280 closed

[2015-04-16 11:55] TagForce commented on #1264
@fernandog The error is coming from the getSeasonNZBs function in nzbSplitter.py

This line:
[code]

Is used to parse the name, but is not matching any of the files I'm trying to feed it using regex testers on the web...

[2015-04-16 11:58] fernandog commented on #1264
@TagForce I tested in regex101 and couldn't match either.

I'm trying to figure it out why so much issues don't have title. It appears as NONE. don't mind all my issues

[2015-04-16 12:00] fernandog opened #1281 "[APP SUBMITTED]: None"
### INFO
Python Version: **2.7.9 (default, Dec 10 2014, 12:24:55) [MSC v.1500 32 bit (Intel)]**
Operating System: **Windows-7-6.1.7601-SP1**
Branch: **develop**
Commit: SiCKRAGETV/SickRage@e64c9a0134ad5fa89f030148a72af91a9e5e18af
Link to Log: https://gist.github.com/b2d58af8a28607d564a8
### ERROR
[code]
---
_STAFF NOTIFIED_: @SiCKRAGETV/owners @SiCKRAGETV/moderators<sickbeard.classes.UIError insta

[2015-04-16 12:00] TagForce commented on #1264
@fernandog No problem, I'm trying to find the root cause for this error, and seeing if this is a new issue, or if it's been happening a while... It may be related to changes in season_only searches.

[2015-04-16 12:00] #1281 closed

[2015-04-16 12:10] fernandog opened #1282 "Issue submitter open issues with NONE in title"
How to reproduce:
- New SR install
- Configure GIT user, pass and path
- Don't change any other setting
- Open log page
- Submit error:
[code]
- Issue is created with None in title

[2015-04-16 12:33] fernandog opened #1283 "[APP SUBMITTED]: None"
### INFO
### ERROR
[code]
[<sickbeard.classes.UIError instance at 0x03F06A80>]

[2015-04-16 12:33] #1283 closed

[2015-04-16 12:53] TagForce commented on #110
@xInsertx setfacl is an external command, and I want to refrain from using external commands as much as possible for security reasons.

I'm looking at something that when chmod fails reverts back to using a different command using ACLs to set the permissions...

[2015-04-16 14:06] TagForce commented on #110
@xInsertx Unfortunately, the only way of setting the permissions from within python using ACL is by implementing the pyWin32 modules, which are, of course, only available on Windows... Since this issue is occuring only on smb mounts from non-Windows OSes (since chmodAsParent will exit cleanly on windows without setting permissions), that is not an option.

So, there's no other option than to try a

[2015-04-16 14:09] TagForce commented on #1264
@fernandog @abeloin Doesn't seem to be an old issue (first issue with this was logged 8 days ago), but I can't find anything that would break this functionality (in fact, the regex.match function has been unchanged since SickRage was forked from SB). So, either something else has changed causing this function to be called more often, people are only now starting to submit this error now, or I'm co

[2015-04-16 14:54] TagForce commented on #1251
@fernandog Found something and remembered this FR, so I implemented it... I've tested it from different machines... The only thing untested as of yet is over the internet.

[2015-04-16 14:57] fernandog commented on #1251
@TagForce will test now

[2015-04-16 15:01] TagForce commented on #1251
@fernandog Works from the internet just fine as well :)

[2015-04-16 15:06] fernandog commented on #1251
@TagForce nice! Working here too:

2015-04-16 12:03:56 INFO     TORNADO :: User logged into the SickRage web interface from IP: ***.***.***.***

[2015-04-16 15:06] #1251 closed

[2015-04-16 15:07] fernandog commented on #1282
@TagForce can you help me debug this one? Can find the reason why its not working

[2015-04-16 15:23] scythe000 commented on #793
Ok, I deleted the copy of the file that was in the destination already for
Vikings s03e06
Tosh.0 S07E09
The Big Bang Theory s08e09
My Little Pony S05E02
Game of Thrones S05E01
Family Guy S13E13

Of those, all left the folder behind, but they all PPd except for Game of thrones, which skipped because it had already been PPd. I got notifications for all but GoT.

Running another PP with force cleared

[2015-04-16 15:27] fernandog commented on #793
@scythe000 so PP is running ok.

make another test: download an episode (not previous downloaded - or delete it and make it wanted), open it in VLC, and wait PP to run.
PP should copy instead of move.
Close VLC and wait PP to run again.

[2015-04-16 15:36] fernandog opened #1284 "[APP SUBMITTED]: None"
### INFO
Python Version: **2.7.9 (default, Dec 10 2014, 12:24:55) [MSC v.1500 32 bit (Intel)]**
Operating System: **Windows-7-6.1.7601-SP1**
Branch: **develop**
Commit: SiCKRAGETV/SickRage@1554c953cc33bf13a6905bcff2e70e508dbb06d1
Link to Log: https://gist.github.com/2fae02e13a4fc6fd8918
### ERROR
[code]
---
_STAFF NOTIFIED_: @SiCKRAGETV/owners @SiCKRAGETV/moderators

[2015-04-16 15:36] #1284 closed

[2015-04-16 15:39] fernandog opened #1285 "[APP SUBMITTED]: None"
### INFO
Python Version: **2.7.9 (default, Dec 10 2014, 12:24:55) [MSC v.1500 32 bit (Intel)]**
Operating System: **Windows-7-6.1.7601-SP1**
Branch: **develop**
Commit: SiCKRAGETV/SickRage@1554c953cc33bf13a6905bcff2e70e508dbb06d1
Link to Log: https://gist.github.com/0005cc7d9fd817274fa9
### ERROR
[code]
---
_STAFF NOTIFIED_: @SiCKRAGETV/owners @SiCKRAGETV/moderators

[2015-04-16 15:39] #1285 closed

[2015-04-16 15:42] fernandog opened #1286 "[APP SUBMITTED]: None"
### INFO
Python Version: **2.7.9 (default, Dec 10 2014, 12:24:55) [MSC v.1500 32 bit (Intel)]**
Operating System: **Windows-7-6.1.7601-SP1**
Branch: **develop**
Commit: SiCKRAGETV/SickRage@1554c953cc33bf13a6905bcff2e70e508dbb06d1
Link to Log: https://gist.github.com/1f9ce0b4b3a3264896a7
### ERROR
[code]
---
_STAFF NOTIFIED_: @SiCKRAGETV/owners @SiCKRAGETV/moderators

[2015-04-16 15:42] #1286 closed

[2015-04-16 15:45] fernandog opened #1287 "[APP SUBMITTED]: None"
### INFO
Python Version: **2.7.9 (default, Dec 10 2014, 12:24:55) [MSC v.1500 32 bit (Intel)]**
Operating System: **Windows-7-6.1.7601-SP1**
Branch: **develop**
Commit: SiCKRAGETV/SickRage@1554c953cc33bf13a6905bcff2e70e508dbb06d1
Link to Log: https://gist.github.com/93d773c5b2f5a08e5c09
### ERROR
[code]
---
_STAFF NOTIFIED_: @SiCKRAGETV/owners @SiCKRAGETV/moderators

[2015-04-16 15:45] #1287 closed

[2015-04-16 15:46] fernandog commented on #1282
@abeloin @TagForce I give up on this one. Can't find the problem.

https://github.com/SiCKRAGETV/sickrage-issues/issues?utf8=%E2%9C%93&q=is%3Aissue+is%3Aclosed+author%3Afernandog+None

[2015-04-16 15:56] scythe000 commented on #793
Done...just waiting for PP to run now.

[2015-04-16 16:12] fernandog commented on #793
@scythe000 any news?

[2015-04-16 16:13] scythe000 commented on #793
`2015-04-16 09:07:19 WARNING  POSTPROCESSER :: [E:\TV Series\Downloaded TV Series\Archer.2009.S06E13.Drastic.Voyage.Part.2.1080p.WEB-DL.DD5.1.H.264-BS[rarbg]\Archer.2009.S06E13.Drastic.Voyage.Part.2.1080p.WEB-DL.DD5.1.H.264-BS.mkv : Processing failed: Unable to move the files to their new home]
2015-04-16 09:07:19 WARNING  POSTPROCESSER :: [Toren C Seizoen 1 : No processable items found in folder]

[2015-04-16 16:14] scythe000 commented on #793
Didn't copy, or send notification.

[2015-04-16 16:14] scythe000 commented on #793
Want me to close VLC and force?

[2015-04-16 16:22] miigotu commented on #1264
How.Its.Made.S01.S14.Complete is invalid for SR atm because it only expects to DL individual episodes, or seasons, not complete series in one snatch.

Animaniacs.S05E14E12E21E1 <-- WTF are the episodes out of order for?

[2015-04-16 16:24] fernandog commented on #793
@scythe000 so you got permission denied because the file was open in VLC.
close VLC and wait PP run again
**don't force**

[2015-04-16 16:28] Thraxis commented on #1264
@fernandog @abeloin @TagForce To we have a list of filenames that you do want the RegEx to match against?  Or at least test examples.

At a minimum I believe you want to match the below?
Show Name.S01.Quality.ReleaseGroup
Show.Name.S01.Quality.ReleaseGroup

If that is the case replace that line of code with:
[code]

If you wish to match
Show.Name.S01.Quality.ReleaseGroup
Show.Name.S01E01E02E03.Qua

[2015-04-16 16:32] fernandog commented on #1264
I never saw a torrent with multiple seasons! Not supported - yet. We should change the log message. It invites user to open an issue when it should be a kind of Feature Request for REGEX.

[2015-04-16 16:36] miigotu commented on #1264
@Thraxis both of those regex are terribly incorrect.

[2015-04-16 16:36] fernandog commented on #793
@TagForce what do you think add a check if the file is in use/locked in windows?

Permission denied can happen when the file that SR is trying to PP is still locked. Not only about permissions in destination folder. With this we can change the log error message.
http://blogs.blumetech.com/blumetechs-tech-blog/2011/05/python-file-locking-in-windows.html

when MOVE fail, SR doesn't supposed to fallb

[2015-04-16 16:41] fernandog commented on #1264
I can't help here. Don't know too much about regex.
We can add more then one regex to that part of the code so we can support multiple types of season pack files

[2015-04-16 16:46] Thraxis commented on #1264
Don't see how they are I've tested both and they match all test cases

If you're refering to the %02d it's for the season number replacement

[2015-04-16 16:47] miigotu commented on #1264
What im saying it they will match things that are not correct too.

[2015-04-16 16:53] Thraxis commented on #1264
And it's not the final regex for the search either
All it is a check for is if the file is a SceneName

[code]
This later regex is the one used to return results

showName being the first match group from the first regex and the only part used

[2015-04-16 16:58] miigotu commented on #1264
Yeah, but even if the regex was valid, it would return things like Oceans13.blah.blah.
Your regex doesnt even compute on pythex.org, even if you replace the %02d with a pure regex capture.

[2015-04-16 17:00] fernandog commented on #793
@scythe000 any news?

[2015-04-16 17:02] scythe000 commented on #793
`2015-04-16 09:47:20 INFO     SEARCHQUEUE-DAILY-SEARCH :: No needed episodes found
2015-04-16 09:47:18 WARNING  POSTPROCESSER :: [E:\TV Series\Downloaded TV Series\Archer.2009.S06E13.Drastic.Voyage.Part.2.1080p.WEB-DL.DD5.1.H.264-BS[rarbg]\Archer.2009.S06E13.Drastic.Voyage.Part.2.1080p.WEB-DL.DD5.1.H.264-BS.mkv : Processing failed: ]
2015-04-16 09:47:18 WARNING  POSTPROCESSER :: Problem(s) during

[2015-04-16 17:06] fernandog commented on #793
@scythe000 so the permission problem is because the file open in another process. Or the copy is too slow or there's something else reading the file (Windows Indexer?) that is creating this error in SR

[2015-04-16 17:12] scythe000 commented on #793
But we've gone down this road and found that there are no open processes accessing the files before.

Sent from my iPhone

On Apr 16, 2015, at 10:07 AM, Fernando <notifications@github.com<mailto:notifications@github.com>> wrote:

@scythe000<https://github.com/scythe000> so the permission problem is because the file open in another process. Or the copy is too slow or there's something else reading

[2015-04-16 17:14] fernandog commented on #793
@scythe000 we just tested. How to prove otherwise that?

[2015-04-16 17:17] miigotu commented on #1264
Correct would be \W?([\w\.\ _]+)\W[Ss]([0-9]{1,2})
You would have to extract the season separate, as %02d is incorrect as well since it wont capture S1

[2015-04-16 17:18] scythe000 commented on #793
IDK, but previously we used Process Monitor with @abeloin above, and we didn't find any open hooks.

[2015-04-16 17:24] fernandog commented on #793
@scythe000 do you have windows indexer running?

[2015-04-16 17:26] scythe000 commented on #793
Indexing in enabled, I'm disabling it now...gonna take a bit.

[2015-04-16 17:28] fernandog commented on #793
Disable only to PP folder

[2015-04-16 17:29] scythe000 commented on #793
Too late to cancel now, haha

[2015-04-16 17:30] scythe000 commented on #793
I have to run to a meeting. I'll be back soon.

[2015-04-16 17:41] fernandog commented on #793
@scythe000 nothing to fix for now. Will close this until the permission error appear again

[2015-04-16 17:41] #793 closed

[2015-04-16 18:16] #1225 closed

[2015-04-16 18:33] orjanTonder commented on #1247
can anyone confirm is sickrage adding + too the custom added providers api request

[2015-04-16 18:37] broyuken opened #1288 "[Feature Request] Add Search for Multi Season Packs (s01-s07 packs)"
Can you allow SickRage to search multi season upload packs? For example, if I want to download the show "Supernatural" it has to try to find 10 seperate torrents, one for each season. On my providers, they also have full show packs which have seasons 1-9 in one torrent and then individual episodes for the current season 10.

[2015-04-16 18:37] fernandog commented on #1247
@orjanTonder  ?!

[2015-04-16 18:38] fernandog commented on #1264
https://github.com/SiCKRAGETV/sickrage-issues/issues/1288

[2015-04-16 18:40] orjanTonder commented on #1247
[16/Apr/2015:14:19:13 -0400] "GET /api?apikey=+110ec2c.........

that line there in the indexer log, tells me that there is something weird going on cause it aint logged with it nor are it added too my config

[2015-04-16 18:44] fernandog commented on #1247
@orjanTonder what it matter is the URL in "Search URL" in log. there's no + in it

[2015-04-16 18:46] fernandog commented on #1247
@orjanTonder please post the results of opening

https://www.oznzb.com/api?apikey\=**********\&season=10&maxage=500&cat=5030%2C5040&limit=100&attrs=rageid&offset=0&rid=2870&ep=12&t=tvsearch

in your browser. Change *** to your actual api key

[2015-04-16 18:48] fernandog commented on #1247
@orjanTonder do you get

"fatal error: could not connect to database! Database may be offline, please contact us in the IRC chat ?

[2015-04-16 18:59] Thraxis commented on #1264
I use https://regex101.com... unfortunately I neglected to switch the Regex engine from pcre (PHP) to python.

[code]
Should match correctly now

And

[code]

Should match the episode files within the nzb

[2015-04-16 19:11] fernandog commented on #1264
@abeloin @TagForce @miigotu @Thraxis

should we add multiple regex to match this new kinds of season packs and multiple-packs?

[2015-04-16 19:54] fernandog commented on #230
@copekyle is it working now ? we pushed an fix for this almost a month ago

[2015-04-16 20:00] fernandog commented on #1157
@miigotu can I add this to this sunday milestone or to Apr 28 milestone?

[2015-04-16 20:02] fernandog commented on #1171
@thecolorchanges when you change to wanted it already does a backlog search. Did pushed manual searchafter changed to want? Maybe it downloaded twice.

[2015-04-16 20:04] #1210 closed

[2015-04-16 20:10] fernandog commented on #1194
@abeloin

[2015-04-16 20:13] bitzorro opened #1289 "[APP SUBMITTED]: <ProtocolError for api.opensubtitles.org/xml-rpc: 503 Service Unavailable>"
### INFO
Python Version: **2.7.9 (default, Dec 10 2014, 12:24:55) [MSC v.1500 32 bit (Intel)]**
Operating System: **Windows-7-6.1.7601-SP1**
Branch: **master**
Commit: SiCKRAGETV/SickRage@281409d366b228a455879e02b2d55d3967db29e4
Link to Log: https://gist.github.com/0d72c446b1f786da48f2
### ERROR
[code]
---
_STAFF NOTIFIED_: @SiCKRAGETV/owners @SiCKRAGETV/moderators

[2015-04-16 20:13] #1289 closed

[2015-04-16 20:31] #1017 closed

[2015-04-16 20:42] copekyle commented on #230
Sorry.  Yes.  This is working.

[2015-04-16 20:47] fernandog commented on #1260
@TagForce what do you think?

[2015-04-16 20:53] matigonkas opened #1290 "[APP SUBMITTED]: 'Logger' object has no attribute 'MESSAGE'"
### INFO
Python Version: **2.7.8 (default, Oct 20 2014, 15:05:29) [GCC 4.9.1]**
Operating System: **Linux-3.16.0-34-generic-i686-with-Ubuntu-14.10-utopic**
Locale: UTF-8
Branch: **develop**
Commit: SiCKRAGETV/SickRage@c484ba2a2b94ab11c33cdebaa414b8a7644e8654
Link to Log: https://gist.github.com/f0e8ec20945772a143a6
### ERROR
[code]
---
_STAFF NOTIFIED_: @SiCKRAGETV/owners @SiCKRAGETV/moderators

[2015-04-16 20:56] matigonkas commented on #1290
i believe it happen when i updated SR after the merging of this PR https://github.com/SiCKRAGETV/SickRage/pull/1764

[2015-04-16 20:58] fernandog commented on #1290
@thraxis

[2015-04-16 21:09] Thraxis commented on #1290
I'll look into that It's probably in the client notification section as compared to the server notification one.

I thought I'd caught all those

[2015-04-16 21:16] Thraxis commented on #1290
https://github.com/SiCKRAGETV/SickRage/pull/1783

[2015-04-16 21:18] ripper1967 opened #1291 "[APP SUBMITTED]: 'NoneType' object has no attribute 'getOverview'"
### INFO
Python Version: **2.7.9 (default, Dec 10 2014, 12:28:03) [MSC v.1500 64 bit (AMD64)]**
Operating System: **Windows-7-6.1.7601-SP1**
Branch: **master**
Commit: SiCKRAGETV/SickRage@281409d366b228a455879e02b2d55d3967db29e4
Link to Log: https://gist.github.com/288da00500d851b4c468
### ERROR
[code]
---
_STAFF NOTIFIED_: @SiCKRAGETV/owners @SiCKRAGETV/moderators

[2015-04-16 21:19] ripper1967 commented on #1291
after complete mass update still have the error.

[2015-04-16 21:21] miigotu commented on #1264
I think the original one works, it just needs to add `_` in the match groups.
As for adding different regex for multi season, I would just rather not touch this for now.

[2015-04-16 21:32] miigotu commented on #1157
@fernandog I would say at least Apr 28. SR is correct to "Skipping the rest of the load" as there is no more information to load anyways.  The problem is that if we process it, the file name ends up being without a title, and gets added to the kodi db, and then when the info is added to tvdb later it is more difficult to change the name of the files.

I still think the best policy here would be to

[2015-04-16 21:39] Arcanemagus commented on #110
@TagForce this isn't _just_ occurring over smb mounts, I run into this with the native filesystem on FreeNAS when the system is set to use Windows ACLs. That doesn't really change the fact that to do this properly alternative methods of setting the permissions will need to be used though :wink:.

[2015-04-16 21:46] Thraxis commented on #1264
The . is just a . inside Regex character classes ( [ and ] ) Only the \ & and - have special meaning inside the  [ ].  It doesn't change anything to have it escaped or not

[2015-04-16 22:09] fernandog commented on #1290
@matigonkas please update and report back

[2015-04-16 22:09] drglove opened #1292 "API Key for custom Newznab providers appearing in debug logs"
- Branch: Develop
- Commit hash: b8bb0939a3eb11d7d3aae567bef76259549631d0
- Your operating system and python version: Mac OSX 10.9.3, Python 2.7.8
- What you did: Debug logging enabled, backlog searched for an episode of Top Gear
- What happened: SickRage searched my custom Newznab provider, the "Found result" log message with the URL of the NZB contains the API key the request was initiated with

[2015-04-16 22:11] fernandog commented on #1292
@drglove which provider?

check this: https://github.com/SiCKRAGETV/SickRage/pull/1401

[2015-04-16 22:14] fernandog commented on #1291
@ripper1967 can you try to open all your tv-shows pages and report the one that is raising this error?

[2015-04-16 22:18] TagForce commented on #1282
@fernandog I'll have a look tomorrow

[2015-04-16 22:19] drglove commented on #1292
@fernandog A custom provider, NZBGeek.
It's not stored as a key=value type in config.ini, but rather as an option in the string `newznab_data`

[2015-04-16 22:22] matigonkas commented on #1290
@fernandog  it seems to be good now

[2015-04-16 22:24] fernandog commented on #1292
@drglove I use it too. Why dont you add API to the proper field?
if you add the api on the url would be a lot difficult to mask it. Depends on each provider string.

[2015-04-16 22:25] #1290 closed

[2015-04-16 22:25] fernandog commented on #1290
@Thraxis thanks for the fast PR

[2015-04-16 22:25] TagForce commented on #1260
@fernandog Agreed. Trying to think of a better way to warn users of their incorrect pp folder. Not running PP with an error in the log is going to be something that people will miss...

[2015-04-16 22:29] Thraxis commented on #1290
Luckily it was one file to edit and I could edit it via web interface from work to PR

[2015-04-16 22:32] drglove commented on #1292
@fernandog This is with the API appearing in the field as placed by the web UI.
![screenshot 2015-04-16 15 26 45](https://cloud.githubusercontent.com/assets/607460/7192745/3aa850dc-e44d-11e4-97c8-5252077e2245.png)

The relevant lines in my config.ini appear after entering the above:
[code]

[2015-04-16 22:41] Thraxis commented on #1292
@fernandog The problem is that the URL in that message is coming from NZBGeek not the SickRage config variables so SR doesn't know to automatically mask the key.

Line 417 of generic.py

[2015-04-16 22:43] drglove commented on #1292
@Thraxis @fernandog Right, I see that. I would suggest that anytime a URL is logged from a response that it get passed through a quick scan to remove anything obvious from a select few, like 'apikey', 'api_key', otherwise I'd blame the provider.

[2015-04-16 22:56] xInsertx commented on #110
@Arcanemagus I think this will occur on any filesystem using essentially ntfs permissions (POSIX acl's) on non-windows platform. I've tested this now on many setups and the only common demoninator.

This includes Freenas w/ Windows type dataset.

[2015-04-16 23:33] djoole opened #1293 "[Feature Request] Add Move Associated files option for only subtitles"
At the moment, there is a "Move Associated Files
Move srr/srt/sfv/etc files with the episode when processed?" option in PP.

I think it would be better to being able to choose to move only subtitles.

I don't want my final dirs polluted by sfv files, but I would like to retrieve srt files released in the torrent.

[2015-04-16 23:34] daemonic79 commented on #1039
I'm having a similar issue but with a different naming config, if i need to open a new issue please say but ill append to this one for the time being if thats ok...;

Branch : Master, Commit : 281409d366b228a455879e02b2d55d3967db29e4, FreeNAS, Python 2.7.8

![naming error](https://cloud.githubusercontent.com/assets/11083864/7193505/86b205e4-e499-11e4-91e5-61b685cba144.png)

[2015-04-16 23:38] fernandog commented on #1293
@djoole something like nzb categories?

[2015-04-17 00:05] deusxanime opened #1294 "Can't use required/ignore words after removeWords feature"
I've just noticed on my SickRage install that my SD downloads, which I require keywords 'eztv' or 'ettv', are no longer working, similar to what is detailed [here](https://github.com/SiCKRAGETV/sickrage-issues/issues/246). Looks like it started sometime in the past week or so as up until recently it had been working fine. I can look on KAT and others and see the EZTV and ETTV releases there just f

[2015-04-17 00:12] fernandog commented on #1294
@tagforce @abeloin we should remove only after we snatch and not before. Otherwise user wont be able to use required words with in this case

https://github.com/SiCKRAGETV/SickRage/pull/1703

[2015-04-17 03:49] tjw1184 commented on #1193
Thanks @MaximusCub!

[2015-04-17 05:42] djoole commented on #1293
@fernandog Are you talking about a SickRage feature?
Sorry I couldn't tell because I'm using only torrent.

[2015-04-17 06:01] miigotu commented on #1264
I know regex well, xD. I've used it in almost all 16 languages I know.  Anyways, like I said this is a feature request, to support multi-season snatches, rather than a bug, and I think that any change to this should be extremely tested and should wait until a major feature milestone as it affects major core functionality. One miscalculated regex and we have a mass bug report/broken SR. The existin

[2015-04-17 06:59] TagForce commented on #1282
@fernandog The title is extracted as follows:

```self.title = sys.exc_info()[-2]```
sys.exc_info() will return the last encountered exception.
However... The No NZB/Torrent providers found error (or indeed any other error that is handled by SR, rather than throwing an exception, like configuration errors, no git.exe found, invalid naming patterns, etc, etc) will not throw an exception.
This resul

[2015-04-17 07:17] ThomasDK81 opened #1295 "[APP SUBMITTED]: 'ascii' codec can't encode character u'\xe5' in position 68: ordinal not in range(128)"
### INFO
Python Version: **2.7.8 (default, Dec 15 2014, 02:33:48) [GCC 4.2.1 20070831 patched [FreeBSD]]**
Operating System: **FreeBSD-9.1-RELEASE-amd64-64bit-ELF**
Locale: unknown
Branch: **master**
Commit: SiCKRAGETV/SickRage@281409d366b228a455879e02b2d55d3967db29e4
Link to Log: https://gist.github.com/93b822fcc429dfda2cbd
### ERROR
[code]
---
_STAFF NOTIFIED_: @SiCKRAGETV/owners @SiCKRAGETV/mod

[2015-04-17 08:02] kotysoft commented on #937
I tried all things you mentioned above.
Also tried with my default cp (852) and 1250 and 65001
Also tried to change webserve.py as written before.

With default settings with default codepage it can open directory but shows and handles accents wrong.
With cp65001 it shows accents correctly, but cant browse directories (same utf_8.py python error).

Tried from scratch with Python 2.7.8 (x64) and tr

[2015-04-17 08:07] Tlabok commented on #1291
I have the same problem. I have looked at all my shows' pages but nothing happens when I do that.

[2015-04-17 08:54] TagForce commented on #1291
@ripper1967 @Tlabok Have you guys recently removed a show from SR?
The error originates from getEpisodes, which is run when you manually search for an episode.
The only way for this error to happen is when ShowObj is None, and that can only happen when findCertainShow returns None, which should only happen when the show is not in your list.

So, basically, I'm thinking the cause for this is a stal

[2015-04-17 09:28] TagForce commented on #1291
@fernandog I've just reproduced this error...
I added a very old show to my SR to make sure there would be episodes that won't be found...
I selected an episode, and hit manual search...
Ran through the search perfectly fine. Went back to the showpage, and removed it.
Went back to /home, and manually searched for an episode on a different show.
*boom*
[code]

It seems to only happen when you searc

[2015-04-17 09:33] Tlabok commented on #1291
So the problem is that SR keeps looking for episodes after a show has been removed? I recently removed some shows that were cancelled/ended.

[2015-04-17 09:38] TagForce commented on #1291
@ripper1967 @Tlabok
Can you guys add the following lines to webserve.py lines at 1918 (stop SR first):
[code]

Please mind the indentation.
Then please restart SR. It should still throw the exception, but should also show the showid for which the error occurred right before it.

I think restarting SR (or simply waiting) will fix the error eventually, so it may not happen again. That is fine too, a

[2015-04-17 09:45] Tlabok commented on #1291
@TagForce
I can't change and restart SR because of the way my Qnap package works.

[2015-04-17 09:47] fernandog commented on #1282
@tagforce Thanks!

[2015-04-17 09:48] fernandog commented on #1193
Merged in develop branch

[2015-04-17 09:48] #1193 closed

[2015-04-17 09:53] fernandog commented on #1293
@djoole

a simple input field where you choose which you want SR to move . Like sync files.

@tagforce what do you think?

[2015-04-17 09:54] TagForce commented on #1294
@abeloin @fernandog Well, this has come back to bite us in the bee-hind...
Revert all those changes. We should go about this differently methinks.
Either add an (optional) field in the regex (to catch \[\.+\] at the end of the releasenames so that releasegroup doesn't get polluted with the provider tags, or simply remove them from the releasegroup in PP.

[2015-04-17 09:56] TagForce commented on #1293
@fernandog Maybe add a suboption to the move associated files to move subtitles only?
The function to find associated files already has a subtitles_only switch, so that shouldn't be too hard to implement.

[2015-04-17 09:56] fernandog commented on #1264
cant we add them in order?
First orignal regex, if didnt match try the second, etc...

[2015-04-17 09:57] fernandog commented on #1293
@tagforce ok!

[2015-04-17 10:00] TagForce commented on #1291
@Tlabok Ok, no problem... I'll add the log, return result anyway so the exception is gone.
PR that to develop, which will be merged into master on sunday.

If the error is still occurring we can look for it next week.

[2015-04-17 10:01] fernandog commented on #1295
@ThomasDK81
Locale: unknown

Please set your locale to UTF-8

[2015-04-17 10:01] #1295 closed

[2015-04-17 10:01] Tlabok commented on #1291
@TagForce
Thanks!

[2015-04-17 10:07] TagForce commented on #1291
@fernandog https://github.com/SiCKRAGETV/SickRage/pull/1787

[2015-04-17 10:18] fernandog commented on #1291
merged in develop

[2015-04-17 10:18] fernandog commented on #774
merged in develop

[2015-04-17 10:19] fernandog commented on #1282
merged in develop

[2015-04-17 10:52] aleaax opened #1296 "[APP SUBMITTED]: <ProtocolError for api.opensubtitles.org/xml-rpc: 503 Service Unavailable>"
### INFO
Python Version: **2.7.6 (default, Sep  9 2014, 15:04:36) [GCC 4.2.1 Compatible Apple LLVM 6.0 (clang-600.0.39)]**
Operating System: **Darwin-14.1.0-x86_64-i386-64bit**
Locale: unknown
Branch: **master**
Commit: SiCKRAGETV/SickRage@281409d366b228a455879e02b2d55d3967db29e4
No Log available with ERRORS:
### ERROR
[code]
---
_STAFF NOTIFIED_: @SiCKRAGETV/owners @SiCKRAGETV/moderators

[2015-04-17 10:56] #1296 closed

[2015-04-17 11:09] fernandog commented on #1255
@Toilal

[2015-04-17 11:11] fernandog commented on #1194
@TagForce is this ok the code above? It's a simple url code return. Ir returned 522 but the error raised

[2015-04-17 11:11] fernandog commented on #1157
@TagForce thoughts on this one?

[2015-04-17 11:12] fernandog commented on #1039
@miigotu can you help us with this one? It's a regex issue

[2015-04-17 11:17] Toilal commented on #1255
Sorry, i'm not available to do this. Too many work planned for many weeks ...

[2015-04-17 11:17] Toilal commented on #1255
But issue is not really blocking

[2015-04-17 11:25] ripper1967 commented on #1291
TagForce, if not ShowObj:
                logger.log('No Show Object found for show with indexerID: ' + searchThread.show.indexerid, logger.
that did the trick for me no more error and you was correct i had moved like 150 shows from one drive to a larger drive and removed a few as well then boom that error

[2015-04-17 11:29] fernandog commented on #1291
@TagForce do you think is worth to check if show is in search queue before remove it ?

[2015-04-17 11:33] ripper1967 commented on #1291
well i think its because i have such a large collection and it may still be searching, is there a way of telling it not to remove a show that is  queued

[2015-04-17 11:33] ripper1967 commented on #1291
oops already asked lol..

[2015-04-17 11:45] TagForce commented on #1291
@fernandog @ripper1967 Well... I'd think not removing a show when you want to remove it will cause a lot of confusion...

My solution would be to include an extra step in the removal of a show, namely setting all the episodes for the show to ignored, and then removing all the searches for that show from the searchQueues. That should stop this from happening.

My PR effectively stops the Exception

[2015-04-17 11:50] TagForce commented on #1157
@fernandog I'm with miigotu on this one... It's not a problem within SR, or with the user, it's a problem that exists in a 3rd party tool that we happen to use... If users have a way of fixing it themselves, why not have them do it. Generates income for the guys at TVDB because they get more hits (even if it's only a couple) and it makes the data provided by it more consistent. win win win situati

[2015-04-17 11:58] TagForce commented on #1194
@fernandog Yes, in python you can have line breaks in the code without issue if you keep to the following rules:

in parameters (anything between ()):
Simply continue on the next line like so:
[code]

On normal expressions:
Preferred way is to use () around the expression like so:
[code]
but you can optionally use a \ to denote line breaks like so:
[code]

[2015-04-17 11:58] fernandog commented on #1157
@TagForce but what about the user's issue that show is not being update all the other's episodes?

[2015-04-17 11:59] fernandog commented on #1194
@TagForce so any clue what's wrong in the code?

[2015-04-17 12:01] TagForce commented on #1194
@fernandog It should work... But you can add a \ at the end of the top line to make sure it understands it's a line break.

[2015-04-17 12:03] ripper1967 commented on #1291
sounds good to me, your Pr did fix it for me as well but i did figure out with out your Pr, if i removed all the shows then just restarted sick rage before a new search the error wasn`t produced ,but if i just removed show then did a search it would produce...

[2015-04-17 12:09] fernandog commented on #1291
will close this an open a FR with low priory for that

[2015-04-17 12:09] #1291 closed

[2015-04-17 12:10] fernandog commented on #1194
@TagForce damm! thanks!

[2015-04-17 12:12] TagForce commented on #1194
@fernandog There's 2 more occurences of the same if clause... Change those 2 as well.

https://github.com/fernandog/SickRage/blob/develop/sickbeard/helpers.py#L1296
https://github.com/fernandog/SickRage/blob/develop/sickbeard/helpers.py#L1340

[2015-04-17 12:14] fernandog opened #1297 "[Feature Request] Before removing show check if its in searchqueue or thread."
https://github.com/SiCKRAGETV/sickrage-issues/issues/1291#issuecomment-93970691

[2015-04-17 12:17] fernandog commented on #1194
@TagForce isn't better to add the code conversion here ?

try
    return_code = clients.http_error_code[resp.status_code]
except:
...

https://github.com/fernandog/SickRage/blob/develop/sickbeard/helpers.py#L1286

and in the logger.log we change to "return_code" ?

[2015-04-17 12:21] TagForce commented on #1194
@fernandog In this case it doesn't really matter where you do it. It uses a bit more memory doing it your way (assigning a value to a variable instead of directly referencing the value), but the end result is the same. I think encapsulating the logger code in a try...except will result in a bit cleaner code, because everything is in the same code-block.

You'll still have to do it 3 times, because

[2015-04-17 12:26] djoole commented on #1293
I'm good with a sub option, as long as the subtitles file extension list is exhaustive (http://en.wikipedia.org/wiki/Subtitle_(captioning)#Subtitle_formats).

But I'm also good with a free field which let the user decide what to move...

Up to you!

[2015-04-17 12:26] fernandog commented on #1194
@TagForce so how to catch this exception in the main try:except block that already exists? or I need to add anothers (3 try:excepts blocks)?

[2015-04-17 12:31] Brainarts opened #1298 "[APP SUBMITTED]: database or disk is full"
### INFO
Python Version: **2.7.9 (default, Dec 10 2014, 12:28:03) [MSC v.1500 64 bit (AMD64)]**
Operating System: **Windows-7-6.1.7601-SP1**
Branch: **master**
Commit: SiCKRAGETV/SickRage@281409d366b228a455879e02b2d55d3967db29e4
No Log available with ERRORS:
### ERROR
[code]
---
_STAFF NOTIFIED_: @SiCKRAGETV/owners @SiCKRAGETV/moderators

[2015-04-17 12:31] Brainarts opened #1299 "[APP SUBMITTED]: database or disk is full"
### INFO
Python Version: **2.7.9 (default, Dec 10 2014, 12:28:03) [MSC v.1500 64 bit (AMD64)]**
Operating System: **Windows-7-6.1.7601-SP1**
Branch: **master**
Commit: SiCKRAGETV/SickRage@281409d366b228a455879e02b2d55d3967db29e4
No Log available with ERRORS:
### ERROR
[code]
---
_STAFF NOTIFIED_: @SiCKRAGETV/owners @SiCKRAGETV/moderators

[2015-04-17 12:40] fernandog commented on #1194
@TagForce

created a DEF
what do you think?
https://github.com/fernandog/SickRage/commit/d8928fcdfdc544491acb82d5e2160a36b411dc7e

[2015-04-17 12:42] TagForce commented on #1157
@fernandog If it's actually skipping all episodes after finding one without a name, then yes, that should be addressed. I think @miigotu said as much. SR should skip the episode without an episode, but it should still process the remaining episodes that DO have a name.

[2015-04-17 12:59] deusxanime commented on #1294
Since this seems to have to do with reading tags enclosed in brackets [ ], could this be affecting anime also? Or is that handled differently? I started trying to utilize SR for my anime as well now for the Spring 2015 season (started a couple weeks ago) and have been having issues trying to get it to grab some releases. It seems sparodic though, sometimes it does seem to detect them, sometimes no

[2015-04-17 13:11] TagForce commented on #1194
@fernandog Won't work... There is no self.CodeDescription as CodeDescription is not defined as part of a class. You can add the def CodeDescription to the getURL function though, and you can call it simply by its name.

You can just add try...except clauses in a nested form, just like a nested if...

[2015-04-17 13:13] fernandog commented on #1294
@deusxanime don't affect anime

[2015-04-17 13:22] thecolorchanges commented on #1171
@fernandog I changed to wanted and hit go, knowing the backlog would kickoff automatically. I did not perform manual searches, double-checked SabNZBD's queue at the time and only 1 episode was grabbed and moved to the post-process folder.

[2015-04-17 13:25] fernandog commented on #1171
@thecolorchanges check the file inside the nzb in your nzbindexer. See if the original file has ".1" in it

[2015-04-17 13:25] fernandog commented on #1171
@TagForce any thoughts on this one?

[2015-04-17 13:48] deusxanime commented on #1294
@fernandog Ok thanks for the info. I'll keep fiddling with that and if it becomes a problem I'll open a different issue. Right now still just playing around with the anime support.

[2015-04-17 13:49] TagForce commented on #1039
@fernandog @abeloin
Set the multi-episode repeat method to duplicate...

Could it be this:

https://github.com/SiCKRAGETV/SickRage/blob/master/sickbeard/naming.py#L209

This checks if result.episode_numbers (which is [4, 5]) is NOT equal to x.episode (for each ep + ep.relatedEps)...
those are (in turn)
3, 4, and 5...
[4, 5] is never equal to just 4 or just 5 so that check will always fail.

[2015-04-17 13:59] fernandog commented on #1039
@TagForce so it's not a regex issue? Is there a easy fix or need a more complicated fix?

[2015-04-17 14:10] TagForce commented on #1039
@fernandog I'm not even sure if that's the actual problem... It seems like it, and then we need to change the check into something more complicated.
It's just something I found as a likely cause when step-through-debugging seeing if I could replicate the issue.

[2015-04-17 14:13] orjanTonder commented on #1247
parse error from the indexer on both oznzb and the monkey. have taken sickrage down sickrage cause of it, let me know when you have it fixed

[2015-04-17 14:19] fernandog commented on #1247
@orjanTonder didnt understand what you said

[2015-04-17 14:29] TagForce commented on #1171
@fernandog from sickrage.log.2:
[code]

What is happening is the following:
One of 2 things happen first:
The release actually has a file with .1.avi as an extension OR the release is downloaded twice (unlikely as only the avi has a .1.avi duplicate), and get downloaded to the complete folder:
```/mnt/scratch/temp/Greek S01E17 DVDRip XviD-ORPHEUS/```

Post Processing happens which lists the follow

[2015-04-17 14:32] lussierj opened #1300 "[APP SUBMITTED]: Connection unexpectedly closed: timed out"
### INFO
Python Version: **2.7.8 (default, Jun 30 2014, 16:03:49) [MSC v.1500 32 bit (Intel)]**
Operating System: **Windows-8-6.2.9200**
Branch: **master**
Commit: SiCKRAGETV/SickRage@281409d366b228a455879e02b2d55d3967db29e4
No Log available with ERRORS:
### ERROR
[code]
---
_STAFF NOTIFIED_: @SiCKRAGETV/owners @SiCKRAGETV/moderators

[2015-04-17 14:36] fernandog commented on #1300
Time out

[2015-04-17 14:36] #1300 closed

[2015-04-17 14:37] matigonkas opened #1301 "[APP SUBMITTED]: Unrar: Archive CRC Error"
### INFO
Python Version: **2.7.8 (default, Oct 20 2014, 15:05:29) [GCC 4.9.1]**
Operating System: **Linux-3.16.0-34-generic-i686-with-Ubuntu-14.10-utopic**
Locale: UTF-8
Branch: **develop**
Commit: SiCKRAGETV/SickRage@370217622b360a45075a067f65353b7d8547fcf9
Link to Log: https://gist.github.com/bf35616ca709d4c7ef96
### ERROR
[code]
---
_STAFF NOTIFIED_: @SiCKRAGETV/owners @SiCKRAGETV/moderators

[2015-04-17 14:39] fernandog commented on #1301
@matigonkas seems corrupt.

@TagForce empty title. "message" is also empty?

[2015-04-17 14:54] TagForce commented on #1247
@fernandog He's moving away from SR until it's fixed...

What he's saying is that possibly the code for the custom provider is adding a + in front of his api key.
That won't show up in our logs because we censor the api key...

[2015-04-17 15:27] matigonkas opened #1302 "[APP SUBMITTED]:"
### INFO
Python Version: **2.7.8 (default, Oct 20 2014, 15:05:29) [GCC 4.9.1]**
Operating System: **Linux-3.16.0-34-generic-i686-with-Ubuntu-14.10-utopic**
Locale: UTF-8
Branch: **develop**
Commit: SiCKRAGETV/SickRage@a2b7284697fbc3f99a937fd0803755cef28cae52
Link to Log: https://gist.github.com/67a285e49b7939172381
### ERROR
[code]
---
_STAFF NOTIFIED_: @SiCKRAGETV/owners @SiCKRAGETV/moderators

[2015-04-17 15:28] #1302 closed

[2015-04-17 15:28] matigonkas opened #1303 "[APP SUBMITTED]:"
### INFO
Python Version: **2.7.8 (default, Oct 20 2014, 15:05:29) [GCC 4.9.1]**
Operating System: **Linux-3.16.0-34-generic-i686-with-Ubuntu-14.10-utopic**
Locale: UTF-8
Branch: **develop**
Commit: SiCKRAGETV/SickRage@a2b7284697fbc3f99a937fd0803755cef28cae52
Link to Log: https://gist.github.com/424bda81e5375e50623a
### ERROR
[code]
---
_STAFF NOTIFIED_: @SiCKRAGETV/owners @SiCKRAGETV/moderators

[2015-04-17 15:28] matigonkas opened #1304 "[APP SUBMITTED]:"
### INFO
Python Version: **2.7.8 (default, Oct 20 2014, 15:05:29) [GCC 4.9.1]**
Operating System: **Linux-3.16.0-34-generic-i686-with-Ubuntu-14.10-utopic**
Locale: UTF-8
Branch: **develop**
Commit: SiCKRAGETV/SickRage@a2b7284697fbc3f99a937fd0803755cef28cae52
Link to Log: https://gist.github.com/59e6c6a97795d608f858
### ERROR
[code]
---
_STAFF NOTIFIED_: @SiCKRAGETV/owners @SiCKRAGETV/moderators

[2015-04-17 15:29] #1304 closed

[2015-04-17 15:29] #1303 closed

[2015-04-17 15:29] matigonkas commented on #1301
it seems to happen to every rar file
https://github.com/SiCKRAGETV/sickrage-issues/issues/1302
https://github.com/SiCKRAGETV/sickrage-issues/issues/1303

[2015-04-17 15:31] matigonkas opened #1305 "[APP SUBMITTED]: list.remove(x): x not in list"
### INFO
Python Version: **2.7.8 (default, Oct 20 2014, 15:05:29) [GCC 4.9.1]**
Operating System: **Linux-3.16.0-34-generic-i686-with-Ubuntu-14.10-utopic**
Locale: UTF-8
Branch: **develop**
Commit: SiCKRAGETV/SickRage@a2b7284697fbc3f99a937fd0803755cef28cae52
Link to Log: https://gist.github.com/56c0d1039e6ae5ec99d6
### ERROR
[code]
---
_STAFF NOTIFIED_: @SiCKRAGETV/owners @SiCKRAGETV/moderators

[2015-04-17 15:33] matigonkas commented on #1305
this happened when i submited this error https://github.com/SiCKRAGETV/sickrage-issues/issues/1304

[2015-04-17 16:44] Thraxis commented on #1039
@TagForceorce @fernandog It is a Regex issue.  The regex is parsing that name as:
series_name	[0-15]	`Season 2/S02E03`
season_num	[19-21]	`02`
extra_info	[21-55]	`E04 - S02E05 - Ep Name - HD TV.ext`

[code]

Change the Show name piece to look for anything but the /:
[code]

[2015-04-17 16:50] fernandog commented on #1301
@matigonkas we haven't change anything with unrar. Are you sure they are not corrupted?

[2015-04-17 16:52] fernandog commented on #1305
@matigonkas what's the full log for this? Isn't there a traceback?

[2015-04-17 16:55] fernandog commented on #838
@Jaerin @unabatedshagie @captain0bvious @Symbiot78 @sirbishop @afarazit @elBradford @donisewell @Rouzax

merged in DEVELOP.
Any of you are using develop? we have some issues in the branch but if you want to try....feel free. Make backup.

[2015-04-17 16:55] #838 closed

[2015-04-17 16:55] #1224 closed

[2015-04-17 16:56] fernandog commented on #1043
@cyberundertaker check logs for waking dead. See in which episode it's stucked

[2015-04-17 17:05] cyberundertaker commented on #1043
2015-04-16 15:37:38 INFO     SEARCHQUEUE-DAILY-SEARCH :: Seeing if we need anything from The Walking Dead
2015-04-16 15:15:53 DEBUG    SHOWQUEUE-REFRESH :: Name The.Walking.Dead.S05E08.REPACK.HDTV.x264-KILLERS gave release group of KILLERS, seems valid
2015-04-16 15:15:53 DEBUG    SHOWQUEUE-REFRESH :: Parsed The.Walking.Dead.S05E08.REPACK.HDTV.x264-KILLERS into The Walking Dead - S5E8 [ANIME VER:

[2015-04-17 17:11] Jaerin commented on #838
Did you guys check the build after committing that?

D:\Programs\SickRage>SickBeard.py
Traceback (most recent call last):
  File "D:\Programs\SickRage\SickBeard.py", line 69, in <module>
    import sickbeard
  File "D:\Programs\SickRage\sickbeard\__init__.py", line 37, in <module>
    from sickbeard import providers, metadata, config, webserveInit
  File "D:\Programs\SickRage\sickbeard\providers\_

[2015-04-17 17:23] Jaerin commented on #838
Something not working with this pull

    D:\Programs\SickRage>sickbeard.py
    Traceback (most recent call last):
      File "D:\Programs\SickRage\SickBeard.py", line 69, in <module>
        import sickbeard
      File "D:\Programs\SickRage\sickbeard\__init__.py", line 37, in <module>
        from sickbeard import providers, metadata, config, webserveInit
      File "D:\Programs\SickRage\sickbear

[2015-04-17 17:32] fernandog commented on #838
@Jaerin please update. already fixed

[2015-04-17 17:40] TagForce commented on #1039
@Thraxis It's not using season_only regex when it's failing...
It's using the standard repeat one.

But now that you mention it... It's not supplying the showname for the standard repeat test.
The actual filename for the test should be Show Name - S02E03 - S02E04 - S02E05 - Ep Name - HD TV.ext

[2015-04-17 17:49] Jaerin commented on #838
I'm not sure what the problem was, but I had to completely remove my previous repository entirely and clone a new one.  I tried doing a full hard reset on it and it just continued to give me the above errors.

Must have been something cached in the .git because I even wiped out and rechecked out the files under the old repository and it gave the same issues.

[2015-04-17 17:52] fernandog commented on #838
@Jaerin maybe take some time for you to get the update.

But is it working now?

[2015-04-17 18:24] heymoe commented on #774
Looks like it works.. Awesome!.. Thanks!

[2015-04-17 18:24] #774 closed

[2015-04-17 18:28] matigonkas commented on #1305
There wasnt any traceback whatsoever ,i dont have the log anymore but i remember that it was something like so:

"Thread-56 :: list.remove(x): x not in list"
"Submited your ticket 1304 blablabla"
"Submited your ticket 1303 blablabla"
etc

[2015-04-17 18:40] fernandog commented on #589
@TagForce what do you think add a check if the file is in use/locked in windows?

Permission denied can happen when the file that SR is trying to PP is still locked. Not only about permissions in destination folder. With this we can change the log error message.
http://blogs.blumetech.com/blumetechs-tech-blog/2011/05/python-file-locking-in-windows.html

[2015-04-17 18:46] fernandog commented on #838
@Jaerin everything working??

[2015-04-17 18:57] Clockyx82 commented on #838
@fernandog when do you expect this to land in the stable?

[2015-04-17 19:01] fernandog commented on #838
probaly sunday. we need to confirm qbittorrent is working. that's why I'm asking users to test it

[2015-04-17 19:15] matigonkas opened #1306 "Sickrage doesnt start"
On the latest sr develop version i AM unable to start sr
It just gives the following terror  supergonkas@supergonkas:~$ sudo service sickrage start
Starting SickBeard
Traceback (most recent call last):
  File "SickBeard.py", line 69, in <module>
    import sickbeard
  File "/home/supergonkas/SickRage/sickbeard/__init__.py", line 37, in <module>
    from sickbeard import providers, metadata, config

[2015-04-17 19:21] fernandog commented on #1306
@matigonkas sorry! please git pull

[2015-04-17 19:22] #1306 closed

[2015-04-17 19:44] oshimo commented on #1301
I have been receiving the same error recently on almost all downloads..

2015-04-17 12:20:25 POSTPROCESSER :: Failed Unrar archive house.of.lies.s04e06.720p.hdtv.x264-immerse.rar: Unrar: Archive CRC Error

[2015-04-17 19:46] fernandog commented on #1301
@oshimo @matigonkas can you manually extract the rar? does it extract ok ? This error code come directly from unrar

[2015-04-17 19:47] oshimo commented on #1301
@fernandog yes, all I have been able to manually extract and move with no issue.

[2015-04-17 19:57] oshimo commented on #1301
This seems to be the case with almost all downloads for the past 2 days:

2015-04-17 12:38:20 POSTPROCESSER :: Failed Unrar archive vikings.s02e01.bdrip.x264-demand.rar: Unrar: No file extracted, check the parent folder and destination file permissions.
2015-04-17 12:37:19 POSTPROCESSER :: Failed Unrar archive spartacus.s03e08.720p.hdtv.x264-immerse.rar: Unrar: Archive CRC Error

Prior to this the

[2015-04-17 19:59] fernandog commented on #1301
@oshimo I'm asking again: can you **MANUALLY** extract it?

the other one is permission issues.

[2015-04-17 20:00] fernandog commented on #1301
@TagForce unrar error come comes from unrar. Do you know what may causing this?

[2015-04-17 20:01] oshimo commented on #1301
@fernandog yes, all I have been able to manually extract and move with no issue.

[2015-04-17 20:09] gborri commented on #835
@fernandog @thraxis @abeloin the pause\unpause button on he page is useful to start and stop rolling download without entering on the show itself. Probabily what have @abeloin suggested could be applied also on home page. What do you think?

[2015-04-17 20:18] fernandog commented on #835
Nope

[2015-04-17 20:56] kingmotley opened #1307 "[APP SUBMITTED]: <sickbeard.tv.TVEpisode object at 0x10EE8590>"
### INFO
Python Version: **2.7.5 (default, May 15 2013, 22:43:36) [MSC v.1500 32 bit (Intel)]**
Operating System: **Windows-8-6.2.9200**
Branch: **master**
Commit: SiCKRAGETV/SickRage@281409d366b228a455879e02b2d55d3967db29e4
No Log available with ERRORS:
### ERROR
[code]
---
_STAFF NOTIFIED_: @SiCKRAGETV/owners @SiCKRAGETV/moderators

[2015-04-17 20:57] Zzaap commented on #1293
Also, it would be nice if the associated files were case insensitive.

Personally i would like it if it even parsed the subtitles files separately, so the files names could be a bit different and it would still associate them.

[2015-04-17 21:12] miigotu commented on #1157
Yeah it doesn't skip the load for ones that have a name on theTVDB afaik, or we would have many more reports of this. Episodes without a name are usually episodes just aired in the past half hour (rarely) or are not yet aired. The case reported in this issue is when a show is really old or not popular enough for people to have added the info to theTVDB, which is why I think the answer is to have t

[2015-04-17 21:18] fernandog commented on #1307
already fixed. wait until sunday

[2015-04-17 21:18] #1307 closed

[2015-04-17 21:36] miigotu commented on #1039
@Thraxis The bug is in the parser, but I dont have time to look right now. Current code assumes no more than 2 ep are in 1 file I think.

[2015-04-17 21:39] Brainarts opened #1308 "[APP SUBMITTED]: Your authentication credentials for HDBits are incorrect, check your config."
### INFO
Python Version: **2.7.9 (default, Dec 10 2014, 12:28:03) [MSC v.1500 64 bit (AMD64)]**
Operating System: **Windows-7-6.1.7601-SP1**
Branch: **master**
Commit: SiCKRAGETV/SickRage@281409d366b228a455879e02b2d55d3967db29e4
Link to Log: https://gist.github.com/5279850bf1405b3696ba
### ERROR
[code]
---
_STAFF NOTIFIED_: @SiCKRAGETV/owners @SiCKRAGETV/moderators

[2015-04-17 21:54] matigonkas commented on #1306
its now fixed

[2015-04-17 21:56] miigotu commented on #1039
@MattPark does this naming scheme suit your needs? It's what I use and it works.
`Season %0S/S%0SE%0E - %EN`

Its not that different from yours, just missing quality and strips 0 from season numbers:
`Season %S/S%0SE%0E - %EN - %QN`

[2015-04-17 22:30] christiananguiano opened #1309 "Error returned status code is 404: Not Found for all show searches on IPTorrents"
All of my searches have stopped working today on IPTorrents. It returns a 404 error in the URL for any show that I add and current ones.

Here's an example:

    18:27:06 INFO::SEARCHQUEUE-MANUAL-75978 :: [IPTorrents] :: Performing episode search for Family Guy
    18:27:06 DEBUG::SEARCHQUEUE-MANUAL-75978 :: [IPTorrents] :: IPTorrents search page URL: https://iptorrents.eu/torrents/?l73=1&l78=1&l6

[2015-04-17 22:34] fernandog commented on #1309
@christiananguiano are you using develop?

[2015-04-17 22:40] christiananguiano commented on #1309
@fernandog I am not, but here's what happens on develop branch:

    18:37:21 INFO::SEARCHQUEUE-MANUAL-75978 :: [IPTorrents] :: Performing episode search for Family Guy
    18:37:21 DEBUG::SEARCHQUEUE-MANUAL-75978 :: [IPTorrents] :: IPTorrents search page URL: https://iptorrents.eu/torrents/?l73=1&l78=1&l66=1&l65=1&l79=1&l5=1&l4=1&q=Family.Guy S13E14 &qf=ti;o=seeders
    18:37:21 WARNING::SEARCHQU

[2015-04-17 23:51] chimchild opened #1310 "[APP SUBMITTED]: unsupported operand type(s) for -: 'str' and 'int'"
### INFO
Python Version: **2.7.6 (default, Mar 22 2014, 22:59:56) [GCC 4.8.2]**
Operating System: **Linux-3.13.0-37-generic-x86_64-with-LinuxMint-17.1-rebecca**
Locale: unknown
Branch: **master**
Commit: SiCKRAGETV/SickRage@281409d366b228a455879e02b2d55d3967db29e4
No Log available with ERRORS:
### ERROR
[code]
---
_STAFF NOTIFIED_: @SiCKRAGETV/owners @SiCKRAGETV/moderators

[2015-04-18 00:06] fernandog commented on #1310
https://github.com/SiCKRAGETV/sickrage-issues/issues/1187

[2015-04-18 00:06] #1310 closed

[2015-04-18 00:54] Jaerin commented on #838
Yes it appears to be working.  Now to get qbittorrent to add the labels to the API so we can use that and it will be perfect replacement for uTorrent.

[2015-04-18 01:28] fernandog commented on #1309
@christiananguiano please update develop

Can you access https://iptorrents.eu/torrents ?

[2015-04-18 01:57] christiananguiano commented on #1309
It fixed the previous issue, now it gives me the 404 not found error again.

    21:54:39 INFO::SEARCHQUEUE-MANUAL-75978 :: [IPTorrents] :: Performing episode search for Family Guy
    21:54:40 DEBUG::SEARCHQUEUE-MANUAL-75978 :: [IPTorrents] :: IPTorrents search page URL: https://iptorrents.eu/torrents/?l73=1&l78=1&l66=1&l65=1&l79=1&l5=1&l4=1&q=Family.Guy S13E14 &qf=ti;o=seeders
    21:54:40 DEBUG

[2015-04-18 02:15] fernandog commented on #1309
@christiananguiano try open the url showed in the log "Requested url"

[2015-04-18 02:17] fernandog commented on #1309
@abeloin this is why we need the url quote. To open the url (There is space on it)

https://iptorrents.eu/torrents/?l73=1&l78=1&l66=1&l65=1&l79=1&l5=1&l4=1&q=Family.Guy S13E14 &qf=ti;o=seeders

[2015-04-18 02:19] christiananguiano commented on #1309
The URL returns a 404. Removing the space returns a 404 as well.

![screen-shot-2015-04-17-at-7 16 17-pm](https://cloud.githubusercontent.com/assets/6056646/7213514/8b607330-e536-11e4-9652-9d6b3f9b928f.png)

[2015-04-18 02:23] fernandog commented on #1309
@christiananguiano they changed something

Make a simple search in all tvshows categories and post the URL please

[2015-04-18 02:24] christiananguiano commented on #1309
Here you go.
https://iptorrents.eu/t?l73=&q=Family+Guy&qf=#torrents

[2015-04-18 02:31] fernandog commented on #1309
@christiananguiano

Try open the url in the log adding t after the slash and before question mark

[2015-04-18 02:34] christiananguiano commented on #1309
That gives a 404 as well.

![screen-shot-2015-04-17-at-7 33 35-pm](https://cloud.githubusercontent.com/assets/6056646/7213587/cfc9bbc4-e538-11e4-9db4-5f5373cadc9b.png)

[2015-04-18 02:36] fernandog commented on #1309
@christiananguiano try adding qf=#torrents to the end too

[2015-04-18 02:38] christiananguiano commented on #1309
404 error as well.

[2015-04-18 02:39] fernandog commented on #1309
@christiananguiano

This:
https://iptorrents.eu/torrents/t?l73=1&l78=1&l66=1&l65=1&l79=1&l5=1&l4=1&q=Family.Guy S13E14 &qf=#torrents

[2015-04-18 02:41] christiananguiano commented on #1309
Same error.

![screen-shot-2015-04-17-at-7 40 20-pm](https://cloud.githubusercontent.com/assets/6056646/7213619/b9c44d0c-e539-11e4-83b1-5388498efe18.png)

[2015-04-18 02:42] fernandog commented on #1309
@christiananguiano when you did a simple search in the site did you selected all tv shows categories?

[2015-04-18 02:44] christiananguiano commented on #1309
Yes, all TV show categories are checked during the search.

![screen shot 2015-04-17 at 7 43 33 pm](https://cloud.githubusercontent.com/assets/6056646/7213632/1d36e534-e53a-11e4-8e7b-839a389698bf.png)

[2015-04-18 02:51] fernandog commented on #1309
@christiananguiano please update and report back

[2015-04-18 02:55] christiananguiano commented on #1309
Same error. :(

![screen shot 2015-04-17 at 7 54 25 pm](https://cloud.githubusercontent.com/assets/6056646/7213681/9720bfc2-e53b-11e4-8a7c-739914b1c7a2.png)

[2015-04-18 02:55] fernandog commented on #1305
@abeloin didn't find the code "list.remove(x)". help here?

[2015-04-18 02:55] fernandog commented on #1309
@christiananguiano post log with url please

[2015-04-18 02:56] christiananguiano commented on #1309
22:52:56 INFO::SEARCHQUEUE-MANUAL-75978 :: [IPTorrents] :: Performing episode search for Family Guy
	 22:52:56 DEBUG::SEARCHQUEUE-MANUAL-75978 :: [IPTorrents] :: IPTorrents search page URL: https://iptorrents.eu/torrents/t?l73=&q=Family.Guy S13E14 	 &qf=#torrents;o=seeders
	 22:52:57 DEBUG::SEARCHQUEUE-MANUAL-75978 :: [IPTorrents] :: Requested url https://iptorrents.eu/torrents/t?l73=&q=Family.Guy

[2015-04-18 02:57] fernandog commented on #1309
@christiananguiano try open:

https://iptorrents.eu/torrents/t?l73=&q=Family.Guy S13E14 &qf=#torrents

[2015-04-18 02:58] christiananguiano commented on #1309
404 - Not Found

[2015-04-18 02:59] fernandog commented on #1309
@christiananguiano what's the difference between this url and url from:

![screen shot 2015-04-17 at 7 43 33 pm](https://cloud.githubusercontent.com/assets/6056646/7213632/1d36e534-e53a-11e4-8e7b-839a389698bf.png)

[2015-04-18 03:00] christiananguiano commented on #1309
If you remove /torrents/ it works.

[2015-04-18 03:01] fernandog commented on #1309
@christiananguiano damn!

[2015-04-18 03:01] fernandog commented on #1309
@christiananguiano

try open https://iptorrents.eu/t?l73=&q=Family.Guy S13E14 &qf=#torrents;o=seeders

[2015-04-18 03:02] christiananguiano commented on #1309
That works too!

[2015-04-18 03:08] fernandog commented on #1309
@christiananguiano update and report back

[2015-04-18 03:13] christiananguiano commented on #1309
Awesome, it looks like it's working now! :)
Here's the full log.

	23:10:24 INFO::SEARCHQUEUE-MANUAL-75978 :: [IPTorrents] :: Performing episode search for Family Guy
	23:10:25 DEBUG::SEARCHQUEUE-MANUAL-75978 :: [IPTorrents] :: IPTorrents search page URL: https://iptorrents.eu/t?l73=&q=Family.Guy S13E14 &qf=#torrents;o=seeders
	23:10:25 DEBUG::SEARCHQUEUE-MANUAL-75978 :: [IPTorrents] :: Found resu

[2015-04-18 03:13] #1309 closed

[2015-04-18 03:14] fernandog commented on #1207
@rodrigompaz please reply

[2015-04-18 03:14] #1201 closed

[2015-04-18 03:15] fernandog commented on #1201
https://github.com/SiCKRAGETV/sickrage-issues/issues/1309

IPT working again

[2015-04-18 03:16] #1015 closed

[2015-04-18 03:16] fernandog commented on #1015
working!

[2015-04-18 03:17] fernandog commented on #1301
@abeloin help with this one too

[2015-04-18 03:33] fernandog commented on #1292
it's supposed to hide in log:

"Found result ------ at https://api.nzbgeek.info/api?t=get&id=32cf5040cdc3dcf30a9e2602255a5aa2&apikey=abc123....."

[2015-04-18 04:03] MattPark commented on #1039
What I ended up doing was just changing it from duplicate to repeat-- the multi episodes are rare, that was less annoying that renaming the while library and hoping that everything worked right.

[2015-04-18 04:06] miigotu commented on #1039
Yeah, 3+ episodes or more than 1 season per torrent is rare, and actually doesnt really follow scene standards.

[2015-04-18 05:54] TagForce commented on #1305
@fernandog
https://github.com/SiCKRAGETV/SickRage/blob/c9a102608e37c4c6e24c595297af1add5677ef79/sickbeard/logger.py#L226
That's the list.remove throwing the error...

@matigonkas did you hit clear errors after submitting?
If so, then that probably cleared the list before it was sent.
Keep an eye out for more of these.

[2015-04-18 05:56] TagForce commented on #1282
Needs more logic. Empty titles still occur when the message is an empty string.

[2015-04-18 05:58] TagForce commented on #1301
@fernandog no idea. And I'm not able to check this today.

[2015-04-18 06:19] Thraxis commented on #124
@fernandog @abeloin I believe the use of TableSorter has superseded this request... would the reflow widget be the suitable replacement?

http://mottie.github.io/tablesorter/docs/example-widget-reflow.html

[2015-04-18 06:39] Thraxis commented on #574
@randellhodges @fernandog Does the new FilterRow option (enabled in the general settings) meet your needs for this functionality?

[2015-04-18 07:43] rodrigompaz commented on #1207
@fernandog I'm sorry.
I'm moving to develop again and testing this morning, but it's taking a whole life to restart...
![image](https://cloud.githubusercontent.com/assets/11908891/7214501/42653b4c-e5af-11e4-8ca4-52e23cc31c0c.png)
I'll let you know when it finishes. I have a few files waiting for the test..

[2015-04-18 08:10] rodrigompaz commented on #1207
Now it's OK, I used wrong email settings and the postprocess worked. Thank you.

I have some messages in my error log and log.

Error log:

2015-04-18 10:06:03 Thread-49 :: Failed doing webui callback: Traceback (most recent call last):
  File "/Applications/SickRage/sickbeard/webserve.py", line 258, in async_call
    result = function(**kwargs)
  File "/Applications/SickRage/sickbeard/webserve.py

[2015-04-18 08:59] kotysoft commented on #937
Update:
If I'm use folders only with english characters, sickrage working like charm.

So Currently I renamed my movie folders to english names, added them (with untouched codepage)
restarted sickrage with cp65001
added hungarian names to Exceptions List (working)
set all my tv shows to Hungarian
started to mass update/rescan/rename my all episodes

Everything works fine (searching in custom RSS u

[2015-04-18 09:37] matigonkas opened #1311 "[APP SUBMITTED]: 401 {u'documentation_url': u'https://developer.github.com/v3', u'message': u'Bad credentials'}"
### INFO
Python Version: **2.7.8 (default, Oct 20 2014, 15:05:29) [GCC 4.9.1]**
Operating System: **Linux-3.16.0-34-generic-i686-with-Ubuntu-14.10-utopic**
Locale: UTF-8
Branch: **develop**
Commit: SiCKRAGETV/SickRage@6ea3ae63640a78ef8280ff01ae02c7390de39781
Link to Log: https://gist.github.com/9de903a566cac8f3c2b1
### ERROR
[code]
---
_STAFF NOTIFIED_: @SiCKRAGETV/owners @SiCKRAGETV/moderators

[2015-04-18 09:37] #1311 closed

[2015-04-18 09:38] matigonkas opened #1312 "[APP SUBMITTED]: unpack requires a string argument of length 8"
### INFO
Python Version: **2.7.8 (default, Oct 20 2014, 15:05:29) [GCC 4.9.1]**
Operating System: **Linux-3.16.0-34-generic-i686-with-Ubuntu-14.10-utopic**
Locale: UTF-8
Branch: **develop**
Commit: SiCKRAGETV/SickRage@6ea3ae63640a78ef8280ff01ae02c7390de39781
Link to Log: https://gist.github.com/39f08d6a474baa71abd2
### ERROR
[code]
---
_STAFF NOTIFIED_: @SiCKRAGETV/owners @SiCKRAGETV/moderators

[2015-04-18 10:49] fernandog commented on #124
What is reflow?

[2015-04-18 10:51] fernandog commented on #574
@Thraxis exact values dont work. Like 100 or 100=

[2015-04-18 10:54] fernandog commented on #1207
Open another please

[2015-04-18 10:54] #1207 closed

[2015-04-18 10:56] fernandog commented on #937
Did you change the language? See my comments above

[2015-04-18 11:09] kotysoft commented on #937
@fernandog you mean the indexer language?

btw as I said before I read whole conversation and tried every tips.

[2015-04-18 11:31] afarazit commented on #838
It seems to be working for me as well. Thanks @fernandog

[2015-04-18 11:38] fernandog commented on #937
Yes

[2015-04-18 11:46] kotysoft commented on #937
![11](http://amalon.hu/koty/sickrage-x11.jpg)
![11b](http://amalon.hu/koty/sickrage-x11b.jpg)

[2015-04-18 11:55] fernandog commented on #937
Use the special letters in the search

[2015-04-18 14:36] kotysoft commented on #937
![image](https://cloud.githubusercontent.com/assets/11740566/7215854/e44adfa0-e5e8-11e4-845f-54929f0e19c8.png)

1.) [Person of interest](http://thetvdb.com/?tab=series&id=248742&lid=19)
2.) [The Big Bang Theory](http://thetvdb.com/?tab=series&id=80379&lid=19)

[2015-04-18 15:10] T-2000 commented on #1294
Just encountered something similar, searching and post processing appears to be not working for this particular series, post processing log below, don't exactly know what's going on, i've tried using the anime check box, adding alternate scene names and white listing fansub groups.
After changing the settings it still didn't work so i tried removing the show from SR and re-adding it after re-scrap

[2015-04-18 15:11] smstarrant opened #1313 "[Feature Request] Allow scene number field to override season for specials"
I have tried to manually edit the scene numbers for specials but they default back to 0x#.  I would like to be able to change the numbers.

BRANCH: (master) / COMMIT: (281409d366b228a455879e02b2d55d3967db29e4)
2.7.8 (default, Jun 30 2014, 16:08:48) [MSC v.1500 64 bit (AMD64)]

[2015-04-18 15:32] emzero commented on #838
When can be expected to have this merged into the master branch?

[2015-04-18 16:36] Rouzax commented on #838
If you look three comments above you, you can see that fernandog said probably Sunday :smile:

[2015-04-18 16:47] copekyle opened #1314 "[APP SUBMITTED]: database disk image is malformed"
### INFO
Python Version: **2.7.9 (default, Dec 10 2014, 12:28:03) [MSC v.1500 64 bit (AMD64)]**
Operating System: **Windows-7-6.1.7601-SP1**
Branch: **master**
Commit: SiCKRAGETV/SickRage@281409d366b228a455879e02b2d55d3967db29e4
Link to Log: https://gist.github.com/c035f6b5e6181728977a
### ERROR
[code]
---
_STAFF NOTIFIED_: @SiCKRAGETV/owners @SiCKRAGETV/moderators

[2015-04-18 16:51] copekyle commented on #1314
I was having issues with my SR not snatching anything.  It seems the logs have been changed and so I can't see specifics about the search/snatch process when viewing the db log.  I thought it would be a good time to back up my copy of sickrage and start fresh.  SO I used the built in backup/restore, downloaded a fresh version of the master branch and used the restore.  All my shows appear but when

[2015-04-18 17:01] fernandog commented on #1314
https://github.com/SiCKRAGETV/sickrage-issues/issues/549#issuecomment-72844385

[2015-04-18 17:01] #1314 closed

[2015-04-18 17:29] cyberundertaker commented on #1043
@fernandog @abeloin

ok, so i removed the walking dead from SR library and now everything is updating normally. it takes about 4 hours to complete all shows, so it might be a good idea to speed up the updater or to add the option to update only continuing shows, or set continuing shows as priority update. I would prefer the option to choose what shows to update or totally separate update of contin

[2015-04-18 17:36] cyberundertaker commented on #1126
@fernandog @abeloin
not sure if related but I have this problem. When trying to add trending show i get this message:
Trakt API did not return any results, please check your config.

SR doesn't give any error but from log i can see this:

2015-04-18 19:33:50 WARNING  Thread-43 :: Could not connect to Trakt service: error 401 Client Error: Unauthorized
2015-04-18 19:33:50 WARNING  Thread-43 :: Unau

[2015-04-18 18:10] fernandog commented on #1126
@cyberundertaker delete this post and open an issue

[2015-04-18 18:16] TheFuzzyOne87 opened #1315 "[APP SUBMITTED]: None"
### INFO
Python Version: **2.7.9 (default, Mar 22 2015, 23:26:38) [GCC 4.6.3]**
Operating System: **Linux-3.2.40-i686-with-glibc2.0**
Locale: UTF-8
Branch: **master**
Commit: SiCKRAGETV/SickRage@281409d366b228a455879e02b2d55d3967db29e4
Link to Log: https://gist.github.com/529ab55871be53af6a02
### ERROR
[code]
---
_STAFF NOTIFIED_: @SiCKRAGETV/owners @SiCKRAGETV/moderators

[2015-04-18 18:18] #1315 closed

[2015-04-18 18:18] cyberundertaker opened #1316 "Add trending show not working"
When trying to add trending show i get this message:
Trakt API did not return any results, please check your config.

SR doesn't give any error but from log i can see this:

2015-04-18 19:33:50 WARNING Thread-43 :: Could not connect to Trakt service: error 401 Client Error: Unauthorized
2015-04-18 19:33:50 WARNING Thread-43 :: Unauthorized. Please check your Trakt settings
2015-04-18 19:33:49 DEBU

[2015-04-18 18:18] fernandog commented on #1315
episode without number

[2015-04-18 18:20] emzero commented on #838
Oh sorry, didn't see it. Thanks!
On Apr 18, 2015 1:36 PM, "Martijn" <notifications@github.com> wrote:

[2015-04-18 19:15] boeggild opened #1317 "[APP SUBMITTED]: <ProtocolError for api.opensubtitles.org/xml-rpc: 503 Service Unavailable>"
### INFO
Python Version: **2.7.9 (default, Mar 22 2015, 23:43:57) [GCC 4.6.4]**
Operating System: **Linux-2.6.32.12-armv5tel-with-glibc2.4**
Locale: UTF-8
Branch: **master**
Commit: SiCKRAGETV/SickRage@281409d366b228a455879e02b2d55d3967db29e4
Link to Log: https://gist.github.com/35f7e61bbc90d00ed36c
### ERROR
[code]
---
_STAFF NOTIFIED_: @SiCKRAGETV/owners @SiCKRAGETV/moderators

[2015-04-18 19:32] #1317 closed

[2015-04-18 20:11] Thraxis commented on #124
@fernandog Changes the table when on a small screen the examples on the link I posted should give you an idea

[2015-04-18 20:27] Thraxis commented on #1315
It's a Special..  S0E07

Doctor Who Christmas Specials are never released with a Season or Episode number by the Scene.  You have to add them manually.

[2015-04-18 20:29] TheFuzzyOne87 commented on #1315
Really sorry about that, there was an actual error message I was trying to submit but I guess I sent the wrong one

[2015-04-18 21:23] TheFuzzyOne87 opened #1318 "[APP SUBMITTED]: No JSON object could be decoded"
### INFO
Python Version: **2.7.9 (default, Mar 22 2015, 23:26:38) [GCC 4.6.3]**
Operating System: **Linux-3.2.40-i686-with-glibc2.0**
Locale: UTF-8
Branch: **master**
Commit: SiCKRAGETV/SickRage@281409d366b228a455879e02b2d55d3967db29e4
Link to Log: https://gist.github.com/d70eb4f4f2e8daf9de25
### ERROR
[code]
---
_STAFF NOTIFIED_: @SiCKRAGETV/owners @SiCKRAGETV/moderators

[2015-04-18 21:27] fernandog commented on #1318
@TheFuzzyOne87 disable proxy for rarbg

[2015-04-18 21:27] #1318 closed

[2015-04-18 21:28] fernandog commented on #1316
@Thraxis trakt already changed to PIN?

[2015-04-18 21:32] TheFuzzyOne87 commented on #1318
Thanks @fernandog !!!

[2015-04-18 21:52] Thraxis commented on #1316
They've not announced anything about making the final shut-off of the Media Center auth yet.

https://medium.com/@trakt/api-changelog-9f4041819718

[2015-04-19 01:24] abeloin commented on #1309
@fernandog The space has nothing to do with this error. The requests library automatically quotes invalid character in a url.

[2015-04-19 01:27] fernandog commented on #1309
@abeloin I know. its easier to user copy url from log. Error was fixed

[2015-04-19 01:35] abeloin commented on #1171
@TagForce Sabnzbd create them when there is duplicate data, see the following:

https://forums.sabnzbd.org/viewtopic.php?t=9795

[2015-04-19 01:54] mraniki opened #1319 "[APP SUBMITTED]: [Errno 2] No such file or directory: '/home/hd8/mraniki/media/TV Shows/Mad Men/Season 07/Mad Men - S07E09 - New Business.eng.srt'"
### INFO
Python Version: **2.7.6 (default, Mar 22 2014, 22:59:56) [GCC 4.8.2]**
Operating System: **Linux-3.13.0-45-generic-x86_64-with-Ubuntu-14.04-trusty**
Locale: unknown
Branch: **master**
Commit: SiCKRAGETV/SickRage@281409d366b228a455879e02b2d55d3967db29e4
Link to Log: https://gist.github.com/246a972ede47c917a119
### ERROR
[code]
---
_STAFF NOTIFIED_: @SiCKRAGETV/owners @SiCKRAGETV/moderators

[2015-04-19 02:08] abeloin commented on #1301
@matigonkas Please run the following on your archive and post the results:
`unrar vta marvels.daredevil.s01e07.1080p.webrip.x264-2hd.rar`
`unrar t marvels.daredevil.s01e07.1080p.webrip.x264-2hd.rar`

@oshimo  Please run the following on your archive and post the results:
`unrar vta vikings.s02e01.bdrip.x264-demand.rar`
`unrar t vikings.s02e01.bdrip.x264-demand.rar`

[2015-04-19 02:16] abeloin commented on #1294
@fernandog @TagForce Redoing the regex should be best long term solution

[2015-04-19 02:20] abeloin commented on #124
@Thraxis Yes

[2015-04-19 02:32] abeloin commented on #1231
@TATUMTOT Are you using a proxy? Either global or on the provider?

[2015-04-19 02:32] abeloin commented on #1205
@miigotu Yes

[2015-04-19 02:35] abeloin commented on #1130
@sjay1 Sorry, I got a family emergency over the past few days. I'll post a message tomorrow morning.

[2015-04-19 02:49] abeloin commented on #1274
@theemstra You need to chain all your certificates in one file and use that file.

https://support.comodo.com/index.php?/Knowledgebase/Article/View/643/0/how-do-i-make-my-own-bundle-file-from-crt-files
https://certificatechain.io/

[2015-04-19 02:56] abeloin commented on #589
@fernandog From the 20 to April 30th, I will have less time to work on SR. We have a big project at work that must completed on the 30th and we are little being the schedule so I will be working overtime.

[2015-04-19 05:22] bobbyware opened #1320 "Failed download processing failed"
Some episodes of Arrow are failing on news groups:

2015-04-19 17:13:32 WARNING  Thread-55 :: Failed Download Processing failed: (scnzbefnet529699-Arrow.S03E04.720p.HDTV.X264-DIMENSION-126-sparrow.304.720p-dimension.sfv.nzb, /home/roland/Downloads/incomplete/scnzbefnet529699-Arrow.S03E04.720p.HDTV.X264-DIMENSION-126-sparrow.304.720p-dimension.sfv.1):
2015-04-19 17:13:32 INFO     Thread-55 :: Using

[2015-04-19 07:18] TATUMTOT commented on #1231
no

Date: Sat, 18 Apr 2015 19:32:12 -0700
From: notifications@github.com
To: sickrage-issues@noreply.github.com
CC: ShortTatum@hotmail.com
Subject: Re: [sickrage-issues] [APP SUBMITTED]: [Errno 1] _ssl.c:499: error:14077438:SSL routines:SSL23_GET_SERVER_HELLO:tlsv1 alert internal error (#1231)

@TATUMTOT Are you using a proxy? Either global or on the provider?

—
Reply to this email directly or vi

[2015-04-19 08:23] theemstra commented on #1274
Great, I'll test this.
Maybe add those two links to documentation or to the GUI for referece, since there's no dedicated field name for a chained cert.

For ex:

Add your server certificate. Do you have a chained certificate, please select a certificate with the {full chain}[https://support.comodo.com/index.php?/Knowledgebase/Article/View/643/0/how-do-i-make-my-own-bundle-file-from-crt-files] in i

[2015-04-19 08:43] cwallace opened #1321 "sickrage not seeing results from morethan.tv"
SR Version:	BRANCH: (master) / COMMIT: (281409d366b228a455879e02b2d55d3967db29e4)
SR User:	rtorrent
SR Locale:	(None, None)
SR Config file:	/opt/sickrage/config.ini
SR Database file:	/opt/sickrage/sickbeard.db
SR Cache Dir:	/opt/sickrage/cache
SR Log Dir:	/opt/sickrage/Logs
SR Arguments:	['-q', '--daemon', '--nolaunch', '--pidfile=/opt/sickrage/sickrage.pid', '--datadir=/opt/sickrage']
Python Vers

[2015-04-19 11:41] javelin4effect opened #1322 "[APP SUBMITTED]: None"
### INFO
Python Version: **2.7.6 (default, Mar 22 2014, 22:59:56) [GCC 4.8.2]**
Operating System: **Linux-3.14.37-grsec-x86_64-with-Ubuntu-14.04-trusty**
Locale: UTF-8
Branch: **master**
Commit: SiCKRAGETV/SickRage@281409d366b228a455879e02b2d55d3967db29e4
No Log available with ERRORS:
### ERROR
[code]
---
_STAFF NOTIFIED_: @SiCKRAGETV/owners @SiCKRAGETV/moderators

[2015-04-19 11:45] #1322 closed

[2015-04-19 12:02] amzeus opened #1323 "[APP SUBMITTED]: list index out of range"
### INFO
Python Version: **2.7.8 (default, Jun 30 2014, 16:08:48) [MSC v.1500 64 bit (AMD64)]**
Operating System: **Windows-8-6.2.9200**
Branch: **master**
Commit: SiCKRAGETV/SickRage@281409d366b228a455879e02b2d55d3967db29e4
No Log available with ERRORS:
### ERROR
[code]
---
_STAFF NOTIFIED_: @SiCKRAGETV/owners @SiCKRAGETV/moderators

[2015-04-19 12:07] ThomasDK81 commented on #1295
Thanks, but where?

[2015-04-19 12:32] miigotu commented on #1205
ok, ill work on a PR over the next week to rm `<indexer>` completly

[2015-04-19 12:37] fernandog commented on #1295
https://sickrage.tv/forums/forum/help-support/general-support/12825-ensuring-your-locale-s-are-set-properly-to-avoid-unicode-issues

[2015-04-19 13:01] matigonkas commented on #1301
@abeloin
unrar vta marvels.daredevil.s01e07.1080p.webrip.x264-2hd.rar result :http://pastebin.com/2eASLcYc
unrar t marvels.daredevil.s01e07.1080p.webrip.x264-2hd.rar result: http://pastebin.com/y0YwBpH5

[2015-04-19 13:04] matigonkas commented on #1305
@TagForce No i didnt hit clear errors

[2015-04-19 13:04] matigonkas opened #1324 "[APP SUBMITTED]: EOF occurred in violation of protocol (_ssl.c:581)"
### INFO
Python Version: **2.7.8 (default, Oct 20 2014, 15:05:29) [GCC 4.9.1]**
Operating System: **Linux-3.16.0-34-generic-i686-with-Ubuntu-14.10-utopic**
Locale: UTF-8
Branch: **develop**
Commit: SiCKRAGETV/SickRage@6ea3ae63640a78ef8280ff01ae02c7390de39781
No Log available with ERRORS:
### ERROR
[code]
---
_STAFF NOTIFIED_: @SiCKRAGETV/owners @SiCKRAGETV/moderators

[2015-04-19 13:11] matigonkas commented on #1324
log when this happen https://gist.githubusercontent.com/matigonkas/d56b891037ecc2d39f75/raw/71fd1e3b0cf8244998dd0562a4fa4b629e76a370/gistfile1.txt

[2015-04-19 13:39] CptChaos opened #1325 "Testing Plex Media Server notifications"
It's not a bug or something, so I can't give any logs or something.
I have a Plex Media Server setup and I've set it up that Sick Rage sends a notification to update the libraries after a download completes. I'd like to test that it's working, but somehow I also need the Plex Media client to be setup for it; which I don't use.

On PC I use the browser to manage and watch with Plex and on my TV, we

[2015-04-19 17:11] theemstra commented on #1274
Works like a charm.
Also the website you provided is a real beauty, thanks, it will be shared!

Please concider the comment I made earlier.

[2015-04-19 19:22] eekfonky opened #1326 "[APP SUBMITTED]: None"
### INFO
Python Version: **2.7.9 (default, Mar  1 2015, 13:48:22) [GCC 4.9.2]**
Operating System: **Linux-3.18.10-1-osmc-armv7l-with-debian-8.0**
Locale: unknown
Branch: **master**
Commit: SiCKRAGETV/SickRage@281409d366b228a455879e02b2d55d3967db29e4
No Log available with ERRORS:
### ERROR
[code]
---
_STAFF NOTIFIED_: @SiCKRAGETV/owners @SiCKRAGETV/moderators

[2015-04-19 19:24] #1326 closed

[2015-04-19 19:34] amzeus opened #1327 "[APP SUBMITTED]: [Error 2] The system cannot find the file specified: u'X:\\TV\\aaa to file\\The Brittas Empire[1991]\\The Brittas Empire_S02E02_Temple of the Body.avi'"
### INFO
Python Version: **2.7.8 (default, Jun 30 2014, 16:08:48) [MSC v.1500 64 bit (AMD64)]**
Operating System: **Windows-8-6.2.9200**
Branch: **master**
Commit: SiCKRAGETV/SickRage@281409d366b228a455879e02b2d55d3967db29e4
No Log available with ERRORS:
### ERROR
[code]
---
_STAFF NOTIFIED_: @SiCKRAGETV/owners @SiCKRAGETV/moderators

[2015-04-19 19:34] amzeus opened #1328 "[APP SUBMITTED]: string index out of range"
### INFO
Python Version: **2.7.8 (default, Jun 30 2014, 16:08:48) [MSC v.1500 64 bit (AMD64)]**
Operating System: **Windows-8-6.2.9200**
Branch: **master**
Commit: SiCKRAGETV/SickRage@281409d366b228a455879e02b2d55d3967db29e4
No Log available with ERRORS:
### ERROR
[code]
---
_STAFF NOTIFIED_: @SiCKRAGETV/owners @SiCKRAGETV/moderators

[2015-04-19 20:04] orjanTonder commented on #1247
the + sign is added when there is a blank in the added custom providers key it wont show up if the config is saved and reloaded. what made me leave sickrage is mainly this:

2015-04-16 21:11:05 DEBUG    Thread-62 :: Error parsing result for [customprovider]

that rendered sr useless

[2015-04-19 20:12] Thraxis commented on #1325
The Plex Notification settings in the next Master update will seperate the PMS and Plex Client testing and setup from each other. It is currently testing develop

[2015-04-19 20:39] Thraxis commented on #1247
@orjanTonder You're were using the wrong URL for oznzb, The URL should be https://api.oznzb.com/

[2015-04-19 22:11] matigonkas commented on #494
the Ztuga website got closed due to court afaik so there isnt anymore use for this FR

[2015-04-19 22:11] #494 closed

[2015-04-19 22:16] FelipeSQ opened #1329 "[APP SUBMITTED]: [Errno 1] _ssl.c:504: error:14077438:SSL routines:SSL23_GET_SERVER_HELLO:tlsv1 alert internal error"
### INFO
Python Version: **2.7.3 (default, Apr 12 2012, 13:08:47) [GCC 4.2.3]**
Operating System: **Linux-3.4.6-armv5tel-with-glibc2.4**
Locale: UTF-8
Branch: **master**
Commit: SiCKRAGETV/SickRage@281409d366b228a455879e02b2d55d3967db29e4
No Log available with ERRORS:
### ERROR
[code]
---
_STAFF NOTIFIED_: @SiCKRAGETV/owners @SiCKRAGETV/moderators

[2015-04-19 22:33] cwallace commented on #1301
I get this quite a bit, but have noticed it always happens when the post processor fires while the episode is still being downloaded. Once the download completes, post process runs fine.

[2015-04-19 22:39] fernandog commented on #1301
You must keep a separated folder for incomplete downloads and complete downloads (PP downloads)

[2015-04-20 00:35] abeloin commented on #1274
Will do

[2015-04-20 00:56] abeloin commented on #1320
Can you provide the whole log from SR and sabnzbd script?

[2015-04-20 01:01] abeloin commented on #1231
@TATUMTOT What is the result of this command:
`python -c 'import ssl; print(ssl.OPENSSL_VERSION)'`

Also have a look at issue #978

[2015-04-20 01:03] abeloin commented on #1205
@miigotu I've put it as a tentative for 4.0.18, ok for you?

[2015-04-20 01:06] abeloin commented on #1324
Possible fix:
http://stackoverflow.com/questions/14102416/python-requests-requests-exceptions-sslerror-errno-8-ssl-c504-eof-occurred

[2015-04-20 01:08] #1247 closed

[2015-04-20 01:09] abeloin commented on #1329
Check issue #978, it can help

[2015-04-20 01:10] abeloin commented on #1301
@matigonkas Can you update to the final release of unrar 5? Try to avoid beta version of unrar.

[2015-04-20 01:11] abeloin commented on #1301
@cwallace Never PP incomplete download if you don't use "sync File Extensions"

[2015-04-20 01:13] abeloin commented on #1107
Pushed back to 4.0.18

[2015-04-20 01:14] TATUMTOT commented on #1231
looks like it is

[~] # python -c 'import ssl; print(ssl.OPENSSL_VERSION)'
OpenSSL 0.9.8e 23 Feb 2007

[2015-04-20 01:20] fernandog commented on #1323
@amzeus without logs we can't do anything. please post full logs

[2015-04-20 01:21] fernandog commented on #1321
@cwallace open this url and print result

http://www.morethan.tv/torrents.php?tags_type=1&order_by=time&order_way=desc&action=basic&searchsubmit=1&searchstr=Scorpion S01E21

[2015-04-20 01:23] fernandog commented on #1328
@amzeus please post full logs and make sure the above error message is in it.

[2015-04-20 01:25] fernandog commented on #1327
@amzeus check if the file was already PP and is in destination folder

[2015-04-20 01:27] fernandog commented on #1319
@mraniki what did you do to cause this?

[2015-04-20 01:28] emzero opened #1330 "Episode not found, probably because special character in title"
BRANCH: (master) / COMMIT: (281409d366b228a455879e02b2d55d3967db29e4)
Python Version:	2.7.7 (default, Jun 1 2014, 14:21:57) [MSC v.1500 64 bit (AMD64)]
OS: Windows 7 x64

[code]

I think problem is the À char because that episode clearly exists in both TPB and KAT.

[2015-04-20 01:45] abeloin commented on #1166
Merged in master please update and test

[2015-04-20 01:47] abeloin commented on #1043
Develop merge in master please update

[2015-04-20 01:54] abeloin commented on #1231
Ok, python is still using the old version of openssl, this is why you have that issue. Is it possible to update python?

[2015-04-20 01:56] abeloin commented on #1330
@emzero Please provide the debug log associated with this query.

[2015-04-20 03:40] cwallace commented on #1321
I'm sorry what do you mean "print the result"?

[2015-04-20 03:44] abeloin commented on #1321
What is the result of opening this URl in your browser?

[2015-04-20 03:45] coop73 opened #1331 "[APP SUBMITTED]: SEARCHQUEUE-BACKLOG-258602 :: uTorrent: Unable to send Torrent: Return code undefined"
### INFO
Python Version: **2.7.8 (default, Jun 30 2014, 16:08:48) [MSC v.1500 64 bit (AMD64)]**
Operating System: **Windows-7-6.1.7601-SP1**
Branch: **master**
Commit: SiCKRAGETV/SickRage@057e85a3e32a44cf4912d02662dd3de9f9679d5e
No Log available with ERRORS:
### ERROR
[code]
---
_STAFF NOTIFIED_: @SiCKRAGETV/owners @SiCKRAGETV/moderators

[2015-04-20 03:45] cwallace commented on #1321
I posted a screenshot of the results in OP.

[2015-04-20 03:49] coop73 commented on #1331
I have another issue as well. I have not been able to do any backlog searches for individual episodes. It gives me the error when I switch one episode at a time to wanted. Even though it is still sending the episode through to utorrent. If I switch more than one episode to wanted the log tells me there are no needed episodes.

[2015-04-20 03:53] coop73 commented on #1331
This is what I got when I switched two episodes to wanted.
2015-04-19 23:51:49 INFO     SHOWQUEUE-REFRESH :: 74380: Writing NFOs for all episodes
2015-04-19 23:51:49 INFO     SHOWQUEUE-REFRESH :: 74380: Writing NFOs for show
2015-04-19 23:51:47 INFO     SEARCHQUEUE-BACKLOG-258602 :: No needed episodes found during backlog search for: [Baby Daddy]
2015-04-19 23:51:43 INFO     SEARCHQUEUE-BACKLOG-25

[2015-04-20 03:56] TATUMTOT commented on #1231
im not sure it is a package on the QNAP.

[2015-04-20 04:05] mixednutts commented on #1331
Similar issue with me:
[code]

[2015-04-20 05:26] shadowjustice commented on #1166
Tested and approved XML format:

![image](https://cloud.githubusercontent.com/assets/4602808/7224140/8e44ef0a-e72e-11e4-99c0-a46ae80878c9.jpg)

[2015-04-20 05:47] xInsertx opened #1332 "[Feature Request] Improve detection of quality labels of downloads without correct title"
With media that only has the resolution/quality in the name (ie: 720p or 1280x720) is this suppose to display Downloaded Unknown? Surely we can handle this abit better by saying the closet source type (maybe HDTV) or just label as 720p.

I raise this because after switching to sickrage for anime (which is wonderful since anime got its own rename field), often source is not included unless it's com

[2015-04-20 06:25] konomimaster opened #1333 "[APP SUBMITTED]: 522 Server Error: Origin Connection Time-out"
### INFO
Python Version: **2.7.3 (default, Mar 31 2015, 15:16:49) [GCC 4.9.2]**
Operating System: **Linux-3.18.10-armv7l-with-glibc2.4**
Locale: unknown
Branch: **master**
Commit: SiCKRAGETV/SickRage@281409d366b228a455879e02b2d55d3967db29e4
No Log available with ERRORS:
### ERROR
[code]
---
_STAFF NOTIFIED_: @SiCKRAGETV/owners @SiCKRAGETV/moderators

[2015-04-20 06:38] konomimaster opened #1334 "[APP SUBMITTED]: [Errno 2] No such file or directory: '/storage/media/media/downloads/series/Madam.Secretary.S01E08.720p.HDTV.X264-DIMENSION.mkv'"
### INFO
Python Version: **2.7.3 (default, Mar 31 2015, 15:16:49) [GCC 4.9.2]**
Operating System: **Linux-3.18.10-armv7l-with-glibc2.4**
Locale: unknown
Branch: **master**
Commit: SiCKRAGETV/SickRage@281409d366b228a455879e02b2d55d3967db29e4
Link to Log: https://gist.github.com/4286325ce56a404f5c36
### ERROR
[code]
---
_STAFF NOTIFIED_: @SiCKRAGETV/owners @SiCKRAGETV/moderators

[2015-04-20 08:50] Kwart1001 commented on #1331
ERROR    SEARCHQUEUE-DAILY-SEARCH :: uTorrent: Unable to send Torrent: Return code undefined

I have exactly tthe same behaviour as described above.

[2015-04-20 10:49] disenter opened #1335 "[APP SUBMITTED]: ('http error', 401, 'Unauthorized', <httplib.HTTPMessage instance at 0xa43144c>)"
### INFO
Python Version: **2.7 (r27:82500, Aug 21 2010, 07:52:47) [GCC 4.1.3 20070929 (prerelease) (Ubuntu 4.1.2-16ubuntu2)]**
Operating System: **Linux-3.12.6-x86_64-with-glibc2.4**
Locale: UTF8
Branch: **master**
Commit: SiCKRAGETV/SickRage@057e85a3e32a44cf4912d02662dd3de9f9679d5e
Link to Log: https://gist.github.com/043b056e64a05fab4631
### ERROR
[code]
---
_STAFF NOTIFIED_: @SiCKRAGETV/owners

[2015-04-20 11:39] papampi commented on #838
Awesome job, Thanks
it adds torrents to qbittorrent but it does not show up fetched in history and in error log I get this :
2015-04-20 15:23:24 SEARCHQUEUE-DAILY-SEARCH :: qbittorrent: Unable to send Torrent: Return code undefined

any idea ?

[2015-04-20 12:28] Romano84 opened #1336 "Failed parsing T411 Traceback"
Hello,

I recently wanted to download the new game of throne épisode in 720p vostfr from t411. In the website we have following result ;
* Game.of.Thrones.S05E02.720p.HDTV.x264-IMMERSE (N) -> should match
* Game.of.Thrones.S05E02.PROPER.VOSTFR.HDTV.x264-ASA... (N) -> should not match
* Game.of.Thrones.S05E02.720p.PROPER.VOSTFR.HDTV.x26... (N) (A) -> should match
* Game of Thrones S05e02 HDTV Natif

[2015-04-20 12:33] TagForce commented on #1316
@Thraxis With their trak(t)-records of changing stuff without notification or warnings in the past months, I wouldn't bet on it not being shut-down (even if by mistake).

[2015-04-20 12:36] TagForce commented on #1312
@matigonkas Can you post all the logs filtered on POSTPROCESSER?
It seems to be doing something, but from the posted logs it's completely unclear what and when it is doing it.

[2015-04-20 12:45] #1335 closed

[2015-04-20 12:45] abeloin commented on #1321
@cwallace I meant the source code as it must have change hence the `The Data returned from MoreThanTV do not contains any torrent`

[2015-04-20 12:46] fernandog commented on #1334
@tagforce we are getting some of this issues. Confirmed issue?

[2015-04-20 12:48] #1333 closed

[2015-04-20 12:49] mraniki commented on #1319
I clicked on the poster of the show to view the show details.
Results is i'm back to the main page with all the posters and error is generated in the log.

[2015-04-20 12:51] fernandog commented on #1319
Do you have the option enabled to see the file size?

[2015-04-20 12:52] abeloin commented on #1231
If your qnap is x86 based: http://forum.cachem.fr/viewtopic.php?f=21&t=1477

[2015-04-20 12:56] #1166 closed

[2015-04-20 13:00] abeloin commented on #838
@papampi Can you provide the qbittorrent version you are using? This error mean qbittorent return an answer compressed in gzip but the requests library wasn't able to decompress it.

[2015-04-20 13:05] TagForce commented on #1331
@coop73 @mixednutts @Kwart1001 Same issue here... Trying to find out what causes it.

[2015-04-20 13:27] miigotu commented on #1205
@abeloin sure, I'll try to get some free time to do this in the next few days.

[2015-04-20 13:33] TagForce commented on #1331
@coop73 @mixednutts @Kwart1001 @SiCKRAGETV/moderators @SiCKRAGETV/owners
Found the probable cause...
The list of http_error_codes was expanded, but it now also included success messages (http status codes 100 - 299). One of the checks if a get command was successful in the clients section was to see if the returncode was in the http_error_code list and then exit the SEND_TORRENT function...

Well,

[2015-04-20 13:39] TagForce commented on #1334
@fernandog I, personally, have not seen this issue. If multiple users are reporting this, then something is going on... I'll have a look as soon as I can.

[2015-04-20 13:42] abeloin commented on #1336
The api from t411 is returning some invalid data

[2015-04-20 13:52] TagForce commented on #1331
@coop73 @mixednutts @Kwart1001
Hotfix was pushed to master. Please update and try again.

[2015-04-20 13:57] Morphello commented on #1331
Literally found this bug/behavior with my own torrents 5 minutes ago. Searched the issue tracker and found this. Updated and tested, Labels are now being applied to uTorrent is behaving as normal now.

Thanks TagForce

[2015-04-20 13:58] TagForce commented on #589
@fernandog When doing http error codes, keep this list in mind:
[code]
codes 100 through 299 are informational or success messages, so you should never include those in lists for error codes. 300 to 399 are redirection codes, which may or may not be handled as errors (they should actually be handled by opening the returned URL instead of the one requested, but this is often not possible with API c

[2015-04-20 14:00] TagForce commented on #1331
Ok, it fixed it on my end as well... I'll close it, if it's not fixed I'll re-open it.

[2015-04-20 14:00] #1331 closed

[2015-04-20 14:09] abeloin commented on #1336
Fixed in develop, will be merged into master on Sunday

[2015-04-20 14:11] TagForce commented on #1334
@konomimaster @fernandog
Ok, that's strange...

From the log:
[code]

Read that down up (log is reversed, latest entries are on top).
Notice the thread names:
It starts off PP-ing the file (thread-65)...
Then right at the moment that thread is preparing the destination folder for moving the file, a new thread starts PP-ing the same files (thread-70)...
So once thread-65 is done moving the file, it

[2015-04-20 14:15] TagForce commented on #1327
@amzeus Can you provide the full logs?

[2015-04-20 14:18] TagForce commented on #1305
@matigonkas Ok, strange, because the error should be in that list... The code was recently updated to fix some titles that were None, but that was done in the creation of the error.
I'll look into this...
Are you getting any empty lines with just a thread number in the log when you submit errors?

[2015-04-20 14:31] Romano84 commented on #1336
great ! thanks :)

[2015-04-20 14:51] andyblac opened #1337 "[APP SUBMITTED]: global name 'ServiceError' is not defined"
### INFO
Python Version: **2.7.9 (default, Mar 23 2015, 00:07:04) [GCC 4.7.3 20130102 (prerelease)]**
Operating System: **Linux-3.2.40-x86_64-with-glibc2.2.5**
Locale: UTF-8
Branch: **master**
Commit: SiCKRAGETV/SickRage@057e85a3e32a44cf4912d02662dd3de9f9679d5e
Link to Log: https://gist.github.com/b946c6dc41db978a7a58
### ERROR
[code]
---
_STAFF NOTIFIED_: @SiCKRAGETV/owners @SiCKRAGETV/moderators

[2015-04-20 14:56] fernandog commented on #1334
@tagforce where in the code it checks if if last PP already finished?

Sorry about that hotfix and url error codes

[2015-04-20 14:59] fernandog commented on #589
Sorry!

[2015-04-20 15:07] TagForce commented on #589
@fernandog No worries... I hadn't realised it would mess stuff up myself... Just for future reference... Errors from 300 and up. :)

[2015-04-20 15:07] TagForce commented on #1334
@fernandog It doesn't... At least, I couldn't find it, but it won't start a new thread if the old one hasn't yet finished, at least on both my machines.

[2015-04-20 15:09] fernandog commented on #1334
@tagforce Maybe it runs really fast and just few episodes to PP. I still think we should add the check if is running

[2015-04-20 15:14] amzeus opened #1338 "[APP SUBMITTED]: [Errno 13] Permission denied"
### INFO
Python Version: **2.7.8 (default, Jun 30 2014, 16:08:48) [MSC v.1500 64 bit (AMD64)]**
Operating System: **Windows-8-6.2.9200**
Branch: **master**
Commit: SiCKRAGETV/SickRage@a5dd1d93107d03b406d2a14f99bd29bfffc7c0d5
No Log available with ERRORS:
### ERROR
[code]
---
_STAFF NOTIFIED_: @SiCKRAGETV/owners @SiCKRAGETV/moderators

[2015-04-20 15:45] amzeus opened #1339 "[APP SUBMITTED]: SEARCHQUEUE-DAILY-SEARCH :: No NZB/Torrent providers found or enabled in the sickrage config for daily searches. Please check your settings."
### INFO
Python Version: **2.7.8 (default, Jun 30 2014, 16:08:48) [MSC v.1500 64 bit (AMD64)]**
Operating System: **Windows-8-6.2.9200**
Branch: **master**
Commit: SiCKRAGETV/SickRage@a5dd1d93107d03b406d2a14f99bd29bfffc7c0d5
Link to Log: https://gist.github.com/f4bb33774b172744336c
### ERROR
[code]
---
_STAFF NOTIFIED_: @SiCKRAGETV/owners @SiCKRAGETV/moderators

[2015-04-20 15:47] fernandog commented on #1339
Please follow installation instructions in forum

[2015-04-20 15:47] #1339 closed

[2015-04-20 16:03] valantislevas commented on #122
hello new problem about other char:

title from tracker: The Messengers 2015 S01E01 HDTV x264-2HD ☆ SERIES PREMIERE ☆ [UniqueTeam]

windows:
SR Version: 	BRANCH: (master) / COMMIT: (281409d366b228a455879e02b2d55d3967db29e4)
SR User:	zotac
SR Locale:	('el_GR', 'cp1253')
SR Config file:	C:\SickRage\config.ini
SR Database file:	C:\SickRage\sickbeard.db
SR Cache Dir:	C:\SickRage\cache
SR Log Dir:	C:\S

[2015-04-20 16:53] abeloin commented on #1338
Please provide full debug logs

[2015-04-20 17:01] abeloin commented on #1334
@fernandog The scheduler cannot run 2 PP at the same time, see scheduler.py.

 Is it possible to run 2 PP if you run a manual PP at the same time or if an external script start it?

[2015-04-20 17:03] krash1220 opened #1340 "[APP SUBMITTED]: ('Received response with content-encoding: gzip, but failed to decode it.', error('Error -3 while decompressing: incorrect header check',))"
### INFO
Python Version: **2.7.9 (default, Dec 10 2014, 12:24:55) [MSC v.1500 32 bit (Intel)]**
Operating System: **Windows-8-6.2.9200**
Branch: **master**
Commit: SiCKRAGETV/SickRage@a5dd1d93107d03b406d2a14f99bd29bfffc7c0d5
Link to Log: https://gist.github.com/ef7d4646ab9bed3aae40
### ERROR
[code]
---
_STAFF NOTIFIED_: @SiCKRAGETV/owners @SiCKRAGETV/moderators

[2015-04-20 17:05] abeloin commented on #1340
Using qbittorrent?

If so can you provide the qbittorrent version you are using? This error mean qbittorent return an answer compressed in gzip but the requests library wasn't able to decompress it.

[2015-04-20 17:28] Alexwijn opened #1341 "Unable to process an episode"
Problem: one of the episodes is unable to get processed by the auto-processing or when manually forcing it.

Python Version: 2.7.3 (default, Mar 18 2014, 05:13:23)
[GCC 4.6.3]
Operating System: Linux-3.18.7+-armv6l-with-debian-7.8
Branch: master
Commit: SiCKRAGETV/SickRage@281409d

Log:

    Processing folder /mnt/osmc/data/Downloads/Done/Forever.S01E02.Look.Before.You.Leap.720p.WEB-DL.DD5.1.H.264

[2015-04-20 17:31] fernandog commented on #1341
@Alexwijn add Forever to scene exceptions

[2015-04-20 17:32] Alexwijn commented on #1341
Whoops...totally forgot about that

[2015-04-20 17:38] #1341 closed

[2015-04-20 17:49] HenrikPoulsen commented on #1313
Wish you could chose to turn the auto changing off for some shows. If I want it to search for episode 03 it should accept that and not modify it to be 3 (which breaks it for anime where the numbering restarts from 01 on season change)

[2015-04-20 18:03] matigonkas commented on #1305
@TagForce  No i dont see any empty lines.
Also i just saw on the log for this error that there where 2 issues submited with the same timestamp could it has something to do with it?

[2015-04-20 18:05] Rouzax opened #1342 "[Feature request] - Set permission of moved files to that of destination folder (Windows NTFS only)"
I know that CouchPotato and SickRage are different but a lot of the core functionality seems top be the same.

In my environment I have an issue with file move and NTFS permissions
![image](https://cloud.githubusercontent.com/assets/4103090/7236832/b4d6136a-e797-11e4-8711-d45cd6cb6116.png)
This has to do how Windows handles NTFS permissions during a move on the same physical disk.
A workaround is

[2015-04-20 18:12] abeloin commented on #1313
@HenrikPoulsen Try adding the anime show to xem instead. Have an example of a show?

[2015-04-20 18:17] abeloin commented on #122
@valantislevas The issue is the quality of your feed, SR require a clean scene name(raw name) which your feed doesn't seem to provide. Post the content of that rss feed to see if you specify an alternative title.

[2015-04-20 18:24] HenrikPoulsen commented on #1313
@abeloin Never even heard of that before. What settings triggers sickrage to use it, or is it something I have to do manually? One of my many examples is Ace of Diamond, where season 2 is called Ace of Diamond S2. Sickrage won't play along at all and is completely stupid about not finding it or any other shows with new season names which the indexers just see as new seasons.

[2015-04-20 18:27] abeloin commented on #1313
It should be automatic, you should see a xem icon near thtvdb icon in the show's page.

Ref link http://thexem.de/xem/show/2223

[2015-04-20 18:31] abeloin commented on #1313
![Imgur](http://i.imgur.com/znMage3.png)

[2015-04-20 18:33] Thraxis commented on #1340
@abeloin would this be of help?

[2015-04-20 18:35] Thraxis commented on #1244
@tutti21 Baby Steps Season 2 mapping was approved on http://thexem.de

[2015-04-20 18:54] krash1220 commented on #1340
No I’m not using any torrent program.

Sent from Windows Mail

From: Alexandre Beloin
Sent: ‎Monday‎, ‎April‎ ‎20‎, ‎2015 ‎1‎:‎05‎ ‎PM
To: SiCKRAGETV/sickrage-issues
Cc: krash1220

Using qbittorrent?

If so can you provide the qbittorrent version you are using? This error mean qbittorent return an answer compressed in gzip but the requests library wasn't able to decompress it.

—
Reply to this ema

[2015-04-20 19:07] HenrikPoulsen commented on #1313
@abeloin OK thanks I will see if I can get that working. I must have touched something to mess it up. I don't get the extra scene names and when I search it still just seems to search with the wrong season name (the xem icon is present). And deleting the show doesn't seem to help because it still seems to save any settings I have done since my preferred groups comes back when readding the show >_>

[2015-04-20 19:14] krash1220 commented on #1340
This started right after I updated today.

BRANCH: (master) / COMMIT: (a5dd1d93107d03b406d2a14f99bd29bfffc7c0d5)

Sent from Windows Mail

From: Alexandre Beloin
Sent: ‎Monday‎, ‎April‎ ‎20‎, ‎2015 ‎1‎:‎05‎ ‎PM
To: SiCKRAGETV/sickrage-issues
Cc: krash1220

Using qbittorrent?

If so can you provide the qbittorrent version you are using? This error mean qbittorent return an answer compressed in gzip

[2015-04-20 19:51] abeloin commented on #1313
Make sure you selected, anime and scene numbering in the shows properties. Also do a force full update if the scene absolute isn't filled. The xem info is resfreshed every 24 hours(if I remember correctly).

[2015-04-20 20:48] bitzorro opened #1343 "[APP SUBMITTED]: global name 'ServiceError' is not defined"
### INFO
Python Version: **2.7.9 (default, Dec 10 2014, 12:24:55) [MSC v.1500 32 bit (Intel)]**
Operating System: **Windows-7-6.1.7601-SP1**
Branch: **master**
Commit: SiCKRAGETV/SickRage@a5dd1d93107d03b406d2a14f99bd29bfffc7c0d5
Link to Log: https://gist.github.com/5f4e6b2e7fc6a2d80b35
### ERROR
[code]
---
_STAFF NOTIFIED_: @SiCKRAGETV/owners @SiCKRAGETV/moderators

[2015-04-20 20:53] papampi commented on #838
its 3.1.12 with ubuntu 14.04

[2015-04-20 21:00] abeloin commented on #1343
Dupe https://github.com/SiCKRAGETV/sickrage-issues/issues/1337

[2015-04-20 21:21] matigonkas commented on #1301
@abeloin how do i do it?

[2015-04-20 21:56] valantislevas commented on #122
the strange thing is that:

is the same version on windows and linux of SR so, in windows the episode downloaded ok and in linux doesnt find the torrent.. :/

[2015-04-20 22:04] rafaelrosars opened #1344 "[APP SUBMITTED]: 401 {u'documentation_url': u'https://developer.github.com/v3', u'message': u'Bad credentials'}"
### INFO
Python Version: **2.7.3 (default, Mar 31 2015, 15:16:49) [GCC 4.9.2]**
Operating System: **Linux-3.18.10-armv7l-with-glibc2.4**
Locale: unknown
Branch: **master**
Commit: SiCKRAGETV/SickRage@a5dd1d93107d03b406d2a14f99bd29bfffc7c0d5
No Log available with ERRORS:
### ERROR
[code]
---
_STAFF NOTIFIED_: @SiCKRAGETV/owners @SiCKRAGETV/moderators

[2015-04-20 22:05] #1344 closed

[2015-04-20 22:06] abeloin commented on #1301
Since i don't know how you install unrar on your Ubuntu 14.10 installation it's difficult to give you precise information.

Maybe this can help: http://howtoubuntu.org/things-to-do-after-installing-ubuntu-14-10-utopic-unicorn

[2015-04-20 22:07] abeloin commented on #122
Provide full debug logs for both windows and linux when finding(or not in case of Linux)

[2015-04-20 22:12] rafaelrosars opened #1345 "[APP SUBMITTED]: 'utf8' codec can't decode byte 0xc5 in position 7: invalid continuation byte"
### INFO
Python Version: **2.7.3 (default, Mar 31 2015, 15:16:49) [GCC 4.9.2]**
Operating System: **Linux-3.18.10-armv7l-with-glibc2.4**
Locale: unknown
Branch: **master**
Commit: SiCKRAGETV/SickRage@a5dd1d93107d03b406d2a14f99bd29bfffc7c0d5
No Log available with ERRORS:
### ERROR
[code]
---
_STAFF NOTIFIED_: @SiCKRAGETV/owners @SiCKRAGETV/moderators

[2015-04-20 22:13] rafaelrosars commented on #1345
I get this error when i try to go Config/Search Settings

[2015-04-20 22:38] abeloin commented on #1345
Make sure your locale is UTF8

[2015-04-20 22:38] #1345 closed

[2015-04-20 22:44] Audaly opened #1346 "[Feature request] Add login ability for fnt.nu"
Can you please add fnt.nu as torrent provider?

This sickbeard fork has it: https://github.com/sarakha63/Sick-Beard

[2015-04-20 22:45] rafaelrosars commented on #1345
Where should I change the location? At Openelec or i have this option on sickrage?

Att,
Rafael Rosa.

[2015-04-20 22:46] Audaly opened #1347 "[Feature request] Add login ability for lbertalia.me"
Can you please add libertalia.me as torrent provider?

This sickbeard fork has it: https://github.com/sarakha63/Sick-Beard

[2015-04-20 22:57] miigotu commented on #1205
https://github.com/SiCKRAGETV/SickRage/pull/1804

[2015-04-21 00:09] Arcanemagus opened #1348 "Plex notifications broken in latest update"
Plex Media Server notifications have been broken in the last major update (https://github.com/SiCKRAGETV/SickRage/compare/281409d366b228a455879e02b2d55d3967db29e4...057e85a3e32a44cf4912d02662dd3de9f9679d5e).

I believe it is something within this commit by @Thraxis https://github.com/SiCKRAGETV/SickRage/commit/4c9d9185b0c25d435a6bbb20efa60b1f4337a016 merged by @fernandog.

Although the test button

[2015-04-21 00:14] abeloin commented on #1348
error 401 : Unauthorized

Check your credential, and post your plex settings in SR.

[2015-04-21 00:17] Arcanemagus commented on #1348
Update:

Entering in the username and password actually is working currently, even though just the authentication token should be sufficient. Things are still not working properly though as, although it does cause the Plex server to update its libraries it displays the following notification:

    Unable to contact Plex Media Server host: plex.localnet.local:32400

The log only shows:

    2015-04

[2015-04-21 00:48] fernandog commented on #122
@valantislevas your locale for root is none.

From you posted info:
SR Locale: (None, None)

Please set to utf-8

[2015-04-21 01:01] FelipeSQ commented on #1329
Hey, thank you very much! I will try that, but it seems to be the solution! Thanks for that!

[2015-04-21 01:03] abeloin commented on #1337
Fixed in master and develop. Update and test

[2015-04-21 01:05] abeloin commented on #1329
@FelipeSQ If it doesn't, reopen the issue

[2015-04-21 01:14] abeloin commented on #1151
Closing because no feedback for the last 10 days

[2015-04-21 01:14] #1151 closed

[2015-04-21 01:56] abeloin commented on #1234
No feedback from OP, clossing

[2015-04-21 01:56] #1234 closed

[2015-04-21 02:00] abeloin commented on #1248
@mijnham See the following: http://forum.synology.com/enu/viewtopic.php?f=39&t=9352

[2015-04-21 02:00] #1248 closed

[2015-04-21 02:03] #1209 closed

[2015-04-21 02:06] abeloin commented on #1250
@matigonkas I've just spotted an error in your local:
`LANGUAGE=pt:pt_BR:en`
change it to:
`LANGUAGE=pt_PT.UTF-8`

[2015-04-21 02:09] #1274 closed

[2015-04-21 02:09] rafaelrosars commented on #1345
Please, how can i fix?

Att,
Rafael Rosa.

[2015-04-21 02:13] #1343 closed

[2015-04-21 02:19] abeloin commented on #1345
@rafaelrosars Check the following link it might help: http://unix.stackexchange.com/questions/74618/how-to-change-locale-environment-variable

Each distro have there on way off setting the locale, so should ask in the openelec forum.

[2015-04-21 02:33] rafaelrosars commented on #1345
I think my problem is becouse when i installed sickrage, iam at a wrong timezone. After i setup sickrage i change timezone at openelec. Can i solve this without have to reinstall sickrage?

Att,
Rafael Rosa.

[2015-04-21 02:45] papampi commented on #838
seems like it has no problems on daily search torrents and that was the only error appeared.

[2015-04-21 06:32] jdfalk opened #1349 "[APP SUBMITTED]: cannot concatenate 'str' and 'int' objects"
### INFO
Python Version: **2.7.9 (default, Mar  1 2015, 12:57:24) [GCC 4.9.2]**
Operating System: **Linux-3.16.0-4-amd64-x86_64-with-debian-8.0**
Locale: UTF-8
Branch: **master**
Commit: SiCKRAGETV/SickRage@975c0dd208c59cac8fd8a77a91da5d1dfc7235df
No Log available with ERRORS:
### ERROR
[code]
---
_STAFF NOTIFIED_: @SiCKRAGETV/owners @SiCKRAGETV/moderators