[2015-02-23 06:49] joshjowen commented on #708
I've had a look and changed urllib.quote_plus(url) to urllib.quote_plus(url.encode('UTF-8')) as seen here https://github.com/joshjowen/SickRage/compare/SiCKRAGETV:develop...urllib-quote-keyerror because urllib.qoute() and urllib.quote_plus() can't handle unicode. However it needs to be tested with a real search that contains unicode characters to see if the returned url will work and I can't find

[2015-02-23 08:25] TehWardy commented on #708
@joshjowen if I can get hold of this change I should be able to either hit the problem again very quickly or prove its been resolved simply by flushing out my current queue and having sr rebuild it.

It comes up often enough although I ain't sure how to get sr to deliberately process one of these chars I could give you a list of shows to test against the kickass torrents api (seems to be the worst

[2015-02-23 09:05] fernandog commented on #708
@TehWardy

stop SR, change this file as in here:
https://github.com/joshjowen/SickRage/compare/SiCKRAGETV:develop...urllib-quote-keyerror

Save, start SR

[2015-02-23 09:07] fernandog commented on #698
Do you have WinRar/UNRAR installed?

Open CMD and type unrar. Report back

[2015-02-23 09:11] fernandog commented on #333
We can try.
All browser should be compatible with html. if not fallback to a player

[2015-02-23 09:13] fernandog commented on #267
Please update and report back

[2015-02-23 09:14] Sin-Deus commented on #267
I am currently testing this, and so far so good. This seems fixed, gentlemen.

[2015-02-23 09:18] #267 closed

[2015-02-23 09:42] bitzorro commented on #698
@fernandog  @abeloin

im realy sorry guys, ive made a fool of my self!
i found the  .rar files that i was sure that was deleted !
i have now deleted it and the error isnt coming up again.
Sorry for taking up your time, i know you have big things to deal with!
Anyway, really happy about the great job you are doing for Sickrage and ous/users!
And thanks for really trying to help me.

Regards bitzorr

[2015-02-23 09:43] bitzorro commented on #698
@fernandog  @abeloin
Please close this, no issue!

[2015-02-23 09:59] fernandog commented on #698
What really happened?

[2015-02-23 10:03] perler commented on #44
another thought: I see, that sickrage re-downloads some existing subtitles.
at least I get a notfication about it (but the subtitle is here since
november). could this habe something to do with the CPU issue?

On Fri Feb 20 2015 at 2:06:23 PM SunMar <notifications@github.com> wrote:

[2015-02-23 10:05] fernandog commented on #44
Maybe it scan always all the folders

[2015-02-23 10:08] perler commented on #44
but shouldn't we see this in the logs?

On Mon Feb 23 2015 at 11:05:46 AM Fernando <notifications@github.com> wrote:

[2015-02-23 10:11] fernandog commented on #44
not sure

[2015-02-23 10:22] fernandog commented on #728
@ThePieMan it's just a timeout not a SR error

[2015-02-23 10:22] #728 closed

[2015-02-23 10:23] fernandog commented on #708
@TehWardy any lucky?

[2015-02-23 10:24] fernandog commented on #708
@joshjowen if this work, I suggest add this code to all providers.
thanks!

[2015-02-23 10:26] fernandog commented on #708
https://github.com/SiCKRAGETV/sickrage-issues/issues/700

[2015-02-23 10:26] bitzorro commented on #698
@fernandog
i thougt that .rar file that was giving me Errors in the logs was deleted, but after searching in my folders i found the .rar file and deleted it!
and no more errors !  :)

[2015-02-23 10:31] fernandog commented on #698
Was it a fake release?

[2015-02-23 10:33] fernandog commented on #724
@TehWardy

/share/Multimedia/
/share/MD0_DATA/

are on different HDDs/partition? can you give full details of that (filesystem, permissions, etc)

[2015-02-23 10:35] fernandog commented on #684
@faidwen we merged a new code to "displayshow" page. can you test it?

[2015-02-23 10:43] bitzorro commented on #698
@fernandog
sorry i newer tested it in winrar, but sickrage have post-proscessed the rars and the episode is in my library and working.

[2015-02-23 10:45] fernandog commented on #698
@abeloin is there something we can do to prevent this in the future? it's an user-error, not system-error.

[2015-02-23 10:45] #698 closed

[2015-02-23 10:47] bitzorro commented on #698
@fernandog
I will absolutly test the file if it happens again, and let you know.

[2015-02-23 10:53] fernandog commented on #698
Maybe SR was trying to extract again the same file and was denied

[2015-02-23 10:54] gborri commented on #679
@fernandog sorry i didn't see it.
i don't know so good transmission code.
It happens also to me also with manual search, but if i retry it will start correct.

[2015-02-23 10:58] gborri commented on #679
@fernandog if i'm not wrong seems that happen when the result vaiable is empty. i don't know why

[2015-02-23 11:00] fernandog commented on #679
@gborri can you check the logs for something like this?

I think transmission failed to respond and result in a None result, creating this error.

[code]

[2015-02-23 11:26] TehWardy commented on #724
What I have is basically a 2 year old version of this ...
https://www.qnap.com/i/uk/product/model.php?II=107
Mines a slightly different model but the underlying architecture hasn't changed.
Its a linux based box with a single raid 5 volume that spans the full space on all 5 drives.

The volume then has shares configured which results in a folder being created on the volume (again spanning all 5 dr

[2015-02-23 11:30] TehWardy commented on #724
Quite a few of the errors like this that I see come up appear to be where the file "did" exist but no longer exists because SR already moved it.
SR appears to be confusing itself by taking actions on files (like moving them) then thinking it hasn't taken that action.

I can see that by looking through the destination location the file was moved and named correctly.

I also noted that some of the e

[2015-02-23 11:36] TehWardy commented on #708
Ok just need to figure out where the hell SR gets dropped by the qpkg based install.
Gimme a sec ... winSCP should help here.

[2015-02-23 11:36] fernandog commented on #724
@TagForce could you help us here please?

[2015-02-23 11:39] neoatomic commented on #333
@cytec I'm looking though your Sickrage fork and see you have some German network logos that we currently dont have. Would it be ok if i added them to Sickrage here.? I'm sure that will make a lot of the German users happy.

[2015-02-23 11:48] TehWardy commented on #708
Ok change applied ...
If I flush out the current backlog and have it rebuild it's highly likely to hit this again.

[2015-02-23 11:54] TehWardy commented on #708
Lol 160GB of temp file deletions later!

[2015-02-23 12:04] TehWardy commented on #724
Looking at the files I just flushed out I've noticed that sometimes SAB appears to stall / have issues during the unpack process ... it might be that where I have sab doing unpacking SR uses the same naming convention, sees the folder and is trying to do something with it too but ends up getting rejected by the OS due to file locks that SAB has.

I guess this feeds my theory that there may be some

[2015-02-23 12:40] adrianmace opened #730 "[APP SUBMITTED]: object of type 'NoneType' has no len()"
### INFO
Python Version: **2.7.8 (default, Dec 15 2014, 02:33:48)
[GCC 4.2.1 20070831 patched [FreeBSD]]**
Operating System: **FreeBSD-9.3-RELEASE-p8-amd64-64bit-ELF**
Branch: **master**
Commit: SiCKRAGETV/SickRage@ac153cf2320b3b6d0a8aa9a1b1646a51347581d6
Link to Log: https://gist.github.com/6586b414125f54ab30ca
### ERROR
[code]
---
_STAFF NOTIFIED_: @SiCKRAGETV/owners @SiCKRAGETV/moderators

[2015-02-23 12:43] beschoenen opened #731 "Prefer h.265"
The number of h265 encoding is slowly growing and it's great, you save a lot of space on your drive and quality stays the same.

So, I would like to request an option to prefer h265 encodes when searching for new episodes.

[2015-02-23 12:44] fernandog commented on #730
@adrianmace what are the steps to reproduce it?

[2015-02-23 12:45] fernandog commented on #231
another one
https://github.com/SiCKRAGETV/sickrage-issues/issues/730

[2015-02-23 12:46] fernandog commented on #731
until add this feature, you canadd h265 to required words. BUT this will only download h265 episodes

[2015-02-23 12:50] Hellowlol commented on #730
You should edit the gist as it contains your apikey to nzb.su. Shouldn't this be masked?

[2015-02-23 12:52] fernandog commented on #730
@Hellowlol it should!. maybe when echel0n added that feature, it only worked for UI, not gist.

[2015-02-23 12:55] adrianmace commented on #730
@fernandog @Hellowlol thanks for the warning, I have removed the gist for now.

I'm not entirely sure on the steps to reproduce however I know I wasn't doing anything specific it just appeared when I clicked into a TV Show.

[2015-02-23 12:56] fernandog commented on #730
closing as is duplicate

[2015-02-23 12:56] #730 closed

[2015-02-23 12:58] OmgImAlexis commented on #231
@fernandog is it worth me submitting the 500+ I got last night with this error or do you guys have enough logs now?

[2015-02-23 12:58] bthusby opened #732 "Wrong or Unsync'ed Subtitles downloaded"
Quite often SickRage downloads unusable subtitles. I just want sync'ed subtitles to be downloaded automatically. I have no idea why wrong subtitles are downloaded, but e.g. Kodi shows some of the available subtitles as Sync'ed in their internal subtitle add-on. Any way to just download Sync'ed subtitles in SickRage?

[2015-02-23 13:01] danfreedom23 opened #733 "[APP SUBMITTED]: could not import gobject (could not find _PyGObject_API object)"
### INFO
Python Version: **2.7.8 (default, Oct 20 2014, 15:05:19)
[GCC 4.9.1]**
Operating System: **Linux-3.16.0-31-generic-x86_64-with-Ubuntu-14.10-utopic**
Branch: **master**
Commit: SiCKRAGETV/SickRage@ac153cf2320b3b6d0a8aa9a1b1646a51347581d6
Link to Log: https://gist.github.com/4a22f76938ab7f596bb3
### ERROR
[code]
---
_STAFF NOTIFIED_: @SiCKRAGETV/owners @SiCKRAGETV/moderators

[2015-02-23 13:03] Hellowlol commented on #730
@fernandog It was a part for several but the first one was https://github.com/SiCKRAGETV/SickRage/commit/9eefc8034bc77b9c36b50b42bef20ba7f110cc06#diff-1716b2a4b5a6b712365fc5f089022831

Just press the history button on that file.

The app submit should be disabled until this is fixed, i guess there are alot of compromised account out there :P

[2015-02-23 13:09] fernandog commented on #730
@abeloin help here

[2015-02-23 13:23] fernandog commented on #231
@OmgImAlexis don't bother. DEV still couldn't reproduce the error. He is still trying.

[2015-02-23 13:26] OmgImAlexis commented on #231
@fernandog alright, well if you need any more logs just hit me up. I still get 50 - 1,000+ a night even when no one's accessing it and it's not downloading anything. :\

[2015-02-23 13:31] OmgImAlexis commented on #231
Actually I just found another issue that seems to spit out the same error. I'm getting this when accessing the main sickrage page(/home) through the nginx proxy I have setup but I don't get it at all when accessing it via the IP address.

[code]

[2015-02-23 13:31] TehWardy commented on #708
Looking good so far, roughly 20 new episodes of 1 show pulled with no problems related to chars yet.
Give it another 24 hours to thoroughly test :)

Might raise another ticket for clean up though.

[2015-02-23 13:34] gborri commented on #731
related to #656

[2015-02-23 13:37] TehWardy commented on #674
Surely ...
What you have is typically in your list on the main page (which shows counts).
What you have snatched is in the backlog.

I tend to assume if it's not in my backlog then I have it since there is no "downloaded" state for backlog items (which makes sense to me).

I tend to pull files, if they are bad i delete and then "rescan" the show which adds the now deleted item back on the backlog.

[2015-02-23 13:42] #731 closed

[2015-02-23 13:42] fernandog commented on #708
@TehWardy what you did?

[2015-02-23 13:52] fernandog commented on #730
just to be safe, we must add a code to delete all gist from the user.

[2015-02-23 13:53] TehWardy commented on #708
Yeh i'm testing that fix right now.
Took me a while to find the files It looks like SR is a sort of wrapper around SB and the root folder for it contains the SB files ... is that correct?

I edited the file just like @joshjowen suggested, which so far has not resulted in any problems but its a slow process getting to the point of post processing but so far I have pulled a full season of one of my

[2015-02-23 13:53] fernandog commented on #697
@rrd911

[2015-02-23 15:03] happypaps commented on #632
@flightlevel will do! do i have to wait until this is merged into the dev build?

[2015-02-23 15:08] fernandog commented on #632
@flightlevel can you add multi page to RARBG too??

[2015-02-23 15:52] TagForce commented on #724
@fernandog @TehWardy Looking at this (and many other similar issues) where SR tries to move files it's already deleted. I've been away from the computer for the weekend (the kid wanted to see all his grandparents, and you don't say no to a sweet 3-year-old with big puppy eyes), so haven't gotten really far yet.

As far as I can tell it should ignore folders that start with _UNPACK:
https://github.

[2015-02-23 15:53] fernandog commented on #733
ssh and run:
sudo apt-get install python-notify

[2015-02-23 15:53] #733 closed

[2015-02-23 15:55] fernandog commented on #724
I undestand that he's using SAB PP and SR PP. Is it possible to use both - at least the unrar part ?

[2015-02-23 15:58] TagForce commented on #539
@abeloin @agentq15 Sorry, away for the weekend (unexpectedly).
No, both Automatic and Manual Postprocessing execute the ProcessDir function in ProcessTV.py.

I tested it with manual PP, and it worked for me.

[2015-02-23 16:05] TagForce commented on #724
Yes, you can use both. SR should ignore _UNPACK folders anyway, so it should never be an issue... Don't know why it is, atm.

[2015-02-23 16:20] fernandog commented on #632
@happypaps no

stop SR
SSH/cmd and run:
cd SickRage
wget --no-check-certificate https://github.com/SiCKRAGETV/SickRage/pull/1395.patch
patch -p1 > 1395.patch
start SR
try to reproduce the error

[2015-02-23 16:21] fernandog commented on #715
@ThePieMan any lucky?

[2015-02-23 16:28] TagForce commented on #695
@djoole Postpone switch will be left in tact, it will only do a more sane check for syncfiles (which also will be user configurable in the settings).

[2015-02-23 16:38] cytec commented on #333
@neoatomic  sure go ahead ;)

[2015-02-23 16:42] djoole commented on #695
Great.
But i think the the more perfect thing would be that postpone just impact the synced file, not the entire download dir.

Ex : there is these files in the download dir :

serie1.s01e1.mkv
serie1.s01e2.mkv.!sync
serie1.s01e3.mkv

Wanted (by me :) ) behaviour :
PP on ep 1 and 3 can be done by SR
PP on ep 2 is postponed until it's synced

Behaviour as it is (with postpone switch activated) :
No

[2015-02-23 16:47] gborri commented on #656
@fernandog could you reopen this?

[2015-02-23 16:49] fernandog commented on #656
Its open

[2015-02-23 16:49] Hellowlol commented on #730
They are added from the config here https://github.com/SiCKRAGETV/SickRage/blob/93f0f0ad1fa278afb17f73d47c099b82a766dede/sickbeard/config.py#L435

[2015-02-23 16:49] abeloin commented on #730
@fernandog Looking at the code it's only masking items with the word password in it.

[2015-02-23 16:50] fernandog commented on #656
i closed one. There is not point have 2 FR

[2015-02-23 16:51] fernandog commented on #730
The aboce GIST hides API

[2015-02-23 16:52] gborri commented on #656
@fernandog sorry, I've made a mistake. i don't know why i have seen also this one was closed.

[2015-02-23 16:53] abeloin commented on #730
@fernandog My guest is that he removed it himself

[2015-02-23 16:54] fernandog commented on #730
ops... sorry

can't wed change to:

[code]

[2015-02-23 17:04] TehWardy commented on #724
It may just be that im effectively "double unpacking" or something causing a clash

[2015-02-23 17:14] abeloin commented on #730
Ok the issue is that the code check for api_key but the data is stored in key:
https://github.com/SiCKRAGETV/SickRage/blob/master/sickbeard/__init__.py#L1119

[2015-02-23 17:19] fernandog commented on #730
@abeloin
_apikey
_api
api_key

[2015-02-23 17:32] abeloin commented on #730
It's a mess part of it save it under key and the other part expected api_key

[2015-02-23 17:42] maxcore commented on #645
am work on it but you can close it

[2015-02-23 17:43] #645 closed

[2015-02-23 18:27] happypaps commented on #632
after entering the command "patch -p1 < 1395.patch"

i get this error

"patching file sickbeard/providers/freshontv.py
Assertion failed: hunk, file ../patch-2.5.9-src/patch.c, line 354

This application has requested the Runtime to terminate it in an unusual way.
Please contact the application's support team for more information."

i downloaded and installed gnu wget and gnuwin patch prior to atte

[2015-02-23 18:34] Freakadude opened #734 "[Feature Request] Per Show setting for Notifications"
It would be cool to have a simple switch/box per show profile where you can set if you wish to receive notifications (snatched, downloaded, etc) or not e.g. via Pushbullet.
If i remember correctly this individual setup was already included in Sickbeard so i am wondering why this is actually absent here but would love to also see it here.

Thanks

[2015-02-23 18:42] ThePieMan commented on #715
Yes, looks like I'm limited to timeout errors for SCC now, and I haven't
seen any more of the other errors that particular provider was throwing.
Thanks!

On Monday, February 23, 2015, Fernando <notifications@github.com> wrote:

[2015-02-23 18:46] fernandog commented on #715
Stop SR, Edit config.ini and edit socket timeout. Something like that. See if helps.

[2015-02-23 18:46] #715 closed

[2015-02-23 18:48] abeloin commented on #730
Merge PR which fix the issue: https://github.com/SiCKRAGETV/SickRage/pull/1401

[2015-02-23 18:49] fernandog commented on #632
@happypaps windows user?

open SickRage/sickbeard/providers/freshontv.pyfreshontv.py and paste this:
https://raw.githubusercontent.com/SiCKRAGETV/SickRage/a04d7b4dd71e00eae08f8846a53b6cafb63129ef/sickbeard/providers/freshontv.py

[2015-02-23 18:55] fernandog commented on #730
@abeloin thanks!

[2015-02-23 19:14] happypaps commented on #632
@fernandog yup. any idea what I was doing wrong?

I restarted my SickRage service following the failed update and the issue has resolved despite the errors. After your reply I performed the update manually as you described and the issue was still resolved. SickRage is accessing all pages on freshon.tv and all my backlog shows downloaded. thanks for everyone's help!

[2015-02-23 19:21] joshjowen commented on #708
@fernandog Like you said this should fix all providers if it works because it's in generic.py and https://github.com/SiCKRAGETV/sickrage-issues/issues/700 is caused by the same thing so the same fix should work for both.

[2015-02-23 19:25] #632 closed

[2015-02-23 19:26] TagForce commented on #589
Can we call what is now 'Error' 'Critical' and have the ability to submit those, and the ones that should not be submittable remain Error? That way we should be able to show Errors and Criticals, and only submit Criticals.

Wouldn't display them at the top like the update message. We could, but that would be needlessly intrusive. Also, how long would we display those messages? 5 minutes? an hour?

[2015-02-23 19:35] TagForce commented on #724
No, SR should ignore folders starting with _UNPACK, so you should never be double unpacking.
Unable to move file /share/MD0_DATA/Download/complete/tv/_UNPACK_Covert.Affairs.S05E06.720p.WEB-DL.DD5.1.H.264-NTb/Covert.Affairs.S05E06.Embassy.Row.720p.WEB-DL.DD5.1.H.264-NTb.mkv should not be a possible error, since it should never ever even try to move any file in that folder.

And I can't find why it

[2015-02-23 20:55] abeloin commented on #539
@TagForce So I can merge the PR?

[2015-02-23 20:59] abeloin commented on #698
@fernandog It's system error, it's unable to load unrar.dll

[2015-02-23 21:02] abeloin commented on #698
@fernandog I don't know how to prevent it in the future

[2015-02-23 21:03] pct00 commented on #611
@fernandog hi, sorry for only replying now
can confirm it's still happening with latest updates on dev branch

i can also confirm the subtitle files are acctually downloaded into the sickrage data folder but with wrong names because of encoding
here's an example of a downloaded file that is left over on the dir after the error is raised in syckrage
"Hannibal - S01E01 - HD TV - ApÃ©ritif.en.srt"

o

[2015-02-23 21:08] abeloin commented on #611
@pct00 Can you try applying these patch?
PR https://github.com/SiCKRAGETV/SickRage/pull/1385
PR https://github.com/SiCKRAGETV/SickRage/pull/1387
PR https://github.com/SiCKRAGETV/SickRage/pull/1388

[2015-02-23 21:25] abeloin commented on #679
@fernandog There nothing to do here, the debug info is helpful for us:

This is the debug message which include a copy of the traceback
[code]
and this is the error message:
[code]

The issue is in torrentbytes.py, it doesn't provide all the data for that release.

[2015-02-23 21:26] TehWardy commented on #708
So far all i've had is a couple of socket timeouts talking to sab since applying this fix ... Mostly fails though on the queue due to poor nzb indexing but thats not the fault of SR.

[2015-02-23 22:09] fernandog commented on #708
@joshjowen thanks! PR to develop? will merge it soon

[2015-02-23 22:09] #708 closed

[2015-02-23 22:11] fernandog commented on #679
@abeloin ok! if this happens again or another issue we see what we can do. closing

[2015-02-23 22:11] #679 closed

[2015-02-23 22:12] pct00 commented on #611
@fernandog
PR SiCKRAGETV/SickRage#1385 --> same error
added
PR SiCKRAGETV/SickRage#1387 --> same error

the 1388 will take me a while, updating file by file...
is it really necessary? isn't it just for logging ?

[2015-02-23 22:15] fernandog commented on #611
@pct00 all must be updated to work. not only the first or only the second

@abeloin can he use the "patch" option?

[2015-02-23 22:21] pct00 commented on #611
any chance of commiting it to dev so i can be lazy and dont update manually? :)

[2015-02-23 23:13] Bane89 opened #735 "[APP SUBMITTED]: HTTPSConnectionPool(host='api.trakt.tv', port=443): Read timed out."
### INFO
Python Version: **2.7.8 (default, Jun 30 2014, 16:03:49) [MSC v.1500 32 bit (Intel)]**
Operating System: **Windows-8-6.2.9200**
Branch: **master**
Commit: SiCKRAGETV/SickRage@2d8aad80cdfb8983832206af445039de0decded9
### ERROR
[code]
---
_STAFF NOTIFIED_: @SiCKRAGETV/owners @SiCKRAGETV/moderators

[2015-02-23 23:18] fernandog commented on #735
Increate trakt timeout

[2015-02-23 23:18] #735 closed

[2015-02-24 00:17] bmatulovich opened #736 "[APP SUBMITTED]: coercing to Unicode: need string or buffer, instance found"
### INFO
Python Version: **2.7.6 (default, Mar 22 2014, 22:59:38)
[GCC 4.8.2]**
Operating System: **Linux-3.13.0-43-generic-i686-with-Ubuntu-14.04-trusty**
Branch: **master**
Commit: SiCKRAGETV/SickRage@2d8aad80cdfb8983832206af445039de0decded9
Link to Log: https://gist.github.com/36facb86737f1d42a60c
### ERROR
[code]
---
_STAFF NOTIFIED_: @SiCKRAGETV/owners @SiCKRAGETV/moderators

[2015-02-24 00:32] bmatulovich opened #737 "[APP SUBMITTED]: coercing to Unicode: need string or buffer, instance found"
### INFO
Python Version: **2.7.6 (default, Mar 22 2014, 22:59:38)
[GCC 4.8.2]**
Operating System: **Linux-3.13.0-43-generic-i686-with-Ubuntu-14.04-trusty**
Branch: **master**
Commit: SiCKRAGETV/SickRage@2d8aad80cdfb8983832206af445039de0decded9
### ERROR
[code]
---
_STAFF NOTIFIED_: @SiCKRAGETV/owners @SiCKRAGETV/moderators

[2015-02-24 00:33] fernandog commented on #736
Duplicate

[2015-02-24 00:33] #736 closed

[2015-02-24 00:34] fernandog commented on #737
duplicate

[2015-02-24 00:34] #737 closed

[2015-02-24 00:59] rickytin opened #738 "[APP SUBMITTED]: coercing to Unicode: need string or buffer, instance found"
### INFO
Python Version: **2.7.8 (default, Jun 30 2014, 16:08:48) [MSC v.1500 64 bit (AMD64)]**
Operating System: **Windows-8-6.2.9200**
Branch: **master**
Commit: SiCKRAGETV/SickRage@2d8aad80cdfb8983832206af445039de0decded9
### ERROR
[code]
---
_STAFF NOTIFIED_: @SiCKRAGETV/owners @SiCKRAGETV/moderators

[2015-02-24 01:06] Bond198 opened #739 "[APP SUBMITTED]: <sickbeard.tv.TVEpisode object at 0x04468330>"
### INFO
Python Version: **2.7.9 (default, Dec 10 2014, 12:24:55) [MSC v.1500 32 bit (Intel)]**
Operating System: **Windows-2012Server-6.2.9200**
Branch: **master**
Commit: SiCKRAGETV/SickRage@ac153cf2320b3b6d0a8aa9a1b1646a51347581d6
### ERROR
[code]
---
_STAFF NOTIFIED_: @SiCKRAGETV/owners @SiCKRAGETV/moderators

[2015-02-24 01:06] Bond198 opened #740 "[APP SUBMITTED]: <sickbeard.tv.TVEpisode object at 0x04468BD0>"
### INFO
Python Version: **2.7.9 (default, Dec 10 2014, 12:24:55) [MSC v.1500 32 bit (Intel)]**
Operating System: **Windows-2012Server-6.2.9200**
Branch: **master**
Commit: SiCKRAGETV/SickRage@ac153cf2320b3b6d0a8aa9a1b1646a51347581d6
### ERROR
[code]
---
_STAFF NOTIFIED_: @SiCKRAGETV/owners @SiCKRAGETV/moderators

[2015-02-24 01:14] abeloin commented on #611
If you use git:
Stop sickrage
git pull https://github.com/abeloin/SickRage.git patch-windows_utf
git pull https://github.com/abeloin/SickRage.git patch-subtitles_windows
git pull https://github.com/abeloin/SickRage.git patch-subtitle_logging
Start sickrage

[2015-02-24 01:14] abeloin commented on #611
**This comment come with no support if you have trouble. Do a backup first!!!!**
Make sure your current branch is clean: git reset --hard
You can use my experimental branch which include theses patches, change this line in your config.ini
[code]
then checkout the branch experimental in config->general

[2015-02-24 01:24] #740 closed

[2015-02-24 01:24] #739 closed

[2015-02-24 01:28] abeloin commented on #738
Can you provide more info from the log(e.g.: traceback)?

[2015-02-24 01:57] rickytin commented on #738
For the past 4 update to SickRage Master I haven't bean able to do and install and restart successfully, it always say that the installation fail. I have auto update so I shutdown SickRage and when it start it dose the update.
Because today I try to update to the latest version and it fail I submit my error, here is my log
https://gist.github.com/rickytin/f3fb967f33955105d0f2

[2015-02-24 01:57] #738 closed

[2015-02-24 02:17] abeloin commented on #589
@fernandog I've changed the labels on the PR side of github/sickrage:
* Feature (Something new to add to sickrage)
* Hotfix (Fix that must go in master and develop. Based on master)
* Bugfix (Fix that go in develop. Based on develop)
* Approved (Approved to be merged)
* Tested (Tested by at least of the team)
* Do Not Merge (Do not merge)
* DB Change (Change the DB version)

[2015-02-24 02:25] dkimbell13 opened #741 "[APP SUBMITTED]: Unable to parse doctor.who.4x11.ws.pdtv.xvid-angelic"
### INFO
Python Version: **2.7.8 (default, Jul  3 2014, 23:17:54)
[GCC 4.8.2 20131219 (prerelease)]**
Operating System: **Linux-3.10.30-30-ARCH-armv7l-with-glibc2.4**
Branch: **develop**
Commit: SiCKRAGETV/SickRage@b2790f920e879714836f05053eff9f815d0867c7
### ERROR
[code]
---
_STAFF NOTIFIED_: @SiCKRAGETV/owners @SiCKRAGETV/moderators

[2015-02-24 02:38] SpecialKeezie opened #742 "[APP SUBMITTED]: Connection error ('Connection aborted.', error(10054, 'An existing connection was forcibly closed by the remote host')) while loading URL http://services.tvrage.com/myfeeds/showinfo.php"
### INFO
Python Version: **2.7.9 (default, Dec 10 2014, 12:24:55) [MSC v.1500 32 bit (Intel)]**
Operating System: **Windows-8-6.2.9200**
Branch: **develop**
Commit: SiCKRAGETV/SickRage@3e288f3bb51f634df2000673d64e4f2c7d8fd4ac
Link to Log: https://gist.github.com/0cd83108b9b7932e4668
### ERROR
[code]
---
_STAFF NOTIFIED_: @SiCKRAGETV/owners @SiCKRAGETV/moderators

[2015-02-24 02:51] abeloin commented on #741
Not an error

[2015-02-24 02:51] #741 closed

[2015-02-24 02:52] abeloin commented on #742
Server(services.tvrage.com) is overloaded

[2015-02-24 02:52] #742 closed

[2015-02-24 06:42] kestnuts opened #743 "Sickrage sometimes gets stuck in a loop when updating, or processing files from Sabnzbd"
Branch : Master
Commit hash : 2d8aad80cdfb8983832206af445039de0decded9
OS and Python Version : Win7 Pro, python 2.7.8
This happens when Sickrage is trying to update to a new version, and when trying to process an episode downloaded with Sabnzbd. It appears to be intermmitent. This doesn't appear in the error log, it only appears in the command window for sickbeard.py. It flashes by too fast to rea

[2015-02-24 06:44] xstefanx commented on #652
I believe I've run into issues with this process as well, but I thought I would post here to see if this would be fixed by the planned process.

I had previously downloaded a show. I had deleted the episodes from my drive because they were downloaded prior to having set up hard links and renaming and they were originally posted with the wrong episode numbers. When I go to redownload them manually

[2015-02-24 07:01] xstefanx commented on #699
I'd be interested in a way to give SR the direct link to the download and let it handle things from there for episodes like this. That way PP can take place and for those of us on torrents, seeding and proper renaming can take place and SR see's the download all with one manual action for those you have to get manually anyway.

[2015-02-24 08:55] gborri opened #744 "UnicodeEncodeError: 'charmap' codec can't encode characters in position 75-80: character maps to <undefined>"
**INFO**

Python Version: Python 2.7.6 (default, Mar 22 2014, 22:59:38) [GCC 4.8.2] on linux2
Operating System: Ubuntu 14.04.2 LTS (GNU/Linux 3.13.0-43-generic i686)
Branch: develop
Commit: SiCKRAGETV/SickRage@commit 3c083d45d283a57b9f515b0fd2897f0584939f59

**ERROR**

[code]

[2015-02-24 09:45] fernandog commented on #744
Change locale and please use UTF-8

[2015-02-24 09:46] fernandog commented on #652
Set as WANTED and do a manual search

[2015-02-24 09:49] fernandog commented on #738
@rickytin
did you read this?
https://github.com/SiCKRAGETV/sickrage-issues/

[2015-02-24 09:50] perler commented on #44
ok, I did some research:

the problem looks like a problem with filenames. the high CPU usage
happended in this directory:

https://gist.github.com/anonymous/f7cbf1302ab92100afa2

beforehand I removed a Season 8 of Midsomer Murders which had the same
problem, but after removing Season 16 I left Season 17 which causes no
problem. The subtitles backlog is now worded on and I wait for another
hitch.

[2015-02-24 09:53] fernandog commented on #589
Nice!

[2015-02-24 09:56] neoatomic commented on #744
Cant reproduce this error on Develop.
I added the "Continuum" show from Tvdb without any errors. :

![naamloos](https://cloud.githubusercontent.com/assets/7928052/6346799/2900072e-bc13-11e4-90af-9f77227338f4.jpg)

Please provide more information on what you where doing.

[2015-02-24 09:58] jack-o-lantern opened #745 "[Feature Request] Add justseed.it client"
Site is www.justseed.it i use it for all my stuff i currently tried to develop an interface but failed miserably.

wish i had more time to learn all this but gotta work =( so.....

25$ donation to the developer that commits the change! if other are interested or know a way to setup a pool for features i am in!

Here is a bloke that is having good success on git hub with python based
 tool
https://

[2015-02-24 09:59] fernandog commented on #744
@neoatomic he is not using utf.
whats the resulf in SSH of your:
locale

[2015-02-24 10:04] neoatomic commented on #744
@fernandog Didn't see your message before submitting...

Btw this is the output of my Synology?  :

[code]

[2015-02-24 10:21] neoatomic commented on #745
The developers are currently doing mainly bug and stability fixes.To get max stability out of SickRage.
Larger feature requests are mostly on hold because of that. Also i see that currently justseed.it is in beta/testing phase.?

[2015-02-24 10:55] jack-o-lantern commented on #745
no worries no rush just to see if the community wants in! i was actually
just gonna have one of my in house developers do it but i don't like to
"cross streams"

On Tue, Feb 24, 2015 at 5:21 AM, neoatomic <notifications@github.com> wrote:

--
Regards,

Joe Villar
SAP Basis Administrator

[2015-02-24 11:18] TagForce commented on #539
@abeloin Yes... But you already did :) Where are you at? Because I was deep asleep 14 hours ago.

[2015-02-24 11:26] abeloin commented on #539
@TagForce Canada

[2015-02-24 11:29] TagForce commented on #539
That explains a lot... Shouldn't you be asleep now?

[2015-02-24 11:39] abeloin commented on #539
It's 6:40 in the morning :)

[2015-02-24 11:50] abeloin commented on #744
@gborri I see that you are on your own custom branch. Can you switch back to the develop branch and retry?

[2015-02-24 11:52] abeloin commented on #744
For ref:
`/images/network/%D1%80%D0%BE%D1%81%D1%81%D0%B8%D1%8F%201.png`
is
`/images/network/россия 1.png`

[2015-02-24 11:53] fernandog commented on #744
@abeloin so this error can happen not only with windows, Am I right?

[2015-02-24 11:55] fernandog commented on #539
Just left my wife and kid at work/school. good morning! =)

[2015-02-24 11:55] abeloin commented on #744
Yes

[2015-02-24 11:56] bmatulovich opened #746 "[APP SUBMITTED]: coercing to Unicode: need string or buffer, instance found"
### INFO
Python Version: **2.7.6 (default, Mar 22 2014, 22:59:38)
[GCC 4.8.2]**
Operating System: **Linux-3.13.0-43-generic-i686-with-Ubuntu-14.04-trusty**
Branch: **master**
Commit: SiCKRAGETV/SickRage@2d8aad80cdfb8983832206af445039de0decded9
### ERROR
[code]
---
_STAFF NOTIFIED_: @SiCKRAGETV/owners @SiCKRAGETV/moderators

[2015-02-24 11:57] #746 closed

[2015-02-24 12:01] fernandog commented on #744
isn't possible to set locale to utf-8 in python when starting SR? we wont' be able to catch all exceptions about this

[2015-02-24 12:01] abeloin commented on #744
I'm surprised that Ubuntu isn't defaulting to UTF by default.

[2015-02-24 12:03] abeloin commented on #744
No, it console dependent. The main issue isn't with the console codepage, but the fact that sickrage isn't fully unicode internally which gives us all those weird decoding error.

[2015-02-24 12:10] abeloin commented on #744
See this: https://pythonhosted.org/kitchen/unicode-frustrations.html

[2015-02-24 12:36] fernandog commented on #744
@abeloin what if we show a big message in the screen to use UTF-8 (like the update div) if system locale it's not UTF-8 (linux machines only)?

[2015-02-24 12:38] Deddiekoel commented on #581
Just submitted a pull request with the above change!

[2015-02-24 13:08] fernandog commented on #329
https://github.com/SiCKRAGETV/sickrage-issues/issues/332

[2015-02-24 13:08] Rouzax opened #747 "Not finding 1080P HDTV episode to download"
I'm running the latest Git Master version: https://github.com/SiCKRAGETV/SickRage/commit/2d8aad80cdfb8983832206af445039de0decded9

I have for instance the show Better Call Saul setup like:
![image](https://cloud.githubusercontent.com/assets/4103090/6349746/f368d512-bc2d-11e4-95fe-41fc8ce6db1f.png)

When I look at my torrent provide Torrenday they have the following episodes:
![image](https://cloud

[2015-02-24 13:09] fernandog commented on #700
https://github.com/SiCKRAGETV/SickRage/pull/1403

[2015-02-24 13:09] fernandog commented on #700
@djack42 please update and test it please

[2015-02-24 13:12] fernandog commented on #747
FULL logs please

[2015-02-24 13:21] Rouzax commented on #747
[code]

[2015-02-24 13:29] fernandog commented on #747
@Rouzax pastebin.com please! not here

[2015-02-24 13:33] Rouzax commented on #747
Updated the post

[2015-02-24 13:33] fernandog commented on #747
@Rouzax if SR already downloaded 720p you must select Archive quality otherwise I won't download

[code]

[2015-02-24 13:35] Rouzax commented on #747
That is what I figured.
I would have expected though that when doing a manual search
![image](https://cloud.githubusercontent.com/assets/4103090/6350242/531a8f24-bc32-11e4-9798-47420c6385ee.png)
That it would check against the current quality settings, which were changed form HDTV to 1080p HDTV.

[2015-02-24 13:41] fernandog commented on #747
yes. because there's info in the DB. SR can't delete that.

[2015-02-24 14:08] xstefanx commented on #652
That's what I'm doing when I see this problem. http://i.imgur.com/vJz9yQS.png

[2015-02-24 14:09] fernandog commented on #652
just click yes

[2015-02-24 14:33] ripper1967 opened #748 "https warning"
Hi I was still getting the insecure error
C:\Users\ripper1967\SickRage\lib\requests\packages \urllib3\connectionpool.py:747: InsecureRequestWarning: Unverified HTTPS request is being made. Adding certificate verification is strongly advised. See: https://urllib3.readthedocs.org/en/latest/security.html

So I downloaded master branch, the error was gone,so I then moved connectionpool.py from the mas

[2015-02-24 14:37] fernandog commented on #748
@abeloin it was merged to develop. Wanst it?

[2015-02-24 14:42] ripper1967 commented on #748
how to shut this error off #639  that pr didn't fix it,Like I said I just copied the master branch,connectionpool.py into my dev branch and the error quit along with a couple others,,i  have had zero warnings or errors since,

[2015-02-24 14:51] ripper1967 commented on #748
I wonder if it has something to do with my version of python? I am at 2.7.9 most are at 2.7.8

[2015-02-24 14:53] xstefanx commented on #652
That doesn't work. It gives me this when I do that. http://i.imgur.com/nLfJFU6.png

I have the show set up to grab 720p, and there are actually two versions that meet that requirement on the site. It's ignoring them. I presume because they've been marked as failed.

[2015-02-24 15:01] fernandog commented on #652
Did you set as WANTED before manual search?

[2015-02-24 15:01] xstefanx commented on #652
Yes, I did.

[2015-02-24 15:23] xstefanx commented on #652
Something along the lines of this would also help to resolve this issue I think. https://github.com/SiCKRAGETV/sickrage-issues/issues/699#issuecomment-75708901

[2015-02-24 15:24] Rouzax commented on #747
So on a manual search it will do a search based on the settings it did the initial search and it will not check if the general required quality has changed for the show in question?

[2015-02-24 15:33] #538 closed

[2015-02-24 15:33] #3 closed

[2015-02-24 15:45] gborri commented on #744
@abeloin ubuntu default UTF8, some times ago i have change it. Sorry for the issue.

[2015-02-24 15:47] fernandog commented on #349
@abeloin do you think use javascript to get the location.host when remote access and compare with webui_url hostname si if' location.host not in webui_url then then use location.host. With this when remote access you can view "manage torrents". It's there a better solution?

[2015-02-24 15:50] icebal commented on #743
this is also happening to me, copied/pasted below:
Traceback (most recent call last):
  File "C:\Python27\lib\logging\handlers.py", line 77, in emit
    self.doRollover()
  File "C:\Python27\lib\logging\handlers.py", line 142, in doRollover
    os.rename(self.baseFilename, dfn)
WindowsError: [Error 32] The process cannot access the file because it is being
used by another process
Logged from file

[2015-02-24 15:52] fernandog commented on #690
@TagForce any thoughts?

[2015-02-24 15:53] fernandog commented on #743
@kestnuts @icebal in the next PP run, does it PP ok?

[2015-02-24 16:03] maronsen opened #749 "[Feature Request] Ability to edit posters and banners."
hi, Add the ability to edit the images for shows, both posters and banners in the edit page for each show, where you edit the quality and everything else about a show. :+1:

What I was thinking was having a button you would click and an overlay opens like the jQuery overlay and then it shows all poster images available for that show from Thetvdb or Tvrage. The images are rendered/loaded on page, d

[2015-02-24 16:21] neoatomic commented on #749
I suggested this a time ago. Its related to : https://github.com/SiCKRAGETV/sickrage-issues/issues/33

https://sickrage.tv/forums/forum/main-category/feature-requests/9273-tv-rage-index-banners?p=9338#post9338

@fernandog Do you want this FR to remain open.?

[2015-02-24 16:24] fernandog commented on #749
IMO as I said in a PR, when TVRAGE is selected, SR should get ONLY banner froms thetvdb and other infos from tvrage. Better solution, isn't?

[2015-02-24 16:28] fernandog commented on #748
@ripper1967 did you restarted with switched branch?

[2015-02-24 16:32] djack42 commented on #700
Ok, no more error while manual searching for the same episode of fairy tail.
Thx

[2015-02-24 16:32] #700 closed

[2015-02-24 16:34] ripper1967 commented on #748
yes I am fine as long as I run the master as soon as I update to dev branch I get that warning, then I just copy the master branch connectionpool.py to dev and I am  fine after that

[2015-02-24 16:34] TagForce commented on #732
@bthusby I have no idea why it downloads unsynced subs... Subliminal tries to get the correct subs by using the filehash. It could be that it doesn't work properly. Subliminal should probably be updated to a newer version, but that requires a lot of changes. Subliminal was rewritten completely and most of the function calls would need to be changed.

Will probably happen in the future.

[2015-02-24 16:39] TehWardy commented on #708
Yup still looking good ... I think that fix did it :)

[2015-02-24 16:41] fernandog commented on #589
is it OK this?

[code]

also when checkout branch it should restart (hard restart):

[code]

[2015-02-24 16:42] TagForce commented on #72
@fernandog Sorry, I missed this one earlier... Definitely an issue. Removing the fix pending label as nobody is working on this at the moment.

[2015-02-24 16:48] fernandog commented on #72
fix pending means that there's no PR or code change in progress. It's correct to keep the "fix pending"

[2015-02-24 16:55] gborri commented on #744
@abeloin checked out develop, rebase to upstream/develop, changed locale and seems to work.
you could close. Sorry for this fake issue.

[2015-02-24 17:06] #744 closed

[2015-02-24 17:06] neoatomic opened #750 "[Feature Request] Adding support for TVRage posters/banners and choosing them."
As TVRage doesn't support banners/posters for shows, it would be nice to grab them from TVDB instead.
But to do this the ID from TVRage needs to be converted to the TVDB ID. As the API will need it.?
Would this be possible to do with XEM.? As both id's are present there.?

Also TVDB has in most cases more than one banner/poster on there website.
Many users would like the ability to select between

[2015-02-24 17:06] #33 closed

[2015-02-24 17:07] fernandog commented on #750
@neoatomic do you think this can work for specials too and not just banners?

[2015-02-24 17:23] TagForce commented on #690
@TehWardy @fernandog Ok, what happens is the following:

SR Post Processes a file in the download folder.
It does this by creating a list of all the videofiles in a folder and its subfolders (TV Download Dir).
It then runs through each videofile it found in the base folder.
It executes process_media for each file, which in turn checks if the file being processed already exists as an episode in the

[2015-02-24 17:24] Alexwijn opened #751 "[APP SUBMITTED]: database disk image is malformed"
### INFO
Python Version: **2.7.3 (default, Mar 18 2014, 05:13:23)
[GCC 4.6.3]**
Operating System: **Linux-3.18.7+-armv6l-with-debian-7.8**
Branch: **develop**
Commit: SiCKRAGETV/SickRage@3e288f3bb51f634df2000673d64e4f2c7d8fd4ac
Link to Log: https://gist.github.com/e9604bac297003391d3f
### ERROR
[code]
---
_STAFF NOTIFIED_: @SiCKRAGETV/owners @SiCKRAGETV/moderators

[2015-02-24 17:28] fernandog commented on #751
https://github.com/SiCKRAGETV/sickrage-issues/issues/549#issuecomment-72844385

[2015-02-24 17:28] #751 closed

[2015-02-24 17:36] fernandog commented on #690
@TagForce thanks for the explanation,

about locked for exclusive access, PP will always fail in that case. We must catch that exception and move to the next file. Or entire PP will fail?
see this:
https://github.com/SiCKRAGETV/sickrage-issues/issues/743

[2015-02-24 17:47] maronsen commented on #749
What i was thinking was having a button you would click and a overlay opens like the jquery overlay and then it shows all posters available for that show from thetvdb and you can select one and save and that image is then the new poster image, same for banners, and an option underneeth to enter a web url to a image if you want a custom one.

[2015-02-24 18:01] kestnuts commented on #743
@fernandog I checked, and while sabnzbd still shows that post processing failed with the following error message :
 ("Opening URL: http://localhost:8081/home/postprocess/processEpisode
Unable to open URL: HTTPConnectionPool(host='localhost', port=8081): Max retries exceeded with url: /home/postprocess/processEpisode?nzbName=Doctor.Who.2005.S08E07.BDRip.x264-TASTETV.nzb&failed=0&quiet=1&dir=E%3A%5C

[2015-02-24 18:04] fernandog commented on #743
@kestnuts SR changed the way you login to the page. Are you using the latest version sabnzbd postprocess (nzbtomedia)?

[2015-02-24 18:05] neoatomic commented on #750
@fernandog Cant say....
If it is possible with XEM to convert the id from TVRage to TVDB you might be able to use that id to call the TVDB api for the specials. But need to add that i'm not a coder/programmer so cant tell if that is technically possible....
http://thexem.de/doc

[2015-02-24 18:07] fernandog commented on #743
@abeloin do you know why there's no SR exception but only python exception?

[2015-02-24 18:08] fernandog commented on #750
@neoatomic Im asking because I don't use tvrage. don't know if they have specials data

[2015-02-24 18:08] kestnuts commented on #743
I've been using the sabtosickbeard script.Where can I find the nzbtomedia script?

[2015-02-24 18:10] fernandog commented on #743
https://github.com/clinton-hall/nzbToMedia

[2015-02-24 18:12] neoatomic commented on #750
@fernandog Yes tvrage has specials.
http://www.tvrage.com/Storage_Wars/episode_list/all  (bottom of page)

[2015-02-24 18:51] pct00 commented on #611
confirm solved in @abeloin experimental branch
sub file downloaded and placed in correct dir "Hannibal - S02E11 - HD TV - Kō No Mono.en.srt"

THANKS !!!

[2015-02-24 18:51] TagForce commented on #690
@TehWardy @fernandog @Kallb123
Can you try this commit? Hopefully fixes things at least partly. At least when you now get the same error as before we know the file is really there.
https://github.com/TagForce/SickRage/commit/08645eceb16abdb656bb2ee77a4ede2d5c5d8af6

[2015-02-24 18:53] fernandog commented on #690
@TehWardy @Kallb123

stop SR,
edit SickRage/sickbeard/processTV.py, erase the contents and paste this
https://raw.githubusercontent.com/TagForce/SickRage/08645eceb16abdb656bb2ee77a4ede2d5c5d8af6/sickbeard/processTV.py
save, start SR

[2015-02-24 19:01] TehWardy commented on #690
Suggestion:
Rather than scanning for a list of files then processing that list could SR enter in to a loop that goes something like ...

while( (var nextFile = ScanForFile()) != null)
  Process(nextFile);

That way the processing is only occurring on a file that is absolutely there.

Also the processing should first do the checks like access and size and if there's a problem simply ignore it as "b

[2015-02-24 19:02] TehWardy commented on #690
result.result = ???
wtf ... nice variable naming there!

lol

[2015-02-24 19:11] abeloin commented on #748
@fernandog Let me check but I think what is happening here is when a thread new thread is started the disable warning is not transferered

[2015-02-24 19:43] abeloin commented on #748
@ripper1967 Can you try this pull request? It should resolve the issue.
https://github.com/SiCKRAGETV/SickRage/pull/1409

[2015-02-24 19:45] fernandog commented on #690
@TagForce what do you think about SR should test writing/moving a dummy file to PP folder before "accept" it and save it. If there's some permission error or filesystem does not allow temp file creating while copying and etc. SR should show ""Operation not supported by your OS and setup. Check your permissions and/or target filesystem"

[2015-02-24 19:54] TehWardy commented on #690
My suggestion would be:

I think that check should be done anyway at the start of a post process on the root level PP dir and cause a drop out if any issues.

Then if problems are hit with accessing files within that have a set number of "allowed fails" to allow for things like download clients still working on moving / writing the files when the PP occurs.

[2015-02-24 20:08] abeloin commented on #589
Something like this should do(Need to tested):
[code]
As for the restart, we need to change the wording on the page as if the checkout is successful it will restart.
`select branch to use (restart required)` to `select branch to use (SickRage will restart after switching branch)`

[2015-02-24 20:16] abeloin commented on #349
@fernandog Can he simply change is TORRENT_HOST to a dynamicdns name?

[2015-02-24 20:19] fernandog commented on #349
@abeloin but when you local access there's no point to use dynamicdns. just for remote. that's why my idea is to get the location.host. we can know if is remote or not.

[2015-02-24 20:20] fernandog commented on #589
@abeloin will test that and make a PR. thanks

[2015-02-24 20:47] abeloin commented on #349
@fernandog Try this, I didn't test it but it should work
[code]

By the any decent consumer router in the last 5 years can do SNAT, DNAT on the packet so it doesn't get out onto the internet(Because the router is intelligent enough to see the packet destination is for himself).

[2015-02-24 20:48] fernandog commented on #349
@abeloin will this work with user/pass in the URL?

[2015-02-24 21:08] abeloin commented on #349
No it won't you'll have to substring it from originalUrl

[2015-02-24 21:29] abeloin commented on #349
Redone it using a regex:
[code]

[2015-02-24 21:41] abeloin commented on #589
It's possible, you would have to check the content of MainDB.py(MAX_DB_VERSION) on develop to see if it changed.

[2015-02-24 22:31] ripper1967 commented on #748
yes that pull request did fix it,confirmed fixed after I get the pull lol

[2015-02-24 22:31] #748 closed

[2015-02-24 22:37] TiagoDM opened #752 "[APP SUBMITTED]: <ProtocolError for api.opensubtitles.org/xml-rpc: 503 Service Unavailable>"
### INFO
Python Version: **2.7.8 (default, Jun 30 2014, 16:08:48) [MSC v.1500 64 bit (AMD64)]**
Operating System: **Windows-8-6.2.9200**
Branch: **develop**
Commit: SiCKRAGETV/SickRage@3e288f3bb51f634df2000673d64e4f2c7d8fd4ac
### ERROR
[code]
---
_STAFF NOTIFIED_: @SiCKRAGETV/owners @SiCKRAGETV/moderators

[2015-02-24 22:44] TiagoDM opened #753 "[APP SUBMITTED]: 'charmap' codec can't decode byte 0x8d in position 69: character maps to <undefined>"
### INFO
Python Version: **2.7.8 (default, Jun 30 2014, 16:08:48) [MSC v.1500 64 bit (AMD64)]**
Operating System: **Windows-8-6.2.9200**
Branch: **develop**
Commit: SiCKRAGETV/SickRage@3e288f3bb51f634df2000673d64e4f2c7d8fd4ac
### ERROR
[code]
---
_STAFF NOTIFIED_: @SiCKRAGETV/owners @SiCKRAGETV/moderators

[2015-02-24 22:44] TiagoDM opened #754 "[APP SUBMITTED]: <ProtocolError for api.opensubtitles.org/xml-rpc: 503 Service Unavailable>"
### INFO
Python Version: **2.7.8 (default, Jun 30 2014, 16:08:48) [MSC v.1500 64 bit (AMD64)]**
Operating System: **Windows-8-6.2.9200**
Branch: **develop**
Commit: SiCKRAGETV/SickRage@3e288f3bb51f634df2000673d64e4f2c7d8fd4ac
### ERROR
[code]
---
_STAFF NOTIFIED_: @SiCKRAGETV/owners @SiCKRAGETV/moderators

[2015-02-24 22:45] TiagoDM opened #755 "[APP SUBMITTED]: 'charmap' codec can't decode byte 0x8d in position 69: character maps to <undefined>"
### INFO
Python Version: **2.7.8 (default, Jun 30 2014, 16:08:48) [MSC v.1500 64 bit (AMD64)]**
Operating System: **Windows-8-6.2.9200**
Branch: **develop**
Commit: SiCKRAGETV/SickRage@3e288f3bb51f634df2000673d64e4f2c7d8fd4ac
### ERROR
[code]
---
_STAFF NOTIFIED_: @SiCKRAGETV/owners @SiCKRAGETV/moderators

[2015-02-24 22:52] #754 closed

[2015-02-24 23:13] #755 closed

[2015-02-24 23:13] #753 closed

[2015-02-24 23:14] fernandog commented on #752
503 Service Unavailable

[2015-02-24 23:14] #752 closed

[2015-02-24 23:21] raymondtrueman commented on #631
Hi @fernandog - Has this issue been solved? I am getting the same error messages since I enabled Pirate Bay

[2015-02-24 23:25] fernandog commented on #631
@raymondtrueman fixed on develop

[2015-02-24 23:29] raymondtrueman commented on #631
So I can use the new TPB provider or should I switch to the old one?
@fernandog

[2015-02-24 23:31] fernandog commented on #631
new TPB is already on master
but new tpb don't work with season mode. so apply this to your local file:
https://github.com/SiCKRAGETV/SickRage/pull/1359/files

[2015-02-24 23:37] abeloin commented on #589
@fernandog For PR 1411 and 1412 did you want those url changed in master and develop?

[2015-02-24 23:44] fernandog commented on #589
I closed then because it was a PR to master.
didnt analysed the change itself
should we change that urls? Dont know.

[2015-02-25 00:00] abeloin commented on #589
@fernandog They work for me here, but maybe they are blocked in the UK?

[2015-02-25 00:08] fernandog commented on #589
@abeloin so we should update the proxy list and not update the provider url

![proxy](https://cloud.githubusercontent.com/assets/2620870/6362190/348ea4f0-bc69-11e4-9dbe-c4b8b610b7ee.png)

[2015-02-25 00:18] abeloin commented on #589
Yes but those are general proxy. katproxy.com is only good for kat. Anyhow, he will reply if he is from the UK and has issue.

[2015-02-25 00:19] fernandog commented on #589
can't we add proxy to kat.py and append to generic proxys?

[2015-02-25 00:21] fernandog commented on #609
@abeloin this should work! I don't know why but it don't. Maybe the ERR_CONNECTION_REFUSED is because of the new login page?

[2015-02-25 00:22] abeloin commented on #589
De que c'est?

[2015-02-25 00:23] fernandog commented on #589
?

[2015-02-25 00:30] fernandog commented on #589
@abeloin

user could change this to katproxy.com
[code]

[2015-02-25 00:40] tjw1184 commented on #547
@fernandog, that sounds like a reasonable solution.  I'm assuming the show refresh would get triggered immediately after the failed download (so you don't have to wait for the next backlog).

[2015-02-25 00:45] abeloin commented on #589
Sorry I replied in French :confused:

yes

But I think if he change the general proxy it will overwrite that change

[2015-02-25 00:48] fernandog commented on #589
@abeloin just updated. can you read again?

[2015-02-25 00:48] tjw1184 opened #756 "Feature request: episode size limits"
Allow size limits to be specified for episodes (ignored for season searches) per quality type.  Occasionally some nzbs are corrupt and too small (<100MB) or an entire season gets marked as a specific episode.  Allows throwing out the files before they get downloaded and marked failed.  could roll out with very large defaults (100mb-10000mb for all) or make it optional to turn on.

i.e.

720p web-d

[2015-02-25 00:48] abeloin commented on #748
@ripper1967 Thanks for the testing

[2015-02-25 00:50] fernandog commented on #756
@tjw1184 you could use a good provider to avoid this

[2015-02-25 01:39] abeloin commented on #589
@fernandog What did you just updated?

[2015-02-25 01:40] icebal commented on #743
i was able to successfully PP with both old and new ToSickbeard scripts, but the loop is still going. SR and ToMedia scripts are updated to newest versions

[2015-02-25 01:43] abeloin commented on #609
Do you use firefox or chrome?

[2015-02-25 01:52] abeloin commented on #589
By the way, we should really think to start merging develop to master, or create a release branch where only bugfix is applied until it is merge into master so we can continue adding unstable stuff(subtitle, shutil) into develop. Master is behind 140 commits.

[2015-02-25 02:19] icebal commented on #743
upon further testing, i am unable to add any new shows while the loop is going, the show gets stuck at Loading..."SHOW NAME"

[2015-02-25 02:29] abeloin commented on #743
@fernandog This is the result of the log file being lock some other process and sickrage wanting to write to the log. That write operation fail so it generate an exception which in turn wants to be written in the log. Creating a endless loop until the file is release.

To further debug the issue I would need the log just before the loop started

[2015-02-25 02:36] icebal commented on #743
whats your file hosting site of choice? ill throw the log up there.

[2015-02-25 02:40] icebal commented on #743
uploaded to dev-host:
http://d-h.st/mbb

[2015-02-25 02:56] scythe000 opened #757 "SR Stopped searching for backlog"
After it starts up and this is shown:
C:\python27\lib\site-packages\Cheetah\Compiler.py:1509: UserWarning:
You don't have the C version of NameMapper installed! I'm disabling Cheetah's us
eStackFrames option as it is painfully slow with the Python version of NameMappe
r. You should get a copy of Cheetah with the compiled C version of NameMapper.
  "\nYou don't have the C version of NameMapper inst

[2015-02-25 03:12] abeloin commented on #743
Thanks for the Logs. The next it happen can you look at the process list in the task manager if there's 2 instance of python.

[2015-02-25 03:15] cdunford opened #758 "Changing Show Quality (in Show>Edit) Has No Effect"
Branch: master
Commit: 2d8aad80cdfb8983832206af445039de0decded9
OS: Ubuntu 14.10 (Linux dunford-nas 3.16.0-29-generic #39-Ubuntu SMP Mon Dec 15 22:27:29 UTC 2014 x86_64 x86_64 x86_64 GNU/Linux)
Python: Python 2.7.8

Description:

After I added several shows to a new database (I am migrating from sickbeard), the quality was not set how I wanted for several shows (it was set to HD for some shows whi

[2015-02-25 03:17] icebal commented on #743
i have many instances of python running, but only one pointing to sickrage. the others are PlexScriptHost and the instances used by Sabnzbd++ and CouchPotato. i still  have not restarted SickRage since i tested  the PP process.

[2015-02-25 03:25] abeloin commented on #743
Ok then the next time you restart sickrage watch if there's another sickrage process running. As there's a process locking one of the sickrage.log files when it try to rotate the log

[2015-02-25 03:29] abeloin commented on #757
That's a warning that you can ignore. You need to provide some logs without it is nearly impossible to debug your issue.

[2015-02-25 03:32] scythe000 commented on #757
2015-02-24 19:31:22 INFO     DAILYSEARCHER :: No new released episodes found ...
2015-02-24 19:31:22 INFO     DAILYSEARCHER :: Searching for new released episodes ...
2015-02-24 19:31:21 INFO     POSTPROCESSER :: Successfully processed
2015-02-24 18:51:26 INFO     SEARCHQUEUE-DAILY-SEARCH :: Seeing if we need anything from Tosh.0
2015-02-24 18:51:26 INFO     SEARCHQUEUE-DAILY-SEARCH :: Seeing if w

[2015-02-25 03:33] scythe000 commented on #757
Yeah, I've been ignoring that error since the beginning. All I meant was, that's all that shows still even when I tell SR to search for an episode. Nothing happens.

[2015-02-25 03:45] abeloin commented on #758
Just tried it on master it does work as intended.
Looking at your log, it show the show being saved successfully.
Can you provide screenshot of the editShow and of the show?

[2015-02-25 03:58] abeloin commented on #757
This log doesn't contain any debug data, please provide a copy of sickrage.log

[2015-02-25 04:03] scythe000 commented on #757
https://www.dropbox.com/s/k3eyimbuyaqfn6q/sickrage%20-%20Copy.log?dl=0

[2015-02-25 04:04] scythe000 commented on #757
Sorry, I'd attach it directly, but this only supports pictures.

[2015-02-25 04:24] rrd911 commented on #697
OS is Ubuntu 14.04

The failure doesn't occur on all files just a few. Others work just fine.

[2015-02-25 04:27] abeloin commented on #757
It does find results but not much:
`2015-02-24 18:51:27 DEBUG    SEARCHQUEUE-DAILY-SEARCH :: [KickAssTorrents] :: Parsed The.Walking.Dead.S05E11.720p.HDTV.AAC.x264-PSYPHER into The Walking Dead - S5E11 [ANIME VER: -1] [GROUP: PSYPHER] [ABD: False] [ANIME: False] [whichReg: ['standard']]`

I see you didn't do any manual search as there is no MANUAL-SEARCH in the log. Can you do one and send me the

[2015-02-25 04:29] scythe000 commented on #757
No, that's the thing, I am doing manual searches, but nothing happens.

Sent from my iPhone

On Feb 24, 2015, at 8:27 PM, Alexandre Beloin <notifications@github.com<mailto:notifications@github.com>> wrote:

It does find results but not much:
2015-02-24 18:51:27 DEBUG SEARCHQUEUE-DAILY-SEARCH :: [KickAssTorrents] :: Parsed The.Walking.Dead.S05E11.720p.HDTV.AAC.x264-PSYPHER into The Walking Dead - S

[2015-02-25 04:37] abeloin commented on #757
Can you do a `git reset --hard origin/master`

[2015-02-25 04:58] xaxim opened #759 "Post-processor not getting show because "O Negócio" and "O Negocio" are not treated as equals."
Post-processor not getting show because "O Negócio" and "O Negocio" are not treated as equals.

Some characters should be considered the same, because their torrents use common english vowels, not the modified foreign ones.

[2015-02-25 05:08] suprdave23 opened #760 "Manual post-processing results in deleting completed file before moving it"
I checked "Force already Post Processed Dir/Files:" and "Mark Dir/Files as priority download:". It resulted in this error. It appears it deleted my completed file before trying to move it into it's correct "TV Shows" folder location. This doesn't seem right?

2015-02-24 22:12:53 WARNING  Thread-25 :: Problem(s) during processing
2015-02-24 22:12:53 WARNING  Thread-25 :: Processing failed for D:\To

[2015-02-25 06:46] joq3 commented on #231
@OmgImAlexis I have noticed the same thing. When accessing SickRage trough my nginx reverse proxy I get this error. But not if I access it trough port number. Can you post your nginx reverse proxy setup, want to see if we have the same setup.

[2015-02-25 07:11] OmgImAlexis commented on #231
@joq3 here you go.

[code]

[2015-02-25 07:47] Hellowlol commented on #231
@OmgImAlexis I'm no expert regarding nginx config, but i do have a working setup. The main difference between your config and mine is that proxy_pass http://ip:port in my setup.

[2015-02-25 08:34] tommehh commented on #361
Actually I am still having the same issue. Im running Sickrage on Thecus N2310 NAS and getting the exact same output in my log files as a7medo778 did in the 1st post.

I tried chaing sickbeard.config.naming_ep_type[X] from 2 to 1 but that didn't work. Is it possible I have to do something else?

[2015-02-25 08:53] OmgImAlexis commented on #231
Can you access your sickrage without the Port though? I've got it like that so I can use a subdomain for each of my services like sickrage and couchpotato.

[2015-02-25 08:58] Hellowlol commented on #231
Yeah. I access stuff like mydomain.com/sickrage mydomain.com/htpc etc

[2015-02-25 09:04] Hellowlol commented on #231
Check out http://www.htpcguides.com/configure-sickrage-reverse-proxy-nginx/

[2015-02-25 09:05] tommehh opened #761 "wrong search name string"
I am opening an issue based on a previous one: #361

Name being used for search:
2015-01-09 02:39:28 INFO     SEARCHQUEUE-MANUAL-274431 :: Unable to find a download for: [Gotham - 1x11 - Rogues' Gallery]

Name available at all trackers:
 Gotham - S01E11

I tried the following but that did not work for me!

-------------------------------------------------------------------------
Jagomeister  comme

[2015-02-25 09:07] OmgImAlexis commented on #231
@Hellowlol That can't be the reason I've got the issue then as mine's exactly the same as yours just I'm using a subdomain instead of relative URLs.

[2015-02-25 09:19] fernandog commented on #361
Without full logs and other infos (guidelines) we cant help you

[2015-02-25 09:22] fernandog commented on #760
Follow guidelines
https://github.com/SiCKRAGETV/sickrage-issues/

[2015-02-25 09:22] #760 closed

[2015-02-25 09:23] fernandog commented on #759
Add to scene exceptions (edit show)

[2015-02-25 09:23] #759 closed

[2015-02-25 09:25] tommehh commented on #361
My apologies, you are correct. I will post the other infos + logs later today when I'm off work

[2015-02-25 09:27] fernandog commented on #697
@Tagforce what should we do with this issues?

[2015-02-25 09:31] fernandog commented on #609
Chrome

[2015-02-25 09:37] fernandog commented on #589
@abeloin updated my above post with a possible solution for proxy

Before we merge to master is it possible to force backup to user DATA_DIR/backup - also add /backup to .gitignore - before every update? Auto or manual)

The main issues in develoop are the loop restart and PP issues (a lot) - but this one also happens in master I think.

[2015-02-25 10:52] TagForce commented on #697
@fernandog @rrd911
Try this commit: https://github.com/TagForce/SickRage/commit/08645eceb16abdb656bb2ee77a4ede2d5c5d8af6

Make sure you're on the latest develop branch (it was based on the develop branch that was current yesterday) before replacing the file.

[2015-02-25 10:58] Noktam opened #762 ""Change File Date" don't use the local timezone."
When i use the "Change file date" checkbox to change the date of the show according to airdate, it don't seems to use the local timezone.

[2015-02-25 11:07] Noktam opened #763 "[Feature Request] Get the anidb_id on the show api call"
Hi, can we get anidb_id returned on the show api call, like /api/1234/?cmd=show&tvdbid=79349 ?

[2015-02-25 11:15] Hellowlol commented on #231
@OmgImAlexis Its not, your using proxy_pass is http://sickrage/ while the guide and myself have the proxy_path http://ip:port/sickrage

[2015-02-25 11:17] OmgImAlexis commented on #231
Yeah that's the same thing. The one I'm using just references the section at the top.

[2015-02-25 11:17] TagForce commented on #690
@TehWardy result is an instance of the ProcessResult class with 2 attributes:
result: Boolean
output: String

Process_Dir and Process_media return a boolean: true if succesful, false if unsuccesful.
That gets entered into result.result (the boolean).
result.output is passed to the logger to have it log the actual error messages in the log.

Yeah, it's not the most intuitive var naming.

@fernandog

[2015-02-25 11:17] Hellowlol commented on #231
Tried dropping the last / in proxy_pass ?

[2015-02-25 11:18] Kallb123 commented on #690
@TagForce Sorry for the late reply, I fixed my issue by correcting permissions (and filesystem). So I can't provide feedback on the commit you pushed.

[2015-02-25 11:20] OmgImAlexis commented on #231
Same errors. I'll have a play around with it tomorrow and see if I can get the errors to go away. I have a feeling it's more to do with sickrage than nginx though.

[2015-02-25 11:20] Kallb123 commented on #690
@TagForce Maybe just try the main tv folder(s)? In most cases, permissions will be the same through the sub directories, right?

[2015-02-25 11:20] TagForce commented on #695
@djoole So basically what you're saying is:
Change the syncfile check into a filter, and perform postprocessing on set(videofiles) - set(syncfiles)?
That could work, I'll need to test that.

[2015-02-25 11:22] Hellowlol commented on #231
Ill drop my conf in a gist so you can compare when i get home from work.

[2015-02-25 11:24] mtosic commented on #718
I have similar behaviour for BTN

BRANCH: (master)
COMMIT: (2d8aad80cdfb8983832206af445039de0decded9)
Python Version: 2.7.8
OS: Windows 8.1

What I expected:
I've added BTN as search provider and I want following behavior when I add a show (to minimize number of torrents snatched):
1. Download season packs of previous seasons
2. Download individual episodes (up-to-date) of current season (if it's

[2015-02-25 11:25] joq3 commented on #231
Guys, I've setup a nginx redirect for both SickRage and CouchPotato, Sickrage gives me the above error. And Couchpotato gives me no images on the front page ( http://i.imgur.com/Qdhbsy3.png ) when accessing with nginx redirect, with port number it does work. I've set them up exactly the same. Maybe there is something missing?
I know this is the wrong thread, but can you also post you couchpotato n

[2015-02-25 11:28] OmgImAlexis opened #764 "Loads of different errors while using nginx proxy"

[2015-02-25 11:29] OmgImAlexis commented on #231
Let's move to a new issue.
https://github.com/SiCKRAGETV/sickrage-issues/issues/764

[2015-02-25 11:37] joq3 commented on #764
Great, hope we can solve this together.
First off, i too get this error:
2015-02-25 12:32:16 Thread-51 :: Failed doing webui callback: Traceback (most recent call last):
....

And with the same type of config for CouchPotato, I get this problem too http://i.imgur.com/Qdhbsy3.png
As soon as I access the webui with /couch instead of portno :5050 the images are gone. CouchPotato works fine, as SickRa

[2015-02-25 11:39] joq3 commented on #764
This is my redirect:

<code>location /couch/ {
        proxy_pass http://localhost:5050;
        proxy_set_header Host $host;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header X-NginX-Proxy true;
        proxy_redirect off;
}
</code>
Same thing for SickRage

[2015-02-25 11:44] djoole commented on #695
@TagForce exactly. This way, we wouldn't need anymore the option i added to disable postponing.

[2015-02-25 11:45] Hellowlol commented on #764
@joq3 Please note what settings you have set in sickrage regarding reverse proxy aswell

[2015-02-25 11:46] fernandog commented on #762
@abeloini issue or feature request?

[2015-02-25 11:48] joq3 commented on #764
location /sick/ {
        proxy_pass http://localhost:8081;
        proxy_set_header Host $host;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header X-NginX-Proxy true;
        proxy_redirect off;
}

It's the same settings, also set both SickRage and Couchpotato to Url Base /sick and /couch (in the webui set

[2015-02-25 11:49] fernandog commented on #718
@mtosic I think the season pack works when all episodes are already aired.

[2015-02-25 11:50] Hellowlol commented on #764
Well there are some option about reverse proxy headers etc in sickrage gui/ini file. I meant those.

[2015-02-25 11:51] fernandog commented on #718
@coolius can you confirm IPT don't do season search?

[2015-02-25 12:06] joq3 commented on #764
@Hellowlol
Do you mean this:

<script src="https://gist.github.com/joq3/d16d5802b42dbb4f91f6.js"></script>

[2015-02-25 12:12] coolius commented on #718
Forgive me, I don't have much experience with season searches but I can confirm that IPT (and TorrentDay) don't support partial searching so any search for eg "Arrow S03" returns nothing. The fallback option seems to work for me when doing a manual search.

[2015-02-25 12:36] Hellowlol commented on #764
Yes, thank you.

[2015-02-25 13:17] fernandog commented on #718
@abeloin
my suggestion is:
create a new config for each provider with (config only not UI)
iptorrents_season_enabled = 1 or 0

config_provider should read this config and disable the "Season search mode" radiobuttons using javascript

what do you think?

[2015-02-25 13:50] TagForce commented on #690
@Kallb123 'most cases' being the operative words... I'd rather fix it for all cases, than most cases. Either way, it seems like the post-processing needs some overhaulin' to get everything sorted.

[2015-02-25 14:07] fernandog commented on #690
@TagForce should we commit your unrar PR to master or wait this overhaulin' ?

[2015-02-25 14:08] Hellowlol commented on #764
@joq3 I just remember that i have hidden everything behind a HTPC-Manger... But ill play around some tonight and see if i reproduce your issues

[2015-02-25 14:12] TagForce commented on #589
@abeloin @fernandog There aren't that many PP issues. Only a couple of people complaining about PP telling them a file no longer exists (I've added extra checks so it catches those hopefully). And one that has issues searching for a show on the indexer (with a specific show that would indeed cause issues as there's 2 shows with the exact same name).

I think the number of issues in develop is fair

[2015-02-25 14:21] abeloin commented on #589
@fernandog Katproxy.com is an alternative url to kickass.to not a proxy so that won't work.

[2015-02-25 14:24] abeloin commented on #589
@fernandog How do we manage the backup on the backup folder? We keep only 1, 2, ... copies of the last backup?

[2015-02-25 14:31] fernandog commented on #589
@abeloin Is too complicate to keep adding backups with timestamp in the name?
I invited you to hangout (gmail). sent you and e-mail a few weeks ago
we can chat there

[2015-02-25 14:34] abeloin commented on #589
I don't have hangout, but let me check my email

[2015-02-25 14:52] abeloin commented on #589
@fernandog Sorry the gmail account you sent the email is for everything that is forums, website registration that I don't want on my main account which I don't look often. Sent you a test message on hangout with my main account

[2015-02-25 15:03] abeloin commented on #761
Logs please

[2015-02-25 15:06] neoatomic commented on #589
IMO No need for more than one backup. Let SR overwrite the previous backup.
(If you add more than one backup it will also take a lot of space over time as we backup the cache folder.)
Another idea might be to let users disable the update-auto-backup function.
If for any reason the backup function brakes the user wont be able to update SR, so with this users will be able to update if that happens..

[2015-02-25 15:11] mtosic commented on #718
What happens in this scenario:
1. Show is airing
2. Download season packs of previous seasons
3. Download individual episodes (up-to-date) of current season (if it's currently airing / not completed yet)

If I choose "episodes only" and "Season search fallback", will the result be:
1. Download individual series for aired seasons
2. Download season pack

[2015-02-25 15:11] fernandog commented on #589
Im RPI user (low power) take <60s to backup almost 100 shows

[2015-02-25 15:38] Noktam commented on #762
Or maybe it's the other way arround, it use the local timezone to store the timestamp of the file, when timestamp should be UTC time.
Anyway, a ls -l on system with GTM+1 for a video aired at 24/02 22h at New York should be listed as 25/02 07h.

[2015-02-25 16:03] suprdave23 opened #765 "[Errno 2] No such file or directory: u'D:\\Torrents\\Completed\\"
* Branch
BRANCH: (master)

* Commit hash
COMMIT: (2d8aad80cdfb8983832206af445039de0decded9)

* Your operating system and python version
Windows 7 x64, Python 2.7.8 (default, Jun 30 2014, 16:08:48) [MSC v.1500 64 bit (AMD64)]

* What you did
Ran manual post processing with "Force already Post Processed Dir/Files" and "Mark Dir/Files as priority download" checked. The video file that was in the "Com

[2015-02-25 16:05] scythe000 commented on #757
Sorry, I'm not very experienced with Git:

C:\Users\Administrator\Documents\GitHub\SickBeard-TVRage>git reset --hard upstre
am/master
fatal: ambiguous argument 'upstream/master': unknown revision or path not in the
 working tree.
Use '--' to separate paths from revisions, like this:
'git <command> [<revision>...] -- [<file>...]'

C:\Users\Administrator\Documents\GitHub\SickBeard-TVRage>

[2015-02-25 16:07] fernandog commented on #757
@scythe000

[code]

https://github.com/SiCKRAGETV/sickrage-issues

[2015-02-25 16:09] #765 closed

[2015-02-25 16:09] scythe000 commented on #757
Thanks,Thanks @fernandog!
C:\Users\Administrator\Documents\GitHub\SickBeard-TVRage>git remote add upstream
 https://github.com/SiCKRAGETV/SickRage.git
fatal: remote upstream already exists.

C:\Users\Administrator\Documents\GitHub\SickBeard-TVRage>git fetch upstream
From https://github.com/echel0n/SickRage
 * [new branch]      develop    -> upstream/develop
 * [new branch]      master     -> upstr

[2015-02-25 16:13] scythe000 commented on #757
Still doesn't seem to be working:

https://www.dropbox.com/s/rybgfnkrz5tit7v/sickrage.log?dl=0

[2015-02-25 16:14] fernandog commented on #765
@TagForce @abeloin will shutil copy fail if it has to move directory+file? shoudl'nt we use copytree?

[2015-02-25 16:16] tommehh commented on #761
http://pastebin.com/AKy7AW2d

[2015-02-25 16:16] fernandog commented on #765
@suprdave23 sickrage has enough permissions to write to that folder?

[2015-02-25 16:18] tommehh commented on #361
http://pastebin.com/AKy7AW2d

[2015-02-25 16:19] fernandog commented on #757
@scythe000 there's no error in your log

what's your search frequency?
[code]

[2015-02-25 16:21] scythe000 commented on #757
Daily search says 40 min.

[2015-02-25 16:23] suprdave23 commented on #765
Hi fernandog,

It does, the user the process is running as has full control over the D:\Torrents folder and all subfolders / files as well as the directory it is moving the files into (D:\TV Shows)

[2015-02-25 16:24] fernandog commented on #361
@tommehh
"2015-02-25 11:10:49 DEBUG    BACKLOG :: Nothing needs to be downloaded for Gotham, skipping"

can you send a print of this show page?

[2015-02-25 16:26] fernandog commented on #765
@suprdave23 this mkv is in which folder now?
D:\Torrents\Completed\ or D:\TV Shows\The Americans\ ?

can you send the print of the folders permissions/users?

[2015-02-25 16:26] tommehh commented on #361
![image](https://cloud.githubusercontent.com/assets/11189915/6374794/75ff0704-bd13-11e4-81e4-bc09d4d11224.png)

[2015-02-25 16:27] tommehh commented on #361
I also try to manually force the search, if that's what you want to know

[2015-02-25 16:27] fernandog commented on #361
@tommehh can you refresh the page (F5) ? it's strange that the WANTED is in pink. Should be red.

[2015-02-25 16:28] suprdave23 opened #766 "Email notification does not include "Date" header - Some email clients get confused and make the received date "12/31/1969""
Branch
BRANCH: (master)

Commit hash
COMMIT: (2d8aad80cdfb8983832206af445039de0decded9)

Your operating system and python version
Windows 7 x64, Python 2.7.8 (default, Jun 30 2014, 16:08:48) [MSC v.1500 64 bit (AMD64)]

What you did
Generated a test email message

What happened
Test email message was sent, however "Date" is not one of the headers SR sends the email with. As a result, some email cl

[2015-02-25 16:29] tommehh commented on #361
That's because right before the printscreen I forced a search, when I refresh all the eps are red

[2015-02-25 16:30] fernandog commented on #757
@scythe000 open ip:port/manage/manageSearches/ and check the botton info

you should see something like this:
[code]

post yours

[2015-02-25 16:31] TagForce commented on #765
@fernandog @abeloin I think I may have found the issue...
To fix the renamer, it also looks for associated files in the subfolders of whatever folder it is trying to rename files from. However, the same function is used for post processing...
This means that if it looks for associated files for any videofile in the root of the TV Download folder, it will also list files in its subfolders, which ar

[2015-02-25 16:31] scythe000 commented on #757
This?

28
Shows (
28
Active) |
2923
(
+10
snatched) /
2937
Episodes Downloaded | Daily Search:
0:18:18
| Backlog Search:
2/25/2015

[2015-02-25 16:32] fernandog commented on #361
@tommehh what is your wanted quality?

[2015-02-25 16:35] suprdave23 commented on #765
TV Download Dir is "D:\Torrents\Completed". Utorrent is configured to place finished downloads in that directory.

The configured location for "The Americans", and where post-processing is trying to move the file to is "D:\TV Shows\The Americans".

The video file existed in both areas, I chose the appropriate options (I thought) for overwriting the file via manual post processing.

Here's a permis

[2015-02-25 16:35] abeloin commented on #718
This should fix when searching manually: https://github.com/SiCKRAGETV/SickRage/blob/develop/sickbeard/search.py#L466
[code]

As for the the backlog, if you enable the fallback option it will switch depending on the search mode: https://github.com/SiCKRAGETV/SickRage/blob/develop/sickbeard/search.py#L466
[code]

Introdution season pack search Ref: https://github.com/SiCKRAGETV/SickRage/commit/e960

[2015-02-25 16:35] tommehh commented on #361
it was set on 720p but i don't really care about the quality, i just want to get the service working first.

Anyways, i put the wanted quality on "any" and had the same problem

[2015-02-25 16:35] fernandog commented on #757
your last backlog is running normal:
[code]

[2015-02-25 16:37] scythe000 commented on #757
It isn't finding anything, which it definitely should be as they are on both KAT and TPB, but mainly manual searches don't seem to do anything at all. I click the search icon, and it spins, but the log doesn't show anything happening.

[2015-02-25 16:38] fernandog commented on #765
how are you running SR? as "media" user?
this D:/ is a HDD or ftp or what?

[2015-02-25 16:40] tommehh commented on #361
Here is the log after I put the wanted quality on "Any" and searched for s01e11

2015-02-25 17:34:40 INFO     SEARCHQUEUE-MANUAL-274431 :: [KickAssTorrents] :: Performing episode search for Gotham
2015-02-25 17:34:40 DEBUG    SEARCHQUEUE-MANUAL-274431 :: [KickAssTorrents] :: Search string: https://kickass.to/usearch/Gotham+S01E11%7C1x11+category%3Atv/?field=seeders&sorder=desc&rss=1
2015-02-25 17:

[2015-02-25 16:41] fernandog commented on #361
@abeloin that apostrophe can cause problems when matching a result?

Gotham S01E11 Rogues Gallery vs Gotham S01E11 - Rogues' Gallery

[2015-02-25 16:42] fernandog commented on #757
@scythe000 to see some real action in log you must choose DEBUG in dropdown

[2015-02-25 16:45] fernandog commented on #757
the only thing that SR is looking for is star wars and could not find anything
you must chedk qualities of each show and the EP status. please check all that. it's not an issue
[code]

[2015-02-25 16:45] #757 closed

[2015-02-25 16:49] fernandog commented on #718
@abeloin if all episodes are aired and wanted (full season wanted) but user is manually searching for a single episode, then it's correct to use eponly. don't you think?

[2015-02-25 16:50] scythe000 commented on #757
I'm looking at the code window, so that's debug, i think. I did switch the log level to debug also, and still not seeing anything. No idea why it would only be looking for star wars, my backlog has 4 shows in it with missed episodes from this week.

I've been a user since SickBeard way, way back in the day. For all versions prior until just the last couple weeks, if i click that search icon, I see

[2015-02-25 16:54] fernandog commented on #757
Send a full print of a show that needs to be downloaded but in your opnion is not.

[2015-02-25 16:55] scythe000 commented on #757
Sorry, do you mean a screenshot?

[2015-02-25 16:55] abeloin commented on #718
@fernandog That is what the snippet of code does:
[code]

[2015-02-25 16:56] fernandog commented on #718
@abeloin so I misunderstood when you wrote "This should fix when searching manually:"

[2015-02-25 16:56] scythe000 commented on #757
![new bitmap image](https://cloud.githubusercontent.com/assets/1904522/6375478/38945208-bccc-11e4-9445-ad0ef27d2e6a.jpg)

[2015-02-25 16:56] fernandog commented on #757
yes

[2015-02-25 17:01] fernandog commented on #757
don't know what is happening. SR

your backlog says nothing needs to be downloaded
[code]

[2015-02-25 17:03] scythe000 commented on #757
Weird, right? It shows missing shows, but then skips trying to download them, plus manual search is broken.

[2015-02-25 17:06] fernandog commented on #757
cam you try backup your entire folder and re-install SR, add only these shows that are not working.
maybe a corrupt db. really can't tell

[2015-02-25 17:07] scythe000 commented on #757
Is there any way to test for corruption first?

[2015-02-25 17:08] scythe000 commented on #757
Plus, if the DB is corrupt, not sure a reinstall would fix that.

[2015-02-25 17:09] fernandog commented on #757
nope. install in another folder.. don't use the same DB but you can use the same config.ini

[2015-02-25 17:21] scythe000 commented on #757
So, i'd need to re-add all my shows?

[2015-02-25 17:22] fernandog commented on #757
as I said: "add only these shows that are not working." - not all. It's a TEST

[2015-02-25 17:23] abeloin commented on #718
@fernandog I think we are saying the same thing:
Searching manually meaning clicking on the hourglass to look specifically for that episode. If Season mode and fallback are enabled, no problem it will fallback to episode search after searching for season. The problem is if Season mode is enable but fallback isn't it will never find results for that specific episode because sickrage is expecting a

[2015-02-25 17:29] TagForce commented on #765
https://github.com/TagForce/SickRage/commit/b0133e5eb83ddbc95f8619feb24e72b0c1a4918d
Should fix it... If you're on the latest develop, just update those 3 files with the ones in the commit.

[2015-02-25 17:31] TagForce commented on #697
Scratch that... Use this one first:
https://github.com/TagForce/SickRage/commit/b0133e5eb83ddbc95f8619feb24e72b0c1a4918d

This may fix the underlying issue.

[2015-02-25 17:33] abeloin commented on #718
@fernandog For the backlog, i think we simply need to override the findSearchResults from generic to:
[code]
Or add self.supportsSearchMode in generic.py and add it to findSearchResults which would set search_mode to eponly and hides it from the webui

[2015-02-25 17:36] TagForce commented on #690
@TehWardy https://github.com/TagForce/SickRage/commit/b0133e5eb83ddbc95f8619feb24e72b0c1a4918d
This should fix all the errors with files not existing...

@fernandog Yes, you can commit that one, not a big change.
I have another one waiting to be tested that should be committed. The one in this post. In fact, that also fixes an issue where RAR file contents weren't deleted if process method was cop

[2015-02-25 17:42] suprdave23 commented on #765
@fernandog
Yes, SR is running as the "media" user. D: is a hard drive.

@TagForce
Thanks! I'm on whatever came out of the master branch, I'll see if I can figure out how to update to the develop branch and test post processing again.

[2015-02-25 17:43] fernandog commented on #690
@TagForce about the "[Errno 2] No such file or directory" error, is it possible to show if is permission or any other thing? It's hard to tell the actual way.

[2015-02-25 17:44] fernandog commented on #718
@abeloin whatever it's better. is it about this comment https://github.com/SiCKRAGETV/sickrage-issues/issues/718#issuecomment-75944721 ?

[2015-02-25 17:46] TagForce commented on #690
@fernandog Yes, I think @abeloin already did something similar a short while ago.

[2015-02-25 18:10] mtosic opened #767 "Prefer season packs but download individual episodes of current season (BTN)"
BRANCH: (master)
COMMIT: (2d8aad80cdfb8983832206af445039de0decded9)
Python Version: 2.7.8
OS: Windows 8.1

What I expected:
I've added BTN as search provider and I want following behavior when I add a show (to minimize number of torrents snatched):
1. Download season packs of previous seasons
2. Download individual episodes (up-to-date) of current season (if it's currently airing / not completed y

[2015-02-25 18:11] mtosic commented on #718
I opened a new issue with more information, from discussion I think it's not the same as this one.
Issue: https://github.com/SiCKRAGETV/sickrage-issues/issues/767

[2015-02-25 18:47] suprdave23 commented on #765
@TagForce Looks like it is working well now, the file is getting moved correctly, thank you for that!

I did notice though that at the end of the post processing run it says "Problems during processing", but the log is not showing any warnings or errors. Here's the pastebin link for the latest log: http://pastebin.com/aaJuRaRR

[2015-02-25 18:53] abeloin commented on #767
Please provide the debug log from sickrage.log.
In sickrage.log find this line `2015-02-25 18:51:59 INFO SEARCHQUEUE-BACKLOG-265912 :: FALLBACK EPISODE SEARCH INITIATED ...` and copy all the SEARCHQUEUE-BACKLOG-265912 into pastebin.

[2015-02-25 19:06] fernandog commented on #713
@felipesalomao

[2015-02-25 19:08] Alexwijn opened #768 "[Post processing] Remove leftovers"
When Sickrage is done post processing and he processed a torrent that has multiple files inside of it that are not videos files he will not delete those files. He only moves the video file.

Is it possible to have a setting to remove the entire folder and it contents after successfully moved the video file and that he sure there are no other video files left?

[2015-02-25 19:10] fernandog commented on #768
@TagForce your new PR does that, doesn't it?

[2015-02-25 19:20] Alexwijn opened #769 "Show not found when manual post processing"
I got the following error:

    2015-02-25 20:18:12 DEBUG    Thread-123 :: Trying to find agents of s h i e l d on TVRage
    2015-02-25 20:18:14 DEBUG    Thread-123 :: Unable to parse, skipping: Unable to parse Agents.of.S.H.I.E.L.D.S01E01-22.720p.WEB-DL.x264.AAC Agents.of.S.H.I.E.L.D.S01E21.Ragtag.720p.WEB-DL.x264.AAC
    2015-02-25 20:18:15 WARNING  Thread-123 :: This show isn't in your list, y

[2015-02-25 19:22] TagForce commented on #765
@suprdave23 Yes, that is something I'm still looking at. It also caused RAR contents not to be deleted.
Apparently some variable doesn't get set properly.

[2015-02-25 19:25] fernandog commented on #769
@Alexwijn add "Agents of S.H.I.E.L.D" to scene exceptions

[2015-02-25 19:28] mtosic commented on #767
Here is the pastebin:
http://pastebin.com/raw.php?i=mayBv0Zt

[2015-02-25 19:31] suprdave23 commented on #765
Okay no problem. Let me know once you believe you're fixed it and I'll be happy to test it again.

[2015-02-25 19:33] scythe000 commented on #757
ok, that fixed it. Now, when I click on the search icon, it looks for it. Should I import my config and db into this new version?

[2015-02-25 19:35] fernandog commented on #757
no. you may have a BAD db. Import only config.ini
unfortunately you will have to re-add all your shows.

[2015-02-25 19:35] Alexwijn commented on #769
Yeah, saw that option before. But I was getting scarred from the warning "This list overrides the original name, it doesn't append to it.". But I guess that won't be an issue since it will even return more result now.

[2015-02-25 19:35] #769 closed

[2015-02-25 19:39] abeloin commented on #767
There's no more line then that? You should have 'Search string' at least
[code]

[2015-02-25 19:44] mtosic commented on #767
No, that's all. I've set debug=1 in config.ini.
Do you want me to force backlog search?

[2015-02-25 19:45] abeloin commented on #767
Try it and send the logs

[2015-02-25 19:51] suprdave23 opened #770 "Manually setting shows back to "Wanted" status is not being handled by post-processing properly"
* Branch
BRANCH: (master)

* Commit hash
COMMIT: (2d8aad80cdfb8983832206af445039de0decded9)

* Your operating system and python version
Windows 7 x64, Python 2.7.8 (default, Jun 30 2014, 16:08:48) [MSC v.1500 64 bit (AMD64)]

* What you did
Manually set several episodes of a show back to "Wanted" status so that they would re-download.

* What happened
The torrents were grabbed successfully and dow

[2015-02-25 19:55] TagForce commented on #695
@djoole This is rapidly becoming more complicated...
Syncfiles are never videofiles (as videofiles have a video extension like .mkv, .avi, etc), so performing a process on set(videofiles) - set(syncfiles) will still result in syncfiles being post processed as part of the set of videofiles.

So your example above will already work (even without postpone switch on) as serie1.s01e02.mkv.!sync is not

[2015-02-25 19:58] mtosic commented on #767
Did it, here is the log, but can't see any new info.
http://pastebin.com/raw.php?i=TtwFtUZ4

[2015-02-25 20:14] scythe000 commented on #757
Thanks for all the help, looks like it's working fine now.

[2015-02-25 20:15] scythe000 commented on #757
I am getting a minor error on launch that says 'restore failed', but everything else seems to be fine.

[2015-02-25 20:18] fernandog commented on #757
delete /SickRage/restore folder

[2015-02-25 20:22] fernandog commented on #695
@TagForce listing all associated files we can add (in the future) another feature request that is ONLY PP videos with external subtitles (.srt) - for user who download subtitles using other modules like periscope

[2015-02-25 20:23] abeloin commented on #767
Do you have on log when btn was updated: 2015-02-25 20:51:51?

[2015-02-25 20:24] scythe000 commented on #757
done. thanks!

[2015-02-25 20:26] SpecialKeezie opened #771 "[APP SUBMITTED]: Connection error ('Connection aborted.', error(10054, 'An existing connection was forcibly closed by the remote host')) while loading URL http://services.tvrage.com/myfeeds/episode_list.php"
### INFO
Python Version: **2.7.9 (default, Dec 10 2014, 12:24:55) [MSC v.1500 32 bit (Intel)]**
Operating System: **Windows-8-6.2.9200**
Branch: **develop**
Commit: SiCKRAGETV/SickRage@7c6fe7fcbe9a8ccdb8d90a252f8680f2af7fa7ec
### ERROR
[code]
---
_STAFF NOTIFIED_: @SiCKRAGETV/owners @SiCKRAGETV/moderators

[2015-02-25 20:26] abeloin commented on #761
Can you provide branch and commit?

[2015-02-25 20:26] SpecialKeezie opened #772 "[APP SUBMITTED]: list.remove(x): x not in list"
### INFO
Python Version: **2.7.9 (default, Dec 10 2014, 12:24:55) [MSC v.1500 32 bit (Intel)]**
Operating System: **Windows-8-6.2.9200**
Branch: **develop**
Commit: SiCKRAGETV/SickRage@7c6fe7fcbe9a8ccdb8d90a252f8680f2af7fa7ec
Link to Log: https://gist.github.com/b8858167de02bd35bcfa
### ERROR
[code]
---
_STAFF NOTIFIED_: @SiCKRAGETV/owners @SiCKRAGETV/moderators

[2015-02-25 20:28] fernandog commented on #714
Server(services.tvrage.com) is overloaded

[2015-02-25 20:28] #714 closed

[2015-02-25 20:28] fernandog commented on #771
Server(services.tvrage.com) is overloaded

[2015-02-25 20:28] #771 closed

[2015-02-25 20:31] abeloin commented on #761
If you try this url do you see results?
https://kickass.to/usearch/Gotham+S01E11%7C1x11+category%3Atv/?field=seeders&sorder=desc&rss=1

[2015-02-25 20:33] mtosic commented on #767
Here it is: http://pastebin.com/raw.php?i=fihdEnmR
It seems like it wants to add random shows to cache.

[2015-02-25 20:33] fernandog commented on #742
@abeloin
what is the ex(e)?

[code]

can't we catch this error(10054) and show "Service is overloaded" ?
https://github.com/SiCKRAGETV/SickRage/blob/develop/sickbeard/metadata/generic.py#L770

[2015-02-25 20:35] fernandog commented on #761
@abeloin isn't the apostrophe (Rogues' Gallery) that is making SR not matching the result?

[2015-02-25 20:36] abeloin commented on #761
I don't think so as not getting any results at all.

[2015-02-25 20:38] djoole commented on #695
@TagForce you lost me there.. I understand in what you said the my exemple should already work as it is?
Because it's not, that's why I had to make an option to disable postpone in the first place.
SR stop PostProcessing as soon as there is a sync file in the download dir, no matter if there are also completed video files.

If it was behaving like you say, I would never have added this option..

S

[2015-02-25 20:40] abeloin commented on #690
@TagForce @fernandog Nope I don't think so and you wouldn't get an error 2 for a permission issue it would be 13.

[2015-02-25 20:43] abeloin commented on #767
Do you have backlog enable for btn?

[2015-02-25 20:44] abeloin commented on #767
That's normal it's the daily search

[2015-02-25 20:50] abeloin commented on #742
Have a look in sickbeard/exceptions.py#L21 is a function that return a unicode string from the error.
What we could do is log the message as warning and put the ex(e) as a debug message

[2015-02-25 20:50] tommehh commented on #761
im on master branch (but also tried dev, same results), fully updated.

the webpage gives no results, "webpage not available" , dont i need to setup a different proxy?

[2015-02-25 20:51] abeloin commented on #761
Activate a proxy in the search provider options as KAT is blocked where you live.

[2015-02-25 20:51] mtosic commented on #767
Yes. following is enabled for BTN search provider:
1. Enable daily searches
2. Enable backlog searches
3. Season search fallback
4. Season search mode: season packs only

[2015-02-25 21:04] bthusby commented on #732
Thanks! Fingers crossed for newest version of Subliminal :)

[2015-02-25 21:34] abeloin commented on #767
Can you add this in between line 130-131 of sickbeard/providers/btn.py and restart sickrage:
[code]
It will log every time a torrent is found.

[2015-02-25 21:54] mtosic commented on #767
Here you go: http://pastebin.com/raw.php?i=xUNnYkb2
I cannot find any line with "torrent found" for Helix series (id: 265912).

[2015-02-25 22:01] tommehh commented on #761
Thank you guys, setting 'http://katproxy.com' in KAT.py did the trick!
weird that i wasnt able to fix this earlier with a different proxy...

[2015-02-25 22:08] #761 closed

[2015-02-25 22:26] fernandog commented on #589
@abeloin
as you said above:
"It's possible, you would have to check the content of MainDB.py(MAX_DB_VERSION) on develop to see if it changed."

I did this:
[code]

to compare with MainDB.py(MAX_DB_VERSION)

[2015-02-25 23:24] scythe000 commented on #757
Getting a bunch of subtitle errors now:
2015-02-25 15:15:27 FINDSUBTITLES :: Error occurred when downloading subtitles: Traceback (most recent call last):
  File "c:\SickRage\sickbeard\tv.py", line 1399, in downloadSubtitles
    multi=sickbeard.SUBTITLES_MULTI, cache_dir=sickbeard.CACHE_DIR)
  File "c:\SickRage\lib\subliminal\api.py", line 95, in download_subtitles
    subtitles_by_video = list_su

[2015-02-25 23:39] mmazur519 commented on #770
Did the same thing and these are the errors I am getting in proccessing.

SR Version:	BRANCH: (develop) / COMMIT: (7c6fe7fcbe9a8ccdb8d90a252f8680f2af7fa7ec)

Error Log:
2015-02-25 17:38:48 POSTPROCESSER :: Exception generated in thread POSTPROCESSER: execv() arg 2 must contain only strings
2015-02-25 17:28:48 POSTPROCESSER :: Exception generated in thread POSTPROCESSER: execv() arg 2 must contain

[2015-02-25 23:43] mmazur519 opened #773 "[APP SUBMITTED]: execv() arg 2 must contain only strings"
### INFO
Python Version: **2.7.6 (default, Mar 22 2014, 22:59:56)
[GCC 4.8.2]**
Operating System: **Linux-3.13.0-45-generic-x86_64-with-Ubuntu-14.04-trusty**
Branch: **develop**
Commit: SiCKRAGETV/SickRage@7c6fe7fcbe9a8ccdb8d90a252f8680f2af7fa7ec
### ERROR
[code]
---
_STAFF NOTIFIED_: @SiCKRAGETV/owners @SiCKRAGETV/moderators

[code]

[2015-02-26 00:44] fernandog commented on #697
@rrd911 did you tried that?

[2015-02-26 00:46] fernandog commented on #581
https://github.com/SiCKRAGETV/SickRage/pull/1407

[2015-02-26 00:47] fernandog commented on #611
@abeloin lets merge it to develop?

[2015-02-26 00:48] fernandog commented on #690
@TehWardy did you tested TagForce/SickRage@b0133e5 ?

[2015-02-26 00:52] cwallace commented on #718
@mtosic this is the same behavior I'm seeing, but with IPT and SCC. Even if I have mode set to episode search and try to add a season which either 1) hasn't finished or 2) doesn't have a full season torrent available, Sickrage isn't searching for individual episodes. The only way I can get Sickrage to download in either of those two scenarios is to add each show individually.

[2015-02-26 01:43] heymoe opened #774 "[Feature Request] Stay on Show Page after clicking on "Update show in Kodi""
BRANCH: (develop) / COMMIT: (7c6fe7fcbe9a8ccdb8d90a252f8680f2af7fa7ec)
OS: Linux, Python 2.6

Feature Request:
If you're viewing a show managed by SickRage and you click on the "Update show in Kodi" toward the top right of the page, the page refreshes and takes you back to the "Show List" page (The page that shows you all of the shows that SickRage is managing).

It would seem to make more sense (

[2015-02-26 01:49] abeloin commented on #767
You need to force a backlog

[2015-02-26 02:01] abeloin commented on #589
@fernandog You the requests library instead.
[code]

[2015-02-26 02:05] abeloin commented on #757
Subtitle active without at least one language?

[2015-02-26 02:06] scythe000 commented on #757
I just checked, it’s set to English. I’ll try removing and re-adding it.

From: Alexandre Beloin [mailto:notifications@github.com]
Sent: Wednesday, February 25, 2015 6:06 PM
To: SiCKRAGETV/sickrage-issues
Cc: Kenneth May
Subject: Re: [sickrage-issues] SR Stopped searching for backlog (#757)

Subtitle active without at least one language?

—
Reply to this email directly or view it on GitHub<https:/

[2015-02-26 02:07] mtosic commented on #767
Did it: http://pastebin.com/raw.php?i=y5NUdGwd
Now I have torrents found, but seems like BTN is returning random shows.

[2015-02-26 02:07] abeloin commented on #611
Ok will merge it

[2015-02-26 02:07] scythe000 commented on #757
Wow, actually, it's been subtitling all day. Huh.

[2015-02-26 04:12] mtosic commented on #767
I think I've discovered what causes the problem.
I've written my first PHP program to test the provider :)

Also, I've added line to catch search params which are sent to BTN provider.
Here are the results:
http://pastebin.com/raw.php?i=WdU073fT

Problem is that sickrage is sending same parameters when it falls back on episode search.
Then nothing is found and nothing can be downloaded.

    2015-

[2015-02-26 05:14] Tsaukpaetra opened #775 "Type error in kodi.py"
Just in case this hasn't been noticed, the file /sickbeard/notifiers/kodi.py has a type error on line 400. It should read like so:

    logger.log(u"Unable to decode JSON: " + response.read(), logger.WARNING)

At the moment, it reads:

    logger.log(u"Unable to decode JSON: " + response, logger.WARNING)

This results in an error, because the variable response is apparently an "instance" and not a

[2015-02-26 07:37] abeloin commented on #767
Nice catch :smiley:
The issue is with the code in generic.py:
[code]
A custom findSearchResults() will need to be included in btn.

[2015-02-26 08:03] abeloin commented on #767
@mtosic Can you try applying this pull request https://github.com/SiCKRAGETV/SickRage/pull/1420 and try again?

[2015-02-26 08:35] abeloin commented on #762
It depend on the Time Zone setting in the User Interface section in the config. If it is set to local then it will be converted.
![Imgur](http://i.imgur.com/ExGxPRG.png)

[2015-02-26 09:13] TagForce commented on #768
@fernandog @Alexwijn No, mine does this only for files that are in a Rar file. Other files should already be deleted if process method is move. It does this the safest way possible, so files might get left.
I could add a "cleanup" option that deletes everything in the TV_DOWNLOAD folder when PP was successful.  But it's risky.

[2015-02-26 09:24] TagForce commented on #724
@TehWardy Can you update to the latest dev and see if it's fixed now?
Same goes for other PP issues you submitted. Test and let us know if it's fixed.

[2015-02-26 09:29] TagForce commented on #697
@rrd911
Update to the latest dev. The fix was merged.
Please let us know if it's fixed.

[2015-02-26 09:38] TagForce commented on #695
@djoole Yeah, I meant that the postpone if syncfile option turned off will work for you or anybody. It simply won't process syncfiles as videofiles, ever. The only issue with syncfiles can occur when it is an associated file. But checking for syncfiles there and then breaking out of the process run for that videofile is not as straightforward as I thought.

[2015-02-26 09:50] fernandog commented on #611
@pct00 update and report back

[2015-02-26 09:55] fernandog commented on #775
https://github.com/SiCKRAGETV/SickRage/pull/1371/files

[2015-02-26 09:55] #775 closed

[2015-02-26 09:56] fernandog commented on #775
update and report back

[2015-02-26 11:26] fernandog commented on #539
@rflagler please update and report back. fix was merged into develop

[2015-02-26 11:59] mtosic commented on #767
I'm not so experienced with Git.
Can you tell me what do I need to type in command line to apply that pull request?

[2015-02-26 12:02] fernandog commented on #767
@mtosic linux?
stop SR,
SSH
enter SickRage folder
wget --no-check-certificate https://github.com/SiCKRAGETV/SickRage/pull/1420.patch
patch -p1 <1420.patch
start SR
try to reproduce

[2015-02-26 12:20] fernandog commented on #589
@abeloin didn't tested. wrote in notepad++. Any suggestions?

[code]

[2015-02-26 12:21] mtosic commented on #767
its windows :)

[2015-02-26 12:23] fernandog commented on #767
@mtosic
stop SR
edit your /SickRage/sickbeard/providers/btn.py file, erase it contents and past this one:
https://raw.githubusercontent.com/abeloin/SickRage/patch-btn/sickbeard/providers/btn.py
save,
start SR

[2015-02-26 12:24] mtosic commented on #767
Yes, I know I can do it this way...I have git shell installed, that's how i pulled SickRage in first place.
Thought there is some git command to do it easily.

Will try this way and report results.

[2015-02-26 12:31] fernandog commented on #767
for windows I don't know. I tried once the patch command and it didn't worked

[2015-02-26 13:01] mtosic commented on #767
We have some progress, but it still doesn't work correcty.
I needed episodes 1-6 from season 2, but it only snatched the first one.

On force backlog it again searches only for first episode in season.
I've added params which are sent to torrent provider:
http://pastebin.com/raw.php?i=55KbbpjE

When it fallbacks on episode search, it always sends S02E01 param.

It seems like it doesn't search for

[2015-02-26 13:03] fernandog commented on #767
check you search settings and report the backlog search days value

[2015-02-26 13:05] mtosic commented on #767
Baclog search day is: 7.

[2015-02-26 13:07] fernandog commented on #767
change it to 30 and try again

[2015-02-26 13:11] mtosic commented on #767
Can I ask what does that value mean? Does it look for the airdate in backlog and snatches all with
"Wanted" and Airdate>=Today()-BacklogSearchDaySettings.

Cause it snatched episode from 16.1.2015, but it didn't snatch newer ones (last is on 20.2.2015).

[2015-02-26 13:12] fernandog commented on #767
can you check if BTN already have the 20.2.2015 ep available?

[2015-02-26 13:17] mtosic commented on #767
Picture says more then 1000 words:
![sr_helix](https://cloud.githubusercontent.com/assets/953687/6392547/0468899e-bdc2-11e4-9b1b-9a9f8eee4403.JPG)

It always searches for the first episode in season. I would say that backlog search setting does nothing here, because it snatched first and oldest episode from season, but it can't snatch 5 newer ones.

All are available on BTN.

[2015-02-26 13:27] fernandog commented on #767
send full logs after changing to 60 and the new code please

[2015-02-26 13:40] mtosic commented on #767
Changed it to 60, did a forced backlog search, behaviour is still the same.
Here is the log: http://pastebin.com/raw.php?i=NQpTp43X

[2015-02-26 13:41] abeloin commented on #589
Why not add a function getDBcompare(branch, branch) in class ConfigGeneral which return a json containing: {status: (equal|upgrade|downgrade)}. This way you can manage it via a javascript

[2015-02-26 13:52] TehWardy commented on #690
Yup ... looks good so far.
I did get a missing file error yesterday but I think that was my fault.

I haven't yet tried a file dump from my pc though which is what normally causes this issue.
I will have a crack at this later this evening when i'm back at my home pc.

[2015-02-26 14:14] abeloin commented on #767
@mtosic Can you put this into a file named `datadump.py` in Sickrage root, open a command line and run it via python `python.exe datadump.py` and give me the results.
[code]

[2015-02-26 14:15] fernandog commented on #589
Here? https://github.com/SiCKRAGETV/SickRage/blob/develop/sickbeard/webserve.py#L3464

[code]

[2015-02-26 14:37] abeloin commented on #589
Put it under branchCheckout instead of configGeneral:
https://github.com/SiCKRAGETV/SickRage/blob/develop/sickbeard/webserve.py#L1081
[code]

[2015-02-26 14:46] abeloin commented on #589
Updated previous comment to proper status

[2015-02-26 14:53] abeloin commented on #231
@freddysmith1 @falcon15500 @OmgImAlexis @joq3 @Hellowlol Can you try this PR: https://github.com/SiCKRAGETV/SickRage/pull/1419 ?

[2015-02-26 14:53] abeloin commented on #764
Can you try this PR: SiCKRAGETV/SickRage#1419 ?

[2015-02-26 14:55] mjccox opened #776 "fatal: bad config file line 1 in .git/config"
Sickrage is great! ... super stable and never fails!.... almost....

Getting this error all the time... Any way to fix it?

CHECKVERSION :: git symbolic-ref -q HEAD returned : fatal: bad config file line 1 in .git/config

[2015-02-26 15:21] abeloin commented on #776
Your git config file is corrupted. If you have a backup of that file you can replace it if not you will to clone sickrage again.

See google: https://www.google.ca/search?q=fatal:+bad+config+file+line+1+in+.git/config for more info.

[2015-02-26 15:22] #776 closed

[2015-02-26 15:28] Tsaukpaetra commented on #775
Oh I didn't realize this was in the develop branch. That does work.  ;)

[2015-02-26 15:47] suprdave23 opened #777 "Manually modified scene numbering is not being used for searches"
This is on the latest develop branch that I pulled yesterday. I don't have commit number as my config was restored :)

I have the show "19 kids and counting" added to my show list. I updated the scene numbering for s15e01 to "10x1" as this is the actual numbering being used on KAT. The show has "Scene numbering" checked. However backlog searches and manual searches are not using this numbering, so

[2015-02-26 15:50] fernandog commented on #777
FULL log please

[2015-02-26 15:58] TagForce commented on #690
@TehWardy Please test using only the newest develop release... The fix was merged into it (along with an option to add your own syncfile extensions, so if you want to add .tmp files as files that should stop PP, you now can).

[2015-02-26 16:06] suprdave23 commented on #777
@fernandog  In the process of setting debug to 1 in my config and starting SR back up, it searched the right episode numbering this time and grabbed it. I could see in the debug output the search string was looking for my modified scene number this time.

It looks like changing scene numbers requires a restart of SR?

If you still want the log I can grab it for you, didn't include it on this reply

[2015-02-26 16:09] fernandog commented on #777
don't know.  no need if your issue is resolved

[2015-02-26 16:15] mtosic commented on #767
I wrote exactly the same helper script yesterday in Visual Studio (I'm C#/.NET dev, so I don't have much exp with python).

Result is empty, which is expected, because that season is airing (not finished yet).
Do you want me to try with some other params?

[2015-02-26 16:18] fernandog commented on #349
@raymondtrueman are you on linux?

 can you try this commit ?

stop SR,
SSH
enter SickRage directory
wget --no-check-certificate https://github.com/SiCKRAGETV/SickRage/pull/1413.patch
patch -p1 <1413.patch
start SR
test

[2015-02-26 16:31] scythe000 commented on #757
Still generating a ton of errors, though. Should I make a new ticket?

[2015-02-26 16:33] fernandog commented on #757
yes. follow guidelines: https://github.com/SiCKRAGETV/sickrage-issues/

[2015-02-26 16:38] abeloin commented on #777
@suprdave23 Can you test this PR: https://github.com/SiCKRAGETV/SickRage/pull/1422

[2015-02-26 16:41] scythe000 opened #778 "subtitle errors after fresh install"
Running on Windows Server 2012. I had to reinstall, and followed the tutorial to a T:
BRANCH: (master) / COMMIT: (2d8aad80cdfb8983832206af445039de0decded9)

Getting these errors constantly, although subtitling seems to be working:

[code]
Here's the log:

http://pastebin.com/8X3g7PUD

[2015-02-26 16:48] fernandog commented on #778
send a print of your subtitle settings

[2015-02-26 16:50] raymondtrueman commented on #349
@fernandog I tried it on my Synology NAS but it seems it doesnt support the patch command or Im doing it wrong...

/volume1/@appstore/sickbeard-custom/var/SickBeard$ patch -p1 <1413.patch
/bin/sh: patch: not found

[2015-02-26 16:50] scythe000 commented on #778
![screenshot 2015-02-26 08 49 39](https://cloud.githubusercontent.com/assets/1904522/6396655/8a6b0770-bd94-11e4-8ce7-5f321880b41b.png)

[2015-02-26 16:53] fernandog commented on #349
try:
/usr/bin/patch

[2015-02-26 16:53] abeloin commented on #767
Ok, can you try replacing btn.py with this copy:
https://raw.githubusercontent.com/abeloin/SickRage/patch-btn/sickbeard/providers/btn.py

[2015-02-26 16:55] fernandog commented on #778
@scythe000 which plugins are enabled?

[2015-02-26 16:56] scythe000 commented on #778
Tvsubtitles and Opensubtitles.

[2015-02-26 16:58] fernandog commented on #778
@abeloin do you know whats wrong?

[2015-02-26 17:15] abeloin commented on #778
@scythe000 Can you show me the content of The Simpsons' season 4?

`Downloading subtitles for episode 4x3 of show The Simpsons`

[2015-02-26 17:20] scythe000 commented on #778
![screenshot 2015-02-26 09 20 02](https://cloud.githubusercontent.com/assets/1904522/6397326/c0625348-bd98-11e4-8677-256c248cc371.png)

[2015-02-26 17:39] abeloin commented on #778
Sorry I meant the content on the hard drive from Windows Explorer.

[2015-02-26 17:43] abeloin commented on #773
Can you provide the logs where it show what the post process is trying to process?

[2015-02-26 17:44] scythe000 commented on #778
![new bitmap image](https://cloud.githubusercontent.com/assets/1904522/6397774/0f88071c-bd9c-11e4-9cce-9df5a235e2ea.jpg)

[2015-02-26 17:50] mtosic commented on #767
It works now, congrats and thank you so much!

P.S. if you need any dev help, I could maybe contribute, just need to pick up python syntax a bit :)

[2015-02-26 18:12] TehWardy commented on #690
Ok according to SR im already running the latest version of the dev  branch ... no updates available.
So I would say so far all is looking good.

[2015-02-26 18:14] abeloin commented on #778
What is the fullname for S04E03 as I can see it completely in the screenshot?

[2015-02-26 18:16] abeloin commented on #767
You are welcome to submit some pull request anytime you want.

@fernandog I will post the PR later on.

[2015-02-26 18:22] scythe000 commented on #778
Simpsons 04x03 - Homer the Heretic [rl-dvd].ogm

[2015-02-26 18:35] abeloin commented on #778
Ok can you update your screenshot so that I can see all the filename?

[2015-02-26 18:36] scythe000 commented on #778
![new bitmap image 2](https://cloud.githubusercontent.com/assets/1904522/6398852/5b7fb122-bda3-11e4-8789-c9490ce733ef.jpg)

[2015-02-26 18:41] fernandog commented on #589
here the new code:

now how to ask user what to do if the result is upgrade?
about downgrade, it can't, can it? we must not allow it. correct?

[code]

and the result in log
[code]

[2015-02-26 18:42] abeloin commented on #778
Can you try renaming the file `Simpsons 04x03 - Homer the Heretic [rl-dvd].ogm` to `Simpsons 04x03 - Homer the Heretic [rl].ogm`, do a rescan in the show and retry the subtiles?

[2015-02-26 18:44] abeloin commented on #589
Shouldn't allow downgrade. Have a look in the js file with the name starting with ajax they contain some code that you can use. (Hint: $.getJSON)

[2015-02-26 18:45] scythe000 commented on #778
ok, did that and got this:

10:44:31 INFO::SHOWQUEUE-REFRESH :: Performing refresh on The Simpsons
10:44:31 INFO::SHOWQUEUE-REFRESH :: 71663: Loading all episodes from the show di
rectory E:\TV Series\The Simpsons
10:44:54 ERROR::SHOWQUEUE-REFRESH :: 71663: Could not refresh subtitles
Traceback (most recent call last):
  File "c:\SickRage\sickbeard\tv.py", line 445, in loadEpisodesFromDir
    curE

[2015-02-26 18:48] pct00 opened #779 "[APP SUBMITTED]: 'charmap' codec can't decode byte 0x9d in position 35: character maps to <undefined>"
### INFO
Python Version: **2.7.8 (default, Jun 30 2014, 16:03:49) [MSC v.1500 32 bit (Intel)]**
Operating System: **Windows-7-6.1.7601-SP1**
Branch: **develop**
Commit: SiCKRAGETV/SickRage@fdd1f63bdbf007df87943f9776ac9b80cc8e3353
### ERROR
[code]
---
_STAFF NOTIFIED_: @SiCKRAGETV/owners @SiCKRAGETV/moderators

[2015-02-26 18:52] abeloin commented on #778
Can you check in the "The Simpsons" folder and all subfolder for subtitle files and check that the last 2 2 letters before the dot are en(en.srt)

[2015-02-26 18:54] scythe000 commented on #778
Yes, all srt files in that folder end in en.srt

[2015-02-26 19:30] suprdave23 commented on #25
I just ran into this issue (or a very similar one) as well. Downloading The Biggest Loser, it found the torrents fine, but the video files themselves are named strangely (tblhdtvx264s10e01.mp4 for example), so as a result post processing fails as it can't figure out what show that's for.

There should be some extra smarts where SR processes the torrent file itself to see what the resulting video n

[2015-02-26 19:33] abeloin commented on #589
[code]

[2015-02-26 19:36] abeloin commented on #778
@TagForce Have you ever seen this?

[2015-02-26 19:37] abeloin commented on #767
PR done

[2015-02-26 19:41] raymondtrueman commented on #349
Nope, still not

[2015-02-26 19:58] abeloin commented on #779
One of your show as this [”](http://www.charbase.com/201d-unicode-right-double-quotation-mark) in their name.

[2015-02-26 20:03] abeloin commented on #779
filtered = val.decode('utf-8').encode('ascii', 'xmlcharrefreplace')

[2015-02-26 20:48] #386 closed

[2015-02-26 21:16] pct00 commented on #779
@abeloin seems to have fixed it, before i wasnt able to open the show page, however when trying to make the rescan or update a new error is shown on console but not logged. want me to open a separate issue for it ?

21:14:09 DEBUG::SHOWQUEUE-REFRESH :: Parsed C:\Users\Pedro\Desktop\-ANIME\One Piece\One Piece - 000 - SD TV - .avi into One Piece - ENone [A
BS: [0]] [ANIME VER: 1] [ABD: False] [ANIME

[2015-02-26 21:19] pct00 commented on #743
also have this problem
it only happens sometimes, i guess when the log file is in use but SR tries to rotate it

i only use python for sickrage and only torrents

[2015-02-26 22:40] suprdave23 commented on #777
@abeloin Thanks for the update! I pulled it down and ti seems to be doing fine. Will reply back on this ticket if I notice this problem any further

[2015-02-26 23:18] abeloin commented on #779
@pct00 The error is because your episode number is 0 and should be > 0

[2015-02-26 23:21] abeloin commented on #743
@pct00 When it will happen check if there 2 sickrages process

[2015-02-26 23:34] OmgImAlexis opened #780 "Scene exception not working"
I have the show "Forever (US)" and all the episodes I'm trying to process are called Forever without the US in the title. I've added ``forever`` to the scene exceptions for the show and I still can't process the files.

[code]

[2015-02-26 23:39] OmgImAlexis commented on #337
@fernandog Where would I be looking to try and add this in?

[2015-02-27 00:20] abeloin commented on #718
@cwallace Can you test this PR https://github.com/SiCKRAGETV/SickRage/pull/1424 ?

[2015-02-27 00:25] abeloin commented on #718
@cwallace Can you test this PR https://github.com/SiCKRAGETV/SickRage/pull/1425 ?

[2015-02-27 00:27] abeloin commented on #778
@scythe000 Can you try switching to develop branch?

[2015-02-27 00:29] scythe000 commented on #778
Sure thing. How do I do that? :-)

[2015-02-27 00:30] abeloin commented on #772
Need more info.

[2015-02-27 00:32] scythe000 commented on #778
Do I just "git checkout develop"?

[2015-02-27 00:58] Etheral opened #781 "[Feature Request] moving "complete" and ended shows to a separate section."
so I have a few shows in sick rage that have ended and I have all the episodes for and some that I don't. would it be possible to have a separate section at the bottom (like with anime) that shows that have ended and have all episodes downloaded are moved to? it would make glancing over shows to check things a bit faster.

I know I could remove them but if a show gets a reboot/optioned I don't wan

[2015-02-27 01:04] abeloin commented on #778
Or in the Web ui in config -> general -> Advanced setting. Choose develop and click Checkout

[2015-02-27 01:06] scythe000 commented on #778
Wow, that's awesome. Also I can set the portable git path, which is nice because it changes every few months.

[2015-02-27 01:07] abeloin commented on #655
Tested and working:
1. `rm -rf lib/requests`
2. `git reset --hard origin/master`
3. `python SickBread --nolauch`

[2015-02-27 01:08] scythe000 commented on #778
It sees 5 updates, but I get this:
`2015-02-26 17:05:37 CHECKVERSION :: "C:\Users\Administrator\AppData\Local\GitHub\PortableGit_c2ba306e536fdf878271f7fe636a147ff37326ad\libexec\git-core\git.exe" pull -f origin develop returned : fatal: 'pull' appears to be a git command, but we were not
able to execute it. Maybe git-pull is broken?`

[2015-02-27 01:10] abeloin commented on #778
Did you set the `Git executable path` underneath to your git executable?

[2015-02-27 01:12] scythe000 commented on #778
Yep: C:\Users\Administrator\AppData\Local\GitHub\PortableGit_c2ba306e536fdf878271f7fe636a147ff37326ad\libexec\git-core\git.exe

matches C:\Users\Administrator\AppData\Local\GitHub\PortableGit_c2ba306e536fdf878271f7fe636a147ff37326ad\libexec\git-core\git.exe

[2015-02-27 01:15] scythe000 commented on #778
I've got Git in my system path, so I tried deleting the path from SR. It finds Git at the same path, but gives the same error.

[2015-02-27 01:20] abeloin commented on #778
It would seem your git install is broken.

[2015-02-27 01:21] scythe000 commented on #778
It's freshly installed as of last night. I'll run a manual pull.

[2015-02-27 01:24] scythe000 commented on #778
ok:
`C:\>cd SickRage

C:\SickRage>git pull
Updating fdd1f63..edb337f
Fast-forward
 sickbeard/providers/btn.py   | 203 +++++++++++++++++++++++++++++++++++++++++++
 sickbeard/scene_numbering.py |   5 ++
 2 files changed, 208 insertions(+)

C:\SickRage>,

[2015-02-27 01:25] abeloin commented on #778
Maybe it's because you use the portable version?

[2015-02-27 01:25] abeloin commented on #778
`git checkout develop`
restart sickrage

[2015-02-27 01:26] abeloin commented on #766
PR pushed

[2015-02-27 01:27] scythe000 commented on #778
Done. Error on launch is
`2015-02-26 17:27:27 FINDSUBTITLES :: Error occurred when downloading subtitles: expected string or buffer`

[2015-02-27 01:30] abeloin commented on #778
Are you comfortable with using the pdb to debug the issue?

[2015-02-27 01:30] scythe000 commented on #778
I'm happy to learn!

[2015-02-27 01:31] scythe000 commented on #778
However I can help out the project, I'll do it, haha.

[2015-02-27 01:32] scythe000 commented on #778
I'm also open to setting up a remote session, if that's easier for you.

[2015-02-27 01:47] abeloin commented on #778
It is not that complicated, you need to launch sickrage manually from the command line.

* Insert `import pdb; pdb.set_trace()` in between line 74-75 of c:\SickRage\lib\subliminal\subtitles.py:
[code]
* Launch sickrage in a command line:
`python SickBeard.py --nolaunch -q`

* On the command line, you should see something like this after it start to find subtitle:
[code]
Now the fun part:
* Type `p

[2015-02-27 01:49] abeloin commented on #778
If you have too much difficulty, will setup a team viewer session.

[2015-02-27 01:58] scythe000 commented on #778
Not sure if I'm doing it right

`C:\SickRage>python SickBeard.py --nolaunch -q

-> language = Language(subtitle.language, strict=False)
(Pdb) p path
u'E:\\TV Series\\The Simpsons\\Simpsons Season 04 - Complete [rl]\\Simpsons 04x0
3 - Homer the Heretic [rl].ogm'
(Pdb) p subtitle.language
None
(Pdb) c
`

[2015-02-27 01:59] scythe000 commented on #778
just gave me the Cheetah warning...

[2015-02-27 02:02] scythe000 commented on #778
Seems to just be sitting there

[2015-02-27 02:05] abeloin commented on #778
ok let me check

[2015-02-27 02:08] cvockrodt commented on #337
in /sickbeard/clients/ there are .py files for each client (utorrent, transmission, etc.) so I think the meat of the put.io client stuff should also go there.

For reference, and I know couchpotato is a little different, but here is couchpotato's main.py for put.io
https://github.com/RuudBurger/CouchPotatoServer/blob/master/couchpotato/core/downloaders/putio/main.py

[2015-02-27 02:12] abeloin commented on #778
`CTRL-C` to terminate
Instead of pressing c, press n until you see again:
[code]
then
Type p path
Wait until the -> is shown again.
Type p subtitle.language

[2015-02-27 02:14] scythe000 commented on #778
Ok, ctrl-c killed everything. I'll follow the steps and press n instead of c.

[2015-02-27 02:16] scythe000 commented on #778
How's this?
`C:\SickRage>python SickBeard.py --nolaunch -q

-> language = Language(subtitle.language, strict=False)
(Pdb) p path
u'E:\\TV Series\\The Simpsons\\Simpsons Season 04 - Complete [rl]\\Simpsons 04x0
3 - Homer the Heretic [rl].ogm'
(Pdb) p subtitle.language
None
(Pdb) n
TypeError: 'expected string or buffer'

-> language = Language(subtitle.language, strict=False)
(Pdb) p path
u'E:\\TV S

[2015-02-27 02:16] scythe000 commented on #778
I think it thinks no language is set.

[2015-02-27 02:21] abeloin commented on #778
Ok I think it's trying to extract the language for the ogm, give me a sec I'm checking the code

[2015-02-27 02:23] abeloin commented on #778
Is their a subtitle inside `E:\\TV Series\\The Simpsons\\Simpsons Season 04 - Complete [rl]\\Simpsons 04x03 - Homer the Heretic [rl].ogm`?

[2015-02-27 02:25] scythe000 commented on #778
Aha, yes VLC says 3 tracks.

[2015-02-27 02:30] abeloin commented on #778
Can you get a report of those track from vlc or MediaInfo

[2015-02-27 02:32] abeloin commented on #693
Closed for no answer

[2015-02-27 02:32] #693 closed

[2015-02-27 02:32] scythe000 commented on #778
![new bitmap image](https://cloud.githubusercontent.com/assets/1904522/6406454/dbdd8384-bde5-11e4-98f9-d655b34484f0.jpg)

[2015-02-27 02:37] abeloin commented on #778
It would seem there's no language defined

[2015-02-27 02:38] scythe000 commented on #778
So...poorly coded OGM file is making SR throw errors?

[2015-02-27 02:40] scythe000 commented on #778
I'm just finishing up at a training conference at Microsoft's Irvine HQ...gotta run for now, but I'll be home in about 3 hours or so, and can t/s further.

[2015-02-27 02:42] abeloin commented on #778
It's the subliminal library

[2015-02-27 02:44] scythe000 commented on #778
Got it. So, not much we can do, other then raise a bug over on their github, right?

Sent from my iPhone

On Feb 26, 2015, at 6:43 PM, Alexandre Beloin <notifications@github.com<mailto:notifications@github.com>> wrote:

It's the subliminal library

—
Reply to this email directly or view it on GitHub<https://github.com/SiCKRAGETV/sickrage-issues/issues/778#issuecomment-76321164>.

[2015-02-27 02:47] abeloin commented on #778
Not really an option as we are using a very old version, and their new version is a complete rewrite which is incompatible with the old one. Someone is in the process of adapting sickrage to the new version. So for the time being subliminal fixes are done internally

[2015-02-27 02:48] scythe000 commented on #778
Well, I'm glad I was able to help us get to the bottom of this! Sorry it was so much trouble :-)

Sent from my iPhone

On Feb 26, 2015, at 6:47 PM, Alexandre Beloin <notifications@github.com<mailto:notifications@github.com>> wrote:

Not really an option as we are using a very old version, and their new version is a complete rewrite which is incompatible with the old one. Someone is in the process

[2015-02-27 02:57] Noktam commented on #762
The date of a file should not be converted, a timestamp is always UTC time.
So it's usefull on the calendar to see the date of the next episode in your local time, but if you change the date of the file using local timezone, for me on GTM+1, it will set a file date that's few hours before the show actually aired.

[2015-02-27 03:39] abeloin commented on #762
Timestamp maybe saved in UTC but they are displayed in your timezone GMT+1. When Python change the ctime and mtime it save them as GMT+1 which your OS then convert to UTC(NTFS and Linux but not FAT). This way applications don't need to be time zone aware.

In this case, when you set the timezone to local Sickrage take the station time zone and your time zone, add or subtract the difference and upd

[2015-02-27 04:22] Noktam commented on #762
Ok. I'm a little confuse, so i admit i could be wrong but i find awkward than on my system, an ls on a file where the date was modified by sickrage show me the date in the station time zone not mine, even if my timezone is set to local on sickrage.

To give a practical exemple :
My system is on Central European time.
( date +%Z give me CET )

Sickrage timezone is set to local.
On my sickrage calen

[2015-02-27 04:27] cptjhmiller commented on #655
It does work. I checked for the creation of the urllib3/util/ not if it would start, I did try later and found that this folder is not used in the master branch. Goto busy with other things and forgot to post back, sorry.

[2015-02-27 04:47] abeloin commented on #778
Can you test this PR https://github.com/SiCKRAGETV/SickRage/pull/1427 ?

[2015-02-27 04:48] abeloin commented on #655
Thanks

[2015-02-27 04:48] #655 closed

[2015-02-27 05:06] abeloin commented on #762
Mmm, better call saul is not a good example since I'm on the same time zone.

Dia no Ace works for me 2015-02-15 8:30 GMT-9
[code]

Let me recheck the code

[2015-02-27 05:10] suprdave23 commented on #766
Thanks, works well!  I really appreciate the fast turn around times!

[2015-02-27 05:10] #766 closed

[2015-02-27 05:10] scythe000 commented on #778
Manually edit the file? Or can I pull this patch with git?

[2015-02-27 05:13] scythe000 commented on #778
Hey found something else, found 8 subtitles appeared in my sickrage folder
![new bitmap image](https://cloud.githubusercontent.com/assets/1904522/6407788/5aed5ecc-bdfc-11e4-9e7e-1d5850a44a21.jpg)

[2015-02-27 05:18] scythe000 commented on #778
I just edited the .py file manually. Looks like that did it!

I did just get this error:

'2015-02-26 21:16:55 CHECKVERSION :: git fetch origin returned : fatal: unable to access 'https://github.com/SiCKRAGETV/SickRage.git/': Could not resolve host: github.com
2015-02-26 21:16:55 CHECKVERSION :: Unable to contact github, can't check for update'

[2015-02-27 05:18] scythe000 commented on #778
But no subtitle errors!

[2015-02-27 05:21] Noktam commented on #762
Thanks for looking at it, i have the same problem with ace of Diamond.
Ace of diamond is 8h30 on tokyo time (so GTM+9) right ?
http://www.tv-tokyo.co.jp.e.ck.hp.transer.com/program/detail/22856_201503010830.html

 ls -l
 Feb 15 08:30 [HorribleSubs].Ace.of.Diamond.-.69.[480p].mkv

stat "[HorribleSubs].Ace.of.Diamond.-.69.[480p].mkv"
  File: `[HorribleSubs].Ace.of.Diamond.-.69.[480p].mkv'
  Size: 15

[2015-02-27 06:30] abeloin commented on #762
Can you try this PR https://github.com/SiCKRAGETV/SickRage/pull/1428 ?

I found out why it was working on my test setup, it wasn't it in reality as I forced the date from network time to local system wide to debug a bug in another issue and I forgot to remove it and this is why I was under the impression it was working.

[2015-02-27 06:36] abeloin commented on #778
Looking at the time stamp it was earlier today that happened before you switch to develop which include a fix for that. You can remove those files.

DNS error temporairy on your side

Good

[2015-02-27 06:37] abeloin commented on #778
For ref: ogm File Structure:
[code]

[2015-02-27 07:00] jiBYo opened #782 "[APP SUBMITTED]: Cannot find attribute 'contentrating'"
### INFO
Python Version: **2.7.8 (default, Jun 30 2014, 16:08:48) [MSC v.1500 64 bit (AMD64)]**
Operating System: **Windows-8-6.2.9200**
Branch: **master**
Commit: SiCKRAGETV/SickRage@2d8aad80cdfb8983832206af445039de0decded9
Link to Log: https://gist.github.com/59ce9b04b36496aafc05
### ERROR
[code]
---
_STAFF NOTIFIED_: @SiCKRAGETV/owners @SiCKRAGETV/moderators

[2015-02-27 07:54] pct00 commented on #779
i have several episodes 0 because SR messed up the postprocessing and renaming

solution is delete them manually?
the previous behaviour was SR recognized them as additional episodes for the show/season and created new entries on them

[2015-02-27 09:04] Nibeck1309 commented on #642
Hello,

I have the same problem.
I used SickRage on Raspberry Pi B and I used Raspbian OS

my SickRage configuration

SR Version:	 BRANCH: (develop) / COMMIT: (9226ae9ad5ba58499f69968da524f0873427f455)
SR Config file:	/media/media/Config_Files/sickrage/config.ini
SR Database file:	/media/media/Config_Files/sickrage/sickbeard.db
SR Cache Dir:	/media/media/Config_Files/sickrage/cache
SR Arguments:	[

[2015-02-27 11:21] TagForce commented on #512
@fernandog @abeloin Now that develop is becoming more and more stable, and there's only a couple of issues left that need attention, I'm going to start development of this feature request.

My idea for the first version is a new thread (DownloadFlowCheck) which does the following:
- check the episode list for episodes set to snatched
- look up the date for the snatch in the history db
- if the dat

[2015-02-27 11:24] fernandog commented on #512
@TagForce @abeloin what if PP is disabled? We must separete failed feature from PP. Otherwise we can't do failed via API or manually via displayshow. Set manually as failed should trigger the add the failed release to failed.db and snatch another one.

[2015-02-27 11:34] TagForce commented on #512
@fernandog Failed download has nothing to do with PP. And you can of course turn this option off entirely, much like subtitle downloads (it simply will only be scheduled if StaleDownloads is true).

Failed downloads only work on episode statusses. If you set an episode to failed, it will add the download to the failed.db and simply set the status back to Wanted, or snatched if it can immediately f

[2015-02-27 11:37] fernandog commented on #512
@TagForce to me it's confusing as failed is inside PP settings. If you are sure it's PP independent we should create a new tab called "Failed downloads" - to add this new FR settings too

there's a lot of people that don't use PP and have all eps as snatched and not downloaded. This should be opt-in. default off.

[2015-02-27 11:45] TagForce commented on #512
@fernandog It is a part of a PP run, but it has no bearing on the actual post processing... I'm not checking failed downloads, I'm only checking stale downloads (that never finish downloading, so are never PP'd)

Failed Downloads only checks for folders that start with _UNDERSIZED_ or _FAILED_.
My check will only check those for which this condition is not true.

[2015-02-27 11:49] fernandog commented on #512
@TagForce as a user who don't user PP, can I enabled "failed" but not PP? if I mark manually as failed in displayshow, will it add to failed.db and try to snatch another release?

[2015-02-27 11:56] tutti21 opened #783 "Anime Searching: Do Not Work"
Hello,

I'm on the:

SR Version: 	BRANCH: (develop) / COMMIT: (9226ae9ad5ba58499f69968da524f0873427f455)
SR Config file:	/var/db/sickrage/config.ini
SR Database file:	/var/db/sickrage/sickbeard.db
SR Cache Dir:	/var/db/sickrage/cache
SR Arguments:	['--datadir', '/var/db/sickrage', '-d', '--pidfile', '/var/run/sickrage/sickrage.pid', '-q', '--nolaunch']
SR Web Root:
Python Version:	2.7.8 (default,

[2015-02-27 12:02] TagForce commented on #512
@fernandog Yes, that should work. Marking as failed does not use any part of the PP process.

[2015-02-27 12:06] fernandog commented on #512
so cant we duplicate this setting or create a sub group inside PP tab? like github settings

[2015-02-27 12:12] TagForce commented on #512
@fernandog We could, but wouldn't it be overkill to add a new section for 2 checkboxes?
If you imagine Failed Download handling as the automatic handling of failed downloads (from SabNZBd, no other clients as far as I know) then it should be part of PP, as the validateDir routine is called within a PP run and that checks for failed download folders. The unfortunate part is that the same setting al

[2015-02-27 12:15] tutti21 commented on #405
I would like this feature too, that I can select a default subgroup or so.

[2015-02-27 12:21] moust4ki opened #784 "Restore impossible"
Hello,

SR Version:	BRANCH: (develop) / COMMIT: (9226ae9ad5ba58499f69968da524f0873427f455)
Python Version:	2.7.8 (default, Dec 12 2014, 20:09:05) [GCC 4.6.4]

I was on Dev branch because of the T411 bug, and I wanted to switch back to master.
I backed up my settings and changed my branch.
For some reason it crashed and I had to reinstall my SickRage install on my Synology.
After that I tried to re

[2015-02-27 12:22] fernandog commented on #784
Refresh the page

[2015-02-27 12:24] moust4ki commented on #784
I end up on an empty show list...

[2015-02-27 12:25] fernandog commented on #784
Click the gear, select backup/restore

[2015-02-27 12:28] moust4ki commented on #784
Thats what i'm doing.
I tried to full reinstall but I end on up on the same thing:
No restore at all:

0 Shows (0 Active) | 0 / 0 Episodes Downloaded | Daily Search: 0:31:20 | Backlog Search: 02/27/2015

[2015-02-27 12:41] abeloin commented on #784
@moust4ki You did your backup in develop? If so there were some changes in the backup mechanism on the develop that aren't on the master branch. You will have to manually move the file from the restore folder and delete that folder.

[2015-02-27 12:44] TagForce commented on #562
Closing this Feature request, as it is in the process of being fixed in here: https://github.com/SiCKRAGETV/sickrage-issues/issues/695

Changing the syncfiles detection and handling will automatically implement this feature request.

[2015-02-27 12:44] #562 closed

[2015-02-27 12:45] moust4ki commented on #784
I tried to do 3 things that all failed:

Install a dev branch and restore my dev backup
Install a master branch and restore my dev backup
Install a master branch and restore my dev backup but changing the branch in the backup's config.ini to master

All failed and I ended up on a spinning wheel of death ! :lollipop:

To manually restore I need to connect in SSH to my Syno and restore to the same f

[2015-02-27 12:48] fernandog commented on #784
Restore to the same folder as in zip. Overwrite.
and delete restore folder inside SR

[2015-02-27 12:50] moust4ki commented on #784
Ok thanks I will try when I get back home as SSH is blocked at work..
Is there a way to have Synology filesystem inside DSM (the Diskstation webinterface)?

Thanks

[2015-02-27 13:02] abeloin commented on #783
Is anime and scene numbering checked in the show's settings?

[2015-02-27 13:06] abeloin commented on #779
I'll look in the other issues but I remember seeing something about disabling episode 0 because it conflicted with air date regex.

[2015-02-27 13:14] neoatomic commented on #784
Use WinSCP for restoring the files. http://winscp.net/

```Note: Synology users can use WinSCP to gain access/browse to the root where the Sickrage log is located. /volume1/@appstore/sickbeard-custom/var/Logs/sickrage.log ```

[2015-02-27 13:18] moust4ki commented on #784
Thanks for all the help... I'm locked out:
When i'm connecting via SFTP I can only connect with my admin account but not root so I can't see @appstore...
Does anyone has a clue on how to connect to it?

[2015-02-27 13:23] neoatomic commented on #784
Did you enable SSH in the DSM.?
And are you using WinSCP.? And with protocol SCP.?

[2015-02-27 13:32] moust4ki commented on #784
Thank you VERY MUCH!
So I managed to connect and overwrite the file via WinSCP, protocope SCP (SFTP does not work)
Before that I tried many SFTP/SSH client and none worked!

However I can tell you that there is definetly a bug with the restore as I was completely unable to restore my backup, even with reinstalling numerous time SickRage...

Thanks again and have a great day :+1:

[2015-02-27 13:34] moust4ki commented on #784
Ok i spoke a bit to fast.. Here are what I have in my logs now:

2015-02-27 15:32:08 SEARCHQUEUE-BACKLOG-73762 :: Failed to parsing KickAssTorrents Traceback: Traceback (most recent call last):
  File "/volume1/@appstore/sickbeard-custom/var/SickBeard/sickbeard/providers/kat.py", line 235, in _doSearch
    entries = self.cache.getRSSFeed(searchURL)['entries']
  File "/volume1/@appstore/sickbeard-c

[2015-02-27 13:36] TagForce commented on #780
@OmgImAlexis Scene exceptions are only used for downloading. Matching downloaded shows to a show in your DB is done through the cache or the indexer (if cache doesn't return a show).

It should tell you it's searching for the show Forever on the indexers in the logs.
However, Forever is a difficult show (there've been more issues with it) as it exists as more than one show. I'll add it to my test

[2015-02-27 13:46] abeloin commented on #784
Make sure the restored files permissions are set to the user running sickrage

[2015-02-27 13:48] moust4ki commented on #784
@abeloin How coud I do that?
I'm logged as root on winscp: The only thing I know how to is to change permissions via right click on the files. and change the R W X parameters

[2015-02-27 13:52] neoatomic commented on #784
Did you shutdown Sickrage in the DSM before you overwrite the files.? Otherwise they are overwritten again if Sickrage shuts down.

Can it be that sickbeard.db is missing in your directory ?

[2015-02-27 13:54] moust4ki commented on #784
Yes I shut it down BEFORE copying the files.
I copied from the backup;
cache/
cache.db
config.ini
failed.db
sickbeard.db

As @abeloin stated I also think it is related to permissions as the error is

Would it work if i change all copied item's permissions to 0666 ?

[2015-02-27 13:55] neoatomic commented on #784
Check what owner is behind the file. is it Root or Sickbear.?

[2015-02-27 13:56] moust4ki commented on #784
Sickbeard.db

Group: root
Owner: sickbeard
Permissions 0644

[2015-02-27 14:00] moust4ki commented on #784
![snap 2015-02-27 at 15 00 17](https://cloud.githubusercontent.com/assets/10527028/6413589/6cd8f73c-be91-11e4-97af-01ff7ad58258.jpg)

[2015-02-27 14:10] neoatomic commented on #784
Should work. Did you try to restart the Synology.?

[2015-02-27 14:15] neoatomic commented on #784
I just read you did make the backup on Develop and are trying to restore it on Master.?
Its possible that some changes where made on Develop but not yet on Master, so that might cause an error.

[2015-02-27 14:17] abeloin commented on #784
@moust4ki Stop sickrage, and make sure no python process run. Change the permission to 666 on sickbeard.db then restart sickrage. If you don't see the error anymore it's permission issue.

[2015-02-27 14:18] moust4ki commented on #784
Yes, I restored my dev backup over master as I understood it would be ok.
After reboot, same prob.

I will fully uninstall sickrage, resinstall the dev, and restore backup to see if it works.

[2015-02-27 14:23] fernandog commented on #512
@TagForce
just enabled failed downloads, set manually as failed
Don't worked. Downloaded the same release. Failed db is 4096 bytes

all my /config/postProcessing/ settings are empty or disabled

**WARNING: Episode not found in history. Setting it back to WANTED**
DEBUG logs are related about about this history/failed

[code]

[2015-02-27 14:25] moust4ki commented on #784
@abeloin Still have errors, will reinstall the dev and get back.

[2015-02-27 14:29] tutti21 commented on #783
Hello,

yes anime was checked and scene numbering was unchecked in the log obove

now the log with anime and scene numering on

[code]

[2015-02-27 14:33] abeloin commented on #778
PR merged

[2015-02-27 14:33] #778 closed

[2015-02-27 14:59] abeloin commented on #783
Your using tvrage as the indexer? That's a limitation of the indexer, you need to fill in the scene absolute number as they are not populated automatically, they are all zero. Season 1 = 1 to 25 and season 2 = 1 to 25. After that it will find the episode. Also you should add the fansub group you want in the editShow page.

If you switch to thetvdb for this show it will populate these field automat

[2015-02-27 15:09] tutti21 commented on #783
OK didn't know that woth tvrage. With thetvdb it works dine as you say. I have set the fansub group to horriblesubs but for testing and error finding I set it to any//any and hope that in the future we can set a global subpgroup for animes so we dont need to set it on any by hand.

But great and fast support from you thx a lot.

[2015-02-27 15:09] #783 closed

[2015-02-27 15:24] moust4ki commented on #784
I reinstalled the develop branch, copied via WinSCP the backup files and here is the same error...
I'm getting crazy!
[code]

[2015-02-27 15:35] neoatomic commented on #784
Remove all files that you have restored. except config.ini and sickbeard.db.

[2015-02-27 15:43] moust4ki commented on #784
Cannot restart it after deleting all the files except Sickbeard.db and config.ini
![snap 2015-02-27 at 16 43 11](https://cloud.githubusercontent.com/assets/10527028/6415501/ccf11ba0-be9f-11e4-93d7-d8062316a2ae.jpg)

[2015-02-27 15:58] neoatomic commented on #784
Hope you did not misread my comment. ?
Not remove all Sickbeard files but only those you restored so the cache folder cache.db etc...

[2015-02-27 15:59] TagForce commented on #780
@OmgImAlexis It looks like the SearchIndexerForShowID function is broken, and never returns a showObj... It couldn't get values for seriesname and series_id, and then only returned it when the seriesname was exactly like the name we're searching.

I'm testing a fix now.

[2015-02-27 16:02] moust4ki commented on #784
Yeah yeah I did what you asked: remove all COPIED files except the Sickbeard.db and config.ini.
I think I managed to get something by another time reinstalling sickrage, starting it, stopping it, copying the 2 files, and then restarting it.
At the moment (started 2 min ago) no error but some warning about files (.mkv) not present in the show list, and no images at all (cache is building...)
Will u

[2015-02-27 17:04] mcteo opened #785 "Title Permutations including Episode Names"
Hey. First off, SickRage is awesome. Great Work!

I was looking through the logs trying to debug a separate issue with providers (and some providers blocked by my ISP), and saw that SickRage tends to try different permutations of the file name, often including the episode name itself. Since I have rarely seen any uploaders that use the actual individual episode name, I think these requests might b

[2015-02-27 17:08] suprdave23 opened #786 "[Feature Request] Choose torrent with highest seeders/peers"
Feature request.

Super frustrating to have a torrent that has 400 seeders, but have SR choose to grab the one with 3!

[2015-02-27 17:16] neoatomic commented on #786
![naamloos](https://cloud.githubusercontent.com/assets/7928052/6417275/b79cb70c-beac-11e4-9101-1e69650c12d2.jpg)

[2015-02-27 17:19] suprdave23 commented on #786
Hi neoatomic,

Thanks but this isn't the same thing.

If I am searching the backlog for an old episode, 2 torrents could come up, one with 1 seeder and 1 with 5. If I had the minimum seeders at "10" in order to ensure when new episodes come out it grabs an active one, it wouldn't find either of them.

SR should have all of the information regarding how many seeders/leechers a torrent has. It shoul

[2015-02-27 17:55] TagForce commented on #782
@fernandog @abeloin It seems like the Mede8ter metadata creator wants to fill out a contentrating attribute, but tvrage doesn't supply one. I'm experiencing the same issue on my testrig when testing a fix to https://github.com/SiCKRAGETV/sickrage-issues/issues/780

[2015-02-27 18:29] TagForce commented on #780
@OmgImAlexis @abeloin https://github.com/SiCKRAGETV/SickRage/pull/1431 should fix this issue.

[2015-02-27 18:30] TagForce commented on #782
@abeloin @jiBYo https://github.com/SiCKRAGETV/SickRage/pull/1430 fixes this issue.

[2015-02-27 18:31] fernandog commented on #786
@suprdave23 maybe that one is trusted/verified. SR order search result by seeders

[2015-02-27 18:32] TagForce commented on #512
@fernandog An episode needs to be in the history table for it to be marked as bad. I see the setting it back to Wanted as well at times.

[2015-02-27 18:35] fernandog commented on #512
@TagForce but that episode is!

![1](https://cloud.githubusercontent.com/assets/2620870/6418730/3012ecd6-be96-11e4-994d-e6eead151b00.png)

or it's a different table?

[2015-02-27 18:41] TagForce commented on #512
Is there anything under manage - Failed Downloads?

[2015-02-27 18:44] fernandog commented on #512
@TagForce nothing. empty table

[2015-02-27 18:46] fernandog commented on #512
@TagForce i thinkg the PP that get's the bad release and provider and insert into failed.db

[2015-02-27 18:48] pct00 commented on #781
+1

[2015-02-27 18:55] pct00 commented on #743
@abeloin was able to force this behaviour with a mass update.
only 1 process running

![image](https://cloud.githubusercontent.com/assets/10249098/6419076/2df330ca-beb2-11e4-92ef-cdf3db7887b4.png)

[2015-02-27 18:58] pct00 commented on #743
additional info
only 2 log files on SR logs dir when it happens, and the sickrage.log stops growing

![image](https://cloud.githubusercontent.com/assets/10249098/6419115/8279e4ea-beb2-11e4-8ee5-e27f8722937c.png)

[2015-02-27 18:59] fernandog commented on #743
@abeloin maybe it's the log rotation as you said. could be it. can you check the creation timestamp of the log and compare with te error in CMD?

[2015-02-27 19:12] suprdave23 commented on #786
@fernandog I have "Confirmed download" *unchecked* in all of my provider options.

As an example, I enabled "Any" for the quality for Duck Dynasty. I then manually searched (clicked the magnifying glass icon) s07e01. It chose to download "Duck.Dynasty.S07E01.720p.HDTV.x264-KILLERS[rartv]" which was the second highest one with seeders, not the first.

The URL it says it was using to search is: http

[2015-02-27 19:17] fernandog commented on #786
which one should be downloaded in your opinion?

[2015-02-27 19:18] suprdave23 commented on #786
@fernandog The one that had the most seeds, "Duck Dynasty.S07E01.Glory is the Reward of Mallard.mp4 (HDTV 1080)".

I see now in the logs it couldn't parse "HDTV 1080" as a quality, and flagged it as "Unknown". That might be the reason why it didn't choose it, however if that's the case "Any" quality really should mean "I don't care about the quality, just choose the one that has the most seeds".

[2015-02-27 19:20] fernandog commented on #786
[code]

the torrent does not have the proper naming convention

the others results:
[code]

[2015-02-27 19:21] suprdave23 commented on #786
Right. However "Any" quality really should mean "I don't care about the quality, just choose the one that has the most seeds". Unknown quality shouldn't be a factor in that case in my opinion.

[2015-02-27 19:22] fernandog commented on #786
ANY quality is different from UNKNOWN. Any quality should be from 480p to 1080. Unknown is nothing!

[2015-02-27 19:26] suprdave23 commented on #786
Okay. Is there an option for allowing Unknown qualities then? If there's a lot of seeders on a file, it's clear it's a legit file that plays. Failure to parse a quality string should not equal "ignore the file".

[2015-02-27 19:29] fernandog commented on #786
downloading unknown you can get a lot of fakes

[2015-02-27 19:35] suprdave23 commented on #786
Understandable, but unlikely for older episodes.

I did see that "Unknown" is a quality you can select in "Custom" quality settings. So, I chose "Custom", selected every single quality including "Unknown", and repeated the search. It still ignored that episode that has the most seeds and went with the next one that it could parse the quality settings for.

I believe I have found a bug. Even with "

[2015-02-27 19:37] rrd911 commented on #697
So far I have not seen the error in the logs again since updating to the latest dev

[2015-02-27 19:37] fernandog commented on #786
full LOGs again please

@abeloin cache related too?

[2015-02-27 19:39] #697 closed

[2015-02-27 19:40] suprdave23 commented on #786
Logs: http://pastebin.com/t60GNZiH

[2015-02-27 19:40] #777 closed

[2015-02-27 19:41] fernandog commented on #767
@mtosic please update and report back

[2015-02-27 19:41] #690 closed

[2015-02-27 19:42] #724 closed

[2015-02-27 19:43] #349 closed

[2015-02-27 20:05] fernandog commented on #589
@abeloin so I put this JS in a file called ajaxupdatecheck.js,

and in def branchCheckout we call and url:
[code]

and the JS will catch this URL?

[2015-02-27 20:18] fernandog commented on #609
@abeloin I can confirm it's a user/pass issue:

don't work:
http://localhost:8081/home/is_alive/?callback=jQuery ....bunch of number

work:
http://user:pass@localhost:8081/home/is_alive/?callback=jQuery ....bunch of number
jQuery111205912409231532365_1425068147201({"msg": "19748"});

[2015-02-27 20:36] SwordX04 opened #787 "[APP SUBMITTED]: execv() arg 2 must contain only strings"
### INFO
Python Version: **2.7.3 (default, Dec 27 2013, 16:05:18)
[GCC 4.6.3]**
Operating System: **Linux-3.4.26-i686-with-glibc2.3**
Branch: **develop**
Commit: SiCKRAGETV/SickRage@35ff96e54cb9c4efc7c6d204fc8bdc1ca58ec04e
Link to Log: https://gist.github.com/fe6a9e6814d4f771a3fd
### ERROR
[code]
---
_STAFF NOTIFIED_: @SiCKRAGETV/owners @SiCKRAGETV/moderators

[2015-02-27 20:44] raymondtrueman commented on #349
@fernandog  Ok, so I guess you discarded the changes you made and this won't get fixed?

[2015-02-27 21:14] fernandog commented on #349
Security issues. Will be removed in the future this feature

[2015-02-27 23:12] fernandog commented on #25
@Th3MadHatter can you try this commit?
https://github.com/SiCKRAGETV/SickRage/pull/1431

[2015-02-27 23:14] fernandog commented on #44
wait until subliminal gets updated
https://github.com/SiCKRAGETV/sickrage-issues/issues/680

[2015-02-27 23:21] #44 closed

[2015-02-27 23:23] fernandog commented on #743
@pct00 ?

[2015-02-27 23:26] fernandog commented on #627
@TagForce your new PR fixes this too?

[2015-02-27 23:27] fernandog commented on #627
https://github.com/SiCKRAGETV/SickRage/pull/1417

[2015-02-27 23:27] fernandog commented on #627
@bitzorro can update develop and try again?

[2015-02-27 23:30] fernandog commented on #706
@TehWardy still an issue?

[2015-02-27 23:30] fernandog commented on #772
@SpecialKeezie reply please or will close

[2015-02-27 23:31] fernandog commented on #773
@mmazur519 reply please or we will close

[2015-02-28 00:43] Noktam opened #788 "Feature request : Require words per show"
It could be a nice addition for show we don't want to see in english.
For exemple, even if i see most show in english, i prefer the french version of south park.
If you could add a Require words per show that overide the global ignore list (because, yeah, most of the time i want to ignore french result), it could be nice.

[2015-02-28 01:10] Noktam commented on #788
After thinking a little about that, there is maybe an other way to do that : If you use a "Scene Exception" with words on ignore list, that will not trigger the exclusion.

[2015-02-28 01:16] #788 closed

[2015-02-28 06:10] abeloin commented on #780
PR Merged

[2015-02-28 06:29] abeloin commented on #743
@pct00 Can you check the open handle on sickrage.log

Use one of the tools used in the q/a here http://serverfault.com/questions/1966/how-do-you-find-what-process-is-holding-a-file-open-in-windows

* Process explorer
* handle
* openfiles
* unlocker

[2015-02-28 08:11] moust4ki commented on #784
So, it seems that i'm back to my original situation:
After restoring the config.ini and sickbeard.db on a clean Develop version I seems to be back to before my try to go back to master.
However I have a problem with House of cards as it is widely present over my selected providers but Sickrage do not snatch it. I had to manually add it to transmission.
I will see how it goes with a different tv sh

[2015-02-28 08:47] TehWardy commented on #706
I haven't seen it since applying the parse fix from #707 #708 bugs ...

Maybe my theory was correct and this information was just related to that.

Lets close this and if it comes back I can always report it again hopefully with a bit more detail on the problem.

[2015-02-28 08:47] #706 closed

[2015-02-28 08:49] SwordX04 opened #789 "[APP SUBMITTED]: execv() arg 2 must contain only strings"
### INFO
Python Version: **2.7.3 (default, Dec 27 2013, 16:05:18)
[GCC 4.6.3]**
Operating System: **Linux-3.4.26-i686-with-glibc2.3**
Branch: **develop**
Commit: SiCKRAGETV/SickRage@e3bd4dba929146619f3325c14a4cb0f0a4c60ca8
Link to Log: https://gist.github.com/0acf1071f70fc83485c7
### ERROR
[code]
---
_STAFF NOTIFIED_: @SiCKRAGETV/owners @SiCKRAGETV/moderators

[2015-02-28 10:35] #773 closed

[2015-02-28 10:37] fernandog commented on #787
@Tagforce

[2015-02-28 12:09] #784 closed

[2015-02-28 12:10] #695 closed

[2015-02-28 12:10] fernandog commented on #747
@abeloin cache problems?

[2015-02-28 12:11] #670 closed

[2015-02-28 12:14] fernandog commented on #642
disable auto update show at startup.backlog search at startup and subtitle module is the best solution.
I'm using RPI and not getting any problems.

[2015-02-28 12:14] #642 closed

[2015-02-28 12:15] #362 closed

[2015-02-28 12:16] #402 closed

[2015-02-28 12:17] #508 closed

[2015-02-28 12:17] #452 closed

[2015-02-28 12:18] fernandog commented on #575
it uses rageid for NZB.

[2015-02-28 12:18] #575 closed

[2015-02-28 12:20] #123 closed

[2015-02-28 12:21] fernandog commented on #232
@abeloin what do you think about this?

[2015-02-28 12:30] #455 closed

[2015-02-28 12:32] fernandog commented on #376
@TagForce thoughts?

[2015-02-28 12:35] #789 closed

[2015-02-28 12:38] fernandog commented on #726
what's the meaning of thie folder ?C:\Users\chris\Sick-Beard-ThePirateBay\sr-update ?

please clone sickrage and don't re-use "Sick-Beard-ThePirateBay" folder

[2015-02-28 12:38] #726 closed

[2015-02-28 12:38] #691 closed

[2015-02-28 12:39] #647 closed

[2015-02-28 12:39] fernandog commented on #647
no reply

[2015-02-28 12:40] fernandog commented on #589
9 issues left:
https://github.com/SiCKRAGETV/sickrage-issues/issues?q=is%3Aopen+is%3Aissue+-label%3A%221%3A+Feature+request%22+-label%3A%221%3A+Support+%2F+question%22+-label%3A%223%3A+Fix%22+

the others there FIX waiting to feedback!
nice!

[2015-02-28 13:07] Nibeck1309 commented on #642
thanks fernandog for this configuration option.
You used dev or master version ?

[2015-02-28 13:09] fernandog commented on #642
Dev

[2015-02-28 13:29] Nibeck1309 commented on #642
thanks

[2015-02-28 13:29] TiagoDM opened #790 "[APP SUBMITTED]: 'str' object does not support item assignment"
### INFO
Python Version: **2.7.8 (default, Jun 30 2014, 16:08:48) [MSC v.1500 64 bit (AMD64)]**
Operating System: **Windows-8-6.2.9200**
Branch: **develop**
Commit: SiCKRAGETV/SickRage@e3bd4dba929146619f3325c14a4cb0f0a4c60ca8
### ERROR
[code]
---
_STAFF NOTIFIED_: @SiCKRAGETV/owners @SiCKRAGETV/moderators

[2015-02-28 14:10] fernandog commented on #772
@TagForce is a real issue or something user did wrong?

[2015-02-28 14:47] ofirda commented on #691
Hi

I am out on a business trip

Please keep issue as open and I will attach full log once I am back

Thanks

On Saturday, February 28, 2015, Fernando <notifications@github.com> wrote:

--
Best,
OfirD

[2015-02-28 15:41] abeloin commented on #589
@fernandog No it will need tho be merged with the existing on in config.js:
[code]
which will result in this:
[code]

[2015-02-28 15:58] abeloin commented on #232
@fernandog Why not simply execute the following command before starting the update:
[code]
this way we aborting all threads(waiting for them to finish), save the db, update then restart.

[2015-02-28 16:09] abeloin commented on #747
From log:
[code]

[2015-02-28 16:15] Rouzax commented on #747
Just to be clear what I did was the following.
* TV show was set to HD TV
* Episodes downloaded as expected in 720p
* I decided I would rather have the 1080p in the future so I changed the setting to 1080p HD TV
* Started a manual search for a previously downloaded 720p episode
* SickRage tells me no valid download is found as can be seen in the log above.
* When I set the episode back to wanted i

[2015-02-28 16:19] abeloin commented on #747
@fernandog It's because of this commit: https://github.com/SiCKRAGETV/SickRage/commit/8b3f431ae1fd687b629896a4476b6af0308e60c2#diff-28cfafa47039ed0a3b3f6be8687d0811

[2015-02-28 16:26] abeloin commented on #787
My guess is that the cp subprocess is unable to convert the é in série.

You could try PR https://github.com/SiCKRAGETV/SickRage/pull/1308

[2015-02-28 16:27] abeloin commented on #404
This is fixed with PR https://github.com/SiCKRAGETV/SickRage/pull/1419

[2015-02-28 16:29] abeloin commented on #404
PR merged in develop

[2015-02-28 17:06] fernandog commented on #404
@eXistenZNL please update and report back

[2015-02-28 17:09] fernandog commented on #747
@abeloin I don't think so. first he downloaded 720p and changed to 1080p. I guess as SR knows there were a previous initial download and no archive setting, it wont download

[2015-02-28 17:14] fernandog commented on #232
@abeloin hald the thread will make it re-start from where it stopped? or SR will update everything all over again? For example: updated 90 shows from 100. new update available > restart > update will start from show 1, not 90

[2015-02-28 17:26] Rouzax commented on #747
No after the change it did not download a 1080p version when I did a manual search. Only after setting the episode back to wanted did it pick up the 1080p.

[2015-02-28 17:28] abeloin commented on #232
Start over as there is no notion of pausing thread in sickrage

[2015-02-28 17:30] fernandog commented on #232
or abort update an wait next update check as first post. same for PP

[2015-02-28 17:30] fernandog commented on #747
so cache wasn't update, isnt @abeloin ?

[2015-02-28 17:34] SwordX04 commented on #787
@abeloin Thanks, I replace 'é' by 'e' for my folder's name and it's fine.

[2015-02-28 17:41] abeloin commented on #747
The issue is that with the commit previously mentioned it remove one of the "hook" which result in not being picked by any if hence the issue.

It the same issue we discussed last time, see https://github.com/SiCKRAGETV/sickrage-issues/issues/652#issuecomment-75115710 for ref

[2015-02-28 17:41] fernandog commented on #589
@abeloin when I click "checkout", page change to http://localhost:8081/home/branchCheckout?branch=develop and nothing happen. maybe some JS error. chrome develop tools show nothing

[2015-02-28 17:43] fernandog commented on #747
but if he changed to 1080p and did a manual search, the new quality is higher than the previous one (720p) and SR should search for that.

[2015-02-28 17:55] freddysmith1 commented on #781
+1

[2015-02-28 18:16] abeloin commented on #747
Which is what the commit disable did, read the comment in code:
[code]

[2015-02-28 18:22] abeloin commented on #747
It would download the episode if quality Archive was set but if you don't use the archive feature it will never download it.

[2015-02-28 18:29] abeloin commented on #232
Then you should limit your check to dailySearchStatus and autoPostProcesserStatus as the other one aren't that long.

[2015-02-28 18:36] abeloin commented on #589
Just tried it and works here

[2015-02-28 18:39] abeloin commented on #589
See commit: https://github.com/abeloin/SickRage/commit/c4a0068a7598a01d15ee41963b0181c9847eceaa

[2015-02-28 18:41] abeloin commented on #787
@SwordX04 PR SiCKRAGETV/SickRage#1308 should fix this when it will be merged

[2015-02-28 18:43] SpecialKeezie commented on #772
i'll be completely honest here, i didn't mean to submit this. i was checking error logs and must have accidentally pressed the submit button. i'm not sure why this error came up or what i was doing immediately before it happened. it has not come up again. i apologize

[2015-02-28 18:59] #772 closed

[2015-02-28 20:05] egmaf opened #791 "Add New Show - Continually Loading..."
In short: After adding a new show (new or existing), the show list shows "(loading) | Loading... (tv_shows_deault_folder\tv_show_name)" for this show. All previously added shows are in the list as they should be, all future added show have the problem.

I am on BRANCH: (master) / COMMIT: (2d8aad80cdfb8983832206af445039de0decded9),
running Python Version: 2.7.3 (default, Apr 10 2012, 23:24:47) [MSC

[2015-02-28 20:16] TagForce commented on #376
Simple fix... Comment out lines 35 through 39 in autoPostProcessor.py.

However... This makes your TV Download folder part of the SickRage folder structure... If something fails you'd have to remove the entire SickRage folder for it to clone again, including the location where your downloads went.

Relative paths are supported, but not really a good idea.

[2015-02-28 20:32] #376 closed

[2015-03-01 00:15] abeloin commented on #791
Can you provide debug logs when this happen?

[2015-03-01 01:23] fernandog commented on #512
@TagForce I show up in the history only for episodes snatched AFTER I enabled failed downloads. we should add this to setting description. Also say it can work even if PP is disabled. Cause this setting is inside PP settings and it's confusing

[2015-03-01 01:39] fernandog commented on #589
TO DOs before develop>master (IMO):
- https://github.com/SiCKRAGETV/sickrage-issues/issues/609
- auto-backup before update
- get feedback for all FIX/CONFIRMED issues (or not?)https://github.com/SiCKRAGETV/sickrage-issues/issues?q=is%3Aopen+is%3Aissue+label%3A%223%3A+Fix%22+label%3A%223%3A+Confirmed%22

thoughs?

[2015-03-01 02:32] fernandog opened #792 "[Feature Request] Add "Quality" to failed.db"
Add "Quality" column to failed.db. Needs to upgrade the DB

Today in history UI, it shows N/D quality

SHOW - S00E00	Failed	 PROVIDER N/A
SHOW - S00E00	Snatched	 PROVIDER	HD TV

[2015-03-01 02:34] #764 closed

[2015-03-01 02:35] fernandog commented on #231
@freddysmith1 @falcon15500 @joq3 @Hellowlol please update develop branch. report bakc if is fixed

[2015-03-01 03:11] scythe000 opened #793 "Error with post-processing"
On Dev Branch running latest commit:
BRANCH: (develop) / COMMIT: (850bded195399dc9d66d1970619e5df6bb5a2d43)

As of a couple commits ago, post processing seems to be broken. I know the file is not in use, because I tried moving it, and rebooted the server as well.

[code]

[2015-03-01 03:52] abeloin commented on #609
@fernandog Can you test the PR?

[2015-03-01 03:54] abeloin commented on #609
@OmgImAlexis Can you test this PR: https://github.com/SiCKRAGETV/SickRage/pull/1435 ?

[2015-03-01 03:55] OmgImAlexis commented on #764
Everything's been working for me since the merge of SiCKRAGETV/SickRage#1419.

[2015-03-01 04:04] abeloin commented on #589
* We have a PR for #609
* Should have auto-backup finished tonight

[2015-03-01 04:06] abeloin commented on #780
@OmgImAlexis PR was merged in develop can you update and let me know if it is working?

[2015-03-01 04:09] abeloin commented on #782
PR Merged
@TagForce Can you you update and test?

[2015-03-01 04:11] abeloin commented on #762
@Noktam Have you tried the PR?

[2015-03-01 04:12] abeloin commented on #718
@cwallace Have you tried the PRs?

[2015-03-01 04:15] abeloin commented on #611
@pct00 Can you confirm switching back to develop still fix your issue?

[2015-03-01 04:17] abeloin commented on #589
For https://github.com/SiCKRAGETV/sickrage-issues/issues/545 I want to wait until we merged develop to master before applying as it may generate some bug report.

[2015-03-01 04:20] #780 closed

[2015-03-01 04:27] abeloin commented on #779
PR Merged, update develop branch

[2015-03-01 04:36] abeloin commented on #793
@scythe000 This is not a Sickrage issue, you don't have the permission to write to E:\TV Series\Vikings\Season 03. Please check the folder's permissions.

Ref `IOError: [Errno 13] Permission denied`

[2015-03-01 04:57] OmgImAlexis commented on #609
@abeloin Fixed!

[2015-03-01 04:59] maxcore commented on #609
yep working good !!!

[2015-03-01 05:02] OmgImAlexis commented on #768
@TagForce For now what about one that just deletes files by extension such as txt, png, jpeg and srt(for those that don't use subs). For people like me that'd help get rid of most of the unwanted stuff from public trackers.

[2015-03-01 05:14] abeloin commented on #609
Thanks for the testing

[2015-03-01 05:15] #609 closed

[2015-03-01 06:00] dgholz opened #794 "restarting after update launches new process"
Hi, I'm writing a docker to run SickRage as pid 1, so when it updates and starts the new process, docker thinks SickRage is finished and shuts down the container.

The docker image is published in the public docker registry as dgholz/sickrage and is build from https://github.com/dgholz/sickrage/blob/master/Dockerfile

[2015-03-01 08:28] TagForce commented on #782
@abeloin It works on my dev and production rigs

[2015-03-01 09:03] hoefs opened #795 "[APP SUBMITTED]: coercing to Unicode: need string or buffer, HTTPError found"
### INFO
Python Version: **2.7.8 (default, Dec 12 2014, 20:09:05)
[GCC 4.6.4]**
Operating System: **Linux-2.6.32.12-armv5tel-with-glibc2.4**
Branch: **master**
Commit: SiCKRAGETV/SickRage@2d8aad80cdfb8983832206af445039de0decded9
### ERROR
[code]
---
_STAFF NOTIFIED_: @SiCKRAGETV/owners @SiCKRAGETV/moderators

[2015-03-01 09:12] tchirou opened #796 "cannot navigate through webui"
hello
branch develop
commit 0f49f21e93ad7b10d19087e392c99a95c085fb68
python 2.7.6
Windows 8.1

When I click on most of any item of navigation like going into a show sheet or general settings, i am taken back to the show list
[code]

Thanks in advance for your help

[2015-03-01 10:23] fernandog commented on #768
I would change the move associated files to a comma separeted list (Like sync files). Extension not in the list would be removed

[2015-03-01 10:24] fernandog commented on #779
@pct00 please update and report back

[2015-03-01 10:29] fernandog commented on #793
@abeloin We should catch this exception and show a message. User dont read the traceback.

[2015-03-01 10:52] vlsoft commented on #781
+1 .

[2015-03-01 10:55] daveyboy37 commented on #533
Agree with this totally :-)

[2015-03-01 11:08] abeloin commented on #796
PLease update it should be resolved

[2015-03-01 11:19] abeloin commented on #793
When you see the AA in front it's debug message[eg: logger.log("error message" + ex(e), logger.debug)], to help us resolve the issue.

The actual error line doesn't contain a traceback:
`2015-02-28 19:08:39 ERROR    Thread-24 :: Unable to move file E:\TV Series\Downloaded TV Series\Vikings.S03E02.720p.HDTV.x264-KILLERS.mkv to E:\TV Series\Vikings\Season 03\Vikings - S03E02 - The Wanderer.mkv: [Err

[2015-03-01 11:20] abeloin commented on #779
PR reverted issue https://github.com/SiCKRAGETV/sickrage-issues/issues/796

[2015-03-01 11:21] abeloin commented on #782
Thanks for the testing

[2015-03-01 11:29] abeloin commented on #795
Can you provide more log?

[2015-03-01 11:42] abeloin commented on #781
@freddysmith1 When a show is "Ended" it isn't refresh every-time. Only the last 10 recently ended shows, and 10 shows that haven't been refresh in the last 90 days are refreshed.

See https://github.com/SiCKRAGETV/SickRage/blob/master/sickbeard/showUpdater.py#L52 for more info

[2015-03-01 12:22] #782 closed

[2015-03-01 12:48] tchirou commented on #796
Yes it does
Many thanks

Le 1 mars 2015 à 12:08, Alexandre Beloin <notifications@github.com> a
écrit :

PLease update it should be resolved

—
Reply to this email directly or view it on GitHub
<https://github.com/SiCKRAGETV/sickrage-issues/issues/796#issuecomment-76592292>
.

[2015-03-01 12:52] Cmtahm opened #797 "[APP SUBMITTED]: [Error 32] The process cannot access the file because it is being used by another process: u'C:\\Users\\chris\\Sick-Beard-ThePirateBay\\sr-update\\sr-update.tar'"
### INFO
Python Version: **2.7.8 (default, Jun 30 2014, 16:03:49) [MSC v.1500 32 bit (Intel)]**
Operating System: **Windows-8-6.2.9200**
Branch: **develop**
Commit: SiCKRAGETV/SickRage@0f49f21e93ad7b10d19087e392c99a95c085fb68
### ERROR
[code]
---
_STAFF NOTIFIED_: @SiCKRAGETV/owners @SiCKRAGETV/moderators

[2015-03-01 12:52] Cmtahm opened #798 "[APP SUBMITTED]: [Error 32] The process cannot access the file because it is being used by another process: u'C:\\Users\\chris\\Sick-Beard-ThePirateBay\\sr-update\\sr-update.tar'"
### INFO
Python Version: **2.7.8 (default, Jun 30 2014, 16:03:49) [MSC v.1500 32 bit (Intel)]**
Operating System: **Windows-8-6.2.9200**
Branch: **develop**
Commit: SiCKRAGETV/SickRage@0f49f21e93ad7b10d19087e392c99a95c085fb68
### ERROR
[code]
---
_STAFF NOTIFIED_: @SiCKRAGETV/owners @SiCKRAGETV/moderators

[2015-03-01 12:58] #797 closed

[2015-03-01 13:00] fernandog commented on #798
@Cmtahm you need to reply our questions. why are you using \Sick-Beard-ThePirateBay ?

don't use that. please do a clean install of SICKRAGE

[2015-03-01 13:00] #798 closed

[2015-03-01 15:18] matigonkas opened #799 "[APP SUBMITTED]: <sickbeard.tv.TVEpisode object at 0x9d6a1f8c>"
### INFO
Python Version: **2.7.8 (default, Oct 20 2014, 15:05:29)
[GCC 4.9.1]**
Operating System: **Linux-3.16.0-30-generic-i686-with-Ubuntu-14.10-utopic**
Branch: **develop**
Commit: SiCKRAGETV/SickRage@583da987e4309ce009374b10e76fbf1fb1fada78
### ERROR
[code]
---
_STAFF NOTIFIED_: @SiCKRAGETV/owners @SiCKRAGETV/moderators

[2015-03-01 15:20] fernandog commented on #799
@matigonkas please send full logs

[2015-03-01 15:23] fernandog commented on #799
@mwarnaar KAT its not working with file lists too?

https://github.com/SiCKRAGETV/SickRage/pull/1359

[2015-03-01 15:26] fernandog commented on #787
@SwordX04 any luck?

[2015-03-01 15:30] fernandog commented on #743
@pct00 please reply, we are doing our best here and we need the feedback to make sure it's fixed.

@kestnuts can you check your Log folder and tell use the all files inside it?

[2015-03-01 16:57] daveinfla opened #800 "Unable to locate TV shows, manual search confirms they are available"
Just switched from SickBeard to SickRage and I'm having issues getting torrent searches to work.

I'm using KickAss and TPB for now, since I have no idea how to get a private invite to a private tracker yet.

SickRage cannot located torrents, however if I go directly to KickAss I can located the show.

Partial log listed below.

Thanks,
[code]

[2015-03-01 17:40] bmatulovich opened #801 "[APP SUBMITTED]: coercing to Unicode: need string or buffer, instance found"
### INFO
Python Version: **2.7.6 (default, Mar 22 2014, 22:59:38)
[GCC 4.8.2]**
Operating System: **Linux-3.13.0-46-generic-i686-with-Ubuntu-14.04-trusty**
Branch: **master**
Commit: SiCKRAGETV/SickRage@2d8aad80cdfb8983832206af445039de0decded9
### ERROR
[code]
---
_STAFF NOTIFIED_: @SiCKRAGETV/owners @SiCKRAGETV/moderators

[2015-03-01 17:44] fernandog commented on #800
Follow guidelines
https://github.com/SiCKRAGETV/sickrage-issues

[2015-03-01 17:45] fernandog commented on #801
Duplicate

[2015-03-01 17:45] #801 closed

[2015-03-01 18:19] AnalogJ opened #802 "Repeated error in logs (Failed doing webui callback)"
I'm getting the following failure repeated in my logs.

FYI, the folder is called sickbeard but it is running sickrage.

    2015-02-28 22:15:21 Thread-27 :: Failed doing webui callback: Traceback (most recent call last):
      File "/srv/apps/sickbeard/sickbeard/webserve.py", line 230, in async_call
        result = function(**kwargs)
      File "/srv/apps/sickbeard/sickbeard/webserve.py", line 3

[2015-03-01 18:29] AnalogJ opened #803 "Post Processing fails to run, must be called manually"
I have my post processsing set to copy, not move. I have about 6TB of media in a folder that sickrage is watching, and for some reason when new shows are downloaded, sickrage does not automatically detect them. Instead I must manually kick off a post process job.

Do you think the issue is due to the number of files in the watch folder?  or does it have something to do with the fact that I'm using

[2015-03-01 18:44] bmatulovich opened #804 "[APP SUBMITTED]: coercing to Unicode: need string or buffer, instance found"
### INFO
Python Version: **2.7.6 (default, Mar 22 2014, 22:59:38)
[GCC 4.8.2]**
Operating System: **Linux-3.13.0-46-generic-i686-with-Ubuntu-14.04-trusty**
Branch: **master**
Commit: SiCKRAGETV/SickRage@2d8aad80cdfb8983832206af445039de0decded9
Link to Log: https://gist.github.com/43be4a19087279efd343
### ERROR
[code]
---
_STAFF NOTIFIED_: @SiCKRAGETV/owners @SiCKRAGETV/moderators

[2015-03-01 18:48] daveinfla commented on #800
Sorry...
BRANCH: (master) / COMMIT: (2d8aad80cdfb8983832206af445039de0decded9)
Windows 7 Pro 64bit
Python 2.7.8
Cheetah-2.4.4
All my TV shows load just fine, all metadata is pulled from imdb.com, but SickRage cannot locate torrents. A manual search via say KickAss's website returns results.
Snapshot of log listed above, let me know if you need something more?

Thanks,

[2015-03-01 19:08] scythe000 commented on #793
There's definitely some kind of a glitch here. The folder is definitely writable, and episode 1 went in there fine. I created some test files with no issues. The odd thing is, SR appears to have already processed and moved the file into there, but throws up this error, and leaves the original files in place as well as if it hadn't been processed. No notifications are sent, however.

[2015-03-01 19:31] egmaf commented on #791
After weeks of fiddling, something I did resolved it (for now)….

Might be disabling IPv6, or disabling Hamachi (VPN), or one of thousands of things that I’m sure I tried before without effect!

I’ll let you know when it returns

Thanks

From: Alexandre Beloin [mailto:notifications@github.com]
Sent: Sunday, March 1, 2015 1:16 AM
To: SiCKRAGETV/sickrage-issues
Cc: egmaf
Subject: Re: [sickrage-issue

[2015-03-01 19:49] fernandog commented on #802
Duplicate

[2015-03-01 19:49] #802 closed

[2015-03-01 20:15] abeloin commented on #793
Do you run sickrage as a service?

[2015-03-01 20:17] fernandog commented on #800
full logs

[2015-03-01 20:22] #791 closed

[2015-03-01 20:26] scythe000 commented on #793
I didn't before, but since the reinstall I do.

Sent from my iPhone

On Mar 1, 2015, at 12:15 PM, Alexandre Beloin <notifications@github.com<mailto:notifications@github.com>> wrote:

Do you run sickrage as a service?

—
Reply to this email directly or view it on GitHub<https://github.com/SiCKRAGETV/sickrage-issues/issues/793#issuecomment-76627916>.

[2015-03-01 20:36] djack42 opened #805 "Application update check not working"
SR Version:	BRANCH: (develop) / COMMIT: (35ff96e54cb9c4efc7c6d204fc8bdc1ca58ec04e)
SR Arguments:	['-q', '--daemon', '--nolaunch', '--datadir=/opt/sickbeard']
Python Version:	2.7.1 (r271:86832, Feb 20 2015, 08:10:01) [GCC 4.8.3 20140401 (prerelease)]
Os : geexbox armv7

The update check fail to detect new commits (at this time : 583da987e4309ce009374b10e76fbf1fb1fada78)
In general configuration > a

[2015-03-01 20:44] matigonkas commented on #799
I cant find the logs of that error anymore and it didnt happen anymore ,probably it was only a insolated case.

[2015-03-01 20:45] abeloin commented on #779
@pct00 Can you test this PR it replace the previous one? https://github.com/SiCKRAGETV/SickRage/pull/1442

[2015-03-01 20:46] abeloin commented on #793
The service is running under which account?

[2015-03-01 20:51] abeloin commented on #796
Can you try this PR? https://github.com/SiCKRAGETV/SickRage/pull/1442

[2015-03-01 20:54] abeloin commented on #805
Please provide a log from sickrage.log

[2015-03-01 20:55] djack42 opened #806 "mass edit of path not working"
SR Version:	BRANCH: (develop) / COMMIT: (35ff96e54cb9c4efc7c6d204fc8bdc1ca58ec04e)
SR Arguments:	['-q', '--daemon', '--nolaunch', '--datadir=/opt/sickbeard']
Python Version:	2.7.1 (r271:86832, Feb 20 2015, 08:10:01) [GCC 4.8.3 20140401 (prerelease)]

Mass edit of multiple shows to update the base path has no effect.
Dir shows were missing, i used the integrated dir browser to select the new path,

[2015-03-01 20:56] tchirou commented on #796
Are you asking "me" ?
Because it already works what you did this morning

[2015-03-01 20:58] djack42 commented on #805
2015-03-01 20:56:56 INFO     Thread-50 :: Version checking is disabled, not checking for the newest version

But my config says otherwise

[2015-03-01 21:06] abeloin commented on #805
Please ensure version_notify is 1(you can change it in the ui-->config->general->updates)

[2015-03-01 21:09] abeloin commented on #796
Yes as I reverted the previous PR which caused your issue and now I'm reintroducing a new version and want to make sure it work on your system.

[2015-03-01 21:14] djack42 commented on #805
Config file :
version_notify = 1
auto_update = 0
notify_on_update = 1

Everything in the ipdate section of the gui is displayed accordingly.
Trying unset then set again doens't repair the github combobox, another manual check update did the same, nothing. a reboot isn't good either.

[2015-03-01 21:20] djack42 commented on #805
It's not the first time i have this problem since i reinstalled.
I installed from an outdated version (the package is old) then i did a manual update and gone to develop branch. I'm not sure what version it was but i can look into it if necessary.
Maybe the problem is due to the initial update, something missing.

[2015-03-01 21:25] abeloin commented on #805
Is there's a .git folder in Sickrage folder? Have you tried restarting sickrage?

[2015-03-01 21:30] djack42 commented on #805
Restarting from the menu is not working automaticaly, the app is shutmdown but not restarting, i must start the service again manualy.
And then, the update notification is there. The github combo is filled.
But it's not the first time and the problem will occur again soon.

[2015-03-01 21:35] abeloin commented on #805
For the restart a patch was pushed yesterday in develop.
Has for the dropdown list, I think it's because sickrage unable to connect to github at startup which result in the github object being non-disponible. I'll add a log line so it's easier to see.

[2015-03-01 21:39] patrickmonte commented on #504
Bitsoup has same problem

2015-03-01 18:30:18 INFO     SEARCHQUEUE-MANUAL-281612 :: Building internal name cache for Allegiance
2015-03-01 18:30:18 INFO     SEARCHQUEUE-MANUAL-281612 :: No scene exceptions update needed
2015-03-01 18:30:18 INFO     SEARCHQUEUE-MANUAL-281612 :: Beginning manual search for: [Allegiance - 1x04 - Chasing Ghosts]
2015-03-01 18:30:18 DEBUG    SEARCHQUEUE-MANUAL-281612 :

[2015-03-01 21:40] djack42 commented on #805
Ok, i will update and close the issue in a few days if i can't reporduce
Thx

[2015-03-01 21:46] abeloin commented on #805
Try applying this PR, https://github.com/SiCKRAGETV/SickRage/pull/1443 then look in the log for a warning containing `Unable to setup github properly, github will not be available. Error:`

[2015-03-01 21:47] scythe000 commented on #793
Good question! I followed the tutorial on it, it didn't say to specify...I just looked and it says Local System Account. I just tried changing it to my Administrator account, but it gives the same error.

[2015-03-01 21:50] djack42 commented on #805
It is actually possible that the network is not yet available when the sickrage service is starting, i''ll try a server reboot.

[2015-03-01 21:51] abeloin commented on #504
Please refrain from posting in old post, if you have an issue and it's not covered by any open issue, open a new one. Also use markdown for the code.

Thank you for your understanding

[2015-03-01 21:54] abeloin commented on #793
Try to put it to your account since you test via your acount that you were able to write files

[2015-03-01 21:56] #799 closed

[2015-03-01 21:58] scythe000 commented on #793
I did. Same thing.

Sent from my iPhone

On Mar 1, 2015, at 1:54 PM, Alexandre Beloin <notifications@github.com<mailto:notifications@github.com>> wrote:

Try to put it to your account since you test via your acount that you were able to write files

—
Reply to this email directly or view it on GitHub<https://github.com/SiCKRAGETV/sickrage-issues/issues/793#issuecomment-76633291>.

[2015-03-01 22:00] djack42 commented on #805
Ok, i can try to apply the pr cause i have no git binary installed on my server and can't install one.
But i tried a reboot and it happened again. The case is not occuring on a sickrage restart. So i guess you are probably right.
The network is not yet up when the service starts.
Sickrage should probably wait at init for the network to go live (w/ timeout obviously).

[2015-03-01 22:04] abeloin commented on #793
What are the permission for E:\\TV Series\\Vikings\\Season 03?

[2015-03-01 22:07] abeloin commented on #805
It's the job of the init script you use to start sickrage to do that.

[2015-03-01 22:08] abeloin commented on #805
geebox use what as init?

[2015-03-01 22:10] abeloin commented on #805
opkg is the package manager for geebox:
[code]

[2015-03-01 22:14] djack42 commented on #805
Systemd, it is set with target multi-user for sickrage. But i noticed some network issues after target network.

Opkg for geexbox has no git package, this is a very limited os for media center

[2015-03-01 22:14] abeloin commented on #805
If that doesn't work, replace sickbeard/__init__.py by the content of this file https://raw.githubusercontent.com/abeloin/SickRage/patch-gh_log/sickbeard/__init__.py

[2015-03-01 22:16] abeloin commented on #805
Do you use `network-online.target` or `network.target`? You should use the former and not the later.

[2015-03-01 22:55] scythe000 commented on #793
The entire drive is set for full access. It's just a simple share, with the everyone group given full permission and the guest account is turned on. It's fully writable from all other computers on the network.

Sent from my iPhone

On Mar 1, 2015, at 2:04 PM, Alexandre Beloin <notifications@github.com<mailto:notifications@github.com>> wrote:

What are the permission for E:\TV Series\Vikings\Season

[2015-03-01 23:01] djack42 commented on #805
If i do that (network-online.target), my server wont start if there is no network online and that would be a problem.
The geexbox systemd setup is not that good, sickrage is wanted by the multi-user target.
And the network manager is changed when xbmc is started.
Anyway, i'd prefer avoid modifying those files as i'm not sure to do it properly.
I'll go with a manual restart of sickrage i guess unti

[2015-03-01 23:37] abeloin commented on #805
Why would it prevent your server to start when the target is specified it sickrage unit file?

Anyway it's your call, but you should at least change multi-user to network.

Here my config to give you an idea:
[code]

[2015-03-01 23:37] #805 closed

[2015-03-01 23:39] abeloin commented on #793
So it's a mapped drive, what is the system hosting that share?

[2015-03-01 23:43] scythe000 commented on #793
No, it's a local drive. It's only mapped from my other PCs, but SR runs on the server itself. Just to clarify: it's never done this before until a recent commit after the reinstall. Been running this same config for years.

Sent from my iPhone

On Mar 1, 2015, at 3:39 PM, Alexandre Beloin <notifications@github.com<mailto:notifications@github.com>> wrote:

So it's a mapped drive, what is the system

[2015-03-01 23:45] abeloin commented on #804
Fixed in develop which will be pushed in master in the next few days.

[2015-03-01 23:45] #804 closed

[2015-03-01 23:56] suprdave23 commented on #770
@abeloin @fernandog

This just got me again when I was trying to redownload an episode I had already downloaded once before but the file was no longer on disk, super frustrating! Can we please get an option to always treat files as if we are manually post processing them? It's irritating to download a file through SR and expect it to handle the file but just have it ignored/deleted instead.

I und

[2015-03-01 23:58] fernandog commented on #770
@suprdave23 we will change how manual search works. wait for new thing on this!

[2015-03-02 00:03] fernandog commented on #806
@djack42 full logs please!

[2015-03-02 00:07] djack42 commented on #806
There is nothing more, i cleared the log before, then did the mass update and here it is. Log in debug, db level.

[2015-03-02 00:10] suprdave23 commented on #770
@fernandog Great! Thanks for getting back to me!

Looking forward to this new feature. Let me know once it is ready and I'll be happy to update my copy and test it.

[2015-03-02 00:10] fernandog commented on #806
it's impossible to not have ANY log message regarding the mass update

[2015-03-02 00:12] fernandog commented on #806
@djack42 tested with develop branch and its working

[2015-03-02 00:12] abeloin commented on #793
Ok can you reset your permissions for E:\TV Series?

[2015-03-02 00:13] djack42 commented on #806
well, another bug ? Cause i tried about 10 times and there is no more in the log page in db level, and config debug = 1

[2015-03-02 00:14] fernandog commented on #806
@djack42 read my above comment

[2015-03-02 00:20] scythe000 commented on #793
I can't, because there are none. Permissions are only set at the root drive level.

Sent from my iPhone

On Mar 1, 2015, at 4:12 PM, Alexandre Beloin <notifications@github.com<mailto:notifications@github.com>> wrote:

Ok can you reset your permissions for E:\TV Series?

—
Reply to this email directly or view it on GitHub<https://github.com/SiCKRAGETV/sickrage-issues/issues/793#issuecomment-7664020

[2015-03-02 00:23] djack42 commented on #806
I updated on the last develop less than one hour ago.
I Mass updated 3 shows having no directory found to the new directory :
From /freebox/Vidéos/TvShows/ to /mnt/shares/FREEBOX/Disque dur/Vidéos/TvShows
And all i got was the 3 lines in the log.
![screenshot_2015-03-02-01-21-02](https://cloud.githubusercontent.com/assets/9913996/6433874/9b5776f2-c07a-11e4-8da0-ef5e896d1fbb.png)

[2015-03-02 00:26] fernandog commented on #806
because your log roteated! see inside SickRage/Logs that there's sickrage.log.1 , 2 , 3 etc

[2015-03-02 00:28] djack42 commented on #806
Ok, really usefull the log page then..

[2015-03-02 00:32] abeloin commented on #793
To reset, you select 'Replace all child object permission entries with inheritable permission entries from this object' in the advanced security settings of that folder.

See for a screenshot : http://superuser.com/questions/858732/windows-command-line-how-to-replace-all-child-object-permission-entries-with-i

[2015-03-02 00:36] djack42 commented on #806
Nope, none of the 5 other logs as anything at the time i tried the mass update, only the xurrent log has.
And nothing more than what i already put here.
I will edit them one by one if i must, but this is not helping.

I imported my database after a full reinstall a week ago, can it be the cause ? Or the accent in the new path ?

[2015-03-02 00:39] fernandog commented on #806
don't know. without logs I can't help. sorry

[2015-03-02 00:39] fernandog commented on #806
try mass edit only 2 and check the log

[2015-03-02 00:40] djack42 commented on #806
An edit on the show page works as expected :
2015-03-02 00:37:16 INFO     SHOWQUEUE-REFRESH :: 272644: Loading all episodes from the show directory /mnt/shares/FREEBOX/Disque dur/Vidéos/TvShows
2015-03-02 00:37:15 INFO     SHOWQUEUE-REFRESH :: Performing refresh on 12 Monkeys
2015-03-02 00:37:12 DEBUG    Thread-41 :: 272644: Saving show info to database
2015-03-02 00:37:12 DEBUG    Thread-41 :: Se

[2015-03-02 00:41] fernandog commented on #806
@djack42 try mass edit only two shows. and check logs

[2015-03-02 00:41] djack42 commented on #806
I first tried with all my shows, then 3, then 1 earlier, mass update did nothing, only on the edit show page its working

[2015-03-02 00:44] fernandog commented on #806
@djack42 please try again with only two and check logs. otherwise I can't do anything and will close this issue

[2015-03-02 00:50] djack42 commented on #806
My last try on edit show Created the directories /freebox/Vidéos/TvShows/12 Monkeys with the nfo files inside.... not good.

I tried with 2 shows :
2015-03-02 00:48:40 DEBUG    Thread-27 :: 255316: Not saving show to db - record is not dirty
2015-03-02 00:48:40 DEBUG    Thread-27 :: 80379: Not saving show to db - record is not dirty
2015-03-02 00:41:16 INFO     SHOWQUEUE-REFRESH :: No new cache im

[2015-03-02 00:53] fernandog commented on #806
@djack42 use the logfilter and select "thread".

[2015-03-02 00:53] daveinfla commented on #800
log is too large for pastebin, how to I attach it?

[2015-03-02 00:53] djack42 commented on #806
2015-03-02 00:48:40 DEBUG    Thread-27 :: 255316: Not saving show to db - record is not dirty
2015-03-02 00:48:40 DEBUG    Thread-27 :: 80379: Not saving show to db - record is not dirty
2015-03-02 00:37:12 DEBUG    Thread-41 :: 272644: Saving show info to database
2015-03-02 00:37:12 DEBUG    Thread-41 :: Setter sets location to /mnt/shares/FREEBOX/Disque dur/Vidéos/TvShows
2015-03-02 00:37:12 DE

[2015-03-02 00:56] fernandog commented on #806
@abeloin  is this a bug or a bad db ?

[2015-03-02 00:59] djack42 commented on #806
The space or accent in the new path could be the cause ?
Or a corrupted db, but the app is uptodate.
Anyway, i will try and look in the db tomorrow.
Good night

[2015-03-02 01:00] fernandog commented on #800
@daveinfla send only lines with SEARCHQUEUE-MANUAL-263203 or traceback or ERROR

[2015-03-02 01:04] abeloin commented on #806
@fernando Donne moi une dem-heure et je m'en occuppe.

[2015-03-02 01:06] fernandog commented on #806
no rush on this one. Not critical

[2015-03-02 01:11] daveinfla commented on #800
There are no lines listed with SEARCHQUEUE-MANUAL-263203, traceback or ERROR.
I am including a section with the SEARCHQUEUE-MANUAL listed.

2015-03-01 14:00:53 DEBUG    SEARCHQUEUE-MANUAL-139481 :: Episode has no release name, replacing it with a generic one: %SN - %Sx%0E - %EN
2015-03-01 14:00:53 DEBUG    SEARCHQUEUE-MANUAL-139481 :: formatting pattern: %SN - %Sx%0E - %EN -> 19 Kids and Counting

[2015-03-02 01:12] daveinfla commented on #800
P.S. If you have an e-mail I can forward the complete log to I'd be happy to send it to you.

[2015-03-02 01:28] abeloin commented on #806
Ok so let me read the info

[2015-03-02 01:41] abeloin commented on #806
@djack42 you moved those shows from /freebox/Vidéos/TvShows to /mnt/shares/FREEBOX/Disque dur/Vidéos/TvShows and they exists on the destination?

[2015-03-02 01:46] abeloin commented on #806
Work here
[code]

[2015-03-02 01:48] abeloin commented on #806
@djack42 In your last example you choose the `12 monkey` foler when you should have chosen `/freebox/Vidéos/TvShows`

`/freebox/Vidéos/TvShows/12 Monkeys != /mnt/shares/FREEBOX/Disque dur/Vidéos/TvShows`

[2015-03-02 01:50] abeloin commented on #806
When you choose an invalid folder where it doesn't exist you should see a ui notification on the down corner on the right side

[2015-03-02 01:56] abeloin commented on #800
Related to https://github.com/SiCKRAGETV/sickrage-issues/issues/777

[2015-03-02 02:01] abeloin commented on #800
@daveinfla This is because there's no data for season 15 on the http://thexem.de/xem/show/1559

You 2 choice here: edit the xem data and refresh the show; or manually enter the scene number on the show page(See the image below, you will see a 10x1).

![Imgur](http://i.imgur.com/hGu9PoL.png)

[2015-03-02 02:17] daveinfla commented on #800
I'm not sure I understand what the scene is referring to nor where you got the 10x1 vs. 15x1.
It's season 15 and most of the seasons have nothing listed in the scene field.
Two other shows, one that works (12 Monkey's) and one that does not (House Hunters International) don't have the scene field listed. They only have the Episode listed. I'm getting a mixed bag of results.

[2015-03-02 02:22] abeloin commented on #800
This particular show "19 Kids and Counting" the tvdb data says it's at season 15, but the scene(The people who release the tv episodes) say it season 10. For sickrage to do the mapping you need to fill the data otherwise sickrage will search for 15x1 instead of 10x1.

[2015-03-02 02:24] abeloin commented on #800
For 12 Monkey, you shouldn't need to activate the scene numbering.

[2015-03-02 02:30] abeloin commented on #800
For House Hunters International the most recent episode I've found on KAT is S48 so it will not find more recent then that.

[2015-03-02 02:30] daveinfla commented on #800
OK, so I clicked on the link that took me to  http://thexem.de/xem/show/1559 and I'm just not seeing the correlation. The only thing I see on that page is reference to S8 and S14.

I manually entered 10x1 and 10x2 for the first two episodes of season 15 and clicked on search, it still returns an error that it cannot find 15x1 or 15x2 that I used to test. Do I need to restart SickRage?

[2015-03-02 02:32] abeloin commented on #800
Yes you need to restart sickrage. It's a bug that is fixed in develop that will be pushed in master in the next few days.

[2015-03-02 02:34] daveinfla commented on #800
I guess I'm lost, how can it populate House Hunters International via imdb thru season 77 but not search for anything beyond season 48?

[2015-03-02 02:35] abeloin commented on #800
If you look at the top of S8 you should see the word "scene"(people who release episodes) and on top of S14 you should see "TVDB" your indexer in sickrage. Since there isn't any mapping for s10(scene) to s15(tvdb) sickrage search for s15.

[2015-03-02 02:39] abeloin commented on #800
I'm not saying you can't search beyond season 48, I'm saying there I didn't not see any torrents for the recent episodes of HHI on KAT. Maybe other provider have those season but I don't know.

What do you mean by imdb, sickrage as only 2 indexers tvdb and tvrage?

[2015-03-02 02:43] abeloin commented on #800
Ok looking at tvrage HHI http://www.tvrage.com/House_Hunters_International/episode_list as only 37 seasons. The xem doesn't have that show so you will need to do mapping by yourself via scene numbering and figure which number is what

Ref: http://predb.me/?search=House+Hunters+International

[2015-03-02 02:44] daveinfla commented on #800
My bad, tvdb not imdb.

FYI, here's the first episode that tvdb lists as 15x1 but KAT is listing it as s09e01 aka s10e01????

https://kickass.to/19-kids-and-counting-s09e01-aka-s10e01-jills-secret-ws-dsr-x264-ny2-t10273466.html

[2015-03-02 02:45] abeloin commented on #800
Yes, another user had the same issue for that 3 days ago #777

[2015-03-02 02:47] daveinfla commented on #800
This is confusing, someone needs to make a how to video :)
That and I guess I picked the wrong time to work on this, I'm trying to get this working to take my mind off the fact that my mother is hours away from passing.

I manually entered 10x1 and 10x2, restarted and it's still failing. Still looking for 15x1 and 15x2.

[2015-03-02 02:56] abeloin commented on #800
My deepest condolences to you and your family.

Can you provide logs of the search? The search strings:
[code]