[2015-08-27 10:40] miigotu commented on #2572
@WebSpider wmv goes against scene rules. if it is wmv it must be a very old release, and there is no other release for it.

I've instructed in the past to set a sane number of min seeders, check verified box in provider options, and blacklist consistently fail rls groups.

However, this is such a rare case that OP just needs to understand that SR cannot be 100% perfect for everyone

Spending hours

[2015-08-27 11:26] WebSpider commented on #1865
We need debug logs to troubleshoot this.

[2015-08-27 11:31] WebSpider commented on #2572
I replied before my first coffee.

I don't want to support anything which is against scene rules. It opens up the door for a million possible permutation of file naming.

[2015-08-27 11:42] ezar opened #2576 "HDTV download"
I configure this for use HD profile.

But ignore results like this:
2015-08-27 10:09:00 INFO SEARCHQUEUE-MANUAL-255316 :: [Rarbg] :: Ignoring result Elementary.S03E18.720p.HDTV.X264-DIMENSION[rartv] because we don't want an episode that is HDTV

Why dont download this torrent?

Regards.

[2015-08-27 12:00] #2572 closed

[2015-08-27 12:00] #2566 closed

[2015-08-27 12:25] aschnabl commented on #2570
Tried that, and no good. Any other suggestions? Only started this week.

[2015-08-27 13:09] fernandog commented on #2570
@aschnabl if you search you will find the answer

https://github.com/SiCKRAGETV/sickrage-issues/search?q=database+disk+image+is+malformed&type=Issues&utf8=%E2%9C%93

[2015-08-27 13:09] #2570 closed

[2015-08-27 13:23] xstefanx commented on #2573
@neoatomic Thanks, but I was aware of that. The download folder and the file structure the hard links go to are on the same drive. And it's all on the local machine, so permissions shouldn't be an issue.

This has all been set up and working for at least six months and I hadn't had any issues until earlier this month.

[2015-08-27 14:11] joakim93 commented on #2564
yeah that did the trick thanks

[2015-08-27 14:11] #2564 closed

[2015-08-27 14:36] djoole commented on #2566
@neoatomic thanks for answering.
You say there was a bug report about quality detection.
Is it still opened or rejected?
Do you have the issue number?
I don't think the issue in my case is about a bad release, as this one respects the scene rules (hdtv tag without 720p means SD, not HD), so this issue should be adressed.
Thanks.

[2015-08-27 14:37] neoatomic commented on #2573
@xstefanx Cant recall we have changed anything around the hard-linking. So your suggestion that it might be related to the Windows 10 upgrade might be correct.
If you follow the guide and provide all the info, including full debug logs i will have another look if there is anything in your logs.

https://github.com/SiCKRAGETV/sickrage-issues#submitting-a-bugissue-ticket

[2015-08-27 14:39] Germetik opened #2577 "Adding custom torrent provider issue"
I am running SickRage on QNAP TS-212 ARM device, and i can't add custom provider.
I downloaded and installed qpkg from here:
http://apps.qnap.community/11-community/5-sickrage
My setup:
Provider name: LostFilm
RSS URL: http://www.lostfilm.tv/rssdd.xml
Cookies: uid=xxx;pass=xxx;usess=xxx
Search element: title

Error when trying to load RSS: must be string or buffer, not None

Log output:
[code]
How

[2015-08-27 14:45] neoatomic commented on #2566
@djoole The Dev's are aware that this can happen in rare cases, and there is/was an issue for it. I'm sure if you use the search function it should pop-up.

[2015-08-27 14:49] neoatomic commented on #2577
@Germetik Likely an SSL error.
You are using an old/outdated package on your QNAP. You need to use http://apps.qnap.community/11-community/17-qsickrage

I'm sure that will fix your issue. :)

[2015-08-27 14:52] Germetik commented on #2577
neoatomic, the problem is that qsickrage package is for x86 architecture. My nas have ARM architecture. :)

[2015-08-27 14:59] neoatomic commented on #2577
Sadly noting can be done from our side then...

You need to get the correct Python modules installed into that package so SSL/HTTPS is supported. (If not you will get those errors when an HTTPS site is used.)
Maybe its possible to replace it with a third party Python package. (qpyton2.?)

[2015-08-27 14:59] #2577 closed

[2015-08-27 15:19] neoatomic commented on #2576
Follow the guidelines for posting an issue.
https://github.com/SiCKRAGETV/sickrage-issues#submitting-a-bugissue-ticket

[2015-08-27 15:25] djoole commented on #2566
@neoatomic found it, sorry for not having taken the time to search.. :)
issue #2436

[2015-08-27 15:27] djoole commented on #2436
Same problem occuring several times here..
If a dev can point me to the code part to check, i'm ok to have a look.

[2015-08-27 16:11] Kumolo commented on #2477
@miigotu still not working on my side. I am getting

"Fetching of IMDB Data failed. Are you online?
Exception:
malformed start tag, at line 112, column 459"

I stopped SR, moved cache folder (keeping "images" though) and restarted SR. Commit 3fb81bd65d7710e59d6c89945a3be39d2dbfc386. Any idea what is wrong with my setup?

[2015-08-27 16:16] miigotu commented on #2477
@Kumolo what happens if you visit imdb in your browser first?

[2015-08-27 16:17] Kumolo commented on #2477
@miigotu working fine (http://www.imdb.com/) using Chrome or IE

[2015-08-27 16:21] miigotu commented on #2436
The quality hdtv in SR IS HD720p.

https://github.com/SiCKRAGETV/SickRage/blob/master/sickbeard/common.py#L200L258

https://github.com/SiCKRAGETV/SickRage/blob/master/sickbeard/common.py#L363L382

[2015-08-27 16:40] miigotu commented on #2477
@Kumolo I mean visit imdb on your browser, and then visit the imdbpopular page in SR in the same browser window.

[2015-08-27 16:48] xstefanx commented on #2573
Branch/Commit hash
SR Version:	BRANCH: () / COMMIT: (010325315d75ed7aab47619b57106bcca6d280f6)

Your operating system and python version
Windows 10
Python Version:	2.7.8 (default, Jun 30 2014, 16:08:48) [MSC v.1500 64 bit (AMD64)]

What you did
The only real change to my machine was the windows 10 upgrade. I'm surprised I'd be the only one with the problem if this is the root cause.

What happened

[2015-08-27 16:49] Kumolo commented on #2477
@miigotu No success either. Here is what I did:
-In Chrome Tab 1 goto IMDB --> OK. Same Tab go back to SR popular ---> Fail
-In Chrome Tab 1  goto IMDB --> OK. Leave Tab 1 open and open Tab 2 go to SR popular ---> Fail

By the way, also, I logged out of IMDB which didn't change anything.

[2015-08-27 18:09] MGaetan89 commented on #2498
@vere-tech The PR is almost done. However, I did not include the "Total show size" information as you suggested. For the moment, I only improve the current layouts to be printable.
I will try to send an other PR to include an option to show/hide the "Total show size", so it can be included in the print view as well (from the existing "Select Column" menu).

[2015-08-27 18:11] MGaetan89 opened #2578 "[Feature Request] Display total show size on shows listing"
Following issue #2498.

Include a new column to display the "Total show size" in the shows listing. This should be configurable in the "Select Column" menu.

[2015-08-27 18:29] WebSpider commented on #2498
Please make sure the show size doesn't do recursive/multiple file system calls. This will slow the view down enormously, especially on networked file systems.

-----Original Message-----
From: "Gaëtan Muller" <notifications@github.com>
Sent: ‎8/‎27/‎2015 8:09 PM
To: "SiCKRAGETV/sickrage-issues" <sickrage-issues@noreply.github.com>
Cc: "Nils" <nils@familievogels.nl>
Subject: Re: [sickrage-issues] [

[2015-08-27 18:35] MGaetan89 commented on #2498
I didn't look yet how to get that information. But if it is too complicated, I won't include it.

[2015-08-27 18:40] duramato commented on #2568
@WebSpider not it isnt giving that error anymore just ```2015-08-27 19:38:39 ERROR    SEARCHQUEUE-MANUAL-290312 :: [TorrentLeech] :: Invalid username or password for TorrentLeech Check your settings
2015-08-27 19:38:39 DEBUG    SEARCHQUEUE-MANUAL-290312 :: [TorrentLeech] :: search_strings = [{'Episode': [u'How.We.Got.Here S01E09 ']}]
2015-08-27 19:38:39 INFO     SEARCHQUEUE-MANUAL-290312 :: [Torre

[2015-08-27 19:11] MGaetan89 commented on #2578
@WebSpider
I implemented it on my dev SickRage, and it doesn't seem to slow it down (I only have 2 shows with actual files).
Is there an easy way to measure the time it takes to compute the show size?

[2015-08-27 19:21] didyouexpectthat commented on #2176
### INFO
Python Version: **2.7.9 (default, Mar  1 2015, 12:57:24) [GCC 4.9.2]**
Operating System: **Linux-2.6.32-40-pve-x86_64-with-debian-8.1**
Locale: unknown
Branch: **master**
Commit: SiCKRAGETV/SickRage@3fb81bd65d7710e59d6c89945a3be39d2dbfc386
No Log available with ERRORS:
### ERROR
[code]
---
_STAFF NOTIFIED_: @SiCKRAGETV/owners @SiCKRAGETV/moderators

[2015-08-27 19:47] fernandog commented on #2578
Make a PR. Will test it and other can test too

[2015-08-27 19:53] ruinit commented on #2519
you did read my posts correct? I have done all this many times over. still getting error but thanks for the input

[2015-08-27 20:05] didyouexpectthat commented on #2176
For my bug report, I will try to better acknowledge the error so I can switch to debug and check the log on which file it caused. My library is large so lots of things are always happening. Maybe if the error could say more about what file it errored out on to better diagnose. This only happens with subtitles.

[2015-08-27 20:12] vere-tech commented on #2498
@MGaetan89 thanks heaps for doing this, i will make good use of it and im sure others will too. @WebSpider and @MGaetan89, each shows size in "GB" is displayed when viewing a specific show. Is that information stored somewhere that it can be referenced to display on the print screen, or is it gathered every time a show is viewed? if its the later i can see your point @WebSpider

[2015-08-27 20:14] MGaetan89 commented on #2498
It's computed every time it is required.

[2015-08-27 20:15] MGaetan89 commented on #2578
I will in a moment.

[2015-08-27 20:18] MGaetan89 commented on #2578
https://github.com/SiCKRAGETV/SickRage/pull/2356
Here is the PR.

[2015-08-27 20:19] vere-tech commented on #2498
stuff that, hah. Dont worry about it bro. i agree with @WebSpider

[2015-08-27 20:31] MGaetan89 commented on #2578
I didn't noticed there were already an issue for that #2401.
I'm closing this in favorite of the other issue.

[2015-08-27 20:31] #2578 closed

[2015-08-27 20:33] MGaetan89 commented on #2401
I sent a PR to include this https://github.com/SiCKRAGETV/SickRage/pull/2356

But I don't have enough shows to check for performance issue. If someone else can test my PR and give a feedback, that would be great.

[2015-08-27 20:42] MGaetan89 commented on #1583
Should I close this?

There is now a "News" tab with SickRage message and a "Changelog" menu (in the right-most dropdown).

[2015-08-27 20:45] fernandog commented on #2401
Didnt notice lag with 75 shows.

Sorting does not work. Need fix tablesorter

[2015-08-27 20:49] MGaetan89 commented on #976
I think this should be fixed as I work on #2567
I will try to refactor this soon, right after I refactored the banner/fanart/poster part (as a practice, and because I work on that part already).

[2015-08-27 20:50] MGaetan89 commented on #2401
I will have a look to fix the sorting.
It's good to know that performance may not be impacted by this :)

[2015-08-27 20:53] MGaetan89 commented on #885
The "Submit errors" is available now. Can we close this?

Concerning the bot, it would be nice to also have one that auto-close PR made against `master`.

[2015-08-27 20:56] fnbf21 opened #2579 "Sickrage Snatchs but does not Download"
Hello everyone,

I decided today to install sickrage on my new Debian 7 server. Unfortunately, sickrage is not able to download  any torrent. Each time I search an episode, sickrage is able to snatch it, but after that the download won't start.

In the log file I obtain : 2015-08-27 22:47:45 INFO     SEARCHQUEUE-MANUAL-80379 :: [ThePirateBay] :: Saved result to /home/xxxxx/Torrent/xxxxx.720p.HDTV.

[2015-08-27 20:59] MGaetan89 commented on #2579
Is your torrent software configured to automatically download torrent files in `/home/xxxxx/Torrent/`? SickRage does not download any episode itself. It only gets the torrent files, so third-party software can get the episode. SickRage can then organize the downloaded episode according to your settings.

[2015-08-27 20:59] MGaetan89 opened #2580 "Bots to validate issues/PRs"
To help manage issues and PRs, we could use bots that run automatically on each new issue/comment and new PRs.

For issue:
- [x] Check that log are provided ([original comment](https://github.com/SiCKRAGETV/sickrage-issues/issues/885#issuecomment-87432970)) -> comment to request logs

For PR:
- [x] Check that the destination branch is not `master` ([original comment](https://github.com/SiCKRAGETV/

[2015-08-27 21:04] MGaetan89 commented on #589
I checked "Decide about "Overhaul the network logos system" PR 1408"  because the PR was closed.

I also added the link to each issue/PR so it's easier to navigate between them.

[2015-08-27 21:24] MGaetan89 commented on #1593
Closing this as it is already requested in #38.

[2015-08-27 21:24] #1593 closed

[2015-08-27 21:27] MGaetan89 commented on #38
@miigotu If you are talking about [merging the API and the web UI](https://github.com/SiCKRAGETV/sickrage-issues/issues/38#issuecomment-66940967), it will happen with #2567
About the edit show API command, I think it's best to way when the merging is done so we can simply reuse what's already done for the web part.

[2015-08-27 22:28] djoole commented on #2436
Can't see nothing wrong in here :
[code]
I file like `Tyrant.S02E11.HDTV.Subtitulado.Esp.SC.avi`shouldn't pass in this if... yet it does

[2015-08-27 22:31] #1583 closed

[2015-08-27 22:31] miigotu commented on #2401
Needs tested with shows on a fat32 partition, and with SR and shows on a separate machine using NFS/smb for access.

I suspect these both to have big perfermance problems.

[2015-08-27 22:34] miigotu commented on #885
This is for a full logs upload, not just for errors.

[2015-08-27 22:36] fernandog commented on #2401
In the future with DB upgrade we can add a column in the DB and update with show refresh / PP

[2015-08-27 22:36] djoole commented on #2436
I've made this test script and it returns SD, not HD :
[code]

I think the problem is not here but where the sceneQuality() function is used..

[2015-08-27 22:38] miigotu commented on #38
@MGaetan89 agreed. I made that comment before we decided to combine/simplify webserve/webapi

[2015-08-27 22:42] miigotu commented on #2401
@fernando, can you add a section to the issues stats which outlines desired db changes and which db/where? Any change that could be beneficial.

I want to do a db upgrade soon, but I want to make all of the db changes we need or could need in the future all in one db update.

[2015-08-27 22:44] miigotu commented on #2436
It should return SD, because "Tyrant.S02E11.HDTV.Subtitulado.Esp.SC.avi" is SD.

[2015-08-27 22:45] djoole commented on #2436
@miigotu Yes, but it returns HD, see logs below :
[code]

FYI each time i get this problem of hdtv SD file snatched instead of 720 HD, it seems to be with KAT provider.

[2015-08-27 23:24] miigotu commented on #2176
@didyouexpectthat if you enable debug you will see which video was being processed. This error is in guessit, not sickrage.

[2015-08-27 23:25] #2498 closed

[2015-08-27 23:46] brimur commented on #2436
Just wanted to add, I have had it happen with multiple providers, my post above is for Torlock for example but I have seen it happen with KAT and Monova

[2015-08-27 23:57] johnscrub opened #2581 "[APP SUBMITTED]: 'C__SickRage_gui_slick_interfaces_default_home_mako'"
### INFO
Python Version: **2.7.8 (default, Jun 30 2014, 16:08:48) [MSC v.1500 64 bit (AMD64)]**
Operating System: **Windows-8-6.2.9200**
Branch: **master**
Commit: SiCKRAGETV/SickRage@3fb81bd65d7710e59d6c89945a3be39d2dbfc386
Link to Log: https://gist.github.com/53228def9980acff7b95
### ERROR
[code]
---
_STAFF NOTIFIED_: @SiCKRAGETV/owners @SiCKRAGETV/moderators

[2015-08-28 00:15] flightlevel commented on #2581
Have you tried clearing your cache? eg. https://github.com/SiCKRAGETV/sickrage-issues/issues/2507

[2015-08-28 00:59] miigotu commented on #2477
@Kumolo try deleting cache/sessions, then going to `http://www.imdb.com/search/title?at=0&sort=moviemeter&title_type=tv_series&year=2014,2016`, then opening the imdbpopular page.

[2015-08-28 01:02] miigotu commented on #2436
@brimur we dont have a monova provider....

@djoole can try with episode only search and season search fallback disabled?  I have a potential fix here.

[2015-08-28 01:18] djoole commented on #2436
@miigotu I did what you asked, but unfortunately now SR is snatching a web-dl before getting the chance to snatch the offending file.
But looking at the logs, it seems SR still analyse it has HD and not SD :
[code]

[2015-08-28 01:25] djoole commented on #2436
OK i managed to force SR to snatch the "bad" files with custom only HDTV quality.
It seems it still want to download it :
[code]
But several other HDTV files are found, and this time I'm lucky, it picks another one which is 720p

But if the `Tyrant.S02E11.HDTV.Subtitulado.Esp.SC.avi`would have been alone, it would have picked it.

[2015-08-28 01:26] brimur commented on #2436
@miigotu True, I mostly use custom RSS feeds and one of them is for Monova

[2015-08-28 02:11] miigotu commented on #2436
@djoole that is not enough of the log. You need to put full debug logs on gist.

[2015-08-28 03:26] miigotu commented on #2436
@djoole @brimur you guys could try the provider-cleanup branch and see if the issue still happens for kat/tpb

[2015-08-28 03:57] didyouexpectthat commented on #2176
@miigotu I do have debug enabled but too much time has passed so I don't have any logs that show the actual video name. In the error logs, even with debug, it doesn't show the file it was processing. I also didn't find any specific guessit logs in Logs, either.

[2015-08-28 04:20] OmgImAlexis opened #2582 "[Feature Request] Sort homepage before rendering"
If we sort the homepage using python then we can render the table instantly on page load instead of waiting for jQuery, if the user wants to change the layout it'd be done with jQuery and saved like normal.

[2015-08-28 04:23] OmgImAlexis commented on #2580
Also automark as [DO NOT MERGE] for PR that're on any branch apart from Master.

[2015-08-28 04:28] elit3ge commented on #2533
Anything? I am still unable to update my shows or add new ones.

[2015-08-28 04:51] miigotu commented on #2582
@OmgImAlexis should be fairly easy.

[2015-08-28 05:25] miigotu commented on #2582
If I sort the list before rendering home.mako, can you handle the jquery part @OmgImAlexis?

That's probably the fastest way to make thus happen, as I would probably have a trial and error session with the js...

[2015-08-28 05:28] Vyndrenna opened #2583 "SickRage "No Downloads were found" through DOGnzb"
If I search for a tv episode though the DOGnzb website I find what I am looking for but as soon as I get SickRage to find it I get "No downloads were found"

2015-08-27 23:08:43 INFO     SEARCHQUEUE-MANUAL-27195 :: [DOGnzb] :: Unable to find a download for: [Hell on Wheels - 5x06 - Hungry Ghosts]
2015-08-27 23:08:36 INFO     SEARCHQUEUE-MANUAL-27195 :: [DOGnzb] :: Performing episode search for Hel

[2015-08-28 05:39] OmgImAlexis commented on #2582
Yep, sounds good. I'm still waiting for the PR (https://github.com/SiCKRAGETV/SickRage/pull/2336) that @MGaetan89 is doing though, not sure if he's going to touch the js after all of the CSS or not.

[2015-08-28 05:46] OmgImAlexis opened #2584 "[Feature Request] Replace the inline progressbar functions with a single jQuery function and call it on pageload"
For example on the homepage this is added for EVERY show, when you've got 100 or so shows like I do then it's 100 x 22 lines instead of a single function.

[code]

[2015-08-28 05:47] OmgImAlexis commented on #2584
I'm working on this but I don't have permission to assign this to me.

[2015-08-28 05:48] MGaetan89 commented on #2582
I'm mostly working on the CSS part for the moment, and maybe on the images afterwards.
I'm not sure how much I can do about JS yet. One start would be to put all the JS out of the `mako`s file and inside a `js` file, so the browser can load them separately.

[2015-08-28 05:50] MGaetan89 commented on #2584
:+1: Maybe check if it is used elsewhere to use the same function everywhere.

I assigned this to you ;)

[2015-08-28 05:51] OmgImAlexis commented on #2582
Alright, I'll take a look at all of the js then. Starting on the homepage I should be able to get most of the js to js files and just use the SR api to check if things need to be run instead of using python if statments and inline js. Have a look at [this](https://github.com/SiCKRAGETV/sickrage-issues/issues/2584) for progress on it.

[2015-08-28 06:03] WebSpider commented on #2568
I'm not seeing weirdness in the code, and don't have a tl account to troubleshoot.

@miigotu do you have an account there?

[2015-08-28 06:05] WebSpider commented on #2578
Add basic microsecond timers around the calls, add them up and log it in debug?

-----Original Message-----
From: "Gaëtan Muller" <notifications@github.com>
Sent: ‎8/‎27/‎2015 9:11 PM
To: "SiCKRAGETV/sickrage-issues" <sickrage-issues@noreply.github.com>
Cc: "Nils" <nils@familievogels.nl>
Subject: Re: [sickrage-issues] [Feature Request] Display total show size onshows listing (#2578)

@WebSpider
I

[2015-08-28 06:08] WebSpider commented on #2579
You have your torrent client set to black hole, which is expected behavior. Either tell SR how to integrate with your torrent client, or set your torrent client up for black hole pickup.

-----Original Message-----
From: "fnbf21" <notifications@github.com>
Sent: ‎8/‎27/‎2015 10:56 PM
To: "SiCKRAGETV/sickrage-issues" <sickrage-issues@noreply.github.com>
Subject: [sickrage-issues] Sickrage Snatchs b

[2015-08-28 06:10] WebSpider commented on #2401
Good idea to store this in db indeed.

-----Original Message-----
From: "Fernando" <notifications@github.com>
Sent: ‎8/‎28/‎2015 12:36 AM
To: "SiCKRAGETV/sickrage-issues" <sickrage-issues@noreply.github.com>
Subject: Re: [sickrage-issues] [Feature request] Show column for total showsize (#2401)

In the future with DB upgrade we can add a column in the DB and update with show refresh / PP
—
Reply t

[2015-08-28 06:14] MGaetan89 commented on #2578
So simple :p Thanks

[2015-08-28 06:14] OmgImAlexis commented on #2584
This looks like it'll work, just need to make changes to the mako files.

[code]

[2015-08-28 06:23] MGaetan89 commented on #2584
You forget the case `progress-80`.
Try using a variable instead of calling `$(this)`. It will reduce jQuery's work. As you said, 100 shows call this function, which uses `$(this)` 7 times.

A small improvement compared to the current behaviour, why not use [Bootstrap tooltip](http://getbootstrap.com/javascript/#tooltips) instead of the default one?

[2015-08-28 06:27] miigotu commented on #2568
@WebSpider nope, i have 4 private trackers, and they are a hell of a lot of work just keeping the accounts open because I dont use them lol. I just set up a good ratio and never use em xD.

[2015-08-28 06:27] OmgImAlexis commented on #2584
`$(this)` and setting a var in the scope that it's in uses about the same amount of resources and `$(this)` looks cleaner, plus just with this it's reduced the loading time by about another second on my 100+ show install.

I don't want to add anything that uses bootstrap as I've talked to @miigotu and I really want to get away from using it all together as it's not really something that should be

[2015-08-28 06:29] OmgImAlexis commented on #2584
Fixed that https://github.com/OmgImAlexis/SickRage/commit/bb49662dc5a7beb9193538a02b05f4fac194bd92

[2015-08-28 06:31] WebSpider commented on #2584
While we're talking theming, have you guys seen CouchPotato's new theme?

-----Original Message-----
From: "X O" <notifications@github.com>
Sent: ‎8/‎28/‎2015 8:28 AM
To: "SiCKRAGETV/sickrage-issues" <sickrage-issues@noreply.github.com>
Subject: Re: [sickrage-issues] [Feature Request] Replace the inlineprogressbar functions with a single jQuery function and call it on pageload(#2584)

$(this) and

[2015-08-28 06:32] OmgImAlexis commented on #2584
@WebSpider no? Link?

[2015-08-28 06:37] WebSpider commented on #2584
Hmm, i will setup a test cp today, so we can have a look.

For now: https://couchpota.to/updates/changelog.html

It looks sleek.

-----Original Message-----
From: "X O" <notifications@github.com>
Sent: ‎8/‎28/‎2015 8:32 AM
To: "SiCKRAGETV/sickrage-issues" <sickrage-issues@noreply.github.com>
Cc: "Nils" <nils@familievogels.nl>
Subject: Re: [sickrage-issues] [Feature Request] Replace the inlineprogr

[2015-08-28 06:39] OmgImAlexis commented on #2584
Oh wow, that does look nice. I'm still ~400 commits behind master as I have to keep editing main.py to add support for YIFY torrents.

[2015-08-28 06:54] MGaetan89 commented on #2584
@OmgImAlexis But `$(this)` will recreate a new jQuery object every time, no ? I understand for Bootstrap ;)

[2015-08-28 06:57] OmgImAlexis commented on #2584
@MGaetan89 yes but the performance is negligible and for the tiny bit of performance increase it's not worth sacrificing the clean code.

[2015-08-28 07:11] OmgImAlexis commented on #2584
Just compared this to my production install and it's reduced the pageload by 3,000 lines from ~8,000 to ~5,000.

[2015-08-28 07:16] didyouexpectthat commented on #2339
### INFO
Python Version: **2.7.9 (default, Mar  1 2015, 12:57:24) [GCC 4.9.2]**
Operating System: **Linux-2.6.32-40-pve-x86_64-with-debian-8.1**
Locale: unknown
Branch: **master**
Commit: SiCKRAGETV/SickRage@3fb81bd65d7710e59d6c89945a3be39d2dbfc386
No Log available with ERRORS:
### ERROR
[code]
---
_STAFF NOTIFIED_: @SiCKRAGETV/owners @SiCKRAGETV/moderators

[2015-08-28 07:17] Molleke opened #2585 "Episodes status isn't updating to wanted"
Lateley in the development branche the status of the episodes stays Unaired on the day it has aired. It should go to the status Wanted but it doesn't anymore. Therefore episodes that are aired don't get searched for.

![knipsel](https://cloud.githubusercontent.com/assets/12209079/9541097/429b0b5a-4d65-11e5-9507-84e9d9b41ea4.PNG)

![knipsel](https://cloud.githubusercontent.com/assets/12209079/95411

[2015-08-28 07:17] OmgImAlexis opened #2586 "[Feature Request] Convert long polling ajax requests to websockets"
The main thing this will effect will be `/ui/get_messages`.

[2015-08-28 07:23] djoole commented on #2436
@miigotu Full logs here (snatch around 03:20:50, offending file Tyrant.S02E11.HDTV.Subtitulado.Esp.SC.avi) :
https://gist.github.com/djoole/5874e4a600f82ee796bc

[2015-08-28 07:26] djoole commented on #2436
@miigotu Won't be able to try provider-cleanup branch until monday now.
Hope someone can test it.

To reproduce it, you need to look for ep 211 of Tyrant, Custom quality profile with HDTV only, KAT provider activated only, and look for `Tyrant.S02E11.HDTV.Subtitulado.Esp.SC.avi`in the logs.

This release should be detected as SDTV and not HDTV.

[2015-08-28 07:40] MGaetan89 commented on #2584
@OmgImAlexis Ok, so I'm fine with your solution :)

[2015-08-28 07:41] OmgImAlexis commented on #2584
Can this be changed to needs testing or be merged into dev?

[2015-08-28 08:00] miigotu commented on #2584
@OmgImAlexis I would merge but the branch is not up to date. You need to rebase upstream/develop

[2015-08-28 08:21] WebSpider commented on #2339
This issue should be solved in the latest develop branch since a few minutes ago. Please test this, and provide feedback, thanks!

[2015-08-28 08:22] WebSpider commented on #2585
What is your default episode status?

[2015-08-28 08:25] cookerrr commented on #2547
I am also having this same issue.  Of the 80 some shows about 10 show the banners/posters in the sickrage interface.  I've erased the cache and forced a full update but it doesn't help.  the images are downloaded by sickrage and put in the show directories, just not coped to the cache.

[2015-08-28 08:37] Molleke commented on #2585
Default status is "Wanted".
I checked the status again and now it is changed to "Wanted" by the daily searcher thread. So there is a delay in changing the status. This didn't happen before. So I quess this issue can be closed.

[2015-08-28 08:37] #2585 closed

[2015-08-28 08:41] miigotu commented on #2436
This is the indication of the issue:

[code]
Where 32768 is "Unknown"
and 4 is "HDTV"

Both of these should return the same quality in this case.

Digging further.

[2015-08-28 08:58] miigotu commented on #2436
I see what is happening now. It is seeing this as a file SR has renamed before.

This part would be able to be fixed easily with a fixed hachoir (it currently isnt closing file handles).

I am going to merge this fix. If any real breakage happens due to it we will just be forced to fix and PR to hachoir sooner.

[2015-08-28 10:10] miigotu commented on #2580
I've wanted to do this forever, but only owners can configure that.

@fernandog

[2015-08-28 10:11] miigotu commented on #2576
@ezar there are a few reasons. Likely this case is because it is already snatched at a same or higher quality, or the file exists at a same or higher quality.

[2015-08-28 10:13] miigotu commented on #2560
@thenamelessthing I think you just need to configure SR better. If you use hard links it should unlink the link in the library and link the proper, so then you still have the original and the proper in the completed downloads.

does it not work this way? because it should.

[2015-08-28 10:14] miigotu commented on #2436
@djoole @brimur this should be fixed in develop. Let me know if it is not.

[2015-08-28 10:14] #2436 closed

[2015-08-28 10:22] OmgImAlexis commented on #2562
Okay, just confirmed this. @miigotu any ideas?

![screen shot 2015-08-28 at 7 50 23 pm](https://cloud.githubusercontent.com/assets/6525926/9544264/3f486fb6-4dbe-11e5-9a25-dfe593620474.png)

[2015-08-28 10:25] OmgImAlexis commented on #2562
Here's the process page, https://gist.github.com/OmgImAlexis/56ee69803e083fe9f80a.

[2015-08-28 10:57] devenashani opened #2587 "[APP SUBMITTED]: Thread-31 :: Unable to contact github, can't check for update"
### INFO
Python Version: **2.7.3 (default, Jul 13 2012, 04:03:47) [GCC 4.4.5]**
Operating System: **Linux-2.6.31.8.nv+v2-armv5tel-with-debian-6.0.3**
Locale: unknown
Branch: **master**
Commit: SiCKRAGETV/SickRage@3fb81bd65d7710e59d6c89945a3be39d2dbfc386
Link to Log: https://gist.github.com/48f4b30a7ef9d9d220fc
### ERROR
[code]
---
_STAFF NOTIFIED_: @SiCKRAGETV/owners @SiCKRAGETV/moderators

[2015-08-28 10:58] sfgrabowski opened #2588 "Unable to request authorization for Twitter notifications"
BRANCH: (master) / COMMIT: (3fb81bd65d7710e59d6c89945a3be39d2dbfc386)
OS: Ubuntu 12.04.5
Python: 2.7.3

Issue: I am unable to activate my twitter account in the SickRage notification settings. It used to work perfectly, but I am now getting the errors in my log that you can see below:

https://gist.github.com/sfgrabowski/6d485b66a177cdeae998

The last successful tweet was sent on 20th August. I've

[2015-08-28 10:58] brimur commented on #2436
Thanks @miigotu, appreciated.

[2015-08-28 11:00] devenashani commented on #2360
### INFO
Python Version: **2.7.3 (default, Jul 13 2012, 04:03:47) [GCC 4.4.5]**
Operating System: **Linux-2.6.31.8.nv+v2-armv5tel-with-debian-6.0.3**
Locale: unknown
Branch: **master**
Commit: SiCKRAGETV/SickRage@3fb81bd65d7710e59d6c89945a3be39d2dbfc386
Link to Log: https://gist.github.com/a79d5211e9c5c1c8783e
### ERROR
[code]
---
_STAFF NOTIFIED_: @SiCKRAGETV/owners @SiCKRAGETV/moderators

[2015-08-28 11:00] WebSpider commented on #2588
Can you please include debug log? Current log looks like error log.

[2015-08-28 11:03] WebSpider commented on #2587
[code]

Time to download less TV series =)

[2015-08-28 11:24] johnscrub commented on #2581
I am sorry did not see this was an reported issue and solved.I personally have not tried this and cannot say it works..is there a way to see reported errors or a link you can send me to check them??I dont want to cause anymore  work for you guys/girls than  i need to..thanks again for your time!!Date: Thu, 27 Aug 2015 17:15:44 -0700
From: notifications@github.com
To: sickrage-issues@noreply.github

[2015-08-28 11:26] neoatomic commented on #2583
Follow the guidelines for posting an issue. Without logs we cant do anything...

https://github.com/SiCKRAGETV/sickrage-issues#submitting-a-bugissue-ticket

[2015-08-28 11:28] fernandog commented on #2587
Lol

[2015-08-28 11:57] sfgrabowski commented on #2588
I have activated the debug option but I am unable to capture the event in the log file. What should I filter the log by?

[2015-08-28 12:01] fernandog commented on #2360
@miigotu is there a way to replace Thread-24 from title to Thread-XX so no new issues are open?

[2015-08-28 12:08] WebSpider commented on #2588
Set minimum log leverl to display to 'DEBUG'.

[2015-08-28 12:23] duramato commented on #2568
@WebSpider & @miigotu they had an open summer invite code util like 6h ago but well...
If you want i can borrow you the login details to one of you in order for you to test

[2015-08-28 12:35] ripper1967 commented on #2534
Having same problem

[2015-08-28 12:57] fnbf21 commented on #2579
Hi, I found the error, for some reason Transmission was not able to start. I removed it and install it again, and everything is fine.

Thanks ;)

[2015-08-28 12:57] #2579 closed

[2015-08-28 13:08] fernandog opened #2589 "[Feature Request] DB Upgrade: new fields request"
**TV_SHOWS**
- **size: store show size and only update with refresh and/or PP**
- **description**
- **actors**
- **search_method**

**TV_EPISODES**
- **torrent hash: auto remove torrent from client**
- **torrent client: where hash was sent**
- **torrent file link**
- **nzb guid**
- **nzb link**
- **actors**
- **watched**

- previous quality: if better quality stalls or fails, don't delete previous

[2015-08-28 13:30] djoole commented on #2436
@miigotu Thanks a lot, I'll try to test it tonight.

[2015-08-28 14:37] didyouexpectthat opened #2590 "[APP SUBMITTED]: 'NoneType' object has no attribute 'node_idx'"
### INFO
Python Version: **2.7.9 (default, Mar  1 2015, 12:57:24) [GCC 4.9.2]**
Operating System: **Linux-2.6.32-40-pve-x86_64-with-debian-8.1**
Locale: unknown
Branch: **master**
Commit: SiCKRAGETV/SickRage@3fb81bd65d7710e59d6c89945a3be39d2dbfc386
No Log available with ERRORS:
### ERROR
[code]
---
_STAFF NOTIFIED_: @SiCKRAGETV/owners @SiCKRAGETV/moderators

[2015-08-28 14:38] didyouexpectthat commented on #2590
2015-08-28 07:28:32 ERROR    FINDSUBTITLES :: Traceback (most recent call last):
2015-08-28 07:28:32 INFO     FINDSUBTITLES :: Error occurred when downloading subtitles for: /tv/Action/s00e01.avi

[2015-08-28 15:33] yokai117 opened #2591 "Postprocessing on folder scan has hung indefinitely."
Edit2: *Confirmed it was the Kodi update that was causing that to hang. Disabled it and haven't had a problem since.  Disabled the Full Library if episode option fails for the Kodi updates and it hasn't gotten stuck since.*

Edit1: *Apparently it's reproducible in my environment.  Restarted the service and after the first post process it's hung again.  I'm disabling my Kodi notifications to see if

[2015-08-28 16:36] WebSpider commented on #2591
I'm seeing /mnt ... Would this happen to be a networked file system such as NFS or CIFS/Samba ?

[2015-08-28 16:49] fernandog opened #2592 "Displayshow - Episodes from collapsed season not selected when checking "select all" checkbox"
IMO it needs to be uncollpased and then check all episodes

![image](https://cloud.githubusercontent.com/assets/2620870/9552007/40cbf41c-4d8b-11e5-9aa7-a4c891014dab.png)

[2015-08-28 17:23] yokai117 commented on #2591
This is on my freebsd NAS and all the paths are local except for the requests to Kodi.  It's just the storage drives are all under /mnt/Data

[2015-08-28 17:23] didyouexpectthat commented on #2176
2015-08-28 10:16:59 ERROR    FINDSUBTITLES :: Traceback (most recent call last):
2015-08-28 10:16:59 INFO     FINDSUBTITLES :: Error occurred when downloading subtitles for: /tv/The Mindy Project/s02e07.mkv
2015-08-28 10:16:57 ERROR    FINDSUBTITLES :: Traceback (most recent call last):
2015-08-28 10:16:57 INFO     FINDSUBTITLES :: Error occurred when downloading subtitles for: /tv/The Mindy Proje

[2015-08-28 17:23] didyouexpectthat commented on #2176
2015-08-28 10:16:59 FINDSUBTITLES :: Traceback (most recent call last):
  File "/usr/share/sickrage/sickbeard/tv.py", line 1469, in downloadSubtitles
    foundSubs = subliminal.download_best_subtitles([video], languages=languages, providers=providers, single=not sickbeard.SUBTITLES_MULTI, hearing_impaired=False)
  File "/usr/share/sickrage/lib/subliminal/api.py", line 88, in download_best_subtitle

[2015-08-28 17:27] miigotu commented on #2176
@didyouexpectthat you still havent updated to develop. It is fixed there.

[2015-08-28 17:36] sfgrabowski commented on #2588
Apologies but this is the best I could do...

Here is the error log showing a problem with twitter at 2015-08-28 18:32:46:
https://gist.github.com/sfgrabowski/cc0d38be794047bc3128

But this event does not even appear in the debug log:
https://gist.github.com/sfgrabowski/2ea919bcb19395631594

I also seem to be kicking up some other problems looking in the log; could these be related? It was all wor

[2015-08-28 18:01] joakim93 opened #2593 "[APP SUBMITTED]: SEARCHQUEUE-BACKLOG-75340 :: [Dognzb] :: Unable to parse Prison.Break.S4D6.MULTiSUBS.PAL.DVDR-REWIND into a scene name. If it's a valid one log a bug."
### INFO
Python Version: **2.7.9 (default, May 23 2015, 07:37:15) [GCC 4.2.1 20070831 patched [FreeBSD]]**
Operating System: **FreeBSD-9.1-RELEASE-amd64-64bit-ELF**
Locale: unknown
Branch: **master**
Commit: SiCKRAGETV/SickRage@3fb81bd65d7710e59d6c89945a3be39d2dbfc386
No Log available with ERRORS:
### ERROR
[code]
---
_STAFF NOTIFIED_: @SiCKRAGETV/owners @SiCKRAGETV/moderators

[2015-08-28 18:02] didyouexpectthat commented on #2339
Hi. I'm switching to develop branch now to try it out.

[2015-08-28 18:02] didyouexpectthat commented on #2176
I'm switching to develop branch now to try it out.

[2015-08-28 18:09] miigotu commented on #2593
Its not a valid scene name.

[2015-08-28 18:09] #2593 closed

[2015-08-28 18:11] #2590 closed

[2015-08-28 18:14] #2584 closed

[2015-08-28 18:32] thenamelessthing commented on #2560
Actually I was use "copy" mode. I change it to "hardlink". I will confirm you if it's okay.

[2015-08-28 18:59] cookerrr commented on #2547
Here is a log from a forced update for the show amerca's got talent.  All the artwork has been put in the folder by sickrage, but sickrage didn't copy it to its cache folder nor display it in the sickrage interface.

https://gist.github.com/cookerrr/eabf1989d2f7a6e2bbde

Any ideas?  It seems like the last entry is saying it wants to use the banner/poster from the metadata it created but then just

[2015-08-28 20:24] didyouexpectthat commented on #2176
### INFO
Python Version: **2.7.9 (default, Mar  1 2015, 12:57:24) [GCC 4.9.2]**
Operating System: **Linux-2.6.32-40-pve-x86_64-with-debian-8.1**
Locale: unknown
Branch: **develop**
Commit: SiCKRAGETV/SickRage@a7193c6983e62205360aac40d937ce9e846b6852
Link to Log: https://gist.github.com/7b4c3508ce9e0d664e8e
### ERROR
[code]
---
_STAFF NOTIFIED_: @SiCKRAGETV/owners @SiCKRAGETV/moderators

[2015-08-28 20:27] didyouexpectthat commented on #2176
Nope, not fixed.

[2015-08-28 20:39] miigotu commented on #2176
@didyouexpectthat then you need to enable debug, get the file name that fails, report it to wackou/guessit, and stop spamming your logs here about it. It is NOT a sickrage bug.

[2015-08-28 20:41] miigotu commented on #2560
@thenamelessthing with copy mode it most definitely does not delete anything in the completed downloads directory, regardless of how many new versions of an episode you download.

[2015-08-28 20:41] #2560 closed

[2015-08-28 20:45] didyouexpectthat commented on #2176
Then don't say stuff like "You need to use develop, it's fixed there" and then not have a fix. I'll continue reporting bugs as they appear. As SickRage is a conglomerate of many services, if your tool can't properly report bugs to where the bug is happening, then what use is the submit errors on the code? It's partially a SickRage bug as long as you continue to use their code.

[2015-08-28 20:56] miigotu commented on #2176
The use is definitely not for repetitively pasting half of your log without debug enabled FOR THE SAME ERROR OVER AND OVER IN DIFFERENT THREADS.

That is not going to get you help, neither is your attitude. Best you will get that way is mass closed issues and locked topics.

[2015-08-28 20:59] didyouexpectthat commented on #2176
I don't have an attitude. In software I write, I make sure these things don't happen and actually attempt to contribute by fixing such things to other projects. That's clearly not the case here, though.

My debug is enabled. That's the part I don't understand when you keep saying enable debug.
root@sickrage:/# cat /usr/share/sickrage/config.ini  | grep -i debug
debug = 1

[2015-08-28 21:27] miigotu commented on #2176
Then look at the rest of your log, and you will see the file it is processing before the error occurs.

[2015-08-28 21:37] didyouexpectthat commented on #2176
https://github.com/wackou/guessit/issues/225
Opened issue with guessit.

[2015-08-28 21:58] neoatomic commented on #2589
Maybe the indexers that we (might want to) add in the future.?

Sportdb https://github.com/SiCKRAGETV/sickrage-issues/issues/872
Tv.com
And the split-off from TVRage witch name i forgot.

[2015-08-28 21:59] fernandog commented on #2589
I think don't need db upgrade. Just set sportdb as indexer 3 for example, tv.com as 4, etc..

[2015-08-28 22:01] neoatomic commented on #2589
And we have this old FR. Not sure is we would need an update for that. https://github.com/SiCKRAGETV/sickrage-issues/issues/750

[2015-08-28 23:31] miigotu commented on #2589
@fernandog we need a field "description" in tv_shows, and "actors" in both tv_shows and tv_episodes

Some of those wants above are not needed anymore, but we are just making a list right now. We can make final decisions later.

[2015-08-28 23:57] skydiverscott commented on #2534
Having same issue on Windows Home Server 2011

[2015-08-29 00:20] didyouexpectthat commented on #2339
Hi @WebSpider, this is not fixed in develop.

[2015-08-29 00:49] miigotu commented on #2339
"and then I can see about opening another issue for this."

Do not open another issue. Use an existing one. You see we are already jumping around 5 threads about this same issue for exactly that reason.

[2015-08-29 01:03] yokai117 commented on #2591
Found out when I got home the wireless network had been down all day.  I'm closing this as that seems like the most likely reason.

[2015-08-29 01:03] #2591 closed

[2015-08-29 01:07] didyouexpectthat commented on #2339
There appears to only be one bug related to this at guessit, and there's nobody jumping around any threads for that issue. https://github.com/wackou/guessit/issues/212, is closed with nobody continuing the conversation about how this is still not resolved.  Closed Jul 27. However, the same lines that are looping are not exactly the same. As such, this would be a regression issue and would technica

[2015-08-29 01:22] miigotu commented on #2339
@didyouexpectthat do you think you know everything or?

These are all guessit parsing errors, and there are 10 issues on this repo also about guessit issues when searching/downloading subtitles. All because of guessit.

The developer is very motivated and fixes this shit fast.

Not a single one of these, nor yours is a regression. guessit is a young project and is not intended for files with no in

[2015-08-29 02:03] WebSpider commented on #2589
IMO it would be better to keep the torrent_hash in history, so we can make distinction between different download attempts (failed/proper/hung download) as well

[2015-08-29 02:13] WebSpider commented on #2581
Just enter keywords of your error in the sickrage-issues repository search field. That way you search through all open and closed issues.

[2015-08-29 02:13] #2581 closed

[2015-08-29 02:22] miigotu commented on #2589
I figure if we have a few extra fields and end up not needing them, it is better than not having them and later needing them resulting in another db upgrade anytime soon.

[2015-08-29 02:31] WebSpider commented on #2589
Also, we are adding hash for torrent, is there anything similar to identify non-torrent downloads, maybe a unique id from provider or client?

[2015-08-29 03:11] miigotu commented on #2589
Nzb has a guid hash, similar to torrent hash, that will use the same hash field.

[2015-08-29 04:21] cookerrr commented on #2547
just to add to my other posts.  when I take a poster from a show directory and rename it to <show id>.poster.jpg and move it to the cache/images folder sickbeard will start displaying that show banner in the interface.  Is the poster view and artwork something new that was just added that's a work in progress or should this be working correctly?  I still can't figure out why a few of my shows impo

[2015-08-29 06:40] OmgImAlexis opened #2594 "[Feature Request] Add multiselect option when adding a new show"
When adding a new show the user should be able to select either a single show from the results or multiple shows.

[2015-08-29 09:31] djoole commented on #2436
You did it @miigotu :
[code]

Thanks a lot!

[2015-08-29 11:00] elit3ge commented on #2533
Sorted this myself. There was an issue with IPV6 connecting to TheTVDB, turn it back to IPV4 and it connected with a problem.

[2015-08-29 11:00] #2533 closed

[2015-08-29 11:15] WebSpider commented on #2533
Thanks for providing us with the resolution!

[2015-08-29 12:50] WebSpider commented on #2589
@neoatomic i dont think we'd need DB update for #750 .. we could simply download the posters as required and place them in images / cache/images, so we don't need to keep state.

We may want to look into what a full refresh does then.

For sports, we need to see. I've scanned the scene-rules for sports, and each sport has clearly documented, but massively different scene-rules. We could just compa

[2015-08-29 12:51] #2587 closed

[2015-08-29 12:55] Kumolo commented on #2477
@miigotu still not working. Tried same browser tab and new tab as above. Something must be broken here.

Also noticed that again (had this for some days now), since last night 03:28 Show Queue is stuck again (observed in server status). Last time I had this it helped deleting the cache, but that doesn't help this time.

[2015-08-29 12:55] WebSpider commented on #2588
Im not seeing any similar issue report in https://github.com/RuudBurger/CouchPotatoServer .. are you sure this is not your local install causing the problem, for instance because you are out of API calls, or your IP has been banned?

Also, I cannot reproduce, I can send tweets just fine?

[2015-08-29 13:45] WebSpider opened #2595 "[Feature Request] 2160p support as quality"
Now that the 4k-rip of Breaking Bad S01E01 is out there, we should start adding 4k/2160p as quality.

https://torrentfreak.com/first-netflix-4k-content-leaks-to-torrent-sites-150828/

[2015-08-29 16:20] sfgrabowski commented on #2588
I didn't think about my IP -- I'm using a VPN so refreshing that seems to have solved the problems. Apologies for the hassle

[2015-08-29 16:20] #2588 closed

[2015-08-29 16:33] WebSpider commented on #2580
I just forked CouchPotatoBot for this, and can run it on one of my boxes once properly adjusted.

[2015-08-29 18:24] benfishbus opened #2596 "[Feature Request] Coming Episodes: set episodes as skipped/wanted"
Would be really handy to have a button or dropdown for changing status of missed/upcoming episodes on the Coming Episodes screen.

[2015-08-29 18:36] udochrist opened #2597 "Multi Episode file not correctly assigned to ep"
![image](https://cloud.githubusercontent.com/assets/869637/9563707/890931d8-4e8d-11e5-9d7a-9515d31b29e7.jpg)

On the rename screen :
The ep file is named S01E01-E03. The ep02 is however not shown in the list.

[2015-08-29 18:51] WebSpider commented on #2588
Thanks for providing is with feedback, next time we'll start with pointing this issue out to other people reporting the same problem :)

[2015-08-29 20:40] miigotu commented on #2580
@WebSpider the bot is run on github itself afaik, and can only be added/run by an owner of the org.

[2015-08-29 20:43] WebSpider commented on #2580
Actually, the way CP implemented it, it's callbacks and event handlers to nodejs. You have to setup the event handling as repo owner, that's true.

[2015-08-29 20:45] miigotu commented on #2580
@fernandog we need you to do that....

[2015-08-29 20:56] miigotu commented on #2589
I think hash/guid needs added in cache too, to help avoid extra processing later trying to determine it after the search.

[2015-08-29 21:13] cookerrr commented on #2547
Let me preface this by saying I know 0 python, but i was poking around in images_cache.py in the python directory and found the section at the bottom where sickrage would look for current images in the metadata it makes  Below is the portion I'm speaking of from the file, which is the last 50 or so lines.  If i delete the portion that looks for images in the metadata, it'll go and grab the images

[2015-08-29 21:59] anonvoy commented on #2506
Any progress with this? The problem persists. Right now, no subtitles at all are downloaded (the one show that **was** subtitled has ended). Same error messages in logs, I don't note any increased logging as was mentioned.

[2015-08-29 22:23] jamesla opened #2598 "Disallowing certain codecs"
Hi I downloaded a show using the SD profile however it's grabbing this specific show using the .wmv which my tv doesn't support, is there anyway to blacklist certain file formats?

[2015-08-29 22:39] miigotu commented on #2547
@cookerrr it is possible the os.path.isFile is failing for you, depending on how the python you have was compiled, and it's version.

This comes about due to the slashes in the file path, and also could be because it is not using the absPath for that check.

Could you try changing this:

[code]
to:
[code]

I haven't looked at the code as a whole yet, this is just a guess from the info you provided

[2015-08-29 22:54] miigotu commented on #2598
There is not, what are some of the release names of these files? (the torrent/nzb name not the file name)

[2015-08-29 22:55] miigotu commented on #2506
@anonvoy I think your naming pattern is funky maybe. How are your files named?

[2015-08-29 23:41] cookerrr commented on #2547
I tried changing those two lines and the log didn't change and it didn't move the poster and banner. It seems as if the python script halts when it gets to that portion of code, because after the log shows this line "logger.log(u"Checking if we can use the show image from the " + cur_provider.name + " metadata", logger.DEBUG)"  There is no other lines in the log from that script.  When I deleted t

[2015-08-30 00:32] AdeHub opened #2599 "Match of the Day - Unable to parse into a valid show"
Hi, I have the following set for Any quality and Air by date/Sports (are these the same?). Maybe doesn't like DMY format?
[code]

[2015-08-30 00:41] Hiltronix commented on #2547
Since I created this thread, I found the issue that resolved the problem, at least it did in my case.  I posted the PR on the SR project here:

https://github.com/SiCKRAGETV/SickRage/pull/2340

And then was told I had to do the PR on the project library that is being used in SR.  So I did, and it was accepted, and can be found here:

https://bitbucket.org/haypo/hachoir/pull-requests/18/hiltronix-w

[2015-08-30 00:41] anonvoy commented on #2506
I use the name pattern "Show Name - 2x03 - Ep Name.ext". No additional options. I haven't changed that since I installed SR.

[2015-08-30 00:47] miigotu commented on #2547
@Hiltronix not sure how the images have anything to do with hachoir?

hachoir is only used for getting the resolution of a video, nfo, and torrent files afaik.

@cookerrr if that did in fact fix the error, it would be in the develop branch.Could you try develop and see if it is fixed there?

[2015-08-30 00:49] anonvoy commented on #2506
Is there any way to see why there are all those "Exception caught in subliminal.scan_video" errors? Is there a log anywhere for subliminal.scan_video?

[2015-08-30 00:51] miigotu commented on #2506
@anonvoy I was just going to say exactly that. After the dallas game (and maybe after the broncos game) I will add exception info there so you can see exactly why it is failing.

[2015-08-30 01:33] coop73 opened #2600 "The pirate bay read timed out"
BRANCH: (master) / COMMIT: (3fb81bd65d7710e59d6c89945a3be39d2dbfc386)
2.7.10 (default, May 23 2015, 09:40:32) [MSC v.1500 32 bit (Intel)]
Windows 10
Cant seem to get any backlog search
https://gist.github.com/coop73/3048aa9145d57d1208c6

[2015-08-30 01:55] coop73 commented on #2600
Sorry site issue

[2015-08-30 01:55] #2600 closed

[2015-08-30 02:02] fernandog commented on #2580
what exactly I need to do ?

[2015-08-30 05:23] miigotu commented on #2580
It depends on how we want to implement the bot.  If it is a github built-in service it is easier. If it is couchpotatoBot it needs a webhook enabled sending payload to the bot, and the bot has to have an account with privileges. Moderator if it is only managing issues, or Admin if it is also managing PR.

https://github.com/SiCKRAGETV/SickRage/settings/hooks

[2015-08-30 06:47] WebSpider commented on #2580
@miigotu what service is a GitHub standard bot? I've looked but couldn't find any, so I forked cpbot.

-----Original Message-----
From: "miigotu" <notifications@github.com>
Sent: ‎8/‎30/‎2015 7:24 AM
To: "SiCKRAGETV/sickrage-issues" <sickrage-issues@noreply.github.com>
Cc: "Nils" <nils@familievogels.nl>
Subject: Re: [sickrage-issues] [Feature Request] Bots to validate issues/PRs(#2580)

It depends

[2015-08-30 07:13] miigotu commented on #2580
@WebSpider I haven't gone through the list completely, but surely there must be at least one wouldn't you think?

[2015-08-30 07:22] MGaetan89 commented on #2589
There is also https://github.com/SiCKRAGETV/sickrage-issues/issues/1642 that suggests a DB update to improve performance.

[2015-08-30 07:25] WebSpider commented on #2589
I'm unsure if indexes in sqlite are as useful as they are when using a SQL server. When using sqlite (not sqlite3), this resulted in full table scans anyway, and was only provided for compatibility with other SQL engines. Don't know how this progressed over the years though.

[2015-08-30 07:40] miigotu commented on #2589
@MGaetan89 @WebSpider those indices need gone over again and validated, as the SELECT and WHERE have changed in quite a few places in SR since then.

[2015-08-30 07:51] miigotu commented on #2599
Its the `EPL.-.`

If that is supposed to be in the name, add an exception for the show, `EPL - Match of the Day`

[2015-08-30 09:17] OmgImAlexis opened #2602 "[Feature Request] Change from using absolute urls to relative ones"

[2015-08-30 09:45] OmgImAlexis commented on #2602
@miigotu @fernandog Mark this as in progress, I'll start work on it now.

[2015-08-30 09:52] neoatomic commented on #2597
The `S01E01-E3` means episode E01, E02, E03. That is why there is no E02 in your list.

[2015-08-30 09:56] neoatomic commented on #2598
Mostly those are form a bad up-loader/release group. See if you can add that name to the `ignore Words.` Or Enable only downloads form Trusted/Verified up-loaders in the provider settings.

Also checkout the NZBtoMedia scripts for Post Processing, those include a media check during PP.

[2015-08-30 10:15] udochrist commented on #2597
That is the precise point why I would expect a ep2 to be shown if e01 an e03 are displayed.

[2015-08-30 10:16] udochrist commented on #2597
Or better. There should only be one entry for the 1-3 eps and not two

[2015-08-30 10:32] MGaetan89 commented on #2592
The real issue is [this line](https://github.com/SiCKRAGETV/SickRage/blob/master/gui/slick/js/displayShow.js#L50).
It only checks episode that are visible. I will update this as you suggested: display the season, and then check the appropriate episodes.

[2015-08-30 10:37] neoatomic commented on #2597
That is a know issue of the regex, and if i recall right there should be an Feature Request to  improve the recognition of multiple episode files. So its already on the to do list. (but's a long list... :) )

[2015-08-30 10:37] #2597 closed

[2015-08-30 11:01] fernandog commented on #2592
Thanks!

[2015-08-30 11:09] #2592 closed

[2015-08-30 11:16] MGaetan89 commented on #2502
Quick update about this:
- I just submitted a new PR to improve CSS (https://github.com/SiCKRAGETV/SickRage/pull/2372)
- I will soon submit an other one to update the dependencies (Bootstrap at least) and use the minified version of jQuery
- More can probably be done (merging and minifying all CSS files). But we already made progress right now :)

I think some improvements can be made with the ima

[2015-08-30 12:09] OmgImAlexis commented on #2502
@MGaetan89 One thing I wanted to test was images vs using data URIs or possibly using python to convert the images to data URIs on the fly.

[2015-08-30 13:14] MGaetan89 commented on #2502
That sounds like a good idea.
Last time I checked, some images look similar, but were in different files. So I wanted to see if it is possible to use the same image everywhere, to be more consistent. It should help you too to use data URIs ;)

[2015-08-30 13:43] Morphy99 commented on #2534
Same here win7 x64

[2015-08-30 13:53] miigotu commented on #2534
No shit. =P

[2015-08-30 14:59] WebSpider commented on #2589
Also, would we store custom qualities in db? Or in config file? Db would make sense, because we store the downloaded quality in there as well

[2015-08-30 15:03] miigotu commented on #2589
@WebSpider the show table stores the quality it wants for the show, the episode table stores the quality it was downloaded.

For custom quality definitions that are defined by the user I think this is a user configuration, just like anything in the ini.

[2015-08-30 15:39] #1924 closed

[2015-08-30 16:00] OmgImAlexis opened #2604 "[Feature Request] Considerations for a new theme"
Since I want to remove all of Bootstrap at some stage I thought we might as well move from the old Bootstrap-esque theme to a newer, cleaner style. I'm all up for ideas on this. Of course we could always just replicate the current theme without Bootstrap but I think if we're going to remove it we might as well give SickRage a new look.

![screen shot 2015-08-31 at 1 21 15 am](https://cloud.githubu

[2015-08-30 16:07] MGaetan89 commented on #2604
There's already a new theme planned: https://github.com/SiCKRAGETV/SickRage/tree/slicker/gui/slicker
Why not remove Bootstrap from there? And why remove it altogether?

[2015-08-30 16:13] WebSpider commented on #2604
I'm pretty impressed by the CouchPotato v3 theme. The flick-switches and only icons for the main menu items look good.

-----Original Message-----
From: "X O" <notifications@github.com>
Sent: ‎8/‎30/‎2015 6:00 PM
To: "SiCKRAGETV/sickrage-issues" <sickrage-issues@noreply.github.com>
Subject: [sickrage-issues] Possible new theme (#2604)

Since I want to remove all of Bootstrap at some stage I though

[2015-08-30 23:09] anonvoy commented on #2506
**@miigotu** I got the subtitle download working again, but it is not working 100% as it should IMO. After you inquired about the name pattern, I decided to experiment with it and tried custom patterns. With some of them, subtitles are downloaded effortlessly (new episodes or via mass update), namely

     %SN - %Sx%0E - %EN - %QN

and

    %SN - %Sx%0E - %EN.

Unfortunately, both place all episod

[2015-08-30 23:52] abonham opened #2605 "Error viewing logs"
BRANCH: (master) / COMMIT: (3fb81bd65d7710e59d6c89945a3be39d2dbfc386)
Python Version:	2.7.10 (default, May 23 2015, 09:44:00) [MSC v.1500 64 bit (AMD64)]
OS: Windows 8.1

When trying to view the general logs I get the error below. Viewing the errors log seems fine. The logs look fine from a text editor.

[code]

Sample from log:

[code]

[2015-08-31 00:23] miigotu commented on #2604
The icon only thing is a good direction for international applications, as there is less lost in translation. English and other languages are on the same playing field then and that's a plus

[2015-08-31 00:26] miigotu commented on #2506
Mine works with season sub folders.

Season %0S/ %SN - %0SE%0E - %EN.ext

[2015-08-31 00:37] anonvoy commented on #2506
Yes, as soon as I put a "Season" in front of my name pattern, like

Season %0S/ %SN - %Sx%0E - %EN - %QN,

subtitle download works here too. So it seems season folders that have only numbers in the title are what is problematic.

[2015-08-31 00:49] miigotu commented on #2506
It needs at least an S as in S01 or Season 01 for the folder name.

[2015-08-31 01:56] skipmeister123 opened #2606 "Not requiring logins?! Logout doesn't do anything...?"
I'm not sure when this started happening, but I can browse my SickRage install without logging in (eg, private browsing, using someone elses' computer...).  If I try to log out, it redirects back to the show list, and I'm still able to make changes.

[2015-08-31 02:25] miigotu commented on #2606
go check that your username and password are set. login still works.

[2015-08-31 02:26] skipmeister123 commented on #2606
Maybe I'm missing something, but I couldn't find where to set it. I
remember having to log in before. I'm not sure when this started happening.
On Aug 30, 2015 10:25 PM, "miigotu" <notifications@github.com> wrote:

[2015-08-31 02:27] miigotu commented on #2606
config/general/ on the interface tab, "HTTP username/password"

[2015-08-31 02:29] skipmeister123 commented on #2606
AH! Yeah, it's empty. I wonder when that happened. Thanks! Looks like I'm just dumb. :)

--
Hans Kokx

On Sunday, August 30, 2015 at 10:27 PM, miigotu wrote:

[2015-08-31 03:25] OmgImAlexis commented on #2604
@MGaetan89 the new theme is soooo different, I was thinking of making this basically the same but just less like Bootstrap and with a sidebar. Also the other theme still hasn't been converted to mako and will take a LONG time to do so as it also needs all of the recent changes we've made on this theme.

@WebSpider that's kind of what I was going for but with the same colours we're already using in

[2015-08-31 04:11] jiBYo opened #2607 "[Feature Request] Add Seed time to torrent providers"
Can we please have seed time per tracker? If you could add the option for seed time per episode or season for btn that would be even better but seed time per tracker would be good.

[2015-08-31 04:56] #2606 closed

[2015-08-31 05:01] OmgImAlexis opened #2608 "[Feature Request] Delete files that pp sees as too small or lower quality"
It'd be nice to have an option where SR could delete files that "fail" in post processing, for example if SR snatches a 720p copy and then a 1080p copy but processes the 1080p first it'd delete the 720p instead of just leaving it in the process folder.

[2015-08-31 05:44] c4uran commented on #2536
its justcant find because series name like format: Baby Steps 2 - 21
i dont how it can help:

2015-08-31 08:42:56 INFO     SEARCHQUEUE-MANUAL-278152 :: [ThePirateBay] :: Unable to find a download for: [Baby Steps - 2x21 - Good, Evil, and Rules]

2015-08-31 08:42:55 INFO     SEARCHQUEUE-MANUAL-278152 :: [ThePirateBay] :: Performing episode search for Baby Steps
2015-08-31 08:42:39 INFO     SEARCHQU

[2015-08-31 05:46] WebSpider commented on #2536
We still need debug logs.

[2015-08-31 05:49] c4uran commented on #2536
like this?

2015-08-31 08:48:04 INFO     SEARCHQUEUE-MANUAL-278152 :: [ThePirateBay] :: Unable to find a download for: [Baby Steps - 2x21 - Good, Evil, and Rules]
2015-08-31 08:48:04 DEBUG    SEARCHQUEUE-MANUAL-278152 :: [ThePirateBay] :: formatting pattern: %SN - %Sx%0E - %EN -> Baby Steps - 2x21 - Good, Evil, and Rules
2015-08-31 08:48:04 DEBUG    SEARCHQUEUE-MANUAL-278152 :: [ThePirateBay] :: E

[2015-08-31 06:04] WebSpider commented on #2605
https://sickrage.tv/forums/forum/help-support/general-support/12825-ensuring-your-locale-s-are-set-properly-to-avoid-unicode-issues

[2015-08-31 06:04] #2605 closed

[2015-08-31 06:15] #2598 closed

[2015-08-31 06:15] #2576 closed

[2015-08-31 06:15] WebSpider commented on #2534
@miigotu haypo posted in the bitbucket issue that he wasnt planning on supporting hachoir3 ?

[2015-08-31 06:20] miigotu commented on #2534
@WebSpider yes, and also hachoir itself is no longer maintained/supported, unless we submit fixes ourself.

I think I have a dirty patch that might hackfix hachoir open file handles for us, but without being able to reproduce it (idk why) it is hard to test.

Since the parser is not a class its difficult to store the handle, and the handle is passed through multiple modules of hachoir. I think I w

[2015-08-31 06:23] miigotu commented on #2534
I think the global will be a dict with the keys being the filename of the open file handle, and the value being the open file, so that we can stay semi thread safe (it wont be perfect unless we classify it and use it as an object) and handle multiple open files at a time.

[2015-08-31 07:21] joakim93 commented on #256
### INFO
Python Version: **2.7.9 (default, May 23 2015, 07:37:15) [GCC 4.2.1 20070831 patched [FreeBSD]]**
Operating System: **FreeBSD-9.1-RELEASE-amd64-64bit-ELF**
Locale: unknown
Branch: **master**
Commit: SiCKRAGETV/SickRage@3fb81bd65d7710e59d6c89945a3be39d2dbfc386
Link to Log: https://gist.github.com/082b4a78b24a8c0b6a3c
### ERROR
[code]
---
_STAFF NOTIFIED_: @SiCKRAGETV/owners @SiCKRAGETV/mod

[2015-08-31 07:46] miigotu commented on #2534
Please test the latest commit to develop, and if it is still failing ping me here. Closing this for now.

[2015-08-31 07:46] #2534 closed

[2015-08-31 08:00] abonham commented on #2605
Those instructions are for *nix, any windows equivalent?

[2015-08-31 08:19] flightlevel commented on #2605
Have you tried https://github.com/SiCKRAGETV/sickrage-issues/issues/1425#issuecomment-133144366 ?

[2015-08-31 08:27] Alexwijn commented on #1924
When will the fix be merged to master?

[2015-08-31 08:31] miigotu commented on #1924
@Alexwijn, Soon I hope, need to check on the status of some recently merged PR first.

[2015-08-31 08:50] miigotu commented on #1924
@Alexwijn actually just made the release. If there are any problems we will hotfix.  The merge was around 40K changed lines so I figured it was about time lol.

[2015-08-31 10:11] jiBYo opened #2609 "Mako Runtime Error after latest update"
This is what I get, I can not even load any pages, this is what it boots up as on the /home/ page

----------------------------------------------

Error !

AttributeError: class Quality has no attribute 'combinedQualityStrings'

<%! from sickbeard.common import Quality, qualityPresets, qualityPresetStrings %> <%def name="renderQualityPill(quality, overrideClass=None)"><% if quality in qualityPrese

[2015-08-31 10:17] bdcrypt commented on #2405
I've actually run into almost the exact same issue, with the exact same anime (and another, so it's not just isolated to God Eater), so maybe I can shed some more light.

SickRage was unable to find any of the first 5 episodes of God Eater (everything that was available at the time of trying). However, if I searched for God Eater on the same website through my browser, I'd find every episode so fa

[2015-08-31 10:19] jiBYo commented on #2609
Seamed to fix with a server reboot

[2015-08-31 11:01] fernandog opened #2610 "Catch error in provider and show warning instead of error and traceback"
[code]

[2015-08-31 11:08] #2609 closed

[2015-08-31 11:29] elit3ge opened #2611 "Missing network icons."
Hinterland - S4/C
![hinterland](https://cloud.githubusercontent.com/assets/1644699/9577740/4e0194ea-5027-11e5-94d8-7787c92d2530.PNG)

Utopia (AU) - ABC (AU)
![utopia](https://cloud.githubusercontent.com/assets/1644699/9577742/4e04bd28-5027-11e5-9bf9-9ecb2d2cbbc0.PNG)

Digimon - Toon Disney
![toon disney](https://cloud.githubusercontent.com/assets/1644699/9577741/4e025114-5027-11e5-9559-02cdd645a94

[2015-08-31 11:43] MickHussey commented on #309
I agree with sepuku.....doing it as he suggests with default quality/location settings would be a great start.

[2015-08-31 11:54] MaNIaC-Semal commented on #2462
### INFO
Python Version: **2.7.9 (default, Mar  1 2015, 12:57:24) [GCC 4.9.2]**
Operating System: **Linux-3.16.0-4-amd64-x86_64-with-debian-8.1**
Locale: UTF-8
Branch: **master**
Commit: SiCKRAGETV/SickRage@4db41da61c3e4639a19613a3e4f0dfeef9831fc0
Link to Log: https://gist.github.com/e341b2c2c8449dee7a68
### ERROR
[code]
---
_STAFF NOTIFIED_: @SiCKRAGETV/owners @SiCKRAGETV/moderators

[2015-08-31 12:05] neoatomic commented on #2611
@elit3ge Should be fixed on the next update.

(However i wasn't able to add the S4/C logo due to the `/` in the name, the file system doesn't except that.Only way to solve that is changing the network name on thetvdb)

[2015-08-31 12:05] #2611 closed

[2015-08-31 12:08] miigotu commented on #2611
@neoatomic I think if you add a directory in the images/network folder `s4` and put a file `c.png` in it, it would show up xD.

[2015-08-31 12:22] neoatomic commented on #2611
@miigotu That worked. :)

[2015-08-31 12:55] Alexwijn commented on #1924
Uhm, maybe not exactly the place to report this but it about the trakt integration: /home/addShows/trendingShows/ has the title FixME and is unable to show any shows there.

[2015-08-31 12:57] Germetik opened #2612 "No downloads were found on custom torrent provider"
I added custom torrent provider LostFilm.
Unfortunately, it couldn't find a download, i performed manual search.

Log output:
[code]

[2015-08-31 13:10] neoatomic commented on #2612
Enable the custom provider. Or enable daily/backlog search for that custom provider.

[2015-08-31 13:22] Germetik commented on #2612
My custom provider is already enabled and it doesn't support backlog searches. It marked as LostFilm*.
Debug log:
2015-08-31 16:19:22 INFO     SEARCHQUEUE-MANUAL-276312 :: Unable to find a download for: [From Dusk Till Dawn The Series - 2x01 - Opening Night]
2015-08-31 16:19:22 DEBUG    SEARCHQUEUE-MANUAL-276312 :: formatting pattern: %SN - %Sx%0E - %EN -> From Dusk Till Dawn The Series - 2x01 - O

[2015-08-31 13:23] Alexwijn commented on #1924
But regarding the issue that you can't delete TV Shows with trakt is I think resolved. I just deleted 3 shows that I was unable to delete in the past and it did not return yet.

[2015-08-31 13:30] Alexwijn commented on #1924
Scratch that, the 3 shows are back again after a Trakt sync.

[code]

[2015-08-31 13:54] zarkroc opened #2613 "Failed Unrar archive time data '2000-01-01 00:00' does not match format '%d-%m-%y %H:%M'"
Something broke during the debian update of unrar to version 1:5.3.2-1 older version still works fine to use.Looking at the changelog for unrar it states the following for 5.30 beta 1:  3. Console RAR "l" and "v" commands display file time in YYYY-MM-DD format.
[code]

[2015-08-31 14:07] WebSpider commented on #2613
Since we're using an external library for unrar, this will likely have to go upstream. Will confirm in a few hours

[2015-08-31 14:15] miigotu commented on #1924
@Alexwijn what does it say when deleting the shows???

[2015-08-31 14:35] Alexwijn commented on #1924
Nothing more than the following:

[code]

[2015-08-31 15:35] c0derMick opened #2614 "[APP SUBMITTED]: CHECKVERSION :: Unable to contact github, can't check for update"
### INFO
Python Version: **2.7.10 (default, Jun  3 2015, 20:43:13) [GCC 4.7.3 20130102 (prerelease)]**
Operating System: **Linux-3.10.35-x86_64-with-glibc2.2.5**
Locale: UTF-8
Branch: **master**
Commit: SiCKRAGETV/SickRage@ea897589698c18007ff0fd062b224d68d76d3bb5
Link to Log: https://gist.github.com/c6b133ff9a19e176def8
### ERROR
[code]
---
_STAFF NOTIFIED_: @SiCKRAGETV/owners @SiCKRAGETV/moderato

[2015-08-31 16:37] pATYbulaire opened #2615 "[SUBTITLE] -- Exception caught in subliminal.scan_video"
Hello Guys,

Few information:

SR Version:	BRANCH: (master) / COMMIT: (4db41da61c3e4639a19613a3e4f0dfeef9831fc0)
SR User:	pATYbulaire
SR Locale:	('fr_FR', 'cp1252')
SR Config file:	D:\Downloads\SickRage\config.ini
SR Database file:	D:\Downloads\SickRage\sickbeard.db
SR Cache Dir:	D:\Downloads\SickRage\cache
SR Log Dir:	D:\Downloads\SickRage\Logs
SR Arguments:	['--nolaunch']
Python Version:	2.7.10

[2015-08-31 17:12] neoatomic commented on #2614
Github was probably down for a moment, or you had no ISP connection. etc.

[2015-08-31 17:12] #2614 closed

[2015-08-31 17:13] miigotu commented on #2615
1. Please don't open duplicate issues, find the existing ones and use those.
2. It doesn't use a regex really, it uses the hash of the actual file
3. It is most likely your naming pattern. If you have them in subfolders make sure the naming pattern has `Season` or `S` before the season number, as in `Season 01/` or `S01/`

[2015-08-31 17:14] WebSpider commented on #2614
Your git seems to be corrupted.
Possibly do a git reset, which you can find in settings with auto update.

-----Original Message-----
From: "c0derMick" <notifications@github.com>
Sent: ‎8/‎31/‎2015 5:35 PM
To: "SiCKRAGETV/sickrage-issues" <sickrage-issues@noreply.github.com>
Subject: [sickrage-issues] [APP SUBMITTED]: CHECKVERSION :: Unable to contactgithub, can't check for update (#2614)

INFO
Py

[2015-08-31 17:14] #2615 closed

[2015-08-31 17:15] miigotu commented on #2615
https://github.com/SiCKRAGETV/sickrage-issues/issues/2506

[2015-08-31 17:34] MGaetan89 opened #2616 "Server status select "Shows" menu item"
When on the "Server status" page (`/home/status/`), the "Shows" menu is selected, when nothing should be.
It should be easy to fix, but I'll try to finish what I already started first :P

[2015-08-31 17:48] fernandog opened #2617 "Another traceback to handle"
I have no clue where to handle this

[code]

[2015-08-31 17:48] udochrist opened #2618 "Latest gui on iPad shows mostly the menu bar"
![image](https://cloud.githubusercontent.com/assets/869637/9585800/4ff4825c-5019-11e5-897a-63ea91207767.jpg)
After today's update the main menu bar takes roughly 1/3 of the screen in landscape mode on an iPad. No more burger menu like before.

SR Version:	BRANCH: (master) / COMMIT: (4db41da61c3e4639a19613a3e4f0dfeef9831fc0)

[2015-08-31 17:53] miigotu commented on #2618
@MGaetan89 I forgot there were some customizations in bootstrap, specifically min-width and max-width for navbar collapse.

The standard version collapses at 768 to burger, our custom I think was up to 1068 or something like that because of the poorly done navbar not working right.

[2015-08-31 18:00] MGaetan89 commented on #2618
Ok, will check this and update Bootstrap.

[2015-08-31 18:04] udochrist commented on #2618
It also seems that the navbar is not constant in width. Sometimes the support button is on the same line, sometimes not

[2015-08-31 18:13] duramato opened #2619 "Shows aired by year"
Is there anyway to search for a show that is aired yearly like the Billboard Music Awards ,Comedy Central Roasts or the MTV Video Music Awards ?
ive tryed air by date but with no sucess as it searches for the full date D/M/Y and not just year

[2015-08-31 18:35] renini commented on #2613
i have the same issue, i think after installing: unrar:amd64 (5.2.7-0.1, 5.3.2-1) on debian

[2015-08-31 18:50] duramato opened #2620 "[APP SUBMITTED]: Failed Unrar archive mythbusters.s15e08.1080p.webrip.h264-hatchetgear.rar: Unrar: Archive CRC Error"
### INFO
Python Version: **2.7.9 (default, Apr  2 2015, 15:34:55) [GCC 4.9.2]**
Operating System: **Linux-3.19.0-26-generic-i686-with-Ubuntu-15.04-vivid**
Locale: UTF-8
Branch: **develop**
Commit: SiCKRAGETV/SickRage@5cd131dfa040c24db044cab51f9e7322f6ff23cc
No Log available with ERRORS:
### ERROR
[code]
---
_STAFF NOTIFIED_: @SiCKRAGETV/owners @SiCKRAGETV/moderators

[2015-08-31 18:50] duramato commented on #2620
### INFO
Python Version: **2.7.9 (default, Apr  2 2015, 15:34:55) [GCC 4.9.2]**
Operating System: **Linux-3.19.0-26-generic-i686-with-Ubuntu-15.04-vivid**
Locale: UTF-8
Branch: **develop**
Commit: SiCKRAGETV/SickRage@5cd131dfa040c24db044cab51f9e7322f6ff23cc
Link to Log: https://gist.github.com/b059ad37967aa0d78b60
### ERROR
[code]
---
_STAFF NOTIFIED_: @SiCKRAGETV/owners @SiCKRAGETV/moderators

[2015-08-31 18:51] #2620 closed

[2015-08-31 18:52] duramato commented on #1444
### INFO
Python Version: **2.7.9 (default, Apr  2 2015, 15:34:55) [GCC 4.9.2]**
Operating System: **Linux-3.19.0-26-generic-i686-with-Ubuntu-15.04-vivid**
Locale: UTF-8
Branch: **develop**
Commit: SiCKRAGETV/SickRage@5cd131dfa040c24db044cab51f9e7322f6ff23cc
Link to Log: https://gist.github.com/cfee45d379b0763aa8da
### ERROR
[code]
---
_STAFF NOTIFIED_: @SiCKRAGETV/owners @SiCKRAGETV/moderators

[2015-08-31 19:01] c0derMick commented on #2614
That makes sense.  I'm new to this and could use a little help.  I'm running this on a Synology NAS, which is basically linux for the underlying OS.  When I tried to run through the steps found here, https://github.com/SiCKRAGETV/sickrage-issues, I couldn't run the git command.  It seems like it's not part of the path, but of course I don't know where it's installed because it's all done through t

[2015-08-31 19:25] anonvoy commented on #2506
With the latest SR revision from today, subtitle downloads started working again even if the season subfolder names are numbers only. Thanks for whatever changes were made.

[2015-08-31 19:27] WebSpider commented on #2613
Yeah, rar output seems to have changed:

[code]

Unrar output used to be '%d-%m-%y %H:%M', apparently this has changed.
Short term workaround: Keep unrar downrev in your install. Will open an issue with py-unrar2 to see if this can be solved upstream.

[2015-08-31 19:41] WebSpider commented on #2526
Other than that cheetah isn't needed, that guide doesn't look strange. @miigotu any bright ideas?

[2015-08-31 19:42] #2519 closed

[2015-08-31 19:45] eXistenZNL opened #2621 "Custom quality settings is doing things it's not supposed to do"
I have a hard time wrapping my head around the custom quality settings, and cannot understand why SickRage started to download tons of 720P Web-DL episodes for episodes that I already own the 720P HDTV quality of.

My settings:
Quality -- Custom
Allowed -- SDTV, SD DVD, 720P HDTV, 720P Web-DL, 720p BluRay
Preferred -- 720P HDTV, 720P Web-DL, 720p BluRay
Archive on first match -- checked

Also, som

[2015-08-31 19:56] WebSpider commented on #380
This feature to me would be better off in https://github.com/clinton-hall/nzbToMedia .. which also does transcoding of movies for instance

[2015-08-31 20:01] WebSpider commented on #1891
I actually have implemented this using standard SR functionality:

1) Torrent client downloads to /download/series/complete
2) Torrent client fires off TorrentToMedia which hardlinks this in /postproc/series/
3) SickRage prostprocs this in /postproc/series, hardlinks in /media/series/Serie/Season/episode.mkv and cleans up /postproc/series
4) When the torrent is removed from the client, it gets rem

[2015-08-31 20:10] vipkid commented on #2469
I support this idea

[2015-08-31 20:51] raymondtrueman commented on #1105
@fernandog The "Need Feedback" lable should be removed from this issue

[2015-08-31 21:02] raymondtrueman commented on #29
#833

[2015-08-31 21:21] neoatomic commented on #2619
No, not possible.
Also this is more considered as a "movie" then a series/show.

[2015-08-31 21:27] WebSpider commented on #29
Closing this, as the duplicate is better documented and motivated.

[2015-08-31 21:27] #29 closed

[2015-08-31 21:31] WebSpider commented on #2614
If you're using Syno:

1) Install git from SynoCommunity
2) Install SickRage from SynoCommunity
3) git path is /usr/local/git/bin/git

If it doesn't work, copy config.ini and sickbeard.db. Reinstall SickRage and copy the files back into /usr/local/sickrage/var

[2015-08-31 21:32] miigotu commented on #2506
@anonvoy yes, I have updated guessit again. Good to know.

[2015-08-31 21:32] #2506 closed

[2015-08-31 21:37] neoatomic commented on #2604
Think optimizing the Slick theme is the smartest thing to do, before thinking about redoing the theme itself.
Also we have same FR's related to the theme, so it might be a good idea to go through them to see whats possible. (and if not close them)

https://sickrage.tv/forums/forum/help-support/general-support/22882-new-theme-fanart?p=23187#post23187

Here is one of those FR's to make it easier to

[2015-08-31 21:39] miigotu commented on #2526
For one `sudo pip install pyopenssl==0.13.1` is incorrect for python 2.7.9+, and fails anyways since the guide does not `sudo apt-get install build-essential`.

[2015-08-31 22:09] #2583 closed

[2015-08-31 22:14] miigotu commented on #2621
`Also, sometimes 'allowed' and 'preffered' is used, and sometimes 'initial' and 'replace with' is used. Those are two different things imho, 'allowed' includes the versions I want, 'initial' does not.
I believe this terminology should be updated to be consistent across SickRage.`

One place it was missed when the terms were changed. They are the same setting.

` Starts downloading another preferre

[2015-08-31 22:19] WebSpider commented on #2589
Also #1994

[2015-08-31 22:23] devenashani opened #2622 "[APP SUBMITTED]: Thread-26 :: Unable to contact github, can't check for update"
### INFO
Python Version: **2.7.3 (default, Jul 13 2012, 04:03:47) [GCC 4.4.5]**
Operating System: **Linux-2.6.31.8.nv+v2-armv5tel-with-debian-6.0.3**
Locale: unknown
Branch: **master**
Commit: SiCKRAGETV/SickRage@4db41da61c3e4639a19613a3e4f0dfeef9831fc0
Link to Log: https://gist.github.com/cad1cc9b216d076710a0
### ERROR
[code]
---
_STAFF NOTIFIED_: @SiCKRAGETV/owners @SiCKRAGETV/moderators

[2015-08-31 23:07] WebSpider commented on #2381
@MGaetan89 Feel like looking at this too?

[2015-08-31 23:14] #1637 closed

[2015-08-31 23:16] WebSpider commented on #1180
:-1:

[2015-08-31 23:17] Fenikkusu opened #2623 "[Feature Request] Introduction of Season Names for Anime"
I've had this issue a good number of times already.

In the case of Anime, often times the Seasons have different names (IE: SAO, SAO II), but are considered part of the same series based off TVDB/TVRage. This causes issues in that when post-processing occurs, files will be named based off the enclosing show, not the actual show name. (IE: Season 02/SAO - S2E1 instead of Season 02/SAO II)

If seas

[2015-09-01 00:14] WebSpider commented on #2622
[code]

[2015-09-01 00:14] #2622 closed

[2015-09-01 00:22] VinceVal opened #2624 "Windows installer for SickRage"
Suggested SickRage to a buddy of mine who runs Windows and he didn't want to hassle with Git/Python/etc... Any interest in an easier installer for Windows users? I'd be happy to work on something to make the process a bit easier for our Windows buddies.

[2015-09-01 00:27] fernandog opened #2625 "Strange tabs layout"
Has anyone seen this?
Fonts are different too.

![image](https://cloud.githubusercontent.com/assets/2620870/9593592/cb60a3fa-5026-11e5-91b5-0d870644b97d.png)

@miigotu @MGaetan89 @OmgImAlexis

[2015-09-01 00:35] fernandog opened #2626 "[Feature Request] Coming Episodes - Add column filter widget"
don't allow "Search" column to be unselected
we can also remove the "Sort by" and the list box. User can filter in the table (tablesorter)

[2015-09-01 00:52] WebSpider commented on #2624
I would be all for it, as long as we don't have to provide seperate windows versions for all releases, like SB used to do.

-----Original Message-----
From: "VinceVal" <notifications@github.com>
Sent: ‎9/‎1/‎2015 2:22 AM
To: "SiCKRAGETV/sickrage-issues" <sickrage-issues@noreply.github.com>
Subject: [sickrage-issues] Any interest in a Windows installer? (#2624)

Suggested SickRage to a buddy of min

[2015-09-01 01:33] Talung commented on #2529
BRANCH: (master) / COMMIT: (4db41da61c3e4639a19613a3e4f0dfeef9831fc0)

After update it is still defaulting to the "Pushover" sound and not the sound I selected.  The "Device Specific" sound is working as expected.

[2015-09-01 01:48] VinceVal commented on #2624
I was thinking something more along the lines of pulling in a copy of git, python, dependencies, etc and letting the built in git updater handle the updates. Really more just bootstrapping the process so the user doesn't have to install stuff separately. I'd also like to keep everything in a separate directory as to not interfere with any globally installed Git/Python.

[2015-09-01 05:27] joakim93 commented on #256
### INFO
Python Version: **2.7.9 (default, May 23 2015, 07:37:15) [GCC 4.2.1 20070831 patched [FreeBSD]]**
Operating System: **FreeBSD-9.1-RELEASE-amd64-64bit-ELF**
Locale: unknown
Branch: **master**
Commit: SiCKRAGETV/SickRage@4db41da61c3e4639a19613a3e4f0dfeef9831fc0
Link to Log: https://gist.github.com/ae0eb8ba59ede04af552
### ERROR
[code]
---
_STAFF NOTIFIED_: @SiCKRAGETV/owners @SiCKRAGETV/mod

[2015-09-01 05:30] OmgImAlexis commented on #2381
@timgilbert can you switch to the develop branch and check, it should be fixed now.

The only other thing that could be causing this is that the CSS must be after some js that's stopping the page from rendering.

[2015-09-01 05:37] OmgImAlexis commented on #2604
@neoatomic is that slicker in the forums? https://github.com/SiCKRAGETV/SickRage/pull/2324

I think you're right, we need to discuss how we're going with the theme though as @miigotu and I wanted to change the file structure but he also said he wants to do a major release soon so should I hold out till then and just focus on cleaning this one up? I'll have a look at that FR.

That reminds me, @MGa

[2015-09-01 05:39] eXistenZNL commented on #2621
`One place it was missed when the terms were changed. They are the same setting.`

So should I include or exclude the preferred qualities in the first list?

`Then the video you already have was snatched before you enabled archive on first match, or it would have been archived and could not be replaced.`

I see. When I now manually archive an episode when it's been downloaded e.g. on 720P Web-DL,

[2015-09-01 05:44] WebSpider commented on #2624
:+1:

[2015-09-01 05:48] WebSpider commented on #256
Apparently not fixed in all cases

[2015-09-01 05:52] MGaetan89 commented on #2604
@OmgImAlexis I did not plan to do that yet. I agree it should be change, but I think there are more important improvements to do.
If we are going to support multiple languages, I can provide the French translation.

[2015-09-01 06:08] OmgImAlexis commented on #2625
@fernandog is this on the dev branch? I'm still on master.

[2015-09-01 06:11] OmgImAlexis commented on #2604
@MGaetan89 Yeah I agree, just thought I'd mention it while you're still working on it.
I'm thinking the inline styles may be part of the reason for https://github.com/SiCKRAGETV/sickrage-issues/issues/2381

[2015-09-01 06:28] NicoLeOca commented on #1829
+1

[2015-09-01 06:46] NicoLeOca opened #2627 "[Feature Request] Add language flag to audio track in mkv"
Hi,

Most shows downloaded from scene basically have no flag for their audio tracks.
Would it be possible for SR to change the audio track's language automatically depending on the show's origin and on settings we enter?
It's a bit like automating Mkvtoolnix in the PP.

Looking forward to reading your comments about it.

BTW, I am suprised not to see it being part of the Scene rules

[2015-09-01 06:55] WebSpider commented on #2627
Interesting suggestion.

Can't use mkvtoolnix as this would introduce an external binary dependency, something we're trying to avoid.

Alternative might be the enzyme library by @diaoul

-----Original Message-----
From: "NicoLeOca" <notifications@github.com>
Sent: ‎9/‎1/‎2015 8:46 AM
To: "SiCKRAGETV/sickrage-issues" <sickrage-issues@noreply.github.com>
Subject: [sickrage-issues] [feature suggestio

[2015-09-01 07:20] renini commented on #2613
Is it possible to install the old unrar binary next to the current one so that sickrage uses that as a temporary workaround?

[2015-09-01 07:28] Diaoul commented on #2627
Currently enzyme doesn't support writing metadata. That could be a nice
addition.
Le 1 sept. 2015 8:55 AM, "Nils" <notifications@github.com> a écrit :

[2015-09-01 07:32] WebSpider commented on #2627
Speaking for myself, i'm not a big fan of modifying stuff we downloaded to add metadata or transcode for instance.

We already write metadata in kodi NFO's for instance, which would be fine.

-----Original Message-----
From: "Antoine Bertin" <notifications@github.com>
Sent: ‎9/‎1/‎2015 9:28 AM
To: "SiCKRAGETV/sickrage-issues" <sickrage-issues@noreply.github.com>
Cc: "Nils" <nils@familievogels.nl>

[2015-09-01 08:19] WebSpider commented on #2613
Thanks for letting us know, will use this for others that are having the same issue, until we can update the library

[2015-09-01 09:54] OmgImAlexis opened #2628 "[Low priority] Episode names containing a dash don't process properly"
File: `Curious George - S04E05 - George Meets Allie-Whoops.mkv`
Episode: `George Meets Allie-Whoops`

SR is seeing it as:
Episode: `George Meets Allie`
Provider: `Whoops`

[2015-09-01 10:14] neoatomic commented on #2624
We talked about doing this a few weeks back. So it would be more than welcome if you are able to create an installer.

Here are some guides related to the windows installation that might help you.
(However we dont need Cheetah anymore, so that part you can leave out.)

http://www.htpcguides.com/install-sickrage-windows-usenet-torrent-tv/
http://www.htpcguides.com/create-sickrage-system-service-win

[2015-09-01 10:31] neoatomic commented on #2604
@OmgImAlexis Yes, thats Goeny's Slicker theme. But the images are outdated as he has redone the whole theme after his last post.

Think we have had 2-3 users that where planning/creating a theme but got stuck because the Slick theme didn't let them easily create there own Theme. (and it might happen also to Slicker?...) So if we possible, i hope we can make some improvements there. It also encoura

[2015-09-01 10:38] neoatomic commented on #2625
Fonts are indeed a little different. (Thinker.)

[2015-09-01 10:42] #2619 closed

[2015-09-01 10:47] #2293 closed

[2015-09-01 10:48] #2419 closed

[2015-09-01 10:56] neoatomic commented on #2556
@BodoWitcha As @miigotu mentioned it are the special characters that are causing the problem. And its Windows Locale that isn't working with those characters. So not a bug.

@miigotu Would changing the locale to another CP solve this.?

[2015-09-01 10:58] neoatomic commented on #2568
@duramato Can you change the password to not include the `ç` so we know that isn't the problem.?

[2015-09-01 11:02] sverleysen opened #2629 "[APP SUBMITTED]: 403 {u'documentation_url': u'https://help.github.com/articles/locking-conversations/', u'message': u'Unable to create comment because issue is locked.'}"
### INFO
Python Version: **2.7.10 (default, Jun  3 2015, 23:30:53) [GCC 4.6.3]**
Operating System: **Linux-3.2.40-i686-with-glibc2.0**
Locale: unknown
Branch: **master**
Commit: SiCKRAGETV/SickRage@4db41da61c3e4639a19613a3e4f0dfeef9831fc0
Link to Log: https://gist.github.com/87cf89d48e7a5ded1ceb
### ERROR
[code]
---
_STAFF NOTIFIED_: @SiCKRAGETV/owners @SiCKRAGETV/moderators

[2015-09-01 11:04] neoatomic commented on #2573
@xstefanx Cant find a explanation...  See if you can do a clean installation.
I'm pretty sure that the win10 upgrade did some weird things to your files/installation.

[2015-09-01 11:08] neoatomic commented on #2612
The log clearly states ` No NZB/Torrent providers found or enabled in the sickrage config for backlog searches.` So not sure why you get the error then when they are enabled.

@miigotu I'm not familiar with the custom RSS feeds, but this pattern seems to be ok.? Also can the special characters be an issue in the feed.?

[2015-09-01 11:44] BodoWitcha commented on #2556
@neoatomic
The enviroment locale of my Windows 10 system is
`850	ibm850	OEM Multilingual Latin 1; Western European (DOS)`
The circumvention I am using at the moment is starting SickRage with the commands:
`chcp 65001`
`C:\SickRage>python C:\SickRage\SickBeard.py -q --nolaunch`
SickRage reports still the following:
`SR Locale:	('nl_NL', 'cp1252')`
The issue I reported is that a directory with a out

[2015-09-01 12:09] NicoLeOca commented on #2627
I use Plex
and it's mainly based on users' language preferences for subtitles in mobile and cloud sync.

[2015-09-01 12:25] fernandog commented on #2625
Develop

[2015-09-01 13:28] miigotu commented on #2625
@OmgImAlexis makes no difference I made a release yesterday.

[2015-09-01 13:37] miigotu commented on #2604
I think we need to stay on the track we are on now and continue refining slick for now. Translation will be simpler/cleaner to add to a clean/lean theme.

for now unicode sandwich, and post processor rewrite are the only major changes outside the theme that are planned before major release. (and might not make it into this release even).

[2015-09-01 13:51] duramato opened #2630 "[Feature Request] Allow search by year"
Add search by episode year much like the search by date .Usefull for yearly aired shows like the MVA ,BMA or tge comedy central roasts par example

[2015-09-01 13:54] WebSpider commented on #2630
Are there scene rules for this?

-----Original Message-----
From: "supergonkas" <notifications@github.com>
Sent: ‎9/‎1/‎2015 3:52 PM
To: "SiCKRAGETV/sickrage-issues" <sickrage-issues@noreply.github.com>
Subject: [sickrage-issues] FR: Allow search by year (#2630)

Add search by episode year much like the search by date .Usefull for yearly aired shows like the MVA ,BMA or tge comedy central roasts p

[2015-09-01 14:51] aurearra opened #2631 "T411 token not found in authentication response"
Can you help me please. What should I do???? please...

2015-09-01 12:51:43 WARNING  SEARCHQUEUE-BACKLOG-278264 :: [T411] :: T411 token not found in authentication response
2015-09-01 12:51:43 WARNING  SEARCHQUEUE-BACKLOG-278264 :: [T411] :: Connection error to getURL https://api.t411.io/auth Error: error ('Connection aborted.', gaierror(-2, 'Name or service not known'))
2015-09-01 12:51:42 WARNIN

[2015-09-01 16:54] VinceVal commented on #2624
Cool. I have some experience here, so I'll get something whipped up. Thanks for the links!

[2015-09-01 17:18] duramato commented on #2630
@WebSpider  i Believe there are scene rules ive been searching and found this https://scenerules.org/t.html?id=2012_1080pTV.nfo
its a long text ik ,so i use the find function with "year" as query and found ```Using just the year is only permitted if the event is once per year ``` and later on it gives an example ```WWE.WrestleMania.2010.PPV.1080p.HDTV.x264-GROUP```

[2015-09-01 17:22] pentium3nl commented on #2532
Dear Neoatomic, Sorry for the slightly later response but ive been on holiday. I have the Python 2 and 3 installed on the following links:
http://www.fajo.de/main/en/thecus/modules/python2
http://www.fajo.de/main/en/thecus/modules/python3

Couchpotato is using the same modules without any problems. The python packages are no longer updated, so that could be another problem as well.

[2015-09-01 17:25] duramato commented on #2630
Also a quick torretz search seems to back my finding https://torrentz.eu/search?q=MTV+Video+Music+Awards (in there ,there is some releases that dont follow scene rules such as 2maverick

[2015-09-01 17:33] neoatomic commented on #2532
You only need Python2 for SickRage.

Sadly we have no control over your Python installation or the installation package that u use to install SickRage. So from our side we cant do anything about that....
Maybe you can contact the person who created the package.?

You have to somehow update the Python installation to be able to use SSL/Https connections.
(Or change the URL in the code to HTTP inste

[2015-09-01 17:33] pentium3nl commented on #2532
I also notice that Sickrage is using their own Python:
Python 2.7.6 (default, Apr  3 2014, 09:45:36)

instead of the one installed:
Python 2.7.3 (default, Dec 26 2012, 10:19:28)

can you explain that?

[2015-09-01 17:34] pentium3nl commented on #2532
HTTP is not supported with some of the Torrent sites.

[2015-09-01 17:37] neoatomic commented on #2532
Yes, probably the person that created the installation package decided to use his own version of Python (that doesn't have the correct modules included as i explained above.) for the SickRage installation.

[2015-09-01 17:38] pentium3nl commented on #2532
So also the python in the sickrage package if compiled by someone else?

[2015-09-01 17:40] MGaetan89 commented on #2381
@WebSpider I think this issue will get fix on its own with the work @OmgImAlexis and I are doing with the CSS/JS. We already made some progress in the latest release.
Let's see if that helped @timgilbert ;)

[2015-09-01 17:44] neoatomic commented on #2532
Indeed. SickRage doesn't include Python. The person who created the package added it there.
And that Python package is outdated/does not have all the modules installed for HTTPS.

[2015-09-01 17:44] MGaetan89 commented on #2625
Will check.
Maybe the font definitions in `style.css` and `light.css` were different somewhere, and I removed something I shouldn't have.

[2015-09-01 17:45] SoWhy commented on #2526
I just retried the guide in a fresh VM and I noticed that the line @miigotu mentions doesn't work because

    Not uninstalling pyOpenSSL at /usr/lib/python2.7/dist-packages, owned by OS

I checked my install and it's really 0.15.1 I have installed. Is that a problem?

[2015-09-01 17:46] pentium3nl commented on #2532
Can you tell me what has been changed in the end of June till the beginning of July that gave me these troubles? In the changelog i see in Change: Enable SSL certificate verification 4.0.30

[2015-09-01 17:54] duramato commented on #2620
### INFO
Python Version: **2.7.9 (default, Apr  2 2015, 15:34:55) [GCC 4.9.2]**
Operating System: **Linux-3.19.0-26-generic-i686-with-Ubuntu-15.04-vivid**
Locale: UTF-8
Branch: **develop**
Commit: SiCKRAGETV/SickRage@3570d673ef9aed3a9ed5c17f9b076387ebbcbd65
Link to Log: https://gist.github.com/b4948a05df44ccc25150
### ERROR
[code]
---
_STAFF NOTIFIED_: @SiCKRAGETV/owners @SiCKRAGETV/moderators

[2015-09-01 17:55] duramato commented on #2629
### INFO
Python Version: **2.7.9 (default, Apr  2 2015, 15:34:55) [GCC 4.9.2]**
Operating System: **Linux-3.19.0-26-generic-i686-with-Ubuntu-15.04-vivid**
Locale: UTF-8
Branch: **develop**
Commit: SiCKRAGETV/SickRage@3570d673ef9aed3a9ed5c17f9b076387ebbcbd65
No Log available with ERRORS:
### ERROR
[code]
---
_STAFF NOTIFIED_: @SiCKRAGETV/owners @SiCKRAGETV/moderators

[2015-09-01 17:56] neoatomic commented on #2532
You can check the commits for more details/reason about any change we make.

If you think that change is the problem, you can rollback your SickRage version.
(However we cant give ANY support on an outdated SickRage version, and there may be security risks.)
But again, an outdated Python version is giving you those problems, that is what needs to be fixed.

[2015-09-01 17:57] MGaetan89 commented on #2629
@miigotu That's what happens when you try to reuse an issue that is locked :p

[2015-09-01 17:58] pentium3nl commented on #2532
Thank you very much, i will try to see if i can get it working again.

[2015-09-01 18:01] fernandog commented on #2629
SR issue submitter does this automagicly. We should unlock the issue

[2015-09-01 18:08] neoatomic commented on #2630
This has been requested before and declined. The issue here is that its considered more a `movie` than a `series`. Therefore not something we are adding.

But would like to have @miigotu option, if we consider the FR or close it.

[2015-09-01 18:08] MGaetan89 commented on #2616
Going to `/config/backuprestore/` highlight the "Coming Episodes" menu.

[2015-09-01 18:09] MGaetan89 commented on #2625
The issue is somewhere else, because the fonts changed in the dark style too. I'm investigating.

[2015-09-01 18:13] MGaetan89 commented on #2616
Items in "Log & Errors" do not highlight its section.

[2015-09-01 18:35] miigotu commented on #2630
When a series is set to air-by-date and your indexer is enabled for season pack, it does search by year, as the season IS the year.

[2015-09-01 18:38] miigotu commented on #2526
No, 0.15.1 is correct for debian 9 and ubuntu 15.04

[2015-09-01 18:41] miigotu commented on #2629
The issue is locked for a reason. We have maybe 2 or 3 locked issues atm that I can probably unlock now, as long as the argumentative people arent paying attention...

[2015-09-01 18:52] Kumolo commented on #2533
@elit3ge Having the same issue as you had for over a week every day now. Can you please let me know where this setting is? Is it SR setting? Thx

[2015-09-01 19:06] MGaetan89 commented on #2629
Does GitHub API give a way to know if the existing issue is locked? So we can create a new one when the existing is locked.
I understand that issues are lock for a reason, so it might be better to use a new one.

[2015-09-01 20:48] miigotu commented on #2629
im sure there is, Ill look into it.

[2015-09-01 20:50] miigotu commented on #2533
@Kumolo have you tried stopping sickrage and then deleting cache/sessions and cache/indexers  folders?

[2015-09-01 20:54] Kumolo commented on #2533
@miigotu Yeah. Have tried that for the last, say, 5 days. No chance. I know last time that helped! But now I don't know what to do.... Any help greatly appreciated.

[2015-09-01 21:29] elit3ge commented on #2533
@Kumolo I was running this on Windows, so open up the properties of the nic, and untick IPV6. For me the existing connections that were open closed and went straight to IPV4.

[2015-09-01 21:34] Kumolo commented on #2533
@elit3ge Thanks for the info. Seems not applicable to me though, I am runing on QNAP NAS. Did not activate any IPv6.

Now hoping on some advice from @miigotu. More than happy to test ANYthing :-)

[2015-09-01 21:36] miigotu commented on #2533
@Kumolo clean reboot of the nas?

[2015-09-01 21:37] miigotu commented on #2533
@Kumolo also, open SR and go to search for a show like you are going to add it, to make sure it can connect to tvdb.

[2015-09-01 21:38] MLWALK3R commented on #1381
Any time frame on this being added?

[2015-09-01 21:40] miigotu commented on #1381
Its not really a priority, since it isn't really that necessary.

[2015-09-01 21:42] Kumolo commented on #2533
@miigotu Adding shows "the normal way" works fine, so connection to TVDB seems OK. However, I still get an error using imdb popular (please also see my comments in #2477):

Fetching of IMDB Data failed. Are you online?
Exception:
malformed start tag, at line 112, column 456

OK, will try restarting NAS and report back.

[2015-09-02 03:00] didyouexpectthat opened #2632 "Cannot find episode if there is a space separating the season and episode numbers"
SickRage is trying to find an episode that exists, but can't find it on IPTorrents in the event the uploader puts a space in the name.

[code]

I was able to locate an existing episode by modifying the URL to see if I could find it.

`https://iptorrents.eu/t?l73=&q=Cutthroat.Kitchen S09E02|9x02|S09 E02 &qf=#torrents;o=seeders` and `https://iptorrents.eu/t?l73=&q=Cutthroat.Kitchen S09 E02 &qf=#torr

[2015-09-02 07:02] anzerman opened #2633 "[APP SUBMITTED]: 'charmap' codec can't decode byte 0x9d in position 153: character maps to <undefined>"
### INFO
Python Version: **2.7.3 (default, Apr 10 2012, 23:31:26) [MSC v.1500 32 bit (Intel)]**
Operating System: **Windows-7-6.1.7601-SP1**
Branch: **master**
Commit: SiCKRAGETV/SickRage@4db41da61c3e4639a19613a3e4f0dfeef9831fc0
Link to Log: https://gist.github.com/98769b06d78bd8fed5c6
### ERROR
[code]
---
_STAFF NOTIFIED_: @SiCKRAGETV/owners @SiCKRAGETV/moderators

[2015-09-02 08:53] ronilaukkarinen opened #2634 "ImportError: No module named event_queue"
Hello. Just installed fedora 22 and getting this:

[code]

Have been trying to solve but can't find anything about it. What's up?

[2015-09-02 09:28] piejanssens opened #2635 "[Feature Request] Add provider hd-bits.com"
https://www.hd-bits.com (reg open for now)

Note this is a different site than https://hdbits.org which is already supported by SR.

[2015-09-02 09:56] WebSpider commented on #2635
I have setup an account, so we can work on this when we cleaned up providers

[2015-09-02 09:58] WebSpider commented on #2630
@duramato can you check the suggested setup ?

[2015-09-02 10:04] piejanssens opened #2636 "Valid match, but no snatch"
See http://pastebin.com/EXWVT8DX

Set at initial SDTV and replace with 720p HDTV.

PS. I'm missing the part in the debug log where it's logged why it's not a valid episode.

"The result Fifth.Gear.S25E06.PDTV.x264-C4TV doesn't seem to be a valid episode that we are trying to snatch, ignoring"

[2015-09-02 10:09] flightlevel commented on #2633
Have you tried https://github.com/SiCKRAGETV/sickrage-issues/issues/1425#issuecomment-133144366 ?

[2015-09-02 10:10] miigotu commented on #2630
Also, setting a show to "sports" searches seasons by year.

[2015-09-02 10:15] miigotu commented on #2636
@piejanssens a partial log doesn't help. Particularly that I cant see what your any,best line is, and what the existing episode status is.

`Fifth.Gear.S25E06.PDTV.x264-C4TV` is SDTV, and if you already have an SDTV episode then obviously another SDTV episode is not one that you are trying to snatch.

[2015-09-02 10:18] miigotu commented on #2635
I've also created an account.

[2015-09-02 10:19] piejanssens commented on #2636
Cannot provide the full log at this time but the status is 'wanted' and there is no existing file.

[2015-09-02 10:21] miigotu commented on #2634
Something wrong with your setup or install. sickbeard/event_queue.py is definitely there.

[2015-09-02 10:23] miigotu commented on #2636
Then maybe the show didn't match one in your list exactly. I can't help without the full debug log.

[2015-09-02 10:25] miigotu commented on #2632
The name is invalid. This will not change in SR as we follow strict scene rules to keep fakes and bad quality releases from being downloaded. If the uploader knew what he was doing it would have a proper scene release name.

[2015-09-02 10:25] #2632 closed

[2015-09-02 10:26] miigotu commented on #2631
Connection problem. Check that you can access the url from a browser on the same machine.

[2015-09-02 10:26] #2631 closed

[2015-09-02 10:27] #2630 closed

[2015-09-02 10:47] miigotu commented on #2621
Not at this time, but I am considering changing the handling of qualities soon as it makes no sense. If the existing episdoe is in the preferred list SR should stop searching for it, period. Archiving was originally for a different use (ie: episodes that were no longer on the drive, or on removable media, but you still had them).

It SHOULD be, search for any on the initial list, and keep searchin

[2015-09-02 10:48] piejanssens commented on #2636
here you go - http://pastebin.com/XUjPzeEn

[2015-09-02 11:06] miigotu commented on #2636
@piejanssens did you do a full update on the show after enabling xem?

`2015-09-02 12:38:51 DEBUG    Thread-53 :: Nothing needs to be downloaded for Fifth Gear, skipping`

[2015-09-02 11:08] piejanssens commented on #2636
AFAIK I initially added the show with XEM enabled.

[2015-09-02 11:17] piejanssens commented on #2636
I did a full forced update anyway now.

I also noticed this:
[code]
If I paste that URL in my browser I get 400 - Bad Request.

[2015-09-02 11:19] piejanssens commented on #2636
SR is not taking the XEM into account anymore. It's now searching for S26E06 instead of S25E06.

[code]

[2015-09-02 11:23] miigotu commented on #2636
because that is correct.  toggle the xem the other way and force a full update and it should work.

[2015-09-02 11:25] miigotu commented on #2636
simple solution is to remove the show from SR, remove the tvshow.nfo|series.xml if you have it in the dir, and add it from existing but pick the tvrage result.

[2015-09-02 12:37] joakim93 opened #2637 "post processing won't ignore failed download"
Python Version: 2.7.9 (default, May 23 2015, 07:37:15) [GCC 4.2.1 20070831 patched [FreeBSD]]
Operating System: FreeBSD-9.1-RELEASE-amd64-64bit-ELF
Locale: unknown
Branch: master

I noticed that it grabs the same files every time when the backlog scans. and then i pulled this from the log and it notices that it fails but it won't go to the failed list. It does this with every episode in the pacifi

[2015-09-02 12:38] duramato commented on #2630
@miigotu that does not work this shows as they don't have any seasons

[2015-09-02 12:40] aurearra commented on #2631
Problem solved , thank you , it was a lock of my DNS server

[2015-09-02 12:49] ronilaukkarinen commented on #2634
Yeah, maybe incomplete backup or something... Solved it with these commands:

[code]

Don't know details about the files so thanks for pointing me to the right direction, it works now.

[2015-09-02 12:49] #2634 closed

[2015-09-02 12:56] piejanssens commented on #2636
http://thexem.de/xem/show/2518

S25E06 is what SR should be searching for to get the latest episode.
XEM db is up to date and correct.

[2015-09-02 13:06] miigotu commented on #2630
@duramato it does. It uses the year as the season.

https://github.com/SiCKRAGETV/SickRage/blob/master/sickbeard/providers/kat.py#L74
https://github.com/SiCKRAGETV/SickRage/blob/master/sickbeard/providers/kat.py#L93
https://github.com/SiCKRAGETV/SickRage/blob/master/sickbeard/providers/kat.py#L95

It is the same in all of the providers.

[2015-09-02 13:07] miigotu commented on #2636
I made no claim that XEM was wrong. I gave you a solution.

[2015-09-02 13:16] piejanssens commented on #2636
If XEM is correct and scene numbering is enabled then I can expect SR to search for S25E06 and not the tvdb numbering S26E06. This looks like a bug to me.

I removed the show and readded it with tvdb as source + scene numbering enabled.
Now it is searching correcly again and we are back at the initial issue where SR is not picking up the hit although it should.

[code]

[2015-09-02 13:34] miigotu commented on #2636
So still not following what I asked you to do? ok, done helping.

[2015-09-02 13:38] piejanssens commented on #2636
You asked me to avoid the problem by using tvrage.
I'd rather have this problem fixed.

[2015-09-02 13:42] miigotu commented on #2636
"toggle the xem the other way and force a full update and it should work."

[2015-09-02 13:42] miigotu commented on #2636
It is working correct, your understanding is not.

[2015-09-02 13:47] laughinggoose opened #2638 "Failed status is selectable without FDH enabled"
Branch: master
commit: 4db41da61c3e4639a19613a3e4f0dfeef9831fc0
operating system: 32 bit Ubuntu server
python version: 2.7.6 (default, Jun 22 2015, 18:00:18) [GCC 4.8.2]

SickRage automatically snatched a file and sent it to SabNZB. The download failed while in Sab (not enough repair blocks). The episode remains as Snatched in SickRage. I tried doing manual search including current video quality a

[2015-09-02 13:50] piejanssens commented on #2636
For the record I tried "toggle the xem the other way and force a full update and it should work." and it didn't work. I also removed it completely and added it as tvrage as you suggested, same problem.

[code]

There is something wrong with that part. It's searching for the correct episode if scene numbering is enabled, but then somehow it's not liking the search result that to me looks like a per

[2015-09-02 13:51] fernandog commented on #2638
Did you enabled Failed downloads in SR??

[2015-09-02 13:51] fernandog commented on #2638
Wheb you manual search you are asked to mark as failed.

[2015-09-02 14:11] laughinggoose commented on #2638
I just enabled failed downloads and tried again. It's working!

What's the point of the failed status if you don't have failed downloads enabled? It just sets episode status to wanted, which grabs the same file as before. Could you maybe put in a warning about this?

[2015-09-02 14:20] pentium3nl commented on #2532
Dear Neoatomic,

I tested the Python version in order to execute a request for torrentleech perfectly under version 2.7.6:

<Response [200]>

<Response [200]>

With a normal response, shouldn't this mean it should work?

[2015-09-02 14:20] pentium3nl commented on #2532
Here the response (was filtered in the message):

Response [200]

[2015-09-02 14:32] miigotu commented on #2638
Its a bug that failed is showing without failed enabled. Will try and fix one day soon

[2015-09-02 14:35] miigotu commented on #2532
Add verify=True and see it fails. Just uncheck verify SSL certs in config/general on the advanced tab. Then stop SickRage and delete cache/sessions folder.

[2015-09-02 15:11] miigotu commented on #2637
@joakim93 its failing to login to SR.

[2015-09-02 15:48] Kumolo commented on #2477
@miigotu This issue still there after rebooting the NAS: Exception Malformed start tag, at line 112, column 456

[2015-09-02 17:08] duramato commented on #2630
Im not understanding ,what do I do ? set it as sport and enable season pack only ? for a providetr like kat

[2015-09-02 18:19] miigotu commented on #2630
or air-by-date. season search fallback should help too.

[2015-09-02 18:35] sweatherlyuk commented on #2445
I also would like to request this feature.

Sickbeard deals with adding a show where the indexer does not yet know the episodes, it seems to add the show and once the episodes are known it ill update the show with the episodes without any manual intervention and without errors being reported.

If Sickbeard can deal with this scenario I wonder why it's difficult for SickRage to and why "when there

[2015-09-02 19:02] duramato commented on #2630
And then I do a season search or episode search?

[2015-09-02 19:24] Dimas-sc commented on #2052
Did you solved the problem? I'm in the same situation

[2015-09-02 19:33] nrk666 commented on #2618
Heh, came to post this same bug, I can confirm this as of SR Version:	BRANCH: (master) / COMMIT: (4db41da61c3e4639a19613a3e4f0dfeef9831fc0) on both ipad2 and ipad3.

[2015-09-02 20:02] konomimaster commented on #2052
Yes i solved it with some help!
In my case it was a permission-problem.

I don't know if you've done the same stuff i have (manually changing permissions and such) but here's what i found out.

Sickrage, when you download it on Synology, is run by the user "Sickrage" which doesn't appear in your "users"-tab, which is fine.
The thing is that there is a user-group called something like "synocommunit

[2015-09-02 20:27] miigotu commented on #2052
`sc-media` group

[2015-09-02 20:28] miigotu commented on #2630
episode search will search full date like `2015 9 2`, season search will search with just `2015`

[2015-09-02 20:52] duramato commented on #2630
The thing is it only has 1 season so does it work that way?

[2015-09-02 20:54] WebSpider commented on #2633
#1424, #1779 and #1954

[2015-09-02 20:54] #2633 closed

[2015-09-02 20:55] #2478 closed

[2015-09-02 20:58] miigotu commented on #2630
Yes.

[2015-09-02 21:19] Dpons039 opened #2639 "[Issue] TraktChecker does not sync nor add shows"
**Branch**
Master
**Commit hash**
4db41da61c3e4639a19613a3e4f0dfeef9831fc0
**System**
Synology NAS 415+
**Python Version**
2.7.10 (default, Jun 3 2015, 20:43:13) [GCC 4.7.3 20130102 (prerelease)]
**What you did**
Setup the Notification and configure the Token and add watchlist shows on Trakt
**What happened**
Does not sync the watchlist nor add shows on my watchlist
**What you expected**
The above

[2015-09-02 21:20] pentium3nl commented on #2532
miigotu, got the following response:

Python 2.7.6 (default, Apr  3 2014, 09:45:36)
[GCC 4.5.3] on linux2
Type "help", "copyright", "credits" or "license" for more information.

Response [200]

The verify is taking about 15 seconds where the False is giving an response immediately.
I will check that option and empty cache, see if that works.

[2015-09-02 21:56] pentium3nl commented on #2532
Still the same errors in sickrage with clearing the cache folder

[2015-09-02 21:57] miigotu commented on #2639
@fernandog From blame I came across this pr: https://github.com/SiCKRAGETV/SickRage/commit/109855b46796cecbd0bf0e4546600fc7b803974a

Seems a possible intriduction of a bunch of trakt issues.

@Dpons039 not sure why you are getting this error yet.

[2015-09-02 22:03] fernandog commented on #2639
I added two shows to trakt and they were added OK to SR.

[2015-09-02 22:10] miigotu commented on #2639
About that PR I meant wheb the shows keep getting added back after delete xD

[2015-09-02 22:27] miigotu commented on #2532
@pentium3nl you unchecked "Verify SSL Certs" in SR settings, saved, then shut down SR, THEN cleared the cache/sessions, cache/rss, cache.db, and cache/indexers ?

Without "Verify SSL Certs" checked there is no reason you should get an error about 'certificate verify failed'

[2015-09-02 22:33] WebSpider commented on #2580
I've set up a bot that can be used to do this.
Check out WebSpider/SickRageBot#5 for some examples.

We basically need to fix a few more things to get this running:

- [ ] Set up an account for the bot to run under: Done -> SiCKRAGEB0T
- [ ] Set up proper permissions for this account: Not needed yet, labels are future music
- [ ] Set up the webhook per repository
- [ ] Run the bot: Done, it can ru

[2015-09-02 22:36] ricebus commented on #1566
Still no fix for this issue?

[2015-09-02 22:49] pentium3nl commented on #2532
Miigotu, I unchecked that option and verified it in the config file as ssl_verify = 0. Stopped sickrage, moved the folder cache entirely  far away from the folder to cache.old, mkdir cache en moved the cache.db far away to cache.db.old and started Sickrage.

I also noticed when i change the line 92 of torrentleech.py by hand from:
response = self.session.post(self.urls['login'], data=login_params,

[2015-09-02 22:56] miigotu commented on #2532
aha! from that I see why it is failing mostly.

I need to fix those so they dont use self.session.post directly, otherwisem the session is not cached for auto cookie handling with cache control. Ill try and look at it later.

[2015-09-02 22:58] pentium3nl commented on #2532
And then the verify=false will also work? Otherwise i have to reset the configuration files every commit by hand :). Glad that you found something you can work with, you made me a happy leecher today.

[2015-09-02 23:21] DanGarion commented on #2532
Just glad you guys decided to take another look at this after my closed ticket! Very happy to see we are getting somewhere on this!

[2015-09-02 23:28] duramato commented on #2630
ive tryed ,but didnt worked

[2015-09-02 23:28] miigotu commented on #2532
@pentium3nl yes the global verify setting will work then. getURL works for post also, and does the actual handling for session caching and verify setting.

[2015-09-02 23:45] saitoh183 opened #2640 "Error when set home screen view to small poster"
Sickrage info:

SR Version:	BRANCH: (master) / COMMIT: (4db41da61c3e4639a19613a3e4f0dfeef9831fc0)
SR User:	Administrator
SR Locale:	('en_CA', 'cp1252')
SR Config file:	E:\Sickrage\config.ini
SR Database file:	E:\Sickrage\sickbeard.db
SR Cache Dir:	E:\Sickrage\cache
SR Log Dir:	E:\Sickrage\Logs
SR Arguments:	[]
Python Version:	2.7.8 (default, Jun 30 2014, 16:08:48) [MSC v.1500 64 bit (AMD64)]

I se

[2015-09-02 23:48] dpeart opened #2641 "Add show title bar disappears"
I was trying to add a new show and the title bar that contains add show was gone.  I finally found that if you have the web browser width set such that the main title gets placed underneath the SickRage icon, then the add show bar gets covered up.

It isn't obvious where it went.  I'm running the latest build of Chrome.

![image](https://cloud.githubusercontent.com/assets/5182846/9647498/3d52e1ee-

[2015-09-03 00:05] flightlevel commented on #2477
@Kumolo What version of python are you running?
Is it an x86 QNAP and which qpkg are you running?

[2015-09-03 00:07] flightlevel commented on #2641
Known issue https://github.com/SiCKRAGETV/sickrage-issues/issues/2618

[2015-09-03 00:19] flightlevel commented on #2640
If you stop Sickrage, clear your cache folder and then restart sickrage, does the same thing happen?

[2015-09-03 00:26] #2641 closed

[2015-09-03 00:32] duramato opened #2642 "[Feature Request] IMDB popular shows page"
Make trhe IMDB popular shows page as beautifull  as the Add recommed shows and the Add trending shows

[2015-09-03 00:36] WebSpider commented on #2638
Oh.Lol,we doublefixed it.

[2015-09-03 00:39] fernandog commented on #2638
know how to fix webapi ? if you do, will close my PR

[2015-09-03 00:41] WebSpider commented on #2642
Ping @jonathanendersby

[2015-09-03 00:42] flightlevel commented on #2642
Where do you find 'Add recommed shows and the Add trending shows' in SickRage (sounds useful), I can't see that option?

[2015-09-03 00:43] WebSpider commented on #2640
When you delete the entire cache folder, you should force full update.
Generally, deleting just cache/mako instead is enough

[2015-09-03 00:53] WebSpider commented on #2621
Looks like a duplicate of #2523

[2015-09-03 01:04] miigotu commented on #2532
@pentium3nl if that doesnt fix it then ur SOL xD.

[2015-09-03 01:09] miigotu commented on #1566
Possibly with my last PR. update to latest develop and check for me if you want.

[2015-09-03 01:09] saitoh183 commented on #2640
I will do this tomorrow and post back because my list is over 350 shows.  So a full update will be long I'm guessing

[2015-09-03 01:14] flightlevel commented on #2640
If you just delete cache/mako like @WebSpider noted, you won't have to do full update.

[2015-09-03 01:17] anzerman commented on #1779
Hi, sorry I just noticed that this was here. This was occurring when renaming some episodes of "One Piece" one of the episodes that seemed to be causing an issue was "664 Start Operation SOP — Usoland Charges"
No sure if this is relevant information or not

[2015-09-03 01:22] duramato commented on #2642
@flightlevel you need to have trakt enabled

[2015-09-03 01:48] ricebus commented on #1566
I actually tried installing everything you guys suggested (here and in other threads),
just so we'd be on the same page I'm posting my pip list

    [/share/MD0_DATA/.qpkg/SickBeard-TVRage] # pip list
    cffi (1.2.1)
    Cheetah (2.4.4)
    cryptography (1.0)
    enum34 (1.0.4)
    idna (2.0)
    ipaddress (1.0.14)
    ndg-httpsclient (0.4.0)
    pip (1.5.4)
    pyasn1 (0.1.8)
    pycparser (2.14

[2015-09-03 01:55] miigotu commented on #1566
x86 or arm qnap?

[2015-09-03 01:58] ricebus commented on #1566
arm qnap

[2015-09-03 01:59] ricebus commented on #1566
Also ran the SNI test
[code]

[2015-09-03 02:01] WebSpider commented on #2339
Guessit has just been updated in develop branch,after your opened issue there was solved a few days ago!

[2015-09-03 02:03] WebSpider commented on #2642
Yup, need Trakt account set up for that. I don't think you need SR Trakt sync, just the account details

[2015-09-03 02:18] #2339 closed

[2015-09-03 02:46] saitoh183 commented on #2640
yup that cleared it right up...thanks

[2015-09-03 02:46] #2640 closed

[2015-09-03 02:47] miigotu commented on #1566
@ricebus the only solution on ARM qnap atm is to uncheck Verify SSL Certs in config/general on the advanced tab, save, stop SR, and clear out the cache folder of everything except the images folder.

[2015-09-03 03:07] distracto commented on #1566
@miigotu i tried all that and still get the Error: '_socketobject' object has no attribute 'set_tlsext_host_name'

just letting you know

[2015-09-03 03:14] miigotu commented on #1566
Then I guess it just isnt gonna work xD. I know downgrading the qnap works, but that re-opens you to heartbleed vulnerability.

[2015-09-03 07:15] Dpons039 commented on #2639
I have been doing some research, it seems that the Scripts attempts to add a show that is Watchlisted on Trakt with an invalid TheTVdb, this causes the script to fail and probably to stop processing the remaining shows on the watchlist.

2015-09-03 08:46:00 INFO     TRAKTCHECKER :: Adding show 253527

In this cases, the script should write an error message at the "View Log (Errors)" instead of "vi

[2015-09-03 07:26] miigotu commented on #2639
It should not write an error, as it is not a bug in SR causing it. We do not want bug reports of trakt having wrong id's, and in fact we do skip a show if it is not on tvdb and remove it form the watchlist even.

[2015-09-03 07:31] Dpons039 commented on #2639
@miigotu Okay, that's good to know! Any clue why wasn't performing that this time?

[2015-09-03 07:35] miigotu commented on #2639
Not sure, maybe the new code for that which gborri added was also buggy. Low priority though

[2015-09-03 07:38] c4uran commented on #2536
hey, could you plaese open issue?
(i posted log)

[2015-09-03 08:52] pentium3nl commented on #2532
Thank you very much miigotu! I can also confirm that the change to TorrentLeech is also working, the timeouts where caused by TorrentLeech being down. Now it even snatched some episodes :)

IPTorrents is also snatching again.

[2015-09-03 09:40] eXistenZNL commented on #2621
@WebSpider I think you are indeed right.

@miigotu Exactly! In your last comment you described exactly how I would hope this would work. Looking forward to this!

[2015-09-03 09:54] newkindofworld commented on #2339
### INFO
Python Version: **2.7.10 (default, Jun  3 2015, 20:43:13) [GCC 4.7.3 20130102 (prerelease)]**
Operating System: **Linux-3.10.35-x86_64-with-glibc2.2.5**
Locale: unknown
Branch: **master**
Commit: SiCKRAGETV/SickRage@4db41da61c3e4639a19613a3e4f0dfeef9831fc0
No Log available with ERRORS:
### ERROR
[code]
---
_STAFF NOTIFIED_: @SiCKRAGETV/owners @SiCKRAGETV/moderators

[2015-09-03 09:56] Dpons039 commented on #2639
I can confirm that once that show has been removed from the Trakt Watchlist, the script correctly processed all the shows and added about 15 shows to SR that were pending.

[2015-09-03 10:27] bioshock47 commented on #2631
Bonjour./ Hello,

I have the same issues, how do you unlock your dns server?

Thanks

[2015-09-03 13:48] duramato commented on #2339
### INFO
Python Version: **2.7.9 (default, Apr  2 2015, 15:34:55) [GCC 4.9.2]**
Operating System: **Linux-3.19.0-26-generic-i686-with-Ubuntu-15.04-vivid**
Locale: UTF-8
Branch: **develop**
Commit: SiCKRAGETV/SickRage@3f81c5b89d2d80adbc48261813700dc247c1e73f
No Log available with ERRORS:
### ERROR
[code]
---
_STAFF NOTIFIED_: @SiCKRAGETV/owners @SiCKRAGETV/moderators

[2015-09-03 13:58] OmgImAlexis commented on #2642
Adding onto this, both pages need the isotope js redone so it's loaded correctly. @MGaetan89 or I will move this to the inc_bottom when we get a chance so if you're working on this keep that in mind.

[2015-09-03 14:38] WebSpider commented on #2339
Guess the guessit update didn't solve the guessit recursion.

-----Original Message-----
From: "supergonkas" <notifications@github.com>
Sent: ‎9/‎3/‎2015 3:48 PM
To: "SiCKRAGETV/sickrage-issues" <sickrage-issues@noreply.github.com>
Cc: "Nils" <nils@familievogels.nl>
Subject: Re: [sickrage-issues] [APP SUBMITTED]: maximum recursion depthexceeded (#2339)

INFO
Python Version: 2.7.9 (default, Apr 2 2

[2015-09-03 14:46] mattpulpfree opened #2643 "Issue with HTTPS"
I've been having this issue for awhile now where every since pyOpenSSL has been required to be installed, i can't connect to TPB without editing it's URL under the providers to remove the S in HTTPS. And anytime I need to update SickRage, it throws those changes out the door. I have very little knowledge with python and would appreciate some help in either figuring out why I can't connect to TPB w

[2015-09-03 14:48] miigotu commented on #2339
@WebSpider we dont know is that error was in his log before the update or not xD. Same user needs to reproduce.

[2015-09-03 15:08] Joshfindit commented on #2067
Plex does only detect two-letter and three letter language codes.
Refer to [Adding Local Subtitles to Your Media](https://support.plex.tv/hc/en-us/articles/200471133-Adding-Local-Subtitles-to-Your-Media) (The section on External Subtitle Files)

[2015-09-03 15:11] Joshfindit opened #2644 "[Feature request] Allow post processing of stand-alone subtitle files"
For example:

Add `Hanako.to.Anne.EP008.jp.srt` to the watch folder, and it names then moves it to be right next to `Hanako & Anne - S01E08 - What is the English？.mkv`

[2015-09-03 15:14] duramato commented on #2339
@miigotu & @WebSpider this happens on the latest dev version but I don't know how to reproduce it
Also afaik logs get cleaned up on each update/restart

[2015-09-03 16:06] miigotu commented on #2339
@duramato just go through the episodes you are missing subs for (probably the last show it was processing when the error occured) and manually search for subs.

[2015-09-03 16:09] miigotu commented on #2067
@Joshfindit the issue is specifically with pt-BR subs. Plex will only detect .pro and .pt as Portuguese, where there are different dialects of portuguese, specifically one for Brazil as in .pb , .pob and pt-BR, of which none are recognized by plex.

There are only a handful of languages that are not properly represented in ietf alpha2/alpha3 which must use an opensubtitles code

[2015-09-03 16:19] fernandog commented on #2339
Cant we add a log like 'searching subs for' to help guessit dev with this errors?

[2015-09-03 16:22] miigotu commented on #2339
@fernandog please xD. working out the problems with guessit in searching subtitles will help it mature so we can later use it reliably for provider search result parsing.

[2015-09-03 16:51] Joshfindit commented on #2067
@milgotu Until this thread, I wasn't aware that there were unique dialects that the 2 and 3 letter codes didn't cover.
It sounds like the best resolution long-term is by Plex supporting IETF codes.

[2015-09-03 17:25] miigotu commented on #2067
@Joshfindit it is already fixed in SR xD. we use opensubtitles codes, which is a set of alpha3 with a few added for the special case dialects. Plex should support this in the future, and Im not sure if kodi also has this issue or not.

[2015-09-03 20:18] MGaetan89 commented on #2618
I just sent a PR to fix this: https://github.com/SiCKRAGETV/SickRage/pull/2396

[2015-09-03 20:30] cerberusuk commented on #309
I agree also - Keep it simple - Couchpotato is great the way it just pulls in from an IMBD watchlist. Default settings all the way. Would be great to see this added - Thanks @p0psicles

[2015-09-03 20:55] MGaetan89 commented on #2616
Closing, as fixed in https://github.com/SiCKRAGETV/SickRage/pull/2397

[2015-09-03 20:55] #2616 closed

[2015-09-03 20:57] MGaetan89 commented on #2618
The PR was merge.
So this should be fixed in the next version.

[2015-09-03 20:57] #2618 closed

[2015-09-03 21:52] Kumolo commented on #2477
@flightlevel : Python Version:	2.7 (r27:82500, Aug 21 2010, 07:52:47) [GCC 4.1.3 20070929 (prerelease) (Ubuntu 4.1.2-16ubuntu2)]

Yes it is x86 NAS TS-451. Qpkg = Clinton Hall V141024.

Thanks.

[2015-09-03 21:54] Kumolo commented on #2533
Problem still there after NAS reboot and after the last nightly run.

[2015-09-03 23:17] miigotu commented on #2477
@kumolo there is a newer package for qnap x86. QSickrage by qnap_Stephanie. it is the only fully working version ATM.

[2015-09-03 23:18] miigotu commented on #2533
try the other package I mentioned in the other issue @Kumolo

[2015-09-03 23:52] miigotu commented on #2638
fixed in develop.

[2015-09-03 23:53] #2638 closed

[2015-09-03 23:55] miigotu commented on #2643
what platform are you on?

anyways, there is an option under config/general on the advanced tab called 'Verify SSL certs' unchecked that and save.

[2015-09-03 23:58] miigotu commented on #2628
how did the whoops get there? that isn't a valid scene filename. seems it was renamed by something else (and maybe added to the torrent that way).

[2015-09-04 00:07] WebSpider commented on #2628
@miigotu it's part of the epname .. Look it up on the tvdb ...

-----Original Message-----
From: "miigotu" <notifications@github.com>
Sent: ‎9/‎4/‎2015 1:58 AM
To: "SiCKRAGETV/sickrage-issues" <sickrage-issues@noreply.github.com>
Subject: Re: [sickrage-issues] [Low priority] Episode names containing a dashdon't process properly (#2628)

how did the whoops get there? that isn't a valid scene filena

[2015-09-04 01:27] miigotu commented on #2628
If it were a scene name it would have succeeded though. Maybe we can check if it is a media file or just a name, idk. Changing that regex now is scary since its so fragile. When we switch out NameParser for guessit (after guessit kinks are worked out) this issue goes away:

[code]

[2015-09-04 02:17] duramato commented on #2339
### INFO
Python Version: **2.7.9 (default, Apr  2 2015, 15:34:55) [GCC 4.9.2]**
Operating System: **Linux-3.19.0-26-generic-i686-with-Ubuntu-15.04-vivid**
Locale: UTF-8
Branch: **develop**
Commit: SiCKRAGETV/SickRage@8613e664e9937ea55337f3d4963d61933a87e68b
No Log available with ERRORS:
### ERROR
[code]
---
_STAFF NOTIFIED_: @SiCKRAGETV/owners @SiCKRAGETV/moderators

[2015-09-04 02:58] OmgImAlexis commented on #2628
It was named just `Whoops` as it was from a dvd set so I ran it through filebot, usually the stuff I get out of that is completely scene compliant. Also I've had files like this before from kat and tpb.

[2015-09-04 03:50] phishin4dmb opened #2645 "[APP SUBMITTED]: argument of type 'int' is not iterable"
### INFO
Python Version: **2.7.10 (default, Jun  3 2015, 20:43:13) [GCC 4.7.3 20130102 (prerelease)]**
Operating System: **Linux-3.10.35-x86_64-with-glibc2.2.5**
Locale: unknown
Branch: **master**
Commit: SiCKRAGETV/SickRage@4db41da61c3e4639a19613a3e4f0dfeef9831fc0
Link to Log: https://gist.github.com/b225ff69c76b4bac53c8
### ERROR
[code]
---
_STAFF NOTIFIED_: @SiCKRAGETV/owners @SiCKRAGETV/modera

[2015-09-04 07:01] MGaetan89 opened #2646 "[API] Shows list sorted by name has wrong order"
If you use the `shows ` API command and sort the shows by name, uppercase are sorted before lowercase. See "NCIS" and "Narcos" on the screenshot.

Shouldn't it be sorted independently of the case?

![screenshot_20150904-090111](https://cloud.githubusercontent.com/assets/1009664/9678269/889de95a-52e3-11e5-94b8-2671f10411ce.png)

[2015-09-04 07:24] aurearra commented on #2631
Look at this :

http://www.neozone.org/tutoriels/blocage-de-site-comment-installer-un-serveur-dns-en-local-nas/

http://www.neozone.org/astuces/numericable-et-t411-comment-acceder-a-un-site-bloque-par-votre-fournisseur-dacces-internet/

[2015-09-04 09:28] devenashani commented on #846
### INFO
Python Version: **2.7.3 (default, Jul 13 2012, 04:03:47) [GCC 4.4.5]**
Operating System: **Linux-2.6.31.8.nv+v2-armv5tel-with-debian-6.0.3**
Locale: UTF-8
Branch: **master**
Commit: SiCKRAGETV/SickRage@4db41da61c3e4639a19613a3e4f0dfeef9831fc0
No Log available with ERRORS:
### ERROR
[code]
---
_STAFF NOTIFIED_: @SiCKRAGETV/owners @SiCKRAGETV/moderators

[2015-09-04 09:34] WebSpider commented on #846
Please post debug logs, thanks

[2015-09-04 13:48] duramato opened #2647 "[APP SUBMITTED]: maximum recursion depth exceeded in cmp"
### INFO
Python Version: **2.7.9 (default, Apr  2 2015, 15:34:55) [GCC 4.9.2]**
Operating System: **Linux-3.19.0-26-generic-i686-with-Ubuntu-15.04-vivid**
Locale: UTF-8
Branch: **develop**
Commit: SiCKRAGETV/SickRage@8613e664e9937ea55337f3d4963d61933a87e68b
No Log available with ERRORS:
### ERROR
[code]
---
_STAFF NOTIFIED_: @SiCKRAGETV/owners @SiCKRAGETV/moderators

[2015-09-04 15:33] mattperry1976 opened #2648 "[APP SUBMITTED]: When using gi.repository you must not import static modules like "gobject". Please change all occurrences of "import gobject" to "from gi.repository import GObject". See: https://bugzilla.gnome.org/show_bug.cgi?id=709183"
### INFO
Python Version: **2.7.9 (default, Apr  2 2015, 15:33:21) [GCC 4.9.2]**
Operating System: **Linux-3.19.0-28-generic-x86_64-with-Ubuntu-15.04-vivid**
Locale: UTF-8
Branch: **master**
Commit: SiCKRAGETV/SickRage@4db41da61c3e4639a19613a3e4f0dfeef9831fc0
Link to Log: https://gist.github.com/d8e83c357e7eebc4ee62
### ERROR
[code]
---
_STAFF NOTIFIED_: @SiCKRAGETV/owners @SiCKRAGETV/moderators

[2015-09-04 15:34] DrakeJones commented on #2462
I had to reinstall the app. The problem is resolved.

[2015-09-04 15:37] DrakeJones opened #2649 "History Limit Not Worknig"
History Limit is fix/stuck at 100. Will not show "200" "500" or "All".

[2015-09-04 15:51] DrakeJones opened #2650 "[Feature Request] Option to Air Date column to History page"
Select Column feature on History Page would be nice. I would like to see Air Date of downloaded shows.

[2015-09-04 15:55] DrakeJones commented on #2650
Adjustable width and Select Column feature on all pages, particularly "History" Page would be nice. I would like to see Air Date of downloaded shows on History Page especially.

[2015-09-04 16:16] WebSpider commented on #2649
I'll have a look at it tonight, as im mobile now. Can someone confirm It's working or not for them in the mean time?

[2015-09-04 16:16] WebSpider commented on #2648
Please post debug log

[2015-09-04 16:18] WebSpider commented on #2647
Duplicate of #2339 and no debug logs attached

[2015-09-04 16:18] #2647 closed

[2015-09-04 16:21] WebSpider commented on #2643
Also: Please follow the guidelines for submitting a new issue, we have no idea what platform/release you are running on, and no logs to see what's going on now.

[2015-09-04 16:33] mattpulpfree commented on #2643
Sorry about that, quite new here and didn't see that was needed. I'll need to get the logs created since I have recently changed that URL in the providers list, so I should have a log within the next 24 hours. Again my apologies! I have tried turning off the "Verify SSL certs' in the past but that didn't seem to fix the issue, granted that was about a month or so ago now.

[2015-09-04 16:39] mattpulpfree commented on #2643
This is the log that shows up after trying to perform a search.

2015-09-04 11:38:17 INFO     SEARCHQUEUE-MANUAL-280756 :: [ThePirateBay] :: Unable to find a download for: [Married - 2x08 - Mother's Day]
2015-09-04 11:38:17 INFO     SEARCHQUEUE-MANUAL-280756 :: [ThePirateBay] :: Performing season pack search for Married
2015-09-04 11:38:17 WARNING  SEARCHQUEUE-MANUAL-280756 :: [ThePirateBay] :: Co

[2015-09-04 16:52] miigotu commented on #2643
That still doesn't give us enough information. We cant see what commit you are on, what branch you are on and debug is not enabled.

@mattpulpfree

[2015-09-04 16:54] WebSpider commented on #2643
Please read https://github.com/SiCKRAGETV/sickrage-issues/blob/master/README.md on what we need.

@miigotu I have that bot ready, just need the hook =)

[2015-09-04 16:54] miigotu commented on #2643
@mattpulpfree keep the Verify SSL Certs unchecked. Stop SR, and delete cache.db and every folder inside the cache folder except the images folder. Start SR and try again, with debug enabled. Next post also provide the current commit hash you are on and the branch.

[2015-09-04 17:18] mattpulpfree commented on #2643
I hope i did this right! I'm on the master branch,
Commit: 4db41da61c3e4639a19613a3e4f0dfeef9831fc0
OS Windows 7,
Python version 2.7.8
Here's the full log file too.
https://gist.github.com/235aa22022fd14deb040.git

@miigotu followed those steps and that log file is the result. Thanks again for being patient with me on this!

[2015-09-04 17:52] SoWhy commented on #2526
I see. Is there any other possible version conflicts I could check?

[2015-09-04 18:49] duramato commented on #2649
its also not working for me on the compact and detailed views

[2015-09-04 18:58] MGaetan89 commented on #2649
Yes, it's broken for me too.
The API version is working. I guess there is something wrong in the interface.
I'll check that.

[2015-09-04 20:58] xmenxmen opened #2651 "Subtitles log error"
Hi.
After the latest update i suddenly get this error every day.

I am using a Sonolgy server.
SR Version: BRANCH: (master) / COMMIT: (4db41da61c3e4639a19613a3e4f0dfeef9831fc0)
Python Version: 2.7.10 (default, Jun 3 2015, 20:43:13) [GCC 4.7.3 20130102 (prerelease)]
Version. 4.0.55 (2015-08-31)

        2015-09-04 21:51:04 FINDSUBTITLES :: Traceback (most recent call last):
  File "/volume1/@appsto

[2015-09-04 21:06] xmenxmen commented on #2651
I am using a Sonolgy server.
SR Version:	BRANCH: (master) / COMMIT: (4db41da61c3e4639a19613a3e4f0dfeef9831fc0)
Python Version:	2.7.10 (default, Jun 3 2015, 20:43:13) [GCC 4.7.3 20130102 (prerelease)]
Version.  4.0.55 (2015-08-31)

[2015-09-04 21:09] technazz opened #2652 "[APP SUBMITTED]: SHOWQUEUE-FORCE-UPDATE :: No data returned from TVRage, unable to update this show"
### INFO
Python Version: **2.7.9 (default, Dec 10 2014, 12:24:55) [MSC v.1500 32 bit (Intel)]**
Operating System: **Windows-7-6.1.7601-SP1**
Branch: **master**
Commit: SiCKRAGETV/SickRage@4db41da61c3e4639a19613a3e4f0dfeef9831fc0
No Log available with ERRORS:
### ERROR
[code]
---
_STAFF NOTIFIED_: @SiCKRAGETV/owners @SiCKRAGETV/moderators

[2015-09-04 21:54] fernandog commented on #2647
@diaoul where is the better location to put some logs to help guessit ? at subliminal or SR?

@miigotu enabling subliminal logs will spam our logs?

[2015-09-04 21:57] fernandog commented on #2339
https://github.com/SiCKRAGETV/sickrage-issues/issues/2651

[2015-09-04 21:57] #2651 closed

[2015-09-04 21:58] #2652 closed

[2015-09-04 22:08] fernandog opened #2653 "RuntimeError: maximum recursion depth exceeded - NOT for subtitles. They are disabled"
SR Version:	BRANCH: (develop) / COMMIT: (8613e664e9937ea55337f3d4963d61933a87e68b)

@miigotu
More than 1000 lines of this
Also happens for TD and NZBGeek

[code]

[2015-09-04 22:14] fernandog commented on #2653
maybe related to this ?

https://github.com/SiCKRAGETV/SickRage/pull/2392/files

[2015-09-04 22:21] fernandog commented on #589
Fall season is coming...

[2015-09-04 23:55] timgilbert commented on #2381
Sorry for the late reply, all. I checked out develop and am still seeing the same issue there. The page does load faster, and I only see the unstyled version of the table for a brief amount of time, but it's still pretty noticeable.

In case it's helpful, I uploaded another `.har` file, this time from the develop branch as of right now here: http://s000.tinyupload.com/index.php?file_id=15482521073

[2015-09-04 23:57] forkless opened #2654 "Deleting a show (files including) causes flood of error messages"
Deleting a show from the details page of said show is causing a flood of errors (20.000 lines per day)

2015-09-05 01:55:58 Thread-77 :: No Show Object found for show with indexerID: 277169

The show is physically removed from the storage however the database still seems to think it's there I guess.

[2015-09-05 00:01] miigotu commented on #2526
Not sure what's going wrong. I use vivid which is based on Debian 9, and SR works fine on it. Better and easier than Debian 8 or trusty.

[2015-09-05 00:01] fernandog commented on #2654
remove this show with thetvdb or tvrageid 277169 from trakt. It's no longer a valid ID in the indexer

[2015-09-05 00:01] #2654 closed

[2015-09-05 00:01] miigotu commented on #2381
@OmgImAlexis can you check this new hat?

[2015-09-05 00:29] miigotu commented on #2643
I think you need to install pyOpenSSL and OpenSSL.

[2015-09-05 00:29] fernandog commented on #2649
+1 not working here also

[2015-09-05 01:07] forkless commented on #2654
I don't have Trakt active, nor is it on my Trakt library.

[2015-09-05 04:08] Toilal commented on #2647
Try to update guessit with latest release 0.11.0, it's probably the same issue...

[2015-09-05 04:18] deaft0ne opened #2655 "NZB Search not working at all"
These NZB search providers have the files that I am looking for. An example of what I am seeing in my logs:

[code]

My daily search is only using 2 NZB providers and it doesn't use any of the torrent providers that I've set up:
[code]

In my provider settings all NZB providers are at the top of the priority list but I have no idea why these random problems are happening. I have also set all the q

[2015-09-05 04:45] OmgImAlexis commented on #2381
@miigotu will do, @timgilbert thanks.

[2015-09-05 04:51] OmgImAlexis commented on #2381
Okay I've had a look at the only thing I can think of now is that either he's not got enough ram and Chrome's having issues loading the js and css at the same time or there must still be some js files being called before the CSS.

[2015-09-05 04:59] kendog819 opened #2656 "Can't connect to IPT or TD"
![image](https://cloud.githubusercontent.com/assets/11353628/9697773/4fc6ace4-5369-11e5-99c7-494c79ad0605.png)

![image](https://cloud.githubusercontent.com/assets/11353628/9697768/3c5b1e42-5369-11e5-8c9c-5575a5162f95.png)

This just started happening within the last couple days. Not sure what is going on, or if it is something I can fix. "Verify SSL" is UNchecked also. Running on a QNAP NAS.

Tha

[2015-09-05 05:06] timgilbert commented on #2381
Well, this is a 2011 Mac Mini, so not blazing fast, but it's got 8GB RAM with usually nothing running save Chrome, Kodi, and SickRage. Right now it's in its usual state and Activity Monitor is reporting about 3.5GB of free memory. The OS and apps are running off of an SSD, too, FWIW.

It's definitely a Chrome-specific issue though. I might just use Firefox instead for now but I'm happy to keep tes

[2015-09-05 05:19] miigotu commented on #2381
@timgilbert the images are loaded after the page loads now, specifically trying to fix the issue. imho its worse this way because the "unstyled" page before was just the table position, and now its the table position being off and the images also being missing.

[2015-09-05 05:37] OmgImAlexis commented on #2381
@timgilbert that setup should be fine and is actually complete overkill compared to my testbox. I'm still unsure exactly what's causing this. Could you try loading this in incognito mode, the only other thing that may be causing this is a Chrome extension and that may explain why it only seems to be happening on Chrome.

[2015-09-05 05:39] OmgImAlexis opened #2657 "[Feature Request] Move mako to inheritance model"
If we move from what we've got now it'll help a LOT with theming and it'll also mean cleaner code.
Have a look [here](http://docs.makotemplates.org/en/latest/inheritance.html) for what I mean.

Basically what we'll have something called `main.mako` in a layouts directory and we'd reference it and override it for every page.
[code]

[code]

I've only just read over this so I could be mistaking how

[2015-09-05 05:43] #2604 closed

[2015-09-05 05:46] miigotu commented on #2657
@OmgImAlexis yes eventually we want to move to that. at first it was "just make it work"

[2015-09-05 05:47] miigotu commented on #2656
@kendog819 have you tried the develop branch? it is fixed there and will be merged to master tonight or tomorrow.

[2015-09-05 05:48] #2656 closed

[2015-09-05 05:52] OmgImAlexis commented on #2657
Well if this works like I described I'd be happy to move everything from including inc_top and inc_bottom to this. The main reason I want this is for theme development(WOO!) and so I can get the js using blocks meaning we can add js to any file and it'd automatically be added to the bottom just by putting it in the `<%block name="scripts"></%block>` section.

[2015-09-05 06:47] MGaetan89 commented on #2657
We could also use the `%def`  instructions to reuse components (se the PR about custom qualities).

[2015-09-05 06:50] timgilbert commented on #2381
I get the same results in incognito mode. (I don't have many extensions installed anyways and have disabled AdBlock on the SickRage hostname/port.)

[2015-09-05 06:53] MGaetan89 commented on #2649
I found the issue. I'm working on it.

[2015-09-05 06:57] OmgImAlexis commented on #2381
@timgilbert any chance you could port forward this and let me have a look at it? I'd suggest you setup the login info(so you don't get randoms accessing it) and send me the details via email, check my github profile for my email. I really have no idea what may be causing this now.

[2015-09-05 07:01] timgilbert commented on #2381
@OmgImAlexis sure, I can do that, though I won't have time to set it up until Monday at the earliest. I'll shoot you an email when I'm about to start working on it.

[2015-09-05 07:04] OmgImAlexis commented on #2381
@timgilbert alright sounds good. I'd love to get to the bottom of this. I suspect you're a weird edge case and that's why we haven't seen this before or people are just too lazy to submit issues when they come across them. I'm guessing https://github.com/SiCKRAGETV/sickrage-issues/issues/2657#issuecomment-137922129 will probably help with this aswell as the other imporvements @MGaetan89 and I are

[2015-09-05 07:51] WebSpider commented on #2649
Thanks. For some reason Im having trouble accessing GitHub using ssh and http. Mail notifications work fine.

-----Original Message-----
From: "Gaëtan Muller" <notifications@github.com>
Sent: ‎9/‎5/‎2015 8:53 AM
To: "SiCKRAGETV/sickrage-issues" <sickrage-issues@noreply.github.com>
Cc: "Nils" <nils@familievogels.nl>
Subject: Re: [sickrage-issues] History Limit Not Worknig (#2649)

I found the issue

[2015-09-05 08:06] OmgImAlexis opened #2658 "[Feature Request] Add socket.io/websocket api"
If we added in a socket.io/websocket api as well as the normal api then we wouldn't need to poll for new messages and waste bandwidth and loading time. We also wouldn't need to refresh the page every 5 minutes like we currently do.

[2015-09-05 08:12] WebSpider commented on #2658
Duplicate of your own #2586

[2015-09-05 08:12] #2658 closed

[2015-09-05 08:28] deaft0ne commented on #2655
Seems like a temporary solution was to not use the pre configured nzb providers inside SickRage. I just added stuff like usenet crawler and binsearch under different names and all the nzbs are now working

[2015-09-05 08:30] OmgImAlexis commented on #2658
Oops. Didn't think I had opened an issue on this yet.

[2015-09-05 09:36] neoatomic commented on #2655
First, follow the guidelines for posting an issue. https://github.com/SiCKRAGETV/sickrage-issues#submitting-a-bugissue-ticket

Concerning the NZB search, its working fine here.
Womble's Index has been removed from SickRage, as its not working anymore. And BinSearch is not a very good indexer.

The build-in NZB providers have only the HD and SD category's enabled. But its recommended to add NZB ind

[2015-09-05 09:47] neoatomic commented on #2645
@phishin4dmb Where u using Trakt.?
Can you give some more info on what you where doing.?

[2015-09-05 09:50] #2573 closed

[2015-09-05 10:22] WebSpider commented on #2657
Yes, this is the way forward for me is well. Just have to make theme developers understand that they have to follow this way of working as well, to prevent spaghetti. When a new feature is exposed to the GUI, it should be inheritable first, after which a theme can pick up on the inheritance, instead of the other way around.

Also: Currently the code for theme selection is based around the file sys

[2015-09-05 10:43] fernandog commented on #2649
with this change, it doesn't save to config the last history selected

[2015-09-05 10:56] fernandog commented on #2381
/home with 80 shows
Load time: 0.5080s / Mako: 0.5012s

this unstyled things last like .2 seconds.

[2015-09-05 11:03] OmgImAlexis commented on #2657
@WebSpider @miigotu and I were talking about file paths for themes and we're still not sure what the best way to go about it would be.

We really need a discussion on the directory structure for themes.

[2015-09-05 11:03] miigotu commented on #2657
@WebSpider :+1:

@OmgImAlexis and I have been discussing this for awhile now, not sure if you heard much of it.
1. Newly created themes need to be able to use existing base images/js/css, but also override them and use their own, or parts of the base css/js and override it with customizations without touching the base files

We discussed eliminating the "slick" folder and moving all subfolders up

[2015-09-05 11:04] miigotu commented on #2657
Tbh, its starting to feel like the entire folder layout, and theme loading needs reworked, as well as the backend code in webserveInit for the staticHandler.

[2015-09-05 11:05] fernandog commented on #2339
### INFO
Python Version: **2.7.9 (default, Mar  1 2015, 13:48:22) [GCC 4.9.2]**
Operating System: **Linux-4.1.5-1-osmc-armv7l-with-debian-8.1**
Locale: UTF-8
Branch: **develop**
Commit: SiCKRAGETV/SickRage@2982ade92e8ce0b58657103cedb3cb9b2ff3924e
Link to Log: https://gist.github.com/a919dd3212b439eb5a01
### ERROR
[code]
---
_STAFF NOTIFIED_: @SiCKRAGETV/owners @SiCKRAGETV/moderators

[2015-09-05 11:07] fernandog commented on #2339
my issue it's not related to subtitles

[2015-09-05 11:08] fernandog commented on #2653
### INFO
Python Version: **2.7.9 (default, Mar  1 2015, 13:48:22) [GCC 4.9.2]**
Operating System: **Linux-4.1.5-1-osmc-armv7l-with-debian-8.1**
Locale: UTF-8
Branch: **develop**
Commit: SiCKRAGETV/SickRage@2982ade92e8ce0b58657103cedb3cb9b2ff3924e
Link to Log: https://gist.github.com/a919dd3212b439eb5a01
### ERROR
[code]
---
_STAFF NOTIFIED_: @SiCKRAGETV/owners @SiCKRAGETV/moderators

[2015-09-05 11:09] fernandog commented on #2625
@MGaetan89 any news on this one? thanks

[2015-09-05 11:15] OmgImAlexis commented on #2657
Inheritance and a new image loading function seem to help.

Before: ![screen shot 2015-09-05 at 8 45 05 pm](https://cloud.githubusercontent.com/assets/6525926/9698992/059d4b90-540f-11e5-9ac5-b7b18d26aab5.png)

After: ![screen shot 2015-09-05 at 8 43 24 pm](https://cloud.githubusercontent.com/assets/6525926/9698987/dbcf40f2-540e-11e5-924b-55a312ec50eb.png)

[2015-09-05 11:25] MGaetan89 commented on #2625
Not yet, still looking at it.

[2015-09-05 11:41] fernandog commented on #2657
nice

[2015-09-05 12:16] Darksci opened #2659 "Problem with IPTorrents"
So I think this started ever since ISPs started blocking some of these sites.
I am on the master branch and whenever it tries to connect to IPT it gives this error in the logs:

SEARCHQUEUE-MANUAL-73141 :: [IPTorrents] :: Unable to connect to IPTorrents provider: error [SSL: SSLV3_ALERT_ILLEGAL_PARAMETER] sslv3 alert illegal parameter (_ssl.c:581)

So I am unable to connect to grab any information

[2015-09-05 12:35] MGaetan89 commented on #2625
Looks like I needed to override some jQuery-UI styles.
Done in https://github.com/SiCKRAGETV/SickRage/pull/2405

[2015-09-05 12:43] MGaetan89 commented on #2625
The fix is available in `develop`.

[2015-09-05 12:43] #2625 closed

[2015-09-05 13:02] OmgImAlexis opened #2660 "Permissions"
@fernandog when you're on next can you please add me as a mod or something to this repo so I can mark my own issues with labels, @miigotu would have but doesn't have permission to.

[2015-09-05 13:26] fernandog commented on #2660
done

[2015-09-05 13:26] #2660 closed

[2015-09-05 13:27] fernandog commented on #2625
hasn't changed

BRANCH: (develop) / COMMIT: (2982ade92e8ce0b58657103cedb3cb9b2ff3924e)

[2015-09-05 13:30] OmgImAlexis commented on #2660
Cheers.

[2015-09-05 13:31] miigotu commented on #2625
@fernandog did you force refresh? ctrl+f5 or ctrl+shift+f5 ?

[2015-09-05 13:52] fernandog commented on #2625
had to delete /cache/mako
thanks

[2015-09-05 14:17] bioshock47 commented on #2631
thanks @aurearra , but i can't instal a local dns on my QNAP nas.

Does anyone know how fix this issue on qnap?

[2015-09-05 15:12] duramato opened #2661 "Mako runtime error"
On the latest dev version I'm getting this error.
[code]

[2015-09-05 15:32] duramato commented on #2661
Fixed by deleting /cache/mako
Couldnt be added something to sickrage that delets it on each update?

[2015-09-05 15:38] kvloover opened #2662 "Anime multi season recognizing"
Sickrage is not recognizing "S2 - 01" as being season 2 episode 1, and results in not finding the episode on trackers.

os X Yosemite 10.10.5
BRANCH: (master) / COMMIT: (f8eedd203011de46f61e7725cacd33de2146439c)
2.7.10 (default, Jul 14 2015, 19:46:27) [GCC 4.2.1 Compatible Apple LLVM 6.0 (clang-600.0.39)]

[2015-09-05 15:41] Talung opened #2663 "Pushover sound still resets to default after update"
BRANCH: (master) / COMMIT: (f8eedd203011de46f61e7725cacd33de2146439c)

This is a continuation of  issue #2529  Not sure how to get it re-opened, so created a new issue.
https://github.com/SiCKRAGETV/sickrage-issues/issues/2529

After update it is still defaulting to the "Pushover" sound and not the sound I selected. The "Device Specific" sound is working as expected.

ie. Main issue not fixed.. ad

[2015-09-05 15:42] kvloover commented on #2662
BRANCH: (master) / COMMIT: (f8eedd203011de46f61e7725cacd33de2146439c)
mac os X Yosemite 10.10
2.7.10 (default, Jul 14 2015, 19:46:27) [GCC 4.2.1 Compatible Apple LLVM 6.0 (clang-600.0.39)]

[2015-09-05 15:49] kvloover commented on #2623
Another good example:
Working! (S1)
Working!! (S2)
Working!!! (S3)

This can even cause S3 episodes to end up in a S1 folder and being shown as such on the show overview page.

[2015-09-05 17:16] fernandog commented on #2661
@duramato can you try this?  just edit .gitignore as the PR

[2015-09-05 17:49] WebSpider commented on #2662
We need more information to determine this is not a duplicate of #2623 .. Please see readme.md on how to submit this information.

[2015-09-05 18:08] kvloover commented on #2662
It could potentially be fixed using #2623 however, this is not a case of differently named seasons.
But making them act as different season names is a potential fix ofcourse (although that would just be weird).

The show itself at this time is "Miss Monochrome" an anime which is in its second season.
Episodes are posted as f.e. "Miss Monochrome S2 - 10".

After downloading the episode manually and

[2015-09-05 18:14] WebSpider commented on #2662
Still: Need more information to diagnose and solve.

Please provide information as laid out in SiCKRAGETV/sickerage-issues/readme.md .. Thanks!

-----Original Message-----
From: "kvloover" <notifications@github.com>
Sent: ‎9/‎5/‎2015 8:08 PM
To: "SiCKRAGETV/sickrage-issues" <sickrage-issues@noreply.github.com>
Cc: "Nils" <nils@familievogels.nl>
Subject: Re: [sickrage-issues] Anime multi season rec

[2015-09-05 18:52] WebSpider commented on #2663
Hi Talung,

Just to get a good understanding: Basically the only sounds that are working are Pushover and Custom, right?

Just so I know what to try and reproduce

-----Original Message-----
From: "Talung" <notifications@github.com>
Sent: ‎9/‎5/‎2015 5:41 PM
To: "SiCKRAGETV/sickrage-issues" <sickrage-issues@noreply.github.com>
Subject: [sickrage-issues] Pushover sound still resets to default after

[2015-09-05 19:57] fatgeek opened #2664 "Episodes change from Wanted to Skipped at midnight on some episodes."
I have a strange issue where on some shows the episode status will change from wanted to skipped at midnight on it's air date. This doesn't happen for all shows. It also isn't consistent per show. It was happening to all shows prior to the update on 2015-07-16. I made the changes required by that update, changing the default status.

I did some searching and can't find anyone else with this issue.

[2015-09-05 20:36] phishin4dmb commented on #2645
Trakt was the issue and I believe it has been fixed in the last release. Yet to test. 

Thanks. 

--
Sincerely
Steve Reynolds
(714) 820-8200

One of the bonuses of living on the edge is that the view is more spectacular and your experiences more extreme. You never know what is at the bottom, find out!

On Sat, Sep 5, 2015 at 2:47 AM, neoatomic <notifications@github.com>
wrote:

[2015-09-06 00:06] WebSpider commented on #2649
This has been merged into the develop branch. Please check if this works for you!

[2015-09-06 00:09] WebSpider commented on #1865
No new logs,no new troubleshooting @joakim93

[2015-09-06 00:09] #1865 closed

[2015-09-06 00:24] WebSpider commented on #2648
Just submitted a fix. It will be added to develop in a bit.

[2015-09-06 00:27] Talung commented on #2663
Sorry was sleeping.

It doesn't matter what sound you select. they all work.  However, after an update, it will always default to the "Pushover" sound.  After seeing the "Fix typo prevents sound from saving..", I tried just restarting sickrage and can confirm that it does the same thing.

So nothing to do with update and all to do with saving/loading the sound selecting in the config.ini.

Thanks

[2015-09-06 00:42] WebSpider commented on #2663
The fix hasn't been committed yet, where did you try it from?

[2015-09-06 00:48] Talung commented on #2663
Not tried it.. just confirmed that it was a saving/loading issue and not due to the upgrade system.  Sorry for the confusion.  ie.  A restart resets it on BRANCH: (master) / COMMIT: (f8eedd203011de46f61e7725cacd33de2146439c)

[2015-09-06 02:05] fernandog commented on #1297
https://github.com/SiCKRAGETV/SickRage/pull/2377

[2015-09-06 02:05] #1297 closed

[2015-09-06 02:38] VinceVal commented on #2624
OK, I've completed a first stab of the installer. It is hosted (for now, at least) [here](https://github.com/VinceVal/SickRageInstaller). I would appreciate any feedback. At this point, the only platform I've tested it on is Windows 7 64-bit.

Let me know what you think!

[2015-09-06 02:45] VinceVal commented on #2624
Just tested on my Windows 10 64-bit box and it worked there too.

One known issue with the way the service is running with NSSM is that you can't actually shut SickRage down using the Web UI. NSSM will just restart it. What would probably be ideal is if SickRage could exit with different exit codes depending on the scenario. NSSM can take different actions depending on the process' exit code.

[2015-09-06 05:18] #2663 closed

[2015-09-06 06:05] elit3ge opened #2665 "Detecting Wrong Quality"
I have been running SickRage on another persons computer for a while now, computer shit itself had to reinstall windows etc etc. Now my issue I am having now is, when a show is downloaded it is either SD or DVD depending which is out. In the folders with the shows in them the shows are renamed to SD.TV or SD.DVD. When I have re added all the shows and SickRage has done a scan on the folders it is

[2015-09-06 07:11] WebSpider commented on #2663
Hi @fernandog is there a reason why u closed the issue without merging into sickragetv/develop? Is there a problem with the PR?

[2015-09-06 07:13] WebSpider commented on #2664
It would be great if you could follow the guidelines on how to submit an issue, so we have more relevant info to go on. Especially we're going to need debug info as SR makes this mistake, which may be difficult as it's intermittent.

[2015-09-06 07:13] OmgImAlexis commented on #2663
@WebSpider isn't it already merged? https://github.com/SiCKRAGETV/SickRage/commit/e07f4028d3c12dd34bf747a7e214c1aba0c867ed

[2015-09-06 07:17] WebSpider commented on #2663
Ah, it is indeed! More coffee.

[2015-09-06 07:29] WebSpider commented on #2624
Do you have relevant documentation on NSSM, so we can make needed changes in SR?

Also, where can I download a version to test with?

-----Original Message-----
From: "VinceVal" <notifications@github.com>
Sent: ‎9/‎6/‎2015 4:45 AM
To: "SiCKRAGETV/sickrage-issues" <sickrage-issues@noreply.github.com>
Cc: "Nils" <nils@familievogels.nl>
Subject: Re: [sickrage-issues] [Feature Request] Create a Window

[2015-09-06 07:52] VinceVal commented on #2624
NSSM doesn't have any specific requirements. It allows you to define different behaviors (restart or exit) depending on the return code of the process. The default behavior of NSSM is to restart the process no matter what.

What might make sense would be to configure NSSM to restart SR for all return codes except zero. I'm guessing if SR crashed for some reason, it would terminate with a non-zero

[2015-09-06 07:55] OmgImAlexis commented on #2624
@VinceVal would this not work for the restarting issue? /config/general/
![screen shot 2015-09-06 at 5 25 00 pm](https://cloud.githubusercontent.com/assets/6525926/9703239/48ccee90-54bc-11e5-9c15-f9d65cc7088e.png)

[2015-09-06 08:12] fatgeek commented on #2664
Ok,

Branch: Master BRANCH: (master)
Commit hash: COMMIT: (f8eedd203011de46f61e7725cacd33de2146439c)
Your operating system and python version:
    OS: Ubuntu 14.04.3 LTS (server)
    Python: Python 2.7.6

As for the logs, I hadn't realized that they had wrapped and I didn't have any from the midnight timeframe. Here are the logs for about an hour before and after midnight:  https://gist.github.com

[2015-09-06 08:24] VinceVal commented on #2624
@OmgImAlexis Yes, that is half of the solution. The other half would be to use a non-zero return code for these "restarts" so we can configure to be able to see the difference between an exit and a restart -- if we event want it. Basically we're talking about making it able to shutdown the service from the web UI instead of having to stop the Windows service.

[2015-09-06 09:18] #2648 closed

[2015-09-06 10:23] fernandog commented on #2664
Increase log size in SR and/or number of log files

[2015-09-06 10:38] camxx opened #2666 "Discovery shows rarely find matches, last year or so..."
At least three Discovery shows have begun to rarely find matches, starting around 12 months ago, SickBeard and SickRage both seem to suffer from this.

These shows include but are not limited to: Mythbusters, Street Outlaws, Fast 'n' Loud.

It seems that whatever convention most indexers follow to list this show differs from the convention TVRage and TheTVDB follow, this results in matches rarely

[2015-09-06 11:03] OmgImAlexis opened #2667 "Remove logout from menu when no login details are provided"

[2015-09-06 11:03] #2666 closed

[2015-09-06 11:04] OmgImAlexis commented on #2666
@camxx why is this closed?

[2015-09-06 11:06] camxx commented on #2666
Restarting the SickRage service caused *something* to fall in to place and I assume scene numbering kicked in.

[2015-09-06 11:20] WebSpider commented on #2667
Since we only have one u/p combination, what would this add opposed to closing the browser?

[2015-09-06 11:21] OmgImAlexis commented on #2667
What do you mean? When you've got login details added you're required to login but if you don't there's no reason to have "logout" in the menu since you don't actually login in the first place.

[2015-09-06 11:27] royteeuwen commented on #1829
+1

[2015-09-06 11:29] OmgImAlexis commented on #1829
+1

[2015-09-06 11:44] WebSpider commented on #2667
I misread! Removing comment :)

[2015-09-06 11:45] OmgImAlexis commented on #2667
I'll probably add this after my PR gets merged into develop.

[2015-09-06 11:51] OmgImAlexis opened #2668 "[APP SUBMITTED]: Thread-24 :: No Show Object found for show with indexerID: 73388"
### INFO
Python Version: **2.7.6 (default, Jun 22 2015, 17:58:13) [GCC 4.8.2]**
Operating System: **Linux-3.13.0-57-generic-x86_64-with-Ubuntu-14.04-trusty**
Locale: UTF-8
Branch: **master**
Commit: SiCKRAGETV/SickRage@f8eedd203011de46f61e7725cacd33de2146439c
Link to Log: https://gist.github.com/a4daef311dce8e8ab8bf
### ERROR
[code]
---
_STAFF NOTIFIED_: @SiCKRAGETV/owners @SiCKRAGETV/moderators

[2015-09-06 12:27] fernandog opened #2669 "[APP SUBMITTED]: Expected: %> in file '/home/osmc/SickRage/gui/slick/views/displayShow.mako' at line: 629 char: 1"
### INFO
Python Version: **2.7.9 (default, Mar  1 2015, 13:48:22) [GCC 4.9.2]**
Operating System: **Linux-4.1.5-1-osmc-armv7l-with-debian-8.1**
Locale: UTF-8
Branch: **develop**
Commit: SiCKRAGETV/SickRage@feb72826a12cf0cb288e568960a11f1962235c0a
Link to Log: https://gist.github.com/7d749a82d2eba36d1470
### ERROR
[code]
---
_STAFF NOTIFIED_: @SiCKRAGETV/owners @SiCKRAGETV/moderators

[2015-09-06 12:41] #2401 closed

[2015-09-06 12:50] #2669 closed

[2015-09-06 12:59] Kumolo commented on #2477
@miigotu Thanks mate. Moved to Stephanes qpkg and now popular shows are displayed :-) Anyway, if there is Python incompatibility, I am wondering if this can't  be detected and logged?

[2015-09-06 13:02] OmgImAlexis commented on #2668
I added Mythbusters and then removed it, something's not getting cleaned up after a show's removed.

[2015-09-06 13:03] OmgImAlexis opened #2670 "apibuilder error"
/apibuilder with SickRage.GetMessages selected on the dropdown.

[code]

[2015-09-06 13:11] miigotu commented on #2477
@Kumolo if it were that easy I would be doing it. In fact I tried many times and even had code to do just that in SR up until today, which fails horribly. Noone knows for sure what is missing from the other package that causes the failure, so we dont know for sure what to check.

[2015-09-06 13:12] miigotu commented on #2668
Seems it was still adding episode information when you removed it. low priority as it is much better than it used to be.

[2015-09-06 13:13] OmgImAlexis commented on #2668
I removed this about an hour after the show was loaded. It shouldn't still be adding anything, should it?

[2015-09-06 13:15] miigotu commented on #2668
depends if one of the sites we get meta from is timing out or answering slow.

[2015-09-06 13:16] fernandog commented on #2670
Enable debug. See what happens. Also check logs

[2015-09-06 13:17] fernandog commented on #2670
Apibuilder debug

[2015-09-06 13:17] fernandog commented on #2668
Info Cached?

[2015-09-06 13:18] OmgImAlexis commented on #2670
Sickrage is just submitting the error now.

[2015-09-06 13:19] miigotu commented on #2668
there was no cache, because your pr deleted it @fernandog lol

[2015-09-06 13:20] OmgImAlexis opened #2671 "[APP SUBMITTED]: 'CMD_SickBeardGetMessages' object has no attribute 'request'"
### INFO
Python Version: **2.7.6 (default, Jun 22 2015, 17:58:13) [GCC 4.8.2]**
Operating System: **Linux-3.13.0-57-generic-x86_64-with-Ubuntu-14.04-trusty**
Locale: UTF-8
Branch: **master**
Commit: SiCKRAGETV/SickRage@f8eedd203011de46f61e7725cacd33de2146439c
Link to Log: https://gist.github.com/0e0127357749e9990f38
### ERROR
[code]
---
_STAFF NOTIFIED_: @SiCKRAGETV/owners @SiCKRAGETV/moderators

[2015-09-06 13:20] #2670 closed

[2015-09-06 13:22] Kumolo commented on #2477
Understood. Thanks for your hard work @miigotu

[2015-09-06 13:27] fernandog commented on #2668
I mean getURL.
we still sync with trakt watchlist isnt?

[2015-09-06 13:34] miigotu commented on #2668
@fernandog you are confusing me. deleting a show removes it from the watchlist

[2015-09-06 14:26] WebSpider commented on #1443
Subliminal has implemented this in their develop branch. I'll have a look at updating subliminal in SR so we can start supporting this.

[2015-09-06 14:35] MGaetan89 commented on #2671
I found the source of the issue.
I will fix it and submit a PR soon.

[2015-09-06 14:44] duramato opened #2672 "Start error"
After updating to the latest dev version
[code]

[2015-09-06 14:56] MGaetan89 commented on #2672
For some reason, the file `ShowFanArt` gets renamed into `ShowFanart`.
Try renaming it with an uppercase `A` to see if it fix your issue (it is in `sickrage/media/ShowFanArt.py`).

[2015-09-06 15:05] fernandog commented on #2672
@MGaetan89 travis get this ?

[2015-09-06 15:09] fernandog commented on #2672
@duramato git pull please

[2015-09-06 15:09] #2672 closed

[2015-09-06 15:10] MGaetan89 commented on #2671
Fix is waiting to be merge.

[2015-09-06 15:11] MGaetan89 commented on #2672
@fernandog I don't know. I never looked at what Travis actually does.

[2015-09-06 15:44] miigotu commented on #1443
Just need to figure out how to handle the entry points for the providers. They install them with stevedore and setup.py in subliminal now

[2015-09-06 15:55] MGaetan89 commented on #2671
It is fixed in develop.

[2015-09-06 15:55] #2671 closed

[2015-09-06 15:56] fernandog opened #2673 "AttributeError: 'Undefined' object has no attribute 'showList'"
@OmgImAlexis @MGaetan89

Error !

AttributeError: 'Undefined' object has no attribute 'showList'

<% totalWanted = 0 %> <% totalQual = 0 %> % for curShow in sickbeard.showList: <% totalWanted = totalWanted + showCounts[curShow.indexerid][Overview.WANTED] %> <% totalQual = totalQual + showCounts[curShow.indexerid][Overview.QUAL] %> % endfor <div class="h2footer pull-right">
/home/osmc/SickRage/gui/

[2015-09-06 16:02] technazz commented on #2652
### INFO
Python Version: **2.7.9 (default, Dec 10 2014, 12:24:55) [MSC v.1500 32 bit (Intel)]**
Operating System: **Windows-7-6.1.7601-SP1**
Branch: **master**
Commit: SiCKRAGETV/SickRage@f8eedd203011de46f61e7725cacd33de2146439c
No Log available with ERRORS:
### ERROR
[code]
---
_STAFF NOTIFIED_: @SiCKRAGETV/owners @SiCKRAGETV/moderators

[2015-09-06 16:04] OmgImAlexis commented on #2652
@miigotu TVRage is down, what do we do?

[2015-09-06 16:05] miigotu commented on #1443
Also, while your at it,  there is an Addic7ed login option too in subliminal dev

[2015-09-06 16:12] WebSpider commented on #2652
Handle the error, live with it if it's temporary ... Such teh interwebs ?

-----Original Message-----
From: "X O" <notifications@github.com>
Sent: ‎9/‎6/‎2015 6:04 PM
To: "SiCKRAGETV/sickrage-issues" <sickrage-issues@noreply.github.com>
Subject: Re: [sickrage-issues] [APP SUBMITTED]: SHOWQUEUE-FORCE-UPDATE :: Nodata returned from TVRage, unable to update this show (#2652)

@miigotu TVRage is down,

[2015-09-06 16:20] OmgImAlexis commented on #2652
@WebSpider @miigotu said it looks like it won't be coming back up at all.

[2015-09-06 16:39] #2673 closed

[2015-09-06 16:47] #2657 closed

[2015-09-06 16:48] OmgImAlexis commented on #2381
@timgilbert since we've changed a LOT in the last day can you try the newest dev commit please.

[2015-09-06 16:49] OmgImAlexis commented on #1982
+1 This can be done once I redo that js in my next big PR

[2015-09-06 16:51] OmgImAlexis commented on #2371
@neoatomic if you want to make the doc I can see about adding it soon.

[2015-09-06 16:52] fernandog commented on #1982
@OmgImAlexis there's a lot of things after 'mako': https://github.com/SiCKRAGETV/sickrage-issues/milestones/mako

[2015-09-06 16:53] OmgImAlexis commented on #1982
@fernandog I want to do all of the js at once though and since I'm pretty sure I'm the main one touching it at the moment I thought I might as well do this when I do my cleanup and update of the current js. All good?

[2015-09-06 16:55] fernandog commented on #1982
np. just pointing the mako milestone

[2015-09-06 17:25] DJ747 opened #2674 "Manual Post Processing Missing"
When using on a tablet there is no button to get to manual post processing anymore. I went on the PC and found the link to it and when typed in the page loads fine, just doesn't have the button to get to it.

Thanks

[2015-09-06 17:25] fernandog commented on #2674
screenshot?

[2015-09-06 17:37] neoatomic commented on #2371
@OmgImAlexis You probably can copy/paste the explanations from the wiki pages i made. https://github.com/SiCKRAGETV/sickrage-issues/wiki/Settings-explained

Now we have many explanations as plain text on the page, but if we add that to tool-tips we should get a cleaner layout.
And maybe a "help" or "?" link at the bottom of every page to the correct wiki page.?

Just some idea's. But let's conside

[2015-09-06 17:52] fernandog opened #2675 "AttributeError: 'Undefined' object has no attribute 'RANDOMIZE_PROVIDERS'"
@OmgImAlexis
Error !

AttributeError: 'Undefined' object has no attribute 'RANDOMIZE_PROVIDERS'

<label for="randomize_providers"> <span class="component-title">Randomize Providers</span> <span class="component-desc"> <input type="checkbox" name="randomize_providers" id="randomize_providers" class="enabler" ${('', 'checked="checked"')[bool(sickbeard.RANDOMIZE_PROVIDERS)]}/> <p>randomize the provid

[2015-09-06 17:58] #2675 closed

[2015-09-06 18:04] MGaetan89 commented on #2674
Maybe related to https://github.com/SiCKRAGETV/sickrage-issues/issues/2618?

[2015-09-06 18:25] WebSpider commented on #2652
Hm. Need to see what's up there. Would be a shame if it died, and we could have done something to help

[2015-09-06 19:35] timgilbert commented on #2381
I checked out the develop branch and this is fixed there. Nice job!

I do still see the unstyled content for maybe a second the very first time I pull up the page after clearing the cache, but every time after that, the CSS seems to be cached so if I reload the page the table shows up as styled as it renders (with the alternating colors etc).

Thanks again for the help! I think this issue can be c

[2015-09-06 19:46] MGaetan89 commented on #2567
Based on the commands available in the API, here is a list of what needs to be done and what is done. Once everything is checked, I will see what is left and maybe add some new API methods accordingly (like to edit a show for example).

CMD_Help,
- [ ] CMD_ComingEpisodes
- [ ] CMD_Episode
- [ ] CMD_EpisodeSearch
- [ ] CMD_EpisodeSetStatus
- [ ] CMD_SubtitleSearch
- [ ] CMD_Exceptions
- [ ] CMD_His

[2015-09-06 22:08] #2381 closed

[2015-09-06 22:15] miigotu commented on #2652
@WebSpider I was contacted a few weeks back by the sysadmin, who said the owner had been trying to shut it down for awhile (paranoia, "people in the network") and that he had already diverted a shutdown order to their data center. He said he was quitting as the sysadmin a few weeks after he contacted me and that he wouldn't be able to avoid the shutdown anymore.

I plan to wait a few days to see i

[2015-09-06 23:25] cookerrr commented on #2547
The develop branch's images_cache.py file is the same as the master branch.  I could start a new issue about this, but so far I'm wondering if this issue is for some reason isolated to just me.  Removing the portion of that file that just tries to pull the cache locally makes it work perfectly as stated above, and it pulls the images to the cache directory from thetvdb.  I don't know if that's how

[2015-09-06 23:39] miigotu commented on #2547
@cookerrr it has nothing to do with image_cache.py being the same. image cache uses hachoir to determine image types, and there was a bug in hachoir effecting this that was fixed.

[2015-09-06 23:42] miigotu commented on #2674
@DJ747 this was already fixed in develop.

[2015-09-06 23:42] #2674 closed

[2015-09-06 23:45] miigotu commented on #2665
SB used to name files with those funky quality names, and SR did for a long time also. We dont anymore because it breaks stuff.

You could find a way to bulk rename in windows.

In linux it would be like:
[code]

[2015-09-06 23:47] miigotu commented on #2665
I guess you could also manually change the status of each ep in SR also, and then do a rename from there.

[2015-09-06 23:52] miigotu commented on #2659
Update your distro if it is linux. This problem was fixed in 2012.

If you are on windows, install newer version of OpenSSL.

[2015-09-06 23:52] #2659 closed

[2015-09-06 23:53] #2643 closed

[2015-09-06 23:54] #2599 closed

[2015-09-07 00:18] miigotu commented on #2568
@duramato can you check it again with develop please.

[2015-09-07 00:42] duramato commented on #2568
@miigotu ```
2015-09-07 01:39:55 DEBUG    SEARCHQUEUE-MANUAL-294206 :: [TorrentLeech] :: Traceback (most recent call last):
AAAttributeError: 'NoneType' object has no attribute 'text'
AA    if re.search('Invalid Username/password', response.text) \
AA  File "/home/super******/SickRage/sickbeard/providers/torrentleech.py", line 93, in _doLogin
AA    if not self._doLogin():
AA  File "/home/super****

[2015-09-07 00:44] miigotu commented on #2568
I can fix that error, but the login is still failing ^

[2015-09-07 00:52] miigotu commented on #2568
Actually, update and retry please.

[2015-09-07 00:55] cookerrr commented on #2547
ok, just updated to latest master  I noticed  and fiddled with this again.  Another variable in this problem that I didn't think of that may influence the results is that in the config.ini I have create_missing_show_dirs set to 1.  I have kodi delete the show directory when I'm done watching a show.  Now in my couple tests I deleted a banner from sickrages image cache for america's got talent.  Th

[2015-09-07 00:58] cookerrr commented on #2547
I just looked at that pull request that hiltronix put in for that hachoir, and noticed he commented two days ago that the problem is still not fixed with that,  so I'll wait this out till they figure out the problem over there before I try this out again.

[2015-09-07 01:11] miigotu commented on #2568
@duramato you alive still? xD

[2015-09-07 01:12] Hiltronix commented on #2547
If you're referring to the PR I made a day or two ago at the hachoir project, I'm waiting to see if it will be accepted.  The original PR I made there did fix the problem by eliminating an exception.  But the dev on the project asked me to add the error logger function to the exception handler I added.  And it turned out to add the exception issue right back into the situation.  So after more rese

[2015-09-07 01:16] miigotu commented on #2547
@Hiltronix check the type of the error variable, stderr issues are usually due to encoding. I think we are passing it a unicode filepath/name, and flush would be trying to encode it to ascii I think.

[2015-09-07 01:26] duramato commented on #2568
yeah @miigotu :P now im getting this http://pastebin.com/XHk4aJav

[2015-09-07 02:07] miigotu commented on #2568
sigh, lost on it atm. Ill try again another time xD

[2015-09-07 02:19] raymondtrueman opened #2676 "Incorrect season packs being snatched"
SR Version:	BRANCH: (master) / COMMIT: (f8eedd203011de46f61e7725cacd33de2146439c)
Python Version:	2.7.10 (default, Jun 4 2015, 01:18:03) [GCC 4.3.2]

Hi Guys,

This started about a week or 2 ago. Season pack snatches are messing up. SickRage will do a season pack search for a certain season of a certain show, and then snatch an incorrect season of that same show. For example Season 3 will be marke

[2015-09-07 02:32] raymondtrueman commented on #2676
Another example. Searched for Season 3, snatched Season 1
http://pastebin.com/NURgfs50

[2015-09-07 02:40] raymondtrueman commented on #2676
One more, in case you need to compare. Seems to be a PirateBay only issue as far as I can tell. Not confirmed though. Searched Season 3, snatched Season 1
http://pastebin.com/Q3R3tyxS

[2015-09-07 02:49] miigotu commented on #2676
Except you aren't up to date it seems, unless my fix didn't make it into master yet. Might still be in develop.

[2015-09-07 02:59] raymondtrueman commented on #2676
O, ok, so this has been fixed already. Just did a check for updates, and it didn't find any. So maybe it is not in Master yet. Thanks @miigotu

[2015-09-07 04:21] DanielNagy commented on #1010
i +1 this, as i also have kodi media players that are always off sharing a mysql database
However, given that kodi changes DB schema / Version so often, it would be silly to integrate this support into sickrage. http://kodi.wiki/view/Database_versions

A better solution would be to create some sort of middle ware kodi API service/daemon, with code pulled directly/dependent on the original kodi cod

[2015-09-07 05:36] miigotu commented on #2624
@VinceVal :+1: :+1: :+1:

This is exactly the installer I was describing to @neoatomic like a week about with inno.

Not sure if you should have this line`DelTree(PythonPath + '\Scripts',      True,  True, True)` as that is where easy_install is, and you might be better off letting that there incase users need to install other packages, maybe even for other apps that will eventually use their pyth

[2015-09-07 05:42] palmfighter commented on #1443
Great to see you guys are working on it!

[2015-09-07 05:54] WebSpider commented on #1010
There would be no changes required from SR, as we already support kodi, and kodi api's would be used in a headless case as well.

[2015-09-07 06:11] VinceVal commented on #2624
@miigotu thanks for the feedback.

The idea is that this Python folder is private to SR. Users shouldn't be installing anything else in there. It doesn't get added to the user's PATH or integrated with the shell. The CleanPython() function tries to replicate doing a minimal install through the interactive MSI. I couldn't figure out a way to deselect the features when doing an administrative (/a) i

[2015-09-07 08:18] AdeHub commented on #2436
Can anything be done about this one on kat?
```Catastrophe 2015 S01E01 720p HDTV 2CH x265 HEVC-PSA```

[2015-09-07 08:35] AdeHub commented on #2599
Thanks, never had much luck with this show, probably due to the different tvrage/tvdb naming and sometimes being released as Air by date and sometimes not. Maybe I'll ask for advice on the forum

[2015-09-07 10:24] fernandog commented on #2624
Can you 'set chcp 65001' before running SR?

[2015-09-07 11:56] fernandog opened #2677 "Manual search opens a new tab instead of keep in same page"
Result is: {"result": "success"}

@MGaetan89 @OmgImAlexis

[2015-09-07 13:04] fernandog commented on #2339
### INFO
Python Version: **2.7.9 (default, Mar  1 2015, 13:48:22) [GCC 4.9.2]**
Operating System: **Linux-4.1.5-1-osmc-armv7l-with-debian-8.2**
Locale: UTF-8
Branch: **develop**
Commit: SiCKRAGETV/SickRage@8cacddbcb155352142744e87ac681759beaf363b
Link to Log: https://gist.github.com/7ffaab2276cfe74f0a80
### ERROR
[code]
---
_STAFF NOTIFIED_: @SiCKRAGETV/owners @SiCKRAGETV/moderators

[2015-09-07 13:46] MGaetan89 commented on #2677
I don't understand the issue and how to reproduce it.
Can you detail a bit?
On 7 Sep 2015 1:56 p.m., "Fernando" <notifications@github.com> wrote:

[2015-09-07 14:00] fernandog commented on #2677
Press manual search for any episode in /comingepisodes

Didnt check MS in Displayshow

[2015-09-07 14:28] OmgImAlexis commented on #2677
@fernandog testing on https://github.com/SiCKRAGETV/SickRage/commit/8cacddbcb155352142744e87ac681759beaf363b the manual search at the end of each row seems to work just as it always did. Maybe we need some more info on this?

[2015-09-07 14:32] OmgImAlexis commented on #2340
### INFO
Python Version: **2.7.10 (default, Jul 13 2015, 12:05:58) [GCC 4.2.1 Compatible Apple LLVM 6.1.0 (clang-602.0.53)]**
Operating System: **Darwin-14.4.0-x86_64-i386-64bit**
Locale: UTF-8
Branch: **develop**
Commit: SiCKRAGETV/SickRage@8cacddbcb155352142744e87ac681759beaf363b
Link to Log: https://gist.github.com/4b8ce3c85404d9f5d883
### ERROR
[code]
---
_STAFF NOTIFIED_: @SiCKRAGETV/owners @

[2015-09-07 14:33] fernandog commented on #2340
I have this fot hdtorrents and ipt

[2015-09-07 14:33] OmgImAlexis opened #2678 "[Feature Request] Show popup when attempting to submit errors without debug turned on"
Currently all that happens if debug logs aren't turned on is you get a warning in the logs but no notification to the user.

[code]

[2015-09-07 14:39] fernandog commented on #2677
@OmglmAlexis

https://www.dropbox.com/s/4owg9kavaw937oq/SCR_20150907_113503.mp4?dl=0

[2015-09-07 14:42] OmgImAlexis commented on #2677
Ah, got it.

[2015-09-07 14:49] duramato commented on #2647
### INFO
Python Version: **2.7.9 (default, Apr  2 2015, 15:34:55) [GCC 4.9.2]**
Operating System: **Linux-3.19.0-26-generic-i686-with-Ubuntu-15.04-vivid**
Locale: UTF-8
Branch: **develop**
Commit: SiCKRAGETV/SickRage@8cacddbcb155352142744e87ac681759beaf363b
No Log available with ERRORS:
### ERROR
[code]
---
_STAFF NOTIFIED_: @SiCKRAGETV/owners @SiCKRAGETV/moderators

[2015-09-07 14:53] OmgImAlexis opened #2679 "Return page info via JSON"
@MGaetan89 When you're done with the API stuff let me know and I'll do this, basically we'd just use the api to check things like what layout the user has selected, etc. and then we can do logic in javascript instead of having crap like this in the mako files.

[code]

[2015-09-07 14:55] duramato commented on #2647
### INFO
Python Version: **2.7.9 (default, Apr  2 2015, 15:34:55) [GCC 4.9.2]**
Operating System: **Linux-3.19.0-26-generic-i686-with-Ubuntu-15.04-vivid**
Locale: UTF-8
Branch: **develop**
Commit: SiCKRAGETV/SickRage@8cacddbcb155352142744e87ac681759beaf363b
No Log available with ERRORS:
### ERROR
[code]
---
_STAFF NOTIFIED_: @SiCKRAGETV/owners @SiCKRAGETV/moderators

[2015-09-07 15:14] OmgImAlexis commented on #1097
@MGaetan89 if you want to look into this then I'd suggest we use something like http://benhowdle.im/touche/ to make touch events pretend to be click events. That way there shouldn't be any reason to change anything.

[2015-09-07 15:17] fernandog commented on #2652
still down

[2015-09-07 15:18] #2677 closed

[2015-09-07 15:21] fernandog commented on #2677
working. thanks

[2015-09-07 15:36] sepuku commented on #309
Can I also request another feature to go alongside this... This one might help the people who want to keep track of who's adding what to the list...
Maybe you could add an expander on each public watchlist URL along with the IMDB username of the owner of that watchlist.
This will show you what TV Series have been added via that particular users watchlist.
This can come after the implementation of

[2015-09-07 15:37] Kumolo commented on #2533
@miigotu Switching to Stephanes package did NOT solve this issue. This afternoon, Server Status had full queue with no progress since 5oclock in the night (nightly run starts at 3am)...

Now once again, I "tried stopping sickrage and then deleting cache/sessions and cache/indexers folders", however, I really don't think this helps this time.

[2015-09-07 15:40] Kumolo commented on #2533
![unbenannt](https://cloud.githubusercontent.com/assets/12941715/9719718/73919ace-5587-11e5-8ab7-f91d41da283b.JPG)

[2015-09-07 15:55] c0derMick commented on #2614
@WebSpider Thanks, I removed and reinstalled; that did the trick.  Copying those files made the recovery super simple.

[2015-09-07 16:00] Hiltronix commented on #2547
The type of the error variable is "str" not "unicode".

The actual error messages from a "Re-Scan" on the 2 shows with missing artwork that I use to test are as follows:

The Grinder - Rescan

prefix: [warn]
text: [/exif/content] [Autofix] Fix parser error: stop parser, found unparsed segment: start 1392, length 16, found unparsed segment: start 1744, length 16

2 Broke Girls - Rescan

prefix: [wa

[2015-09-07 16:14] WebSpider commented on #2652
That's a shame, really, shutting down a perfectly good service like that.

I'm trying to avoid us from missing information that is not available when we're out of TVRage, and thus leaving the user with a less complete SR because of it.

I'll walk by the code to make sure we're not missing anything.

-----Original Message-----
From: "miigotu" <notifications@github.com>
Sent: ‎9/‎7/‎2015 12:15 AM
To

[2015-09-07 16:15] WebSpider commented on #2652
PS: If anyone has a TVRage backup, I could run that under indexer.sickerage.tv off course ;)

-----Original Message-----
From: "Fernando" <notifications@github.com>
Sent: ‎9/‎7/‎2015 5:17 PM
To: "SiCKRAGETV/sickrage-issues" <sickrage-issues@noreply.github.com>
Cc: "Nils" <nils@familievogels.nl>
Subject: Re: [sickrage-issues] [APP SUBMITTED]: SHOWQUEUE-FORCE-UPDATE :: Nodata returned from TVRage, u

[2015-09-07 16:20] OmgImAlexis commented on #2652
@WebSpider I've still got a copy of the last backup they posted publicly.

[2015-09-07 16:57] gzeel opened #2680 "timeouts and slow show scanning"
Since TVrage.com is down, show scanning and adding new shows is very slow.
Like in minutes between

2015-09-07 11:22:44 INFO     SEARCHQUEUE-MANUAL-261690 :: [NZBs.org] :: Performing episode search for yadiya (2013)
2015-09-07 11:22:38 INFO     SEARCHQUEUE-MANUAL-261690 :: Beginning manual search for: [yadiya (2013) - 3x01 - Ya di Ya]

and

2015-09-07 11:31:42 INFO     SEARCHQUEUE-MANUAL-261690 ::

[2015-09-07 16:59] WebSpider commented on #2652
Ok, the application too by any chance? ;)

-----Original Message-----
From: "X O" <notifications@github.com>
Sent: ‎9/‎7/‎2015 6:20 PM
To: "SiCKRAGETV/sickrage-issues" <sickrage-issues@noreply.github.com>
Cc: "Nils" <nils@familievogels.nl>
Subject: Re: [sickrage-issues] [APP SUBMITTED]: SHOWQUEUE-FORCE-UPDATE :: Nodata returned from TVRage, unable to update this show (#2652)

@WebSpider I've still

[2015-09-07 17:01] coolius commented on #2659
I'm also getting this error with Ubuntu Server 14.04 LTS which is only a year old. Is there anything else that could be causing it?

[2015-09-07 17:04] OmgImAlexis commented on #2652
I wish, the whole backend would need to be recreated. If this was something that was actually wanted it wouldn't be too hard to get a quick node backend setup with redis at least then we'd have our own...

[2015-09-07 17:05] MGaetan89 commented on #1097
Why not simply switching to a traditional click event instead of hover?

[2015-09-07 17:07] MGaetan89 commented on #2679
No problem.
I think this will rather be new classes in `sickrage.*` module, rather than a specific API, as it is UI related and not feature related.

[2015-09-07 17:09] OmgImAlexis commented on #2652
Looks like I must have deleted the one from tvrage. :cry: all I can find is my copy of the "thetvdb" api dump.

[2015-09-07 17:11] OmgImAlexis commented on #2679
Sounds good, if possible could we expose the same data from mako to api endpoints? For example everything the home.mako gets we also get access to via js under a /home/ endpoint?

This would help not only with the current js but also if we ever wanted to move to a single page app like CP.

[2015-09-07 17:13] OmgImAlexis commented on #1097
I thought the issue was with click and touch? It's 2 in the morning here. Maybe I need to reread this.

[2015-09-07 17:16] MGaetan89 commented on #1097
The issue, from my understanding, is that the menu opens when you hover it with your mouth. But that event is not properly handled on touch screen. So, currently, clicking it does not work, and hovering it is tricky.

[2015-09-07 17:17] MGaetan89 commented on #2679
Technically, we can do everything we want :)

[2015-09-07 18:18] WebSpider commented on #2680
We are currently awaiting to see if TVRage will revive.

Guess we could make a quick hack that just skips updates from TVRage for now, as that would at least allow the app to function.

I'll write this up in a bit, first some dinner.

-----Original Message-----
From: "Gerrit Scherpenzeel" <notifications@github.com>
Sent: ‎9/‎7/‎2015 6:58 PM
To: "SiCKRAGETV/sickrage-issues" <sickrage-issues@noreply

[2015-09-07 18:31] raymondtrueman commented on #2676
@miigotu Can you confirm whether or not your fix has been applied to Main?

[2015-09-07 18:32] Anytia commented on #1741
Hi, is it possible to add https://eztv.ag as provider? It's working fine for me as torrent provider.

Thanks!

[2015-09-07 18:37] duramato opened #2681 "[Feature Request] Allow link between snatched and download"
This is a bit hard to explain, if a show gets snatched with a unknown quality and after the download finishes it detects SDTV, or other quality for that matter, either by its size or by the resolution the snatched and downloaded wont appear linked

[2015-09-07 18:41] duramato commented on #2681
![captura de ecra de 2015-09-07 19 38 13](https://cloud.githubusercontent.com/assets/10121067/9721695/2c700d5e-5598-11e5-9f44-308b9ff122aa.png)
SS of what im talking , look at the last 2 the snatched and the downloaded arent on the same line (like the ones on the Black Ops show for example)

[2015-09-07 18:42] swarmier commented on #2420
Couldn't/shouldn't there be logic in the search function if tvrage errors out to continue to TVDB?  tvrage is having an issue again and switching to TVDB versus "all indexes" resolved.  Unfortunately it took me an hour of tinkering to get there.

[2015-09-07 18:45] WebSpider commented on #2420
That would assume there is unique mapping between the indexers and identical, unconflicting content.

This is not the world we live in :)

-----Original Message-----
From: "swarmier" <notifications@github.com>
Sent: ‎9/‎7/‎2015 8:42 PM
To: "SiCKRAGETV/sickrage-issues" <sickrage-issues@noreply.github.com>
Subject: Re: [sickrage-issues] Error searching for a show (adding new show)(#2420)

Couldn't/s

[2015-09-07 18:54] 4boys commented on #1790
### INFO
Python Version: **2.7 (r27:82500, Aug 21 2010, 07:52:47) [GCC 4.1.3 20070929 (prerelease) (Ubuntu 4.1.2-16ubuntu2)]**
Operating System: **Linux-3.12.6-x86_64-with-glibc2.4**
Locale: unknown
Branch: **master**
Commit: SiCKRAGETV/SickRage@f8eedd203011de46f61e7725cacd33de2146439c
Link to Log: https://gist.github.com/cc5075da5287755942f2
### ERROR
[code]
---
_STAFF NOTIFIED_: @SiCKRAGETV/owne

[2015-09-07 19:00] duramato commented on #2568
@MGaetan89 that did not fixed it ,at least for me

[2015-09-07 19:06] MGaetan89 commented on #2568
Sorry, it was closed automatically when I updated my SickRage fork...

[2015-09-07 19:20] MGaetan89 commented on #2567
I started working on the coming episodes, but I am facing a difference between API and web UI and I don't know which one to use.
The API define the list of qualities as follow ([source](https://github.com/SiCKRAGETV/SickRage/blob/develop/sickbeard/webapi.py#L687)): `qualList = Quality.DOWNLOADED + Quality.SNATCHED + Quality.ARCHIVED + [IGNORED]`
While the web UI does it like that ([source](https:/

[2015-09-07 19:29] kvloover commented on #2662
If you need more information, just let me know.
All the above should be in the first and second post if i'm not mistaken.

It's a general theme with all multi-season anime, so it's a rather large pain in the but at the moment.

[2015-09-07 19:40] VinceVal commented on #2624
@fernandog What is the best way for me to test whether the code page is taking effect correctly?

[2015-09-07 19:47] fernandog commented on #2624
try adding a show with special chars. don't know another way

[2015-09-07 19:49] miigotu commented on #2567
@MGaetan89 Quality.ARCHIVED

We are in a transition to compound qualities for archived status.

[2015-09-07 19:57] miigotu commented on #2436
@AdeHub i dont knowb what you mean.

[2015-09-07 19:58] fernandog commented on #2436
@AdeHub if you don't want x265 HEVC (new codec) add it to ignore words in SR settings

[2015-09-07 19:59] miigotu commented on #2533
Now it looks like permissions. That's just a refresh queue.

[2015-09-07 20:00] fernandog commented on #2653
@miigotu Am I the only having this issue?

[2015-09-07 20:00] AdeHub commented on #2436
Sickrage is snatching that when I think it shouldn't, file size is only 64.15 MB

[2015-09-07 20:03] Kumolo commented on #2533
@miigotu Not sure I can follow. Permissions on what? Any suggestions?

[2015-09-07 20:04] fernandog commented on #2436
Yes. Size is half but quality is same as 128mb

[2015-09-07 20:06] miigotu commented on #2436
@AdeHub stop judging by file size. It is supposed to be snatched. Only worry about it if the file does not play correctly for you, in that case add HEVC,x265 to ignore words.

[2015-09-07 20:17] duramato commented on #2653
@fernandog I'm also having, I ve tryed submitting them but don't know which issue they are commented on

[2015-09-07 20:19] fernandog commented on #2653
https://github.com/SiCKRAGETV/sickrage-issues/issues/2339

[2015-09-07 20:20] duramato commented on #2653
But no traceback only this
[code]

[2015-09-07 20:27] MGaetan89 commented on #2567
Thanks. Switch to `Quality.ARCHIVED` then.

Link to History PR: https://github.com/SiCKRAGETV/SickRage/pull/2430 (History)